Repository Altinn/altinn-studio, changes with the labels that .github/labeler.yml gives for each.
All labels: solution/platform, solution/app-backend, solution/apps, solution/studio/designer, solution/studio/repos, area/api-expose, area/api-use, area/authorization, area/app-deploy, area/dashboard, area/pdf, area/process, area/ui-editor, area/test

.github/labeler.yml:

# Labels for solutions

solution/platform:
  - 'src/Altinn.Platform/**/*'

solution/app-backend:
  - 'src/Altinn.Apps/AppTemplates/**/*'
  - 'src/studio/AppTemplates/**/*'

solution/apps:
  - 'src/Altinn.Apps/KubernetesWrapper/**/*'

solution/studio/designer:
  - 'backend/**/*'

solution/studio/repos:
  - 'gitea/**/*'

# Labels for areas

area/api-expose:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/**/*'

area/api-use:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/**/*'

area/authorization:
  - 'src/Altinn.Common/Altinn.Common.AccessToken/**/*'
  - 'src/Altinn.Common/Altinn.Common.PEP/**/*'

area/app-deploy:
  - 'frontend/app-development/features/appPublish/**/*'
  - 'frontend/app-development/sharedResources/appDeployment/**/*'
  - 'backend/src/Designer/Controllers/DeploymentsController.cs'
  - 'src/Altinn.Apps/AppTemplates/AspNet/deployment/**/*'
  - 'src/studio/AppTemplates/AspNet/deployment/**/*'

area/dashboard:
  - 'frontend/dashboard/**/*'

area/pdf:
  - 'src/Altinn.Platform/Altinn.Platform.PDF/**/*'

area/process:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Process/**/*'
  - 'src/Altinn.Apps/AppTemplates/AspNet/App/config/process/**/*'

area/ui-editor:
  - 'frontend/packages/ux-editor/**/*'

area/test:
  - 'src/test/**/*'

stop iteration on fail for cleanup. (#9562)
  src/test/K6/use-cases.yaml
Labels: area/test

9487 altinn studio move cypress to frontend directory
  frontend/testing/cypress/package.json
  frontend/yarn.lock
Labels: none

9487 altinn studio move cypress to frontend directory
  frontend/testing/cypress/use-cases.yaml
Labels: none

removed continueOnError: true for all test tasks
  src/test/K6/use-cases.yaml
Labels: area/test

Use case test updates (#9564)
  src/test/K6/use-cases.yaml
Labels: area/test

updated prod use case contitions to match test
  src/test/K6/use-cases-prod.yaml
Labels: area/test

Add functionality to select the party you want to represent in LocalTest
  src/development/LocalTest/Controllers/HomeController.cs
  src/development/LocalTest/Models/StartAppModel.cs
  src/development/LocalTest/Views/Home/Index.cshtml
Labels: none

check for datamodel on open clone modal (#9559)
  frontend/packages/shared/src/version-control/CloneModal.tsx
Labels: none

Fix: get default language from text-editor package when initializing.
  frontend/app-development/features/textEditor/TextEditor.tsx
  frontend/packages/text-editor/index.ts
  frontend/packages/text-editor/src/TextEditor.tsx
Labels: none

Cache definitions (#101)
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  test/Altinn.App.Core.Tests/Internal/Process/TestUtils/ProcessTestUtils.cs
Labels: none

Fix: get default language from text-editor package when initializing. (#9558)
  frontend/app-development/features/textEditor/TextEditor.tsx
  frontend/packages/text-editor/index.ts
  frontend/packages/text-editor/src/TextEditor.tsx
Labels: none

updated prod use case contitions to match test (#9566)
  src/test/K6/use-cases-prod.yaml
Labels: area/test

chore/clean up legacy postman tests (#9535)
  src/test/Postman/.gitignore
  src/test/Postman/README.md
  src/test/Postman/altinn3.postman_environment.json
  src/test/Postman/collections/App.postman_collection.json
  src/test/Postman/collections/Local-Test.postman_collection.json
  src/test/Postman/collections/Negative_Tests_Storage_and_App.postman_collection.json
  src/test/Postman/collections/Organization.postman_collection.json
  src/test/Postman/collections/Platform.postman_collection.json
  src/test/Postman/collections/Storage.postman_collection.json
Labels: area/test

Localtest: Sort files in directoryBrowser by LastModified
  src/development/LocalTest/Helpers/SortedHtmlDirectoryFormatter.cs
  src/development/LocalTest/Startup.cs
Labels: none

feat: removing unused parsing code
  backend/src/Designer/Designer.csproj
  backend/src/Designer/Factories/ModelFactory/CsharpFromJsonExampleFactory.cs
  backend/src/Designer/Factories/ModelFactory/ICsharpFromJsonExampleFactory.cs
  backend/src/Designer/Factories/ModelFactory/IJsonToCsharpClassConfig.cs
  backend/src/Designer/Factories/ModelFactory/JsonToCsharpClass.cs
  backend/src/Designer/Factories/ModelFactory/ORXsdParser.cs
Labels: solution/studio/designer

extended k6 test for storage
  src/test/K6/src/tests/platform/storage/instances.js
Labels: area/test

extended k6 test for storage (#9574)
  src/test/K6/src/tests/platform/storage/instances.js
Labels: area/test

feat: removing unused parsing code (#9573)
  backend/src/Designer/Designer.csproj
  backend/src/Designer/Factories/ModelFactory/CsharpFromJsonExampleFactory.cs
  backend/src/Designer/Factories/ModelFactory/ICsharpFromJsonExampleFactory.cs
  backend/src/Designer/Factories/ModelFactory/IJsonToCsharpClassConfig.cs
  backend/src/Designer/Factories/ModelFactory/JsonToCsharpClass.cs
  backend/src/Designer/Factories/ModelFactory/ORXsdParser.cs
Labels: solution/studio/designer

bug/follow up on cypress fix
  development/setup.js
  frontend/package.json
  frontend/packages/text-editor/package.json
  frontend/testing/cypress/package.json
  frontend/testing/cypress/src/integration/usecase/usecase.js
  frontend/testing/cypress/src/support/studio.js
  frontend/yarn.lock
  src/test/cypress/cypress.env.json
Labels: area/test

bug/follow up on cypress fix
  src/test/cypress/cypress.env.json
Labels: area/test

PDF format API (#157)
  src/Altinn.App.Api/Controllers/PdfController.cs
Labels: none

bug/follow up on cypress fix (#9575)
  development/setup.js
  frontend/package.json
  frontend/packages/text-editor/package.json
  frontend/testing/cypress/package.json
  frontend/testing/cypress/src/integration/usecase/usecase.js
  frontend/testing/cypress/src/support/studio.js
  frontend/yarn.lock
Labels: none

renovate/gitea
  development/utils/wait-for.js
Labels: none

PDF should not override pageOrder (#159)
  src/Altinn.App.Api/Controllers/PdfController.cs
Labels: none

mapping on list component and added searchbar (#766)
  schemas/json/layout/layout.schema.v1.json
  src/components/hooks/index.ts
  src/features/form/data/formDataSlice.ts
  src/layout/Input/InputComponent.tsx
  src/layout/Input/types.d.ts
  src/layout/List/types.d.ts
  src/shared/resources/dataLists/fetchDataListsSaga.ts
Labels: none

fix bug causing page to crash
  frontend/packages/schema-editor/src/components/SchemaInspector.tsx
Labels: none

renovate/npm minor patch
  frontend/package.json
  frontend/yarn.lock
  renovate.json
Labels: none

feat/setup script now creates deploy teams
  development/setup.js
  development/utils/gitea-api.js
Labels: none

separate config for prod use case tests
  frontend/testing/cypress/use-cases-prod.yaml
Labels: none

Bug/9576 schema editor crash (#9577)
  frontend/packages/schema-editor/src/components/SchemaInspector.tsx
Labels: none

separate config for prod use case tests (#9581)
  frontend/testing/cypress/use-cases-prod.yaml
Labels: none

Localtest: Sort files in directoryBrowser by LastModified (#9572)
  src/Helpers/SortedHtmlDirectoryFormatter.cs
  src/Startup.cs
Labels: none

Localtest: Sort files in directoryBrowser by LastModified (#9572)
  src/development/LocalTest/Helpers/SortedHtmlDirectoryFormatter.cs
  src/development/LocalTest/Startup.cs
Labels: none

feat/setup script now creates deploy teams (#9578)
  development/setup.js
  development/utils/gitea-api.js
Labels: none

Update use-cases.yaml for Azure Pipelines
  src/test/cypress/use-cases.yaml
Labels: area/test

add files added directly in altinn-studio (#165)
  src/App/config/texts/resource.nb.json
  src/App/ui/Settings.json
  src/App/ui/layouts/receipt.json
Labels: none

Fixed FindDiff not going deep enough (#161)
  src/Altinn.App.Core/Helpers/JsonHelper.cs
Labels: none

Update use-cases.yaml for Azure Pipelines
  src/test/cypress/use-cases.yaml
Labels: area/test

work in progress with bugfixes
  .vscode/settings.json
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  src/development/LocalTest/appsettings.json
Labels: area/ui-editor

work in progress with bugfixes
  frontend/packages/ux-editor/src/features/appData/textResources/textResourcesSlice.ts
Labels: area/ui-editor
