Repository Altinn/altinn-studio, changes with the labels that .github/labeler.yml gives for each.
All labels: solution/platform, solution/app-backend, solution/apps, solution/studio/designer, solution/studio/repos, area/api-expose, area/api-use, area/authorization, area/app-deploy, area/dashboard, area/pdf, area/process, area/ui-editor, area/test

.github/labeler.yml:

# Labels for solutions

solution/platform:
  - 'src/Altinn.Platform/**/*'

solution/app-backend:
  - 'src/Altinn.Apps/AppTemplates/**/*'
  - 'src/studio/AppTemplates/**/*'

solution/apps:
  - 'src/Altinn.Apps/KubernetesWrapper/**/*'

solution/studio/designer:
  - 'backend/**/*'

solution/studio/repos:
  - 'gitea/**/*'

# Labels for areas

area/api-expose:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/**/*'

area/api-use:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/**/*'

area/authorization:
  - 'src/Altinn.Common/Altinn.Common.AccessToken/**/*'
  - 'src/Altinn.Common/Altinn.Common.PEP/**/*'

area/app-deploy:
  - 'frontend/app-development/features/appPublish/**/*'
  - 'frontend/app-development/sharedResources/appDeployment/**/*'
  - 'backend/src/Designer/Controllers/DeploymentsController.cs'
  - 'src/Altinn.Apps/AppTemplates/AspNet/deployment/**/*'
  - 'src/studio/AppTemplates/AspNet/deployment/**/*'

area/dashboard:
  - 'frontend/dashboard/**/*'

area/pdf:
  - 'src/Altinn.Platform/Altinn.Platform.PDF/**/*'

area/process:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Process/**/*'
  - 'src/Altinn.Apps/AppTemplates/AspNet/App/config/process/**/*'

area/ui-editor:
  - 'frontend/packages/ux-editor/**/*'

area/test:
  - 'src/test/**/*'

9249 remove jquery bootstrap and the old designsystem css
  Dockerfile
  README.md
Labels: none

9249 remove jquery bootstrap and the old designsystem css
  backend/src/Designer/Views/Home/Index.cshtml
  backend/src/Designer/Views/ServiceDevelopment/index.cshtml
  backend/src/Designer/Views/Shared/Error.cshtml
  backend/src/Designer/Views/Shared/_FormBuilderLayout.cshtml
  backend/src/Designer/Views/Shared/_Layout.cshtml
  backend/src/Designer/Views/Text/Index.cshtml
  frontend/app-development/App.css
  frontend/app-development/public/index.html
  frontend/dashboard/app/App.css
  frontend/dashboard/public/index.html
Labels: solution/studio/designer, area/dashboard

9249 remove jquery bootstrap and the old designsystem css
  backend/src/Designer/Views/Home/Index.cshtml
  backend/src/Designer/Views/Shared/_FormBuilderLayout.cshtml
  backend/src/Designer/Views/Shared/_Layout.cshtml
  frontend/dashboard/app/App.css
  frontend/yarn.lock
Labels: solution/studio/designer, area/dashboard

9249 remove jquery bootstrap and the old designsystem css
  backend/src/Designer/Views/Text/Index.cshtml
  backend/src/Designer/wwwroot/designer/js/jsonedit.js
Labels: solution/studio/designer

9249 remove jquery bootstrap and the old designsystem css
  Dockerfile
  backend/src/Designer/Configuration/ServiceRepositorySettings.cs
  backend/src/Designer/Views/Home/Index.cshtml
  backend/src/Designer/Views/Home/StartPage.cshtml
  backend/src/Designer/Views/Shared/_FormBuilderLayout.cshtml
  backend/src/Designer/Views/Shared/_Layout.cshtml
  backend/src/Designer/Views/Text/Index.cshtml
  backend/src/Designer/wwwroot/designer/js/jsoneditor.js
  backend/src/Designer/wwwroot/designer/manifest.json
  frontend/.dockerignore
  frontend/packages/shared/src/fallbackLanguage.ts
  frontend/packages/ux-editor/src/features/appData/language/languageSlice.ts
  frontend/yarn.lock
  src/development/LocalTest/Views/Shared/_Layout.cshtml
Labels: solution/studio/designer, area/ui-editor

9249 remove jquery bootstrap and the old designsystem css
  frontend/yarn.lock
Labels: none

9249 remove jquery bootstrap and the old designsystem css
  Dockerfile
Labels: none

9249 remove jquery bootstrap and the old designsystem css (#9591)
  src/Views/Shared/_Layout.cshtml
Labels: none

9249 remove jquery bootstrap and the old designsystem css (#9591)
  Dockerfile
  README.md
  backend/src/Designer/.dockerignore
  backend/src/Designer/.gitignore
  backend/src/Designer/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  backend/src/Designer/.yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  backend/src/Designer/.yarn/releases/yarn-3.3.1.cjs
  backend/src/Designer/.yarnrc.yml
  backend/src/Designer/Configuration/ServiceRepositorySettings.cs
  backend/src/Designer/Views/Home/StartPage.cshtml
  backend/src/Designer/Views/Model/Index.cshtml
  backend/src/Designer/Views/ServiceDevelopment/index.cshtml
  backend/src/Designer/Views/Shared/Error.cshtml
  backend/src/Designer/Views/Shared/_FormBuilderLayout.cshtml
  backend/src/Designer/Views/Shared/_Layout.cshtml
  backend/src/Designer/Views/Text/Index.cshtml
  backend/src/Designer/gulpfile.js
  backend/src/Designer/package.json
  backend/src/Designer/wwwroot/designer/js/jsoneditor.js
  backend/src/Designer/wwwroot/designer/manifest.json
  backend/src/Designer/yarn.lock
  frontend/.dockerignore
  frontend/app-development/App.css
  frontend/app-development/public/index.html
  frontend/dashboard/app/App.css
  frontend/dashboard/public/index.html
  frontend/packages/shared/src/fallbackLanguage.ts
  frontend/packages/ux-editor/src/features/appData/language/languageSlice.ts
  src/development/LocalTest/Views/Shared/_Layout.cshtml
Labels: solution/studio/designer, area/dashboard, area/ui-editor

remove remaining app-template file (#9595)
  src/studio/AppTemplates/AspNet/App/ui/Settings.json
Labels: solution/app-backend

Fetch PDF format from backend (#824)
  src/features/pdf/AutomaticPDFLayout.tsx
  src/features/pdf/PDFView.tsx
  src/features/pdf/index.d.ts
  src/utils/urls/appUrlHelper.ts
Labels: none

added test data for authorization local test
  src/development/TestData/authorization/resources/Appid_400.json
  src/development/TestData/authorization/resources/Appid_401.json
  src/development/TestData/authorization/resources/Appid_402.json
  src/development/TestData/authorization/resources/Appid_403.json
Labels: none

using trygetvalue instead of contains key in c# generation
  backend/src/Designer/Factories/ModelFactory/JsonMetadataParser.cs
Labels: solution/studio/designer

typed useTextResult
  frontend/packages/ux-editor/src/hooks/index.ts
  frontend/packages/ux-editor/src/hooks/useText.ts
Labels: area/ui-editor

bug/fixing dev loadbalancer config
  development/load-balancer/README.md
  development/load-balancer/nginx.conf.conf
Labels: none

Renamed type and use type instead of interface
  frontend/packages/ux-editor/src/hooks/index.ts
  frontend/packages/ux-editor/src/hooks/useText.ts
Labels: area/ui-editor

fixed noOptionMessage is not a function and move useText to where it is used
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.tsx
Labels: area/ui-editor

fixed noOptionMessage is not a function and move useText to where it is used
  frontend/packages/ux-editor/src/utils/render.tsx
Labels: area/ui-editor

reduce the git-diff
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.tsx
Labels: area/ui-editor

bug/fixing dev loadbalancer config
  development/README.md
  development/load-balancer/502Repo.html
  development/load-balancer/README.md
  development/load-balancer/nginx.conf.conf
  development/setup.js
  docker-compose.yml
  frontend/testing/cypress/README.md
Labels: none

bug/fixing gitea 1 18 breaking changes (#9592)
  gitea/README.md
  gitea/files/conf/app.ini
  gitea/files/templates/base/footer_content.tmpl
  gitea/files/templates/base/head_navbar.tmpl
Labels: solution/studio/repos

Clean ups and small refac + PR feedback to remove language
  frontend/packages/ux-editor/src/components/config/SelectDataModelComponent.tsx
  frontend/packages/ux-editor/src/containers/Container.tsx
  frontend/packages/ux-editor/src/utils/render.tsx
Labels: area/ui-editor

The studio crashes with a blank screen when no links to data model options are available (#9600)
  frontend/packages/ux-editor/src/components/config/SelectDataModelComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.tsx
  frontend/packages/ux-editor/src/containers/Container.tsx
  frontend/packages/ux-editor/src/hooks/index.ts
  frontend/packages/ux-editor/src/hooks/useText.ts
  frontend/packages/ux-editor/src/utils/render.tsx
Labels: area/ui-editor

Added code to fit with search used with table
  App/models/datalist.cs
  App/models/datalist.metadata.json
  App/models/datalist.schema.json
  App/options/ListCases.cs
  App/ui/datalist/layouts/formLayout.json
Labels: none

feat: value types as nullable in datamodeling (#9593)
  backend/src/Designer/Configuration/CSharpGenerationSettings.cs
  backend/src/Designer/Constants/CodeGeneration.cs
  backend/src/Designer/Controllers/DatamodelsController.cs
  backend/src/Designer/Controllers/ModelController.cs
  backend/src/Designer/Factories/ModelFactory/IModelMetadataParser.cs
  backend/src/Designer/Factories/ModelFactory/JsonMetadataParser.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/src/Designer/Services/Interfaces/IRepository.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/UpdateDatamodelTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/BaseClasses/CsharpModelConversionTestsBase.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/BaseClasses/CsharpModelOldConversionTestsBase.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/DataClasses/CSharpE2ERestrictionsTestData.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/JsonSchema2Metadata2CSharpTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/JsonSchemaToMetamodelConverterTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/XsdToCSharpTests.cs
  backend/tests/Designer.Tests/Services/SchemaModelServiceTests.cs
  backend/tests/Designer.Tests/Utils/TestDataHelper.cs
Labels: solution/studio/designer

List component: Using responsive/mobile table (#835)
  package.json
  schemas/json/layout/layout.schema.v1.json
  src/layout/List/ListComponent.test.tsx
  src/layout/List/ListComponent.tsx
  src/layout/List/types.d.ts
  test/e2e/integration/app-frontend/mobile.ts
  yarn.lock
Labels: none

Typesafe t('key')
  frontend/language/src/type.ts
  frontend/packages/shared/src/types/language.ts
  frontend/packages/ux-editor/src/hooks/useText.ts
Labels: area/ui-editor

removing unused metamodel models
  backend/src/DataModeling/DataModeling.csproj
  backend/src/Designer/ModelMetadataModels/CultureDictionary.cs
  backend/src/Designer/ModelMetadataModels/CultureString.cs
  backend/src/Designer/ModelMetadataModels/ElementMetadata.cs
  backend/src/Designer/ModelMetadataModels/Restriction.cs
  backend/src/Designer/ModelMetadataModels/XDocName.cs
Labels: solution/studio/designer

Bug/fixing dev loadbalancer config (#9601)
  development/README.md
  development/load-balancer/502Repo.html
  development/load-balancer/README.md
  development/load-balancer/nginx.conf.conf
  development/setup.js
  docker-compose.yml
  frontend/testing/cypress/README.md
Labels: none

Move metamodels in datamodeling project
  backend/src/DataModeling/DataModeling.csproj
  backend/src/DataModeling/Metamodel/BaseValueType.cs
  backend/src/DataModeling/Metamodel/ElementMetadata.cs
  backend/src/DataModeling/Metamodel/ElementType.cs
  backend/src/DataModeling/Metamodel/ModelMetadata.cs
  backend/src/DataModeling/Metamodel/Restriction.cs
  backend/src/DataModeling/Metamodel/TextCategoryType.cs
  backend/src/Designer/Designer.csproj
  backend/src/Designer/Extensions/XmlToLinqExtensions.cs
Labels: solution/studio/designer

namespace change for metamodel
  backend/src/DataModeling/Metamodel/BaseValueType.cs
  backend/src/DataModeling/Metamodel/ElementMetadata.cs
  backend/src/DataModeling/Metamodel/ElementType.cs
  backend/src/DataModeling/Metamodel/ModelMetadata.cs
  backend/src/DataModeling/Metamodel/Restriction.cs
  backend/src/DataModeling/Metamodel/TextCategoryType.cs
  backend/src/Designer/Controllers/DatamodelsController.cs
  backend/src/Designer/Controllers/ModelController.cs
  backend/src/Designer/Extensions/XmlToLinqExtensions.cs
  backend/src/Designer/Factories/ModelFactory/IModelMetadataParser.cs
  backend/src/Designer/Factories/ModelFactory/JsonMetadataParser.cs
  backend/src/Designer/Factories/ModelFactory/JsonSchemaToInstanceModelGenerator.cs
  backend/src/Designer/Factories/ModelFactory/JsonSchemaToMetamodelConverter.cs
  backend/src/Designer/Factories/ModelFactory/MetamodelRestrictionUtils.cs
  backend/src/Designer/Models/AltinnStudioViewModel.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/src/Designer/Services/Interfaces/IRepository.cs
  backend/tests/Designer.Tests/Assertions/MetadataAssertions.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/PutDatamodelTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/BaseClasses/CsharpModelConversionTestsBase.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/BaseClasses/CsharpModelOldConversionTestsBase.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/JsonSchema2Metadata2CSharpTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/JsonSchemaToInstanceModelGeneratorTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/JsonSchemaToMetamodelConverterTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/XsdToCSharpTests.cs
  backend/tests/Designer.Tests/Services/SchemaModelServiceTests.cs
Labels: solution/studio/designer

Metamodel converter moved
  backend/src/DataModeling/Converter/Metadata/JsonSchemaToMetamodelConverter.cs
  backend/src/DataModeling/Converter/Metadata/KeywordProcessedEventArgs.cs
  backend/src/DataModeling/Converter/Metadata/MetamodelRestrictionUtils.cs
  backend/src/DataModeling/Converter/Metadata/SubSchemaProcessedEventArgs.cs
  backend/src/DataModeling/DataModeling.csproj
  backend/src/Designer/Designer.csproj
Labels: solution/studio/designer

csharp generation moved
  backend/src/DataModeling/Converter/Csharp/CSharpGenerationSettings.cs
  backend/src/DataModeling/Converter/Csharp/IModelMetadataParser.cs
  backend/src/DataModeling/Converter/Csharp/JsonMetadataParser.cs
  backend/src/DataModeling/DataModeling.csproj
  backend/src/Designer/Extensions/ObjectExtensions.cs
  backend/src/Designer/Extensions/SerializableDictionary.cs
  backend/src/Designer/Extensions/XmlToLinqExtensions.cs
Labels: solution/studio/designer

Rename of c# generation class
  backend/src/DataModeling/Converter/Csharp/IModelMetadataToCsharpConverter.cs
  backend/src/DataModeling/Converter/Csharp/JsonMetadataToCsharpConverter.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/BaseClasses/CsharpModelConversionTestsBase.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/BaseClasses/CsharpModelOldConversionTestsBase.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/JsonSchema2Metadata2CSharpTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/JsonSchemaToMetamodelConverterTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/XsdToCSharpTests.cs
  backend/tests/Designer.Tests/Services/SchemaModelServiceTests.cs
  backend/tests/Designer.Tests/Utils/TestDataHelper.cs
Labels: solution/studio/designer

Changing namespace for Csharp generation
  backend/src/DataModeling/Converter/Csharp/CSharpGenerationSettings.cs
  backend/src/DataModeling/Converter/Csharp/IModelMetadataToCsharpConverter.cs
  backend/src/DataModeling/Converter/Csharp/JsonMetadataToCsharpConverter.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/BaseClasses/CsharpModelConversionTestsBase.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/BaseClasses/CsharpModelOldConversionTestsBase.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/JsonSchema2Metadata2CSharpTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/JsonSchemaToMetamodelConverterTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/XsdToCSharpTests.cs
  backend/tests/Designer.Tests/Utils/TestDataHelper.cs
Labels: solution/studio/designer

1501 help tooltip found in the ui editor has some design flaws
  frontend/packages/ux-editor/src/components/toolbar/InformationPanelComponent.module.css
  frontend/packages/ux-editor/src/components/toolbar/InformationPanelComponent.tsx
Labels: area/ui-editor

moved type file
  frontend/language/type.ts
  frontend/packages/shared/src/types/language.ts
Labels: none

Hide dropdown selector for app, when http only support 1 app (#9553)
  src/Controllers/HomeController.cs
  src/Models/StartAppModel.cs
  src/Views/Home/Index.cshtml
Labels: none

Hide dropdown selector for app, when http only support 1 app (#9553)
  src/development/LocalTest/Controllers/HomeController.cs
  src/development/LocalTest/Models/StartAppModel.cs
  src/development/LocalTest/Views/Home/Index.cshtml
Labels: none

Fix partyId for new TestData users (#9565)
  TestData/authorization/partylist/1001.json
  TestData/authorization/partylist/1002.json
  TestData/authorization/partylist/1003.json
Labels: none
