Repository Altinn/altinn-studio, changes with the labels that .github/labeler.yml gives for each.
All labels: solution/platform, solution/app-backend, solution/apps, solution/studio/designer, solution/studio/repos, area/app-deploy, area/dashboard, area/data-modeling, area/pdf, area/process, area/ui-editor, area/test, area/text-editor

.github/labeler.yml:

# Labels for solutions

solution/platform:
  - 'src/Altinn.Platform/**/*'

solution/app-backend:
  - 'src/Altinn.Apps/AppTemplates/**/*'
  - 'src/studio/AppTemplates/**/*'

solution/apps:
  - 'src/Altinn.Apps/KubernetesWrapper/**/*'

solution/studio/designer:
  - 'backend/**/*'
  - 'frontend/**/*'

solution/studio/repos:
  - 'gitea/**/*'

# Labels for areas

area/app-deploy:
  - 'frontend/app-development/features/appPublish/**/*'
  - 'frontend/app-development/sharedResources/appDeployment/**/*'
  - 'backend/src/Designer/Controllers/DeploymentsController.cs'
  - 'src/Altinn.Apps/AppTemplates/AspNet/deployment/**/*'
  - 'src/studio/AppTemplates/AspNet/deployment/**/*'

area/dashboard:
  - 'frontend/dashboard/**/*'

area/data-modeling:
  - 'frontend/packages/schema-editor/**/*'
  - 'frontend/packages/schema-model/**/*'
  - 'backend/src/DataModeling/**/*'

area/pdf:
  - 'src/Altinn.Platform/Altinn.Platform.PDF/**/*'

area/process:
  - 'src/Altinn.Apps/AppTemplates/ProcessTemplates/**/*'

area/ui-editor:
  - 'frontend/packages/ux-editor/**/*'

area/test:
  - 'src/test/**/*'

area/text-editor:
  - 'frontend/packages/text-editor/**'
  - 'frontend/app-development/features/textEditor/**/*'

Add validation on file scan status pending (#168)
  src/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.App.Core/Altinn.App.Core.csproj
  src/Altinn.App.Core/Features/Validation/ValidationAppSI.cs
  test/Altinn.App.Core.Tests/Features/Validators/ValidationAppSITests.cs
Labels: none

Update to version 3.15.0 of storage interface nuget
  src/development/LocalTest/LocalTest.csproj
Labels: none

Fix font size issues
  frontend/app-development/App.css
  frontend/app-development/layout/AppBar/AppBar.module.css
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/shared/package.json
  frontend/packages/shared/src/navigation/drawer/LeftDrawerMenu.module.css
  frontend/packages/shared/src/navigation/main-header/Header.tsx
  frontend/packages/text-editor/package.json
  frontend/packages/ux-editor/src/containers/FormDesigner.module.css
  frontend/yarn.lock
Labels: solution/studio/designer, area/dashboard, area/data-modeling, area/ui-editor, area/text-editor

Remove old design system dependency and import css directly (#855)
  package.json
  src/index.css
  src/styles/tjenester3.css
  yarn.lock
Labels: none

Fix font size issues (#9661)
  frontend/app-development/App.css
  frontend/app-development/layout/AppBar/AppBar.module.css
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/shared/package.json
  frontend/packages/shared/src/navigation/drawer/LeftDrawerMenu.module.css
  frontend/packages/shared/src/navigation/main-header/Header.tsx
  frontend/packages/text-editor/package.json
  frontend/packages/ux-editor/src/containers/FormDesigner.module.css
  frontend/yarn.lock
Labels: solution/studio/designer, area/dashboard, area/data-modeling, area/ui-editor, area/text-editor

Feat/api to mutate text keys and impl in frontend (#9636)
  backend/src/Designer/Controllers/TextController.cs
  backend/src/Designer/Models/TextResource.cs
  frontend/app-development/features/textEditor/TextEditor.tsx
  frontend/app-development/services/textsApi.ts
  frontend/packages/schema-editor/src/types/index.ts
  frontend/packages/shared/src/api-paths.js
  frontend/packages/text-editor/src/TextEditor.test.tsx
  frontend/packages/text-editor/src/TextEditor.tsx
  frontend/packages/text-editor/src/TextRow.tsx
Labels: solution/studio/designer, area/data-modeling, area/text-editor

fixed encoding on file that failed test
  testdata/Model/JsonSchema/General/NonXsdContextSchema.json
Labels: none

fixed encoding on file that failed test (#9669)
  testdata/Model/JsonSchema/General/NonXsdContextSchema.json
Labels: none

AltinnSpinner should accessibile and validation errors onBlur should be informative (#864)
  src/components/AltinnSpinner.test.tsx
  src/components/AltinnSpinner.tsx
  src/language/texts/nb.ts
  src/language/texts/nn.ts
Labels: none

WCAG: Likert component fixes (#857)
  src/layout/Likert/LikertComponent.tsx
  src/layout/Likert/RepeatingGroupsLikertContainer.tsx
Labels: none

WCAG: Focus states (#860)
  src/components/atoms/AltinnAttachment.tsx
  src/components/organisms/AltinnAppHeaderMenu.tsx
  src/components/presentation/CloseButton.tsx
  src/components/presentation/NavBar.tsx
  src/features/form/containers/RepeatingGroupsEditContainer.tsx
  src/index.css
  src/layout/NavigationBar/NavigationBarComponent.tsx
Labels: none

Added partylist endpoint for localtest
  src/development/LocalTest/Controllers/Register/PartiesController.cs
  src/development/LocalTest/Services/Register/Implementation/PartiesWrapper.cs
  src/development/LocalTest/Services/Register/Interface/IParties.cs
  src/development/TestData/authorization/resources/Appid_123.json
  src/development/TestData/authorization/resources/Appid_400.json
  src/development/TestData/authorization/resources/Appid_401.json
  src/development/TestData/authorization/resources/Appid_402.json
  src/development/TestData/authorization/resources/Appid_403.json
  src/development/TestData/authorization/resources/Appid_43.json
Labels: none

removing skip from tests
  backend/tests/DataModeling.Tests/JsonSchemaToMetamodelConverterTests.cs
Labels: solution/studio/designer

removing .metadata from tests files
  backend/tests/DataModeling.Tests/JsonSchemaToMetamodelConverterTests.cs
  testdata/Model/Metadata/HvemErHvem.json
  testdata/Model/Metadata/RA-0678_M.json
  testdata/Model/Metadata/SchemaWithTargetNamespace.json
  testdata/Model/Metadata/SeresBasicSchema.json
  testdata/Model/Metadata/SeresBasicSchemaWithTargetNamespace.json
  testdata/Model/Metadata/SimpleStringArray.json
  testdata/Model/Metadata/restriction-total-digits.json
  testdata/Model/Metadata/schema_4582_2000_forms_5244_42360.json
  testdata/Model/Metadata/schema_4741_4280_forms_5273_41269.json
  testdata/Model/Metadata/schema_4830_4000_forms_5524_41951.json
  testdata/Model/Metadata/schema_5064_1_forms_5793_42882.json
  testdata/Model/Metadata/schema_5222_2_forms_5909_43507.json
  testdata/Model/Metadata/schema_5259_1_forms_9999_50000.json
Labels: solution/studio/designer

Bump spring-boot-starter-parent
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, area/pdf

Bump spring-boot-starter-parent (#9674)
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, area/pdf

.metamodel.json -> .json extension
  backend/tests/DataModeling.Tests/JsonMetadataParserTests.cs
Labels: solution/studio/designer

removing skip from tests (#9673)
  backend/tests/DataModeling.Tests/JsonMetadataParserTests.cs
  backend/tests/DataModeling.Tests/JsonSchemaToMetamodelConverterTests.cs
  testdata/Model/Metadata/HvemErHvem.json
  testdata/Model/Metadata/RA-0678_M.json
  testdata/Model/Metadata/SchemaWithTargetNamespace.json
  testdata/Model/Metadata/SeresBasicSchema.json
  testdata/Model/Metadata/SeresBasicSchemaWithTargetNamespace.json
  testdata/Model/Metadata/SimpleStringArray.json
  testdata/Model/Metadata/restriction-total-digits.json
  testdata/Model/Metadata/schema_4582_2000_forms_5244_42360.json
  testdata/Model/Metadata/schema_4741_4280_forms_5273_41269.json
  testdata/Model/Metadata/schema_4830_4000_forms_5524_41951.json
  testdata/Model/Metadata/schema_5064_1_forms_5793_42882.json
  testdata/Model/Metadata/schema_5222_2_forms_5909_43507.json
  testdata/Model/Metadata/schema_5259_1_forms_9999_50000.json
Labels: solution/studio/designer

WCAG: Input purpose/autocomplete property (#866)
  .prettierignore
  schemas/json/layout/layout.schema.v1.json
  src/layout/Address/AddressComponent.tsx
  src/layout/Input/InputComponent.tsx
  src/layout/Input/types.d.ts
  src/layout/TextArea/TextAreaComponent.tsx
  src/layout/TextArea/types.d.ts
  src/types/shared.ts
Labels: none

fix: Added descripton to root output if it is defined
  frontend/packages/schema-model/src/lib/build-json-schema.ts
Labels: solution/studio/designer, area/data-modeling

tests
  frontend/packages/schema-model/src/lib/build-json-schema.ts
  frontend/packages/schema-model/src/lib/build-utils.test.ts
  frontend/packages/schema-model/src/lib/build-utils.ts
Labels: solution/studio/designer, area/data-modeling

Add marital status as valid code list
  src/Altinn.Codelists/Altinn.Codelists.csproj
  src/Altinn.Codelists/SSB/ClassificationCodelistProvider.cs
  src/Altinn.Codelists/SSB/Clients/ClassificationCode.cs
  src/Altinn.Codelists/SSB/Clients/ClassificationCodes.cs
  src/Altinn.Codelists/SSB/Clients/ClassificationsHttpClient.cs
  src/Altinn.Codelists/SSB/IClassificationsClient.cs
  src/Altinn.Codelists/SSB/MaritalStatusCodelistProvider.cs
  src/Altinn.Codelists/SSB/ssb.http
  test/Altinn.Codelists.Tests/Altinn.Codelists.Tests.csproj
  test/Altinn.Codelists.Tests/SSB/Clients/ClassificationsHttpClientTests.cs
  test/Altinn.Codelists.Tests/SSB/MaritalStatusCodelistProviderTests.cs
  test/Altinn.Codelists.Tests/SSB/Mocks/ClassificationsHttpClientMock.cs
Labels: none

Register services required for marital status
  src/Altinn.Codelists/Kartverket/AdministrativeUnits/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.Codelists/SSB/Extensions/ServiceCollectionExtensions.cs
  test/Altinn.Codelists.Tests/Kartverket/AdministrativeUnits/Clients/AdministrativeUnitsClientTests.cs
  test/Altinn.Codelists.Tests/SSB/Clients/ClassificationsHttpClientTests.cs
Labels: none

Remember selected user in Localtest cookie
  src/development/LocalTest/Controllers/HomeController.cs
Labels: none

Update Altinn's design system
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/shared/package.json
  frontend/packages/text-editor/package.json
  frontend/yarn.lock
Labels: solution/studio/designer, area/dashboard, area/data-modeling, area/text-editor

Localtest: Use CDN orgs in register api.
  src/development/LocalTest/Services/Register/Implementation/OrganizationsWrapper.cs
Labels: none

Get cdn orgs url from config.
  src/development/LocalTest/Clients/CdnAltinnOrgs/AltinnOrgsClient.cs
Labels: none

Update password in appsettings to match postgres init config
  backend/src/Designer/appsettings.json
Labels: solution/studio/designer

Update altinn-design-system dep (#873)
  package.json
  yarn.lock
Labels: none

Update password in appsettings to match postgres init config (#9687)
  backend/src/Designer/appsettings.json
Labels: solution/studio/designer

Update to version 3.15.0 of storage interface nuget (#9660)
  src/development/LocalTest/LocalTest.csproj
Labels: none

Update to version 3.15.0 of storage interface nuget (#9660)
  src/LocalTest.csproj
Labels: none

Document the user used for instantiation in localtest prefill
  src/development/LocalTest/Views/Home/Index.cshtml
Labels: none

Document the user used for instantiation in localtest prefill (#9688)
  src/development/LocalTest/Views/Home/Index.cshtml
Labels: none

Document the user used for instantiation in localtest prefill (#9688)
  src/Views/Home/Index.cshtml
Labels: none

Added partylist endpoint for localtest (#9671)
  TestData/authorization/resources/Appid_123.json
  TestData/authorization/resources/Appid_400.json
  TestData/authorization/resources/Appid_401.json
  TestData/authorization/resources/Appid_402.json
  TestData/authorization/resources/Appid_403.json
  TestData/authorization/resources/Appid_43.json
  src/Controllers/Register/PartiesController.cs
  src/Services/Register/Implementation/PartiesWrapper.cs
  src/Services/Register/Interface/IParties.cs
Labels: none

Added partylist endpoint for localtest (#9671)
  src/development/LocalTest/Controllers/Register/PartiesController.cs
  src/development/LocalTest/Services/Register/Implementation/PartiesWrapper.cs
  src/development/LocalTest/Services/Register/Interface/IParties.cs
  src/development/TestData/authorization/resources/Appid_123.json
  src/development/TestData/authorization/resources/Appid_400.json
  src/development/TestData/authorization/resources/Appid_401.json
  src/development/TestData/authorization/resources/Appid_402.json
  src/development/TestData/authorization/resources/Appid_403.json
  src/development/TestData/authorization/resources/Appid_43.json
Labels: none

Update Altinn's design system (#9685)
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/shared/package.json
  frontend/packages/text-editor/package.json
  frontend/yarn.lock
Labels: solution/studio/designer, area/dashboard, area/data-modeling, area/text-editor

bug/datamodelling support desc on root
  frontend/packages/schema-model/src/lib/build-json-schema.ts
  testdata/Model/JsonSchema/General/NonXsdContextSchema.json
Labels: solution/studio/designer, area/data-modeling

Should handle label and value as two seperate values
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.tsx
Labels: solution/studio/designer, area/ui-editor
