Repository Altinn/altinn-studio, changes with the labels that .github/labeler.yml gives for each.
All labels: solution/platform, solution/app-backend, solution/apps, solution/studio/designer, solution/studio/repos, area/api-expose, area/api-use, area/authorization, area/app-deploy, area/dashboard, area/pdf, area/process, area/ui-editor, area/test

PR-feedback, remvoe whitespace before and after each element
  frontend/packages/ux-editor/src/utils/stringUtils/stringUtils.ts
Labels: area/ui-editor

Fix casing on test data folder /authroization/partylist (#9547)
  src/development/LocalTest/Services/TestData/TestDataDiskReader.cs
Labels: none

Fix casing on test data folder /authroization/partylist (#9547)
  src/Services/TestData/TestDataDiskReader.cs
Labels: none

Add preview mode for checkboxes (#9551)
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/utils/arrayUtils.test.ts
  frontend/packages/shared/src/utils/arrayUtils.ts
  frontend/packages/ux-editor/src/components/DragHandle.module.css
  frontend/packages/ux-editor/src/components/TextResource.module.css
  frontend/packages/ux-editor/src/components/TextResource.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.module.css
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/index.ts
  frontend/packages/ux-editor/src/containers/ComponentPreview/ComponentPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/ComponentPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/index.ts
  frontend/packages/ux-editor/src/containers/EditContainer.module.css
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.module.css
Labels: area/ui-editor

chore: init editor config
  backend/.editorconfig
Labels: solution/studio/designer

Chore/prepare cypress setup (#9532)
  README.md
  development/README.md
  development/db/data.sql
  development/db/init.sql
  development/load-balancer/502Repo.html
  development/load-balancer/nginx.conf.conf
  development/setup.js
  development/utils/ensure-dot-env.js
  development/utils/gitea-api.js
  development/utils/run-command.js
  development/utils/wait-for.js
  docker-compose.yml
  frontend/.gitignore
  frontend/dashboard/features/createService/CreateService.test.tsx
  frontend/dashboard/features/createService/ServiceOwnerSelector.tsx
  frontend/packages/shared/src/components/AltinnDropdown.module.css
  frontend/packages/shared/src/components/AltinnDropdown.test.tsx
  frontend/packages/shared/src/components/AltinnDropdown.tsx
  frontend/stats.js
  src/test/cypress/README.md
  src/test/cypress/e2e/config/local.json
  src/test/cypress/e2e/integration/usecase/usecase.js
  src/test/cypress/e2e/pageobjects/dashboard.js
  src/test/cypress/e2e/support/gitea-api.js
  src/test/cypress/e2e/support/studio.js
  src/test/cypress/package.json
Labels: area/dashboard, area/test

Feat/8480 map component should be available to studio (#9546)
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/TextFieldWithValidation/TextFieldWithValidation.module.css
  frontend/packages/ux-editor/src/components/TextFieldWithValidation/TextFieldWithValidation.test.tsx
  frontend/packages/ux-editor/src/components/TextFieldWithValidation/TextFieldWithValidation.tsx
  frontend/packages/ux-editor/src/components/TextFieldWithValidation/index.ts
  frontend/packages/ux-editor/src/components/config/componentConfig.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.module.css
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/index.ts
  frontend/packages/ux-editor/src/components/index.ts
  frontend/packages/ux-editor/src/hooks/useValidation/index.ts
  frontend/packages/ux-editor/src/hooks/useValidation/useValidation.test.ts
  frontend/packages/ux-editor/src/hooks/useValidation/useValidation.ts
  frontend/packages/ux-editor/src/types/global.ts
  frontend/packages/ux-editor/src/utils/language.ts
  frontend/packages/ux-editor/src/utils/stringUtils/index.ts
  frontend/packages/ux-editor/src/utils/stringUtils/stringUtils.test.ts
  frontend/packages/ux-editor/src/utils/stringUtils/stringUtils.ts
  frontend/packages/ux-editor/src/utils/validationUtils/index.ts
  frontend/packages/ux-editor/src/utils/validationUtils/validationUtils.test.ts
  frontend/packages/ux-editor/src/utils/validationUtils/validationUtils.ts
Labels: area/ui-editor

chore: tuning editorconfig for tests
  backend/.editorconfig
Labels: solution/studio/designer

chore: code style warning change
  backend/tests/Designer.Tests/Controllers/TextKeysControllerTests.cs
Labels: solution/studio/designer

Check formatting in pipelines
  .github/workflows/designer-dotnet-test.yaml
Labels: none

fix: removing unused folder
  backend/tests/DataModeling.Tests/DataModeling.Tests.csproj
Labels: solution/studio/designer

referencing editor config in ide
  backend/.editorconfig
  backend/Designer.sln
Labels: solution/studio/designer

refactor: removing braces in .editorconfig
  backend/.editorconfig
Labels: solution/studio/designer

Hide dropdown selector for app, when http only support 1 app
  src/development/LocalTest/Controllers/HomeController.cs
  src/development/LocalTest/Models/StartAppModel.cs
  src/development/LocalTest/Views/Home/Index.cshtml
Labels: none

Added the missing map-component to layout.schema.v1.json (#821)
  schemas/json/layout/layout.schema.v1.json
Labels: none

Fix compilation warnings in Localtest
  src/development/LocalTest/Models/ResourceRegistry/CompetentAuthority.cs
  src/development/LocalTest/Models/ResourceRegistry/Keyword.cs
  src/development/LocalTest/Models/ResourceRegistry/ResourceReference.cs
  src/development/LocalTest/Models/ResourceRegistry/ResourceSearch.cs
  src/development/LocalTest/Models/ResourceRegistry/ServiceResource.cs
  src/development/LocalTest/Services/ResourceRegistry/PolicyRepositoryMock.cs
  src/development/LocalTest/Services/ResourceRegistry/RegisterResourceRepositoryMock.cs
  src/development/LocalTest/Services/ResourceRegistry/ResourceRegistryService.cs
Labels: none

bug/gitignore needs to be updated
  .gitignore
Labels: none

comments fix
  backend/src/Designer/Factories/ModelFactory/ORXsdParser.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/JsonSchema2Metadata2CSharpTests.cs
Labels: solution/studio/designer

bug/gitignore needs to be updated
  backend/src/Designer/gulpfile.js
  backend/src/Designer/prettier.config.js
  prettier.config.js
Labels: solution/studio/designer

fix pipeline
  .github/workflows/designer-dotnet-test.yaml
Labels: none

pipeline fix
  .github/workflows/designer-dotnet-test.yaml
Labels: none

bug/gitignore needs to be updated
  .gitignore
Labels: none

check for datamodel on open clone modal
  frontend/packages/shared/src/version-control/CloneModal.tsx
Labels: none

Easier preview for pdf development (#827)
  src/features/pdf/PDFView.tsx
  src/index.css
  src/shared/containers/ProcessWrapper.module.css
  src/shared/containers/ProcessWrapper.tsx
Labels: none

chore: removing stylecop and analyzers references
  backend/packagegroups/NuGet.props
  backend/src/Designer/Designer.csproj
Labels: solution/studio/designer

Bug/gitignore needs to be updated (#9555)
  .gitignore
  backend/src/Designer/gulpfile.js
  backend/src/Designer/prettier.config.js
  prettier.config.js
Labels: solution/studio/designer

9530 altinn studio deploy font sizes and layout adjustments
  frontend/app-development/App.tsx
  frontend/app-development/config/routes.tsx
  frontend/app-development/features/appPublish/components/appDeploymentComponent.module.css
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
  frontend/app-development/features/appPublish/components/appReleaseComponent.module.css
  frontend/app-development/features/appPublish/components/appReleaseComponent.tsx
  frontend/app-development/features/appPublish/components/createAppReleaseComponent.module.css
  frontend/app-development/features/appPublish/components/createAppReleaseComponent.tsx
  frontend/app-development/features/appPublish/containers/deployContainer.tsx
  frontend/app-development/features/appPublish/containers/releaseContainer.module.css
  frontend/app-development/features/appPublish/containers/releaseContainer.tsx
  frontend/app-development/features/appPublish/pages/InfoCard.tsx
  frontend/app-development/features/appPublish/pages/deployPage.module.css
  frontend/app-development/features/appPublish/pages/deployPage.tsx
  frontend/dashboard/common/components/MakeCopyModal.tsx
  frontend/packages/shared/src/components/ErrorPopover.tsx
  frontend/packages/shared/src/components/molecules/AltinnContentLoader.tsx
  frontend/packages/shared/src/components/molecules/AltinnPopoverSimple.tsx
  frontend/packages/shared/src/pure/date-format.test.ts
  frontend/packages/shared/src/pure/date-format.ts
  frontend/testing/mockend/README.md
  frontend/testing/mockend/src/fixtures/Deployments.json
  frontend/testing/mockend/src/fixtures/permissions.json
  frontend/testing/mockend/src/fixtures/releases.json
  frontend/testing/mockend/src/fixtures/status.json
  frontend/testing/mockend/src/index.js
  frontend/testing/mockend/src/routes/create-deployment.js
  frontend/testing/mockend/src/utils.js
Labels: area/app-deploy, area/dashboard

9530 altinn studio deploy font sizes and layout adjustments
  frontend/testing/mockend/src/routes/get-branch.js
Labels: none

9530 altinn studio deploy font sizes and layout adjustments
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
Labels: area/app-deploy

9530 altinn studio deploy font sizes and layout adjustments
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
  frontend/app-development/features/appPublish/components/appReleaseComponent.module.css
  frontend/app-development/features/appPublish/components/appReleaseComponent.tsx
  frontend/app-development/features/appPublish/containers/releaseContainer.module.css
  frontend/app-development/features/appPublish/containers/releaseContainer.tsx
  frontend/packages/shared/src/pure/date-format.test.ts
  frontend/packages/shared/src/pure/date-format.ts
  frontend/packages/shared/src/utils/formatDate.ts
  frontend/testing/mockend/src/fixtures/branches.json
  frontend/testing/mockend/src/index.js
  frontend/testing/mockend/src/routes/create-release.js
  frontend/testing/mockend/src/routes/get-branch.js
Labels: area/app-deploy

9530 altinn studio deploy font sizes and layout adjustments
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
  frontend/app-development/features/appPublish/pages/InfoCard.tsx
  frontend/packages/ux-editor/src/hooks/useText.ts
Labels: area/app-deploy, area/ui-editor

9530 altinn studio deploy font sizes and layout adjustments
  frontend/packages/shared/src/pure/date-format.test.ts
  frontend/packages/shared/src/pure/date-format.ts
  frontend/testing/mockend/README.md
  frontend/testing/mockend/src/fixtures/branches.json
Labels: none

9530 altinn studio deploy font sizes and layout adjustments
  frontend/testing/mockend/src/routes/create-release.js
Labels: none

9530 altinn studio deploy font sizes and layout adjustments
  frontend/packages/shared/src/features/dataModelling/components/CreateNewWrapper.tsx
Labels: none

9530 altinn studio deploy font sizes and layout adjustments
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
Labels: area/app-deploy

9530 altinn studio deploy font sizes and layout adjustments (#9557)
  frontend/app-development/App.tsx
  frontend/app-development/config/routes.tsx
  frontend/app-development/features/appPublish/components/appDeploymentComponent.module.css
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
  frontend/app-development/features/appPublish/components/appReleaseComponent.module.css
  frontend/app-development/features/appPublish/components/appReleaseComponent.tsx
  frontend/app-development/features/appPublish/components/createAppReleaseComponent.module.css
  frontend/app-development/features/appPublish/components/createAppReleaseComponent.tsx
  frontend/app-development/features/appPublish/containers/deployContainer.tsx
  frontend/app-development/features/appPublish/containers/releaseContainer.module.css
  frontend/app-development/features/appPublish/containers/releaseContainer.tsx
  frontend/app-development/features/appPublish/pages/InfoCard.tsx
  frontend/app-development/features/appPublish/pages/deployPage.module.css
  frontend/app-development/features/appPublish/pages/deployPage.tsx
  frontend/dashboard/common/components/MakeCopyModal.tsx
  frontend/packages/shared/src/components/ErrorPopover.tsx
  frontend/packages/shared/src/components/molecules/AltinnContentLoader.tsx
  frontend/packages/shared/src/components/molecules/AltinnPopoverSimple.tsx
  frontend/packages/shared/src/features/dataModelling/components/CreateNewWrapper.tsx
  frontend/packages/shared/src/pure/date-format.test.ts
  frontend/packages/shared/src/pure/date-format.ts
  frontend/packages/shared/src/utils/formatDate.ts
  frontend/packages/ux-editor/src/hooks/useText.ts
  frontend/testing/mockend/README.md
  frontend/testing/mockend/src/fixtures/Deployments.json
  frontend/testing/mockend/src/fixtures/permissions.json
  frontend/testing/mockend/src/fixtures/releases.json
  frontend/testing/mockend/src/fixtures/status.json
  frontend/testing/mockend/src/index.js
  frontend/testing/mockend/src/routes/create-deployment.js
  frontend/testing/mockend/src/routes/create-release.js
  frontend/testing/mockend/src/routes/get-branch.js
  frontend/testing/mockend/src/utils.js
Labels: area/app-deploy, area/dashboard, area/ui-editor

stop iteration on fail for cleanup.
  src/test/K6/src/tests/app/appowner/complete-instances.js
  src/test/K6/src/tests/platform/storage/deleteinstances.js
  src/test/K6/use-cases.yaml
Labels: area/test

Updates to use case pipeline (#9561)
  src/test/K6/src/tests/app/appowner/complete-instances.js
  src/test/K6/src/tests/platform/storage/deleteinstances.js
  src/test/K6/use-cases.yaml
Labels: area/test

Fix partyId for new TestData users
  src/development/TestData/authorization/partylist/1001.json
  src/development/TestData/authorization/partylist/1002.json
  src/development/TestData/authorization/partylist/1003.json
Labels: none

failOnStderr instead
  src/test/K6/use-cases.yaml
Labels: area/test

.github/labeler.yml:

# Labels for solutions

solution/platform:
  - 'src/Altinn.Platform/**/*'

solution/app-backend:
  - 'src/Altinn.Apps/AppTemplates/**/*'
  - 'src/studio/AppTemplates/**/*'

solution/apps:
  - 'src/Altinn.Apps/KubernetesWrapper/**/*'

solution/studio/designer:
  - 'backend/**/*'

solution/studio/repos:
  - 'gitea/**/*'

# Labels for areas

area/api-expose:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/**/*'

area/api-use:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/**/*'

area/authorization:
  - 'src/Altinn.Common/Altinn.Common.AccessToken/**/*'
  - 'src/Altinn.Common/Altinn.Common.PEP/**/*'

area/app-deploy:
  - 'frontend/app-development/features/appPublish/**/*'
  - 'frontend/app-development/sharedResources/appDeployment/**/*'
  - 'backend/src/Designer/Controllers/DeploymentsController.cs'
  - 'src/Altinn.Apps/AppTemplates/AspNet/deployment/**/*'
  - 'src/studio/AppTemplates/AspNet/deployment/**/*'

area/dashboard:
  - 'frontend/dashboard/**/*'

area/pdf:
  - 'src/Altinn.Platform/Altinn.Platform.PDF/**/*'

area/process:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Process/**/*'
  - 'src/Altinn.Apps/AppTemplates/AspNet/App/config/process/**/*'

area/ui-editor:
  - 'frontend/packages/ux-editor/**/*'

area/test:
  - 'src/test/**/*'
