Repository Altinn/altinn-studio, changes with the labels that .github/labeler.yml gives for each.
All labels: solution/platform, solution/app-backend, solution/apps, solution/studio/designer, solution/studio/repos, area/app-deploy, area/dashboard, area/data-modeling, area/pdf, area/process, area/ui-editor, area/test, area/text-editor

.github/labeler.yml:

# Labels for solutions

solution/platform:
  - 'src/Altinn.Platform/**/*'

solution/app-backend:
  - 'src/Altinn.Apps/AppTemplates/**/*'
  - 'src/studio/AppTemplates/**/*'

solution/apps:
  - 'src/Altinn.Apps/KubernetesWrapper/**/*'

solution/studio/designer:
  - 'backend/**/*'
  - 'frontend/**/*'

solution/studio/repos:
  - 'gitea/**/*'

# Labels for areas

area/app-deploy:
  - 'frontend/app-development/features/appPublish/**/*'
  - 'frontend/app-development/sharedResources/appDeployment/**/*'
  - 'backend/src/Designer/Controllers/DeploymentsController.cs'
  - 'src/Altinn.Apps/AppTemplates/AspNet/deployment/**/*'
  - 'src/studio/AppTemplates/AspNet/deployment/**/*'

area/dashboard:
  - 'frontend/dashboard/**/*'

area/data-modeling:
  - 'frontend/packages/schema-editor/**/*'
  - 'frontend/packages/schema-model/**/*'
  - 'backend/src/DataModeling/**/*'

area/pdf:
  - 'src/Altinn.Platform/Altinn.Platform.PDF/**/*'

area/process:
  - 'src/Altinn.Apps/AppTemplates/ProcessTemplates/**/*'

area/ui-editor:
  - 'frontend/packages/ux-editor/**/*'

area/test:
  - 'src/test/**/*'

area/text-editor:
  - 'frontend/packages/text-editor/**'
  - 'frontend/app-development/features/textEditor/**/*'

fix address autocomplete
  src/layout/Address/AddressComponent.tsx
Labels: none

bug/datamodelling support desc on root (#9689)
  frontend/packages/schema-model/src/lib/build-json-schema.ts
  testdata/Model/JsonSchema/General/NonXsdContextSchema.json
Labels: solution/studio/designer, area/data-modeling

Should handle label and value as two seperate values (#9690)
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.tsx
Labels: solution/studio/designer, area/ui-editor

renovate/gitea
  gitea/README.md
Labels: solution/studio/repos

Avoid using Throw to simplify the code
  frontend/packages/schema-model/src/lib/selectors.test.ts
  frontend/packages/schema-model/src/lib/selectors.ts
Labels: solution/studio/designer, area/data-modeling

adjust changes due changes to selectors.ts and small refactoring
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.test.ts
Labels: solution/studio/designer, area/data-modeling

Removed message 'This area is under development'
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/components/SchemaInspector.tsx
Labels: solution/studio/designer, area/data-modeling

make sure to not render 0 when there is no fields. Fixed by converting number to boolean
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
Labels: solution/studio/designer, area/data-modeling

Should show no data model message when no shcema is defined
  frontend/packages/shared/src/features/dataModelling/DataModelling.test.tsx
  frontend/packages/shared/src/features/dataModelling/DataModelling.tsx
Labels: solution/studio/designer

changes to simplify the code
  frontend/packages/shared/src/features/dataModelling/DataModelling.test.tsx
  frontend/packages/shared/src/features/dataModelling/DataModelling.tsx
  frontend/packages/shared/src/features/dataModelling/components/LandingPagePanel.tsx
Labels: solution/studio/designer

removed unused variable
  frontend/packages/shared/src/features/dataModelling/DataModelling.test.tsx
Labels: solution/studio/designer

revert formating changes
  frontend/packages/shared/src/features/dataModelling/DataModelling.test.tsx
Labels: solution/studio/designer

revert formating changes
  frontend/packages/shared/src/features/dataModelling/DataModelling.test.tsx
Labels: solution/studio/designer

revert formating changes
  frontend/packages/shared/src/features/dataModelling/DataModelling.test.tsx
Labels: solution/studio/designer

removed duplicated test
  frontend/packages/shared/src/features/dataModelling/DataModelling.test.tsx
Labels: solution/studio/designer

Needed to revert use of useText because hooks is not allowed within class-components
  frontend/packages/ux-editor/src/components/config/SelectDataModelComponent.tsx
  frontend/packages/ux-editor/src/containers/Container.tsx
  frontend/packages/ux-editor/src/utils/render.tsx
Labels: solution/studio/designer, area/ui-editor

Schema editor crashes when deleting a node and then selecting a new node (#9735)
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.test.ts
  frontend/packages/schema-model/src/lib/selectors.test.ts
  frontend/packages/schema-model/src/lib/selectors.ts
Labels: solution/studio/designer, area/data-modeling

Bug/7312 consistent datamodel field name (#9645)
  frontend/packages/ux-editor/src/components/config/SelectDataModelComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.tsx
  frontend/packages/ux-editor/src/testing/mocks.tsx
  frontend/packages/ux-editor/src/utils/render.tsx
Labels: solution/studio/designer, area/ui-editor

When app developer deletes data model, there is no "no datamodel" message (#9738)
  frontend/packages/shared/src/features/dataModelling/DataModelling.test.tsx
  frontend/packages/shared/src/features/dataModelling/DataModelling.tsx
  frontend/packages/shared/src/features/dataModelling/components/LandingPagePanel.tsx
Labels: solution/studio/designer

fix deps on hook
  frontend/packages/schema-editor/src/components/SchemaInspector.tsx
Labels: solution/studio/designer, area/data-modeling

refactor: break up into smaller components
  frontend/packages/schema-editor/src/components/SchemaEditor.module.css
  frontend/packages/schema-editor/src/components/SchemaEditor.test.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  frontend/packages/schema-editor/src/components/layout/ModelsPanel.module.css
  frontend/packages/schema-editor/src/components/layout/ModelsPanel.tsx
  frontend/packages/schema-editor/src/components/layout/TypesPanel.tsx
  frontend/packages/schema-editor/src/components/layout/index.ts
  frontend/packages/schema-editor/src/components/layout/layoutTypes.ts
Labels: solution/studio/designer, area/data-modeling

refactor code and some tests
  frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.tsx
  frontend/packages/schema-model/src/index.ts
  frontend/packages/schema-model/src/lib/utils.test.ts
  frontend/packages/schema-model/src/lib/utils.ts
Labels: solution/studio/designer, area/data-modeling

the inspector updates as expected
  frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemPropertiesTab.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ReferenceSelectionComponent.tsx
  frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.test.ts
  frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  frontend/packages/schema-model/src/lib/types.ts
  frontend/packages/schema-model/src/lib/utils.ts
Labels: solution/studio/designer, area/data-modeling

error handling of dupicate node names
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
Labels: solution/studio/designer, area/data-modeling

fix flaky tests
  frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.test.tsx
Labels: solution/studio/designer, area/data-modeling

reverse rename of enum
  frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.test.ts
  frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  frontend/packages/schema-model/src/lib/types.ts
  frontend/packages/schema-model/src/lib/utils.ts
Labels: solution/studio/designer, area/data-modeling

fix: rename ref to reference in tsx context. conficts with react
  frontend/packages/schema-editor/src/components/SchemaEditor.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ReferenceSelectionComponent.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ReferenceSelectionComponent.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaItem.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.tsx
  frontend/packages/schema-editor/src/components/TreeView/tree-view-helpers.ts
  frontend/packages/schema-editor/src/components/layout/ModelsPanel.tsx
  frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.test.ts
  frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  frontend/packages/schema-model/src/lib/build-json-schema.ts
  frontend/packages/schema-model/src/lib/build-ui-schema.ts
  frontend/packages/schema-model/src/lib/capabilities.ts
  frontend/packages/schema-model/src/lib/mutations/promote-node.ts
  frontend/packages/schema-model/src/lib/mutations/rename-node.ts
  frontend/packages/schema-model/src/lib/selectors.ts
  frontend/packages/schema-model/src/lib/types.ts
Labels: solution/studio/designer, area/data-modeling

Update Altinn.Platform.Storage.Interface to 3.15.0 (#9650)
  backend/packagegroups/NuGet.props
Labels: solution/studio/designer

Fix/model editor crashing (#9681)
  frontend/packages/schema-editor/src/components/SchemaEditor.module.css
  frontend/packages/schema-editor/src/components/SchemaEditor.test.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemPropertiesTab.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ReferenceSelectionComponent.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ReferenceSelectionComponent.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaItem.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.tsx
  frontend/packages/schema-editor/src/components/TreeView/tree-view-helpers.ts
  frontend/packages/schema-editor/src/components/layout/ModelsPanel.module.css
  frontend/packages/schema-editor/src/components/layout/ModelsPanel.tsx
  frontend/packages/schema-editor/src/components/layout/TypesPanel.tsx
  frontend/packages/schema-editor/src/components/layout/index.ts
  frontend/packages/schema-editor/src/components/layout/layoutTypes.ts
  frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.test.ts
  frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  frontend/packages/schema-model/src/index.ts
  frontend/packages/schema-model/src/lib/build-json-schema.ts
  frontend/packages/schema-model/src/lib/build-ui-schema.ts
  frontend/packages/schema-model/src/lib/capabilities.ts
  frontend/packages/schema-model/src/lib/mutations/promote-node.ts
  frontend/packages/schema-model/src/lib/mutations/rename-node.ts
  frontend/packages/schema-model/src/lib/selectors.ts
  frontend/packages/schema-model/src/lib/types.ts
  frontend/packages/schema-model/src/lib/utils.test.ts
  frontend/packages/schema-model/src/lib/utils.ts
Labels: solution/studio/designer, area/data-modeling

3647 remove duplication of app template move template to separate app templates repo
  src/Altinn.Apps/AppTemplates/ProcessTemplates/Data_Confirmation_Process.bpmn
  src/Altinn.Apps/AppTemplates/ProcessTemplates/Data_Data_Data_Process.bpmn
  src/Altinn.Apps/AppTemplates/ProcessTemplates/Data_Process.bpmn
Labels: solution/app-backend, area/process

renovate/npm minor patch
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/shared/package.json
  frontend/packages/text-editor/package.json
  frontend/packages/ux-editor/package.json
  frontend/testing/cypress/package.json
  frontend/yarn.lock
Labels: solution/studio/designer, area/dashboard, area/data-modeling, area/ui-editor, area/text-editor

3647 remove duplication of app template move template to separate app templates repo (#9744)
  src/Altinn.Apps/AppTemplates/ProcessTemplates/Data_Confirmation_Process.bpmn
  src/Altinn.Apps/AppTemplates/ProcessTemplates/Data_Data_Data_Process.bpmn
  src/Altinn.Apps/AppTemplates/ProcessTemplates/Data_Process.bpmn
Labels: solution/app-backend, area/process

9583 as an app developer i need to be able to add an auto complete attribute to our inputs so our app is accessible
  development/README.md
  development/load-balancer/502App.html
  development/load-balancer/502LocalTest.html
  development/load-balancer/nginx.conf.conf
  development/utils/ensure-dot-env.js
Labels: none

9583 as an app developer i need to be able to add an auto complete attribute to our inputs so our app is accessible
  development/load-balancer/nginx.conf.conf
Labels: none

9583 as an app developer i need to be able to add an auto complete attribute to our inputs so our app is accessible
  frontend/packages/ux-editor/src/components/config/EditModalContent.test.tsx
Labels: solution/studio/designer, area/ui-editor

9583 as an app developer i need to be able to add an auto complete attribute to our inputs so our app is accessible
  frontend/packages/shared/src/navigation/drawer/LeftDrawerMenu.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.tsx
Labels: solution/studio/designer, area/ui-editor

9583 as an app developer i need to be able to add an auto complete attribute to our inputs so our app is accessible
  docker-compose.yml
  frontend/packages/ux-editor/src/components/config/componentConfig.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.tsx
Labels: solution/studio/designer, area/ui-editor

9583 as an app developer i need to be able to add an auto complete attribute to our inputs so our app is accessible
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.tsx
Labels: solution/studio/designer, area/ui-editor

9583 as an app developer i need to be able to add an auto complete attribute to our inputs so our app is accessible
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.tsx
Labels: solution/studio/designer, area/ui-editor

Return NoContent for missing (optional) files (#174)
  src/Altinn.App.Api/Controllers/ResourceController.cs
  src/Altinn.App.Core/Implementation/AppResourcesSI.cs
Labels: none
