Repository Altinn/altinn-studio, changes with the labels that .github/labeler.yml gives for each.
All labels: solution/platform, solution/app-backend, solution/app-frontend, solution/apps, solution/studio/designer, solution/studio/repos, area/api-expose, area/api-use, area/attachments, area/authentication, area/authorization, area/app-deploy, area/dashboard, area/data-storage, area/instantiation, area/language, area/printout, area/process, area/profile, area/receipt, area/register, area/events, area/ui-editor

new nugets again
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
Labels: solution/app-backend, area/api-expose, area/api-use

Feature/4904 key vault service (#5015)
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Extensions/ConfigurationBuilderExtensions.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/SecretsAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/SecretsLocalAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/ISecrets.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/Program.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/Startup.cs
Labels: solution/app-backend, area/api-expose, area/api-use

Feature/4904 key vault service (#5015)
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Extensions/ConfigurationBuilderExtensions.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/SecretsAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/SecretsLocalAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/ISecrets.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/Program.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/Startup.cs
Labels: solution/app-backend, area/api-expose, area/api-use

Added PartitionKey to FeedOptions for instance event query.
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceEventRepository.cs
Labels: solution/platform, area/data-storage

Removed unused testdata
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/apps/spf/test-applikasjon-3/config/authorization/policy.xml
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/apps/tdd/endring-av-navn/appsettings.Development.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/apps/tdd/endring-av-navn/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/apps/tdd/endring-av-navn/config/applicationmetadata.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/apps/tdd/endring-av-navn/config/authorization/policy.xml
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/apps/tdd/endring-av-navn/config/process/process.bpmn
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/apps/tdd/endring-av-navn/models/Skjema.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/apps/tdd/endring-av-navn/models/default.metadata.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/apps/tdd/endring-av-navn/models/default.prefill.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/apps/tdd/m1000/config/authorization/policy.xml
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/apps/tdd/test-applikasjon-1/config/applicationmetadata.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/apps/tdd/test-applikasjon-1/config/authorization/policy.xml
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/apps/tdd/test-applikasjon-2/config/authorization/policy.xml
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/apps/tests-sailor.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/apps/tests/sailor/config/authorization/policy.xml
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/apps/ttd/complete-test/config/authorization/policy.xml
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/apps/ttd/dato-eksempel/config/authorization/policy.xml
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/apps/ttd/steffens-2020-v2/config/authorization/policy.xml
Labels: solution/platform, area/events

Removed unused roles
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/user_1/party_1000/roles.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/user_1/party_1600/roles.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/user_1/party_500/roles.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/user_1/party_50000000/roles.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/user_10016/party_1600/roles.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/user_3/party_1000/roles.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/user_3/party_1337/roles.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/user_3/party_1600/roles.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/user_3/party_1606/roles.json
Labels: solution/platform, area/events

Updated after review
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/AccessTokenHandler.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Authorization/AuthorizationHelper.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/PepWithPDPAuthorizationMockSI.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/appsettings.json
Labels: solution/platform, area/authorization, area/events

updated template and pushed new nuget
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/Program.cs
  src/studio/AppTemplates/AspNet/App/Startup.cs
Labels: solution/app-backend, area/api-expose, area/api-use

pushed alpha nugets
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
Labels: solution/app-backend, area/api-expose, area/api-use

Updates after feedback
  src/Altinn.Platform/Altinn.Platform.Events/Events/Authorization/AuthorizationHelper.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Extensions/ClaimsPrincipalExtensions.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/EventsControllerTests.cs
Labels: solution/platform, area/events

Updates after feedback
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/EventsControllerTests.cs
Labels: solution/platform, area/events

Code smell
  src/Altinn.Platform/Altinn.Platform.Events/Events/Authorization/AuthorizationHelper.cs
Labels: solution/platform, area/events

Cloud smell
  src/Altinn.Platform/Altinn.Platform.Events/Events/Authorization/CloudEventXacmlMapper.cs
Labels: solution/platform, area/events

Updates after comments
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Authorization/CloudEventXacmlMapper.cs
Labels: solution/platform, area/authorization, area/events

Added logic to remove duplicates
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/MessageboxInstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/InstanceEventHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceEventRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/HelperTests/InstanceEventHelperTest.cs
Labels: solution/platform, area/data-storage

Fixed versions
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/EventsControllerTests.cs
Labels: solution/platform, area/events

Code smell
  src/Altinn.Platform/Altinn.Platform.Events/Events/Authorization/CloudEventXacmlMapper.cs
Labels: solution/platform, area/events

Working on same event logic
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/InstanceEventHelper.cs
Labels: solution/platform, area/data-storage

updated template and pushed new nuget (#5028)
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/Program.cs
  src/studio/AppTemplates/AspNet/App/Startup.cs
Labels: solution/app-backend, area/api-expose, area/api-use

updated template and pushed new nuget (#5028)
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend, area/api-expose, area/api-use

loading kv settings
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
Labels: solution/platform, area/events

added missing ref
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
Labels: solution/platform, area/events

generating platform accesstoken for events service (#5021)
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Implementation/EventsAppSITests.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/EventsAppSI.cs
Labels: solution/app-backend, area/api-expose, area/api-use

generating platform accesstoken for events service (#5021)
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Implementation/EventsAppSITests.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/EventsAppSI.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
Labels: solution/platform, solution/app-backend, area/api-expose, area/api-use, area/events

Removed alpha & updated nuget refs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend, area/api-expose, area/api-use

Update after comments
  src/Altinn.Platform/Altinn.Platform.Events/Events/Authorization/CloudEventXacmlMapper.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Extensions/ClaimsPrincipalExtensions.cs
Labels: solution/platform, area/events

Removed alpha & updated nuget refs (#5030)
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend, area/api-expose, area/api-use

Removed alpha & updated nuget refs (#5030)
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend, area/api-expose, area/api-use

Feature/4751 event authorization (#5025)
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/AccessTokenHandler.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Configuration/AccessTokenSettings.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Constants/AltinnXacmlUrns.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Authorization/AuthorizationHelper.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Authorization/CloudEventXacmlMapper.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Extensions/ClaimsPrincipalExtensions.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Constants/XacmlRequestAttribute.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/User_1337/party_1337/roles.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/User_1337/party_500000/roles.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/User_1337/party_500001/roles.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/User_1337/party_500002/roles.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/User_1337/party_500003/roles.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/User_1337/party_500600/roles.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/User_1337/party_500700/roles.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/apps/ttd/endring-av-navn-v2/config/authorization/policy.xml
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/PepWithPDPAuthorizationMockSI.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Models/XacmlResourceAttributes.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/EventsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingUtils/CloudEventXacmlMapperTests.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/appsettings.json
Labels: solution/platform, area/authorization, area/events

Get-method in rest-controller for parties
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Configuration/PlatformSettings.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Exceptions/PlatformHttpException.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Extensions/HttpClientExtension.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/Interfaces/IRegisterService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/RegisterService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/EventsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/appsettings.json
Labels: solution/platform, area/events

updated source & changed namespace
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/ProcessController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Implementation/EventsAppSITests.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/EventsAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/IEvents.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/EventsMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/SetupUtil.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/Startup.cs
Labels: solution/app-backend, area/api-expose, area/api-use

changed namespace back
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/ProcessController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Implementation/EventsAppSITests.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/EventsAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/IEvents.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/EventsMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/Startup.cs
Labels: solution/app-backend, area/api-expose, area/api-use

missing namespace rollback
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/SetupUtil.cs
Labels: solution/app-backend

removed unused ref
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/SetupUtil.cs
Labels: solution/app-backend

reordering refs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/SetupUtil.cs
Labels: solution/app-backend

final commit i hope
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/SetupUtil.cs
Labels: solution/app-backend

updated source & changed namespace (#5031)
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Implementation/EventsAppSITests.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/EventsAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/SetupUtil.cs
Labels: solution/app-backend, area/api-expose, area/api-use

updated source & changed namespace (#5031)
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Implementation/EventsAppSITests.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/EventsAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/SetupUtil.cs
Labels: solution/app-backend, area/api-expose, area/api-use

configuring settings for pep
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
Labels: solution/platform, area/events

More instance event filtering
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/InstanceEventHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/HelperTests/InstanceEventHelperTest.cs
Labels: solution/platform, area/data-storage

.github/labeler.yml:

# Labels for solutions

solution/platform:
  - 'src/Altinn.Platform/**/*'

solution/app-backend:
  - 'src/Altinn.Apps/AppTemplates/**/*'
  - 'src/studio/AppTemplates/**/*'

solution/app-frontend:
  - 'src/Altinn.Apps/AppFrontend/**/*'

solution/apps:
  - 'src/Altinn.Apps/KubernetesWrapper/**/*'

solution/studio/designer:
  - 'src/studio/src/designer/**/*'

solution/studio/repos:
  - 'src/studio/src/repositories/**/*'


# Labels for areas

area/api-expose:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/**/*'

area/api-use:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/**/*'

area/attachments:
  - 'src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/attachments/**/*'

area/authentication:
  - 'src/Altinn.Platform/Altinn.Platform.Authentication/**/*'
  - 'src/Altinn.Common/Authentication/**/*'

area/authorization:
  - 'src/Altinn.Platform/Altinn.Platform.Authorization/**/*'
  - 'src/Altinn.Common/Altinn.Common.AccessToken/**/*'
  - 'src/Altinn.Common/Altinn.Common.PEP/**/*'
  - 'src/Altinn.Platform/Altinn.Platform.Models/Models/Authorization/**/*'

area/app-deploy:
  - 'src/studio/src/designer/frontend/app-development/features/appPublish/**/*'
  - 'src/studio/src/designer/frontend/app-development/sharedResources/appDeployment/**/*'
  - 'src/studio/src/designer/backend/Controllers/DeploymentsController.cs'
  - 'src/Altinn.Apps/AppTemplates/AspNet/deployment/**/*'
  - 'src/studio/AppTemplates/AspNet/deployment/**/*'

area/dashboard:
  - 'src/studio/src/designer/frontend/dashboard/**/*'

area/data-storage:
  - 'src/Altinn.Platform/Altinn.Platform.Storage/**/*'

area/instantiation:
  - 'src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/**/*'

area/language:
  - 'src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/language/**/*'
  - 'src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/textResources/**/*'

area/printout:
  - 'src/Altinn.Platform/Altinn.Platform.PDF/**/*'

area/process:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Process/**/*'
  - 'src/Altinn.Apps/AppTemplates/AspNet/App/config/process/**/*'

area/profile:
  - 'src/Altinn.Platform/Altinn.Platform.Profile/**/*'
  - 'src/Altinn.Platform/Altinn.Platform.Models/Models/Profile/**/*'

area/receipt:
  - 'src/Altinn.Platform/Altinn.Platform.Receipt/**/*'
  - 'src/Altinn.Apps/AppFrontend/react/receipt/**/*'
  - 'src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/receipt/**/*'

area/register:
  - 'src/Altinn.Platform/Altinn.Platform.Register/**/*'
  - 'src/Altinn.Platform/Altinn.Platform.Models/Models/Register/**/*'

area/events:
  - 'src/Altinn.Platform/Altinn.Platform.Events/**/*'

area/ui-editor:
  - 'src/studio/src/designer/frontend/ux-editor/**/*'
