Repository Altinn/altinn-studio, changes with the labels that .github/labeler.yml gives for each.
All labels: solution/platform, solution/app-backend, solution/app-frontend, solution/apps, solution/studio/designer, solution/studio/repos, area/api-expose, area/api-use, area/attachments, area/authentication, area/authorization, area/app-deploy, area/dashboard, area/data-storage, area/instantiation, area/language, area/printout, area/process, area/profile, area/receipt, area/register, area/events, area/ui-editor

configuring settings for pep (#5035)
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
Labels: solution/platform, area/events

removed safeguard
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/appsettings.json
Labels: solution/platform, area/events

minor fixed + new nuget
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/EventsAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/ProfileAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/RegisterAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/RegisterDSFAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/RegisterERAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend, area/api-expose, area/api-use

Bumped Altinn.Apps frontend
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
Labels: solution/app-frontend, area/receipt

minor fixed + new nuget (#5037)
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/EventsAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/ProfileAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/RegisterAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/RegisterDSFAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/RegisterERAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend, area/api-expose, area/api-use

minor fixed + new nuget (#5037)
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/EventsAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/ProfileAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/RegisterAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/RegisterDSFAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/RegisterERAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend, area/api-expose, area/api-use

Instance events made available for message box should include filtered Saved events (#5024)
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/MessageboxInstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/InstanceEventHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/InstanceHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceEventRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/HelperTests/InstanceEventHelperTest.cs
Labels: solution/platform, area/data-storage

Added StyleCop rules to Storage. Fixed all errors and some warnings
  src/Altinn.Platform/Altinn.Platform.Storage/Altinn.Platform.Storage.sln
  src/Altinn.Platform/Altinn.Platform.Storage/Altinn3.ruleset
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Enums/InstanceEventType.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/ApplicationLogic.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/DataType.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/InstanceEvent.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/TextResource.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/GlobalSuppressions.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/GlobalSuppressions.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/HelperTests/AuthorizeInstancesHelperTest.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/HelperTests/DateTimeHelperTest.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/HelperTests/InstanceHelperTest.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/HelperTests/LanguageHelperTest.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/PepWithPDPAuthorizationMockSI.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/ApplicationRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/DataRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceEventRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/TextRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestData/TestData.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/ApplicationsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/DataControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstanceEventsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstancesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/MessageboxInstancesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/ProcessControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/TextsControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/TextsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingRepositories/SasTokenProviderTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Utils/PrincipalUtil.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Utils/RequestTracker.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Utils/TestDataUtil.cs
  src/Altinn.Platform/Altinn.Platform.Storage/stylecop.json
Labels: solution/platform, area/data-storage

Updated studio frontend deps
  src/studio/src/designer/backend/package-lock.json
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: solution/studio/designer, area/dashboard, area/ui-editor

Added StyleCop rules to Register. Fixed all errors and warnings
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/GlobalSuppressions.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Mocks/Authentication/ConfigurationManagerStub.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Mocks/Authentication/JwtCookiePostConfigureOptionsStub.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Mocks/SigningKeyResolverMock.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/TestingControllers/OrganizationsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/TestingControllers/PartiesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/TestingFilters/ValidateModelStateAttributeTests.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.sln
  src/Altinn.Platform/Altinn.Platform.Register/Altinn3.ruleset
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
Labels: solution/platform, area/register

Added StyleCop rules to Receipt. Fixed all errors and warnings
  src/Altinn.Platform/Altinn.Platform.Receipt/Altinn.Platform.Receipt.sln
  src/Altinn.Platform/Altinn.Platform.Receipt/Altinn3.ruleset
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/GlobalSuppressions.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/HttpClientAccessorTest.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/ReceiptControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/ReceiptControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Testdata/Instances.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Testdata/Parties.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Testdata/UserProfiles.cs
Labels: solution/platform, area/receipt

Updated scope
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/AuthorizationHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstancesControllerTests.cs
Labels: solution/platform, area/data-storage

Added StyleCop rules to Storage. Fixed all errors and some warnings (#5038)
  src/Altinn.Platform/Altinn.Platform.Storage/Altinn.Platform.Storage.sln
  src/Altinn.Platform/Altinn.Platform.Storage/Altinn3.ruleset
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Enums/InstanceEventType.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/ApplicationLogic.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/DataType.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/InstanceEvent.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/TextResource.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/GlobalSuppressions.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/GlobalSuppressions.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/HelperTests/AuthorizeInstancesHelperTest.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/HelperTests/DateTimeHelperTest.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/HelperTests/InstanceHelperTest.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/HelperTests/LanguageHelperTest.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/PepWithPDPAuthorizationMockSI.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/ApplicationRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/DataRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceEventRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/TextRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestData/TestData.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/ApplicationsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/DataControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstanceEventsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstancesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/MessageboxInstancesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/ProcessControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/TextsControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/TextsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingRepositories/SasTokenProviderTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Utils/PrincipalUtil.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Utils/RequestTracker.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Utils/TestDataUtil.cs
  src/Altinn.Platform/Altinn.Platform.Storage/stylecop.json
Labels: solution/platform, area/data-storage

Added StyleCop rules to Register. Fixed all errors and warnings (#5042)
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/GlobalSuppressions.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Mocks/Authentication/ConfigurationManagerStub.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Mocks/Authentication/JwtCookiePostConfigureOptionsStub.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Mocks/SigningKeyResolverMock.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/TestingControllers/OrganizationsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/TestingControllers/PartiesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/TestingFilters/ValidateModelStateAttributeTests.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.sln
  src/Altinn.Platform/Altinn.Platform.Register/Altinn3.ruleset
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
Labels: solution/platform, area/register

Added StyleCop rules to Receipt. Fixed all errors and warnings (#5043)
  src/Altinn.Platform/Altinn.Platform.Receipt/Altinn.Platform.Receipt.sln
  src/Altinn.Platform/Altinn.Platform.Receipt/Altinn3.ruleset
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/GlobalSuppressions.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/HttpClientAccessorTest.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/ReceiptControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/ReceiptControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Testdata/Instances.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Testdata/Parties.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Testdata/UserProfiles.cs
Labels: solution/platform, area/receipt

Backend deps w43
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
Labels: solution/platform, solution/app-backend, solution/studio/designer, area/api-use, area/authentication, area/dashboard, area/data-storage, area/profile, area/receipt, area/register, area/ui-editor

Stykecop fixes
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/InstanceStatus.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/ProcessHistoryItem.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstancesControllerTests.cs
Labels: solution/platform, area/data-storage

Bumped missing dockerfiles
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
Labels: solution/apps

All missing
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
Labels: solution/platform, area/authentication, area/authorization, area/events

feature/5003-update-backend-deps-w43 (#5045)
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
Labels: solution/platform, solution/app-backend, solution/apps, solution/studio/designer, area/api-use, area/authentication, area/authorization, area/dashboard, area/data-storage, area/profile, area/receipt, area/register, area/events, area/ui-editor

feature/5003-update-backend-deps-w43 (#5045)
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
Labels: solution/app-backend, area/api-use

manipulating data created events
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/InstanceEventHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/HelperTests/InstanceEventHelperTest.cs
Labels: solution/platform, area/data-storage

changed syntax
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/InstanceEventHelper.cs
Labels: solution/platform, area/data-storage

Merge conflicts and more testing
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/PepWithPDPAuthorizationMockSI.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/EventsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/appsettings.json
Labels: solution/platform, area/events

process not complete mapped to currentTask not null
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
Labels: solution/platform, area/data-storage

manipulating data created events (#5046)
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/InstanceEventHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/HelperTests/InstanceEventHelperTest.cs
Labels: solution/platform, area/data-storage

Removed code smells related to XML comments
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/complex-process/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/sirius/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/events/logic/AltinnApp.cs
Labels: solution/app-backend

process not complete mapped to currentTask not null (#5048)
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
Labels: solution/platform, area/data-storage

MInor change to StyleCop settings for AccessToken projects
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn3.ruleset
Labels: area/authorization

Cleanup
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/EventsControllerTests.cs
Labels: solution/platform, area/events

More cleanup
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/EventsControllerTests.cs
Labels: solution/platform, area/events

Fixed StyleCop in the PEP projects. Fixed all errors and a few warnings
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Authorization/AppAccessHandler.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Authorization/ClaimAccessHandler.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Authorization/ClaimAccessRequirement.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Authorization/ScopeAccessHandler.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Clients/AuthorizationApiClient.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Constants/AltinnXacmlUrns.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Helpers/DecisionHelper.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Implementation/PDPAppSI.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Interfaces/IPDP.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Models/EnforcementResult.cs
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/AppAccessHandlerTest.cs
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/DecisionHelperTest.cs
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/GlobalSuppressions.cs
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/ScopeAccessHandlerTest.cs
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
Labels: area/authorization

Minor change to StyleCop settings for AccessToken projects (#5050)
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn3.ruleset
Labels: area/authorization

Code smell
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/AuthorizationHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstancesControllerTests.cs
Labels: solution/platform, area/data-storage

Updated scope (#5044)
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/InstanceStatus.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/ProcessHistoryItem.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/AuthorizationHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstancesControllerTests.cs
Labels: solution/platform, area/data-storage

First draft - some technical descisions to be made
  src/studio/src/designer/backend/Configuration/ServiceRepositorySettings.cs
  src/studio/src/designer/backend/Controllers/UIEditorController.cs
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
  src/studio/src/designer/backend/Services/Interfaces/IRepository.cs
  src/studio/src/designer/frontend/shared/navigation/drawer/RightMenu.tsx
  src/studio/src/designer/frontend/shared/navigation/drawer/rightDrawerMenu.tsx
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/actions/formDesignerActions/actions/addLayout/index.ts
  src/studio/src/designer/frontend/ux-editor/actions/formDesignerActions/actions/deleteLayout/index.ts
  src/studio/src/designer/frontend/ux-editor/actions/formDesignerActions/actions/index.ts
  src/studio/src/designer/frontend/ux-editor/actions/formDesignerActions/actions/updateLayoutName/index.ts
  src/studio/src/designer/frontend/ux-editor/actions/formDesignerActions/actions/updateSelectedLayout/index.ts
  src/studio/src/designer/frontend/ux-editor/actions/formDesignerActions/formDesignerActionDispatcher.ts
  src/studio/src/designer/frontend/ux-editor/actions/formDesignerActions/formDesignerActionTypes.ts
  src/studio/src/designer/frontend/ux-editor/components/FormComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/ConditionalRenderingComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/rightDrawerMenu/CollapsibleMenuComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/rightMenu/PagesContainer.tsx
  src/studio/src/designer/frontend/ux-editor/components/toolbar/RuleButton.tsx
  src/studio/src/designer/frontend/ux-editor/components/toolbar/RuleModal.tsx
  src/studio/src/designer/frontend/ux-editor/components/toolbar/RuleModalComponent.tsx
  src/studio/src/designer/frontend/ux-editor/containers/DesignView.tsx
  src/studio/src/designer/frontend/ux-editor/containers/FormDesigner.tsx
  src/studio/src/designer/frontend/ux-editor/reducers/formDesignerReducer/formLayoutReducer.ts
  src/studio/src/designer/frontend/ux-editor/sagas/formDesigner/formDesignerSagas.ts
  src/studio/src/designer/frontend/ux-editor/sagas/formDesigner/index.ts
  src/studio/src/designer/frontend/ux-editor/selectors/getLayoutData.ts
  src/studio/src/designer/frontend/ux-editor/test/__tests__/utils/formLayout.test.tsx
  src/studio/src/designer/frontend/ux-editor/types/global.ts
  src/studio/src/designer/frontend/ux-editor/utils/formLayout.ts
Labels: solution/studio/designer, area/ui-editor

Fixed code smells
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/EventsControllerTests.cs
Labels: solution/platform, area/events

Testing to see if analysis pipeline will react to missing ruleset.
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
Labels: area/authorization

ApiAuth value in appsettings
  src/Altinn.Platform/Altinn.Platform.Events/Events/appsettings.json
Labels: solution/platform, area/events

Change from review
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
Labels: solution/platform, area/events

.github/labeler.yml:

# Labels for solutions

solution/platform:
  - 'src/Altinn.Platform/**/*'

solution/app-backend:
  - 'src/Altinn.Apps/AppTemplates/**/*'
  - 'src/studio/AppTemplates/**/*'

solution/app-frontend:
  - 'src/Altinn.Apps/AppFrontend/**/*'

solution/apps:
  - 'src/Altinn.Apps/KubernetesWrapper/**/*'

solution/studio/designer:
  - 'src/studio/src/designer/**/*'

solution/studio/repos:
  - 'src/studio/src/repositories/**/*'


# Labels for areas

area/api-expose:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/**/*'

area/api-use:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/**/*'

area/attachments:
  - 'src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/attachments/**/*'

area/authentication:
  - 'src/Altinn.Platform/Altinn.Platform.Authentication/**/*'
  - 'src/Altinn.Common/Authentication/**/*'

area/authorization:
  - 'src/Altinn.Platform/Altinn.Platform.Authorization/**/*'
  - 'src/Altinn.Common/Altinn.Common.AccessToken/**/*'
  - 'src/Altinn.Common/Altinn.Common.PEP/**/*'
  - 'src/Altinn.Platform/Altinn.Platform.Models/Models/Authorization/**/*'

area/app-deploy:
  - 'src/studio/src/designer/frontend/app-development/features/appPublish/**/*'
  - 'src/studio/src/designer/frontend/app-development/sharedResources/appDeployment/**/*'
  - 'src/studio/src/designer/backend/Controllers/DeploymentsController.cs'
  - 'src/Altinn.Apps/AppTemplates/AspNet/deployment/**/*'
  - 'src/studio/AppTemplates/AspNet/deployment/**/*'

area/dashboard:
  - 'src/studio/src/designer/frontend/dashboard/**/*'

area/data-storage:
  - 'src/Altinn.Platform/Altinn.Platform.Storage/**/*'

area/instantiation:
  - 'src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/**/*'

area/language:
  - 'src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/language/**/*'
  - 'src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/textResources/**/*'

area/printout:
  - 'src/Altinn.Platform/Altinn.Platform.PDF/**/*'

area/process:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Process/**/*'
  - 'src/Altinn.Apps/AppTemplates/AspNet/App/config/process/**/*'

area/profile:
  - 'src/Altinn.Platform/Altinn.Platform.Profile/**/*'
  - 'src/Altinn.Platform/Altinn.Platform.Models/Models/Profile/**/*'

area/receipt:
  - 'src/Altinn.Platform/Altinn.Platform.Receipt/**/*'
  - 'src/Altinn.Apps/AppFrontend/react/receipt/**/*'
  - 'src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/receipt/**/*'

area/register:
  - 'src/Altinn.Platform/Altinn.Platform.Register/**/*'
  - 'src/Altinn.Platform/Altinn.Platform.Models/Models/Register/**/*'

area/events:
  - 'src/Altinn.Platform/Altinn.Platform.Events/**/*'

area/ui-editor:
  - 'src/studio/src/designer/frontend/ux-editor/**/*'
