Repository Altinn/altinn-studio, changes with the labels that .github/labeler.yml gives for each.
All labels: solution/platform, solution/app-backend, solution/apps, solution/studio/designer, solution/studio/repos, area/app-deploy, area/dashboard, area/data-modeling, area/pdf, area/process, area/ui-editor, area/test, area/text-editor

Add PresentationTexts to {org}/{app}/instances/{instanceOwnerPartyId:int}/active endpoint (#177)
  src/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.App.Api/Mappers/SimpleInstanceMapper.cs
  src/Altinn.App.Api/Models/SimpleInstance.cs
  src/Altinn.App.Core/Features/DataProcessing/NullInstantiationProcessor.cs
  src/Altinn.App.Core/Features/IInstantiationProcessor.cs
  test/Altinn.App.Api.Tests/Controllers/InstancesController_ActiveInstancesTests.cs
Labels: none

Needed to revert use of useText because hooks is not allowed within class-components (#9740)
  frontend/packages/ux-editor/src/containers/Container.tsx
  frontend/packages/ux-editor/src/utils/render.tsx
Labels: solution/studio/designer, area/ui-editor

Fix `pageBreak` property in component schema (#882)
  schemas/json/layout/layout.schema.v1.json
Labels: none

Should run type-check and dev-server in parallel
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
Labels: solution/studio/designer, area/dashboard

Should run type-check and dev-server in parallel (#9766)
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
Labels: solution/studio/designer, area/dashboard

fix issue when components is undefined in settings (#884)
  src/features/form/layout/formLayoutSlice.ts
Labels: none

Work in progress: getting controll when things get rendered and avoid duplicate api-calls
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSlice.ts
  frontend/packages/ux-editor/src/features/widgets/widgetsSlice.ts
Labels: solution/studio/designer, area/ui-editor

Generic text resource binding edit component
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBinding.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBinding.tsx
Labels: solution/studio/designer, area/ui-editor

Configure panel component
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/componentConfig.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
Labels: solution/studio/designer, area/ui-editor

use generic EditTextResourceBinding component
  frontend/packages/ux-editor/src/components/config/editModal/EditDescription.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTitle.tsx
Labels: solution/studio/designer, area/ui-editor

Preventing crash on Party selection for users with names that contains abnormal spaces (#885)
  src/utils/stringHelper.test.ts
  src/utils/stringHelper.ts
Labels: none

Add DueBefore to /active instances endpoint (#179)
  src/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.App.Api/Mappers/SimpleInstanceMapper.cs
  src/Altinn.App.Api/Models/SimpleInstance.cs
  test/Altinn.App.Api.Tests/Controllers/InstancesController_ActiveInstancesTests.cs
Labels: none

.github/labeler.yml:

# Labels for solutions

solution/platform:
  - 'src/Altinn.Platform/**/*'

solution/app-backend:
  - 'src/Altinn.Apps/AppTemplates/**/*'
  - 'src/studio/AppTemplates/**/*'

solution/apps:
  - 'src/Altinn.Apps/KubernetesWrapper/**/*'

solution/studio/designer:
  - 'backend/**/*'
  - 'frontend/**/*'

solution/studio/repos:
  - 'gitea/**/*'

# Labels for areas

area/app-deploy:
  - 'frontend/app-development/features/appPublish/**/*'
  - 'frontend/app-development/sharedResources/appDeployment/**/*'
  - 'backend/src/Designer/Controllers/DeploymentsController.cs'
  - 'src/Altinn.Apps/AppTemplates/AspNet/deployment/**/*'
  - 'src/studio/AppTemplates/AspNet/deployment/**/*'

area/dashboard:
  - 'frontend/dashboard/**/*'

area/data-modeling:
  - 'frontend/packages/schema-editor/**/*'
  - 'frontend/packages/schema-model/**/*'
  - 'backend/src/DataModeling/**/*'

area/pdf:
  - 'src/Altinn.Platform/Altinn.Platform.PDF/**/*'

area/process:
  - 'src/Altinn.Apps/AppTemplates/ProcessTemplates/**/*'

area/ui-editor:
  - 'frontend/packages/ux-editor/**/*'

area/test:
  - 'src/test/**/*'

area/text-editor:
  - 'frontend/packages/text-editor/**'
  - 'frontend/app-development/features/textEditor/**/*'
