Repository Altinn/altinn-studio, changes with the labels that .github/labeler.yml gives for each.
All labels: solution/platform, solution/app-backend, solution/apps, solution/studio/designer, solution/studio/repos, area/api-expose, area/api-use, area/authorization, area/app-deploy, area/dashboard, area/pdf, area/process, area/ui-editor, area/test

chore/prepare cypress setup
  development/utils/ensure-dot-env.js
  frontend/dashboard/features/createService/CreateService.test.tsx
  frontend/dashboard/features/createService/ServiceOwnerSelector.tsx
Labels: area/dashboard

chore/prepare cypress setup
  development/designerdb/data.sql
  development/setup.js
  development/utils/ensure-dot-env.js
  development/utils/gitea-api.js
  docker-compose.yml
  frontend/cypress/README.md
  src/test/cypress/e2e/config/local.json
  src/test/cypress/e2e/integration/usecase/usecase.js
Labels: area/test

chore/prepare cypress setup
  README.md
  development/README.md
  development/db/data.sql
  development/db/init.sql
  development/designerdb/init.sql
  development/load-balancer/502Repo.html
  development/load-balancer/nginx.conf.conf
  development/setup.js
  docker-compose.yml
  src/test/cypress/README.md
Labels: area/test

9528 clone in altinn studio does not work
  frontend/packages/shared/src/version-control/CloneModal.tsx
Labels: none

9528 clone in altinn studio does not work (#9537)
  frontend/packages/shared/src/version-control/CloneModal.tsx
Labels: none

cleanup
  frontend/app-development/features/textEditor/TextEditor.module.css
  frontend/app-development/features/textEditor/TextEditor.tsx
Labels: none

Fixed typo in key to show "Calculations" text (#9541)
  frontend/language/src/en.json
  frontend/language/src/nb.json
Labels: none

remove IFrame and friends
  frontend/app-development/config/routes.tsx
  frontend/app-development/features/iFrame/IFrameComponent.module.css
  frontend/app-development/features/iFrame/IFrameComponent.tsx
Labels: none

fix typo in nb & en.json
  frontend/language/src/en.json
  frontend/language/src/nb.json
Labels: none

added language for subdomain label
  frontend/language/src/en.json
  frontend/language/src/nb.json
Labels: none

created simple string utils to convert comma seperated string to array and oposite
  frontend/packages/ux-editor/src/utils/stringUtils/index.ts
  frontend/packages/ux-editor/src/utils/stringUtils/stringUtils.test.ts
  frontend/packages/ux-editor/src/utils/stringUtils/stringUtils.ts
Labels: area/ui-editor

Added a small comment to clearify how validateAsUrl works
  frontend/packages/ux-editor/src/utils/validationUtils/validationUtils.ts
Labels: area/ui-editor

Refactoring component by spliting AddLayer to own function and implemented support for subdomains as list
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.module.css
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.tsx
Labels: area/ui-editor

Small refactoring of validation, do onChange
  frontend/packages/ux-editor/src/components/TextFieldWithValidation/TextFieldWithValidation.test.tsx
  frontend/packages/ux-editor/src/components/TextFieldWithValidation/TextFieldWithValidation.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.tsx
Labels: area/ui-editor

disable button when first layer is not completed
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.tsx
Labels: area/ui-editor

Use correct class ref on "generate model"
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
Labels: solution/studio/designer

spelling
  frontend/packages/ux-editor/src/utils/stringUtils/stringUtils.test.ts
Labels: area/ui-editor

added key to child elements of the loop, but does not have any unique indicators other than the index
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.tsx
Labels: area/ui-editor

remove autogenerated [obsolete] tag
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
Labels: solution/studio/designer

fixed failing unit-test
  frontend/packages/ux-editor/src/utils/validationUtils/validationUtils.test.ts
Labels: area/ui-editor

Fix casing on test data folder /authroization/partylist
  src/development/LocalTest/Services/TestData/TestDataDiskReader.cs
Labels: none

use popover-panel instead of mui dialog
  frontend/app-development/features/textEditor/TextEditor.module.css
  frontend/app-development/features/textEditor/TextEditor.tsx
Labels: none

Use correct class ref on "generate model" (#9545)
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
Labels: solution/studio/designer

Moved ILanguage into app-shared
  frontend/app-development/features/textEditor/TextEditor.tsx
  frontend/packages/schema-editor/src/types/index.ts
  frontend/packages/shared/src/features/dataModelling/DataModelling.tsx
  frontend/packages/shared/src/utils/language.ts
Labels: none

Check for ClassRef to set default TaskId
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
Labels: solution/studio/designer

Add Kestrel section to appsettings and remove other URL settings (#162)
  src/App/Properties/launchSettings.json
  src/App/appsettings.json
  src/Dockerfile
Labels: none

removed unused mocked data from unit-tests and changed language attribution to be translated to Opphav
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.test.tsx
Labels: area/ui-editor

fix: rename ILanguage to LanguageTree on the app-shared context
  frontend/app-development/features/textEditor/TextEditor.tsx
  frontend/packages/schema-editor/src/types/index.ts
  frontend/packages/shared/src/features/dataModelling/DataModelling.tsx
  frontend/packages/shared/src/utils/language.ts
Labels: none

Use correct query
  frontend/packages/ux-editor/src/components/TextFieldWithValidation/TextFieldWithValidation.test.tsx
Labels: area/ui-editor

Check for ClassRef to set default TaskId (#9550)
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
Labels: solution/studio/designer

added missing translation after clean ups
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.test.tsx
Labels: area/ui-editor

Add preview mode for checkboxes
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/schema-editor/package.json
  frontend/packages/shared/package.json
  frontend/packages/shared/src/utils/arrayUtils.test.ts
  frontend/packages/shared/src/utils/arrayUtils.ts
  frontend/packages/text-editor/package.json
  frontend/packages/ux-editor/src/components/DragHandle.module.css
  frontend/packages/ux-editor/src/components/TextResource.module.css
  frontend/packages/ux-editor/src/components/TextResource.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.module.css
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/index.ts
  frontend/packages/ux-editor/src/containers/ComponentPreview/ComponentPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/ComponentPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/index.ts
  frontend/packages/ux-editor/src/containers/EditContainer.module.css
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.module.css
  frontend/yarn.lock
Labels: area/dashboard, area/ui-editor

moved logic for shared local storage out of datamodelling context
  frontend/app-development/features/textEditor/TextEditor.module.css
  frontend/app-development/features/textEditor/TextEditor.tsx
  frontend/packages/shared/src/features/dataModelling/functions/localStorage.ts
  frontend/packages/shared/src/utils/localStorage.ts
Labels: none

Order texts
  frontend/language/src/en.json
  frontend/language/src/nb.json
Labels: none

Fix minor issues
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
Labels: area/ui-editor

Feat/9439 text editor change to new editor frontend (#9542)
  frontend/app-development/config/routes.tsx
  frontend/app-development/features/iFrame/IFrameComponent.module.css
  frontend/app-development/features/iFrame/IFrameComponent.tsx
  frontend/app-development/features/textEditor/TextEditor.module.css
  frontend/app-development/features/textEditor/TextEditor.tsx
  frontend/app-development/features/textEditor/index.ts
  frontend/app-development/layout/AppBar/appBarConfig.ts
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/types/index.ts
  frontend/packages/shared/src/features/dataModelling/DataModelling.tsx
  frontend/packages/shared/src/features/dataModelling/functions/localStorage.ts
  frontend/packages/shared/src/navigation/drawer/drawerMenuSettings.ts
  frontend/packages/shared/src/utils/language.ts
  frontend/packages/shared/src/utils/localStorage.ts
Labels: none

sort language files alphanum
  frontend/language/src/en.json
  frontend/language/src/nb.json
Labels: none

Use aria-required to make sure to meet a11y requirements
  frontend/packages/ux-editor/src/components/TextFieldWithValidation/TextFieldWithValidation.test.tsx
  frontend/packages/ux-editor/src/components/TextFieldWithValidation/TextFieldWithValidation.tsx
Labels: area/ui-editor

PR-feedback, avoid using '!' within validation error messages
  frontend/language/src/en.json
  frontend/language/src/nb.json
Labels: none

PR-feedback, group tests within describe
  frontend/packages/ux-editor/src/utils/stringUtils/stringUtils.test.ts
Labels: area/ui-editor

.github/labeler.yml:

# Labels for solutions

solution/platform:
  - 'src/Altinn.Platform/**/*'

solution/app-backend:
  - 'src/Altinn.Apps/AppTemplates/**/*'
  - 'src/studio/AppTemplates/**/*'

solution/apps:
  - 'src/Altinn.Apps/KubernetesWrapper/**/*'

solution/studio/designer:
  - 'backend/**/*'

solution/studio/repos:
  - 'gitea/**/*'

# Labels for areas

area/api-expose:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/**/*'

area/api-use:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/**/*'

area/authorization:
  - 'src/Altinn.Common/Altinn.Common.AccessToken/**/*'
  - 'src/Altinn.Common/Altinn.Common.PEP/**/*'

area/app-deploy:
  - 'frontend/app-development/features/appPublish/**/*'
  - 'frontend/app-development/sharedResources/appDeployment/**/*'
  - 'backend/src/Designer/Controllers/DeploymentsController.cs'
  - 'src/Altinn.Apps/AppTemplates/AspNet/deployment/**/*'
  - 'src/studio/AppTemplates/AspNet/deployment/**/*'

area/dashboard:
  - 'frontend/dashboard/**/*'

area/pdf:
  - 'src/Altinn.Platform/Altinn.Platform.PDF/**/*'

area/process:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Process/**/*'
  - 'src/Altinn.Apps/AppTemplates/AspNet/App/config/process/**/*'

area/ui-editor:
  - 'frontend/packages/ux-editor/**/*'

area/test:
  - 'src/test/**/*'
