Repository Altinn/altinn-studio, changes with the labels that .github/labeler.yml gives for each.
All labels: solution/platform, solution/studio/designer, solution/studio/repos, area/app-deploy, area/app-preview, area/authorization, area/dashboard, area/data-modeling, area/overview, area/process, area/resource-registry, area/settings, area/studio-root, area/text-editor, area/ui-editor, area/version-control, kind/dependencies, quality/testing, skip-releasenotes, backend, frontend

.github/labeler.yml:

# Labels for solutions
solution/platform:
- changed-files:
  - any-glob-to-any-file: 'src/Altinn.Platform/**/*'

solution/studio/designer:
- changed-files:
  - any-glob-to-any-file: 'src/Designer/**/*'

solution/studio/repos:
- changed-files:
  - any-glob-to-any-file: 'src/gitea/**/*'

# Labels for areas
area/app-deploy:
- changed-files:
  - any-glob-to-any-file: ['src/Designer/frontend/app-development/features/appPublish/**/*', 'src/Designer/backend/src/Designer/**/*Deployment*.cs', 'src/Designer/backend/src/Designer/**/*Release*.cs']

area/app-preview:
- changed-files:
  - any-glob-to-any-file: ['src/Designer/frontend/app-preview/**/*', 'src/Designer/backend/src/Designer/Controllers/PreviewController.cs']

area/authorization:
- changed-files:
  - any-glob-to-any-file: ['src/Designer/frontend/packages/policy-editor/**/*']

area/dashboard:
- changed-files:
  - any-glob-to-any-file: ['src/Designer/frontend/dashboard/**/*']

area/data-modeling:
- changed-files:
  - any-glob-to-any-file: ['src/Designer/frontend/packages/schema-editor/**/*', 'src/Designer/frontend/packages/schema-model/**/*', 'src/Designer/frontend/app-development/features/dataModelling/**/*', 'src/Designer/backend/src/DataModeling/**/*']

area/overview:
- changed-files:
  - any-glob-to-any-file: ['src/Designer/frontend/app-development/features/overview/**/*']

area/process:
- changed-files:
  - any-glob-to-any-file: ['src/Designer/frontend/app-development/features/processEditor/**/*', 'src/Designer/frontend/packages/process-editor/**/*', 'src/Designer/backend/src/Designer/**/*ProcessesModeling*.cs']

area/resource-registry:
- changed-files:
  - any-glob-to-any-file: 'src/Designer/frontend/resourceadm/**/*'

area/settings:
- changed-files:
  - any-glob-to-any-file: 'src/Designer/frontend/app-development/layout/SettingsModalButton/**/*'

area/studio-root:
- changed-files:
  - any-glob-to-any-file: 'src/Designer/frontend/studio-root/**/*'

area/text-editor:
- changed-files:
  - any-glob-to-any-file: ['src/Designer/frontend/packages/text-editor/**', 'src/Designer/frontend/app-development/features/textEditor/**/*', 'src/Designer/backend/src/Designer/**/*Text*.cs']

area/ui-editor:
- changed-files:
  - any-glob-to-any-file: 'src/Designer/frontend/packages/ux-editor/**/*'

area/version-control:
- changed-files:
  - any-glob-to-any-file: 'src/Designer/frontend/packages/shared/src/components/GiteaHeader/**/*'

## Other labels
kind/dependencies:
- changed-files:
  - any-glob-to-any-file: ['src/Designer/backend/Directory.Packages.props', '**/package.json']

quality/testing:
- changed-files:
  - any-glob-to-any-file: ['src/Designer/frontend/testing/**/*', 'src/Designer/backend/tests/**/*', 'src/Designer/testdata/**/*']

skip-releasenotes:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.husky/**/*', '.vscode/**/*', '.yarn/**/*', 'src/Designer/testdata/**/*', 'src/Designer/development/**/*', 'src/**/*']

backend:
- changed-files:
  - any-glob-to-any-file: 'src/Designer/backend/**/*'

frontend:
- changed-files:
  - any-glob-to-any-file: 'src/Designer/frontend/**/*'

chore: pdf - improve logging with log/slog (#16788)
  src/Runtime/pdf3/cmd/proxy/main.go
  src/Runtime/pdf3/cmd/worker/main.go
  src/Runtime/pdf3/internal/assert/assert.go
  src/Runtime/pdf3/internal/browser/browser.go
  src/Runtime/pdf3/internal/cdp/transport.go
  src/Runtime/pdf3/internal/generator/browser_session.go
  src/Runtime/pdf3/internal/generator/generator.go
  src/Runtime/pdf3/internal/log/log.go
  src/Runtime/pdf3/internal/runtime/runtime.go
Labels: skip-releasenotes

update yaml/kustomize config to match new pattern
  infra/runtime/syncroot/base/kustomization.yaml
  infra/runtime/syncroot/base/operator.yaml
  src/Runtime/operator/config/local-minimal/kustomization.yaml
  src/Runtime/operator/config/local-syncroot-minimal/kustomization.yaml
  src/Runtime/operator/config/manager/kustomization.yaml
  src/Runtime/operator/config/manager/manager.yaml
Labels: skip-releasenotes

harness with integration with common test/fixture
  src/Runtime/operator/.gitignore
  src/Runtime/operator/Dockerfile
  src/Runtime/operator/Dockerfile.fakes
  src/Runtime/operator/cmd/tester/main.go
  src/Runtime/operator/go.mod
  src/Runtime/operator/mise.toml
  src/Runtime/operator/test/harness/harness.go
  src/Runtime/test/fixture/pkg/kubernetes/kubernetes.go
Labels: skip-releasenotes

wrap in list
  src/Designer/frontend/packages/ux-editor/src/components/config/Expressions/NewExpressionButton/NewExpressionButton.tsx
Labels: solution/studio/designer, area/ui-editor, skip-releasenotes, frontend

change api to fit the new studiodropdown api
  src/Designer/frontend/dashboard/components/RepoList/ActionLinks.tsx
  src/Designer/frontend/packages/schema-editor/src/components/AddPropertiesMenu/AddPropertiesMenu.tsx
  src/Designer/frontend/packages/schema-editor/src/components/NodePanel/HeadingRow/HeadingRow.tsx
  src/Designer/frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/ActionButtons/AddPropertyMenu.tsx
  src/Designer/frontend/packages/ux-editor-v3/src/components/config/Expressions/NewExpressionButton.tsx
  src/Designer/frontend/packages/ux-editor/src/components/config/Expressions/NewExpressionButton/NewExpressionButton.tsx
Labels: solution/studio/designer, area/dashboard, area/data-modeling, area/ui-editor, skip-releasenotes, frontend

add aria-label trigger button to studio dropdown props
  src/Designer/frontend/dashboard/components/RepoList/ActionLinks.test.tsx
  src/Designer/frontend/dashboard/components/RepoList/ActionLinks.tsx
  src/Designer/frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdown.tsx
Labels: solution/studio/designer, area/dashboard, skip-releasenotes, frontend

use studiodropdown button
  src/Designer/frontend/dashboard/components/RepoList/ActionLinks.tsx
Labels: solution/studio/designer, area/dashboard, skip-releasenotes, frontend

fix test aria roles and some minor changes from api changes
  src/Designer/frontend/dashboard/components/RepoList/ActionLinks.test.tsx
  src/Designer/frontend/dashboard/components/RepoList/ActionLinks.tsx
  src/Designer/frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdown.tsx
  src/Designer/frontend/packages/schema-editor/src/components/AddPropertiesMenu/AddPropertiesMenu.tsx
  src/Designer/frontend/packages/schema-editor/src/components/NodePanel/HeadingRow/HeadingRow.test.tsx
  src/Designer/frontend/packages/schema-editor/src/components/NodePanel/HeadingRow/HeadingRow.tsx
  src/Designer/frontend/packages/schema-editor/src/components/SchemaEditor/SchemaEditor.test.tsx
  src/Designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTab.test.tsx
  src/Designer/frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/SchemaNode.test.tsx
  src/Designer/frontend/packages/ux-editor-v3/src/components/config/Expressions/Expressions.test.tsx
  src/Designer/frontend/packages/ux-editor-v3/src/components/config/Expressions/NewExpressionButton.test.tsx
  src/Designer/frontend/packages/ux-editor/src/components/config/Expressions/Expressions.test.tsx
  src/Designer/frontend/packages/ux-editor/src/components/config/Expressions/NewExpressionButton/NewExpressionButton.test.tsx
  src/Designer/frontend/packages/ux-editor/src/components/config/Expressions/NewExpressionButton/NewExpressionButton.tsx
  src/Designer/frontend/testing/playwright/pages/DataModelPage.ts
  src/Designer/frontend/testing/playwright/tests/data-model/data-model.spec.ts
Labels: solution/studio/designer, area/dashboard, area/data-modeling, area/ui-editor, quality/testing, skip-releasenotes, frontend

remove unused import
  src/Designer/frontend/packages/schema-editor/src/components/AddPropertiesMenu/AddPropertiesMenu.tsx
Labels: solution/studio/designer, area/data-modeling, skip-releasenotes, frontend

remove old studiodropdown component
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioDropdownMenu/StudioDropdownMenu.stories.tsx
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioDropdownMenu/StudioDropdownMenu.test.tsx
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioDropdownMenu/StudioDropdownMenu.tsx
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioDropdownMenu/StudioDropdownMenuContext.ts
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioDropdownMenu/StudioDropdownMenuItem.module.css
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioDropdownMenu/StudioDropdownMenuItem.tsx
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioDropdownMenu/index.ts
  src/Designer/frontend/libs/studio-components-legacy/src/components/index.ts
Labels: solution/studio/designer, skip-releasenotes, frontend

playwright references
  src/Designer/frontend/testing/playwright/pages/DataModelPage.ts
Labels: solution/studio/designer, quality/testing, skip-releasenotes, frontend

make onItemClick not optional
  src/Designer/frontend/packages/schema-editor/src/components/AddPropertiesMenu/AddPropertiesMenu.tsx
Labels: solution/studio/designer, area/data-modeling, skip-releasenotes, frontend

fix(resource-adm): catch exception if failing to GET resource list in one environment (#16791)
  src/Designer/backend/src/Designer/Controllers/ResourceAdminController.cs
Labels: solution/studio/designer, skip-releasenotes, backend

fix pagination
  src/Designer/frontend/libs/studio-components/src/components/StudioTableRemotePagination/StudioPagination/StudioPagination.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend

add some tests
  src/Designer/frontend/libs/studio-components/src/components/StudioTableRemotePagination/StudioPagination/StudioPagination.test.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend
