Repository Altinn/altinn-studio, changes with the labels that .github/labeler.yml gives for each.
All labels: solution/platform, solution/app-backend, solution/app-frontend, solution/apps, solution/studio/designer, solution/studio/repos, area/api-expose, area/api-use, area/attachments, area/authentication, area/authorization, area/app-deploy, area/dashboard, area/data-storage, area/instantiation, area/language, area/printout, area/process, area/profile, area/receipt, area/register, area/events, area/ui-editor

single field validation
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationSagas.ts
Labels: solution/app-frontend

Feature/4552 event search api for parties (#5051)
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/PepWithPDPAuthorizationMockSI.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/EventsControllerTests.cs
Labels: solution/platform, area/events

ordering functionr esult
  src/Altinn.Platform/Altinn.Platform.Events/Events/Migration/v0.02/01-setup-functions.sql
Labels: solution/platform, area/events

made triggers optional
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/GenericComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/index.ts
Labels: solution/app-frontend

ordering functionr esult (#5056)
  src/Altinn.Platform/Altinn.Platform.Events/Events/Migration/v0.02/01-setup-functions.sql
Labels: solution/platform, area/events

now it's fully optional
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
Labels: solution/app-frontend

Added rudimentary element comments.
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Authorization/ScopeAccessHandler.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Clients/AuthorizationApiClient.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Constants/AltinnObligations.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Helpers/DecisionHelper.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Interfaces/IPDP.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Program.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Startup.cs
Labels: area/authorization

Added ProjectGuid for SonarCloud
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
Labels: area/authorization

Retrying a build with missing element descriptions in Program.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Program.cs
Labels: area/authorization

fixed pr comments
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppTemplates/react/altinn-app-frontend/src/types/index.ts
Labels: solution/app-backend, solution/app-frontend

Revert "Retrying a build with missing element descriptions in Program.cs"
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Program.cs
Labels: area/authorization

removed code smells
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationSagas.ts
Labels: solution/app-frontend

Tessting with missing element documentation in Program.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Program.cs
Labels: solution/platform, area/authentication

Fixed StyleCop in the PEP projects. Fixed all errors and a few warnings (#5052)
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Authorization/AppAccessHandler.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Authorization/ClaimAccessHandler.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Authorization/ClaimAccessRequirement.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Authorization/ScopeAccessHandler.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Clients/AuthorizationApiClient.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Constants/AltinnObligations.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Constants/AltinnXacmlUrns.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Helpers/DecisionHelper.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Implementation/PDPAppSI.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Interfaces/IPDP.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Models/EnforcementResult.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Program.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Startup.cs
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/AppAccessHandlerTest.cs
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/DecisionHelperTest.cs
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/GlobalSuppressions.cs
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/ScopeAccessHandlerTest.cs
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
Labels: area/authorization

more code smells
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationSagas.ts
Labels: solution/app-frontend

yield stuff not working
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationSagas.ts
Labels: solution/app-frontend

removed information panel linking to incorrect docs
  src/studio/src/designer/frontend/ux-editor/components/toolbar/InformationPanelComponent.tsx
Labels: solution/studio/designer, area/ui-editor

updated wait logic
  src/test/K6/src/tests/app/sirius.js
Labels: none

validation working
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/validationActionTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/validationActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/validationReducer.ts
Labels: solution/app-frontend

Update src/test/K6/src/api/app/process.js
  src/test/K6/src/api/app/process.js
Labels: none

updated test
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/containers/ProcessStep.test.tsx
Labels: solution/app-frontend

Test/sirius perf script (#5060)
  src/test/K6/src/api/app/data.js
  src/test/K6/src/api/app/process.js
  src/test/K6/src/api/storage/data.js
  src/test/K6/src/buildrequestheaders.js
  src/test/K6/src/data/sirius.xml
  src/test/K6/src/tests/app/sirius.js
Labels: none

updated more testdata
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/initialStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationSagas.ts
Labels: solution/app-frontend

removed unused imports
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationSagas.ts
Labels: solution/app-frontend

removed code smells
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationSagas.ts
Labels: solution/app-frontend

Removing logging to windows event log
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Program.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Program.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Program.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Program.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Program.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Program.cs
Labels: solution/platform, area/authentication, area/authorization, area/profile, area/receipt, area/register, area/events

removed code smells
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/validationActionTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/validationReducer.ts
Labels: solution/app-frontend

Updated
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/XsdToJsonSchemaTests.cs
Labels: solution/studio/designer

linking to docs
  src/studio/src/designer/frontend/ux-editor/components/toolbar/InformationPanelComponent.tsx
Labels: solution/studio/designer, area/ui-editor

Removing logging to windows event log (#5061)
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Program.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Program.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Program.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Program.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Program.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Program.cs
Labels: solution/platform, area/authentication, area/authorization, area/profile, area/receipt, area/register, area/events

removed unused parameter
  src/studio/src/designer/frontend/ux-editor/components/toolbar/InformationPanelComponent.tsx
Labels: solution/studio/designer, area/ui-editor

open in new tab
  src/studio/src/designer/frontend/ux-editor/components/toolbar/InformationPanelComponent.tsx
Labels: solution/studio/designer, area/ui-editor

removed code smell
  src/studio/src/designer/frontend/ux-editor/components/toolbar/InformationPanelComponent.tsx
Labels: solution/studio/designer, area/ui-editor

fall through to octet-stream if type not defined
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/attachments/upload/uploadAttachmentSagas.ts
Labels: solution/app-frontend, area/attachments

Update InformationPanelComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/toolbar/InformationPanelComponent.tsx
Labels: solution/studio/designer, area/ui-editor

reinstated deleted code
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
Labels: solution/platform, area/events

reinstated deleted code (#5069)
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
Labels: solution/platform, area/events

Improved solution after QA
  src/studio/src/designer/backend/Configuration/ServiceRepositorySettings.cs
  src/studio/src/designer/backend/Controllers/UIEditorController.cs
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
  src/studio/src/designer/backend/Services/Interfaces/IRepository.cs
  src/studio/src/designer/frontend/shared/types/index.d.ts
  src/studio/src/designer/frontend/ux-editor/actions/formDesignerActions/actions/fetchLayoutSettings/index.ts
  src/studio/src/designer/frontend/ux-editor/actions/formDesignerActions/actions/index.ts
  src/studio/src/designer/frontend/ux-editor/actions/formDesignerActions/actions/updateLayoutOrder/index.ts
  src/studio/src/designer/frontend/ux-editor/actions/formDesignerActions/formDesignerActionDispatcher.ts
  src/studio/src/designer/frontend/ux-editor/actions/formDesignerActions/formDesignerActionTypes.ts
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/SelectionEditComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/index.ts
  src/studio/src/designer/frontend/ux-editor/components/rightMenu/ConfirmModal.tsx
  src/studio/src/designer/frontend/ux-editor/components/rightMenu/PagesContainer.tsx
  src/studio/src/designer/frontend/ux-editor/components/rightMenu/RightMenu.tsx
  src/studio/src/designer/frontend/ux-editor/containers/FormDesigner.tsx
  src/studio/src/designer/frontend/ux-editor/reducers/formDesignerReducer/formLayoutReducer.ts
  src/studio/src/designer/frontend/ux-editor/sagas/formDesigner/formDesignerSagas.ts
  src/studio/src/designer/frontend/ux-editor/sagas/formDesigner/index.ts
  src/studio/src/designer/frontend/ux-editor/utils/language.ts
  src/studio/src/designer/frontend/ux-editor/utils/networking.ts
  src/studio/src/designer/frontend/ux-editor/utils/urlHelper.ts
Labels: solution/studio/designer, area/ui-editor

.github/labeler.yml:

# Labels for solutions

solution/platform:
  - 'src/Altinn.Platform/**/*'

solution/app-backend:
  - 'src/Altinn.Apps/AppTemplates/**/*'
  - 'src/studio/AppTemplates/**/*'

solution/app-frontend:
  - 'src/Altinn.Apps/AppFrontend/**/*'

solution/apps:
  - 'src/Altinn.Apps/KubernetesWrapper/**/*'

solution/studio/designer:
  - 'src/studio/src/designer/**/*'

solution/studio/repos:
  - 'src/studio/src/repositories/**/*'


# Labels for areas

area/api-expose:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/**/*'

area/api-use:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/**/*'

area/attachments:
  - 'src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/attachments/**/*'

area/authentication:
  - 'src/Altinn.Platform/Altinn.Platform.Authentication/**/*'
  - 'src/Altinn.Common/Authentication/**/*'

area/authorization:
  - 'src/Altinn.Platform/Altinn.Platform.Authorization/**/*'
  - 'src/Altinn.Common/Altinn.Common.AccessToken/**/*'
  - 'src/Altinn.Common/Altinn.Common.PEP/**/*'
  - 'src/Altinn.Platform/Altinn.Platform.Models/Models/Authorization/**/*'

area/app-deploy:
  - 'src/studio/src/designer/frontend/app-development/features/appPublish/**/*'
  - 'src/studio/src/designer/frontend/app-development/sharedResources/appDeployment/**/*'
  - 'src/studio/src/designer/backend/Controllers/DeploymentsController.cs'
  - 'src/Altinn.Apps/AppTemplates/AspNet/deployment/**/*'
  - 'src/studio/AppTemplates/AspNet/deployment/**/*'

area/dashboard:
  - 'src/studio/src/designer/frontend/dashboard/**/*'

area/data-storage:
  - 'src/Altinn.Platform/Altinn.Platform.Storage/**/*'

area/instantiation:
  - 'src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/**/*'

area/language:
  - 'src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/language/**/*'
  - 'src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/textResources/**/*'

area/printout:
  - 'src/Altinn.Platform/Altinn.Platform.PDF/**/*'

area/process:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Process/**/*'
  - 'src/Altinn.Apps/AppTemplates/AspNet/App/config/process/**/*'

area/profile:
  - 'src/Altinn.Platform/Altinn.Platform.Profile/**/*'
  - 'src/Altinn.Platform/Altinn.Platform.Models/Models/Profile/**/*'

area/receipt:
  - 'src/Altinn.Platform/Altinn.Platform.Receipt/**/*'
  - 'src/Altinn.Apps/AppFrontend/react/receipt/**/*'
  - 'src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/receipt/**/*'

area/register:
  - 'src/Altinn.Platform/Altinn.Platform.Register/**/*'
  - 'src/Altinn.Platform/Altinn.Platform.Models/Models/Register/**/*'

area/events:
  - 'src/Altinn.Platform/Altinn.Platform.Events/**/*'

area/ui-editor:
  - 'src/studio/src/designer/frontend/ux-editor/**/*'
