Repository Altinn/altinn-studio, changes with the labels that .github/labeler.yml gives for each.
All labels: solution/platform, solution/app-backend, solution/apps, solution/studio/designer, solution/studio/repos, area/api-expose, area/api-use, area/authorization, area/app-deploy, area/dashboard, area/pdf, area/process, area/ui-editor, area/test

List component: Cypress test for search/mapping feature (#843)
  test/e2e/integration/app-frontend/list-component.ts
  test/e2e/pageobjects/datalist.ts
Labels: none

change group title from `p` to `h2` (#848)
  src/features/form/containers/DisplayGroupContainer.tsx
Labels: none

9608 deploy page crashes
  frontend/app-development/features/appPublish/components/appDeploymentComponent.module.css
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
  frontend/app-development/features/appPublish/components/deploy/DeployDropdown.module.css
  frontend/app-development/features/appPublish/components/deploy/DeployDropdown.tsx
  frontend/app-development/features/appPublish/components/deploy/ErrorMessage.module.css
  frontend/app-development/features/appPublish/components/deploy/ErrorMessage.tsx
  frontend/app-development/features/appPublish/components/deploy/utils.ts
  frontend/packages/shared/src/utils/language.ts
Labels: area/app-deploy

Chore/fix readme about what the script does (#9617)
  README.md
  development/README.md
  docs/ABOUT.md
Labels: none

9608 deploy page crashes
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
Labels: area/app-deploy

should not delete the component from state before deleteFormComponentsSaga method is executed
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSlice.ts
Labels: area/ui-editor

Cleanup after #9567 LocalTest Party selector
  src/development/LocalTest/Controllers/HomeController.cs
  src/development/LocalTest/Services/TestData/AppTestDataModel.cs
Labels: none

9608 deploy page crashes (#9634)
  frontend/app-development/features/appPublish/components/appDeploymentComponent.module.css
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
  frontend/app-development/features/appPublish/components/deploy/DeployDropdown.module.css
  frontend/app-development/features/appPublish/components/deploy/DeployDropdown.tsx
  frontend/app-development/features/appPublish/components/deploy/ErrorMessage.module.css
  frontend/app-development/features/appPublish/components/deploy/ErrorMessage.tsx
  frontend/app-development/features/appPublish/components/deploy/utils.ts
  frontend/packages/shared/src/utils/language.ts
Labels: area/app-deploy

chore/debug font issue
  frontend/packages/ux-editor/.depcheckrc.json
  frontend/packages/ux-editor/package.json
  frontend/packages/ux-editor/src/styles/index.css
  frontend/yarn.lock
Labels: area/ui-editor

chore/debug font issue (#9639)
  frontend/packages/ux-editor/.depcheckrc.json
  frontend/packages/ux-editor/package.json
  frontend/packages/ux-editor/src/styles/index.css
  frontend/yarn.lock
Labels: area/ui-editor

9580 altinn studio repair outdated cypress tests
  frontend/.eslintrc.json
  frontend/testing/.eslintignore
  frontend/testing/cypress/cypress.config.js
  frontend/testing/cypress/src/integration/setup/after.js
  frontend/testing/cypress/src/integration/setup/before.js
  frontend/testing/cypress/src/integration/studio/dashboard.js
  frontend/testing/cypress/src/integration/usecase/usecase.js
  frontend/testing/cypress/src/support/studio.js
Labels: none

9580 altinn studio repair outdated cypress tests
  frontend/testing/cypress/src/integration/studio/dashboard.js
  frontend/testing/cypress/src/integration/studio/deploy.js
  frontend/testing/cypress/src/integration/studio/designer.js
  frontend/testing/cypress/src/integration/studio/sync-app.js
  frontend/testing/cypress/src/pageobjects/common.js
Labels: none

9580 altinn studio repair outdated cypress tests
  src/development/loadbalancer/502Receipt.html
Labels: none

9580 altinn studio repair outdated cypress tests
  frontend/testing/cypress/src/integration/studio/dashboard.js
  frontend/testing/cypress/src/integration/studio/new-app.js
  frontend/testing/cypress/src/support/gitea-api.js
Labels: none

9580 altinn studio repair outdated cypress tests
  development/setup.js
  frontend/testing/cypress/config/local.json
  frontend/testing/cypress/package.json
  frontend/testing/cypress/src/integration/studio/dashboard.js
  frontend/testing/cypress/src/support/gitea-api.js
  frontend/yarn.lock
Labels: none

9580 altinn studio repair outdated cypress tests
  frontend/app-development/features/administration/components/MainContent.tsx
  frontend/packages/ux-editor/src/components/leftMenu/LeftMenu.tsx
  frontend/packages/ux-editor/src/components/rightMenu/RightMenu.tsx
  frontend/testing/cypress/src/integration/studio/designer.js
  frontend/testing/cypress/src/integration/studio/sync-app.js
  frontend/testing/cypress/src/pageobjects/common.js
  frontend/testing/cypress/src/pageobjects/designer.js
  frontend/testing/cypress/src/support/studio.js
Labels: area/ui-editor

9580 altinn studio repair outdated cypress tests
  frontend/testing/cypress/src/integration/studio/dashboard.js
  frontend/testing/cypress/src/integration/studio/deploy.js
  frontend/testing/cypress/src/integration/studio/new-app.js
  frontend/testing/cypress/src/support/gitea-api.js
Labels: none

should not delete the component from state before deleteFormComponentsSaga method is executed (#9637)
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSlice.ts
Labels: area/ui-editor

.github/labeler.yml:

# Labels for solutions

solution/platform:
  - 'src/Altinn.Platform/**/*'

solution/app-backend:
  - 'src/Altinn.Apps/AppTemplates/**/*'
  - 'src/studio/AppTemplates/**/*'

solution/apps:
  - 'src/Altinn.Apps/KubernetesWrapper/**/*'

solution/studio/designer:
  - 'backend/**/*'

solution/studio/repos:
  - 'gitea/**/*'

# Labels for areas

area/api-expose:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/**/*'

area/api-use:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/**/*'

area/authorization:
  - 'src/Altinn.Common/Altinn.Common.AccessToken/**/*'
  - 'src/Altinn.Common/Altinn.Common.PEP/**/*'

area/app-deploy:
  - 'frontend/app-development/features/appPublish/**/*'
  - 'frontend/app-development/sharedResources/appDeployment/**/*'
  - 'backend/src/Designer/Controllers/DeploymentsController.cs'
  - 'src/Altinn.Apps/AppTemplates/AspNet/deployment/**/*'
  - 'src/studio/AppTemplates/AspNet/deployment/**/*'

area/dashboard:
  - 'frontend/dashboard/**/*'

area/pdf:
  - 'src/Altinn.Platform/Altinn.Platform.PDF/**/*'

area/process:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Process/**/*'
  - 'src/Altinn.Apps/AppTemplates/AspNet/App/config/process/**/*'

area/ui-editor:
  - 'frontend/packages/ux-editor/**/*'

area/test:
  - 'src/test/**/*'
