Repository Altinn/altinn-studio, changes with the labels that .github/labeler.yml gives for each.
All labels: solution/platform, solution/app-backend, solution/apps, solution/studio/designer, solution/studio/repos, area/api-expose, area/api-use, area/authorization, area/app-deploy, area/dashboard, area/pdf, area/process, area/ui-editor, area/test

.github/labeler.yml:

# Labels for solutions

solution/platform:
  - 'src/Altinn.Platform/**/*'

solution/app-backend:
  - 'src/Altinn.Apps/AppTemplates/**/*'
  - 'src/studio/AppTemplates/**/*'

solution/apps:
  - 'src/Altinn.Apps/KubernetesWrapper/**/*'

solution/studio/designer:
  - 'backend/**/*'

solution/studio/repos:
  - 'gitea/**/*'

# Labels for areas

area/api-expose:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/**/*'

area/api-use:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/**/*'

area/authorization:
  - 'src/Altinn.Common/Altinn.Common.AccessToken/**/*'
  - 'src/Altinn.Common/Altinn.Common.PEP/**/*'

area/app-deploy:
  - 'frontend/app-development/features/appPublish/**/*'
  - 'frontend/app-development/sharedResources/appDeployment/**/*'
  - 'backend/src/Designer/Controllers/DeploymentsController.cs'
  - 'src/Altinn.Apps/AppTemplates/AspNet/deployment/**/*'
  - 'src/studio/AppTemplates/AspNet/deployment/**/*'

area/dashboard:
  - 'frontend/dashboard/**/*'

area/pdf:
  - 'src/Altinn.Platform/Altinn.Platform.PDF/**/*'

area/process:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Process/**/*'
  - 'src/Altinn.Apps/AppTemplates/AspNet/App/config/process/**/*'

area/ui-editor:
  - 'frontend/packages/ux-editor/**/*'

area/test:
  - 'src/test/**/*'

Fix partyId for new TestData users (#9565)
  src/development/TestData/authorization/partylist/1001.json
  src/development/TestData/authorization/partylist/1002.json
  src/development/TestData/authorization/partylist/1003.json
Labels: none

1501 help tooltip found in the ui editor has some design flaws (#9609)
  frontend/packages/ux-editor/src/components/toolbar/InformationPanelComponent.module.css
  frontend/packages/ux-editor/src/components/toolbar/InformationPanelComponent.tsx
Labels: area/ui-editor

Increase DX by typesafe useText-hook to ensure developers use only available translation keys. (#9607)
  frontend/language/type.ts
  frontend/packages/shared/src/types/language.ts
  frontend/packages/ux-editor/src/hooks/useText.ts
Labels: area/ui-editor

Make sure to delete the only selected option and not all
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
Labels: area/ui-editor

Add functionality to select the party you want to represent in LocalTest (#9567)
  src/Controllers/HomeController.cs
  src/Models/StartAppModel.cs
  src/Views/Home/Index.cshtml
Labels: none

Add functionality to select the party you want to represent in LocalTest (#9567)
  src/development/LocalTest/Controllers/HomeController.cs
  src/development/LocalTest/Models/StartAppModel.cs
  src/development/LocalTest/Views/Home/Index.cshtml
Labels: none

added test data for authorization local test (#9597)
  TestData/authorization/resources/Appid_400.json
  TestData/authorization/resources/Appid_401.json
  TestData/authorization/resources/Appid_402.json
  TestData/authorization/resources/Appid_403.json
Labels: none

added test data for authorization local test (#9597)
  src/development/TestData/authorization/resources/Appid_400.json
  src/development/TestData/authorization/resources/Appid_401.json
  src/development/TestData/authorization/resources/Appid_402.json
  src/development/TestData/authorization/resources/Appid_403.json
Labels: none

Make sure to delete the only selected option and not all (#9610)
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
Labels: area/ui-editor

moving metadata conversion
  backend/src/DataModeling/Converter/Metadata/JsonSchemaToMetamodelConverter.cs
  backend/src/DataModeling/Converter/Metadata/KeywordProcessedEventArgs.cs
  backend/src/DataModeling/Converter/Metadata/MetamodelRestrictionUtils.cs
  backend/src/DataModeling/Converter/Metadata/SubSchemaProcessedEventArgs.cs
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/PutDatamodelTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/BaseClasses/CsharpModelConversionTestsBase.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/JsonSchema2Metadata2CSharpTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/JsonSchemaToMetamodelConverterTests.cs
Labels: solution/studio/designer

small refac on language
  frontend/language/src/en.json
  frontend/language/src/nb.json
Labels: none

needed changes due the refac within nb/en.json
  frontend/packages/shared/src/features/dataModelling/components/DeleteWrapper.tsx
  frontend/packages/ux-editor/src/components/config/ConditionalRenderingComponent.tsx
  frontend/packages/ux-editor/src/components/config/RuleComponent.tsx
Labels: area/ui-editor

make sure the datamodel label is connected to the input-field
  frontend/packages/ux-editor/src/components/config/SelectDataModelComponent.tsx
  frontend/packages/ux-editor/src/utils/render.tsx
Labels: area/ui-editor

added aria-label to icon buttons and swap test-id with button name to query the buttons to make sure they are accessibile
  frontend/packages/ux-editor/src/containers/EditContainer.test.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
Labels: area/ui-editor

init old datamodeling cleanup
  backend/packagegroups/NuGet.props
  backend/src/Designer/Controllers/DatamodelsController.cs
  backend/src/Designer/Controllers/ModelController.cs
  backend/src/Designer/Designer.csproj
  backend/src/Designer/Factories/ModelFactory/JsonSchemaToInstanceModelGenerator.cs
  backend/src/Designer/Factories/ModelFactory/JsonSchemaToXsd.cs
  backend/src/Designer/Factories/ModelFactory/Manatee.Json/FluentBuilderInfoExtension.cs
  backend/src/Designer/Factories/ModelFactory/Manatee.Json/FluentBuilderTextsExtension.cs
  backend/src/Designer/Factories/ModelFactory/Manatee.Json/FormatValidators/TimeFormatValidator.cs
  backend/src/Designer/Factories/ModelFactory/Manatee.Json/FormatValidators/YearFormatValidator.cs
  backend/src/Designer/Factories/ModelFactory/Manatee.Json/FormatValidators/YearMonthFormatValidator.cs
  backend/src/Designer/Factories/ModelFactory/Manatee.Json/InfoKeyword.cs
  backend/src/Designer/Factories/ModelFactory/Manatee.Json/TextsKeyword.cs
  backend/src/Designer/Factories/ModelFactory/XsdToJsonSchema.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/src/Designer/Services/Interfaces/ISchemaModelService.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/GetDatamodelTests.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/PutDatamodelTests.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/UploadTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/BaseClasses/CsharpModelConversionTestsBase.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/BaseClasses/CsharpModelOldConversionTestsBase.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/CsharpEnd2EndGenerationTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/CustomXsd2JsonSchemaTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/JsonSchema2Metadata2CSharpTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/JsonSchemaToInstanceModelGeneratorTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/JsonSchemaToMetamodelConverterTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/TwoWayXsdToJsonSchemaConversionTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/XsdToCSharpTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/XsdToJsonSchemaTests.cs
  backend/tests/Designer.Tests/Services/SchemaModelServiceTests.cs
  backend/tests/Designer.Tests/Utils/TestDataHelper.cs
Labels: solution/studio/designer

take inputId as props instead
  frontend/packages/ux-editor/src/components/config/SelectDataModelComponent.tsx
  frontend/packages/ux-editor/src/utils/render.tsx
Labels: area/ui-editor

make sure the label is unique
  frontend/packages/ux-editor/src/utils/render.tsx
Labels: area/ui-editor

Fixed mismatch between htmlFor and select inputId. Changed id to be inputId
  frontend/packages/ux-editor/src/components/config/editModal/EditHeaderSize.tsx
Labels: area/ui-editor

Found more buttons that needed to be accessibile
  frontend/packages/text-editor/src/TextRow.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.tsx
  frontend/packages/ux-editor/src/containers/Container.tsx
Labels: area/ui-editor

Add missing languages in cultures.json
  backend/src/Designer/wwwroot/designer/json/cultures.json
Labels: solution/studio/designer

PR-feedbacks
  frontend/language/src/nb.json
  frontend/packages/text-editor/src/TextRow.tsx
  frontend/packages/ux-editor/src/components/config/ConditionalRenderingComponent.tsx
  frontend/packages/ux-editor/src/components/config/RuleComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.tsx
  frontend/packages/ux-editor/src/containers/Container.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
Labels: area/ui-editor

changed double-quote to single quite
  frontend/packages/ux-editor/src/containers/Container.tsx
Labels: area/ui-editor

Make sure icon buttons and input field are accessible! (#9613)
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/features/dataModelling/components/DeleteWrapper.tsx
  frontend/packages/text-editor/src/TextRow.tsx
  frontend/packages/ux-editor/src/components/config/SelectDataModelComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditHeaderSize.tsx
  frontend/packages/ux-editor/src/containers/Container.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.test.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
  frontend/packages/ux-editor/src/utils/render.tsx
Labels: area/ui-editor

move restriction tests
  backend/tests/DataModeling.Tests/CsharpEnd2EndGenerationTests.cs
  backend/tests/DataModeling.Tests/TestDataClasses/CSharpE2ERestrictionsTestData.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/CsharpEnd2EndGenerationTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/DataClasses/CSharpE2ERestrictionsTestData.cs
Labels: solution/studio/designer

Update backend/src/Designer/wwwroot/designer/json/cultures.json
  backend/src/Designer/wwwroot/designer/json/cultures.json
Labels: solution/studio/designer

Update backend/src/Designer/wwwroot/designer/json/cultures.json
  backend/src/Designer/wwwroot/designer/json/cultures.json
Labels: solution/studio/designer

Update backend/src/Designer/wwwroot/designer/json/cultures.json
  backend/src/Designer/wwwroot/designer/json/cultures.json
Labels: solution/studio/designer

Include only test data that are used
  backend/tests/SharedResources.Tests/SharedResources.Tests.csproj
Labels: solution/studio/designer

Add missing languages in cultures.json (#9614)
  backend/src/Designer/wwwroot/designer/json/cultures.json
Labels: solution/studio/designer

Resource Registry PRP
  src/development/LocalTest/Configuration/LocalPlatformSettings.cs
  src/development/LocalTest/Constants/Authorization/XacmlRequestAttribute.cs
  src/development/LocalTest/Services/Authorization/Implementation/PolicyRetrievalPoint.cs
  src/development/TestData/authorization/resources/policies/altinn_maskinporten_scope_delegation.xml
Labels: none

Upgrading design system to 0.26.1 (#846)
  package.json
  yarn.lock
Labels: none

versions to props file
  backend/packagegroups/NuGet.props
  backend/tests/SharedResources.Tests/SharedResources.Tests.csproj
Labels: solution/studio/designer

chore/fix readme about what the script does
  README.md
  docs/ABOUT.md
Labels: none

chore/fix readme about what the script does
  README.md
Labels: none

chore/fix readme about what the script does
  README.md
Labels: none

Fixes to make old PDF generator work again
  App/ui/datalist/layouts/formLayout.json
Labels: none

chore/fix readme about what the script does
  README.md
  development/README.md
Labels: none

chore/changes to setup from working branch
  development/data/gitea-teams.json
  development/setup.js
  development/utils/create-cypress-env-file.js
  development/utils/ensure-dot-env.js
  development/utils/git-commit-hash.js
  development/utils/run-command.js
  docker-compose.yml
Labels: none

Update README.md
  README.md
Labels: none

chore/changes to setup from working branch (#9618)
  development/data/gitea-teams.json
  development/setup.js
  development/utils/create-cypress-env-file.js
  development/utils/ensure-dot-env.js
  development/utils/git-commit-hash.js
  development/utils/run-command.js
  docker-compose.yml
Labels: none
