Repository Altinn/altinn-studio, changes with the labels that .github/labeler.yml gives for each.
All labels: solution/platform, solution/app-backend, solution/apps, solution/studio/designer, solution/studio/repos, area/api-expose, area/api-use, area/authorization, area/app-deploy, area/dashboard, area/pdf, area/process, area/ui-editor, area/test

Mark persons from testUsers.json with missing ssn as selfIdentified
  src/development/LocalTest/Services/TestData/AppTestDataModel.cs
Labels: none

Created simple validation utils
  frontend/packages/ux-editor/src/utils/validationUtils/validationUtils.test.ts
  frontend/packages/ux-editor/src/utils/validationUtils/validationUtils.ts
Labels: area/ui-editor

Created a validation-hook to simplify validation within the TextFieldWithValidation component
  frontend/packages/ux-editor/src/hooks/useValidation/useValidation.test.ts
  frontend/packages/ux-editor/src/hooks/useValidation/useValidation.ts
Labels: area/ui-editor

Set default action in ModelController route to Index (#9531)
  backend/src/Designer/Controllers/ModelController.cs
Labels: solution/studio/designer

renovate/npm minor patch
  frontend/yarn.lock
Labels: none

updated useValidation to return error from validate method
  frontend/packages/ux-editor/src/hooks/useValidation/useValidation.ts
Labels: area/ui-editor

Added barrel to re-export hook
  frontend/packages/ux-editor/src/hooks/useValidation/index.ts
Labels: area/ui-editor

Created TextFieldWithValidationComponent to be able to validate fields within studio
  frontend/packages/ux-editor/src/components/TextFieldWithValidation/TextFieldWithValidation.module.css
  frontend/packages/ux-editor/src/components/TextFieldWithValidation/TextFieldWithValidation.test.tsx
  frontend/packages/ux-editor/src/components/TextFieldWithValidation/TextFieldWithValidation.tsx
  frontend/packages/ux-editor/src/components/TextFieldWithValidation/index.ts
Labels: area/ui-editor

created barrel file to re-export ValidationType and validate method
  frontend/packages/ux-editor/src/utils/validationUtils/index.ts
Labels: area/ui-editor

Updated test description
  frontend/packages/ux-editor/src/components/TextFieldWithValidation/TextFieldWithValidation.test.tsx
Labels: area/ui-editor

Add support for new pdf service in localtest (#9459)
  src/development/docker-compose.yml
  src/development/loadbalancer/nginx.conf
Labels: none

Add support for new pdf service in localtest (#9459)
  docker-compose.yml
  loadbalancer/nginx.conf
Labels: none

chore/clean up legacy postman tests
  src/test/Postman/.gitignore
  src/test/Postman/README.md
  src/test/Postman/altinn3.postman_environment.json
  src/test/Postman/collections/App.postman_collection.json
  src/test/Postman/collections/Local-Test.postman_collection.json
  src/test/Postman/collections/Negative_Tests_Storage_and_App.postman_collection.json
  src/test/Postman/collections/Organization.postman_collection.json
  src/test/Postman/collections/Platform.postman_collection.json
  src/test/Postman/collections/Storage.postman_collection.json
Labels: area/test

9528 clone in altinn studio does not work
  frontend/packages/shared/src/version-control/CloneModal.tsx
Labels: none

add dialog for new text editor
  frontend/app-development/features/textEditor/TextEditor.module.css
  frontend/app-development/features/textEditor/TextEditor.tsx
  frontend/app-development/features/textEditor/index.ts
  frontend/language/src/en.json
  frontend/language/src/nb.json
Labels: none

updated paths from old text-edior to new
  frontend/app-development/config/routes.tsx
  frontend/app-development/layout/AppBar/appBarConfig.ts
  frontend/packages/shared/src/navigation/drawer/drawerMenuSettings.ts
Labels: none

Update frontend/packages/shared/src/version-control/CloneModal.tsx
  frontend/packages/shared/src/version-control/CloneModal.tsx
Labels: none

Update frontend/packages/shared/src/version-control/CloneModal.tsx
  frontend/packages/shared/src/version-control/CloneModal.tsx
Labels: none

Make sure that valueAsNumber allows empty string if field is not required
  frontend/packages/ux-editor/src/utils/validationUtils/validationUtils.test.ts
  frontend/packages/ux-editor/src/utils/validationUtils/validationUtils.ts
Labels: area/ui-editor

Make sure that validation is required when using TextFieldValidation
  frontend/packages/ux-editor/src/components/TextFieldWithValidation/TextFieldWithValidation.tsx
Labels: area/ui-editor

First draft of MapComponent to be able to use map within Studio
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.module.css
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.tsx
Labels: area/ui-editor

Added needed language properties
  frontend/language/src/en.json
  frontend/language/src/nb.json
Labels: none

Created MapComponent type and added it to FormComponentType
  frontend/packages/ux-editor/src/types/global.ts
Labels: area/ui-editor

Mark persons from testUsers.json with missing ssn as selfIdentified (#9534)
  src/Services/TestData/AppTestDataModel.cs
Labels: none

Mark persons from testUsers.json with missing ssn as selfIdentified (#9534)
  src/development/LocalTest/Services/TestData/AppTestDataModel.cs
Labels: none

Provided MapComponent to ComponentSpecificContent
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
Labels: area/ui-editor

Added ReadOnly support for Map within studio
  frontend/packages/ux-editor/src/components/config/componentConfig.ts
Labels: area/ui-editor

chore: removing style cops
  backend/Designer.sln
  backend/src/DataModeling/DataModeling.csproj
  backend/src/Designer/Designer.csproj
  backend/tests/DataModeling.Tests/DataModeling.Tests.csproj
  backend/tests/Designer.Tests/Designer.Tests.csproj
Labels: solution/studio/designer

Fixed typo in key to show "Calculations" text
  frontend/language/src/en.json
  frontend/language/src/nb.json
Labels: none

Update frontend/packages/shared/src/version-control/CloneModal.tsx
  frontend/packages/shared/src/version-control/CloneModal.tsx
Labels: none

Renovate/npm minor patch (#9533)
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/shared/package.json
  frontend/packages/text-editor/package.json
  frontend/packages/ux-editor/package.json
  frontend/yarn.lock
  src/test/K6/package.json
  src/test/K6/yarn.lock
  src/test/cypress/package.json
  src/test/cypress/yarn.lock
Labels: area/dashboard, area/ui-editor, area/test

chore/prepare cypress setup
  frontend/.gitignore
  frontend/stats.js
Labels: none

chore/prepare cypress setup
  development/setup.js
  frontend/dashboard/features/createService/ServiceOwnerSelector.tsx
  src/test/cypress/e2e/integration/usecase/usecase.js
  src/test/cypress/e2e/support/gitea-api.js
  src/test/cypress/package.json
Labels: area/dashboard, area/test

chore/prepare cypress setup
  development/setup.js
  development/utils/ensure-dot-env.js
  development/utils/run-command.js
  docker-compose.yml
Labels: none

chore/prepare cypress setup
  development/README.md
  development/setup.js
  development/utils/gitea-api.js
  development/utils/run-command.js
  development/utils/wait-for.js
Labels: none

chore/prepare cypress setup
  docker-compose.yml
  frontend/cypress/README.md
Labels: none

chore/prepare cypress setup
  development/README.md
  development/setup.js
  docker-compose.yml
  frontend/cypress/README.md
Labels: none

chore/prepare cypress setup
  development/setup.js
Labels: none

chore/prepare cypress setup
  development/designerdb/init.sql
  docker-compose.yml
  frontend/dashboard/features/createService/ServiceOwnerSelector.tsx
  frontend/packages/shared/src/components/AltinnDropdown.module.css
  frontend/packages/shared/src/components/AltinnDropdown.test.tsx
  frontend/packages/shared/src/components/AltinnDropdown.tsx
  src/test/cypress/e2e/pageobjects/dashboard.js
  src/test/cypress/e2e/support/studio.js
Labels: area/dashboard, area/test

chore/prepare cypress setup
  development/setup.js
Labels: none

.github/labeler.yml:

# Labels for solutions

solution/platform:
  - 'src/Altinn.Platform/**/*'

solution/app-backend:
  - 'src/Altinn.Apps/AppTemplates/**/*'
  - 'src/studio/AppTemplates/**/*'

solution/apps:
  - 'src/Altinn.Apps/KubernetesWrapper/**/*'

solution/studio/designer:
  - 'backend/**/*'

solution/studio/repos:
  - 'gitea/**/*'

# Labels for areas

area/api-expose:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/**/*'

area/api-use:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/**/*'

area/authorization:
  - 'src/Altinn.Common/Altinn.Common.AccessToken/**/*'
  - 'src/Altinn.Common/Altinn.Common.PEP/**/*'

area/app-deploy:
  - 'frontend/app-development/features/appPublish/**/*'
  - 'frontend/app-development/sharedResources/appDeployment/**/*'
  - 'backend/src/Designer/Controllers/DeploymentsController.cs'
  - 'src/Altinn.Apps/AppTemplates/AspNet/deployment/**/*'
  - 'src/studio/AppTemplates/AspNet/deployment/**/*'

area/dashboard:
  - 'frontend/dashboard/**/*'

area/pdf:
  - 'src/Altinn.Platform/Altinn.Platform.PDF/**/*'

area/process:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Process/**/*'
  - 'src/Altinn.Apps/AppTemplates/AspNet/App/config/process/**/*'

area/ui-editor:
  - 'frontend/packages/ux-editor/**/*'

area/test:
  - 'src/test/**/*'
