Repository Altinn/altinn-studio, changes with the labels that .github/labeler.yml gives for each.
All labels: solution/platform, solution/app-backend, solution/apps, solution/studio/designer, solution/studio/repos, area/app-deploy, area/dashboard, area/data-modeling, area/pdf, area/process, area/ui-editor, area/test, area/text-editor

.github/labeler.yml:

# Labels for solutions

solution/platform:
  - 'src/Altinn.Platform/**/*'

solution/app-backend:
  - 'src/Altinn.Apps/AppTemplates/**/*'
  - 'src/studio/AppTemplates/**/*'

solution/apps:
  - 'src/Altinn.Apps/KubernetesWrapper/**/*'

solution/studio/designer:
  - 'backend/**/*'
  - 'frontend/**/*'

solution/studio/repos:
  - 'gitea/**/*'

# Labels for areas

area/app-deploy:
  - 'frontend/app-development/features/appPublish/**/*'
  - 'frontend/app-development/sharedResources/appDeployment/**/*'
  - 'backend/src/Designer/Controllers/DeploymentsController.cs'
  - 'src/Altinn.Apps/AppTemplates/AspNet/deployment/**/*'
  - 'src/studio/AppTemplates/AspNet/deployment/**/*'

area/dashboard:
  - 'frontend/dashboard/**/*'

area/data-modeling:
  - 'frontend/packages/schema-editor/**/*'
  - 'frontend/packages/schema-model/**/*'
  - 'backend/src/DataModeling/**/*'

area/pdf:
  - 'src/Altinn.Platform/Altinn.Platform.PDF/**/*'

area/process:
  - 'src/Altinn.Apps/AppTemplates/ProcessTemplates/**/*'

area/ui-editor:
  - 'frontend/packages/ux-editor/**/*'

area/test:
  - 'src/test/**/*'

area/text-editor:
  - 'frontend/packages/text-editor/**'
  - 'frontend/app-development/features/textEditor/**/*'

Use more relaxed Json parsing in AppResourcesSi.cs (#175)
  src/Altinn.App.Core/Features/PageOrder/DefaultPageOrder.cs
  src/Altinn.App.Core/Implementation/AppResourcesSI.cs
Labels: none

9583 as an app developer i need to be able to add an auto complete attribute to our inputs so our app is accessible (#9680)
  development/README.md
  development/load-balancer/502App.html
  development/load-balancer/502LocalTest.html
  development/load-balancer/nginx.conf.conf
  development/utils/ensure-dot-env.js
  docker-compose.yml
  frontend/packages/shared/src/navigation/drawer/LeftDrawerMenu.module.css
  frontend/packages/ux-editor/src/components/config/EditModalContent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentConfig.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.tsx
Labels: solution/studio/designer, area/ui-editor

Expression schema: Fixing overlapping type reference (#877)
  schemas/json/layout/expression.schema.v1.json
Labels: none

Paragraphs were shown as empty fields in summary (#875)
  src/components/summary/SummaryComponent.tsx
  src/components/summary/SummaryComponentSwitch.tsx
  src/components/summary/SummaryGroupComponent.tsx
  src/features/pdf/AutomaticPDFLayout.tsx
  src/features/pdf/CustomPDFLayout.tsx
  src/layout/AttachmentList/index.tsx
  src/layout/Button/index.tsx
  src/layout/Header/HeaderSummary.tsx
  src/layout/Header/index.tsx
  src/layout/Image/index.tsx
  src/layout/InstanceInformation/index.tsx
  src/layout/InstantiationButton/index.tsx
  src/layout/LayoutComponent.ts
  src/layout/NavigationBar/index.tsx
  src/layout/NavigationButtons/index.tsx
  src/layout/Panel/index.tsx
  src/layout/Paragraph/index.tsx
  src/layout/PrintButton/index.tsx
  src/layout/index.ts
Labels: none

import useCallback
  frontend/packages/schema-editor/src/components/SchemaInspector.tsx
Labels: solution/studio/designer, area/data-modeling

Removed message "This area is under development" (#9736)
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/components/SchemaInspector.tsx
Labels: solution/studio/designer, area/data-modeling

PR-feedback
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
Labels: solution/studio/designer, area/data-modeling

3014 url to app is shown for app when its not deployed
  frontend/app-development/features/appPublish/components/appDeploymentComponent.module.css
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
Labels: solution/studio/designer, area/app-deploy

use correct pseudo-class
  src/index.css
Labels: none

Make sure to not render 0 when no fields exists (#9737)
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
Labels: solution/studio/designer, area/data-modeling

3014 url to app is shown for app when its not deployed (#9754)
  frontend/app-development/features/appPublish/components/appDeploymentComponent.module.css
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
Labels: solution/studio/designer, area/app-deploy

9696 deploy fonts are schuffed after bootstrap removal
  frontend/app-development/features/appPublish/components/appReleaseComponent.module.css
  frontend/app-development/features/appPublish/containers/releaseContainer.module.css
Labels: solution/studio/designer, area/app-deploy

Fix size of text resource buttons
  frontend/packages/ux-editor/src/components/AddOption.module.css
  frontend/packages/ux-editor/src/components/TextResource.module.css
  frontend/packages/ux-editor/src/components/TextResource.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.module.css
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.module.css
Labels: solution/studio/designer, area/ui-editor

2930 bygg button is clickable even when an invalid version number is entered
  frontend/app-development/features/appPublish/components/createAppReleaseComponent.tsx
Labels: solution/studio/designer, area/app-deploy

Fix size of text resource buttons (#9756)
  frontend/packages/ux-editor/src/components/AddOption.module.css
  frontend/packages/ux-editor/src/components/TextResource.module.css
  frontend/packages/ux-editor/src/components/TextResource.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.module.css
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.module.css
Labels: solution/studio/designer, area/ui-editor

9696 deploy fonts are schuffed after bootstrap removal (#9755)
  frontend/app-development/features/appPublish/components/appReleaseComponent.module.css
  frontend/app-development/features/appPublish/containers/releaseContainer.module.css
Labels: solution/studio/designer, area/app-deploy

2930 bygg button is clickable even when an invalid version number is entered (#9757)
  frontend/app-development/features/appPublish/components/createAppReleaseComponent.tsx
Labels: solution/studio/designer, area/app-deploy

2930 aftermath better logic handling for tagname
  frontend/app-development/features/appPublish/components/createAppReleaseComponent.tsx
Labels: solution/studio/designer, area/app-deploy

Add caseswitching in preselect and text for preselect dropdown in nb
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/editModal/EditPreselectedIndex.tsx
Labels: solution/studio/designer, area/ui-editor

Fix width of add option box in preview mode
  frontend/packages/ux-editor/src/components/AddOption.module.css
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.module.css
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.module.css
Labels: solution/studio/designer, area/ui-editor

Fix compilation warnings in Localtest (#9554)
  src/Models/ResourceRegistry/CompetentAuthority.cs
  src/Models/ResourceRegistry/Keyword.cs
  src/Models/ResourceRegistry/ResourceReference.cs
  src/Models/ResourceRegistry/ResourceSearch.cs
  src/Models/ResourceRegistry/ServiceResource.cs
  src/Services/ResourceRegistry/PolicyRepositoryMock.cs
  src/Services/ResourceRegistry/RegisterResourceRepositoryMock.cs
  src/Services/ResourceRegistry/ResourceRegistryService.cs
Labels: none

Fix compilation warnings in Localtest (#9554)
  src/development/LocalTest/Models/ResourceRegistry/CompetentAuthority.cs
  src/development/LocalTest/Models/ResourceRegistry/Keyword.cs
  src/development/LocalTest/Models/ResourceRegistry/ResourceReference.cs
  src/development/LocalTest/Models/ResourceRegistry/ResourceSearch.cs
  src/development/LocalTest/Models/ResourceRegistry/ServiceResource.cs
  src/development/LocalTest/Services/ResourceRegistry/PolicyRepositoryMock.cs
  src/development/LocalTest/Services/ResourceRegistry/RegisterResourceRepositoryMock.cs
  src/development/LocalTest/Services/ResourceRegistry/ResourceRegistryService.cs
Labels: none

Remember selected user in Localtest cookie (#9683)
  src/Controllers/HomeController.cs
Labels: none

Remember selected user in Localtest cookie (#9683)
  src/development/LocalTest/Controllers/HomeController.cs
Labels: none

2930 aftermath better logic handling for tagname (#9760)
  frontend/app-development/features/appPublish/components/createAppReleaseComponent.tsx
Labels: solution/studio/designer, area/app-deploy

Update frontend/packages/ux-editor/src/components/config/editModal/EditPreselectedIndex.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditPreselectedIndex.tsx
Labels: solution/studio/designer, area/ui-editor

Fix width of add option box in preview mode (#9762)
  frontend/packages/ux-editor/src/components/AddOption.module.css
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.module.css
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.module.css
Labels: solution/studio/designer, area/ui-editor

Fix call to set node type
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
Labels: solution/studio/designer, area/data-modeling

update the function instead
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
Labels: solution/studio/designer, area/data-modeling

Exclude non-form components from table header (#879)
  src/features/form/containers/RepeatingGroupTable.tsx
Labels: none

Update frontend/packages/ux-editor/src/components/config/editModal/EditPreselectedIndex.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditPreselectedIndex.tsx
Labels: solution/studio/designer, area/ui-editor

work in progress
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
  frontend/packages/ux-editor/src/utils/formLayout.ts
Labels: solution/studio/designer, area/ui-editor

Nullsafe active instances endpoint (#176)
  src/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.App.Api/Mappers/SimpleInstanceMapper.cs
  test/Altinn.App.Api.Tests/Altinn.App.Api.Tests.csproj
  test/Altinn.App.Api.Tests/Controllers/InstancesController_ActiveInstancesTests.cs
Labels: none

Split tsconfig between projects and cypress
  frontend/testing/cypress/tsconfig.json
  frontend/tsconfig.json
Labels: solution/studio/designer

we should include .js files
  frontend/testing/cypress/tsconfig.json
Labels: solution/studio/designer

Make sure the codebase has typecheck on dev and build
  frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictFileList.test.tsx
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/components/DataModelsRepoList/DatamodelsRepoList.tsx
  frontend/dashboard/components/OrgRepoList/OrgReposList.tsx
  frontend/dashboard/package.json
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/shared/src/file-editor/MonacoEditorComponent.tsx
  frontend/packages/ux-editor/src/components/config/ConditionalRenderingComponent.tsx
  frontend/packages/ux-editor/src/components/config/RuleComponent.tsx
  frontend/packages/ux-editor/src/components/config/SelectDataModelComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Address/AddressComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Image/ImageComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.tsx
  frontend/packages/ux-editor/src/utils/render.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: solution/studio/designer, area/dashboard, area/data-modeling, area/ui-editor

Add caseswitching in preselect and text for preselect dropdown (#9761)
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/editModal/EditPreselectedIndex.tsx
Labels: solution/studio/designer, area/ui-editor

Definition conflicts between Chai and Jest (#9764)
  frontend/testing/cypress/tsconfig.json
  frontend/tsconfig.json
Labels: solution/studio/designer

fixed type error after master merge
  frontend/packages/ux-editor/src/components/config/editModal/EditPreselectedIndex.tsx
Labels: solution/studio/designer, area/ui-editor

Make sure the TypeScript code is type-checked (#9765)
  frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictFileList.test.tsx
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/components/DataModelsRepoList/DatamodelsRepoList.tsx
  frontend/dashboard/components/OrgRepoList/OrgReposList.tsx
  frontend/dashboard/package.json
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/shared/src/file-editor/MonacoEditorComponent.tsx
  frontend/packages/ux-editor/src/components/config/ConditionalRenderingComponent.tsx
  frontend/packages/ux-editor/src/components/config/RuleComponent.tsx
  frontend/packages/ux-editor/src/components/config/SelectDataModelComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Address/AddressComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Image/ImageComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditPreselectedIndex.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.tsx
  frontend/packages/ux-editor/src/utils/render.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: solution/studio/designer, area/dashboard, area/data-modeling, area/ui-editor
