Repository Altinn/altinn-studio, changes with the labels that .github/labeler.yml gives for each.
All labels: solution/platform, solution/app-backend, solution/apps, solution/studio/designer, solution/studio/repos, area/api-expose, area/api-use, area/authorization, area/app-deploy, area/dashboard, area/pdf, area/process, area/ui-editor, area/test

Moved EditSelect and renamed the component to SelectComponent.
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/componentConfig.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditSelect/index.ts
  frontend/packages/ux-editor/src/components/index.ts
  frontend/packages/ux-editor/src/utils/language.ts
Labels: area/ui-editor

fixed wrong spelling
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.test.tsx
Labels: area/ui-editor

Add allValues to service development route
  backend/src/Designer/Controllers/DeploymentsController.cs
  backend/src/Designer/Controllers/ServiceDevelopmentController.cs
Labels: solution/studio/designer, area/app-deploy

clean up one interface due changes from master
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.tsx
Labels: area/ui-editor

renamed interface to have a better naming
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.tsx
Labels: area/ui-editor

renamed interface to have a better naming
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.tsx
Labels: area/ui-editor

Add *AllValues to route (#9518)
  backend/src/Designer/Controllers/DeploymentsController.cs
  backend/src/Designer/Controllers/HomeController.cs
  backend/src/Designer/Controllers/ServiceDevelopmentController.cs
Labels: solution/studio/designer, area/app-deploy

Added the InformationPanel to Studio (#9520)
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/componentConfig.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/index.ts
  frontend/packages/ux-editor/src/components/index.ts
  frontend/packages/ux-editor/src/components/toolbar/InformationPanelComponent.tsx
  frontend/packages/ux-editor/src/types/global.ts
  frontend/packages/ux-editor/src/utils/language.ts
Labels: area/ui-editor

Update paths to source code in examples (#9519)
  README.md
Labels: none

Added label to variant-select and some small refacs
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.tsx
Labels: area/ui-editor

use shorter name or translate method
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
Labels: area/ui-editor

Added support to toggle icon
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Checkbox/CheckboxComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Checkbox/CheckboxComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Checkbox/index.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
Labels: area/ui-editor

make sure to follow same default value as described within the json-schema
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Checkbox/CheckboxComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Checkbox/CheckboxComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
Labels: area/ui-editor

make sure to follow the same default value as described within the json-schema for variant
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.tsx
Labels: area/ui-editor

chore: moving AppTemplates in testData folder
  backend/tests/Designer.Tests/Services/RepositorySITests.cs
  testdata/AppTemplates/AspNet/.dockerignore
  testdata/AppTemplates/AspNet/.gitignore
  testdata/AppTemplates/AspNet/App.sln
  testdata/AppTemplates/AspNet/App/App.csproj
  testdata/AppTemplates/AspNet/App/JWTValidationCert.cer
  testdata/AppTemplates/AspNet/App/Program.cs
  testdata/AppTemplates/AspNet/App/Properties/launchSettings.json
  testdata/AppTemplates/AspNet/App/appsettings.Development.json
  testdata/AppTemplates/AspNet/App/appsettings.Production.json
  testdata/AppTemplates/AspNet/App/appsettings.Staging.json
  testdata/AppTemplates/AspNet/App/appsettings.json
  testdata/AppTemplates/AspNet/App/config/applicationmetadata.json
  testdata/AppTemplates/AspNet/App/config/authorization/policy.xml
  testdata/AppTemplates/AspNet/App/config/process/process.bpmn
  testdata/AppTemplates/AspNet/App/config/texts/resource.nb.json
  testdata/AppTemplates/AspNet/App/ui/RuleHandler.js
  testdata/AppTemplates/AspNet/App/ui/layouts/receipt.json
  testdata/AppTemplates/AspNet/App/ui/settings.json
  testdata/AppTemplates/AspNet/App/views/Home/Index.cshtml
  testdata/AppTemplates/AspNet/Dockerfile
  testdata/AppTemplates/AspNet/deployment/.helmignore
  testdata/AppTemplates/AspNet/deployment/Chart.yaml
  testdata/AppTemplates/AspNet/deployment/values.yaml
Labels: solution/studio/designer

feature: fetch app-template-dotnet repo when building image
  Dockerfile
Labels: none

removing path to templates from app settings
  backend/src/Designer/appsettings.Development.json
  backend/src/Designer/appsettings.json
Labels: solution/studio/designer

docs: readme update
  README.md
Labels: none

Fix form builder gap
  frontend/packages/ux-editor/src/components/config/EditModalContent.module.css
Labels: area/ui-editor

Fix form builder gap (#9524)
  frontend/packages/ux-editor/src/components/config/EditModalContent.module.css
Labels: area/ui-editor

merging backend and app template steps in docker build
  Dockerfile
Labels: none

Update shared tests and require maxCount for a `Group` component to be repeating (#150)
  src/Altinn.App.Core/Internal/Expressions/LayoutEvaluatorState.cs
  src/Altinn.App.Core/Models/Layout/LayoutModel.cs
  test/Altinn.App.Core.Tests/Helpers/JsonHelperTests.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/hidden-in-non-repeating-group.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/in-group-with-hidden.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/visible-in-non-repeating-group.json
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/Test2/FirstPage.json
Labels: none

Add property ["instanceContext", "instanceOwnerPartyType"] (#149)
  src/Altinn.App.Core/Internal/Expressions/LayoutEvaluatorState.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/ExpressionTestCaseRoot.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/TestFunctions.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/TestInvalid.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/instanceContext/only-dict.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/instanceContext/partyTypeOrg.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/instanceContext/partyTypePerson.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/instanceContext/partyTypeSelfIdentified.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/instanceContext/partyTypeUnknown.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/instanceContext/simple-lookup-equals.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/instanceContext/simple-lookup-is-null.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/instanceContext/simple-lookup.json
Labels: none

Add possibility to choose existing text resource
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/utils/arrayUtils.test.ts
  frontend/packages/shared/src/utils/arrayUtils.ts
  frontend/packages/ux-editor/src/components/TextResource.module.css
  frontend/packages/ux-editor/src/components/TextResource.test.tsx
  frontend/packages/ux-editor/src/components/TextResource.tsx
  frontend/packages/ux-editor/src/selectors/textResourceSelectors.ts
Labels: area/ui-editor

Add possibility to choose existing text resource (#9525)
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/utils/arrayUtils.test.ts
  frontend/packages/shared/src/utils/arrayUtils.ts
  frontend/packages/ux-editor/src/components/TextResource.module.css
  frontend/packages/ux-editor/src/components/TextResource.test.tsx
  frontend/packages/ux-editor/src/components/TextResource.tsx
  frontend/packages/ux-editor/src/selectors/textResourceSelectors.ts
Labels: area/ui-editor

Fix capitalization for Settings.json in template.
  src/studio/AppTemplates/AspNet/App/ui/Settings.json
Labels: solution/app-backend

Implemented map within studio
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/index.ts
  frontend/packages/ux-editor/src/components/index.ts
  frontend/packages/ux-editor/src/types/global.ts
  frontend/packages/ux-editor/src/utils/language.ts
Labels: area/ui-editor

Fix capitalization for Settings.json in template. (#9527)
  src/studio/AppTemplates/AspNet/App/ui/Settings.json
Labels: solution/app-backend

Delay replacement of [ORG] and [APP] in policy.xml (#9513)
  backend/src/Designer/Services/Implementation/AuthorizationPolicyService.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  src/development/LocalTest/Services/Authorization/Implementation/PolicyRetrievalPoint.cs
Labels: solution/studio/designer

Delay replacement of [ORG] and [APP] in policy.xml (#9513)
  src/Services/Authorization/Implementation/PolicyRetrievalPoint.cs
Labels: none

Bugfix - added label for variant-select and possibility to toggle icon. (#9522)
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Checkbox/CheckboxComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Checkbox/CheckboxComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Checkbox/index.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.tsx
Labels: area/ui-editor

fix: download release zip instead of src
  Dockerfile
  backend/tests/SharedResources.Tests/SharedResources.Tests.csproj
Labels: solution/studio/designer

SummaryComponents display `You have not entered any information here` instead of nothing when no data is given for a field (#812)
  src/components/hooks/useDisplayData.test.tsx
  src/components/hooks/useDisplayData.ts
  src/components/summary/GroupInputSummary.tsx
  src/components/summary/SingleInputSummary.tsx
  src/components/summary/SummaryGroupComponent.tsx
  src/components/summary/__snapshots__/SummaryGroupComponent.test.tsx.snap
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/FileUpload/AttachmentSummaryComponent.tsx
  src/layout/FileUploadWithTag/AttachmentWithTagSummaryComponent.test.tsx
  src/layout/FileUploadWithTag/AttachmentWithTagSummaryComponent.tsx
  src/layout/Map/MapComponentSummary.tsx
  test/e2e/integration/app-frontend/summary.ts
Labels: none

docs: readme update
  README.md
  backend/src/Designer/appsettings.Development.json
Labels: solution/studio/designer

docs: REadme update
  README.md
Labels: none

set default action to Index
  backend/src/Designer/Controllers/ModelController.cs
Labels: solution/studio/designer

remove auto-added [obsolete] attribute
  backend/src/Designer/Controllers/ModelController.cs
Labels: solution/studio/designer

chore: removing depricated studio folder
  src/studio/README.md
Labels: none

renovate/npm minor patch
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/shared/package.json
  frontend/packages/text-editor/package.json
  frontend/packages/ux-editor/package.json
  frontend/yarn.lock
Labels: area/dashboard, area/ui-editor

renovate/npm minor patch
  frontend/package.json
  frontend/packages/schema-editor/package.json
  frontend/yarn.lock
Labels: none

.github/labeler.yml:

# Labels for solutions

solution/platform:
  - 'src/Altinn.Platform/**/*'

solution/app-backend:
  - 'src/Altinn.Apps/AppTemplates/**/*'
  - 'src/studio/AppTemplates/**/*'

solution/apps:
  - 'src/Altinn.Apps/KubernetesWrapper/**/*'

solution/studio/designer:
  - 'backend/**/*'

solution/studio/repos:
  - 'gitea/**/*'

# Labels for areas

area/api-expose:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/**/*'

area/api-use:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/**/*'

area/authorization:
  - 'src/Altinn.Common/Altinn.Common.AccessToken/**/*'
  - 'src/Altinn.Common/Altinn.Common.PEP/**/*'

area/app-deploy:
  - 'frontend/app-development/features/appPublish/**/*'
  - 'frontend/app-development/sharedResources/appDeployment/**/*'
  - 'backend/src/Designer/Controllers/DeploymentsController.cs'
  - 'src/Altinn.Apps/AppTemplates/AspNet/deployment/**/*'
  - 'src/studio/AppTemplates/AspNet/deployment/**/*'

area/dashboard:
  - 'frontend/dashboard/**/*'

area/pdf:
  - 'src/Altinn.Platform/Altinn.Platform.PDF/**/*'

area/process:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Process/**/*'
  - 'src/Altinn.Apps/AppTemplates/AspNet/App/config/process/**/*'

area/ui-editor:
  - 'frontend/packages/ux-editor/**/*'

area/test:
  - 'src/test/**/*'
