Repository Altinn/altinn-studio, changes with the labels that .github/labeler.yml gives for each.
All labels: solution/platform, solution/app-backend, solution/apps, solution/studio/designer, solution/studio/repos, area/api-expose, area/api-use, area/authorization, area/app-deploy, area/dashboard, area/pdf, area/process, area/ui-editor, area/test

.github/labeler.yml:

# Labels for solutions

solution/platform:
  - 'src/Altinn.Platform/**/*'

solution/app-backend:
  - 'src/Altinn.Apps/AppTemplates/**/*'
  - 'src/studio/AppTemplates/**/*'

solution/apps:
  - 'src/Altinn.Apps/KubernetesWrapper/**/*'

solution/studio/designer:
  - 'backend/**/*'

solution/studio/repos:
  - 'gitea/**/*'

# Labels for areas

area/api-expose:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/**/*'

area/api-use:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/**/*'

area/authorization:
  - 'src/Altinn.Common/Altinn.Common.AccessToken/**/*'
  - 'src/Altinn.Common/Altinn.Common.PEP/**/*'

area/app-deploy:
  - 'frontend/app-development/features/appPublish/**/*'
  - 'frontend/app-development/sharedResources/appDeployment/**/*'
  - 'backend/src/Designer/Controllers/DeploymentsController.cs'
  - 'src/Altinn.Apps/AppTemplates/AspNet/deployment/**/*'
  - 'src/studio/AppTemplates/AspNet/deployment/**/*'

area/dashboard:
  - 'frontend/dashboard/**/*'

area/pdf:
  - 'src/Altinn.Platform/Altinn.Platform.PDF/**/*'

area/process:
  - 'src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Process/**/*'
  - 'src/Altinn.Apps/AppTemplates/AspNet/App/config/process/**/*'

area/ui-editor:
  - 'frontend/packages/ux-editor/**/*'

area/test:
  - 'src/test/**/*'

Add radio group preview
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/AddOption.module.css
  frontend/packages/ux-editor/src/components/AddOption.tsx
  frontend/packages/ux-editor/src/components/TextResourceEdit.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/ComponentPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/ComponentPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.module.css
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/index.ts
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
  frontend/packages/ux-editor/src/types/global.ts
  frontend/packages/ux-editor/src/utils/component.test.ts
  frontend/packages/ux-editor/src/utils/component.ts
Labels: area/ui-editor

QA
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/AddOption.module.css
  frontend/packages/ux-editor/src/components/AddOption.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.tsx
  frontend/packages/ux-editor/src/types/global.ts
  frontend/packages/ux-editor/src/utils/component.test.ts
  frontend/packages/ux-editor/src/utils/component.ts
Labels: area/ui-editor

Small refactoring to secure ruleModel to not throw expections when functionName is not callable
  frontend/packages/ux-editor/src/features/appData/appDataSagas.ts
Labels: area/ui-editor

Make sure that firstPage and firstPage.components exists before looping object-keys of firstpage.components
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
Labels: area/ui-editor

return / exit execution of method if selectedLayout is not set to avoid running logic based on selectedLayout
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSlice.ts
Labels: area/ui-editor

reset csspell list
  .vscode/settings.json
Labels: none

Add radio group preview (#9582)
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/AddOption.module.css
  frontend/packages/ux-editor/src/components/AddOption.tsx
  frontend/packages/ux-editor/src/components/TextResourceEdit.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/ComponentPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/ComponentPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.module.css
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/index.ts
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
  frontend/packages/ux-editor/src/types/global.ts
  frontend/packages/ux-editor/src/utils/component.test.ts
  frontend/packages/ux-editor/src/utils/component.ts
Labels: area/ui-editor

reset appsettings.json
  src/development/LocalTest/appsettings.json
Labels: none

housekeeping simplified a method
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
Labels: area/ui-editor

Expressions: Minor bugs, friction, debugging improvements (#837)
  src/features/expressions/index.ts
Labels: none

small refac so the code is more readable
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
Labels: area/ui-editor

use stopPropagation
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
Labels: area/ui-editor

Make sure to create a new page when the last one is deleted
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/containers/Container.tsx
Labels: area/ui-editor

Small fix
  frontend/packages/ux-editor/src/containers/Container.tsx
Labels: area/ui-editor

Created a general key for page within the language files
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/App.tsx
Labels: area/ui-editor

bug/cypress use case dev pipeline problem
  frontend/testing/cypress/use-cases.yaml
Labels: none

bug/cypress use case dev pipeline problem
  frontend/testing/cypress/use-cases-prod.yaml
  frontend/testing/cypress/use-cases.yaml
Labels: none

bug/added dns check for setup script
  development/setup.js
  development/utils/check-if-dns-is-correct.js
Labels: none

bug/added dns check for setup script
  development/setup.js
Labels: none

Bug/9560 first batch of bugfixes for form-editor acting strange (#9588)
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/containers/Container.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  frontend/packages/ux-editor/src/features/appData/appDataSagas.ts
  frontend/packages/ux-editor/src/features/appData/textResources/textResourcesSlice.ts
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSlice.ts
Labels: area/ui-editor

bug/fixing gitea 1 18 breaking changes
  gitea/files/templates/base/footer_content.tmpl
  gitea/files/templates/base/head_navbar.tmpl
Labels: solution/studio/repos

bug/fixing gitea 1 18 breaking changes
  gitea/README.md
  gitea/files/conf/app.ini
  gitea/files/templates/base/head_navbar.tmpl
Labels: solution/studio/repos

feat: use app templates repo (#9523)
  Dockerfile
  README.md
  backend/src/Designer/appsettings.Development.json
  backend/src/Designer/appsettings.json
  backend/tests/Designer.Tests/Services/RepositorySITests.cs
  backend/tests/SharedResources.Tests/SharedResources.Tests.csproj
  src/studio/README.md
  testdata/AppTemplates/AspNet/.dockerignore
  testdata/AppTemplates/AspNet/.gitignore
  testdata/AppTemplates/AspNet/App.sln
  testdata/AppTemplates/AspNet/App/App.csproj
  testdata/AppTemplates/AspNet/App/JWTValidationCert.cer
  testdata/AppTemplates/AspNet/App/Program.cs
  testdata/AppTemplates/AspNet/App/Properties/launchSettings.json
  testdata/AppTemplates/AspNet/App/appsettings.Development.json
  testdata/AppTemplates/AspNet/App/appsettings.Production.json
  testdata/AppTemplates/AspNet/App/appsettings.Staging.json
  testdata/AppTemplates/AspNet/App/appsettings.json
  testdata/AppTemplates/AspNet/App/config/applicationmetadata.json
  testdata/AppTemplates/AspNet/App/config/authorization/policy.xml
  testdata/AppTemplates/AspNet/App/config/process/process.bpmn
  testdata/AppTemplates/AspNet/App/config/texts/resource.nb.json
  testdata/AppTemplates/AspNet/App/ui/RuleHandler.js
  testdata/AppTemplates/AspNet/App/ui/layouts/receipt.json
  testdata/AppTemplates/AspNet/App/ui/settings.json
  testdata/AppTemplates/AspNet/App/views/Home/Index.cshtml
  testdata/AppTemplates/AspNet/Dockerfile
  testdata/AppTemplates/AspNet/deployment/.helmignore
  testdata/AppTemplates/AspNet/deployment/Chart.yaml
  testdata/AppTemplates/AspNet/deployment/values.yaml
Labels: solution/studio/designer

Indent attribute properties
  backend/src/Designer/Factories/ModelFactory/JsonMetadataParser.cs
Labels: solution/studio/designer

Indent restrictions
  backend/src/Designer/Factories/ModelFactory/JsonMetadataParser.cs
Labels: solution/studio/designer

Extracting restriction methods
  backend/src/Designer/Factories/ModelFactory/JsonMetadataParser.cs
Labels: solution/studio/designer

Indent first level
  backend/src/Designer/Configuration/CSharpGenerationSettings.cs
  backend/src/Designer/Constants/CodeGeneration.cs
  backend/src/Designer/Factories/ModelFactory/JsonMetadataParser.cs
Labels: solution/studio/designer

formatting code
  backend/src/Designer/Factories/ModelFactory/JsonMetadataParser.cs
Labels: solution/studio/designer

Indent group properties
  backend/src/Designer/Factories/ModelFactory/JsonMetadataParser.cs
Labels: solution/studio/designer

indent field properties
  backend/src/Designer/Factories/ModelFactory/JsonMetadataParser.cs
Labels: solution/studio/designer

Tests fix
  backend/src/Designer/Factories/ModelFactory/JsonMetadataParser.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/DataClasses/CSharpE2ERestrictionsTestData.cs
Labels: solution/studio/designer

feat: value types as nullable in c#
  backend/src/Designer/Factories/ModelFactory/JsonMetadataParser.cs
Labels: solution/studio/designer

Refactoring Csharp generation
  backend/src/Designer/Controllers/DatamodelsController.cs
  backend/src/Designer/Controllers/ModelController.cs
  backend/src/Designer/Factories/ModelFactory/IModelMetadataParser.cs
  backend/src/Designer/Factories/ModelFactory/JsonMetadataParser.cs
  backend/src/Designer/Infrastructure/ConfigurationSettings.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/src/Designer/Services/Interfaces/IRepository.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/UpdateDatamodelTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/BaseClasses/CsharpModelConversionTestsBase.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/BaseClasses/CsharpModelOldConversionTestsBase.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/DataClasses/CSharpE2ERestrictionsTestData.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/JsonSchema2Metadata2CSharpTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/JsonSchemaToMetamodelConverterTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/XsdToCSharpTests.cs
  backend/tests/Designer.Tests/Services/SchemaModelServiceTests.cs
  backend/tests/Designer.Tests/Utils/TestDataHelper.cs
Labels: solution/studio/designer

Adding CsharpGeneration class
  backend/src/Designer/Configuration/CSharpGenerationSettings.cs
  backend/src/Designer/Factories/ModelFactory/JsonMetadataParser.cs
  backend/src/Designer/Infrastructure/ConfigurationSettings.cs
Labels: solution/studio/designer

Changed datalist fromLayout to fit to changes in list in frontend
  App/ui/datalist/layouts/formLayout.json
Labels: none

remove remaining app-template file
  src/studio/AppTemplates/AspNet/App/ui/Settings.json
Labels: solution/app-backend

Update development/setup.js
  development/setup.js
Labels: none

bug/added dns check for setup script (#9590)
  development/setup.js
  development/utils/check-if-dns-is-correct.js
Labels: none

Bug/cypress use case dev pipeline problem (#9589)
  frontend/testing/cypress/use-cases-prod.yaml
  frontend/testing/cypress/use-cases.yaml
Labels: none

9249 remove jquery bootstrap and the old designsystem css
  Dockerfile
  backend/src/Designer/.dockerignore
  backend/src/Designer/.gitignore
  backend/src/Designer/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  backend/src/Designer/.yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  backend/src/Designer/.yarn/releases/yarn-3.3.1.cjs
  backend/src/Designer/.yarnrc.yml
  backend/src/Designer/Views/Home/StartPage.cshtml
  backend/src/Designer/Views/Model/Index.cshtml
  backend/src/Designer/Views/ServiceDevelopment/index.cshtml
  backend/src/Designer/Views/Shared/_FormBuilderLayout.cshtml
  backend/src/Designer/Views/Shared/_Layout.cshtml
  backend/src/Designer/gulpfile.js
  backend/src/Designer/package.json
  backend/src/Designer/yarn.lock
Labels: solution/studio/designer
