Repository Altinn/altinn-studio, pull requests merged in 2019-06, with the labels that each got.

#1945 Modified Traefik Ingress Kubernetes request modifier. AddPrefix runtime.
  src/AltinnCore/Templates/deployment/values.yaml
Labels: team-tamagotchi

#1952 Updated JWT nuget
  src/AltinnCore/Authentication/AltinnCore.Authentication.csproj
  src/AltinnCore/Authentication/JwtCookie/JwtCookieHandler.cs
  src/AltinnCore/Authentication/Utils/JwtTokenUtil.cs
Labels: team-steam

#1908 Feature/1780 handle jwt in runtime
  src/AltinnCore/Common/AltinnCore.Common.csproj
  src/AltinnCore/Common/Clients/HttpClientAccessor.cs
  src/AltinnCore/Common/Clients/IHttpClientAccessor.cs
  src/AltinnCore/Common/Services/Implementation/DataAppSI.cs
  src/AltinnCore/Common/Services/Implementation/InstanceAppSI.cs
  src/AltinnCore/Common/Services/Implementation/InstanceEventAppSI.cs
  src/AltinnCore/Common/Services/Implementation/InstanceEventStudioSI.cs
  src/AltinnCore/Common/Services/Implementation/InstanceStudioSI.cs
  src/AltinnCore/Common/Services/Implementation/ProfileAppSI.cs
  src/AltinnCore/Common/Services/Implementation/RegisterAppSI.cs
  src/AltinnCore/Common/Services/Implementation/RegisterDSFAppSI.cs
  src/AltinnCore/Common/Services/Implementation/RegisterERAppSI.cs
  src/AltinnCore/Common/Services/Implementation/WorkflowAppSI.cs
  src/AltinnCore/Designer/AltinnCore.Designer.csproj
  src/AltinnCore/Runtime/AltinnCore.Runtime.csproj
  src/AltinnCore/Runtime/Startup.cs
  src/AltinnCore/Runtime/package-lock.json
  src/AltinnCore/Runtime/web.config
Labels: team-steam

#1991 Added logging to start service
  src/AltinnCore/Runtime/Controllers/InstanceController.cs
Labels: team-steam

#1979 Added client, wrapper and controller to access sbl bridge api for aut…
  src/Altinn.Platform/Altinn.Platform.Authorization/Altinn.Platform.Authorization.sln
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization.Interface/Authorization.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization.Interface/Models/Actor.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization.Interface/Models/Roles.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Clients/ActorClient.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Configuration/GeneralSettings.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Controllers/ActorsController.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Properties/launchSettings.json
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Services/Implementation/ActorsWrapper.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Services/Interface/IActor.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/appsettings.json
Labels: team-steam

#2003 Adding int value of authenticationLevel in claims
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
Labels: team-steam

#2005 Bug/1936 fixing authentication issues
  src/AltinnCore/Common/Services/Implementation/RegisterAppSI.cs
Labels: team-steam

#2012 user information from httpcontext
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Controllers/ActorsController.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Controllers/RolesController.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Helpers/ContextHelper.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Properties/launchSettings.json
Labels: team-steam

#1987 Sending post request to bridge to get person
  src/Altinn.Platform/Altinn.Platform.Register/Register/Services/Implementation/PersonsWrapper.cs
Labels: team-steam

#1986 Cleaned up logging code used for debug
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
Labels: team-steam

#1959 Restructured fileUpload resource to sharedResources Attachments.
  src/react-apps/applications/runtime/__tests__/components/base/FileUploadComponent.test.tsx
  src/react-apps/applications/runtime/src/App.tsx
  src/react-apps/applications/runtime/src/components/base/FileUploadComponent.tsx
  src/react-apps/applications/runtime/src/features/form/data/actions/actions/deleteAttachment/index.ts
  src/react-apps/applications/runtime/src/features/form/fileUpload/actions/fetch/index.ts
  src/react-apps/applications/runtime/src/features/form/fileUpload/actions/upload/index.ts
  src/react-apps/applications/runtime/src/features/form/fileUpload/sagas/index.ts
  src/react-apps/applications/runtime/src/reducers/index.ts
  src/react-apps/applications/runtime/src/sagas/index.ts
  src/react-apps/applications/runtime/src/sharedResources/attachments/attachmentActionTypes.ts
  src/react-apps/applications/runtime/src/sharedResources/attachments/attachmentActions.ts
  src/react-apps/applications/runtime/src/sharedResources/attachments/attachmentReducer.ts
  src/react-apps/applications/runtime/src/sharedResources/attachments/attachmentSagas.ts
  src/react-apps/applications/runtime/src/sharedResources/attachments/delete/deleteAttachmentActions.ts
  src/react-apps/applications/runtime/src/sharedResources/attachments/delete/deleteAttachmentSagas.ts
  src/react-apps/applications/runtime/src/sharedResources/attachments/fetch/fetchAttachmentsActions.ts
  src/react-apps/applications/runtime/src/sharedResources/attachments/fetch/fetchAttachmentsSagas.ts
  src/react-apps/applications/runtime/src/sharedResources/attachments/index.d.ts
  src/react-apps/applications/runtime/src/sharedResources/attachments/upload/uploadAttachmentActions.ts
  src/react-apps/applications/runtime/src/sharedResources/attachments/upload/uploadAttachmentSagas.ts
  src/react-apps/applications/runtime/src/types/global.ts
  src/react-apps/applications/runtime/src/types/index.ts
  src/react-apps/applications/runtime/src/utils/attachment.ts
Labels: code-quality, team-tamagotchi

#2030 Added redirection to authentication when the request is not authorized
  docker-compose.yml
  src/AltinnCore/Common/Configuration/PlatformSettings.cs
  src/AltinnCore/Runtime/Controllers/AccountController.cs
  src/AltinnCore/Runtime/Startup.cs
  src/AltinnCore/Runtime/appsettings.json
Labels: team-steam
