Repository Altinn/altinn-studio, pull requests merged in 2020-07, with the labels that each got.

#4481 feature/3719-upgrade-gitea-1-11-7
  src/studio/docker-compose.yml
  src/studio/src/repositories/Dockerfile
  src/studio/src/repositories/Dockerfile.local
  src/studio/src/repositories/gitea-data/gitea/templates/base/authorization_head.tmpl
  src/studio/src/repositories/gitea-data/gitea/templates/base/footer_content.tmpl
  src/studio/src/repositories/gitea-data/gitea/templates/base/head.tmpl
  src/studio/src/repositories/gitea-data/gitea/templates/base/head_navbar.tmpl
  src/studio/src/repositories/gitea-data/gitea/templates/custom/extra_links.tmpl
  src/studio/src/repositories/gitea-data/gitea/templates/custom/extra_links_footer.tmpl
  src/studio/src/repositories/gitea-data/gitea/templates/home.tmpl
Labels: solution/studio/repos

#4480 docker-compose 3.7
  src/Altinn.Platform/Altinn.Platform.Authorization/docker-compose.yml
Labels: area/authorization, solution/platform

#4479 bug/4442-delete-attachment-issues
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/FileUploadComponent.tsx
Labels: solution/app-frontend

#4488 languag support up and running
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/shared/resources/fetchLanguage.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/language/fetch/fetchLanguageActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/language/fetch/fetchLanguageSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/language/languageActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/language/languages.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/appTask/appTaskQueueSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/textResources/fetch/fetchTextResourcesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/textResources/replace/replaceTextResourcesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/urlHelper.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/types/index.ts
  src/studio/src/designer/frontend/shared/types/index.d.ts
Labels: solution/app-frontend, solution/studio/designer

#4490 bug/4435-discard-changes-without-repo-name
  src/studio/src/designer/frontend/app-development/features/administration/components/ResetRepoModal.tsx
Labels: solution/studio/designer

#4491 getting language from profile
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/src/features/receipt/containers/Receipt.tsx
Labels: area/receipt, solution/app-frontend

#4493 feature/4482-upgrade-gitea-1-12-1
  src/studio/src/repositories/Dockerfile
  src/studio/src/repositories/Dockerfile.local
  src/studio/src/repositories/gitea-data/gitea/options/locale/locale_nb-NO.ini
  src/studio/src/repositories/gitea-data/gitea/templates/base/authorization_head.tmpl
  src/studio/src/repositories/gitea-data/gitea/templates/base/head_navbar.tmpl
  src/studio/src/repositories/gitea-data/gitea/templates/home.tmpl
Labels: solution/studio/repos

#4496 Feature/1713 repeating groups
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/applicationMetadataMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/formDataStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/formLayoutStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/initialStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/mocks.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/GenericComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/Form.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/Group.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/Form.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/Group.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/databindings.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/config/fetch/fetchFormConfigActionTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/config/fetch/fetchFormConfigActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/config/fetch/fetchFormConfigSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/config/formConfigActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/config/formConfigReducer.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/config/formConfigSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/Form.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/Group.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/formDataReducer.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/update/updateFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/datamodel/fetch/fetchFormDatamodelSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/dynamics/conditionalRendering/conditionalRenderingSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/fetch/fetchFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutActionTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutReducer.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/index.d.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/reducers/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/sagas/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/selectors/getErrors.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/applicationMetadata/index.d.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/isLoading/dataTask/dataTaskIsLoadingSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/global.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/databindings.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formComponentUtils.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formLayout.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/layout/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/layout/index.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/tsconfig.json
  src/Altinn.Apps/AppFrontend/react/shared/src/types/index.ts
Labels: solution/app-frontend

#4494 Removing the confirmDownload and delete events endpoints
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/DataController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstanceEventsController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceEventsRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/DataControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstanceEventsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/MessageboxInstancesControllerTests.cs
Labels: area/data-storage, solution/platform

#4505 Clearing references to Instance.AppOwner.
  src/Altinn.Apps/AppFrontend/react/shared/src/types/index.ts
  src/test/K6/src/data/instance.json
  src/test/Postman/collections/App.postman_collection.json
  src/test/Postman/collections/Negative_Tests_Storage_and_App.postman_collection.json
  src/test/Postman/collections/Storage.postman_collection.json
Labels: solution/app-frontend

#4507 Bug/1713 repeating groups validation
  src/Altinn.Apps/AppFrontend/react/.eslintrc.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/Group.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/logic/validation.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/rules.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DatepickerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/Form.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/Group.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/update/updateFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/index.d.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/databindings.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/layout/index.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
Labels: solution/app-frontend

#4506 Udated packagereferences and deleted unused test project
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/Altinn.Platform.Storage.IntegrationTest.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/Clients/ApplicationClient.cs
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/Clients/Extensions.cs
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/Clients/InstanceClient.cs
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/Clients/StorageClientException.cs
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/Fixtures/BlobStorageFixture.cs
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/Fixtures/CosmosDBFixture.cs
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/Fixtures/PlatformStorageFixture.cs
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/GenerateInstanceTestData.cs
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/GlobalSuppressions.cs
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/InstanceEventsTest.cs
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/InstanceStorageTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/Mocks/Authentication/ConfigurationManagerStub.cs
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/Mocks/Authentication/JwtCookiePostConfigureOptionsStub.cs
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/Mocks/JwtTokenMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/Mocks/PDPMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/Mocks/PepWithPDPAuthorizationMockSI.cs
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/Mocks/SasTokenProviderStub.cs
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/Models/Role.cs
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/TestData/TestData.cs
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/Utils/PrincipalUtil.cs
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/data/Roles/user_1/party_1000/roles.json
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/data/Roles/user_1/party_1600/roles.json
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/data/Roles/user_1/party_500/roles.json
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/data/Roles/user_1/party_50000000/roles.json
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/data/apps/spf/test-applikasjon-3/config/authorization/policy.xml
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/data/apps/tdd/m1000/config/authorization/policy.xml
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/data/apps/tdd/test-applikasjon-1/config/authorization/policy.xml
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/data/apps/tdd/test-applikasjon-2/config/authorization/policy.xml
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/data/apps/tests-sailor.json
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/data/apps/tests/sailor/config/authorization/policy.xml
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/data/binary_file.pdf
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/data/cat.jpg
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/data/example.xml
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/data/image.png
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/data/m1000-instances.json
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/data/response_deny.json
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/data/response_multi_permit.json
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/data/response_permit.json
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/data/xmlfile.xml
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/selfSignedTestCertificate.pfx
  src/Altinn.Platform/Altinn.Platform.Storage/IntegrationTest/selfSignedTestCertificatePublic.cer
  src/development/LocalTest/LocalTest.csproj
Labels: area/data-storage, solution/platform

#4509 Updated dependencies for PDF
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/printout, solution/platform

#4511 Updated to latest version of node, Active LTS.
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/backend/Dockerfile
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#4495 Add support for linkerd in apps
  src/Altinn.Apps/AppTemplates/AspNet/deployment/templates/deployment.yaml
  src/Altinn.Apps/AppTemplates/AspNet/deployment/templates/ingressRoute.yaml
  src/Altinn.Apps/AppTemplates/AspNet/deployment/templates/middleware.yaml
  src/Altinn.Apps/AppTemplates/AspNet/deployment/values.yaml
  src/studio/AppTemplates/AspNet/deployment/templates/deployment.yaml
  src/studio/AppTemplates/AspNet/deployment/templates/ingressRoute.yaml
  src/studio/AppTemplates/AspNet/deployment/templates/middleware.yaml
  src/studio/AppTemplates/AspNet/deployment/values.yaml
Labels: area/app-deploy, solution/app-backend

#4513 Updates to altinn-app-frontend dependencies
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
Labels: area/receipt, solution/app-frontend

#4512 clear old instantiation error after party selection
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/PartySelection.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/instantiation/reducer/index.ts
Labels: area/instantiation, solution/app-frontend

#4514 Feature/4508 removing tests ability to persist data to file system
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Constants/XacmlRequestAttribute.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Health/HealthCheckTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/ApplicationRepsitoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/DataRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceEventsRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Properties/launchSettings.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/DataControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstancesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/MessageboxInstancesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/ProcessControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Utils/TestDataUtil.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/blob/tdd/endring-av-navn/1e14b6cd-e310-4aff-aa83-720b2ec195e0/data/d5b0f5d0-8ff9-4e7f-9c7a-25c43cc237c4
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/blob/tdd/endring-av-navn/649388f0-a2c0-4774-bd11-c870223ed819/data/11f7c994-6681-47a1-9626-fcf6c27308a5
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/blob/tdd/endring-av-navn/6aa47207-f089-4c11-9cb2-f00af6f66a47/data/24bfec2e-c4ce-4e82-8fa9-aa39da329fd5
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/blob/tdd/endring-av-navn/ca9da17c-904a-44d2-9771-a5420acfbcf3/data/28023597-516b-4a71-a77c-d3736912abd5
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/blob/tdd/endring-av-navn/d91fd644-1028-4efd-924f-4ca187354514/data/f4feb26c-8eed-4d1d-9d75-9239c40724e9
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/blob/tdd/endring-av-navn/dd84cfe9-f875-42ea-8a96-eb725a6a8a95/data/7b475791-ce2c-45a5-be2f-195f37c2646d
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/dataelements/11f7c994-6681-47a1-9626-fcf6c27308a5.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/dataelements/24bfec2e-c4ce-4e82-8fa9-aa39da329fd5.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/dataelements/28023597-516b-4a71-a77c-d3736912abd5.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/dataelements/7b475791-ce2c-45a5-be2f-195f37c2646d.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/dataelements/d5b0f5d0-8ff9-4e7f-9c7a-25c43cc237c4.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/dataelements/f4feb26c-8eed-4d1d-9d75-9239c40724e9.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/08274f48-8313-4e2d-9788-bbdacef5a54e.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/1e14b6cd-e310-4aff-aa83-720b2ec195e0.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/20a1353e-91cf-44d6-8ff7-f68993638ffe.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/2f7fa5ce-e878-4e1f-a241-8c0eb1a83eab.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/3b67392f-36c6-42dc-998f-c367e771dcdd.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/649388f0-a2c0-4774-bd11-c870223ed819.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/6aa47207-f089-4c11-9cb2-f00af6f66a47.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/7a951b5b-ef96-4032-9273-f8d7651266f4.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/824E8304-AD9E-4D79-AC75-BCFA7213223B.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/bc19107c-508f-48d9-bcd7-54ffec905306.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/ca9da17c-904a-44d2-9771-a5420acfbcf3.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/d91fd644-1028-4efd-924f-4ca187354514.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/d9a586ca-17ab-453d-9fc5-35eaadb3369b.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/da1f620f-1764-4f98-9f03-74e5e20f10fe.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/dd84cfe9-f875-42ea-8a96-eb725a6a8a95.json
Labels: area/data-storage, solution/platform

#4515 Specifying specific Alpine version for platform
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
Labels: area/authentication, area/authorization, area/data-storage, area/profile, area/receipt, area/register, solution/platform

#4516 Removing references to the AppOwner properties
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/DataController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/DataControllerTests.cs
  src/development/LocalTest/Controllers/Storage/DataController.cs
  src/development/LocalTest/Controllers/Storage/InstancesController.cs
Labels: area/data-storage, solution/platform

#4521 updated-designer-npm-deps
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/ui-editor, solution/studio/designer

#4524 Removing references to PresentationField
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/confirm/containers/Confirm.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/applicationMetadata/index.d.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/types/index.ts
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/Instance.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/PresentationField.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/InstanceUtils.java
Labels: area/printout, solution/app-frontend, solution/platform

#4522 Added StyleCop to the Platform Authorization test project
  src/Altinn.Platform/Altinn.Platform.Authorization/Altinn.Platform.Authorization.sln
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/AltinnApps_DecisionTests.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/ContextHandlerTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Fixtures/PlatformAuthorizationFixture.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Fixtures/PolicyInformationPointFixture.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Fixtures/PolicyRetrievalPointFixture.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Health/HealthCheckTests.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/MockServices/ConfigurationManagerStub.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/MockServices/ContextHandlerMock.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/MockServices/JwtCookiePostConfigureOptionsStub.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/MockServices/PolicyInformationPoint.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/MockServices/PolicyInformationRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/MockServices/PolicyRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/MockServices/PolicyRetrievalPointMock.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/MockServices/RolesMock.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/PolicyControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/PolicyInformationRepositoryTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/PolicyRetrievalPointTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Util/AssertionUtil.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Util/JwtTokenMock.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Util/PrincipalUtil.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Util/TestSetupUtil.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Util/XacmlTestDataParser.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Xacml30ConformanceTests.cs
Labels: area/authorization, solution/platform

#4520 Removing the AppOwner properties from Instance and DataElement
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/ApplicationOwnerDataState.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/ApplicationOwnerState.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/DataElement.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/Instance.cs
Labels: area/data-storage, solution/platform

#4523 Gitea 1.12.1 to 1.12.2
  src/studio/src/repositories/Dockerfile
  src/studio/src/repositories/Dockerfile.local
Labels: solution/studio/repos

#4526 feature/4525-code-search
  src/studio/src/repositories/gitea-config/app.ini
  src/studio/src/repositories/gitea-data/gitea/conf/app.ini
Labels: solution/studio/repos

#4527 Use version 2.2.0 of Storage.Interfaces.
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/AppRef.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#4529 Update storage to use version of 2.2.0 of Storage.Interfaces
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/DataController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/ProcessController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Properties/launchSettings.json
Labels: area/data-storage, solution/platform

#4530 bug/4435-possible-to-discard-changes-without-entering-repo-name
  src/studio/src/designer/frontend/app-development/features/administration/components/ResetRepoModal.tsx
Labels: solution/studio/designer

#4532 Discard changes fixes
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/app-development/features/administration/components/ResetRepoModal.tsx
  src/studio/src/designer/frontend/app-development/features/administration/components/SideMenuContent.tsx
Labels: solution/studio/designer

#4531 Use version 1.1.2 of Altinn.App.* packages
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend

#4536 Update NuGet package references week 29
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTests.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.ExampleClients/PrefillClient/PrefillClient.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/development/LocalTest/Controllers/Storage/DataController.cs
  src/development/LocalTest/Controllers/Storage/InstancesController.cs
  src/development/LocalTest/Controllers/Storage/ProcessController.cs
  src/development/LocalTest/LocalTest.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/authentication, area/authorization, area/data-storage, area/profile, area/receipt, area/register, solution/app-backend, solution/platform, solution/studio/designer

#4537 feature/studio-npm-patching
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/ui-editor, solution/studio/designer

#4539 Removed PresentationField and a few code warnings
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/Application.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/PresentationField.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/MessageboxInstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/PepWithPDPAuthorizationMockSI.cs
Labels: area/data-storage, solution/platform

#4538 Updated .Net Core Docker image references
  lgtm.yml
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/backend/Dockerfile
Labels: area/authentication, area/authorization, area/data-storage, area/profile, area/receipt, area/register, solution/apps, solution/platform, solution/studio/designer

#4541 Update references to Storage.Interfaces
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Common/Authentication/Altinn.Common.Authentication.csproj
  src/Altinn.ExampleClients/PrefillClient/PrefillClient.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/development/LocalTest/LocalTest.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/api-expose, area/api-use, area/authentication, area/authorization, area/data-storage, area/receipt, solution/app-backend, solution/platform, solution/studio/designer

#4543 Updated app template dependencies
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend

#4517 fixed wcag issue in ui-editor
  src/studio/src/designer/frontend/app-development/features/administration/components/SideMenuContent.tsx
  src/studio/src/designer/frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/HandleMergeConflictFileList.test.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/__snapshots__/Administration.test.tsx.snap
  src/studio/src/designer/frontend/shared/components/AltinnIcon.tsx
  src/studio/src/designer/frontend/shared/components/atoms/AltinnAttachment.tsx
  src/studio/src/designer/frontend/shared/components/molecules/AltinnCollapsibleAttachments.tsx
  src/studio/src/designer/frontend/shared/navigation/drawer/LeftDrawerMenu.tsx
  src/studio/src/designer/frontend/shared/navigation/drawer/ListItemLink.tsx
  src/studio/src/designer/frontend/ux-editor/components/toolbar/ToolbarItemComponent.tsx
  src/studio/src/designer/frontend/ux-editor/containers/Toolbar.tsx
Labels: area/app-deploy, area/ui-editor, solution/studio/designer

#4545 Bug/2864 ul li
  src/studio/src/designer/frontend/shared/components/AltinnIcon.tsx
  src/studio/src/designer/frontend/shared/navigation/drawer/LeftDrawerMenu.tsx
  src/studio/src/designer/frontend/shared/navigation/drawer/ListItemLink.tsx
  src/studio/src/designer/frontend/ux-editor/components/toolbar/CollapsableMenuComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/toolbar/ToolbarItemComponent.tsx
  src/studio/src/designer/frontend/ux-editor/containers/EditContainer.tsx
  src/studio/src/designer/frontend/ux-editor/containers/Toolbar.tsx
  src/studio/src/designer/frontend/ux-editor/test/__tests__/containers/EditContainer.test.tsx
  src/studio/src/designer/frontend/ux-editor/test/__tests__/containers/__snapshots__/EditContainer.test.tsx.snap
Labels: area/ui-editor, solution/studio/designer

#4546 Feature/4453 frontend deps w30
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/app-development/webpack.config.production.js
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#4548 created data cleanup project
  src/Altinn.Platform/Altinn.Platform.Storage/Altinn.Platform.Storage.sln
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/NightlyCleanup.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Services/BlobService.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Services/CosmosService.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/TelemetryInitializer.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/host.json
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/local.settings.json
Labels: area/data-storage, solution/platform

#4564 implemented health check for designer
  src/studio/src/designer/backend/Health/HealthCheck.cs
  src/studio/src/designer/backend/Startup.cs
Labels: solution/studio/designer

#4559 added base to redirect url
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/containers/ProcessStep.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/urlHelper.ts
Labels: solution/app-frontend
