Repository Altinn/altinn-studio, pull requests merged in 2020-11, with the labels that each got.

#5096 using new keyvault libraries for datacleanup
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Services/KeyVaultService.cs
Labels: area/data-storage, solution/platform

#5092 source not included as query param for org search
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
Labels: area/events, solution/platform

#5093 v14 of node alpine image
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/Altinn.Apps/AppTemplates/react/receipt/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-backend, solution/app-frontend, solution/studio/designer

#5101 Updating AppTemplate with reference to latest packages
  src/Altinn.Apps/AppTemplates/AspNet/App/Program.cs
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/Program.cs
Labels: solution/app-backend

#5107 empty controller created
  src/studio/src/designer/backend/Controllers/CodelistController.cs
  src/studio/src/designer/backend/Controllers/DatamodelsController.cs
  src/studio/src/designer/backend/Startup.cs
Labels: solution/studio/designer

#5103 Test/events api
  src/test/K6/src/api/platform/authorization.js
  src/test/K6/src/api/platform/events.js
  src/test/K6/src/config.js
  src/test/K6/src/tests/platform/appowner/completeconfirmation.js
  src/test/K6/src/tests/platform/appowner/data.js
  src/test/K6/src/tests/platform/appowner/downloadinstances.js
  src/test/K6/src/tests/platform/appowner/events.js
  src/test/K6/src/tests/platform/appowner/instances.js
  src/test/K6/src/tests/platform/authorization/authorization.js
  src/test/K6/src/tests/platform/events/events.js
  src/test/K6/src/tests/platform/negativetests/withoutauthentication.js
Labels: area/test

#5074 feature/4779-support-for-settings-json-order
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/LayoutSettings.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/PagesSettings.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/PdfContext.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
Labels: area/printout, solution/platform

#5110 Added filter parameter excludeConfirmedBy
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
Labels: area/data-storage, solution/platform

#5114 bug/accessibility-issues-mulitple-pages
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/ux-editor/components/rightMenu/RightMenu.tsx
  src/studio/src/designer/frontend/ux-editor/components/rightMenu/pages/PageElement.tsx
Labels: area/ui-editor, solution/studio/designer

#5115 bug/multiple-pages-designer-bugs
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.tsx
  src/studio/src/designer/frontend/ux-editor/components/rightMenu/pages/PageElement.tsx
  src/studio/src/designer/frontend/ux-editor/sagas/formDesigner/formDesignerSagas.ts
Labels: area/ui-editor, solution/studio/designer

#5116 bug/multiple-pages-issues
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/process-step/NavigationButton.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/process-step/NavigationButtons.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/fetch/fetchFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutReducer.ts
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
  src/studio/src/designer/frontend/ux-editor/components/rightMenu/RightMenu.tsx
Labels: area/printout, area/ui-editor, solution/app-frontend, solution/platform, solution/studio/designer

#5119 Bumpe nugets
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#5109 bug/3086-pdf-listed-under-attachments
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/receipt/containers/receiptContainer.tsx
  src/Altinn.Apps/AppFrontend/react/receipt/src/features/receipt/containers/Receipt.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/attachmentsUtils.ts
Labels: area/receipt, solution/app-frontend

#5127 feature/5063-update-dependecies-containers
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/printout, solution/platform

#5130 feature/5063-update-frontend-deps-w45
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#5135 updated sirius script
  src/test/K6/.gitignore
  src/test/K6/src/api/app/instances.js
  src/test/K6/src/api/app/process.js
  src/test/K6/src/api/storage/instances.js
  src/test/K6/src/api/storage/messageboxinstances.js
  src/test/K6/src/buildrequestheaders.js
  src/test/K6/src/tests/app/e2erf0002.js
  src/test/K6/src/tests/app/sirius.js
Labels: area/test

#5139 Null check on pdf-generation for Settings.json
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/PDFSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#5136 bug/1914-placeholder-saved-selection-components
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/SelectionEditComponent.tsx
Labels: area/ui-editor, solution/studio/designer

#5155 added error controllers
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Controllers/ErrorController.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Controllers/ErrorController.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Controllers/ErrorController.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Controllers/ErrorController.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Startup.cs
Labels: area/authorization, area/profile, area/receipt, area/register, solution/platform

#5157 AutoDeleteOnProcessEnd included in application
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/Application.cs
Labels: area/data-storage, solution/platform

#5148 Test/4500 sbl loadinstances
  src/test/K6/src/api/storage/messageboxinstances.js
  src/test/K6/src/scenarios.js
  src/test/K6/src/tests/app/e2erf0002.js
  src/test/K6/src/tests/app/sirius.js
  src/test/K6/src/tests/platform/appowner/events.js
  src/test/K6/src/tests/platform/events/events.js
  src/test/K6/src/tests/platform/storage/deleteinstances.js
  src/test/K6/src/tests/platform/storage/messageboxinstances.js
  src/test/K6/src/tests/platform/storage/sblloadinstances.js
Labels: area/test

#5138 Adding logic to support certificate rollover
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Configuration/GeneralSettings.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Services/JwtSigningCertificateProvider.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/appsettings.json
Labels: area/authentication, solution/platform

#5161 bug/5128-dot-layout-name-designer
  src/studio/src/designer/backend/Configuration/ServiceRepositorySettings.cs
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/backend/Startup.cs
  src/studio/src/designer/frontend/ux-editor/components/rightMenu/pages/PageElement.tsx
Labels: area/ui-editor, solution/studio/designer

#5167 feature/5151-update-deps-backend
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Altinn.App.PlatformServices.Tests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/AppRef.csproj
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/Altinn.Platform.Models.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/development/LocalTest/LocalTest.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/api-use, area/authentication, area/authorization, area/data-storage, area/events, area/profile, area/receipt, area/register, solution/app-backend, solution/apps, solution/platform, solution/studio/designer

#5154 caching + http factory for org harvest
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Controllers/AuthenticationControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Mocks/OrganisationsServiceMock.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Repositories/OrgLookupTest.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Services/OrganisationServiceTest.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Exceptions/OrganisationHarvestException.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Repositories/IOrganisationRepository.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Repositories/OrganisationRepository.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Services/Interfaces/IOrganisationsService.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Services/OrganisationsService.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Startup.cs
Labels: area/authentication, solution/platform

#5166 Prevent data breaking a 'maximum' rule from being sent to backend.
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
Labels: solution/app-frontend

#5173 Added standard stylecop rules to the KubernetesWrapper project
  src/Altinn.Apps/Altinn.Apps.sln
  src/Altinn.Apps/Altinn3.ruleset
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.Apps/KubernetesWrapper/Settings.StyleCop
Labels: solution/apps

#5162 deleting instance events
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/LoadTestingCleanup.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/NightlyCleanup.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Services/BlobService.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Services/CosmosService.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Services/Interfaces/ICosmosService.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Services/SasTokenProvider.cs
Labels: area/data-storage, solution/platform

#5168 feature/5151-update-frontend-deps-w46
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/webpack.config.development.js
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/webpack.config.production.js
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/webpack.config.development.js
  src/Altinn.Apps/AppFrontend/react/receipt/webpack.config.production.js
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/app-development/webpack.config.development.js
  src/studio/src/designer/frontend/app-development/webpack.config.production.js
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/dashboard/webpack.config.development.js
  src/studio/src/designer/frontend/dashboard/webpack.config.production.js
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/ux-editor/webpack.config.production.js
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#5169 Updated the uuid package being used
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/FileUploadComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/ConditionalRenderingComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/RuleComponent.tsx
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/ux-editor/sagas/formDesigner/formDesignerSagas.ts
  src/studio/src/designer/frontend/ux-editor/utils/formLayout.ts
Labels: area/ui-editor, solution/app-frontend, solution/studio/designer

#5185 bug/5184-group-options-null-pointer
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
Labels: solution/app-frontend

#5182 feature/5150-update-nuget
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#5160 feature/4497-cleanup-formlayout-designer
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.tsx
  src/studio/src/designer/frontend/ux-editor/components/index.ts
  src/studio/src/designer/frontend/ux-editor/components/toolbar/ToolbarItemComponent.tsx
  src/studio/src/designer/frontend/ux-editor/containers/EditContainer.tsx
  src/studio/src/designer/frontend/ux-editor/containers/Toolbar.tsx
  src/studio/src/designer/frontend/ux-editor/containers/ToolbarItem.tsx
  src/studio/src/designer/frontend/ux-editor/sagas/formDesigner/formDesignerSagas.ts
  src/studio/src/designer/frontend/ux-editor/test/__tests__/containers/EditContainer.test.tsx
  src/studio/src/designer/frontend/ux-editor/types/global.ts
  src/studio/src/designer/frontend/ux-editor/utils/language.ts
  src/studio/src/designer/frontend/ux-editor/utils/urlHelper.ts
Labels: area/ui-editor, solution/studio/designer

#5198 Fixed setting currentview based on settings.json when fetched
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutReducer.ts
Labels: solution/app-frontend

#5202 fix buggy if-statement
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/textResources/replace/replaceTextResourcesSagas.ts
Labels: area/language, solution/app-frontend

#5200 feature/5150-updateToFinalNugetVersionAppTemplate
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/logic/App.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#5207 prettyfying code in cleanup function
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/NightlyCleanup.cs
Labels: area/data-storage, solution/platform

#5213 Dependency updates
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/api-use, area/authorization, area/events, area/receipt, solution/app-backend, solution/platform, solution/studio/designer

#5216 Test/authentication
  src/test/K6/src/tests/platform/authentication/authentication.js
  src/test/K6/use-cases.yaml
Labels: area/test

#5220 latest storage interface
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
Labels: area/data-storage, solution/platform

#5174 moved dockerfile to root and added dockerignore
  src/Altinn.Apps/AppTemplates/AspNet/.dockerignore
  src/Altinn.Apps/AppTemplates/AspNet/Dockerfile
  src/studio/AppTemplates/AspNet/.dockerignore
  src/studio/AppTemplates/AspNet/Dockerfile
  src/studio/src/designer/backend/Configuration/ServiceRepositorySettings.cs
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
Labels: solution/app-backend, solution/studio/designer

#5221 bug in storing appmetadata during deploy
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/ApplicationsController.cs
  src/studio/src/designer/backend/Services/Implementation/ApplicationMetadataService.cs
Labels: area/data-storage, solution/platform, solution/studio/designer

#5223 new design for landing page
  src/studio/src/designer/backend/Views/Home/StartPage.cshtml
  src/studio/src/designer/backend/package-lock.json
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/backend/wwwroot/designer/css/designsystem/images/arrowrightup.svg
  src/studio/src/designer/backend/wwwroot/designer/css/designsystem/v1/style.dist.altinnett.min.css
  src/studio/src/designer/backend/wwwroot/designer/img/Altinn-studio-1.svg
  src/studio/src/designer/backend/wwwroot/designer/img/Altinn-studio-2.svg
  src/studio/src/designer/backend/wwwroot/designer/img/Altinn-studio-3.svg
  src/studio/src/designer/backend/wwwroot/designer/img/Altinn-studio-stor.svg
  src/studio/src/designer/backend/wwwroot/designer/img/AltinnD-logo.svg
  src/studio/src/designer/backend/wwwroot/designer/img/arrowrightup.svg
Labels: solution/studio/designer

#5228 avoid creating a new object each time texts change
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/textResources/replace/replaceTextResourcesSagas.ts
Labels: area/language, solution/app-frontend

#5219 bug/5122-multiple-component-delete
  src/studio/src/designer/frontend/ux-editor/actions/formDesignerActions/actions/deleteFormComponent/index.ts
  src/studio/src/designer/frontend/ux-editor/actions/formDesignerActions/formDesignerActionDispatcher.ts
  src/studio/src/designer/frontend/ux-editor/actions/formDesignerActions/formDesignerActionTypes.ts
  src/studio/src/designer/frontend/ux-editor/containers/EditContainer.tsx
  src/studio/src/designer/frontend/ux-editor/reducers/formDesignerReducer/formLayoutReducer.ts
  src/studio/src/designer/frontend/ux-editor/sagas/formDesigner/formDesignerSagas.ts
Labels: area/ui-editor, solution/studio/designer

#5232 minor improvements
  src/studio/src/designer/backend/Views/Home/StartPage.cshtml
Labels: solution/studio/designer

#5240 feature/5033-configurePagesIncludedInPdf
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/PagesSettings.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/LayoutUtils.java
Labels: area/printout, solution/platform

#5243 add missing check for index
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/databindings.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/databindings.ts
Labels: solution/app-frontend

#5212 updated deps w47
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/ui-editor, solution/studio/designer

#5230 order archived instanced by archived date
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceRepositoryMock.cs
Labels: area/data-storage, solution/platform

#5246 logging which storage account denied access
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Services/BlobService.cs
Labels: area/data-storage, solution/platform

#5251 copying new files for template to docker image
  src/studio/src/designer/Dockerfile
Labels: solution/studio/designer

#5254 explicitly select texts for components
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formComponentUtils.ts
Labels: solution/app-frontend

#5253 added dotnet user to app
  src/Altinn.Apps/AppTemplates/AspNet/Dockerfile
  src/Altinn.Apps/AppTemplates/AspNet/deployment/templates/deployment.yaml
  src/studio/AppTemplates/AspNet/Dockerfile
  src/studio/AppTemplates/AspNet/deployment/templates/deployment.yaml
Labels: area/app-deploy, solution/app-backend

#5260 bug/5259-cleanup-only-runs-on-weekdays
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/NightlyCleanup.cs
Labels: area/data-storage, solution/platform

#5258 Removed old read scope for org. Fixed a few random warnings.
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/HelperTests/InstanceEventHelperTest.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/JwtTokenMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/PepWithPDPAuthorizationMockSI.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/TextRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestData/TestData.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstancesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/TextsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingRepositories/SasTokenProviderTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Utils/TestDataUtil.cs
Labels: area/data-storage, solution/platform

#5261 updated frontend and designer deps
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#5265 Feature/5226 update backend deps
  lgtm.yml
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/Altinn.Apps/AppTemplates/react/receipt/Dockerfile
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.ExampleClients/PrefillClient/PrefillClient.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/development/loadbalancer/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
  src/studio/src/load-balancer/Dockerfile
Labels: area/authentication, area/authorization, area/dashboard, area/data-storage, area/events, area/printout, area/profile, area/receipt, area/register, area/ui-editor, solution/app-backend, solution/app-frontend, solution/apps, solution/platform, solution/studio/designer

#5250 Update version
  src/studio/src/repositories/Dockerfile
  src/studio/src/repositories/Dockerfile.local
Labels: solution/studio/repos

#5273 new yaml for prod use cases
  src/test/K6/use-cases-prod.yaml
Labels: area/test
