Repository Altinn/altinn-studio, pull requests merged in 2020-10, with the labels that each got.

#4898 Bug/4871 app owner delete instance
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Implementation/InstanceAppSITests.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/InstanceAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/IInstance.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/InstanceApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/endring-av-navn/config/authorization/policy.xml
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/InstanceMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/InstancePlatformFailsMock.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/Startup.cs
  src/development/LocalTest/Startup.cs
  src/studio/AppTemplates/AspNet/App/Startup.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#4902 updated nuget package
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#4900 Feature/4885 frontend deps w40
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#4873 bug/4648-drag-n-drop-groups
  src/studio/src/designer/frontend/ux-editor/containers/Container.tsx
  src/studio/src/designer/frontend/ux-editor/containers/DesignView.tsx
  src/studio/src/designer/frontend/ux-editor/containers/DroppableDraggableComponent.tsx
  src/studio/src/designer/frontend/ux-editor/containers/DroppableDraggableContainer.tsx
  src/studio/src/designer/frontend/ux-editor/containers/Toolbar.tsx
  src/studio/src/designer/frontend/ux-editor/reducers/formDesignerReducer/formLayoutReducer.ts
Labels: area/ui-editor, solution/studio/designer, status/not-ready-for-qa

#4907 Marking instance as hard deleted not deleting
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstancesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/apps/tdd/endring-av-navn/config/authorization/policy.xml
Labels: area/data-storage, solution/platform

#4908 updated backend deps
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Altinn.App.PlatformServices.Tests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Apps/AppTemplates/react/receipt/Dockerfile
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
  src/Altinn.ExampleClients/PrefillClient/PrefillClient.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
Labels: area/authentication, area/authorization, area/dashboard, area/data-storage, area/profile, area/receipt, area/register, area/ui-editor, solution/app-backend, solution/app-frontend, solution/platform, solution/studio/designer

#4911 updated accesstoken nuget and updated pdf pom.xml
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/api-use, area/authentication, area/authorization, area/printout, area/profile, area/receipt, area/register, solution/app-backend, solution/platform, solution/studio/designer

#4915 Bug/4892 move pdf generation to end task
  README.md
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppBase.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/PDFSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/IPDF.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/PDFMockSI.cs
Labels: area/api-use, area/data-storage, solution/app-backend, solution/platform

#4919 bug/4916-pdf-not-generated
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/PDFSI.cs
Labels: area/api-use, solution/app-backend

#4920 Increase version number for the App packages.
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#4921 Various issues pdf
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/App.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/TextUtils.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/resources/language/nn.json
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/utils/TextUtilsTest.java
Labels: area/printout, solution/platform

#4923 Update App projects to use latest Altinn.App.* packages.
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/AppRef.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/appsettings.json
Labels: solution/app-backend

#4924 Updated Startup for the App Template used by studio.
  src/studio/AppTemplates/AspNet/App/Startup.cs
Labels: solution/app-backend

#4930 updated app settings with events endpoint
  src/studio/AppTemplates/AspNet/App/appsettings.json
Labels: solution/app-backend

#4894 Feature/4557 contexthandler event update
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Constants/XacmlRequestAttribute.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/PepWithPDPAuthorizationMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Models/XacmlResourceAttributes.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/config/authorization/policy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Constants/XacmlRequestAttribute.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Models/XacmlResourceAttributes.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Services/Implementation/ContextHandler.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/AltinnApps_DecisionTests.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnApps0027Request.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnApps0027Response.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/skd/taxreport/policy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/MockServices/ContextHandlerMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Constants/XacmlRequestAttribute.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/PepWithPDPAuthorizationMockSI.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Models/XacmlResourceAttributes.cs
  src/studio/AppTemplates/AspNet/App/config/authorization/policy.xml
Labels: area/authorization, area/data-storage, solution/app-backend, solution/platform

#4925 feature/gitea-1-12-5
  src/studio/src/repositories/Dockerfile
  src/studio/src/repositories/Dockerfile.local
Labels: solution/studio/repos

#4935 updated appowner test and testcafe version
  src/test/K6/src/data/two-task-app.xml
  src/test/K6/src/tests/app/appowner/end2end.js
  src/test/K6/src/tests/app/rf0002withattachment.js
  src/test/Testcafe/package-lock.json
  src/test/Testcafe/package.json
Labels: area/test

#4939 bug/4916-receipt-not-showing
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/confirm/containers/Confirm.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/receipt/containers/receiptContainer.tsx
  src/Altinn.Apps/AppFrontend/react/receipt/src/features/receipt/containers/Receipt.tsx
Labels: area/receipt, solution/app-frontend

#4944 bug/4943-repeating-group-max-occurs
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
Labels: solution/app-frontend

#4929 bug/4572-support-for-repeating-groups-pdf
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/FormLayoutElement.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/FormUtils.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/LayoutUtils.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/utils/FormUtilsTest.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/resources/formData/repeatingGroupFormData.xml
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/resources/formLayout/formLayoutNoGroups.json
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/resources/formLayout/formLayoutWithGroups.json
Labels: area/printout, solution/platform

#4952 Feature/4876 set up postgresql
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
Labels: solution/platform

#4960 changed trigger to every 30 mins
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/NightlyCleanup.cs
Labels: area/data-storage, solution/platform

#4961 back to original trigger
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/NightlyCleanup.cs
Labels: area/data-storage, solution/platform

#4962 Feature/4885 w41 backend deps
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/development/loadbalancer/Dockerfile
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/load-balancer/Dockerfile
Labels: area/data-storage, area/printout, solution/apps, solution/platform, solution/studio/designer

#4967 Feature/4876 set up postgresql
  src/Altinn.Platform/Altinn.Platform.Events/Events/Migration/v0.00/01-setup-tables.sql
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/appsettings.json
Labels: solution/platform

#4965 Feature/4885 w41 frontend deps
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#4951 Feature/4500 metrics for cosmos
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Configuration/AzureCosmosSettings.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/appsettings.json
Labels: area/data-storage, solution/platform

#4968 Final config for postgresql
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Migration/v0.00/01-setup-tables.sql
  src/Altinn.Platform/Altinn.Platform.Events/Events/Models/CloudEvent.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingRepositories/EventsRepositoryTest.cs
Labels: solution/platform

#4973 added data properties to the cloud event
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Models/CloudEvent.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Models/CloudEvent.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/EventsControllerTests.cs
Labels: area/api-use, solution/app-backend, solution/platform

#4959 bug/4958-attachments-pdf
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/Data.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/InstanceUtils.java
Labels: area/printout, solution/platform

#4975 Increased size of exclamation icon and changed text
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/en.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nb.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nn.ts
Labels: solution/app-frontend

#4974 removing references to postgres role
  src/Altinn.Platform/Altinn.Platform.Events/Events/Migration/v0.00/01-setup-tables.sql
Labels: solution/platform

#4981 Updated key-vault package.
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/printout, solution/platform

#4978 bug/4845-remove-all-headers
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/ux-editor/components/message/ErrorPopover.tsx
  src/studio/src/designer/frontend/ux-editor/containers/Container.tsx
Labels: area/ui-editor, solution/studio/designer

#4982 bug/4949-file-upload-validation-hides-list
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/FileUploadComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/styles/FileUploadComponent.css
Labels: solution/app-frontend

#4980 feature/4550-implement-repository-service-postgres
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Configuration/AzureCosmosSettings.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Configuration/PostgreSQLSettings.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Configuration/UpdateItemTimestamp.js
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Models/CloudEvent.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/CosmosDatabaseHandler.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/EventsRepository.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/IPostgresRepository.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/PostgresRepository.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/EventsCosmosService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/EventsService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/Interfaces/IEventsCosmosService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/Interfaces/IEventsService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/EventsCosmosServiceMock.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/EventsCosmosServiceMockFails.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/PostgresRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/EventsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingServices/EventsServiceTest.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/appsettings.json
Labels: solution/platform

#4995 feature/4853-platform-pdf-multiple-layouts
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/PdfContext.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
Labels: area/printout, solution/platform

#4983 negative api test for app owner
  src/test/K6/src/api/app/instances.js
  src/test/K6/src/api/app/process.js
  src/test/K6/src/api/storage/instances.js
  src/test/K6/src/buildrequestheaders.js
  src/test/K6/src/config.js
  src/test/K6/src/tests/app/appowner/end2end.js
  src/test/K6/src/tests/app/multipartdata.js
  src/test/K6/src/tests/app/negativetests/appowner-writewithoutaccess.js
  src/test/K6/src/tests/app/process.js
  src/test/K6/src/tests/platform/storage/appowner/data.js
  src/test/K6/src/tests/platform/storage/appowner/instances.js
  src/test/K6/src/tests/platform/storage/instances.js
Labels: area/test

#4998 setting grants in script
  src/Altinn.Platform/Altinn.Platform.Events/Events/Migration/v0.00/02-setup-grants.sql
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/EventsService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/events/1.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/events/2.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/EventsServiceMock.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingServices/EventsServiceTest.cs
Labels: solution/platform

#4953 Feature/4778 multiple form pages app
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/formLayoutStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/initialStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/instanceDataStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/partyMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/profileStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/GenericComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/process-step/NavigationButton.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/containers/ProcessStep.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/containers/__snapshots__/ProcessStep.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/Form.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/logic/validation.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/selectors/getLayoutData.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/rules.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/process-step/NavBar.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/process-step/NavigationButtons.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/confirm/containers/Confirm.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/Form.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/update/updateFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/dynamics/conditionalRendering/conditionalRenderingSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/fetch/fetchFormLayoutActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/fetch/fetchFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutActionTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutReducer.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/rules/check/checkRulesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/selectors/getLayoutData.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/containers/ProcessStep.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/options/fetch/fetchOptionsSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/dataTask/dataTaskQueueSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formLayout.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/layout/index.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/rules/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/en.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nb.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nn.ts
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/ResourceController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppResourcesSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/PDFSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/IAppResources.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Models/PDFContext.cs
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/PdfContext.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
  src/development/docker-compose.yml
Labels: area/api-expose, area/api-use, area/printout, solution/app-backend, solution/app-frontend, solution/platform

#5005 updated package versions
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#5004 Update PackageReferences in backend projects.
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Altinn.App.PlatformServices.Tests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/AppRef.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
  src/Altinn.Common/Authentication/Altinn.Common.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Repositories/OrgLookupTest.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/development/LocalTest/LocalTest.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/api-expose, area/authentication, area/authorization, area/data-storage, area/profile, area/receipt, area/register, solution/app-backend, solution/platform, solution/studio/designer

#5010 feature/pdf-generation-multiple-pages
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/PdfContext.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
Labels: area/printout, solution/platform

#5009 Second pass on package updates in backend.
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.ExampleClients/PrefillClient/PrefillClient.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/development/LocalTest/LocalTest.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/api-expose, area/api-use, area/authentication, area/authorization, area/data-storage, area/events, area/profile, area/receipt, area/register, solution/app-backend, solution/platform, solution/studio/designer

#5011 fix bug for repeating groups in single page form
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/fetch/fetchFormLayoutSagas.ts
Labels: solution/app-frontend

#5013 Update App template to use latest Altinn.App packages
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend

#5001 Feature/4551 lookup person and org events
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Configuration/GeneralSettings.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Configuration/PlatformSettings.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/ErrorController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Exceptions/PlatformHttpException.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Extensions/HttpClientExtension.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/PostgresRepository.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/EventsService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/Interfaces/IRegisterService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/RegisterService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/events/1.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/events/2.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/parties/1.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/GlobalSuppressions.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/Authentication/ConfigurationManagerStub.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/Authentication/JwtCookiePostConfigureOptionsStub.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/EventsServiceMock.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/JwtTokenMock.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/PostgresRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/RegisterServiceMock.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/EventsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingServices/EventsServiceTest.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingServices/RegisterServiceTest.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/appsettings.json
Labels: area/events, solution/platform

#5023 expose substatus changed event to sbl
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/MessageboxInstancesController.cs
Labels: area/data-storage, solution/platform

#5015 Feature/4904 key vault service
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Extensions/ConfigurationBuilderExtensions.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/SecretsAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/SecretsLocalAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/ISecrets.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/Program.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/Startup.cs
Labels: area/api-expose, area/api-use, area/events, solution/app-backend, solution/platform

#5028 updated template and pushed new nuget
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/Program.cs
  src/studio/AppTemplates/AspNet/App/Startup.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#5021 generating platform accesstoken for events service
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Implementation/EventsAppSITests.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/EventsAppSI.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
Labels: area/api-expose, area/api-use, area/events, solution/app-backend, solution/platform

#5030 Removed alpha & updated nuget refs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#5025 Feature/4751 event authorization
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/AccessTokenHandler.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Configuration/AccessTokenSettings.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Constants/AltinnXacmlUrns.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Authorization/AuthorizationHelper.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Authorization/CloudEventXacmlMapper.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Extensions/ClaimsPrincipalExtensions.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Constants/XacmlRequestAttribute.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/User_1337/party_1337/roles.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/User_1337/party_500000/roles.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/User_1337/party_500001/roles.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/User_1337/party_500002/roles.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/User_1337/party_500003/roles.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/User_1337/party_500600/roles.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Roles/User_1337/party_500700/roles.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/apps/ttd/endring-av-navn-v2/config/authorization/policy.xml
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/PepWithPDPAuthorizationMockSI.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Models/XacmlResourceAttributes.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/EventsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingUtils/CloudEventXacmlMapperTests.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/appsettings.json
Labels: area/authorization, area/events, solution/platform

#5031 updated source & changed namespace
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Implementation/EventsAppSITests.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/EventsAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/SetupUtil.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#5035 configuring settings for pep
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
Labels: area/events, solution/platform

#5037 minor fixed + new nuget
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/EventsAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/ProfileAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/RegisterAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/RegisterDSFAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/RegisterERAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#5024 Instance events made available for message box should include filtered Saved events
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/MessageboxInstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/InstanceEventHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/InstanceHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceEventRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/HelperTests/InstanceEventHelperTest.cs
Labels: area/data-storage, solution/platform

#5042 Added StyleCop rules to Register. Fixed all errors and warnings
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/GlobalSuppressions.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Mocks/Authentication/ConfigurationManagerStub.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Mocks/Authentication/JwtCookiePostConfigureOptionsStub.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Mocks/SigningKeyResolverMock.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/TestingControllers/OrganizationsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/TestingControllers/PartiesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/TestingFilters/ValidateModelStateAttributeTests.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.sln
  src/Altinn.Platform/Altinn.Platform.Register/Altinn3.ruleset
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
Labels: area/register, solution/platform

#5043 Added StyleCop rules to Receipt. Fixed all errors and warnings
  src/Altinn.Platform/Altinn.Platform.Receipt/Altinn.Platform.Receipt.sln
  src/Altinn.Platform/Altinn.Platform.Receipt/Altinn3.ruleset
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/GlobalSuppressions.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/HttpClientAccessorTest.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/ReceiptControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/ReceiptControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Testdata/Instances.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Testdata/Parties.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Testdata/UserProfiles.cs
Labels: area/receipt, solution/platform

#5045 feature/5003-update-backend-deps-w43
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
Labels: area/api-use, area/authentication, area/authorization, area/dashboard, area/data-storage, area/events, area/profile, area/receipt, area/register, area/ui-editor, solution/app-backend, solution/apps, solution/platform, solution/studio/designer

#5046 manipulating data created events
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/InstanceEventHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/HelperTests/InstanceEventHelperTest.cs
Labels: area/data-storage, solution/platform

#5048 Bugfix query instances where process incomplete
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
Labels: area/data-storage, solution/platform

#5050 Minor change to StyleCop settings for AccessToken projects
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn3.ruleset
Labels: area/authorization

#5044 Updated scope
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/InstanceStatus.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/ProcessHistoryItem.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/AuthorizationHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstancesControllerTests.cs
Labels: area/data-storage, solution/platform

#5051 Feature/4552 event search api for parties
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/PepWithPDPAuthorizationMockSI.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/EventsControllerTests.cs
Labels: area/events, solution/platform

#5056 ordering function result
  src/Altinn.Platform/Altinn.Platform.Events/Events/Migration/v0.02/01-setup-functions.sql
Labels: area/events, solution/platform

#5052 Fixed StyleCop in the PEP projects. Fixed all errors and a few warnings
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Authorization/AppAccessHandler.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Authorization/ClaimAccessHandler.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Authorization/ClaimAccessRequirement.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Authorization/ScopeAccessHandler.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Clients/AuthorizationApiClient.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Constants/AltinnObligations.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Constants/AltinnXacmlUrns.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Helpers/DecisionHelper.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Implementation/PDPAppSI.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Interfaces/IPDP.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Models/EnforcementResult.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Program.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Startup.cs
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/AppAccessHandlerTest.cs
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/DecisionHelperTest.cs
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/GlobalSuppressions.cs
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/ScopeAccessHandlerTest.cs
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
Labels: area/authorization

#5061 Removing logging to windows event log
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Program.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Program.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Program.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Program.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Program.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Program.cs
Labels: area/authentication, area/authorization, area/events, area/profile, area/receipt, area/register, solution/platform

#5069 reinstated deleted code
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
Labels: area/events, solution/platform

#5068 fall through to octet-stream if type not defined
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/attachments/upload/uploadAttachmentSagas.ts
Labels: area/attachments, solution/app-frontend

#5065 linking to docs
  src/studio/src/designer/frontend/ux-editor/components/toolbar/InformationPanelComponent.tsx
Labels: area/ui-editor, solution/studio/designer

#5040 feature/5003-update-frontend-deps-w43
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/backend/package-lock.json
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#5076 bug/5067-possible-to-retrieve-with-wrong-partyid-in-endpoint
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/EventsControllerTests.cs
Labels: area/events, solution/platform

#5071 Added handling of the two restrictions minimum and maximum
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/JsonMetadataParserTests.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/JsonSchemaToInstanceModelGeneratorTests.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/XsdToJsonSchemaTests.cs
  src/studio/src/designer/backend.Tests/_TestData/JsonSchema/melding-1603-12392.json
  src/studio/src/designer/backend.Tests/_TestData/Model/JsonSchema/melding-1603-12392.json
  src/studio/src/designer/backend.Tests/_TestData/Model/JsonSchema/restriction-total-digits.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Model/Metadata/restriction-total-digits.metadata.json
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/melding-1603-12392.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/restriction-total-digits.xsd
  src/studio/src/designer/backend/Factories/ModelFactory/JsonMetadataParser.cs
Labels: solution/studio/designer

#5077 bug/5070-filter-based-on-source-does-not-work
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/EventsControllerTests.cs
Labels: area/events, solution/platform

#5078 bug/4805-selected-element-stuck-ux
  src/studio/src/designer/frontend/ux-editor/sagas/formDesigner/formDesignerSagas.ts
Labels: area/ui-editor, solution/studio/designer

#5082 update app.ini for repos
  src/studio/src/repositories/gitea-config/app.ini
  src/studio/src/repositories/gitea-data/gitea/conf/app.ini
Labels: solution/studio/repos

#5084 optional party, person, unit optional in org api
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/EventsControllerTests.cs
Labels: area/events, solution/platform

#5097 feature/5063-update-frontend-deps-w44
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/backend/package-lock.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#5091 upgrade kuberneteswrapperclient
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.Apps/KubernetesWrapper/Services/Implementation/KubernetesApiWrapper.cs
Labels: solution/apps

#5089 update backend dependencies w44
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/api-use, solution/app-backend, solution/studio/designer

#5081 Fixes to settings load order and some tidying in settings.
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Extensions/ConfigurationBuilderExtensions.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/auth-level-2/appsettings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/auth-level-3/appsettings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/complex-process/appsettings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/contributer-restriction/appsettings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/custom-validation/appsettings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/endring-av-navn/appsettings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/no-access/appsettings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/platform-fails/appsettings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/sirius/appsettings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/task-validation/appsettings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/events/appsettings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/model-validation/appsettings.json
  src/Altinn.Apps/AppTemplates/AspNet/App/Program.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/appsettings.Development.json
  src/Altinn.Apps/AppTemplates/AspNet/App/appsettings.Production.json
  src/Altinn.Apps/AppTemplates/AspNet/App/appsettings.Staging.json
  src/Altinn.Apps/AppTemplates/AspNet/App/appsettings.json
  src/studio/AppTemplates/AspNet/App/Program.cs
  src/studio/AppTemplates/AspNet/App/appsettings.Development.json
  src/studio/AppTemplates/AspNet/App/appsettings.Production.json
  src/studio/AppTemplates/AspNet/App/appsettings.Staging.json
  src/studio/AppTemplates/AspNet/App/appsettings.json
Labels: area/api-expose, area/api-use, solution/app-backend

#5075 bug/5017-codelist-value-repeating-group
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/GroupContainer.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/GroupContainer.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/index.ts
Labels: solution/app-frontend
