Repository Altinn/altinn-studio, pull requests merged in 2020-12, with the labels that each got.

#5282 bug/font-fix
  src/studio/src/designer/backend/wwwroot/designer/css/designsystem/v1/style.dist.altinnett.min.css
Labels: solution/studio/designer

#5272 Feature/5244 backend updates for message support
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/InstanceApiPlatformFailsTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/InstanceApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/Files/SvarPaaNabovarselType.xml
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/Files/melding.xml
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/Instances/dibk/nabovarsel/1337/readme.txt
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/appsettings.Development.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/appsettings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/config/applicationmetadata.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/config/authorization/policy.xml
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/config/process/process.bpmn
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/config/texts/resource.nb.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/logic/AltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/logic/Calculation/CalculationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/logic/InstantiationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/logic/Validation/ValidationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/models/Melding.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/models/SvarPaaNabovarselType.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/EndToEndTests/NabovarselEndToEnd.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/DataMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/SetupUtil.cs
Labels: area/api-expose, solution/app-backend

#5283 check if option is previously retrieved
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/options/fetch/fetchOptionsSagas.ts
Labels: solution/app-frontend

#5270 Feature/5206 poc reuse
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/frontend/app-development/config/routes.tsx
  src/studio/src/designer/frontend/app-development/features/dataModeling/containers/DataModelingContainer.tsx
  src/studio/src/designer/frontend/app-development/features/dataModeling/dataModelingActionTypes.ts
  src/studio/src/designer/frontend/app-development/features/dataModeling/dataModelingActions.ts
  src/studio/src/designer/frontend/app-development/features/dataModeling/dataModelingDispatcher.ts
  src/studio/src/designer/frontend/app-development/features/dataModeling/dataModelingReducer.ts
  src/studio/src/designer/frontend/app-development/features/dataModeling/dataModelingSagas.ts
  src/studio/src/designer/frontend/app-development/features/dataModeling/dataModelingSlice.ts
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/app-development/reducers/index.ts
  src/studio/src/designer/frontend/app-development/tsconfig.json
  src/studio/src/designer/frontend/app-development/types/global.ts
  src/studio/src/designer/frontend/app-development/webpack.config.development.js
  src/studio/src/designer/frontend/app-development/webpack.config.production.js
  src/studio/src/designer/frontend/lerna.json
  src/studio/src/designer/frontend/packages/schema-editor/src/components/AddPropertyModal.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/InputField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/schemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/mockData.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/types/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaEditor.test.tsx
Labels: solution/studio/designer

#5286 added status props
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/InstanceStatus.cs
Labels: area/data-storage, solution/platform

#5293 Update backend dependencies
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Altinn.App.PlatformServices.Tests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/AppRef.csproj
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
  src/Altinn.ExampleClients/PrefillClient/PrefillClient.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/Altinn.Platform.Models.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/development/LocalTest/LocalTest.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend.Tests/Mocks/IRepositoryMock.cs
  src/studio/src/designer/backend/Designer.csproj
Labels: area/api-expose, area/authentication, area/authorization, area/data-storage, area/events, area/profile, area/receipt, area/register, solution/app-backend, solution/platform, solution/studio/designer

#5296 added language support for instantiation title
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/index.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/en.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nb.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nn.ts
Labels: area/instantiation, solution/app-frontend

#5301 Update dependencies App frontend
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
Labels: area/receipt, solution/app-frontend

#5314 More efficient load testing cleanup
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Services/CosmosService.cs
Labels: area/data-storage, solution/platform

#5313 new property on data element
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/DataElement.cs
Labels: area/data-storage, solution/platform

#5318 re-wrote LeftDrawerMenu as function
  src/studio/src/designer/frontend/shared/navigation/drawer/LeftDrawerMenu.tsx
Labels: solution/studio/designer

#5287 feature/5178-nested-groups
  src/Altinn.Apps/AppFrontend/react/.eslintrc.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/GroupContainer.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/GroupContainer.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/logic/validation.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/databindings.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/layout.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/Form.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/fetch/fetchFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/styles/FileUploadComponent.css
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/databindings.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formLayout.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/layout/index.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
Labels: solution/app-frontend

#5319 feature/5288-nested-groups-designer
  src/studio/src/designer/frontend/ux-editor/containers/Container.tsx
  src/studio/src/designer/frontend/ux-editor/containers/DroppableDraggableComponent.tsx
  src/studio/src/designer/frontend/ux-editor/containers/DroppableDraggableContainer.tsx
  src/studio/src/designer/frontend/ux-editor/containers/Toolbar.tsx
  src/studio/src/designer/frontend/ux-editor/reducers/formDesignerReducer/formLayoutReducer.ts
  src/studio/src/designer/frontend/ux-editor/test/__tests__/utils/formLayout.test.tsx
  src/studio/src/designer/frontend/ux-editor/utils/formLayout.ts
Labels: area/ui-editor, solution/studio/designer

#5327 setting visible after on creation
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/development/LocalTest/Controllers/Storage/InstancesController.cs
Labels: area/data-storage, solution/platform

#5326 changed expected response code
  src/test/K6/src/tests/platform/storage/messageboxinstances.js
Labels: area/test

#5321 Cleanup function bugfix + better logging
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/LoadTestingCleanup.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/NightlyCleanup.cs
Labels: area/data-storage, solution/platform

#5325 Test/cypress studio tests
  .github/labeler.yml
  README.md
  src/test/cypress/.gitignore
  src/test/cypress/README.md
  src/test/cypress/cypress.json
  src/test/cypress/e2e/fixtures/builds.js
  src/test/cypress/e2e/fixtures/deploys.js
  src/test/cypress/e2e/fixtures/repo.js
  src/test/cypress/e2e/integration/setup/after.js
  src/test/cypress/e2e/integration/setup/before.js
  src/test/cypress/e2e/integration/studio/dashboard.js
  src/test/cypress/e2e/integration/studio/deploy.js
  src/test/cypress/e2e/integration/studio/designer.js
  src/test/cypress/e2e/integration/studio/login.js
  src/test/cypress/e2e/pageobjects/common.js
  src/test/cypress/e2e/pageobjects/dashboard.js
  src/test/cypress/e2e/pageobjects/designer.js
  src/test/cypress/e2e/pageobjects/header.js
  src/test/cypress/e2e/pageobjects/loginandreg.js
  src/test/cypress/e2e/support/api.js
  src/test/cypress/e2e/support/index.d.ts
  src/test/cypress/e2e/support/index.js
  src/test/cypress/e2e/support/studio.js
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: area/test

#5334 downgraded libgit2sharp
  src/studio/src/designer/backend/Designer.csproj
Labels: solution/studio/designer

#5332 fix logic for dynamics in repeating groups
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/conditionalRendering.ts
Labels: solution/app-frontend

#5335 Bug/repo unavailable
  src/studio/src/designer/backend/Designer.csproj
Labels: solution/studio/designer

#5337 Feature/5311 backend patching
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.ExampleClients/PrefillClient/PrefillClient.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/development/LocalTest/LocalTest.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/api-expose, area/api-use, area/authorization, area/data-storage, area/events, area/printout, area/receipt, solution/app-backend, solution/platform, solution/studio/designer

#5339 new version azure.identity
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/printout, solution/platform

#5338 feature/5311-update-frontend-deps-w50
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/backend/package-lock.json
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#5331 feature/5289-nested-groups-pdf
  .gitignore
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/FormUtils.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/utils/FormUtilsTest.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/resources/formData/repeatingGroupFormData.xml
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/resources/formLayout/formLayoutWithNestedGroups.json
Labels: area/printout, solution/platform

#5351 feature/4319-predefined-texts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/en.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nb.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nn.ts
Labels: solution/app-frontend

#5323 Query instances on isArchived, isHardDeleted, isSoftDeleted
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Services/CosmosService.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceRepositoryMock.cs
Labels: area/data-storage, solution/platform

#5324 Feature/5235 new read status
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/DataController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceRepositoryMock.cs
Labels: area/data-storage, solution/platform

#5354 duplicated changes in platform storage in localtest
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/DataController.cs
  src/development/LocalTest/Controllers/Storage/DataController.cs
  src/development/LocalTest/Services/Storage/Implementation/InstanceRepository.cs
Labels: area/data-storage, solution/platform

#5355 designer as staging
  src/studio/src/designer/backend/Startup.cs
Labels: solution/studio/designer

#5361 updated dataElement model
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/DataElement.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/DataController.cs
  src/development/LocalTest/Controllers/Storage/DataController.cs
  src/development/LocalTest/Controllers/Storage/InstancesController.cs
  src/development/LocalTest/LocalTest.csproj
Labels: area/data-storage, solution/platform

#5367 bug/5365-delete-nested-groups
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/SelectionEditComponent.tsx
  src/studio/src/designer/frontend/ux-editor/sagas/formDesigner/formDesignerSagas.ts
Labels: area/ui-editor, solution/studio/designer

#5362 only update readStatus if dataelements
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceRepositoryMock.cs
  src/development/LocalTest/Services/Storage/Implementation/InstanceRepository.cs
Labels: area/data-storage, solution/platform

#5371 nullcheck
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceRepositoryMock.cs
  src/development/LocalTest/Services/Storage/Implementation/InstanceRepository.cs
Labels: area/data-storage, solution/platform

#5372 Fixed bug for nested rep group in pdf
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
Labels: area/printout, solution/platform

#5374 fixed failing npm run gulp step for studio locally
  src/studio/src/designer/frontend/ux-editor/containers/Container.tsx
Labels: area/ui-editor, solution/studio/designer

#5375 Bug/5352 explicit redirect
  src/studio/src/designer/backend/Controllers/HomeController.cs
  src/studio/src/designer/backend/Infrastructure/AuthenticationConfiguration.cs
  src/studio/src/designer/backend/Startup.cs
Labels: solution/studio/designer

#5376 feature/5311-update-backend-deps-w51
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/react/receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
Labels: area/api-expose, area/api-use, area/authorization, area/dashboard, area/data-storage, area/events, area/receipt, area/ui-editor, solution/app-backend, solution/app-frontend, solution/platform, solution/studio/designer

#5377 feature/5311-update-frontend-deps-w51
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Platform/Altinn.Platform.Receipt/package-lock.json
  src/Altinn.Platform/Altinn.Platform.Receipt/package.json
Labels: area/receipt, solution/app-frontend, solution/platform

#5330 Feature/5302 dynamics support backend
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Models/LayoutSettings.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppBase.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/PDFSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/IAltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/IPDF.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Models/PDFContext.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/ProcessApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/Files/print.pdf
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/Profile/User/1.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/logic/AltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/logic/PdfHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/ui/layouts/1.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/ui/layouts/2.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/ui/layouts/3.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/ui/layouts/4.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/ui/settings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/autodelete-true/logic/AltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/complex-process/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/contributer-restriction/logic/AltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/custom-validation/logic/AltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/endring-av-navn/logic/AltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/platform-fails/logic/AltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/sirius/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/task-validation/logic/AltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/events/logic/AltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/model-validation/logic/AltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/EndToEndTests/NabovarselEndToEnd.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/DataMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/PDFMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/SetupUtil.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/logic/Print/PdfHandler.cs
Labels: area/api-use, solution/app-backend

#5380 Skip hidden fields in repeating group
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
Labels: area/printout, solution/platform

#5357 Added a simple receipt page for apps with auto delete enabled
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/applicationMetadataMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/initialStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/instanceDataStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/receipt/containers/receiptContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/applicationMetadata/index.d.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/textResource.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/components/index.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/components/organisms/AltinnReceiptSimple.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/en.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nb.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nn.ts
Labels: area/receipt, solution/app-frontend

#5382 feature/5209-validation-page-switch
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/containers/ProcessStep.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/logic/validation.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/process-step/NavigationButtons.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/update/updateFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutActionTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutReducer.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/component/componentValidationsActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/validationActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/validationReducer.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/containers/ProcessStep.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/attachments/delete/deleteAttachmentSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/attachments/upload/uploadAttachmentSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/layout/index.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
Labels: area/attachments, solution/app-frontend

#5389 missing logic in localtest
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/InstanceMockSI.cs
  src/development/LocalTest/Controllers/Storage/InstancesController.cs
  src/development/LocalTest/Controllers/Storage/ProcessController.cs
Labels: solution/app-backend

#5398 fixed typo
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/MessageboxInstancesController.cs
Labels: area/data-storage, solution/platform

#5401 check all partitions before return
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
Labels: area/data-storage, solution/platform
