Repository Altinn/altinn-studio, pull requests merged in 2020-09, with the labels that each got.

#4699 added logging
  src/studio/src/designer/backend/Program.cs
  src/studio/src/designer/backend/Startup.cs
Labels: solution/studio/designer

#4700 Bug/4698 added logging startup
  src/studio/src/designer/backend/Program.cs
Labels: solution/studio/designer

#4701 Bug/4698 added logging startup
  src/studio/src/designer/backend/Program.cs
Labels: solution/studio/designer

#4702 not modifying basepath of app in program.cs
  src/studio/src/designer/backend/Program.cs
Labels: solution/studio/designer

#4704 more logging in source control
  src/studio/src/designer/backend/Services/Implementation/SourceControlSI.cs
Labels: solution/studio/designer

#4706 Bug/4284 more logging
  src/studio/src/designer/backend/Services/Implementation/SourceControlSI.cs
Labels: solution/studio/designer

#4703 removed all logging
  src/studio/src/designer/backend/Program.cs
Labels: solution/studio/designer

#4669 feature/4464-language-support-pdf
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/PDFSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Models/PDFContext.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/App.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/PdfContext.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/ProfileSettingPreference.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/UserProfile.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/AltinnOrgUtils.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/TextUtils.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/resources/language/en.json
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/resources/language/nb.json
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/resources/language/nn.json
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, area/printout, solution/app-backend, solution/platform

#4714 bug/codelist-checkbox-radio
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/RadioButtonsContainerComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/SelectionEditComponent.tsx
Labels: area/ui-editor, solution/app-frontend, solution/studio/designer

#4708 Ensure unique group id
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/ux-editor/containers/Container.tsx
Labels: area/ui-editor, solution/studio/designer

#4718 Updated NuGet dependencies week 36.
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
Labels: area/authorization, area/data-storage, area/profile, solution/apps, solution/platform

#4715 feature/4653-optimize-requests
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/datamodel/fetch/fetchFormDatamodelActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/datamodel/fetch/fetchFormDatamodelSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/datamodel/formDatamodelActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/appTask/appTaskQueueSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/dataTask/dataTaskQueueSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/urlHelper.ts
Labels: solution/app-frontend

#4722 feature/4695-update-deps-w36
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/studio/src/designer/backend/package-lock.json
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/printout, area/receipt, area/ui-editor, solution/app-frontend, solution/platform, solution/studio/designer

#4723 fixed typo in text resource key
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/en.ts
  src/Altinn.Apps/AppTemplates/react/shared/src/language/texts/en.ts
Labels: solution/app-backend, solution/app-frontend

#4725 set contraint on app in endpoint path
  src/studio/src/designer/backend/Startup.cs
Labels: solution/studio/designer

#4726 added english text for address component
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/en.ts
  src/Altinn.Apps/AppTemplates/react/shared/src/language/texts/en.ts
Labels: solution/app-backend, solution/app-frontend

#4724 Case insenstitive unique group id check.
  src/studio/src/designer/frontend/ux-editor/containers/Container.tsx
Labels: area/ui-editor, solution/studio/designer

#4730 Reference correct analyzer rules in Platform Authentication
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.sln
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn3.ruleset
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
Labels: area/authentication, solution/platform

#4705 new script for complete confirming instances and fixes for studio tests
  src/test/K6/.gitignore
  src/test/K6/src/.gitignore
  src/test/K6/src/api/storage/instances.js
  src/test/K6/src/tests/app/e2erf0002.js
  src/test/K6/src/tests/app/end2end.js
  src/test/K6/src/tests/app/portalsimulation.js
  src/test/K6/src/tests/app/rf0002portal.js
  src/test/K6/src/tests/app/rf0002withattachment.js
  src/test/K6/src/tests/app/uploadanddownload.js
  src/test/K6/src/tests/platform/storage/appowner/completeconfirmation.js
  src/test/K6/src/tests/platform/storage/appowner/createinstance.js
  src/test/K6/src/tests/platform/storage/appowner/uploaddata.js
  src/test/Testcafe/config.json
  src/test/Testcafe/package-lock.json
  src/test/Testcafe/package.json
Labels: area/test

#4737 discard changes always active
  src/studio/src/designer/frontend/app-development/features/administration/components/SideMenuContent.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/__snapshots__/Administration.test.tsx.snap
Labels: solution/studio/designer

#4735 simplified logging used for debugging purposes
  src/studio/src/designer/backend/Services/Implementation/SourceControlSI.cs
Labels: solution/studio/designer

#4740 Bug/4612 ie11 jsonptr
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/databindings.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
Labels: solution/app-frontend

#4741 Event project
  src/Altinn.Platform/Altinn.Platform.Events/.dockerignore
  src/Altinn.Platform/Altinn.Platform.Events/Altinn.Platform.Events.sln
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Configuration/CustomTelemetryInitializer.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Events/Events/Health/HealthCheck.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Health/HealthTelemetryFilter.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Program.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/DummyTest.cs
  src/Altinn.Platform/Altinn.Platform.Events/docker-compose.dcproj
  src/Altinn.Platform/Altinn.Platform.Events/docker-compose.yml
Labels: area/profile, solution/platform

#4744 Adding full path in DataBindingName for repeating group.
  src/studio/src/designer/Designer.sln
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/JsonSchemaToInstanceModelGeneratorTests.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/XsdToJsonSchemaTests.cs
  src/studio/src/designer/backend.Tests/GlobalSuppressions.cs
  src/studio/src/designer/backend.Tests/_TestData/JsonSchema/melding-1603-12392.json
  src/studio/src/designer/backend.Tests/_TestData/xsd/melding-1603-12392.xsd
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/designer/backend/Factories/ModelFactory/JsonSchemaToInstanceModelGenerator.cs
  src/studio/src/designer/backend/Startup.cs
  src/studio/src/designer/frontend/ux-editor/components/config/SelectDataModelComponent.tsx
  src/studio/src/designer/frontend/ux-editor/containers/Container.tsx
Labels: area/ui-editor, solution/studio/designer

#4748 re added projects to solution
  src/Altinn.Platform/Altinn.Platform.Events/Altinn.Platform.Events.sln
Labels: solution/platform

#4747 feature/4695-update-frontend-deps-w37
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#4749 Removed unsused langauge stuff
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Extensions/XmlToLinqExtensions.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/ModelMetadata/CultureString.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/ModelMetadata/Language.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Models/ProfileSettingPreference.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Altinn.Authorization.ABAC/Xacml/JsonProfile/XacmlJsonRequests.cs
  src/studio/src/designer/backend/Extensions/XmlToLinqExtensions.cs
  src/studio/src/designer/backend/ModelMetadataModels/CultureString.cs
  src/studio/src/designer/backend/ModelMetadataModels/Language.cs
Labels: area/api-use, area/authorization, solution/app-backend, solution/platform, solution/studio/designer

#4750 Filter out repeating group for data binding to field
  src/studio/src/designer/frontend/ux-editor/components/config/SelectDataModelComponent.tsx
Labels: area/ui-editor, solution/studio/designer

#4751 updated backend deps
  lgtm.yml
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/AppRef.csproj
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/development/LocalTest/LocalTest.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/authentication, area/authorization, area/data-storage, area/printout, area/profile, area/receipt, area/register, solution/app-backend, solution/apps, solution/platform, solution/studio/designer

#4752 Added suppression of missing element desctiption in test projects.
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/GlobalSuppressions.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/GlobalSuppressions.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/GlobalSuppressions.cs
Labels: area/authentication, area/authorization, solution/platform

#4754 Feature/fix style cop analyser settings platform profile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Properties/launchSettings.json
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Altinn.Platform.Profile.sln
  src/Altinn.Platform/Altinn.Platform.Profile/Altinn3.ruleset
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Program.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Properties/launchSettings.json
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Services/Implementation/UserProfilesWrapper.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/ApiTests/UserProfileTests.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/GlobalSuppressions.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/HealthCheckTests.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Mocks/Authentication/JwtCookiePostConfigureOptionsStub.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/ServiceTests/UserProfilesWrapperTest.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Utils/JwtTokenMock.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Utils/PrincipalUtil.cs
Labels: area/authorization, area/profile, solution/platform

#4768 Updated cleanup script used in pipelines
  src/test/K6/src/api/storage/messageboxinstances.js
  src/test/K6/src/tests/platform/storage/deleteinstances.js
Labels: area/test

#4771 Added StyleCop to Platform.Model
  src/Altinn.Platform/Altinn.Platform.Models/.vscode/launch.json
  src/Altinn.Platform/Altinn.Platform.Models/.vscode/tasks.json
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/Altinn.Platform.Models.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/GlobalSuppressions.cs
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/ModelValidator.cs
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/Register/PartyLookupValidationTests.cs
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.sln
  src/Altinn.Platform/Altinn.Platform.Models/Models/Altinn.Platform.Models.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Models/Authorization/Models/Role.cs
  src/Altinn.Platform/Altinn.Platform.Models/Models/Profile/Models/UserProfile.cs
  src/Altinn.Platform/Altinn.Platform.Models/Models/Register/Models/Party.cs
Labels: area/authorization, area/profile, area/register, solution/platform

#4787 added substatus property to instance
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/InstanceStatus.cs
Labels: area/data-storage, solution/platform

#4774 Fixed pagination issue for instancesController search.
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/ApplicationRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
Labels: area/data-storage, solution/platform

#4790 Feature/4765 Storage.interface updates for sub status
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Enums/InstanceEventType.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/InstanceStatus.cs
Labels: area/data-storage, solution/platform

#4795 Feature/4765 platform storage implementation
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstancesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/67f568ce-f114-48e7-ba12-dd422f73667a.json
Labels: area/data-storage, solution/platform

#4801 reset hasSubmitted on updateFormData
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/formDataReducer.ts
Labels: solution/app-frontend

#4804 expose-errors-when-parsing-xsd
  src/studio/src/designer/backend/Controllers/ModelController.cs
Labels: solution/studio/designer

#4800 implemented endpoint for substatus update in app template
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Implementation/InstanceAppSITests.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/InstanceAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/IInstance.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/InstanceApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/InstanceMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/InstancePlatformFailsMock.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#4807 backend patching w38
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.ExampleClients/PrefillClient/PrefillClient.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/repositories/Dockerfile
  src/studio/src/repositories/Dockerfile.local
Labels: area/api-expose, area/api-use, area/authentication, area/authorization, area/data-storage, area/profile, area/receipt, area/register, solution/app-backend, solution/platform, solution/studio/designer, solution/studio/repos

#4811 updated frontend deps w38
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#4793 bug/4667-datetime-format
  lgtm.yml
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DatepickerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/index.ts
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/TextUtils.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/utils/TextUtilsTest.java
  src/studio/src/designer/frontend/ux-editor/components/index.ts
Labels: area/printout, area/ui-editor, solution/app-frontend, solution/platform, solution/studio/designer

#4812 if no continuation token on later iterations return result
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
Labels: area/data-storage, solution/platform

#4820 set continuation token to empty if no continuation
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
Labels: area/data-storage, solution/platform

#4821 not setting next in response when not present
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
Labels: area/data-storage, solution/platform

#4822 bug/date-comp-test
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DatepickerComponent.tsx
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/TextUtils.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/utils/TextUtilsTest.java
Labels: area/printout, solution/app-frontend, solution/platform

#4825 re-enabled party sync with altinn portal
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/urlHelper.ts
Labels: solution/app-frontend

#4813 Expose substatus to messagebox
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Configuration/GeneralSettings.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/MessageboxInstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/InstanceHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/MessageBoxInstance.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/ITextRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/TextRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/TextRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/MessageboxInstancesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/17ad1851-f6cb-4573-bfcb-a17d145307b3.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/6323a337-26e7-4d40-89e8-f5bb3d80be3a.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/texts/tdd-endring-av-navn-en.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/texts/tdd-endring-av-navn-nb.json
Labels: area/data-storage, solution/platform

#4780 feature/1519-repeating-groups-larger-apps
  .vscode/settings.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/initialStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/message/ErrorPaper.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/message/__snapshots__/ErrorPaper.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/Form.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/GroupContainer.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/Group.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/GroupContainer.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/logic/validation.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/FileUploadComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/message/ErrorPaper.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/Form.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/Group.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/textResources/replace/replaceTextResourcesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/en.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nb.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nn.ts
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/shared/components/AltinnFormControlLabel.tsx
  src/studio/src/designer/frontend/ux-editor/containers/Container.tsx
  src/studio/src/designer/frontend/ux-editor/test/__tests__/utils/render.test.tsx
  src/studio/src/designer/frontend/ux-editor/types/global.ts
  src/studio/src/designer/frontend/ux-editor/utils/render.tsx
Labels: area/language, area/ui-editor, solution/app-frontend, solution/studio/designer

#4829 Test/4765 substatus test
  src/test/K6/src/api/storage/instances.js
  src/test/K6/src/config.js
  src/test/K6/src/tests/platform/storage/appowner/createinstance.js
  src/test/Testcafe/package-lock.json
  src/test/Testcafe/package.json
Labels: area/test

#4833 added content type to substatus request to platform
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/InstanceAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#4830 Feature/4550 create event api
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Configuration/AzureCosmosSettings.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Configuration/CustomTelemetryInitializer.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Configuration/UpdateItemTimestamp.js
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Models/CloudEvent.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Properties/launchSettings.json
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/CosmosDatabaseHandler.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/EventsRepository.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/IEventsRepository.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/DummyTest.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/EventsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Events/docker-compose.dcproj
Labels: solution/platform

#4837 feature/4550-Swashbuckle
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Properties/launchSettings.json
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
Labels: solution/platform

#4836 bug/rep-groups
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/GroupContainer.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
Labels: solution/app-frontend

#4838 bug/rep-groups-2
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/GroupContainer.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
Labels: solution/app-frontend

#4842 bug/4841-repeating-group-vanishes-on-reload
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formLayout.ts
Labels: solution/app-frontend

#4846 Text styling mobile view
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
Labels: solution/app-frontend

#4844 Use user directory for persisting data keys
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Extensions/DataProtectionConfiguration.cs
  src/Altinn.Apps/AppTemplates/AspNet/deployment/templates/deployment.yaml
  src/studio/AppTemplates/AspNet/deployment/templates/deployment.yaml
Labels: area/api-use, area/app-deploy, solution/app-backend

#4850 created new nuget 1.1.8
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#4831 feature/4764-substatus-receipt
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/containers/ProcessStep.tsx
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/src/App.css
  src/Altinn.Apps/AppFrontend/react/receipt/src/features/receipt/containers/Receipt.tsx
  src/Altinn.Apps/AppFrontend/react/shared/__tests__/components/molecules/AltinnSubstatusPaper.test.tsx
  src/Altinn.Apps/AppFrontend/react/shared/__tests__/components/molecules/__snapshots__/AltinnSubstatusPaper.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnInformationPaper.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/index.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/components/molecules/AltinnSubstatusPaper.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/types/index.ts
Labels: area/receipt, solution/app-frontend, solution/studio/designer

#4840 Feature/4551 org search api events
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/EventsRepository.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/EventsCosmosService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/Interfaces/IEventsCosmosService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/EventsCosmosServiceMock.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/EventsCosmosServiceMockFails.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/EventsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingRepositories/EventsRepositoryTest.cs
Labels: solution/platform

#4854 feature/4807 - Update nuget packages
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/authentication, area/authorization, area/data-storage, area/profile, solution/apps, solution/platform, solution/studio/designer

#4851 Remove check on required error message
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/logic/validation.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
Labels: solution/app-frontend

#4863 Bug/4859 substate failing
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Implementation/InstanceAppSITests.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/InstanceApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/InstanceMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/InstanceStatus.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/InstanceHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstancesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/67f568ce-f114-48e7-ba12-dd422f73667a.json
  src/development/LocalTest/Controllers/Storage/InstancesController.cs
  src/development/LocalTest/LocalTest.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/api-expose, area/api-use, area/authorization, area/data-storage, area/receipt, solution/app-backend, solution/platform, solution/studio/designer

#4864 Bug/4148 submit with errors bug
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
Labels: solution/app-frontend

#4865 feature/4770-update-frontend-deps-w39
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/backend/package-lock.json
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#4869 events endpoint events -> app
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/EventsControllerTests.cs
Labels: solution/platform

#4883 fix failing styleguide build
  src/Altinn.Apps/AppFrontend/react/shared/src/components/organisms/AltinnAppHeader.md
  src/Altinn.Apps/AppFrontend/react/shared/styleguide.webpack.config.js
  src/Altinn.Apps/AppFrontend/react/shared/styleguide/wrapper.tsx
  src/Altinn.Apps/AppFrontend/react/shared/tsconfig.json
Labels: solution/app-frontend

#4897 remove function returning hardcoded language
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/confirm/containers/Confirm.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/receipt/containers/receiptContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/containers/ProcessStepWrapper.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/language.ts
Labels: area/receipt, solution/app-frontend
