Repository Altinn/altinn-studio, pull requests merged in 2021-09, with the labels that each got.

#6736 Added JsonSchema 2 XmlSchema for simple type restriction
  src/studio/src/designer/DataModeling.Tests/DataModeling.Tests.csproj
  src/studio/src/designer/DataModeling.Tests/Json/SeresConverterTests.cs
  src/studio/src/designer/DataModeling.Tests/Json/SeresStrategyTests.cs
  src/studio/src/designer/DataModeling.Tests/XmlSchemaToJsonTests.cs
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/SeresSimpleTypeRestrictions.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/XmlSchema/SeresSimpleTypeRestrictions.xsd
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/JsonSchemaGeneralConverter.cs
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/JsonSchemaSeresAnalyzer.cs
  src/studio/src/designer/DataModeling/Utils/JsonSchemaNavigationExtensions.cs
Labels: solution/studio/designer

#6734 Feature/6638 handle xsd type
  src/studio/src/designer/DataModeling.Tests/DataModeling.Tests.csproj
  src/studio/src/designer/DataModeling.Tests/Json/SeresConverterTests.cs
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/SeresBuiltinTypes.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/XmlSchema/SeresBuiltinTypes.xsd
Labels: solution/studio/designer

#6742 Feature/6633 is valid complex content
  src/studio/src/designer/DataModeling.Tests/DataModeling.Tests.csproj
  src/studio/src/designer/DataModeling.Tests/Seres2JsonSchema2SeresTests.cs
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/HvemErHvem.xml
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/HvemErHvem.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/HvemErHvem_Simple.xml
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/HvemErHvem_Simple.xsd
Labels: solution/studio/designer

#6739 bug/6651-general-improvements-model-editor
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/packages/schema-editor/src/components/Editor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/EnumField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/InputField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/RestrictionField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItemLabel.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/types/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaEditor.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/__snapshots__/SchemaInspector.test.tsx.snap
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/schemaEditorSlice.test.ts
Labels: solution/studio/designer

#6754 push event on substatus update
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
Labels: solution/app-backend, area/api-use, area/api-expose

#6755 NuGet dependency updates week 35
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/AppRef.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Authentication/Altinn.Common.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Altinn.Platform.Events.Functions.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/development/LocalTest/LocalTest.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
Labels: solution/studio/designer, solution/app-backend, area/authorization, area/authentication, area/receipt, area/profile, area/register, area/data-storage, solution/platform, area/events

#6756 Container updates week 35
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/Altinn.Apps/AppTemplates/react/receipt/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
Labels: area/ui-editor, area/dashboard, solution/studio/designer, solution/app-backend, area/receipt, solution/app-frontend

#6729 Feature/4773: First part of solution for support for storing delegation policies
  src/Altinn.Platform/Altinn.Platform.Authorization/Altinn.Authorization.ABAC/Utils/XacmlParser.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Altinn.Authorization.ABAC/Utils/XacmlSerializer.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Utils/AssertionUtil.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Xacml30SerializerTests.cs
Labels: area/authorization, solution/platform

#6761 Final nugets for feature 6691
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend, area/api-use, area/api-expose

#6762 Feature/6636 handle any attribute
  src/studio/src/designer/DataModeling.Tests/DataModeling.Tests.csproj
  src/studio/src/designer/DataModeling.Tests/Json/SeresConverterTests.cs
  src/studio/src/designer/DataModeling.Tests/XmlSchemaToJsonTests.cs
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/SeresWithAnyAttribute.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/SeresWithSpecifiedAndAnyAttributes.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/XmlSchema/SeresWithAnyAttribute.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/XmlSchema/SeresWithSpecifiedAndAnyAttributes.xsd
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/JsonSchemaGeneralConverter.cs
Labels: solution/studio/designer

#6745 feature/6443-party-selection-stateless
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/__snapshots__/altinnAppHeader.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/entrypoint/Entrypoint.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/GroupContainer.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/instantiate/index.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/entrypoint/Entrypoint.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/index.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/urlHelper.ts
Labels: area/instantiation, solution/app-frontend

#6796 added guard for sourcerepo name
  src/studio/src/designer/backend.Tests/Controllers/RepositoriesControllerTest.cs
  src/studio/src/designer/backend/Controllers/RepositoryController.cs
Labels: solution/studio/designer

#6730 Feature/5492 postgres studio
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/backend.Tests/Controllers/DeploymentsControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/ReleasesControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/SessionControllerTest.cs
  src/studio/src/designer/backend.Tests/Services/DeploymentServiceTest.cs
  src/studio/src/designer/backend.Tests/Services/ReleaseServiceTest.cs
  src/studio/src/designer/backend.Tests/Utils/TestOptionsMonitor.cs
  src/studio/src/designer/backend.Tests/_TestData/Deployments/createdDeployment.json
  src/studio/src/designer/backend.Tests/_TestData/ReleasesCollection/createdRelease.json
  src/studio/src/designer/backend.Tests/_TestData/ReleasesCollection/updatedRelease.json
  src/studio/src/designer/backend/Configuration/ConsoleTraceService.cs
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/designer/backend/Infrastructure/ConfigurationSettings.cs
  src/studio/src/designer/backend/Infrastructure/IntegrationRegistration.cs
  src/studio/src/designer/backend/Infrastructure/Models/AzureCosmosDbSettings.cs
  src/studio/src/designer/backend/Infrastructure/Models/Integrations.cs
  src/studio/src/designer/backend/Infrastructure/Models/PostgreSQLSettings.cs
  src/studio/src/designer/backend/Infrastructure/ServiceRegistration.cs
  src/studio/src/designer/backend/Migration/_draft/README.md
  src/studio/src/designer/backend/Migration/_erase/README.md
  src/studio/src/designer/backend/Migration/_init/README.md
  src/studio/src/designer/backend/Migration/_post/README.md
  src/studio/src/designer/backend/Migration/_pre/README.md
  src/studio/src/designer/backend/Migration/v0.00/01-setup-tables.sql
  src/studio/src/designer/backend/Migration/v0.00/02-setup-deployments.sql
  src/studio/src/designer/backend/Migration/v0.00/03-setup-releases.sql
  src/studio/src/designer/backend/Migration/v0.00/04-setup-grants.sql
  src/studio/src/designer/backend/Migration/v0.00/05-setup-index.sql
  src/studio/src/designer/backend/Program.cs
  src/studio/src/designer/backend/Repository/DeploymentRepository.cs
  src/studio/src/designer/backend/Repository/DocumentRepository.cs
  src/studio/src/designer/backend/Repository/IDeploymentRepository.cs
  src/studio/src/designer/backend/Repository/IDocumentRepository.cs
  src/studio/src/designer/backend/Repository/IReleaseRepository.cs
  src/studio/src/designer/backend/Repository/Models/BaseEntity.cs
  src/studio/src/designer/backend/Repository/QueryableExtensions.cs
  src/studio/src/designer/backend/Repository/ReleaseRepository.cs
  src/studio/src/designer/backend/Services/Implementation/DeploymentService.cs
  src/studio/src/designer/backend/Services/Implementation/ReleaseService.cs
  src/studio/src/designer/backend/Startup.cs
  src/studio/src/designer/backend/TypedHttpClients/DelegatingHandlers/PlatformBearerTokenHandler.cs
  src/studio/src/designer/backend/ViewModels/Request/DocumentQueryModel.cs
  src/studio/src/designer/backend/appsettings.Development.json
  src/studio/src/designer/backend/appsettings.json
  src/studio/src/designer/frontend/app-development/sharedResources/appDeployment/get/getAppDeploymentSagas.ts
  src/studio/src/designer/frontend/app-development/utils/urlHelper.ts
Labels: area/app-deploy, solution/studio/designer

#6798 bump minor gitea version
  src/studio/src/repositories/Dockerfile
Labels: solution/studio/repos

#6799 bug/6793-broken-links-designer
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/shared/navigation/main-header/profileMenu.tsx
  src/studio/src/designer/frontend/shared/utils/urlHelper.ts
  src/studio/src/designer/frontend/ux-editor/components/rightMenu/RightMenu.tsx
Labels: area/ui-editor, solution/studio/designer

#6778 Feature/6707 model deserializer support xml root namespace
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Serialization/ModelDeserializer.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Data/SkjemaWithNamespace.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Implementation/DataAppSITests.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/DataAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Serialization/ModelDeserializerTests.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Serialization/SkjemaWithNamespace.cs
Labels: solution/app-backend, area/api-use, area/api-expose

#6741 Feature/6638 handle xsd unhandled attributes
  src/studio/src/designer/DataModeling.Tests/Assertions/XmlSchemaAssertions.cs
  src/studio/src/designer/DataModeling.Tests/Json/Keywords/XsdUnhandledEnumAttributesKeywordJsonConverterTests.cs
  src/studio/src/designer/DataModeling.Tests/Json/SeresStrategyTests.cs
  src/studio/src/designer/DataModeling.Tests/ResourceHelpers.cs
  src/studio/src/designer/DataModeling.Tests/Seres2JsonSchema2SeresTests.cs
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/SeresSimpleTypeRestrictions.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/SeresWithAttributes.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/XmlSchema/SeresSimpleTypeRestrictions.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/XmlSchema/SeresWithAttributes.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/HvemErHvem.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/HvemErHvem_Simple.xml
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/HvemErHvem_Simple.xsd
  src/studio/src/designer/DataModeling/Converter/Json/CompatibleXsdType.cs
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/JsonSchemaGeneralConverter.cs
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/JsonSchemaSeresAnalyzer.cs
  src/studio/src/designer/DataModeling/Converter/Xml/XmlSchemaToJsonSchemaConverter.cs
  src/studio/src/designer/DataModeling/Json/Keywords/NamedKeyValuePairs.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdUnhandledEnumAttributesKeyword.cs
  src/studio/src/designer/DataModeling/Utils/JsonSchemaXsdExtensions.cs
Labels: solution/studio/designer

#6808 Feature/6632 implement simple content restriction
  src/studio/src/designer/DataModeling.Tests/Assertions/XmlSchemaAssertions.cs
  src/studio/src/designer/DataModeling.Tests/DataModeling.Tests.csproj
  src/studio/src/designer/DataModeling.Tests/Json/SeresConverterTests.cs
  src/studio/src/designer/DataModeling.Tests/Json/SeresStrategyTests.cs
  src/studio/src/designer/DataModeling.Tests/Seres2JsonSchema2SeresTests.cs
  src/studio/src/designer/DataModeling.Tests/XmlSchemaToJsonTests.cs
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/SeresSimpleContentRestriction.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/XmlSchema/SeresSimpleContentRestriction.fromJson.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/XmlSchema/SeresSimpleContentRestriction.xsd
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/JsonSchemaGeneralConverter.cs
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/JsonSchemaSeresAnalyzer.cs
  src/studio/src/designer/DataModeling/Converter/Xml/XmlSchemaToJsonSchemaConverter.cs
Labels: solution/studio/designer

#6806 Final versions of Altinn.App.*
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend, area/api-use, area/api-expose

#6814 Revoked grants from tables
  src/studio/src/designer/backend/Migration/v0.00/04-setup-grants.sql
Labels: solution/studio/designer

#6817 Improved support for xsd any attribute
  src/studio/src/designer/DataModeling.Tests/Assertions/JsonSchemaAssertions.cs
  src/studio/src/designer/DataModeling.Tests/Seres2JsonSchema2SeresTests.cs
  src/studio/src/designer/DataModeling.Tests/XmlSchemaToJsonTests.cs
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/Any.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/SeresComplexContentExtension.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/SeresWithAnyAttribute.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/SeresWithSpecifiedAndAnyAttributes.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_4527_11500_forms_5273_41269.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_4532_1_forms_5274_41065.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_4582_2000_forms_5244_42360.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_5064_1_forms_5793_42882.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_5259_1_forms_9999_50000.xsd
  src/studio/src/designer/DataModeling/Converter/Json/JsonSchemaToXmlSchemaConverter_old.cs
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/JsonSchemaGeneralConverter.cs
  src/studio/src/designer/DataModeling/Converter/Xml/XmlSchemaToJsonSchemaConverter.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdAnyAttributeKeyword.cs
  src/studio/src/designer/DataModeling/Utils/JsonSchemaXsdExtensions.cs
Labels: solution/studio/designer

#6852 feature/6794-dependency-patching-containers-w37
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/development/loadbalancer/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/load-balancer/Dockerfile
Labels: solution/studio/designer, area/authorization, area/authentication, area/receipt, area/profile, area/register, area/data-storage, solution/platform, solution/apps, area/events

#6853 preselectedOptionIndex in dropdown
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DropdownComponent.tsx
Labels: solution/app-frontend

#6859 reset repo before every pull
  src/test/Testcafe/package.json
  src/test/Testcafe/page-objects/designerPage.js
  src/test/Testcafe/usecase/usecase.js
Labels: area/test

#6802 Feature/6749 handle nillable attribute
  src/studio/src/designer/DataModeling.Tests/Assertions/XmlSchemaAssertions.cs
  src/studio/src/designer/DataModeling.Tests/DataModeling.Tests.csproj
  src/studio/src/designer/DataModeling.Tests/GlobalSuppressions.cs
  src/studio/src/designer/DataModeling.Tests/Json/JsonSchemaSeresAnalyzerTests.cs
  src/studio/src/designer/DataModeling.Tests/Json/SeresConverterTests.cs
  src/studio/src/designer/DataModeling.Tests/Seres2JsonSchema2SeresTests.cs
  src/studio/src/designer/DataModeling.Tests/XmlSchemaToJsonTests.cs
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/NillableAttribute.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/SeresNillable.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/XmlSchema/NillableAttribute.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/XmlSchema/SeresNillable.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_4008_180226_forms_4186_37199.xsd
  src/studio/src/designer/DataModeling/Converter/Json/CompatibleXsdType.cs
  src/studio/src/designer/DataModeling/Converter/Json/JsonSchemaConvertException.cs
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/JsonSchemaGeneralConverter.cs
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/JsonSchemaSeresAnalyzer.cs
  src/studio/src/designer/DataModeling/Converter/Xml/XmlSchemaConvertException.cs
  src/studio/src/designer/DataModeling/Converter/Xml/XmlSchemaToJsonSchemaConverter.cs
  src/studio/src/designer/DataModeling/Json/Keywords/InfoKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdAnyAttributeKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdAnyKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdAttributeKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdNamespacesKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdRestrictionsKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdSchemaAttributesKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdStructureKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdTypeKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdUnhandledAttributesKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdUnhandledEnumAttributesKeyword.cs
Labels: solution/studio/designer

#6866 do not parse app names in confirm page
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/confirm/containers/Confirm.tsx
Labels: solution/app-frontend

#6882 delete obsolete packageref
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/designer/backend/appsettings.Development.json
Labels: solution/studio/designer

#6875 bug/6801-focus-input-field
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/__snapshots__/InputComponent.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/InputComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/styles/shared.css
Labels: solution/app-frontend

#6862 Fixed cookie logic for renaming
  src/Altinn.Common/Authentication/Altinn.Common.Authentication.csproj
  src/Altinn.Common/Authentication/JwtCookie/JwtCookieDefaults.cs
  src/Altinn.Common/Authentication/JwtCookie/JwtCookieHandler.cs
Labels: area/authentication

#6883 removed not found ProducesResponseType for get instance
  README.md
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend, area/api-use, area/api-expose

#6816 Added a max split of two to credential splitter for not accidentally split the password.
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Controllers/AuthenticationControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Mocks/EnterpriseUserAuthenticationServiceMock.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
Labels: area/authentication, solution/platform

#6943 Update docs urls in code files
  src/Altinn.Apps/AppTemplates/react/shared/src/utils/urlHelper.ts
  src/studio/src/designer/backend/Views/Home/Docs.cshtml
  src/studio/src/designer/backend/Views/Home/StartPage.cshtml
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/SelectionEditComponent.tsx
  src/studio/src/repositories/gitea-data/gitea/templates/base/head_navbar.tmpl
  src/studio/src/repositories/gitea-data/gitea/templates/custom/extra_links_footer.tmpl
Labels: area/ui-editor, solution/studio/designer, solution/studio/repos, solution/app-backend, external-contribution-❤️

#6809 Feature/6616 external OIDC
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Controllers/AuthenticationControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Model/OidcProvider.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Model/UserAuthenticationModel.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Services/Interfaces/IUserProfileService.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Services/UserProfileService.cs
  src/Altinn.Platform/Altinn.Platform.Models/Models/Altinn.Platform.Models.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Models/Profile/Models/UserProfile.cs
Labels: area/authentication, area/profile, solution/platform

#6941 Add helm dependency remove templates from app template
  src/Altinn.Apps/AppTemplates/AspNet/deployment/Chart.yaml
  src/Altinn.Apps/AppTemplates/AspNet/deployment/templates/NOTES.txt
  src/Altinn.Apps/AppTemplates/AspNet/deployment/templates/_helpers.tpl
  src/Altinn.Apps/AppTemplates/AspNet/deployment/templates/deployment.yaml
  src/Altinn.Apps/AppTemplates/AspNet/deployment/templates/ingressRoute.yaml
  src/Altinn.Apps/AppTemplates/AspNet/deployment/templates/middleware.yaml
  src/Altinn.Apps/AppTemplates/AspNet/deployment/templates/service.yaml
  src/Altinn.Apps/AppTemplates/AspNet/deployment/values.yaml
  src/studio/AppTemplates/AspNet/deployment/Chart.yaml
  src/studio/AppTemplates/AspNet/deployment/templates/NOTES.txt
  src/studio/AppTemplates/AspNet/deployment/templates/_helpers.tpl
  src/studio/AppTemplates/AspNet/deployment/templates/deployment.yaml
  src/studio/AppTemplates/AspNet/deployment/templates/ingressRoute.yaml
  src/studio/AppTemplates/AspNet/deployment/templates/middleware.yaml
  src/studio/AppTemplates/AspNet/deployment/templates/service.yaml
  src/studio/AppTemplates/AspNet/deployment/values.yaml
Labels: area/app-deploy, solution/app-backend

#6949 Ensure that there is a local clone when model editor opens
  src/studio/src/designer/backend/Services/Implementation/SchemaModelService.cs
  src/studio/src/designer/frontend/shared/features/dataModelling/sagas/metadata/get/getDataModelsMetadataSagas.ts
  src/studio/src/designer/frontend/shared/utils/urlHelper.ts
Labels: solution/studio/designer

#6955 instanceId -> id for simple instance
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Mappers/SimpleInstanceMapper.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Models/SimpleInstance.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mappers/SimpleInstanceMapperTest.cs
Labels: solution/app-backend, area/api-use, area/api-expose

#6962 added whitespace before optional text
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/advanced/__snapshots__/AddressComponent.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/Legend.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/advanced/AddressComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/Legend.tsx
Labels: solution/app-frontend

#6961 Fix RepositorySI.DeleteLanguage
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
Labels: solution/studio/designer, external-contribution-❤️

#6965 Expanded DataElement with property for tags
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/DataElement.cs
Labels: area/data-storage, solution/platform

#6970 Added iss parem in redirect uri
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Controllers/AuthenticationControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Model/OidcProvider.cs
Labels: area/authentication, solution/platform

#6878 Feature/4772 list delegatable rights for app
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Controllers/PolicyController.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Helpers/PolicyHelper.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Models/AttributeMatch.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Models/ResourceAction.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Models/ResourcePolicy.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Models/ResourcePolicyResponse.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Models/RoleGrant.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/TestDataHelper.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/SKDInvalidAppRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/SKDMissingAppRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/SKDMissingOrgRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/SKDTaxReport2Request.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/skd/taxreport2/policy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/PolicyControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Util/AssertionUtil.cs
Labels: area/authorization, solution/platform

#6855 bug/6703-json-schema-2020
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/json-schema/complex.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/json-schema/one-of-on-root.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/json-schema/ref-on-root.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/logic/validation.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/update/updateFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
Labels: solution/app-frontend

#6702 Feature/379 image component
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/ImageComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formComponentUtils.ts
Labels: solution/app-frontend, external-contribution-❤️

#6972 Feature/6861 update storage and local test with latest storage interfaces
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/development/LocalTest/LocalTest.csproj
Labels: area/data-storage, solution/platform
