Repository Altinn/altinn-studio, pull requests merged in 2021-05, with the labels that each got.

#6142 Bug/6054 get keyvault from config
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Services/BackupBlobService.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/TelemetryInitializer.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/local.settings.json
Labels: area/data-storage, solution/platform

#6078 Feature/5869 multiple pages filter
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/Form.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/RepeatingGroupTable.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/RepeatingGroupsEditContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formLayout.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/tsconfig.json
Labels: solution/app-frontend

#6134 added endpoints for post/put data not related to instance
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/AuthorizationController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/StatelessDataController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Extensions/ClaimsPrincipalExtensions.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/DataApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/StatelessDataApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/presentationfields-app/logic/Calculation/CalculationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/SetupUtil.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#6158 updated mail templates for gitea
  src/studio/src/repositories/Dockerfile
  src/studio/src/repositories/Dockerfile.local
  src/studio/src/repositories/custom/mail/auth/activate.tmpl
  src/studio/src/repositories/custom/mail/auth/activate_email.tmpl
  src/studio/src/repositories/custom/mail/auth/register_notify.tmpl
  src/studio/src/repositories/custom/mail/auth/reset_passwd.tmpl
  src/studio/src/repositories/gitea-data/gitea/options/locale/locale_nb-NO.ini
Labels: solution/studio/repos

#6159 feature/4946-azure-function-events-outbound
  src/Altinn.Platform/Altinn.Platform.Events/Altinn.Platform.Events.sln
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/QueueService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Events/Functions/EventsOutbound.cs
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Factories/CustomQueueProcessorFactory.cs
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Models/CloudEventEnvelope.cs
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Models/Payloads/SlackEnvelope.cs
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Services/Interfaces/IWebhookService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Services/WebhookService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Startup.cs
Labels: area/events, solution/platform

#6148 use altinnTesttools token gen for appowner tests
  src/test/K6/src/api/altinn-testtools/token-generator.js
  src/test/K6/src/api/platform/authentication.js
  src/test/K6/src/buildrequestheaders.js
  src/test/K6/src/config.js
  src/test/K6/src/setup.js
  src/test/K6/src/tests/app/appowner/end2end.js
  src/test/K6/src/tests/app/negativetests/appowner-writewithoutaccess.js
  src/test/K6/src/tests/app/sirius.js
  src/test/K6/src/tests/platform/appowner/completeconfirmation.js
  src/test/K6/src/tests/platform/appowner/data.js
  src/test/K6/src/tests/platform/appowner/downloadinstances.js
  src/test/K6/src/tests/platform/appowner/events.js
  src/test/K6/src/tests/platform/appowner/getinstances5482.js
  src/test/K6/src/tests/platform/appowner/instances-poll.js
  src/test/K6/src/tests/platform/appowner/instances.js
Labels: area/test

#6163 skip token generation if disabled
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Services/AccessTokenGenerator.cs
Labels: area/authorization

#6161 copying new properties in put application
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/ApplicationsController.cs
Labels: area/data-storage, solution/platform

#6167 Fixed matching of scope
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/SubscriptionService.cs
Labels: area/events, solution/platform

#6168 Remove mail templates for gitea
  src/studio/src/repositories/Dockerfile
  src/studio/src/repositories/Dockerfile.local
  src/studio/src/repositories/custom/mail/auth/activate.tmpl
  src/studio/src/repositories/custom/mail/auth/activate_email.tmpl
  src/studio/src/repositories/custom/mail/auth/register_notify.tmpl
  src/studio/src/repositories/custom/mail/auth/reset_passwd.tmpl
Labels: solution/studio/repos

#6164 updated ref to accesstokenclient in template
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#6169 try/catch for credentials generation
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Configuration/AccessTokenSettings.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Services/AccessTokenGenerator.cs
Labels: area/authorization

#6170 validating input to stateless data controller
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/StatelessDataController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppResourcesSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/IAppResources.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/StatelessDataApiTest.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#6172 added receipt test to prod usecases
  src/test/K6/use-cases-prod.yaml
Labels: area/test

#6173 Changed cloud-rolename
  src/Altinn.Platform/Altinn.Platform.Events/Functions/TelemetryInitializer.cs
Labels: area/events, solution/platform

#6175 6123 pushed final nugets
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#6147 Feature/6022 support datafields in app
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/DataController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Altinn.App.PlatformServices.Tests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppBase.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/InstanceAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/IInstance.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/DataApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/AppBase/AppBaseTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/Instances/ttd/datafields-app/1337/447ed22d-67a8-42c7-8add-cc35eba304f1.pretest.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/Instances/ttd/datafields-app/1337/447ed22d-67a8-42c7-8add-cc35eba304f1/590ebc27-246e-4a0a-aea3-4296cb231d78.pretest.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/Instances/ttd/datafields-app/1337/447ed22d-67a8-42c7-8add-cc35eba304f1/blob/590ebc27-246e-4a0a-aea3-4296cb231d78.pretest
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/datafields-app/appsettings.Development.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/datafields-app/appsettings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/datafields-app/config/applicationmetadata.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/datafields-app/config/authorization/policy.xml
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/datafields-app/config/process/process.bpmn
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/datafields-app/config/texts/resource.nb.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/datafields-app/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/datafields-app/logic/Calculation/CalculationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/datafields-app/logic/InstantiationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/datafields-app/logic/Print/PdfHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/datafields-app/logic/Validation/ValidationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/datafields-app/models/default.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/datafields-app/models/default.prefill.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/InstanceMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/InstancePlatformFailsMock.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/SetupUtil.cs
  src/development/LocalTest/Controllers/Storage/InstancesController.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#6157 Node updates
  src/Altinn.Apps/AppFrontend/react/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/app-development/test/__tests__/__snapshots__/DataModeling.test.tsx.snap
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/ui-editor, solution/app-frontend, solution/studio/designer

#6174 Feature/6086 ref
  src/studio/src/designer/frontend/app-development/features/dataModeling/containers/DataModelingContainer.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/DataModeling.test.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/__snapshots__/DataModeling.test.tsx.snap
  src/studio/src/designer/frontend/packages/schema-editor/src/components/InputField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/RefSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TypeSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/schemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/types/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaEditor.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/__snapshots__/SchemaInspector.test.tsx.snap
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/schemaEditorSlice.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/utils.test.ts
Labels: area/data-modeling, solution/studio/designer

#6129 feature/5137-markdown-validation-messages
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/message/__snapshots__/MessageComponent.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/GroupContainer.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/logic/validation.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/message/MessageComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/textResource.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
Labels: solution/app-frontend

#6185 Bugfix/update-deps-schema-editor
  src/studio/src/designer/frontend/app-development/test/__tests__/__snapshots__/DataModeling.test.tsx.snap
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
Labels: solution/studio/designer

#6189 Feature/6111 backend patching
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/AppRef.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Altinn.Platform.Events.Functions.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/load-balancer/Dockerfile
Labels: area/authentication, area/authorization, area/data-storage, area/events, area/profile, area/receipt, area/register, solution/app-backend, solution/platform, solution/studio/designer

#6187 update deps w18
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/app-development/webpack.config.production.js
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/ui-editor, solution/studio/designer

#6143 Updated front dependenceies
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
Labels: area/receipt, solution/app-frontend

#6184 set container height to fit content
  src/studio/src/designer/frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
Labels: area/app-deploy, solution/studio/designer

#6192 Defined that eventsource should start with /
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/PushController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/SubscriptionController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/subscriptions/1.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/SubscriptionControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingServices/SubscriptionServiceTest.cs
Labels: area/events, solution/platform

#6190 Test/change agent pool
  src/test/K6/use-cases-prod.yaml
  src/test/K6/use-cases.yaml
  src/test/Testcafe/use-cases.yaml
Labels: area/test

#6206 set the cursor over collapasable menu buttons to pointer
  src/studio/src/designer/frontend/ux-editor/components/toolbar/CollapsableMenuComponent.tsx
Labels: area/ui-editor, solution/studio/designer

#6202 Feature/6137 filter ref select
  src/studio/src/designer/frontend/packages/schema-editor/index.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/RefSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/index.css
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaInspector.test.tsx
Labels: solution/studio/designer

#6216 create connection in each function
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/CloudEventRepository.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/SubscriptionRepository.cs
Labels: area/events, solution/platform

#6209 Bugfix/updatedatamodel 500
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/schemaEditorSlice.test.ts
Labels: solution/studio/designer

#6243 Update deps
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Altinn.Platform.Events.Functions.csproj
Labels: area/events, solution/platform

#6242 bug/6235-group-component-closes-calculation
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/test/cypress/e2e/integration/app-frontend/group.js
Labels: area/test, solution/app-frontend

#6183 Added test covering adding custom data values in combination with tho…
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Helpers/InstanceHelperTests.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Helpers/InstanceHelper.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/DataApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/datafields-app/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/InstanceMockSI.cs
Labels: area/api-use, solution/app-backend

#6232 Removed -alpha from 4.6.0 and finalized the nuget packages.
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#6230 Feature/6123 k6 tests
  src/test/K6/src/api/app/data.js
  src/test/K6/src/api/app/process.js
  src/test/K6/src/api/app/statelessdata.js
  src/test/K6/src/config.js
  src/test/K6/src/data/apps-test.xml
  src/test/K6/src/tests/app/statelessdata.js
Labels: area/test

#6249 Feature/6246 localization
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/app-development/features/dataModeling/containers/DataModelingContainer.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/__snapshots__/DataModeling.test.tsx.snap
  src/studio/src/designer/frontend/packages/schema-editor/src/SchemaEditorApp.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/schemaEditor.md
  src/studio/src/designer/frontend/packages/schema-editor/src/components/schemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/types/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaEditor.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaEditorApp.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/__snapshots__/SchemaInspector.test.tsx.snap
Labels: solution/studio/designer

#6254 Update backend dependencies week 19 2021
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/Altinn.EFormidlingClient.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Altinn.Authorization.ABAC/Altinn.Authorization.ABAC.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/development/LocalTest/LocalTest.csproj
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/api-use, area/authentication, area/authorization, area/data-storage, area/events, area/profile, area/receipt, area/register, solution/app-backend, solution/apps, solution/platform, solution/studio/designer

#6255 Update container versions week 19 2021
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/repositories/Dockerfile
Labels: area/authentication, area/authorization, area/data-storage, area/events, area/profile, area/receipt, area/register, solution/apps, solution/platform, solution/studio/designer, solution/studio/repos

#6244 filter out hard deleted instances for end user in controllers
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/MessageboxInstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/MessageboxInstancesControllerTests.cs
Labels: area/data-storage, solution/platform

#6257 Update app frontend dependencies week 21-19
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
Labels: area/receipt, solution/app-frontend

#6260 include isharddeleted as query param
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/test/K6/src/tests/platform/appowner/instances.js
Labels: area/data-storage, area/test, solution/platform

#6258 Update studio frontend dependencies 21-19
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/ui-editor, solution/studio/designer

#6177 feature/6124-stateless-app-frontend
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/initialStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/containers/Presentation.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/containers/__snapshots__/Presentation.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/shared/resources/isLoadingSlice.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/appmetadata.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/App.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/entrypoint/Entrypoint.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/fetch/fetchFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/datamodel/fetch/fetchFormDatamodelSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/dynamics/fetch/fetchFormDynamicsActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/dynamics/fetch/fetchFormDynamicsSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/dynamics/formDynamicsActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/fetch/fetchFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/rules/fetch/fetchRulesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/containers/Presentation.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/containers/ProcessWrapper.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/applicationMetadata/index.d.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/isLoading/isLoadingSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/isLoading/isLoadingSlice.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/isLoading/stateless/statelessIsLoadingSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/queueSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/queueSlice.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/stateless/statelessQueueSaga.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/appMetadata.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/urlHelper.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/components/molecules/AltinnContentLoader.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/language.ts
  src/development/TestData/Register/Party/501337.json
  src/development/TestData/Register/Party/512345.json
Labels: solution/app-frontend

#6261 added missing service
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Startup.cs
Labels: area/events, solution/platform

#6259 Bug/1579 drop down lists do not select preselected option
  src/studio/src/designer/frontend/.eslintrc.json
  src/studio/src/designer/frontend/tslint.json
  src/studio/src/designer/frontend/ux-editor/components/config/EditBoilerplate.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/HeaderSizeSelect.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/SelectDataModelComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/SelectionEditComponent.tsx
  src/studio/src/designer/frontend/ux-editor/containers/Container.tsx
  src/studio/src/designer/frontend/ux-editor/features/formDesigner/formLayout/formLayoutSlice.ts
  src/studio/src/designer/frontend/ux-editor/test/__tests__/utils/render.test.tsx
  src/studio/src/designer/frontend/ux-editor/utils/render.tsx
Labels: area/ui-editor, solution/studio/designer

#6290 Patched studio frontend deps
  src/studio/src/designer/backend/package-lock.json
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/ui-editor, solution/studio/designer

#6294 Container patching w20
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/Dockerfile
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/Altinn.Apps/AppTemplates/react/receipt/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-backend, solution/app-frontend, solution/studio/designer

#6292 Nuget + maven patching w20
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Altinn.Platform.Events.Functions.csproj
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
Labels: area/data-storage, area/events, area/pdf, solution/platform

#6304 send accept header to altinn2 api
  src/test/K6/src/setup.js
Labels: area/test

#6291 Feature/6210 caching and valid subscription optimalisation
  src/Altinn.Platform/Altinn.Platform.Events/Events/Configuration/PlatformSettings.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/PushController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/SubscriptionController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Migration/v0.07/01-setup-functions.sql
  src/Altinn.Platform/Altinn.Platform.Events/Events/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/appsettings.json
Labels: area/events, solution/platform

#6310 alternative subject
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Implementation/EventsAppSITests.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/EventsAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#6312 Add XmlRoot attribute to the main model class
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/JsonMetadataParserTests.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/JsonSchemaToInstanceModelGeneratorTests.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/XsdToJsonSchemaTests.cs
  src/studio/src/designer/backend.Tests/TestingControllers/DatamodelsControllerTests.cs
  src/studio/src/designer/backend.Tests/_TestData/Model/JsonSchema/RA-0678_M.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Model/JsonSchema/Skjema-1603-12392.json
  src/studio/src/designer/backend.Tests/_TestData/Model/Metadata/RA-0678_M.metadata.json
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Skjema-1603-12392.xsd
  src/studio/src/designer/backend/Factories/ModelFactory/JsonMetadataParser.cs
Labels: solution/studio/designer

#6318 bug/6316-pdf-cuts-title
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
Labels: area/pdf, solution/platform

#6328 Update RuleHandler.js
  src/Altinn.Apps/AppTemplates/AspNet/App/ui/RuleHandler.js
Labels: solution/app-backend

#6333 improve look of checkboxes component in summary
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/summary/MultipleChoiceSummary.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/summary/__snapshots__/MultipleChoiceSummary.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/formComponentUtils.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/MultipleChoiceSummary.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SummaryComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formComponentUtils.ts
Labels: solution/app-frontend

#6284 Feature/5972 number formatting
  .vscode/extensions.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/InputComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/__snapshots__/InputComponent.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/InputComponent.tsx
Labels: solution/app-frontend

#6336 bug/6332-pdf-show-checkox-values-for-multiple-values
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/FormLayoutElement.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/Option.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
Labels: area/pdf, solution/platform

#6341 Fixed bug for codelist checkbox multiple values
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
Labels: area/pdf, solution/platform

#6262 feature/6193-hide-back-button
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/ButtonComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/presentation/Header.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/presentation/NavBar.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/presentation/NavigationButton.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/presentation/Header.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/presentation/NavBar.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/presentation/NavigationButtons.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutSlice.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/containers/Presentation.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
Labels: solution/app-frontend

#6337 feature/6324-update-frontend-studio-deps
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/ui-editor, solution/studio/designer

#6340 feature/6324-update-app-frontend-deps
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
Labels: area/receipt, solution/app-frontend

#6345 feature/6324-update-nuget-maven-deps-w21
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Altinn.App.PlatformServices.Tests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
  src/Altinn.Common/Authentication/Altinn.Common.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Altinn.Platform.Events.Functions.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/Altinn.Platform.Models.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
Labels: area/authentication, area/authorization, area/data-storage, area/events, area/pdf, area/profile, area/receipt, area/register, solution/app-backend, solution/platform, solution/studio/designer

#6342 fixed org
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/SubscriptionController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/SubscriptionControllerTests.cs
Labels: area/events, solution/platform

#6347 feature/6320-update-containers-w21
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/development/loadbalancer/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/load-balancer/Dockerfile
Labels: area/authentication, area/authorization, area/data-storage, area/events, area/profile, area/receipt, area/register, solution/apps, solution/platform, solution/studio/designer

#6344 patched test dependencies
  src/test/K6/docker-compose.yml
  src/test/K6/package-lock.json
  src/test/K6/package.json
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: area/test

#6352 removed escape character before dash in regex...
  src/package-lock.json
  src/studio/src/designer/frontend/dashboard/features/createService/createNewService.tsx
Labels: area/dashboard, solution/studio/designer
