Repository Altinn/altinn-studio, pull requests merged in 2021-06, with the labels that each got.

#6354 Test/frontend cypress tests
  src/test/cypress/e2e/integration/app-frontend/confirmation.js
  src/test/cypress/e2e/integration/app-frontend/formatting.js
  src/test/cypress/e2e/integration/app-frontend/group.js
  src/test/cypress/e2e/integration/app-frontend/prefill.js
  src/test/cypress/e2e/integration/app-frontend/receipt.js
  src/test/cypress/e2e/integration/app-frontend/validation.js
  src/test/cypress/e2e/pageobjects/app-frontend.js
  src/test/cypress/e2e/plugins/index.js
Labels: area/test

#6339 Fix handling of duplicate options when collecting data for PDF
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppBase.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/DataApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/InstanceApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/OptionsApiTests.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/ProcessApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/ProfileApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/ResourceApiTests.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/SiriusApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/TextApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ControllerTests/HomeControllerTests.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/logic/Validation/ValidationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/models/SvarPaaNabovarselType.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/nsm/klareringsportalen/logic/Calculation/CalculationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/nsm/klareringsportalen/logic/InstantiationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/nsm/klareringsportalen/logic/Validation/ValidationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/nsm/klareringsportalen/models/epob.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/custom-validation/logic/Calculation/CalculationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/endring-av-navn/options/carbrands.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/endring-av-navn/ui/FormLayout.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/sirius/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/sirius/services/SiriusAPI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/models/message.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/EndToEndTests/EndToEndTests.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/EndToEndTests/NabovarselEndToEnd.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/JwtTokenMock.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/ApplicationMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/DSFMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/DataMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/ERMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/PDFMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/PepWithPDPAuthorizationMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/ProfileMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/RegisterMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/TextMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/PrincipalUtil.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/SetupUtil.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#6348 support for multipage groups in summary
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/summary/SummaryGroupComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/summary/__snapshots__/SummaryGroupComponent.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SummaryGroupComponent.tsx
Labels: solution/app-frontend

#6359 Updating package versions and app templates
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#6357 bug/6145-receipt-mobileview
  src/Altinn.Apps/AppFrontend/react/receipt/src/features/receipt/containers/Receipt.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/molecules/AltinnModal.tsx
Labels: area/receipt, solution/app-frontend

#6188 Changes in swagger
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/PushController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/SubscriptionController.cs
Labels: area/events, solution/platform

#6350 Replaced content loader and changed positioning
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/index.tsx
Labels: area/api-expose, area/api-use, area/instantiation, solution/app-backend, solution/app-frontend

#6363 bug/6362-markdown-simple-receipt
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/receipt/containers/receiptContainer.tsx
Labels: area/receipt, solution/app-frontend

#6360 bug/6321-new-instance-stateless-error
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/fetch/fetchFormDataSagas.ts
Labels: solution/app-frontend

#6311 Feature/6274 flat schemas
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/CustomXsd2JsonSchemaTests.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/JsonSchema2Metadata2CSharpTests.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/JsonSchemaToInstanceModelGeneratorTests.cs
  src/studio/src/designer/backend.Tests/Utils/SerializationHelper.cs
  src/studio/src/designer/backend.Tests/Utils/TestDataHelper.cs
  src/studio/src/designer/backend.Tests/Utils/XmlSchemaValidator.cs
  src/studio/src/designer/backend.Tests/_TestData/Model/CSharp/Kursdomene_HvemErHvem_M_2021-04-08_5742_34627_SERES.expected.csharp.txt
  src/studio/src/designer/backend.Tests/_TestData/Model/CSharp/or-melding-2-12186.expected.csharp.txt
  src/studio/src/designer/backend.Tests/_TestData/Model/JsonSchema/Kursdomene_HvemErHvem_M_2021-04-08_5742_34627_SERES.expected.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Model/JsonSchema/custom_inline.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Model/JsonSchema/hvem-er-hvem.json
  src/studio/src/designer/backend.Tests/_TestData/Model/JsonSchema/or-melding-2-12186.expected.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Kursdomene_HvemErHvem_M_2021-04-08_5742_34627_SERES.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/or-melding-2-12186.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/statsbygg_custom_modified.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/statsbygg_custom_unmodified.xsd
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/ttd-datamodels/App/models/0678.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/ttd-datamodels/App/models/0678.xsd
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/ttd-datamodels/App/models/32578.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/ttd-datamodels/App/models/32578.xsd
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/ttd-datamodels/App/models/41111.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/ttd-datamodels/App/models/41111.xsd
  src/studio/src/designer/backend/Factories/ModelFactory/JsonSchemaToInstanceModelGenerator.cs
  src/studio/src/designer/backend/Factories/ModelFactory/XsdToJsonSchema.cs
  src/studio/src/designer/frontend/app-development/features/dataModeling/containers/DataModelingContainer.tsx
  src/studio/src/designer/frontend/app-development/features/dataModeling/dataModelingSlice.ts
  src/studio/src/designer/frontend/app-development/test/__tests__/__snapshots__/DataModeling.test.tsx.snap
  src/studio/src/designer/frontend/packages/schema-editor/src/components/AddPropertyModal.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItemLabel.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/schemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/types/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaEditor.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/__snapshots__/SchemaInspector.test.tsx.snap
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/schemaEditorSlice.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/utils.test.ts
Labels: solution/studio/designer

#6373 feature/6324-update-studio-frontend-deps-w22
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/ui-editor, solution/studio/designer

#6371 feature/6324-update-app-frontend-deps-w22
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
Labels: area/receipt, solution/app-frontend

#6374 Update nugets
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/Altinn.EFormidlingClient.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Altinn.Platform.Events.Functions.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
Labels: area/data-storage, area/events, solution/platform, solution/studio/designer

#6365 Fix ModelGenerator for NonNegativeInteger with correct range
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/JsonSchemaToInstanceModelGeneratorTests.cs
  src/studio/src/designer/backend.Tests/_TestData/Model/JsonSchema/restriction-max-min-integer.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/restriction-max-min-integer.xsd
  src/studio/src/designer/backend/Factories/ModelFactory/JsonSchemaToInstanceModelGenerator.cs
Labels: solution/studio/designer

#6367 bug/6327-adding-new-page-removes-exclude-from-pdf
  src/studio/src/designer/frontend/ux-editor/containers/Container.tsx
  src/studio/src/designer/frontend/ux-editor/features/formDesigner/formLayout/formLayoutSagas.ts
  src/studio/src/designer/frontend/ux-editor/features/formDesigner/formLayout/formLayoutSlice.ts
Labels: area/ui-editor, solution/studio/designer

#6264 feature/6256-distro-pdf-platform
  lgtm.yml
  src/Altinn.Platform/Altinn.Platform.PDF/Dockerfile
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#6370 Test/frontend multipage true
  src/test/cypress/cypress.json
  src/test/cypress/e2e/integration/app-frontend/calculate-page-order.js
  src/test/cypress/e2e/integration/app-frontend/group.js
  src/test/cypress/e2e/pageobjects/app-frontend.js
  src/test/cypress/e2e/support/app-frontend.js
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: area/test

#6368 Test/new api tests
  src/test/K6/src/api/platform/storage/instances.js
  src/test/K6/src/config.js
  src/test/K6/src/tests/app/e2erf0002.js
  src/test/K6/src/tests/app/end2end.js
  src/test/K6/src/tests/app/rf0002portal.js
  src/test/K6/src/tests/app/rf0002withattachment.js
  src/test/K6/src/tests/app/sirius.js
  src/test/K6/src/tests/app/uploadanddownload.js
  src/test/K6/src/tests/platform/authentication/authentication.js
  src/test/K6/src/tests/platform/storage/instances.js
  src/test/K6/src/tests/platform/storage/rf0002.js
Labels: area/test

#6388 extended organization with unit status
  src/Altinn.Platform/Altinn.Platform.Models/Models/Altinn.Platform.Models.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Models/Register/Models/Organization.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
Labels: area/register, solution/platform

#6391 Feature/6280 datamodeling ux
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/app-development/features/dataModeling/dataModelingSlice.ts
  src/studio/src/designer/frontend/app-development/test/__tests__/__snapshots__/DataModeling.test.tsx.snap
  src/studio/src/designer/frontend/packages/schema-editor/src/components/InputField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/RefSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/RestrictionField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TypeSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/schemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/mockData.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/types/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/__snapshots__/SchemaInspector.test.tsx.snap
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/schemaEditorSlice.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/utils.test.ts
Labels: solution/studio/designer

#6380 feature/5072-react-v17-altinn-apps-frontend
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/setupTests.js
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/setupTests.js
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Apps/AppFrontend/react/shared/setupTests.js
Labels: area/receipt, solution/app-frontend

#6392 new script for complete confirmation as app owner
  src/test/K6/src/tests/app/appowner/complete-instances.js
  src/test/K6/use-cases.yaml
Labels: area/test

#6355 Add initial migration scripts for delegated policy database
  src/Altinn.Platform/Altinn.Platform.Authorization/Migration/_draft/README.md
  src/Altinn.Platform/Altinn.Platform.Authorization/Migration/_erase/README.md
  src/Altinn.Platform/Altinn.Platform.Authorization/Migration/_init/README.md
  src/Altinn.Platform/Altinn.Platform.Authorization/Migration/_post/README.md
  src/Altinn.Platform/Altinn.Platform.Authorization/Migration/_pre/README.md
  src/Altinn.Platform/Altinn.Platform.Authorization/Migration/v0.00/01-setup-tables.sql
  src/Altinn.Platform/Altinn.Platform.Authorization/Migration/v0.00/02-setup-procedures.sql
  src/Altinn.Platform/Altinn.Platform.Authorization/Migration/v0.00/03-setup-grants.sql
Labels: area/authorization, solution/platform

#6404 updated deps frontend Apps week 23
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
Labels: area/receipt, solution/app-frontend

#6393 feature/5072-react-v17-studio
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/app-development/test/__tests__/AccessControl.test.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/Administration.test.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/__snapshots__/Administration.test.tsx.snap
  src/studio/src/designer/frontend/app-development/test/setupTests.js
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/dashboard/test/setupTests.js
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/setupTests.js
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/shared/test/setupTests.js
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/ux-editor/test/setupTests.js
Labels: area/dashboard, area/ui-editor, solution/studio/designer

#6405 backend patching w23
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/api-use, area/authentication, area/authorization, area/data-storage, area/events, area/pdf, area/profile, area/receipt, area/register, solution/app-backend, solution/platform, solution/studio/designer

#6411 new endpoints for stateless app frontend
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/fetch/fetchFormDataSagas.ts
Labels: solution/app-frontend

#6407 updated dependencies in studio
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/ui-editor, solution/studio/designer

#6409 patched all containers
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/studio/src/designer/Dockerfile
Labels: area/authentication, area/authorization, area/data-storage, area/events, area/profile, area/receipt, area/register, solution/apps, solution/platform, solution/studio/designer

#6410 Feature/6116 arrays
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/app-development/test/__tests__/__snapshots__/DataModeling.test.tsx.snap
  src/studio/src/designer/frontend/packages/schema-editor/src/components/InputField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/RestrictionField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItemLabel.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TypeSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/schemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/types/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/__snapshots__/SchemaInspector.test.tsx.snap
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/schemaEditorSlice.test.ts
Labels: solution/studio/designer

#6419 Updated the monaco-editor related dependencies.
  src/studio/src/designer/backend/package-lock.json
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
Labels: solution/studio/designer

#6414 Final nuget and template update
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/logic/App.cs
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/logic/App.cs
  src/studio/AppTemplates/AspNet/App/logic/Calculation/CalculationHandler.cs
  src/studio/AppTemplates/AspNet/App/logic/DataProcessing/DataProcessingHandler.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#6423 Reverted designer container patching
  src/studio/src/designer/Dockerfile
Labels: solution/studio/designer

#6406 bug/6091-variables-in-text-only-first-occurrence
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/setupTests.js
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/setupTests.js
  src/Altinn.Apps/AppFrontend/react/receipt/tsconfig.json
  src/Altinn.Apps/AppFrontend/react/shared/__tests__/utils/langugage.test.ts
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Apps/AppFrontend/react/shared/setupTests.js
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/language.ts
  src/Altinn.Apps/AppFrontend/react/shared/tsconfig.json
  src/Altinn.Apps/AppFrontend/react/tsconfig.json
Labels: area/receipt, solution/app-frontend

#6402 added custom headers in app
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/AuthorizationController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/DataController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/ProfileController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#6420 bug/6387-all-logic-navigation-buttons
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/presentation/NavigationButtons.tsx
Labels: solution/app-frontend

#6434 Bug/4970 final nugets
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#6377 Bug/5747 validation issues
  src/Altinn.Apps/AppFrontend/react/.eslintrc.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/applicationMetadataMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/instanceDataStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/AttachmentListComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/validation/singleFieldValidationSagas.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/validation/validationSlice.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/logic/validation.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/confirm/containers/Confirm.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/formDataReducer.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/update/updateFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/datamodel/datamodelSlice.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/dynamics/conditionalRendering/conditionalRenderingSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutSlice.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/component/componentValidationsActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/update/updateValidationsActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/validationActionTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/validationActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/validationReducer.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/validationSlice.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/reducers/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/attachments/delete/deleteAttachmentSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/attachments/upload/uploadAttachmentSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/isLoading/isLoadingSlice.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/queueSlice.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/render.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/urlHelper.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/types/index.ts
Labels: area/attachments, solution/app-frontend

#6440 patched test deps
  src/test/K6/package-lock.json
  src/test/K6/package.json
  src/test/Testcafe/package-lock.json
  src/test/Testcafe/package.json
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: area/test

#6446 fix failing pdf generation
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
Labels: area/pdf, solution/platform

#6449 bug/6445-pdf-norwegian-names-header
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/AltinnOrgUtils.java
Labels: area/pdf, solution/platform

#6450 feature/6385-patched-altinn-apps-frontend-deps
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
Labels: area/receipt, solution/app-frontend

#6453 feature/6385-patch-studio-frontend-deps
  src/studio/src/designer/backend/package-lock.json
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/ui-editor, solution/studio/designer

#6456 Bug/6455 replace all fails
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/shared/__tests__/utils/langugage.test.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/language.ts
Labels: solution/app-frontend

#6444 Nuget updates week 24
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Applications/Applications.cs
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/DataElements/DataElements.cs
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/InstanceEvents/InstanceEvents.cs
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Instances/Instances.cs
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Texts/Texts.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
Labels: area/api-use, area/authorization, area/data-storage, area/profile, area/receipt, solution/app-backend, solution/platform

#6431 appversion included in appsettings
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Configuration/AppSettings.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#6439 Feature/6428 enum
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/packages/schema-editor/src/components/EnumField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/RestrictionField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/types/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/__snapshots__/SchemaInspector.test.tsx.snap
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/schemaEditorSlice.test.ts
Labels: area/data-modeling, solution/studio/designer

#6467 Feature/6272 UI areas
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/app-development/test/__tests__/DataModeling.test.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/__snapshots__/DataModeling.test.tsx.snap
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/schemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaEditor.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/__snapshots__/SchemaInspector.test.tsx.snap
Labels: solution/studio/designer

#6460 Specify fixed single field validations
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Configuration/GeneralSettings.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/ValidationAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Models/Validation/ValidationIssueSeverity.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/ValidationApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/custom-validation/appsettings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/custom-validation/logic/AltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/custom-validation/logic/Validation/ValidationHandler.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#6457 FileUpload should not have isSimple be true
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/formComponentUtils.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formComponentUtils.ts
Labels: solution/app-frontend

#6473 Test/performance test script memo
  src/test/K6/src/api/altinn-testtools/token-generator.js
  src/test/K6/src/setup.js
  src/test/K6/src/tests/app/performance/e2erf0002.js
  src/test/K6/src/tests/app/performance/rf0002portal.js
  src/test/K6/src/tests/app/performance/rf0002withattachment.js
  src/test/K6/src/tests/app/performance/sirius.js
  src/test/K6/src/tests/app/performance/uploadanddownload.js
Labels: area/test

#6481 Feature/w 25 backend deps
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/Dockerfile
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/Altinn.Apps/AppTemplates/react/receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/development/LocalTest/LocalTest.csproj
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
Labels: area/authorization, area/dashboard, area/data-storage, area/events, area/pdf, area/receipt, area/ui-editor, solution/app-backend, solution/app-frontend, solution/platform, solution/studio/designer

#6483 updated gitea to 1.14.3
  src/studio/src/repositories/Dockerfile
  src/studio/src/repositories/Dockerfile.local
Labels: solution/studio/repos

#6480 Feature/w 25 frontend deps
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#6452 Bumped LibGit2Sharp from 0.27.0-preview-0034 to 0.27.0-preview-0100.
  src/studio/src/designer/backend/Designer.csproj
Labels: solution/studio/designer

#6488 Bug/6451 libgit2sharp crashes
  src/studio/src/designer/backend/Designer.csproj
Labels: solution/studio/designer

#6471 trigger new check for lagging builds
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend.Tests/TestingControllers/DeploymentsControllerTests.cs
  src/studio/src/designer/backend.Tests/TestingControllers/ReleasesControllerTests.cs
  src/studio/src/designer/backend.Tests/_TestData/Deployments/completedDeployments.json
  src/studio/src/designer/backend.Tests/_TestData/Deployments/singleLaggingDeployment.json
  src/studio/src/designer/backend.Tests/_TestData/ReleasesCollection/completedReleases.json
  src/studio/src/designer/backend.Tests/_TestData/ReleasesCollection/singleLaggingRelease.json
  src/studio/src/designer/backend/Controllers/DeploymentsController.cs
  src/studio/src/designer/backend/Controllers/ReleasesController.cs
Labels: area/app-deploy, solution/studio/designer

#6468 Feature/6273 schema id support
  src/studio/src/designer/backend.Tests/Controllers/DatamodelsControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/DeploymentsControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/ReleasesControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/RepositoriesControllerTest.cs
  src/studio/src/designer/backend.Tests/Controllers/SessionControllerTest.cs
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend.Tests/Infrastructure/GitRepository/AltinnGitRepositoryTests.cs
  src/studio/src/designer/backend.Tests/Infrastructure/GitRepository/GitRepositoryTests.cs
  src/studio/src/designer/backend.Tests/Mocks/IRepositoryMock.cs
  src/studio/src/designer/backend.Tests/Models/AltinnCoreFileTests.cs
  src/studio/src/designer/backend.Tests/Services/RepositorySITests.cs
  src/studio/src/designer/backend.Tests/Utils/TestDataHelper.cs
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/App/models/HvemErHvem.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/App/models/HvemErHvem_ExternalTypes.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/App/models/HvemErHvem_FlatNoTypes.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/App/models/HvemErHvem_InternalTypes.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/App/models/HvemErHvem_InternalTypes_AllOf.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/App/models/HvemErHvem_SERES.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/App/models/HvemErHvem_SERES.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/App/models/Kursdomene_HvemErHvem_M_2021-04-08_5742_34627_SERES.metadata.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/App/models/Kursdomene_HvemErHvem_M_2021-04-08_5742_34627_SERES.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/App/models/Kursdomene_HvemErHvem_M_2021-04-08_5742_34627_SERES.xsd
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/App/models/innraportoer.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/ttd-datamodels/.altinnstudio/settings.json
  src/studio/src/designer/backend/Controllers/DatamodelsController.cs
  src/studio/src/designer/backend/Controllers/ServiceDevelopmentController.cs
  src/studio/src/designer/backend/Enums/AltinnRepositoryType.cs
  src/studio/src/designer/backend/Enums/FileStatus.cs
  src/studio/src/designer/backend/Factories/AltinnGitRepositoryFactory.cs
  src/studio/src/designer/backend/Helpers/Guard.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnGitRepository.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/GitRepository.cs
  src/studio/src/designer/backend/Infrastructure/ServiceRegistration.cs
  src/studio/src/designer/backend/Models/AltinnCoreFile.cs
  src/studio/src/designer/backend/Models/AltinnStudioSettings.cs
  src/studio/src/designer/backend/Properties/launchSettings.json
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
  src/studio/src/designer/backend/Services/Implementation/SchemaModelService.cs
  src/studio/src/designer/backend/Services/Implementation/SourceControlSI.cs
  src/studio/src/designer/backend/Services/Interfaces/IAltinnGitRepository.cs
  src/studio/src/designer/backend/Services/Interfaces/IAltinnGitRepositoryFactory.cs
  src/studio/src/designer/backend/Services/Interfaces/IRepository.cs
  src/studio/src/designer/backend/Services/Interfaces/ISchemaModelService.cs
Labels: solution/studio/designer

#6437 feature/6194-post-data-stateless-app
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/data/submitFormDataSagas.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/appmetadata.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/fetch/fetchFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/update/updateFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/appMetadata.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/urlHelper.ts
Labels: solution/app-frontend

#6447 Bug/5747 single field validation
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/validationStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/validation/singleFieldValidationSagas.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/validation/validationSlice.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/logic/validation.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/update/updateFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/validationSlice.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
Labels: solution/app-frontend

#6497 update template with new nuget version
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/appsettings.json
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/appsettings.json
Labels: area/api-expose, area/api-use, solution/app-backend

#6494 Feature/6378 logo studio
  src/studio/src/designer/backend/Views/Home/StartPage.cshtml
  src/studio/src/designer/backend/wwwroot/designer/img/AltinnD-logo.svg
  src/studio/src/designer/backend/wwwroot/designer/img/altinn-studio-social-preview.png
  src/studio/src/designer/backend/wwwroot/designer/img/favicon.ico
  src/studio/src/designer/frontend/shared/test/__tests__/__snapshots__/appBar.test.tsx.snap
  src/studio/src/designer/frontend/shared/utils/urlHelper.ts
  src/studio/src/repositories/gitea-data/gitea/public/img/favicon.png
  src/studio/src/repositories/gitea-data/gitea/public/img/gitea-lg.png
  src/studio/src/repositories/gitea-data/gitea/public/img/gitea-lg.svg
  src/studio/src/repositories/gitea-data/gitea/public/img/gitea-sm.png
  src/studio/src/repositories/gitea-data/gitea/public/img/logo.svg
  src/studio/src/repositories/gitea-data/gitea/templates/home.tmpl
Labels: solution/studio/designer, solution/studio/repos

#6505 Fixed IndexOutOfRange exception.
  src/studio/src/designer/backend/Controllers/ServiceDevelopmentController.cs
Labels: solution/studio/designer

#6486 Feature/6378 logo apps
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/containers/__snapshots__/Presentation.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/__snapshots__/altinnAppHeader.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/InstantiationContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/InstantiationErrorPage.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/PartySelection.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/components/altinnAppHeader.tsx
  src/Altinn.Apps/AppFrontend/react/shared/__tests__/components/AltinnLogo.test.tsx
  src/Altinn.Apps/AppFrontend/react/shared/__tests__/components/__snapshots__/AltinnLogo.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnLogo.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/styles/styles.css
Labels: area/instantiation, solution/app-frontend, solution/studio/designer

#6493 Feature/6484 fixes
  src/studio/src/designer/frontend/app-development/features/dataModeling/containers/DataModelingContainer.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/DataModeling.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/shared/components/AltinnInputField.tsx
  src/studio/src/designer/frontend/shared/components/molecules/AltinnPopoverSimple.tsx
Labels: solution/studio/designer
