Repository Altinn/altinn-studio, pull requests merged in 2021-02, with the labels that each got.

#5544 Feature/5488 validate team deploy
  src/studio/src/designer/backend.Tests/Mocks/IGiteaMock.cs
  src/studio/src/designer/backend/Configuration/GeneralSettings.cs
  src/studio/src/designer/backend/Controllers/DeploymentsController.cs
  src/studio/src/designer/backend/Infrastructure/Authorization/AuthorizationConfiguration.cs
  src/studio/src/designer/backend/Infrastructure/Authorization/GiteaDeployPermissionHandler.cs
  src/studio/src/designer/backend/Infrastructure/Authorization/GiteaDeployPermissionRequirement.cs
  src/studio/src/designer/backend/ModelBinding/Constants/AltinnPolicy.cs
  src/studio/src/designer/backend/RepositoryClient/Model/Team.cs
  src/studio/src/designer/backend/Services/Implementation/GiteaAPIWrapper.cs
  src/studio/src/designer/backend/Services/Interfaces/IGitea.cs
  src/studio/src/designer/backend/appsettings.json
Labels: area/app-deploy, solution/studio/designer

#5561 bug/monaco-editor-build-issues
  src/studio/src/designer/backend/package-lock.json
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
Labels: solution/studio/designer

#5556 Bug/5391 show label not value in pdf
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/FormLayoutElement.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/Options.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/PdfContext.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/MapUtils.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/utils/MapUtilsTest.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/utils/TextUtilsTest.java
Labels: area/printout, solution/platform

#5571 required null check for backward compatibility
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
Labels: area/printout, solution/platform

#5558 Use labels in PDF - app backend modifications
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppBase.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Models/PDFContext.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#5573 Bumped studio versions of app template nugets
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend

#5554 bug/5507-dynamics-summary
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SummaryComponent.tsx
Labels: solution/app-frontend

#5578 updated nugets
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#5583 bug/5582-save-jsonschema-500
  src/studio/src/designer/backend.Tests/Mocks/IRepositoryMock.cs
  src/studio/src/designer/backend/Controllers/DatamodelsController.cs
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
  src/studio/src/designer/backend/Services/Interfaces/IRepository.cs
Labels: solution/studio/designer

#5585 feature/5570-upgrade-gitea-1-13-2
  src/studio/docker-compose.yml
  src/studio/src/designer/backend/Services/Implementation/GiteaAPIWrapper.cs
  src/studio/src/repositories/Dockerfile
  src/studio/src/repositories/Dockerfile.local
  src/studio/src/repositories/gitea-config/app.ini
  src/studio/src/repositories/gitea-data/gitea/conf/app.ini
  src/studio/src/repositories/gitea-data/gitea/options/locale/locale_nb-NO.ini
  src/studio/src/repositories/gitea-data/gitea/public/img/favicon.svg
  src/studio/src/repositories/gitea-data/gitea/templates/base/authorization_head.tmpl
  src/studio/src/repositories/gitea-data/gitea/templates/base/authorization_head_navbar.tmpl
  src/studio/src/repositories/gitea-data/gitea/templates/base/footer_content.tmpl
  src/studio/src/repositories/gitea-data/gitea/templates/base/head_navbar.tmpl
  src/studio/src/repositories/gitea-data/gitea/templates/custom/extra_links_footer.tmpl
  src/studio/src/repositories/gitea-data/gitea/templates/home.tmpl
  src/studio/src/repositories/gitea-data/gitea/templates/user/auth/link_account.tmpl
  src/studio/src/repositories/gitea-data/gitea/templates/user/auth/signin.tmpl
  src/studio/src/repositories/gitea-data/gitea/templates/user/auth/signin_inner.tmpl
  src/studio/src/repositories/gitea-data/gitea/templates/user/auth/signup.tmpl
  src/studio/src/repositories/gitea-data/gitea/templates/user/auth/signup_inner.tmpl
Labels: solution/studio/designer, solution/studio/repos

#5584 added endpoint to check deploy policy for user
  src/studio/src/designer/backend/Controllers/DeploymentsController.cs
  src/studio/src/designer/backend/Infrastructure/Authorization/GiteaDeployPermissionHandler.cs
Labels: area/app-deploy, solution/studio/designer

#5589 Updated package references to use latest versions
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Altinn.App.PlatformServices.Tests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTests.csproj
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/development/LocalTest/LocalTest.csproj
Labels: area/data-storage, area/events, area/profile, solution/app-backend, solution/apps, solution/platform

#5580 remove total hits property
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/QueryResponse.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceQueryResponse.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstancesControllerTests.cs
Labels: area/data-storage, solution/platform

#5572 bug/4814-required-validation-checkbox-radiobuttons
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/RadioButtonsContainerComponent.tsx
Labels: solution/app-frontend

#5577 feature/4210-help-text-keyboard
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnPopover.tsx
Labels: solution/app-frontend

#5590 Test/studio bruksmønster
  src/test/Testcafe/deploy_tests/deploy-tests.js
  src/test/Testcafe/designer_tests/app-designer-tests.js
  src/test/Testcafe/package-lock.json
  src/test/Testcafe/package.json
  src/test/Testcafe/page-objects/designerPage.js
  src/test/Testcafe/use-cases.yaml
  src/test/Testcafe/usecase/usecase.js
Labels: area/test

#5599 hasPermission -> permissions. Lists all permitted environments
  src/studio/src/designer/backend/Controllers/DeploymentsController.cs
Labels: area/app-deploy, solution/studio/designer

#5600 removed concurrency and increased assert timeout
  src/test/Testcafe/package.json
  src/test/Testcafe/use-cases.yaml
Labels: area/test

#5593 Variables in text spared during datamodel upload
  src/studio/src/designer/backend.Tests/Mocks/IRepositoryMock.cs
  src/studio/src/designer/backend/Controllers/ModelController.cs
  src/studio/src/designer/backend/Controllers/TextController.cs
  src/studio/src/designer/backend/Factories/ModelFactory/JsonSchemaToInstanceModelGenerator.cs
  src/studio/src/designer/backend/Factories/ModelFactory/SeresXsdParser.cs
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
  src/studio/src/designer/backend/Services/Interfaces/IRepository.cs
Labels: solution/studio/designer

#5594 feature/5565-update-frontend-deps-w5
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/backend/package-lock.json
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#5608 null value handling in textcontroller
  src/studio/src/designer/backend/Controllers/TextController.cs
Labels: solution/studio/designer

#5581 Added ILabelSettings
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/advanced/AddressComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/Label.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/Legend.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/Label.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/Legend.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/advanced/AddressComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/Label.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/Legend.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
Labels: solution/app-frontend

#5605 Datamodelling read and write updated to use model name instead of file path
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend.Tests/TestingControllers/DatamodelsControllerTests.cs
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/ttd-datamodels/App/models/0678.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/ttd-datamodels/App/models/0678.xsd
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/ttd-datamodels/App/models/32578.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/ttd-datamodels/App/models/32578.xsd
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/ttd-datamodels/App/models/35721.xsd
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/ttd-datamodels/App/models/41111.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/ttd-datamodels/App/models/41111.xsd
  src/studio/src/designer/backend/Controllers/DatamodelsController.cs
  src/studio/src/designer/frontend/app-development/features/dataModeling/containers/DataModelingContainer.tsx
  src/studio/src/designer/frontend/app-development/features/dataModeling/dataModelingSagas.ts
  src/studio/src/designer/frontend/app-development/features/dataModeling/dataModelingSlice.ts
  src/studio/src/designer/frontend/app-development/utils/urlHelper.ts
Labels: solution/studio/designer

#5617 set limit on continuation token for getInstance
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
Labels: area/data-storage, solution/platform

#5628 mark instance as read on instatiation if not appowner
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#5620 Feature/redux toolkit dashboard
  src/studio/src/designer/frontend/dashboard/App.tsx
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/dashboard/reducers/index.ts
  src/studio/src/designer/frontend/dashboard/resources/fetchDashboardResources/dashboardReducer.ts
  src/studio/src/designer/frontend/dashboard/resources/fetchDashboardResources/dashboardSagas.ts
  src/studio/src/designer/frontend/dashboard/resources/fetchDashboardResources/dashboardSlice.ts
  src/studio/src/designer/frontend/dashboard/resources/fetchDashboardResources/fetchDashboardActionTypes.ts
  src/studio/src/designer/frontend/dashboard/resources/fetchDashboardResources/fetchDashboardActions.ts
  src/studio/src/designer/frontend/dashboard/resources/fetchDashboardResources/fetchDashboardDispatcher.ts
  src/studio/src/designer/frontend/dashboard/resources/fetchLanguage/fetchLanguageActionTypes.ts
  src/studio/src/designer/frontend/dashboard/resources/fetchLanguage/fetchLanguageActions.ts
  src/studio/src/designer/frontend/dashboard/resources/fetchLanguage/fetchLanguageDispatcher.ts
  src/studio/src/designer/frontend/dashboard/resources/fetchLanguage/languageReducer.ts
  src/studio/src/designer/frontend/dashboard/resources/fetchLanguage/languageSagas.ts
  src/studio/src/designer/frontend/dashboard/resources/fetchLanguage/languageSlice.ts
  src/studio/src/designer/frontend/dashboard/types/global.ts
Labels: area/dashboard, solution/studio/designer

#5631 update language state reference
  src/studio/src/designer/frontend/app-development/features/appPublish/components/appReleaseComponent.tsx
  src/studio/src/designer/frontend/app-development/features/appPublish/components/createAppReleaseComponent.tsx
  src/studio/src/designer/frontend/app-development/features/appPublish/containers/deployContainer.tsx
  src/studio/src/designer/frontend/app-development/features/appPublish/containers/releaseContainer.tsx
  src/studio/src/designer/frontend/app-development/features/appPublish/pages/deployPage.tsx
Labels: area/app-deploy, solution/studio/designer

#5632 Update nuget refs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#5611 implemented session handling in designer backend
  src/studio/src/designer/backend.Tests/TestingControllers/SessionControllerTest.cs
  src/studio/src/designer/backend/Configuration/GeneralSettings.cs
  src/studio/src/designer/backend/Controllers/HomeController.cs
  src/studio/src/designer/backend/Controllers/SessionController.cs
  src/studio/src/designer/backend/Infrastructure/AuthenticationConfiguration.cs
Labels: solution/studio/designer

#5633 fix issue with adding group component
  src/studio/src/designer/frontend/ux-editor/containers/Toolbar.tsx
  src/studio/src/designer/frontend/ux-editor/utils/formLayout.ts
Labels: area/ui-editor, solution/studio/designer

#5630 Bug/5534 widgets keyboard
  src/studio/src/designer/frontend/ux-editor/features/formDesigner/widgets/addWidgetsSagas.ts
Labels: area/ui-editor, solution/studio/designer

#5627 hide "change" button in summary for read-only components
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SingleInputSummary.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SummaryComponent.tsx
Labels: solution/app-frontend

#5642 Feature/5560 deploy page permissions
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
  src/studio/src/designer/frontend/app-development/features/appPublish/containers/deployContainer.tsx
  src/studio/src/designer/frontend/app-development/features/appPublish/pages/deployPage.tsx
  src/studio/src/designer/frontend/app-development/reducers/index.ts
  src/studio/src/designer/frontend/app-development/sagas/index.ts
  src/studio/src/designer/frontend/app-development/sharedResources/user/permissions/permissionsSaga.ts
  src/studio/src/designer/frontend/app-development/sharedResources/user/userSagas.ts
  src/studio/src/designer/frontend/app-development/sharedResources/user/userSlice.ts
  src/studio/src/designer/frontend/app-development/types/global.ts
  src/studio/src/designer/frontend/app-development/utils/urlHelper.ts
Labels: area/app-deploy, solution/studio/designer

#5646 Removed use of MemoryStream when downloading blob
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/DataRepository.cs
Labels: area/data-storage, solution/platform

#5652 Swagger for App-api to studio-template
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/Startup.cs
Labels: solution/app-backend

#5650 feature/5565-update-backend-deps-w6
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/AppRef.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/Altinn.Platform.Models.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/authentication, area/authorization, area/data-storage, area/events, area/printout, area/profile, area/receipt, area/register, solution/app-backend, solution/platform, solution/studio/designer

#5649 feature/5565-update-frontend-deps-w6
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/backend/package-lock.json
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#5614 Feature/4816 dot net five platform
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/Altinn.Platform.Models.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
Labels: area/authentication, area/authorization, area/data-storage, area/events, area/profile, area/receipt, area/register, solution/platform

#5658 fix buggy if test
  src/studio/src/designer/frontend/ux-editor/utils/language.ts
Labels: area/ui-editor, solution/studio/designer

#5634 Feature/5606 model selection in datamodelling
  src/Altinn.Apps/AppTemplates/AspNet/App/config/applicationmetadata.json
  src/studio/AppTemplates/AspNet/App/config/applicationmetadata.json
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
  src/studio/src/designer/frontend/app-development/features/dataModeling/containers/DataModelingContainer.tsx
  src/studio/src/designer/frontend/app-development/features/dataModeling/dataModelingSagas.ts
  src/studio/src/designer/frontend/app-development/features/dataModeling/schemaSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/schemaEditor.tsx
Labels: solution/app-backend, solution/studio/designer

#5660 Update Storage Interface to target .Net Standard 2.1
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
Labels: area/data-storage, solution/platform

#5659 feature/5565-update-container-deps-w6
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
  src/studio/src/designer/Dockerfile
Labels: area/authentication, area/authorization, area/events, area/profile, area/receipt, area/register, solution/apps, solution/platform, solution/studio/designer

#5663 Added to verify the current two Altinn Studio Installations used.
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
Labels: area/authentication, solution/platform

#5664 roll back to alpine 3.12
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/studio/src/designer/Dockerfile
Labels: area/authentication, solution/platform, solution/studio/designer

#5666 Move the to storage function projects back on net core 3.1
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
Labels: area/data-storage, solution/platform

#5669 Reverted dependencies pdf
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#5656 updated test for user without deploy access
  src/test/Testcafe/deploy_tests/deploy-tests.js
  src/test/Testcafe/page-objects/designerPage.js
Labels: area/test

#5671 re added test for platform events
  src/test/K6/use-cases.yaml
Labels: area/test

#5665 Updating Storage to use .NET 5.0
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/ChangableElement.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/DataElement.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/PlatformUser.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/ProcessHistoryItem.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/TextResource.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/PepWithPDPAuthorizationMockSI.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/ApplicationRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/DataRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceEventRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/TextRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Utils/PrincipalUtil.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Utils/TestDataUtil.cs
Labels: area/data-storage, solution/platform

#5595 bug/4742-ie-issues-app-frontend
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/advanced/AddressComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/message/ErrorPaper.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/InstantiationContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/InstantiationErrorPage.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/components/altinnError.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/networking.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/networking.ts
Labels: area/instantiation, solution/app-frontend

#5657 Removed CheckTeamMembershipForDeploy
  src/studio/src/designer/backend/Configuration/GeneralSettings.cs
  src/studio/src/designer/backend/Controllers/ApplicationMetadataController.cs
  src/studio/src/designer/backend/Controllers/DeploymentsController.cs
  src/studio/src/designer/backend/Infrastructure/Authorization/GiteaDeployPermissionHandler.cs
  src/studio/src/designer/backend/appsettings.json
Labels: area/app-deploy, solution/studio/designer

#5682 bug/5681-hidden-required-rep-groups
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/logic/validation.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
Labels: solution/app-frontend

#5683 added logic for quering archive ref for instance
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/MessageboxInstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceRepositoryMock.cs
Labels: area/data-storage, solution/platform

#5679 Feature/4816 altinn platform models change to depend on standard21
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/ModelValidator.cs
  src/Altinn.Platform/Altinn.Platform.Models/Models/Altinn.Platform.Models.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Models/Profile/Models/ProfileSettingPreference.cs
  src/Altinn.Platform/Altinn.Platform.Models/Models/Register/Models/PartyLookup.cs
  src/Altinn.Platform/Altinn.Platform.Models/Models/Register/Models/Person.cs
Labels: area/profile, area/register, solution/platform

#5654 push event to queue on store event
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Configuration/QueueStorageSettings.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Models/PushQueueReceipt.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/EventsService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/Interfaces/IEventsService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/Interfaces/IQueueService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/QueueService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/EventsServiceMock.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/QueueServiceMock.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingServices/EventsServiceTest.cs
Labels: area/events, solution/platform

#5686 added support for searching for instances across instance owners
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/MessageboxInstancesControllerTests.cs
Labels: area/data-storage, solution/platform

#5697 renamed inbound event queue and client
  src/Altinn.Platform/Altinn.Platform.Events/Events/Configuration/QueueStorageSettings.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/QueueService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/appsettings.json
Labels: area/events, solution/platform

#5700 pushed alpha nugets for 5693
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#5690 Feature/5579 exclude active elements in archiveref search
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/MessageboxInstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/MessageboxInstancesControllerTests.cs
Labels: area/data-storage, solution/platform

#5701 fix bug breaking layout
  src/studio/src/designer/frontend/ux-editor/features/formDesigner/formLayout/formLayoutSagas.ts
  src/studio/src/designer/frontend/ux-editor/features/formDesigner/formLayout/formLayoutSlice.ts
Labels: area/ui-editor, solution/studio/designer

#5702 pushed final nugets for 5693
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#5713 Fixed false values not set in redux + faulty if check radio buttons
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/RadioButtonsContainerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/databindings.ts
Labels: solution/app-frontend

#5707 Feature/5676 upgrade deps w7
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/AppRef.csproj
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/development/LocalTest/LocalTest.csproj
  src/development/loadbalancer/Dockerfile
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/load-balancer/Dockerfile
Labels: area/api-expose, area/api-use, area/authentication, area/authorization, area/data-storage, area/events, area/pdf, area/profile, area/receipt, area/register, solution/app-backend, solution/apps, solution/platform, solution/studio/designer

#5716 bug/5714-target-links-html-parsing
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/language.ts
Labels: solution/app-frontend

#5718 Feature/5676 removing unnecessary dependency in register
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Health/HealthCheckTests.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Mocks/JwtTokenMock.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
Labels: area/register, solution/platform

#5699 bug/5622-conditional-rendering-layout-sets
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/rules.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/dynamics/conditionalRendering/conditionalRenderingSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/rules/check/checkRulesActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/rules/check/checkRulesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/rules/rulesActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/rules/index.ts
Labels: solution/app-frontend

#5711 feature/5676-update-frontend-deps-w7
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#5720 trigger hasSubmitted on page switch
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/formDataReducer.ts
Labels: solution/app-frontend

#5712 simplify updating component id
  src/studio/src/designer/frontend/ux-editor/containers/EditContainer.tsx
  src/studio/src/designer/frontend/ux-editor/features/formDesigner/formDesignerSagas.ts
  src/studio/src/designer/frontend/ux-editor/features/formDesigner/formDesignerTypes.ts
  src/studio/src/designer/frontend/ux-editor/features/formDesigner/formLayout/formLayoutActions.ts
  src/studio/src/designer/frontend/ux-editor/features/formDesigner/formLayout/formLayoutSagas.ts
  src/studio/src/designer/frontend/ux-editor/features/formDesigner/formLayout/formLayoutSlice.ts
Labels: area/ui-editor, solution/studio/designer

#5677 Feature/2834 altinn din font
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/__snapshots__/ParagraphComponent.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/public/index.html
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/ParagraphComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/styles/FileUploadComponent.css
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/styles/index.css
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/styleguide.config.js
  src/Altinn.Apps/AppFrontend/react/receipt/src/index.css
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnInformationPaper.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/theme/altinnAppTheme.tsx
  src/Altinn.Apps/AppFrontend/react/shared/styleguide.config.js
  src/Altinn.Apps/AppTemplates/AspNet/App/views/Home/Index.cshtml
  src/studio/AppTemplates/AspNet/App/views/Home/Index.cshtml
Labels: area/receipt, solution/app-backend, solution/app-frontend

#5745 bug/5710-platform-pdf-fails-to-run
  lgtm.yml
  src/Altinn.Platform/Altinn.Platform.PDF/Dockerfile
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#5738 ensure options loaded at start of each data task
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/options/fetch/fetchOptionsSagas.ts
Labels: solution/app-frontend

#5750 possible to send language in ppfContext
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/PdfContext.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
Labels: area/pdf, solution/platform

#5749 feature/5676-update-backend-deps-w8
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Altinn.App.PlatformServices.Tests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
  src/Altinn.ExampleClients/PrefillClient/MultipartContentBuilder.cs
  src/Altinn.ExampleClients/PrefillClient/PrefillClient.csproj
  src/Altinn.ExampleClients/PrefillClient/Program.cs
  src/Altinn.ExampleClients/PrefillClient/appsettings.Development.json
  src/Altinn.ExampleClients/PrefillClient/appsettings.json
  src/Altinn.ExampleClients/PrefillClient/data/cat.jpg
  src/Altinn.ExampleClients/PrefillClient/data/process-model.png
  src/Altinn.ExampleClients/PrefillClient/data/schema.xsd
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/Altinn.Platform.Models.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/development/LocalTest/LocalTest.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/api-expose, area/api-use, area/authentication, area/authorization, area/data-storage, area/events, area/profile, area/receipt, area/register, solution/app-backend, solution/apps, solution/platform, solution/studio/designer

#5753 updated read me with info for pdf
  src/Altinn.Platform/README.md
Labels: solution/platform

#5755 Fix failing snapshot test
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/Label.test.tsx.snap
Labels: solution/app-frontend

#5733 feature/4717-inform-user-session-expires-studio
  src/studio/src/designer/backend/Controllers/SessionController.cs
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/app-development/App.tsx
  src/studio/src/designer/frontend/app-development/sharedResources/user/session/sessionSagas.ts
  src/studio/src/designer/frontend/app-development/sharedResources/user/userSagas.ts
  src/studio/src/designer/frontend/app-development/sharedResources/user/userSlice.ts
  src/studio/src/designer/frontend/app-development/utils/urlHelper.ts
  src/studio/src/designer/frontend/shared/components/molecules/AltinnPopoverSimple.tsx
Labels: solution/studio/designer

#5757 feature/5676-update-frontend-deps-w8
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer
