Repository Altinn/altinn-studio, pull requests merged in 2021-07, with the labels that each got.

#6495 Ignore invalid text resources during deploy
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend.Tests/Mocks/IGiteaMock.cs
  src/studio/src/designer/backend.Tests/Services/TextResourceServiceTest.cs
  src/studio/src/designer/backend.Tests/_TestData/FileSystemObjects/ttd/apps-test/App/config/texts/3e1099738e0d15490390a01c74b2abc16282d85f/directoryList.json
  src/studio/src/designer/backend.Tests/_TestData/FileSystemObjects/ttd/apps-test/App/config/texts/3e1099738e0d15490390a01c74b2abc16282d85f/resource.en.json
  src/studio/src/designer/backend.Tests/_TestData/FileSystemObjects/ttd/apps-test/App/config/texts/3e1099738e0d15490390a01c74b2abc16282d85f/resource.nb.json
  src/studio/src/designer/backend.Tests/_TestData/FileSystemObjects/ttd/apps-test/App/config/texts/5e651c2b784571e481c90fbf26325ce336b634b8/directoryList.json
  src/studio/src/designer/backend.Tests/_TestData/FileSystemObjects/ttd/apps-test/App/config/texts/5e651c2b784571e481c90fbf26325ce336b634b8/resource.nb.json
  src/studio/src/designer/backend.Tests/_TestData/FileSystemObjects/ttd/apps-test/App/config/texts/5e651c2b784571e481c90fbf26325ce336b634b8/resources.en.json
  src/studio/src/designer/backend.Tests/_TestData/FileSystemObjects/ttd/apps-test/App/config/texts/a69255710e6f1d1c59bef004dd36fff0c5dfd236/directoryList.json
  src/studio/src/designer/backend.Tests/_TestData/FileSystemObjects/ttd/apps-test/App/config/texts/a69255710e6f1d1c59bef004dd36fff0c5dfd236/resource.nb.json
  src/studio/src/designer/backend/Services/Implementation/TextResourceService.cs
Labels: solution/studio/designer

#6508 fixed stateless app tests
  src/test/K6/src/api/app/statelessdata.js
  src/test/K6/src/config.js
  src/test/K6/src/tests/app/statelessdata.js
Labels: area/test

#6511 Cleanup of Altinn Studio startpage
  src/studio/src/designer/backend/Views/Home/StartPage.cshtml
Labels: solution/studio/designer

#6510 Updated NuGet references
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Altinn.Platform.Events.Functions.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/development/LocalTest/LocalTest.csproj
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/authorization, area/data-storage, area/events, solution/platform, solution/studio/designer

#6509 redirect to upgrade if forbidden get stateless
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/fetch/fetchFormDataSagas.ts
Labels: solution/app-frontend

#6512 updated test dependencies
  src/test/K6/docker-compose.yml
  src/test/K6/package-lock.json
  src/test/K6/package.json
  src/test/Testcafe/package-lock.json
  src/test/Testcafe/package.json
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: area/test

#6513 Feature/6490 more fixes
  src/studio/src/designer/frontend/app-development/features/dataModeling/containers/DataModelingContainer.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/__snapshots__/Administration.test.tsx.snap
  src/studio/src/designer/frontend/packages/schema-editor/src/components/RestrictionField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItemLabel.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TypeSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/schemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/types/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/__snapshots__/SchemaInspector.test.tsx.snap
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/schemaEditorSlice.test.ts
  src/studio/src/designer/frontend/shared/components/AltinnInputField.tsx
  src/studio/src/designer/frontend/shared/components/ErrorPopover.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.tsx
  src/studio/src/designer/frontend/ux-editor/containers/Container.tsx
Labels: area/ui-editor, solution/studio/designer

#6516 Bug/6418 error message multipart
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/RequestHandling/RequestPartValidator.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/CommonTests/RequestHandling/RequestPartValidatorTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/events/config/applicationmetadata.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/TestDataUtil.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#6422 Feature/51793 utvide token exchange i 3 0 for å veksle inn maskinporten token og brukernavn passord til altinn3 token for virksomhetsbruker
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Controllers/AuthenticationControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Mocks/EnterpriseUserAuthenticationServiceMock.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Model/EnterpriseUserCredentials.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Model/UserAuthenticationResult.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Services/EnterpriseUserAuthenticationService.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Services/Interfaces/IEnterpriseUserAuthenticationService.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Startup.cs
Labels: area/authentication, solution/platform

#6517 Dependency updates for app frontend week26
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
Labels: area/receipt, solution/app-frontend

#6523 Designer front end dependency updates
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/ui-editor, solution/studio/designer

#6520 6484-bugfixes
  src/studio/src/designer/frontend/app-development/features/dataModeling/containers/DataModelingContainer.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/DataModeling.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItem.tsx
Labels: solution/studio/designer

#6524 Test/memo script
  src/test/K6/src/api/altinn-testtools/token-generator.js
  src/test/K6/src/api/app/data.js
  src/test/K6/src/api/app/statelessdata.js
  src/test/K6/src/api/platform/storage/applications.js
  src/test/K6/src/api/platform/storage/data.js
  src/test/K6/src/buildrequestheaders.js
  src/test/K6/src/data/memo.xml
  src/test/K6/src/support.js
  src/test/K6/src/tests/app/appowner/end2end.js
  src/test/K6/src/tests/app/data.js
  src/test/K6/src/tests/app/end2end.js
  src/test/K6/src/tests/app/negativetests/appowner-writewithoutaccess.js
  src/test/K6/src/tests/app/performance/e2erf0002.js
  src/test/K6/src/tests/app/performance/memo.js
  src/test/K6/src/tests/app/performance/rf0002portal.js
  src/test/K6/src/tests/app/performance/rf0002withattachment.js
  src/test/K6/src/tests/app/performance/sirius.js
  src/test/K6/src/tests/app/performance/uploadanddownload.js
  src/test/K6/src/tests/app/portalsimulation.js
  src/test/K6/src/tests/app/process.js
  src/test/K6/src/tests/platform/appowner/data.js
  src/test/K6/src/tests/platform/storage/data.js
  src/test/K6/src/tests/platform/storage/rf0002.js
Labels: area/test

#6518 Feature/6277 support xsd upload in model editor
  src/studio/src/designer/backend.Tests/Controllers/DatamodelsControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/DeploymentsControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/ReleasesControllerTests.cs
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend.Tests/Infrastructure/GitRepository/AltinnAppGitRepositoryTests.cs
  src/studio/src/designer/backend.Tests/Infrastructure/GitRepository/AltinnGitRepositoryTests.cs
  src/studio/src/designer/backend.Tests/Infrastructure/GitRepository/GitRepositoryTests.cs
  src/studio/src/designer/backend.Tests/Models/AltinnCoreFileTests.cs
  src/studio/src/designer/backend.Tests/Services/SchemaModelServiceTests.cs
  src/studio/src/designer/backend.Tests/Services/TextResourceServiceTest.cs
  src/studio/src/designer/backend.Tests/Utils/TestDataHelper.cs
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/App/config/applicationmetadata.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/App/models/testModel.metadata.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/App/models/testModel.xsd
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/xyz-datamodels/.altinnstudio/settings.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/xyz-datamodels/Studio/hvem-er-hvem/HvemErHvem_ExternalTypes.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/xyz-datamodels/Studio/hvem-er-hvem/HvemErHvem_FlatNoTypes.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/xyz-datamodels/Studio/hvem-er-hvem/HvemErHvem_InternalTypes.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/xyz-datamodels/Studio/hvem-er-hvem/HvemErHvem_InternalTypes_AllOf.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/xyz-datamodels/Studio/hvem-er-hvem/HvemErHvem_SERES.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/xyz-datamodels/Studio/hvem-er-hvem/Kursdomene_HvemErHvem_M_2021-04-08_5742_34627_SERES.schema.json
  src/studio/src/designer/backend/Controllers/DatamodelsController.cs
  src/studio/src/designer/backend/Factories/AltinnGitRepositoryFactory.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnGitRepository.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/GitRepository.cs
  src/studio/src/designer/backend/Models/AltinnCoreFile.cs
  src/studio/src/designer/backend/Services/Implementation/SchemaModelService.cs
  src/studio/src/designer/backend/Services/Interfaces/IAltinnGitRepositoryFactory.cs
  src/studio/src/designer/backend/Services/Interfaces/ISchemaModelService.cs
Labels: solution/studio/designer

#6528 Bug/6525
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Helpers/PathHelperTests.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Helpers/PathHelper.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppResourcesSI.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#6531 Update version for apptemplate nugets
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#6533 Update apptemplate to use 4.9.2
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend

#6527 added delay before created subscription is deleted
  src/test/K6/src/tests/platform/events/subscriptions.js
Labels: area/test

#6530 Test/updated app frontend tests
  src/test/cypress/cypress.json
  src/test/cypress/e2e/fixtures/texts.json
  src/test/cypress/e2e/integration/app-frontend/calculate-page-order.js
  src/test/cypress/e2e/integration/app-frontend/dynamics.js
  src/test/cypress/e2e/integration/app-frontend/group.js
  src/test/cypress/e2e/integration/app-frontend/message.js
  src/test/cypress/e2e/integration/app-frontend/redirect.js
  src/test/cypress/e2e/integration/app-frontend/stateless.js
  src/test/cypress/e2e/integration/app-frontend/tabbing.js
  src/test/cypress/e2e/integration/app-frontend/validation.js
  src/test/cypress/e2e/pageobjects/app-frontend.js
  src/test/cypress/e2e/pageobjects/common.js
  src/test/cypress/e2e/support/app-frontend.js
  src/test/cypress/e2e/support/index.d.ts
  src/test/cypress/e2e/support/start-app-instance.js
Labels: area/test

#6537 updated studio tests
  src/test/Testcafe/.prettierrc
  src/test/Testcafe/TestData.js
  src/test/Testcafe/WCAGRunner.js
  src/test/Testcafe/app.js
  src/test/Testcafe/dashboard_tests/app-tests.js
  src/test/Testcafe/deploy_tests/deploy-tests.js
  src/test/Testcafe/designer_tests/app-designer-tests.js
  src/test/Testcafe/designer_tests/navigation-tests.js
  src/test/Testcafe/package-lock.json
  src/test/Testcafe/package.json
  src/test/Testcafe/page-objects/common.js
  src/test/Testcafe/page-objects/dashboardPage.js
  src/test/Testcafe/page-objects/designerPage.js
  src/test/Testcafe/page-objects/headerPage.js
  src/test/Testcafe/page-objects/landingPage.js
  src/test/Testcafe/page-objects/loginPage.js
  src/test/Testcafe/page-objects/repoPage.js
  src/test/Testcafe/repository_tests/login_create_new_repo.js
  src/test/Testcafe/testRunner.js
  src/test/Testcafe/usecase/usecase.js
  src/test/Testcafe/wcag/wcag.js
Labels: area/test

#6539 Feature/6484 3
  src/studio/src/designer/frontend/packages/schema-editor/src/components/InputField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/RestrictionField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/__snapshots__/SchemaInspector.test.tsx.snap
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/schemaEditorSlice.test.ts
  src/studio/src/designer/frontend/shared/components/AltinnInputField.tsx
Labels: solution/studio/designer

#6536 Changed where the app gets text resources
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/TextsController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppResourcesSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/IAppResources.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#6542 Feature/6273 id
  src/studio/src/designer/frontend/packages/schema-editor/src/SchemaEditorApp.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/AddPropertyModal.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/RefSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/schemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/types/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaEditor.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaEditorApp.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/schemaEditorSlice.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/utils.test.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/DataModelling.tsx
  src/studio/src/designer/frontend/shared/test/__tests__/features/dataModelling/__snapshots__/DataModelling.test.tsx.snap
Labels: solution/studio/designer

#6541 added cdn to the portal simulation tests
  src/test/K6/src/api/altinn-cdn/altinn-cdn.js
  src/test/K6/src/config.js
  src/test/K6/src/tests/app/portalsimulation.js
Labels: area/test

#6546 feature/6490-2
  src/studio/src/designer/frontend/packages/schema-editor/src/components/InputField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils.ts
Labels: solution/studio/designer

#6543 Add security headers to pipeline
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Middleware/SecurityHeadersApplicationBuilderExtensions.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Middleware/SecurityHeadersMiddleware.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/Startup.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#6544 Changed how we create a content disposition
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Implementation/DataAppSITests.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Mocks/DelegatingHandlerStub.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/DataAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/InstanceApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/ProcessApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/config/applicationmetadata.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/EventsMockSI.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#6552 Making stable versions of Altinn.App packages
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#6550 Use default security headers
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/Startup.cs
Labels: solution/app-backend

#6554 Dependency updates nuget and containers
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/Dockerfile
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/Altinn.Apps/AppTemplates/react/receipt/Dockerfile
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/development/loadbalancer/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
  src/studio/src/load-balancer/Dockerfile
  src/studio/src/repositories/Dockerfile
Labels: area/authentication, area/authorization, area/dashboard, area/data-storage, area/events, area/profile, area/receipt, area/register, area/ui-editor, solution/app-backend, solution/app-frontend, solution/apps, solution/platform, solution/studio/designer, solution/studio/repos

#6555 Feature/6396 datamodel should behave and look like sketches
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/packages/schema-editor/src/SchemaEditorApp.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TypeSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/schemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/types/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaEditor.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/schemaEditorSlice.test.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/DataModelling.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/DeleteDialog.tsx
  src/studio/src/designer/frontend/shared/test/__tests__/features/dataModelling/__snapshots__/DataModelling.test.tsx.snap
  src/studio/src/designer/frontend/shared/test/__tests__/features/dataModelling/__snapshots__/DeleteDialog.test.tsx.snap
Labels: solution/studio/designer

#6561 feature/backend-patching-w29
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Altinn.App.PlatformServices.Tests.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/Altinn.EFormidlingClient.Tests.csproj
  src/Altinn.Common/Authentication/Altinn.Common.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Altinn.Platform.Events.Functions.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/Altinn.Platform.Models.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/repositories/Dockerfile
Labels: area/authentication, area/authorization, area/events, area/pdf, area/profile, area/receipt, area/register, solution/app-backend, solution/platform, solution/studio/designer, solution/studio/repos

#6562 feature/frontend-patching-apps-w29
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/containers/__snapshots__/Presentation.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/GroupContainer.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/RepeatingGroupAddButton.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/App.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/message/ErrorPaper.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/confirm/containers/Confirm.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/feedback/Feedback.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/HelpTextIcon.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/HelpTextPopover.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/RepeatingGroupAddButton.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/RepeatingGroupTable.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/RepeatingGroupsEditContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/components/altinnAppHeader.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/styleguide/wrapper.tsx
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/src/App.tsx
  src/Altinn.Apps/AppFrontend/react/receipt/src/features/receipt/containers/Receipt.tsx
  src/Altinn.Apps/AppFrontend/react/shared/__tests__/components/__snapshots__/AltinnInformationCard.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnBreadcrumb.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnButton.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnCheckBox.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnCheckBoxGroup.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnColumnLayout.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnDropdown.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnFilterChip.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnIcon.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnIconButton.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnInformationCard.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnInformationPaper.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnInput.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnInputField.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnLink.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnPopover.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnPopper.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnRadio.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnSearchInput.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnSpinner.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnSwitch.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnTextArea.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/molecules/AltinnInformationCardForChildren.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/molecules/AltinnModal.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/molecules/AltinnPopoverSimple.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/organisms/AltinnReceipt.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/organisms/AltinnReceiptSimple.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/theme/altinnAppTheme.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/theme/altinnReceiptTheme.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/theme/altinnStudioTheme.tsx
  src/Altinn.Apps/AppFrontend/react/shared/styleguide/wrapper.tsx
Labels: area/receipt, solution/app-frontend

#6557 bug/6427-validate-group-on-close-edit
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/GroupContainer.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
Labels: solution/app-frontend

#6556 Feature/6278 connect modelling to ux editor
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/app-development/App.tsx
  src/studio/src/designer/frontend/app-development/config/routes.tsx
  src/studio/src/designer/frontend/app-development/config/subPathSettings.ts
  src/studio/src/designer/frontend/app-development/features/administration/components/ResetRepoModal.tsx
  src/studio/src/designer/frontend/app-development/features/dataModelling/components/XSDUploader.tsx
  src/studio/src/designer/frontend/app-development/features/dataModelling/containers/DataModellingContainer.tsx
  src/studio/src/designer/frontend/app-development/layout/LeftMenu.tsx
  src/studio/src/designer/frontend/app-development/layout/PageHeader.tsx
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/app-development/test/__tests__/DataModelling.test.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/__snapshots__/Administration.test.tsx.snap
  src/studio/src/designer/frontend/app-development/test/__tests__/components/XSDUploader.test.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/components/__snapshots__/XSDUploader.test.tsx.snap
  src/studio/src/designer/frontend/app-development/tsconfig.json
  src/studio/src/designer/frontend/app-development/utils/urlHelper.ts
  src/studio/src/designer/frontend/app-development/webpack.config.development.js
  src/studio/src/designer/frontend/app-development/webpack.config.production.js
  src/studio/src/designer/frontend/dashboard/tsconfig.json
  src/studio/src/designer/frontend/packages/schema-editor/src/components/schemaEditor.md
  src/studio/src/designer/frontend/shared/components/AltinnInformationCard.tsx
  src/studio/src/designer/frontend/shared/components/AltinnInputField.tsx
  src/studio/src/designer/frontend/shared/components/FileSelector.tsx
  src/studio/src/designer/frontend/shared/components/index.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/DataModelling.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/CreateNewWrapper.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/DeleteWrapper.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/SchemaSelect.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/functions/createDataModelMetadataOptions.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/functions/findPreferredMetadataOption.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/functions/schemaPathIsSame.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/functions/shouldSelectPreferredOption.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/functions/types.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/sagas/dataModellingSagas.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/sagas/dataModellingSlice.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/sagas/metadata/dataModelsMetadataSlice.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/sagas/metadata/get/getDataModelsMetadataSagas.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/sagas/metadata/index.ts
  src/studio/src/designer/frontend/shared/navigation/drawer/LeftDrawerMenu.tsx
  src/studio/src/designer/frontend/shared/navigation/drawer/TabletDrawerMenu.tsx
  src/studio/src/designer/frontend/shared/navigation/drawer/drawerMenuSettings.ts
  src/studio/src/designer/frontend/shared/navigation/drawer/tabletDrawerMenustyle.ts
  src/studio/src/designer/frontend/shared/navigation/main-header/appBar.tsx
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/shared/test/__tests__/TabletDrawerMenu.test.tsx
  src/studio/src/designer/frontend/shared/test/__tests__/appBar.test.tsx
  src/studio/src/designer/frontend/shared/test/__tests__/components/FileSelector.test.tsx
  src/studio/src/designer/frontend/shared/test/__tests__/features/dataModelling/CreateNewWrapper.test.tsx
  src/studio/src/designer/frontend/shared/test/__tests__/features/dataModelling/DataModelling.test.tsx
  src/studio/src/designer/frontend/shared/test/__tests__/features/dataModelling/DeleteWrapper.test.tsx
  src/studio/src/designer/frontend/shared/test/__tests__/features/dataModelling/__snapshots__/CreateNewWrapper.test.tsx.snap
  src/studio/src/designer/frontend/shared/test/__tests__/features/dataModelling/__snapshots__/DataModelling.test.tsx.snap
  src/studio/src/designer/frontend/shared/test/__tests__/features/dataModelling/__snapshots__/DeleteWrapper.test.tsx.snap
  src/studio/src/designer/frontend/shared/test/__tests__/features/dataModelling/createDataModelMetadataOptions.test.ts
  src/studio/src/designer/frontend/shared/test/__tests__/features/dataModelling/schemaPathIsSame.test.ts
  src/studio/src/designer/frontend/shared/test/__tests__/features/dataModelling/shouldSelectPreferredOption.test.ts
  src/studio/src/designer/frontend/shared/tsconfig.json
Labels: area/dashboard, area/data-modeling, solution/studio/designer

#6565 Simplified entrypoint and instantiation to use Presentation.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/initialStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/entrypoint/Entrypoint.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/instantiate/index.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/message/ErrorPaper.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/presentation/NavigationButtons.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/entrypoint/Entrypoint.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/RepeatingGroupAddButton.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/RepeatingGroupTable.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/PartySelection.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/index.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/organisms/AltinnAppHeader.tsx
Labels: area/instantiation, solution/app-frontend

#6567 fix missing use of function after refactor
  src/studio/src/designer/frontend/shared/navigation/drawer/LeftDrawerMenu.tsx
  src/test/Testcafe/page-objects/designerPage.js
Labels: area/test, solution/studio/designer
