Repository Altinn/altinn-studio, pull requests merged in 2021-01, with the labels that each got.

#5403 Test/bruksmønster availabilty
  src/test/K6/src/availability.js
  src/test/K6/use-cases-prod.yaml
  src/test/K6/use-cases.yaml
Labels: area/test

#5402 Ensure instance.Data is not stored in cosmos
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceRepositoryMock.cs
  src/development/LocalTest/Services/Storage/Implementation/InstanceRepository.cs
Labels: area/data-storage, solution/platform

#5397 sending user to archive from receipt
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/receipt/containers/receiptContainer.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/en.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nb.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nn.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/language.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/urlHelper.ts
  src/Altinn.Apps/AppTemplates/react/shared/src/language/texts/en.ts
  src/Altinn.Apps/AppTemplates/react/shared/src/language/texts/nb.ts
  src/Altinn.Apps/AppTemplates/react/shared/src/language/texts/nn.ts
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
Labels: area/receipt, solution/app-backend, solution/app-frontend, solution/studio/designer

#5411 Feature/5379 query new params
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceRepositoryMock.cs
  src/development/LocalTest/Controllers/Storage/InstancesController.cs
Labels: area/data-storage, solution/platform

#5388 Updated nuget version. Will not buid before nugets are created
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/logic/App.cs
  src/studio/AppTemplates/AspNet/App/logic/Calculation/CalculationHandler.cs
  src/studio/AppTemplates/AspNet/App/logic/InstantiationHandler.cs
  src/studio/AppTemplates/AspNet/App/logic/Print/PdfHandler.cs
  src/studio/AppTemplates/AspNet/App/logic/Validation/ValidationHandler.cs
Labels: solution/app-backend

#5421 moved hard deleted filter into repository
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstancesControllerTests.cs
  src/development/LocalTest/Controllers/Storage/InstancesController.cs
Labels: area/data-storage, solution/platform

#5423 bugfix
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
Labels: area/data-storage, solution/platform

#5417 added period filter for msgbox search
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/MessageboxInstancesController.cs
Labels: area/data-storage, solution/platform

#5428 Updated package references in .Net prosjects
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.ExampleClients/PrefillClient/PrefillClient.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/development/LocalTest/LocalTest.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/authorization, area/data-storage, area/events, solution/apps, solution/platform, solution/studio/designer

#5429 update gulpfile
  src/studio/src/designer/backend/gulpfile.js
Labels: solution/studio/designer

#5434 Updates to container images used with docker
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/Altinn.Apps/AppTemplates/react/receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.PDF/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
  src/studio/src/load-balancer/Dockerfile
Labels: area/dashboard, area/printout, area/receipt, area/ui-editor, solution/app-backend, solution/app-frontend, solution/platform, solution/studio/designer

#5386 Feature/5164 check answer page v2
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/message/__snapshots__/ErrorPaper.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/message/__snapshots__/MessageComponent.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/message/ErrorPaper.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/message/MessageComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/process-step/NavigationButtons.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/AttachmentSummaryComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/GroupInputSummary.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SingleInputSummary.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SummaryComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SummaryGroupComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/DisplayGroupContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/Form.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutReducer.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/containers/ProcessStep.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/isLoading/dataTask/dataTaskIsLoadingSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formComponentUtils.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formLayout.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/en.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nb.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nn.ts
Labels: solution/app-frontend

#5416 Feature/5179 variables in text
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/logic/validation.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/layout.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/textResources/replace/replaceTextResourcesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/textResources/textResourcesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formLayout.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
  src/Altinn.Apps/AppFrontend/react/shared/__tests__/utils/langugage.test.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/language.ts
Labels: area/language, solution/app-frontend

#5437 feature/5400-update-frontend-deps-w1
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/backend/package-lock.json
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#5441 Designer needs to use correct APIM subscription key in AT
  src/studio/src/designer/backend/Configuration/PlatformSettings.cs
  src/studio/src/designer/backend/Helpers/HttpClientHelper.cs
Labels: solution/studio/designer

#5443 bug/5381-not-possible-to-download-attachments-receipt
  src/Altinn.Apps/AppFrontend/react/receipt/src/features/receipt/containers/Receipt.tsx
Labels: area/receipt, solution/app-frontend

#5447 bug/5445-double-colon-receipt-platform-text
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/en.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nb.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nn.ts
Labels: solution/app-frontend

#5413 new tests for search api and other corrections
  src/test/K6/src/api/platform/events.js
  src/test/K6/src/api/storage/messageboxinstances.js
  src/test/K6/src/buildrequestheaders.js
  src/test/K6/src/setup.js
  src/test/K6/src/support.js
  src/test/K6/src/tests/platform/appowner/downloadinstances.js
  src/test/K6/src/tests/platform/storage/instances.js
  src/test/K6/src/tests/platform/storage/messageboxinstances.js
Labels: area/test

#5440 Support for search strings in search api
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Configuration/GeneralSettings.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/MessageboxInstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/ApplicationRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/IApplicationRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/ApplicationRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestData/TestData.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/MessageboxInstancesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Utils/TestDataUtil.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/apps/tdd/endring-av-navn/applicationmetadata.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/apps/tests/sailor/config/applicationmetadata.json
Labels: area/data-storage, solution/platform

#5455 added config for cache timeout
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/appsettings.json
Labels: area/data-storage, solution/platform

#5419 Added status filter for msgbox search
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/MessageboxInstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/MessageboxInstancesControllerTests.cs
Labels: area/data-storage, solution/platform

#5458 change prod schedules to trigger every 15 minutes
  src/test/K6/use-cases-prod.yaml
Labels: area/test

#5418 bug/5204-dynamics-tab-order
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/RadioButtonsContainerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/message/ErrorReport.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/Form.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/containers/ProcessStep.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/containers/ProcessStepWrapper.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/layout/index.tsx
Labels: solution/app-frontend

#5460 Reverted source-map-loader package.
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/ui-editor, solution/studio/designer

#5461 bug/5462-repeating-groups
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/layout/index.tsx
Labels: solution/app-frontend

#5465 bug/5464-repeating-group-dynamics
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/DisplayGroupContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
Labels: solution/app-frontend

#5468 bug/5368-designer-removing-exludeFromPdf
  src/studio/src/designer/frontend/shared/types/index.d.ts
  src/studio/src/designer/frontend/ux-editor/components/rightMenu/RightMenu.tsx
  src/studio/src/designer/frontend/ux-editor/components/rightMenu/pages/PageElement.tsx
  src/studio/src/designer/frontend/ux-editor/components/rightMenu/pages/PagesContainer.tsx
  src/studio/src/designer/frontend/ux-editor/reducers/formDesignerReducer/formLayoutReducer.ts
  src/studio/src/designer/frontend/ux-editor/sagas/formDesigner/formDesignerSagas.ts
Labels: area/ui-editor, solution/studio/designer

#5475 fixed bug when changing layout name
  src/studio/src/designer/frontend/ux-editor/reducers/formDesignerReducer/formLayoutReducer.ts
Labels: area/ui-editor, solution/studio/designer

#5476 bug/5131-designer-owerwrites-application-metadata
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
Labels: solution/studio/designer

#5442 bug/5435-validation-file-upload-page-switch
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/logic/validation.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
Labels: solution/app-frontend

#5474 Bump most NuGet package references with latest
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/authentication, area/authorization, area/data-storage, area/events, area/profile, area/receipt, area/register, solution/app-backend, solution/apps, solution/platform, solution/studio/designer

#5473 Updating container base image versions
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/development/loadbalancer/Dockerfile
  src/studio/src/designer/Dockerfile
Labels: area/authentication, area/authorization, area/data-storage, area/events, area/profile, area/receipt, area/register, solution/apps, solution/platform, solution/studio/designer

#5477 Feature/5400 deps frontend
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#5481 assign object
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
Labels: solution/app-frontend

#5469 Cleaning up designer project
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Constants/General.cs
  src/studio/src/designer/backend.Tests/Mocks/IRepositoryMock.cs
  src/studio/src/designer/backend/Configuration/ServiceRepositorySettings.cs
  src/studio/src/designer/backend/Constants/General.cs
  src/studio/src/designer/backend/Controllers/ServiceController.cs
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/designer/backend/Models/CodeList.cs
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
  src/studio/src/designer/backend/Services/Implementation/SourceControlSI.cs
  src/studio/src/designer/backend/Services/Interfaces/IRepository.cs
  src/studio/src/designer/backend/Startup.cs
  src/studio/src/designer/backend/Views/Codelist/Edit.cshtml
  src/studio/src/designer/backend/Views/Codelist/Index.cshtml
  src/studio/src/designer/backend/Views/Codelist/Status.cshtml
Labels: area/api-use, solution/app-backend, solution/studio/designer

#5498 Added prefill and run data creation for prefill form events
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/endring-av-navn/logic/AltinnApp.cs
Labels: area/api-expose, solution/app-backend

#5466 Fix failing tests in designer
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/TwoWayXsdToJsonSchemaConversionTests.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/XsdToJsonSchemaTests.cs
  src/studio/src/designer/backend.Tests/TestingControllers/DatamodelsControllerTests.cs
  src/studio/src/designer/backend.Tests/TestingControllers/RepositoriesControllerTest.cs
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/ttd-datamodels/5245/41111/41111.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/ttd-datamodels/ra/0678/0678.schema.json
  src/studio/src/designer/backend/Controllers/DatamodelsController.cs
Labels: solution/studio/designer

#5499 Updated nugets
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#5496 updated mapping of current task
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/InstanceHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/HelperTests/InstanceHelperTest.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestData/TestData.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/08274f48-8313-4e2d-9788-bbdacef5a54e.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/1e14b6cd-e310-4aff-aa83-720b2ec195e0.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/20475edd-dc38-4ae0-bd64-1b20643f506c.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/23d6aa98-df3b-4982-8d8a-8fe67a53b828.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/2f7fa5ce-e878-4e1f-a241-8c0eb1a83eab.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/367a5e5a-12c6-4a74-b72b-766d95f859b0.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/3b67392f-36c6-42dc-998f-c367e771dcdd.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/3c42ee2a-9464-42a8-a976-16eb926bd20a.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/46133fb5-a9f2-45d4-90b1-f6d93ad40713.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/6323a337-26e7-4d40-89e8-f5bb3d80be3a.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/649388f0-a2c0-4774-bd11-c870223ed819.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/69c259d1-9c1f-4ab6-9d8b-5c210042dc4f.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/6aa47207-f089-4c11-9cb2-f00af6f66a47.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/7e6cc8e2-6cd4-4ad4-9ce8-c37a767677b5.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/824E8304-AD9E-4D79-AC75-BCFA7213223B.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/8727385b-e7cb-4bf2-b042-89558c612826.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/a6020470-2200-4448-bed9-ef46b679bdb8.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/bc19107c-508f-48d9-bcd7-54ffec905306.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/ca9da17c-904a-44d2-9771-a5420acfbcf3.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/d3b326de-2dd8-49a1-834a-b1d23b11e540.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/d91fd644-1028-4efd-924f-4ca187354514.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/d9a586ca-17ab-453d-9fc5-35eaadb3369b.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/dd84cfe9-f875-42ea-8a96-eb725a6a8a95.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/e6efc10e-913b-4a81-a36a-02376f5f5678.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/ef1b16fc-4566-4577-b2d8-db74fbee4f7c.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1606/6323a337-26e7-4d40-89e8-f5bb3d80be3a.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1606/6323a337-26e7-4d40-89e8-f5bb3d80bedd.json
Labels: area/data-storage, solution/platform

#5509 added baseurl for at21
  src/test/K6/src/config.js
Labels: area/test

#5511 at21 needs api keys
  src/test/K6/src/buildrequestheaders.js
Labels: area/test

#5503 Feature/5233 message widget
  src/studio/src/designer/backend.Tests/Mocks/IRepositoryMock.cs
  src/studio/src/designer/backend/Configuration/ServiceRepositorySettings.cs
  src/studio/src/designer/backend/Controllers/UIEditorController.cs
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/backend/Models/TextResource.cs
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
  src/studio/src/designer/backend/Services/Implementation/TextResourceService.cs
  src/studio/src/designer/backend/Services/Interfaces/IRepository.cs
  src/studio/src/designer/frontend/ux-editor/App.tsx
  src/studio/src/designer/frontend/ux-editor/actions/appDataActions/actions/index.ts
  src/studio/src/designer/frontend/ux-editor/actions/appDataActions/actions/loadTextResources/index.ts
  src/studio/src/designer/frontend/ux-editor/actions/appDataActions/appDataActionDispatcher.ts
  src/studio/src/designer/frontend/ux-editor/actions/formDesignerActions/actions/index.ts
  src/studio/src/designer/frontend/ux-editor/actions/formDesignerActions/formDesignerActionDispatcher.ts
  src/studio/src/designer/frontend/ux-editor/components/FormComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.tsx
  src/studio/src/designer/frontend/ux-editor/components/index.ts
  src/studio/src/designer/frontend/ux-editor/containers/Toolbar.tsx
  src/studio/src/designer/frontend/ux-editor/containers/ToolbarGroup.tsx
  src/studio/src/designer/frontend/ux-editor/containers/ToolbarItem.tsx
  src/studio/src/designer/frontend/ux-editor/features/appData/textResources/textResourcesSlice.ts
  src/studio/src/designer/frontend/ux-editor/features/formLayout/widgets/addWidgetActions.ts
  src/studio/src/designer/frontend/ux-editor/features/formLayout/widgets/addWidgetsSagas.ts
  src/studio/src/designer/frontend/ux-editor/features/widgets/fetch/fetchWidgetsSagas.ts
  src/studio/src/designer/frontend/ux-editor/features/widgets/widgetsSagas.ts
  src/studio/src/designer/frontend/ux-editor/features/widgets/widgetsSlice.ts
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/ux-editor/reducers/appDataReducer/index.ts
  src/studio/src/designer/frontend/ux-editor/reducers/appDataReducer/textResourcesReducer.ts
  src/studio/src/designer/frontend/ux-editor/reducers/formDesignerReducer/formLayoutReducer.ts
  src/studio/src/designer/frontend/ux-editor/reducers/index.ts
  src/studio/src/designer/frontend/ux-editor/sagas/appData/appDataSagas.ts
  src/studio/src/designer/frontend/ux-editor/sagas/appData/index.ts
  src/studio/src/designer/frontend/ux-editor/sagas/formDesigner/index.ts
  src/studio/src/designer/frontend/ux-editor/sagas/index.ts
  src/studio/src/designer/frontend/ux-editor/types/global.ts
  src/studio/src/designer/frontend/ux-editor/utils/formLayout.ts
  src/studio/src/designer/frontend/ux-editor/utils/language.ts
  src/studio/src/designer/frontend/ux-editor/utils/urlHelper.ts
  src/studio/src/designer/frontend/ux-editor/utils/widgetSettings.ts
Labels: area/ui-editor, solution/app-frontend, solution/studio/designer

#5504 Add support for AttachmentList component
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/FormLayoutElement.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/LayoutUtils.java
Labels: area/printout, solution/platform

#5483 bug/5426-address-component-summary
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/AttachmentSummaryComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/EditButton.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SingleInputSummary.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SummaryComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SummaryGroupComponent.tsx
Labels: solution/app-frontend

#5512 fixed checkboxes that lock themselves
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.tsx
Labels: solution/app-frontend

#5526 dependency week 3 Nugets
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Altinn.App.PlatformServices.Tests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/Altinn.Platform.Models.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/authentication, area/authorization, area/data-storage, area/events, area/profile, area/receipt, area/register, solution/app-backend, solution/apps, solution/platform, solution/studio/designer

#5523 studio frontend deps w3
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/ui-editor, solution/studio/designer

#5527 Validate required zip code in address component
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/advanced/AddressComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/advanced/__snapshots__/AddressComponent.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/logic/validation.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/advanced/AddressComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
Labels: solution/app-frontend

#5522 update deps w3
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
Labels: area/receipt, solution/app-frontend

#5531 Fix domain used by party cookie
  src/Altinn.Apps/AppTemplates/AspNet/App/appsettings.json
  src/studio/AppTemplates/AspNet/App/appsettings.json
Labels: solution/app-backend

#5501 Feature/4316 publish swagger for app api
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/HomeController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/ResourceController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/ValidateController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/AppRef.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/Startup.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#5514 Test/905 sbl search instance text
  src/test/K6/docker-compose.yml
  src/test/K6/src/support.js
  src/test/K6/src/tests/platform/storage/messageboxinstances.js
  src/test/K6/src/tests/platform/storage/sblloadinstances.js
Labels: area/test

#5536 bug/4922-repeating-groups-safari
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
Labels: solution/app-frontend

#5454 Feature/5241 multiple layouts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/fetch/fetchFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/dynamics/fetch/fetchFormDynamicsSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/fetch/fetchFormLayoutActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/fetch/fetchFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutActionTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutReducer.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/rules/fetch/fetchRulesActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/rules/fetch/fetchRulesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/rules/rulesActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/dataTask/dataTaskQueueSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/layout/index.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/urlHelper.ts
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/ResourceController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Models/Components.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Models/LayoutSet.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Models/LayoutSets.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Models/LayoutSettings.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Models/Pages.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Configuration/AppSettings.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppBase.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppResourcesSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/IAppResources.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend, solution/app-frontend

#5516 Feature/5233 message widget app
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/applicationMetadataMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/formLayoutStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/mocks.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/AttachmentListComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/AttachmentListComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/styles/index.css
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formComponentUtils.ts
Labels: solution/app-frontend

#5510 Bug/5299 validation group
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
Labels: solution/app-frontend

#5528 feature/977-improvements-to-connecting-dynamics
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/ux-editor/actions/formDesignerActions/actions/index.ts
  src/studio/src/designer/frontend/ux-editor/actions/formDesignerActions/actions/updateFormComponentId/index.ts
  src/studio/src/designer/frontend/ux-editor/actions/formDesignerActions/formDesignerActionDispatcher.ts
  src/studio/src/designer/frontend/ux-editor/actions/formDesignerActions/formDesignerActionTypes.ts
  src/studio/src/designer/frontend/ux-editor/components/config/ConditionalRenderingComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/RuleComponent.tsx
  src/studio/src/designer/frontend/ux-editor/containers/Container.tsx
  src/studio/src/designer/frontend/ux-editor/containers/EditContainer.tsx
  src/studio/src/designer/frontend/ux-editor/reducers/conditionalRenderingReducer/index.ts
  src/studio/src/designer/frontend/ux-editor/reducers/formDesignerReducer/formLayoutReducer.ts
  src/studio/src/designer/frontend/ux-editor/sagas/conditionalRendering/conditionalRenderingSagas.ts
  src/studio/src/designer/frontend/ux-editor/sagas/conditionalRendering/index.ts
  src/studio/src/designer/frontend/ux-editor/sagas/formDesigner/formDesignerSagas.ts
  src/studio/src/designer/frontend/ux-editor/sagas/formDesigner/index.ts
  src/studio/src/designer/frontend/ux-editor/selectors/getLayoutData.ts
  src/studio/src/designer/frontend/ux-editor/test/__tests__/components/config/EditModalContent.test.tsx
  src/studio/src/designer/frontend/ux-editor/types/global.ts
  src/studio/src/designer/frontend/ux-editor/utils/formLayout.ts
Labels: area/ui-editor, solution/studio/designer

#5529 Feature/5513 level4 access for orgs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/PrefillSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/Instances/nsm/klareringsportalen/1337/readme.txt
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/nsm/klareringsportalen/appsettings.Development.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/nsm/klareringsportalen/appsettings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/nsm/klareringsportalen/config/applicationmetadata.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/nsm/klareringsportalen/config/authorization/policy.xml
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/nsm/klareringsportalen/config/process/process.bpmn
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/nsm/klareringsportalen/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/nsm/klareringsportalen/logic/Calculation/CalculationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/nsm/klareringsportalen/logic/InstantiationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/nsm/klareringsportalen/logic/Print/PdfHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/nsm/klareringsportalen/logic/Validation/ValidationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/nsm/klareringsportalen/models/epob.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/nsm/klareringsportalen/models/epob.metadata.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/nsm/klareringsportalen/models/epob.prefill.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/nsm/klareringsportalen/models/epob.schema.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/nsm/klareringsportalen/models/epob.xsd
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/EndToEndTests/NsmKlareringsportalenEndToEndTests.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/PrincipalUtil.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/SetupUtil.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Helpers/DecisionHelper.cs
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/DecisionHelperTest.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
Labels: area/api-expose, area/api-use, area/authorization, area/data-storage, solution/app-backend, solution/platform

#5535 Change designer to use .Net 5.
  lgtm.yml
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/XsdToJsonSchemaTests.cs
  src/studio/src/designer/backend.Tests/TestingControllers/DatamodelsControllerTests.cs
  src/studio/src/designer/backend.Tests/TestingControllers/RepositoriesControllerTest.cs
  src/studio/src/designer/backend.Tests/TestingServices/RepositoryServiceTest.cs
  src/studio/src/designer/backend/Authorization/NotAuthorizedHandler.cs
  src/studio/src/designer/backend/Controllers/UIEditorController.cs
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/designer/backend/Infrastructure/AuthenticationConfiguration.cs
Labels: solution/studio/designer

#5541 Changed KubernetesWrapper to run on .net 5.0
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
Labels: solution/apps

#5548 updated backend deps
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
Labels: area/api-use, area/authentication, area/authorization, area/data-storage, area/events, area/printout, area/register, solution/app-backend, solution/platform

#5546 bug/5545-backend-validations-mapping-rep-groups
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/logic/validation.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
Labels: solution/app-frontend

#5549 bug/5364-pdf-not-generated-for-uppercase-layouts
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Helpers/CamelCaseExceptDictionaryResolver.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/PDFSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#5550 feature/5519-update-frontend-deps-w4
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Platform/Altinn.Platform.Receipt/package-lock.json
  src/Altinn.Platform/Altinn.Platform.Receipt/package.json
  src/studio/src/designer/backend/package-lock.json
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/platform, solution/studio/designer
