Repository Altinn/altinn-studio, pull requests merged in 2021-04, with the labels that each got.

#5962 Optimized studio tests
  src/test/Testcafe/dashboard_tests/app-tests.js
  src/test/Testcafe/deploy_tests/deploy-tests.js
  src/test/Testcafe/designer_tests/app-designer-tests.js
  src/test/Testcafe/designer_tests/navigation-tests.js
  src/test/Testcafe/package-lock.json
  src/test/Testcafe/package.json
  src/test/Testcafe/testRunner.js
Labels: area/test

#5914 Enable container scanning
  .github/containerscan/allowedlist.yaml
  .github/workflows/app-scan.yml
  .github/workflows/authentication-scan.yml
  .github/workflows/authorization-scan.yml
  .github/workflows/designer-scan.yml
  .github/workflows/events-scan.yml
  .github/workflows/load-balancer-scan.yml
  .github/workflows/pdf-scan.yml
  .github/workflows/profile-scan.yml
  .github/workflows/register-scan.yml
  .github/workflows/repositories-scan.yml
  .github/workflows/storage-scan.yml
  container-scan.md
Labels: kind/security, quality/engineering

#5949 Feature/5877 update frontend dependencies week12
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#5965 bug/5964-rulehandler-layout-sets
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend

#5970 updated nuget versions after test complete
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#5971 add missing IsPackable property
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
Labels: area/api-expose, solution/app-backend

#5973 fix eslint errors causing build to fail
  src/studio/src/designer/frontend/app-development/features/administration/components/ResetRepoModal.tsx
  src/studio/src/designer/frontend/app-development/features/administration/handleServiceInformationSlice.ts
  src/studio/src/designer/frontend/app-development/features/administration/types.ts
  src/studio/src/designer/frontend/app-development/features/dataModeling/schemaSelect.tsx
  src/studio/src/designer/frontend/app-development/sharedResources/appCluster/appClusterSlice.ts
  src/studio/src/designer/frontend/app-development/sharedResources/appDeployment/types.ts
  src/studio/src/designer/frontend/app-development/sharedResources/user/session/sessionSagas.ts
  src/studio/src/designer/frontend/app-development/sharedResources/user/userSlice.ts
Labels: area/app-deploy, solution/studio/designer

#5932 feature/5862-help-text-paragraph-header
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/HeaderComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/ParagraphComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/__snapshots__/HeaderComponent.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/__snapshots__/ParagraphComponent.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/HeaderComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/ParagraphComponent.tsx
Labels: solution/app-frontend

#5978 Test/new frontend tests
  src/test/cypress/README.md
  src/test/cypress/cypress.json
  src/test/cypress/e2e/fixtures/attachment.json
  src/test/cypress/e2e/integration/app-frontend/calculate-page-order.js
  src/test/cypress/e2e/integration/app-frontend/dynamics.js
  src/test/cypress/e2e/integration/app-frontend/group.js
  src/test/cypress/e2e/integration/app-frontend/message.js
  src/test/cypress/e2e/integration/app-frontend/prefill.js
  src/test/cypress/e2e/integration/app-frontend/receipt.js
  src/test/cypress/e2e/integration/app-frontend/rules.js
  src/test/cypress/e2e/integration/app-frontend/summary.js
  src/test/cypress/e2e/integration/app-frontend/tabbing.js
  src/test/cypress/e2e/integration/app-frontend/validation.js
  src/test/cypress/e2e/pageobjects/app-frontend.js
  src/test/cypress/e2e/plugins/index.js
  src/test/cypress/e2e/support/app-frontend.js
  src/test/cypress/e2e/support/app.js
  src/test/cypress/e2e/support/index.d.ts
  src/test/cypress/e2e/support/index.js
  src/test/cypress/e2e/support/localtest.js
  src/test/cypress/e2e/support/start-app-instance.js
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: area/test

#5981 Feature/5957 backend patching
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Altinn.App.PlatformServices.Tests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Apps/AppTemplates/react/receipt/Dockerfile
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/Altinn.EFormidlingClient.Tests.csproj
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/Altinn.EFormidlingClient.csproj
  src/Altinn.Common/Authentication/Altinn.Common.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/Altinn.Platform.Models.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Models/Altinn.Platform.Models.csproj
  src/Altinn.Platform/Altinn.Platform.PDF/Dockerfile
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
  src/studio/src/load-balancer/Dockerfile
  src/studio/src/repositories/Dockerfile
  src/studio/src/repositories/Dockerfile.local
Labels: area/authentication, area/authorization, area/dashboard, area/data-storage, area/events, area/pdf, area/profile, area/receipt, area/register, area/ui-editor, solution/app-backend, solution/app-frontend, solution/apps, solution/platform, solution/studio/designer, solution/studio/repos

#5976 Post subscription returns subscription including created data
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/PushController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/SubscriptionController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Extensions/DataReaderExtensions.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Migration/v0.05/01-setup-functions.sql
  src/Altinn.Platform/Altinn.Platform.Events/Events/Models/Subscription.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/CloudEventRepository.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/ICloudEventRepository.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/ISubscriptionRepository.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/SubscriptionRepository.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/EventsService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/Interfaces/ISubscriptionService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/SubscriptionService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/CloudEventRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/EventsServiceMock.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/PepWithPDPAuthorizationMockSI.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/ProfileMockSI.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/RegisterServiceMock.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/SubscriptionRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/PushControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/SubscriptionControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingServices/EventsServiceTest.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingServices/SubscriptionServiceTest.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingUtils/DataReaderExtensionsTests.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/appsettings.json
Labels: area/events, solution/platform

#5979 Added iss verification for maskinporten
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Controllers/AuthenticationControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
Labels: area/authentication, solution/platform

#5987 Changed so idporten valid to is transfered to new token
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Controllers/AuthenticationControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/JwtTokenMock.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
Labels: area/authentication, solution/platform

#5959 Bug/5754 slow calculate frontend v2
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/ButtonComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/fetch/fetchFormDataActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/fetch/fetchFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/formDataActionTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/formDataActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/formDataReducer.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/formDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/formDataTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/submit/submitFormDataActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/update/updateFormDataActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/update/updateFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/dynamics/conditionalRendering/conditionalRenderingSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/fetch/fetchFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/rules/check/checkRulesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/isLoading/dataTask/dataTaskIsLoadingSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/dataTask/dataTaskQueueSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/textResources/replace/replaceTextResourcesSagas.ts
Labels: area/language, solution/app-frontend

#5999 feature/5998-remove-csproj-language-version
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/AppRef.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/Altinn.EFormidlingClient.csproj
  src/Altinn.Common/Authentication/Altinn.Common.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Altinn.Authorization.ABAC/Altinn.Authorization.ABAC.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Models/Altinn.Platform.Models.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/development/LocalTest/LocalTest.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/api-expose, area/api-use, area/authentication, area/authorization, area/data-storage, area/events, area/profile, area/receipt, area/register, solution/app-backend, solution/platform, solution/studio/designer

#5991 Feature/5957 update frontend deps w14
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/advanced/AddressComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/InputComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/RadioButtonsContainerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/message/MessageComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/process-step/Header.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnColumnLayout.tsx
  src/studio/src/designer/frontend/app-development/features/administration/components/SideMenuContent.tsx
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/components/AltinnColumnLayout.tsx
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#5975 Feature/5788 tree structure
  src/studio/src/designer/frontend/app-development/config/routes.tsx
  src/studio/src/designer/frontend/app-development/features/dataModeling/containers/DataModelingContainer.tsx
  src/studio/src/designer/frontend/app-development/features/dataModeling/dataModelingSlice.ts
  src/studio/src/designer/frontend/app-development/test/__testdata__/schemaTestData.json
  src/studio/src/designer/frontend/app-development/test/__tests__/DataModeling.test.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/__snapshots__/DataModeling.test.tsx.snap
  src/studio/src/designer/frontend/app-development/tsconfig.json
  src/studio/src/designer/frontend/packages/schema-editor/src/SchemaEditorApp.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/ConstItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/InputField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/schemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/types/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaEditor.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaEditorApp.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/__snapshots__/SchemaInspector.test.tsx.snap
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/schemaEditorSlice.test.ts
  src/studio/src/designer/frontend/shared/navigation/drawer/drawerMenuSettings.ts
Labels: area/data-modeling, solution/studio/designer

#5989 Bumped packages for AccessToken projects
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
Labels: area/authorization

#6004 Test/get instance polling
  src/test/K6/src/tests/platform/appowner/instances-poll.js
Labels: area/test

#6000 Fixed validation to consider the correct values (party over org)
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/SubscriptionController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/SubscriptionRepositoryMock.cs
Labels: area/events, solution/platform

#5966 delete backup in cleanup job
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/LoadTestingCleanup.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/NightlyCleanup.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Services/BackupBlobService.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Services/BlobService.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Services/CosmosService.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Services/Interfaces/IBackupBlobService.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Services/Interfaces/IBlobService.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Services/Interfaces/ICosmosService.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/host.json
Labels: area/data-storage, solution/platform

#6010 bugfix/6009 - hide link to datamodelling page
  src/studio/src/designer/frontend/shared/navigation/drawer/drawerMenuSettings.ts
Labels: solution/studio/designer

#6017 Test/cypress deps
  src/test/cypress/README.md
  src/test/cypress/e2e/integration/app-frontend/validation.js
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: area/test

#6026 fixed null pointer
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/NightlyCleanup.cs
Labels: area/data-storage, solution/platform

#6027 Bug/cleanup
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Services/BackupBlobService.cs
Labels: area/data-storage, solution/platform

#6041 Added support for data fields in Application and Instance models.
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/Application.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/DataField.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/Instance.cs
Labels: area/data-storage, solution/platform

#6043 Removes IPolicyRetrievalPoint and updates ABAC nuget package version
  src/Altinn.Platform/Altinn.Platform.Authorization/Altinn.Authorization.ABAC/Altinn.Authorization.ABAC.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Altinn.Authorization.ABAC/Interface/IPolicyRetrievalPoint.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Xacml30ConformanceTests.cs
Labels: area/authorization, solution/platform

#6045 updated studio tests
  src/test/Testcafe/package-lock.json
  src/test/Testcafe/package.json
  src/test/Testcafe/use-cases.yaml
Labels: area/test

#5990 Feature/5933 subject validation
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/SubscriptionController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/SubscriptionControllerTests.cs
Labels: area/events, solution/platform

#6003 Get accesstoken with certificate from keyvault
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Services/AccessTokenGenerator.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Services/IAccessTokenGenerator.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Services/ISigningCredentialsResolver.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Services/SigningCredentialsResolver.cs
Labels: area/authorization

#6049 Bumped major version as the previous change to 2.5.11 is a potential …
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
Labels: area/data-storage, solution/platform

#6044 Feature/5768 api
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/SubscriptionController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Migration/v0.06/01-setup-functions.sql
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/ISubscriptionRepository.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/SubscriptionRepository.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/Interfaces/ISubscriptionService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/SubscriptionService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/SubscriptionRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/SubscriptionControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/platform-org.pem
  src/Altinn.Platform/Altinn.Platform.Events/Tests/platform-org.pfx
Labels: area/events, solution/platform

#6050 updated assembly and file version
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
Labels: area/data-storage, solution/platform

#6046 feature/6011-update-frontend-deps-w15
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/backend/package-lock.json
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#6052 Added data model for PUT endpoint in InstancesController.
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/DataValues.cs
Labels: area/data-storage, solution/platform

#6047 Update nugets backend w15
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Common/Authentication/Altinn.Common.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/authentication, area/authorization, area/data-storage, area/events, area/profile, area/receipt, area/register, solution/app-backend, solution/apps, solution/platform, solution/studio/designer

#6028 bug/5960-validations-not-deleted-rep-groups
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/logic/validation.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/databindings.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
Labels: solution/app-frontend

#6036 Bug/6005 variables text missing
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/initialStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/shared/resources/isLoadingSlice.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/shared/resources/queue/appTaskQueueSagas.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/shared/resources/queue/dataTaskQueueSagas.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/shared/resources/queue/infoTaskQueueSagas.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/shared/resources/queue/queueSlice.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/App.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/fetch/fetchFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/datamodel/fetch/fetchFormDatamodelSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/dynamics/fetch/fetchFormDynamicsSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/fetch/fetchFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/rules/fetch/fetchRulesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/reducers/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/containers/ProcessStepWrapper.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/applicationMetadata/sagas/get/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/isLoading/dataTask/dataTaskIsLoadingActionTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/isLoading/dataTask/dataTaskIsLoadingActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/isLoading/dataTask/dataTaskIsLoadingSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/isLoading/isLoadingActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/isLoading/isLoadingReducers.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/isLoading/isLoadingSlice.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/language/fetch/fetchLanguageSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/party/getParties/getPartiesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/process/completeProcess/completeProcessSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/profile/fetch/fetchProfileSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/appTask/appTaskQueueActionTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/appTask/appTaskQueueActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/appTask/appTaskQueueSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/dataTask/dataTaskQueueActionTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/dataTask/dataTaskQueueActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/dataTask/dataTaskQueueSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/infoTask/infoTaskQueueSaga.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/queueActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/queueReducer.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/queueSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/queueSlice.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/textResources/fetch/fetchTextResourcesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/textResources/replace/replaceTextResourcesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/textResources/textResourcesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/language.ts
Labels: area/language, solution/app-frontend

#6060 Adds API Action and Repository logic for getting all Applications
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/ApplicationsController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/ApplicationRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/IApplicationRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/ApplicationRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/ApplicationsControllerTests.cs
  src/development/LocalTest/Controllers/Storage/ApplicationsController.cs
  src/development/LocalTest/Services/Storage/Implementation/ApplicationRepository.cs
  src/development/LocalTest/Services/Storage/Interface/IApplicationRepository.cs
Labels: area/data-storage, solution/platform

#6037 bug/6006/calculation-does-not-update-rep-group-state
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/fetch/fetchFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutSlice.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
Labels: solution/app-frontend

#6062 push final nugets for template v 4.2.0
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#6057 Feature/6020 expose data fields in storage api
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstancesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/20a1353e-91cf-44d6-8ff7-f68993638ffe.json
  src/development/LocalTest/Controllers/Storage/InstancesController.cs
  src/development/LocalTest/LocalTest.csproj
Labels: area/data-storage, solution/platform

#6039 bug/5993-summary-checkboxes-multiple-values
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/formComponentUtils.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/RepeatingGroupTable.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formComponentUtils.ts
Labels: solution/app-frontend

#6051 Feature/4942 azure function input queue
  src/Altinn.Platform/Altinn.Platform.Events/Altinn.Platform.Events.sln
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Altinn.Platform.Events.Functions.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Configuration/KeyVaultSettings.cs
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Configuration/PlatformSettings.cs
  src/Altinn.Platform/Altinn.Platform.Events/Functions/EventsInbound.cs
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Extensions/HttpClientExtension.cs
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Models/CloudEvent.cs
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Properties/serviceDependencies.json
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Properties/serviceDependencies.local.json
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Services/Interfaces/IKeyVaultService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Services/Interfaces/IPushEventsService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Services/KeyVaultService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Services/PushEventsService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Events/Functions/TelemetryInitializer.cs
  src/Altinn.Platform/Altinn.Platform.Events/Functions/host.json
  src/Altinn.Platform/Altinn.Platform.Events/Functions/local.settings.json
Labels: area/events, solution/platform

#6067 Cypress confirm test
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/confirm/containers/Confirm.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/organisms/AltinnReceipt.tsx
  src/test/cypress/cypress.json
  src/test/cypress/e2e/fixtures/texts.json
  src/test/cypress/e2e/integration/app-frontend/confirmation.js
  src/test/cypress/e2e/integration/app-frontend/receipt.js
  src/test/cypress/e2e/pageobjects/app-frontend.js
  src/test/cypress/e2e/plugins/index.js
  src/test/cypress/e2e/support/app-frontend.js
Labels: solution/app-frontend

#6042 Storage sbl api added presentation texts to message box instance
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/MessageboxInstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/InstanceHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/MessageBoxInstance.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/IInstanceRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/MessageboxInstancesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/6323a337-26e7-4d40-89e8-f5bb3d80be3a.json
Labels: area/data-storage, solution/platform

#6071 removed tests storage sbl get instances by party
  src/test/K6/src/api/platform/storage/messageboxinstances.js
  src/test/K6/src/tests/platform/storage/deleteinstances.js
  src/test/K6/src/tests/platform/storage/messageboxinstances.js
Labels: area/test

#6072 Functional and performance optimalization
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Mocks/AuthorizationWrapperMock.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/TestingControllers/PartiesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Configuration/PlatformSettings.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Controllers/PartiesController.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Extensions/HttpClientExtension.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Services/Implementation/AuthorizationWrapper.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Services/Interfaces/IAuthorization.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/appsettings.json
Labels: area/register, solution/platform

#6055 Feature/570 edit property
  src/studio/src/designer/frontend/app-development/test/__tests__/DataModeling.test.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/__snapshots__/DataModeling.test.tsx.snap
  src/studio/src/designer/frontend/packages/schema-editor/src/components/AddPropertyModal.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/InputField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/RefSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TypeSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/schemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/types/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/__snapshots__/SchemaInspector.test.tsx.snap
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/schemaEditorSlice.test.ts
Labels: solution/studio/designer

#6077 Fixed potential null reference bug when adding data values or presentation texts.
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstancesControllerTests.cs
Labels: area/data-storage, solution/platform

#5927 feature/5281-run-validations-save-group-component
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/GroupContainer.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/GroupContainer.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/logic/validation.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/layout.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/RepeatingGroupsEditContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/formDataActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/formDataReducer.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutSlice.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/textResources/replace/replaceTextResourcesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formLayout.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
Labels: area/language, solution/app-frontend

#6088 Bumped safe nuget packages to their latest version.
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/AppRef.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Altinn.Platform.Events.Functions.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/api-expose, area/api-use, area/authentication, area/authorization, area/data-storage, area/events, area/profile, area/receipt, area/register, solution/app-backend, solution/platform, solution/studio/designer

#6093 Require platformaccesstoken for pushcontroller
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/PushController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/PushControllerTests.cs
Labels: area/events, solution/platform

#6074 feature/4942-azure-function-get-secret-identifier
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Altinn.Platform.Events.Functions.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Services/Interfaces/IKeyVaultService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Services/KeyVaultService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Services/PushEventsService.cs
Labels: area/events, solution/platform

#6099 More logging
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Services/PushEventsService.cs
Labels: area/events, solution/platform

#6101 Changed httpclient and removed debug-logging
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Services/PushEventsService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Startup.cs
Labels: area/events, solution/platform

#6090 bug/6089-group-validation-instance
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
Labels: solution/app-frontend

#6103 Encoding message to Base64
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/QueueService.cs
Labels: area/events, solution/platform

#6100 Feature/6011 update containers
  lgtm.yml
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/Dockerfile
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/Altinn.Apps/AppTemplates/react/receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/repositories/Dockerfile
  src/studio/src/repositories/Dockerfile.local
Labels: area/authentication, area/dashboard, area/receipt, area/ui-editor, solution/app-backend, solution/app-frontend, solution/platform, solution/studio/designer, solution/studio/repos

#6092 deps w16 app frontend
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
Labels: area/receipt, solution/app-frontend

#6096 Bumped npm packages to the latest minor/patch version.
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/ui-editor, solution/studio/designer

#6034 added support for setting presentation texts
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/DataController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Helpers/JsonHelper.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Implementation/InstanceAppSITests.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Helpers/DataHelper.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppBase.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/InstanceAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/IAltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/IInstance.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/DataApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/AppBase/AppBaseTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/Instances/tdd/custom-validation/1337/182e053b-3c74-46d4-92ec-a2828289a877/7dfeffd1-1750-4e4a-8107-c6741e05d2a9.pretest.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/Instances/tdd/custom-validation/1337/182e053b-3c74-46d4-92ec-a2828289a877/blob/7dfeffd1-1750-4e4a-8107-c6741e05d2a9.pretest
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/Instances/ttd/presentationfields-app/1337/447ed22d-67a8-42c7-8add-cc35eba304f1.pretest.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/Instances/ttd/presentationfields-app/1337/447ed22d-67a8-42c7-8add-cc35eba304f1/590ebc27-246e-4a0a-aea3-4296cb231d78.pretest.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/Instances/ttd/presentationfields-app/1337/447ed22d-67a8-42c7-8add-cc35eba304f1/blob/590ebc27-246e-4a0a-aea3-4296cb231d78.pretest
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/eformidling-app/config/applicationmetadata.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/presentationfields-app/appsettings.Development.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/presentationfields-app/appsettings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/presentationfields-app/config/applicationmetadata.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/presentationfields-app/config/authorization/policy.xml
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/presentationfields-app/config/process/process.bpmn
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/presentationfields-app/config/texts/resource.nb.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/presentationfields-app/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/presentationfields-app/logic/Calculation/CalculationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/presentationfields-app/logic/InstantiationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/presentationfields-app/logic/Print/PdfHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/presentationfields-app/logic/Validation/ValidationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/presentationfields-app/models/default.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/presentationfields-app/models/default.prefill.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/presentationfields-app/ui/RuleHandler.js
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/presentationfields-app/ui/layouts/FormLayout.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/InstanceMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/InstancePlatformFailsMock.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/SetupUtil.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/TestDataUtil.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#6087 Performance fixes
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/AuthorizationController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/RegisterAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/AuthorizationApiTests.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/InstanceApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/Profile/User/1.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/endring-av-navn/appsettings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/AuthorizationMock.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/RegisterMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/SetupUtil.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#6098 bug/5935-markdown-parsing-summary-group
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/GroupInputSummary.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SummaryGroupComponent.tsx
  src/test/cypress/e2e/integration/app-frontend/group.js
Labels: solution/app-frontend

#6108 Feature/6015-add-property
  src/studio/src/designer/frontend/app-development/test/__tests__/DataModeling.test.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/__snapshots__/DataModeling.test.tsx.snap
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/schemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/mockData.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaEditor.test.tsx
Labels: area/data-modeling, solution/studio/designer

#6066 4798 creates api get roles with access
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Controllers/DecisionController.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Controllers/PolicyController.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Helpers/PolicyHelper.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Services/Implementation/PolicyRetrievalPoint.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Services/Interface/IPolicyRetrievalPoint.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/testorg/testapp/policy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Fixtures/PolicyInformationPointFixture.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/MockServices/PolicyRetrievalPointMock.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/PolicyControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/PolicyRetrievalPointTest.cs
  src/development/LocalTest/Controllers/Authorization/DecisionController.cs
  src/development/LocalTest/LocalTest.csproj
  src/development/LocalTest/Services/Authorization/Implementation/PolicyRetrievalPoint.cs
  src/development/LocalTest/Services/Authorization/Interface/IPolicyRetrievalPoint.cs
  src/development/LocalTest/Startup.cs
Labels: area/authorization, solution/platform

#6105 Remove threadpool blocking from repository constructors in Platform.Storage
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Extensions/TaskExtensions.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/ApplicationRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/BaseRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/CosmosDatabaseHandler.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/DataRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceEventRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/ServiceCollectionExtensions.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/TextRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Fixture/TestApplicationFactory.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Health/HealthCheckTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/ServiceCollectionExtensions.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/ApplicationsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/DataControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstanceEventsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstancesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/MessageboxInstancesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/ProcessControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/TextsControllerTests.cs
Labels: area/data-storage, solution/platform

#6130 pushed final nugets
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#6127 Feature/764 forgot password
  src/studio/src/repositories/gitea-config/app.ini
  src/studio/src/repositories/gitea-data/gitea/conf/app.ini
  src/studio/src/repositories/gitea-data/gitea/options/locale/locale_nb-NO.ini
Labels: solution/studio/repos

#6135 added onEntry property to application
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/Application.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/OnEntryConfig.cs
Labels: area/data-storage, solution/platform

#6141 Backend nuget patching
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Authentication/Altinn.Common.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Configuration/ConsoleTraceService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Altinn.Platform.Events.Functions.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/development/LocalTest/LocalTest.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/api-expose, area/api-use, area/authentication, area/authorization, area/data-storage, area/events, area/receipt, solution/app-backend, solution/platform, solution/studio/designer

#6144 Feature/6085 nuget version
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#6121 Get instance authentication level too low. Improved feedback
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/PepAuthorizationMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/PepWithPDPAuthorizationMockSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/AppRef.csproj
  src/development/LocalTest/LocalTest.csproj
  src/development/LocalTest/Services/Storage/Implementation/InstanceEventRepository.cs
Labels: area/api-expose, area/api-use, solution/app-backend
