Repository Altinn/altinn-studio, pull requests merged in 2021-12, with the labels that each got.

#7506 Authorization Decision: Support for authorization based on Delegation Policies
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Controllers/DecisionController.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Migration/v0.01/02-setup-procedures.sql
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Models/MainUnit.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Models/MainUnitQuery.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Repositories/DelegationMetadataRepository.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Repositories/Interface/IDelegationMetadataRepository.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Services/Implementation/ContextHandler.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Services/Implementation/DelegationContextHandler.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Services/Implementation/PartiesWrapper.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Services/Interface/IDelegationContextHandler.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Services/Interface/IParties.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/AltinnApps_DecisionTests.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnApps0001DelegationRequest.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnApps0001DelegationResponse.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnAppsOrg1App1_KeyRoleUnitDelegationPolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnAppsOrg1App1_KeyRoleUnitDelegationRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnAppsOrg1App1_KeyRoleUnitDelegationResponse.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnAppsOrg1App1_KeyRoleUnitDelegation_MainUnitPolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnAppsOrg1App1_KeyRoleUnitDelegation_MainUnitRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnAppsOrg1App1_KeyRoleUnitDelegation_MainUnitResponse.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnAppsOrg1App1_UserDelegationPolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnAppsOrg1App1_UserDelegationRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnAppsOrg1App1_UserDelegationResponse.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnAppsOrg1App1_UserDelegation_DeletedPolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnAppsOrg1App1_UserDelegation_DeletedRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnAppsOrg1App1_UserDelegation_DeletedResponse.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnAppsOrg1App1_UserDelegation_MainUnitPolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnAppsOrg1App1_UserDelegation_MainUnitRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnAppsOrg1App1_UserDelegation_MainUnitResponse.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/skd/taxreport/1000/u20001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Fixtures/PlatformAuthorizationFixture.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/MockServices/DelegationMetadataRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/MockServices/PartiesMock.cs
Labels: area/authorization, solution/platform

#7586 pushed final nugets
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend, area/api-use, area/api-expose

#7588 Remove-max-width-until-focus-is-fixed
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/styles/index.css
Labels: solution/app-frontend

#7589 Fixed null reference error when creating a new schema.
  src/studio/src/designer/backend/Services/Implementation/SchemaModelService.cs
Labels: solution/studio/designer

#7579 Stop storing ObligationExpression in delegation policies
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Controllers/DecisionController.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Helpers/PolicyHelper.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/error/postgrewritechangefail/50001337/u20001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/org1/app1/50001337/p50001336/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/org1/app1/50001337/u20001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/org1/app2/50001337/p50001336/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/org1/app2/50001337/u20001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/org1/app3/50001337/u20001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/org1/app4/50001337/u20001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/org2/app1/50001336/u20001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/org2/app1/50001337/u20001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/org2/app2/50001336/p50001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/org2/app3/50001337/u20001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/skd/taxreport/1000/u20001337/delegationpolicy.xml
Labels: area/authorization, solution/platform

#7591 Updated node containers from node 16.13.0 to 16.13.1
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
Labels: area/ui-editor, area/dashboard, solution/studio/designer, area/receipt, solution/app-frontend

#7592 Updated openjdk container from node 3.8.3 to 3.8.4
  src/Altinn.Platform/Altinn.Platform.PDF/Dockerfile
Labels: area/pdf, solution/platform

#7593 Bumped npm modules
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Apps/AppFrontend/react/yarn.lock
  src/Altinn.Platform/Altinn.Platform.Receipt/package.json
  src/Altinn.Platform/Altinn.Platform.Receipt/yarn.lock
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
  src/test/K6/package.json
  src/test/K6/yarn.lock
  src/test/Testcafe/package.json
  src/test/Testcafe/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer, area/receipt, solution/platform, solution/app-frontend, area/test

#7583 Bug/7335 creation of app fails
  src/studio/src/designer/backend.Tests/Controllers/DeploymentsControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/ReleasesControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/RepositoryControllerTests.cs
  src/studio/src/designer/backend/Controllers/RepositoryController.cs
  src/studio/src/designer/frontend/dashboard/features/createService/createNewService.tsx
  src/studio/src/designer/frontend/dashboard/test/__tests__/components/base/createNewService.test.tsx
Labels: area/dashboard, solution/studio/designer

#7578 Feature/6180 rootless gitea
  src/studio/docker-compose.yml
  src/studio/src/repositories/Dockerfile
  src/studio/src/repositories/Dockerfile.local
  src/studio/src/repositories/gitea-config/app.ini
  src/studio/src/repositories/gitea-data/gitea/conf/app.ini
Labels: solution/studio/repos

#7568 k6 reports to include tests from setup
  src/test/K6/docker-compose.yml
  src/test/K6/src/report.js
Labels: area/test

#7484 Image component fixes
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/ImageComponent.tsx
  src/Altinn.Apps/AppTemplates/AspNet/App/Startup.cs
  src/studio/AppTemplates/AspNet/App/Startup.cs
Labels: solution/app-backend, solution/app-frontend, external-contribution-❤️

#7606 test: downgrade @types/react to fix test issues
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Apps/AppFrontend/react/yarn.lock
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer, area/receipt, solution/app-frontend

#7481 Feature/7242 rename node same name
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaInspector.test.tsx
Labels: solution/studio/designer

#7628 Adding AT05 subscription key support to designer.
  src/studio/src/designer/backend/Configuration/PlatformSettings.cs
  src/studio/src/designer/backend/Helpers/HttpClientHelper.cs
Labels: solution/studio/designer

#7629 Feature/7590 patch node modules
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/yarn.lock
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer, area/receipt, solution/app-frontend

#7631 updated gitea version
  src/studio/src/repositories/Dockerfile
Labels: solution/studio/repos

#7634 AccessTokenValidator service implemented
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/AccessTokenHandler.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Services/AccessTokenValidator.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Services/IAccessTokenValidator.cs
Labels: area/authorization

#7638 Test/updated studio tests
  src/test/cypress/README.md
  src/test/cypress/e2e/integration/usecase/usecase.js
  src/test/cypress/e2e/support/studio.js
  src/test/cypress/package.json
Labels: area/test

#7641 Update log4j 2.15.0
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#7643 Reverted deps-update
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#7647 Fixed double space in code
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Services/Implementation/PolicyAdministrationPoint.cs
Labels: area/authorization, solution/platform

#7646 fix: code smells
  src/studio/src/designer/backend/Controllers/RepositoryController.cs
  src/studio/src/designer/backend/Services/Implementation/GiteaAPIWrapper.cs
Labels: solution/studio/designer

#7637 Feature/7170 pepupdate
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Constants/AltinnXacmlUrns.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Helpers/DecisionHelper.cs
Labels: area/authorization

#7648 Search only for repos that the user owns
  src/studio/src/designer/backend/Services/Implementation/GiteaAPIWrapper.cs
Labels: solution/studio/designer

#7635 Updated models
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Enums/InstanceEventType.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/ProcessElementInfo.cs
Labels: area/data-storage, solution/platform

#7651 chore: fix incorrect yarn version used in docker builds
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
Labels: area/ui-editor, area/dashboard, solution/studio/designer, area/receipt, solution/platform, solution/app-frontend

#7654 chore: removed some ignored rules that are no longer relevant
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DatepickerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/FileUploadComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/InputComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/RadioButtonsContainerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/TextAreaComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/message/ErrorReport.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/MultipleChoiceSummary.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SummaryComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SummaryGroupComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/HelpTextPopover.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/RepeatingGroupTable.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/RepeatingGroupsEditContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/InstanceSelection.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/PartySelection.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/components/altinnError.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/components/altinnParty.tsx
Labels: area/instantiation, solution/app-frontend

#7655 Patching pdf
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#7576 Feature/4777 get delegations
  src/Altinn.Platform/Altinn.Platform.Authorization/Altinn.Authorization.ABAC/Interface/IPolicyInformationPoint.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Controllers/DelegationsController.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Controllers/PolicyController.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Helpers/DelegationHelper.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Models/ResourcePolicyResponse.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Models/RuleMatch.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Models/RuleQuery.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Repositories/InstanceMetadataRepository.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Repositories/Interface/IInstanceMetadataRepository.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Services/Implementation/ContextHandler.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Services/Implementation/DelegationContextHandler.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Services/Implementation/PolicyInformationPoint.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Services/Interface/IPolicyInformationPoint.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/ContextHandlerTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Json/GetRules/GetRules_MissingValuesInRequestRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Json/GetRules/GetRules_MultiplePolicyMatches_SuccessRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Json/GetRules/GetRules_NoRulesRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Json/GetRules/GetRules_SuccessRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Json/GetRules/GetRules_UsingParentPartyIdRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Json/GetRules/GetRules_UsingkeyRolePartyIdsRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/skd/taxreport/50001337/p50001336/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/skd/taxreport/50001337/u20001336/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/skd/taxreport/50001337/u20001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/skd/taxreport/50001338/p50001339/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/skd/taxreport/policy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/DelegationsControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Fixtures/PlatformAuthorizationFixture.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Fixtures/PolicyInformationPointFixture.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/MockServices/DelegationMetadataRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/MockServices/InstanceMetadataRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/MockServices/PolicyInformationPointMock.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/PolicyAdministrationPointTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/PolicyControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/PolicyInformationRepositoryTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Util/AssertionUtil.cs
Labels: area/authorization, solution/platform

#7640 feat/improvements-dashboard
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/dashboard/common/components/RepoList.tsx
  src/studio/src/designer/frontend/dashboard/common/components/ResourceItem.tsx
  src/studio/src/designer/frontend/dashboard/common/components/Resources.tsx
  src/studio/src/designer/frontend/dashboard/features/dashboard/FavoriteReposList.tsx
  src/studio/src/designer/frontend/dashboard/features/dashboard/index.tsx
  src/studio/src/designer/frontend/dashboard/resources/fetchDashboardResources/dashboardSlice.ts
  src/studio/src/designer/frontend/dashboard/services/repoApi.ts
  src/studio/src/designer/frontend/dashboard/test/__tests__/common/components/RepoList.test.tsx
  src/studio/src/designer/frontend/dashboard/test/__tests__/features/dashboard/OrgReposList.test.tsx
  src/studio/src/designer/frontend/dashboard/test/__tests__/services/repoApi.test.ts
Labels: area/dashboard, solution/studio/designer

#7468 Feature/7173 OIDC frontend
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/applicationSettingsMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/formLayoutStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/initialStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/selectors/getErrors.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/selectors/getLayoutData.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/shared/resources/applicationSettings/applicationSettingsSagas.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/shared/resources/applicationSettings/applicationSettingsSlice.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/shared/resources/applicationSettings/fetch/fetchApplicationSettingsSagas.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/urlHelper.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/App.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/reducers/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/sagas/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/selectors/getErrors.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/applicationSettings/applicationSettingsSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/applicationSettings/applicationSettingsSlice.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/applicationSettings/applicationSettingsTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/applicationSettings/fetch/fetchApplicationSettingsSaga.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/appTask/appTaskQueueSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/urlHelper.ts
Labels: solution/app-frontend

#7667 Bug/7658 fix address component not extensible
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/advanced/AddressComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/advanced/__snapshots__/AddressComponent.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/advanced/AddressComponent.tsx
Labels: solution/app-frontend, external-contribution-❤️

#7705 update .net
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/studio/src/designer/Dockerfile
Labels: solution/studio/designer, area/authorization, area/authentication, area/receipt, area/profile, area/register, area/data-storage, solution/platform, solution/apps, area/events

#7657 Changes required for LocalTest to talk to app over http (instead of accessing files locally)
  LOCALAPP.md
  src/development/LocalTest/Configuration/LocalPlatformSettings.cs
  src/development/LocalTest/Controllers/HomeController.cs
  src/development/LocalTest/LocalTest.csproj
  src/development/LocalTest/Models/StartAppModel.cs
  src/development/LocalTest/Services/Authorization/Implementation/PolicyRetrievalPoint.cs
  src/development/LocalTest/Services/LocalApp/Implementation/LocalAppFile.cs
  src/development/LocalTest/Services/LocalApp/Implementation/LocalAppHttp.cs
  src/development/LocalTest/Services/LocalApp/Interface/ILocalApp.cs
  src/development/LocalTest/Services/Localtest/Interface/ILocalTestAppSelection.cs
  src/development/LocalTest/Services/Storage/Implementation/ApplicationRepository.cs
  src/development/LocalTest/Services/Storage/Implementation/InstanceRepository.cs
  src/development/LocalTest/Startup.cs
  src/development/LocalTest/Views/Home/Index.cshtml
  src/development/LocalTest/appsettings.json
  src/development/loadbalancer/nginx.conf
Labels: external-contribution-❤️

#7707 Test/new dashboard
  src/test/cypress/e2e/config/studio/dev.json
  src/test/cypress/e2e/fixtures/repo.js
  src/test/cypress/e2e/fixtures/texts.json
  src/test/cypress/e2e/integration/setup/before.js
  src/test/cypress/e2e/integration/studio/dashboard.js
  src/test/cypress/e2e/integration/studio/deploy.js
  src/test/cypress/e2e/integration/studio/designer.js
  src/test/cypress/e2e/integration/studio/login.js
  src/test/cypress/e2e/integration/usecase/usecase.js
  src/test/cypress/e2e/pageobjects/common.js
  src/test/cypress/e2e/pageobjects/dashboard.js
  src/test/cypress/e2e/pageobjects/designer.js
  src/test/cypress/e2e/pageobjects/header.js
  src/test/cypress/e2e/pageobjects/loginandreg.js
  src/test/cypress/e2e/support/studio.js
Labels: area/test

#7711 Allow h2,h3,h4 to be used as header size in FormLayout.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/HeaderComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/__snapshots__/HeaderComponent.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/setupTests.js
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/setupTests.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/HeaderComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/tsconfig.json
  src/Altinn.Apps/AppFrontend/react/tsconfig.json
  src/studio/src/designer/frontend/tsconfig.json
  src/studio/src/designer/frontend/ux-editor/components/config/HeaderSizeSelect.tsx
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/ux-editor/test/__tests__/components/config/HeaderSizeSelect.test.tsx
  src/studio/src/designer/frontend/ux-editor/test/setupTests.js
  src/studio/src/designer/frontend/ux-editor/test/setupTests.ts
  src/studio/src/designer/frontend/ux-editor/tsconfig.json
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, solution/studio/designer, solution/app-frontend

#7642 Feature/7256 select data modelling approach
  src/studio/src/designer/backend.Tests/Services/RepositorySITests.cs
  src/studio/src/designer/backend/Configuration/ServiceConfiguration.cs
  src/studio/src/designer/backend/Controllers/RepositoryController.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnGitRepository.cs
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
  src/studio/src/designer/frontend/dashboard/app/App.css
  src/studio/src/designer/frontend/dashboard/app/App.tsx
  src/studio/src/designer/frontend/dashboard/app/rootReducer.ts
  src/studio/src/designer/frontend/dashboard/app/rootSaga.ts
  src/studio/src/designer/frontend/dashboard/app/store.ts
  src/studio/src/designer/frontend/dashboard/common/components/MakeCopyModal.tsx
  src/studio/src/designer/frontend/dashboard/common/components/RepoList.tsx
  src/studio/src/designer/frontend/dashboard/common/hooks/index.ts
  src/studio/src/designer/frontend/dashboard/common/utils/cookieUtils.ts
  src/studio/src/designer/frontend/dashboard/common/utils/index.tsx
  src/studio/src/designer/frontend/dashboard/common/utils/repoListUtils.ts
  src/studio/src/designer/frontend/dashboard/common/utils/urlUtils.ts
  src/studio/src/designer/frontend/dashboard/features/createService/CreateService.tsx
  src/studio/src/designer/frontend/dashboard/features/createService/RepoNameInput.tsx
  src/studio/src/designer/frontend/dashboard/features/createService/RepoTypeSelector.tsx
  src/studio/src/designer/frontend/dashboard/features/createService/ServiceOwnerSelector.tsx
  src/studio/src/designer/frontend/dashboard/features/createService/createNewService.tsx
  src/studio/src/designer/frontend/dashboard/features/dashboard/index.tsx
  src/studio/src/designer/frontend/dashboard/index.tsx
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/dashboard/resources/fetchDashboardResources/dashboardSlice.ts
  src/studio/src/designer/frontend/dashboard/services/designerApi.ts
  src/studio/src/designer/frontend/dashboard/services/repoApi.ts
  src/studio/src/designer/frontend/dashboard/store/index.ts
  src/studio/src/designer/frontend/dashboard/test/__tests__/App.test.tsx
  src/studio/src/designer/frontend/dashboard/test/__tests__/app/App.test.tsx
  src/studio/src/designer/frontend/dashboard/test/__tests__/common/utils/cookieUtils.test.ts
  src/studio/src/designer/frontend/dashboard/test/__tests__/common/utils/index.test.ts
  src/studio/src/designer/frontend/dashboard/test/__tests__/common/utils/urlUtils.test.ts
  src/studio/src/designer/frontend/dashboard/test/__tests__/components/base/createNewService.test.tsx
  src/studio/src/designer/frontend/dashboard/test/__tests__/features/createService/CreateService.test.tsx
  src/studio/src/designer/frontend/dashboard/test/setupTests.js
  src/studio/src/designer/frontend/dashboard/test/setupTests.ts
  src/studio/src/designer/frontend/dashboard/test/testUtils.tsx
  src/studio/src/designer/frontend/dashboard/tsconfig.json
  src/studio/src/designer/frontend/shared/components/AltinnDropdown.tsx
  src/studio/src/designer/frontend/shared/components/AltinnInputField.tsx
  src/studio/src/designer/frontend/shared/components/AltinnRadio.tsx
  src/studio/src/designer/frontend/shared/components/AltinnRadioGroup.tsx
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/shared/test/__tests__/components/AltinnDropdown.test.tsx
  src/studio/src/designer/frontend/shared/test/__tests__/components/AltinnRadio.test.tsx
  src/studio/src/designer/frontend/shared/test/__tests__/components/AltinnRadioGroup.test.tsx
  src/studio/src/designer/frontend/shared/test/__tests__/components/__snapshots__/AltinnRadioGroup.test.tsx.snap
  src/studio/src/designer/frontend/shared/test/__tests__/features/dataModelling/DeleteWrapper.test.tsx
  src/studio/src/designer/frontend/shared/test/__tests__/features/dataModelling/__snapshots__/DeleteWrapper.test.tsx.snap
  src/studio/src/designer/frontend/tsconfig.json
  src/studio/src/designer/frontend/yarn.lock
  src/test/Testcafe/page-objects/dashboardPage.js
Labels: area/dashboard, solution/studio/designer, area/test

#7708 bug/7333-task-validation
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/message/ErrorPaper.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/message/ErrorReport.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/message/__snapshots__/ErrorPaper.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/validation.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/message/ErrorReport.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/containers/Presentation.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
  src/Altinn.Apps/AppFrontend/react/shared/__tests__/utils/langugage.test.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/language.ts
Labels: solution/app-frontend

#7712 GetResourcePolicies: Adding MinimumAuthenticationLevel and ignore non-rolecode XACML rules
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Controllers/PolicyController.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Helpers/PolicyHelper.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Models/ResourcePolicyResponse.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Json/GetResourcePolicies/Org2App1Request.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Json/GetResourcePolicies/Org2App2Request.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Json/GetResourcePolicies/SKDInvalidAppRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Json/GetResourcePolicies/SKDMissingAppRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Json/GetResourcePolicies/SKDMissingOrgRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Json/GetResourcePolicies/SKDTaxReport2Request.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/org2/app2/policy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/org2/app2/policy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/PolicyControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Util/AssertionUtil.cs
Labels: area/authorization, solution/platform

#7716 version update pom
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#7661 Test/bruksmønster load inbox
  src/test/K6/package.json
  src/test/K6/src/api/altinn-ui/messagebox.js
  src/test/K6/src/api/app/resources.js
  src/test/K6/src/config.js
  src/test/K6/src/tests/altinn-ui/messagebox.js
  src/test/K6/use-cases-prod.yaml
  src/test/K6/use-cases.yaml
  src/test/K6/yarn.lock
Labels: area/test

#7639 Feature/7612 introspection endpoint
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Controllers/IntrospectionControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Helpers/AdvancedAsserts.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Services/EFormidlingAccessValidatorTest.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/IntrospectionController.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Model/IntrospectionRequest.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Model/IntrospectionResponse.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Services/AuthenticationCore.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Services/EFormidlingAccessValidator.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Services/Interfaces/IAuthentication.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Services/Interfaces/IEFormidlingAccessValidator.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Startup.cs
Labels: area/authentication, solution/platform

#7717 fix: add missing styles for create new button
  src/studio/src/designer/frontend/dashboard/features/dashboard/index.tsx
  src/studio/src/designer/frontend/dashboard/test/__tests__/features/dashboard/index.test.tsx
  src/studio/src/designer/frontend/dashboard/test/testUtils.tsx
Labels: area/dashboard, solution/studio/designer

#7715 tests for new app creation modal
  src/test/cypress/e2e/fixtures/texts.json
  src/test/cypress/e2e/integration/studio/dashboard.js
  src/test/cypress/e2e/integration/studio/new-app.js
  src/test/cypress/e2e/pageobjects/dashboard.js
  src/test/cypress/e2e/pageobjects/gitea.js
  src/test/cypress/e2e/pageobjects/header.js
  src/test/cypress/e2e/support/studio.js
Labels: area/test

#7721 feature/7164 display-mode-group
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/message/ErrorReport.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/entrypoint/Entrypoint.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/Label.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/Legend.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/GroupContainer.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/Label.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/Legend.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/containers/GroupContainer.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/containers/RepeatingGroupsTable.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/containers/__snapshots__/RepeatingGroupsTable.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/advanced/AddressComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/ButtonComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DatepickerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/FileUploadComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/HeaderComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/ImageComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/ParagraphComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/presentation/Header.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/presentation/NavBar.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SummaryGroupComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/HelpTextContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/HelpTextIcon.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/HelpTextPopover.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/Label.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/Legend.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/RepeatingGroupAddButton.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/RepeatingGroupTable.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/RepeatingGroupsEditContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/InstantiateValidationError.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/MissingRolesError.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/NoValidPartiesError.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/PartySelection.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/UnknownError.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/components/altinnAppHeader.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/components/altinnParty.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/components/altinnPartySearch.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/language/fetch/fetchLanguageActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/language/languageActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/language/languageReducers.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formComponentUtils.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formLayout.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/render.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/textResource.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
  src/Altinn.Apps/AppFrontend/react/receipt/src/utils/receipt.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/language.ts
Labels: area/language, area/instantiation, area/receipt, solution/app-frontend

#7743 Test/new appfrontend tests
  src/test/cypress/e2e/config/app/at21.json
  src/test/cypress/e2e/config/app/at22.json
  src/test/cypress/e2e/config/app/local.json
  src/test/cypress/e2e/config/app/tt02.json
  src/test/cypress/e2e/integration/app-frontend/formatting.js
  src/test/cypress/e2e/integration/app-frontend/stateless.js
  src/test/cypress/e2e/integration/app-frontend/validation.js
  src/test/cypress/e2e/pageobjects/app-frontend.js
Labels: area/test

#7744 bug/6514-missing-rights-stateless
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/entrypoint/Entrypoint.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/selectors/getErrors.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/entrypoint/Entrypoint.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/MissingRolesError.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/selectors/getErrors.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/networking.ts
Labels: area/instantiation, solution/app-frontend

#7745 remove testcafe tests
  src/test/Testcafe/.eslintrc.json
  src/test/Testcafe/.gitignore
  src/test/Testcafe/.prettierrc
  src/test/Testcafe/.yarn/releases/yarn-3.1.0.cjs
  src/test/Testcafe/.yarnrc.yml
  src/test/Testcafe/TestData.js
  src/test/Testcafe/WCAGRunner.js
  src/test/Testcafe/app.js
  src/test/Testcafe/config.json
  src/test/Testcafe/dashboard_tests/app-tests.js
  src/test/Testcafe/deploy_tests/deploy-tests.js
  src/test/Testcafe/designer_tests/app-designer-tests.js
  src/test/Testcafe/designer_tests/navigation-tests.js
  src/test/Testcafe/package.json
  src/test/Testcafe/page-objects/common.js
  src/test/Testcafe/page-objects/dashboardPage.js
  src/test/Testcafe/page-objects/designerPage.js
  src/test/Testcafe/page-objects/headerPage.js
  src/test/Testcafe/page-objects/landingPage.js
  src/test/Testcafe/page-objects/loginPage.js
  src/test/Testcafe/page-objects/repoPage.js
  src/test/Testcafe/repository_tests/login_create_new_repo.js
  src/test/Testcafe/testRunner.js
  src/test/Testcafe/use-cases.yaml
  src/test/Testcafe/usecase/usecase.js
  src/test/Testcafe/wcag/wcag.js
  src/test/Testcafe/yarn.lock
Labels: area/test

#7746 bug/7308-variables-text-calculation
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/layout/update/updateFormLayoutSagas.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/shared/resources/textResources/replaceTextResourceSagas.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SummaryGroupComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/textResources/replace/replaceTextResourcesSagas.ts
Labels: area/language, solution/app-frontend

#7748 Update log version pdf
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform
