Repository Altinn/altinn-studio, pull requests merged in 2021-10, with the labels that each got.

#7024 Increment ABAC package/file/assembly version for new nuget release
  src/Altinn.Platform/Altinn.Platform.Authorization/Altinn.Authorization.ABAC/Altinn.Authorization.ABAC.csproj
Labels: area/authorization, solution/platform

#7013 Updated containers
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/Altinn.Apps/AppTemplates/react/receipt/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
Labels: area/ui-editor, area/dashboard, solution/studio/designer, solution/app-backend, area/receipt, solution/app-frontend

#7026 Test/new app frontend test
  src/test/cypress/.eslintrc.json
  src/test/cypress/e2e/fixtures/texts.json
  src/test/cypress/e2e/integration/app-frontend/components.js
  src/test/cypress/e2e/integration/app-frontend/group.js
  src/test/cypress/e2e/integration/app-frontend/validation.js
  src/test/cypress/e2e/pageobjects/app-frontend.js
  src/test/cypress/e2e/plugins/index.js
  src/test/cypress/package.json
Labels: area/test

#7029 Added more logging
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Services/UserProfileService.cs
Labels: area/authentication, solution/platform

#7031 Updates logging
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Services/UserProfileService.cs
Labels: area/authentication, solution/platform

#7035 Feature/6619 another logtry
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Services/UserProfileService.cs
Labels: area/authentication, solution/platform

#7032 added disabled class for readonly datepicker
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DatepickerComponent.tsx
Labels: solution/app-frontend

#7045 fixed response content for querying instances
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Implementation/InstanceClientTests.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/InstanceClient.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Models/QueryResponse.cs
  src/altinn.apps/apptemplates/aspnet/Altinn.App.PlatformServices/Implementation/InstanceClient.cs
Labels: solution/app-backend, area/api-use, area/api-expose

#7052 Fixed logging
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Services/UserProfileService.cs
Labels: area/authentication, solution/platform

#7055 updated nuget refs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend, area/api-use, area/api-expose

#6980 Adding data element tags api endpoints to app
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/DataController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/DataTagsController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Models/TagsList.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/AuthorizationApiTests.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/DataApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/DataTagsApiTests.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/InstanceApiPlatformFailsTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/InstanceApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/OptionsApiTests.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/PagesApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/ProcessApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/ProfileApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/ResourceApiTests.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/SiriusApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/StatelessDataApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/TextApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/ValidationApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/AppBase/AppBaseTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ControllerTests/HomeControllerTests.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/Instances/tdd/endring-av-navn/1337/9bca707e-466d-4565-9497-317f379d046e.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/Instances/tdd/endring-av-navn/1337/9bca707e-466d-4565-9497-317f379d046e/aa674171-3565-42aa-8f48-995b202cac41.pretest.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/EndToEndTests/NabovarselEndToEnd.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/EndToEndTests/NsmKlareringsportalenEndToEndTests.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/SetupUtil.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/TestDataUtil.cs
Labels: solution/app-backend, area/api-use, area/api-expose

#7059 new test for retrieving active instances
  src/test/K6/src/api/app/instances.js
  src/test/K6/src/config.js
  src/test/K6/src/tests/app/instances.js
Labels: area/test
