Repository Altinn/altinn-studio, pull requests merged in 2021-08, with the labels that each got.

#6572 feature/6571-backend-patching-w30
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Altinn.Platform.Events.Functions.csproj
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/api-use, area/authentication, area/authorization, area/data-storage, area/events, area/pdf, area/profile, area/receipt, area/register, solution/app-backend, solution/platform, solution/studio/designer

#6574 feature/6571-frontend-patching-apps-w30
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
Labels: area/receipt, solution/app-frontend

#6575 feature/6571-frontend-patching-studio-w30
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/ui-editor, solution/studio/designer

#6576 added support for including o= and DontChooseReportee when opening app
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/HomeController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ControllerTests/HomeControllerTests.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#6577 added query params to authenticateUser
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Controllers/AuthenticationControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
Labels: area/authentication, solution/platform

#6580 bug/6578-print-view-apps
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
Labels: solution/app-frontend

#6585 Feature/6573 authentication should only inlcude dontchoosereportee
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Controllers/AuthenticationControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
Labels: area/api-expose, area/api-use, area/authentication, solution/app-backend, solution/platform

#6579 Remove logo from social preview
  src/studio/src/designer/backend/wwwroot/designer/img/altinn-studio-social-preview.png
Labels: solution/studio/designer

#6587 Updated logo
  src/studio/src/designer/backend/wwwroot/designer/img/AltinnD-logo.svg
Labels: solution/studio/designer

#6586 Feature/6573 remove o query support app template
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/HomeController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ControllerTests/HomeControllerTests.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#6591 feature/6118 - Add link to docs on local test @ missing env page
  src/studio/src/designer/backend/Languages/ini/nb.ini
Labels: solution/studio/designer

#6590 feature/6571-npm-patching-apps-w31
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
Labels: area/receipt, solution/app-frontend

#6592 feature/6571-npm-patching-studio-w31
  src/studio/src/designer/backend/package-lock.json
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/ui-editor, solution/studio/designer

#6593 updated kubernetesclient to v5.0.17
  src/Altinn.Apps/KubernetesWrapper/.dockerignore
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
Labels: solution/apps

#6594 Feature/6571 patching backend w31
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/Dockerfile
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/Altinn.Apps/AppTemplates/AspNet/App/AppRef.csproj
  src/Altinn.Apps/AppTemplates/react/altinn-app-frontend/Dockerfile
  src/Altinn.Apps/AppTemplates/react/receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Altinn.Platform.Events.Functions.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
Labels: area/ui-editor, area/dashboard, solution/studio/designer, solution/app-backend, area/authorization, area/authentication, area/receipt, area/profile, area/register, area/data-storage, solution/platform, solution/app-frontend, area/events

#6540 Feature/6277 support xsd upload in model editor round 2
  src/studio/src/designer/backend.Tests/Controllers/DatamodelsControllerTests.cs
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/JsonSchema2Metadata2CSharpTests.cs
  src/studio/src/designer/backend.Tests/Helpers/GuardTests.cs
  src/studio/src/designer/backend.Tests/Infrastructure/GitRepository/AltinnAppGitRepositoryTests.cs
  src/studio/src/designer/backend.Tests/Infrastructure/GitRepository/GitRepositoryTests.cs
  src/studio/src/designer/backend.Tests/Services/SchemaModelServiceTests.cs
  src/studio/src/designer/backend.Tests/Utils/Compiler.cs
  src/studio/src/designer/backend.Tests/Utils/TestDataHelper.cs
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/empty-app/App/config/applicationmetadata.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/empty-app/README.md
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/empty-datamodels/.altinnstudio/settings.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/App/config/texts/resource.en.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/App/config/texts/resource.nb.json
  src/studio/src/designer/backend/Controllers/DatamodelsController.cs
  src/studio/src/designer/backend/Helpers/Guard.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnGitRepository.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/GitRepository.cs
  src/studio/src/designer/backend/Models/Resource.cs
  src/studio/src/designer/backend/Models/TextResource.cs
  src/studio/src/designer/backend/Models/TextResourceElement.cs
  src/studio/src/designer/backend/Models/TextResourceVariable.cs
  src/studio/src/designer/backend/Models/Variable.cs
  src/studio/src/designer/backend/Services/Implementation/SchemaModelService.cs
  src/studio/src/designer/backend/Services/Interfaces/ISchemaModelService.cs
Labels: solution/studio/designer

#6602 patched dependencies in the test projects
  src/test/K6/package-lock.json
  src/test/K6/package.json
  src/test/Testcafe/package-lock.json
  src/test/Testcafe/package.json
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: area/test

#6612 Azure.Storage.Blobs dep upgraded
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
Labels: area/data-storage, solution/platform

#6597 bug/6584-ie11-app-frontend
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/.babelrc
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/babel.config.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/update/updateFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/index.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/orgs/fetch/fetchOrgsSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/networking.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/webpack.config.development.js
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/webpack.config.production.js
Labels: solution/app-frontend

#6568 Feature/6396 inspector
  src/studio/src/designer/frontend/app-development/features/dataModelling/containers/DataModellingContainer.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/DataModelling.test.tsx
  src/studio/src/designer/frontend/dashboard/features/standaloneDataModelling/DataModelling.tsx
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/packages/schema-editor/src/SchemaEditorApp.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/AddPropertyModal.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/Editor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/schemaEditor.md
  src/studio/src/designer/frontend/packages/schema-editor/src/components/schemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/store.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/types/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaEditor.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaEditorApp.test.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/DataModelling.tsx
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/shared/test/__tests__/features/dataModelling/CreateNewWrapper.test.tsx
  src/studio/src/designer/frontend/shared/test/__tests__/features/dataModelling/DataModelling.test.tsx
  src/studio/src/designer/frontend/shared/test/__tests__/features/dataModelling/__snapshots__/DataModelling.test.tsx.snap
Labels: area/dashboard, solution/studio/designer

#6614 bug/6569-automatic-selection-reference
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItemLabel.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/__tests__/SchemaEditor.test.tsx
Labels: solution/studio/designer

#6604 Feature/6475 add metrics from system runtime
  src/studio/src/designer/backend/Startup.cs
Labels: solution/studio/designer, ops/monitoring

#6619 Test/updated test scripts
  src/test/K6/src/tests/platform/negativetests/events.js
  src/test/K6/src/tests/platform/negativetests/register.js
  src/test/K6/src/tests/platform/negativetests/sbl.js
  src/test/K6/src/tests/platform/storage/messageboxinstances.js
Labels: area/test

#6621 Patched nuget packages.
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: solution/studio/designer, solution/app-backend, area/api-use, area/authorization, area/authentication, area/receipt, area/profile, area/register, area/data-storage, solution/platform, solution/apps, area/events

#6599 Feature/6058 copy app backend logic
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend.Tests/Infrastructure/GitRepository/GitRepositoryTests.cs
  src/studio/src/designer/backend.Tests/Mocks/IGiteaMock.cs
  src/studio/src/designer/backend.Tests/Mocks/ISourceControlMock.cs
  src/studio/src/designer/backend.Tests/Services/RepositorySITests.cs
  src/studio/src/designer/backend.Tests/Utils/TestDataHelper.cs
  src/studio/src/designer/backend.Tests/_TestData/Remote/ttd/apps-test/App.sln
  src/studio/src/designer/backend.Tests/_TestData/Remote/ttd/apps-test/App/appsettings.json
  src/studio/src/designer/backend.Tests/_TestData/Remote/ttd/apps-test/App/config/applicationmetadata.json
  src/studio/src/designer/backend.Tests/_TestData/Remote/ttd/apps-test/App/config/authorization/policy.xml
  src/studio/src/designer/backend.Tests/_TestData/Remote/ttd/apps-test/gitconfig
  src/studio/src/designer/backend.Tests/_TestData/Remote/ttd/existing-repo/content.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/apps-test-2021/App.sln
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/apps-test-2021/App/appsettings.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/apps-test-2021/App/config/applicationmetadata.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/apps-test-2021/App/config/authorization/policy.xml
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/apps-test-2021/gitconfig
  src/studio/src/designer/backend/Controllers/RepositoryController.cs
  src/studio/src/designer/backend/Helpers/DirectoryHelper.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnGitRepository.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/GitRepository.cs
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
  src/studio/src/designer/backend/Services/Implementation/SourceControlSI.cs
  src/studio/src/designer/backend/Services/Interfaces/IRepository.cs
  src/studio/src/designer/backend/Services/Interfaces/ISourceControl.cs
  src/studio/src/repositories/gitea-data/gitea/conf/app.ini
Labels: solution/studio/designer, solution/studio/repos

#6623 Feature/6600 update node modules
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/ui-editor, area/dashboard, solution/studio/designer, area/receipt, solution/app-frontend

#6625 feature/6620-logout-menu
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/containers/__snapshots__/Presentation.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/containers/Presentation.tsx
  src/Altinn.Apps/AppFrontend/react/receipt/src/features/receipt/containers/Receipt.tsx
  src/Altinn.Apps/AppFrontend/react/receipt/src/resources/language.ts
  src/Altinn.Apps/AppFrontend/react/shared/__tests__/organisms/AltinnAppHeader.test.tsx
  src/Altinn.Apps/AppFrontend/react/shared/__tests__/utils/urlHelper.test.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/components/organisms/AltinnAppHeader.md
  src/Altinn.Apps/AppFrontend/react/shared/src/components/organisms/AltinnAppHeader.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/organisms/AltinnAppHeaderMenu.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/en.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nb.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/urlHelper.ts
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
Labels: solution/studio/designer, area/receipt, solution/app-frontend

#6611 bug/6609-partyid-stateless-header
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/data/submitFormDataSagas.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/fetch/fetchFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
Labels: solution/app-frontend

#6622 Feature/6600 update containers
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/Altinn.Apps/AppTemplates/react/receipt/Dockerfile
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
  src/studio/src/repositories/Dockerfile
Labels: area/ui-editor, area/dashboard, solution/studio/designer, solution/studio/repos, solution/app-backend, area/authorization, area/authentication, area/receipt, area/profile, area/register, area/data-storage, solution/platform, solution/apps, solution/app-frontend, area/events

#6628 Removed fonts and js files no longer in use.
  src/studio/src/designer/backend/Views/Model/Index.cshtml
  src/studio/src/designer/backend/Views/ServiceDevelopment/index.cshtml
  src/studio/src/designer/backend/Views/Shared/_FormBuilderLayout.cshtml
  src/studio/src/designer/backend/Views/Shared/_Layout.cshtml
Labels: solution/studio/designer

#6648 updated altinn app frontened tests
  src/test/cypress/e2e/integration/app-frontend/stateless.js
  src/test/cypress/e2e/integration/app-frontend/wcag.js
  src/test/cypress/e2e/pageobjects/app-frontend.js
  src/test/cypress/e2e/support/app-frontend.js
  src/test/cypress/e2e/support/index.d.ts
  src/test/cypress/e2e/support/index.js
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: area/test

#6656 Feature/6600 update backend deps
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Altinn.App.PlatformServices.Tests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Apps/AppTemplates/react/receipt/Dockerfile
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/Altinn.EFormidlingClient.Tests.csproj
  src/Altinn.Common/Authentication/Altinn.Common.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Altinn.Platform.Events.Functions.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/Altinn.Platform.Models.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.PDF/Dockerfile
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
Labels: area/ui-editor, area/dashboard, solution/studio/designer, solution/app-backend, area/authorization, area/authentication, area/receipt, area/profile, area/register, area/data-storage, area/pdf, solution/platform, solution/app-frontend, area/events

#6647 Feature/6059 autocreate pr on copy
  src/studio/src/designer/backend.Tests/Controllers/RepositoriesControllerTest.cs
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend.Tests/Helpers/GuardTests.cs
  src/studio/src/designer/backend.Tests/Mocks/IGiteaMock.cs
  src/studio/src/designer/backend.Tests/Mocks/ISourceControlMock.cs
  src/studio/src/designer/backend.Tests/Services/GiteaAPIWrapperTest.cs
  src/studio/src/designer/backend.Tests/Services/RepositorySITests.cs
  src/studio/src/designer/backend.Tests/Services/SourceControlSITest.cs
  src/studio/src/designer/backend.Tests/Utils/TestDataHelper.cs
  src/studio/src/designer/backend.Tests/_TestData/Remote/ttd/apps-test/App/config/authorization/policy.xml
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/app-for-deletion.pretest/App.sln
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/apps-test-2021/App/config/authorization/policy.xml
  src/studio/src/designer/backend/Controllers/RepositoryController.cs
  src/studio/src/designer/backend/Helpers/DirectoryHelper.cs
  src/studio/src/designer/backend/Helpers/Guard.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/GitRepository.cs
  src/studio/src/designer/backend/Models/CreatePullRequestOption.cs
  src/studio/src/designer/backend/Services/Implementation/GiteaAPIWrapper.cs
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
  src/studio/src/designer/backend/Services/Implementation/SourceControlSI.cs
  src/studio/src/designer/backend/Services/Interfaces/IGitea.cs
  src/studio/src/designer/backend/Services/Interfaces/IRepository.cs
  src/studio/src/designer/backend/Services/Interfaces/ISourceControl.cs
Labels: solution/studio/designer

#6657 Feature/6600 update frontend deps
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/ui-editor, area/dashboard, solution/studio/designer, area/receipt, solution/app-frontend

#6649 Corrected the Issuer value for Altinn as OIDC provider
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Configuration/GeneralSettings.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/OpenIdController.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Services/OrganisationsService.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/appsettings.json
Labels: area/authentication, solution/platform

#6653 Complete rewrite of the Profile tests project
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Configuration/GeneralSettings.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Controllers/UsersController.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Health/HealthCheck.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Helpers/HttpApiHelper.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Program.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Services/Implementation/UserProfilesWrapper.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/ApiTests/UserProfileTests.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/HealthCheckTests.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/ErrorHandlingTests.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/HealthCheckTests.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/Mocks/Authentication/ConfigurationManagerStub.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/Mocks/Authentication/JwtCookiePostConfigureOptionsStub.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/Mocks/SigningKeyResolverMock.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/OpenApiSpecificationTests.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/UserProfileTests.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/Utils/JwtGenerator.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/Utils/PrincipalUtil.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/Utils/WebApplicationFactorySetup.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Mocks/Authentication/ISigningKeysRetriever.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Mocks/DelegatingHandlerStub.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Mocks/UserProfilesWrapperMock.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/ServiceTests/UserProfilesWrapperTest.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Testdata/Profile/User/12345.json
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Testdata/Profile/User/1337.json
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Testdata/Register/Party/12345.json
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Testdata/Register/Party/1337.json
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Testdata/Register/Person/01017512345.json
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Testdata/Register/Person/01039012345.json
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Testdata/TestDataLoader.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Testdata/UserProfile/2001606.json
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Testdata/UserProfile/2001607.json
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Testdata/UserProfile/2516356.json
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/UnitTests/UserProfilesWrapperTest.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Utils/SetupUtil.cs
Labels: area/profile, solution/platform

#6654 feature/6603-copy-app
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/app-development/features/administration/components/MainContent.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/Administration.test.tsx
  src/studio/src/designer/frontend/dashboard/App.tsx
  src/studio/src/designer/frontend/dashboard/features/makeCopy/MakeCopyModal.tsx
  src/studio/src/designer/frontend/dashboard/features/serviceOverview/serviceCard.tsx
  src/studio/src/designer/frontend/dashboard/features/serviceOverview/serviceMenu.tsx
  src/studio/src/designer/frontend/dashboard/test/__tests__/features/ServiceCard.test.tsx
  src/studio/src/designer/frontend/dashboard/test/__tests__/features/serviceOverview.test.tsx
  src/studio/src/designer/frontend/shared/components/ErrorPopover.tsx
  src/studio/src/designer/frontend/shared/components/molecules/AltinnModal.tsx
  src/studio/src/designer/frontend/shared/components/molecules/AltinnPopoverSimple.tsx
  src/studio/src/designer/frontend/shared/types/index.d.ts
Labels: area/dashboard, solution/studio/designer

#6670 added some ids for selenium tests
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DatepickerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/PartySelection.tsx
Labels: area/instantiation, solution/app-frontend

#6672 Prevent close while loading for copy app modal
  src/studio/src/designer/frontend/dashboard/features/makeCopy/MakeCopyModal.tsx
Labels: area/dashboard, solution/studio/designer

#6668 Bug/deleted preexisting repo
  src/studio/src/designer/backend.Tests/Controllers/RepositoriesControllerTest.cs
  src/studio/src/designer/backend.Tests/Mocks/IGiteaMock.cs
  src/studio/src/designer/backend/Controllers/RepositoryController.cs
  src/studio/src/designer/backend/Services/Implementation/GiteaAPIWrapper.cs
Labels: solution/studio/designer

#6671 Test/update testcafe
  src/test/Testcafe/package-lock.json
  src/test/Testcafe/package.json
Labels: area/test

#6675 Test/6519 cypress GitHub actions
  .github/workflows/cypress-altinn-app-frontend.yml
  src/test/cypress/cypress.json
  src/test/cypress/e2e/plugins/index.js
Labels: area/test

#6678 Feature/6607 update xsd2json to new model
  src/studio/src/designer/DataModeling.Tests/DataModeling.Tests.csproj
  src/studio/src/designer/DataModeling.Tests/Json/JsonSchemaNormalizerTests.cs
  src/studio/src/designer/DataModeling.Tests/Json/JsonSchemaSeresAnalyzerTests.cs
  src/studio/src/designer/DataModeling.Tests/JsonSchemaToXmlTests.cs
  src/studio/src/designer/DataModeling.Tests/XmlSchemaToJsonTests.cs
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/AltinnAnnotation.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/AltinnAnnotation_Normalized.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/Any.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/Attributes.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/BuiltinTypes.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/ComplexContentExtension.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/ComplexContentRestriction.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/ComplexSchema.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/Definitions.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/ElementAnnotation.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/InterleavedNestedSequences.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/NestedArrays.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/NestedChoice.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/NestedSequence.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/NestedSequences.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/NestedWithArrayChoice.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/NestedWithArraySequence.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/NestedWithOptionalChoice.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/NestedWithOptionalSequence.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/SimpleAll.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/SimpleChoice.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/SimpleContentExtension.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/SimpleContentRestriction.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/SimpleSequence.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/SimpleTypeList.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/SimpleTypeRestrictions.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/normalize-collection-expected.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/normalize-collection.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/normalize-content-common-keywords.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/normalize-content-expected.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/normalize-content-no-common-keywords-expected.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/normalize-content-no-common-keywords.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/normalize-content-ref-expected.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/normalize-content-ref.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/normalize-content.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/normalize-keyed-collection-expected.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/normalize-keyed-collection.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/normalize-root-expected.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/normalize-root-ref-expected.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/normalize-root-ref.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/normalize-root.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/XmlSchema/AltinnAnnotation.xsd
  src/studio/src/designer/DataModeling/Converter/Xml/XmlSchemaToJsonSchemaConverter.cs
  src/studio/src/designer/DataModeling/Json/JsonSchemaNormalizer.cs
  src/studio/src/designer/DataModeling/Utils/JsonSchemaExtensions.cs
Labels: solution/studio/designer

#6679 set copier as creater of copied app
  src/studio/src/designer/backend.Tests/Utils/TestDataHelper.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
Labels: solution/studio/designer

#6688 remove ensuresuccesshandler for gitea client
  src/studio/src/designer/backend/TypedHttpClients/DelegatingHandlers/EnsureSuccessHandler.cs
  src/studio/src/designer/backend/TypedHttpClients/TypedHttpClientRegistration.cs
Labels: solution/studio/designer

#6682 No caching of stateless responses
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/StatelessDataController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
Labels: solution/app-backend, area/api-use, area/api-expose

#6692 reinstated services.AddTransient<EnsureSuccessHandler>
  src/studio/src/designer/backend/TypedHttpClients/TypedHttpClientRegistration.cs
Labels: solution/studio/designer

#6685 feature/6667-semver-npm
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Apps/AppTemplates/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppTemplates/react/package.json
  src/Altinn.Apps/AppTemplates/react/receipt/package.json
  src/Altinn.Apps/AppTemplates/react/shared/package.json
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/ui-editor, area/dashboard, solution/studio/designer, solution/app-backend, area/receipt, solution/app-frontend

#6684 adding identity info to telemetry for platform
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Filters/IdentityTelemetryFilter.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Filters/IdentityTelemetryFilter.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Filters/IdentityTelemetryFilter.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Filters/IdentityTelemetryFilter.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Filters/IdentityTelemetryFilter.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Filters/IdentityTelemetryFilter.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Filters/IdentityTelemetryFilter.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Startup.cs
Labels: area/authorization, area/authentication, area/receipt, area/profile, area/register, area/data-storage, solution/platform, area/events

#6698 Test/fix flaky studio tests
  src/test/Testcafe/package.json
  src/test/Testcafe/use-cases.yaml
  src/test/Testcafe/usecase/usecase.js
Labels: area/test

#6717 Merge fix
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/appsettings.json
Labels: area/authentication, solution/platform

#6723 Added test of xsd to json-schema conversion
  src/studio/src/designer/DataModeling.Tests/XmlSchemaToJsonTests.cs
Labels: solution/studio/designer

#6727 fixed the source of altinn logo
  src/studio/src/designer/frontend/shared/test/__tests__/__snapshots__/appBar.test.tsx.snap
  src/studio/src/designer/frontend/shared/utils/urlHelper.ts
Labels: solution/studio/designer

#6716 Feature/6451 update dotnet dependencies for designer
  src/studio/src/designer/Dockerfile
Labels: solution/studio/designer

#6737 Allow staging-studio as issuer
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
Labels: area/authentication, solution/platform

#6738 rollback changes in pr 6716
  src/studio/src/designer/Dockerfile
Labels: solution/studio/designer
