Repository Altinn/altinn-studio, pull requests merged in 2021-03, with the labels that each got.

#5737 Feature/4940 api for subscription
  src/Altinn.Platform/Altinn.Platform.Events/Events/Configuration/PlatformSettings.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/SubscriptionController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Extensions/ClaimsPrincipalExtensions.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Extensions/HttpClientExtension.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Migration/v0.03/01-setup-tables.sql
  src/Altinn.Platform/Altinn.Platform.Events/Events/Migration/v0.03/02-setup-functions.sql
  src/Altinn.Platform/Altinn.Platform.Events/Events/Migration/v0.03/03-setup-grants.sql
  src/Altinn.Platform/Altinn.Platform.Events/Events/Models/Subscription.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/Interfaces/IPostgresRepository.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/PostgresRepository.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/Interfaces/IProfile.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/Interfaces/IRegisterService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/Interfaces/ISubscriptionService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/ProfileService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/RegisterService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/SubscriptionService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Profile/User/1.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Profile/User/12345.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Profile/User/1337.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Profile/User/21023.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Register/Party/1000.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Register/Party/1001.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Register/Party/1002.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Register/Party/1337.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Register/Party/500000.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Register/Party/500001.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Register/Party/500002.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Register/Party/500003.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Register/Party/500600.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/Register/Party/500700.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/PostgresRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/ProfileMockSI.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/RegisterServiceMock.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/SubscriptionControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Utils/PrincipalUtil.cs
Labels: area/events, solution/platform

#5764 added eFormidling to application model
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/Application.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/EFormidlingContract.cs
Labels: area/data-storage, solution/platform

#5765 added missing rel tags
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/shared/navigation/main-header/profileMenu.tsx
  src/studio/src/designer/frontend/shared/version-control/cloneModal.tsx
Labels: solution/studio/designer

#5763 bug/5624-app-fetches-wrong-service-metadata-layout-sets
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/initialStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/fetch/fetchFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/datamodel/datamodelSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/datamodel/datamodelSlice.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/datamodel/fetch/fetchFormDatamodelActionTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/datamodel/fetch/fetchFormDatamodelActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/datamodel/fetch/fetchFormDatamodelSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/datamodel/formDatamodelActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/datamodel/formDatamodelReducer.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/datamodel/formDatamodelSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/reducers/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/sagas/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/isLoading/dataTask/dataTaskIsLoadingSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/dataTask/dataTaskQueueSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/ResourceController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/IAppResources.cs
Labels: area/api-expose, area/api-use, solution/app-backend, solution/app-frontend

#5777 Actually calling keep alive each 10 min user is active
  src/studio/src/designer/frontend/app-development/App.tsx
Labels: solution/studio/designer

#5775 set string enumconverter on readstatus
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/InstanceStatus.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
Labels: area/data-storage, solution/platform

#5780 added new user for bruksmønster tests
  src/test/Testcafe/TestData.js
  src/test/Testcafe/config.json
  src/test/Testcafe/package-lock.json
  src/test/Testcafe/package.json
  src/test/Testcafe/page-objects/loginPage.js
  src/test/Testcafe/testRunner.js
  src/test/Testcafe/use-cases.yaml
  src/test/Testcafe/usecase/usecase.js
Labels: area/test

#5692 integration tests for local app frontend
  src/test/cypress/.eslintrc.json
  src/test/cypress/.gitignore
  src/test/cypress/README.md
  src/test/cypress/cypress.json
  src/test/cypress/e2e/fixtures/builds.js
  src/test/cypress/e2e/fixtures/deploys.js
  src/test/cypress/e2e/fixtures/repo.js
  src/test/cypress/e2e/fixtures/texts.json
  src/test/cypress/e2e/integration/app-frontend/dynamics.js
  src/test/cypress/e2e/integration/app-frontend/message.js
  src/test/cypress/e2e/integration/app-frontend/prefill.js
  src/test/cypress/e2e/integration/app-frontend/receipt.js
  src/test/cypress/e2e/integration/app-frontend/rules.js
  src/test/cypress/e2e/integration/app-frontend/summary.js
  src/test/cypress/e2e/integration/app-frontend/tabbing.js
  src/test/cypress/e2e/integration/app-frontend/validation.js
  src/test/cypress/e2e/integration/studio/dashboard.js
  src/test/cypress/e2e/integration/studio/deploy.js
  src/test/cypress/e2e/integration/studio/designer.js
  src/test/cypress/e2e/integration/studio/login.js
  src/test/cypress/e2e/pageobjects/app-frontend.js
  src/test/cypress/e2e/pageobjects/common.js
  src/test/cypress/e2e/pageobjects/designer.js
  src/test/cypress/e2e/pageobjects/header.js
  src/test/cypress/e2e/support/app-frontend.js
  src/test/cypress/e2e/support/app.js
  src/test/cypress/e2e/support/gitea-api.js
  src/test/cypress/e2e/support/index.d.ts
  src/test/cypress/e2e/support/index.js
  src/test/cypress/e2e/support/localtest.js
  src/test/cypress/e2e/support/studio.js
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: area/test

#5782 Feature/5638 presentation fields storage interface
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/Application.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/Instance.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/PresentationField.cs
Labels: area/data-storage, solution/platform

#5783 fixed bug where activity would trigger keep alive while dialog was open
  src/studio/src/designer/frontend/app-development/App.tsx
Labels: solution/studio/designer

#5791 Implemented session handling after common understanding
  src/studio/src/designer/frontend/app-development/App.tsx
  src/studio/src/designer/frontend/app-development/sharedResources/user/session/sessionSagas.ts
  src/studio/src/designer/frontend/app-development/sharedResources/user/userSlice.ts
Labels: solution/studio/designer

#5793 less or equal
  src/studio/src/designer/frontend/app-development/App.tsx
Labels: solution/studio/designer

#5787 bug/5007-pdf-generation-fails-with-some-chars
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/FormUtils.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/TextUtils.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/utils/FormUtilsTest.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/utils/TextUtilsTest.java
Labels: area/pdf, solution/platform

#5797 adding subscription key if at22
  src/studio/src/designer/backend/Configuration/PlatformSettings.cs
  src/studio/src/designer/backend/Helpers/HttpClientHelper.cs
Labels: solution/studio/designer

#5796 Feature/nuget week9
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Altinn.App.PlatformServices.Tests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/SubscriptionController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/SubscriptionControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
Labels: area/api-expose, area/api-use, area/authorization, area/data-storage, area/events, area/profile, area/receipt, area/register, solution/app-backend, solution/platform

#5805 bug/5804-text-validation-filename-pdf
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/InstanceUtils.java
Labels: area/pdf, solution/platform

#5806 Get certificate from cert name not id
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/SecretsAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/ISecrets.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#5807 Final nugets for cert bug fix
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#5801 added functionality for getting page order from backend
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/PagesController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/ResourceController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppBase.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppResourcesSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/IAltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/IAppResources.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/PagesApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/task-validation/logic/AltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/events/ui/Settings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/appsettings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/config/applicationmetadata.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/config/authorization/policy.xml
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/config/process/process.bpmn
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/config/texts/resource.nb.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/logic/Calculation/CalculationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/logic/InstantiationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/logic/Print/PdfHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/logic/Validation/ValidationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/models/ServiceModel-test.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/models/message.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/ui/changename/Settings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/ui/message/Settings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/issue-5740/appsettings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/issue-5740/config/applicationmetadata.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/issue-5740/config/authorization/policy.xml
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/issue-5740/config/process/process.bpmn
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/issue-5740/config/texts/resource.nb.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/issue-5740/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/issue-5740/logic/Calculation/CalculationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/issue-5740/logic/InstantiationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/issue-5740/logic/Print/PdfHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/issue-5740/logic/Validation/ValidationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/issue-5740/models/default.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/issue-5740/ui/Settings.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/SetupUtil.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#5809 updated testcafe added bruksmønster user
  src/test/Testcafe/config.json
  src/test/Testcafe/dashboard_tests/app-tests.js
  src/test/Testcafe/deploy_tests/deploy-tests.js
  src/test/Testcafe/designer_tests/app-designer-tests.js
  src/test/Testcafe/package-lock.json
  src/test/Testcafe/package.json
  src/test/Testcafe/page-objects/designerPage.js
  src/test/Testcafe/testdata/ServiceModel.txt
  src/test/Testcafe/testdata/ServiceModel.xsd
  src/test/Testcafe/testdata/melding.xsd
  src/test/Testcafe/testdata/test_file_morethan_1mb.txt
  src/test/Testcafe/testdata/test_file_pdf.pdf
  src/test/Testcafe/use-cases.yaml
Labels: area/test

#5812 Feature/5770 deps w9
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/frontend/app-development/features/dataModeling/dataModelingSagas.ts
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#5811 included at22 tests to use subscription keys
  src/test/K6/src/api/platform/storage/applications.js
  src/test/K6/src/api/platform/storage/data.js
  src/test/K6/src/api/platform/storage/events.js
  src/test/K6/src/api/platform/storage/instances.js
  src/test/K6/src/api/platform/storage/messageboxinstances.js
  src/test/K6/src/api/platform/storage/process.js
  src/test/K6/src/api/platform/storage/texts.js
  src/test/K6/src/buildrequestheaders.js
  src/test/K6/src/tests/app/appowner/end2end.js
  src/test/K6/src/tests/app/data.js
  src/test/K6/src/tests/app/e2erf0002.js
  src/test/K6/src/tests/app/end2end.js
  src/test/K6/src/tests/app/instances.js
  src/test/K6/src/tests/app/multipartdata.js
  src/test/K6/src/tests/app/negativetests/appowner-writewithoutaccess.js
  src/test/K6/src/tests/app/negativetests/lowersecuritylevellogin.js
  src/test/K6/src/tests/app/negativetests/withoutallowedroles.js
  src/test/K6/src/tests/app/negativetests/withoutauthentication.js
  src/test/K6/src/tests/app/portalsimulation.js
  src/test/K6/src/tests/app/process.js
  src/test/K6/src/tests/app/rf0002portal.js
  src/test/K6/src/tests/app/rf0002withattachment.js
  src/test/K6/src/tests/app/sirius.js
  src/test/K6/src/tests/app/uploadanddownload.js
  src/test/K6/src/tests/platform/appowner/completeconfirmation.js
  src/test/K6/src/tests/platform/appowner/data.js
  src/test/K6/src/tests/platform/appowner/downloadinstances.js
  src/test/K6/src/tests/platform/appowner/events.js
  src/test/K6/src/tests/platform/appowner/getinstances5482.js
  src/test/K6/src/tests/platform/appowner/instances.js
  src/test/K6/src/tests/platform/authentication/authentication.js
  src/test/K6/src/tests/platform/authorization/authorization.js
  src/test/K6/src/tests/platform/events/events.js
  src/test/K6/src/tests/platform/negativetests/events.js
  src/test/K6/src/tests/platform/negativetests/lowersecuritylevellogin.js
  src/test/K6/src/tests/platform/negativetests/register.js
  src/test/K6/src/tests/platform/negativetests/withoutallowedroles.js
  src/test/K6/src/tests/platform/negativetests/withoutauthentication.js
  src/test/K6/src/tests/platform/pdf/pdf.js
  src/test/K6/src/tests/platform/profile/profile.js
  src/test/K6/src/tests/platform/receipt/receipt.js
  src/test/K6/src/tests/platform/register/register.js
  src/test/K6/src/tests/platform/storage/applications.js
  src/test/K6/src/tests/platform/storage/data.js
  src/test/K6/src/tests/platform/storage/deleteinstances.js
  src/test/K6/src/tests/platform/storage/events.js
  src/test/K6/src/tests/platform/storage/instances.js
  src/test/K6/src/tests/platform/storage/messageboxinstances.js
  src/test/K6/src/tests/platform/storage/process.js
  src/test/K6/src/tests/platform/storage/rf0002.js
  src/test/K6/src/tests/platform/storage/sblloadinstances.js
  src/test/K6/src/tests/platform/storage/texts.js
  src/test/K6/use-cases-prod.yaml
  src/test/K6/use-cases.yaml
Labels: area/test

#5779 Feature/5278 cache page frontend
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/formLayoutStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/process-step/NavigationButtons.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SummaryComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/formDataReducer.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/update/updateFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/dynamics/conditionalRendering/conditionalRenderingSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/fetch/fetchFormLayoutActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/fetch/fetchFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutActionTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutReducer.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutSlice.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/rules/check/checkRulesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/reducers/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/containers/ProcessStep.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/isLoading/dataTask/dataTaskIsLoadingSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/options/fetch/fetchOptionsSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/dataTask/dataTaskQueueSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/textResources/replace/replaceTextResourcesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
Labels: area/language, solution/app-frontend

#5817 form data included in body for get page order
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/PagesController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppBase.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/IAltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/PagesApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/events/models/Skjema.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/logic/Calculation/CalculationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/logic/InstantiationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/logic/Print/PdfHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/logic/Validation/ValidationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/models/ServiceModel-test.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/models/message.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/issue-5740/config/applicationmetadata.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/issue-5740/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/issue-5740/logic/Calculation/CalculationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/issue-5740/logic/InstantiationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/issue-5740/logic/Print/PdfHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/issue-5740/logic/Validation/ValidationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/issue-5740/models/default.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/SetupUtil.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#5818 wait for the xhr to respond
  src/test/Testcafe/usecase/usecase.js
Labels: area/test

#5820 Bug/5819 cache page issue
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/fetch/fetchFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutSlice.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
Labels: solution/app-frontend

#5826 Changed to post + updated controller endpoint
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/PagesController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/PagesApiTest.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#5827 downgrade altinn-designsystem version
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/ui-editor, solution/studio/designer

#5834 at24 tests to use apim keys
  src/test/K6/src/buildrequestheaders.js
Labels: area/test

#5833 bad request request if data type id is missing
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/PagesController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/PagesApiTest.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#5839 updated app nugets
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#5756 Added support for sending org as party in pdf context
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppBase.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Models/PDFContext.cs
  src/development/LocalTest/Controllers/HomeController.cs
Labels: area/api-expose, area/api-use, blocked, solution/app-backend

#5844 pushed final nugets for pdf generation for org token
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#5842 reinstated ruleconfiguration endpoint for layoutset
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/ResourceController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/ResourceApiTests.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#5843 Added the term PresentationTexts as a class and instance property
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/Application.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/Instance.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/PresentationTexts.cs
Labels: area/data-storage, solution/platform

#5845 Gitea 1.13.4
  src/studio/src/repositories/Dockerfile
  src/studio/src/repositories/Dockerfile.local
Labels: solution/studio/repos

#5850 final nugets for rulesconfig fix
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#5837 Extracted all platform http clients to extension method
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/Startup.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#5836 added taskId to eformidling contract
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/Application.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/EFormidlingContract.cs
Labels: area/data-storage, solution/platform

#5821 feature/5640-api-next-page
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/logic/validation.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/process-step/NavigationButtons.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/dynamics/fetch/fetchFormDynamicsSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/fetch/fetchFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutSlice.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/rules/fetch/fetchRulesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/layout/index.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/urlHelper.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
Labels: area/api-expose, solution/app-backend, solution/app-frontend

#5858 Feature/5571 frontend deps w10
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/studio/designer

#5860 Only make initial call of app actually has multiple pages
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
Labels: solution/app-frontend

#5867 targeting net5.0 in app
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Altinn.App.PlatformServices.Tests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/AppRef.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Dockerfile
Labels: area/api-expose, area/api-use, solution/app-backend

#5854 Feature/5638 endpoint in storage
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstancesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/20a1353e-91cf-44d6-8ff7-f68993638ffe.json
Labels: area/data-storage, solution/platform

#5875 pushed final template and nugets for .net 5.0 upgrade
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/Startup.cs
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/Program.cs
  src/studio/AppTemplates/AspNet/App/Startup.cs
  src/studio/AppTemplates/AspNet/Dockerfile
Labels: area/api-expose, area/api-use, solution/app-backend

#5882 bug/5816-regex-app-name-capital-letter
  src/studio/src/designer/frontend/dashboard/features/createService/createNewService.tsx
  src/studio/src/designer/frontend/dashboard/test/__tests__/components/base/createNewService.test.tsx
Labels: area/dashboard, solution/studio/designer

#5872 added more eformidling props
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/EFormidlingContract.cs
Labels: area/data-storage, solution/platform

#5881 bug/5849-page-order-studio
  src/studio/src/designer/frontend/ux-editor/App.tsx
  src/studio/src/designer/frontend/ux-editor/features/formDesigner/formDesignerTypes.ts
  src/studio/src/designer/frontend/ux-editor/features/formDesigner/formLayout/formLayoutSagas.ts
  src/studio/src/designer/frontend/ux-editor/features/formDesigner/formLayout/formLayoutSlice.ts
Labels: area/ui-editor, solution/studio/designer

#5891 wait for form layout before fetching layout settings
  src/studio/src/designer/frontend/ux-editor/features/formDesigner/formLayout/formLayoutSagas.ts
Labels: area/ui-editor, solution/studio/designer

#5868 Fixed support for quoted filename in Content-Disposition
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/DataController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/DataApiTest.cs
Labels: area/api-expose, area/api-use, solution/app-backend

#5865 bug/5863-initial-page-order-calc-if-trigger-present
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/GroupContainer.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/process-step/NavigationButtons.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SummaryGroupComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/Legend.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
Labels: solution/app-frontend

#5883 bug/5781-no-markdown-parsing-summary
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/AttachmentSummaryComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SingleInputSummary.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SummaryComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SummaryGroupComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
Labels: solution/app-frontend

#5898 Fixed failing tests by simplifing type
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/Form.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/GroupContainer.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SummaryGroupComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
Labels: solution/app-frontend

#5899 feature/5256 - Update front-page content
  src/studio/src/designer/backend/Views/Home/StartPage.cshtml
Labels: solution/studio/designer

#5851 Feature/4945 push events controller
  src/Altinn.Platform/Altinn.Platform.Events/Events/Authorization/AuthorizationHelper.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Authorization/CloudEventXacmlMapper.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Configuration/PlatformSettings.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Configuration/QueueStorageSettings.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/PushController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/SubscriptionController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Migration/v0.04/01-setup-index.sql
  src/Altinn.Platform/Altinn.Platform.Events/Events/Migration/v0.04/02-setup-functions.sql
  src/Altinn.Platform/Altinn.Platform.Events/Events/Models/CloudEventEnvelope.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Models/Subscription.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/Interfaces/IPostgresRepository.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/PostgresRepository.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/EventsService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/Interfaces/IEventsService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/Interfaces/IQueueService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/Interfaces/ISubscriptionService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/QueueService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/SubscriptionService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Data/subscriptions/1.json
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/EventsServiceMock.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/PostgresRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/QueueServiceMock.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/PushControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingControllers/SubscriptionControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingServices/SubscriptionServiceTest.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingUtils/AuthorizationHelperTests.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/TestingUtils/CloudEventXacmlMapperTests.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/appsettings.json
Labels: area/events, solution/platform

#5896 added security level to eformidling contract
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/EFormidlingContract.cs
Labels: area/data-storage, solution/platform

#5905 Send exceptions during intialization to application insights
  src/Altinn.Apps/AppTemplates/AspNet/App/Program.cs
  src/studio/AppTemplates/AspNet/App/Program.cs
Labels: solution/app-backend, solution/apps

#5897 Storage.Interface depend on .NET Standard 2.0
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
Labels: area/data-storage, solution/platform

#5911 feature/5877-update-frontend-deps-w11
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package-lock.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package-lock.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package-lock.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package-lock.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Platform/Altinn.Platform.Receipt/package-lock.json
  src/Altinn.Platform/Altinn.Platform.Receipt/package.json
  src/studio/src/designer/backend/package-lock.json
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/frontend/app-development/package-lock.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package-lock.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package-lock.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package-lock.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package-lock.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package-lock.json
  src/studio/src/designer/frontend/ux-editor/package.json
Labels: area/dashboard, area/receipt, area/ui-editor, solution/app-frontend, solution/platform, solution/studio/designer

#5902 updated nuget containers and pom.xml
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/AppRef.csproj
  src/Altinn.Apps/AppTemplates/react/receipt/Dockerfile
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
  src/Altinn.Common/Authentication/Altinn.Common.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/Altinn.Platform.Models.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/development/LocalTest/LocalTest.csproj
  src/development/loadbalancer/Dockerfile
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
  src/studio/src/load-balancer/Dockerfile
Labels: area/api-expose, area/api-use, area/authentication, area/authorization, area/dashboard, area/data-storage, area/events, area/pdf, area/profile, area/receipt, area/register, area/ui-editor, solution/app-backend, solution/app-frontend, solution/apps, solution/platform, solution/studio/designer

#5916 Rolled back to 4.0.13
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
Labels: solution/apps

#5910 Improved logic for getting filename out of Content-Disposition
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/ApplicationMetadataController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/DataController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/PagesController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/PartiesController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/ProfileController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Helpers/Extensions/StringExtensions.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/RequestHandling/MultipartRequestReader.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Configuration/PlatformSettings.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppBase.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/ApplicationAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AuthenticationAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/ProfileAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/RegisterAppSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/IAuthorization.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Models/Validation/ValidationIssueCodes.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/SiriusApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/CommonTests/Helpers/Extensions/StringExtensionsTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/DataController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Extensions/ContentDispositionHeaderValueExtensions.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Extensions/StringExtensions.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/MultipartRequestHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Extensions/ContentDispositionHeaderValueExtensionsTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Extensions/StringExtensionsTests.cs
Labels: area/api-expose, area/api-use, area/data-storage, solution/app-backend, solution/platform

#5922 rolled back versions
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#5917 feature/5256 List → Paragraphs under "Hvordan kan jeg bidra?"
  src/studio/src/designer/backend/Views/Home/StartPage.cshtml
Labels: solution/studio/designer

#5925 rolled back azure-security-keyvault-secrets
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#5708 Feature/5662 create delete models
  src/studio/src/designer/backend.Tests/Mocks/IRepositoryMock.cs
  src/studio/src/designer/backend.Tests/TestingControllers/DatamodelsControllerTests.cs
  src/studio/src/designer/backend/Controllers/DatamodelsController.cs
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
  src/studio/src/designer/backend/Services/Interfaces/IRepository.cs
  src/studio/src/designer/frontend/app-development/features/dataModeling/containers/DataModelingContainer.tsx
  src/studio/src/designer/frontend/app-development/features/dataModeling/dataModelingSagas.ts
  src/studio/src/designer/frontend/app-development/features/dataModeling/dataModelingSlice.ts
  src/studio/src/designer/frontend/app-development/features/dataModeling/schemaSelect.tsx
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/app-development/sagas/index.ts
  src/studio/src/designer/frontend/app-development/test/__tests__/DataModeling.test.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/__snapshots__/DataModeling.test.tsx.snap
  src/studio/src/designer/frontend/app-development/utils/urlHelper.ts
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/packages/schema-editor/src/components/schemaEditor.tsx
  src/studio/src/designer/frontend/shared/utils/networking.ts
  src/studio/src/designer/frontend/shared/utils/urlHelper.ts
Labels: solution/studio/designer

#5908 bug/5907-group-component-checkbox-multiple-value-empty
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
Labels: solution/app-frontend

#5919 Added scope check
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Controllers/AuthenticationControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
Labels: area/authentication, solution/platform

#5928 Bump package versions now that the features are tested
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#5929 Latest version of storage interface
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/development/LocalTest/LocalTest.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/data-storage, solution/platform, solution/studio/designer

#5930 Update AppTemplate with latest NuGet packages
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend

#5936 updated readme w/ dotnet 5 prerequisites
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/README.md
  src/Altinn.Platform/README.md
  src/studio/README.md
Labels: solution/platform

#5938 Updated NuGet related properties in all projects
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Common/Authentication/Altinn.Common.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Altinn.Authorization.ABAC/Altinn.Authorization.ABAC.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Models/Altinn.Platform.Models.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
Labels: area/api-expose, area/api-use, area/authentication, area/authorization, area/data-storage, solution/app-backend, solution/platform

#5942 Updated backend dependencies.
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/Altinn.EFormidlingClient.Tests.csproj
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/UnitTest/EFormidlingClientUnitTest.cs
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/Models/CreateSubscription.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Altinn.Authorization.ABAC/Altinn.Authorization.ABAC.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: area/api-use, area/authorization, area/data-storage, area/events, area/profile, area/receipt, solution/app-backend, solution/platform, solution/studio/designer

#5920 Alpine 3.13 in Designer + Gitea 1.13.6 in Repos
  src/studio/src/designer/Dockerfile
  src/studio/src/repositories/Dockerfile
  src/studio/src/repositories/Dockerfile.local
Labels: solution/studio/designer, solution/studio/repos

#5946 Alpine 3.13 -> 3.12 for Designer
  src/studio/src/designer/Dockerfile
Labels: solution/studio/designer

#5944 Added at23 subs key for designer
  src/studio/src/designer/backend/Configuration/PlatformSettings.cs
  src/studio/src/designer/backend/Helpers/HttpClientHelper.cs
Labels: solution/studio/designer

#5943 updated DataController PUT method
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/DataController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Helpers/JsonHelper.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Models/CalculationResult.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/ApiTests/DataApiTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/custom-validation/logic/Calculation/CalculationHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/custom-validation/models/Skjema.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
Labels: area/api-expose, area/api-use, solution/app-backend

#5947 new api tests for events
  src/test/K6/.gitignore
  src/test/K6/docker-compose.yml
  src/test/K6/src/api/platform/events/events.js
  src/test/K6/src/api/platform/events/subscriptions.js
  src/test/K6/src/api/platform/storage/instances.js
  src/test/K6/src/config.js
  src/test/K6/src/errorcounter.js
  src/test/K6/src/report.js
  src/test/K6/src/setup.js
  src/test/K6/src/tests/app/e2erf0002.js
  src/test/K6/src/tests/app/portalsimulation.js
  src/test/K6/src/tests/app/rf0002portal.js
  src/test/K6/src/tests/app/rf0002withattachment.js
  src/test/K6/src/tests/app/sirius.js
  src/test/K6/src/tests/app/uploadanddownload.js
  src/test/K6/src/tests/platform/appowner/completeconfirmation.js
  src/test/K6/src/tests/platform/appowner/downloadinstances.js
  src/test/K6/src/tests/platform/appowner/events.js
  src/test/K6/src/tests/platform/events/events.js
  src/test/K6/src/tests/platform/events/subscriptions.js
  src/test/K6/src/tests/platform/negativetests/events.js
  src/test/K6/src/tests/platform/negativetests/withoutauthentication.js
  src/test/K6/src/tests/platform/storage/rf0002.js
  src/test/K6/src/tests/platform/storage/sblloadinstances.js
Labels: area/test

#5884 Feature/5774 poc pages group v2
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/InputComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/RepeatingGroupAddButton.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/RepeatingGroupsTable.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/GroupContainer.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/RepeatingGroupAddButton.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/components/__snapshots__/RepeatingGroupsTable.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/RepeatingGroupAddButton.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/RepeatingGroupTable.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/RepeatingGroupsEditContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/layout/index.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/types/index.ts
Labels: solution/app-frontend
