Repository Altinn/altinn-studio, pull requests merged in 2022-05, with the labels that each got.

#8431 Validation that resource and action combination for app delegations are valid according to the app xacml policy
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Helpers/DelegationHelper.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Helpers/PolicyHelper.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Services/Implementation/PolicyAdministrationPoint.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Json/AddRules/InvalidRuleModel.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Json/AddRules/MultipleAppsOfferedBysAndCoveredBys.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Json/AddRules/OneOutOfFourIncompleteApp.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Json/AddRules/OneOutOfFourInvalidApp.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Json/AddRules/ReadWriteOrg1App1_50001337_20001336.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Json/AddRules/ReadWriteOrg1App3_50001337_20001337.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnAppsOrg1App1_KeyRoleUnitDelegationRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnAppsOrg1App1_KeyRoleUnitDelegation_MainUnitRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnAppsOrg1App1_UserDelegationRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnAppsOrg1App1_UserDelegation_DeletedRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/AltinnAppsOrg1App1_UserDelegation_MainUnitRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/skd/taxreport2/policy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/error/delegationeventfail/50001337/u20001336/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/org1/app1/50001337/p50001336/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/org1/app1/50001337/u20001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/org1/app2/50001337/p50001336/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/org1/app2/50001337/u20001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/org1/app3/50001337/u20001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/org1/app4/50001337/u20001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/org2/app1/50001336/u20001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/org2/app1/50001337/u20001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/org2/app2/50001336/p50001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/org2/app3/50001337/u20001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/skd/taxreport/50001335/p50001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/skd/taxreport/50001337/p50001335/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/skd/taxreport/50001337/p50001336/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/skd/taxreport/50001337/p50001338/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/skd/taxreport/50001337/u20001336/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/skd/taxreport/50001337/u20001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/skd/taxreport/50001338/p50001336/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/skd/taxreport/50001338/p50001339/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/skd/taxreport/50001338/p50001340/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/skd/taxreport/50001339/p20001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/skd/taxreport/50001339/p50001336/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/skd/taxreport/50001339/u20001336/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/blobs/input/skd/taxreport/50001339/u20001337/delegationpolicy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/DelegationsControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/MockServices/PolicyInformationPointMock.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/PolicyAdministrationPointTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/PolicyControllerTest.cs
Labels: area/authorization, solution/platform

#8433 Update container base images
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
  src/Altinn.Platform/Altinn.Platform.PDF/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/studio/src/designer/Dockerfile
Labels: solution/studio/designer, area/authorization, area/authentication, area/receipt, area/profile, area/data-storage, area/pdf, solution/platform, area/events

#8439 Add 3 indexes to events.events table.
  src/Altinn.Platform/Altinn.Platform.Events/Events/Migration/v0.08/01-setup-index.sql
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/CloudEventRepository.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/EventsService.cs
Labels: solution/platform, area/events

#8286 Make LocalTest maintain a copy of applicationmetadata
  src/development/LocalTest/Configuration/LocalPlatformSettings.cs
  src/development/LocalTest/Controllers/HomeController.cs
  src/development/LocalTest/Services/Storage/Implementation/ApplicationRepository.cs
Labels: external-contribution-❤️

#8436 feat: add setting to allow anonymous access for stateless on datatype app logic
  src/Altinn.Platform/Altinn.Platform.Storage/Altinn.Platform.Storage.Interface.Tests/AllowAnonymousOnStateless/ApplicationTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Altinn.Platform.Storage.Interface.Tests/AllowAnonymousOnStateless/applicationMetadata_afterChange.json
  src/Altinn.Platform/Altinn.Platform.Storage/Altinn.Platform.Storage.Interface.Tests/AllowAnonymousOnStateless/applicationMetadata_beforeChange.json
  src/Altinn.Platform/Altinn.Platform.Storage/Altinn.Platform.Storage.Interface.Tests/Altinn.Platform.Storage.Interface.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Altinn.Platform.Storage.Interface.Tests/TestdataHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Altinn.Platform.Storage.sln
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/ApplicationLogic.cs
Labels: area/data-storage, solution/platform

#8475 chore/deps-backend-w18
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/Altinn.EFormidlingClient.Tests.csproj
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/Altinn.EFormidlingClient.csproj
  src/Altinn.Common/Authentication/Altinn.Common.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Altinn.Authorization.ABAC/Altinn.Authorization.ABAC.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Altinn.Platform.Authorization.Functions.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Tests/Altinn.Platform.Authorization.Functions.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Altinn.Platform.Events.Functions.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/Altinn.Platform.Models.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Models/Altinn.Platform.Models.csproj
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Altinn.Platform.Storage.Interface.Tests/Altinn.Platform.Storage.Interface.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/development/LocalTest/LocalTest.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/src/designer/DataModeling.Tests/DataModeling.Tests.csproj
  src/studio/src/designer/DataModeling/DataModeling.csproj
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: solution/studio/designer, solution/app-backend, area/authorization, area/authentication, area/receipt, area/profile, area/data-storage, area/pdf, solution/platform, solution/apps, area/events

#8409 Use Microsoft.Azure.Cosmos in Storage
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/ApplicationsController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/DataController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstanceEventsController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/MessageboxInstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/ProcessController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/TextsController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Program.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/ApplicationRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/BaseRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/DataRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceEventRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/TextRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/DataRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/ApplicationsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstancesControllerTests.cs
Labels: area/data-storage, solution/platform

#8486 creating id for all elements before storing in cosmos
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Authorization/StorageAccessHandler.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/DataController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/MessageboxInstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/ProcessController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/DataRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/IInstanceRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceEventRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/PepWithPDPAuthorizationMockSI.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/ProcessControllerTest.cs
Labels: area/data-storage, solution/platform

#8488 Bugfix: failing cosmos upgrade
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
Labels: area/data-storage, solution/platform

#8487 Add check for existing index before creating.
  src/Altinn.Platform/Altinn.Platform.Events/Events/Migration/v0.08/01-setup-index.sql
Labels: solution/platform, area/events

#8489 Bugfix: empty continuation token results in exception
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/MessageboxInstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
Labels: area/data-storage, solution/platform

#8527 added delay in instanceEvents test
  src/test/K6/src/tests/platform/storage/events.js
Labels: area/test

#8532 Update deps
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#8528 added migration script for new insert event function
  src/Altinn.Platform/Altinn.Platform.Events/Events/Migration/v0.09/01-setup-function.sql
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/CloudEventRepository.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/ICloudEventRepository.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/EventsService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Mocks/CloudEventRepositoryMock.cs
Labels: solution/platform, area/events

#8534 Update .net sdk and asp.net
  lgtm.yml
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
Labels: area/receipt, area/profile, area/data-storage, solution/platform, solution/apps, area/events

#8434 Support custom claims for Local testing
  src/development/LocalTest/Configuration/LocalPlatformSettings.cs
  src/development/LocalTest/Controllers/HomeController.cs
  src/development/LocalTest/Models/Authentication/CustomClaim.cs
  src/development/LocalTest/Services/Authorization/Implementation/ClaimsService.cs
  src/development/LocalTest/Services/Authorization/Interface/IClaims.cs
  src/development/LocalTest/Startup.cs
  src/development/TestData/authorization/claims/12345.json
  src/development/TestData/authorization/claims/1337.json
Labels: external-contribution-❤️

#8536 Bumping designer/backend yarn
  src/studio/src/designer/backend/.yarn/releases/yarn-3.1.0.cjs
  src/studio/src/designer/backend/.yarn/releases/yarn-3.2.1.cjs
  src/studio/src/designer/backend/.yarnrc.yml
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/backend/yarn.lock
  src/studio/src/designer/frontend/.yarn/releases/yarn-3.2.0.cjs
  src/studio/src/designer/frontend/.yarn/releases/yarn-3.2.1.cjs
  src/studio/src/designer/frontend/.yarnrc.yml
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: solution/studio/designer

#8435 Upgrade . net 6
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Configuration/ConsoleTraceService.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Program.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/AltinnApps_DecisionTests.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/DelegationsControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Fixtures/PlatformAuthorizationFixture.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Fixtures/PolicyAdministrationPointFixture.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Fixtures/PolicyInformationPointFixture.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Fixtures/PolicyRetrievalPointFixture.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Health/HealthCheckTests.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/MockServices/ContextHandlerMock.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/PartiesControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/PolicyAdministrationPointTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/PolicyControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/PolicyInformationRepositoryTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/PolicyRetrievalPointTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Webfactory/CustomWebApplicationFactory.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Xacml30ConformanceTests.cs
Labels: area/authorization, area/authentication, solution/platform

#8533 oppdatering innhold.
  src/studio/src/designer/backend/Views/Home/StartPage.cshtml
Labels: solution/studio/designer

#8553 chore: frontend deps w20
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Apps/AppFrontend/react/yarn.lock
  src/Altinn.Platform/Altinn.Platform.Receipt/package.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
  src/test/K6/package.json
  src/test/K6/yarn.lock
  src/test/cypress/package.json
  src/test/cypress/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer, area/receipt, solution/platform, solution/app-frontend, area/test

#8557 Upgrade test to junit.jupiter and cleanup some of the code
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/AppTest.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/utils/FormUtilsTests.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/utils/MapUtilsTest.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/utils/OptionUtilsTest.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/utils/TextUtilsTest.java
Labels: area/pdf, solution/platform

#8559 Bump dependencies in PDF.
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#8537 Studio: Support for arrays containing primitive types
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/JsonMetadataParserTests.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/JsonSchemaToInstanceModelGeneratorTests.cs
  src/studio/src/designer/backend.Tests/_TestData/Model/JsonSchema/SimpleStringArray.schema.json
  src/studio/src/designer/backend.Tests/_TestData/Model/Metadata/SimpleStringArray.metadata.json
  src/studio/src/designer/backend/Factories/ModelFactory/JsonMetadataParser.cs
  src/studio/src/designer/backend/Factories/ModelFactory/JsonSchemaToInstanceModelGenerator.cs
Labels: solution/studio/designer

#8555 Chore/make designer test run on linux
  .github/workflows/designer-dotnet-test.yaml
  src/studio/src/designer/backend.Tests/Controllers/DatamodelsControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/ReleasesControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/RepositoryControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/RepositorySettingsControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/SessionControllerTest.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/CustomXsd2JsonSchemaTests.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/JsonSchemaToMetamodelConverterTests.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/XsdToJsonSchemaTests.cs
  src/studio/src/designer/backend.Tests/Infrastructure/GitRepository/AltinnGitRepositoryTests.cs
  src/studio/src/designer/backend.Tests/Infrastructure/GitRepository/GitRepositoryTests.cs
  src/studio/src/designer/backend.Tests/Utils/TestSetupUtils.cs
  src/studio/src/designer/backend/Infrastructure/DataProtectionConfiguration.cs
Labels: solution/studio/designer

#8560 Bump container images
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
Labels: area/authorization, area/authentication, solution/platform

#8556 Extended characters in PDF
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/FormLayoutElement.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/FormUtils.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/InstanceUtils.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/LayoutUtils.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/TextUtils.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/resources/font/inter/Inter-Bold.ttf
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/resources/font/inter/Inter-Medium.ttf
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/AppTest.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/utils/FormUtilsTests.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/utils/MapUtilsTest.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/utils/OptionUtilsTest.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/utils/TextUtilsTest.java
Labels: area/pdf, solution/platform

#8535 Improved instructions for linux users
  LOCALAPP.md
  src/development/docker-compose.yml
  src/studio/docker-compose.yml
Labels: solution/studio/code

#8577 Check if key already exists in dict
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/MessageboxInstancesController.cs
Labels: area/data-storage, solution/platform
