Repository Altinn/altinn-studio, pull requests merged in 2022-09, with the labels that each got.

#8879 Chore/8845 upgrade react dnd
  src/studio/src/designer/frontend/README.md
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/app-development/store/index.ts
  src/studio/src/designer/frontend/app-development/webpack.common.js
  src/studio/src/designer/frontend/ux-editor/components/message/ErrorMessageComponent.tsx
  src/studio/src/designer/frontend/ux-editor/containers/Container.tsx
  src/studio/src/designer/frontend/ux-editor/containers/DesignView.tsx
  src/studio/src/designer/frontend/ux-editor/containers/DraggableToolbarItem.tsx
  src/studio/src/designer/frontend/ux-editor/containers/DroppableDraggableComponent.tsx
  src/studio/src/designer/frontend/ux-editor/containers/DroppableDraggableContainer.tsx
  src/studio/src/designer/frontend/ux-editor/containers/EditContainer.tsx
  src/studio/src/designer/frontend/ux-editor/containers/FormDesigner.tsx
  src/studio/src/designer/frontend/ux-editor/containers/Toolbar.tsx
  src/studio/src/designer/frontend/ux-editor/containers/ToolbarGroup.tsx
  src/studio/src/designer/frontend/ux-editor/containers/ToolbarItem.tsx
  src/studio/src/designer/frontend/ux-editor/containers/droppableWrapper.tsx
  src/studio/src/designer/frontend/ux-editor/containers/helpers/array-functions.test.ts
  src/studio/src/designer/frontend/ux-editor/containers/helpers/array-functions.ts
  src/studio/src/designer/frontend/ux-editor/containers/helpers/dnd-helpers.test.ts
  src/studio/src/designer/frontend/ux-editor/containers/helpers/dnd-helpers.ts
  src/studio/src/designer/frontend/ux-editor/containers/helpers/dnd-types.ts
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/ux-editor/webpack.common.js
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, solution/studio/designer

#8891 chore/8845 upgrade react dnd bugfixes
  src/studio/src/designer/frontend/ux-editor/containers/DroppableDraggableComponent.tsx
  src/studio/src/designer/frontend/ux-editor/containers/DroppableDraggableContainer.tsx
Labels: area/ui-editor, solution/studio/designer

#8826 Suggestion/not scan images on unrelated changes
  .github/workflows/app-scan.yml
  .github/workflows/designer-scan.yml
  .github/workflows/pdf-scan.yml
Labels: solution/studio/designer

#8837 Bug/7237 remove hardcoded use of properties/definitions keywords
  src/studio/src/designer/frontend/app-development/features/dataModelling/containers/DataModellingContainer.tsx
  src/studio/src/designer/frontend/packages/schema-editor/.eslintrc.json
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/settings.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/types/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/schema.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/schema.ts
Labels: solution/studio/designer

#8892 8834 data modeling restrictions
  src/studio/src/designer/frontend/packages/schema-editor/README.md
  src/studio/src/designer/frontend/packages/schema-editor/src/components/CombinationSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/AddPropertyButton.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/CombinationSelect.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/CombinationSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/EnumField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/InlineObject.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemPropertiesTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictionsTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/Label.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/RefSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ReferenceSelectionComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/RestrictionField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/StyledSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/TypeSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/helpers/options.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/components/StyledSelect.md
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TypeSelect.tsx
Labels: solution/studio/designer

#8896 Chore/8821 react router upgrade
  src/development/LocalTest/Views/Home/Index.cshtml
  src/studio/src/designer/frontend/app-development/.babelrc
  src/studio/src/designer/frontend/app-development/App.tsx
  src/studio/src/designer/frontend/app-development/config/redirects.tsx
  src/studio/src/designer/frontend/app-development/config/routes.tsx
  src/studio/src/designer/frontend/app-development/config/subPathSettings.ts
  src/studio/src/designer/frontend/app-development/index.tsx
  src/studio/src/designer/frontend/app-development/layout/LeftMenu.tsx
  src/studio/src/designer/frontend/app-development/layout/PageHeader.tsx
  src/studio/src/designer/frontend/app-development/layout/__snapshots__/AppBar.test.tsx.snap
  src/studio/src/designer/frontend/app-development/layout/appBarConfig.tsx
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/app-development/test/testUtils.tsx
  src/studio/src/designer/frontend/dashboard/.babelrc
  src/studio/src/designer/frontend/dashboard/app/App.tsx
  src/studio/src/designer/frontend/dashboard/common/components/MakeCopyModal.tsx
  src/studio/src/designer/frontend/dashboard/common/utils/urlUtils.test.ts
  src/studio/src/designer/frontend/dashboard/common/utils/urlUtils.ts
  src/studio/src/designer/frontend/dashboard/features/standaloneDataModelling/DataModelling.test.tsx
  src/studio/src/designer/frontend/dashboard/features/standaloneDataModelling/DataModelling.tsx
  src/studio/src/designer/frontend/dashboard/index.tsx
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/shared/navigation/drawer/TabletDrawerMenu.tsx
  src/studio/src/designer/frontend/shared/navigation/drawer/tabletDrawerMenustyle.ts
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/.babelrc
  src/studio/src/designer/frontend/ux-editor/App.tsx
  src/studio/src/designer/frontend/ux-editor/SubApp.tsx
  src/studio/src/designer/frontend/ux-editor/index.tsx
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer

#8907 test: some links were not updated to the correct location after react-router 6 upgrade
  src/test/cypress/e2e/pageobjects/designer.js
Labels: area/test

#8910 test: link pointing to incorrect location
  src/test/cypress/e2e/support/studio.js
Labels: area/test

#8909 Update Cypress documentation with missing details
  src/test/cypress/README.md
Labels: area/test

#8881 8808 get api to get text file from backend
  src/studio/src/designer/backend.Tests/Controllers/TextsControllerTests.cs
  src/studio/src/designer/backend.Tests/Infrastructure/GitRepository/AltinnAppGitRepositoryTests.cs
  src/studio/src/designer/backend.Tests/Services/SchemaModelServiceTests.cs
  src/studio/src/designer/backend/Controllers/LanguagesController.cs
  src/studio/src/designer/backend/Controllers/TextsController.cs
  src/studio/src/designer/backend/Factories/AltinnGitRepositoryFactory.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  src/studio/src/designer/backend/Infrastructure/ServiceRegistration.cs
  src/studio/src/designer/backend/Services/Implementation/LanguagesService.cs
  src/studio/src/designer/backend/Services/Implementation/SchemaModelService.cs
  src/studio/src/designer/backend/Services/Implementation/TextsService.cs
  src/studio/src/designer/backend/Services/Interfaces/ITextsService.cs
Labels: solution/studio/designer

#8874 Landing page for the data modelling tool
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/shared/components/FileSelector.test.tsx
  src/studio/src/designer/frontend/shared/components/FileSelector.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/DataModelling.test.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/DataModelling.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/XSDUpload.test.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/XSDUpload.tsx
Labels: solution/studio/designer

#8912 chore: update to react 18
  src/studio/src/designer/frontend/app-development/index.tsx
  src/studio/src/designer/frontend/app-development/layout/__snapshots__/AppBar.test.tsx.snap
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/features/createService/CreateService.test.tsx
  src/studio/src/designer/frontend/dashboard/index.tsx
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/containers/DesignView.tsx
  src/studio/src/designer/frontend/ux-editor/containers/DraggableToolbarItem.tsx
  src/studio/src/designer/frontend/ux-editor/containers/ToolbarItem.tsx
  src/studio/src/designer/frontend/ux-editor/index.tsx
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer

#8850 Support for jsonschema v7 and v2020-12
  src/studio/src/designer/backend.Tests/Controllers/RepositorySettingsControllerTests.cs
  src/studio/src/designer/backend.Tests/Infrastructure/GitRepository/AltinnGitRepositoryTests.cs
  src/studio/src/designer/backend.Tests/Services/RepositorySITests.cs
  src/studio/src/designer/backend.Tests/Services/SchemaModelServiceTests.cs
  src/studio/src/designer/backend/Configuration/ServiceConfiguration.cs
  src/studio/src/designer/backend/Controllers/DatamodelsController.cs
  src/studio/src/designer/backend/Controllers/RepositoryController.cs
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/designer/backend/Enums/DatamodellingPreference.cs
  src/studio/src/designer/backend/Factories/ModelFactory/JsonSchemaToMetamodelConverter.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnGitRepository.cs
  src/studio/src/designer/backend/Models/AltinnStudioSettings.cs
  src/studio/src/designer/backend/Program.cs
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
  src/studio/src/designer/backend/Services/Implementation/SchemaModelService.cs
  src/studio/src/designer/backend/Services/Interfaces/ISchemaModelService.cs
  src/studio/src/designer/backend/jsconfig.json
Labels: solution/studio/designer

#8902 Update toolbar design
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbar.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbarButton.tsx
  src/studio/src/designer/frontend/shared/components/FileSelector.test.tsx
  src/studio/src/designer/frontend/shared/components/FileSelector.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/DataModelling.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/CreateNewWrapper.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/DeleteWrapper.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/SchemaSelect.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/XSDUpload.test.tsx
Labels: solution/studio/designer

#8914 8895 datamodelling schema attribs as data
  src/studio/src/designer/frontend/app-development/.gitignore
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/app-development/public/avatar.png
  src/studio/src/designer/frontend/app-development/public/index.html
  src/studio/src/designer/frontend/app-development/test/devServerMock.js
  src/studio/src/designer/frontend/app-development/test/fixtures/create-model.js
  src/studio/src/designer/frontend/app-development/test/fixtures/del-datamodel.js
  src/studio/src/designer/frontend/app-development/test/fixtures/get-datamodel.js
  src/studio/src/designer/frontend/app-development/test/fixtures/get-datamodels.js
  src/studio/src/designer/frontend/app-development/test/fixtures/get-index-html.js
  src/studio/src/designer/frontend/app-development/test/fixtures/get-language.json
  src/studio/src/designer/frontend/app-development/test/fixtures/get-repo-data.js
  src/studio/src/designer/frontend/app-development/test/fixtures/put-datamodel.js
  src/studio/src/designer/frontend/app-development/test/fixtures/templates/datamodels.example.json
  src/studio/src/designer/frontend/app-development/test/fixtures/templates/repo-data.template.json
  src/studio/src/designer/frontend/app-development/test/fixtures/templates/schema.template.json
  src/studio/src/designer/frontend/app-development/webpack.config.development.js
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/AddPropertyButton.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/CombinationSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/InlineObject.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemPropertiesTab.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemPropertiesTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictionsTab.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictionsTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/RefSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ReferenceSelectionComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/RestrictionField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/StyledSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/TypeSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/helpers/options.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/prettier.config.js
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/ArrayRestrictions.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/ArrayRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/BooleanRestrictions.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/BooleanRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictions.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/ObjectRestrictions.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/ObjectRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/types/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/checks.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/restrictions.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/schema.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/schema.ts
  src/studio/src/designer/frontend/yarn.lock
Labels: solution/studio/designer

#8918 8915 v2 delete endpoint for languages
  src/studio/src/designer/backend/Controllers/LanguagesController.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  src/studio/src/designer/backend/Services/Implementation/LanguagesService.cs
  src/studio/src/designer/backend/Services/Interfaces/ILanguagesService.cs
Labels: solution/studio/designer

#8913 8889 v2 put endpoint for editing text files
  src/studio/src/designer/backend.Tests/Controllers/LanguagesControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/TextsControllerTests.cs
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/new-texts-format/App/config/texts/text.nb.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/new-texts-format/App/config/texts/text.nn.json
  src/studio/src/designer/backend/Controllers/TextsController.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  src/studio/src/designer/backend/Services/Implementation/TextsService.cs
  src/studio/src/designer/backend/Services/Interfaces/ITextsService.cs
Labels: solution/studio/designer

#8931 Upgrading jest to v29, msw to 0.47.0
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer

#8923 8921 add error handling to gettext endpoint
  src/studio/src/designer/backend.Tests/Controllers/TextsControllerTests.cs
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/invalid-texts-format/App/config/texts/text.en.json
  src/studio/src/designer/backend/Controllers/TextsController.cs
Labels: solution/studio/designer

#8929 Feature/6959 carry over min occurs
  src/studio/src/designer/DataModeling.Tests/FluentTestsBase.cs
  src/studio/src/designer/DataModeling.Tests/Seres2JsonSchema2SeresTests.cs
  src/studio/src/designer/DataModeling.Tests/XmlSchemaToJsonTests.cs
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/General/ComplexSchema.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/General/NestedArrays.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/General/NillableAttribute.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/Seres/SeresArray.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/Seres/SeresNillable.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/Seres/SeresSimpleTypeRestrictions.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_4660_1_forms_2500_2500.xsd
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/GeneralJsonSchemaConverter.cs
  src/studio/src/designer/DataModeling/Converter/Xml/XmlSchemaToJsonSchemaConverter.cs
Labels: solution/studio/designer

#8938 Fix nullpointerexception in getLabelFromValue
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/MapUtils.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/utils/MapUtilsTest.java
Labels: area/pdf, solution/platform

#8936 8930 unable to drag and drop an element between two groups in altinn …
  src/studio/src/designer/frontend/ux-editor/containers/DesignView.tsx
  src/studio/src/designer/frontend/ux-editor/containers/DroppableDraggableComponent.tsx
  src/studio/src/designer/frontend/ux-editor/containers/DroppableDraggableContainer.test.tsx
  src/studio/src/designer/frontend/ux-editor/containers/DroppableDraggableContainer.tsx
  src/studio/src/designer/frontend/ux-editor/containers/DummyDropTarget.test.tsx
  src/studio/src/designer/frontend/ux-editor/containers/DummyDropTarget.tsx
  src/studio/src/designer/frontend/ux-editor/containers/EditContainer.tsx
  src/studio/src/designer/frontend/ux-editor/containers/helpers/dnd-helpers.test.ts
  src/studio/src/designer/frontend/ux-editor/containers/helpers/dnd-helpers.ts
  src/studio/src/designer/frontend/ux-editor/containers/helpers/dnd-types.ts
Labels: area/ui-editor, solution/studio/designer

#8947 add edit functionality with debounce
  src/studio/src/designer/frontend/language-editor/LanguageEditor.tsx
Labels: solution/studio/designer

#8940 Bug/8917 cannot add items
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/settings.ts
Labels: solution/studio/designer

#8948 Replace Material UI text fields with Altinn text fields
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/app-development/webpack.common.js
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/dashboard/webpack.common.js
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/EnumField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/RestrictionField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/tsconfig.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: area/dashboard, solution/studio/designer

#8961 Revert "fix(deps): update dependency monaco-editor to v0.34.0"
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/backend/yarn.lock
Labels: solution/studio/designer

#8962 Revert "chore(deps): update dependency monaco-editor-webpack-plugin to v7"
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: solution/studio/designer

#8964 fix package json versioning
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/language-editor/package.json
  src/studio/src/designer/frontend/package.json
Labels: solution/studio/designer

#8968 Revert "Fix issues text editor (#8967)"
  src/studio/src/designer/backend/Controllers/TextController.cs
Labels: solution/studio/designer

#8949 Feature/8835 toggle edit mode
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItemLabel.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbar.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbar.tsx
  src/studio/src/designer/frontend/packages/schema-editor/tsconfig.json
Labels: solution/studio/designer

#8977 quick fix for font-size
  src/studio/src/designer/frontend/packages/schema-editor/src/App.css
Labels: solution/studio/designer

#8971 Bug/8950 landing page blocks UI
  src/studio/src/designer/frontend/packages/schema-editor/src/SchemaEditorApp.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/SchemaEditorApp.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbar.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbarButton.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbarButton.tsx
  src/studio/src/designer/frontend/shared/components/FileSelector.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/DataModelling.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/CreateNewWrapper.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/DeleteWrapper.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/LandingPagePanel.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/SchemaSelect.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/XSDUpload.tsx
Labels: solution/studio/designer

#8980 fix font sizes in app-development
  src/studio/src/designer/frontend/dashboard/app/App.css
  src/studio/src/designer/frontend/packages/schema-editor/src/App.css
Labels: area/dashboard, solution/studio/designer

#8979 Datamodelling internal schema model
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/packages/schema-editor/src/types/enums.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/ui-schema/build-json-schema.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/ui-schema/build-ui-schema.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/ui-schema/build.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/ui-schema/handlers/custom-properties.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/ui-schema/handlers/custom-properties.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/ui-schema/handlers/field-type.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/ui-schema/handlers/field-type.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/ui-schema/handlers/generic.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/ui-schema/handlers/required.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/ui-schema/handlers/restrictions.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/ui-schema/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/ui-schema/mutations.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/ui-schema/mutations.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/ui-schema/prettier.config.js
  src/studio/src/designer/frontend/packages/schema-editor/src/ui-schema/types.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/ui-schema/utils.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/ui-schema/utils.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/restrictions.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/schema.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/ui-schema-utils.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/testUtils.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/testUtils.ts
  src/studio/src/designer/frontend/shared/package.json
Labels: area/dashboard, solution/studio/designer

#8987 8983 datamodelling refactor tree view
  src/studio/src/designer/frontend/packages/schema-editor/README.md
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/prettier.config.js
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaTreeView.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/tree-view-helpers.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/SchemaTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/prettier.config.js
Labels: solution/studio/designer

#8984 Feature/8857 replace old datamodels page
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/app-development/config/routes.tsx
  src/studio/src/designer/frontend/app-development/config/subPathSettings.ts
  src/studio/src/designer/frontend/app-development/layout/AppBar.test.tsx
  src/studio/src/designer/frontend/app-development/layout/AppBar.tsx
  src/studio/src/designer/frontend/app-development/layout/__snapshots__/AppBar.test.tsx.snap
  src/studio/src/designer/frontend/app-development/layout/appBarConfig.tsx
  src/studio/src/designer/frontend/dashboard/features/standaloneDataModelling/DataModelling.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/StyledSelect.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/DataModelling.test.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/DataModelling.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/CreateNewWrapper.test.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/CreateNewWrapper.tsx
Labels: area/dashboard, solution/studio/designer

#8991 Feat/delete and naming conventions for be text editor
  src/studio/src/designer/backend.Tests/Controllers/LanguagesControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/TextsControllerTests.cs
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/invalid-texts-format/App/config/texts/en.texts.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/new-texts-format/App/config/texts/nb.texts.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/new-texts-format/App/config/texts/nn.texts.json
  src/studio/src/designer/backend/Controllers/TextsController.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnGitRepository.cs
  src/studio/src/designer/backend/Services/Implementation/LanguagesService.cs
  src/studio/src/designer/backend/Services/Implementation/TextsService.cs
  src/studio/src/designer/backend/Services/Interfaces/ITextsService.cs
  src/studio/src/designer/backend/Views/ServiceDevelopment/index.cshtml
Labels: solution/studio/designer

#8992 feat: carry unhandled attributes on restrictions
  src/studio/src/designer/DataModeling.Tests/Seres2JsonSchema2SeresTests.cs
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_4108-41505.xsd
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/GeneralJsonSchemaConverter.cs
  src/studio/src/designer/DataModeling/Converter/Xml/PropertiesBuilder.cs
  src/studio/src/designer/DataModeling/Converter/Xml/StepsBuilder.cs
  src/studio/src/designer/DataModeling/Converter/Xml/XmlSchemaToJsonSchemaConverter.cs
Labels: solution/studio/designer

#8993 Restriction view in inspector
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/app-development/declaration.d.ts
  src/studio/src/designer/frontend/app-development/test/fixtures/get-language.json
  src/studio/src/designer/frontend/app-development/webpack.common.js
  src/studio/src/designer/frontend/dashboard/declaration.d.ts
  src/studio/src/designer/frontend/dashboard/webpack.common.js
  src/studio/src/designer/frontend/declaration.d.ts
  src/studio/src/designer/frontend/packages/schema-editor/declaration.d.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/Divider.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/Divider.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/EnumField.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/EnumField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/Fieldset.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/Fieldset.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemPropertiesTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/Label.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/Label.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ReferenceSelectionComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/RestrictionField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/StyledSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/helpers/options.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/ArrayRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/BooleanRestrictions.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/BooleanRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/ObjectRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/restrictions.ts
  src/studio/src/designer/frontend/packages/schema-editor/webpack.common.js
  src/studio/src/designer/frontend/shared/declaration.d.ts
Labels: area/dashboard, solution/studio/designer

#9002 Import text data from backend into text mock
  src/studio/src/designer/frontend/app-development/test/devServerMock.js
  src/studio/src/designer/frontend/app-development/test/fixtures/get-language.js
  src/studio/src/designer/frontend/app-development/test/fixtures/get-language.json
Labels: solution/studio/designer

#8994 8988 datamodelling new model as package
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/backend/gulpfile.js
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/backend/yarn.lock
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/ArrayRestrictions.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/ArrayRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictions.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/ObjectRestrictions.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/ObjectRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/types/enums.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/types/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/ui-schema/handlers/restrictions.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/ui-schema/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/ui-schema/prettier.config.js
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/restrictions.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/schema.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/ui-schema-utils.ts
  src/studio/src/designer/frontend/packages/schema-editor/tsconfig.json
  src/studio/src/designer/frontend/packages/schema-editor/webpack.common.js
  src/studio/src/designer/frontend/packages/schema-model/README.md
  src/studio/src/designer/frontend/packages/schema-model/package.json
  src/studio/src/designer/frontend/packages/schema-model/prettier.config.js
  src/studio/src/designer/frontend/packages/schema-model/src/index.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/build-json-schema.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/build-ui-schema.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/build.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/handlers/custom-properties.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/handlers/custom-properties.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/handlers/field-type.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/handlers/field-type.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/handlers/generic.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/handlers/generic.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/handlers/required.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/handlers/required.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/restrictions.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/restrictions.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/types.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/utils.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/utils.ts
  src/studio/src/designer/frontend/packages/schema-model/src/setupTests.ts
  src/studio/src/designer/frontend/packages/schema-model/test/testUtils.test.ts
  src/studio/src/designer/frontend/packages/schema-model/test/testUtils.ts
  src/studio/src/designer/frontend/packages/schema-model/tsconfig.json
  src/studio/src/designer/frontend/packages/schema-model/webpack.config.js
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer

#9004 Feature/8965 carry type for array
  src/studio/src/designer/DataModeling.Tests/Seres2JsonSchema2SeresTests.cs
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_4388-39288.xsd
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/GeneralJsonSchemaConverter.cs
Labels: solution/studio/designer

#9015 Hotfix/9005 wrong csharp class generation
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/JsonSchema2Metadata2CSharpTests.cs
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/ReferenceArray.xsd
  src/studio/src/designer/backend/Factories/ModelFactory/JsonSchemaToMetamodelConverter.cs
Labels: solution/studio/designer

#8963 8882 endpoint that converts text files in old format into new format
  src/studio/src/designer/backend.Tests/Controllers/ConvertTextsControllerTests.cs
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/convert-texts/App/config/texts/resource.nb.json
  src/studio/src/designer/backend/Controllers/ConvertV1TextsToV2Controller.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnGitRepository.cs
  src/studio/src/designer/backend/Infrastructure/ServiceRegistration.cs
  src/studio/src/designer/backend/Services/Implementation/ConvertTextsService.cs
  src/studio/src/designer/backend/Services/Interfaces/IConvertTextsService.cs
Labels: solution/studio/designer

#9023 json schema 2 metamodel conversion
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/CsharpEnd2EndGenerationTests.cs
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/Kursdomene_APINøkkel_M_2020-05-26_5702_34556_SERES.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/Kursdomene_BekrefteBruksvilkår_M_2020-05-25_5704_34554_SERES.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/Kursdomene_BliTjenesteeier_M_2020-05-25_5703_34553_SERES.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/RA-0678_M.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/aal-vedlegg.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/aal.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/bokskjema.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/brg-anonym-oppstartsveilederen.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/brg-oppstartsveilederen.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/dat-aarligmelding-bemanning.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/dat-asbest-soknad.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/dat-bilpleie-soknad.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/dat-skjema.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/dihe-redusert-foreldrebetaling-bhg.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/dsb-melding-om-sikkerhetsraadgiver.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/epob.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/hi-algeskjema.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/krt-krt-1226a-1.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/krt-krt-1228a-1.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/nbib-melding.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/skd-formueinntekt-skattemelding-v2.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/skd-sirius-skattemelding-v1.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/skjema.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/srf-fufinn-behovsendring.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/srf-fufinn-behovskartleggin.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/srf-melding-til-statsforvalteren.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/stami-atid-databehandler-2022.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/stami-mu-bestilling-2021.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/stami-mu-databehandler-2021.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/svv-transportloyvegarantie.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/transportloyvegarantier.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/udi-kjaerestebesok.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/udi-unntak-karantenehotell-velferd.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/udir-invitasjon-vfkl.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/udir-vfkl.xsd
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/valg-valgkort.xsd
  src/studio/src/designer/backend/Factories/ModelFactory/JsonSchemaToMetamodelConverter.cs
  src/studio/src/designer/backend/Factories/ModelFactory/MetamodelRestrictionUtils.cs
Labels: solution/studio/designer

#9001 382 better handling of markdown in translation files
  src/studio/src/designer/backend.Tests/Controllers/TextsControllerTests.cs
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/markdown-files/App/config/texts/md/markdown-text.uk.texts.md
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/markdown-files/App/config/texts/md/more-markdown.nb.texts.md
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/markdown-files/App/config/texts/md/text-with-markdown.nb.texts.md
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/markdown-files/App/config/texts/nb.texts.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/markdown-files/App/config/texts/uk.texts.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/new-texts-format/App/config/texts/md/should-not-be-included-in-languages.uk.texts.md
  src/studio/src/designer/backend/Controllers/LanguagesController.cs
  src/studio/src/designer/backend/Controllers/TextsController.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnGitRepository.cs
  src/studio/src/designer/backend/Services/Implementation/TextsService.cs
Labels: solution/studio/designer

#8957 Change from altinn3local.no to local.altinn.cloud for localtest
  LOCALAPP.md
  README.md
  src/development/LocalTest/Properties/launchSettings.json
  src/development/LocalTest/appsettings.json
  src/development/docker-compose.yml
  src/development/loadbalancer/nginx.conf
  src/studio/AppTemplates/AspNet/App/appsettings.json
  src/studio/README.md
  src/studio/src/designer/backend.Tests/_TestData/Remote/ttd/apps-test/App/appsettings.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/apps-test-2021/App/appsettings.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/apps-test/App/appsettings.json
  src/test/Postman/collections/App.postman_collection.json
  src/test/Postman/collections/Local-Test.postman_collection.json
Labels: solution/studio/designer, solution/app-backend, area/test, external-contribution-❤️

#9035 feat: support multiple select in pdf
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
Labels: area/pdf, solution/platform

#9031 Implement checkbox from design system
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/test/renderWithRedux.tsx
  src/studio/src/designer/frontend/packages/schema-model/src/lib/selectors.ts
  src/studio/src/designer/frontend/yarn.lock
Labels: solution/studio/designer
