Repository Altinn/altinn-studio, pull requests merged in 2022-12, with the labels that each got.

#9328 API for managing keys for text editor
  src/studio/src/designer/backend.Tests/Controllers/TextKeysControllerTests.cs
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/keys-management/App/config/texts/en.texts.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/keys-management/App/config/texts/nb.texts.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/keys-management/App/config/texts/nn.texts.json
  src/studio/src/designer/backend/Controllers/TextKeysController.cs
  src/studio/src/designer/backend/Controllers/TextsController.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  src/studio/src/designer/backend/Services/Implementation/TextsService.cs
  src/studio/src/designer/backend/Services/Interfaces/ITextsService.cs
Labels: solution/studio/designer

#9346 Update design system
  src/studio/src/designer/frontend/app-development/features/accessControl/containers/AccessControlContainer.test.tsx
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  src/studio/src/designer/frontend/packages/shared/package.json
  src/studio/src/designer/frontend/packages/shared/src/version-control/CloneButton.tsx
  src/studio/src/designer/frontend/packages/shared/src/version-control/FetchChangesButton.tsx
  src/studio/src/designer/frontend/packages/shared/src/version-control/ShareChangesButton.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/RightMenu.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/pages/PageElement.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/Container.tsx
  src/studio/src/designer/frontend/yarn.lock
Labels: area/dashboard, solution/studio/designer

#9326 fix bug on link to gitea from dashboard
  src/studio/src/designer/frontend/packages/shared/src/api-paths.js
  src/studio/src/designer/frontend/packages/shared/src/navigation/main-header/Header.tsx
  src/studio/src/designer/frontend/packages/shared/src/navigation/main-header/HeaderMenu.test.tsx
  src/studio/src/designer/frontend/packages/shared/src/navigation/main-header/HeaderMenu.tsx
Labels: solution/studio/designer

#9352 remove extra Texts menu item
  src/studio/src/designer/frontend/app-development/config/routes.tsx
  src/studio/src/designer/frontend/app-development/layout/AppBar/appBarConfig.ts
Labels: solution/studio/designer

#9354 gitea link for regular user as well as org
  src/studio/src/designer/frontend/packages/shared/src/navigation/main-header/HeaderMenu.tsx
Labels: solution/studio/designer

#9350 Bug/9301 bugs studio
  src/studio/src/designer/frontend/language/src/en.json
  src/studio/src/designer/frontend/language/src/nb.json
  src/studio/src/designer/frontend/packages/ux-editor/package.json
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/pages/PageElement.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/pages/PageElement.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/pages/PagesContainer.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/features/formDesigner/formDesignerTypes.ts
  src/studio/src/designer/frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
  src/studio/src/designer/frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSlice.ts
  src/studio/src/designer/frontend/packages/ux-editor/src/store.ts
  src/studio/src/designer/frontend/packages/ux-editor/src/utils/formLayout.ts
  src/studio/src/designer/frontend/yarn.lock
Labels: solution/studio/designer

#9356 Replace tab components
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbarButton.tsx
  src/studio/src/designer/frontend/packages/shared/package.json
  src/studio/src/designer/frontend/packages/text-editor/package.json
  src/studio/src/designer/frontend/packages/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: area/dashboard, solution/studio/designer

#9361 Change text from "Save" to "Generate models"
  src/studio/src/designer/frontend/language/src/en.json
  src/studio/src/designer/frontend/language/src/nb.json
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbar.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbar.tsx
Labels: area/data-modeling, solution/studio/designer

#9358 feat: test non xsd context schema
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/General/ComplexSchema-old.json
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/GeneralJsonSchemaConverter.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/BaseClasses/CsharpModelConversionTestsBase.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/BaseClasses/CsharpModelOldConversionTestsBase.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/BaseClasses/SchemasConversionTestsBase.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/BaseClasses/Xsd2CsharpBaseClass.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/CsharpEnd2EndGenerationTests.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/DataValidationTests.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/JsonMetadataParserTests.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/JsonSchemaConversionTests.cs
  src/studio/src/designer/backend.Tests/_TestData/Model/JsonSchema/NonXsdContextSchema.json
  src/studio/src/designer/backend/Factories/ModelFactory/JsonSchemaToMetamodelConverter.cs
Labels: solution/studio/designer

#9353 fix: total digits negative numbers support
  src/studio/src/designer/DataModeling.Tests/Utils/RestrictionHelperTests.cs
  src/studio/src/designer/DataModeling/Utils/RestrictionsHelper.cs
  src/studio/src/designer/backend.Tests/Assertions/TypeAssertions.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/DataClasses/CSharpE2ERestrictionsTestData.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/DataClasses/ValidationTestData.cs
  src/studio/src/designer/backend.Tests/Utils/RandomObjectModelGenerator.cs
Labels: solution/studio/designer

#9362 Clean up some grids and styles
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/Container.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/EditContainer.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/EditContainer.tsx
Labels: solution/studio/designer

#8563 Add prefill capability to localtest
  src/development/LocalTest/Clients/CdnAltinnOrgs/AltinnOrgsClient.cs
  src/development/LocalTest/Clients/CdnAltinnOrgs/Models.cs
  src/development/LocalTest/Configuration/Authentication/GeneralSettings.cs
  src/development/LocalTest/Controllers/Authentication/AuthenticationController.cs
  src/development/LocalTest/Controllers/HomeController.cs
  src/development/LocalTest/Models/StartAppModel.cs
  src/development/LocalTest/Services/Authentication/Implementation/AuthenticationService.cs
  src/development/LocalTest/Services/Authentication/Interface/IAuthentication.cs
  src/development/LocalTest/Services/LocalApp/Implementation/LocalAppFile.cs
  src/development/LocalTest/Services/LocalApp/Implementation/LocalAppHttp.cs
  src/development/LocalTest/Services/LocalApp/Interface/ILocalApp.cs
  src/development/LocalTest/Startup.cs
  src/development/LocalTest/Views/Home/Index.cshtml
  src/development/loadbalancer/nginx.conf
Labels: team/platform, external-contribution-❤️

#9366 fix: skip buggy tests
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/DataClasses/ValidationTestData.cs
Labels: solution/studio/designer

#9351 1353 save code from the preview hackaton
  src/studio/src/designer/backend/Controllers/PreviewController.cs
  src/studio/src/designer/backend/prettier.config.js
  src/studio/src/designer/backend/wwwroot/designer/html/preview.html
  src/studio/src/designer/frontend/app-preview/index.tsx
  src/studio/src/designer/frontend/app-preview/jest.config.js
  src/studio/src/designer/frontend/app-preview/package.json
  src/studio/src/designer/frontend/app-preview/public/index.html
  src/studio/src/designer/frontend/app-preview/src/PreviewApp.module.css
  src/studio/src/designer/frontend/app-preview/src/PreviewApp.tsx
  src/studio/src/designer/frontend/app-preview/src/PreviewContext.tsx
  src/studio/src/designer/frontend/app-preview/src/layouts/DefaultLayout.tsx
  src/studio/src/designer/frontend/app-preview/src/views/LandingPage.module.css
  src/studio/src/designer/frontend/app-preview/src/views/LandingPage.tsx
  src/studio/src/designer/frontend/app-preview/src/views/NoMatch.tsx
  src/studio/src/designer/frontend/app-preview/tsconfig.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/testing/mockend/config.json
  src/studio/src/designer/frontend/testing/mockend/ports.json
  src/studio/src/designer/frontend/testing/mockend/src/index.js
  src/studio/src/designer/frontend/testing/mockend/src/routes/get-preview-html.js
  src/studio/src/designer/frontend/testing/mockend/src/routes/preview-get.js
  src/studio/src/designer/frontend/testing/mockend/src/routes/root-redirect.js
  src/studio/src/designer/frontend/webpack.config.dev.js
  src/studio/src/designer/frontend/yarn.lock
Labels: solution/studio/designer

#9367 9360 receipt editor navigation with query params
  src/studio/src/designer/frontend/packages/shared/src/pure/utils.ts
  src/studio/src/designer/frontend/packages/ux-editor/src/App.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/RightMenu.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/pages/PageElement.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/Container.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/DesignView.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
  src/studio/src/designer/frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSlice.ts
  src/studio/src/designer/frontend/packages/ux-editor/src/features/formDesigner/widgets/addWidgetsSagas.ts
Labels: solution/studio/designer

#9375 Delete SchemaTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/SchemaTab.tsx
Labels: solution/studio/designer

#9376 Drag and drop handle
  src/studio/src/designer/frontend/packages/ux-editor/src/components/DragHandle.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/components/DragHandle.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/FormComponent.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/Container.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/DroppableDraggableComponent.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/EditContainer.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/EditContainer.test.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/EditContainer.tsx
Labels: solution/studio/designer

#9378 Form designer improvements
  src/studio/src/designer/frontend/packages/ux-editor/src/components/DragHandle.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/RightMenu.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/Container.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/Container.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/DesignView.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/DroppableDraggableContainer.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/DroppableDraggableContainer.test.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/DroppableDraggableContainer.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/EditContainer.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/FormDesigner.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/FormDesigner.tsx
Labels: solution/studio/designer

#9387 Remove Drawer component
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/FormDesigner.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/FormDesigner.tsx
Labels: solution/studio/designer

#9340 Caching of access token
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Services/AccessTokenGenerator.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Services/SigningCredentialsResolver.cs
Labels: area/authorization

#9389 9388 receipt editor hide functionality in prod
  src/studio/src/designer/frontend/packages/shared/src/utils/_useIsProdHack.ts
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/RightMenu.tsx
Labels: solution/studio/designer

#9392 Replace all radio buttons
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/packages/shared/package.json
  src/studio/src/designer/frontend/packages/shared/src/components/AltinnRadio.test.tsx
  src/studio/src/designer/frontend/packages/shared/src/components/AltinnRadio.tsx
  src/studio/src/designer/frontend/packages/shared/src/components/AltinnRadioGroup.test.tsx
  src/studio/src/designer/frontend/packages/shared/src/components/AltinnRadioGroup.tsx
  src/studio/src/designer/frontend/packages/text-editor/package.json
  src/studio/src/designer/frontend/packages/text-editor/src/RightMenu.module.css
  src/studio/src/designer/frontend/packages/text-editor/src/RightMenu.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/config/componentSpecificContent/FileUploadWithTag/FileUploadWithTagComponent.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
  src/studio/src/designer/frontend/yarn.lock
Labels: area/dashboard, solution/studio/designer

#9394 Move things to fit new sketch
  src/studio/src/designer/frontend/language/src/en.json
  src/studio/src/designer/frontend/language/src/nb.json
  src/studio/src/designer/frontend/packages/ux-editor/src/components/leftMenu/ConfirmModal.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/components/leftMenu/ConfirmModal.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/leftMenu/ConfirmationPageElement.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/components/leftMenu/ConfirmationPageElement.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/leftMenu/LeftMenu.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/components/leftMenu/LeftMenu.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/leftMenu/PageElement.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/components/leftMenu/PageElement.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/leftMenu/PagesContainer.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/leftMenu/ToolbarGroup.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/CalculationsTab.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/CalculationsTab.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/ConditionalRenderingTab.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/ConditionalRenderingTab.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/Dynamics.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/Dynamics.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/RightMenu.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/RightMenu.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/pages/ConfirmationPageElement.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/FormDesigner.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/FormDesigner.tsx
Labels: solution/studio/designer

#9395 chore/remove unnecessary complexity in text editor apis
  src/studio/src/designer/frontend/app-development/services/appDevelopmentApi.ts
  src/studio/src/designer/frontend/app-development/services/languagesApi.ts
  src/studio/src/designer/frontend/app-development/services/textsApi.ts
  src/studio/src/designer/frontend/packages/text-editor/src/LanguageSelector.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/RightMenu.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/apiRoutes.ts
Labels: solution/studio/designer

#9398 Clean up some remaining class component syntax
  src/studio/src/designer/frontend/packages/ux-editor/src/containers/DesignView.tsx
Labels: solution/studio/designer

#9405 Update release.yml
  .github/release.yml
Labels: skip-releasenotes

#9406 Update release.yml
  .github/release.yml
Labels: skip-releasenotes

#9408 9399 new text editor should use old format
  src/studio/src/designer/frontend/app-development/features/textEditor/TextEditor.tsx
  src/studio/src/designer/frontend/app-development/services/textsApi.ts
  src/studio/src/designer/frontend/packages/text-editor/index.ts
  src/studio/src/designer/frontend/packages/text-editor/src/LanguageSelector.test.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/LanguageSelector.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/RightMenu.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/TextEditor.test.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/TextEditor.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/TextRow.module.css
  src/studio/src/designer/frontend/packages/text-editor/src/TextRow.test.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/TextRow.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/mutations.test.ts
  src/studio/src/designer/frontend/packages/text-editor/src/mutations.ts
  src/studio/src/designer/frontend/packages/text-editor/src/types/index.d.ts
  src/studio/src/designer/frontend/packages/text-editor/src/utils.ts
Labels: solution/studio/designer

#9412 Add endpoint that adds multiple keys and texts or updates texts for old text format
  src/studio/src/designer/backend/Controllers/TextController.cs
Labels: area/language, solution/studio/designer, team/studio

#9413 9409 text editor text ids should be editable
  src/studio/src/designer/frontend/packages/text-editor/src/TextEditor.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/TextRow.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/mutations.ts
Labels: solution/studio/designer

#9419 chore/speed up jest run times
  src/studio/src/designer/frontend/package.json
Labels: solution/studio/designer

#9425 Revert "chore(deps): update dependency cypress to v12 (#9415)"
  src/test/cypress/package.json
  src/test/cypress/yarn.lock
Labels: area/test

#9426 Update design system
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/app-preview/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/packages/shared/package.json
  src/studio/src/designer/frontend/packages/text-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: area/dashboard, solution/studio/designer

#9428 9422 text editor handle variables
  src/studio/src/designer/frontend/app-development/features/textEditor/TextEditor.tsx
  src/studio/src/designer/frontend/packages/text-editor/index.ts
  src/studio/src/designer/frontend/packages/text-editor/src/TextRow.module.css
  src/studio/src/designer/frontend/packages/text-editor/src/TextRow.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/types.d.ts
Labels: solution/studio/designer

#9429 Chore/text editor queryparam nav
  src/studio/src/designer/frontend/app-development/features/textEditor/TextEditor.tsx
  src/studio/src/designer/frontend/jest.config.js
Labels: solution/studio/designer

#9430 chore/replacing some icons in studio
  src/studio/src/designer/frontend/app-development/features/textEditor/TextEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaTreeView.tsx
  src/studio/src/designer/frontend/packages/shared/package.json
  src/studio/src/designer/frontend/packages/shared/src/navigation/main-header/__snapshots__/profileMenu.test.tsx.snap
  src/studio/src/designer/frontend/packages/shared/src/navigation/main-header/profileMenu.tsx
  src/studio/src/designer/frontend/yarn.lock
Labels: solution/studio/designer

#9431 bug/remove for ts checker plugin
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/webpack.common.js
  src/studio/src/designer/frontend/webpack.config.dev.js
  src/studio/src/designer/frontend/yarn.lock
Labels: solution/studio/designer

#9124 change all refs to altinn3.no changed to go to altinn.localhost
  src/studio/README.md
  src/studio/docker-compose.yml
  src/studio/src/designer/backend.Tests/Services/GiteaAPIWrapperTest.cs
  src/studio/src/designer/backend.Tests/Services/SchemaModelServiceTests.cs
  src/studio/src/designer/backend.Tests/Utils/TestDataHelper.cs
  src/studio/src/designer/backend.Tests/_TestData/Remote/ttd/apps-test/App/appsettings.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/apps-test-2021/App/appsettings.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/apps-test/App/appsettings.json
  src/studio/src/designer/backend/Properties/launchSettings.json
  src/studio/src/designer/backend/RepositoryClient/CustomApi/UserApiClient.cs
  src/studio/src/designer/backend/appsettings.json
  src/studio/src/designer/frontend/packages/shared/src/utils/attachmentsUtils.test.ts
  src/studio/src/designer/frontend/packages/shared/src/utils/urlHelper.test.ts
  src/studio/src/designer/frontend/packages/shared/src/utils/urlHelper.ts
  src/studio/src/load-balancer/nginx.conf.conf
  src/test/cypress/README.md
  src/test/cypress/e2e/config/local.json
Labels: solution/studio/designer, area/test

#9438 Chore/demo devops team
  src/studio/src/designer/frontend/app-development/services/appDevelopmentApi.ts
  src/studio/src/designer/frontend/app-development/services/languagesApi.ts
  src/studio/src/designer/frontend/app-development/services/textsApi.ts
Labels: solution/studio/designer

#9446 fix: give custom keywords least priority in calculation of occurs attributes
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/GeneralJsonSchemaConverter.cs
Labels: solution/studio/designer

#9441 switched from altinn.localhost to studio.localhost to improve scalability
  src/studio/README.md
  src/studio/docker-compose.yml
  src/studio/src/designer/backend.Tests/Services/GiteaAPIWrapperTest.cs
  src/studio/src/designer/backend.Tests/Services/SchemaModelServiceTests.cs
  src/studio/src/designer/backend.Tests/Utils/TestDataHelper.cs
  src/studio/src/designer/backend.Tests/_TestData/Remote/ttd/apps-test/App/appsettings.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/apps-test-2021/App/appsettings.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/apps-test/App/appsettings.json
  src/studio/src/designer/backend/Properties/launchSettings.json
  src/studio/src/designer/backend/RepositoryClient/CustomApi/UserApiClient.cs
  src/studio/src/designer/backend/appsettings.json
  src/studio/src/designer/frontend/packages/shared/src/utils/attachmentsUtils.test.ts
  src/studio/src/designer/frontend/packages/shared/src/utils/urlHelper.test.ts
  src/studio/src/designer/frontend/packages/shared/src/utils/urlHelper.ts
  src/studio/src/load-balancer/nginx.conf.conf
  src/test/cypress/README.md
  src/test/cypress/e2e/config/local.json
Labels: solution/studio/designer, area/test

#9447 9444 altinn studio move docker compose and docker setup for studio to…
  .dockerignore
  .github/labeler.yml
  .github/workflows/app-scan.yml
  .github/workflows/designer-dotnet-test.yaml
  .github/workflows/designer-scan.yml
  .github/workflows/repositories-scan.yml
  .gitignore
  Dockerfile
  README.md
  development/load-balancer/502Designer.html
  development/load-balancer/502Repo.html
  development/load-balancer/README.md
  development/load-balancer/nginx.conf.conf
  docker-compose.yml
  docs/CONTRIBUTING.md
  docs/LOCALAPP.md
  gitea/Dockerfile
  gitea/files/conf/app.ini
  gitea/files/options/locale/locale_nb-NO.ini
  gitea/files/public/img/altinn_logo_header.png
  gitea/files/public/img/favicon.png
  gitea/files/public/img/favicon.svg
  gitea/files/public/img/flower1.svg
  gitea/files/public/img/flower2.svg
  gitea/files/public/img/gitea-lg.png
  gitea/files/public/img/gitea-lg.svg
  gitea/files/public/img/gitea-sm.png
  gitea/files/public/img/logo.svg
  gitea/files/templates/base/footer_content.tmpl
  gitea/files/templates/base/head_navbar.tmpl
  gitea/files/templates/custom/extra_links.tmpl
  gitea/files/templates/custom/extra_links_footer.tmpl
  gitea/files/templates/home.tmpl
  src/studio/.dockerignore
  src/studio/README.md
  src/studio/docker-compose.dcproj
  src/studio/src/designer/Designer.sln
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/repositories/Dockerfile
  src/test/cypress/README.md
Labels: solution/studio/designer, solution/studio/repos, area/test

#9456 Bug/rendering flickering
  src/studio/src/designer/frontend/app-development/features/textEditor/TextEditor.tsx
  src/studio/src/designer/frontend/app-development/services/textsApi.ts
  src/studio/src/designer/frontend/packages/text-editor/index.ts
  src/studio/src/designer/frontend/packages/text-editor/src/LangSelector.module.css
  src/studio/src/designer/frontend/packages/text-editor/src/LangSelector.test.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/LangSelector.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/RightMenu.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/TextEditor.module.css
  src/studio/src/designer/frontend/packages/text-editor/src/TextEditor.test.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/TextEditor.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/TextList.test.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/TextList.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/TextRow.module.css
  src/studio/src/designer/frontend/packages/text-editor/src/TextRow.test.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/TextRow.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/Variables.module.css
  src/studio/src/designer/frontend/packages/text-editor/src/Variables.test.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/Variables.tsx
  src/studio/src/designer/frontend/packages/text-editor/src/constants.ts
  src/studio/src/designer/frontend/packages/text-editor/src/mutations.test.ts
  src/studio/src/designer/frontend/packages/text-editor/src/mutations.ts
  src/studio/src/designer/frontend/packages/text-editor/src/types.d.ts
  src/studio/src/designer/frontend/packages/text-editor/src/utils.test.ts
  src/studio/src/designer/frontend/packages/text-editor/src/utils.ts
Labels: solution/studio/designer

#9401 Add layout template of AppReceipt and standard texts in backend when app is created
  src/studio/AppTemplates/AspNet/App/config/process/process.bpmn
  src/studio/AppTemplates/AspNet/App/config/texts/resource.nb.json
  src/studio/AppTemplates/AspNet/App/ui/layouts/receipt.json
  src/studio/AppTemplates/AspNet/App/ui/settings.json
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
  src/studio/src/designer/frontend/packages/shared/src/types/global.ts
  src/studio/src/designer/frontend/packages/ux-editor/src/components/leftMenu/LeftMenu.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/leftMenu/ReceiptPageElement.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/components/leftMenu/ReceiptPageElement.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/features/formDesigner/formDesignerTypes.ts
  src/studio/src/designer/frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
  src/studio/src/designer/frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSlice.ts
Labels: solution/studio/designer, solution/app-backend

#9463 Adding a function we need for later
  src/studio/src/designer/frontend/packages/shared/src/pure/utils.test.ts
  src/studio/src/designer/frontend/packages/shared/src/pure/utils.ts
Labels: solution/studio/designer

#9466 remove 'app' in methods for updating receipt
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSlice.ts
Labels: area/ui-editor

#9475 chore/fixing altinn popper component
  frontend/app-development/features/administration/components/MainContent.tsx
  frontend/dashboard/features/createService/RepoNameInput.tsx
  frontend/dashboard/features/createService/ServiceOwnerSelector.tsx
  frontend/packages/shared/src/components/AltinnDropdown.tsx
  frontend/packages/shared/src/components/AltinnPopper.module.css
  frontend/packages/shared/src/components/AltinnPopper.tsx
  frontend/stats.js
Labels: area/dashboard, quality/debt, quality/engineering

#9476 Chore/fixing altinn spinner component
  frontend/app-development/features/administration/components/Administration.tsx
  frontend/app-development/features/administration/components/ResetRepoModal.tsx
  frontend/app-development/features/administration/components/ServiceAdministration.tsx
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
  frontend/app-development/features/textEditor/TextEditor.tsx
  frontend/dashboard/app/App.tsx
  frontend/dashboard/features/createService/CreateService.tsx
  frontend/dashboard/features/createService/ServiceOwnerSelector.tsx
  frontend/packages/shared/src/components/AltinnSpinner.module.css
  frontend/packages/shared/src/components/AltinnSpinner.tsx
  frontend/packages/shared/src/components/index.ts
  frontend/packages/text-editor/src/TextEditor.tsx
Labels: area/dashboard, area/app-deploy

#9480 chore: rename test helper methods
  src/studio/src/designer/DataModeling.Tests/BaseClasses/SchemaConversionTestsBase.cs
Labels: solution/studio/designer

#9479 Chore/fixing toolbaritems
  frontend/packages/ux-editor/src/components/leftMenu/ConfPageToolbar.tsx
  frontend/packages/ux-editor/src/components/toolbar/CollapsableMenuComponent.module.css
  frontend/packages/ux-editor/src/components/toolbar/CollapsableMenuComponent.tsx
  frontend/packages/ux-editor/src/components/toolbar/ToolbarItemComponent.module.css
  frontend/packages/ux-editor/src/components/toolbar/ToolbarItemComponent.tsx
Labels: area/ui-editor

#9477 9390 dashboard small adjustments on design
  frontend/dashboard/common/components/RepoList/RepoList.module.css
  frontend/dashboard/common/components/RepoList/RepoList.tsx
Labels: area/dashboard
