Repository Altinn/altinn-studio, pull requests merged in 2022-08, with the labels that each got.

#8744 Updated app insights registration for platform
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Program.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Program.cs
Labels: area/receipt, area/data-storage, solution/platform

#8735 Storage Functions using .net 6 and runtime v4
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Applications/function.json
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/BlobService.cs
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/DataElements/function.json
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/InstanceEvents/functions.json
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Instances/function.json
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Texts/function.json
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/host.json
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/local.settings.json
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
Labels: area/data-storage, solution/platform

#8747 Updated use case scripts and tests
  src/test/K6/src/tests/platform/storage/deleteinstances.js
  src/test/K6/src/tests/platform/storage/deleteinstances_v1.js
  src/test/K6/src/tests/platform/storage/messageboxinstances.js
  src/test/K6/src/tests/platform/storage/messageboxinstances_v1.js
  src/test/K6/use-cases-prod.yaml
  src/test/K6/use-cases.yaml
Labels: area/test

#8748 bugfix in use case
  src/test/K6/src/tests/platform/storage/deleteinstances.js
Labels: area/test

#8762 Update pom
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#8764 fixed breaking change in consoletraceservice
  src/studio/src/designer/backend/Configuration/ConsoleTraceService.cs
  src/studio/src/designer/backend/Designer.csproj
Labels: solution/studio/designer

#8763 chore: deps w31
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/backend/yarn.lock
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
  src/test/K6/package.json
  src/test/K6/yarn.lock
  src/test/cypress/package.json
  src/test/cypress/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer, area/test

#8766 add events to prod use case test
  src/test/K6/use-cases-prod.yaml
Labels: area/test

#8746 Downgraded .net 6 dep for ABAC
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
Labels: area/authorization, solution/platform

#8770 initial cleanup
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/packages/schema-editor/src/SchemaEditorApp.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/AddPropertyButton.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/CombinationSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/Editor.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/Editor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/EnumField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/InlineObject.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/ItemDataComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/PropertyItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/RefSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/ReferenceSelectionComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/RestrictionField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItemLabel.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbar.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TypeSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/__snapshots__/SchemaInspector.test.tsx.snap
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/types/enums.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/types/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/checks.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/checks.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/language.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/schema.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/schema.ts
Labels: solution/studio/designer

#8745 Updated app insight registration for auth-projects
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Program.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Program.cs
Labels: area/authorization, area/authentication, solution/platform

#8794 A little bit of patching week 32
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/Altinn.EFormidlingClient.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/Altinn.Platform.Models.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/development/loadbalancer/Dockerfile
Labels: area/authorization, area/pdf, solution/platform, solution/apps

#8806 8651 rewrite unit tests
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/packages/schema-editor/src/SchemaEditorApp.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/Editor.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/Editor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/ItemDataComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItemLabel.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbar.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbar.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbarButton.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/__snapshots__/SchemaInspector.test.tsx.snap
  src/studio/src/designer/frontend/packages/schema-editor/test/setupTests.ts
  src/studio/src/designer/frontend/yarn.lock
Labels: solution/studio/designer

#8811 add CORS headers to enable hotreload in dev
  src/studio/src/designer/frontend/app-development/webpack.config.development.js
Labels: solution/studio/designer

#8812 copy changes from app-template to studios app-template
  src/studio/AppTemplates/AspNet/App/Program.cs
Labels: solution/app-backend

#8804 8772 loading spinner logic
  src/studio/src/designer/frontend/packages/schema-editor/src/SchemaEditorApp.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/Editor.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/Editor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/store.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/DataModelling.tsx
Labels: solution/studio/designer

#8818 Removal of fileupload popover
  src/studio/src/designer/frontend/shared/components/FileSelector.test.tsx
  src/studio/src/designer/frontend/shared/components/FileSelector.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/XSDUpload.test.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/XSDUpload.tsx
Labels: solution/studio/designer

#8823 chore: Patch dotnet skd, dotnet aspnet, nginx and nodejs
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
  src/studio/src/load-balancer/Dockerfile
Labels: area/ui-editor, area/dashboard, solution/studio/designer, solution/apps

#8792 Update SERES json schema template to include required attributes on root type
  src/studio/src/designer/DataModeling.Tests/Templates/SeresJsonTemplateTests.cs
  src/studio/src/designer/DataModeling/Templates/seres.template.json
Labels: solution/studio/designer

#8819 Remove unnecessary styling
  src/studio/src/designer/frontend/shared/components/FileSelector.tsx
Labels: solution/studio/designer

#8825 8651 upgrade app development tests
  src/studio/src/designer/frontend/app-development/features/accessControl/containers/AccessControlContainer.test.tsx
  src/studio/src/designer/frontend/app-development/features/accessControl/containers/AccessControlContainer.tsx
  src/studio/src/designer/frontend/app-development/features/administration/components/ResetRepoModal.test.tsx
  src/studio/src/designer/frontend/app-development/features/administration/components/__snapshots__/ResetRepoModal.test.tsx.snap
  src/studio/src/designer/frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictAbort.test.tsx
  src/studio/src/designer/frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictDiscardChanges.test.tsx
  src/studio/src/designer/frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictFileList.test.tsx
  src/studio/src/designer/frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictFileList.tsx
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/app-development/test/setupTests.ts
  src/studio/src/designer/frontend/shared/components/AltinnPopover.tsx
  src/studio/src/designer/frontend/shared/version-control/versionControlHeader.tsx
  src/studio/src/designer/frontend/yarn.lock
Labels: solution/studio/designer

#8820 chore: rewrite dashboard tests from enzyme
  src/studio/src/designer/frontend/dashboard/common/components/Footer.test.tsx
  src/studio/src/designer/frontend/dashboard/common/components/MakeCopyModal.test.tsx
  src/studio/src/designer/frontend/dashboard/common/components/RepoList.test.tsx
  src/studio/src/designer/frontend/dashboard/common/components/RepoList.tsx
  src/studio/src/designer/frontend/dashboard/common/components/Resources.test.tsx
  src/studio/src/designer/frontend/dashboard/features/standaloneDataModelling/DataModelling.test.tsx
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/dashboard/test/setupTests.ts
  src/studio/src/designer/frontend/yarn.lock
Labels: area/dashboard, solution/studio/designer

#8817 8651 remove unnecessary async awaits and use user-events
  src/studio/src/designer/frontend/packages/schema-editor/src/components/Editor.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbar.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbarButton.test.tsx
Labels: solution/studio/designer

#8833 Chore/datamodelling remove default exports
  src/studio/src/designer/frontend/packages/schema-editor/README.md
  src/studio/src/designer/frontend/packages/schema-editor/src/SchemaEditorApp.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/SchemaEditorApp.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/Editor.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/InlineObject.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbar.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbar.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbarButton.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbarButton.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/schemaEditor.md
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/store.ts
  src/studio/src/designer/frontend/shared/components/FileSelector.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/DataModelling.tsx
Labels: solution/studio/designer

#8840 Allow users to add fields by pressing the enter key
  src/studio/src/designer/frontend/packages/schema-editor/src/components/EnumField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/PropertyItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
Labels: solution/studio/designer

#8846 chore: upgrade react-select, fix incorrect props and other noise
  src/studio/src/designer/frontend/app-development/features/appPublish/components/appReleaseComponent.tsx
  src/studio/src/designer/frontend/app-development/features/appPublish/components/createAppReleaseComponent.tsx
  src/studio/src/designer/frontend/app-development/features/appPublish/containers/releaseContainer.tsx
  src/studio/src/designer/frontend/app-development/features/appPublish/pages/deployPage.tsx
  src/studio/src/designer/frontend/app-development/features/handleMergeConflict/HandleMergeConflictContainer.tsx
  src/studio/src/designer/frontend/app-development/layout/AppBar.test.tsx
  src/studio/src/designer/frontend/app-development/layout/AppBar.tsx
  src/studio/src/designer/frontend/app-development/layout/LeftMenu.tsx
  src/studio/src/designer/frontend/app-development/layout/PageHeader.tsx
  src/studio/src/designer/frontend/app-development/layout/__snapshots__/AppBar.test.tsx.snap
  src/studio/src/designer/frontend/app-development/layout/appBarConfig.tsx
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/app/App.tsx
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/packages/schema-editor/src/components/Editor.test.tsx
  src/studio/src/designer/frontend/shared/components/molecules/AltinnInformationCardForChildren.tsx
  src/studio/src/designer/frontend/shared/components/organisms/AltinnAppHeader.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/SchemaSelect.tsx
  src/studio/src/designer/frontend/shared/file-editor/FileEditor.tsx
  src/studio/src/designer/frontend/shared/file-editor/MonacoEditorComponent.tsx
  src/studio/src/designer/frontend/shared/navigation/main-header/__snapshots__/appBar.test.tsx.snap
  src/studio/src/designer/frontend/shared/navigation/main-header/appBar.tsx
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/shared/version-control/syncModal.tsx
  src/studio/src/designer/frontend/ux-editor/App.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/ImageComponent.test.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/SelectionEditComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/rightMenu/ConfirmModal.tsx
  src/studio/src/designer/frontend/ux-editor/components/rightMenu/pages/PageElement.tsx
  src/studio/src/designer/frontend/ux-editor/containers/Container.tsx
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, area/dashboard, area/app-deploy, solution/studio/designer

#8843 Chore/8836 make schema inspector component stateless
  src/studio/src/designer/frontend/packages/schema-editor/src/components/ItemDataComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemPropertiesTab.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemPropertiesTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictionsTab.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictionsTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/types/index.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/checks.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/schema.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/schema.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/ui-schema-utils.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/renderWithRedux.tsx
Labels: solution/studio/designer

#8844 Add type property to objects in UI schema
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/schema.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/schema.ts
Labels: solution/studio/designer

#8852 Update deps altinn-pdf
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#8854 chore: upgrade deps w34
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer

#8847 Add endpoint for getting languages in app repository
  src/studio/src/designer/backend.Tests/Controllers/LanguagesControllerTests.cs
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/new-resource-format/App/config/texts/text.nb.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/new-resource-format/App/config/texts/text.nn.json
  src/studio/src/designer/backend/Controllers/LanguagesController.cs
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnGitRepository.cs
  src/studio/src/designer/backend/Infrastructure/ServiceRegistration.cs
  src/studio/src/designer/backend/Services/Implementation/LanguagesService.cs
  src/studio/src/designer/backend/Services/Interfaces/ILanguagesService.cs
Labels: solution/studio/designer

#8873 refactor: rewrite to function components
  src/studio/src/designer/frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
  src/studio/src/designer/frontend/app-development/features/appPublish/containers/releaseContainer.tsx
  src/studio/src/designer/frontend/app-development/features/appPublish/pages/deployPage.tsx
  src/studio/src/designer/frontend/app-development/features/handleMergeConflict/HandleMergeConflictContainer.tsx
  src/studio/src/designer/frontend/app-development/sharedResources/appRelease/types.ts
  src/studio/src/designer/frontend/app-development/test/testUtils.tsx
  src/studio/src/designer/frontend/shared/components/AltinnCheckBoxGroup.tsx
Labels: area/app-deploy, solution/studio/designer
