Repository Altinn/altinn-studio, pull requests merged in 2022-02, with the labels that each got.

#7869 Added ordering to csharp model generated from XSD
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/XsdToCSharpTests.cs
  src/studio/src/designer/backend.Tests/_TestData/Model/CSharp/Brønnøysundregistrene_ReelleRettighetshavere_M_2021-11-22_6900_46864_SERES.expected.csharp.txt
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Brønnøysundregistrene_ReelleRettighetshavere_M_2021-11-22_6900_46864_SERES.xsd
  src/studio/src/designer/backend.Tests/_TestData/ModelData/Brønnøysundregistrene_ReelleRettighetshavere_M_2021-11-22_6900_46864_SERES.CorrectOrder.xml
  src/studio/src/designer/backend.Tests/_TestData/ModelData/Brønnøysundregistrene_ReelleRettighetshavere_M_2021-11-22_6900_46864_SERES.IncorrectOrder.xml
  src/studio/src/designer/backend/Factories/ModelFactory/JsonMetadataParser.cs
Labels: solution/studio/designer

#7927 fix: missing dependencies for useEffect hook in dropdown component
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/DropdownComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/__snapshots__/DropdownComponent.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DropdownComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DropdownComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/store/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/testUtils.tsx
Labels: solution/app-frontend

#7930 bug/7919-empty-pdf-order
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
Labels: area/pdf, solution/platform

#7915 fix incorrect react hook usage for addresscomponent
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/advanced/AddressComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/advanced/AddressComponent.css
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/advanced/AddressComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/advanced/AddressComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/advanced/AddressLabel.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/testUtils.tsx
  src/Altinn.Apps/AppFrontend/react/yarn.lock
Labels: solution/app-frontend

#7863 feature/7227-app-owner-name-header
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/containers/__snapshots__/Presentation.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/confirm/Confirm.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/selectors/language.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/shared/resources/queue/appTaskQueueSagas.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/rules.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/presentation/Header.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/confirm/containers/Confirm.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/entrypoint/Entrypoint.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/receipt/containers/receiptContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/selectors/language.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/containers/Presentation.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/containers/ProcessWrapper.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/orgs/fetch/fetchOrgsActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/orgs/orgsActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/orgs/orgsReducers.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/appTask/appTaskQueueSagas.ts
  src/Altinn.Apps/AppFrontend/react/receipt/__tests__/utils/receipt.test.tsx
  src/Altinn.Apps/AppFrontend/react/receipt/src/features/receipt/containers/Receipt.tsx
  src/Altinn.Apps/AppFrontend/react/receipt/src/utils/receipt.ts
  src/Altinn.Apps/AppFrontend/react/shared/__tests__/utils/language.test.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/language.ts
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/TextUtils.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/utils/TextUtilsTest.java
  src/studio/src/designer/backend/Controllers/TextController.cs
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
  src/studio/src/designer/frontend/ux-editor/test/__tests__/components/config/EditModalContent.test.tsx
  src/studio/src/designer/frontend/ux-editor/test/__tests__/containers/EditContainer.test.tsx
  src/studio/src/designer/frontend/ux-editor/test/__tests__/utils/render.test.tsx
  src/test/cypress/e2e/integration/app-frontend/confirmation.js
  src/test/cypress/e2e/integration/app-frontend/mobile.js
  src/test/cypress/e2e/integration/app-frontend/receipt.js
Labels: area/ui-editor, solution/studio/designer, area/receipt, area/pdf, solution/platform, solution/app-frontend, area/test

#7909 bug/6709-duplicated-api-calls-designer
  src/studio/src/designer/frontend/app-development/App.tsx
  src/studio/src/designer/frontend/app-development/common/hooks/index.ts
  src/studio/src/designer/frontend/app-development/features/administration/components/Administration.tsx
  src/studio/src/designer/frontend/app-development/features/administration/components/MainContent.tsx
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/app-development/test/__tests__/Administration.test.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/App.test.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/__snapshots__/Administration.test.tsx.snap
  src/studio/src/designer/frontend/app-development/test/testUtils.tsx
  src/studio/src/designer/frontend/app-development/tsconfig.json
  src/studio/src/designer/frontend/app-development/webpack.common.js
  src/studio/src/designer/frontend/shared/components/AltinnSpinner.tsx
  src/test/cypress/e2e/pageobjects/designer.js
Labels: solution/studio/designer, area/test

#7937 reverted unintended key change
  src/studio/src/designer/frontend/app-development/features/administration/components/MainContent.tsx
Labels: solution/studio/designer

#7945 chore: post window message to update versionControlHeader when resetting repo
  src/studio/src/designer/frontend/app-development/sharedResources/repoStatus/reset/resetLocalRepoSagas.ts
Labels: solution/studio/designer

#7943 removed wait for repo status
  src/test/cypress/e2e/support/studio.js
Labels: area/test

#7961 updated dependencies for test projects
  src/test/K6/package.json
  src/test/K6/yarn.lock
  src/test/cypress/package.json
  src/test/cypress/yarn.lock
Labels: area/test

#7969 Bug: display new appName key in message box
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/InstanceHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/HelperTests/InstanceHelperTest.cs
Labels: area/data-storage, solution/platform

#7966 Chore/7848 add logging to source control service
  src/studio/src/designer/backend.Tests/Services/SourceControlLoggingDecoratorTests.cs
  src/studio/src/designer/backend/Controllers/SessionController.cs
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/designer/backend/Helpers/AuthenticationHelper.cs
  src/studio/src/designer/backend/Infrastructure/ServiceRegistration.cs
  src/studio/src/designer/backend/Services/Implementation/SourceControlLoggingDecorator.cs
Labels: solution/studio/designer

#7968 fix: add missing dependencies for useEffect hooks in datepicker
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/DatepickerComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DatepickerComponent.css
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DatepickerComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DatepickerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/appUrlHelper.test.ts
Labels: solution/app-frontend

#7977 chore: remove unused dependencies
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer

#7978 fix: add missing dependencies for useEffect hooks in receipt container
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/receipt.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/receipt/containers/ReceiptContainer.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/receipt/containers/ReceiptContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/containers/ProcessWrapper.tsx
Labels: area/receipt, solution/app-frontend

#7974 fix: add missing dependencies for useEffect hooks in radio button
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/RadioButtonsContainerComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/RadioButtonsContainerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/testUtils.tsx
Labels: solution/app-frontend

#7983 delegation test for inheritance
  src/test/K6/src/api/platform/authorization/delegations.js
  src/test/K6/src/tests/platform/authorization/delegations/delegations.js
  src/test/K6/src/tests/platform/authorization/delegations/inheritance.js
Labels: area/test

#7932 Added a check on DeletedByUserId in the Model Validation to prevent s…
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Models/RequestToDelete.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Json/DeletePolicies/ReadOrg1App3App4_50001337_20001337_NoDeletedBy.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Json/DeleteRules/ReadOrg1App3App4_50001337_20001337_NoDeletedBy.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/DelegationsControllerTest.cs
Labels: area/authorization, solution/platform

#7981 chore/7970-status-calls-designer
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/shared/test/__tests__/version-control/shareChanges.test.tsx
  src/studio/src/designer/frontend/shared/test/__tests__/version-control/versionControlHeader.test.tsx
  src/studio/src/designer/frontend/shared/utils/networking.ts
  src/studio/src/designer/frontend/shared/version-control/cloneModal.tsx
  src/studio/src/designer/frontend/shared/version-control/fetchChanges.tsx
  src/studio/src/designer/frontend/shared/version-control/shareChanges.tsx
  src/studio/src/designer/frontend/shared/version-control/versionControlHeader.tsx
  src/studio/src/designer/frontend/yarn.lock
Labels: solution/studio/designer

#7980 fix: add missing dependencies for useEffect hooks in confirm container
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/confirm/Confirm.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/confirm/containers/Confirm.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/confirm/containers/Confirm.tsx
Labels: solution/app-frontend

#7988 fixed tests after removal of status calls
  src/test/cypress/e2e/integration/studio/designer.js
  src/test/cypress/e2e/integration/studio/sync-app.js
  src/test/cypress/e2e/integration/usecase/usecase.js
Labels: area/test

#7904 Add lastChangedDate to PDF header
  src/Altinn.Platform/Altinn.Platform.PDF/Dockerfile
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/Instance.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/resources/language/en.json
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/resources/language/nb.json
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/resources/language/nn.json
Labels: area/pdf, solution/platform, external-contribution-❤️

#7991 fix: add missing dependencies for useEffect for checkbox component
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/containers/GroupContainer.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.tsx
Labels: solution/app-frontend

#7545 6479/FileUploadComponentWithTags
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/formLayoutStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/FileUploadComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/FileUploadWithTagComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/formComponentUtils.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/layout.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/FileUpload/FileUploadComponent.md
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/FileUpload/FileUploadComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/FileUpload/FileUploadWithTag/EditWindowComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/FileUpload/FileUploadWithTag/FileListComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/FileUpload/FileUploadWithTag/FileUploadWithTagComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/FileUpload/shared/DropzoneComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/FileUpload/shared/props.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/FileUpload/shared/render.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/AttachmentWithTagSummaryComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SummaryComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutSlice.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/attachments/attachmentActionTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/attachments/attachmentActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/attachments/attachmentReducer.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/attachments/attachmentSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/attachments/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/attachments/map/mapAttachmentsSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/attachments/update/updateAttachmentActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/attachments/update/updateAttachmentSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/attachments/upload/uploadAttachmentSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/appUrlHelper.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/attachment.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formComponentUtils.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formLayout.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
  src/Altinn.Apps/AppFrontend/react/shared/fallbackLanguage.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/en.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nb.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nn.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/types/index.ts
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/Data.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/InstanceUtils.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/LayoutUtils.java
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/shared/fallbackLanguage.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/FileUploadWithTagComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/index.ts
  src/studio/src/designer/frontend/ux-editor/types/global.ts
  src/studio/src/designer/frontend/ux-editor/utils/language.ts
Labels: area/ui-editor, solution/studio/designer, area/attachments, area/pdf, solution/platform, solution/app-frontend, external-contribution-❤️

#7982 use new app name key for pdf-title
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppBase.cs
Labels: solution/app-backend, area/api-use

#7996 bug: check that formdata has value
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.tsx
Labels: solution/app-frontend

#7997 fixed-typo-language-key of date_generated
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
Labels: area/pdf, solution/platform

#7998 unique build id for every test run
  .github/workflows/cypress-altinn-app-frontend.yml
Labels: area/test

#7993 Test/fix test for local studio
  src/test/cypress/README.md
  src/test/cypress/e2e/fixtures/builds.js
  src/test/cypress/e2e/fixtures/deploys.js
  src/test/cypress/e2e/fixtures/repo.js
  src/test/cypress/e2e/integration/setup/after.js
  src/test/cypress/e2e/integration/setup/before.js
  src/test/cypress/e2e/integration/studio/dashboard.js
  src/test/cypress/e2e/integration/studio/deploy.js
  src/test/cypress/e2e/integration/studio/designer.js
  src/test/cypress/e2e/pageobjects/header.js
  src/test/cypress/e2e/pageobjects/loginandreg.js
  src/test/cypress/e2e/support/gitea-api.js
  src/test/cypress/e2e/support/index.d.ts
  src/test/cypress/package.json
  src/test/cypress/yarn.lock
Labels: area/test

#8025 Feature/7976 patching w6
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Altinn.App.PlatformServices.Tests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/Altinn.EFormidlingClient.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/Altinn.Platform.Models.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/development/LocalTest/LocalTest.csproj
  src/studio/src/designer/DataModeling.Tests/DataModeling.Tests.csproj
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: solution/studio/designer, solution/app-backend, area/api-use, area/authorization, area/api-expose, area/profile, area/register, area/pdf, solution/platform, solution/apps

#8028 pushed stable apptemplate nugets
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend, area/api-use, area/api-expose

#8027 patched containers
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/repositories/Dockerfile
Labels: area/ui-editor, area/dashboard, solution/studio/designer, solution/studio/repos, area/authorization, area/authentication, area/receipt, area/profile, area/register, area/data-storage, solution/platform, solution/apps, solution/app-frontend, area/events

#8031 Reverted gitea patching
  src/studio/src/repositories/Dockerfile
Labels: solution/studio/repos

#8032 Upgrade gitea
  src/studio/src/repositories/Dockerfile
Labels: solution/studio/repos

#8037 Fixed error on langname
  src/studio/src/repositories/gitea-data/gitea/templates/base/footer_content.tmpl
Labels: solution/studio/repos

#8038 Feature/dashboard link
  src/studio/src/repositories/gitea-data/gitea/templates/base/head_navbar.tmpl
Labels: solution/studio/repos

#8041 Try to get home at landing-page
  src/studio/src/repositories/gitea-data/gitea/templates/base/head_navbar.tmpl
Labels: solution/studio/repos

#8045 bug: variables in texts not updated when calculation changes a field
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
Labels: solution/app-frontend

#8001 Fixed url and parameter separator logic in GetInstanceEvents
  src/development/LocalTest/Services/Storage/Implementation/InstanceEventRepository.cs
Labels: solution/app-backend, area/api-use

#8040 New altinn app-frontend-tests
  src/test/cypress/e2e/integration/app-frontend/components.js
  src/test/cypress/e2e/integration/app-frontend/receipt.js
  src/test/cypress/e2e/integration/app-frontend/stateless.js
  src/test/cypress/e2e/pageobjects/app-frontend.js
Labels: area/test

#8052 Extended platformUser with nationalIdentityNumber
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/PlatformUser.cs
Labels: area/data-storage, solution/platform

#8042 feature/7888-re-fetch-dynamic-options
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/common/hooks/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DropdownComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DropdownComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/FileUpload/FileUploadWithTag/FileUploadWithTagComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/RadioButtonsContainerComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/RadioButtonsContainerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/AttachmentWithTagSummaryComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/isLoading/options/fetch/fetchOptionsSagas.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/options/fetch/fetchOptionsActionTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/options/fetch/fetchOptionsActions.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/options/fetch/fetchOptionsActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/options/fetch/fetchOptionsSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/options/optionsActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/options/optionsReducer.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/options/optionsSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/appUrlHelper.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/appUrlHelper.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formComponentUtils.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formComponentUtils.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/options.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/options.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnSpinner.tsx
  src/test/cypress/e2e/integration/app-frontend/components.js
  src/test/cypress/e2e/integration/app-frontend/dynamics.js
  src/test/cypress/e2e/integration/app-frontend/mobile.js
  src/test/cypress/e2e/integration/app-frontend/options.js
  src/test/cypress/e2e/integration/app-frontend/texts.js
  src/test/cypress/e2e/pageobjects/app-frontend.js
Labels: solution/app-frontend, area/test

#7965 bug: GetRules returns unrelated rules
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Controllers/DecisionController.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Migration/v0.03/02-setup-procedures.sql
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Repositories/DelegationMetadataRepository.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Repositories/Interface/IDelegationMetadataRepository.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Services/Implementation/PolicyInformationPoint.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/MockServices/DelegationMetadataRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/MockServices/PolicyInformationPointMock.cs
Labels: area/authorization, solution/platform

#8057 New button style
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnButton.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/theme/commonTheme.tsx
  src/studio/src/designer/frontend/shared/theme/altinnAppTheme.tsx
  src/studio/src/designer/frontend/shared/theme/altinnReceiptTheme.tsx
  src/studio/src/designer/frontend/shared/theme/altinnStudioTheme.tsx
Labels: solution/studio/designer, ux/visual-design, ux/wcag, solution/app-frontend

#8082 chore/8048-deps-patching-frontend
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Apps/AppFrontend/react/yarn.lock
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/backend/yarn.lock
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
  src/test/K6/package.json
  src/test/K6/yarn.lock
  src/test/cypress/package.json
  src/test/cypress/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer, area/receipt, solution/app-frontend, area/test

#8059 Fix alignment of label grid so that padding match normal grid
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
Labels: solution/app-frontend, external-contribution-❤️

#8090 Show nothing to share message when user as no changes
  src/studio/src/designer/frontend/shared/types/index.d.ts
  src/studio/src/designer/frontend/shared/version-control/versionControlHeader.tsx
Labels: solution/studio/designer

#8055 Caching user profile retrieved from bridge
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Configuration/GeneralSettings.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Program.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Services/Decorators/UserProfileCachingDecorator.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Services/Implementation/UserProfilesWrapper.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/Utils/WebApplicationFactorySetup.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Testdata/UserProfile/2001606.json
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Testdata/UserProfile/2516356.json
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/UnitTests/UserProfileCachingDecoratorTest.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/UnitTests/UserProfilesWrapperTest.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/appsettings.json
Labels: area/authorization, area/profile, solution/platform

#7986 Add person lookup endpoint
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/IntegrationTests/HealthCheckTests.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/IntegrationTests/PersonsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/IntegrationTests/Utils/WebApplicationFactorySetup.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Mocks/DelegatingHandlerStub.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/UnitTests/PersonLookupCacheDecoratorTests.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/UnitTests/PersonLookupServiceTests.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/UnitTests/StringExtensionsTests.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Controllers/PersonsController.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Core/IPersonLookup.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Core/PersonLookupService.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Core/PersonLookupSettings.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Core/StringExtensions.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Core/TooManyFailedLookupsException.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Models/PersonLookupIdentifiers.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Program.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Services/PersonLookupCacheDecorator.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/appsettings.json
Labels: area/register, solution/platform

#8094 new app frontend tests
  src/test/cypress/e2e/fixtures/texts.json
  src/test/cypress/e2e/integration/app-frontend/components.js
  src/test/cypress/e2e/integration/app-frontend/mobile.js
  src/test/cypress/e2e/integration/app-frontend/options.js
  src/test/cypress/e2e/integration/app-frontend/summary.js
  src/test/cypress/e2e/integration/app-frontend/texts.js
  src/test/cypress/e2e/pageobjects/app-frontend.js
  src/test/cypress/e2e/support/app-frontend.js
Labels: area/test

#8097 Fixed default authentication method
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Model/OidcProvider.cs
Labels: area/authentication, solution/platform

#8100 fixed broken links for docs
  src/studio/src/designer/frontend/ux-editor/components/toolbar/InformationPanelComponent.tsx
  src/test/K6/README.md
Labels: area/ui-editor, solution/studio/designer, area/test

#8099 bug: show spinner during complete for confirm + show pdf
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__mocks__/instanceDataStateMock.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/confirm/containers/Confirm.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/confirm/containers/Confirm.tsx
Labels: solution/app-frontend

#7967 Feature/57588 function app for delegation events
  src/Altinn.Platform/Altinn.Platform.Authorization/Altinn.Platform.Authorization.sln
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/.gitignore
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Altinn.Platform.Authorization.Functions.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Clients/BridgeClient.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Configuration/KeyVaultSettings.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Configuration/PlatformSettings.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/DelegationEvents.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/DelegationEventsPoison.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Exceptions/BridgeRequestFailedException.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Models/DelegationChange.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Models/DelegationChangeEvent.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Models/DelegationChangeEventList.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Models/DelegationChangeEventType.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Models/PlatformDelegationEvent.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Properties/serviceDependencies.json
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Properties/serviceDependencies.local.json
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Services/AccessTokenProvider.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Services/EventPusherService.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Services/Interfaces/IAccessTokenProvider.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Services/Interfaces/IEventPusherService.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Services/Interfaces/IKeyVaultService.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Services/KeyVaultService.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/TelemetryInitializer.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/host.json
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/local.settings.json
Labels: area/authorization, solution/platform, area/events

#8101 bug/8096-texts-receipt
  src/Altinn.Apps/AppFrontend/react/receipt/src/features/receipt/Receipt.test.tsx
  src/Altinn.Apps/AppFrontend/react/receipt/src/features/receipt/Receipt.tsx
  src/Altinn.Apps/AppFrontend/react/receipt/src/features/receipt/hooks.ts
  src/Altinn.Apps/AppFrontend/react/receipt/src/resources/language.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/components/molecules/AltinnCollapsibleAttachments.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/en.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nb.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nn.ts
Labels: solution/studio/designer, area/receipt, solution/app-frontend

#8103 feat: use version 4.27.0 of app template
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend

#8092 feature/7893-secure-options-frontend
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/isLoading/options/fetch/fetchOptionsSagas.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/options/fetch/fetchOptionsSagas.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/options/fetch/fetchOptionsSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/appUrlHelper.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/appUrlHelper.ts
Labels: solution/app-frontend

#8117 Updated most NuGet package references
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Altinn.App.PlatformServices.Tests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/AppRef.csproj
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/Altinn.EFormidlingClient.Tests.csproj
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/Altinn.EFormidlingClient.csproj
  src/Altinn.Common/Authentication/Altinn.Common.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Altinn.Authorization.ABAC/Altinn.Authorization.ABAC.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Functions/Altinn.Platform.Events.Functions.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/Altinn.Platform.Models.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Models/Altinn.Platform.Models.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/studio/src/designer/DataModeling.Tests/DataModeling.Tests.csproj
  src/studio/src/designer/DataModeling/DataModeling.csproj
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: solution/studio/designer, solution/app-backend, area/api-use, area/authorization, area/api-expose, area/authentication, area/receipt, area/profile, area/register, area/data-storage, solution/platform, solution/apps, area/events

#8123 Storage to .Net 6
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/ApplicationsController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/AuthorizationHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/InstanceHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Program.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/ApplicationRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Health/HealthCheckTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/HelperTests/AuthorizeInstancesHelperTest.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/ApplicationsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/DataControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstanceEventsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstancesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/MessageboxInstancesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/ProcessControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/TextsControllerTests.cs
Labels: area/data-storage, solution/platform

#8120 Improve person lookup endpoint summary text
  src/Altinn.Platform/Altinn.Platform.Register/Register/Controllers/PersonsController.cs
  src/development/LocalTest/Controllers/Register/PersonsController.cs
Labels: area/register, solution/platform

#8122 Update to .Net 6 SDK
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
Labels: area/profile, area/register, solution/platform, solution/apps

#8125 bug/data-name-layout
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/fetch/fetchFormLayoutSagas.ts
Labels: solution/app-frontend

#8131 bug/8130-address-component-post-place
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/advanced/AddressComponent.tsx
  src/test/cypress/e2e/integration/app-frontend/components.js
  src/test/cypress/e2e/pageobjects/app-frontend.js
Labels: solution/app-frontend, area/test

#8124 Fixed warnings from .net 6 upgrade
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Services/SasTokenProvider.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Authorization/StorageAccessHandler.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/ApplicationsController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/DataController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/ProcessController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/TextsController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/AuthorizationHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/DataElementHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Program.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/ApplicationRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/DataRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/SasTokenProvider.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/TextRepository.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Health/HealthCheckTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/PDPMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/InstanceRepositoryMock.cs
Labels: area/data-storage, solution/platform

#8132 chore: ignore unsupported components from pdf-generation
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
Labels: area/pdf, solution/platform

#8135 fix: add try/catch around problematic area in the code.
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/ApplicationRepository.cs
Labels: area/data-storage, solution/platform
