Repository Altinn/altinn-studio, pull requests merged in 2022-06, with the labels that each got.

#8580 Updated models related to autodeletion of data element
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/ApplicationLogic.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/DataElement.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/DeleteStatus.cs
Labels: area/data-storage, solution/platform

#8594 chore: backend patching for designer
  src/development/LocalTest/LocalTest.csproj
  src/studio/src/designer/backend/Designer.csproj
Labels: solution/studio/designer

#8593 chore: frontend deps w22
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Apps/AppFrontend/react/yarn.lock
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/backend/yarn.lock
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
  src/test/K6/package.json
  src/test/K6/yarn.lock
  src/test/cypress/cypress.config.js
  src/test/cypress/cypress.json
  src/test/cypress/e2e/plugins/index.js
  src/test/cypress/package.json
  src/test/cypress/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer, area/receipt, solution/app-frontend, area/test

#8598 chore: removed deprecated cypress option
  src/test/cypress/cypress.config.js
Labels: area/test

#8578 New K6 tests in platform.authorization to test PDP decision
  src/test/K6/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  src/test/K6/src/api/platform/authorization/authorization.js
  src/test/K6/src/config.js
  src/test/K6/src/setup.js
  src/test/K6/src/tests/platform/authorization/delegations/inheritancev2.js
Labels: area/test

#8603 fixed logic in setup
  src/test/K6/src/setup.js
Labels: area/test

#8616 patching backend dependencies
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Authentication/Altinn.Common.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
Labels: area/authorization, area/authentication, area/receipt, area/data-storage, area/pdf, solution/platform

#8617 set partition key if one party
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
Labels: area/data-storage, solution/platform

#8618 bugfix instance repository logic
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/InstanceRepository.cs
Labels: area/data-storage, solution/platform

#8605 reworked k6 logic for retrieving instances for deletion
  src/test/K6/src/support.js
  src/test/K6/src/tests/platform/storage/deleteinstances_v1.js
Labels: area/test

#8592 Support for delayed delete of data element in Storage
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/DataController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/InstancesController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/ApplicationRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/ServiceCollectionExtensions.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/DataControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstancesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/apps/tdd/endring-av-navn/applicationmetadata.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/apps/tdd/endring-av-navn/appsettings.Development.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/apps/tdd/endring-av-navn/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/apps/tdd/endring-av-navn/config/process/process.bpmn
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/apps/tdd/endring-av-navn/models/Skjema.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/apps/tdd/endring-av-navn/models/default.metadata.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/apps/tdd/endring-av-navn/models/default.prefill.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/apps/ttd/autodelete-data-app/config/applicationmetadata.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/apps/ttd/autodelete-data-app/config/authorization/policy.xml
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/blob/ttd/autodelete-data-app/4914257c-9920-47a5-a37a-eae80f950767/data/887c5e56-6f73-494a-9730-6ebd11bffe88
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/dataelements/1336b773-4ae2-4bdf-9529-d71dfc1c8b43.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/dataelements/887c5e56-6f73-494a-9730-6ebd11bffe30.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/dataelements/887c5e56-6f73-494a-9730-6ebd11bffe88.json
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/4914257c-9920-47a5-a37a-eae80f950767.json
Labels: area/data-storage, solution/platform

#8622 patched kuberneteswrapper
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
Labels: solution/apps

#8623 Added latest platform changes to localtest
  src/development/LocalTest/Controllers/Storage/ApplicationsController.cs
  src/development/LocalTest/Controllers/Storage/DataController.cs
  src/development/LocalTest/Controllers/Storage/InstancesController.cs
  src/development/LocalTest/Controllers/Storage/ProcessController.cs
  src/development/LocalTest/Helpers/ContentDispositionHeaderValueExtensions.cs
  src/development/LocalTest/LocalTest.csproj
  src/development/LocalTest/Services/Authorization/Implementation/PolicyInformationRepository.cs
  src/development/LocalTest/Services/Storage/Implementation/InstanceRepository.cs
  src/development/LocalTest/Services/Storage/Interface/IInstanceRepository.cs
Labels: area/data-storage, solution/platform

#8624 Removed auto-generation of datatype in ApplicationsController
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/ApplicationsController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Mocks/Repository/TextRepositoryMock.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/ApplicationsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/TextsControllerTests.cs
  src/development/LocalTest/Controllers/Storage/ApplicationsController.cs
Labels: area/data-storage, solution/platform

#8643 Alpine 3.16
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
Labels: area/receipt, area/data-storage, solution/platform, solution/apps

#8627 Removed profile source code
  .github/dependabot.yaml
  .github/labeler.yml
  .github/workflows/profile-scan.yml
  README.md
  src/Altinn.Platform/Altinn.Platform.Profile/.dockerignore
  src/Altinn.Platform/Altinn.Platform.Profile/Altinn.Platform.Profile.sln
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Configuration/CustomTelemetryInitializer.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Configuration/GeneralSettings.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Controllers/ErrorController.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Controllers/UsersController.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Filters/IdentityTelemetryFilter.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Health/HealthCheck.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Health/HealthTelemetryFilter.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Program.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Properties/launchSettings.json
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Services/Decorators/UserProfileCachingDecorator.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Services/Implementation/UserProfilesWrapper.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Services/Interfaces/IUserProfiles.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/appsettings.Development.json
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/appsettings.Staging.json
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/GlobalSuppressions.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/ErrorHandlingTests.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/HealthCheckTests.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/Mocks/Authentication/ConfigurationManagerStub.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/Mocks/Authentication/JwtCookiePostConfigureOptionsStub.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/Mocks/SigningKeyResolverMock.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/OpenApiSpecificationTests.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/UserProfileTests.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/Utils/JwtGenerator.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/Utils/PrincipalUtil.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/Utils/WebApplicationFactorySetup.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/JWTValidationCert.cer
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Mocks/DelegatingHandlerStub.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Testdata/TestDataLoader.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Testdata/UserProfile/2001606.json
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Testdata/UserProfile/2001607.json
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Testdata/UserProfile/2516356.json
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/UnitTests/UserProfileCachingDecoratorTest.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/jwtselfsignedcert.pfx
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/skd-org.pem
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/skd-org.pfx
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/ttd-org.pem
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/ttd-org.pfx
  src/Altinn.Platform/Altinn.Platform.Profile/docker-compose.dcproj
  src/Altinn.Platform/Altinn.Platform.Profile/docker-compose.yml
  src/Altinn.Platform/README.md
Labels: area/profile, solution/platform

#8659 fix: PDF generation fails when using PrintButton or Panel components
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/TextResourceBindings.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/LayoutUtils.java
Labels: area/pdf, solution/platform

#8663 patched gitea
  src/studio/src/repositories/Dockerfile
Labels: solution/studio/repos

#8652 Check for pending builds after 5 mins
  src/studio/src/designer/backend/Controllers/DeploymentsController.cs
Labels: area/app-deploy, solution/studio/designer

#8649 Updated inheritancev2.js to work in tt02
  src/test/K6/src/tests/platform/authorization/delegations/inheritancev2.js
Labels: area/test

#8661 reorganized k6 delegations tests
  src/test/K6/src/Helpers/TestdataHelper.js
  src/test/K6/src/api/platform/authorization/delegations.js
  src/test/K6/src/tests/platform/authorization/delegations/delegationsv2.js
  src/test/K6/src/tests/platform/authorization/delegations/inheritancev2.js
Labels: area/test

#8674 Feature/15 cleanup dataelements
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/NightlyCleanupDataElements.cs
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Services/CosmosService.cs
Labels: area/data-storage, solution/platform

#8675 Feature/15 cleanup dataelements
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/NightlyCleanupDataElements.cs
Labels: area/data-storage, solution/platform

#8662 Fixed so logout for iss also works when it has timed out
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/LogoutController.cs
Labels: area/authentication, solution/platform

#8562 Support switching to local js/css from an option in LocalTest
  src/development/LocalTest/Controllers/HomeController.cs
  src/development/LocalTest/Models/FrontendVersion.cs
  src/development/LocalTest/Models/StartAppModel.cs
  src/development/LocalTest/Views/Home/FrontendVersion.cshtml
  src/development/LocalTest/Views/Home/Index.cshtml
  src/development/LocalTest/Views/Home/Privacy.cshtml
  src/development/docker-compose.yml
  src/development/loadbalancer/Dockerfile
  src/development/loadbalancer/nginx.conf
Labels: external-contribution-❤️

#8687 Bump container image for AuthN and AuthZ
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
Labels: area/authorization, area/authentication, solution/platform

#8686 Bump spring framework boot
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#8647 chore: update alpine version (deps w24)
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
Labels: area/ui-editor, area/dashboard, solution/studio/designer, area/receipt, solution/app-frontend
