Repository Altinn/altinn-studio, pull requests merged in 2022-10, with the labels that each got.

#9039 Replace makeStyles with CSS
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/InlineObject.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/InlineObject.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/RefSelect.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/RefSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/StyledSelect.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/StyledSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbar.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbar.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbarButton.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbarButton.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbarButton.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItem.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaTreeView.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaTreeView.tsx
Labels: solution/studio/designer

#9040 fix: type conversion
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/CsharpEnd2EndGenerationTests.cs
  src/studio/src/designer/backend/Factories/ModelFactory/JsonSchemaToMetamodelConverter.cs
Labels: solution/studio/designer

#9041 9028 datamodellering reimplement support for converting between array and regular field
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ReferenceSelectionComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/helpers/options.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-model/README.md
  src/studio/src/designer/frontend/packages/schema-model/src/index.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/build-json-schema.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/build-ui-schema.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mappers/custom-properties.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mappers/custom-properties.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mappers/field-type.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mappers/field-type.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mappers/generic.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mappers/generic.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mappers/required.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mappers/required.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/create-node.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/create-node.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/promote-node.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/promote-node.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/remove-node.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/remove-node.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/rename-node.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/rename-node.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/toggle-array-field.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/toggle-array-fields.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/restrictions.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/types.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/utils.ts
  src/studio/src/designer/frontend/packages/schema-model/test/testUtils.ts
Labels: solution/studio/designer

#9042 Update design system to version 0.11.1
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: solution/studio/designer

#9049 9043 datamodelling frontend bug hunt
  src/studio/src/designer/frontend/packages/schema-editor/README.md
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/CombinationSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/Divider.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/InlineObject.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/RefSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/RestrictionField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/TypeSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/ArrayRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/ObjectRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaTreeView.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/tree-view-helpers.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Divider.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Divider.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Fieldset.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Fieldset.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Label.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Label.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/StyledSelect.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/StyledSelect.tsx
  src/studio/src/designer/frontend/packages/schema-model/src/lib/build-json-schema.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/promote-node.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/restrictions.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/utils.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/utils.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/DataModelling.test.tsx
Labels: solution/studio/designer

#9050 Include markdown handling in converter
  src/studio/src/designer/backend.Tests/Controllers/ConvertTextsControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/TextsControllerTests.cs
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/convert-texts/App/config/texts/resource.nb.json
  src/studio/src/designer/backend/Controllers/ConvertV1TextsToV2Controller.cs
  src/studio/src/designer/backend/Controllers/TextsController.cs
  src/studio/src/designer/backend/Infrastructure/ServiceRegistration.cs
  src/studio/src/designer/backend/Services/Implementation/ConvertTextsService.cs
  src/studio/src/designer/backend/Services/Implementation/TextsService.cs
  src/studio/src/designer/backend/Services/Interfaces/IConvertTextsService.cs
  src/studio/src/designer/backend/Services/Interfaces/ITextsService.cs
Labels: solution/studio/designer

#9045 feat: xml text for simple content extension
  src/studio/src/designer/DataModeling.Tests/Assertions/JsonSchemaAssertions.cs
  src/studio/src/designer/DataModeling.Tests/Json/Keywords/XsdTextKeywordJsonConverterTests.cs
  src/studio/src/designer/DataModeling.Tests/Json/Keywords/XsdTextKeywordTests.cs
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/General/SimpleContentExtension.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/General/SimpleContentRestriction.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/Seres/SeresSimpleContentRestriction.json
  src/studio/src/designer/DataModeling/Converter/Xml/XmlSchemaToJsonSchemaConverter.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdTextKeyword.cs
  src/studio/src/designer/DataModeling/Utils/JsonSchemaXsdExtensions.cs
  src/studio/src/designer/backend.Tests/Assertions/TypeAssertions.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/CsharpEnd2EndGenerationTests.cs
  src/studio/src/designer/backend.Tests/_TestData/Model/Metadata/schema_5064_1_forms_5793_42882.metadata.json
  src/studio/src/designer/backend/Factories/ModelFactory/JsonSchemaToMetamodelConverter.cs
Labels: solution/studio/designer

#9061 Types in add menu
  src/studio/src/designer/frontend/app-development/webpack.config.development.js
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/ActionMenu.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/ActionMenu.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/ActionMenu.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Icon.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Icon.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Icon.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/icons/array.svg
  src/studio/src/designer/frontend/packages/schema-editor/src/components/icons/boolean.svg
  src/studio/src/designer/frontend/packages/schema-editor/src/components/icons/combination.svg
  src/studio/src/designer/frontend/packages/schema-editor/src/components/icons/definition.svg
  src/studio/src/designer/frontend/packages/schema-editor/src/components/icons/element.svg
  src/studio/src/designer/frontend/packages/schema-editor/src/components/icons/number.svg
  src/studio/src/designer/frontend/packages/schema-editor/src/components/icons/object.svg
  src/studio/src/designer/frontend/packages/schema-editor/src/components/icons/property.svg
  src/studio/src/designer/frontend/packages/schema-editor/src/components/icons/reference.svg
  src/studio/src/designer/frontend/packages/schema-editor/src/components/icons/string.svg
Labels: solution/studio/designer

#9064 Added missing parameters to helper functions to fix failing k6 tests.
  src/test/K6/src/Helpers/TestdataHelper.js
  src/test/K6/src/tests/platform/authorization/delegations/delegationsv2.js
  src/test/K6/src/tests/platform/authorization/delegations/inheritancev2.js
Labels: area/test

#9063 9055 datamodell context menu is not correct
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/packages/schema-editor/README.md
  src/studio/src/designer/frontend/packages/schema-editor/src/SchemaEditorApp.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TopToolbarButton.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItem.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaTreeView.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-model/README.md
  src/studio/src/designer/frontend/packages/schema-model/src/index.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/build-json-schema.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/capabilities.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/capabilities.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/create-node.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/promote-node.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/promote-node.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/rename-node.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/sort-nodes.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/sort-nodes.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/selectors.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/selectors.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/utils.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/utils.ts
  src/studio/src/designer/frontend/packages/schema-model/test/testUtils.ts
  src/studio/src/designer/frontend/shared/components/molecules/AltinnMenu.tsx
  src/studio/src/designer/frontend/shared/components/molecules/AltinnMenuItem.tsx
Labels: solution/studio/designer

#9072 9069 datamodelling frontend should support older versions of json sch…
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/settings.ts
  src/studio/src/designer/frontend/packages/schema-model/src/index.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/build-json-schema.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/build-ui-schema.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/build.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/capabilities.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/constants.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mappers/custom-properties.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mappers/generic.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/promote-node.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/rename-node.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/sort-nodes.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/sort-nodes.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/selectors.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/types.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/utils.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/utils.ts
  src/studio/src/designer/frontend/packages/schema-model/test/old-schema.json
  src/studio/src/designer/frontend/packages/schema-model/test/testUtils.ts
Labels: solution/studio/designer

#9077 Consistent CSS class naming
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Icon.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Icon.tsx
Labels: solution/studio/designer

#9082 Add options with correct formatting and encoding to jsonSerializer
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnAppGitRepository.cs
Labels: solution/studio/designer

#9074 575 datamodelling move properties
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemPropertiesTab.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemPropertiesTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/DnDWrapper.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaTreeView.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/dnd-helpers.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/dnd-helpers.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-model/package.json
  src/studio/src/designer/frontend/packages/schema-model/src/index.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mappers/field-type.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mappers/required.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/create-node.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/promote-node.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/remove-node.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/toggle-array-field.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/selectors.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/selectors.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/utils.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/utils.ts
  src/studio/src/designer/frontend/packages/schema-model/test/testUtils.ts
  src/studio/src/designer/frontend/packages/schema-model/tsconfig.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/shared/pure/array-functions.test.ts
  src/studio/src/designer/frontend/shared/pure/array-functions.ts
  src/studio/src/designer/frontend/shared/pure/index.ts
  src/studio/src/designer/frontend/shared/pure/utils.ts
  src/studio/src/designer/frontend/ux-editor/containers/DesignView.tsx
  src/studio/src/designer/frontend/ux-editor/containers/helpers/array-functions.test.ts
  src/studio/src/designer/frontend/ux-editor/utils/arrayHelpers/arrayLogic.test.ts
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer

#9085 Make enum fields only appear when relevant
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
Labels: solution/studio/designer

#9086 refactor: controller tests refactor
  src/studio/src/designer/backend.Tests/Controllers/ApiTests/ApiTestsBase.cs
  src/studio/src/designer/backend.Tests/Controllers/DataModelsController/AddXsdTests.cs
  src/studio/src/designer/backend.Tests/Controllers/DataModelsController/DatamodelsControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/DataModelsController/DeleteDatamodelTests.cs
  src/studio/src/designer/backend.Tests/Controllers/DataModelsController/GetDatamodelTests.cs
  src/studio/src/designer/backend.Tests/Controllers/DataModelsController/GetDatamodelsTests.cs
  src/studio/src/designer/backend.Tests/Controllers/DataModelsController/GetTests.cs
  src/studio/src/designer/backend.Tests/Controllers/DataModelsController/NonAuthenticatedCallsTests.cs
  src/studio/src/designer/backend.Tests/Controllers/DataModelsController/PostTests.cs
  src/studio/src/designer/backend.Tests/Controllers/DataModelsController/PutDatamodelTests.cs
  src/studio/src/designer/backend.Tests/Controllers/DataModelsController/UpdateDatamodelTests.cs
  src/studio/src/designer/backend.Tests/Controllers/DataModelsController/UploadTests.cs
  src/studio/src/designer/backend.Tests/Controllers/DataModelsController/Utils/MockUtils.cs
  src/studio/src/designer/backend.Tests/Controllers/DeploymentsControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/LanguagesControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/ReleasesControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/RepositoryControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/RepositorySettingsControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/SessionControllerTest.cs
  src/studio/src/designer/backend.Tests/Controllers/TextsControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/UserControllerTests.cs
Labels: solution/studio/designer

#9091 Use normal select box for type selection
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/TypeSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Label.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Select.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Select.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Select.tsx
Labels: solution/studio/designer

#9099 9083 refactor array structure in UI schema
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/ArrayRestrictions.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/ArrayRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictions.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/ObjectRestrictions.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/ObjectRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/tree-view-helpers.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-model/src/index.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/build-json-schema.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/build-ui-schema.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/build.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/capabilities.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mappers/custom-properties.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mappers/field-type.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mappers/field-type.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mappers/generic.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/create-node.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/create-node.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/remove-node.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/toggle-array-field.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/toggle-array-fields.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/restrictions.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/selectors.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/types.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/utils.ts
  src/studio/src/designer/frontend/packages/schema-model/test/testUtils.ts
Labels: solution/studio/designer

#9105 Normal select box for combination selection
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/CombinationSelect.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/CombinationSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
Labels: solution/studio/designer

#9107 9056 upgrade react monaco editor to latest version
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: solution/studio/designer

#9106 7241 node stays closed when adding a child in data model editor
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaTreeView.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
Labels: solution/studio/designer

#9104 Normal select box for reference selection
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/app-development/webpack.config.development.js
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/RefSelect.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/RefSelect.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ReferenceSelectionComponent.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ReferenceSelectionComponent.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ReferenceSelectionComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Select.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Select.tsx
Labels: solution/studio/designer

#9068 Feat/7246 autosave schema editor
  src/studio/src/designer/backend/Controllers/DatamodelsController.cs
  src/studio/src/designer/backend/Services/Implementation/SchemaModelService.cs
  src/studio/src/designer/backend/Services/Interfaces/ISchemaModelService.cs
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/packages/schema-editor/src/SchemaEditorApp.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSaga.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSaga.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/sagas.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/store.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/DataModelling.tsx
  src/studio/src/designer/frontend/shared/utils/networking.test.ts
  src/studio/src/designer/frontend/shared/utils/networking.ts
  src/studio/src/designer/frontend/yarn.lock
Labels: solution/studio/designer

#9112 7249 deleting a definition does not clean up references
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaTreeView.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/index.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/build-json-schema.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/capabilities.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/create-node.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/create-node.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/promote-node.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/promote-node.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/remove-node.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/mutations/rename-node.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/selectors.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/selectors.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/utils.ts
Labels: solution/studio/designer

#9115 9108 clicking on a type in tree view should openfocus that specific type
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
Labels: solution/studio/designer

#9116 Make focus and select behave correctly when adding fields
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/hooks/usePrevious.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/ui-schema-utils.ts
  src/studio/src/designer/frontend/packages/schema-editor/test/renderWithRedux.tsx
Labels: solution/studio/designer

#9121 Update design system
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: solution/studio/designer

#9119 9118 housekeeping remove unused code from frontend
  src/studio/src/designer/frontend/app-development/sharedResources/appRelease/create/createAppReleaseSagas.ts
  src/studio/src/designer/frontend/app-development/sharedResources/appRelease/get/getAppReleasesSagas.ts
  src/studio/src/designer/frontend/app-development/sharedResources/user/permissions/permissionsSaga.ts
  src/studio/src/designer/frontend/app-development/utils/networking.ts
  src/studio/src/designer/frontend/shared/components/AltinnBreadcrumb.md
  src/studio/src/designer/frontend/shared/components/AltinnBreadcrumb.tsx
  src/studio/src/designer/frontend/shared/components/AltinnCollapsableList.md
  src/studio/src/designer/frontend/shared/components/AltinnCollapsableList.tsx
  src/studio/src/designer/frontend/shared/components/AltinnIconButton.tsx
  src/studio/src/designer/frontend/shared/components/AltinnLogo.test.tsx
  src/studio/src/designer/frontend/shared/components/AltinnLogo.tsx
  src/studio/src/designer/frontend/shared/components/AltinnSearchInput.tsx
  src/studio/src/designer/frontend/shared/components/AltinnSwitch.tsx
  src/studio/src/designer/frontend/shared/components/atoms/AltinnAttachment.md
  src/studio/src/designer/frontend/shared/components/atoms/AltinnAttachment.tsx
  src/studio/src/designer/frontend/shared/components/atoms/AltinnContentIconFormData.tsx
  src/studio/src/designer/frontend/shared/components/atoms/AltinnContentIconReceipt.tsx
  src/studio/src/designer/frontend/shared/components/molecules/AltinnCollapsibleAttachments.md
  src/studio/src/designer/frontend/shared/components/molecules/AltinnCollapsibleAttachments.tsx
  src/studio/src/designer/frontend/shared/components/molecules/AltinnModal.md
  src/studio/src/designer/frontend/shared/components/molecules/AltinnModal.tsx
  src/studio/src/designer/frontend/shared/components/organisms/AltinnAppHeader.md
  src/studio/src/designer/frontend/shared/components/organisms/AltinnAppHeader.tsx
  src/studio/src/designer/frontend/shared/components/organisms/AltinnReceipt.md
  src/studio/src/designer/frontend/shared/components/organisms/AltinnReceipt.tsx
  src/studio/src/designer/frontend/shared/components/organisms/organisms.md
  src/studio/src/designer/frontend/shared/navigation/drawer/AltinnIcon.tsx
  src/studio/src/designer/frontend/shared/theme/altinnReceiptTheme.tsx
  src/studio/src/designer/frontend/shared/types/global.ts
  src/studio/src/designer/frontend/shared/utils/getRepoTypeFromLocation.ts
  src/studio/src/designer/frontend/shared/utils/getRepoTypeFromName.ts
  src/studio/src/designer/frontend/shared/utils/party.ts
  src/studio/src/designer/frontend/ux-editor/features/appData/appDataSagas.ts
  src/studio/src/designer/frontend/ux-editor/features/formDesigner/formLayout/formLayoutSagas.ts
  src/studio/src/designer/frontend/ux-editor/features/serviceConfigurations/manageServiceConfigurations/manageServiceConfigurationSagas.ts
  src/studio/src/designer/frontend/ux-editor/utils/datamodel.ts
  src/studio/src/designer/frontend/ux-editor/utils/networking.ts
Labels: area/ui-editor, solution/studio/designer

#9123 Change command in test job in designer-wf to 'dotnet test...'
  .github/workflows/designer-dotnet-test.yaml
Labels: kind/bug, team/studio

#9117 feat: support date restrictions
  src/studio/src/designer/DataModeling.Tests/Json/Keywords/FormatRange/Converter/FormatExclusiveMaximumKeywordJsonConverterConverterTests.cs
  src/studio/src/designer/DataModeling.Tests/Json/Keywords/FormatRange/Converter/FormatExclusiveMinimumKeywordJsonConverterConverterTests.cs
  src/studio/src/designer/DataModeling.Tests/Json/Keywords/FormatRange/Converter/FormatMaximumKeywordJsonConverterConverterTests.cs
  src/studio/src/designer/DataModeling.Tests/Json/Keywords/FormatRange/Converter/FormatMinimumKeywordJsonConverterConverterTests.cs
  src/studio/src/designer/DataModeling.Tests/Json/Keywords/FormatRange/Converter/FormatRangeConverterTestBase.cs
  src/studio/src/designer/DataModeling.Tests/Json/Keywords/FormatRange/Keyword/FormatExclusiveMaximumKeywordTests.cs
  src/studio/src/designer/DataModeling.Tests/Json/Keywords/FormatRange/Keyword/FormatExclusiveMinimumKeywordTests.cs
  src/studio/src/designer/DataModeling.Tests/Json/Keywords/FormatRange/Keyword/FormatMaximumKeywordTests.cs
  src/studio/src/designer/DataModeling.Tests/Json/Keywords/FormatRange/Keyword/FormatMinimumKeywordTests.cs
  src/studio/src/designer/DataModeling.Tests/Json/Keywords/FormatRange/Keyword/FormatRangeKeywordTestsBase.cs
  src/studio/src/designer/DataModeling.Tests/Seres2JsonSchema2SeresTests.cs
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_1266-42897.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_1266-43710.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_1266-44775.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_3106-39629.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_3124-39627.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_3228-39613.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_3238-39623.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_3373-36491.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_3428-39614.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_3430-39615.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_4213-39628.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_6199-44481.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_6301-45717.xsd
  src/studio/src/designer/DataModeling.Tests/_TestData/Seres/schema_RR-0200 Mellombalanse_M_2020-05-18_6301_45717_SERES.xsd
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/GeneralJsonSchemaConverter.cs
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/JsonSchemaAnalyzer.cs
  src/studio/src/designer/DataModeling/Converter/Xml/XmlSchemaToJsonSchemaConverter.cs
  src/studio/src/designer/DataModeling/Json/Keywords/FormatExclusiveMaximumKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/FormatExclusiveMinimumKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/FormatMaximumKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/FormatMinimumKeyword.cs
  src/studio/src/designer/DataModeling/Utils/FormatRangeHelper.cs
  src/studio/src/designer/DataModeling/Utils/JsonSchemaXsdExtensions.cs
Labels: solution/studio/designer

#9111 add version control header to data models page
  src/studio/src/designer/frontend/app-development/features/dataModelling/containers/DataModellingContainer.module.css
  src/studio/src/designer/frontend/app-development/features/dataModelling/containers/DataModellingContainer.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSaga.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSaga.ts
Labels: solution/studio/designer

#9131 Patch Platform.PDF
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#9135 Add format restriction
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/RestrictionField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Label.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Select.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/restrictions.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/types.ts
Labels: solution/studio/designer

#9136 Fix scrolling issues
  src/studio/src/designer/frontend/app-development/features/dataModelling/containers/DataModellingContainer.module.css
  src/studio/src/designer/frontend/app-development/features/dataModelling/containers/DataModellingContainer.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaEditor.module.css
Labels: solution/studio/designer

#9137 Use text area from the design system
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
Labels: solution/studio/designer

#9141 Fix "add field" button
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/AddPropertyButton.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/ActionMenu.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/hooks/usePrevious.test.ts
Labels: solution/studio/designer

#9148 Chore/sync packages and remove unused deps
  src/studio/src/designer/frontend/.depcheckrc.json
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/app-development/sagas/index.ts
  src/studio/src/designer/frontend/dashboard/index.tsx
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/packages/schema-editor/styleguide.config.js
  src/studio/src/designer/frontend/packages/schema-model/package.json
  src/studio/src/designer/frontend/shared/components/components.md
  src/studio/src/designer/frontend/shared/features/dataModelling/DataModelling.test.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/DataModelling.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/DeleteWrapper.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/LandingPagePanel.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/XSDUpload.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/sagas/metadata/get/getDataModelsMetadataSagas.ts
  src/studio/src/designer/frontend/shared/navigation/main-header/HeaderMenu.tsx
  src/studio/src/designer/frontend/shared/navigation/main-header/profileMenu.test.tsx
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/shared/styleguide.config.js
  src/studio/src/designer/frontend/shared/styleguide.webpack.config.js
  src/studio/src/designer/frontend/shared/styleguide/atomicdesign.png
  src/studio/src/designer/frontend/shared/styleguide/atoms.md
  src/studio/src/designer/frontend/shared/styleguide/components.md
  src/studio/src/designer/frontend/shared/styleguide/introduction.md
  src/studio/src/designer/frontend/shared/styleguide/molecules.md
  src/studio/src/designer/frontend/shared/styleguide/organisms.md
  src/studio/src/designer/frontend/shared/styleguide/wrapper.tsx
  src/studio/src/designer/frontend/ux-editor/.depcheckrc.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer

#9153 Fix delete button
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/EnumField.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/EnumField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Icon.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Icon.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/IconButton.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/IconButton.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/IconButton.tsx
Labels: solution/studio/designer

#9155 bug/dashboard in dev mode didnt work
  src/studio/src/designer/frontend/.depcheckrc.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: solution/studio/designer

#9144 chore: sonschema version upgrade
  src/studio/src/designer/DataModeling.Tests/Assertions/JsonSchemaAssertions.cs
  src/studio/src/designer/DataModeling.Tests/Json/Formats/CustomFormatsTests.cs
  src/studio/src/designer/DataModeling.Tests/ModelSerializationDeserializationTests.cs
  src/studio/src/designer/DataModeling.Tests/Utils/JsonSchemaNavigationExtensionsTests.cs
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/GeneralJsonSchemaConverter.cs
  src/studio/src/designer/DataModeling/Converter/Xml/XmlSchemaToJsonSchemaConverter.cs
  src/studio/src/designer/DataModeling/DataModeling.csproj
  src/studio/src/designer/DataModeling/Json/Formats/CustomFormats.cs
  src/studio/src/designer/DataModeling/Json/Keywords/FormatExclusiveMaximumKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/FormatExclusiveMinimumKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/FormatMaximumKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/FormatMinimumKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/InfoKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdAnyAttributeKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdAnyKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdAttributeKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdNamespacesKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdRestrictionsKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdSchemaAttributesKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdStructureKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdTextKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdTypeKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdUnhandledAttributesKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdUnhandledEnumAttributesKeyword.cs
  src/studio/src/designer/DataModeling/Utils/JsonSchemaNavigationExtensions.cs
  src/studio/src/designer/backend/Factories/ModelFactory/JsonSchemaToMetamodelConverter.cs
  src/studio/src/designer/backend/Factories/ModelFactory/MetamodelRestrictionUtils.cs
Labels: solution/studio/designer

#9156 Add type selection to fields tab
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Select.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/common/Select.tsx
Labels: solution/studio/designer

#9150 Add interfaces to XmlSchema<-->JsonSchema converters
  src/studio/src/designer/DataModeling/Converter/Interfaces/IJsonSchemaToXmlSchemaConverter.cs
  src/studio/src/designer/DataModeling/Converter/Interfaces/IXmlSchemaToJsonSchemaConverter.cs
  src/studio/src/designer/DataModeling/Converter/Json/JsonSchemaToXmlSchemaConverter.cs
  src/studio/src/designer/DataModeling/Converter/Xml/XmlSchemaToJsonSchemaConverter.cs
  src/studio/src/designer/backend.Tests/Services/SchemaModelServiceTests.cs
  src/studio/src/designer/backend.Tests/Services/SourceControlLoggingDecoratorTests.cs
  src/studio/src/designer/backend.Tests/Utils/TestDataHelper.cs
  src/studio/src/designer/backend/Infrastructure/ServiceRegistration.cs
  src/studio/src/designer/backend/Services/Implementation/SchemaModelService.cs
Labels: solution/studio/designer

#9158 Fix selector that causes Cypress test to fail
  src/test/cypress/e2e/pageobjects/dashboard.js
Labels: area/test

#9160 Upgrade AppTemplate to v7.0.0 from app-template-dotnet
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/Program.cs
  src/studio/AppTemplates/AspNet/App/appsettings.json
  src/studio/AppTemplates/AspNet/App/config/authorization/policy.xml
  src/studio/AppTemplates/AspNet/App/logic/App.cs
  src/studio/AppTemplates/AspNet/App/logic/DataProcessing/DataProcessingHandler.cs
  src/studio/AppTemplates/AspNet/App/logic/InstantiationHandler.cs
  src/studio/AppTemplates/AspNet/App/logic/Print/PdfHandler.cs
  src/studio/AppTemplates/AspNet/App/logic/Validation/ValidationHandler.cs
  src/studio/AppTemplates/AspNet/App/views/Home/Index.cshtml
Labels: solution/app-backend

#9161 9154 frontend post mui upgrade fixes
  src/studio/src/designer/frontend/.depcheckrc.json
  src/studio/src/designer/frontend/app-development/features/administration/components/Administration.tsx
  src/studio/src/designer/frontend/app-development/features/administration/components/DownloadRepoModal.tsx
  src/studio/src/designer/frontend/app-development/features/administration/components/MainContent.module.css
  src/studio/src/designer/frontend/app-development/features/administration/components/MainContent.tsx
  src/studio/src/designer/frontend/app-development/features/administration/components/RepoModal.module.css
  src/studio/src/designer/frontend/app-development/features/administration/components/ResetRepoModal.test.tsx
  src/studio/src/designer/frontend/app-development/features/administration/components/ResetRepoModal.tsx
  src/studio/src/designer/frontend/app-development/features/administration/components/SideMenuContent.module.css
  src/studio/src/designer/frontend/app-development/features/administration/components/SideMenuContent.tsx
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/app/App.tsx
  src/studio/src/designer/frontend/dashboard/common/components/RepoList.tsx
  src/studio/src/designer/frontend/dashboard/common/components/Resources.tsx
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/dashboard/prettier.config.js
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/navigation/main-header/Header.tsx
  src/studio/src/designer/frontend/shared/version-control/syncModal.tsx
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer

#9168 Fix failing Cypress test
  src/test/cypress/e2e/integration/usecase/usecase.js
Labels: area/test

#9171 fix: register custom keywords
  src/studio/src/designer/backend/Infrastructure/ServiceRegistration.cs
Labels: solution/studio/designer

#9174 Use a volume mount for TestData for Localtest in Docker
  src/development/docker-compose.yml
Labels: external-contribution-❤️

#9172 Return object on put request to textscontroller
  src/studio/src/designer/backend.Tests/Controllers/TextsControllerTests.cs
  src/studio/src/designer/backend/Controllers/TextsController.cs
Labels: solution/studio/designer

#9177 use value when setting selected service owner
  src/studio/src/designer/frontend/dashboard/features/createService/ServiceOwnerSelector.tsx
Labels: area/dashboard, solution/studio/designer

#9178 bugfix: paths sometimes did not resolve
  src/studio/src/designer/frontend/shared/utils/conditionalPath.test.ts
  src/studio/src/designer/frontend/shared/utils/conditionalPath.ts
  src/studio/src/designer/frontend/shared/utils/urlHelper.ts
Labels: solution/studio/designer
