Repository Altinn/altinn-studio, pull requests merged in 2022-07, with the labels that each got.

#8682 Update template to use dotnet 6
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/Program.cs
  src/studio/AppTemplates/AspNet/App/Startup.cs
  src/studio/AppTemplates/AspNet/Dockerfile
  src/studio/src/designer/backend/Designer.csproj
Labels: solution/studio/designer, solution/app-backend

#8716 chore: patching container images
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/development/loadbalancer/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
  src/studio/src/load-balancer/Dockerfile
  src/studio/src/repositories/Dockerfile
Labels: area/ui-editor, area/dashboard, solution/studio/designer, solution/studio/repos, area/authorization, area/authentication, area/receipt, area/data-storage, solution/platform, solution/apps, solution/app-frontend

#8714 chore: patching of frontend deps
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Apps/AppFrontend/react/yarn.lock
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/backend/yarn.lock
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
  src/test/K6/package.json
  src/test/K6/yarn.lock
  src/test/cypress/package.json
  src/test/cypress/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer, area/receipt, solution/app-frontend, area/test

#8733 Update deps altinn-pdf
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#8677 Microsoft.Azure.DocumentDB.Core => Microsoft.Azure.Cosmos
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Services/CosmosService.cs
Labels: area/data-storage, solution/platform

#8676 Storage Functions using .net 6 and runtime v4
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Applications/function.json
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/BlobService.cs
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/DataElements/function.json
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/InstanceEvents/functions.json
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Instances/function.json
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Texts/function.json
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/host.json
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/local.settings.json
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
Labels: area/data-storage, solution/platform

#8734 Revert "Storage Functions using .net 6 and runtime v4"
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Applications/function.json
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/BlobService.cs
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/DataElements/function.json
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/InstanceEvents/functions.json
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Instances/function.json
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Texts/function.json
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/host.json
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/local.settings.json
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
Labels: area/data-storage, solution/platform
