Repository Altinn/altinn-studio, pull requests merged in 2022-01, with the labels that each got.

#7747 Test/add missing frontend tests
  .github/workflows/cypress-altinn-app-frontend.yml
  src/test/cypress/e2e/config/studio/dev.json
  src/test/cypress/e2e/config/studio/local.json
  src/test/cypress/e2e/config/studio/prod.json
  src/test/cypress/e2e/config/studio/staging.json
  src/test/cypress/e2e/fixtures/texts.json
  src/test/cypress/e2e/integration/app-frontend/formatting.js
  src/test/cypress/e2e/integration/app-frontend/group.js
  src/test/cypress/e2e/integration/app-frontend/summary.js
  src/test/cypress/e2e/integration/studio/dashboard.js
  src/test/cypress/e2e/integration/studio/deploy.js
  src/test/cypress/e2e/integration/studio/designer.js
  src/test/cypress/e2e/integration/studio/repos.js
  src/test/cypress/e2e/integration/studio/sync-app.js
  src/test/cypress/e2e/integration/studio/wcag.js
  src/test/cypress/e2e/integration/usecase/usecase.js
  src/test/cypress/e2e/pageobjects/app-frontend.js
  src/test/cypress/e2e/pageobjects/designer.js
  src/test/cypress/e2e/pageobjects/header.js
  src/test/cypress/e2e/support/index.d.ts
  src/test/cypress/e2e/support/studio.js
  src/test/cypress/package.json
  src/test/cypress/use-cases.yaml
  src/test/cypress/yarn.lock
Labels: area/test

#7714 Added caching to http calls to fetch policy.xml in LocalTest
  src/development/LocalTest/LocalTest.csproj
  src/development/LocalTest/Services/LocalApp/Implementation/LocalAppHttp.cs
  src/development/LocalTest/Startup.cs
Labels: external-contribution-❤️

#7758 Bug/7612 exception handling in introspection endpoint
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Services/EFormidlingAccessValidatorTest.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Services/EFormidlingAccessValidator.cs
Labels: area/authentication, solution/platform

#7672 Feature/token generation for eformidling
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Constants/General.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppBase.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/AppBase/AppBaseTest.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/eformidling-app-invalid/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/eformidling-app/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/EFormidlingClientMock.cs
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/IntTest/EFormidlingClientIntTest.cs
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/UnitTest/EFormidlingClientUnitTest.cs
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/Altinn.EFormidlingClient.csproj
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/EFormidlingClient.cs
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/Extensions/HttpClientExtension.cs
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/IEFormidlingClient.cs
Labels: solution/app-backend, area/api-use, area/api-expose

#7772 Bugfix: throw exception on send eformidling fail
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppBase.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Mocks/Services/EFormidlingClientMock.cs
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/IntTest/EFormidlingClientIntTest.cs
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/Altinn.EFormidlingClient.csproj
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/EFormidlingClient.cs
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/IEFormidlingClient.cs
Labels: solution/app-backend, area/api-use, area/api-expose

#7770 Feature/7753 update node modules
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Apps/AppFrontend/react/yarn.lock
  src/studio/src/designer/DataModeling.Tests/DataModeling.Tests.csproj
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/backend/yarn.lock
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
  src/test/cypress/package.json
  src/test/cypress/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer, area/receipt, solution/app-frontend, area/test

#7774 Update pdf - change to springdoc-openapi instead of springfox
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/configuration/SwaggerConfiguration.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/controllers/PDFController.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/ComponentSettings.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/FormLayout.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/FormLayoutElement.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/Instance.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/LayoutSettings.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/Option.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/PagesSettings.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/Party.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/PdfContext.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/TextResources.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/UserProfile.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/resources/application.properties
Labels: area/pdf, solution/platform

#7766 updated containers week 1 2022
  src/development/loadbalancer/Dockerfile
  src/studio/src/load-balancer/Dockerfile
  src/studio/src/repositories/Dockerfile
Labels: solution/studio/repos

#7724 Don't crash, but warn when an unknown component is rendered.
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/GenericComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
Labels: solution/app-frontend, external-contribution-❤️

#7751 Add yarn commands for running jest in watch mode
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
Labels: solution/app-frontend, external-contribution-❤️

#7754 Add eslint-disable-next-line react-hooks/exhaustive-deps
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/App.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/advanced/AddressComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DatepickerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DropdownComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/RadioButtonsContainerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/presentation/NavigationButtons.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/confirm/containers/Confirm.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/entrypoint/Entrypoint.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/index.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/receipt/containers/receiptContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/containers/ProcessWrapper.tsx
Labels: area/instantiation, area/receipt, solution/app-frontend, external-contribution-❤️

#7779 pushed final nugets
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend, area/api-use, area/api-expose

#7235 feat: enable upload xsd from standalone
  src/studio/src/designer/backend.Tests/Controllers/DatamodelsControllerTests.cs
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/empty-app-pref-json/.altinnstudio/settings.json
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/empty-app-pref-json/App/config/applicationmetadata.json
  src/studio/src/designer/backend/Controllers/ApplicationMetadataController.cs
  src/studio/src/designer/backend/Controllers/DatamodelsController.cs
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
  src/studio/src/designer/backend/Services/Implementation/SchemaModelService.cs
  src/studio/src/designer/backend/Services/Interfaces/IRepository.cs
  src/studio/src/designer/backend/Services/Interfaces/ISchemaModelService.cs
  src/studio/src/designer/frontend/app-development/features/dataModelling/containers/DataModellingContainer.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/DataModelling.test.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/components/XSDUploader.test.tsx
  src/studio/src/designer/frontend/app-development/test/__tests__/components/__snapshots__/XSDUploader.test.tsx.snap
  src/studio/src/designer/frontend/app-development/utils/urlHelper.ts
  src/studio/src/designer/frontend/dashboard/features/standaloneDataModelling/DataModelling.tsx
  src/studio/src/designer/frontend/dashboard/test/__tests__/features/StandaloneDataModelling.test.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/DataModelling.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/XSDUpload.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/index.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/functions/shouldSelectPreferredOption.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/sagas/dataModellingSagas.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/sagas/metadata/dataModelsMetadataSlice.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/sagas/metadata/index.ts
  src/studio/src/designer/frontend/shared/test/__tests__/features/dataModelling/DataModelling.test.tsx
  src/studio/src/designer/frontend/shared/test/__tests__/features/dataModelling/XSDUpload.test.tsx
  src/studio/src/designer/frontend/shared/test/__tests__/features/dataModelling/createDataModelMetadataOptions.test.ts
  src/studio/src/designer/frontend/shared/test/__tests__/features/dataModelling/shouldSelectPreferredOption.test.ts
Labels: area/dashboard, solution/studio/designer

#7720 Add keys to react components in array to avoid warnings
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SummaryGroupComponent.tsx
Labels: solution/app-frontend, external-contribution-❤️

#7789 bug/7773-stateless-to-stateful
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/layout/layoutSlice.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutSlice.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
Labels: solution/app-frontend

#7788 Feature/7796 dashboard improvements
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/dashboard/common/components/RepoList.tsx
  src/studio/src/designer/frontend/dashboard/common/utils/localStorage.ts
  src/studio/src/designer/frontend/dashboard/features/dashboard/OrgReposList.tsx
  src/studio/src/designer/frontend/dashboard/features/dashboard/SearchResultReposList.tsx
  src/studio/src/designer/frontend/dashboard/index.tsx
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/dashboard/resources/fetchDashboardResources/dashboardSlice.ts
  src/studio/src/designer/frontend/dashboard/test/__tests__/features/createService/CreateService.test.tsx
  src/studio/src/designer/frontend/dashboard/test/__tests__/features/dashboard/index.test.tsx
  src/studio/src/designer/frontend/yarn.lock
Labels: area/dashboard, solution/studio/designer

#7792 updated postman project
  src/test/Postman/Platform.postman_environment.json
  src/test/Postman/README.md
  src/test/Postman/altinn3.postman_environment.json
  src/test/Postman/collections/App.postman_collection.json
  src/test/Postman/collections/Negative_Tests_Storage_and_App.postman_collection.json
  src/test/Postman/collections/Platform.postman_collection.json
  src/test/Postman/collections/Storage.postman_collection.json
  src/test/Postman/policy.xml
  src/test/Postman/test_file_morethan_1mb.txt
  src/test/Postman/test_file_pdf.pdf
Labels: area/test

#7797 testdata + automated test for emf
  src/test/K6/src/data/eformidling-app.xml
  src/test/K6/src/tests/app/performance/efm.js
Labels: area/test

#7825 Fix/tests failing after fluentassertions upgrade
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/JsonSchema2Metadata2CSharpTests.cs
Labels: solution/studio/designer

#7816 Microsoft.NET.Test.Sdk -> 17.0.0
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Altinn.App.PlatformServices.Tests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/App.IntegrationTestsRef.csproj
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/Altinn.EFormidlingClient.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Tests/Altinn.Platform.Events.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/Altinn.Platform.Models.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/InstancesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/MessageboxInstancesControllerTests.cs
  src/studio/src/designer/DataModeling.Tests/DataModeling.Tests.csproj
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
Labels: solution/studio/designer, solution/app-backend, area/authorization, area/authentication, area/receipt, area/profile, area/register, area/data-storage, solution/platform, area/events

#7820 Npm patch w02
  src/Altinn.Apps/AppFrontend/react/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  src/Altinn.Apps/AppFrontend/react/.yarnrc.yml
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Apps/AppFrontend/react/yarn.lock
  src/Altinn.Platform/Altinn.Platform.Receipt/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  src/Altinn.Platform/Altinn.Platform.Receipt/.yarnrc.yml
  src/studio/src/designer/backend/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  src/studio/src/designer/backend/.yarnrc.yml
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/backend/yarn.lock
  src/studio/src/designer/frontend/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  src/studio/src/designer/frontend/.yarnrc.yml
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/features/dashboard/OrgReposList.tsx
  src/studio/src/designer/frontend/dashboard/features/dashboard/utils.ts
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/dashboard/test/__tests__/features/dashboard/OrgReposList.test.tsx
  src/studio/src/designer/frontend/dashboard/test/__tests__/features/dashboard/SearchResultReposList.test.tsx
  src/studio/src/designer/frontend/dashboard/test/__tests__/features/dashboard/index.test.tsx
  src/studio/src/designer/frontend/dashboard/test/__tests__/features/dashboard/utils.test.ts
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
  src/test/K6/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  src/test/K6/.yarnrc.yml
  src/test/K6/package.json
  src/test/K6/yarn.lock
  src/test/cypress/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  src/test/cypress/.yarnrc.yml
  src/test/cypress/package.json
  src/test/cypress/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer, area/receipt, solution/app-frontend, area/test

#7829 Feature/improved performance and errorhandling authz
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Controllers/PartiesController.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Controllers/RolesController.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Extensions/ClaimsPrincipalExtensions.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/PartiesControllerTest.cs
Labels: area/authorization, solution/platform

#7831 downgraded dependency
  src/Altinn.Platform/Altinn.Platform.Storage/CosmosBackup/Altinn.Platform.Storage.CosmosBackup.csproj
Labels: area/data-storage, solution/platform

#7830 fix: reset selected context to self, if user does not have access to …
  src/studio/src/designer/frontend/dashboard/app/App.tsx
  src/studio/src/designer/frontend/dashboard/common/utils/index.tsx
  src/studio/src/designer/frontend/dashboard/test/__tests__/common/utils/index.test.ts
Labels: area/dashboard, solution/studio/designer

#7833 added authz token for authorization tests
  src/test/K6/src/api/platform/authorization.js
  src/test/K6/src/setup.js
  src/test/K6/src/tests/platform/authorization/authorization.js
Labels: area/test

#7786 Fix lint issues
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/App.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/presentation/NavigationButtons.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/MultipleChoiceSummary.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/SummaryGroupComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/confirm/containers/Confirm.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/entrypoint/Entrypoint.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/containers/ProcessWrapper.tsx
  src/Altinn.Apps/AppFrontend/react/receipt/__tests__/features/receipt/containers/Receipt.test.tsx
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/setupTests.js
  src/Altinn.Apps/AppFrontend/react/receipt/setupTests.ts
  src/Altinn.Apps/AppFrontend/react/receipt/src/features/receipt/containers/Receipt.tsx
  src/Altinn.Apps/AppFrontend/react/receipt/testUtils.ts
  src/Altinn.Apps/AppFrontend/react/receipt/tsconfig.json
  src/Altinn.Apps/AppFrontend/react/shared/__tests__/components/AltinnCheckBox.test.tsx
  src/Altinn.Apps/AppFrontend/react/shared/__tests__/components/AltinnInput.test.tsx
  src/Altinn.Apps/AppFrontend/react/shared/__tests__/components/AltinnLink.test.tsx
  src/Altinn.Apps/AppFrontend/react/shared/__tests__/components/AltinnTextArea.test.tsx
  src/Altinn.Apps/AppFrontend/react/shared/__tests__/components/molecules/AltinnContentLoader.test.tsx
  src/Altinn.Apps/AppFrontend/react/shared/__tests__/components/organisms/AltinnReceipt.test.tsx
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Apps/AppFrontend/react/shared/setupTests.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnBreadcrumb.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnButton.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnCheckBox.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnCheckBoxGroup.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnColumnLayout.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnDropdown.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnFilterChip.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnIcon.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnIconButton.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnInformationCard.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnInput.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnInputField.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnLink.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnLogo.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnPopper.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnRadio.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnRadioGroup.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnSearchInput.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnSwitch.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/AltinnTextArea.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/atoms/AltinnContentIcon.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/molecules/AltinnCollapsibleAttachments.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/molecules/AltinnContentLoader.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/molecules/AltinnInformationCardForChildren.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/molecules/AltinnModal.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/organisms/AltinnReceipt.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/formatDate.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/language.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/urlHelper.ts
  src/Altinn.Apps/AppFrontend/react/shared/tsconfig.json
  src/Altinn.Apps/AppFrontend/react/yarn.lock
Labels: area/receipt, solution/app-frontend

#7826 Fixed support for identical claims
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Controllers/AuthenticationControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Model/UserAuthenticationModel.cs
Labels: area/authentication, solution/platform

#7836 Add STABLE and PARALLEL SAFE hints on function definitions
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Migration/v0.02/01-configure-functions.sql
Labels: area/authorization, solution/platform

#7838 Feature/dotnet6 kuberneteswrapper
  lgtm.yml
  src/Altinn.Apps/KubernetesWrapper/Controllers/DaemonSetsController.cs
  src/Altinn.Apps/KubernetesWrapper/Controllers/DeploymentsController.cs
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.Apps/KubernetesWrapper/Program.cs
  src/Altinn.Apps/KubernetesWrapper/Services/Implementation/KubernetesApiWrapper.cs
  src/Altinn.Apps/KubernetesWrapper/Services/Interfaces/IKubernetesAPIWrapper.cs
  src/Altinn.Apps/KubernetesWrapper/Startup.cs
Labels: solution/apps

#7843 support for running test on external pr
  .github/workflows/cypress-altinn-app-frontend.yml
  src/test/cypress/e2e/config/app/tt02.json
  src/test/cypress/e2e/integration/app-frontend/prefill.js
  src/test/cypress/e2e/integration/app-frontend/stateless.js
Labels: area/test

#7718 Make FormData type stable, and add/improve lots of related Typescirpt typings
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/GenericComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/advanced/AddressComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/AttachmentListComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/ButtonComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/DropdownComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/FileUploadComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/HeaderComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/InputComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/ParagraphComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/base/TextAreaComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/components/presentation/NavigationButton.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/data/submitFormDataSagas.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/conditionalRendering.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/formComponentUtils.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/rules.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/validation.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/advanced/AddressComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/AttachmentListComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/ButtonComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DatepickerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DropdownComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/FileUploadComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/HeaderComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/ImageComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/InputComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/InstantiationButtonComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/ParagraphComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/RadioButtonsContainerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/TextAreaComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/presentation/NavigationButtons.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/Description.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/HelpTextContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/HelpTextPopover.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/Legend.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/RepeatingGroupTable.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/formDataReducer.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/rules/check/checkRulesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/InstanceSelection.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formComponentUtils.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formLayout.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/rules/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/components/molecules/AltinnMobileTableItem.tsx
Labels: area/instantiation, solution/app-frontend, area/test, external-contribution-❤️

#7768 Feature/5247 trigger fetching of options on data change
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/DataController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Controllers/OptionsController.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Altinn.App.PlatformServices.Tests.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices.Tests/Options/AppOptionsFactoryTests.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppBase.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppOptionsService.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppResourcesSI.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/InstanceClient.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Interface/IAltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Options/AppOptionsFactory.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Options/AppOptionsFileHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Options/DefaultAppOptionsProvider.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Options/IAppOptionsFileHandler.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Options/IAppOptionsProvider.cs
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Options/IAppOptionsService.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/CustomWebApplicationFactory.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/Instances/tdd/custom-validation/1337/182e053b-3c74-46d4-92ec-a2828289a877/7dfeffd1-1750-4e4a-8107-c6741e05d2a9.json
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/Instances/tdd/custom-validation/1337/182e053b-3c74-46d4-92ec-a2828289a877/blob/7dfeffd1-1750-4e4a-8107-c6741e05d2a9
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/dibk/nabovarsel/logic/AltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/nsm/klareringsportalen/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/autodelete-true/logic/AltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/complex-process/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/contributer-restriction/logic/AltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/custom-validation/logic/AltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/endring-av-navn/logic/AltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/platform-fails/logic/AltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/sirius/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/tdd/task-validation/logic/AltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/datafields-app/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/dayplanner/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/eformidling-app-invalid/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/eformidling-app/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/events/logic/AltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/externalprefil/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/frontend-test/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/issue-5740/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/model-validation/logic/AltinnApp.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/ttd/presentationfields-app/logic/App.cs
  src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Utils/SetupUtil.cs
  src/Altinn.Apps/AppTemplates/AspNet/App/logic/App.cs
Labels: solution/app-backend, area/api-use, area/api-expose

#7790 Bug/7671 wrong ordering of properties
  src/studio/src/designer/DataModeling.Tests/Assertions/JsonSchemaAssertions.cs
  src/studio/src/designer/DataModeling.Tests/Json/JsonSchemaSeresAnalyzerTests.cs
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/General/ComplexContentRestriction.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/General/Definitions.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/Seres/SeresWithAttributes.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/Seres/SeresWithSpecifiedAndAnyAttributes.json
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/GeneralJsonSchemaConverter.cs
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/JsonSchemaAnalyzer.cs
  src/studio/src/designer/DataModeling/Converter/Xml/XmlSchemaToJsonSchemaConverter.cs
  src/studio/src/designer/DataModeling/Json/JsonSchemaNormalizer.cs
  src/studio/src/designer/DataModeling/Json/Keywords/NamedKeyValuePairs.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdNamespacesKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdRestrictionsKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdSchemaAttributesKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdUnhandledAttributesKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdUnhandledEnumAttributesKeyword.cs
  src/studio/src/designer/DataModeling/Utils/JsonSchemaXsdExtensions.cs
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/JsonSchema2Metadata2CSharpTests.cs
  src/studio/src/designer/backend.Tests/Services/DeploymentServiceTest.cs
  src/studio/src/designer/backend/Factories/ModelFactory/CsharpFromJsonExampleFactory.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnGitRepository.cs
  src/studio/src/designer/backend/Services/Implementation/SchemaModelService.cs
  src/studio/src/designer/backend/Services/Interfaces/ISchemaModelService.cs
Labels: solution/studio/designer

#7827 Add some annotations in Authentication for better swagger specifications
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/OpenIdController.cs
Labels: area/authentication, solution/platform, external-contribution-❤️

#7846 Bug/get resourcepolicies must check appid
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Controllers/PolicyController.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Json/GetResourcePolicies/SKDUndefinedRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/skd/taxreport2/policy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Xacml/3.0/AltinnApps/skd/undefined/policy.xml
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/PolicyControllerTest.cs
Labels: area/authorization, solution/platform

#7851 added automated tests for integration point
  src/test/K6/src/api/platform/eFormidling/eformidling.js
  src/test/K6/src/buildrequestheaders.js
  src/test/K6/src/config.js
  src/test/K6/src/tests/platform/eFormidling/eFormidling.js
  src/test/K6/use-cases.yaml
Labels: area/test

#7870 Open up for more media types in Authentication
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
Labels: area/authentication, solution/platform

#7871 updated tests for efm
  src/test/K6/src/api/platform/eFormidling/eFormidling.js
  src/test/K6/src/tests/platform/eFormidling/eFormidling.js
  src/test/K6/use-cases.yaml
Labels: area/test

#7759 Test/delegation api
  src/test/K6/src/api/altinn-testtools/token-generator.js
  src/test/K6/src/api/platform/authorization/authorization.js
  src/test/K6/src/api/platform/authorization/delegations.js
  src/test/K6/src/config.js
  src/test/K6/src/setup.js
  src/test/K6/src/tests/platform/authorization/authorization.js
  src/test/K6/src/tests/platform/authorization/delegations.js
  src/test/K6/src/tests/platform/negativetests/withoutauthentication.js
  src/test/Postman/collections/Platform.postman_collection.json
Labels: area/test

#7879 Revert "Bug/designer crashes on deploy (#7868)"
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend.Tests/TypedHttpClients/AltinnAuthenticationClientTest.cs
  src/studio/src/designer/backend/RepositoryClient/Api/IUserApi.cs
  src/studio/src/designer/backend/RepositoryClient/Client/ApiClient.cs
  src/studio/src/designer/backend/RepositoryClient/Client/ApiException.cs
  src/studio/src/designer/backend/RepositoryClient/Client/Configuration.cs
  src/studio/src/designer/backend/TypedHttpClients/AltinnAuthentication/AltinnAuthenticationClient.cs
Labels: solution/studio/designer

#7878 feat: use 4.24.0 version of app nuget
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend, area/api-use, area/api-expose

#7872 5247 dynamic options frontend
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/data/submitFormDataSagas.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/validation/singleFieldValidationSagas.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/shared/resources/applicationSettings/fetch/fetchApplicationSettingsSagas.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/shared/resources/options/fetch/fetchOptionsActions.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/shared/resources/queue/appTaskQueueSagas.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/utils/urlHelper.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/setupTests.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/App.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/confirm/containers/Confirm.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/entrypoint/Entrypoint.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/fetch/fetchFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/datamodel/fetch/fetchFormDatamodelSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/dynamics/fetch/fetchFormDynamicsSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/fetch/fetchFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/rules/fetch/fetchRulesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/InstanceSelection.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/MissingRolesError.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/NoValidPartiesError.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/instantiation/sagas/instantiate/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/containers/Presentation.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/applicationMetadata/sagas/get/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/applicationSettings/fetch/fetchApplicationSettingsSaga.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/attachments/delete/deleteAttachmentSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/attachments/upload/uploadAttachmentSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/instanceData/get/getInstanceDataSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/options/fetch/fetchOptionsSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/party/getParties/getPartiesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/party/selectParty/selectPartySagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/process/checkProcessUpdated/checkProcessUpdatedSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/process/completeProcess/completeProcessSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/process/getProcessState/getProcessStateSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/appTask/appTaskQueueSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/queue/infoTask/infoTaskQueueSaga.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/textResources/fetch/fetchTextResourcesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/appIrlHelper.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/appUrlHelper.ts
Labels: area/language, area/attachments, area/instantiation, solution/app-frontend

#7887 Delete duplicate file
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/applicationMetadataUtils.ts
Labels: solution/app-frontend

#7883 chore: update node dependency
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
Labels: area/ui-editor, area/dashboard, solution/studio/designer, area/receipt, solution/app-frontend

#7884 chore: update npm dependencies
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Apps/AppFrontend/react/yarn.lock
  src/Altinn.Platform/Altinn.Platform.Receipt/package.json
  src/Altinn.Platform/Altinn.Platform.Receipt/yarn.lock
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/backend/yarn.lock
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
  src/test/K6/package.json
  src/test/K6/yarn.lock
  src/test/cypress/package.json
  src/test/cypress/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer, area/receipt, solution/platform, solution/app-frontend, area/test

#7275 feature/7234-neutral-design-for-apps
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/containers/Presentation.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/containers/__snapshots__/Presentation.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/presentation/Header.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/presentation/NavBar.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/index.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/containers/Presentation.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/styles/index.css
  src/test/cypress/e2e/integration/app-frontend/mobile.js
Labels: area/instantiation, solution/app-frontend, area/test

#7889 Fixed authorization for gateways
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/ProcessController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/AuthorizationHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/TestingControllers/ProcessControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/apps/ttd/endring-av-navn-v3/config/authorization/policy.xml
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/data/cosmoscollections/instances/1337/20b1353e-91cf-44d6-8ff7-f68993638ffe.json
Labels: area/data-storage, solution/platform

#7880 chore: update to latest gitea
  src/studio/src/repositories/Dockerfile
Labels: solution/studio/repos

#7892 New stable version of NuGet app packages
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.Common/Altinn.App.Common.csproj
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Altinn.App.PlatformServices.csproj
  src/Altinn.Apps/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend, area/api-use, area/api-expose

#7885 added detail endpoint for session
  src/studio/src/designer/backend/Controllers/SessionController.cs
Labels: solution/studio/designer

#7900 Use resourceService to get local text resources instead of fetching from storage
  src/Altinn.Apps/AppTemplates/AspNet/Altinn.App.PlatformServices/Implementation/AppBase.cs
Labels: solution/app-backend, area/api-use, external-contribution-❤️

#7906 Test/new frontend tests
  src/test/K6/docker-compose.yml
  src/test/K6/package.json
  src/test/K6/yarn.lock
  src/test/cypress/e2e/fixtures/texts.json
  src/test/cypress/e2e/integration/app-frontend/components.js
  src/test/cypress/e2e/integration/app-frontend/confirmation.js
  src/test/cypress/e2e/integration/app-frontend/dynamics.js
  src/test/cypress/e2e/integration/app-frontend/message.js
  src/test/cypress/e2e/integration/app-frontend/receipt.js
  src/test/cypress/e2e/integration/app-frontend/redirect.js
  src/test/cypress/e2e/integration/app-frontend/stateless.js
  src/test/cypress/e2e/integration/app-frontend/tabbing.js
  src/test/cypress/e2e/integration/app-frontend/validation.js
  src/test/cypress/e2e/pageobjects/app-frontend.js
  src/test/cypress/e2e/support/app-frontend.js
  src/test/cypress/e2e/support/index.js
  src/test/cypress/package.json
  src/test/cypress/yarn.lock
Labels: area/test

#7844 Upgrade Platform register to .NET 6
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Health/HealthCheckTests.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Mocks/Authentication/ConfigurationManagerStub.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/TestingControllers/OrganizationsControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/TestingControllers/PartiesControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/TestingFilters/ValidateModelStateAttributeTests.cs
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Utils/PrincipalUtil.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Register/Register/Filters/IdentityTelemetryFilter.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Health/HealthTelemetryFilter.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Program.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Services/Implementation/AuthorizationWrapper.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Services/Implementation/OrganizationsWrapper.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Services/Implementation/PartiesWrapper.cs
  src/Altinn.Platform/Altinn.Platform.Register/Register/Startup.cs
Labels: area/register, solution/platform

#7918 chore: update npm packages in all solutions
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Apps/AppFrontend/react/yarn.lock
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/backend/yarn.lock
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer, area/receipt, solution/app-frontend

#7899 Upgrade Profile to .Net 6
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Program.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Services/Implementation/UserProfilesWrapper.cs
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/Altinn.Platform.Profile.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/ErrorHandlingTests.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/HealthCheckTests.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/Mocks/Authentication/ConfigurationManagerStub.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/OpenApiSpecificationTests.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/UserProfileTests.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/IntegrationTests/Utils/WebApplicationFactorySetup.cs
  src/Altinn.Platform/Altinn.Platform.Profile/UnitTests/UnitTests/UserProfilesWrapperTest.cs
Labels: area/profile, solution/platform

#7755 Repeating group - design improvements
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/containers/GroupContainer.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/form/containers/__snapshots__/RepeatingGroupsTable.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/RepeatingGroupAddButton.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/RepeatingGroupTable.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/containers/RepeatingGroupsEditContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/styles/index.css
  src/Altinn.Apps/AppFrontend/react/shared/src/components/molecules/AltinnMobileTableItem.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/molecules/AltinnTableBody.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/molecules/AltinnTableHeader.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/en.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nb.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nn.ts
Labels: solution/app-frontend

#7922 fix missing useEffect hook dependencies in instantiate cont…
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/containers/__snapshots__/Presentation.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/__tests__/features/instantiate/index.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/presentation/Header.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/InstanceSelection.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/InstantiationErrorPage.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/index.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/index.tsx
Labels: area/instantiation, solution/app-frontend
