Repository Altinn/altinn-studio, pull requests merged in 2022-04, with the labels that each got.

#8335 spring update
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/controllers/GlobalControllerAdvice.java
Labels: area/pdf, solution/platform

#8336 Fixing incorrect RevokeLast enum type value
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Migration/v0.05/01-setup-tables.sql
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/appsettings.json
Labels: area/authorization, solution/platform

#8341 Disable dynamic concurrency feature for debugging
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/host.json
Labels: area/authorization, solution/platform

#8342 Fix signing certificate used by delegation function app
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Configuration/KeyVaultSettings.cs
Labels: area/authorization, solution/platform

#8343 Add more logging to delegation function
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Services/EventPusherService.cs
Labels: area/authorization, solution/platform

#8339 Feature/8338 includeidclaim
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Controllers/AuthenticationControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/JwtTokenMock.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/appsettings.json
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
Labels: area/authentication, solution/platform

#8344 Test/new frontend cases
  src/test/cypress/e2e/config/app/local.json
  src/test/cypress/e2e/fixtures/texts.json
  src/test/cypress/e2e/integration/app-frontend/feedback.js
  src/test/cypress/e2e/integration/app-frontend/receipt.js
  src/test/cypress/e2e/integration/app-frontend/stateless.js
  src/test/cypress/e2e/pageobjects/app-frontend.js
  src/test/cypress/e2e/support/app-frontend.js
  src/test/cypress/e2e/support/index.d.ts
Labels: area/test

#8345 Nested repeating groups rendered correctly
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/FormLayoutElement.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/GroupEditProperties.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/FormUtils.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/utils/FormUtilsTest.java
Labels: area/pdf, solution/platform

#8350 rollback local appsettings
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/appsettings.json
Labels: area/authentication, solution/platform

#8374 Bug/replaced invalid test data in k6 tests2
  src/test/K6/src/tests/platform/authorization/delegations/delegations.js
Labels: area/test

#8377 New tests for app frontend
  src/test/K6/package.json
  src/test/K6/yarn.lock
  src/test/cypress/e2e/integration/app-frontend/options.js
  src/test/cypress/e2e/integration/app-frontend/rules.js
  src/test/cypress/e2e/pageobjects/app-frontend.js
  src/test/cypress/e2e/support/app-frontend.js
  src/test/cypress/e2e/support/index.js
  src/test/cypress/e2e/support/wcag.js
  src/test/cypress/package.json
  src/test/cypress/yarn.lock
Labels: area/test

#8375 Removing superfluous exception handling in Events
  src/Altinn.Platform/Altinn.Platform.Events/Events/Controllers/EventsController.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Models/PushQueueReceipt.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Repository/CloudEventRepository.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/EventsService.cs
  src/Altinn.Platform/Altinn.Platform.Events/Events/Services/RegisterService.cs
Labels: solution/platform, area/events

#8401 Fix for DelegationEvent function sometimes using invalid tokens
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Services/AccessTokenProvider.cs
Labels: area/authorization, solution/platform

#8397 removed tests and code for app-frontend tests
  src/test/cypress/README.md
  src/test/cypress/cypress.json
  src/test/cypress/e2e/config/app/at21.json
  src/test/cypress/e2e/config/app/at22.json
  src/test/cypress/e2e/config/app/local.json
  src/test/cypress/e2e/config/app/tt02.json
  src/test/cypress/e2e/config/dev.json
  src/test/cypress/e2e/config/local.json
  src/test/cypress/e2e/config/prod.json
  src/test/cypress/e2e/config/staging.json
  src/test/cypress/e2e/fixtures/allowed-parties.json
  src/test/cypress/e2e/fixtures/attachment.json
  src/test/cypress/e2e/fixtures/texts.json
  src/test/cypress/e2e/fixtures/validate-instantiation.json
  src/test/cypress/e2e/integration/app-frontend/calculate-page-order.js
  src/test/cypress/e2e/integration/app-frontend/components.js
  src/test/cypress/e2e/integration/app-frontend/confirmation.js
  src/test/cypress/e2e/integration/app-frontend/dynamics.js
  src/test/cypress/e2e/integration/app-frontend/feedback.js
  src/test/cypress/e2e/integration/app-frontend/formatting.js
  src/test/cypress/e2e/integration/app-frontend/group.js
  src/test/cypress/e2e/integration/app-frontend/message.js
  src/test/cypress/e2e/integration/app-frontend/mobile.js
  src/test/cypress/e2e/integration/app-frontend/on-entry.js
  src/test/cypress/e2e/integration/app-frontend/options.js
  src/test/cypress/e2e/integration/app-frontend/prefill.js
  src/test/cypress/e2e/integration/app-frontend/receipt.js
  src/test/cypress/e2e/integration/app-frontend/redirect.js
  src/test/cypress/e2e/integration/app-frontend/reportee-selection.js
  src/test/cypress/e2e/integration/app-frontend/rules.js
  src/test/cypress/e2e/integration/app-frontend/stateless.js
  src/test/cypress/e2e/integration/app-frontend/summary.js
  src/test/cypress/e2e/integration/app-frontend/tabbing.js
  src/test/cypress/e2e/integration/app-frontend/texts.js
  src/test/cypress/e2e/integration/app-frontend/validation.js
  src/test/cypress/e2e/integration/app-frontend/wcag.js
  src/test/cypress/e2e/integration/usecase/usecase.js
  src/test/cypress/e2e/pageobjects/app-frontend.js
  src/test/cypress/e2e/plugins/index.js
  src/test/cypress/e2e/support/app-frontend.js
  src/test/cypress/e2e/support/app.js
  src/test/cypress/e2e/support/index.d.ts
  src/test/cypress/e2e/support/index.js
  src/test/cypress/e2e/support/localtest.js
  src/test/cypress/e2e/support/start-app-instance.js
  src/test/cypress/package.json
  src/test/cypress/use-cases.yaml
Labels: area/test

#8429 Chore/update studio deps
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/backend/yarn.lock
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer

#8432 Update Swashbuckle.
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
Labels: area/authentication, solution/platform

#8430 updated docker images for studio and altinn apps
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
  src/studio/src/repositories/Dockerfile
Labels: area/ui-editor, area/dashboard, solution/studio/designer, solution/studio/repos, area/receipt, solution/apps, solution/app-frontend

#8428 Ported over changes from app-frontend-react (superflous titleSubmitted)
  src/Altinn.Apps/AppFrontend/react/shared/src/components/atoms/AltinnAttachment.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/organisms/AltinnReceipt.test.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/components/organisms/AltinnReceipt.tsx
Labels: solution/app-frontend
