Repository Altinn/altinn-studio, pull requests merged in 2022-03, with the labels that each got.

#8134 bug/8054-frontend-rules-calculation
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/rules/check/checkRulesActions.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/rules/check/checkRulesSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/rules/rulesActionTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/rules/rulesActions.ts
  src/test/cypress/e2e/integration/app-frontend/rules.js
Labels: solution/app-frontend, area/test

#8140 updated example for adding error message
  src/studio/AppTemplates/AspNet/App/logic/Validation/ValidationHandler.cs
Labels: solution/app-backend

#8143 Fix: Correct padding for modal header (mobile)
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/styles/index.css
Labels: solution/app-frontend

#8129 Bump app template packages
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend

#8085 fix: use span instead of p as root tag for text resource content
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/GenericComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/HeaderComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/ImageComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/ParagraphComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/summary/__snapshots__/SummaryGroupComponent.test.tsx.snap
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/HelpTextContainer.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/HelpTextIcon.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/HelpTextPopover.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/Label.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/components/Legend.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formComponentUtils.test.ts
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/language.ts
  src/Altinn.Apps/AppFrontend/react/yarn.lock
Labels: solution/app-frontend

#8147 bug/8145-validations-fields-duplicate-tracks
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
Labels: solution/app-frontend

#8167 feat: support navbar in studio
  src/studio/src/designer/backend/Languages/ini/en.ini
  src/studio/src/designer/backend/Languages/ini/nb.ini
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.tsx
  src/studio/src/designer/frontend/ux-editor/components/index.ts
  src/studio/src/designer/frontend/ux-editor/components/toolbar/ToolbarItemComponent.tsx
  src/studio/src/designer/frontend/ux-editor/containers/EditContainer.tsx
  src/studio/src/designer/frontend/ux-editor/utils/language.ts
Labels: area/ui-editor, solution/studio/designer

#8164 patched docker images
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/studio/src/repositories/Dockerfile
Labels: solution/studio/repos, area/data-storage, solution/platform

#8166 Chore/8137 update node modules
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/package.json
  src/Altinn.Apps/AppFrontend/react/receipt/package.json
  src/Altinn.Apps/AppFrontend/react/shared/package.json
  src/Altinn.Apps/AppFrontend/react/yarn.lock
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
  src/test/K6/package.json
  src/test/K6/yarn.lock
  src/test/cypress/package.json
  src/test/cypress/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer, area/receipt, solution/app-frontend, area/test

#8168 use k6 execution iterationInTest
  src/test/K6/src/setup.js
  src/test/K6/src/support.js
  src/test/K6/src/tests/app/performance/rf0002withattachment.js
  src/test/K6/src/tests/app/performance/uploadanddownload.js
  src/test/K6/src/tests/platform/appowner/completeconfirmation.js
  src/test/K6/src/tests/platform/appowner/downloadinstances.js
Labels: area/test

#8170 Add optional chaining for options
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formComponentUtils.ts
Labels: solution/app-frontend, external-contribution-❤️

#8144 Upgraded platform receipt to .net 6
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Altinn.Platform.Receipt.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Controllers/ReceiptController.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Health/HealthTelemetryFilter.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Program.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Altinn.Platform.Receipt.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Health/HealthCheckTests.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/Mocks/ConfigurationManagerStub.cs
  src/Altinn.Platform/Altinn.Platform.Receipt/Tests/ReceiptControllerTests.cs
Labels: area/receipt, solution/platform

#8173 Prepare to publish new packages
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
Labels: area/authorization

#8174 Cleanup data created by bruksmønster
  src/test/K6/src/setup.js
  src/test/K6/src/tests/platform/storage/deleteinstances.js
Labels: area/test

#7925 Fix pdf and attachment links on receipt page on http
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/shared/src/components/atoms/AltinnAttachment.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/urlHelper.test.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/utils/urlHelper.ts
Labels: solution/app-frontend, external-contribution-❤️

#8227 updated containers
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/studio/src/designer/Dockerfile
Labels: solution/studio/designer, area/authorization, area/authentication, area/receipt, area/profile, area/register, area/data-storage, solution/platform, solution/apps, area/events

#8228 Updated nuget deps
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Altinn.Platform.Authorization.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Altinn.Platform.Authorization.Functions.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Altinn.Platform.Authorization.IntegrationTests.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/UnitTest/Altinn.Authorization.ABAC.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Events/Events/Altinn.Platform.Events.csproj
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Altinn.Platform.Profile.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Altinn.Platform.Register.Tests/Altinn.Platform.Register.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Register/Register/Altinn.Platform.Register.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/Altinn.Platform.Storage.DataCleanup.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/Altinn.Platform.Storage.UnitTest.csproj
  src/development/LocalTest/LocalTest.csproj
Labels: area/authorization, area/authentication, area/profile, area/register, area/data-storage, solution/platform, solution/apps, area/events

#8232 PerformedBy added to processHistoryItem
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/ProcessHistoryItem.cs
Labels: area/data-storage, solution/platform

#8175 updated app template to latest version
  src/studio/AppTemplates/AspNet/App/App.csproj
  src/studio/AppTemplates/AspNet/App/Startup.cs
  src/studio/AppTemplates/AspNet/deployment/Chart.yaml
  src/studio/AppTemplates/AspNet/deployment/values.yaml
Labels: area/app-deploy, solution/app-backend

#8233 Include performed by in processHistory
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Altinn.Platform.Storage.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Controllers/ProcessController.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Helpers/ProcessHelper.cs
  src/Altinn.Platform/Altinn.Platform.Storage/UnitTest/HelperTests/ProcessHelperTest.cs
Labels: area/data-storage, solution/platform

#8239 Added support for disabling PDF generation
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/DataElement.cs
Labels: area/data-storage, solution/platform

#8241 Fix of PDF disabling
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Altinn.Platform.Storage.Interface.csproj
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/DataElement.cs
  src/Altinn.Platform/Altinn.Platform.Storage/Storage.Interface/Models/DataType.cs
Labels: area/data-storage, solution/platform

#8244 Update app template to latest version
  src/studio/AppTemplates/AspNet/App/App.csproj
Labels: solution/app-backend

#8245 Render non-repeating group
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
Labels: area/pdf, solution/platform

#8249 Test/new api tests
  src/test/K6/docker-compose.yml
  src/test/K6/src/tests/app/instances.js
  src/test/K6/src/tests/app/multipartdata.js
  src/test/K6/src/tests/app/process.js
  src/test/K6/src/tests/platform/storage/events.js
  src/test/K6/src/tests/platform/storage/process.js
Labels: area/test

#8252 chore: cleanup unused files and dependencies
  src/studio/src/designer/frontend/.yarn/releases/yarn-3.1.0.cjs
  src/studio/src/designer/frontend/.yarn/releases/yarn-3.2.0.cjs
  src/studio/src/designer/frontend/.yarnrc.yml
  src/studio/src/designer/frontend/app-development/.env
  src/studio/src/designer/frontend/app-development/index.css
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/app-development/public/favicon.ico
  src/studio/src/designer/frontend/app-development/public/index.html
  src/studio/src/designer/frontend/app-development/public/manifest.json
  src/studio/src/designer/frontend/app-development/serviceWorker.js
  src/studio/src/designer/frontend/app-development/webpack.config.development.js
  src/studio/src/designer/frontend/app-development/webpack.config.production.js
  src/studio/src/designer/frontend/dashboard/.env
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/dashboard/public/favicon.ico
  src/studio/src/designer/frontend/dashboard/public/index.html
  src/studio/src/designer/frontend/dashboard/public/manifest.json
  src/studio/src/designer/frontend/dashboard/serviceWorker.js
  src/studio/src/designer/frontend/dashboard/webpack.common.js
  src/studio/src/designer/frontend/dashboard/webpack.config.development.js
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/packages/schema-editor/public/favicon.ico
  src/studio/src/designer/frontend/packages/schema-editor/public/index.html
  src/studio/src/designer/frontend/packages/schema-editor/public/logo192.png
  src/studio/src/designer/frontend/packages/schema-editor/public/logo512.png
  src/studio/src/designer/frontend/packages/schema-editor/public/manifest.json
  src/studio/src/designer/frontend/packages/schema-editor/public/robots.txt
  src/studio/src/designer/frontend/packages/schema-editor/rollup.config.js
  src/studio/src/designer/frontend/packages/schema-editor/test/setupTests.js
  src/studio/src/designer/frontend/packages/schema-editor/test/setupTests.ts
  src/studio/src/designer/frontend/packages/schema-editor/tsconfig.json
  src/studio/src/designer/frontend/packages/schema-editor/webpack.common.js
  src/studio/src/designer/frontend/packages/schema-editor/webpack.config.development.js
  src/studio/src/designer/frontend/packages/schema-editor/webpack.config.production.js
  src/studio/src/designer/frontend/shared/.markdownlint.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/shared/styleguide.webpack.config.js
  src/studio/src/designer/frontend/shared/test/__tests__/navigation/main-header/HeaderMenu.test.tsx
  src/studio/src/designer/frontend/shared/test/setupTests.ts
  src/studio/src/designer/frontend/utils/convertLangToJson.ts
  src/studio/src/designer/frontend/ux-editor/.env
  src/studio/src/designer/frontend/ux-editor/appConfig.ts
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/ux-editor/public/favicon.ico
  src/studio/src/designer/frontend/ux-editor/public/index.html
  src/studio/src/designer/frontend/ux-editor/public/manifest.json
  src/studio/src/designer/frontend/ux-editor/registerServiceWorker.ts
  src/studio/src/designer/frontend/ux-editor/store.ts
  src/studio/src/designer/frontend/ux-editor/test-data/ExampleDataModel.ts
  src/studio/src/designer/frontend/ux-editor/test/__tests__/App.test.tsx
  src/studio/src/designer/frontend/ux-editor/types/redux.d.ts
  src/studio/src/designer/frontend/ux-editor/webpack.common.js
  src/studio/src/designer/frontend/ux-editor/webpack.config.development.js
  src/studio/src/designer/frontend/ux-editor/webpack.config.production.js
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer

#8253 Fix LocalTest in "http" mode when no app is running
  src/development/LocalTest/Controllers/HomeController.cs
Labels: external-contribution-❤️

#8251 Add unit tests, stylecop issues
  src/Altinn.Platform/Altinn.Platform.Authorization/Altinn.Platform.Authorization.sln
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Altinn.Platform.Authorization.Functions.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Clients/BridgeClient.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Clients/Interfaces/IBridgeClient.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Configuration/KeyVaultSettings.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Configuration/PlatformSettings.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/DelegationEvents.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/DelegationEventsPoison.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Exceptions/BridgeRequestFailedException.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Factories/CustomQueueProcessorFactory.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Models/DelegationChange.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Models/DelegationChangeEvent.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Models/DelegationChangeEventList.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Models/DelegationChangeEventType.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Models/PlatformDelegationEvent.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Services/AccessTokenProvider.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Services/EventMapperService.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Services/EventPusherService.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Services/Interfaces/IAccessTokenProvider.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Services/Interfaces/IEventMapperService.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Services/Interfaces/IEventPusherService.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Services/Interfaces/IKeyVaultService.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Services/KeyVaultService.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Startup.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Tests/AccessTokenProviderTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Tests/Altinn.Platform.Authorization.Functions.UnitTest.csproj
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Tests/EventMapperServiceTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Tests/EventPusherServiceTest.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/Tests/GlobalSuppressions.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/Functions/host.json
Labels: area/authorization, solution/platform

#8250 Avoid nullpointer
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
Labels: area/pdf, solution/platform

#8271 fix: there is a undocumented breaking change in Yuniql where ITraceSe…
  src/studio/src/designer/backend/Designer.csproj
Labels: solution/studio/designer

#8266 bug/8121-datepicker-invalid-date
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DatepickerComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DatepickerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/render.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/validation.ts
Labels: solution/app-frontend

#8270 feat/8243-confirm-page-texts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/confirm/containers/Confirm.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/confirm/containers/Confirm.tsx
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/en.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nb.ts
  src/Altinn.Apps/AppFrontend/react/shared/src/language/texts/nn.ts
Labels: solution/app-frontend

#8272 new collection for app owner tests
  src/test/Postman/altinn3.postman_environment.json
  src/test/Postman/collections/Organization.postman_collection.json
Labels: area/test

#8246 upgraded authentication to .net 6
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Altinn.Platform.Authentication.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Controllers/AuthenticationControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Controllers/IntrospectionControllerTest.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Controllers/OpenIdControllerTests.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Health/HealthCheckTests.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Altinn.Platform.Authentication.Tests/Mocks/OidcProviderServiceMock.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Altinn.Platform.Authentication.csproj
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Configuration/GeneralSettings.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Controllers/AuthenticationController.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Extensions/DataProtectionConfiguration.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Health/HealthTelemetryFilter.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Program.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Services/OidcProviderService.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Services/OrganisationsService.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Services/SblCookieDecryptionService.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Services/UserProfileService.cs
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Startup.cs
Labels: area/authentication, solution/platform

#8282 Include key vault as config source
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Program.cs
Labels: area/authentication, solution/platform

#8280 Minimal fix to the IndexOutOfRangeException in Storage after app deploy.
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Repository/ApplicationRepository.cs
Labels: area/data-storage, solution/platform

#8283 updated collection for local test
  src/test/Postman/collections/Altinn Studio App Local Testing.postman_collection.json
  src/test/Postman/collections/Local-Test.postman_collection.json
Labels: area/test

#8284 reduced log level for function in cleanup
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/host.json
Labels: area/data-storage, solution/platform

#8287 call correlating method in decorated service
  src/studio/src/designer/backend/Services/Implementation/SourceControlLoggingDecorator.cs
Labels: solution/studio/designer

#8288 updated postman collection
  src/test/Postman/collections/Local-Test.postman_collection.json
  src/test/Postman/collections/Organization.postman_collection.json
Labels: area/test

#8293 bug/8292-options-same-id-different-mapping
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/options/fetch/fetchOptionsSagas.test.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/options/fetch/fetchOptionsSagas.ts
Labels: solution/app-frontend

#8291 log correct argument for destination
  src/studio/src/designer/backend/Services/Implementation/SourceControlLoggingDecorator.cs
Labels: solution/studio/designer

#8295 risen log level for cleanup function
  src/Altinn.Platform/Altinn.Platform.Storage/DataCleanup/host.json
Labels: area/data-storage, solution/platform

#8294 chore: remove dead code - AppFrontend
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/layout/formLayoutTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/form/rules/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/features/instantiate/containers/index.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/components/altinnProfile.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/process/completeProcess/completeProcessSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/process/getProcessState/getProcessStateSagas.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/shared/resources/process/processActionTypes.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/appUrlHelper.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/databindings.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/formLayout.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/render.tsx
Labels: area/instantiation, solution/app-frontend

#8298 chore: remove dead code - studio
  src/studio/src/designer/frontend/app-development/features/accessControl/components/PartyTypeComponent.tsx
  src/studio/src/designer/frontend/app-development/reducers/index.ts
  src/studio/src/designer/frontend/app-development/sharedResources/appDeployment/create/createAppDeploymentSagas.ts
  src/studio/src/designer/frontend/app-development/sharedResources/appRelease/create/createAppReleaseSagas.ts
  src/studio/src/designer/frontend/app-development/sharedResources/configuration/configurationSlice.ts
  src/studio/src/designer/frontend/app-development/sharedResources/repoStatus/get/getMasterRepoStatusSagas.ts
  src/studio/src/designer/frontend/app-development/sharedResources/repoStatus/reset/resetLocalRepoSagas.ts
  src/studio/src/designer/frontend/app-development/test/__testdata__/deployTestData.ts
  src/studio/src/designer/frontend/dashboard/test/__mocks__/mockComponent.tsx
  src/studio/src/designer/frontend/dashboard/test/__mocks__/react-truncate-markup.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/ConstItem.md
  src/studio/src/designer/frontend/packages/schema-editor/src/components/ConstItem.tsx
  src/studio/src/designer/frontend/shared/components/molecules/AltinnInformationCardForChildren.tsx
  src/studio/src/designer/frontend/shared/file-editor/MonacoEditorComponent.tsx
  src/studio/src/designer/frontend/shared/utils/applicationMetaDataUtils.ts
  src/studio/src/designer/frontend/shared/utils/language.ts
  src/studio/src/designer/frontend/ux-editor/components/FormComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/CodeListComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/ExternalAPIComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/toolbar/ListSelectorComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/widget/SwitchComponent.tsx
  src/studio/src/designer/frontend/ux-editor/containers/EditContainer.tsx
  src/studio/src/designer/frontend/ux-editor/containers/FormDesigner.tsx
  src/studio/src/designer/frontend/ux-editor/containers/Toolbar.tsx
  src/studio/src/designer/frontend/ux-editor/containers/thirdPartyComponentWithDataHandler.tsx
  src/studio/src/designer/frontend/ux-editor/features/appData/textResources/textResourcesSlice.ts
  src/studio/src/designer/frontend/ux-editor/features/formDesigner/activeList/activeListSagas.ts
  src/studio/src/designer/frontend/ux-editor/features/formDesigner/formDesignerTypes.ts
  src/studio/src/designer/frontend/ux-editor/features/formDesigner/formLayout/formLayoutSagas.ts
  src/studio/src/designer/frontend/ux-editor/features/widgets/widgetsSlice.ts
  src/studio/src/designer/frontend/ux-editor/utils/arrayHelpers/arrayLogic.ts
  src/studio/src/designer/frontend/ux-editor/utils/codelist.ts
  src/studio/src/designer/frontend/ux-editor/utils/language.ts
  src/studio/src/designer/frontend/ux-editor/utils/networking.ts
Labels: area/ui-editor, area/dashboard, area/app-deploy, solution/studio/designer

#8236 height differences in input and datebox.
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/App.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DatepickerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/DropdownComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/InputComponent.tsx
Labels: solution/app-frontend

#8281 Feature/7219 dotnet 6 designer
  src/studio/src/designer/DataModeling.Tests/Assertions/XmlSchemaAssertions.cs
  src/studio/src/designer/DataModeling.Tests/DataModeling.Tests.csproj
  src/studio/src/designer/DataModeling.Tests/Json/JsonSchemaNormalizerTests.cs
  src/studio/src/designer/DataModeling.Tests/Json/JsonSchemaSeresAnalyzerTests.cs
  src/studio/src/designer/DataModeling.Tests/Json/SeresConverterTests.cs
  src/studio/src/designer/DataModeling.Tests/Json/SeresStrategyTests.cs
  src/studio/src/designer/DataModeling.Tests/ResourceHelpers.cs
  src/studio/src/designer/DataModeling.Tests/Seres2JsonSchema2SeresTests.cs
  src/studio/src/designer/DataModeling/Converter/Json/JsonSchemaToXmlSchemaConverter.cs
  src/studio/src/designer/DataModeling/DataModeling.csproj
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/backend.Tests/Controllers/DatamodelsControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/DeploymentsControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/ReleasesControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/RepositoryControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/RepositorySettingsControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/SessionControllerTest.cs
  src/studio/src/designer/backend.Tests/Controllers/UserControllerTests.cs
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/XsdToCSharpTests.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/XsdToJsonSchemaTests.cs
  src/studio/src/designer/backend.Tests/Infrastructure/GitRepository/AltinnGitRepositoryTests.cs
  src/studio/src/designer/backend.Tests/Infrastructure/GitRepository/GitRepositoryTests.cs
  src/studio/src/designer/backend.Tests/Mocks/IGiteaMock.cs
  src/studio/src/designer/backend.Tests/Mocks/ISourceControlMock.cs
  src/studio/src/designer/backend.Tests/Models/AltinnCoreFileTests.cs
  src/studio/src/designer/backend.Tests/Services/DeploymentServiceTest.cs
  src/studio/src/designer/backend.Tests/Services/GiteaAPIWrapperTest.cs
  src/studio/src/designer/backend.Tests/Services/ReleaseServiceTest.cs
  src/studio/src/designer/backend.Tests/Services/RepositorySITests.cs
  src/studio/src/designer/backend.Tests/Services/SourceControlLoggingDecoratorTests.cs
  src/studio/src/designer/backend.Tests/Services/SourceControlSITest.cs
  src/studio/src/designer/backend.Tests/Utils/Compiler.cs
  src/studio/src/designer/backend.Tests/Utils/TestDataHelper.cs
  src/studio/src/designer/backend.Tests/_TestData/ModelData/Brønnøysundregistrene_ReelleRettighetshavere_M_2021-11-22_6900_46864_SERES.CorrectOrder.xml
  src/studio/src/designer/backend/.dockerignore
  src/studio/src/designer/backend/Configuration/ConsoleTraceService.cs
  src/studio/src/designer/backend/Controllers/DatamodelsController.cs
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/designer/backend/Helpers/Extensions/StringExtensions.cs
  src/studio/src/designer/backend/Infrastructure/DataProtectionConfiguration.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/GitRepository.cs
  src/studio/src/designer/backend/Program.cs
  src/studio/src/designer/backend/RepositoryClient/Client/ApiClient.cs
  src/studio/src/designer/backend/Startup.cs
Labels: solution/studio/designer

#8306 Update README.md
  src/Altinn.Platform/README.md
Labels: solution/platform

#8308 Fix startup issues after upgrade to dotnet6
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/backend/.dockerignore
  src/studio/src/designer/backend/Designer.csproj
Labels: solution/studio/designer

#8309 test: update snapshot that was forgotten as part of #8236
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/__snapshots__/InputComponent.test.tsx.snap
Labels: solution/app-frontend

#8269 chore: patch containers
  lgtm.yml
  src/Altinn.Apps/AppFrontend/react/receipt/Dockerfile
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authentication/Authentication/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Events/Events/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Profile/Profile/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Receipt/Receipt/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Register/Register/Dockerfile
  src/Altinn.Platform/Altinn.Platform.Storage/Storage/Dockerfile
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/frontend/app-development/Dockerfile
  src/studio/src/designer/frontend/dashboard/Dockerfile
  src/studio/src/designer/frontend/ux-editor/Dockerfile
  src/studio/src/repositories/Dockerfile
Labels: area/ui-editor, area/dashboard, solution/studio/designer, solution/studio/repos, area/authorization, area/authentication, area/receipt, area/profile, area/register, area/data-storage, solution/platform, solution/apps, solution/app-frontend, area/events

#8238 Added layout options for checkboxes and radio(row/column)
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/package.json
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/RadioButtonsContainerComponent.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/components/base/RadioButtonsContainerComponent.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/types/index.ts
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/layout/index.test.tsx
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/src/utils/layout/index.tsx
Labels: solution/app-frontend

#8313 Bug/fix keyvault settings after dotnet6 upgrade
  src/studio/src/designer/backend/Designer.csproj
  src/studio/src/designer/backend/Program.cs
Labels: solution/studio/designer

#8285 Bug/get rules returns 500 when offeredby is 0
  src/Altinn.Platform/Altinn.Platform.Authorization/Authorization/Controllers/DelegationsController.cs
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/Data/Json/GetRules/GetRules_MissingOfferedByInRequestRequest.json
  src/Altinn.Platform/Altinn.Platform.Authorization/IntegrationTests/DelegationsControllerTest.cs
Labels: area/authorization, solution/platform

#8303 use names for placeholders
  src/studio/src/designer/backend/Services/Implementation/SourceControlLoggingDecorator.cs
Labels: solution/studio/designer

#8316 chore: update to webpack 5 and update other dependencies
  src/studio/README.md
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/backend/yarn.lock
  src/studio/src/designer/frontend/app-development/features/accessControl/containers/AccessControlContainer.tsx
  src/studio/src/designer/frontend/app-development/features/handleMergeConflict/HandleMergeConflictContainer.tsx
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/app-development/webpack.common.js
  src/studio/src/designer/frontend/app-development/webpack.config.development.js
  src/studio/src/designer/frontend/app-development/webpack.config.production.js
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/dashboard/webpack.common.js
  src/studio/src/designer/frontend/dashboard/webpack.config.development.js
  src/studio/src/designer/frontend/dashboard/webpack.config.production.js
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/packages/schema-editor/webpack.config.development.js
  src/studio/src/designer/frontend/shared/navigation/main-header/__snapshots__/appBar.test.tsx.snap
  src/studio/src/designer/frontend/shared/navigation/main-header/appBar.test.tsx
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/shared/test/setupTests.ts
  src/studio/src/designer/frontend/shared/utils/language.ts
  src/studio/src/designer/frontend/ux-editor/components/config/ConditionalRenderingComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/RuleComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/SelectDataModelComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/SelectionEditComponent.tsx
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/ux-editor/webpack.common.js
  src/studio/src/designer/frontend/ux-editor/webpack.config.development.js
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer

#8319 chore: migrate tests using user-event to updated API in version 14
  src/studio/src/designer/frontend/dashboard/features/createService/CreateService.test.tsx
  src/studio/src/designer/frontend/dashboard/features/dashboard/index.test.tsx
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer

#8320 fixed bug for repeating group in pdf
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/utils/FormUtils.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/test/java/altinn/platform/pdf/utils/FormUtilsTest.java
Labels: area/pdf, solution/platform

#8323 ControllerAdvice
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/controllers/GlobalControllerAdvice.java
Labels: area/pdf, solution/platform

#8321 chore: missed config changes during migration to webpack 5
  src/studio/src/designer/frontend/app-development/webpack.config.development.js
  src/studio/src/designer/frontend/dashboard/webpack.config.development.js
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/ux-editor/webpack.config.development.js
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer

#8333 chore: disable warning overlay for webpack dev server
  src/Altinn.Apps/AppFrontend/react/altinn-app-frontend/webpack.config.development.js
  src/Altinn.Apps/AppFrontend/react/receipt/webpack.config.development.js
  src/studio/src/designer/frontend/app-development/webpack.config.development.js
  src/studio/src/designer/frontend/dashboard/webpack.config.development.js
  src/studio/src/designer/frontend/packages/schema-editor/webpack.config.development.js
  src/studio/src/designer/frontend/ux-editor/webpack.config.development.js
Labels: area/ui-editor, area/dashboard, solution/studio/designer, area/receipt, solution/app-frontend
