Repository Altinn/altinn-studio, pull requests merged in 2022-11, with the labels that each got.

#9101 Ensure that cookies set on the app, gets rewritten to use local.altinn.cloud
  src/development/loadbalancer/nginx.conf
Labels: external-contribution-❤️

#9181 fix: cleanup code-smells
  src/studio/src/designer/frontend/.eslintrc.json
  src/studio/src/designer/frontend/dashboard/prettier.config.js
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/prettier.config.js
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ReferenceSelectionComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/RestrictionField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/ui-schema-utils.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/utils/ui-schema-utils.ts
  src/studio/src/designer/frontend/prettier.config.js
  src/studio/src/designer/frontend/shared/features/dataModelling/prettier.config.js
  src/studio/src/designer/frontend/tsconfig.json
  src/studio/src/designer/frontend/yarn.lock
Labels: area/dashboard, solution/studio/designer

#9186 show correct value when disabled
  src/studio/src/designer/frontend/shared/components/AltinnDropdown.tsx
Labels: solution/studio/designer

#9175 fix: total digits restriction keyword
  src/studio/src/designer/DataModeling.Tests/Assertions/JsonSchemaAssertions.cs
  src/studio/src/designer/DataModeling.Tests/Json/Keywords/BaseClasses/KeywordTestsBase.cs
  src/studio/src/designer/DataModeling.Tests/Json/Keywords/XsdTotalDigitsKeywordJsonConverterTests.cs
  src/studio/src/designer/DataModeling.Tests/Json/Keywords/XsdTotalDigitsKeywordTests.cs
  src/studio/src/designer/DataModeling.Tests/Utils/RestrictionHelperTests.cs
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/General/SimpleTypeRestrictions.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/Seres/SeresSimpleTypeRestrictions.json
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/GeneralJsonSchemaConverter.cs
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/JsonSchemaAnalyzer.cs
  src/studio/src/designer/DataModeling/Converter/Xml/XmlSchemaToJsonSchemaConverter.cs
  src/studio/src/designer/DataModeling/Json/Keywords/FormatExclusiveMaximumKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/FormatExclusiveMinimumKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/FormatMaximumKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/FormatMinimumKeyword.cs
  src/studio/src/designer/DataModeling/Json/Keywords/XsdTotalDigitsKeyword.cs
  src/studio/src/designer/DataModeling/Utils/JsonSchemaXsdExtensions.cs
  src/studio/src/designer/DataModeling/Utils/RestrictionsHelper.cs
  src/studio/src/designer/backend.Tests/Assertions/TypeAssertions.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/CsharpEnd2EndGenerationTests.cs
  src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/SimpleTypeRestrictions.xsd
  src/studio/src/designer/backend/Factories/ModelFactory/JsonMetadataParser.cs
  src/studio/src/designer/backend/Factories/ModelFactory/JsonSchemaToMetamodelConverter.cs
  src/studio/src/designer/backend/Factories/ModelFactory/MetamodelRestrictionUtils.cs
Labels: solution/studio/designer

#9180 Update application metadata with typeName and not schemaName
  src/studio/src/designer/backend/Services/Implementation/SchemaModelService.cs
Labels: solution/studio/designer

#9187 Chore/adding workflow to run unittests on frontend
  .github/workflows/frontend-unit-tests.yml
  src/studio/src/designer/frontend/.depcheckrc.json
  src/studio/src/designer/frontend/app-development/App.test.tsx
  src/studio/src/designer/frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictAbort.test.tsx
  src/studio/src/designer/frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictDiscardChanges.test.tsx
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/common/components/MakeCopyModal.test.tsx
  src/studio/src/designer/frontend/dashboard/common/components/RepoList.test.tsx
  src/studio/src/designer/frontend/dashboard/features/createService/CreateService.test.tsx
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-model/package.json
  src/studio/src/designer/frontend/shared/features/dataModelling/components/XSDUpload.test.tsx
  src/studio/src/designer/frontend/shared/navigation/main-header/HeaderMenu.test.tsx
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/shared/version-control/versionControlHeader.test.tsx
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer

#9183 9154 frontend post mui upgrade fixes part2
  src/studio/src/designer/frontend/ux-editor/.babelrc
  src/studio/src/designer/frontend/ux-editor/.dockerignore
  src/studio/src/designer/frontend/ux-editor/Dockerfile
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.module.css
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.test.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.tsx
  src/studio/src/designer/frontend/ux-editor/containers/EditContainer.tsx
  src/studio/src/designer/frontend/ux-editor/declaration.d.ts
  src/studio/src/designer/frontend/ux-editor/prettier.config.js
  src/studio/src/designer/frontend/ux-editor/webpack.common.js
  src/studio/src/designer/frontend/ux-editor/webpack.config.development.js
  src/studio/src/designer/frontend/ux-editor/webpack.config.production.js
Labels: area/ui-editor, solution/studio/designer

#9201 Make dockerfile more compact
  src/studio/src/repositories/Dockerfile
Labels: solution/studio/repos

#9202 Changed ClockSkew for AccessToken validation from Zero to 60 seconds.
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Services/AccessTokenValidator.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
Labels: area/authorization

#9193 9100 datamodelling testdata and converter have wrong array setup
  src/studio/src/designer/DataModeling.Tests/XmlSchemaToJsonTests.cs
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/General/ComplexSchema.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/General/NestedArrays.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/General/NestedWithArraySequence.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/Seres/SeresArray.json
  src/studio/src/designer/frontend/language/old/en.json
  src/studio/src/designer/frontend/language/old/nb.json
  src/studio/src/designer/frontend/packages/schema-model/src/lib/build-json-schema.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/build-ui-schema.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/build.test.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/restrictions.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/types.ts
  src/studio/src/designer/frontend/packages/schema-model/test/testUtils.ts
Labels: solution/studio/designer

#9209 Use relative redirect in LoginTestUser in LocalTest
  src/development/LocalTest/Controllers/HomeController.cs
Labels: external-contribution-❤️

#9195 Improve schema-deletion and format json-files
  src/studio/src/designer/backend.Tests/Controllers/DataModelsController/PutDatamodelTests.cs
  src/studio/src/designer/backend.Tests/Services/SchemaModelServiceTests.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  src/studio/src/designer/backend/Services/Implementation/SchemaModelService.cs
Labels: solution/studio/designer

#9210 feat: simplify conversion output of simpletype restrictions
  src/studio/src/designer/DataModeling.Tests/Json/Keywords/BaseClasses/ConverterTestBase.cs
  src/studio/src/designer/DataModeling.Tests/Json/Keywords/XsdTotalDigitsKeywordTests.cs
  src/studio/src/designer/DataModeling.Tests/Json/SeresStrategyTests.cs
  src/studio/src/designer/DataModeling.Tests/Seres2JsonSchema2SeresTests.cs
  src/studio/src/designer/DataModeling.Tests/TestDataClasses/RoundTripConversionTestData.cs
  src/studio/src/designer/DataModeling.Tests/Utils/XmlSchemaTypesTests.cs
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/General/ComplexContentRestriction.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/General/ComplexSchema.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/General/Definitions.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/General/NillableAttribute.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/General/SchemaExampleWithTargetNamespace.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/General/SimpleContentExtension.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/General/SimpleTypeRestrictions.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/Seres/SeresArray.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/Seres/SeresComplexType.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/Seres/SeresNillable.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/Seres/SeresSimpleContentRestriction.json
  src/studio/src/designer/DataModeling.Tests/_TestData/Model/JsonSchema/Seres/SeresSimpleTypeRestrictions.json
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/GeneralJsonSchemaConverter.cs
  src/studio/src/designer/DataModeling/Converter/Json/Strategy/JsonSchemaAnalyzer.cs
  src/studio/src/designer/DataModeling/Converter/Xml/XmlSchemaToJsonSchemaConverter.cs
  src/studio/src/designer/DataModeling/DataModeling.csproj
  src/studio/src/designer/DataModeling/Utils/RestrictionsHelper.cs
  src/studio/src/designer/DataModeling/Utils/WorkList.cs
  src/studio/src/designer/DataModeling/Utils/XmlSchemaTypes.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/BaseClasses/Xsd2CsharpBaseClass.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/CsharpEnd2EndGenerationTests.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/DataClasses/CSharpE2ERestrictionsTestData.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/DataClasses/CSharpEnd2EndTestData.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/JsonMetadataParserTests.cs
  src/studio/src/designer/backend/Factories/ModelFactory/MetamodelRestrictionUtils.cs
Labels: solution/studio/designer

#9217 chore/some dev experience improvements
  .gitignore
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/backend/Properties/launchSettings.json
  src/studio/src/designer/backend/README.md
  src/studio/src/designer/backend/gulpfile.js
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/backend/prettier.config.js
  src/studio/src/designer/frontend/.depcheckrc.json
  src/studio/src/designer/frontend/dashboard/tsconfig.json
  src/studio/src/designer/frontend/dashboard/webpack.config.development.js
  src/studio/src/designer/frontend/language/README.md
  src/studio/src/designer/frontend/mockend/README.md
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/tsconfig.json
  src/studio/src/designer/frontend/yarn.lock
Labels: area/dashboard, solution/studio/designer

#9221 Clean away Material UI stuff
  src/studio/src/designer/frontend/app-development/.gitignore
  src/studio/src/designer/frontend/app-development/App.module.css
  src/studio/src/designer/frontend/app-development/App.tsx
  src/studio/src/designer/frontend/app-development/features/accessControl/containers/AccessControlContainer.tsx
  src/studio/src/designer/frontend/app-development/features/administration/components/Administration.module.css
  src/studio/src/designer/frontend/app-development/features/administration/components/Administration.tsx
  src/studio/src/designer/frontend/app-development/features/administration/components/SideMenuContent.module.css
  src/studio/src/designer/frontend/app-development/features/dataModelling/containers/DataModellingContainer.module.css
  src/studio/src/designer/frontend/app-development/features/dataModelling/containers/DataModellingContainer.tsx
  src/studio/src/designer/frontend/app-development/layout/LeftMenu.tsx
  src/studio/src/designer/frontend/shared/components/AltinnColumnLayout.module.css
  src/studio/src/designer/frontend/shared/components/AltinnColumnLayout.test.tsx
  src/studio/src/designer/frontend/shared/components/AltinnColumnLayout.tsx
  src/studio/src/designer/frontend/shared/navigation/drawer/LeftDrawerMenu.module.css
  src/studio/src/designer/frontend/shared/navigation/drawer/LeftDrawerMenu.tsx
  src/studio/src/designer/frontend/shared/navigation/drawer/leftDrawerMenuStyles.ts
  src/studio/src/designer/frontend/ux-editor/containers/FormDesigner.tsx
Labels: area/ui-editor, solution/studio/designer

#9222 Feat: fix xsdType keyword for array and enable tests
  src/studio/src/designer/DataModeling.Tests/TestDataClasses/Xml2JsonTestData.cs
  src/studio/src/designer/DataModeling.Tests/XmlSchemaToJsonTests.cs
  src/studio/src/designer/DataModeling/Converter/Xml/XmlSchemaToJsonSchemaConverter.cs
  src/studio/src/designer/DataModeling/Utils/JsonSchemaExtensions.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/XsdToCSharpTests.cs
Labels: solution/studio/designer

#9225 Mark old conversion test with skip
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/XsdToCSharpTests.cs
Labels: solution/studio/designer

#9229 bug/fix routing after baseurl change
  .github/workflows/load-balancer-scan.yml
  src/studio/docker-compose.yml
  src/studio/src/designer/backend/Views/Home/Index.cshtml
  src/studio/src/designer/backend/Views/ServiceDevelopment/index.cshtml
  src/studio/src/designer/frontend/app-development/config/subPathSettings.ts
  src/studio/src/designer/frontend/app-development/layout/PageHeader.tsx
  src/studio/src/designer/frontend/shared/navigation/drawer/LeftDrawerMenu.tsx
  src/studio/src/designer/frontend/shared/navigation/drawer/TabletDrawerMenu.tsx
  src/studio/src/designer/frontend/shared/navigation/drawer/drawerMenuSettings.ts
  src/studio/src/load-balancer/Dockerfile
  src/studio/src/load-balancer/README.md
  src/studio/src/load-balancer/nginx.conf
Labels: solution/studio/designer

#9243 Replace Select components
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ReferenceSelectionComponent.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ReferenceSelectionComponent.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/RestrictionField.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.tsx
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: solution/studio/designer

#9246 9241 fix warnings in tests again and treat warnings as errors
  src/studio/src/designer/frontend/app-development/features/accessControl/containers/AccessControlContainer.test.tsx
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/shared/components/AltinnDropdown.tsx
  src/studio/src/designer/frontend/shared/version-control/versionControlHeader.test.tsx
  src/studio/src/designer/frontend/shared/version-control/versionControlHeader.tsx
  src/studio/src/designer/frontend/testing/setupTests.ts
  src/studio/src/designer/frontend/testing/testUtils.ts
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.tsx
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, solution/studio/designer

#9248 feat: ignore generated test files
  .gitignore
  src/studio/src/designer/DataModeling/DataModeling.csproj
  src/studio/src/designer/backend.Tests/Controllers/DataModelsController/AddXsdTests.cs
  src/studio/src/designer/backend.Tests/Controllers/DataModelsController/PostTests.cs
  src/studio/src/designer/backend.Tests/Controllers/DataModelsController/PutDatamodelTests.cs
  src/studio/src/designer/backend.Tests/Controllers/DataModelsController/UploadTests.cs
  src/studio/src/designer/backend.Tests/Controllers/RepositorySettingsControllerTests.cs
  src/studio/src/designer/backend.Tests/Controllers/TextsControllerTests.cs
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend.Tests/Infrastructure/GitRepository/AltinnGitRepositoryTests.cs
  src/studio/src/designer/backend.Tests/Infrastructure/GitRepository/GitRepositoryTests.cs
  src/studio/src/designer/backend.Tests/Services/RepositorySITests.cs
  src/studio/src/designer/backend.Tests/Services/SchemaModelServiceTests.cs
  src/studio/src/designer/backend.Tests/Services/SourceControlSITest.cs
  src/studio/src/designer/backend.Tests/Utils/TestDataHelper.cs
Labels: solution/studio/designer

#9257 correct test id
  src/test/cypress/e2e/pageobjects/designer.js
Labels: area/test

#9264 bug/correcting more endpoints
  src/studio/src/designer/frontend/app-development/features/administration/components/SideMenuContent.tsx
Labels: kind/bug, solution/studio/designer

#9266 Replace checkboxes and text fields
  src/studio/src/designer/frontend/language/src/nb.json
  src/studio/src/designer/frontend/ux-editor/components/config/EditBoilerplate.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.module.css
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.test.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/FileUploadWithTagComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/HeaderSizeSelect.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/ImageComponent.module.css
  src/studio/src/designer/frontend/ux-editor/components/config/ImageComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/SelectionEditComponent.module.css
  src/studio/src/designer/frontend/ux-editor/components/config/SelectionEditComponent.tsx
  src/studio/src/designer/frontend/ux-editor/utils/render.tsx
Labels: area/ui-editor, solution/studio/designer

#9269 bug/fix gulp and backend dev xp
  src/studio/src/designer/backend/gulpfile.js
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/backend/yarn.lock
Labels: solution/studio/designer

#9255 Add date restriction fields
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/jest.config.js
  src/studio/src/designer/frontend/language/src/en.json
  src/studio/src/designer/frontend/language/src/nb.json
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.module.css
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.test.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.tsx
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictionsReducer.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictionsReducer.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.test.ts
  src/studio/src/designer/frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  src/studio/src/designer/frontend/packages/schema-model/src/index.ts
  src/studio/src/designer/frontend/packages/schema-model/src/lib/restrictions.ts
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: solution/studio/designer

#9270 9259 link to designer from app repo points to old path
  src/studio/src/repositories/gitea-data/gitea/templates/custom/extra_links.tmpl
Labels: solution/studio/repos

#9274 chore/update frontend dependencies
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/dashboard/package.json
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/packages/schema-editor/package.json
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/ux-editor/package.json
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer

#9281 bug/files missing in backends frontend code
  .gitignore
  src/studio/src/designer/frontend/mockend/src/index.js
Labels: solution/studio/designer

#9285 chore/prep div minor changes
  src/studio/src/designer/frontend/.gitignore
  src/studio/src/designer/frontend/app-development/package.json
  src/studio/src/designer/frontend/jest.config.js
Labels: solution/studio/designer

#9283 bug/files missing in backends frontend code
  src/studio/src/designer/frontend/language/copy-files-to-dist.js
Labels: solution/studio/designer

#9292 Set accesstoken ValidFrom to be 5 seconds earlier
  .gitignore
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Configuration/AccessTokenSettings.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Services/AccessTokenGenerator.cs
Labels: area/authorization

#9276 menu & administration for datamodels repo
  src/studio/src/designer/frontend/app-development/App.test.tsx
  src/studio/src/designer/frontend/app-development/App.tsx
  src/studio/src/designer/frontend/app-development/features/administration/components/Administration.module.css
  src/studio/src/designer/frontend/app-development/features/administration/components/Administration.test.tsx
  src/studio/src/designer/frontend/app-development/features/administration/components/Administration.tsx
  src/studio/src/designer/frontend/app-development/features/administration/components/DatamodelsAdministration.tsx
  src/studio/src/designer/frontend/app-development/features/administration/components/MainContent.tsx
  src/studio/src/designer/frontend/app-development/features/administration/components/ServiceAdministration.test.tsx
  src/studio/src/designer/frontend/app-development/features/administration/components/ServiceAdministration.tsx
  src/studio/src/designer/frontend/app-development/features/administration/components/SideMenuContent.tsx
  src/studio/src/designer/frontend/app-development/layout/AppBar/AppBar.tsx
  src/studio/src/designer/frontend/app-development/layout/AppBar/appBarConfig.test.ts
  src/studio/src/designer/frontend/app-development/layout/AppBar/appBarConfig.ts
  src/studio/src/designer/frontend/app-development/test/testUtils.tsx
  src/studio/src/designer/frontend/app-development/types/global.ts
  src/studio/src/designer/frontend/app-development/utils/repository.test.ts
  src/studio/src/designer/frontend/app-development/utils/repository.ts
  src/studio/src/designer/frontend/language/src/en.json
  src/studio/src/designer/frontend/language/src/nb.json
Labels: solution/studio/designer

#9298 fix: use non escaped url in location header
  .gitignore
  src/studio/src/designer/backend.Tests/Controllers/DataModelsController/AddXsdTests.cs
  src/studio/src/designer/backend/Controllers/DatamodelsController.cs
Labels: solution/studio/designer

#9277 9275 dev xp make a better docker compose setup for altinn studio
  .gitignore
  src/studio/README.md
  src/studio/docker-compose.yml
  src/studio/src/designer/Dockerfile
  src/studio/src/designer/backend/Views/Home/Docs.cshtml
  src/studio/src/designer/backend/Views/Home/Index.cshtml
  src/studio/src/designer/backend/Views/Home/NotAuthorized.cshtml
  src/studio/src/designer/backend/Views/ServiceDevelopment/index.cshtml
  src/studio/src/designer/backend/gulpfile.js
  src/studio/src/designer/backend/package.json
  src/studio/src/designer/frontend/README.md
  src/studio/src/load-balancer/nginx.conf
  src/studio/src/load-balancer/nginx.conf.conf
Labels: solution/studio/designer

#9299 9140 consolidate all api paths in frontend
  src/studio/src/designer/frontend/.prettierignore
  src/studio/src/designer/frontend/app-development/App.tsx
  src/studio/src/designer/frontend/app-development/features/administration/components/DownloadRepoModal.tsx
  src/studio/src/designer/frontend/app-development/features/appPublish/components/appReleaseComponent.tsx
  src/studio/src/designer/frontend/app-development/features/appPublish/containers/releaseContainer.tsx
  src/studio/src/designer/frontend/app-development/features/appPublish/pages/InfoCard.tsx
  src/studio/src/designer/frontend/app-development/features/handleMergeConflict/HandleMergeConflictContainer.tsx
  src/studio/src/designer/frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictAbort.tsx
  src/studio/src/designer/frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictDiscardChanges.tsx
  src/studio/src/designer/frontend/app-development/layout/AppBar/AppBar.tsx
  src/studio/src/designer/frontend/app-development/sharedResources/configuration/getEnvironments/getEnvironmentsSagas.ts
  src/studio/src/designer/frontend/app-development/sharedResources/configuration/getOrgs/getOrgsSagas.ts
  src/studio/src/designer/frontend/app-development/sharedResources/repoStatus/get/getMasterRepoStatusSagas.ts
  src/studio/src/designer/frontend/app-development/sharedResources/repoStatus/reset/resetLocalRepoSagas.ts
  src/studio/src/designer/frontend/app-development/sharedResources/user/session/sessionSagas.ts
  src/studio/src/designer/frontend/app-development/utils/urlHelper.ts
  src/studio/src/designer/frontend/dashboard/dashboardTestUtils.tsx
  src/studio/src/designer/frontend/dashboard/features/createService/CreateService.test.tsx
  src/studio/src/designer/frontend/dashboard/services/repoApi.ts
  src/studio/src/designer/frontend/mockend/src/index.js
  src/studio/src/designer/frontend/mockend/src/routes/create-model.js
  src/studio/src/designer/frontend/mockend/src/routes/del-datamodel.js
  src/studio/src/designer/frontend/mockend/src/routes/get-datamodel.js
  src/studio/src/designer/frontend/mockend/src/routes/get-datamodels.js
  src/studio/src/designer/frontend/mockend/src/routes/get-index-html.js
  src/studio/src/designer/frontend/mockend/src/routes/get-repo-data.js
  src/studio/src/designer/frontend/mockend/src/routes/put-datamodel.js
  src/studio/src/designer/frontend/mockend/src/routes/user-current.js
  src/studio/src/designer/frontend/packages/schema-model/src/index.ts
  src/studio/src/designer/frontend/shared/api-paths.js
  src/studio/src/designer/frontend/shared/cdn-paths.js
  src/studio/src/designer/frontend/shared/features/dataModelling/DataModelling.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/XSDUpload.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/sagas/dataModellingSagas.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/sagas/metadata/get/getDataModelsMetadataSagas.ts
  src/studio/src/designer/frontend/shared/file-editor/FileEditor.tsx
  src/studio/src/designer/frontend/shared/navigation/main-header/HeaderMenu.tsx
  src/studio/src/designer/frontend/shared/navigation/main-header/profileMenu.tsx
  src/studio/src/designer/frontend/shared/package.json
  src/studio/src/designer/frontend/shared/paths.test.ts
  src/studio/src/designer/frontend/shared/primitives/index.tsx
  src/studio/src/designer/frontend/shared/utils/urlHelper.test.ts
  src/studio/src/designer/frontend/shared/utils/urlHelper.ts
  src/studio/src/designer/frontend/shared/version-control/cloneModal.module.css
  src/studio/src/designer/frontend/shared/version-control/cloneModal.test.tsx
  src/studio/src/designer/frontend/shared/version-control/cloneModal.tsx
  src/studio/src/designer/frontend/shared/version-control/versionControlHeader.test.tsx
  src/studio/src/designer/frontend/shared/version-control/versionControlHeader.tsx
  src/studio/src/designer/frontend/ux-editor/App.tsx
  src/studio/src/designer/frontend/ux-editor/SubApp.tsx
  src/studio/src/designer/frontend/ux-editor/features/appData/appDataSagas.ts
  src/studio/src/designer/frontend/ux-editor/features/formDesigner/formLayout/formLayoutSagas.ts
  src/studio/src/designer/frontend/ux-editor/features/formDesigner/formLayout/formLayoutSlice.ts
  src/studio/src/designer/frontend/ux-editor/features/widgets/widgetsSlice.ts
  src/studio/src/designer/frontend/ux-editor/index.tsx
  src/studio/src/designer/frontend/ux-editor/utils/urlHelper.ts
  src/studio/src/designer/frontend/ux-editor/utils/widgetSettings.ts
  src/studio/src/designer/frontend/webpack.common.js
  src/studio/src/designer/frontend/webpack.config.dev.js
  src/studio/src/designer/frontend/yarn.lock
Labels: area/ui-editor, area/dashboard, area/app-deploy, solution/studio/designer

#9302 use route params instead of applicationmetadata
  src/studio/src/designer/frontend/app-development/features/dataModelling/containers/DataModellingContainer.test.tsx
  src/studio/src/designer/frontend/app-development/features/dataModelling/containers/DataModellingContainer.tsx
  src/studio/src/designer/frontend/testing/setupTests.ts
Labels: solution/studio/designer

#9284 feat: validate data against schemas
  src/studio/src/designer/backend.Tests/Designer.Tests.csproj
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/BaseClasses/Xsd2CsharpBaseClass.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/DataClasses/ValidationTestData.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/DataValidationTests.cs
  src/studio/src/designer/backend.Tests/Factories/ModelFactory/JsonMetadataParserTests.cs
  src/studio/src/designer/backend.Tests/Utils/RandomObjectModelGenerator.cs
Labels: solution/studio/designer

#9286 Feature/6285 datamodels repo dashboard
  src/studio/src/designer/frontend/app-development/App.tsx
  src/studio/src/designer/frontend/app-development/features/administration/components/Administration.tsx
  src/studio/src/designer/frontend/app-development/features/administration/components/SideMenuContent.tsx
  src/studio/src/designer/frontend/app-development/layout/AppBar/AppBar.tsx
  src/studio/src/designer/frontend/app-development/layout/AppBar/appBarConfig.test.ts
  src/studio/src/designer/frontend/app-development/layout/AppBar/appBarConfig.ts
  src/studio/src/designer/frontend/app-development/types/global.ts
  src/studio/src/designer/frontend/dashboard/common/components/RepoList/RepoList.module.css
  src/studio/src/designer/frontend/dashboard/common/components/RepoList/RepoList.test.tsx
  src/studio/src/designer/frontend/dashboard/common/components/RepoList/RepoList.tsx
  src/studio/src/designer/frontend/dashboard/common/components/RepoList/index.ts
  src/studio/src/designer/frontend/dashboard/common/utils/urlUtils.test.ts
  src/studio/src/designer/frontend/dashboard/common/utils/urlUtils.ts
  src/studio/src/designer/frontend/dashboard/features/createService/CreateService.tsx
  src/studio/src/designer/frontend/dashboard/features/dashboard/Dashboard.tsx
  src/studio/src/designer/frontend/dashboard/features/dashboard/DatamodelsRepoList.tsx
  src/studio/src/designer/frontend/dashboard/features/dashboard/OrgReposList.tsx
  src/studio/src/designer/frontend/dashboard/features/dashboard/utils.ts
  src/studio/src/designer/frontend/language/src/en.json
  src/studio/src/designer/frontend/language/src/nb.json
  src/studio/src/designer/frontend/shared/types/global.ts
  src/studio/src/designer/frontend/shared/utils/repository.test.ts
  src/studio/src/designer/frontend/shared/utils/repository.ts
Labels: area/dashboard, solution/studio/designer

#9278 Feature/6285 org datamodelling updates
  src/studio/src/designer/backend.Tests/Controllers/DataModelsController/GetXsdDatamodelsTests.cs
  src/studio/src/designer/backend.Tests/Controllers/DataModelsController/UseXsdFromRepoTests.cs
  src/studio/src/designer/backend.Tests/Services/SchemaModelServiceTests.cs
  src/studio/src/designer/backend/Controllers/DatamodelsController.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  src/studio/src/designer/backend/Infrastructure/GitRepository/AltinnGitRepository.cs
  src/studio/src/designer/backend/Services/Implementation/SchemaModelService.cs
  src/studio/src/designer/backend/Services/Interfaces/ISchemaModelService.cs
  src/studio/src/designer/frontend/shared/api-paths.js
  src/studio/src/designer/frontend/shared/features/dataModelling/DataModelling.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/SchemaSelect.module.css
  src/studio/src/designer/frontend/shared/features/dataModelling/components/SchemaSelect.test.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/components/SchemaSelect.tsx
  src/studio/src/designer/frontend/shared/features/dataModelling/functions/createDataModelMetadataOptions.test.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/functions/createDataModelMetadataOptions.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/functions/types.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/sagas/dataModellingSagas.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/sagas/dataModellingSlice.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/sagas/metadata/dataModelsMetadataSlice.ts
  src/studio/src/designer/frontend/shared/features/dataModelling/sagas/metadata/get/getDataModelsMetadataSagas.ts
Labels: solution/studio/designer

#9315 Delete PEP project after moved it to altinn-authorization
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP.sln
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Altinn.Common.PEP.csproj
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Authorization/AppAccessHandler.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Authorization/AppAccessRequirement.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Authorization/ClaimAccessHandler.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Authorization/ClaimAccessRequirement.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Authorization/ScopeAccessHandler.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Authorization/ScopeAccessRequirement.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Clients/AuthorizationApiClient.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Configuration/PepSettings.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Configuration/PlatformSettings.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Constants/AltinnObligations.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Constants/AltinnXacmlUrns.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Helpers/DecisionHelper.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Implementation/PDPAppSI.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Interfaces/IPDP.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Models/EnforcementResult.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Program.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Properties/launchSettings.json
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/Startup.cs
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/appsettings.Development.json
  src/Altinn.Common/Altinn.Common.PEP/Altinn.Common.PEP/appsettings.json
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/AppAccessHandlerTest.cs
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/DecisionHelperTest.cs
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/GlobalSuppressions.cs
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/ScopeAccessHandlerTest.cs
  src/Altinn.Common/Altinn.Common.PEP/UnitTests/UnitTests.csproj
Labels: area/authorization

#9319 9318 overview of mui components to replace
  src/studio/src/designer/frontend/.gitignore
  src/studio/src/designer/frontend/package.json
  src/studio/src/designer/frontend/stats.js
  src/studio/src/designer/frontend/yarn.lock
Labels: solution/studio/designer

#9321 Chore/rewrite version control header
  .github/workflows/frontend-unit-tests.yml
  src/studio/src/designer/frontend/app-development/features/handleMergeConflict/HandleMergeConflictContainer.tsx
  src/studio/src/designer/frontend/app-development/layout/AppBar/AppBar.tsx
  src/studio/src/designer/frontend/app-development/layout/LeftMenu.tsx
  src/studio/src/designer/frontend/shared/version-control/CloneButton.tsx
  src/studio/src/designer/frontend/shared/version-control/CloneModal.module.css
  src/studio/src/designer/frontend/shared/version-control/CloneModal.test.tsx
  src/studio/src/designer/frontend/shared/version-control/CloneModal.tsx
  src/studio/src/designer/frontend/shared/version-control/FetchChangesButton.test.tsx
  src/studio/src/designer/frontend/shared/version-control/FetchChangesButton.tsx
  src/studio/src/designer/frontend/shared/version-control/ShareChangesButton.test.tsx
  src/studio/src/designer/frontend/shared/version-control/ShareChangesButton.tsx
  src/studio/src/designer/frontend/shared/version-control/SyncModal.module.css
  src/studio/src/designer/frontend/shared/version-control/SyncModal.test.tsx
  src/studio/src/designer/frontend/shared/version-control/SyncModal.tsx
  src/studio/src/designer/frontend/shared/version-control/VersionControlHeader.module.css
  src/studio/src/designer/frontend/shared/version-control/VersionControlHeader.test.tsx
  src/studio/src/designer/frontend/shared/version-control/VersionControlHeader.tsx
  src/studio/src/designer/frontend/shared/version-control/__snapshots__/SyncModal.test.tsx.snap
  src/studio/src/designer/frontend/shared/version-control/versionControlHeader.tsx
Labels: solution/studio/designer

#9323 Feat/8484 component config
  src/studio/src/designer/backend/Configuration/ServiceRepositorySettings.cs
  src/studio/src/designer/frontend/language/src/en.json
  src/studio/src/designer/frontend/language/src/nb.json
  src/studio/src/designer/frontend/shared/api-paths.js
  src/studio/src/designer/frontend/ux-editor/components/config/EditBoilerplate.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.test.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/EditModalContent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/HeaderSizeSelect.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/SelectionEditComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/componentConfig.ts
  src/studio/src/designer/frontend/ux-editor/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/componentSpecificContent/FileUploadWithTag/FileUploadWithTagComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/componentSpecificContent/FileUploadWithTag/index.ts
  src/studio/src/designer/frontend/ux-editor/components/config/componentSpecificContent/Image/ImageComponent.module.css
  src/studio/src/designer/frontend/ux-editor/components/config/componentSpecificContent/Image/ImageComponent.test.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/componentSpecificContent/Image/ImageComponent.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/componentSpecificContent/Image/index.ts
  src/studio/src/designer/frontend/ux-editor/components/config/componentSpecificContent/index.ts
  src/studio/src/designer/frontend/ux-editor/components/config/editModal/EditCodeList.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/editModal/EditComponentId.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/editModal/EditDataModelBindings.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/editModal/EditDescription.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/editModal/EditHeaderSize.test.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/editModal/EditHeaderSize.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/editModal/EditOptions.module.css
  src/studio/src/designer/frontend/ux-editor/components/config/editModal/EditOptions.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/editModal/EditPreselectedIndex.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/editModal/EditReadOnly.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/editModal/EditRequired.tsx
  src/studio/src/designer/frontend/ux-editor/components/config/editModal/EditTitle.tsx
  src/studio/src/designer/frontend/ux-editor/components/index.ts
  src/studio/src/designer/frontend/ux-editor/containers/Toolbar.tsx
  src/studio/src/designer/frontend/ux-editor/features/appData/externalComponents/externalComponentsSlice.ts
  src/studio/src/designer/frontend/ux-editor/selectors/getThirdPartyConfig.ts
  src/studio/src/designer/frontend/ux-editor/store.ts
  src/studio/src/designer/frontend/ux-editor/types/global.ts
  src/studio/src/designer/frontend/ux-editor/utils/datamodel.ts
  src/studio/src/designer/frontend/ux-editor/utils/formLayout.ts
  src/studio/src/designer/frontend/ux-editor/utils/language.ts
  src/studio/src/designer/frontend/ux-editor/utils/render.tsx
Labels: area/ui-editor, solution/studio/designer

#9242 Refactor/remove need to config repo path on non windows pc
  src/studio/README.md
  src/studio/docker-compose.dcproj
  src/studio/src/designer/backend.Tests/Services/RepositorySITests.cs
  src/studio/src/designer/backend.Tests/_TestData/Repositories/testUser/ttd/apps-test-2021/App/config/applicationmetadata.json
  src/studio/src/designer/backend/.gitignore
  src/studio/src/designer/backend/Configuration/ServiceRepositorySettings.cs
  src/studio/src/designer/backend/Controllers/RepositoryController.cs
  src/studio/src/designer/backend/Factories/AltinnGitRepositoryFactory.cs
  src/studio/src/designer/backend/Program.cs
  src/studio/src/designer/backend/Services/Implementation/GiteaAPIWrapper.cs
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
  src/studio/src/designer/backend/Services/Implementation/SourceControlLoggingDecorator.cs
  src/studio/src/designer/backend/Services/Implementation/SourceControlSI.cs
  src/studio/src/designer/backend/Views/Home/Index.cshtml
  src/studio/src/designer/backend/Views/ServiceDevelopment/index.cshtml
  src/studio/src/designer/backend/appsettings.json
  src/studio/src/designer/frontend/app-development/features/textEditor/TextEditor.tsx
Labels: solution/studio/designer

#9334 171 as a developer i want to edit the receipt text in altinn studio 2
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/ConfirmModal.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/ConfirmModal.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/RightMenu.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/RightMenu.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/pages/PageElement.module.css
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/pages/PageElement.tsx
  src/studio/src/designer/frontend/packages/ux-editor/src/components/rightMenu/pages/PagesContainer.tsx
Labels: solution/studio/designer

#9337 bugfix mockend language path
  src/studio/src/designer/frontend/testing/mockend/src/index.js
Labels: solution/studio/designer
