Repository Altinn/altinn-studio, pull requests merged in 2023-03, with the labels that each got.

#9941 Fix error in generateID function in using layout instead of all layouts
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
Labels: area/ui-editor, solution/studio/designer

#9942 bug/datamodelling crashes when item is deleted from root
  frontend/packages/schema-model/src/lib/mutations/remove-node.test.ts
  frontend/packages/schema-model/src/lib/mutations/remove-node.ts
Labels: area/data-modeling, solution/studio/designer

#9944 Fix button size in text resource component
  frontend/packages/ux-editor/src/components/TextResource.module.css
Labels: area/ui-editor, solution/studio/designer

#9946 update correct layout with navbutton
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
  frontend/packages/ux-editor/src/utils/generateId.ts
Labels: area/ui-editor, solution/studio/designer

#9945 chore/update npm dependencies
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/shared/package.json
  frontend/packages/text-editor/package.json
  frontend/packages/ux-editor/package.json
  frontend/testing/cypress/package.json
  frontend/yarn.lock
Labels: area/data-modeling, area/ui-editor, area/dashboard, solution/studio/designer, area/text-editor

#9951 Replace text field in Altinn popover
  frontend/packages/shared/src/components/AltinnPopover.module.css
  frontend/packages/shared/src/components/AltinnPopover.tsx
Labels: solution/studio/designer

#9953 chore(deps): studio deps upgrade
  backend/packagegroups/NuGet.props
Labels: solution/studio/designer

#9934 Added Popover box for confirmation before deleting an entry, Added tests also
  frontend/language/src/nb.json
  frontend/packages/text-editor/src/TextEditor.test.tsx
  frontend/packages/text-editor/src/TextList.test.tsx
  frontend/packages/text-editor/src/TextRow.module.css
  frontend/packages/text-editor/src/TextRow.test.tsx
  frontend/packages/text-editor/src/TextRow.tsx
Labels: solution/studio/designer, area/text-editor

#9952 Bug/datamodelling convert from type to field failes
  frontend/packages/schema-model/src/index.ts
  frontend/packages/schema-model/src/lib/mutations/convert-node.test.ts
  frontend/packages/schema-model/src/lib/mutations/convert-node.ts
  frontend/packages/schema-model/src/lib/mutations/copy-node.test.ts
  frontend/packages/schema-model/src/lib/mutations/copy-node.ts
  frontend/packages/schema-model/src/lib/mutations/promote-node.test.ts
Labels: area/data-modeling, solution/studio/designer

#9958 Feat/9078 better view reusable types
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/components/SchemaEditor.module.css
  frontend/packages/schema-editor/src/components/SchemaEditor.test.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  frontend/packages/schema-editor/src/components/TypesInspector.module.css
  frontend/packages/schema-editor/src/components/TypesInspector.tsx
  frontend/packages/schema-editor/src/components/TypesInspector/TypeItem.module.css
  frontend/packages/schema-editor/src/components/TypesInspector/TypeItem.test.tsx
  frontend/packages/schema-editor/src/components/TypesInspector/TypeItem.tsx
  frontend/packages/schema-editor/src/components/common/ActionMenu.module.css
  frontend/packages/schema-editor/src/components/common/ActionMenu.tsx
  frontend/packages/schema-editor/src/components/layout/ModelsPanel.module.css
  frontend/packages/schema-editor/src/components/layout/ModelsPanel.tsx
  frontend/packages/schema-editor/src/components/layout/TypesPanel.module.css
  frontend/packages/schema-editor/src/components/layout/TypesPanel.test.tsx
  frontend/packages/schema-editor/src/components/layout/TypesPanel.tsx
  frontend/packages/schema-model/src/lib/utils.ts
Labels: area/data-modeling, solution/studio/designer

#9960 fix: upgrade codegeneration packages
  backend/packagegroups/NuGet.props
  backend/tests/DataModeling.Tests/Assertions/TypeAssertions.cs
  backend/tests/Designer.Tests/Designer.Tests.csproj
Labels: solution/studio/designer

#9965 fix: get keword by type
  backend/src/DataModeling/Converter/Metadata/MetamodelRestrictionUtils.cs
Labels: kind/bug, area/data-modeling, solution/studio/designer

#9966 Remove dummy values in context
  frontend/dashboard/app/App.tsx
Labels: area/dashboard, solution/studio/designer

#9955 9889 move packagejson to root
  .dockerignore
  .github/actions/yarn-install/action.yaml
  .github/workflows/codeql.yml
  .github/workflows/designer-dotnet-test.yaml
  .github/workflows/designer-scan.yml
  .github/workflows/frontend-unit-tests.yml
  .github/workflows/pdf-scan.yml
  .github/workflows/repositories-scan.yml
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.4.1.cjs
  .yarnrc.yml
  Dockerfile
  README.md
  development/azure-devops-mock/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  development/azure-devops-mock/.yarnrc.yml
  development/azure-devops-mock/package.json
  development/azure-devops-mock/yarn.lock
  frontend/.yarnrc.yml
  frontend/app-development/package.json
  frontend/dashboard/package.json
  frontend/jest.config.js
  frontend/packages/schema-editor/package.json
  package.json
  yarn.lock
Labels: area/data-modeling, area/dashboard, solution/studio/designer

#9962 9652 switching back and forth between flere valg on object type is buggy
  frontend/packages/schema-model/src/lib/mutations/convert-node.ts
Labels: area/data-modeling, solution/studio/designer

#9975 use correct property to find deployed version
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
Labels: area/app-deploy, solution/studio/designer

#9977 feat: unknown layout properties
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Models/FormLayout.cs
  backend/src/Designer/Services/Implementation/TextsService.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnAppGitRepositoryTests.cs
  backend/tests/Designer.Tests/Models/FormLayoutSerializationTests.cs
  backend/tests/Designer.Tests/Services/TextsServiceTest.cs
  backend/tests/SharedResources.Tests/SharedResources.Tests.csproj
  testdata/FormLayout/layoutWithUnknownProperties.json
Labels: solution/studio/designer

#9985 Delete package.json
  frontend/package.json
Labels: solution/studio/designer

#9972 Created new controller ResourceAdminController
  NuGet.Config
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Designer.csproj
  backend/tests/Designer.Tests/Controllers/ResourceAdminControllerTests.cs
  backend/tests/Designer.Tests/Designer.Tests.csproj
  backend/tests/Designer.Tests/Mocks/IGiteaMock.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/ttd-resources/App.sln
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/ttd-resources/App/appsettings.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/ttd-resources/App/config/applicationmetadata.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/ttd-resources/App/config/authorization/policy.xml
Labels: solution/studio/designer

#9980 replace useParams hook
  frontend/app-development/sharedResources/applicationMetadata/put/putAppMetadataSagas.ts
Labels: solution/studio/designer

#9992 fix: support occurs keywords for complex elements
  backend/src/DataModeling/Converter/Metadata/JsonSchemaToMetamodelConverter.cs
Labels: area/data-modeling, solution/studio/designer

#9988 Better view of restrictions for number type
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictions.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictions.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictionsReducer.tsx
Labels: area/data-modeling, solution/studio/designer

#9967 Add feedback message to "generate" button
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/SchemaEditorApp.test.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor.test.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  frontend/packages/schema-editor/src/components/TopToolbar.module.css
  frontend/packages/schema-editor/src/components/TopToolbar.test.tsx
  frontend/packages/schema-editor/src/components/TopToolbar.tsx
  frontend/packages/shared/src/features/dataModelling/DataModelling.tsx
  frontend/packages/shared/src/hooks/usePrevious.test.ts
  frontend/packages/shared/src/hooks/usePrevious.ts
  frontend/packages/shared/src/types/global.ts
Labels: area/data-modeling, solution/studio/designer

#10002 9999 remove monaco editor
  frontend/app-development/features/handleMergeConflict/HandleMergeConflictContainer.tsx
  frontend/jest.config.js
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/package.json
  frontend/packages/shared/src/file-editor/FileEditor.module.css
  frontend/packages/shared/src/file-editor/FileEditor.tsx
  frontend/packages/shared/src/file-editor/MonacoEditorComponent.module.css
  frontend/packages/shared/src/file-editor/MonacoEditorComponent.tsx
  frontend/packages/ux-editor/src/components/rightMenu/CalculationsTab.tsx
  frontend/packages/ux-editor/src/components/rightMenu/ConditionalRenderingTab.tsx
  frontend/packages/ux-editor/src/components/rightMenu/Dynamics.tsx
  frontend/packages/ux-editor/src/components/rightMenu/RightMenu.test.tsx
  frontend/packages/ux-editor/src/components/rightMenu/RightMenu.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  frontend/packages/ux-editor/src/types/global.ts
  frontend/webpack.common.js
  package.json
  yarn.lock
Labels: area/ui-editor, solution/studio/designer

#10007 show url to app based on list of deployments
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
  frontend/app-development/features/appPublish/containers/deployContainer.tsx
Labels: area/app-deploy, solution/studio/designer

#10010 Make sure variables for texts are persisted
  backend/src/Designer/Controllers/TextController.cs
Labels: solution/studio/designer

#10011 ensure required checbox reflects datamodel
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditRequired.tsx
  frontend/packages/ux-editor/src/utils/datamodel.ts
Labels: area/ui-editor, solution/studio/designer

#10012 Improve text mocking
  frontend/app-development/features/accessControl/containers/AccessControlContainer.test.tsx
  frontend/app-development/features/administration/components/Administration.test.tsx
  frontend/app-development/features/administration/components/ResetRepoModal.test.tsx
  frontend/app-development/features/administration/components/ServiceAdministration.test.tsx
  frontend/app-development/features/dataModelling/containers/DataModellingContainer.test.tsx
  frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictDiscardChanges.test.tsx
  frontend/app-development/layout/AppBar/AppBar.test.tsx
  frontend/dashboard/app/App.test.tsx
  frontend/dashboard/components/MakeCopyModal/MakeCopyModal.test.tsx
  frontend/dashboard/components/RepoList/RepoList.test.tsx
  frontend/dashboard/pages/CreateService/CreateService.test.tsx
  frontend/dashboard/pages/Dashboard/Dashboard.test.tsx
  frontend/packages/schema-editor/src/SchemaEditorApp.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemPropertiesTab.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictions.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictions.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/ObjectRestrictions.test.tsx
  frontend/packages/shared/src/features/dataModelling/DataModelling.test.tsx
  frontend/packages/shared/src/features/dataModelling/components/CreateNewWrapper.test.tsx
  frontend/packages/shared/src/features/dataModelling/components/XSDUpload.test.tsx
  frontend/packages/shared/src/navigation/main-header/Header.test.tsx
  frontend/packages/shared/src/navigation/main-header/HeaderMenu.test.tsx
  frontend/packages/shared/src/version-control/CloneModal.test.tsx
  frontend/packages/shared/src/version-control/ShareChangesButton.test.tsx
  frontend/packages/shared/src/version-control/VersionControlHeader.test.tsx
  frontend/packages/text-editor/src/TextEditor.test.tsx
  frontend/packages/text-editor/src/TextList.test.tsx
  frontend/packages/text-editor/src/TextRow.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Address/AddressComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Button/ButtonComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/FileUpload/FileUploadComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.test.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.test.tsx
  frontend/testing/mocks/i18nMock.ts
  frontend/testing/setupTests.ts
Labels: area/data-modeling, area/ui-editor, area/dashboard, solution/studio/designer, area/text-editor

#10020 chore/upgrade npm dependencies
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/schema-model/package.json
  frontend/packages/shared/package.json
  frontend/packages/text-editor/package.json
  frontend/packages/ux-editor/package.json
  frontend/testing/cypress/package.json
  package.json
  yarn.lock
Labels: area/data-modeling, area/ui-editor, area/dashboard, solution/studio/designer, area/text-editor

#10017 fix: array with props type generation
  backend/src/DataModeling/Converter/Metadata/JsonSchemaToMetamodelConverter.cs
  backend/tests/DataModeling.Tests/BaseClasses/CsharpModelConversionTestsBase.cs
  backend/tests/DataModeling.Tests/CsharpEnd2EndGenerationTests.cs
  testdata/Model/JsonSchema/General/NonXsdContextSchema.json
Labels: area/data-modeling, solution/studio/designer

#10003 Update design systems
  frontend/app-development/features/administration/components/ServiceAdministration.test.tsx
  frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictAbort.test.tsx
  frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictDiscardChanges.test.tsx
  frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictFileList.test.tsx
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/components/MakeCopyModal/MakeCopyModal.test.tsx
  frontend/dashboard/components/RepoList/RepoList.test.tsx
  frontend/dashboard/package.json
  frontend/dashboard/pages/CreateService/CreateService.test.tsx
  frontend/packages/schema-editor/package.json
  frontend/packages/schema-editor/src/components/SchemaEditor.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.test.tsx
  frontend/packages/schema-editor/src/components/TopToolbar.test.tsx
  frontend/packages/schema-editor/src/components/common/ActionMenu.test.tsx
  frontend/packages/schema-editor/src/components/common/IconButton.test.tsx
  frontend/packages/shared/package.json
  frontend/packages/shared/src/features/dataModelling/components/CreateNewWrapper.test.tsx
  frontend/packages/shared/src/features/dataModelling/components/XSDUpload.test.tsx
  frontend/packages/shared/src/navigation/main-header/HeaderMenu.test.tsx
  frontend/packages/text-editor/package.json
  frontend/packages/text-editor/src/TextEditor.test.tsx
  frontend/packages/text-editor/src/TextList.test.tsx
  frontend/packages/text-editor/src/TextRow.test.tsx
  frontend/packages/ux-editor/src/components/config/EditModalContent.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.test.tsx
  frontend/packages/ux-editor/src/components/config/group/EditGroupDataModelBindings.test.tsx
  yarn.lock
Labels: area/data-modeling, area/ui-editor, area/dashboard, solution/studio/designer, area/text-editor

#10037 10035 move and simplify versioncontrolheader
  backend/src/Designer/Controllers/RepositoryController.cs
  frontend/app-development/common/ServiceContext.tsx
  frontend/app-development/features/handleMergeConflict/HandleMergeConflictContainer.tsx
  frontend/app-development/layout/AppBar/AppBar.test.tsx
  frontend/app-development/layout/AppBar/AppBar.tsx
  frontend/app-development/layout/LeftMenu.tsx
  frontend/app-development/layout/version-control/CloneButton.tsx
  frontend/app-development/layout/version-control/CloneModal.module.css
  frontend/app-development/layout/version-control/CloneModal.test.tsx
  frontend/app-development/layout/version-control/CloneModal.tsx
  frontend/app-development/layout/version-control/FetchChangesButton.test.tsx
  frontend/app-development/layout/version-control/FetchChangesButton.tsx
  frontend/app-development/layout/version-control/ShareChangesButton.test.tsx
  frontend/app-development/layout/version-control/ShareChangesButton.tsx
  frontend/app-development/layout/version-control/SyncModal.module.css
  frontend/app-development/layout/version-control/SyncModal.test.tsx
  frontend/app-development/layout/version-control/SyncModal.tsx
  frontend/app-development/layout/version-control/VersionControlHeader.module.css
  frontend/app-development/layout/version-control/VersionControlHeader.test.tsx
  frontend/app-development/layout/version-control/VersionControlHeader.tsx
  frontend/app-development/layout/version-control/__snapshots__/SyncModal.test.tsx.snap
  frontend/app-development/queries/mutations.ts
  frontend/app-development/queries/queries.ts
  frontend/app-development/query-hooks/repo.ts
  frontend/packages/shared/src/api-paths/cache-key.ts
  frontend/packages/shared/src/api-paths/index.js
  frontend/packages/shared/src/version-control/VersionControlHeader.test.tsx
  frontend/packages/shared/src/version-control/VersionControlHeader.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
Labels: area/ui-editor, solution/studio/designer

#10044 fix: relaod schema with targetNamespace
  backend/src/DataModeling/Converter/Json/Strategy/GeneralJsonSchemaConverter.cs
  backend/tests/DataModeling.Tests/TestDataClasses/Json2XmlTestData.cs
Labels: area/data-modeling, solution/studio/designer

#10015 Added validation for number restrictions in NumberRestrictions component
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictions.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictions.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictionsReducer.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictionsReducer.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.module.css
  frontend/packages/schema-editor/src/types/index.ts
  frontend/packages/schema-model/src/lib/restrictions.ts
Labels: area/data-modeling, solution/studio/designer

#10045 10030 implement react query for text editor
  frontend/app-development/common/hooks/getOrgApp.ts
  frontend/app-development/common/hooks/index.ts
  frontend/app-development/features/textEditor/TextEditor.tsx
  frontend/app-development/queries/mutations.ts
  frontend/app-development/queries/queries.ts
  frontend/app-development/query-hooks/text.ts
  frontend/app-development/reducers/index.ts
  frontend/app-development/services/appDevelopmentApi.ts
  frontend/app-development/services/languagesApi.ts
  frontend/app-development/services/tags.ts
  frontend/app-development/services/textsApi.ts
  frontend/app-development/store/index.ts
  frontend/packages/shared/src/api-paths/cache-key.ts
  frontend/tsconfig.json
Labels: solution/studio/designer, area/text-editor

#10051 bug/error message placement on page rename
  frontend/packages/ux-editor/src/components/leftMenu/PageElement.module.css
  frontend/packages/ux-editor/src/components/leftMenu/PageElement.tsx
Labels: area/ui-editor, solution/studio/designer

#10053 bug/404 on missing js files after monaco editor removal
  backend/src/Designer/Views/AppDevelopment/index.cshtml
  frontend/app-development/public/index.html
  frontend/app-development/store/index.ts
  frontend/webpack.config.prod.js
Labels: solution/studio/designer

#10056 Misc improvements
  frontend/dashboard/components/Resources/Resources.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictions.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.tsx
  frontend/packages/schema-editor/src/components/TypesInspector.module.css
  frontend/packages/schema-editor/src/components/TypesInspector.tsx
  frontend/packages/schema-editor/src/components/TypesInspector/TypeItem.module.css
  frontend/packages/schema-editor/src/types/index.ts
  frontend/packages/shared/src/primitives/Divider.module.css
  frontend/packages/shared/src/primitives/Divider.tsx
  frontend/packages/ux-editor/src/components/leftMenu/PageElement.tsx
  frontend/packages/ux-editor/src/components/rightMenu/CalculationsTab.tsx
  frontend/packages/ux-editor/src/components/rightMenu/ConditionalRenderingTab.tsx
Labels: area/data-modeling, area/ui-editor, area/dashboard, solution/studio/designer

#10040 Delete boilerplate pipelineservice
  backend/src/Designer/Controllers/DeploymentsController.cs
  backend/src/Designer/Controllers/PipelinesController.cs
  backend/src/Designer/Controllers/ReleasesController.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Services/Implementation/DeploymentService.cs
  backend/src/Designer/Services/Implementation/PipelineService.cs
  backend/src/Designer/Services/Implementation/ReleaseService.cs
  backend/src/Designer/Services/Interfaces/IDeploymentService.cs
  backend/src/Designer/Services/Interfaces/IPipelineService.cs
  backend/src/Designer/Services/Interfaces/IReleaseService.cs
  backend/src/Designer/TypedHttpClients/AzureDevOps/AzureDevOpsBuildClient.cs
  backend/src/Designer/TypedHttpClients/AzureDevOps/IAzureDevOpsBuildClient.cs
  backend/tests/Designer.Tests/Controllers/DeploymentsControllerTests.cs
  backend/tests/Designer.Tests/Controllers/ReleasesControllerTests.cs
  backend/tests/Designer.Tests/Services/DeploymentServiceTest.cs
  backend/tests/Designer.Tests/Services/ReleaseServiceTest.cs
Labels: area/app-deploy, solution/studio/designer

#10058 chore/removing left menu
  frontend/app-development/App.tsx
  frontend/app-development/config/routes.tsx
  frontend/app-development/layout/AppBar/AppBar.tsx
  frontend/app-development/layout/LeftMenu.tsx
  frontend/app-development/layout/PageContainer.tsx
  frontend/app-development/layout/PageHeader.tsx
  frontend/packages/shared/src/navigation/drawer/LeftDrawerMenu.module.css
  frontend/packages/shared/src/navigation/drawer/LeftDrawerMenu.tsx
  frontend/packages/shared/src/navigation/drawer/drawerMenuSettings.ts
Labels: solution/studio/designer

#10067 Typescript plugin css modules
  frontend/tsconfig.json
  package.json
  yarn.lock
Labels: solution/studio/designer

#10069 Change environments array to list
  backend/src/Designer/Controllers/EnvironmentsController.cs
  backend/src/Designer/Services/Implementation/EnvironmentsService.cs
  backend/src/Designer/Services/Interfaces/IEnvironmentsService.cs
  backend/src/Designer/Services/Models/EnvironmentsModel.cs
Labels: solution/studio/designer

#10062 Add extra check to showLink bool for deploymentComponent
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
  frontend/app-development/features/appPublish/containers/deployContainer.tsx
  frontend/app-development/sharedResources/appDeployment/types.ts
Labels: area/app-deploy, solution/studio/designer

#10083 Put kubernetesWrapper call inside try-catch
  backend/src/Designer/TypedHttpClients/KubernetesWrapper/KubernetesWrapperClient.cs
Labels: solution/studio/designer

#10082 Update error messages for number restrictions validation
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictions.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictionsReducer.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictionsReducer.tsx
  frontend/packages/schema-editor/src/types/index.ts
Labels: area/data-modeling, solution/studio/designer

#10097 10000 remove merge conflict feature from altinn studio
  .gitignore
  frontend/app-development/App.test.tsx
  frontend/app-development/App.tsx
  frontend/app-development/config/routes.tsx
  frontend/app-development/features/accessControl/containers/AccessControlContainer.test.tsx
  frontend/app-development/features/administration/components/DownloadRepoModal.tsx
  frontend/app-development/features/administration/components/SideMenuContent.tsx
  frontend/app-development/features/handleMergeConflict/HandleMergeConflictContainer.module.css
  frontend/app-development/features/handleMergeConflict/HandleMergeConflictContainer.tsx
  frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictAbort.test.tsx
  frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictAbort.tsx
  frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictDiscardChanges.test.tsx
  frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictDiscardChanges.tsx
  frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictFileList.module.css
  frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictFileList.test.tsx
  frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictFileList.tsx
  frontend/app-development/features/handleMergeConflict/handleMergeConflictSagas.ts
  frontend/app-development/features/handleMergeConflict/handleMergeConflictSelectors.ts
  frontend/app-development/features/handleMergeConflict/handleMergeConflictSlice.ts
  frontend/app-development/features/simpleMerge/MergeConflictWarning.module.css
  frontend/app-development/features/simpleMerge/MergeConflictWarning.test.tsx
  frontend/app-development/features/simpleMerge/MergeConflictWarning.tsx
  frontend/app-development/layout/AppBar/appBarConfig.ts
  frontend/app-development/layout/PageHeader.tsx
  frontend/app-development/package.json
  frontend/app-development/reducers/index.ts
  frontend/app-development/sagas/index.ts
  frontend/app-development/sharedResources/repoStatus/reset/resetLocalRepoSagas.ts
  frontend/app-development/test/testUtils.tsx
  frontend/app-preview/package.json
  frontend/dashboard/package.json
Labels: area/dashboard, solution/studio/designer

#10099 chore/fixing translations in simple merge conflict
  frontend/app-development/features/simpleMerge/MergeConflictWarning.tsx
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/language/transform-old-format-to-new.js
Labels: solution/studio/designer

#10100 Implement React Query for datamodels in the forms editor
  frontend/app-development/common/ServiceContext.tsx
  frontend/app-development/queries/queries.ts
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/components/FormComponent.tsx
  frontend/packages/ux-editor/src/components/config/EditModalContent.test.tsx
  frontend/packages/ux-editor/src/components/config/RuleComponent.tsx
  frontend/packages/ux-editor/src/components/config/SelectDataModelComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.tsx
  frontend/packages/ux-editor/src/components/config/group/EditGroupDataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/toolbar/RuleModal.tsx
  frontend/packages/ux-editor/src/containers/Container.tsx
  frontend/packages/ux-editor/src/containers/DesignView.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.test.tsx
  frontend/packages/ux-editor/src/features/appData/appDataReducers.ts
  frontend/packages/ux-editor/src/features/appData/appDataSagas.ts
  frontend/packages/ux-editor/src/features/appData/dataModel/dataModelSlice.ts
  frontend/packages/ux-editor/src/hooks/queries.ts
  frontend/packages/ux-editor/src/testing/mocks.tsx
  package.json
  yarn.lock
Labels: area/ui-editor, solution/studio/designer

#10093 Clean up deploy error responses
  backend/src/Designer/Repository/Models/DeploymentEntity.cs
  backend/src/Designer/Services/Implementation/DeploymentService.cs
  backend/tests/Designer.Tests/Services/DeploymentServiceTest.cs
  development/azure-devops-mock/environments.json
  development/azure-devops-mock/src/routes/builds.js
  development/db/data.sql
  development/setup.js
  frontend/app-development/features/appPublish/components/appDeploymentComponent.module.css
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
  frontend/app-development/features/appPublish/containers/deployContainer.tsx
  frontend/app-development/features/appPublish/hooks/query-hooks.ts
  frontend/app-development/sharedResources/appDeployment/types.ts
  frontend/language/src/nb.json
  frontend/packages/shared/src/api-paths/cache-key.ts
Labels: area/app-deploy, solution/studio/designer

#10101 Change to async calls in configController
  backend/src/Designer/Configuration/ServiceConfiguration.cs
  backend/src/Designer/Controllers/ConfigController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Services/Implementation/ApplicationMetadataService.cs
  backend/src/Designer/Services/Interfaces/IApplicationMetadataService.cs
  backend/tests/Designer.Tests/Controllers/ConfigControllerTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/App/config.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/config.json
Labels: solution/studio/designer

#10102 Chore/upgrade nav icon package
  frontend/app-development/features/appPublish/containers/releaseContainer.tsx
  frontend/app-development/layout/version-control/CloneButton.tsx
  frontend/app-development/layout/version-control/FetchChangesButton.tsx
  frontend/app-development/layout/version-control/ShareChangesButton.tsx
  frontend/dashboard/pages/Dashboard/Dashboard.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  frontend/packages/schema-editor/src/components/TopToolbar.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaTreeView.tsx
  frontend/packages/schema-editor/src/components/TypesInspector.tsx
  frontend/packages/schema-editor/src/components/TypesInspector/TypeItem.tsx
  frontend/packages/schema-editor/src/components/common/ActionMenu.tsx
  frontend/packages/shared/src/components/FileSelector.tsx
  frontend/packages/shared/src/features/dataModelling/components/CreateNewWrapper.tsx
  frontend/packages/shared/src/features/dataModelling/components/DeleteWrapper.tsx
  frontend/packages/shared/src/navigation/main-header/__snapshots__/profileMenu.test.tsx.snap
  frontend/packages/shared/src/navigation/main-header/profileMenu.tsx
  frontend/packages/text-editor/src/TextRow.tsx
  frontend/packages/text-editor/src/Variables.tsx
  frontend/packages/ux-editor/src/components/AddOption.tsx
  frontend/packages/ux-editor/src/components/TextResource.tsx
  frontend/packages/ux-editor/src/components/TextResourceEdit.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
  frontend/packages/ux-editor/src/components/leftMenu/LeftMenu.tsx
  frontend/packages/ux-editor/src/components/leftMenu/PageElement.tsx
  frontend/packages/ux-editor/src/components/rightMenu/CalculationsTab.tsx
  frontend/packages/ux-editor/src/components/rightMenu/ConditionalRenderingTab.tsx
  frontend/packages/ux-editor/src/components/rightMenu/Dynamics.tsx
  frontend/packages/ux-editor/src/components/toolbar/CollapsableMenuComponent.tsx
  frontend/packages/ux-editor/src/components/toolbar/InformationPanelComponent.tsx
  frontend/packages/ux-editor/src/components/toolbar/RuleButton.tsx
  frontend/packages/ux-editor/src/components/toolbar/ToolbarItemComponent.tsx
  frontend/packages/ux-editor/src/containers/Container.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
  package.json
  yarn.lock
Labels: area/data-modeling, area/ui-editor, area/dashboard, area/app-deploy, solution/studio/designer, area/text-editor

#10105 Chore/upgrading npm dependencies
  development/azure-devops-mock/package.json
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/dashboard/pages/CreateService/CreateService.test.tsx
  frontend/packages/schema-editor/package.json
  frontend/packages/shared/package.json
  frontend/packages/text-editor/package.json
  frontend/packages/ux-editor/package.json
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.test.tsx
  frontend/stats.js
  package.json
  yarn.lock
Labels: area/data-modeling, area/ui-editor, area/dashboard, solution/studio/designer, area/text-editor

#10103 Add try catch in k8swrapper
  backend/src/Designer/Services/Implementation/DeploymentService.cs
  backend/src/Designer/TypedHttpClients/KubernetesWrapper/KubernetesWrapperClient.cs
  backend/src/Designer/TypedHttpClients/KubernetesWrapper/KubernetesWrapperResponseException.cs
  backend/tests/Designer.Tests/Services/DeploymentServiceTest.cs
Labels: solution/studio/designer

#10106 fix: remove formlayout model
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/Filters/UseSystemTextJsonAttribute.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Infrastructure/MvcConfiguration.cs
  backend/src/Designer/Models/FormLayout.cs
  backend/src/Designer/Program.cs
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
  backend/src/Designer/Services/Implementation/TextsService.cs
  backend/src/Designer/Services/Interfaces/IAppDevelopmentService.cs
  backend/tests/DataModeling.Tests/ModelSerializationTests.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/AppDevelopmentControllerTestsBase.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/GetFormLayoutsTests.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/SaveFormLayoutTests.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/Utils/FileContentVerifier.cs
  backend/tests/Designer.Tests/GlobalSuppressions.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnAppGitRepositoryTests.cs
  backend/tests/Designer.Tests/Models/FormLayoutSerializationTests.cs
  backend/tests/Designer.Tests/Services/TextsServiceTest.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-without-layoutsets/App/ui/layouts/layoutFile1.json
  backend/tests/SharedResources.Tests/JsonAssertionUtils.cs
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
  testdata/FormLayout/changename/layouts/form.json
  testdata/FormLayout/changename/layouts/summary.json
  testdata/FormLayout/datalist/layouts/formLayout.json
  testdata/FormLayout/datalist/layouts/summary.json
  testdata/FormLayout/group/layouts/hide.json
  testdata/FormLayout/group/layouts/prefill.json
  testdata/FormLayout/group/layouts/repeating.json
  testdata/FormLayout/group/layouts/summary.json
  testdata/FormLayout/layoutWithUnknownProperties.json
  testdata/FormLayout/likert/layouts/formLayout.json
  testdata/FormLayout/message/layouts/formLayout.json
Labels: area/ui-editor, solution/studio/designer

#10114 Update design system
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/shared/package.json
  frontend/packages/text-editor/package.json
  yarn.lock
Labels: area/data-modeling, area/dashboard, solution/studio/designer, area/text-editor

#10118 Add onClose call to onResetWrapper in resetRepoModal
  frontend/app-development/features/administration/components/ResetRepoModal.tsx
Labels: solution/studio/designer

#10121 10004 implement text editor as specified by sketches
  frontend/app-development/config/routes.tsx
  frontend/app-development/features/textEditor/TextEditor.tsx
  frontend/app-development/features/textEditor/index.ts
  frontend/app-development/queries/mutations.ts
  frontend/app-development/query-hooks/text.ts
  frontend/packages/shared/src/components/molecules/AltinnPopoverSimple.tsx
  frontend/packages/shared/src/primitives/Primitives.module.css
  frontend/packages/text-editor/src/RightMenu.tsx
  frontend/packages/text-editor/src/TextEditor.module.css
  frontend/packages/text-editor/src/TextEditor.test.tsx
  frontend/packages/text-editor/src/TextEditor.tsx
  frontend/packages/text-editor/src/TextEntry.tsx
  frontend/packages/text-editor/src/TextList.test.tsx
  frontend/packages/text-editor/src/TextList.tsx
  frontend/packages/text-editor/src/TextRow.module.css
  frontend/packages/text-editor/src/TextRow.test.tsx
  frontend/packages/text-editor/src/TextRow.tsx
  frontend/packages/text-editor/src/Variables.test.tsx
  frontend/packages/text-editor/src/Variables.tsx
  frontend/packages/text-editor/src/types.d.ts
  frontend/packages/text-editor/src/utils.test.ts
  frontend/packages/text-editor/src/utils.ts
  frontend/packages/ux-editor/src/testing/mocks.tsx
Labels: area/ui-editor, solution/studio/designer, area/text-editor
