Repository Altinn/altinn-studio, pull requests merged in 2023-02, with the labels that each got.

#9761 Add caseswitching in preselect and text for preselect dropdown
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/editModal/EditPreselectedIndex.tsx
Labels: area/ui-editor, solution/studio/designer

#9764 Definition conflicts between Chai and Jest
  frontend/testing/cypress/tsconfig.json
  frontend/tsconfig.json
Labels: solution/studio/designer

#9765 Make sure the TypeScript code is type-checked
  frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictFileList.test.tsx
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/components/DataModelsRepoList/DatamodelsRepoList.tsx
  frontend/dashboard/components/OrgRepoList/OrgReposList.tsx
  frontend/dashboard/package.json
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/shared/src/file-editor/MonacoEditorComponent.tsx
  frontend/packages/ux-editor/src/components/config/ConditionalRenderingComponent.tsx
  frontend/packages/ux-editor/src/components/config/RuleComponent.tsx
  frontend/packages/ux-editor/src/components/config/SelectDataModelComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Address/AddressComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Image/ImageComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditPreselectedIndex.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.tsx
  frontend/packages/ux-editor/src/utils/render.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: area/data-modeling, area/ui-editor, area/dashboard, solution/studio/designer

#9740 Blank page when opening a group inside a group
  frontend/packages/ux-editor/src/containers/Container.tsx
  frontend/packages/ux-editor/src/utils/render.tsx
Labels: area/ui-editor, solution/studio/designer

#9766 Should run type-check and start dev-server in parallel
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
Labels: area/dashboard, solution/studio/designer

#9768 Bug/9679 body text panel component
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/componentConfig.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDescription.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBinding.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTitle.tsx
Labels: kind/bug, area/ui-editor, solution/studio/designer

#9775 Revert "Update dependency JWTCookieAuthentication to v3"
  backend/packagegroups/NuGet.props
  src/development/LocalTest/LocalTest.csproj
Labels: solution/studio/designer

#9773 Fix alignment of add option button
  frontend/packages/ux-editor/src/components/AddOption.tsx
Labels: area/ui-editor, solution/studio/designer

#9776 9702 deploy strange deploy button shows wrong text and is not functional
  .dockerignore
  .gitignore
  backend/src/Designer/Controllers/PipelinesController.cs
  backend/src/Designer/Properties/launchSettings.json
  backend/src/Designer/TypedHttpClients/AzureDevOps/AzureDevOpsBuildClient.cs
  backend/src/Designer/appsettings.Development.json
  development/azure-devops-mock/.dockerignore
  development/azure-devops-mock/Dockerfile
  development/azure-devops-mock/README.md
  development/azure-devops-mock/examples/build-request.json
  development/azure-devops-mock/package.json
  development/azure-devops-mock/src/index.js
  development/azure-devops-mock/src/routes/builds.js
  development/azure-devops-mock/src/utils.js
  development/azure-devops-mock/yarn.lock
  docker-compose.yml
  frontend/app-development/features/appPublish/components/createAppReleaseComponent.tsx
  frontend/app-development/features/appPublish/components/utils.test.ts
  frontend/app-development/features/appPublish/components/utils.ts
  frontend/app-development/features/appPublish/containers/releaseContainer.module.css
  frontend/app-development/features/appPublish/containers/releaseContainer.tsx
  frontend/app-development/features/handleMergeConflict/handleMergeConflictSlice.ts
  frontend/packages/shared/src/version-control/ShareChangesButton.tsx
  src/.gitignore
Labels: area/app-deploy, solution/studio/designer

#9780 Update design systems
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/shared/package.json
  frontend/packages/text-editor/package.json
  frontend/yarn.lock
Labels: area/data-modeling, area/dashboard, solution/studio/designer, area/text-editor

#9684 Localtest: Add service owner orgs as possible lookups in register api.
  src/development/LocalTest/Clients/CdnAltinnOrgs/AltinnOrgsClient.cs
  src/development/LocalTest/Services/Register/Implementation/OrganizationsWrapper.cs
Labels: solution/localtest

#9784 Add /api/ to keys route
  frontend/packages/shared/src/api-paths.js
Labels: solution/studio/designer

#9774 Replace PropertyLabel with Label
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.tsx
  frontend/packages/shared/src/components/Label.module.css
  frontend/packages/shared/src/components/Label.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Image/ImageComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditHeaderSize.tsx
  frontend/packages/ux-editor/src/containers/Container.tsx
  frontend/packages/ux-editor/src/utils/render.tsx
Labels: area/data-modeling, area/ui-editor, solution/studio/designer

#9786 chore/api paths file can now be formatted
  frontend/.prettierignore
  frontend/packages/shared/src/api-paths/index.js
  frontend/packages/shared/src/api-paths/prettier.config.js
Labels: solution/studio/designer

#9789 First version of eslint, husky and lint-staged files.
  .github/workflows/frontend-unit-tests.yml
  frontend/.eslintrc.json
  frontend/.prettierignore
  frontend/app-development/App.tsx
  frontend/app-development/features/accessControl/containers/AccessControlContainer.tsx
  frontend/app-development/features/appPublish/containers/releaseContainer.tsx
  frontend/app-development/features/handleMergeConflict/HandleMergeConflictContainer.tsx
  frontend/app-development/features/textEditor/TextEditor.tsx
  frontend/app-development/services/textsApi.ts
  frontend/app-development/sharedResources/applicationMetadata/put/putAppMetadataSagas.ts
  frontend/dashboard/pages/CreateService/CreateService.test.tsx
  frontend/dashboard/pages/Dashboard/Dashboard.test.tsx
  frontend/package.json
  frontend/packages/schema-editor/src/components/SchemaEditor.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.tsx
  frontend/packages/schema-editor/src/components/TopToolbar.test.tsx
  frontend/packages/schema-editor/src/components/TopToolbarButton.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaItem.tsx
  frontend/packages/schema-editor/src/components/common/IconButton.tsx
  frontend/packages/schema-editor/test/renderWithRedux.tsx
  frontend/packages/shared/src/components/AltinnPopover.tsx
  frontend/packages/shared/src/components/molecules/AltinnPopoverSimple.tsx
  frontend/packages/shared/src/features/dataModelling/DataModelling.test.tsx
  frontend/packages/shared/src/features/dataModelling/DataModelling.tsx
  frontend/packages/shared/src/features/dataModelling/components/SchemaSelect.tsx
  frontend/packages/shared/src/file-editor/FileEditor.tsx
  frontend/packages/shared/src/navigation/main-header/HeaderMenu.tsx
  frontend/packages/text-editor/src/TextRow.tsx
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/components/FormComponent.tsx
  frontend/packages/ux-editor/src/components/TextResource.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
  frontend/packages/ux-editor/src/components/leftMenu/ReceiptPageElement.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/ComponentPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.tsx
  frontend/packages/ux-editor/src/containers/Container.tsx
  frontend/packages/ux-editor/src/containers/DesignView.tsx
  frontend/packages/ux-editor/src/containers/DroppableDraggableComponent.tsx
  frontend/packages/ux-editor/src/containers/DroppableDraggableContainer.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  frontend/packages/ux-editor/src/features/appData/appDataSagas.ts
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
  frontend/packages/ux-editor/src/features/serviceConfigurations/manageServiceConfigurations/manageServiceConfigurationSagas.ts
  frontend/packages/ux-editor/src/features/widgets/fetch/fetchWidgetsSagas.ts
  frontend/yarn.lock
Labels: area/data-modeling, area/ui-editor, area/dashboard, area/app-deploy, solution/studio/designer, area/text-editor

#9782 Make sure to not render the "Lage" page before the necessary data is loaded + add "Side 1" as default.
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/components/ErrorPage/ErrorPage.module.css
  frontend/packages/ux-editor/src/components/ErrorPage/ErrorPage.tsx
  frontend/packages/ux-editor/src/components/ErrorPage/index.ts
  frontend/packages/ux-editor/src/components/PageSpinner/PageSpinner.module.css
  frontend/packages/ux-editor/src/components/PageSpinner/PageSpinner.tsx
  frontend/packages/ux-editor/src/components/PageSpinner/index.ts
  frontend/packages/ux-editor/src/components/config/EditModalContent.test.tsx
  frontend/packages/ux-editor/src/components/message/ErrorMessageComponent.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.test.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  frontend/packages/ux-editor/src/features/appData/language/languageSlice.ts
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSlice.ts
  frontend/packages/ux-editor/src/features/widgets/widgetsSlice.ts
  frontend/packages/ux-editor/src/testing/mocks.tsx
  frontend/packages/ux-editor/src/utils/formLayout.ts
Labels: area/ui-editor, solution/studio/designer

#9791 Add /api to keys route
  frontend/packages/shared/src/api-paths/index.js
Labels: solution/studio/designer

#9794 Should null-check dep within dep-array
  frontend/packages/ux-editor/src/App.tsx
Labels: area/ui-editor, solution/studio/designer

#9797 Fixed CSS issues for modal
  frontend/packages/ux-editor/src/components/config/ConditionalRenderingComponent.module.css
  frontend/packages/ux-editor/src/components/config/ConditionalRenderingComponent.tsx
Labels: area/ui-editor, solution/studio/designer

#9798 use correct method for saving container
  frontend/packages/ux-editor/src/containers/Container.tsx
Labels: area/ui-editor, solution/studio/designer

#9799 Refactored the method to find the preferred metadata option.
  frontend/packages/shared/src/features/dataModelling/functions/findPreferredMetadataOption.ts
Labels: solution/studio/designer

#9805 Add DateOfDeath to Altinn.Platform.Register.Models.Person
  src/Altinn.Platform/Altinn.Platform.Models/Models/Altinn.Platform.Models.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Models/Register/Models/Person.cs
Labels: solution/platform

#9806 Misc dev improvements
  frontend/.depcheckrc.json
  frontend/app-development/package.json
  frontend/app-development/store/index.ts
  frontend/app-preview/package.json
  frontend/dashboard/app/store.ts
  frontend/dashboard/package.json
  frontend/package.json
  frontend/packages/schema-editor/.gitignore
  frontend/packages/schema-editor/package.json
  frontend/packages/schema-model/package.json
  frontend/packages/shared/.depcheckrc.json
  frontend/packages/shared/package.json
  frontend/packages/shared/src/utils/is-production.ts
  frontend/packages/ux-editor/.depcheckrc.json
  frontend/packages/ux-editor/package.json
  frontend/yarn.lock
Labels: area/data-modeling, area/ui-editor, area/dashboard, solution/studio/designer

#9808 added missing system reference
  src/Altinn.Platform/Altinn.Platform.Models/Models/Register/Models/Person.cs
Labels: solution/platform

#9802 fix css so delete btn and search field are visible
  frontend/packages/text-editor/src/TextEditor.module.css
Labels: solution/studio/designer, area/text-editor

#9807 Remove kuberneteswrapper sources after move
  .dockerignore
  .github/labeler.yml
  .vscode/settings.json
  src/Altinn.Apps/Altinn.Apps.sln
  src/Altinn.Apps/KubernetesWrapper/.dockerignore
  src/Altinn.Apps/KubernetesWrapper/Controllers/DaemonSetsController.cs
  src/Altinn.Apps/KubernetesWrapper/Controllers/DeploymentsController.cs
  src/Altinn.Apps/KubernetesWrapper/Dockerfile
  src/Altinn.Apps/KubernetesWrapper/KubernetesWrapper.csproj
  src/Altinn.Apps/KubernetesWrapper/Models/DaemonSet.cs
  src/Altinn.Apps/KubernetesWrapper/Models/DeployedResource.cs
  src/Altinn.Apps/KubernetesWrapper/Models/Deployment.cs
  src/Altinn.Apps/KubernetesWrapper/Models/ResourceType.cs
  src/Altinn.Apps/KubernetesWrapper/Program.cs
  src/Altinn.Apps/KubernetesWrapper/Properties/launchSettings.json
  src/Altinn.Apps/KubernetesWrapper/Services/Implementation/KubernetesApiWrapper.cs
  src/Altinn.Apps/KubernetesWrapper/Services/Interfaces/IKubernetesAPIWrapper.cs
  src/Altinn.Apps/KubernetesWrapper/appsettings.Development.json
  src/Altinn.Apps/KubernetesWrapper/appsettings.json
Labels: solution/apps

#9809 Fix styling on dynamics editor
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/shared/package.json
  frontend/packages/shared/src/file-editor/FileEditor.module.css
  frontend/packages/shared/src/file-editor/FileEditor.tsx
  frontend/packages/shared/src/file-editor/MonacoEditorComponent.module.css
  frontend/packages/shared/src/file-editor/MonacoEditorComponent.tsx
  frontend/packages/text-editor/package.json
  frontend/packages/ux-editor/src/containers/FormDesigner.module.css
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  frontend/yarn.lock
Labels: area/data-modeling, area/ui-editor, area/dashboard, solution/studio/designer, area/text-editor

#9801 Drag and drop on ui-editor should work on whole page
  frontend/packages/ux-editor/src/containers/DroppableDraggableContainer.module.css
  frontend/packages/ux-editor/src/containers/DroppableDraggableContainer.tsx
Labels: area/ui-editor, solution/studio/designer

#9811 Small fixes
  frontend/packages/shared/src/file-editor/FileEditor.tsx
Labels: solution/studio/designer

#9815 chore/upgrading yarn deps
  frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictAbort.test.tsx
  frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictDiscardChanges.test.tsx
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/components/MakeCopyModal/MakeCopyModal.test.tsx
  frontend/dashboard/package.json
  frontend/dashboard/pages/Dashboard/Dashboard.test.tsx
  frontend/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/schema-editor/src/components/SchemaEditor.test.tsx
  frontend/packages/schema-model/package.json
  frontend/packages/shared/package.json
  frontend/packages/shared/src/features/dataModelling/components/CreateNewWrapper.test.tsx
  frontend/packages/shared/src/features/dataModelling/components/XSDUpload.test.tsx
  frontend/packages/shared/src/navigation/main-header/HeaderMenu.test.tsx
  frontend/packages/text-editor/package.json
  frontend/packages/ux-editor/package.json
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.test.tsx
  frontend/testing/cypress/package.json
  frontend/yarn.lock
  renovate.json
Labels: area/data-modeling, area/ui-editor, area/dashboard, solution/studio/designer, area/text-editor

#9817 Fixed bug to make it possible to regret changing text-id.
  frontend/packages/text-editor/src/TextList.tsx
  frontend/packages/text-editor/src/TextRow.tsx
Labels: kind/bug, solution/studio/designer, area/text-editor

#9822 Filter what textkeys that will be added to textresourcefile from layout
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
Labels: area/ui-editor, solution/studio/designer

#9800 sync appname
  backend/src/Designer/Controllers/ConfigController.cs
  backend/src/Designer/Controllers/TextController.cs
  backend/src/Designer/Models/ResourceCollection.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Interfaces/IRepository.cs
Labels: solution/studio/designer

#9825 Add extra routes for Azure DevOps to handle different routes in dev/prod
  backend/src/Designer/Controllers/PipelinesController.cs
Labels: solution/studio/designer

#9827 Chore/nuget minor updates
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  testdata/AppTemplates/AspNet/App/App.csproj
Labels: area/pdf, solution/platform

#9826 Bug/9102 validate field name with whitespaces
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  frontend/packages/schema-editor/src/utils/ui-schema-utils.test.ts
  frontend/packages/schema-editor/src/utils/ui-schema-utils.ts
Labels: area/data-modeling, solution/studio/designer

#9828 use correct CSS class name
  frontend/packages/text-editor/src/LangSelector.tsx
Labels: solution/studio/designer, area/text-editor

#9804 9686 sync text keys accross other app files
  backend/src/Designer/Controllers/TextController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Infrastructure/GitRepository/GitRepository.cs
  backend/src/Designer/Models/FormLayout.cs
  backend/src/Designer/Models/TextResource.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Implementation/TextsService.cs
  backend/src/Designer/Services/Interfaces/ITextsService.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnAppGitRepositoryTests.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/GitRepositoryTests.cs
  backend/tests/Designer.Tests/Services/ReleaseServiceTest.cs
  backend/tests/Designer.Tests/Services/TextsServiceTest.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/config/texts/resource.nb.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layout-sets.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layoutSet1/Settings.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layoutSet1/layouts/layoutFile1InSet1.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layoutSet1/layouts/layoutFile2InSet1.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layoutSet2/Settings.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layoutSet2/layouts/layoutFile1InSet2.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layoutSet2/layouts/layoutFile2InSet2.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-without-layoutsets/App/ui/Settings.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-without-layoutsets/App/ui/layouts/layoutFile1.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-without-layoutsets/App/ui/layouts/layoutFile2.json
Labels: solution/studio/designer

#9830 use more descriptive id's for components & texts
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
  frontend/packages/ux-editor/src/utils/generateId.test.tsx
  frontend/packages/ux-editor/src/utils/generateId.ts
Labels: area/ui-editor, solution/studio/designer

#9832 Add test and make serialization ignoring null
  backend/src/Designer/Controllers/TextController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Models/FormLayout.cs
  backend/src/Designer/Services/Implementation/TextsService.cs
  backend/tests/Designer.Tests/Controllers/TextKeysControllerTests.cs
  backend/tests/Designer.Tests/Services/TextsServiceTest.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layoutSet1/layouts/layoutFile1InSet1.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layoutSet1/layouts/layoutFile2InSet1.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layoutSet2/layouts/layoutFile1InSet2.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layoutSet2/layouts/layoutFile2InSet2.json
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
Labels: area/ui-editor, solution/studio/designer

#9833 Update design system
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/shared/package.json
  frontend/packages/text-editor/package.json
  frontend/yarn.lock
Labels: area/data-modeling, area/dashboard, solution/studio/designer, area/text-editor

#9836 simplifying json schema template
  backend/src/DataModeling/Templates/general.template.json
  backend/tests/DataModeling.Tests/Templates/GeneralJsonTemplateTests.cs
Labels: area/data-modeling, solution/studio/designer

#9839 removed api from route to storage api
  backend/src/Designer/TypedHttpClients/AltinnStorage/AltinnStorageTextResourceClient.cs
Labels: solution/studio/designer

#9843 Removed Altinn.Platform.Models
  src/Altinn.Platform/Altinn.Platform.Models/.vscode/launch.json
  src/Altinn.Platform/Altinn.Platform.Models/.vscode/tasks.json
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/Altinn.Platform.Models.Tests.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/GlobalSuppressions.cs
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/ModelValidator.cs
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.Tests/Register/PartyLookupValidationTests.cs
  src/Altinn.Platform/Altinn.Platform.Models/Altinn.Platform.Models.sln
  src/Altinn.Platform/Altinn.Platform.Models/Models/Altinn.Platform.Models.csproj
  src/Altinn.Platform/Altinn.Platform.Models/Models/Authorization/Models/Role.cs
  src/Altinn.Platform/Altinn.Platform.Models/Models/Profile/Enums/UserType.cs
  src/Altinn.Platform/Altinn.Platform.Models/Models/Profile/Models/ProfileSettingPreference.cs
  src/Altinn.Platform/Altinn.Platform.Models/Models/Profile/Models/UserProfile.cs
  src/Altinn.Platform/Altinn.Platform.Models/Models/Register/Enums/PartyType.cs
  src/Altinn.Platform/Altinn.Platform.Models/Models/Register/Models/Organization.cs
  src/Altinn.Platform/Altinn.Platform.Models/Models/Register/Models/Party.cs
  src/Altinn.Platform/Altinn.Platform.Models/Models/Register/Models/PartyLookup.cs
  src/Altinn.Platform/Altinn.Platform.Models/Models/Register/Models/Person.cs
Labels: solution/platform

#9841 Ensure that the text resources are updated across the app
  frontend/app-development/features/administration/handleServiceInformationSlice.ts
  frontend/app-development/features/textEditor/TextEditor.tsx
  frontend/app-development/services/textsApi.ts
Labels: solution/studio/designer, area/text-editor

#9845 fix bug and add validation for duplicate values
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/components/SchemaInspector/EnumField.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
Labels: area/data-modeling, solution/studio/designer

#9844 9707 apps without settingsjson does not load in UI editor
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Models/LayoutSettings.cs
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Interfaces/IAppDevelopmentService.cs
  backend/tests/Designer.Tests/Services/AppDevelopmentServiceTest.cs
  backend/tests/Designer.Tests/Services/TextsServiceTest.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layoutSet2/Settings.json
Labels: solution/studio/designer

#9849 Support title keyword in c# generation
  backend/src/DataModeling/Converter/Json/Strategy/GeneralJsonSchemaConverter.cs
  backend/src/DataModeling/Converter/Metadata/JsonSchemaToMetamodelConverter.cs
  testdata/Model/JsonSchema/General/NonXsdContextSchema.json
Labels: area/data-modeling, solution/studio/designer

#9850 Remove receipt info text in ui-editor
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
Labels: area/ui-editor, solution/studio/designer

#9852 Fixed issue with component type not updating for Button component
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Button/ButtonComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Button/ButtonComponent.tsx
Labels: area/ui-editor, solution/studio/designer

#9851 Fix cypress test
  .github/workflows/designer-dotnet-test.yaml
  .github/workflows/frontend-unit-tests.yml
  frontend/packages/schema-model/src/lib/build-json-schema.ts
  frontend/testing/cypress/src/integration/studio/designer.js
  frontend/testing/cypress/src/integration/studio/new-app.js
Labels: area/data-modeling, solution/studio/designer

#9840 better text keys when adding text from components
  frontend/packages/ux-editor/src/components/TextResource.test.tsx
  frontend/packages/ux-editor/src/components/TextResource.tsx
  frontend/packages/ux-editor/src/components/config/EditModalContent.tsx
  frontend/packages/ux-editor/src/components/config/componentConfig.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/FileUpload/FileUploadComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Image/ImageComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Image/ImageComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBinding.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/ComponentPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
  frontend/packages/ux-editor/src/utils/formLayout.ts
Labels: area/ui-editor, solution/studio/designer

#9854 update intercept path
  frontend/testing/cypress/src/integration/usecase/usecase.js
Labels: solution/studio/designer, skip-releasenotes

#9859 Arrange org and app params correct to get deployments
  backend/src/Designer/Repository/DeploymentRepository.cs
Labels: solution/studio/designer

#9863 Only add initial page when there are no existing layouts
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
Labels: area/ui-editor, solution/studio/designer

#9862 Fix empty layoutsetfolder
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
Labels: solution/studio/designer

#9864 Make texts visible in text resource search
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/dashboard/pages/CreateService/CreateService.test.tsx
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/schema-editor/package.json
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ReferenceSelectionComponent.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.test.tsx
  frontend/packages/shared/package.json
  frontend/packages/text-editor/package.json
  frontend/packages/ux-editor/src/components/TextResource.module.css
  frontend/packages/ux-editor/src/components/TextResource.test.tsx
  frontend/packages/ux-editor/src/components/TextResource.tsx
  frontend/packages/ux-editor/src/components/TextResourceOption.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBinding.test.tsx
  frontend/packages/ux-editor/src/selectors/textResourceSelectors.test.ts
  frontend/packages/ux-editor/src/selectors/textResourceSelectors.ts
  frontend/yarn.lock
Labels: area/data-modeling, area/ui-editor, area/dashboard, solution/studio/designer, area/text-editor

#9867 enable live reload config for datamodeling
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
Labels: solution/studio/designer

#9869 check all layouts instead of selected layout
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
  frontend/packages/ux-editor/src/utils/generateId.test.tsx
  frontend/packages/ux-editor/src/utils/generateId.ts
Labels: area/ui-editor, solution/studio/designer

#9884 use correct field key (group)
  frontend/packages/ux-editor/src/components/config/group/EditGroupDataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/config/group/EditGroupDataModelBindings.tsx
  frontend/packages/ux-editor/src/containers/Container.tsx
  frontend/packages/ux-editor/src/utils/render.tsx
Labels: area/ui-editor, solution/studio/designer

#9866 Remove receipt.title from text resources in new apps
  backend/src/Designer/Services/Implementation/RepositorySI.cs
Labels: solution/studio/designer

#9887 Bug/generate id for group fails
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
  frontend/packages/ux-editor/src/utils/generateId.test.tsx
  frontend/packages/ux-editor/src/utils/generateId.ts
Labels: area/ui-editor, solution/studio/designer

#9898 Add logging to RepositoryController
  backend/src/Designer/Controllers/RepositoryController.cs
Labels: solution/studio/designer

#9871 9377 altinn studio automatically removes expressions from formlayout
  backend/src/Designer/Models/FormLayout.cs
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
  frontend/packages/ux-editor/src/features/formDesigner/widgets/addWidgetsSagas.ts
  frontend/packages/ux-editor/src/types/global.ts
  frontend/packages/ux-editor/src/utils/formLayout.test.tsx
  frontend/packages/ux-editor/src/utils/formLayout.ts
Labels: area/ui-editor, solution/studio/designer

#9886 feat: config cleanup
  .gitignore
  backend/src/Designer/Configuration/DefaultFileFactory.cs
  backend/src/Designer/Configuration/Extensions/ServiceCollectionExtensions.cs
  backend/src/Designer/Configuration/GeneralSettings.cs
  backend/src/Designer/Configuration/IDefaultFileFactory.cs
  backend/src/Designer/Configuration/Marker/ISettingsMarker.cs
  backend/src/Designer/Configuration/OrgConfiguration.cs
  backend/src/Designer/Configuration/PlatformSettings.cs
  backend/src/Designer/Configuration/ServiceRepositorySettings.cs
  backend/src/Designer/Configuration/TestdataRepositorySettings.cs
  backend/src/Designer/Controllers/ConfigController.cs
  backend/src/Designer/Controllers/HomeController.cs
  backend/src/Designer/Controllers/SessionController.cs
  backend/src/Designer/Controllers/TextController.cs
  backend/src/Designer/Factories/AltinnGitRepositoryFactory.cs
  backend/src/Designer/Infrastructure/ConfigurationSettings.cs
  backend/src/Designer/Infrastructure/Models/AzureDevOpsSettings.cs
  backend/src/Designer/Infrastructure/Models/PostgreSQLSettings.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Program.cs
  backend/src/Designer/Repository/DeploymentRepository.cs
  backend/src/Designer/Repository/ReleaseRepository.cs
  backend/src/Designer/Services/Implementation/ApplicationMetadataService.cs
  backend/src/Designer/Services/Implementation/AuthorizationPolicyService.cs
  backend/src/Designer/Services/Implementation/DeploymentService.cs
  backend/src/Designer/Services/Implementation/EnvironmentsService.cs
  backend/src/Designer/Services/Implementation/GiteaAPIWrapper.cs
  backend/src/Designer/Services/Implementation/ReleaseService.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/src/Designer/Services/Implementation/SourceControlLoggingDecorator.cs
  backend/src/Designer/Services/Implementation/SourceControlSI.cs
  backend/src/Designer/Services/Interfaces/IRepository.cs
  backend/src/Designer/Tracing/ConsoleTraceService.cs
  backend/src/Designer/Tracing/CustomTelemetryInitializer.cs
  backend/src/Designer/TypedHttpClients/AltinnAuthentication/AltinnAuthenticationClient.cs
  backend/src/Designer/TypedHttpClients/AltinnAuthorization/AltinnAuthorizationPolicyClient.cs
  backend/src/Designer/TypedHttpClients/AltinnStorage/AltinnStorageAppMetadataClient.cs
  backend/src/Designer/TypedHttpClients/AltinnStorage/AltinnStorageTextResourceClient.cs
  backend/src/Designer/TypedHttpClients/AzureDevOps/AzureDevOpsBuildClient.cs
  backend/src/Designer/TypedHttpClients/DelegatingHandlers/PlatformBearerTokenHandler.cs
  backend/src/Designer/appsettings.json
  backend/tests/Designer.Tests/Controllers/SessionControllerTest.cs
  backend/tests/Designer.Tests/Designer.Tests.csproj
  backend/tests/Designer.Tests/Services/DeploymentServiceTest.cs
  backend/tests/Designer.Tests/Services/GiteaAPIWrapperTest.cs
  backend/tests/Designer.Tests/Services/ReleaseServiceTest.cs
  backend/tests/Designer.Tests/Services/RepositorySITests.cs
  backend/tests/Designer.Tests/Services/SourceControlLoggingDecoratorTests.cs
  backend/tests/Designer.Tests/Services/SourceControlSITest.cs
  backend/tests/Designer.Tests/Utils/TestDataHelper.cs
  backend/tests/Designer.Tests/Utils/TestOptionsMonitor.cs
Labels: solution/studio/designer

#9899 Chore/fixing minor errors after i8next
  .husky/pre-commit
  frontend/app-development/layout/AppBar/AppBar.test.tsx
  frontend/dashboard/components/RepoList/RepoList.tsx
  frontend/packages/shared/package.json
  frontend/packages/shared/src/utils/getValueByPath.ts
  frontend/packages/shared/src/utils/language.ts
  frontend/packages/ux-editor/src/components/config/group/EditGroupDataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/config/group/EditGroupDataModelBindings.tsx
  frontend/packages/ux-editor/src/testing/mocks.tsx
  frontend/yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer

#9901 Add logging in repoController
  backend/src/Designer/Controllers/RepositoryController.cs
Labels: solution/studio/designer

#9881 9623 preview of button component
  frontend/package.json
  frontend/packages/ux-editor/src/containers/ComponentPreview/ButtonPreview/ButtonPreview.module.css
  frontend/packages/ux-editor/src/containers/ComponentPreview/ButtonPreview/ButtonPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/ButtonPreview/ButtonPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/ButtonPreview/index.ts
  frontend/packages/ux-editor/src/containers/ComponentPreview/ComponentPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/ComponentPreview.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
  frontend/packages/ux-editor/src/types/global.ts
  frontend/packages/ux-editor/src/utils/language.test.ts
  frontend/packages/ux-editor/src/utils/language.ts
  frontend/yarn.lock
Labels: area/ui-editor, solution/studio/designer

#9908 fix: XmlText combination with complex type fix
  backend/src/DataModeling/Converter/Csharp/JsonMetadataToCsharpConverter.cs
  backend/tests/DataModeling.Tests/TestDataClasses/CSharpEnd2EndTestData.cs
  testdata/Model/CSharp/Gitea/krt-1188a-1.cs
  testdata/Model/XmlSchema/Gitea/krt-1188a-1.xsd
Labels: area/data-modeling, solution/studio/designer

#9910 update api path to match backend route
  frontend/packages/shared/src/api-paths/index.js
Labels: solution/studio/designer

#9911 use window.location.href instead of useNavigate
  frontend/dashboard/components/MakeCopyModal/MakeCopyModal.test.tsx
  frontend/dashboard/components/MakeCopyModal/MakeCopyModal.tsx
Labels: area/dashboard, solution/studio/designer

#9903 Added ESLint for React Testing Library
  frontend/.eslintrc.json
  frontend/app-development/features/accessControl/containers/AccessControlContainer.test.tsx
  frontend/app-development/features/administration/components/Administration.test.tsx
  frontend/app-development/features/administration/components/ResetRepoModal.test.tsx
  frontend/app-development/features/administration/components/ServiceAdministration.test.tsx
  frontend/app-development/features/dataModelling/containers/DataModellingContainer.test.tsx
  frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictAbort.test.tsx
  frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictDiscardChanges.test.tsx
  frontend/app-development/features/handleMergeConflict/components/HandleMergeConflictFileList.test.tsx
  frontend/dashboard/app/App.test.tsx
  frontend/dashboard/components/MakeCopyModal/MakeCopyModal.test.tsx
  frontend/dashboard/components/RepoList/RepoList.test.tsx
  frontend/dashboard/pages/CreateService/CreateService.test.tsx
  frontend/dashboard/pages/Dashboard/Dashboard.test.tsx
  frontend/package.json
  frontend/packages/schema-editor/src/SchemaEditorApp.test.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemPropertiesTab.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.test.tsx
  frontend/packages/schema-editor/src/components/TopToolbar.test.tsx
  frontend/packages/schema-editor/src/components/TopToolbarButton.test.tsx
  frontend/packages/schema-editor/src/components/common/ActionMenu.test.tsx
  frontend/packages/schema-editor/src/components/common/ActionMenu.tsx
  frontend/packages/schema-editor/src/components/common/Icon.test.tsx
  frontend/packages/schema-editor/src/components/common/IconButton.test.tsx
  frontend/packages/shared/src/components/AltinnColumnLayout.test.tsx
  frontend/packages/shared/src/features/dataModelling/DataModelling.test.tsx
  frontend/packages/shared/src/features/dataModelling/components/SchemaSelect.test.tsx
  frontend/packages/shared/src/features/dataModelling/components/XSDUpload.test.tsx
  frontend/packages/shared/src/navigation/main-header/HeaderMenu.test.tsx
  frontend/packages/shared/src/navigation/main-header/profileMenu.test.tsx
  frontend/packages/shared/src/version-control/CloneModal.test.tsx
  frontend/packages/shared/src/version-control/SyncModal.test.tsx
  frontend/packages/shared/src/version-control/VersionControlHeader.test.tsx
  frontend/packages/text-editor/src/TextList.test.tsx
  frontend/packages/text-editor/src/TextRow.test.tsx
  frontend/packages/ux-editor/src/components/config/EditModalContent.test.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.test.tsx
  frontend/yarn.lock
Labels: area/data-modeling, area/ui-editor, area/dashboard, solution/studio/designer, area/text-editor

#9913 Bugfix: When deleting the data model we should reset the state that holds the previously fetched data model.
  frontend/packages/shared/src/features/dataModelling/DataModelling.tsx
Labels: solution/studio/designer

#9912 bug/texts not translated in datamodelling
  frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/types/index.ts
Labels: area/data-modeling, solution/studio/designer

#9906 feat: custom datamodeling error codes
  backend/src/DataModeling/Converter/Csharp/CsharpGenerationException.cs
  backend/src/DataModeling/Converter/Csharp/JsonMetadataToCsharpConverter.cs
  backend/src/DataModeling/Converter/Json/Strategy/GeneralJsonSchemaConverter.cs
  backend/src/DataModeling/Converter/Metadata/JsonSchemaToMetamodelConverter.cs
  backend/src/DataModeling/Converter/Metadata/ModelMetadataConvertException.cs
  backend/src/Designer/Filters/Datamodeling/DatamodelingErrorCodes.cs
  backend/src/Designer/Filters/Datamodeling/DatamodelingExceptionFilterAttribute.cs
  backend/src/Designer/Models/ApiError.cs
  backend/src/Designer/Program.cs
  backend/tests/DataModeling.Tests/Json/SeresConverterTests.cs
  backend/tests/DataModeling.Tests/ModelSerializationDeserializationTests.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/PutDatamodelTests.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/Utils/FileContentVerifier.cs
  backend/tests/SharedResources.Tests/Utf8StringWriter.cs
Labels: area/data-modeling, solution/studio/designer

#9918 Add statuscode to repository in giteawrapper
  backend/src/Designer/Controllers/RepositoryController.cs
  backend/src/Designer/Services/Implementation/GiteaAPIWrapper.cs
Labels: solution/studio/designer

#9920 9872 calculations modal styling is broken
  frontend/packages/ux-editor/src/components/config/ConditionalRenderingComponent.tsx
  frontend/packages/ux-editor/src/components/config/RuleComponent.module.css
  frontend/packages/ux-editor/src/components/config/RuleComponent.tsx
Labels: area/ui-editor, solution/studio/designer

#9924 Chore/updating dependencies
  .yarnrc.yml
  development/azure-devops-mock/.gitignore
  development/azure-devops-mock/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  development/azure-devops-mock/.yarnrc.yml
  development/azure-devops-mock/package.json
  development/azure-devops-mock/yarn.lock
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/dashboard/pages/Dashboard/Dashboard.test.tsx
  frontend/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/schema-model/package.json
  frontend/packages/shared/package.json
  frontend/packages/text-editor/package.json
  frontend/packages/ux-editor/package.json
  frontend/testing/cypress/package.json
  frontend/testing/mockend/package.json
  frontend/yarn.lock
Labels: area/data-modeling, area/ui-editor, area/dashboard, solution/studio/designer, area/text-editor

#9919 chore: assembly exploring
  backend/src/Designer/Configuration/Extensions/ServiceCollectionExtensions.cs
  backend/src/Designer/Helpers/AltinnAssembliesScanner.cs
  backend/tests/Designer.Tests/Designer.Tests.csproj
  backend/tests/Designer.Tests/Helpers/AltinnAssembliesScannerTests.cs
Labels: solution/studio/designer

#9885 Chore/deploy and release now uses react query
  .github/workflows/frontend-unit-tests.yml
  frontend/app-development/config/routes.tsx
  frontend/app-development/features/appPublish/AppPublishFeature.tsx
  frontend/app-development/features/appPublish/components/InfoCard.module.css
  frontend/app-development/features/appPublish/components/InfoCard.tsx
  frontend/app-development/features/appPublish/components/appDeploymentComponent.module.css
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
  frontend/app-development/features/appPublish/components/appReleaseComponent.tsx
  frontend/app-development/features/appPublish/components/createAppReleaseComponent.module.css
  frontend/app-development/features/appPublish/components/createAppReleaseComponent.tsx
  frontend/app-development/features/appPublish/components/deploy/DeployDropdown.tsx
  frontend/app-development/features/appPublish/components/illustration-help-2-circle.svg
  frontend/app-development/features/appPublish/containers/deployContainer.tsx
  frontend/app-development/features/appPublish/containers/releaseContainer.tsx
  frontend/app-development/features/appPublish/contexts/ServiceContext.tsx
  frontend/app-development/features/appPublish/hooks/invalidator.ts
  frontend/app-development/features/appPublish/hooks/mutation-hooks.ts
  frontend/app-development/features/appPublish/hooks/query-hooks.ts
  frontend/app-development/features/appPublish/pages/deployPage.tsx
  frontend/app-development/features/appPublish/queries/mutations.ts
  frontend/app-development/features/appPublish/queries/queries.ts
  frontend/app-development/package.json
  frontend/app-development/sharedResources/appDeployment/types.ts
  frontend/app-development/sharedResources/configuration/getEnvironments/getEnvironmentsSagas.ts
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/package.json
  frontend/packages/shared/src/api-paths/cache-key.ts
  frontend/packages/shared/src/api-paths/index.js
  frontend/packages/shared/src/cdn-paths.js
  frontend/packages/shared/src/events/common.ts
  frontend/packages/shared/src/events/invalidate-cache.ts
  frontend/packages/shared/src/primitives/Primitives.module.css
  frontend/packages/shared/src/primitives/index.tsx
  frontend/packages/shared/src/utils/formatDate.test.tsx
  frontend/packages/shared/src/utils/formatDate.ts
  frontend/packages/shared/src/version-control/VersionControlHeader.tsx
  frontend/testing/mockend/src/index.js
  frontend/yarn.lock
Labels: area/app-deploy, solution/studio/designer

#9939 The Authorization K6 tests have been moved to a different branch, and…
  src/test/K6/src/tests/platform/authorization/authorization.js
  src/test/K6/src/tests/platform/authorization/delegations/delegations.js
  src/test/K6/src/tests/platform/authorization/delegations/delegationsv2.js
  src/test/K6/src/tests/platform/authorization/delegations/inheritance.js
  src/test/K6/src/tests/platform/authorization/delegations/inheritancev2.js
Labels: area/test

#9937 9923 html in translated texts are broken
  frontend/app-development/App.tsx
  frontend/app-development/features/administration/components/Administration.test.tsx
  frontend/app-development/features/administration/components/DownloadRepoModal.tsx
  frontend/app-development/features/administration/components/MainContent.tsx
  frontend/app-development/features/administration/components/ServiceAdministration.test.tsx
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
  frontend/app-development/features/appPublish/components/deploy/DeployDropdown.tsx
  frontend/app-development/features/appPublish/components/deploy/ErrorMessage.tsx
  frontend/app-development/features/appPublish/containers/releaseContainer.tsx
  frontend/app-development/features/appPublish/pages/deployPage.tsx
  frontend/language/src/en.json
  frontend/language/src/nb.json
Labels: area/app-deploy, solution/studio/designer

#9940 chore/disabling typecheck on frontend build
  .github/actions/yarn-install/action.yaml
  .github/workflows/frontend-unit-tests.yml
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/package.json
  frontend/packages/shared/package.json
  frontend/packages/ux-editor/package.json
Labels: area/ui-editor, area/dashboard, solution/studio/designer
