Repository Altinn/altinn-studio, pull requests merged in 2023-12, with the labels that each got.

#11722 Remove unused code from shared folder
  frontend/app-development/test/serviceConfigMock.ts
  frontend/packages/shared/src/components/AltinnIcon.tsx
  frontend/packages/shared/src/components/AltinnInformationPaper.module.css
  frontend/packages/shared/src/components/AltinnInformationPaper.tsx
  frontend/packages/shared/src/events/invalidate-cache.ts
  frontend/packages/shared/src/pure/utils.test.ts
  frontend/packages/shared/src/pure/utils.ts
  frontend/packages/shared/src/types/ServiceConfig.ts
  frontend/packages/shared/src/types/global.ts
  frontend/packages/shared/src/utils/attachmentsUtils.test.ts
  frontend/packages/shared/src/utils/attachmentsUtils.ts
  frontend/packages/shared/src/utils/conditionalPath.test.ts
  frontend/packages/shared/src/utils/conditionalPath.ts
Labels: solution/studio/designer

#11751 add logging to altinnStorageAppMetadataClient
  backend/src/Designer/TypedHttpClients/AltinnStorage/AltinnStorageAppMetadataClient.cs
Labels: solution/studio/designer

#11755 Add logging in delegationhandler and jsonSerializerOptions to appmetadata
  backend/src/Designer/TypedHttpClients/AltinnStorage/AltinnStorageAppMetadataClient.cs
  backend/src/Designer/TypedHttpClients/DelegatingHandlers/EnsureSuccessHandler.cs
  backend/tests/Designer.Tests/Fixtures/GiteaFixture.cs
Labels: solution/studio/designer, quality/testing

#11753 Remove AltinnIcon component
  frontend/app-development/features/appPublish/components/deploy/DeployDropdown.module.css
  frontend/app-development/features/appPublish/components/deploy/DeployDropdown.tsx
  frontend/app-development/features/appPublish/containers/releaseContainer.module.css
  frontend/app-development/features/appPublish/containers/releaseContainer.tsx
  frontend/packages/shared/src/components/AltinnIcon.md
  frontend/packages/shared/src/components/AltinnIcon.module.css
  frontend/packages/shared/src/components/AltinnIcon.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/CloneModal/CloneModal.module.css
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/CloneModal/CloneModal.tsx
  frontend/packages/shared/src/components/index.ts
Labels: area/app-deploy, solution/studio/designer

#11750 11746 move altinnspinner to studio components
  frontend/app-development/features/administration/components/Administration.tsx
  frontend/app-development/features/administration/components/AppEnvironments.tsx
  frontend/app-development/features/administration/components/AppLogs.tsx
  frontend/app-development/features/administration/components/AppStatus.tsx
  frontend/app-development/features/administration/components/News.tsx
  frontend/app-development/features/administration/components/ResetRepoModal.tsx
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
  frontend/app-development/features/appPublish/components/appReleaseComponent.tsx
  frontend/app-development/features/appPublish/components/deploy/DeployDropdown.tsx
  frontend/app-development/features/appPublish/containers/releaseContainer.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload.tsx
  frontend/dashboard/components/MakeCopyModal/MakeCopyModal.tsx
  frontend/dashboard/pages/CreateService/CreateService.tsx
  frontend/libs/studio-components/src/components/StudioSpinner/StudioSpinner.test.tsx
  frontend/libs/studio-components/src/components/StudioSpinner/StudioSpinner.tsx
  frontend/libs/studio-components/src/components/StudioSpinner/index.ts
  frontend/libs/studio-components/src/components/index.ts
  frontend/packages/shared/src/components/AltinnSpinner.module.css
  frontend/packages/shared/src/components/AltinnSpinner.test.tsx
  frontend/packages/shared/src/components/AltinnSpinner.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/SyncModal/SyncModal.tsx
  frontend/packages/shared/src/components/PageSpinner/PageSpinner.tsx
  frontend/packages/shared/src/components/index.ts
  frontend/packages/ux-editor/src/components/config/EditFormComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList.tsx
Labels: area/data-modeling, area/ui-editor, area/dashboard, area/app-deploy, solution/studio/designer

#11572 Resource table in dashboard
  frontend/dashboard/components/DataModelsRepoList/DatamodelsRepoList.tsx
  frontend/dashboard/components/FavoriteReposList/FavoriteReposList.tsx
  frontend/dashboard/components/OrgRepoList/OrgReposList.tsx
  frontend/dashboard/components/ResourcesRepoList/ResourcesRepoList.test.tsx
  frontend/dashboard/components/ResourcesRepoList/ResourcesRepoList.tsx
  frontend/dashboard/pages/Dashboard/Dashboard.tsx
  frontend/dashboard/utils/repoUtils/repoUtils.ts
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/resourceadm/hooks/queries/useGetResourceListQuery.ts
Labels: area/dashboard, solution/studio/designer

#11773 11765 pagespinner to studiopagespinner
  frontend/app-development/features/administration/components/LegacyAdministration.tsx
  frontend/app-development/features/administration/components/ServiceAdministration.tsx
  frontend/app-development/features/dataModelling/DataModelling.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SelectedSchemaEditor.tsx
  frontend/app-development/features/textEditor/TextEditor.tsx
  frontend/app-development/layout/AppShell.tsx
  frontend/dashboard/app/App.tsx
  frontend/dashboard/pages/Dashboard/Dashboard.tsx
  frontend/libs/studio-components/src/components/StudioPageSpinner/StudioPageSpinner.module.css
  frontend/libs/studio-components/src/components/StudioPageSpinner/StudioPageSpinner.test.tsx
  frontend/libs/studio-components/src/components/StudioPageSpinner/StudioPageSpinner.tsx
  frontend/libs/studio-components/src/components/StudioPageSpinner/index.ts
  frontend/libs/studio-components/src/components/index.ts
  frontend/packages/shared/src/components/PageSpinner/PageSpinner.test.tsx
  frontend/packages/shared/src/components/PageSpinner/PageSpinner.tsx
  frontend/packages/shared/src/components/PageSpinner/index.ts
  frontend/packages/shared/src/components/index.ts
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  frontend/resourceadm/app/App.tsx
Labels: area/data-modeling, area/ui-editor, area/dashboard, solution/studio/designer, area/text-editor

#11780 Bug: Organization name is not shown in header in resources dashboard
  frontend/resourceadm/app/App.tsx
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.tsx
  frontend/resourceadm/components/NewResourceModal/NewResourceModal.tsx
  frontend/resourceadm/hooks/useSelectedContext/useSelectedContext.ts
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.tsx
  frontend/resourceadm/pages/MigrationPage/MigrationPage.tsx
  frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.tsx
  frontend/resourceadm/pages/RedirectPage/RedirectPage.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.test.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
Labels: solution/studio/designer

#11784 gitea bump 1.20.5 -> 1.20.6
  gitea/Dockerfile
Labels: solution/studio/repos

#11812 Support semantic version for app-lib version endpoint
  backend/src/Designer/Controllers/ProcessModelingController.cs
  backend/src/Designer/Helpers/PackageVersionHelper.cs
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
  backend/src/Designer/Services/Implementation/ProcessModeling/ProcessModelingService.cs
  backend/src/Designer/Services/Interfaces/IAppDevelopmentService.cs
  backend/src/Designer/Services/Interfaces/IProcessModelingService.cs
  backend/src/Designer/ViewModels/Response/VersionResponse.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/GetVersionOfTheAppLibTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/GetTemplatesTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/SaveProcessDefinitionFromTemplateTests.cs
  backend/tests/Designer.Tests/Helpers/PackageVersionHelperTests.cs
  backend/tests/Designer.Tests/Services/ProcessModelingServiceTests.cs
Labels: solution/studio/designer, quality/testing

#11825 Refactor icon file structure
  frontend/libs/studio-icons/src/components/Accordion/index.ts
  frontend/libs/studio-icons/src/components/Checkbox/index.ts
  frontend/libs/studio-icons/src/components/Group/index.ts
  frontend/libs/studio-icons/src/components/Likert/index.ts
  frontend/libs/studio-icons/src/components/LongText/index.ts
  frontend/libs/studio-icons/src/components/NavBar/index.ts
  frontend/libs/studio-icons/src/components/Paragraph/index.ts
  frontend/libs/studio-icons/src/components/RadioButton/index.ts
  frontend/libs/studio-icons/src/components/Select/index.ts
  frontend/libs/studio-icons/src/components/ShortText/index.ts
  frontend/libs/studio-icons/src/components/SvgTemplate/index.ts
  frontend/libs/studio-icons/src/components/Title/index.ts
  frontend/libs/studio-icons/src/index.ts
  frontend/libs/studio-icons/src/react/icons/Accordion.tsx
  frontend/libs/studio-icons/src/react/icons/Checkbox.tsx
  frontend/libs/studio-icons/src/react/icons/Group.tsx
  frontend/libs/studio-icons/src/react/icons/Icons.test.tsx
  frontend/libs/studio-icons/src/react/icons/Likert.tsx
  frontend/libs/studio-icons/src/react/icons/LongText.tsx
  frontend/libs/studio-icons/src/react/icons/NavBar.tsx
  frontend/libs/studio-icons/src/react/icons/Paragraph.tsx
  frontend/libs/studio-icons/src/react/icons/RadioButton.tsx
  frontend/libs/studio-icons/src/react/icons/Select.tsx
  frontend/libs/studio-icons/src/react/icons/ShortText.tsx
  frontend/libs/studio-icons/src/react/icons/SvgTemplate.tsx
  frontend/libs/studio-icons/src/react/icons/Title.tsx
  frontend/libs/studio-icons/src/react/icons/index.ts
  frontend/libs/studio-icons/src/react/types/IconProps.ts
  frontend/libs/studio-icons/src/react/types/index.ts
Labels: solution/studio/designer, quality/code, added-to-sprint

#11826 Remove version override of log4j
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform, skip-releasenotes

#11833 feat(process-editor): checkered background
  frontend/packages/process-editor/src/components/Canvas/BPMNEditor/BPMNEditor.css
  frontend/packages/process-editor/src/components/Canvas/BPMNEditor/BPMNEditor.module.css
  frontend/packages/process-editor/src/components/Canvas/BPMNEditor/BPMNEditor.tsx
  frontend/packages/process-editor/src/components/Canvas/BPMNViewer/BPMNViewer.module.css
  frontend/packages/process-editor/src/components/Canvas/Canvas.module.css
Labels: area/process, solution/studio/designer

#11800 implementing studio-pure-functions
  frontend/app-development/package.json
  frontend/app-development/utils/metadataUtils.ts
  frontend/jest.config.js
  frontend/libs/studio-pure-functions/README.md
  frontend/libs/studio-pure-functions/jest.config.js
  frontend/libs/studio-pure-functions/package.json
  frontend/libs/studio-pure-functions/src/ArrayUtils/ArrayUtils.test.ts
  frontend/libs/studio-pure-functions/src/ArrayUtils/ArrayUtils.ts
  frontend/libs/studio-pure-functions/src/ArrayUtils/index.ts
  frontend/libs/studio-pure-functions/src/index.ts
  frontend/libs/studio-pure-functions/tsconfig.json
  frontend/packages/schema-model/src/lib/mappers/field-type.ts
  frontend/packages/shared/src/utils/arrayUtils.test.ts
  frontend/packages/shared/src/utils/arrayUtils.ts
  frontend/packages/ux-editor/src/selectors/textResourceSelectors.ts
  frontend/packages/ux-editor/src/utils/formLayoutsUtils.ts
  yarn.lock
Labels: area/data-modeling, area/ui-editor, solution/studio/designer, kind/dependencies

#11787 Cleanup
  frontend/app-development/features/appPublish/components/deploy/ErrorMessage.module.css
  frontend/app-development/features/appPublish/components/deploy/ErrorMessage.tsx
  frontend/yarn
Labels: area/app-deploy, solution/studio/designer

#11785 Compile csharp datamodel before saving
  backend/src/DataModeling/Converter/Csharp/Compiler.cs
  backend/src/DataModeling/Converter/Csharp/CsharpCompilationException.cs
  backend/src/DataModeling/Converter/Csharp/JsonMetadataToCsharpConverter.cs
  backend/src/DataModeling/DataModeling.csproj
  backend/src/Designer/Designer.csproj
  backend/src/Designer/Filters/DataModeling/DataModelingExceptionFilterAttribute.cs
  backend/src/Designer/Filters/ProblemDetailsUtils.cs
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/src/Designer/Services/Models/EnvironmentsModel.cs
  backend/tests/DataModeling.Tests/Assertions/TypeAssertions.cs
  backend/tests/DataModeling.Tests/CsharpEnd2EndGenerationTests.cs
  backend/tests/DataModeling.Tests/DataModeling.Tests.csproj
  backend/tests/Designer.Tests/Controllers/DataModelsController/PutDatamodelTests.cs
  backend/tests/Designer.Tests/Designer.Tests.csproj
  backend/tests/Designer.Tests/Services/SchemaModelServiceTests.cs
  backend/tests/Designer.Tests/Utils/TestDataHelper.cs
  backend/tests/SharedResources.Tests/SharedResources.Tests.csproj
  frontend/app-development/features/dataModelling/DataModelling.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SchemaEditorWithToolbar.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SchemaGenerationErrorsPanel.module.css
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SchemaGenerationErrorsPanel.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SchemaGenerationErrorsPanel.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/GenerateModelsButton.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/TopToolbar.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/TopToolbar.tsx
  frontend/app-development/hooks/mutations/useGenerateModelsMutation.ts
  frontend/language/src/nb.json
  frontend/packages/shared/src/contexts/ServicesContext.test.tsx
  frontend/packages/shared/src/mocks/apiErrorMock.ts
  frontend/packages/shared/src/types/api/ApiError.ts
Labels: area/data-modeling, solution/studio/designer, quality/testing

#11818 11809 fix size for text and icon in binding datamodell
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.tsx
Labels: area/ui-editor, solution/studio/designer

#11847 Revert 'refactoring studio modal to use designsystem modal (#11792)'
  frontend/app-development/layout/SettingsModalButton/SettingsModal/SettingsModal.module.css
  frontend/app-development/layout/SettingsModalButton/SettingsModal/SettingsModal.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/SettingsModal.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/LocalChangesTab/DeleteModal/DeleteModal.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/LocalChangesTab/DeleteModal/DeleteModal.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/LocalChangesTab/LocalChangesTab.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModalButton.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModalButton.tsx
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioModal/StudioModal.module.css
  frontend/libs/studio-components/src/components/StudioModal/StudioModal.test.tsx
  frontend/libs/studio-components/src/components/StudioModal/StudioModal.tsx
  frontend/packages/policy-editor/src/PolicyEditor.tsx
  frontend/packages/policy-editor/src/components/VerificationModal/VerificationModal.test.tsx
  frontend/packages/policy-editor/src/components/VerificationModal/VerificationModal.tsx
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.test.tsx
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.tsx
  frontend/resourceadm/components/MergeConflictModal/MergeConflictModal.tsx
  frontend/resourceadm/components/MergeConflictModal/RemoveChangesModal/RemoveChangesModal.tsx
  frontend/resourceadm/components/Modal/Modal.tsx
  frontend/resourceadm/components/NavigationModal/NavigationModal.test.tsx
  frontend/resourceadm/components/NavigationModal/NavigationModal.tsx
  frontend/resourceadm/components/NewResourceModal/NewResourceModal.test.tsx
  frontend/resourceadm/components/NewResourceModal/NewResourceModal.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/testing/setupTests.ts
Labels: solution/studio/designer, quality/testing

#11849 use Element as superclass and uppercase types
  frontend/packages/process-editor/src/bpmnProviders/SupportedPaletteProvider.js
  frontend/packages/process-editor/src/extensions/altinnCustomTasks.ts
Labels: area/process, solution/studio/designer

#11850 css ellipsis for text overflow
  frontend/packages/shared/src/components/TreeView/TreeViewItem/TreeViewItem.module.css
  frontend/packages/shared/src/components/TreeView/TreeViewItem/TreeViewItem.tsx
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.module.css
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormItem/FormItemTitle/FormItemTitle.module.css
Labels: area/ui-editor, solution/studio/designer

#11834 chore(deps): update labeler config
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Labels: skip-releasenotes

#11838 adding task icons to studio/icons
  frontend/libs/studio-icons/src/react/icons/ConfirmationTask.tsx
  frontend/libs/studio-icons/src/react/icons/DataTask.tsx
  frontend/libs/studio-icons/src/react/icons/FeedbackTask.tsx
  frontend/libs/studio-icons/src/react/icons/PaymentTask.tsx
  frontend/libs/studio-icons/src/react/icons/SignTask.tsx
  frontend/libs/studio-icons/src/react/icons/index.ts
Labels: solution/studio/designer

#11810 Fixing delete error on gyldige verdier list
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/ArrayRestrictions/ArrayRestrictions.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/ArrayRestrictions/ArrayRestrictions.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/ArrayRestrictions/ArrayRestrictions.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/ArrayRestrictions/index.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/EnumList/EnumField/EnumField.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/EnumList/EnumField/EnumField.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/EnumList/EnumField/EnumField.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/EnumList/EnumField/index.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/EnumList/EnumList.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/EnumList/EnumList.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/EnumList/EnumList.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/EnumList/index.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/EnumList/utils.test.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/EnumList/utils.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/ItemRestrictions.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/ItemRestrictions.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/ItemRestrictions.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/NumberRestrictions/NumberRestrictions.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/NumberRestrictions/NumberRestrictions.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/NumberRestrictions/NumberRestrictions.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/NumberRestrictions/NumberRestrictionsReducer.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/NumberRestrictions/NumberRestrictionsReducer.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/NumberRestrictions/index.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/ObjectRestrictions/ObjectRestrictions.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/ObjectRestrictions/ObjectRestrictions.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/ObjectRestrictions/index.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/RestrictionField/RestrictionField.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/RestrictionField/index.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/StringRestrictions/StringRestrictions.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/StringRestrictions/StringRestrictions.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/StringRestrictions/StringRestrictions.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/StringRestrictions/StringRestrictionsReducer.test.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/StringRestrictions/StringRestrictionsReducer.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/StringRestrictions/index.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/index.ts
  frontend/packages/schema-model/src/lib/mutations/ui-schema-reducers.test.ts
  frontend/packages/schema-model/src/lib/mutations/ui-schema-reducers.ts
  frontend/packages/shared/src/utils/arrayUtils.test.ts
  frontend/packages/shared/src/utils/arrayUtils.ts
Labels: area/data-modeling, solution/studio/designer

#11779 Bug fix/11366 replace altinn menu with dropdown menu at lage page
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/InputPopover/InputPopover.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/InputPopover/InputPopover.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/useDeleteLayout.ts
Labels: area/ui-editor, solution/studio/designer

#11815 11552 add GitHub links on contact page
  frontend/language/src/nb.json
  frontend/packages/shared/src/icons/GitHub.svg
  frontend/studio-root/pages/Contact/Contact.module.css
  frontend/studio-root/pages/Contact/Contact.test.tsx
  frontend/studio-root/pages/Contact/Contact.tsx
Labels: solution/studio/designer, area/studio-root

#11715 Warn user when leaving bpmn editor with unsaved changes
  frontend/app-development/index.tsx
  frontend/app-development/layout/App.css
  frontend/app-development/layout/App.module.css
  frontend/app-development/layout/App.test.tsx
  frontend/app-development/layout/App.tsx
  frontend/app-development/layout/PageLayout.test.tsx
  frontend/app-development/layout/PageLayout.tsx
  frontend/app-development/package.json
  frontend/app-development/router/PageRoutes.module.css
  frontend/app-development/router/PageRoutes.tsx
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/language/src/nb.json
  frontend/packages/process-editor/src/ProcessEditor.test.tsx
  frontend/packages/process-editor/src/components/Canvas/Canvas.test.tsx
  frontend/packages/process-editor/src/components/Canvas/Canvas.tsx
  frontend/packages/process-editor/src/contexts/BpmnContext.tsx
  frontend/packages/shared/package.json
  frontend/packages/shared/src/hooks/useConfirmationDialogOnPageLeave.test.tsx
  frontend/packages/shared/src/hooks/useConfirmationDialogOnPageLeave.ts
  frontend/resourceadm/package.json
  package.json
  yarn.lock
Labels: area/process, area/dashboard, solution/studio/designer, kind/dependencies

#11852 chore/libgit2sharp 0.28.0 => 0.29.0
  backend/packagegroups/NuGet.props
  backend/src/Designer/Services/Implementation/SourceControlSI.cs
Labels: solution/studio/designer, kind/dependencies, added-to-sprint

#11853 Fix failing Cypress tests
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.tsx
  frontend/testing/cypress/src/integration/studio/designer.js
  frontend/testing/cypress/src/selectors/settings.js
Labels: area/ui-editor, solution/studio/designer, quality/testing

#11856 Add timeout to toast on unauthorised response
  frontend/language/src/nb.json
  frontend/packages/shared/src/contexts/ServicesContext.test.tsx
  frontend/packages/shared/src/contexts/ServicesContext.tsx
Labels: solution/studio/designer

#11861 Changing save bpmn success message from english to norwegian
  frontend/app-development/features/processEditor/ProcessEditor.tsx
  frontend/language/src/nb.json
Labels: area/process, solution/studio/designer

#11873 Cypress tests on PR pipeline
  .github/workflows/run-cypress-on-pr.yaml
  development/setup.js
Labels: skip-releasenotes

#11870 fix(SchemaInspector): fixing renaming objects with child nodes
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTab.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldsTable.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemPropertiesTab.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemPropertiesTab.tsx
Labels: area/data-modeling, solution/studio/designer

#11879 Renaming "Legg til gyldig verdi" to "Legg til ny verdi" on enum list
  frontend/language/src/nb.json
Labels: solution/studio/designer, added-to-sprint

#11882 Remove cypress from verification step in pr template
  .github/pull_request_template.md
Labels: skip-releasenotes, added-to-sprint

#11878 Fixing header component when displaying 404 page
  frontend/app-development/layout/PageHeader.tsx
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.tsx
Labels: solution/studio/designer

#11881 Changing Task to Oppgave for bpmn process editor
  frontend/language/src/nb.json
Labels: solution/studio/designer

#11890 Include usecase tests in Cypress run on PR
  .github/workflows/run-cypress-on-pr.yaml
Labels: skip-releasenotes, added-to-sprint

#11884 11493/cypress tests settings modal
  frontend/language/src/nb.json
  frontend/testing/cypress/src/integration/studio/settingsModal.js
  frontend/testing/cypress/src/selectors/accessControlTab.js
  frontend/testing/cypress/src/selectors/administrationTab.js
  frontend/testing/cypress/src/selectors/localChangesTab.js
  frontend/testing/cypress/src/selectors/policyEditorTab.js
  frontend/testing/cypress/src/selectors/settingsTab.js
  frontend/testing/cypress/src/support/studio.js
Labels: solution/studio/designer, quality/testing

#11889 Update the design system
  package.json
  yarn.lock
Labels: added-to-sprint

#11892 Align datamodel field rows correctly
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldsTable.module.css
Labels: area/data-modeling, solution/studio/designer

#11883 Implementing PagesRouter to navigate between packages
  frontend/app-development/layout/PageHeader.tsx
  frontend/app-preview/src/components/AppBarConfig/AppPreviewBarConfig.tsx
  frontend/app-preview/src/enums/RoutePaths.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/components/altinnHeader/types.ts
  frontend/packages/shared/src/navigation/PackagesRouter/PackagesRouter.test.ts
  frontend/packages/shared/src/navigation/PackagesRouter/PackagesRouter.ts
  frontend/packages/shared/src/navigation/PackagesRouter/index.ts
Labels: solution/studio/designer

#11898 bugfix(EditCodeList): should trigger handleComponentChange when optionList changes
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/FileUpload/FileUploadComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList.tsx
Labels: kind/bug, area/ui-editor, solution/studio/designer, added-to-sprint

#11902 Return 204 from get rule handler endpoint when file not found
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/GetRuleHandlerTests.cs
Labels: solution/studio/designer, quality/testing

#11900 Fixing the task text undefined bug on process editor page
  frontend/language/src/nb.json
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.tsx
  frontend/packages/process-editor/src/utils/configPanelUtils/configPanelUtils.ts
Labels: area/process, solution/studio/designer, added-to-sprint

#11903 Bugfix(DropdownMenu, AddPageButton): Resolved two UI glitches.
  frontend/packages/ux-editor/src/components/config/Expressions/NewExpressionButton.module.css
  frontend/packages/ux-editor/src/components/config/Expressions/NewExpressionButton.tsx
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.module.css
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.module.css
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.tsx
Labels: kind/bug, area/ui-editor, solution/studio/designer, added-to-sprint

#11749 Change center html element on PageSpinner to div with center styling
  frontend/libs/studio-components/src/components/StudioPageSpinner/StudioPageSpinner.module.css
  frontend/libs/studio-components/src/components/StudioPageSpinner/StudioPageSpinner.tsx
Labels: solution/studio/designer

#11909 Set Node version in Dockerfile
  .github/workflows/run-cypress-on-pr.yaml
  development/azure-devops-mock/Dockerfile
Labels: skip-releasenotes

#11866 fixing language bpmn-process
  .github/pull_request_template.md
  development/setup.js
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/FileUpload/FileUploadComponent.tsx
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.tsx
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, added-to-sprint

#11908 Resourceadm: refactor about resource form before changing form for "Maskinporten skjema" type resources
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/types/ResourceAdm.ts
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.tsx
  frontend/resourceadm/components/MigrationStep/MigrationStep.tsx
  frontend/resourceadm/components/ResourceContactPointFields/ResourceContactPointFields.test.tsx
  frontend/resourceadm/components/ResourceContactPointFields/ResourceContactPointFields.tsx
  frontend/resourceadm/components/ResourceDeployStatus/ResourceDeployStatus.test.tsx
  frontend/resourceadm/components/ResourceDeployStatus/ResourceDeployStatus.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceLanguageTextArea.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceLanguageTextField.tsx
  frontend/resourceadm/components/RightTranslationBar/RightTranslationBar.module.css
  frontend/resourceadm/components/RightTranslationBar/RightTranslationBar.tsx
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.module.css
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.test.tsx
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.tsx
  frontend/resourceadm/pages/MigrationPage/MigrationPage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/resourceadm/types/DeployError.d.ts
  frontend/resourceadm/types/EnvironmentType.d.ts
  frontend/resourceadm/types/NavigationBarPage.d.ts
  frontend/resourceadm/types/Translation.d.ts
  frontend/resourceadm/types/global.ts
  frontend/resourceadm/utils/resourceUtils/index.ts
  frontend/resourceadm/utils/resourceUtils/resourceUtils.test.tsx
  frontend/resourceadm/utils/resourceUtils/resourceUtils.ts
  frontend/resourceadm/utils/urlUtils/urlUtils.ts
  frontend/testing/setupTests.ts
Labels: solution/studio/designer, quality/testing

#11920 breaking the chained cypress actions in datamodel
  frontend/testing/cypress/src/integration/studio/datamodel.js
Labels: solution/studio/designer, quality/testing

#11915 Add searchpattern when fetching languages from files in text directory
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Infrastructure/GitRepository/GitRepository.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnAppGitRepositoryTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/App/config/texts/non.text_resource.json
Labels: solution/studio/designer, quality/testing
