Repository Altinn/altinn-studio, pull requests merged in 2023-07, with the labels that each got.

#10649 New version pdf-box
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#10638 Ensure error message when deploy mutation fails
  frontend/app-development/features/appPublish/components/appDeploymentComponent.test.tsx
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
Labels: area/app-deploy, solution/studio/designer

#10652 Remove node selection callback
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  frontend/packages/schema-model/src/lib/mutations/ui-schema-reducers.ts
Labels: area/data-modeling, solution/studio/designer

#10642 Feature/resourceadminoptions
  backend/src/Designer/Configuration/CacheSettings.cs
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Designer.csproj
  backend/src/Designer/Enums/ResourceType.cs
  backend/src/Designer/Models/ConceptSchema.cs
  backend/src/Designer/Models/DataTheme.cs
  backend/src/Designer/Models/DataThemesContainer.cs
  backend/src/Designer/Models/EuroVocTerm.cs
  backend/src/Designer/Models/EuroVocTerms.cs
  backend/src/Designer/Models/LosTerm.cs
  backend/src/Designer/Models/LosTerms.cs
  backend/src/Designer/Program.cs
  backend/src/Designer/TypedHttpClients/ResourceRegistryOptions/IResourceRegistryOptions.cs
  backend/src/Designer/TypedHttpClients/ResourceRegistryOptions/ResourceRegistryOptionsClient.cs
  backend/src/Designer/TypedHttpClients/TypedHttpClientRegistration.cs
  backend/src/Designer/appsettings.json
  backend/tests/Designer.Tests/Controllers/ResourceAdminControllerTests.cs
  backend/tests/Designer.Tests/Designer.Tests.csproj
  backend/tests/Designer.Tests/_TestData/DataNorge/data-themes.json
  backend/tests/Designer.Tests/_TestData/DataNorge/eurovocs.json
  backend/tests/Designer.Tests/_TestData/DataNorge/themes-and-words.json
Labels: solution/studio/designer

#10647 updated toggleArrayField and added test
  frontend/packages/schema-model/src/lib/mutations/ui-schema-reducers.test.ts
  frontend/packages/schema-model/src/lib/mutations/ui-schema-reducers.ts
  frontend/packages/schema-model/test/uiSchemaMock.ts
Labels: area/data-modeling, solution/studio/designer

#10651 Bug/10562 fix runtime error in text field of component
  frontend/packages/ux-editor/src/components/TextResourceEdit.test.tsx
  frontend/packages/ux-editor/src/components/TextResourceEdit.tsx
Labels: area/ui-editor, solution/studio/designer

#10654 Bug/10562 fix text resource bindings
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Button/ButtonComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Button/ButtonComponent.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/ButtonPreview/ButtonPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/ButtonPreview/ButtonPreview.tsx
  frontend/packages/ux-editor/src/utils/formLayoutUtils.test.tsx
  frontend/packages/ux-editor/src/utils/formLayoutUtils.ts
Labels: area/ui-editor, solution/studio/designer

#10607 Prepare expressions submenu
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/expressions/DynamicContent.tsx
  frontend/packages/ux-editor/src/components/config/expressions/ExpressionContent.module.css
  frontend/packages/ux-editor/src/components/config/expressions/ExpressionContent.tsx
  frontend/packages/ux-editor/src/components/rightMenu/CalculationsTab.tsx
  frontend/packages/ux-editor/src/components/rightMenu/ConditionalRenderingTab.tsx
  frontend/packages/ux-editor/src/components/rightMenu/DynamicsTab.tsx
  frontend/packages/ux-editor/src/components/rightMenu/OldDynamicsInfo.module.css
  frontend/packages/ux-editor/src/components/rightMenu/OldDynamicsInfo.tsx
  frontend/packages/ux-editor/src/components/rightMenu/RightMenu.module.css
  frontend/packages/ux-editor/src/components/rightMenu/RightMenu.tsx
  frontend/packages/ux-editor/src/types/Expressions.ts
  frontend/packages/ux-editor/src/types/FormComponent.ts
Labels: area/ui-editor, solution/studio/designer

#10650 10643 update react redux to latest version & fix safety checks
  frontend/app-development/package.json
  frontend/app-development/sharedResources/applicationMetadata/selectors/applicationMetadata.test.ts
  frontend/app-development/sharedResources/applicationMetadata/selectors/applicationMetadataSelector.ts
  frontend/app-preview/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/CustomProperties.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaItem.tsx
  frontend/packages/schema-editor/src/hooks/useSchemaSelector.test.ts
  frontend/packages/schema-editor/src/hooks/useSchemaSelector.ts
  frontend/packages/schema-editor/src/selectors/schemaStateSelectors.ts
  frontend/packages/shared/package.json
  frontend/packages/shared/src/features/dataModelling/DataModelling.tsx
  frontend/packages/shared/src/features/dataModelling/functions/createDataModelMetadataOptions.test.ts
  frontend/packages/shared/src/features/dataModelling/functions/createDataModelMetadataOptions.ts
  frontend/packages/ux-editor/package.json
  frontend/packages/ux-editor/src/components/FormComponent.tsx
  frontend/packages/ux-editor/src/components/config/EditFormComponent.tsx
  frontend/packages/ux-editor/src/components/config/EditFormContainer.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditComponentId.tsx
  frontend/packages/ux-editor/src/components/toolbar/ConditionalRenderingModal.tsx
  frontend/packages/ux-editor/src/containers/DesignView.tsx
  frontend/packages/ux-editor/src/containers/FormContainer.tsx
  frontend/packages/ux-editor/src/containers/FormContext.tsx
  frontend/packages/ux-editor/src/hooks/index.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddFormContainerMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddItemToLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddWidgetMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormComponentMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormContainerMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentOrderMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormContainerMutation.ts
  frontend/packages/ux-editor/src/hooks/useFormLayoutsSelector.test.ts
  frontend/packages/ux-editor/src/hooks/useFormLayoutsSelector.ts
  frontend/packages/ux-editor/src/selectors/formLayoutSelectors.test.ts
  frontend/packages/ux-editor/src/selectors/formLayoutSelectors.ts
  frontend/packages/ux-editor/src/testing/layoutMock.ts
  frontend/packages/ux-editor/src/types/global.ts
  yarn.lock
Labels: area/data-modeling, area/ui-editor, solution/studio/designer

#10663 Display component type when text resource is empty
  frontend/packages/ux-editor/src/components/FormComponent.test.tsx
  frontend/packages/ux-editor/src/components/FormComponent.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/ButtonPreview/ButtonPreview.test.tsx
  frontend/packages/ux-editor/src/utils/language.test.ts
  frontend/packages/ux-editor/src/utils/language.ts
Labels: area/ui-editor, solution/studio/designer

#10665 10664 remove the code that adds empty text resources in norwegian
  frontend/packages/ux-editor/src/components/TextResource.tsx
  frontend/packages/ux-editor/src/components/TextResourceEdit.test.tsx
  frontend/packages/ux-editor/src/components/TextResourceEdit.tsx
Labels: area/ui-editor, solution/studio/designer

#10666 Bug/10628 delete language row with confirmation
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/text-editor/src/RightMenu.test.tsx
  frontend/packages/text-editor/src/RightMenu.tsx
  frontend/packages/text-editor/src/TextEditor.test.tsx
Labels: solution/studio/designer, area/text-editor

#10668 fix: endret rettskriving: beskrivselse -> beskrivelse
  frontend/language/src/nb.json
Labels: solution/studio/designer

#10576 Add min-width and autosize for textArea and make sure variables is shown
  frontend/language/src/nb.json
  frontend/packages/text-editor/src/RightMenu.module.css
  frontend/packages/text-editor/src/RightMenu.test.tsx
  frontend/packages/text-editor/src/RightMenu.tsx
  frontend/packages/text-editor/src/TextEditor.module.css
  frontend/packages/text-editor/src/TextEditor.test.tsx
  frontend/packages/text-editor/src/TextEntry.tsx
  frontend/packages/text-editor/src/TextList.tsx
  frontend/packages/text-editor/src/TextRow.module.css
  frontend/packages/text-editor/src/TextRow.tsx
  frontend/packages/text-editor/src/Variables.module.css
  frontend/packages/text-editor/src/utils.test.ts
  frontend/packages/text-editor/src/utils.ts
Labels: solution/studio/designer, area/text-editor

#10673 Loading spinner not spinning
  frontend/app-development/index.tsx
  frontend/app-preview/index.tsx
  frontend/dashboard/index.tsx
  frontend/packages/shared/src/design-tokens.js
  frontend/packages/ux-editor/src/App.tsx
  frontend/resourceadm/index.tsx
  package.json
  yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer

#10677 prevented showing popover when adding language
  frontend/packages/text-editor/src/RightMenu.test.tsx
  frontend/packages/text-editor/src/RightMenu.tsx
Labels: solution/studio/designer, area/text-editor

#10680 Add owners-team to permitted envs
  backend/src/Designer/Controllers/DeploymentsController.cs
Labels: area/app-deploy, solution/studio/designer

#10658 Add css and fix texts
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/expressions/DynamicContent.module.css
  frontend/packages/ux-editor/src/components/config/expressions/DynamicContent.tsx
  frontend/packages/ux-editor/src/components/config/expressions/ExpressionContent.module.css
  frontend/packages/ux-editor/src/components/config/expressions/ExpressionContent.tsx
  frontend/packages/ux-editor/src/components/rightMenu/ConditionalRenderingTab.module.css
  frontend/packages/ux-editor/src/components/rightMenu/ConditionalRenderingTab.tsx
  frontend/packages/ux-editor/src/components/rightMenu/DynamicsTab.tsx
  frontend/packages/ux-editor/src/components/rightMenu/RightMenu.module.css
  frontend/packages/ux-editor/src/components/rightMenu/RightMenu.test.tsx
  frontend/packages/ux-editor/src/components/rightMenu/RightMenu.tsx
  frontend/packages/ux-editor/src/types/Expressions.ts
Labels: area/ui-editor, solution/studio/designer

#10688 New version azure-identity
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#10675 Added error message if deleting a text fails
  frontend/app-development/hooks/mutations/useTextIdMutation.ts
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/text-editor/src/TextEditor.tsx
  frontend/packages/text-editor/src/TextRow.tsx
Labels: solution/studio/designer, area/text-editor

#10689 Hide delete icon from appName i text editor
  frontend/packages/text-editor/src/TextRow.tsx
Labels: solution/studio/designer, area/text-editor

#10682 Bug/10621 build panel in deploy page does not scroll as expected
  frontend/app-development/features/appPublish/containers/releaseContainer.module.css
Labels: area/app-deploy, solution/studio/designer

#10695 Fixing api paths for resourceadm
  frontend/resourceadm/utils/backendUrlUtils/backendUserUtils.ts
Labels: solution/studio/designer

#10696 Updated TextEditor to keep language box checked
  frontend/app-development/features/textEditor/TextEditor.test.tsx
  frontend/app-development/features/textEditor/TextEditor.tsx
  frontend/packages/text-editor/src/RightMenu.tsx
  frontend/packages/text-editor/src/TextEditor.test.tsx
Labels: solution/studio/designer, area/text-editor

#10700 Feature/10520 error handling about resource page
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.module.css
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
Labels: solution/studio/designer

#10701 Feature/10520 translation on right menu
  frontend/resourceadm/components/LeftNavigationBar/LeftNavigationBar.module.css
  frontend/resourceadm/components/RightTranslationBar/RightTranslationBar.module.css
  frontend/resourceadm/components/RightTranslationBar/RightTranslationBar.tsx
  frontend/resourceadm/components/RightTranslationBar/index.ts
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.module.css
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  frontend/resourceadm/pages/AboutResourcePage/index.ts
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.module.css
Labels: solution/studio/designer

#10704 added spinner in App component
  frontend/app-development/App.module.css
  frontend/app-development/App.tsx
  frontend/dashboard/app/App.module.css
  frontend/dashboard/app/App.tsx
Labels: area/dashboard, solution/studio/designer

#10690 Add logic to vary the type of data source value based on selected datasource
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/expressions/DataSourceValue.tsx
  frontend/packages/ux-editor/src/components/config/expressions/DynamicContent.tsx
  frontend/packages/ux-editor/src/components/config/expressions/ExpressionContent.tsx
  frontend/packages/ux-editor/src/types/Expressions.ts
Labels: area/ui-editor, solution/studio/designer

#10712 Make sure error is returned from controller when Post to language throws argument exception
  backend/src/Designer/Controllers/TextController.cs
Labels: solution/studio/designer

#10714 Fixed incorrect image component link
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Image/ImageComponent.tsx
Labels: area/ui-editor, solution/studio/designer

#10710 Rewrite resourceadm to react-query
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/QueryKey.ts
  frontend/resourceadm/components/ResourceTable/ResourceTableDataRow/ResourceTableDataRow.tsx
  frontend/resourceadm/hooks/mutations/index.ts
  frontend/resourceadm/hooks/mutations/useCreateResourceMutation.ts
  frontend/resourceadm/hooks/mutations/useEditResourceMutation.ts
  frontend/resourceadm/hooks/mutations/useEditResourcePolicyMutation.ts
  frontend/resourceadm/hooks/queries/index.ts
  frontend/resourceadm/hooks/queries/useGetResourceListQuery.ts
  frontend/resourceadm/hooks/queries/useResourcePolicyActionsQuery.ts
  frontend/resourceadm/hooks/queries/useResourcePolicyPublishStatusQuery.ts
  frontend/resourceadm/hooks/queries/useResourcePolicyQuery.ts
  frontend/resourceadm/hooks/queries/useResourcePolicySubjectsQuery.ts
  frontend/resourceadm/hooks/queries/useResourceSectorsQuery.ts
  frontend/resourceadm/hooks/queries/useResourceThematicAreaEurovocQuery.ts
  frontend/resourceadm/hooks/queries/useResourceThematicAreaLosQuery.ts
  frontend/resourceadm/hooks/queries/useSinlgeResourceQuery.ts
  frontend/resourceadm/hooks/queries/useValidatePolicyQuery.ts
  frontend/resourceadm/hooks/queries/useValidateResourceQuery.ts
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.module.css
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.module.css
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.tsx
  frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.module.css
  frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.module.css
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/resourceadm/types/global.ts
  frontend/resourceadm/utils/backendUrlUtils/backendUserUtils.ts
  frontend/resourceadm/utils/backendUrlUtils/index.ts
  frontend/resourceadm/utils/mapperUtils/index.ts
  frontend/resourceadm/utils/mapperUtils/mapperUtils.ts
  frontend/resourceadm/utils/policyEditorUtils/index.ts
  frontend/resourceadm/utils/policyEditorUtils/policyEditorUtils.ts
Labels: solution/studio/designer

#10691 10646 strange effect when switching editing component
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/constants.js
  frontend/packages/ux-editor/src/components/FormComponent.test.tsx
  frontend/packages/ux-editor/src/components/FormComponent.tsx
  frontend/packages/ux-editor/src/components/rightMenu/ContentTab.test.tsx
  frontend/packages/ux-editor/src/components/rightMenu/ContentTab.tsx
  frontend/packages/ux-editor/src/containers/DesignView.tsx
  frontend/packages/ux-editor/src/containers/FormContainer.test.tsx
  frontend/packages/ux-editor/src/containers/FormContainer.tsx
  frontend/packages/ux-editor/src/containers/FormContainerHeader.test.tsx
  frontend/packages/ux-editor/src/containers/FormContainerHeader.tsx
  frontend/packages/ux-editor/src/containers/FormContext.test.tsx
  frontend/packages/ux-editor/src/containers/FormContext.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormContainerMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormContainerMutation.ts
  frontend/packages/ux-editor/src/hooks/useFormLayoutsSelector.test.ts
  frontend/packages/ux-editor/src/hooks/useFormLayoutsSelector.ts
Labels: area/ui-editor, solution/studio/designer

#10724 Feature/10715 migration modal
  frontend/resourceadm/components/MigrateResourceModal/MigrateResourceModal.module.css
  frontend/resourceadm/components/MigrateResourceModal/MigrateResourceModal.tsx
  frontend/resourceadm/components/MigrateResourceModal/index.ts
  frontend/resourceadm/components/NewResourceModal/NewResourceModal.module.css
  frontend/resourceadm/components/NewResourceModal/NewResourceModal.tsx
  frontend/resourceadm/components/ResourceNameAndId/ResourceNameAndId.module.css
  frontend/resourceadm/components/ResourceNameAndId/ResourceNameAndId.tsx
  frontend/resourceadm/components/ResourceNameAndId/index.ts
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.tsx
Labels: solution/studio/designer

#10725 Update I18next
  frontend/app-development/package.json
  frontend/dashboard/utils/repoUtils/repoUtils.test.ts
  frontend/dashboard/utils/repoUtils/repoUtils.ts
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/testing/mocks/i18nMock.ts
  package.json
  yarn.lock
Labels: area/dashboard, solution/studio/designer

#10717 Remove show/Edit mode in datamodell
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/SchemaEditorApp.test.tsx
  frontend/packages/schema-editor/src/SchemaEditorApp.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor.test.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  frontend/packages/schema-editor/src/components/TopToolbar.test.tsx
  frontend/packages/schema-editor/src/components/TopToolbar.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaItem.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaTreeView.tsx
  frontend/packages/schema-editor/src/components/layout/ModelsPanel.tsx
  frontend/packages/schema-editor/src/components/layout/TypesPanel.test.tsx
  frontend/packages/schema-editor/src/components/layout/TypesPanel.tsx
  frontend/packages/schema-editor/src/components/layout/layoutTypes.ts
  frontend/packages/shared/src/features/dataModelling/DataModelling.tsx
Labels: area/data-modeling, solution/studio/designer

#10723 Strange effect when adding a new page
  frontend/packages/ux-editor/src/containers/DesignView.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView.tsx
Labels: area/ui-editor, solution/studio/designer

#10728 Fix typescript errors
  frontend/packages/ux-editor/src/containers/DesignView.test.tsx
Labels: area/ui-editor, solution/studio/designer
