Repository Altinn/altinn-studio, pull requests merged in 2023-05, with the labels that each got.

#10262 Added spinner during pushing changes
  frontend/app-development/hooks/mutations/useRepoPushMutation.ts
  frontend/app-development/layout/version-control/VersionControlHeader.tsx
  frontend/packages/shared/src/components/AltinnSpinner.tsx
Labels: solution/studio/designer

#10287 Chore/failing use case dev
  frontend/testing/cypress/src/integration/usecase/usecase.js
Labels: solution/studio/designer

#10288 Remove all active list functionality
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/components/FormComponent.tsx
  frontend/packages/ux-editor/src/components/config/EditModalContent.test.tsx
  frontend/packages/ux-editor/src/components/leftMenu/ConfPageToolbar.tsx
  frontend/packages/ux-editor/src/components/leftMenu/DefaultToolbar.tsx
  frontend/packages/ux-editor/src/containers/Container.tsx
  frontend/packages/ux-editor/src/containers/DesignView.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.test.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  frontend/packages/ux-editor/src/features/formDesigner/activeList/activeListSagas.ts
  frontend/packages/ux-editor/src/features/formDesigner/formDesignerSagas.ts
  frontend/packages/ux-editor/src/features/formDesigner/formDesignerTypes.ts
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutActions.ts
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSlice.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormComponentMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormComponentMutation.ts
  frontend/packages/ux-editor/src/hooks/queries/useFormLayoutsQuery.ts
  frontend/packages/ux-editor/src/sagas.ts
  frontend/packages/ux-editor/src/testing/mocks.tsx
  frontend/packages/ux-editor/src/types/global.ts
  frontend/packages/ux-editor/src/utils/formLayoutUtils.ts
Labels: area/ui-editor, solution/studio/designer

#10289 10277 cach is not invalidated when keystexts are deleted in text editor
  frontend/app-development/hooks/mutations/useTextIdMutation.ts
  frontend/packages/text-editor/src/TextRow.tsx
Labels: solution/studio/designer, area/text-editor

#10258 10139 implement hot reload in preview
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/Hubs/PreviewHub.cs
  backend/src/Designer/Program.cs
  backend/src/Designer/Views/Preview/index.cshtml
  backend/tests/Designer.Tests/Hubs/PreviewHubTests.cs
  development/load-balancer/nginx.conf.conf
  frontend/app-development/index.tsx
  frontend/app-preview/index.tsx
  frontend/app-preview/src/views/LandingPage.tsx
  frontend/packages/schema-editor/src/SchemaEditorApp.test.tsx
  frontend/packages/shared/src/api-paths/index.js
  frontend/packages/shared/src/providers/PreviewConnectionContext.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useFormLayoutMutation.ts
  frontend/packages/ux-editor/src/testing/mocks.tsx
  frontend/testing/mocks/signalr.ts
  frontend/testing/setupTests.ts
  package.json
  yarn.lock
Labels: area/data-modeling, area/ui-editor, solution/studio/designer

#10295 fix: applicationMetadata from specific commit when deploying
  backend/src/Designer/Services/Implementation/ApplicationMetadataService.cs
  backend/tests/Designer.Tests/Services/RepositorySITests.cs
  backend/tests/Designer.Tests/Services/TextsServiceTest.cs
Labels: solution/studio/designer

#10296 Chore/cypress regression tests
  .github/workflows/cypress.yml
  frontend/packages/shared/src/navigation/main-header/HeaderMenu.tsx
  frontend/testing/cypress/config/dev.json
  frontend/testing/cypress/config/local.json
  frontend/testing/cypress/config/prod.json
  frontend/testing/cypress/src/fixtures/texts.json
  frontend/testing/cypress/src/integration/studio/dashboard.js
  frontend/testing/cypress/src/integration/studio/designer.js
  frontend/testing/cypress/src/integration/studio/new-app.js
  frontend/testing/cypress/src/integration/studio/repos.js
  frontend/testing/cypress/src/pageobjects/dashboard.js
  frontend/testing/cypress/src/pageobjects/header.js
  frontend/testing/cypress/src/support/studio.js
Labels: solution/studio/designer

#10294 Chore/gitea fixture
  backend/packagegroups/NuGet.props
  backend/tests/Designer.Tests/Designer.Tests.csproj
  backend/tests/Designer.Tests/Fixtures/GiteaAuthDelegatingHandler.cs
  backend/tests/Designer.Tests/Fixtures/GiteaCollection.cs
  backend/tests/Designer.Tests/Fixtures/GiteaConstants.cs
  backend/tests/Designer.Tests/Fixtures/GiteaFixture.cs
Labels: solution/studio/designer

#10302 Chore/cypress on dev
  .github/workflows/cypress.yml
  frontend/testing/cypress/src/integration/studio/designer.js
  frontend/testing/cypress/src/integration/studio/sync-app.js
Labels: solution/studio/designer

#10319 set up workflow to run sonarcloud analysis
  .github/workflows/frontend-unit-tests.yml
  frontend/sonar-project.properties
  package.json
Labels: solution/studio/designer

#10297 React query for rule config
  frontend/app-development/queries/mutations.ts
  frontend/app-development/queries/queries.ts
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/components/config/ConditionalRenderingComponent.tsx
  frontend/packages/ux-editor/src/components/config/RuleComponent.tsx
  frontend/packages/ux-editor/src/components/toolbar/ConditionalRenderingModal.tsx
  frontend/packages/ux-editor/src/components/toolbar/RuleModal.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.test.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
  frontend/packages/ux-editor/src/features/formDesigner/formDesignerTypes.ts
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutActions.ts
  frontend/packages/ux-editor/src/features/serviceConfigurations/conditionalRendering/conditionalRenderingSagas.ts
  frontend/packages/ux-editor/src/features/serviceConfigurations/manageServiceConfigurations/manageServiceConfigurationSagas.ts
  frontend/packages/ux-editor/src/features/serviceConfigurations/serviceConfigurationSagas.ts
  frontend/packages/ux-editor/src/features/serviceConfigurations/serviceConfigurationSlice.ts
  frontend/packages/ux-editor/src/features/serviceConfigurations/serviceConfigurationTypes.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddFormComponentMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddFormContainerMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormComponentMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormContainerMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteLayoutMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useFormLayoutMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useRuleConfigMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useRuleConfigMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateContainerIdMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateContainerIdMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentOrderMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormContainerMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateLayoutNameMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateLayoutOrderMutation.test.ts
  frontend/packages/ux-editor/src/hooks/queries/useRuleConfigQuery.ts
  frontend/packages/ux-editor/src/reducers.ts
  frontend/packages/ux-editor/src/sagas.ts
  frontend/packages/ux-editor/src/selectors/formLayoutSelectors.ts
  frontend/packages/ux-editor/src/testing/layoutMock.ts
  frontend/packages/ux-editor/src/testing/mocks.tsx
  frontend/packages/ux-editor/src/testing/ruleConfigMock.ts
  frontend/packages/ux-editor/src/types/QueryKey.ts
  frontend/packages/ux-editor/src/types/RuleConfig.ts
  frontend/packages/ux-editor/src/types/global.ts
  frontend/packages/ux-editor/src/utils/formLayoutUtils.test.tsx
  frontend/packages/ux-editor/src/utils/formLayoutsUtils.test.ts
  frontend/packages/ux-editor/src/utils/ruleConfigUtils.test.ts
  frontend/packages/ux-editor/src/utils/ruleConfigUtils.ts
Labels: area/ui-editor, solution/studio/designer

#10313 feat: remove soft delete
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/tests/Designer.Tests/Services/RepositorySITests.cs
  backend/tests/Designer.Tests/Utils/TestDataHelper.cs
Labels: solution/studio/designer

#10321 Update design system
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ReferenceSelectionComponent.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/StringRestrictions.test.tsx
  frontend/packages/shared/package.json
  frontend/packages/text-editor/package.json
  frontend/packages/ux-editor/src/components/TextResource.test.tsx
  frontend/packages/ux-editor/src/components/config/EditModalContent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Button/ButtonComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.test.tsx
  package.json
  yarn.lock
Labels: area/data-modeling, area/ui-editor, area/dashboard, solution/studio/designer, area/text-editor

#10327 Session controller tests
  backend/tests/Designer.Tests/Controllers/SessionController/GetRemainingSessionTimeTests.cs
  backend/tests/Designer.Tests/Controllers/SessionController/GetSessionDetailsTests.cs
  backend/tests/Designer.Tests/Controllers/SessionController/KeepAliveTests.cs
  backend/tests/Designer.Tests/Controllers/SessionController/SessionControllerTestsBase.cs
  backend/tests/Designer.Tests/Controllers/SessionControllerTest.cs
Labels: solution/studio/designer

#10331 fix: support utf8 bom encoding for applicationmetadata.json file
  backend/src/Designer/Services/Implementation/ApplicationMetadataService.cs
  backend/src/Designer/Services/Implementation/SourceControlSI.cs
Labels: solution/studio/designer

#10342 enabling "deleteLocalChanges"
  frontend/testing/cypress/src/integration/usecase/usecase.js
Labels: solution/studio/designer

#10328 React query for widgets
  frontend/app-development/layout/version-control/VersionControlHeader.test.tsx
  frontend/app-development/layout/version-control/VersionControlHeader.tsx
  frontend/app-development/queries/queries.ts
  frontend/packages/shared/src/types/widgetTypes.ts
  frontend/packages/shared/src/utils/networking.ts
  frontend/packages/ux-editor/package.json
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/SubApp.tsx
  frontend/packages/ux-editor/src/components/EditFormComponent.test.tsx
  frontend/packages/ux-editor/src/components/leftMenu/DefaultToolbar.tsx
  frontend/packages/ux-editor/src/features/widgets/fetch/fetchWidgetsSagas.ts
  frontend/packages/ux-editor/src/features/widgets/widgetsSagas.ts
  frontend/packages/ux-editor/src/features/widgets/widgetsSlice.ts
  frontend/packages/ux-editor/src/hooks/queries/useWidgetsQuery.test.ts
  frontend/packages/ux-editor/src/hooks/queries/useWidgetsQuery.ts
  frontend/packages/ux-editor/src/index.tsx
  frontend/packages/ux-editor/src/reducers.ts
  frontend/packages/ux-editor/src/sagas.ts
  frontend/packages/ux-editor/src/store.ts
  frontend/packages/ux-editor/src/testing/mocks.tsx
  frontend/packages/ux-editor/src/types/QueryKey.ts
  frontend/packages/ux-editor/src/types/global.ts
  yarn.lock
Labels: area/ui-editor, solution/studio/designer

#10340 Fixed overlapping between /legg til/ button and schema
  frontend/packages/schema-editor/src/components/SchemaEditor.module.css
Labels: area/data-modeling, solution/studio/designer

#10348 Set correct path for widget settings query
  frontend/app-development/queries/queries.ts
Labels: solution/studio/designer

#10350 Bump azure-identity
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#10349 fix: remote repo url
  backend/src/Designer/Helpers/Extensions/UriExtensions.cs
  backend/src/Designer/Services/Implementation/SourceControlSI.cs
  backend/tests/Designer.Tests/Helpers/Extensions.cs
Labels: solution/studio/designer

#10341 Feat/10329 mock options preview v2
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/Controllers/PreviewController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/GetOptionListIdsTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/PreviewControllerTests.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnAppGitRepositoryTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-options/App/options/other-options.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-options/App/options/test-options.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/preview-app/App/options/test-options.json
Labels: solution/studio/designer

#10352 Adapt preview after app frontend update
  backend/src/Designer/Controllers/PreviewController.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/PreviewControllerTests.cs
  frontend/app-development/layout/AppBar/AppBar.tsx
Labels: solution/studio/designer

#10351 10134 text content is to long for the element
  frontend/packages/schema-editor/src/components/TypesInspector/TypeItem.module.css
  frontend/packages/schema-editor/src/components/TypesInspector/TypeItem.tsx
Labels: area/data-modeling, solution/studio/designer

#10353 Chore: libgit2sharp upgrade
  backend/packagegroups/NuGet.props
  backend/tests/Designer.Tests/GiteaIntegrationTests/GitManipulationIntegrationTests.cs
  backend/tests/Designer.Tests/GiteaIntegrationTests/GiteaIntegrationTestsBase.cs
Labels: solution/studio/designer

#10357 10226 mock endpoints when pressing send inn in preview
  backend/src/Designer/Controllers/PreviewController.cs
  backend/src/Designer/Services/Implementation/PreviewService.cs
  backend/src/Designer/Services/Interfaces/IPreviewService.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/PreviewControllerTests.cs
Labels: solution/studio/designer

#10359 chore: user-controller integration tests added
  backend/tests/Designer.Tests/Controllers/UserControllerTests.cs
  backend/tests/Designer.Tests/GiteaIntegrationTests/GiteaIntegrationTestsBase.cs
  backend/tests/Designer.Tests/GiteaIntegrationTests/GiteaLoginTests.cs
  backend/tests/Designer.Tests/GiteaIntegrationTests/RepositoryControllerGiteaIntegrationTests.cs
  backend/tests/Designer.Tests/GiteaIntegrationTests/UserControllerGiteaIntegrationTests.cs
Labels: solution/studio/designer

#10299 Feature/10203 create api endpoint in resource admin controller that writes resource in the resource repository
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Interfaces/IRepository.cs
  backend/tests/Designer.Tests/Controllers/ResourceAdminControllerTests.cs
Labels: solution/studio/designer

#10356 allow value 0
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictions.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/NumberRestrictions.tsx
  frontend/packages/schema-editor/src/utils/value.test.ts
  frontend/packages/schema-editor/src/utils/value.ts
  frontend/packages/schema-model/src/lib/restrictions.ts
Labels: area/data-modeling, solution/studio/designer

#10334 Option validation for checkboxes and radio buttons
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/utils/arrayUtils.test.ts
  frontend/packages/shared/src/utils/arrayUtils.ts
  frontend/packages/ux-editor/src/components/AddOption.tsx
  frontend/packages/ux-editor/src/components/EditFormComponent.tsx
  frontend/packages/ux-editor/src/components/FormComponent.tsx
  frontend/packages/ux-editor/src/components/config/ConditionalRenderingComponent.tsx
  frontend/packages/ux-editor/src/components/config/EditModalContent.test.tsx
  frontend/packages/ux-editor/src/components/config/EditModalContent.tsx
  frontend/packages/ux-editor/src/components/config/componentConfig.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Address/AddressComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Address/AddressComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Button/ButtonComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/FileUpload/FileUploadComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/FileUpload/FileUploadComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Image/ImageComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditComponentId.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditPreselectedIndex.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBinding.test.tsx
  frontend/packages/ux-editor/src/components/index.ts
  frontend/packages/ux-editor/src/containers/ComponentPreview/ButtonPreview/ButtonPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/ButtonPreview/ButtonPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/ComponentPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/ComponentPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
  frontend/packages/ux-editor/src/features/formDesigner/formDesignerTypes.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddFormComponentMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddFormComponentMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentMutation.ts
  frontend/packages/ux-editor/src/hooks/useComponentErrorMessage.test.ts
  frontend/packages/ux-editor/src/hooks/useComponentErrorMessage.ts
  frontend/packages/ux-editor/src/testing/componentMocks.ts
  frontend/packages/ux-editor/src/testing/layoutMock.ts
  frontend/packages/ux-editor/src/types/FormComponent.ts
  frontend/packages/ux-editor/src/types/global.ts
  frontend/packages/ux-editor/src/utils/component.test.ts
  frontend/packages/ux-editor/src/utils/component.ts
  frontend/packages/ux-editor/src/utils/formLayoutUtils.test.tsx
  frontend/packages/ux-editor/src/utils/formLayoutUtils.ts
  frontend/packages/ux-editor/src/utils/formLayoutsUtils.test.ts
  frontend/packages/ux-editor/src/utils/validationUtils/index.ts
  frontend/packages/ux-editor/src/utils/validationUtils/validateComponent.test.ts
  frontend/packages/ux-editor/src/utils/validationUtils/validateComponent.ts
Labels: area/ui-editor, solution/studio/designer

#10362 Add information of preview being beta and enable in prod
  frontend/app-development/layout/AppBar/AppBar.module.css
  frontend/app-development/layout/AppBar/AppBar.tsx
  frontend/app-preview/src/views/LandingPage.module.css
  frontend/app-preview/src/views/LandingPage.tsx
  frontend/language/src/nb.json
  frontend/testing/cypress/src/integration/usecase/usecase.js
Labels: solution/studio/designer

#10365 Redirect to editor when clicking AS logo in preview
  frontend/app-preview/src/views/LandingPage.tsx
Labels: solution/studio/designer

#10364 Fix documentation typos
  README.md
  development/README.md
  development/azure-devops-mock/README.md
  docs/CONTRIBUTING.md
  frontend/README.md
  frontend/language/README.md
  frontend/packages/schema-editor/README.md
  frontend/packages/schema-model/README.md
  frontend/testing/cypress/README.md
  frontend/testing/mockend/README.md
  gitea/README.md
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/README.md
Labels: area/data-modeling, solution/studio/designer, solution/studio/repos, external-contribution-❤️

#10368 Add selectedLayout to localstorage with mock instanceid as cachekey
  backend/src/Designer/Controllers/PreviewController.cs
  frontend/app-development/queries/queries.ts
  frontend/packages/shared/src/api-paths/index.js
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/hooks/queries/useInstanceIdQuery.ts
  frontend/packages/ux-editor/src/testing/mocks.tsx
  frontend/packages/ux-editor/src/types/QueryKey.ts
Labels: area/ui-editor, solution/studio/designer

#10372 Add handleOpen onClick for existing rules and add delete button
  frontend/packages/ux-editor/src/components/config/RuleComponent.module.css
  frontend/packages/ux-editor/src/components/config/RuleComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
  frontend/packages/ux-editor/src/components/rightMenu/CalculationsTab.tsx
  frontend/packages/ux-editor/src/components/rightMenu/ConditionalRenderingTab.tsx
  frontend/packages/ux-editor/src/components/toolbar/ConditionalRenderingModal.tsx
  frontend/packages/ux-editor/src/components/toolbar/RuleModal.tsx
Labels: area/ui-editor, solution/studio/designer

#10378 Updated pom
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#10381 Making component variant nullable
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
Labels: area/ui-editor, solution/studio/designer

#10379 10222 add multiple view sizes in preview
  backend/src/Designer/Views/Preview/index.cshtml
  frontend/app-preview/index.tsx
  frontend/app-preview/src/PreviewApp.tsx
  frontend/app-preview/src/layouts/DefaultLayout.tsx
  frontend/app-preview/src/views/LandingPage.module.css
  frontend/app-preview/src/views/LandingPage.tsx
  frontend/language/src/nb.json
Labels: solution/studio/designer

#10385 Fix/enable receipt
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/leftMenu/LeftMenu.tsx
  frontend/packages/ux-editor/src/components/leftMenu/ReceiptPageElement.tsx
Labels: area/ui-editor, solution/studio/designer

#10361 Move edit container & component to right menu
  frontend/packages/ux-editor/src/components/EditFormComponent.test.tsx
  frontend/packages/ux-editor/src/components/EditFormComponent.tsx
  frontend/packages/ux-editor/src/components/FormComponent.module.css
  frontend/packages/ux-editor/src/components/FormComponent.test.tsx
  frontend/packages/ux-editor/src/components/FormComponent.tsx
  frontend/packages/ux-editor/src/components/TextFieldWithValidation/TextFieldWithValidation.module.css
  frontend/packages/ux-editor/src/components/TextFieldWithValidation/TextFieldWithValidation.tsx
  frontend/packages/ux-editor/src/components/config/EditFormComponent.module.css
  frontend/packages/ux-editor/src/components/config/EditFormComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/EditFormComponent.tsx
  frontend/packages/ux-editor/src/components/config/EditFormContainer.module.css
  frontend/packages/ux-editor/src/components/config/EditFormContainer.test.tsx
  frontend/packages/ux-editor/src/components/config/EditFormContainer.tsx
  frontend/packages/ux-editor/src/components/config/EditModalContent.module.css
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.module.css
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditComponentId.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
  frontend/packages/ux-editor/src/components/rightMenu/ContentTab.module.css
  frontend/packages/ux-editor/src/components/rightMenu/ContentTab.test.tsx
  frontend/packages/ux-editor/src/components/rightMenu/ContentTab.tsx
  frontend/packages/ux-editor/src/containers/Container.test.tsx
  frontend/packages/ux-editor/src/containers/Container.tsx
  frontend/packages/ux-editor/src/containers/DesignView.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.module.css
  frontend/packages/ux-editor/src/containers/EditContainer.test.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
  frontend/packages/ux-editor/src/containers/FormContainer.module.css
  frontend/packages/ux-editor/src/containers/FormContainer.test.tsx
  frontend/packages/ux-editor/src/containers/FormContainer.tsx
  frontend/packages/ux-editor/src/containers/FormContainerEmptyPlaceholder.module.css
  frontend/packages/ux-editor/src/containers/FormContainerEmptyPlaceholder.test.tsx
  frontend/packages/ux-editor/src/containers/FormContainerEmptyPlaceholder.tsx
  frontend/packages/ux-editor/src/containers/FormContainerHeader.module.css
  frontend/packages/ux-editor/src/containers/FormContainerHeader.test.tsx
  frontend/packages/ux-editor/src/containers/FormContainerHeader.tsx
  frontend/packages/ux-editor/src/containers/FormContext.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useAddFormContainerMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddFormContainerMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormContainerMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormContainerMutation.ts
  frontend/packages/ux-editor/src/hooks/useValidation/useValidation.test.ts
  frontend/packages/ux-editor/src/hooks/useValidation/useValidation.ts
  frontend/packages/ux-editor/src/types/FormComponent.ts
  frontend/packages/ux-editor/src/types/global.ts
  frontend/packages/ux-editor/src/utils/formLayoutUtils.test.tsx
  frontend/packages/ux-editor/src/utils/formLayoutUtils.ts
  frontend/packages/ux-editor/src/utils/validationUtils/validationUtils.ts
Labels: area/ui-editor, solution/studio/designer

#10383 Fix/desktop mobile view in preview
  frontend/app-preview/src/views/LandingPage.module.css
  frontend/app-preview/src/views/LandingPage.tsx
Labels: solution/studio/designer

#10386 Feature/fix env setup locally
  development/load-balancer/nginx.conf.conf
  development/utils/ensure-dot-env.js
  docker-compose.yml
  frontend/resourceadm/pages/OlsenbandenPage/OlsenbandenPage.tsx
  frontend/resourceadm/pages/ResourceDashboard/ResourceDashboard.tsx
  frontend/resourceadm/public/index.html
  frontend/testing/mockend/ports.json
  package.json
Labels: solution/studio/designer

#10387 Replace input text to checkbox for unique items
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/ArrayRestrictions.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/ArrayRestrictions.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/restrictions/ArrayRestrictions.tsx
  frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  frontend/packages/schema-editor/src/utils/value.ts
  frontend/packages/schema-model/src/lib/restrictions.ts
Labels: area/data-modeling, solution/studio/designer

#10402 Check if layout is receipt and avoid adding/removing nav-button if so
  frontend/packages/ux-editor/src/utils/formLayoutsUtils.test.ts
  frontend/packages/ux-editor/src/utils/formLayoutsUtils.ts
Labels: area/ui-editor, solution/studio/designer

#10411 Updating form fields when props change
  frontend/packages/ux-editor/src/components/config/EditFormComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/EditFormComponent.tsx
  frontend/packages/ux-editor/src/components/config/SelectDataModelComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentConfig.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Checkbox/CheckboxComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Checkbox/CheckboxComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Checkbox/index.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Image/ImageComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Panel/PanelComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Panel/PanelComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Panel/index.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditHeaderSize.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditPreselectedIndex.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditReadOnly.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditRequired.tsx
  frontend/packages/ux-editor/src/components/rightMenu/ContentTab.tsx
  frontend/packages/ux-editor/src/data/formItemConfig.ts
  frontend/packages/ux-editor/src/testing/componentMocks.ts
  frontend/packages/ux-editor/src/types/FormComponent.ts
Labels: area/ui-editor, solution/studio/designer

#10414 Fix failing Cypress test
  frontend/packages/ux-editor/src/components/dragAndDrop/DroppableList.tsx
  frontend/testing/cypress/cypressTestid.js
  frontend/testing/cypress/package.json
  frontend/testing/cypress/src/pageobjects/designer.js
  yarn.lock
Labels: area/ui-editor, solution/studio/designer

#10394 10373 allow preview of apps with layoutsets
  backend/src/Designer/Controllers/PreviewController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Models/LayoutSets.cs
  backend/src/Designer/Services/Implementation/PreviewService.cs
  backend/src/Designer/Services/Interfaces/IPreviewService.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/PreviewControllerBase.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/PreviewControllerTests.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnAppGitRepositoryTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/config/applicationmetadata.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/models/datamodel.schema.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/options/test-options.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layout-sets.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layoutSet2/RuleConfiguration.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layoutSet2/RuleHandler.js
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-without-layoutsets/App/ui/RuleConfiguration.json
  frontend/app-preview/src/views/LandingPage.tsx
  frontend/packages/ux-editor/src/App.tsx
Labels: area/ui-editor, solution/studio/designer

#10419 add testing-library queries + cleanup
  frontend/packages/shared/src/components/altinnHeaderButtons/AltinnHeaderButton.tsx
  frontend/testing/cypress/config/dev.json
  frontend/testing/cypress/config/local.json
  frontend/testing/cypress/config/prod.json
  frontend/testing/cypress/config/staging.json
  frontend/testing/cypress/src/integration/studio/datamodel.js
  frontend/testing/cypress/src/integration/studio/designer.js
  frontend/testing/cypress/src/integration/studio/sync-app.js
  frontend/testing/cypress/src/integration/studio/wcag.js
  frontend/testing/cypress/src/integration/usecase/usecase.js
  frontend/testing/cypress/src/pageobjects/designer.js
  frontend/testing/cypress/src/support/studio.js
Labels: solution/studio/designer

#10427 remove accidentally added click on preview button
  frontend/testing/cypress/src/integration/usecase/usecase.js
Labels: solution/studio/designer

#10432 add null check
  frontend/packages/ux-editor/src/components/config/EditFormContainer.tsx
Labels: area/ui-editor, solution/studio/designer
