Repository Altinn/altinn-studio, pull requests merged in 2023-08, with the labels that each got.

#10729 Feature/10715 migration page
  frontend/resourceadm/components/LeftNavigationBar/LeftNavigationBar.module.css
  frontend/resourceadm/components/LeftNavigationBar/LeftNavigationBar.tsx
  frontend/resourceadm/components/MigrationStep/MigrationStep.module.css
  frontend/resourceadm/components/MigrationStep/MigrationStep.tsx
  frontend/resourceadm/components/MigrationStep/index.ts
  frontend/resourceadm/pages/MigrationPage/MigrationPage.module.css
  frontend/resourceadm/pages/MigrationPage/MigrationPage.tsx
  frontend/resourceadm/pages/MigrationPage/index.ts
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/resourceadm/types/global.ts
Labels: solution/studio/designer

#10741 Bump pdf dependendencies
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#10742 Added confirm message before deleting a component
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/FormComponent.module.css
  frontend/packages/ux-editor/src/components/FormComponent.test.tsx
  frontend/packages/ux-editor/src/components/FormComponent.tsx
  frontend/packages/ux-editor/src/containers/FormContainer.test.tsx
  frontend/packages/ux-editor/src/containers/FormContainerHeader.module.css
  frontend/packages/ux-editor/src/containers/FormContainerHeader.test.tsx
  frontend/packages/ux-editor/src/containers/FormContainerHeader.tsx
Labels: area/ui-editor, solution/studio/designer

#10743 10736 add confirmation dialog
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/components/SchemaEditor.test.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.module.css
  frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.tsx
Labels: area/data-modeling, solution/studio/designer

#10733 Add missing validation on fields tab
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/NameField.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/NameField.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.tsx
  frontend/packages/schema-editor/src/types/NameError.ts
  frontend/packages/shared/src/components/FormField/FormField.module.css
  frontend/packages/shared/src/components/FormField/FormField.test.tsx
  frontend/packages/shared/src/components/FormField/FormField.tsx
  frontend/packages/shared/src/components/FormField/index.ts
  frontend/packages/ux-editor/src/components/FormField.tsx
Labels: area/data-modeling, area/ui-editor, solution/studio/designer

#10734 Updated binding of link to datamodell in lage page
  frontend/app-development/layout/version-control/VersionControlHeader.test.tsx
  frontend/dashboard/index.tsx
  frontend/packages/shared/src/contexts/ServicesContext.tsx
Labels: area/dashboard, solution/studio/designer

#10750 Fix validation message
  frontend/language/src/en.json
  frontend/language/src/nb.json
Labels: solution/studio/designer

#10748 Cleanup confirmation dialogs
  frontend/app-development/features/appPublish/components/appDeploymentComponent.test.tsx
  frontend/app-development/features/appPublish/components/deploy/DeployDropdown.test.tsx
  frontend/app-development/features/appPublish/components/deploy/DeployDropdown.tsx
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/components/SchemaEditor.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaItem.module.css
  frontend/packages/schema-editor/src/components/TreeView/SchemaItem.test.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaItem.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.module.css
  frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.tsx
  frontend/packages/schema-editor/test/fixtures/mock-string.json
  frontend/packages/schema-editor/test/renderWithProviders.tsx
  frontend/packages/shared/src/components/AltinnConfirmDialog.module.css
  frontend/packages/shared/src/components/AltinnConfirmDialog.test.tsx
  frontend/packages/shared/src/components/AltinnConfirmDialog.tsx
  frontend/packages/shared/src/components/AltinnPopover.module.css
  frontend/packages/shared/src/components/AltinnPopover.tsx
  frontend/packages/shared/src/components/index.ts
  frontend/packages/shared/src/features/dataModelling/components/DeleteDialog.module.css
  frontend/packages/shared/src/features/dataModelling/components/DeleteDialog.tsx
  frontend/packages/shared/src/features/dataModelling/components/DeleteWrapper.test.tsx
  frontend/packages/shared/src/features/dataModelling/components/DeleteWrapper.tsx
  frontend/packages/shared/src/features/dataModelling/components/Toolbar.test.tsx
  frontend/packages/shared/src/features/dataModelling/components/Toolbar.tsx
  frontend/packages/text-editor/src/RightMenu.test.tsx
  frontend/packages/text-editor/src/RightMenu.tsx
  frontend/packages/text-editor/src/TextEditor.test.tsx
  frontend/packages/text-editor/src/TextRow.module.css
  frontend/packages/text-editor/src/TextRow.test.tsx
  frontend/packages/text-editor/src/TextRow.tsx
  frontend/packages/ux-editor/src/components/FormComponent.module.css
  frontend/packages/ux-editor/src/components/FormComponent.test.tsx
  frontend/packages/ux-editor/src/components/FormComponent.tsx
  frontend/packages/ux-editor/src/components/leftMenu/ConfirmModal.module.css
  frontend/packages/ux-editor/src/components/leftMenu/ConfirmModal.tsx
  frontend/packages/ux-editor/src/components/leftMenu/LeftMenu.tsx
  frontend/packages/ux-editor/src/components/leftMenu/PageElement.module.css
  frontend/packages/ux-editor/src/components/leftMenu/PageElement.test.tsx
  frontend/packages/ux-editor/src/components/leftMenu/PageElement.tsx
  frontend/packages/ux-editor/src/components/leftMenu/ReceiptPageElement.tsx
  frontend/packages/ux-editor/src/containers/FormContainer.tsx
  frontend/packages/ux-editor/src/containers/FormContainerHeader.module.css
  frontend/packages/ux-editor/src/containers/FormContainerHeader.test.tsx
  frontend/packages/ux-editor/src/containers/FormContainerHeader.tsx
Labels: area/data-modeling, area/ui-editor, area/app-deploy, solution/studio/designer, area/text-editor

#10769 Fix cypress tests
  frontend/testing/cypress/src/integration/studio/dashboard.js
  frontend/testing/cypress/src/integration/studio/datamodel.js
Labels: solution/studio/designer

#10771 Update design system
  frontend/app-development/layout/version-control/FetchChangesButton.module.css
  frontend/app-development/layout/version-control/FetchChangesButton.tsx
  frontend/app-development/layout/version-control/ShareChangesButton.module.css
  frontend/app-development/layout/version-control/ShareChangesButton.tsx
  package.json
  yarn.lock
Labels: solution/studio/designer

#10782 Update azure identity
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#10789 Rollback patcing of azure-identity
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#10784 Fix preview button
  frontend/app-development/layout/PageHeader.module.css
  frontend/app-development/layout/PageHeader.tsx
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.module.css
  frontend/packages/shared/src/components/altinnHeader/types.ts
  frontend/packages/shared/src/components/altinnHeaderButtons/AltinnHeaderButton.module.css
  frontend/packages/shared/src/components/altinnHeaderButtons/AltinnHeaderButton.tsx
Labels: solution/studio/designer

#10721 Add accordion to left and right menus
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/expressions/DynamicContent.tsx
  frontend/packages/ux-editor/src/components/leftMenu/DefaultToolbar.module.css
  frontend/packages/ux-editor/src/components/leftMenu/DefaultToolbar.tsx
  frontend/packages/ux-editor/src/components/leftMenu/LeftMenu.module.css
  frontend/packages/ux-editor/src/components/leftMenu/LeftMenu.tsx
  frontend/packages/ux-editor/src/components/leftMenu/PageElement.module.css
  frontend/packages/ux-editor/src/components/leftMenu/PageElement.tsx
  frontend/packages/ux-editor/src/components/leftMenu/ReceiptPageElement.module.css
  frontend/packages/ux-editor/src/components/leftMenu/ReceiptPageElement.tsx
  frontend/packages/ux-editor/src/components/leftMenu/ToolbarGroup.module.css
  frontend/packages/ux-editor/src/components/leftMenu/ToolbarGroup.tsx
  frontend/packages/ux-editor/src/components/rightMenu/Calculations.module.css
  frontend/packages/ux-editor/src/components/rightMenu/Calculations.tsx
  frontend/packages/ux-editor/src/components/rightMenu/ConditionalRendering.module.css
  frontend/packages/ux-editor/src/components/rightMenu/ConditionalRendering.tsx
  frontend/packages/ux-editor/src/components/rightMenu/Content.test.tsx
  frontend/packages/ux-editor/src/components/rightMenu/Content.tsx
  frontend/packages/ux-editor/src/components/rightMenu/Dynamics.tsx
  frontend/packages/ux-editor/src/components/rightMenu/RightMenu.module.css
  frontend/packages/ux-editor/src/components/rightMenu/RightMenu.test.tsx
  frontend/packages/ux-editor/src/components/rightMenu/RightMenu.tsx
  frontend/packages/ux-editor/src/components/toolbar/CollapsableMenuComponent.module.css
  frontend/packages/ux-editor/src/components/toolbar/CollapsableMenuComponent.tsx
  frontend/packages/ux-editor/src/components/toolbar/ToolbarItemComponent.module.css
  frontend/packages/ux-editor/src/containers/FormDesigner.module.css
  frontend/packages/ux-editor/src/types/global.ts
  frontend/packages/ux-editor/src/utils/language.ts
Labels: area/ui-editor, solution/studio/designer

#10773 Update NuGet.props
  backend/packagegroups/NuGet.props
  backend/tests/Designer.Tests/Controllers/PreviewController/PreviewControllerTests.cs
Labels: solution/studio/designer

#10791 Fix failing Cypress test
  frontend/testing/cypress/src/integration/usecase/usecase.js
Labels: solution/studio/designer

#10787 Fix buttons
  frontend/app-development/App.css
  frontend/app-development/features/administration/components/DownloadRepoModal.tsx
  frontend/app-development/features/administration/components/MainContent.tsx
  frontend/app-development/features/administration/components/ResetRepoModal.tsx
  frontend/app-development/features/administration/components/SideMenuContent.tsx
  frontend/app-development/features/appPublish/components/createAppReleaseComponent.tsx
  frontend/app-development/features/appPublish/components/deploy/DeployDropdown.tsx
  frontend/app-development/features/dataModelling/IntroPageDialog.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/LandingPagePanel.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/LandingPagePanel.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/CreateNewWrapper.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/DeleteWrapper.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/GenerateModelsButton.tsx
  frontend/app-development/features/simpleMerge/MergeConflictWarning.tsx
  frontend/app-development/features/textEditor/TextEditor.tsx
  frontend/app-preview/src/components/AppBarConfig/AppPreviewBarConfig.tsx
  frontend/dashboard/pages/CreateService/CreateService.test.tsx
  frontend/dashboard/pages/CreateService/CreateService.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/CustomProperties.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  frontend/packages/schema-editor/src/components/TypesInspector.tsx
  frontend/packages/shared/src/components/AltinnConfirmDialog.tsx
  frontend/packages/shared/src/components/FileSelector.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/CloneModal/CloneModal.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/ThreeDotsMenu.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/SyncModal/SyncModal.tsx
  frontend/packages/shared/src/components/altinnHeaderButtons/AltinnHeaderButton.tsx
  frontend/packages/shared/src/components/molecules/AltinnPopoverSimple.tsx
  frontend/packages/text-editor/src/LangSelector.tsx
  frontend/packages/text-editor/src/RightMenu.tsx
  frontend/packages/text-editor/src/TextEditor.tsx
  frontend/packages/text-editor/src/TextRow.tsx
  frontend/packages/ux-editor/src/components/AddOption.tsx
  frontend/packages/ux-editor/src/components/FormComponent.tsx
  frontend/packages/ux-editor/src/components/TextResource.tsx
  frontend/packages/ux-editor/src/components/TextResourceEdit.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
  frontend/packages/ux-editor/src/components/config/expressions/DynamicContent.tsx
  frontend/packages/ux-editor/src/components/config/expressions/ExpressionContent.tsx
  frontend/packages/ux-editor/src/components/leftMenu/ConfigureLayoutSetPanel.tsx
  frontend/packages/ux-editor/src/components/leftMenu/LayoutSetsContainer.test.tsx
  frontend/packages/ux-editor/src/components/leftMenu/LayoutSetsContainer.tsx
  frontend/packages/ux-editor/src/components/leftMenu/LeftMenu.tsx
  frontend/packages/ux-editor/src/components/leftMenu/PageElement.tsx
  frontend/packages/ux-editor/src/components/leftMenu/ReceiptPageElement.tsx
  frontend/packages/ux-editor/src/components/rightMenu/Calculations.tsx
  frontend/packages/ux-editor/src/components/rightMenu/ConditionalRendering.tsx
  frontend/packages/ux-editor/src/components/toolbar/RuleButton.tsx
  frontend/packages/ux-editor/src/components/toolbar/ToolbarItemComponent.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/ButtonPreview/ButtonPreview.tsx
  frontend/packages/ux-editor/src/containers/FormContainerHeader.tsx
Labels: area/data-modeling, area/ui-editor, area/dashboard, area/app-deploy, solution/studio/designer, area/text-editor

#10793 Fix page deletion
  frontend/app-development/features/appPublish/components/deploy/DeployDropdown.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/DeleteWrapper.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaItem.module.css
  frontend/packages/schema-editor/src/components/TreeView/SchemaItem.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.tsx
  frontend/packages/shared/src/components/AltinnConfirmDialog.module.css
  frontend/packages/shared/src/components/AltinnConfirmDialog.tsx
  frontend/packages/text-editor/src/RightMenu.tsx
  frontend/packages/text-editor/src/TextRow.tsx
  frontend/packages/ux-editor/src/components/FormComponent.tsx
  frontend/packages/ux-editor/src/components/leftMenu/PageElement.test.tsx
  frontend/packages/ux-editor/src/components/leftMenu/PageElement.tsx
  frontend/packages/ux-editor/src/containers/FormContainerHeader.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
Labels: area/data-modeling, area/ui-editor, area/app-deploy, solution/studio/designer, area/text-editor

#10799 Make generated CSS class names readable
  frontend/webpack.common.js
Labels: solution/studio/designer

#10800 Feature/10715 migration page redesign
  frontend/packages/ux-editor/src/components/leftMenu/PageElement.tsx
  frontend/resourceadm/components/Link/Link.module.css
  frontend/resourceadm/components/Link/Link.tsx
  frontend/resourceadm/components/LinkButton/LinkButton.module.css
  frontend/resourceadm/components/MergeConflictModal/RemoveChangesModal/RemoveChangesModal.tsx
  frontend/resourceadm/components/MigrationStep/MigrationStep.module.css
  frontend/resourceadm/components/MigrationStep/MigrationStep.tsx
  frontend/resourceadm/components/NewResourceModal/NewResourceModal.tsx
  frontend/resourceadm/components/PolicyEditor/ExpandablePolicyCard/ResourceNarrowingList/PolicyResourceFields/PolicyResourceFields.tsx
  frontend/resourceadm/components/ResourceDeployEnvCard/ResourceDeployEnvCard.tsx
  frontend/resourceadm/hooks/queries/useValidatePolicyQuery.ts
  frontend/resourceadm/pages/MigrationPage/MigrationPage.module.css
  frontend/resourceadm/pages/MigrationPage/MigrationPage.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.module.css
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
Labels: area/ui-editor, solution/studio/designer

#10797 Remove info dialogs
  frontend/app-development/features/dataModelling/DataModelling.test.tsx
  frontend/app-development/features/dataModelling/DataModelling.tsx
  frontend/app-development/features/dataModelling/IntroPageDialog.module.css
  frontend/app-development/features/dataModelling/IntroPageDialog.tsx
  frontend/app-development/features/textEditor/TextEditor.module.css
  frontend/app-development/features/textEditor/TextEditor.test.tsx
  frontend/app-development/features/textEditor/TextEditor.tsx
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/utils/localStorage.ts
  frontend/packages/shared/src/mocks/queryClientMock.ts
  frontend/packages/text-editor/src/TextEditor.tsx
Labels: area/data-modeling, solution/studio/designer, area/text-editor

#10808 Fix reference error
  frontend/packages/schema-model/src/lib/mappers/field-type.ts
  frontend/packages/schema-model/src/lib/utils.ts
Labels: area/data-modeling, solution/studio/designer

#10810 Misc cleanup in schema editor
  frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/CustomProperties.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemPropertiesTab.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaItem.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaTreeView.module.css
  frontend/packages/schema-editor/src/components/TreeView/SchemaTreeView.tsx
  frontend/packages/schema-editor/src/hooks/useSchemaAndReduxSelector.test.ts
  frontend/packages/schema-editor/src/hooks/useSchemaAndReduxSelector.ts
  frontend/packages/schema-editor/src/hooks/useSchemaSelector.test.ts
  frontend/packages/schema-editor/src/hooks/useSchemaSelector.ts
  frontend/packages/schema-editor/src/selectors/reduxSelectors.ts
  frontend/packages/schema-editor/src/selectors/schemaAndReduxSelectors.ts
  frontend/packages/schema-editor/src/selectors/schemaSelectors.ts
Labels: area/data-modeling, solution/studio/designer

#10811 bufix(dataModel): changes to the model should be immediately visible to the user
  frontend/packages/schema-editor/src/components/SchemaEditor.tsx
Labels: area/data-modeling, solution/studio/designer

#10807 Fix broken components documentation link
  frontend/packages/ux-editor/src/components/toolbar/InformationPanelComponent.tsx
Labels: area/ui-editor, solution/studio/designer

#10813 Xaml policy tests fix
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/GetFormLayoutsTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/PreviewControllerTests.cs
  backend/tests/Designer.Tests/Helpers/PolicyHelperTests.cs
  backend/tests/Designer.Tests/TestAttributes/OsPlatformConsts.cs
  backend/tests/Designer.Tests/TestAttributes/SkipOnOsPlatformsFact.cs
  backend/tests/Designer.Tests/TestAttributes/SkipOnOsPlatformsTheory.cs
  backend/tests/Designer.Tests/TestAttributes/SkipOnWindowsFact.cs
  backend/tests/Designer.Tests/TestAttributes/SkipOnWindowsTheory.cs
  backend/tests/Designer.Tests/Utils/AuthorizationUtil.cs
  backend/tests/Designer.Tests/_TestData/Authorization/Policies/Xacml/brg_rrh-innrapportering_converted.xml
  backend/tests/Designer.Tests/_TestData/Authorization/Policies/Xacml/dsb_uhell_med_eksplosiver_converted.xml
  backend/tests/Designer.Tests/_TestData/Authorization/Policies/Xacml/hmrhf_newsamhandlingsavik_converted.xml
  backend/tests/Designer.Tests/_TestData/Authorization/Policies/Xacml/krt_krt-1012a-1_converted.xml
  backend/tests/Designer.Tests/_TestData/Authorization/Policies/Xacml/resource_registry_delegatableapi.json
  backend/tests/Designer.Tests/_TestData/Authorization/Policies/Xacml/resource_registry_delegatableapi_converted.xml
  backend/tests/Designer.Tests/_TestData/Authorization/Policies/Xacml/skd_mva-melding-innsending-v1.json
  backend/tests/Designer.Tests/_TestData/Authorization/Policies/Xacml/skd_mva-melding-innsending-v1_converted.xml
  backend/tests/Designer.Tests/_TestData/Authorization/Policies/Xacml/skd_sirius_skattemelding_sit_tk_converted.xml
  backend/tests/Designer.Tests/_TestData/Authorization/Policies/Xacml/ssb_ra1000-01_converted.xml
Labels: solution/studio/designer

#10814 update labeler & releases config
  .github/labeler.yml
  .github/release.yml
  .github/workflows/frontend-unit-tests.yml
  frontend/testing/cypress/cypress.config.js
Labels: solution/studio/designer

#10815 update cypress workflow
  .github/labeler.yml
  .github/workflows/cypress.yml
Labels: skip-releasenotes

#10809 feat(TextEntry): created hooks to auto-resize the TextEntry while typing
  frontend/packages/text-editor/src/TextEntry.tsx
  frontend/packages/text-editor/src/hooks/useAutoSizeTextArea.ts
  frontend/packages/text-editor/src/hooks/useOnWindowSizeChange.ts
  frontend/packages/text-editor/src/utils.ts
Labels: solution/studio/designer, area/text-editor

#10816 refactor(LocalStorage): refactoring how we use localStorage
  frontend/app-development/features/textEditor/TextEditor.test.tsx
  frontend/app-development/features/textEditor/TextEditor.tsx
  frontend/packages/shared/src/hooks/useLocalStorage.ts
  frontend/packages/shared/src/hooks/useWebStorage.ts
  frontend/packages/shared/src/utils/webStorage.test.ts
  frontend/packages/shared/src/utils/webStorage.ts
Labels: solution/studio/designer, area/text-editor

#10820 feat(FeatureFlag): support feature-flag toggling
  frontend/app-development/utils/featureToggleUtils.test.ts
  frontend/app-development/utils/featureToggleUtils.ts
Labels: solution/studio/designer

#10830 Feat(ux editor)/8310 layout radio checkbox
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/Checkboxes.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/RadioButtons.schema.v1.json
Labels: area/ui-editor, solution/studio/designer

#10838 Cypress improvements
  frontend/dashboard/components/FavoriteReposList/FavoriteReposList.tsx
  frontend/dashboard/pages/Dashboard/Dashboard.tsx
  frontend/language/src/nb.json
  frontend/packages/shared/src/navigation/main-header/HeaderMenu.tsx
  frontend/packages/ux-editor/src/components/dragAndDrop/DroppableList.tsx
  frontend/testing/cypress/cypressTestid.js
  frontend/testing/cypress/src/integration/studio/dashboard.js
  frontend/testing/cypress/src/integration/studio/login.js
  frontend/testing/cypress/src/integration/studio/repos.js
  frontend/testing/cypress/src/integration/usecase/usecase.js
  frontend/testing/cypress/src/pageobjects/designer.js
  frontend/testing/cypress/src/pageobjects/header.js
  frontend/testing/cypress/src/pageobjects/loginandreg.js
  frontend/testing/cypress/src/pageobjects/mui.js
  frontend/testing/cypress/src/selectors/common.js
  frontend/testing/cypress/src/selectors/dashboard.js
  frontend/testing/cypress/src/selectors/header.js
  frontend/testing/cypress/src/selectors/login.js
  frontend/testing/cypress/src/support/studio.js
  frontend/testing/testids.js
Labels: area/ui-editor, area/dashboard, solution/studio/designer, quality/testing

#10841 refactor(FeatureFlag): moved the feature-flag utils to shared
  frontend/app-development/layout/AppBar/appBarConfig.tsx
  frontend/packages/shared/src/utils/featureToggleUtils.test.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
Labels: solution/studio/designer

#10845 Cypress improvements 2
  frontend/dashboard/pages/Dashboard/Dashboard.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/NameField.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/NameField.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.tsx
  frontend/packages/shared/src/components/AltinnTextField/AltinnTextField.module.css
  frontend/packages/shared/src/components/AltinnTextField/AltinnTextField.test.tsx
  frontend/packages/shared/src/components/AltinnTextField/AltinnTextField.tsx
  frontend/packages/shared/src/components/AltinnTextField/index.ts
  frontend/packages/shared/src/components/FormField/FormField.tsx
  frontend/packages/shared/src/navigation/main-header/HeaderMenu.tsx
  frontend/packages/ux-editor/src/components/config/EditFormComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/EditFormContainer.test.tsx
  frontend/packages/ux-editor/src/components/dragAndDrop/DroppableList.tsx
  frontend/packages/ux-editor/src/components/rightMenu/Content.test.tsx
  frontend/testing/cypress/src/integration/studio/datamodel.js
  frontend/testing/cypress/src/integration/usecase/usecase.js
  frontend/testing/cypress/src/pageobjects/designer.js
  frontend/testing/cypress/src/pageobjects/mui.js
  frontend/testing/cypress/src/selectors/dashboard.js
  frontend/testing/cypress/src/selectors/datamodel.js
  frontend/testing/cypress/src/selectors/header.js
  frontend/testing/cypress/src/support/studio.js
  frontend/testing/testids.js
Labels: area/data-modeling, area/ui-editor, area/dashboard, solution/studio/designer, quality/testing

#10849 Add Gitea language selection to Cypress
  frontend/testing/cypress/src/selectors/login.js
  frontend/testing/cypress/src/support/studio.js
Labels: solution/studio/designer, quality/testing

#10833 Feat/10408 deployments lookup
  backend/src/Designer/Configuration/GeneralSettings.cs
  backend/src/Designer/Services/Implementation/DeploymentService.cs
  backend/src/Designer/Services/Implementation/EnvironmentsService.cs
  backend/src/Designer/Services/Interfaces/IEnvironmentsService.cs
  backend/src/Designer/appsettings.json
Labels: solution/studio/designer

#10854 Fix broken link in dashboard and add Cypress coverage of anchor links in Dashboard
  frontend/dashboard/components/Resources/Resources.tsx
  frontend/testing/cypress/src/integration/studio/dashboard.js
Labels: area/dashboard, solution/studio/designer, quality/testing

#10831 add list to avilable dataModelBindingKeys
  frontend/packages/ux-editor/src/testing/schemas/json/component/FileUpload.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/FileUploadWithTag.schema.v1.json
Labels: area/ui-editor, solution/studio/designer

#10864 Cypress improvements 3
  frontend/app-development/features/administration/components/MainContent.tsx
  frontend/app-development/features/administration/components/ServiceAdministration.test.tsx
  frontend/packages/ux-editor/src/components/dragAndDrop/DraggableToolbarItem.tsx
  frontend/testing/cypress/src/integration/studio/designer.js
  frontend/testing/cypress/src/selectors/administration.js
  frontend/testing/cypress/src/selectors/designer.js
  frontend/testing/cypress/src/selectors/header.js
  frontend/testing/cypress/src/support/studio.js
  frontend/testing/testids.js
Labels: area/ui-editor, solution/studio/designer, quality/testing

#10836 Add missing components
  frontend/language/src/nb.json
  frontend/packages/shared/src/types/ComponentType.ts
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.test.tsx
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Button/ButtonComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Button/ButtonComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  frontend/packages/ux-editor/src/data/formItemConfig.ts
  frontend/packages/ux-editor/src/testing/componentSchemaMocks.ts
  frontend/packages/ux-editor/src/testing/schemas/json/component/ActionButton.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/Alert.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/Button.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/InstantiationButton.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/component-list.json
  frontend/packages/ux-editor/src/types/FormComponent.ts
  frontend/packages/ux-editor/src/utils/component.test.ts
  frontend/packages/ux-editor/src/utils/component.ts
Labels: area/ui-editor, solution/studio/designer

#10829 refactor(LocalStorage): use the new interface/facade to interact with local storage
  frontend/app-preview/src/components/AppBarConfig/AppPreviewBarConfig.tsx
  frontend/app-preview/src/views/LandingPage.tsx
  frontend/packages/shared/src/hooks/useLocalStorage.ts
  frontend/packages/shared/src/utils/localStorage.ts
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/components/leftMenu/LayoutSetsContainer.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
Labels: area/ui-editor, solution/studio/designer

#10877 Cypress improvements 4
  frontend/dashboard/components/MakeCopyModal/MakeCopyModal.tsx
  frontend/dashboard/pages/CreateService/CreateService.test.tsx
  frontend/dashboard/pages/CreateService/CreateService.tsx
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/Notification/Notification.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/SyncModal/SyncModal.tsx
  frontend/testing/cypress/src/integration/studio/dashboard.js
  frontend/testing/cypress/src/integration/studio/designer.js
  frontend/testing/cypress/src/integration/studio/login.js
  frontend/testing/cypress/src/integration/studio/new-app.js
  frontend/testing/cypress/src/integration/studio/repos.js
  frontend/testing/cypress/src/integration/studio/sync-app.js
  frontend/testing/cypress/src/integration/studio/wcag.js
  frontend/testing/cypress/src/pageobjects/dashboard.js
  frontend/testing/cypress/src/pageobjects/designer.js
  frontend/testing/cypress/src/pageobjects/gitea.js
  frontend/testing/cypress/src/selectors/administration.js
  frontend/testing/cypress/src/selectors/dashboard.js
  frontend/testing/cypress/src/selectors/gitea.js
  frontend/testing/cypress/src/selectors/header.js
  frontend/testing/cypress/src/selectors/login.js
  frontend/testing/cypress/src/support/studio.js
Labels: area/dashboard, solution/studio/designer, quality/testing

#10890 Cypress improvements 5
  frontend/app-development/features/textEditor/TextEditor.test.tsx
  frontend/language/src/nb.json
  frontend/packages/text-editor/src/TextEditor.test.tsx
  frontend/packages/text-editor/src/TextEditor.tsx
  frontend/testing/cypress/src/integration/usecase/usecase.js
  frontend/testing/cypress/src/selectors/deploy.js
  frontend/testing/cypress/src/selectors/header.js
  frontend/testing/cypress/src/selectors/preview.js
  frontend/testing/cypress/src/selectors/textEditor.js
Labels: solution/studio/designer, quality/testing, area/text-editor

#10878 fix(Prettier): Prettier should now format staged files on pre-commit using husky and lint-staged
  .husky/pre-commit
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/prettier.config.js
  frontend/packages/shared/src/api/queries.ts
  package.json
  prettierrc
Labels: solution/studio/designer, skip-releasenotes

#10894 Update pom
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform, skip-releasenotes

#10891 Fixing the bug
  frontend/packages/ux-editor/src/containers/FormDesigner.module.css
Labels: area/ui-editor, solution/studio/designer

#10692 Dynamic internal <--> external format conversion
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/components/config/expressions/DataSourceValue.tsx
  frontend/packages/ux-editor/src/components/config/expressions/DynamicContent.module.css
  frontend/packages/ux-editor/src/components/config/expressions/DynamicContent.tsx
  frontend/packages/ux-editor/src/components/config/expressions/ExpressionContent.tsx
  frontend/packages/ux-editor/src/components/rightMenu/ConditionalRendering.tsx
  frontend/packages/ux-editor/src/components/rightMenu/Dynamics.tsx
  frontend/packages/ux-editor/src/types/Expressions.ts
  frontend/packages/ux-editor/src/types/FormComponent.ts
  frontend/packages/ux-editor/src/utils/dynamicsUtils.ts
  frontend/packages/ux-editor/src/utils/formLayoutUtils.ts
Labels: area/ui-editor, solution/studio/designer

#10897 Fixing the bug
  frontend/packages/ux-editor/src/containers/FormDesigner.module.css
Labels: area/ui-editor, solution/studio/designer

#10901 feat(ProcessEditor): first step towards a process-editor within Studio
  frontend/app-development/config/routes.tsx
  frontend/app-development/features/appProcess/AppProcess.tsx
  frontend/app-development/features/processEditor/ProcessEditor.tsx
  frontend/app-development/features/processEditor/index.ts
  frontend/app-development/hooks/mutations/index.ts
  frontend/app-development/hooks/mutations/useBpmnMutation.ts
  frontend/app-development/hooks/queries/useBpmnQuery.ts
  frontend/jest.config.js
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/process-editor/package.json
  frontend/packages/process-editor/src/ProcessEditor.test.tsx
  frontend/packages/process-editor/src/ProcessEditor.tsx
  frontend/packages/process-editor/src/bpmnProviders/SupportedContextPadProvider.ts
  frontend/packages/process-editor/src/bpmnProviders/SupportedPaletteProvider.ts
  frontend/packages/process-editor/src/components/Canvas/Canvas.module.css
  frontend/packages/process-editor/src/components/Canvas/Canvas.tsx
  frontend/packages/process-editor/src/components/Canvas/index.ts
  frontend/packages/process-editor/src/components/PageLoading/PageLoading.module.css
  frontend/packages/process-editor/src/components/PageLoading/PageLoading.test.tsx
  frontend/packages/process-editor/src/components/PageLoading/PageLoading.tsx
  frontend/packages/process-editor/src/components/PageLoading/index.ts
  frontend/packages/process-editor/src/contexts/BpmnContext.tsx
  frontend/packages/process-editor/src/hooks/useBpmnEditor.ts
  frontend/packages/process-editor/src/hooks/useBpmnViewer.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/QueryKey.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/shared/src/utils/webStorage.ts
  yarn.lock
Labels: solution/studio/designer, kind/dependencies

#10879 Remove unused error component
  frontend/packages/ux-editor/src/App.test.tsx
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/components/message/ErrorMessageComponent.css
  frontend/packages/ux-editor/src/components/message/ErrorMessageComponent.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.test.tsx
  frontend/packages/ux-editor/src/features/error/errorSlice.ts
  frontend/packages/ux-editor/src/reducers.ts
  frontend/packages/ux-editor/src/testing/mocks.tsx
  frontend/packages/ux-editor/src/types/global.ts
Labels: area/ui-editor, solution/studio/designer

#10905 Update design systems
  frontend/testing/cypress/src/integration/studio/designer.js
  package.json
  yarn.lock
Labels: solution/studio/designer, quality/testing

#10904 Refactor resourceadm utils
  frontend/resourceadm/components/RightTranslationBar/RightTranslationBar.tsx
  frontend/resourceadm/data-mocks/resourceListMocks/index.ts
  frontend/resourceadm/data-mocks/resourceMocks/index.ts
  frontend/resourceadm/data-mocks/resources/index.ts
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.tsx
  frontend/resourceadm/types/global.ts
  frontend/resourceadm/utils/resourceListUtils/index.ts
  frontend/resourceadm/utils/resourceListUtils/resourceListUtils.test.ts
  frontend/resourceadm/utils/resourceListUtils/resourceListUtils.ts
  frontend/resourceadm/utils/resourceUtils/index.ts
  frontend/resourceadm/utils/resourceUtils/resourceUtils.test.ts
  frontend/resourceadm/utils/resourceUtils/resourceUtils.ts
Labels: solution/studio/designer

#10900 Bug/10842 component should remain selected until clicking on another one
  frontend/packages/ux-editor/src/components/FormComponent.module.css
  frontend/packages/ux-editor/src/containers/FormContext.test.tsx
  frontend/packages/ux-editor/src/containers/FormContext.tsx
Labels: area/ui-editor, solution/studio/designer

#10910 Fixing the bug on about resource page showing resourcetype error
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.module.css
Labels: solution/studio/designer

#10899 Bug/10247 remove text from component
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/utils/featureToggleUtils.test.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/components/TextResource.test.tsx
  frontend/packages/ux-editor/src/components/TextResource.tsx
  frontend/packages/ux-editor/src/components/TextResourceEdit.tsx
  frontend/packages/ux-editor/src/components/config/EditFormComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBinding.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBindings.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBindings.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBindings.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.tsx
Labels: area/ui-editor, solution/studio/designer

#10912 First Cypress tests for resourceadm sub-repo
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/resourceadm/pages/ErrorPage/ErrorPage.tsx
  frontend/testing/cypress/src/integration/studio/resourceadm.js
Labels: solution/studio/designer, quality/testing

#10907 Implement translation policy editor
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/policy-editor/src/PolicyEditor.tsx
  frontend/packages/policy-editor/src/components/CardButton/CardButton.tsx
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ActionAndSubjectListItem/ActionAndSubjectListItem.tsx
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ExpandablePolicyCard.tsx
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ExpandablePolicyElement/DropdownMenu/DropdownMenu.tsx
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ExpandablePolicyElement/ExpandablePolicyElement.tsx
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ResourceNarrowingList/PolicyResourceFields/PolicyResourceFields.tsx
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ResourceNarrowingList/ResourceNarrowingList.tsx
  frontend/packages/policy-editor/src/components/VerificationModal/VerificationModal.tsx
Labels: solution/studio/designer

#10914 fix(Prettier): fixed Prettier config to ensure the code is formatted with our own rules
  .prettierrc
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  prettierrc
Labels: solution/studio/designer

#10924 wrap debounceSave in setTimeout
  frontend/packages/ux-editor/src/components/rightMenu/Content.tsx
Labels: area/ui-editor, solution/studio/designer

#10934 Add optional chaining operator to prevent null errors
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentMutation.ts
Labels: area/ui-editor, solution/studio/designer

#10933 Feature/10916 resourceadm translation
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.tsx
  frontend/resourceadm/components/LeftNavigationBar/LeftNavigationBar.tsx
  frontend/resourceadm/components/NavigationModal/NavigationModal.tsx
  frontend/resourceadm/components/NewResourceModal/NewResourceModal.tsx
  frontend/resourceadm/components/ResourceDeployEnvCard/ResourceDeployEnvCard.tsx
  frontend/resourceadm/components/ResourceDeployStatus/ResourceDeployStatus.tsx
  frontend/resourceadm/components/ResourceNameAndId/ResourceNameAndId.tsx
  frontend/resourceadm/components/ResourceSeachBox/ResourceSeachBox.tsx
  frontend/resourceadm/components/ResourceTable/ResourceTable.tsx
  frontend/resourceadm/components/ResourceTable/ResourceTableDataRow/ResourceTableDataRow.tsx
  frontend/resourceadm/components/RightTranslationBar/RightTranslationBar.tsx
  frontend/resourceadm/components/Switch/Switch.tsx
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.tsx
  frontend/resourceadm/pages/MigrationPage/MigrationPage.tsx
  frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/resourceadm/utils/resourceUtils/resourceUtils.test.ts
  frontend/resourceadm/utils/resourceUtils/resourceUtils.ts
Labels: solution/studio/designer

#10865 Create a generic error handling mechanism
  frontend/dashboard/index.tsx
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/components/ErrorBoundaryFallback.module.css
  frontend/packages/shared/src/components/ErrorBoundaryFallback.tsx
  frontend/packages/shared/src/contexts/ServicesContext.test.tsx
  frontend/packages/shared/src/contexts/ServicesContext.tsx
  frontend/packages/shared/src/styles/toast.css
  frontend/packages/ux-editor/src/components/TextResourceEdit.test.tsx
  frontend/resourceadm/index.tsx
  package.json
  yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer

#10928 Fix two missing language values in Dashboard
  frontend/language/src/en.json
Labels: solution/studio/designer

#10936 Change terminology in dynamics
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/expressions/DataSourceValue.tsx
  frontend/packages/ux-editor/src/components/config/expressions/DynamicContent.module.css
  frontend/packages/ux-editor/src/components/config/expressions/DynamicContent.tsx
  frontend/packages/ux-editor/src/components/config/expressions/ExpressionContent.module.css
  frontend/packages/ux-editor/src/components/config/expressions/ExpressionContent.tsx
  frontend/packages/ux-editor/src/components/config/expressions/SubExpressionContent.module.css
  frontend/packages/ux-editor/src/components/config/expressions/SubExpressionContent.tsx
  frontend/packages/ux-editor/src/components/rightMenu/ConditionalRendering.tsx
  frontend/packages/ux-editor/src/components/rightMenu/Dynamics.tsx
  frontend/packages/ux-editor/src/components/rightMenu/Expressions.tsx
  frontend/packages/ux-editor/src/components/rightMenu/RightMenu.module.css
  frontend/packages/ux-editor/src/components/rightMenu/RightMenu.tsx
  frontend/packages/ux-editor/src/types/Expressions.ts
  frontend/packages/ux-editor/src/types/FormComponent.ts
  frontend/packages/ux-editor/src/utils/dynamicsUtils.ts
  frontend/packages/ux-editor/src/utils/expressionsUtils.ts
Labels: area/ui-editor, solution/studio/designer

#10943 Clean up dual set of language support and fix Cypress tests in resourceadm
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/resourceadm/pages/ErrorPage/ErrorPage.tsx
  frontend/testing/cypress/src/integration/studio/resourceadm.js
Labels: solution/studio/designer, quality/testing

#10953 Remove unnecessary checks in Cypress
  frontend/testing/cypress/src/integration/usecase/usecase.js
Labels: solution/studio/designer, quality/testing

#10950 Feature/10917 testing for resourceadm
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.test.tsx
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.tsx
  frontend/resourceadm/components/LeftNavigationBar/LeftNavigationBar.test.tsx
  frontend/resourceadm/components/LeftNavigationBar/LeftNavigationBar.tsx
  frontend/resourceadm/components/LinkButton/LinkButton.test.tsx
  frontend/resourceadm/components/LinkButton/LinkButton.tsx
  frontend/resourceadm/components/NavigationModal/NavigationModal.test.tsx
  frontend/resourceadm/components/NavigationModal/NavigationModal.tsx
  frontend/resourceadm/components/NewResourceModal/NewResourceModal.test.tsx
  frontend/resourceadm/components/NewResourceModal/NewResourceModal.tsx
  frontend/resourceadm/components/ResourceDeployEnvCard/ResourceDeployEnvCard.test.tsx
  frontend/resourceadm/components/ResourceDeployEnvCard/ResourceDeployEnvCard.tsx
  frontend/resourceadm/components/ResourceDeployStatus/ResourceDeployStatus.test.tsx
  frontend/resourceadm/components/ResourceDeployStatus/ResourceDeployStatus.tsx
  frontend/resourceadm/components/ResourceNameAndId/ResourceNameAndId.test.tsx
  frontend/resourceadm/components/ResourceNameAndId/ResourceNameAndId.tsx
  frontend/resourceadm/components/ResourceSeachBox/ResourceSeachBox.tsx
  frontend/resourceadm/components/ResourceSeachBox/ResourceSearchBox.test.tsx
  frontend/resourceadm/components/ResourceTable/ResourceTable.test.tsx
  frontend/resourceadm/components/ResourceTable/ResourceTable.tsx
  frontend/resourceadm/components/ResourceTable/ResourceTableDataRow/ResourceTableDataRow.tsx
  frontend/resourceadm/components/RightTranslationBar/RightTranslationBar.test.tsx
  frontend/resourceadm/components/RightTranslationBar/RightTranslationBar.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.tsx
Labels: solution/studio/designer

#10938 feat(logging): install and start logging exceptions
  backend/src/Designer/Configuration/ApplicationInsightsSettings.cs
  backend/src/Designer/Controllers/HomeController.cs
  backend/src/Designer/Infrastructure/ConfigurationSettings.cs
  backend/src/Designer/Views/Home/Index.cshtml
  frontend/app-development/index.tsx
  frontend/packages/shared/package.json
  frontend/packages/shared/src/contexts/LoggerContext.tsx
  frontend/packages/shared/src/utils/altinnStudioWindow.ts
  package.json
  yarn.lock
Labels: solution/studio/designer, kind/dependencies

#10967 feat(logging): instrumentation key in appdevelopment
  backend/src/Designer/Configuration/ApplicationInsightsSettings.cs
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/Controllers/HomeController.cs
  backend/src/Designer/Views/AppDevelopment/index.cshtml
Labels: solution/studio/designer

#10969 fix(Logger): should use instrumentationKey instead of connectionString
  frontend/packages/shared/src/contexts/LoggerContext.tsx
Labels: solution/studio/designer

#10970 feat(ConsoleError): ensure to log window.error
  frontend/app-development/index.tsx
  frontend/packages/shared/src/contexts/LoggerContext.tsx
  frontend/packages/shared/src/utils/altinnStudioEnv.ts
  frontend/packages/shared/src/utils/altinnStudioWindow.ts
Labels: solution/studio/designer
