Repository Altinn/altinn-studio, pull requests merged in 2023-10, with the labels that each got.

#11252 Eliminate the need to provide index in DragAndDrop
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropList/DragAndDropList.test.tsx
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropList/DragAndDropList.tsx
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropListItem/DragAndDropListItem.test.tsx
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropListItem/DragAndDropListItem.tsx
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropListItem/DragAndDropListItemContext.ts
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropProvider/DragAndDropProvider.tsx
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropProvider/DragAndDropRootContext.ts
  frontend/packages/shared/src/components/dragAndDrop/hooks/useDomSelectors.test.tsx
  frontend/packages/shared/src/components/dragAndDrop/hooks/useDomSelectors.ts
  frontend/packages/shared/src/components/dragAndDrop/hooks/useIsParentDisabled.test.tsx
  frontend/packages/shared/src/components/dragAndDrop/hooks/useParentId.test.tsx
  frontend/packages/shared/src/components/dragAndDrop/utils/domUtils.test.tsx
  frontend/packages/shared/src/components/dragAndDrop/utils/domUtils.ts
  frontend/packages/ux-editor/src/containers/DesignView.tsx
Labels: area/ui-editor, solution/studio/designer

#11244 Replace LegacyCheckbox with Switch
  frontend/packages/shared/src/components/FormField/FormField.tsx
  frontend/packages/ux-editor/src/components/config/EditFormComponent.tsx
  frontend/packages/ux-editor/src/components/config/EditFormContainer.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Address/AddressComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Panel/PanelComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditBooleanValue.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditReadOnly.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditRequired.tsx
  frontend/packages/ux-editor/src/components/config/group/EditGroupDataModelBindings.tsx
Labels: area/ui-editor, solution/studio/designer

#11264 refactor: use context class
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/Controllers/DatamodelsController.cs
  backend/src/Designer/Controllers/ModelController.cs
  backend/src/Designer/Controllers/PreviewController.cs
  backend/src/Designer/Controllers/ProcessModelingController.cs
  backend/src/Designer/Controllers/RepositoryController.cs
  backend/src/Designer/Controllers/TextController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Models/AltinnAppContext.cs
  backend/src/Designer/Models/AltinnRepoContext.cs
  backend/src/Designer/Models/AltinnRepoEditingContext.cs
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
  backend/src/Designer/Services/Implementation/GiteaAPIWrapper/GiteaAPIWrapper.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/src/Designer/Services/Implementation/SourceControlLoggingDecorator.cs
  backend/src/Designer/Services/Implementation/SourceControlSI.cs
  backend/src/Designer/Services/Interfaces/IAppDevelopmentService.cs
  backend/src/Designer/Services/Interfaces/IGitea.cs
  backend/src/Designer/Services/Interfaces/IRepository.cs
  backend/src/Designer/Services/Interfaces/ISchemaModelService.cs
  backend/src/Designer/Services/Interfaces/ISourceControl.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/DeleteDatamodelTests.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/Utils/MockUtils.cs
  backend/tests/Designer.Tests/Mocks/IGiteaMock.cs
  backend/tests/Designer.Tests/Services/AppDevelopmentServiceTest.cs
  backend/tests/Designer.Tests/Services/SchemaModelServiceTests.cs
  backend/tests/Designer.Tests/Services/SourceControlLoggingDecoratorTests.cs
Labels: solution/studio/designer, quality/testing

#11268 Fix typo
  frontend/language/src/nb.json
Labels: solution/studio/designer

#11270 Drag and drop tree view
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTree.test.tsx
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeItem/DragAndDropTreeItem.module.css
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeItem/DragAndDropTreeItem.test.tsx
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeItem/DragAndDropTreeItem.tsx
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeItem/DragAndDropTreeItemContext.ts
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeItem/index.ts
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeProvider/DragAndDropTreeProvider.tsx
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeProvider/index.ts
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeRoot/DragAndDropTreeRoot.test.tsx
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeRoot/DragAndDropTreeRoot.tsx
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeRoot/DragAndDropTreeRootContext.ts
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeRoot/index.ts
  frontend/packages/shared/src/components/DragAndDropTree/index.ts
  frontend/packages/shared/src/components/TreeView/TreeViewItem/TreeViewItem.tsx
  frontend/packages/shared/src/components/TreeView/TreeViewRoot/TreeViewRoot.tsx
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropList/DragAndDropList.test.tsx
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropListItem/DragAndDropListItem.module.css
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropListItem/DragAndDropListItem.test.tsx
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropListItem/DragAndDropListItem.tsx
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropProvider/DragAndDropProvider.tsx
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropProvider/DragAndDropRootContext.ts
  frontend/packages/shared/src/components/dragAndDrop/hooks/useDomSelectors.test.tsx
  frontend/packages/shared/src/components/dragAndDrop/hooks/useGapValue.test.tsx
  frontend/packages/shared/src/components/dragAndDrop/hooks/useGapValue.ts
  frontend/packages/ux-editor/src/containers/DesignView.tsx
Labels: area/ui-editor, solution/studio/designer

#11266 clear session before studio login and run studio login before all test specs
  frontend/testing/cypress/cypress.config.js
  frontend/testing/cypress/src/integration/studio/dashboard.js
  frontend/testing/cypress/src/integration/studio/datamodel.js
  frontend/testing/cypress/src/integration/studio/designer.js
  frontend/testing/cypress/src/integration/studio/login.js
  frontend/testing/cypress/src/integration/studio/new-app.js
  frontend/testing/cypress/src/integration/studio/repos.js
  frontend/testing/cypress/src/integration/studio/sync-app.js
  frontend/testing/cypress/src/integration/studio/wcag.js
  frontend/testing/cypress/src/support/studio.js
Labels: solution/studio/designer, quality/testing

#11273 fix(AltinnHeader): Revert CSS changes for Altinn Header
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.module.css
Labels: solution/studio/designer

#11274 Switch places on the conditional components for configureLayoutSet feature flag
  frontend/packages/ux-editor/src/components/Elements/Elements.module.css
  frontend/packages/ux-editor/src/components/Elements/Elements.tsx
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.module.css
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.tsx
Labels: area/ui-editor, solution/studio/designer

#11284 Delete apps after instead of before for test specs
  frontend/testing/cypress/src/integration/studio/dashboard.js
  frontend/testing/cypress/src/integration/studio/datamodel.js
  frontend/testing/cypress/src/integration/studio/designer.js
  frontend/testing/cypress/src/integration/studio/login.js
  frontend/testing/cypress/src/integration/studio/new-app.js
  frontend/testing/cypress/src/integration/studio/repos.js
  frontend/testing/cypress/src/integration/studio/sync-app.js
  frontend/testing/cypress/src/integration/studio/wcag.js
Labels: solution/studio/designer, quality/testing

#11286 Remove preview layout set from local storage
  frontend/app-development/features/textEditor/TextEditor.tsx
  frontend/app-preview/src/views/LandingPage.tsx
  frontend/packages/shared/src/hooks/useLocalStorage.test.ts
  frontend/packages/shared/src/hooks/useLocalStorage.ts
  frontend/packages/ux-editor/src/App.test.tsx
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/testing/mocks.tsx
Labels: kind/bug, area/ui-editor, solution/studio/designer, area/text-editor

#11311 Bump Platform.PDF dependencies
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform, skip-releasenotes

#11272 11254 replace legacy radio button with new radio button
  frontend/packages/ux-editor/src/components/config/EditFormComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/FileUpload/FileUploadComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/FileUpload/FileUploadComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
Labels: area/ui-editor, solution/studio/designer

#11319 Remove validation from put endpoint
  backend/src/Designer/Controllers/DatamodelsController.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/PutDatamodelTests.cs
Labels: solution/studio/designer, quality/testing

#11320 feat(GlobalCss): created CSS vars to ensure consistently styling
  frontend/app-development/App.css
Labels: solution/studio/designer

#11267 feat(AltinnIcons): new library to deal with altinn-icons
  frontend/app-development/package.json
  frontend/language/src/en.json
  frontend/libs/altinn-icons/README.md
  frontend/libs/altinn-icons/jest.config.json
  frontend/libs/altinn-icons/package.json
  frontend/libs/altinn-icons/setupTests.ts
  frontend/libs/altinn-icons/src/components/Accordion/Accordion.tsx
  frontend/libs/altinn-icons/src/components/Accordion/index.ts
  frontend/libs/altinn-icons/src/components/Checkbox/Checkbox.tsx
  frontend/libs/altinn-icons/src/components/Checkbox/index.ts
  frontend/libs/altinn-icons/src/components/Group/Group.tsx
  frontend/libs/altinn-icons/src/components/Group/index.ts
  frontend/libs/altinn-icons/src/components/Icons.test.tsx
  frontend/libs/altinn-icons/src/components/Likert/Likert.tsx
  frontend/libs/altinn-icons/src/components/Likert/index.ts
  frontend/libs/altinn-icons/src/components/LongText/LongText.tsx
  frontend/libs/altinn-icons/src/components/LongText/index.ts
  frontend/libs/altinn-icons/src/components/NavBar/NavBar.tsx
  frontend/libs/altinn-icons/src/components/NavBar/index.ts
  frontend/libs/altinn-icons/src/components/Paragraph/Paragraph.tsx
  frontend/libs/altinn-icons/src/components/Paragraph/index.ts
  frontend/libs/altinn-icons/src/components/RadioButton/RadioButton.tsx
  frontend/libs/altinn-icons/src/components/RadioButton/index.ts
  frontend/libs/altinn-icons/src/components/Select/Select.tsx
  frontend/libs/altinn-icons/src/components/Select/index.ts
  frontend/libs/altinn-icons/src/components/ShortText/ShortText.tsx
  frontend/libs/altinn-icons/src/components/ShortText/index.ts
  frontend/libs/altinn-icons/src/components/SvgTemplate/SvgTemplate.tsx
  frontend/libs/altinn-icons/src/components/SvgTemplate/index.ts
  frontend/libs/altinn-icons/src/components/Title/Title.tsx
  frontend/libs/altinn-icons/src/components/Title/index.ts
  frontend/libs/altinn-icons/src/components/index.ts
  frontend/libs/altinn-icons/src/index.ts
  frontend/libs/altinn-icons/src/types/IconProps.ts
  frontend/libs/altinn-icons/tsconfig.json
  frontend/packages/ux-editor/src/components/Elements/Elements.tsx
  frontend/packages/ux-editor/src/components/toolbar/ToolbarItemComponent.module.css
  frontend/packages/ux-editor/src/types/global.ts
  package.json
  yarn.lock
Labels: area/ui-editor, solution/studio/designer, kind/dependencies

#11310 feat: process-modeling templates
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/Controllers/ProcessModelingController.cs
  backend/src/Designer/Designer.csproj
  backend/src/Designer/Helpers/Guard.cs
  backend/src/Designer/Helpers/PackageVersionHelper.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Infrastructure/GitRepository/GitRepository.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Models/AltinnRepoContext.cs
  backend/src/Designer/Models/AltinnRepoEditingContext.cs
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
  backend/src/Designer/Services/Implementation/ProcessModeling/ProcessModelingService.cs
  backend/src/Designer/Services/Implementation/ProcessModeling/Templates/v8/start-data-confirmation-end.bpmn
  backend/src/Designer/Services/Implementation/ProcessModeling/Templates/v8/start-data-confirmation-feedback-end.bpmn
  backend/src/Designer/Services/Implementation/ProcessModeling/Templates/v8/start-data-end.bpmn
  backend/src/Designer/Services/Implementation/ProcessModeling/Templates/v8/start-data-signing-end.bpmn
  backend/src/Designer/Services/Interfaces/IAppDevelopmentService.cs
  backend/src/Designer/Services/Interfaces/IProcessModelingService.cs
  backend/src/Designer/ViewModels/Response/VersionResponse.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/GetVersionOfTheAppLibTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/GetTemplatesTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/SaveProcessDefinitionFromTemplateTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/SaveProcessDefinitionTests.cs
  backend/tests/Designer.Tests/Helpers/PackageVersionHelperTests.cs
  backend/tests/Designer.Tests/Services/ProcessModelingServiceTests.cs
  backend/tests/Designer.Tests/_TestData/Templates/AppCsprojTemplate.txt
  backend/tests/Designer.Tests/_TestData/Templates/AppCsprojTemplateWithoutAppLib.txt
Labels: solution/studio/designer, quality/testing

#11239 Fix Prettier subconfig files
  .prettierignore
  .prettierrc
  frontend/packages/shared/src/api/prettier.config.js
  frontend/tsconfig.json
  prettier.config.js
Labels: solution/studio/designer

#11326 feat(Preview): implement view-toggeler between mobile and desktop view
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Preview/Preview.module.css
  frontend/packages/ux-editor/src/components/Preview/Preview.test.tsx
  frontend/packages/ux-editor/src/components/Preview/Preview.tsx
  frontend/packages/ux-editor/src/components/Preview/ViewToggler/ViewToggler.module.css
  frontend/packages/ux-editor/src/components/Preview/ViewToggler/ViewToggler.test.tsx
  frontend/packages/ux-editor/src/components/Preview/ViewToggler/ViewToggler.tsx
Labels: area/ui-editor, solution/studio/designer

#11322 use new icons for components
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/LocalChangesTab/DeleteModal/DeleteModal.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/LocalChangesTab/LocalChangesTab.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/utils/settingsModalUtils.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/utils/settingsModalUtils.ts
  frontend/app-development/layout/SettingsModalButton/SettingsModal/utils/tabUtils/accessControlTabUtils/accessControlTabUtils.test.ts
  frontend/language/src/nb.json
  frontend/packages/ux-editor/package.json
  frontend/packages/ux-editor/src/components/FormComponent/FormComponent.test.tsx
  frontend/packages/ux-editor/src/components/FormComponent/FormComponent.tsx
  frontend/packages/ux-editor/src/containers/DesignView/RenderedFormContainer/FormContainer/FormContainerHeader.module.css
  frontend/packages/ux-editor/src/data/formItemConfig.ts
  yarn.lock
Labels: area/ui-editor, solution/studio/designer, kind/dependencies

#11332 Fixing broken cypress tests
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.module.css
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  frontend/testing/cypress/src/integration/studio/designer.js
  frontend/testing/cypress/src/selectors/designer.js
  frontend/testing/cypress/src/support/studio.js
  frontend/testing/testids.js
Labels: area/ui-editor, solution/studio/designer, quality/testing

#11258 New version of about/overview/administration page
  backend/src/Designer/Views/AppDevelopment/index.cshtml
  backend/src/Designer/wwwroot/designer/img/Altinn-studio.svg
  frontend/app-development/config/routes.tsx
  frontend/app-development/features/administration/components/Administration.module.css
  frontend/app-development/features/administration/components/Administration.test.tsx
  frontend/app-development/features/administration/components/Administration.tsx
  frontend/app-development/features/administration/components/LegacyAdministration.test.tsx
  frontend/app-development/features/administration/components/LegacyAdministration.tsx
  frontend/app-development/features/administration/components/ServiceAdministration.test.tsx
  frontend/app-development/features/administration/components/ServiceAdministration.tsx
  frontend/app-development/hooks/queries/useAppConfigQuery.ts
  frontend/language/src/nb.json
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/webpack.common.js
Labels: solution/studio/designer

#11291 11118 support default values for text resource variables
  backend/src/Designer/Models/TextResourceVariable.cs
  frontend/language/src/nb.json
  frontend/packages/shared/src/types/TextResourceEntry.ts
  frontend/packages/shared/src/types/global.ts
  frontend/packages/text-editor/src/TextEditor.tsx
  frontend/packages/text-editor/src/Variables.module.css
  frontend/packages/text-editor/src/Variables.test.tsx
  frontend/packages/text-editor/src/Variables.tsx
  frontend/packages/text-editor/src/types.d.ts
Labels: solution/studio/designer, area/text-editor

#11347 Fix Cypress tests
  frontend/testing/cypress/src/integration/studio/dashboard.js
  frontend/testing/cypress/src/integration/studio/datamodel.js
  frontend/testing/cypress/src/integration/studio/designer.js
  frontend/testing/cypress/src/integration/studio/new-app.js
  frontend/testing/cypress/src/integration/studio/repos.js
  frontend/testing/cypress/src/integration/studio/sync-app.js
  frontend/testing/cypress/src/integration/studio/wcag.js
  frontend/testing/cypress/src/integration/usecase/usecase.js
Labels: solution/studio/designer, quality/testing

#11265 Add titles and helpTexts to components (#11263)
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.tsx
  frontend/packages/ux-editor/src/components/FormComponent/FormComponent.test.tsx
  frontend/packages/ux-editor/src/components/toolbar/InformationPanelComponent.tsx
  frontend/packages/ux-editor/src/testing/schemas/json/component/Accordion.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/FileUploadWithTag.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/Link.schema.v1.json
  frontend/packages/ux-editor/src/utils/language.test.ts
  frontend/packages/ux-editor/src/utils/language.ts
  frontend/testing/cypress/src/integration/studio/login.js
Labels: area/ui-editor, solution/studio/designer, quality/testing

#11325 Fixing style policy editor, adding error handling, and connecting API for action and subject
  frontend/app-development/hooks/queries/useAppPolicyQuery.ts
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/InputFields/InputField/InputField.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/InputFields/InputFields.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/PolicyTab/PolicyTab.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/PolicyTab/PolicyTab.tsx
  frontend/packages/policy-editor/src/PolicyEditor.module.css
  frontend/packages/policy-editor/src/PolicyEditor.tsx
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ExpandablePolicyCard.module.css
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ExpandablePolicyCard.tsx
  frontend/packages/shared/src/hooks/queries/index.ts
  frontend/packages/shared/src/hooks/queries/useResourcePolicyActionsQuery.ts
  frontend/packages/shared/src/hooks/queries/useResourcePolicySubjectsQuery.ts
  frontend/resourceadm/hooks/queries/index.ts
  frontend/resourceadm/hooks/queries/useResourcePolicySubjectsQuery.ts
  frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.tsx
Labels: solution/studio/designer

#11317 Make endpoint to read images as stream from relative repo path
  backend/src/Designer/Controllers/PreviewController.cs
  backend/src/Designer/Filters/IO/IoExceptionFilterAttribute.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/tests/Designer.Tests/Controllers/ApiTests/ApiTestsBase.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/GetImageTests.cs
  backend/tests/Designer.Tests/Utils/TestDataHelper.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/preview-app/App/wwwroot/AltinnD-logo.svg
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/preview-app/App/wwwroot/images/AltinnD-logo.svg
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/preview-app/App/wwwroot/images/subImagesFolder/AltinnD-logo.svg
Labels: solution/studio/designer, quality/testing

#11328 11158 documentation section
  frontend/app-development/features/administration/components/Administration.module.css
  frontend/app-development/features/administration/components/Administration.tsx
  frontend/app-development/features/administration/components/Documentation.module.css
  frontend/app-development/features/administration/components/Documentation.test.tsx
  frontend/app-development/features/administration/components/Documentation.tsx
  frontend/language/src/nb.json
Labels: solution/studio/designer

#11339 Update design system
  frontend/app-development/features/administration/components/DownloadRepoModal.tsx
  frontend/app-development/features/administration/components/MainContent.tsx
  frontend/app-development/features/administration/components/ResetRepoModal.tsx
  frontend/app-development/features/administration/components/SideMenuContent.tsx
  frontend/app-development/features/appPublish/components/createAppReleaseComponent.tsx
  frontend/app-development/features/appPublish/components/deploy/DeployDropdown.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/LandingPagePanel.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/CreateNewWrapper.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/LocalChangesTab/LocalChangesActionButton/LocalChangesActionButton.tsx
  frontend/app-preview/src/components/AppBarConfig/AppPreviewBarConfig.tsx
  frontend/dashboard/pages/CreateService/CreateService.tsx
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ExpandablePolicyCard.tsx
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ExpandablePolicyElement/DropdownMenu/DropdownMenu.tsx
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ResourceNarrowingList/ResourceNarrowingList.tsx
  frontend/packages/policy-editor/src/components/VerificationModal/VerificationModal.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  frontend/packages/shared/src/components/AltinnConfirmDialog.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/SyncModal/SyncModal.tsx
  frontend/packages/shared/src/components/altinnHeaderButtons/AltinnHeaderButton.tsx
  frontend/packages/shared/src/components/molecules/AltinnPopoverSimple.tsx
  frontend/packages/text-editor/src/TextEditor.tsx
  frontend/packages/text-editor/src/TextEntry.tsx
  frontend/packages/ux-editor/src/components/FormComponent/FormComponent.tsx
  frontend/packages/ux-editor/src/components/TextResource.tsx
  frontend/packages/ux-editor/src/components/TextResourceEdit.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/ComplexExpression.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/DataSourceValue.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/Expressions.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/SimpleExpression.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/InputPopover/InputPopover.tsx
  frontend/packages/ux-editor/src/containers/DesignView/RenderedFormContainer/FormContainer/FormContainerHeader.tsx
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.tsx
  frontend/resourceadm/components/MergeConflictModal/RemoveChangesModal/RemoveChangesModal.tsx
  frontend/resourceadm/components/NavigationModal/NavigationModal.tsx
  frontend/resourceadm/components/NewResourceModal/NewResourceModal.tsx
  frontend/resourceadm/components/ResourceNameAndId/ResourceNameAndId.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceLanguageTextArea.tsx
  frontend/resourceadm/components/ResourceTable/ResourceTable.tsx
  frontend/resourceadm/components/ResourceTable/ResourceTableDataRow/ResourceTableDataRow.tsx
  frontend/resourceadm/components/RightTranslationBar/RightTranslationBar.tsx
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.tsx
  package.json
  yarn.lock
Labels: area/data-modeling, area/ui-editor, area/dashboard, area/app-deploy, solution/studio/designer, area/text-editor

#11358 Add Cypress test for XSD upload
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/SchemaSelect.tsx
  frontend/language/src/nb.json
  frontend/testing/cypress/src/fixtures/DataModel.xsd
  frontend/testing/cypress/src/integration/studio/datamodel.js
Labels: area/data-modeling, solution/studio/designer, quality/testing

#11361 fix(Cypress): fixed broken cypress-tests due to testids
  frontend/language/src/en.json
  frontend/testing/cypress/src/integration/studio/designer.js
  frontend/testing/cypress/src/integration/usecase/usecase.js
Labels: solution/studio/designer, quality/testing

#11362 Fixing css
  frontend/packages/shared/src/components/LeftNavigationBar/LeftNavigationBar.module.css
  frontend/packages/shared/src/components/LeftNavigationBar/Tab/Tab.module.css
Labels: solution/studio/designer

#11323 Ensure to re-render ItemDataComponent when the Pointer changes
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemPropertiesTab.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.tsx
  frontend/packages/schema-model/src/lib/mutations/ui-schema-reducers.ts
Labels: area/data-modeling, solution/studio/designer

#11336 Feature/10591 deploy resource
  backend/src/Designer/Controllers/PolicyController.cs
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Services/Implementation/ResourceRegistryService.cs
  backend/src/Designer/Services/Interfaces/IResourceRegistry.cs
  backend/src/Designer/appsettings.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/QueryKey.ts
  frontend/packages/shared/src/types/ResourceAdm.ts
  frontend/resourceadm/components/ResourceDeployEnvCard/ResourceDeployEnvCard.module.css
  frontend/resourceadm/components/ResourceDeployEnvCard/ResourceDeployEnvCard.test.tsx
  frontend/resourceadm/components/ResourceDeployEnvCard/ResourceDeployEnvCard.tsx
  frontend/resourceadm/components/ResourceDeployStatus/ResourceDeployStatus.module.css
  frontend/resourceadm/components/ResourceDeployStatus/ResourceDeployStatus.test.tsx
  frontend/resourceadm/components/ResourceDeployStatus/ResourceDeployStatus.tsx
  frontend/resourceadm/components/ResourceNameAndId/ResourceNameAndId.tsx
  frontend/resourceadm/data-mocks/policies/index.ts
  frontend/resourceadm/hooks/mutations/index.ts
  frontend/resourceadm/hooks/mutations/usePublishResourceMutation.ts
  frontend/resourceadm/hooks/queries/useResourcePolicyPublishStatusQuery.ts
  frontend/resourceadm/hooks/queries/useValidatePolicyQuery.ts
  frontend/resourceadm/hooks/queries/useValidateResourceQuery.ts
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.test.tsx
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
Labels: solution/studio/designer

#11333 11230 editdatamodelbindings
  frontend/language/src/nb.json
  frontend/packages/shared/src/components/InputActionWrapper/InputActionWrapper.module.css
  frontend/packages/shared/src/components/InputActionWrapper/InputActionWrapper.test.tsx
  frontend/packages/shared/src/components/InputActionWrapper/InputActionWrapper.tsx
  frontend/packages/shared/src/components/InputActionWrapper/index.ts
  frontend/packages/ux-editor/src/components/config/EditFormComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.tsx
Labels: area/ui-editor, solution/studio/designer

#11379 remove workflow definition
  .github/workflows/pdf-publish-to-gcr.yml
Labels: skip-releasenotes

#11369 Remove unsafe multithreading code
  backend/src/Designer/Services/Implementation/DeploymentService.cs
  backend/tests/Designer.Tests/Services/DeploymentServiceTest.cs
Labels: solution/studio/designer, quality/testing

#11365 11157 navigation section
  frontend/app-development/App.tsx
  frontend/app-development/features/administration/components/Administration.module.css
  frontend/app-development/features/administration/components/Administration.tsx
  frontend/app-development/features/administration/components/Navigation.module.css
  frontend/app-development/features/administration/components/Navigation.test.tsx
  frontend/app-development/features/administration/components/Navigation.tsx
  frontend/app-development/layout/AppBar/appBarConfig.tsx
  frontend/language/src/nb.json
  frontend/testing/setupTests.ts
Labels: solution/studio/designer, quality/testing

#11390 some bugfixes on EditOptions component
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
Labels: area/ui-editor, solution/studio/designer

#11389 removed illegal property "description"
  frontend/packages/ux-editor/src/data/formItemConfig.ts
  frontend/packages/ux-editor/src/types/FormComponent.ts
Labels: area/ui-editor, solution/studio/designer

#11375 Fixing [org] bug for subject in policy editor apps
  frontend/packages/policy-editor/src/utils/index.ts
  frontend/packages/shared/src/hooks/queries/useResourcePolicySubjectsQuery.ts
Labels: solution/studio/designer

#11401 Components that lack the 'component.dataModelBindings' experience crashes within the 'Lage' page
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.tsx
Labels: area/ui-editor, solution/studio/designer

#11402 centralize versions in one file and update accesstoken nuget
  backend/PolicyAdmin/PolicyAdmin.csproj
  backend/packagegroups/NuGet.props
  backend/src/Designer/Designer.csproj
  backend/tests/Designer.Tests/Designer.Tests.csproj
Labels: solution/studio/designer, quality/testing, kind/dependencies

#11403 Update spring-boot-starter-parent
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform, skip-releasenotes

#11386 Feature/11355 fix profile button in altinn header
  frontend/language/src/nb.json
  frontend/packages/shared/src/components/AltinnHeaderProfile/AltinnHeaderProfile.module.css
  frontend/packages/shared/src/components/AltinnHeaderProfile/AltinnHeaderProfile.tsx
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.test.tsx
  frontend/packages/shared/src/navigation/main-header/ProfileMenu.tsx
  frontend/packages/shared/src/navigation/main-header/ProfileMenu/ProfileMenu.module.css
  frontend/packages/shared/src/navigation/main-header/ProfileMenu/ProfileMenu.test.tsx
  frontend/packages/shared/src/navigation/main-header/ProfileMenu/ProfileMenu.tsx
  frontend/packages/shared/src/navigation/main-header/ProfileMenu/__snapshots__/ProfileMenu.test.tsx.snap
  frontend/packages/shared/src/navigation/main-header/ProfileMenu/index.ts
  frontend/packages/shared/src/navigation/main-header/__snapshots__/ProfileMenu.test.tsx.snap
  frontend/testing/cypress/src/integration/usecase/usecase.js
  frontend/testing/cypress/src/selectors/header.js
  frontend/testing/testids.js
Labels: solution/studio/designer, quality/testing

#11370 Feature/11218 config tab in settings modal
  frontend/app-development/layout/SettingsModalButton/SettingsModal/SettingsModal.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/SettingsModal.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/SetupTab/SetupTab.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/SetupTab/SetupTab.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/SetupTab/SetupTabContent/SetupTabContent.module.css
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/SetupTab/SetupTabContent/SetupTabContent.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/SetupTab/SetupTabContent/SetupTabContent.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/SetupTab/SetupTabContent/index.ts
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/SetupTab/index.ts
  frontend/app-development/layout/SettingsModalButton/SettingsModal/mocks/applicationMetadataMock.ts
  frontend/app-development/layout/SettingsModalButton/SettingsModal/utils/tabUtils/setupTabUtils/index.ts
  frontend/app-development/layout/SettingsModalButton/SettingsModal/utils/tabUtils/setupTabUtils/setupTabUtils.test.ts
  frontend/app-development/layout/SettingsModalButton/SettingsModal/utils/tabUtils/setupTabUtils/setupTabUtils.ts
  frontend/app-development/types/SettingsModalTab.ts
  frontend/app-development/utils/dateUtils/dateUtils.test.ts
  frontend/app-development/utils/dateUtils/dateUtils.ts
  frontend/app-development/utils/dateUtils/index.ts
  frontend/language/src/nb.json
Labels: solution/studio/designer

#11407 update button variant to match new ds version
  frontend/packages/shared/src/navigation/main-header/ProfileMenu/ProfileMenu.tsx
  frontend/packages/shared/src/navigation/main-header/ProfileMenu/__snapshots__/ProfileMenu.test.tsx.snap
Labels: solution/studio/designer

#11409 docker build pipeline on pr transfered on github
  .github/workflows/build-image-on-pr.yaml
Labels: skip-releasenotes

#11374 Feature/11371 left navigation bar tab issue
  frontend/app-development/features/policyEditor/SettingsModal/utils/index.ts
  frontend/app-development/features/policyEditor/SettingsModal/utils/settingsModalUtils.test.tsx
  frontend/app-development/features/policyEditor/SettingsModal/utils/settingsModalUtils.ts
  frontend/app-development/layout/SettingsModalButton/SettingsModal/SettingsModal.module.css
  frontend/app-development/layout/SettingsModalButton/SettingsModal/SettingsModal.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/SettingsModal.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/TabContent/TabContent.module.css
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/TabContent/TabContent.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/TabContent/TabContent.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/TabContent/index.ts
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/AboutTab.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AccessControlTab/AccessControlTab.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/LocalChangesTab/LocalChangesTab.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/PolicyTab/PolicyTab.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/SetupTab/SetupTabContent/SetupTabContent.tsx
  frontend/packages/shared/src/components/LeftNavigationBar/LeftNavigationBar.test.tsx
  frontend/packages/shared/src/components/LeftNavigationBar/LeftNavigationBar.tsx
  frontend/packages/shared/src/components/LeftNavigationBar/Tab/Tab.test.tsx
  frontend/packages/shared/src/components/LeftNavigationBar/Tab/Tab.tsx
  frontend/packages/shared/src/components/LeftNavigationBar/Tab/TabContent/TabContent.test.tsx
  frontend/packages/shared/src/components/LeftNavigationBar/Tab/TabContent/TabContent.tsx
  frontend/packages/shared/src/components/LeftNavigationBar/Tab/TabContent/index.ts
  frontend/packages/shared/src/components/LeftNavigationBar/Tab/TabWrapper/index.ts
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.test.tsx
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.test.tsx
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.tsx
  frontend/resourceadm/pages/MigrationPage/MigrationPage.tsx
  frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.test.tsx
  frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.test.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/resourceadm/utils/resourceUtils/resourceUtils.test.tsx
  frontend/resourceadm/utils/resourceUtils/resourceUtils.ts
Labels: solution/studio/designer

#11415 use old feat-flag for overview page
  frontend/app-development/config/routes.tsx
  frontend/packages/shared/src/utils/featureToggleUtils.ts
Labels: solution/studio/designer

#11412 Removed eslint comment
  frontend/testing/cypress/src/integration/usecase/usecase.js
Labels: solution/studio/designer, quality/testing

#11425 Fixing modal z index and SetupTab
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/SetupTab/SetupTab.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/SetupTab/SetupTabContent/SetupTabContent.tsx
  frontend/packages/shared/src/components/Modal/Modal.module.css
Labels: solution/studio/designer

#11426 Feature/11413 remove feature flag from settings modal
  frontend/app-development/layout/AppBar/appBarConfig.test.tsx
  frontend/app-development/layout/PageHeader.tsx
  frontend/packages/shared/src/utils/featureToggleUtils.ts
Labels: solution/studio/designer

#11432 Deleted the old settings page
  frontend/app-development/config/routes.tsx
  frontend/app-development/config/subPathSettings.ts
  frontend/app-development/features/accessControl/containers/AccessControlContainer.module.css
  frontend/app-development/features/accessControl/containers/AccessControlContainer.test.tsx
  frontend/app-development/features/accessControl/containers/AccessControlContainer.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/ThreeDotsMenu.tsx
Labels: solution/studio/designer

#11387 Bug/11353 texts are not updated in preview
  frontend/packages/ux-editor/src/components/TextResourceEdit.test.tsx
  frontend/packages/ux-editor/src/components/TextResourceEdit.tsx
Labels: area/ui-editor, solution/studio/designer

#11400 Replacing LegacyTextArea in resourceadm
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ExpandablePolicyCard.module.css
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ExpandablePolicyCard.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceLanguageTextArea.tsx
  frontend/resourceadm/components/RightTranslationBar/RightTranslationBar.tsx
Labels: solution/studio/designer

#11449 Implementing 404 error when repo is not found
  backend/src/Designer/Filters/Git/GitErrorCodes.cs
  backend/src/Designer/Filters/Git/GitExceptionFilterAttribute.cs
  backend/tests/Designer.Tests/GiteaIntegrationTests/RepositoryControllerGiteaIntegrationTests.cs
Labels: solution/studio/designer, quality/testing

#11307 Replace beta info popover in preview button with alert info panel in preview page
  backend/src/Designer/Controllers/PreviewController.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/PreviewStatusTests.cs
  frontend/app-development/layout/PageHeader.tsx
  frontend/app-preview/src/PreviewApp.module.css
  frontend/app-preview/src/PreviewContext.tsx
  frontend/app-preview/src/views/LandingPage.module.css
  frontend/app-preview/src/views/LandingPage.test.tsx
  frontend/app-preview/src/views/LandingPage.tsx
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/components/altinnHeader/types.ts
  frontend/packages/shared/src/components/altinnHeaderButtons/AltinnHeaderButton.test.tsx
  frontend/packages/shared/src/components/altinnHeaderButtons/AltinnHeaderButton.tsx
  frontend/packages/ux-editor/src/components/Preview/Preview.module.css
  frontend/packages/ux-editor/src/components/Preview/Preview.test.tsx
  frontend/packages/ux-editor/src/components/Preview/Preview.tsx
Labels: area/ui-editor, solution/studio/designer, quality/testing

#11450 Bump PDF dependencies
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform, skip-releasenotes

#11340 use empty array for layouts if not yet loaded when changing layoutset
  backend/src/Designer/Controllers/PreviewController.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/DeleteAttachmentTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/GetFormDataTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/InstanceForNextTaskTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/InstancesTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/PostAttachmentTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/ProcessNextTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/ProcessTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/UpdateFormDataTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/UpdateProcessNextTests.cs
  frontend/app-preview/src/views/LandingPage.tsx
  frontend/packages/shared/src/hooks/useEventListener.test.ts
  frontend/packages/shared/src/hooks/useEventListener.ts
  frontend/packages/shared/src/hooks/useLocalStorage.ts
  frontend/packages/shared/src/hooks/useReactiveLocalStorage.ts
  frontend/packages/shared/src/providers/PreviewConnectionContext.tsx
  frontend/packages/shared/src/utils/webStorage.ts
  frontend/packages/ux-editor/src/App.test.tsx
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/AppContext.ts
  frontend/packages/ux-editor/src/SubApp.tsx
  frontend/packages/ux-editor/src/components/Elements/Elements.tsx
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.test.tsx
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.tsx
  frontend/packages/ux-editor/src/components/FormComponent/FormComponent.tsx
  frontend/packages/ux-editor/src/components/Preview/Preview.tsx
  frontend/packages/ux-editor/src/components/config/EditFormContainer.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/DataSourceValue.tsx
  frontend/packages/ux-editor/src/components/toolbar/ConditionalRenderingModal.tsx
  frontend/packages/ux-editor/src/components/toolbar/RuleModal.tsx
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.tsx
  frontend/packages/ux-editor/src/containers/DesignView/RenderedFormContainer/FormContainer/FormContainer.tsx
  frontend/packages/ux-editor/src/containers/FormContext.tsx
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSlice.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddItemToLayoutMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useConfigureLayoutSetMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useConfigureLayoutSetMutation.ts
  frontend/packages/ux-editor/src/hooks/useFormLayoutsSelector.ts
  frontend/packages/ux-editor/src/selectors/formLayoutSelectors.test.ts
  frontend/packages/ux-editor/src/selectors/formLayoutSelectors.ts
  frontend/packages/ux-editor/src/testing/appContextMock.ts
  frontend/packages/ux-editor/src/testing/mocks.tsx
Labels: area/ui-editor, solution/studio/designer, quality/testing

#11435 Use apps extended version of appmetadata csharp model
  backend/packagegroups/NuGet.props
  backend/src/Designer/Controllers/ApplicationMetadataController.cs
  backend/src/Designer/Controllers/EnvironmentsController.cs
  backend/src/Designer/Controllers/PreviewController.cs
  backend/src/Designer/Designer.csproj
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Services/Implementation/ApplicationInformationService.cs
  backend/src/Designer/Services/Implementation/ApplicationMetadataService.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/src/Designer/Services/Interfaces/IApplicationInformationService.cs
  backend/src/Designer/Services/Interfaces/IApplicationMetadataService.cs
  backend/src/Designer/Services/Interfaces/IAuthorizationPolicyService.cs
  backend/src/Designer/Services/Interfaces/ITextResourceService.cs
  backend/src/Designer/TypedHttpClients/AltinnAuthorization/IAltinnAuthorizationPolicyClient.cs
  backend/src/Designer/TypedHttpClients/AltinnStorage/AltinnStorageAppMetadataClient.cs
  backend/src/Designer/TypedHttpClients/AltinnStorage/IAltinnStorageAppMetadataClient.cs
  backend/src/Designer/TypedHttpClients/AltinnStorage/IAltinnStorageTextResourceClient.cs
  backend/tests/Designer.Tests/Controllers/ApplicationMetadataController/AddMetadataForAttachmentTests.cs
  backend/tests/Designer.Tests/Controllers/ApplicationMetadataController/DeleteMetadataForAttachmentTests.cs
  backend/tests/Designer.Tests/Controllers/ApplicationMetadataController/GetApplicationMetadataTests.cs
  backend/tests/Designer.Tests/Controllers/ApplicationMetadataController/UpdateApplicationMetadataTests.cs
  backend/tests/Designer.Tests/Controllers/ApplicationMetadataController/UpdateMetadataForAttachmentTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/ApplicationMetadataTests.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnAppGitRepositoryTests.cs
  backend/tests/Designer.Tests/Services/TextResourceServiceTest.cs
  testdata/App/config/applicationmetadata.json
Labels: solution/studio/designer, quality/testing, skip-releasenotes, kind/dependencies

#11433 removed usEffect og used if-statment
  frontend/packages/ux-editor/src/components/config/Expressions/Expressions.tsx
Labels: area/ui-editor, solution/studio/designer

#11452 fix: set provided status code
  backend/src/Designer/Filters/ProblemDetailsUtils.cs
Labels: solution/studio/designer

#11460 Added response check
  backend/src/Designer/TypedHttpClients/Altinn2Metadata/Altinn2MetadataClient.cs
Labels: solution/studio/designer

#11382 Support multipage groups
  frontend/packages/shared/src/types/ComponentSpecificConfig.ts
  frontend/packages/shared/src/types/FormPanelVariant.ts
  frontend/packages/shared/src/types/MapLayer.ts
  frontend/packages/shared/src/types/api/FormLayoutsResponse.ts
  frontend/packages/shared/src/utils/objectUtils.test.ts
  frontend/packages/shared/src/utils/objectUtils.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Panel/PanelComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Panel/PanelComponent.tsx
  frontend/packages/ux-editor/src/converters/formLayoutConverters/externalLayoutToInternal.test.ts
  frontend/packages/ux-editor/src/converters/formLayoutConverters/externalLayoutToInternal.ts
  frontend/packages/ux-editor/src/converters/formLayoutConverters/formLayoutConverters.test.ts
  frontend/packages/ux-editor/src/converters/formLayoutConverters/index.ts
  frontend/packages/ux-editor/src/converters/formLayoutConverters/internalLayoutToExternal.test.ts
  frontend/packages/ux-editor/src/converters/formLayoutConverters/internalLayoutToExternal.ts
  frontend/packages/ux-editor/src/converters/formLayoutConverters/pageIndexUtils.test.ts
  frontend/packages/ux-editor/src/converters/formLayoutConverters/pageIndexUtils.ts
  frontend/packages/ux-editor/src/converters/groupComponentConverters/externalGroupComponentToInternal.test.ts
  frontend/packages/ux-editor/src/converters/groupComponentConverters/externalGroupComponentToInternal.ts
  frontend/packages/ux-editor/src/converters/groupComponentConverters/index.ts
  frontend/packages/ux-editor/src/converters/groupComponentConverters/internalGroupComponentToExternal.test.ts
  frontend/packages/ux-editor/src/converters/groupComponentConverters/internalGroupComponentToExternal.ts
  frontend/packages/ux-editor/src/converters/simpleComponentConverters/externalSimpleComponentToInternal.test.ts
  frontend/packages/ux-editor/src/converters/simpleComponentConverters/externalSimpleComponentToInternal.ts
  frontend/packages/ux-editor/src/converters/simpleComponentConverters/index.ts
  frontend/packages/ux-editor/src/converters/simpleComponentConverters/internalSimpleComponentToExternal.test.ts
  frontend/packages/ux-editor/src/converters/simpleComponentConverters/internalSimpleComponentToExternal.ts
  frontend/packages/ux-editor/src/data/formItemConfig.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddFormContainerMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddWidgetMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useFormLayoutMutation.test.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useFormLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/useFormLayoutsSelector.test.ts
  frontend/packages/ux-editor/src/selectors/formLayoutSelectors.test.ts
  frontend/packages/ux-editor/src/testing/componentMocks.ts
  frontend/packages/ux-editor/src/testing/layoutMock.ts
  frontend/packages/ux-editor/src/testing/layoutWithMultiPageGroupMocks.ts
  frontend/packages/ux-editor/src/types/ExternalGroupComponent.ts
  frontend/packages/ux-editor/src/types/ExternalSimpleComponent.ts
  frontend/packages/ux-editor/src/types/FormComponent.ts
  frontend/packages/ux-editor/src/types/FormContainer.ts
  frontend/packages/ux-editor/src/types/SimpleComponentType.ts
  frontend/packages/ux-editor/src/types/global.ts
  frontend/packages/ux-editor/src/utils/component.ts
  frontend/packages/ux-editor/src/utils/formLayoutUtils.test.tsx
  frontend/packages/ux-editor/src/utils/formLayoutUtils.ts
  frontend/packages/ux-editor/src/utils/formLayoutsUtils.test.ts
  frontend/packages/ux-editor/src/utils/formLayoutsUtils.ts
  frontend/packages/ux-editor/src/utils/generateId.test.tsx
Labels: area/ui-editor, solution/studio/designer

#11453 Feature/11352 alignment issue
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTab.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTab.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTab.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldsTable.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldsTable.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldsTable.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldsTableRow.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/index.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/index.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/PropertyItem.tsx
  package.json
  yarn.lock
Labels: area/data-modeling, solution/studio/designer
