Repository Altinn/altinn-studio, pull requests merged in 2023-06, with the labels that each got.

#10437 add one more null check
  frontend/packages/ux-editor/src/components/config/group/EditGroupDataModelBindings.tsx
Labels: area/ui-editor, solution/studio/designer

#10440 Bump non-major dependencies
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#10429 Add data to root of ruleconfig type
  frontend/packages/shared/src/types/RuleConfig.ts
  frontend/packages/ux-editor/src/components/toolbar/ConditionalRenderingModal.tsx
  frontend/packages/ux-editor/src/components/toolbar/RuleModal.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useRuleConfigMutation.test.ts
  frontend/packages/ux-editor/src/hooks/queries/useRuleConfigQuery.ts
  frontend/packages/ux-editor/src/testing/ruleConfigMock.ts
  frontend/packages/ux-editor/src/utils/ruleConfigUtils.test.ts
  frontend/packages/ux-editor/src/utils/ruleConfigUtils.ts
Labels: area/ui-editor, solution/studio/designer

#10442 10389 policy editor
  frontend/resourceadm/app/App.tsx
  frontend/resourceadm/components/CardButton/CardButton.module.css
  frontend/resourceadm/components/CardButton/CardButton.tsx
  frontend/resourceadm/components/CardButton/index.ts
  frontend/resourceadm/components/Chip/Chip.module.css
  frontend/resourceadm/components/Chip/Chip.tsx
  frontend/resourceadm/components/Chip/index.ts
  frontend/resourceadm/components/ExpandablePolicyCard/ExpandablePolicyCard.module.css
  frontend/resourceadm/components/ExpandablePolicyCard/ExpandablePolicyCard.tsx
  frontend/resourceadm/components/ExpandablePolicyCard/index.ts
  frontend/resourceadm/components/ExpandablePolicyElement/DropdownMenu.module.css
  frontend/resourceadm/components/ExpandablePolicyElement/DropdownMenu.tsx
  frontend/resourceadm/components/ExpandablePolicyElement/ExpandablePolicyElement.module.css
  frontend/resourceadm/components/ExpandablePolicyElement/ExpandablePolicyElement.tsx
  frontend/resourceadm/components/ExpandablePolicyElement/index.ts
  frontend/resourceadm/components/PolicyResourceFields/PolicyResourceFields.module.css
  frontend/resourceadm/components/PolicyResourceFields/PolicyResourceFields.tsx
  frontend/resourceadm/components/PolicyResourceFields/index.ts
  frontend/resourceadm/components/PolicyRuleSubjectListItem/PolicyRuleSubjectListItem.module.css
  frontend/resourceadm/components/PolicyRuleSubjectListItem/PolicyRuleSubjectListItem.tsx
  frontend/resourceadm/components/PolicyRuleSubjectListItem/index.ts
  frontend/resourceadm/components/PolicySubjectSelectButton/PolicySubjectSelectButton.module.css
  frontend/resourceadm/components/PolicySubjectSelectButton/PolicySubjectSelectButton.tsx
  frontend/resourceadm/components/PolicySubjectSelectButton/index.ts
  frontend/resourceadm/components/ResourceNarrowingList/ResourceNarrowingList.module.css
  frontend/resourceadm/components/ResourceNarrowingList/ResourceNarrowingList.tsx
  frontend/resourceadm/components/ResourceNarrowingList/index.ts
  frontend/resourceadm/components/VerificationModal/VerificationModal.module.css
  frontend/resourceadm/components/VerificationModal/VerificationModal.tsx
  frontend/resourceadm/components/VerificationModal/index.ts
  frontend/resourceadm/components/WarningCard/WarningCard.module.css
  frontend/resourceadm/components/WarningCard/WarningCard.tsx
  frontend/resourceadm/components/WarningCard/index.ts
  frontend/resourceadm/data-mocks/policies/index.ts
  frontend/resourceadm/pages/PolicyEditor/PolicyEditor.module.css
  frontend/resourceadm/pages/PolicyEditor/PolicyEditor.tsx
  frontend/resourceadm/pages/PolicyEditor/index.ts
  frontend/resourceadm/pages/PolicyEditorStartPage/PolicyEditorStartPage.module.css
  frontend/resourceadm/pages/PolicyEditorStartPage/PolicyEditorStartPage.tsx
  frontend/resourceadm/pages/PolicyEditorStartPage/index.ts
  frontend/resourceadm/types/global.ts
  frontend/resourceadm/utils/policyEditorUtils/index.ts
  frontend/resourceadm/utils/policyEditorUtils/policyEditorUtils.test.ts
  frontend/resourceadm/utils/policyEditorUtils/policyEditorUtils.ts
Labels: solution/studio/designer

#10444 Add authorize attribute to previewHub
  backend/src/Designer/Hubs/PreviewHub.cs
Labels: solution/studio/designer

#10448 10443 left navigation bar
  frontend/resourceadm/app/App.tsx
  frontend/resourceadm/components/LeftNavigationBar/LeftNavigationBar.module.css
  frontend/resourceadm/components/LeftNavigationBar/LeftNavigationBar.tsx
  frontend/resourceadm/components/LeftNavigationBar/index.ts
  frontend/resourceadm/data-mocks/policies/index.ts
  frontend/resourceadm/pages/PolicyEditor/PolicyEditor.tsx
  frontend/resourceadm/pages/ResourceDashboard/ResourceDashboard.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.module.css
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/resourceadm/pages/ResourcePage/index.ts
  frontend/resourceadm/types/global.ts
Labels: solution/studio/designer

#10452 Added missing folder support in resourcerepository
  backend/src/Designer/Services/Implementation/RepositorySI.cs
Labels: solution/studio/designer

#10441 Mock endpoint to add and delete an attachment to an attachment component in preview
  backend/src/Designer/Controllers/PreviewController.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/PreviewControllerTests.cs
Labels: solution/studio/designer

#10449 Add variables back if they were present before when editing text directly
  backend/src/Designer/Services/Implementation/TextsService.cs
  backend/tests/Designer.Tests/Controllers/TextController/UpdateTextsForKeys.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/App/config/texts/resource.nb.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/App/models/testModel.metadata.json
  frontend/packages/ux-editor/src/components/TextResourceEdit.tsx
Labels: area/ui-editor, solution/studio/designer

#10446 Use groups concept in previewHub to only send to clients with same developer name
  backend/src/Designer/Hubs/PreviewHub.cs
  backend/tests/Designer.Tests/Hubs/PreviewHubTests.cs
Labels: solution/studio/designer

#10456 Correct casing for viewsize in preview
  frontend/app-preview/src/views/LandingPage.tsx
Labels: solution/studio/designer

#10417 8855 choose optionlist id from dropdown
  frontend/language/src/nb.json
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/QueryKey.ts
  frontend/packages/shared/src/types/global.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList.tsx
  frontend/packages/ux-editor/src/hooks/queries/useOptionListIdsQuery.ts
  frontend/packages/ux-editor/src/testing/mocks.tsx
Labels: area/ui-editor, solution/studio/designer

#10454 Setting up URL paths
  frontend/resourceadm/app/App.tsx
  frontend/resourceadm/components/LeftNavigationBar/LeftNavigationBar.module.css
  frontend/resourceadm/pages/PolicyEditorStartPage/PolicyEditorStartPage.module.css
  frontend/resourceadm/pages/PolicyEditorStartPage/PolicyEditorStartPage.tsx
  frontend/resourceadm/pages/PolicyEditorStartPage/index.ts
  frontend/resourceadm/pages/ResourceDashboard/ResourceDashboard.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/resourceadm/utils/urlUtils/index.ts
  frontend/resourceadm/utils/urlUtils/urlUtils.ts
Labels: solution/studio/designer

#10457 Add call to add attachment data to app metadata when adding component
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/ux-editor/src/components/FormComponent.tsx
  frontend/packages/ux-editor/src/containers/DesignView.tsx
  frontend/packages/ux-editor/src/containers/FormContext.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useAddFormComponentMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddFormComponentMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddItemToLayoutMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddItemToLayoutMutation.ts
Labels: area/ui-editor, solution/studio/designer

#10450 Feature/help text edit
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/componentConfig.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Button/ButtonComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/FileUpload/FileUploadComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDescription.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBindings.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBindings.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTitle.tsx
Labels: area/ui-editor, solution/studio/designer

#10410 Policy options
  backend/PolicyAdmin/Models/ActionOption.cs
  backend/PolicyAdmin/Models/SubjectOption.cs
  backend/src/Designer/Authorization/actionoptions.json
  backend/src/Designer/Authorization/subjectoptions.json
  backend/src/Designer/Controllers/PolicyController.cs
  backend/src/Designer/Designer.csproj
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Interfaces/IRepository.cs
  backend/src/Designer/TypedHttpClients/AltinnAuthorization/IPolicyOptions.cs
  backend/src/Designer/TypedHttpClients/AltinnAuthorization/PolicyOptionsClient.cs
  backend/src/Designer/TypedHttpClients/TypedHttpClientRegistration.cs
  backend/tests/Designer.Tests/Controllers/PolicyControllerTests.cs
Labels: solution/studio/designer

#10424 required/readonly settings for components with input
  frontend/packages/ux-editor/src/components/config/componentConfig.tsx
  frontend/packages/ux-editor/src/data/formItemConfig.ts
Labels: area/ui-editor, solution/studio/designer

#10473 Resource14
  frontend/resourceadm/app/App.tsx
  frontend/resourceadm/pages/AboutResource/AboutResource.module.css
  frontend/resourceadm/pages/AboutResource/AboutResource.tsx
  frontend/resourceadm/pages/AboutResource/index.ts
  frontend/resourceadm/pages/ResourceDashboard/ResourceDashboard.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/resourceadm/pages/RessurstilgangSide1/AltinnLogoMedNavnFraFigma.svg
  frontend/resourceadm/pages/RessurstilgangSide1/index.ts
Labels: solution/studio/designer

#10468 10465 adapt attachment component code to take layoutsets/process in account when editing it
  backend/src/Designer/Services/Implementation/ApplicationMetadataService.cs
  frontend/packages/shared/src/constants.js
  frontend/packages/shared/src/types/ApplicationAttachmentMetadata.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddAppAttachmentMetadataMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddItemToLayoutMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddItemToLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateAppAttachmentMetadataMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentMutation.ts
  frontend/packages/ux-editor/src/testing/layoutMock.ts
Labels: area/ui-editor, solution/studio/designer

#10478 Removing the GET Capabilities test from use case tests
  src/test/K6/src/tests/platform/eFormidling/eFormidling.js
Labels: area/test

#10476 Empty rule handling
  backend/PolicyAdmin/PolicyConverter.cs
  backend/src/Designer/Controllers/PolicyController.cs
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/tests/Designer.Tests/Designer.Tests.csproj
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/ttd-resources/ttdres1/ttdres1_policy.xml
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/ttd-resources/ttdres1/ttdres1_resource.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/ttd-resources/ttdres2/ttdres2_policy0.xml
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/ttd-resources/ttdres2/ttdres2_resource.json
Labels: solution/studio/designer

#10479 Create query client mock
  frontend/language/src/nb.json
  frontend/packages/shared/src/contexts/ServicesContext.tsx
  frontend/packages/shared/src/hooks/mutations/useUpsertTextResourcesMutation.ts
  frontend/packages/ux-editor/src/components/TextResource.test.tsx
  frontend/packages/ux-editor/src/components/TextResourceEdit.test.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useAddItemToLayoutMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddItemToLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddWidgetMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useConfigureLayoutSetMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useFormLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useFormLayoutSettingsMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateLayoutNameMutation.ts
  frontend/packages/ux-editor/src/testing/layoutMock.ts
  frontend/packages/ux-editor/src/testing/mocks.tsx
Labels: area/ui-editor, solution/studio/designer

#10480 FIxed empty rule list
  backend/PolicyAdmin/PolicyConverter.cs
Labels: solution/studio/designer

#10483 Added name and test
  backend/PolicyAdmin/PolicyConverter.cs
  backend/tests/Designer.Tests/Controllers/PolicyControllerTests.cs
Labels: solution/studio/designer

#10490 10389 connect policies with backend
  frontend/resourceadm/components/PolicyEditor/CardButton/CardButton.module.css
  frontend/resourceadm/components/PolicyEditor/CardButton/CardButton.tsx
  frontend/resourceadm/components/PolicyEditor/CardButton/index.ts
  frontend/resourceadm/components/PolicyEditor/Chip/Chip.module.css
  frontend/resourceadm/components/PolicyEditor/Chip/Chip.tsx
  frontend/resourceadm/components/PolicyEditor/Chip/index.ts
  frontend/resourceadm/components/PolicyEditor/ExpandablePolicyCard/ExpandablePolicyCard.module.css
  frontend/resourceadm/components/PolicyEditor/ExpandablePolicyCard/ExpandablePolicyCard.tsx
  frontend/resourceadm/components/PolicyEditor/ExpandablePolicyCard/index.ts
  frontend/resourceadm/components/PolicyEditor/ExpandablePolicyElement/DropdownMenu.module.css
  frontend/resourceadm/components/PolicyEditor/ExpandablePolicyElement/DropdownMenu.tsx
  frontend/resourceadm/components/PolicyEditor/ExpandablePolicyElement/ExpandablePolicyElement.module.css
  frontend/resourceadm/components/PolicyEditor/ExpandablePolicyElement/ExpandablePolicyElement.tsx
  frontend/resourceadm/components/PolicyEditor/ExpandablePolicyElement/index.ts
  frontend/resourceadm/components/PolicyEditor/PolicyEditor.module.css
  frontend/resourceadm/components/PolicyEditor/PolicyEditor.tsx
  frontend/resourceadm/components/PolicyEditor/PolicyResourceFields/PolicyResourceFields.module.css
  frontend/resourceadm/components/PolicyEditor/PolicyResourceFields/PolicyResourceFields.tsx
  frontend/resourceadm/components/PolicyEditor/PolicyResourceFields/index.ts
  frontend/resourceadm/components/PolicyEditor/PolicyRuleSubjectListItem/PolicyRuleSubjectListItem.module.css
  frontend/resourceadm/components/PolicyEditor/PolicyRuleSubjectListItem/PolicyRuleSubjectListItem.tsx
  frontend/resourceadm/components/PolicyEditor/PolicyRuleSubjectListItem/index.ts
  frontend/resourceadm/components/PolicyEditor/PolicySubjectSelectButton/PolicySubjectSelectButton.module.css
  frontend/resourceadm/components/PolicyEditor/PolicySubjectSelectButton/PolicySubjectSelectButton.tsx
  frontend/resourceadm/components/PolicyEditor/PolicySubjectSelectButton/index.ts
  frontend/resourceadm/components/PolicyEditor/ResourceNarrowingList/ResourceNarrowingList.module.css
  frontend/resourceadm/components/PolicyEditor/ResourceNarrowingList/ResourceNarrowingList.tsx
  frontend/resourceadm/components/PolicyEditor/ResourceNarrowingList/index.ts
  frontend/resourceadm/components/PolicyEditor/VerificationModal/VerificationModal.module.css
  frontend/resourceadm/components/PolicyEditor/VerificationModal/VerificationModal.tsx
  frontend/resourceadm/components/PolicyEditor/VerificationModal/index.ts
  frontend/resourceadm/components/PolicyEditor/WarningCard/WarningCard.module.css
  frontend/resourceadm/components/PolicyEditor/WarningCard/WarningCard.tsx
  frontend/resourceadm/components/PolicyEditor/WarningCard/index.ts
  frontend/resourceadm/components/PolicyEditor/index.ts
  frontend/resourceadm/components/SelectAuthLevel/SelectAuthLevel.tsx
  frontend/resourceadm/components/SelectAuthLevel/index.ts
  frontend/resourceadm/data-mocks/policies/index.ts
  frontend/resourceadm/hooks/useOnce/index.ts
  frontend/resourceadm/hooks/useOnce/useOnce.ts
  frontend/resourceadm/pages/PolicyEditor/PolicyEditor.tsx
  frontend/resourceadm/pages/PolicyEditor/index.ts
  frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.module.css
  frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.tsx
  frontend/resourceadm/pages/PolicyEditorPage/index.ts
  frontend/resourceadm/pages/ResourceDashboard/ResourceDashboard.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.module.css
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/resourceadm/types/global.ts
  frontend/resourceadm/utils/backendUrlUtils/backendUserUtils.ts
  frontend/resourceadm/utils/backendUrlUtils/index.ts
  frontend/resourceadm/utils/mapperUtils/index.ts
  frontend/resourceadm/utils/mapperUtils/mapperUtils.ts
  frontend/resourceadm/utils/policyEditorUtils/index.ts
  frontend/resourceadm/utils/policyEditorUtils/policyEditorUtils.ts
Labels: solution/studio/designer

#10492 Fixed path
  backend/src/Designer/Controllers/ResourceAdmController.cs
Labels: solution/studio/designer

#10491 Update PDF: Bump azure-identity to 1.9.1
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#10466 10382 options validation does not support enums
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/ComponentPreview.test.tsx
  frontend/packages/ux-editor/src/hooks/index.ts
  frontend/packages/ux-editor/src/hooks/useComponentErrorMessage.test.ts
  frontend/packages/ux-editor/src/hooks/useComponentErrorMessage.ts
  frontend/packages/ux-editor/src/hooks/useValidateComponent.test.ts
  frontend/packages/ux-editor/src/hooks/useValidateComponent.ts
  frontend/packages/ux-editor/src/testing/componentMocks.ts
  frontend/packages/ux-editor/src/testing/mocks.tsx
  frontend/packages/ux-editor/src/utils/validationUtils/index.ts
  frontend/packages/ux-editor/src/utils/validationUtils/validateComponent.ts
Labels: area/ui-editor, solution/studio/designer

#10488 Disable parallel run of "pull" and "reset" endpoints
  backend/src/Designer/Configuration/Extensions/ServiceCollectionExtensions.cs
  backend/src/Designer/Configuration/UserRequestSynchronizationSettings.cs
  backend/src/Designer/Controllers/RepositoryController.cs
  backend/src/Designer/Infrastructure/MvcConfiguration.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Implementation/UserRequestsSynchronizationService.cs
  backend/src/Designer/Services/Interfaces/IUserRequestsSynchronizationService.cs
  backend/tests/Designer.Tests/Controllers/RepositoryController/ResetLocalRepositoryTests.cs
  backend/tests/Designer.Tests/Services/UserRequestsSynchronizationServiceTests.cs
Labels: solution/studio/designer

#10506 Render deploy-loading before error message
  frontend/app-development/features/appPublish/containers/releaseContainer.tsx
Labels: area/app-deploy, solution/studio/designer

#10502 Function instead of value for update semaphores
  backend/src/Designer/Controllers/RepositoryController.cs
  backend/src/Designer/Services/Implementation/UserRequestsSynchronizationService.cs
Labels: solution/studio/designer

#10507 Use toggle buttons from common design system
  frontend/packages/schema-editor/src/components/TopToolbar.tsx
Labels: area/data-modeling, solution/studio/designer

#10508 Use components from common design system
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
  frontend/packages/text-editor/src/TextRow.tsx
Labels: area/app-deploy, solution/studio/designer, area/text-editor

#10509 Update design system
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/shared/package.json
  frontend/packages/text-editor/package.json
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.test.tsx
  frontend/resourceadm/package.json
  package.json
  yarn.lock
Labels: area/data-modeling, area/ui-editor, area/dashboard, solution/studio/designer, area/text-editor

#10512 some suggestions and bugfixes for existing bugs
  backend/src/Designer/Views/Preview/index.cshtml
  frontend/app-preview/src/PreviewApp.module.css
  frontend/app-preview/src/components/AppBarConfig/AppPreviewBarConfig.tsx
  frontend/app-preview/src/components/AppPreviewHeader/AppPreviewHeader.tsx
  frontend/app-preview/src/components/AppPreviewHeader/index.tsx
  frontend/app-preview/src/components/AppPreviewMenu.tsx
  frontend/app-preview/src/components/AppPreviewSubMenu.module.css
  frontend/app-preview/src/components/AppPreviewSubMenu.tsx
  frontend/app-preview/src/components/index.tsx
  frontend/app-preview/src/views/LandingPage.module.css
  frontend/app-preview/src/views/LandingPage.tsx
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.module.css
Labels: solution/studio/designer

#10504 Add data to root of ruleconfig if not already present
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/Controllers/PreviewController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
  backend/src/Designer/Services/Interfaces/IAppDevelopmentService.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/GetRuleConfigTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/invalid-texts-and-ruleconfig-format/App/config/texts/en.texts.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/invalid-texts-and-ruleconfig-format/App/config/texts/text.en.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/invalid-texts-and-ruleconfig-format/App/ui/RuleConfiguration.json
  frontend/packages/shared/src/api/paths.js
Labels: solution/studio/designer

#10489 Add custom properties editor
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/CustomProperties.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/CustomProperties.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/CustomProperties.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/features/editor/schemaEditorSaga.ts
  frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  frontend/packages/schema-editor/src/selectors/schemaStateSelectors.ts
  frontend/packages/schema-editor/test/renderWithRedux.tsx
  frontend/packages/schema-editor/test/uiSchemaMock.ts
  frontend/packages/schema-model/src/index.ts
  frontend/packages/schema-model/src/lib/mappers/custom-properties.test.ts
  frontend/packages/schema-model/src/lib/mappers/custom-properties.ts
  frontend/packages/schema-model/src/lib/mappers/field-type.test.ts
  frontend/packages/schema-model/src/lib/mutations/convert-node.test.ts
  frontend/packages/schema-model/src/lib/mutations/copy-node.test.ts
  frontend/packages/schema-model/src/lib/mutations/create-node.test.ts
  frontend/packages/schema-model/src/lib/mutations/custom-properties.test.ts
  frontend/packages/schema-model/src/lib/mutations/custom-properties.ts
  frontend/packages/schema-model/src/lib/mutations/remove-node.test.ts
  frontend/packages/schema-model/src/lib/mutations/rename-node.test.ts
  frontend/packages/schema-model/src/lib/mutations/sort-nodes.test.ts
  frontend/packages/schema-model/src/types/CustomPropertyType.ts
  frontend/packages/schema-model/src/types/index.ts
  frontend/packages/ux-editor/src/hooks/queries/useRuleConfigQuery.ts
Labels: area/data-modeling, area/ui-editor, solution/studio/designer

#10516 app-name fix in texts
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/GetRuleConfigTests.cs
  backend/tests/Designer.Tests/Controllers/TextKeysController/GetTests.cs
  backend/tests/Designer.Tests/Controllers/TextsController/GetTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/invalid-texts-and-ruleconfig/App/config/texts/en.texts.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/invalid-texts-and-ruleconfig/App/config/texts/text.en.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/invalid-texts-and-ruleconfig/App/ui/RuleConfiguration.json
Labels: solution/studio/designer

#10517 Remove dummy line in tests
  backend/tests/Designer.Tests/Controllers/TextsController/GetTests.cs
Labels: solution/studio/designer

#10495 10487 implement git functionality for resourceadm
  frontend/resourceadm/hooks/mutations/index.ts
  frontend/resourceadm/hooks/mutations/useCreateRepoCommitMutation.ts
  frontend/resourceadm/hooks/mutations/useRepoPushMutation.ts
  frontend/resourceadm/hooks/queries/index.ts
  frontend/resourceadm/hooks/queries/useRepoMetadataQuery.ts
  frontend/resourceadm/hooks/queries/useRepoPullQuery.ts
  frontend/resourceadm/hooks/queries/useRepoStatusQuery.ts
  frontend/resourceadm/pages/PageLayout/PageLayout.tsx
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/ThreeDotsMenu/ThreeDotsMenu.module.css
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/ThreeDotsMenu/ThreeDotsMenu.tsx
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/ThreeDotsMenu/index.ts
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/VersionControlButtons/FetchChangesButton/FetchChangesButton.module.css
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/VersionControlButtons/FetchChangesButton/FetchChangesButton.tsx
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/VersionControlButtons/FetchChangesButton/index.ts
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/VersionControlButtons/ShareChangesButton/ShareChangesButton.module.css
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/VersionControlButtons/ShareChangesButton/ShareChangesButton.tsx
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/VersionControlButtons/ShareChangesButton/index.ts
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/VersionControlButtons/SyncModal/SyncModal.module.css
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/VersionControlButtons/SyncModal/SyncModal.tsx
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/VersionControlButtons/SyncModal/index.ts
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/VersionControlButtons/VersionControlButtons.module.css
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/VersionControlButtons/VersionControlButtons.tsx
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/VersionControlButtons/index.ts
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/VersionControlHeader.module.css
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/VersionControlHeader.tsx
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/index.ts
Labels: solution/studio/designer

#10511 disable parallelization for repository controller endpoints
  backend/src/Designer/Controllers/RepositoryController.cs
Labels: solution/studio/designer

#10471 10227 implement a preview version for studio header
  backend/src/Designer/Views/Preview/index.cshtml
  frontend/app-development/layout/PageHeader.tsx
  frontend/app-preview/src/PreviewApp.module.css
  frontend/app-preview/src/PreviewApp.tsx
  frontend/app-preview/src/components/AppBarConfig/AppPreviewBarConfig.test.tsx
  frontend/app-preview/src/components/AppBarConfig/AppPreviewBarConfig.tsx
  frontend/app-preview/src/components/AppPreviewSubMenu.module.css
  frontend/app-preview/src/components/AppPreviewSubMenu.test.tsx
  frontend/app-preview/src/components/AppPreviewSubMenu.tsx
  frontend/app-preview/src/views/LandingPage.module.css
  frontend/app-preview/src/views/LandingPage.tsx
  frontend/language/src/nb.json
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/components/AltinnHeaderProfile/AltinnHeaderProfile.module.css
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.module.css
  frontend/packages/shared/src/components/altinnHeaderMenu/AltinnHeaderMenu.module.css
  frontend/packages/shared/src/navigation/main-header/__snapshots__/profileMenu.test.tsx.snap
  frontend/packages/shared/src/navigation/main-header/profileMenu.module.css
  frontend/packages/shared/src/navigation/main-header/profileMenu.test.tsx
  frontend/packages/shared/src/navigation/main-header/profileMenu.tsx
Labels: solution/studio/designer

#10513 Removing generated gitea client
  backend/packagegroups/NuGet.props
  backend/src/Designer/RepositoryClient/Api/IUserApi.cs
  backend/src/Designer/RepositoryClient/Client/ApiClient.cs
  backend/src/Designer/RepositoryClient/Client/ApiException.cs
  backend/src/Designer/RepositoryClient/Client/ApiResponse.cs
  backend/src/Designer/RepositoryClient/Client/Configuration.cs
  backend/src/Designer/RepositoryClient/Client/ExceptionFactory.cs
  backend/src/Designer/RepositoryClient/Client/GlobalConfiguration.cs
  backend/src/Designer/RepositoryClient/Client/IApiAccessor.cs
  backend/src/Designer/RepositoryClient/Client/IReadableConfiguration.cs
  backend/src/Designer/RepositoryClient/Client/JsonSubTypes.cs
  backend/src/Designer/RepositoryClient/Client/SwaggerDateConverter.cs
  backend/src/Designer/RepositoryClient/CustomApi/UserApiClient.cs
  backend/tests/Designer.Tests/Services/UserRequestsSynchronizationServiceTests.cs
Labels: solution/studio/designer

#10524 Fix failing Cypress test
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/navigation/main-header/__snapshots__/profileMenu.test.tsx.snap
  frontend/packages/shared/src/navigation/main-header/profileMenu.test.tsx
  frontend/packages/shared/src/navigation/main-header/profileMenu.tsx
  frontend/testing/cypress/src/pageobjects/header.js
Labels: solution/studio/designer

#10529 Fix header
  frontend/packages/shared/src/components/AltinnHeaderProfile/AltinnHeaderProfile.module.css
  frontend/packages/shared/src/components/AltinnHeaderProfile/AltinnHeaderProfile.tsx
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.module.css
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.tsx
  frontend/packages/shared/src/navigation/main-header/ProfileMenu.module.css
  frontend/packages/shared/src/navigation/main-header/ProfileMenu.test.tsx
  frontend/packages/shared/src/navigation/main-header/ProfileMenu.tsx
  frontend/packages/shared/src/navigation/main-header/__snapshots__/ProfileMenu.test.tsx.snap
  frontend/packages/shared/src/navigation/main-header/__snapshots__/profileMenu.test.tsx.snap
Labels: solution/studio/designer

#10532 Bug/issue with preview header
  frontend/app-development/hooks/queries/index.ts
  frontend/app-development/layout/PageHeader.tsx
  frontend/app-development/layout/version-control/VersionControlHeader.tsx
  frontend/app-preview/src/views/LandingPage.tsx
  frontend/packages/shared/src/components/AltinnHeaderProfile/AltinnHeaderProfile.test.tsx
  frontend/packages/shared/src/components/AltinnHeaderProfile/AltinnHeaderProfile.tsx
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.test.tsx
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.tsx
  frontend/packages/shared/src/hooks/queries/index.ts
  frontend/packages/shared/src/hooks/queries/useRepoMetadataQuery.ts
  frontend/testing/cypress/src/integration/usecase/usecase.js
  frontend/testing/cypress/src/pageobjects/designer.js
Labels: area/app-preview, solution/studio/designer

#10534 Revert react-router-dom minor update
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/packages/shared/package.json
  frontend/packages/ux-editor/src/components/leftMenu/PageElement.tsx
  frontend/resourceadm/package.json
  package.json
  yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer

#10518 Make sure custom receipt is saved when creating it
  frontend/packages/ux-editor/src/hooks/mutations/useAddLayoutMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteLayoutMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useFormLayoutSettingsMutation.test.ts
  frontend/packages/ux-editor/src/testing/mocks.tsx
  frontend/packages/ux-editor/src/utils/formLayoutsUtils.test.ts
  frontend/packages/ux-editor/src/utils/formLayoutsUtils.ts
Labels: area/ui-editor, solution/studio/designer

#10536 fix weird-looking styling on datamodels toolbar
  frontend/packages/schema-editor/src/components/TopToolbar.module.css
  frontend/packages/schema-editor/src/components/TopToolbar.tsx
Labels: area/data-modeling, solution/studio/designer

#10522 10498 publish page for resources
  frontend/resourceadm/components/LeftNavigationBar/LeftNavigationBar.tsx
  frontend/resourceadm/components/MergeConflictModal/MergeConflictModal.module.css
  frontend/resourceadm/components/MergeConflictModal/MergeConflictModal.tsx
  frontend/resourceadm/components/MergeConflictModal/RemoveChangesModal/RemoveChangesModal.module.css
  frontend/resourceadm/components/MergeConflictModal/RemoveChangesModal/RemoveChangesModal.tsx
  frontend/resourceadm/components/MergeConflictModal/RemoveChangesModal/index.ts
  frontend/resourceadm/components/MergeConflictModal/index.ts
  frontend/resourceadm/components/PolicyEditor/PolicyResourceFields/PolicyResourceFields.module.css
  frontend/resourceadm/components/ResourceDeployEnvCard/ResourceDeployEnvCard.module.css
  frontend/resourceadm/components/ResourceDeployEnvCard/ResourceDeployEnvCard.tsx
  frontend/resourceadm/components/ResourceDeployEnvCard/index.ts
  frontend/resourceadm/components/ResourceDeployStatus/ResourceDeployStatus.module.css
  frontend/resourceadm/components/ResourceDeployStatus/ResourceDeployStatus.tsx
  frontend/resourceadm/components/ResourceDeployStatus/index.ts
  frontend/resourceadm/components/ResourceTable/ResourceTable.module.css
  frontend/resourceadm/components/ResourceTable/ResourceTable.tsx
  frontend/resourceadm/components/ResourceTable/ResourceTableDataRow/ResourceTableDataRow.module.css
  frontend/resourceadm/components/ResourceTable/ResourceTableDataRow/ResourceTableDataRow.tsx
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.module.css
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.tsx
  frontend/resourceadm/pages/DeployResourcePage/index.ts
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/VersionControlButtons/ShareChangesButton/ShareChangesButton.tsx
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/VersionControlButtons/SyncModal/SyncModal.tsx
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/VersionControlButtons/VersionControlButtons.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/resourceadm/types/global.ts
  frontend/resourceadm/utils/urlUtils/urlUtils.ts
Labels: solution/studio/designer

#10546 Created a simplified object for presenting the list of ServiceResources
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Designer.csproj
  backend/src/Designer/Helpers/ResourceAdminHelper.cs
  backend/src/Designer/Models/ListviewServiceResource.cs
  backend/src/Designer/RepositoryClient/Model/CommitAffectedFile.cs
  backend/src/Designer/RepositoryClient/Model/ContentsResponse.cs
  backend/src/Designer/RepositoryClient/Model/FileLinksResponse.cs
  backend/src/Designer/RepositoryClient/Model/GiteaCommit.cs
  backend/src/Designer/RepositoryClient/Model/GiteaRepoCommitInfo.cs
  backend/src/Designer/RepositoryClient/Model/GiteaRepoCommitMeta.cs
  backend/src/Designer/RepositoryClient/Model/GiteaRepoCommitStats.cs
  backend/src/Designer/RepositoryClient/Model/GiteaRepoCommitUser.cs
  backend/src/Designer/RepositoryClient/Model/GiteaRepoPayloadCommitVerification.cs
  backend/src/Designer/RepositoryClient/Model/GiteaRepoPayloadUser.cs
  backend/src/Designer/RepositoryClient/Model/GiteaUser.cs
  backend/src/Designer/Services/Implementation/GiteaAPIWrapper.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Interfaces/IGitea.cs
  backend/src/Designer/Services/Interfaces/IRepository.cs
  backend/tests/Designer.Tests/Controllers/ResourceAdminControllerTests.cs
  backend/tests/Designer.Tests/Mocks/IGiteaMock.cs
Labels: solution/studio/designer

#10549 Make sure return to correct layout in editor when clicking back to editing from preview
  frontend/app-preview/src/components/AppBarConfig/AppPreviewBarConfig.test.tsx
  frontend/app-preview/src/components/AppBarConfig/AppPreviewBarConfig.tsx
  frontend/app-preview/src/components/AppPreviewSubMenu.module.css
  frontend/app-preview/src/components/AppPreviewSubMenu.tsx
  frontend/app-preview/src/views/LandingPage.module.css
  frontend/app-preview/src/views/LandingPage.tsx
Labels: solution/studio/designer

#10521 Extract UI schema reducers
  frontend/app-development/package.json
  frontend/dashboard/package.json
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  frontend/packages/schema-editor/src/components/TopToolbar.tsx
  frontend/packages/schema-editor/src/features/editor/schemaEditorSaga.test.ts
  frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.test.ts
  frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  frontend/packages/schema-editor/src/hooks/mutations/index.ts
  frontend/packages/schema-editor/src/hooks/mutations/useDatamodelMutation.ts
  frontend/packages/schema-editor/src/hooks/queries/index.ts
  frontend/packages/schema-editor/src/hooks/queries/useDatamodelQuery.ts
  frontend/packages/schema-editor/src/types/SchemaState.ts
  frontend/packages/schema-editor/src/types/index.ts
  frontend/packages/schema-model/src/index.ts
  frontend/packages/schema-model/src/lib/build-json-schema.ts
  frontend/packages/schema-model/src/lib/build-ui-schema.ts
  frontend/packages/schema-model/src/lib/build.test.ts
  frontend/packages/schema-model/src/lib/mappers/getPointers.test.ts
  frontend/packages/schema-model/src/lib/mappers/getPointers.ts
  frontend/packages/schema-model/src/lib/mutations/convert-node.test.ts
  frontend/packages/schema-model/src/lib/mutations/convert-node.ts
  frontend/packages/schema-model/src/lib/mutations/rename-node.test.ts
  frontend/packages/schema-model/src/lib/mutations/rename-node.ts
  frontend/packages/schema-model/src/lib/mutations/ui-schema-reducers.test.ts
  frontend/packages/schema-model/src/lib/mutations/ui-schema-reducers.ts
  frontend/packages/schema-model/src/lib/selectors.test.ts
  frontend/packages/schema-model/src/types/UiSchemaReducer.ts
  frontend/packages/schema-model/src/types/index.ts
  frontend/packages/schema-model/test/testUtils.ts
  frontend/packages/schema-model/test/uiSchemaMock.test.ts
  frontend/packages/schema-model/test/uiSchemaMock.ts
  frontend/packages/schema-model/test/validateTestUiSchema.ts
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/features/dataModelling/sagas/dataModellingSagas.ts
  frontend/packages/shared/src/features/dataModelling/sagas/dataModellingSlice.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/JsonSchema.ts
  frontend/packages/shared/src/types/QueryKey.ts
  frontend/packages/shared/src/utils/arrayUtils.test.ts
  frontend/packages/shared/src/utils/arrayUtils.ts
  frontend/packages/shared/src/utils/stringUtils.test.ts
  frontend/packages/shared/src/utils/stringUtils.ts
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/components/config/EditFormContainer.tsx
  frontend/packages/ux-editor/src/components/config/SelectDataModelComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.tsx
  frontend/packages/ux-editor/src/hooks/queries/useDatamodelMetadataQuery.ts
  frontend/packages/ux-editor/src/testing/mocks.tsx
  frontend/resourceadm/components/MergeConflictModal/MergeConflictModal.tsx
  frontend/resourceadm/package.json
  package.json
  yarn.lock
Labels: area/data-modeling, area/ui-editor, area/dashboard, solution/studio/designer

#10535 Bug/10285 datamodels updates appmetadata issues
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/src/Designer/Services/Implementation/TextsService.cs
Labels: solution/studio/designer

#10555 Corrected addresource-endpoint so that it creates folder and other minor changes
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Interfaces/IRepository.cs
Labels: solution/studio/designer, area/resource-registry

#10565 Rewritten creation of paths to use Path.Combine.
  backend/src/Designer/Services/Implementation/RepositorySI.cs
Labels: solution/studio/designer

#10568 Remove unused mock that fails on typecheck
  frontend/resourceadm/data-mocks/resources/index.ts
Labels: solution/studio/designer

#10558 Bug/10249 remove properties with default value
  frontend/packages/ux-editor/src/components/config/componentConfig.tsx
  frontend/packages/ux-editor/src/data/formItemConfig.ts
  frontend/packages/ux-editor/src/types/FormComponent.ts
Labels: area/ui-editor, solution/studio/designer

#10560 Add layoutset selector in preview
  frontend/app-preview/index.tsx
  frontend/app-preview/src/components/AppBarConfig/AppPreviewBarConfig.tsx
  frontend/app-preview/src/components/AppPreviewSubMenu.module.css
  frontend/app-preview/src/components/AppPreviewSubMenu.test.tsx
  frontend/app-preview/src/components/AppPreviewSubMenu.tsx
  frontend/app-preview/src/views/LandingPage.tsx
  frontend/packages/shared/src/hooks/useLocalStorage.ts
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/components/leftMenu/LayoutSetsContainer.tsx
  frontend/packages/ux-editor/src/components/toolbar/ConditionalRenderingModal.tsx
  frontend/packages/ux-editor/src/components/toolbar/RuleModal.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
Labels: area/ui-editor, solution/studio/designer

#10575 Adds method that checks if CreatedBy and LastChanged has values
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Interfaces/IRepository.cs
Labels: solution/studio/designer

#10556 Add elementary error pages and clean up basic routes
  frontend/resourceadm/app/App.tsx
  frontend/resourceadm/pages/ErrorPage/ErrorPage.module.css
  frontend/resourceadm/pages/ErrorPage/ErrorPage.tsx
  frontend/resourceadm/pages/ErrorPage/index.ts
  frontend/resourceadm/pages/OlsenbandenPage/OlsenbandenPage.tsx
  frontend/resourceadm/pages/OlsenbandenPage/index.ts
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/VersionControlHeader.module.css
  frontend/resourceadm/pages/RedirectPage/RedirectPage.module.css
  frontend/resourceadm/pages/RedirectPage/RedirectPage.tsx
  frontend/resourceadm/pages/RedirectPage/index.ts
  frontend/resourceadm/pages/ResourceDashboardOld/ResourceDashboardOld.module.css
  frontend/resourceadm/pages/ResourceDashboardOld/ResourceDashboardOld.tsx
  frontend/resourceadm/pages/ResourceDashboardOld/index.ts
  frontend/resourceadm/pages/TestPage/TestPage.tsx
  frontend/resourceadm/pages/TestPage/index.ts
Labels: solution/studio/designer, area/resource-registry

#10579 Fixing hack so that master does not break
  frontend/resourceadm/app/App.tsx
Labels: solution/studio/designer

#10578 Error message on group depth limit
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/constants.js
  frontend/packages/ux-editor/src/containers/DesignView.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useFormLayoutMutation.ts
  frontend/packages/ux-editor/src/utils/formLayoutUtils.test.tsx
  frontend/packages/ux-editor/src/utils/formLayoutUtils.ts
Labels: area/ui-editor, solution/studio/designer

#10584 Bump azure-security-keyvault-secrets
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#10585 10481 hidealways field in appmetadata is overridden to false by studio
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Services/Implementation/ApplicationMetadataService.cs
  backend/src/Designer/TypedHttpClients/AltinnStorage/AltinnStorageAppMetadataClient.cs
Labels: solution/studio/designer

#10587 Bug/missing null check codelists
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList.tsx
Labels: area/ui-editor, solution/studio/designer

#10588 Add mocked endpoints to handle attachments with tags in preview
  backend/src/Designer/Controllers/PreviewController.cs
Labels: solution/studio/designer

#10597 explicitly pass org to component
  frontend/app-development/features/administration/components/ResetRepoModal.test.tsx
  frontend/app-development/features/administration/components/ResetRepoModal.tsx
  frontend/app-development/features/administration/components/SideMenuContent.tsx
  frontend/app-development/features/simpleMerge/MergeConflictWarning.tsx
Labels: solution/studio/designer

#10599 Disable autowatch for new repos
  gitea/files/conf/app.ini
Labels: solution/studio/repos

#10598 use commit-and-push endpoint
  frontend/app-development/hooks/mutations/useRepoCommitAndPushMutation.test.ts
  frontend/app-development/hooks/mutations/useRepoCommitAndPushMutation.ts
  frontend/app-development/layout/version-control/VersionControlHeader.test.tsx
  frontend/app-development/layout/version-control/VersionControlHeader.tsx
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
Labels: solution/studio/designer

#10602 Deploy page, about resource page, and logic for when to display errors
  frontend/resourceadm/app/App.module.css
  frontend/resourceadm/app/App.tsx
  frontend/resourceadm/components/LeftNavigationBar/LeftNavigationBar.tsx
  frontend/resourceadm/components/Link/Link.module.css
  frontend/resourceadm/components/Link/Link.tsx
  frontend/resourceadm/components/MergeConflictModal/RemoveChangesModal/RemoveChangesModal.tsx
  frontend/resourceadm/components/Modal/Modal.tsx
  frontend/resourceadm/components/NavigationModal/NavigationModal.module.css
  frontend/resourceadm/components/NavigationModal/NavigationModal.tsx
  frontend/resourceadm/components/NavigationModal/index.ts
  frontend/resourceadm/components/PolicyEditor/ExpandablePolicyCard/ExpandablePolicyCard.tsx
  frontend/resourceadm/components/PolicyEditor/PolicyEditor.tsx
  frontend/resourceadm/components/ResourceDeployEnvCard/ResourceDeployEnvCard.module.css
  frontend/resourceadm/components/ResourceDeployEnvCard/ResourceDeployEnvCard.tsx
  frontend/resourceadm/components/ResourceDeployStatus/ResourceDeployStatus.module.css
  frontend/resourceadm/components/ResourceDeployStatus/ResourceDeployStatus.tsx
  frontend/resourceadm/components/ResourceTable/ResourceTable.module.css
  frontend/resourceadm/components/ScreenReaderSpan/ScreenReaderSpan.module.css
  frontend/resourceadm/components/ScreenReaderSpan/ScreenReaderSpan.tsx
  frontend/resourceadm/components/ScreenReaderSpan/index.ts
  frontend/resourceadm/pages/AboutResourceOld/AboutResourceOld.module.css
  frontend/resourceadm/pages/AboutResourceOld/AboutResourceOld.tsx
  frontend/resourceadm/pages/AboutResourceOld/index.ts
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.module.css
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.module.css
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.tsx
  frontend/resourceadm/pages/ErrorPage/ErrorPage.module.css
  frontend/resourceadm/pages/ErrorPage/ErrorPage.tsx
  frontend/resourceadm/pages/PageLayout/VersionControlHeader/VersionControlButtons/SyncModal/SyncModal.tsx
  frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.tsx
  frontend/resourceadm/pages/RedirectPage/RedirectPage.module.css
  frontend/resourceadm/pages/RedirectPage/RedirectPage.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.module.css
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.module.css
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/resourceadm/types/global.ts
  frontend/resourceadm/utils/backendUrlUtils/backendUserUtils.ts
  frontend/resourceadm/utils/backendUrlUtils/index.ts
  frontend/resourceadm/utils/mapperUtils/index.ts
Labels: solution/studio/designer

#10606 Resourceadm delete unused code
  frontend/resourceadm/components/DataModelsRepoList/DatamodelsRepoList.tsx
  frontend/resourceadm/components/DataModelsRepoList/index.ts
  frontend/resourceadm/components/FavoriteReposList/FavoriteReposList.tsx
  frontend/resourceadm/components/FavoriteReposList/index.ts
  frontend/resourceadm/components/Footer/Footer.tsx
  frontend/resourceadm/components/Footer/Resources/ResourceItem/ResourceItem.module.css
  frontend/resourceadm/components/Footer/Resources/ResourceItem/ResourceItem.tsx
  frontend/resourceadm/components/Footer/Resources/ResourceItem/index.ts
  frontend/resourceadm/components/Footer/Resources/Resources.module.css
  frontend/resourceadm/components/Footer/Resources/Resources.tsx
  frontend/resourceadm/components/Footer/Resources/index.ts
  frontend/resourceadm/components/MakeCopyModal/MakeCopyModal.module.css
  frontend/resourceadm/components/MakeCopyModal/MakeCopyModal.tsx
  frontend/resourceadm/components/MakeCopyModal/index.ts
  frontend/resourceadm/components/OrgRepoList/OrgReposList.tsx
  frontend/resourceadm/components/OrgRepoList/index.ts
  frontend/resourceadm/components/RepoList/RepoList.module.css
  frontend/resourceadm/components/RepoList/RepoList.tsx
  frontend/resourceadm/components/RepoList/index.ts
  frontend/resourceadm/components/RepoNameInput/RepoNameInput.tsx
  frontend/resourceadm/components/RepoNameInput/index.ts
  frontend/resourceadm/components/ResourceItem/index.ts
  frontend/resourceadm/components/RessursBeskrivelseInput/RessursBeskrivelseInput.tsx
  frontend/resourceadm/components/RessursBeskrivelseInput/index.ts
  frontend/resourceadm/components/RessursRettighetsBeskrivelseInput/RessursRettighetsBeskrivelseInput.tsx
  frontend/resourceadm/components/RessursRettighetsBeskrivelseInput/index.ts
  frontend/resourceadm/components/RessursSektorValg/RessursSektorValg.tsx
  frontend/resourceadm/components/RessursSektorValg/index.ts
  frontend/resourceadm/components/RessursTematikkValg/RessursTematikkValg.tsx
  frontend/resourceadm/components/RessursTematikkValg/index.ts
  frontend/resourceadm/components/RessursTittelInput/RessursTittelInput.tsx
  frontend/resourceadm/components/RessursTittelInput/index.ts
  frontend/resourceadm/components/RessursTypeValg/RessursTypeValg.tsx
  frontend/resourceadm/components/RessursTypeValg/index.ts
  frontend/resourceadm/components/SearchResultReposList/SearchResultReposList.tsx
  frontend/resourceadm/components/SearchResultReposList/index.ts
  frontend/resourceadm/components/ServiceOwnerSelector/ServiceOwnerSelector.tsx
  frontend/resourceadm/components/ServiceOwnerSelector/index.ts
  frontend/resourceadm/constants/index.ts
  frontend/resourceadm/hooks/mutations/index.ts
  frontend/resourceadm/hooks/mutations/useAddRepoMutation.ts
  frontend/resourceadm/hooks/mutations/useCopyAppMutation.ts
  frontend/resourceadm/hooks/mutations/useSetStarredRepoMutation.ts
  frontend/resourceadm/hooks/mutations/useUnsetStarredRepoMutation.ts
  frontend/resourceadm/hooks/queries/index.ts
  frontend/resourceadm/hooks/queries/useSearchReposQuery.ts
  frontend/resourceadm/hooks/queries/useStarredReposQuery.ts
  frontend/resourceadm/hooks/useAugmentReposWithStarred/index.ts
  frontend/resourceadm/hooks/useAugmentReposWithStarred/useAugmentReposWithStarred.ts
  frontend/resourceadm/hooks/useReposSearch/index.ts
  frontend/resourceadm/hooks/useReposSearch/useRepoSearch.ts
  frontend/resourceadm/utils/repoUtils/index.ts
  frontend/resourceadm/utils/repoUtils/repoUtils.test.ts
  frontend/resourceadm/utils/repoUtils/repoUtils.ts
Labels: solution/studio/designer

#10615 Updated spring-boot-version
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#10604 Rewritten the validation endpoint
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Helpers/ResourceAdminHelper.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Interfaces/IRepository.cs
  backend/tests/Designer.Tests/Controllers/ResourceAdminControllerTests.cs
  backend/tests/Designer.Tests/Helpers/ResourceAdminHelperTest.cs
Labels: solution/studio/designer

#10616 ensure dependencies are installed
  frontend/testing/cypress/use-cases-prod.yaml
Labels: solution/studio/designer

#10617 set values directly instead of using object.assign to get correct value
  frontend/packages/schema-model/src/lib/build-ui-schema.ts
  frontend/packages/schema-model/src/lib/utils.ts
Labels: kind/bug, area/data-modeling, solution/studio/designer

#10618 updated tests so they pass
  frontend/testing/cypress/src/integration/studio/datamodel.js
  frontend/testing/cypress/src/integration/studio/designer.js
  frontend/testing/cypress/src/integration/studio/sync-app.js
  frontend/testing/cypress/src/pageobjects/header.js
  frontend/testing/cypress/src/support/studio.js
Labels: solution/studio/designer
