Repository Altinn/altinn-studio, pull requests merged in 2023-04, with the labels that each got.

#10129 Chore(tests): app development integration tests
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Models/LayoutSettings.cs
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Interfaces/IAppDevelopmentService.cs
  backend/tests/DataModeling.Tests/ModelSerializationTests.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/DeleteFormLayoutTests.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/GetFormLayoutsTests.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/GetLayoutSettingsTests.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/GetRuleConfigTests.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/GetRuleHandlerTests.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/SaveFormLayoutTests.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/SaveLayoutSettingsTests.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/SaveRuleConfigTests.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/SaveRuleHandlerTests.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/UpdateFormLayoutNameTests.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/Utils/FileContentVerifier.cs
  backend/tests/Designer.Tests/Services/AppDevelopmentServiceTest.cs
  backend/tests/SharedResources.Tests/JsonUtils.cs
  backend/tests/SharedResources.Tests/SharedResources.Tests.csproj
  testdata/App/ui/changename/RuleConfiguration.json
  testdata/App/ui/changename/RuleHandler.js
  testdata/App/ui/changename/Settings.json
  testdata/App/ui/changename/layouts/form.json
  testdata/App/ui/changename/layouts/summary.json
  testdata/App/ui/datalist/RuleHandler.js
  testdata/App/ui/datalist/Settings.json
  testdata/App/ui/datalist/layouts/formLayout.json
  testdata/App/ui/datalist/layouts/summary.json
  testdata/App/ui/group/RuleConfiguration.json
  testdata/App/ui/group/RuleHandler.js
  testdata/App/ui/group/Settings.json
  testdata/App/ui/group/layouts/hide.json
  testdata/App/ui/group/layouts/prefill.json
  testdata/App/ui/group/layouts/repeating.json
  testdata/App/ui/group/layouts/summary.json
  testdata/App/ui/layoutWithUnknownProperties.json
  testdata/App/ui/likert/RuleHandler.js
  testdata/App/ui/likert/Settings.json
  testdata/App/ui/likert/layouts/formLayout.json
  testdata/App/ui/message/RuleHandler.js
  testdata/App/ui/message/Settings.json
  testdata/App/ui/message/layouts/formLayout.json
Labels: solution/studio/designer

#10145 Bug/update k6 register test
  src/test/K6/src/tests/platform/register/register.js
Labels: area/test

#10148 Fixed nullcheck
  src/test/K6/src/setup.js
Labels: area/test

#10154 map over all selected translations and add overflow css
  frontend/packages/text-editor/src/TextEditor.tsx
  frontend/packages/text-editor/src/TextList.test.tsx
  frontend/packages/text-editor/src/TextList.tsx
  frontend/packages/text-editor/src/TextRow.module.css
  frontend/packages/text-editor/src/TextRow.test.tsx
  frontend/packages/text-editor/src/TextRow.tsx
Labels: solution/studio/designer, area/text-editor

#10157 Bug/missing undefined check text editor
  frontend/packages/text-editor/src/TextEditor.tsx
Labels: solution/studio/designer, area/text-editor

#10160 Add testid to publish and preview buttons
  frontend/app-development/layout/AppBar/AppBar.tsx
  frontend/app-development/layout/AppBar/appBarConfig.ts
  frontend/testing/cypress/cypress.config.js
  frontend/testing/cypress/src/integration/usecase/usecase.js
  frontend/testing/cypress/src/pageobjects/designer.js
Labels: solution/studio/designer

#10137 Mock app-api endpoints in previewController
  backend/src/Designer/Controllers/PreviewController.cs
  backend/src/Designer/Designer.csproj
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Models/ApplicationSettings.cs
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
  backend/src/Designer/Services/Implementation/PreviewService.cs
  backend/src/Designer/Services/Interfaces/IPreviewService.cs
  backend/src/Designer/Views/Preview/index.cshtml
  backend/src/Designer/wwwroot/designer/html/preview.html
  backend/tests/Designer.Tests/Controllers/PreviewController/PreviewControllerBase.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/PreviewControllerTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/App/ui/Settings.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/hvem-er-hvem/App/ui/layouts/layout.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/preview-app/App/config/applicationmetadata.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/preview-app/App/config/texts/resource.en.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/preview-app/App/config/texts/resource.nb.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/preview-app/App/models/custom-dm-name.schema.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/preview-app/App/ui/Settings.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/preview-app/App/ui/layouts/layout.json
  frontend/app-preview/index.tsx
  frontend/app-preview/src/PreviewApp.tsx
  frontend/app-preview/src/PreviewContext.tsx
  frontend/app-preview/src/views/LandingPage.module.css
  frontend/app-preview/src/views/LandingPage.tsx
  frontend/app-preview/src/views/NoMatch.tsx
Labels: solution/studio/designer

#10123 10091 datamodelling frontend create better documentation and small re…
  frontend/packages/schema-model/README.md
  frontend/packages/schema-model/src/lib/build-ui-schema.ts
  frontend/packages/schema-model/src/lib/mappers/custom-properties.test.ts
  frontend/packages/schema-model/src/lib/selectors.ts
  frontend/packages/schema-model/src/lib/types.ts
Labels: area/data-modeling, solution/studio/designer

#10182 Call layout name update service when updating layout name
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/leftMenu/PageElement.test.tsx
  frontend/packages/ux-editor/src/components/leftMenu/PageElement.tsx
  frontend/packages/ux-editor/src/testing/mocks.tsx
Labels: area/ui-editor, solution/studio/designer

#10138 10136 expand preview to handle multiple languages
  backend/src/Designer/Controllers/PreviewController.cs
  backend/src/Designer/Controllers/TextController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Models/ApplicationLanguage.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Implementation/TextsService.cs
  backend/src/Designer/Services/Interfaces/IRepository.cs
  backend/src/Designer/Services/Interfaces/ITextsService.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/PreviewControllerTests.cs
  frontend/app-preview/index.tsx
  frontend/app-preview/src/PreviewApp.tsx
  frontend/packages/shared/src/constants.js
Labels: solution/studio/designer

#10186 chore: splitting config controller tests
  backend/tests/Designer.Tests/Controllers/ConfigController/ConfigControllerTestsBase.cs
  backend/tests/Designer.Tests/Controllers/ConfigController/GetServiceConfigTests.cs
  backend/tests/Designer.Tests/Controllers/ConfigController/SetServiceConfigTests.cs
  backend/tests/Designer.Tests/Controllers/ConfigControllerTests.cs
Labels: solution/studio/designer

#10191 Quick fix/preview 404 missing datamodel
  backend/src/Designer/Controllers/PreviewController.cs
  backend/src/Designer/Services/Implementation/PreviewService.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/PreviewControllerTests.cs
Labels: solution/studio/designer

#10144 Feature/9976 create api in resource admin controller that lists resources in the resource repository for the given org
  backend/src/Designer/Controllers/CompetentAuthority.cs
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Designer.csproj
  backend/src/Designer/Enums/ReferenceSource.cs
  backend/src/Designer/Enums/ReferenceType.cs
  backend/src/Designer/Enums/ResourceType.cs
  backend/src/Designer/Models/Keyword.cs
  backend/src/Designer/Models/ResourceReference.cs
  backend/src/Designer/Models/ServiceResource.cs
  backend/src/Designer/Services/Implementation/GiteaAPIWrapper.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Interfaces/IRepository.cs
  backend/tests/Designer.Tests/Controllers/ResourceAdminControllerTests.cs
Labels: solution/studio/designer

#10198 Hide preview in production
  frontend/app-development/layout/AppBar/AppBar.tsx
Labels: solution/studio/designer

#10199 Add placehodler for edit label
  frontend/packages/ux-editor/src/components/config/editModal/EditTitle.tsx
Labels: area/ui-editor, solution/studio/designer

#10204 Disable cypress usecase test for preview button
  frontend/app-development/layout/AppBar/AppBar.tsx
  frontend/testing/cypress/src/integration/usecase/usecase.js
Labels: solution/studio/designer

#10197 Persist context and page size in the url using the useSearchParams hook
  frontend/dashboard/contexts/appContext.tsx
  frontend/dashboard/hooks/useReposSearch/useRepoSearch.ts
  frontend/dashboard/hooks/useSearchParamsState/index.ts
  frontend/dashboard/hooks/useSearchParamsState/useSearchParamsState.test.ts
  frontend/dashboard/hooks/useSearchParamsState/useSearchParamsState.ts
Labels: area/dashboard, solution/studio/designer

#10205 Get rules from rulemodel state
  frontend/packages/ux-editor/src/components/toolbar/RuleModal.tsx
Labels: area/ui-editor, solution/studio/designer

#10206 Fix automatic addition/removal of navigation buttons
  frontend/packages/shared/src/utils/arrayUtils.test.ts
  frontend/packages/shared/src/utils/arrayUtils.ts
  frontend/packages/ux-editor/src/components/leftMenu/PageElement.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useAddFormComponentMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddLayoutMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormComponentsMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteLayoutMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useFormLayoutMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useFormLayoutMutation.ts
  frontend/packages/ux-editor/src/utils/formLayout.test.tsx
  frontend/packages/ux-editor/src/utils/formLayout.ts
  frontend/packages/ux-editor/src/utils/formLayoutsUtils.test.ts
  frontend/packages/ux-editor/src/utils/formLayoutsUtils.ts
Labels: area/ui-editor, solution/studio/designer

#10187 chore: repository ntegration tests
  backend/tests/Designer.Tests/Controllers/RepositoryController/ContentsTests.cs
  backend/tests/Designer.Tests/Controllers/RepositoryController/CopyAppTests.cs
  backend/tests/Designer.Tests/Controllers/RepositoryController/CreateAppTests.cs
  backend/tests/Designer.Tests/Controllers/RepositoryController/OrgReposTests.cs
  backend/tests/Designer.Tests/Controllers/RepositoryController/RepositoryControllerTestsBase.cs
  backend/tests/Designer.Tests/Controllers/RepositoryControllerTests.cs
  backend/tests/Designer.Tests/Controllers/ResourceAdminControllerTests.cs
Labels: solution/studio/designer

#10208 Fixed a couple of broken links in the readme file
  frontend/testing/cypress/README.md
Labels: solution/studio/designer

#10218 Fix typo
  frontend/language/src/nb.json
Labels: solution/studio/designer

#10217 update to useIsProdHack to feature toggle in prod
  frontend/app-development/layout/AppBar/AppBar.tsx
Labels: solution/studio/designer

#10214 Bump dependencies
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/controllers/PDFController.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/Instance.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/Party.java
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/models/PdfContext.java
Labels: area/pdf, solution/platform

#10195 Implement React Query for text resources in the forms editor
  frontend/app-development/queries/mutations.ts
  frontend/app-development/queries/queries.ts
  frontend/packages/shared/src/types/global.ts
  frontend/packages/shared/src/utils/textResourceUtils.test.ts
  frontend/packages/shared/src/utils/textResourceUtils.ts
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/components/FormComponent.tsx
  frontend/packages/ux-editor/src/components/TextResource.test.tsx
  frontend/packages/ux-editor/src/components/TextResource.tsx
  frontend/packages/ux-editor/src/components/TextResourceEdit.test.tsx
  frontend/packages/ux-editor/src/components/TextResourceEdit.tsx
  frontend/packages/ux-editor/src/components/TextResourceOption.test.tsx
  frontend/packages/ux-editor/src/components/config/EditModalContent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Image/ImageComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditHeaderSize.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBinding.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/ButtonPreview/ButtonPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/ButtonPreview/ButtonPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.test.tsx
  frontend/packages/ux-editor/src/containers/Container.tsx
  frontend/packages/ux-editor/src/containers/DesignView.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.test.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
  frontend/packages/ux-editor/src/features/appData/appDataSagas.ts
  frontend/packages/ux-editor/src/features/appData/textResources/textResourcesSlice.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddWidgetMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddWidgetMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpsertTextResourcesMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpsertTextResourcesMutation.ts
  frontend/packages/ux-editor/src/hooks/queries/useTextResourcesQuery.test.ts
  frontend/packages/ux-editor/src/hooks/queries/useTextResourcesQuery.ts
  frontend/packages/ux-editor/src/hooks/useTextResourcesSelector.ts
  frontend/packages/ux-editor/src/selectors/textResourceSelectors.test.ts
  frontend/packages/ux-editor/src/selectors/textResourceSelectors.ts
  frontend/packages/ux-editor/src/testing/mocks.tsx
  frontend/packages/ux-editor/src/types/QueryKey.ts
  frontend/packages/ux-editor/src/types/global.ts
  frontend/packages/ux-editor/src/utils/language.ts
  frontend/packages/ux-editor/src/utils/widgetUtils.test.ts
  frontend/packages/ux-editor/src/utils/widgetUtils.ts
Labels: area/ui-editor, solution/studio/designer

#10233 Change post to del on delete attachment comp endpoint
  backend/src/Designer/Controllers/ApplicationMetadataController.cs
  frontend/app-development/queries/mutations.ts
Labels: solution/studio/designer

#10229 Replace AltinnSpinner/MUI CircularProgress with designsystem
  frontend/app-development/features/administration/components/Administration.test.tsx
  frontend/app-development/features/appPublish/components/appReleaseComponent.module.css
  frontend/app-development/features/appPublish/components/appReleaseComponent.tsx
  frontend/app-development/features/appPublish/containers/releaseContainer.tsx
  frontend/app-development/layout/version-control/SyncModal.tsx
  frontend/dashboard/app/App.tsx
  frontend/dashboard/pages/Dashboard/Dashboard.tsx
  frontend/packages/shared/src/components/AltinnPopover.tsx
  frontend/packages/shared/src/components/AltinnSpinner.module.css
  frontend/packages/shared/src/components/AltinnSpinner.test.tsx
  frontend/packages/shared/src/components/AltinnSpinner.tsx
  frontend/packages/shared/src/components/PageSpinner/PageSpinner.module.css
  frontend/packages/shared/src/components/PageSpinner/PageSpinner.tsx
  frontend/packages/shared/src/components/PageSpinner/index.ts
  frontend/packages/shared/src/components/index.ts
  frontend/packages/ux-editor/src/App.tsx
Labels: area/ui-editor, area/dashboard, area/app-deploy, solution/studio/designer

#10253 Fix missing spinner/loader during deploy of app
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
Labels: area/app-deploy, solution/studio/designer

#10255 update selector for login button
  frontend/testing/cypress/src/pageobjects/loginandreg.js
Labels: solution/studio/designer

#10202 Feature/10194 create api endpoint in resource admin controller that reads resource in the resource repository
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Interfaces/IRepository.cs
  backend/tests/Designer.Tests/Controllers/ResourceAdminControllerTests.cs
Labels: solution/studio/designer

#10254 chore: RepositorySettingsController integration tests
  backend/tests/Designer.Tests/Controllers/RepositorySettingsController/GetTests.cs
  backend/tests/Designer.Tests/Controllers/RepositorySettingsController/PutTests.cs
  backend/tests/Designer.Tests/Controllers/RepositorySettingsController/RepositorySettingsControllerTestsBase.cs
  backend/tests/Designer.Tests/Controllers/RepositorySettingsControllerTests.cs
Labels: solution/studio/designer

#10251 Chore: app metadata tests
  backend/src/Designer/Controllers/ApplicationMetadataController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Services/Implementation/ApplicationMetadataService.cs
  backend/src/Designer/Services/Interfaces/IApplicationMetadataService.cs
  backend/tests/Designer.Tests/Controllers/ApplicationMetadataController/AddMetadataForAttachmentTests.cs
  backend/tests/Designer.Tests/Controllers/ApplicationMetadataController/ApplicationMetadataControllerTestsBase.cs
  backend/tests/Designer.Tests/Controllers/ApplicationMetadataController/CreateApplicationMetadataTests.cs
  backend/tests/Designer.Tests/Controllers/ApplicationMetadataController/DeleteMetadataForAttachmentTests.cs
  backend/tests/Designer.Tests/Controllers/ApplicationMetadataController/GetApplicationMetadataTests.cs
  backend/tests/Designer.Tests/Controllers/ApplicationMetadataController/UpdateApplicationMetadataTests.cs
  backend/tests/Designer.Tests/Controllers/ApplicationMetadataController/UpdateMetadataForAttachmentTests.cs
  backend/tests/SharedResources.Tests/SharedResources.Tests.csproj
  testdata/App/config/applicationmetadata.json
Labels: solution/studio/designer

#10263 replace setInterval with react query refetchInterval
  frontend/app-development/features/appPublish/containers/deployContainer.tsx
  frontend/app-development/features/appPublish/hooks/query-hooks.ts
  frontend/packages/shared/src/constants.js
Labels: area/app-deploy, solution/studio/designer

#10257 React query for rule models
  frontend/app-development/queries/queries.ts
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/components/config/ConditionalRenderingComponent.tsx
  frontend/packages/ux-editor/src/components/toolbar/ConditionalRenderingModal.tsx
  frontend/packages/ux-editor/src/components/toolbar/RuleModal.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.test.tsx
  frontend/packages/ux-editor/src/features/appData/appDataReducers.ts
  frontend/packages/ux-editor/src/features/appData/appDataSagas.ts
  frontend/packages/ux-editor/src/features/appData/externalComponents/externalComponentsSlice.ts
  frontend/packages/ux-editor/src/features/appData/ruleModel/ruleModelSlice.ts
  frontend/packages/ux-editor/src/hooks/queries/useRuleModelQuery.test.ts
  frontend/packages/ux-editor/src/hooks/queries/useRuleModelQuery.ts
  frontend/packages/ux-editor/src/sagas.ts
  frontend/packages/ux-editor/src/testing/mocks.tsx
  frontend/packages/ux-editor/src/testing/ruleHandlerMock.ts
  frontend/packages/ux-editor/src/types/QueryKey.ts
  frontend/packages/ux-editor/src/types/global.ts
Labels: area/ui-editor, solution/studio/designer

#10265 Add fileuploadwithtag to condition for altering app metadata
  frontend/packages/ux-editor/src/hooks/mutations/useAddFormComponentMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormComponentsMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentMutation.ts
Labels: area/ui-editor, solution/studio/designer

#10266 feature/update-auto-deploy-app-v3
  frontend/testing/cypress/config/dev.json
Labels: solution/studio/designer

#10264 wrap deployments update in try/catch block
  backend/src/Designer/Services/Implementation/DeploymentService.cs
  backend/src/Designer/TypedHttpClients/AzureDevOps/AzureDevOpsBuildClient.cs
Labels: solution/studio/designer

#10268 feature/update-auto-deploy-app-v3-prod
  frontend/testing/cypress/config/prod.json
Labels: solution/studio/designer

#10219 Add window location redirect for preview button
  frontend/app-development/layout/AppBar/AppBar.test.tsx
  frontend/app-development/layout/AppBar/AppBar.tsx
  frontend/app-preview/src/views/LandingPage.tsx
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/api-paths/index.js
Labels: solution/studio/designer

#10228 Update README.md
  frontend/testing/cypress/README.md
Labels: solution/studio/designer

#10207 Move the organization from the query strings (/dashboard/?org=XXX) to the route path (/dashboard/XXX/) to be consistent with the routes of the editor
  frontend/dashboard/app/App.tsx
  frontend/dashboard/components/DataModelsRepoList/DatamodelsRepoList.tsx
  frontend/dashboard/components/OrgRepoList/OrgReposList.tsx
  frontend/dashboard/components/RepoList/RepoList.tsx
  frontend/dashboard/components/SearchResultReposList/SearchResultReposList.tsx
  frontend/dashboard/constants/index.ts
  frontend/dashboard/contexts/appContext.tsx
  frontend/dashboard/dashboardTestUtils.tsx
  frontend/dashboard/hooks/useReposSearch/useRepoSearch.ts
  frontend/dashboard/hooks/useSelectedContext/index.ts
  frontend/dashboard/hooks/useSelectedContext/useSelectedContext.ts
  frontend/dashboard/index.tsx
  frontend/dashboard/pages/CreateService/CreateService.tsx
  frontend/dashboard/pages/Dashboard/Dashboard.test.tsx
  frontend/dashboard/pages/Dashboard/Dashboard.tsx
  frontend/dashboard/pages/PageLayout/PageLayout.tsx
  frontend/dashboard/pages/PageLayout/index.ts
  frontend/dashboard/utils/filterUtils/filterUtils.test.ts
  frontend/dashboard/utils/filterUtils/filterUtils.ts
  frontend/dashboard/utils/repoUtils/repoUtils.test.ts
  frontend/dashboard/utils/repoUtils/repoUtils.ts
  frontend/dashboard/utils/userUtils/userUtils.test.ts
  frontend/dashboard/utils/userUtils/userUtils.ts
  frontend/packages/shared/src/navigation/main-header/Header.test.tsx
  frontend/packages/shared/src/navigation/main-header/Header.tsx
  frontend/packages/shared/src/navigation/main-header/HeaderMenu.test.tsx
  frontend/packages/shared/src/navigation/main-header/HeaderMenu.tsx
Labels: area/dashboard, solution/studio/designer

#10267 Add support for custom properties on root and data levels
  frontend/packages/shared/src/types/KeyValuePairs.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditComponentId.tsx
  frontend/packages/ux-editor/src/components/leftMenu/ConfPageToolbar.tsx
  frontend/packages/ux-editor/src/components/leftMenu/DefaultToolbar.tsx
  frontend/packages/ux-editor/src/containers/Container.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.test.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useAddFormComponentMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddFormComponentMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddFormContainerMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddWidgetMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormComponentsMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormComponentsMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormContainerMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useFormLayoutMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useFormLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateContainerIdMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentOrderMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormContainerMutation.test.ts
  frontend/packages/ux-editor/src/hooks/queries/useFormLayoutsQuery.ts
  frontend/packages/ux-editor/src/selectors/formLayoutSelectors.test.ts
  frontend/packages/ux-editor/src/selectors/formLayoutSelectors.ts
  frontend/packages/ux-editor/src/testing/mocks.tsx
  frontend/packages/ux-editor/src/types/global.ts
  frontend/packages/ux-editor/src/utils/formLayoutUtils.test.tsx
  frontend/packages/ux-editor/src/utils/formLayoutUtils.ts
  frontend/packages/ux-editor/src/utils/formLayoutsUtils.test.ts
  frontend/packages/ux-editor/src/utils/formLayoutsUtils.ts
  frontend/packages/ux-editor/src/utils/generateId.test.tsx
Labels: area/ui-editor, solution/studio/designer

#10270 Removed edit icone for appname to prevent change textkay for appName
  frontend/packages/shared/src/constants.js
  frontend/packages/text-editor/src/TextList.tsx
  frontend/packages/text-editor/src/TextRow.test.tsx
  frontend/packages/text-editor/src/TextRow.tsx
Labels: solution/studio/designer, area/text-editor

#10275 Added auto-deploy-app-v3 in local json and data.sql
  development/db/data.sql
  frontend/testing/cypress/config/local.json
Labels: solution/studio/designer

#10271 Feature/mvccontrollerforresourceadm
  backend/src/Designer/Controllers/ResourceAdmController.cs
  backend/src/Designer/Designer.csproj
  backend/src/Designer/Views/ResourceAdm/Index.cshtml
  backend/tests/Designer.Tests/Controllers/ResourceAdminControllerTests.cs
Labels: solution/studio/designer

#10282 Updated cypress tests so they run green locally
  development/utils/create-cypress-env-file.js
  frontend/packages/shared/src/navigation/main-header/__snapshots__/profileMenu.test.tsx.snap
  frontend/packages/shared/src/navigation/main-header/profileMenu.test.tsx
  frontend/packages/shared/src/navigation/main-header/profileMenu.tsx
  frontend/testing/cypress/src/integration/studio/designer.js
  frontend/testing/cypress/src/integration/studio/new-app.js
  frontend/testing/cypress/src/integration/studio/sync-app.js
  frontend/testing/cypress/src/integration/studio/wcag.js
  frontend/testing/cypress/src/pageobjects/header.js
Labels: solution/studio/designer

#10280 support different states of add/remove layouts
  frontend/packages/shared/src/constants.js
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/components/leftMenu/LeftMenu.tsx
  frontend/packages/ux-editor/src/components/leftMenu/PageElement.tsx
  frontend/packages/ux-editor/src/components/leftMenu/PagesContainer.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  frontend/packages/ux-editor/src/features/formDesigner/formDesignerTypes.ts
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSlice.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteLayoutMutation.ts
  frontend/packages/ux-editor/src/utils/formLayoutsUtils.test.ts
  frontend/packages/ux-editor/src/utils/formLayoutsUtils.ts
Labels: area/ui-editor, solution/studio/designer
