Repository Altinn/altinn-studio, pull requests merged in 2023-01, with the labels that each got.

#9482 9481 altinn studio frontend speeding up the slowest tests
  frontend/dashboard/features/dashboard/Dashboard.test.tsx
  frontend/dashboard/features/dashboard/Dashboard.tsx
  frontend/dashboard/features/dashboard/DatamodelsRepoList.tsx
  frontend/dashboard/features/dashboard/FavoriteReposList.tsx
  frontend/dashboard/features/dashboard/OrgReposList.tsx
  frontend/dashboard/features/dashboard/SearchResultReposList.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor.test.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.tsx
  frontend/packages/schema-editor/src/components/common/ActionMenu.tsx
  frontend/packages/schema-editor/src/store.ts
  frontend/packages/shared/src/components/molecules/AltinnMenuItem.tsx
  frontend/packages/ux-editor/src/store.ts
Labels: area/ui-editor, area/dashboard

#9491 Add await
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
Labels: solution/studio/designer

#9478 Change all endpoints to use attribute routes
  src/studio/src/designer/backend.Tests/Controllers/DataModelsController/UpdateDatamodelTests.cs
  src/studio/src/designer/backend/Configuration/ServiceRepositorySettings.cs
  src/studio/src/designer/backend/Controllers/ConfigController.cs
  src/studio/src/designer/backend/Controllers/DatamodelsController.cs
  src/studio/src/designer/backend/Controllers/HomeController.cs
  src/studio/src/designer/backend/Controllers/ManualTestingController.cs
  src/studio/src/designer/backend/Controllers/ModelController.cs
  src/studio/src/designer/backend/Controllers/RedirectController.cs
  src/studio/src/designer/backend/Controllers/RepositoryController.cs
  src/studio/src/designer/backend/Controllers/ServiceDevelopmentController.cs
  src/studio/src/designer/backend/Controllers/TextController.cs
  src/studio/src/designer/backend/Controllers/UIEditorController.cs
  src/studio/src/designer/backend/Program.cs
  src/studio/src/designer/backend/Services/Implementation/RepositorySI.cs
  src/studio/src/designer/backend/Services/Interfaces/IRepository.cs
Labels: solution/studio/designer

#9342 TestData rewrite for LocalTest
  src/development/LocalTest/Controllers/HomeController.cs
  src/development/LocalTest/LocalTest.csproj
  src/development/LocalTest/Services/Authorization/Implementation/ClaimsService.cs
  src/development/LocalTest/Services/Authorization/Implementation/PartiesService.cs
  src/development/LocalTest/Services/Authorization/Implementation/RolesWrapper.cs
  src/development/LocalTest/Services/Authorization/Interface/IClaims.cs
  src/development/LocalTest/Services/Authorization/Interface/IParties.cs
  src/development/LocalTest/Services/LocalApp/Implementation/LocalAppFile.cs
  src/development/LocalTest/Services/LocalApp/Implementation/LocalAppHttp.cs
  src/development/LocalTest/Services/LocalApp/Interface/ILocalApp.cs
  src/development/LocalTest/Services/Profile/Implementation/UserProfilesWrapper.cs
  src/development/LocalTest/Services/Profile/Interface/IUserProfiles.cs
  src/development/LocalTest/Services/Register/Implementation/OrganizationsWrapper.cs
  src/development/LocalTest/Services/Register/Implementation/PartiesWrapper.cs
  src/development/LocalTest/Services/Register/Implementation/PersonsWrapper.cs
  src/development/LocalTest/Services/Register/Interface/IOrganizations.cs
  src/development/LocalTest/Services/Register/Interface/IParties.cs
  src/development/LocalTest/Services/Register/Interface/IPersons.cs
  src/development/LocalTest/Services/TestData/AppTestDataModel.cs
  src/development/LocalTest/Services/TestData/TestDataDiskReader.cs
  src/development/LocalTest/Services/TestData/TestDataModel.cs
  src/development/LocalTest/Services/TestData/TestDataService.cs
  src/development/LocalTest/Startup.cs
Labels: external-contribution-❤️, status/triage

#9496 add `short` dateFormat option to ensure dd.mm.yyyy
  frontend/dashboard/common/components/RepoList/RepoList.tsx
Labels: area/dashboard

#9497 9434 mangler sortering på opprettet av i altinn studio applikasjoner
  frontend/dashboard/common/components/RepoList/RepoList.tsx
Labels: area/dashboard

#9322 Bug in PDF generation when PDF generator started through cmd
  src/Altinn.Platform/Altinn.Platform.PDF/src/main/java/altinn/platform/pdf/services/PDFGenerator.java
Labels: area/pdf, solution/platform

#9499 Delete Altinn.Common.AccessToken
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken.sln
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/AccessTokenHandler.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/AccessTokenRequirement.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Altinn.Common.AccessToken.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Configuration/AccessTokenSettings.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Configuration/KeyVaultSettings.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Constants/AccessTokenClaimTypes.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Properties/launchSettings.json
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Services/AccessTokenValidator.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Services/IAccessTokenValidator.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Services/ISigningKeysResolver.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessToken/Services/SigningKeysResolver.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Altinn.Common.AccessTokenClient.csproj
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Configuration/AccessTokenClaimTypes.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Configuration/AccessTokenSettings.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Properties/launchSettings.json
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Services/AccessTokenGenerator.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Services/IAccessTokenGenerator.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Services/ISigningCredentialsResolver.cs
  src/Altinn.Common/Altinn.Common.AccessToken/Altinn.Common.AccessTokenClient/Services/SigningCredentialsResolver.cs
Labels: area/authorization, skip-releasenotes

#9506 RadioButton: fallback to empty array if options is not provided as iterable
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
Labels: area/ui-editor

#9510 Split ComponentSpecificContent into smaller parts
  frontend/packages/ux-editor/src/components/config/EditModalContent.module.css
  frontend/packages/ux-editor/src/components/config/EditModalContent.test.tsx
  frontend/packages/ux-editor/src/components/config/EditModalContent.tsx
  frontend/packages/ux-editor/src/components/config/componentConfig.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Address/AddressComponent.module.css
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Address/AddressComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Address/AddressComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Address/index.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Button/ButtonComponent.module.css
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Button/ButtonComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Button/ButtonComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Button/index.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/FileUpload/FileUploadComponent.module.css
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/FileUpload/FileUploadComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/FileUpload/FileUploadComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/FileUpload/index.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/FileUploadWithTag/FileUploadWithTagComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/FileUploadWithTag/index.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Image/ImageComponent.module.css
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Image/ImageComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Image/ImageComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDescription.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditHeaderSize.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditHeaderSize.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditPreselectedIndex.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditReadOnly.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditRequired.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTitle.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.test.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
  frontend/packages/ux-editor/src/testing/mocks.tsx
  frontend/packages/ux-editor/src/utils/component.ts
  frontend/packages/ux-editor/src/utils/render.tsx
Labels: area/ui-editor

#9520 Added the InformationPanel to Studio
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/componentConfig.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/index.ts
  frontend/packages/ux-editor/src/components/index.ts
  frontend/packages/ux-editor/src/components/toolbar/InformationPanelComponent.tsx
  frontend/packages/ux-editor/src/types/global.ts
  frontend/packages/ux-editor/src/utils/language.ts
Labels: area/ui-editor

#9524 Fix form builder gap
  frontend/packages/ux-editor/src/components/config/EditModalContent.module.css
Labels: area/ui-editor

#9525 Add possibility to choose existing text resource
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/utils/arrayUtils.test.ts
  frontend/packages/shared/src/utils/arrayUtils.ts
  frontend/packages/ux-editor/src/components/TextResource.module.css
  frontend/packages/ux-editor/src/components/TextResource.test.tsx
  frontend/packages/ux-editor/src/components/TextResource.tsx
  frontend/packages/ux-editor/src/selectors/textResourceSelectors.ts
Labels: area/ui-editor

#9527 Fix capitalization for Settings.json in template.
  src/studio/AppTemplates/AspNet/App/ui/Settings.json
Labels: solution/app-backend

#9513 Delay replacement of [ORG] and [APP] in policy.xml
  backend/src/Designer/Services/Implementation/AuthorizationPolicyService.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  src/development/LocalTest/Services/Authorization/Implementation/PolicyRetrievalPoint.cs
Labels: solution/studio/designer, external-contribution-❤️

#9531 Set default action in ModelController route to Index
  backend/src/Designer/Controllers/ModelController.cs
Labels: solution/studio/designer

#9534 Mark persons from testUsers.json with missing ssn as selfIdentified
  src/development/LocalTest/Services/TestData/AppTestDataModel.cs
Labels: external-contribution-❤️

#9533 Renovate/npm minor patch
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/shared/package.json
  frontend/packages/text-editor/package.json
  frontend/packages/ux-editor/package.json
  frontend/yarn.lock
  src/test/K6/package.json
  src/test/K6/yarn.lock
  src/test/cypress/package.json
  src/test/cypress/yarn.lock
Labels: area/ui-editor, area/dashboard, area/test, kind/dependencies

#9537 9528 clone in altinn studio does not work
  frontend/packages/shared/src/version-control/CloneModal.tsx
Labels: team/studio

#9541 Fixed typo in key to show "Calculations" text
  frontend/language/src/en.json
  frontend/language/src/nb.json
Labels: kind/bug

#9545 Use correct class ref on "generate model"
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
Labels: area/data-modeling, solution/studio/designer

#9550 Check for ClassRef to set default TaskId
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
Labels: area/data-modeling, solution/studio/designer

#9547 Fix casing on test data folder /authroization/partylist
  src/development/LocalTest/Services/TestData/TestDataDiskReader.cs
Labels: external-contribution-❤️

#9551 Add preview mode for checkboxes
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/utils/arrayUtils.test.ts
  frontend/packages/shared/src/utils/arrayUtils.ts
  frontend/packages/ux-editor/src/components/DragHandle.module.css
  frontend/packages/ux-editor/src/components/TextResource.module.css
  frontend/packages/ux-editor/src/components/TextResource.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.module.css
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/index.ts
  frontend/packages/ux-editor/src/containers/ComponentPreview/ComponentPreview.test.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/ComponentPreview.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/index.ts
  frontend/packages/ux-editor/src/containers/EditContainer.module.css
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.module.css
Labels: area/ui-editor

#9532 Chore/prepare cypress setup
  README.md
  development/README.md
  development/db/data.sql
  development/db/init.sql
  development/load-balancer/502Repo.html
  development/load-balancer/nginx.conf.conf
  development/setup.js
  development/utils/ensure-dot-env.js
  development/utils/gitea-api.js
  development/utils/run-command.js
  development/utils/wait-for.js
  docker-compose.yml
  frontend/.gitignore
  frontend/dashboard/features/createService/CreateService.test.tsx
  frontend/dashboard/features/createService/ServiceOwnerSelector.tsx
  frontend/packages/shared/src/components/AltinnDropdown.module.css
  frontend/packages/shared/src/components/AltinnDropdown.test.tsx
  frontend/packages/shared/src/components/AltinnDropdown.tsx
  frontend/stats.js
  src/test/cypress/README.md
  src/test/cypress/e2e/config/local.json
  src/test/cypress/e2e/integration/usecase/usecase.js
  src/test/cypress/e2e/pageobjects/dashboard.js
  src/test/cypress/e2e/support/gitea-api.js
  src/test/cypress/e2e/support/studio.js
  src/test/cypress/package.json
Labels: area/dashboard, area/test, skip-releasenotes

#9546 Feat/8480 map component should be available to studio
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/TextFieldWithValidation/TextFieldWithValidation.module.css
  frontend/packages/ux-editor/src/components/TextFieldWithValidation/TextFieldWithValidation.test.tsx
  frontend/packages/ux-editor/src/components/TextFieldWithValidation/TextFieldWithValidation.tsx
  frontend/packages/ux-editor/src/components/TextFieldWithValidation/index.ts
  frontend/packages/ux-editor/src/components/config/componentConfig.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.module.css
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/index.ts
  frontend/packages/ux-editor/src/components/index.ts
  frontend/packages/ux-editor/src/hooks/useValidation/index.ts
  frontend/packages/ux-editor/src/hooks/useValidation/useValidation.test.ts
  frontend/packages/ux-editor/src/hooks/useValidation/useValidation.ts
  frontend/packages/ux-editor/src/types/global.ts
  frontend/packages/ux-editor/src/utils/language.ts
  frontend/packages/ux-editor/src/utils/stringUtils/index.ts
  frontend/packages/ux-editor/src/utils/stringUtils/stringUtils.test.ts
  frontend/packages/ux-editor/src/utils/stringUtils/stringUtils.ts
  frontend/packages/ux-editor/src/utils/validationUtils/index.ts
  frontend/packages/ux-editor/src/utils/validationUtils/validationUtils.test.ts
  frontend/packages/ux-editor/src/utils/validationUtils/validationUtils.ts
Labels: area/ui-editor

#9555 Bug/gitignore needs to be updated
  .gitignore
  backend/src/Designer/gulpfile.js
  backend/src/Designer/prettier.config.js
  prettier.config.js
Labels: solution/studio/designer, quality/debt

#9557 9530 altinn studio deploy font sizes and layout adjustments
  frontend/app-development/App.tsx
  frontend/app-development/config/routes.tsx
  frontend/app-development/features/appPublish/components/appDeploymentComponent.module.css
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
  frontend/app-development/features/appPublish/components/appReleaseComponent.module.css
  frontend/app-development/features/appPublish/components/appReleaseComponent.tsx
  frontend/app-development/features/appPublish/components/createAppReleaseComponent.module.css
  frontend/app-development/features/appPublish/components/createAppReleaseComponent.tsx
  frontend/app-development/features/appPublish/containers/deployContainer.tsx
  frontend/app-development/features/appPublish/containers/releaseContainer.module.css
  frontend/app-development/features/appPublish/containers/releaseContainer.tsx
  frontend/app-development/features/appPublish/pages/InfoCard.tsx
  frontend/app-development/features/appPublish/pages/deployPage.module.css
  frontend/app-development/features/appPublish/pages/deployPage.tsx
  frontend/dashboard/common/components/MakeCopyModal.tsx
  frontend/packages/shared/src/components/ErrorPopover.tsx
  frontend/packages/shared/src/components/molecules/AltinnContentLoader.tsx
  frontend/packages/shared/src/components/molecules/AltinnPopoverSimple.tsx
  frontend/packages/shared/src/features/dataModelling/components/CreateNewWrapper.tsx
  frontend/packages/shared/src/pure/date-format.test.ts
  frontend/packages/shared/src/pure/date-format.ts
  frontend/packages/shared/src/utils/formatDate.ts
  frontend/packages/ux-editor/src/hooks/useText.ts
  frontend/testing/mockend/README.md
  frontend/testing/mockend/src/fixtures/Deployments.json
  frontend/testing/mockend/src/fixtures/permissions.json
  frontend/testing/mockend/src/fixtures/releases.json
  frontend/testing/mockend/src/fixtures/status.json
  frontend/testing/mockend/src/index.js
  frontend/testing/mockend/src/routes/create-deployment.js
  frontend/testing/mockend/src/routes/create-release.js
  frontend/testing/mockend/src/routes/get-branch.js
  frontend/testing/mockend/src/utils.js
Labels: area/ui-editor, area/dashboard, area/app-deploy

#9561 Updates to use case pipeline
  src/test/K6/src/tests/app/appowner/complete-instances.js
  src/test/K6/src/tests/platform/storage/deleteinstances.js
  src/test/K6/use-cases.yaml
Labels: area/test

#9564 Use case test updates
  src/test/K6/use-cases.yaml
Labels: area/test

#9558 Fix: get default language from text-editor package when initializing.
  frontend/app-development/features/textEditor/TextEditor.tsx
  frontend/packages/text-editor/index.ts
  frontend/packages/text-editor/src/TextEditor.tsx
Labels: kind/bug

#9566 updated prod use case contitions to match test
  src/test/K6/use-cases-prod.yaml
Labels: area/test

#9563 9487 altinn studio move cypress to frontend directory
  development/setup.js
  frontend/package.json
  frontend/packages/text-editor/src/TextEditor.tsx
  frontend/testing/cypress/.gitignore
  frontend/testing/cypress/README.md
  frontend/testing/cypress/config/dev.json
  frontend/testing/cypress/config/local.json
  frontend/testing/cypress/config/prod.json
  frontend/testing/cypress/config/staging.json
  frontend/testing/cypress/cypress.config.js
  frontend/testing/cypress/package.json
  frontend/testing/cypress/src/fixtures/builds.js
  frontend/testing/cypress/src/fixtures/deploys.js
  frontend/testing/cypress/src/fixtures/texts.json
  frontend/testing/cypress/src/integration/setup/after.js
  frontend/testing/cypress/src/integration/setup/before.js
  frontend/testing/cypress/src/integration/studio/dashboard.js
  frontend/testing/cypress/src/integration/studio/deploy.js
  frontend/testing/cypress/src/integration/studio/designer.js
  frontend/testing/cypress/src/integration/studio/login.js
  frontend/testing/cypress/src/integration/studio/new-app.js
  frontend/testing/cypress/src/integration/studio/repos.js
  frontend/testing/cypress/src/integration/studio/sync-app.js
  frontend/testing/cypress/src/integration/studio/wcag.js
  frontend/testing/cypress/src/integration/usecase/usecase.js
  frontend/testing/cypress/src/pageobjects/common.js
  frontend/testing/cypress/src/pageobjects/dashboard.js
  frontend/testing/cypress/src/pageobjects/designer.js
  frontend/testing/cypress/src/pageobjects/gitea.js
  frontend/testing/cypress/src/pageobjects/header.js
  frontend/testing/cypress/src/pageobjects/loginandreg.js
  frontend/testing/cypress/src/support/custom.js
  frontend/testing/cypress/src/support/gitea-api.js
  frontend/testing/cypress/src/support/index.d.ts
  frontend/testing/cypress/src/support/index.js
  frontend/testing/cypress/src/support/studio.js
  frontend/testing/cypress/src/support/wcag.js
  frontend/testing/cypress/use-cases.yaml
  frontend/yarn.lock
  src/test/cypress/.eslintrc.json
  src/test/cypress/.prettierrc
  src/test/cypress/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  src/test/cypress/.yarn/releases/yarn-3.3.1.cjs
  src/test/cypress/.yarnrc.yml
  src/test/cypress/cypress.config.js
  src/test/cypress/package.json
  src/test/cypress/yarn.lock
Labels: area/test

#9535 chore/clean up legacy postman tests
  src/test/Postman/.gitignore
  src/test/Postman/README.md
  src/test/Postman/altinn3.postman_environment.json
  src/test/Postman/collections/App.postman_collection.json
  src/test/Postman/collections/Local-Test.postman_collection.json
  src/test/Postman/collections/Negative_Tests_Storage_and_App.postman_collection.json
  src/test/Postman/collections/Organization.postman_collection.json
  src/test/Postman/collections/Platform.postman_collection.json
  src/test/Postman/collections/Storage.postman_collection.json
Labels: area/test

#9574 extended k6 test for storage
  src/test/K6/src/tests/platform/storage/instances.js
Labels: area/test

#9573 feat: removing unused parsing code
  backend/src/Designer/Designer.csproj
  backend/src/Designer/Factories/ModelFactory/CsharpFromJsonExampleFactory.cs
  backend/src/Designer/Factories/ModelFactory/ICsharpFromJsonExampleFactory.cs
  backend/src/Designer/Factories/ModelFactory/IJsonToCsharpClassConfig.cs
  backend/src/Designer/Factories/ModelFactory/JsonToCsharpClass.cs
  backend/src/Designer/Factories/ModelFactory/ORXsdParser.cs
Labels: solution/studio/designer, quality/debt

#9572 Localtest: Sort files in directoryBrowser by LastModified
  src/development/LocalTest/Helpers/SortedHtmlDirectoryFormatter.cs
  src/development/LocalTest/Startup.cs
Labels: external-contribution-❤️, solution/localtest

#9578 Feat/setup script now creates deploy teams
  development/setup.js
  development/utils/gitea-api.js
Labels: area/app-deploy, quality/debt, team/studio

#9523 feat: use app templates repo
  Dockerfile
  README.md
  backend/src/Designer/appsettings.Development.json
  backend/src/Designer/appsettings.json
  backend/tests/Designer.Tests/Services/RepositorySITests.cs
  backend/tests/SharedResources.Tests/SharedResources.Tests.csproj
  src/studio/README.md
  testdata/AppTemplates/AspNet/.dockerignore
  testdata/AppTemplates/AspNet/.gitignore
  testdata/AppTemplates/AspNet/App.sln
  testdata/AppTemplates/AspNet/App/App.csproj
  testdata/AppTemplates/AspNet/App/JWTValidationCert.cer
  testdata/AppTemplates/AspNet/App/Program.cs
  testdata/AppTemplates/AspNet/App/Properties/launchSettings.json
  testdata/AppTemplates/AspNet/App/appsettings.Development.json
  testdata/AppTemplates/AspNet/App/appsettings.Production.json
  testdata/AppTemplates/AspNet/App/appsettings.Staging.json
  testdata/AppTemplates/AspNet/App/appsettings.json
  testdata/AppTemplates/AspNet/App/config/applicationmetadata.json
  testdata/AppTemplates/AspNet/App/config/authorization/policy.xml
  testdata/AppTemplates/AspNet/App/config/process/process.bpmn
  testdata/AppTemplates/AspNet/App/config/texts/resource.nb.json
  testdata/AppTemplates/AspNet/App/ui/RuleHandler.js
  testdata/AppTemplates/AspNet/App/ui/layouts/receipt.json
  testdata/AppTemplates/AspNet/App/ui/settings.json
  testdata/AppTemplates/AspNet/App/views/Home/Index.cshtml
  testdata/AppTemplates/AspNet/Dockerfile
  testdata/AppTemplates/AspNet/deployment/.helmignore
  testdata/AppTemplates/AspNet/deployment/Chart.yaml
  testdata/AppTemplates/AspNet/deployment/values.yaml
Labels: solution/studio/designer, quality/debt, quality/engineering

#9591 9249 remove jquery bootstrap and the old designsystem css
  Dockerfile
  README.md
  backend/src/Designer/.dockerignore
  backend/src/Designer/.gitignore
  backend/src/Designer/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  backend/src/Designer/.yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  backend/src/Designer/.yarn/releases/yarn-3.3.1.cjs
  backend/src/Designer/.yarnrc.yml
  backend/src/Designer/Configuration/ServiceRepositorySettings.cs
  backend/src/Designer/Views/Home/StartPage.cshtml
  backend/src/Designer/Views/Model/Index.cshtml
  backend/src/Designer/Views/ServiceDevelopment/index.cshtml
  backend/src/Designer/Views/Shared/Error.cshtml
  backend/src/Designer/Views/Shared/_FormBuilderLayout.cshtml
  backend/src/Designer/Views/Shared/_Layout.cshtml
  backend/src/Designer/Views/Text/Index.cshtml
  backend/src/Designer/gulpfile.js
  backend/src/Designer/package.json
  backend/src/Designer/wwwroot/designer/js/jsoneditor.js
  backend/src/Designer/wwwroot/designer/manifest.json
  backend/src/Designer/yarn.lock
  frontend/.dockerignore
  frontend/app-development/App.css
  frontend/app-development/public/index.html
  frontend/dashboard/app/App.css
  frontend/dashboard/public/index.html
  frontend/packages/shared/src/fallbackLanguage.ts
  frontend/packages/ux-editor/src/features/appData/language/languageSlice.ts
  src/development/LocalTest/Views/Shared/_Layout.cshtml
Labels: area/ui-editor, area/dashboard, solution/studio/designer

#9595 remove remaining app-template file
  src/studio/AppTemplates/AspNet/App/ui/Settings.json
Labels: solution/app-backend

#9600 The studio crashes with a blank screen when no links to data model options are available
  frontend/packages/ux-editor/src/components/config/SelectDataModelComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.tsx
  frontend/packages/ux-editor/src/containers/Container.tsx
  frontend/packages/ux-editor/src/hooks/index.ts
  frontend/packages/ux-editor/src/hooks/useText.ts
  frontend/packages/ux-editor/src/utils/render.tsx
Labels: kind/bug, area/ui-editor, bug/c1

#9593 feat: value types as nullable in datamodeling
  backend/src/Designer/Configuration/CSharpGenerationSettings.cs
  backend/src/Designer/Constants/CodeGeneration.cs
  backend/src/Designer/Controllers/DatamodelsController.cs
  backend/src/Designer/Controllers/ModelController.cs
  backend/src/Designer/Factories/ModelFactory/IModelMetadataParser.cs
  backend/src/Designer/Factories/ModelFactory/JsonMetadataParser.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/src/Designer/Services/Interfaces/IRepository.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/UpdateDatamodelTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/BaseClasses/CsharpModelConversionTestsBase.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/BaseClasses/CsharpModelOldConversionTestsBase.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/DataClasses/CSharpE2ERestrictionsTestData.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/JsonSchema2Metadata2CSharpTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/JsonSchemaToMetamodelConverterTests.cs
  backend/tests/Designer.Tests/Factories/ModelFactory/XsdToCSharpTests.cs
  backend/tests/Designer.Tests/Services/SchemaModelServiceTests.cs
  backend/tests/Designer.Tests/Utils/TestDataHelper.cs
Labels: solution/studio/designer

#9553 Hide dropdown selector for app, when http only support 1 app
  src/development/LocalTest/Controllers/HomeController.cs
  src/development/LocalTest/Models/StartAppModel.cs
  src/development/LocalTest/Views/Home/Index.cshtml
Labels: solution/localtest

#9609 1501 help tooltip found in the ui editor has some design flaws
  frontend/packages/ux-editor/src/components/toolbar/InformationPanelComponent.module.css
  frontend/packages/ux-editor/src/components/toolbar/InformationPanelComponent.tsx
Labels: area/ui-editor

#9607 Increase DX by typesafe useText-hook to ensure developers use only available translation keys.
  frontend/language/type.ts
  frontend/packages/shared/src/types/language.ts
  frontend/packages/ux-editor/src/hooks/useText.ts
Labels: area/ui-editor

#9567 Add functionality to select the party you want to represent in LocalTest
  src/development/LocalTest/Controllers/HomeController.cs
  src/development/LocalTest/Models/StartAppModel.cs
  src/development/LocalTest/Views/Home/Index.cshtml
Labels: external-contribution-❤️, solution/localtest

#9610 Should delete only the selected checkbox option within studio "CheckboxComponent"
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
Labels: kind/bug, area/ui-editor

#9613 Make sure icon buttons and input field are accessible!
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/features/dataModelling/components/DeleteWrapper.tsx
  frontend/packages/text-editor/src/TextRow.tsx
  frontend/packages/ux-editor/src/components/config/SelectDataModelComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditHeaderSize.tsx
  frontend/packages/ux-editor/src/containers/Container.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.test.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
  frontend/packages/ux-editor/src/utils/render.tsx
Labels: area/ui-editor

#9614 Add missing languages in cultures.json
  backend/src/Designer/wwwroot/designer/json/cultures.json
Labels: solution/studio/designer

#9634 9608 deploy page crashes
  frontend/app-development/features/appPublish/components/appDeploymentComponent.module.css
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
  frontend/app-development/features/appPublish/components/deploy/DeployDropdown.module.css
  frontend/app-development/features/appPublish/components/deploy/DeployDropdown.tsx
  frontend/app-development/features/appPublish/components/deploy/ErrorMessage.module.css
  frontend/app-development/features/appPublish/components/deploy/ErrorMessage.tsx
  frontend/app-development/features/appPublish/components/deploy/utils.ts
  frontend/packages/shared/src/utils/language.ts
Labels: area/app-deploy

#9639 chore/debug font issue
  frontend/packages/ux-editor/.depcheckrc.json
  frontend/packages/ux-editor/package.json
  frontend/packages/ux-editor/src/styles/index.css
  frontend/yarn.lock
Labels: area/ui-editor

#9637 File upload is not removed from both form layout and applicationmetadatajson
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSagas.ts
  frontend/packages/ux-editor/src/features/formDesigner/formLayout/formLayoutSlice.ts
Labels: area/ui-editor

#9596 9580 altinn studio repair outdated cypress tests
  development/setup.js
  frontend/.eslintrc.json
  frontend/app-development/features/administration/components/MainContent.tsx
  frontend/packages/ux-editor/src/components/leftMenu/LeftMenu.tsx
  frontend/packages/ux-editor/src/components/rightMenu/RightMenu.tsx
  frontend/packages/ux-editor/src/containers/Container.tsx
  frontend/packages/ux-editor/src/containers/EditContainer.tsx
  frontend/testing/.eslintignore
  frontend/testing/cypress/config/local.json
  frontend/testing/cypress/cypress.config.js
  frontend/testing/cypress/package.json
  frontend/testing/cypress/src/integration/setup/after.js
  frontend/testing/cypress/src/integration/setup/before.js
  frontend/testing/cypress/src/integration/studio/dashboard.js
  frontend/testing/cypress/src/integration/studio/deploy.js
  frontend/testing/cypress/src/integration/studio/designer.js
  frontend/testing/cypress/src/integration/studio/new-app.js
  frontend/testing/cypress/src/integration/studio/sync-app.js
  frontend/testing/cypress/src/integration/usecase/usecase.js
  frontend/testing/cypress/src/pageobjects/common.js
  frontend/testing/cypress/src/pageobjects/designer.js
  frontend/testing/cypress/src/support/gitea-api.js
  frontend/testing/cypress/src/support/studio.js
  frontend/yarn.lock
  src/development/loadbalancer/502Receipt.html
Labels: area/ui-editor

#9650 Update Altinn.Platform.Storage.Interface to 3.15.0
  backend/packagegroups/NuGet.props
Labels: solution/studio/designer

#9661 Fix font size issues
  frontend/app-development/App.css
  frontend/app-development/layout/AppBar/AppBar.module.css
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/shared/package.json
  frontend/packages/shared/src/navigation/drawer/LeftDrawerMenu.module.css
  frontend/packages/shared/src/navigation/main-header/Header.tsx
  frontend/packages/text-editor/package.json
  frontend/packages/ux-editor/src/containers/FormDesigner.module.css
  frontend/yarn.lock
Labels: area/data-modeling, area/ui-editor, area/dashboard, solution/studio/designer, area/text-editor

#9636 Feat/api to mutate text keys and impl in frontend
  backend/src/Designer/Controllers/TextController.cs
  backend/src/Designer/Models/TextResource.cs
  frontend/app-development/features/textEditor/TextEditor.tsx
  frontend/app-development/services/textsApi.ts
  frontend/packages/schema-editor/src/types/index.ts
  frontend/packages/shared/src/api-paths.js
  frontend/packages/text-editor/src/TextEditor.test.tsx
  frontend/packages/text-editor/src/TextEditor.tsx
  frontend/packages/text-editor/src/TextRow.tsx
Labels: area/data-modeling, solution/studio/designer, area/text-editor

#9669 fixed encoding on file that failed test
  testdata/Model/JsonSchema/General/NonXsdContextSchema.json
Labels: kind/bug

#9674 Bump spring-boot-starter-parent
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform

#9673 removing skip from tests
  backend/tests/DataModeling.Tests/JsonMetadataParserTests.cs
  backend/tests/DataModeling.Tests/JsonSchemaToMetamodelConverterTests.cs
  testdata/Model/Metadata/HvemErHvem.json
  testdata/Model/Metadata/RA-0678_M.json
  testdata/Model/Metadata/SchemaWithTargetNamespace.json
  testdata/Model/Metadata/SeresBasicSchema.json
  testdata/Model/Metadata/SeresBasicSchemaWithTargetNamespace.json
  testdata/Model/Metadata/SimpleStringArray.json
  testdata/Model/Metadata/restriction-total-digits.json
  testdata/Model/Metadata/schema_4582_2000_forms_5244_42360.json
  testdata/Model/Metadata/schema_4741_4280_forms_5273_41269.json
  testdata/Model/Metadata/schema_4830_4000_forms_5524_41951.json
  testdata/Model/Metadata/schema_5064_1_forms_5793_42882.json
  testdata/Model/Metadata/schema_5222_2_forms_5909_43507.json
  testdata/Model/Metadata/schema_5259_1_forms_9999_50000.json
Labels: solution/studio/designer

#9687 Update password in appsettings to match postgres init config
  backend/src/Designer/appsettings.json
Labels: solution/studio/designer

#9685 Fix colliding class name issue
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/shared/package.json
  frontend/packages/text-editor/package.json
  frontend/yarn.lock
Labels: area/data-modeling, area/dashboard, solution/studio/designer, area/text-editor

#9689 bug/datamodelling support desc on root
  frontend/packages/schema-model/src/lib/build-json-schema.ts
  testdata/Model/JsonSchema/General/NonXsdContextSchema.json
Labels: area/data-modeling, solution/studio/designer

#9690 Separated labels and values, are to be defined as separated values.
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Select/SelectComponent.tsx
Labels: area/ui-editor, solution/studio/designer

#9735 Schema editor crashes when deleting a node and then selecting a new node
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.test.ts
  frontend/packages/schema-model/src/lib/selectors.test.ts
  frontend/packages/schema-model/src/lib/selectors.ts
Labels: area/data-modeling, solution/studio/designer

#9645 Bug/7312 consistent datamodel field name
  frontend/packages/ux-editor/src/components/config/SelectDataModelComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.tsx
  frontend/packages/ux-editor/src/testing/mocks.tsx
  frontend/packages/ux-editor/src/utils/render.tsx
Labels: area/ui-editor

#9738 When app developer deletes data model, there is no "no datamodel" message
  frontend/packages/shared/src/features/dataModelling/DataModelling.test.tsx
  frontend/packages/shared/src/features/dataModelling/DataModelling.tsx
  frontend/packages/shared/src/features/dataModelling/components/LandingPagePanel.tsx
Labels: solution/studio/designer

#9681 Fix/model editor crashing
  frontend/packages/schema-editor/src/components/SchemaEditor.module.css
  frontend/packages/schema-editor/src/components/SchemaEditor.test.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemPropertiesTab.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ReferenceSelectionComponent.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ReferenceSelectionComponent.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaItem.tsx
  frontend/packages/schema-editor/src/components/TreeView/SchemaItemLabel.tsx
  frontend/packages/schema-editor/src/components/TreeView/tree-view-helpers.ts
  frontend/packages/schema-editor/src/components/layout/ModelsPanel.module.css
  frontend/packages/schema-editor/src/components/layout/ModelsPanel.tsx
  frontend/packages/schema-editor/src/components/layout/TypesPanel.tsx
  frontend/packages/schema-editor/src/components/layout/index.ts
  frontend/packages/schema-editor/src/components/layout/layoutTypes.ts
  frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.test.ts
  frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  frontend/packages/schema-model/src/index.ts
  frontend/packages/schema-model/src/lib/build-json-schema.ts
  frontend/packages/schema-model/src/lib/build-ui-schema.ts
  frontend/packages/schema-model/src/lib/capabilities.ts
  frontend/packages/schema-model/src/lib/mutations/promote-node.ts
  frontend/packages/schema-model/src/lib/mutations/rename-node.ts
  frontend/packages/schema-model/src/lib/selectors.ts
  frontend/packages/schema-model/src/lib/types.ts
  frontend/packages/schema-model/src/lib/utils.test.ts
  frontend/packages/schema-model/src/lib/utils.ts
Labels: area/data-modeling, solution/studio/designer

#9744 3647 remove duplication of app template move template to separate app…
  src/Altinn.Apps/AppTemplates/ProcessTemplates/Data_Confirmation_Process.bpmn
  src/Altinn.Apps/AppTemplates/ProcessTemplates/Data_Data_Data_Process.bpmn
  src/Altinn.Apps/AppTemplates/ProcessTemplates/Data_Process.bpmn
Labels: area/process, solution/app-backend

#9680 9583 as an app developer i need to be able to add an auto complete attribute to our inputs so our app is accessible
  development/README.md
  development/load-balancer/502App.html
  development/load-balancer/502LocalTest.html
  development/load-balancer/nginx.conf.conf
  development/utils/ensure-dot-env.js
  docker-compose.yml
  frontend/packages/shared/src/navigation/drawer/LeftDrawerMenu.module.css
  frontend/packages/ux-editor/src/components/config/EditModalContent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentConfig.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.tsx
Labels: area/ui-editor, solution/studio/designer

#9736 Removed message "This area is under development"
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/components/SchemaInspector.tsx
Labels: area/data-modeling, solution/studio/designer

#9737 Make sure to not render 0 when no fields exists
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab.tsx
Labels: area/data-modeling, solution/studio/designer

#9754 3014 url to app is shown for app when its not deployed
  frontend/app-development/features/appPublish/components/appDeploymentComponent.module.css
  frontend/app-development/features/appPublish/components/appDeploymentComponent.tsx
Labels: area/app-deploy, solution/studio/designer

#9756 Fix size of text resource buttons
  frontend/packages/ux-editor/src/components/AddOption.module.css
  frontend/packages/ux-editor/src/components/TextResource.module.css
  frontend/packages/ux-editor/src/components/TextResource.tsx
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.module.css
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.module.css
Labels: area/ui-editor, solution/studio/designer

#9755 9696 deploy fonts are schuffed after bootstrap removal
  frontend/app-development/features/appPublish/components/appReleaseComponent.module.css
  frontend/app-development/features/appPublish/containers/releaseContainer.module.css
Labels: area/app-deploy, solution/studio/designer

#9757 2930 bygg button is clickable even when an invalid version number is …
  frontend/app-development/features/appPublish/components/createAppReleaseComponent.tsx
Labels: area/app-deploy, solution/studio/designer

#9554 Fix compilation warnings in Localtest
  src/development/LocalTest/Models/ResourceRegistry/CompetentAuthority.cs
  src/development/LocalTest/Models/ResourceRegistry/Keyword.cs
  src/development/LocalTest/Models/ResourceRegistry/ResourceReference.cs
  src/development/LocalTest/Models/ResourceRegistry/ResourceSearch.cs
  src/development/LocalTest/Models/ResourceRegistry/ServiceResource.cs
  src/development/LocalTest/Services/ResourceRegistry/PolicyRepositoryMock.cs
  src/development/LocalTest/Services/ResourceRegistry/RegisterResourceRepositoryMock.cs
  src/development/LocalTest/Services/ResourceRegistry/ResourceRegistryService.cs
Labels: external-contribution-❤️, solution/localtest

#9760 2930 aftermath better logic handling for tagname
  frontend/app-development/features/appPublish/components/createAppReleaseComponent.tsx
Labels: area/app-deploy, solution/studio/designer

#9762 Fix width of add option box in preview mode
  frontend/packages/ux-editor/src/components/AddOption.module.css
  frontend/packages/ux-editor/src/containers/ComponentPreview/CheckboxGroupPreview/CheckboxGroupPreview.module.css
  frontend/packages/ux-editor/src/containers/ComponentPreview/RadioGroupPreview/RadioGroupPreview.module.css
Labels: area/ui-editor, solution/studio/designer
