Repository Altinn/altinn-studio, pull requests merged in 2024-11, with the labels that each got.

#13794 chore(process): Inform user of consequences of switching layoutset default data model
  frontend/language/src/nb.json
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypes/EditDataTypes.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypes/SelectDataTypes/SelectDataTypes.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypes/SelectDataTypes/SelectDataTypes.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypes/SelectDataTypes/SelectDataTypes.tsx
Labels: area/process, solution/studio/designer, frontend

#13941 feat(ui-component): Code list validation
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.stories.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.test.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditorRow/StudioCodeListEditorRow.module.css
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditorRow/StudioCodeListEditorRow.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/types/CodeListEditorTexts.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/types/ValueError.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/types/ValueErrorMap.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/validation/index.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/validation/validation.test.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/validation/validation.ts
  frontend/libs/studio-pure-functions/src/ArrayUtils/ArrayUtils.test.ts
  frontend/libs/studio-pure-functions/src/ArrayUtils/ArrayUtils.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#13957 fix: add options for alphabetical sorting to storybook
  frontend/libs/studio-components/.storybook/preview.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-core, skip-manual-testing, skip-documentation

#13935 fix(ui-editor): ActionButton and CustomButton as valid children for ButtonGroup
  frontend/packages/ux-editor/src/data/formItemConfig.ts
  frontend/packages/ux-editor/src/utils/formLayoutUtils.test.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#13966 feat: Validate create subform in nextrecommendedaction
  frontend/packages/ux-editor/src/components/Elements/Subform/CreateSubformWrapper.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/CreateNewSubformLayoutSet/CreateNewSubformLayoutSet.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/CreateNewSubformLayoutSet/CreateNewSubformLayoutSet.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/EditLayoutSet.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSetForSubform.tsx
  frontend/packages/ux-editor/src/hooks/useCreateSubform.test.ts
  frontend/packages/ux-editor/src/hooks/useCreateSubform.ts
Labels: area/ui-editor, solution/studio/designer, frontend

#13974 feat: xsd:all support
  backend/src/DataModeling/Converter/Csharp/JsonMetadataToCsharpConverter.cs
  backend/src/DataModeling/Converter/Metadata/JsonSchemaToMetamodelConverter.cs
  backend/src/DataModeling/Metamodel/ElementMetadata.cs
  backend/src/DataModeling/Utils/JsonSchemaExtensions.cs
  backend/tests/DataModeling.Tests/CsharpEnd2EndGenerationTests.cs
  backend/tests/DataModeling.Tests/TestDataClasses/CSharpE2ERestrictionsTestData.cs
  backend/tests/DataModeling.Tests/TestDataClasses/CSharpEnd2EndTestData.cs
  backend/tests/DataModeling.Tests/TestDataClasses/ValidationTestData.cs
  testdata/Model/CSharp/XsAll/ferdigattest/v4/ferdigattest.cs
  testdata/Model/CSharp/XsAll/igangsettingstillatelse/v4/igangsettingstillatelse.cs
  testdata/Model/CSharp/XsAll/midlertidigbrukstillatelse/v4/midlertidigbrukstillatelse.cs
  testdata/Model/CSharp/XsAll/planvarsel/v2/planvarsel.cs
  testdata/Model/XmlSchema/XsAll/ferdigattest/v4/ferdigattest.xsd
  testdata/Model/XmlSchema/XsAll/igangsettingstillatelse/v4/igangsettingstillatelse.xsd
  testdata/Model/XmlSchema/XsAll/midlertidigbrukstillatelse/v4/midlertidigbrukstillatelse.xsd
  testdata/Model/XmlSchema/XsAll/planvarsel/v2/planvarsel.xsd
Labels: area/data-modeling, solution/studio/designer, quality/testing, backend, skip-manual-testing

#13895 refactor: changed Tom knapp + help text
  frontend/language/src/nb.json
Labels: solution/studio/designer, skip-releasenotes, frontend, skip-manual-testing

#13839 fix: Refactor text-editor Playwright test
  frontend/app-preview/src/views/LandingPage.tsx
  frontend/packages/shared/src/hooks/useSelectedFormLayoutSetName.test.tsx
  frontend/packages/shared/src/hooks/useSelectedFormLayoutSetName.ts
  frontend/packages/ux-editor/src/AppContext.tsx
  frontend/testing/playwright/tests/text-editor/text-editor.spec.ts
Labels: area/ui-editor, area/app-preview, solution/studio/designer, quality/testing, frontend, skip-manual-testing

#13978 feat: remove siteimprove
  backend/src/Designer/Views/Shared/_Layout.cshtml
Labels: solution/studio/designer, backend, skip-manual-testing

#13899 feat: Use StudioContentMenu in SettingsModal
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/SettingsModal.module.css
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/SettingsModal.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/hooks/useSettingsModalMenuTabConfigs.tsx
  frontend/app-development/types/SettingsModalHandle.ts
  frontend/app-development/types/SettingsModalTabId.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain2

#13984 chore: Relocated misplaced pure functions from @studio/components hooks to @studio/pure-functions library
  frontend/app-development/features/overview/components/Navigation/Navigation.test.tsx
  frontend/app-development/utils/headerMenu/headerMenuUtils.test.ts
  frontend/app-preview/src/hooks/useBackToEditingHref/useBackToEditingHref.test.tsx
  frontend/app-preview/src/hooks/useBackToEditingHref/useBackToEditingHref.tsx
  frontend/dashboard/hooks/guards/useContextRedirectionGuard.ts
  frontend/libs/studio-components/src/hooks/index.ts
  frontend/libs/studio-components/src/hooks/useLocalStorage.test.ts
  frontend/libs/studio-components/src/hooks/useLocalStorage.ts
  frontend/libs/studio-pure-functions/src/WebStorage/index.ts
  frontend/libs/studio-pure-functions/src/WebStorage/webStorage.test.ts
  frontend/libs/studio-pure-functions/src/WebStorage/webStorage.ts
  frontend/libs/studio-pure-functions/src/index.ts
  frontend/packages/shared/src/components/PreviewLimitationsInfo/PreviewLimitationsInfo.tsx
  frontend/packages/shared/src/hooks/useReactiveLocalStorage.ts
  frontend/packages/shared/src/utils/featureToggleUtils.test.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor-v3/src/App.test.tsx
  frontend/packages/ux-editor-v3/src/components/TextResource.test.tsx
  frontend/packages/ux-editor-v3/src/containers/DesignView/DesignView.test.tsx
  frontend/packages/ux-editor/src/App.test.tsx
  frontend/packages/ux-editor/src/components/TextResource/TextResource.test.tsx
  frontend/packages/ux-editor/src/components/TextResource/TextResourceEditor/TextResourceValueEditor/TextResourceValueEditor.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/EditBinding.test.tsx
  frontend/packages/ux-editor/src/utils/localStorage.test.ts
  frontend/packages/ux-editor/src/utils/localStorageUtils.ts
Labels: area/ui-editor, area/dashboard, area/app-preview, solution/studio/designer, skip-releasenotes, area/overview, frontend, skip-manual-testing

#13973 docs: Fix preview of StudioProperty component
  frontend/libs/studio-components/src/components/StudioProperty/StudioProperties.mdx
  frontend/libs/studio-components/src/components/StudioProperty/StudioProperty.stories.tsx
  frontend/libs/studio-components/src/components/StudioProperty/StudioProperty.test.tsx
  frontend/libs/studio-components/src/components/StudioProperty/StudioPropertyButton/StudioPropertyButton.stories.tsx
  frontend/libs/studio-components/src/components/StudioProperty/StudioPropertyFieldset/StudioPropertyFieldset.stories.tsx
  frontend/libs/studio-components/src/components/StudioProperty/StudioPropertyFieldset/StudioPropertyFieldset.test.tsx
  frontend/libs/studio-components/src/components/StudioProperty/StudioPropertyFieldset/test-data/FieldsetContent/FieldsetContent.module.css
  frontend/libs/studio-components/src/components/StudioProperty/StudioPropertyFieldset/test-data/FieldsetContent/FieldsetContent.tsx
  frontend/libs/studio-components/src/components/StudioProperty/StudioPropertyFieldset/test-data/FieldsetContent/index.ts
  frontend/libs/studio-components/src/components/StudioProperty/storybook-utils/Decorator/Decorator.module.css
  frontend/libs/studio-components/src/components/StudioProperty/storybook-utils/Decorator/Decorator.test.tsx
  frontend/libs/studio-components/src/components/StudioProperty/storybook-utils/Decorator/Decorator.tsx
  frontend/libs/studio-components/src/components/StudioProperty/storybook-utils/Decorator/index.ts
  frontend/libs/studio-components/src/components/StudioProperty/test-data/ComposedComponent/ComposedComponent.module.css
  frontend/libs/studio-components/src/components/StudioProperty/test-data/ComposedComponent/ComposedComponent.tsx
  frontend/libs/studio-components/src/components/StudioProperty/test-data/ComposedComponent/index.ts
  frontend/libs/studio-components/src/components/StudioProperty/test-data/buttons.ts
Labels: solution/studio/designer, skip-releasenotes, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation

#13971 feat(subform): backend handling of datatype calls from preview
  backend/src/Designer/Controllers/Preview/DataController.cs
  backend/src/Designer/Controllers/Preview/InstancesController.cs
  backend/src/Designer/Controllers/PreviewController.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Models/Preview/DataPatchRequest.cs
  backend/src/Designer/Models/Preview/DataPatchResponse.cs
  backend/src/Designer/Services/Implementation/Preview/DataService.cs
  backend/src/Designer/Services/Interfaces/Preview/IDataService.cs
  backend/tests/Designer.Tests/Services/Preview/DataServiceTest.cs
Labels: area/app-preview, solution/studio/designer, quality/testing, skip-releasenotes, backend

#13927 feat: Use StudioContentMenu in ContentLibrary
  frontend/app-development/features/appContentLibrary/AppContentLibrary.test.tsx
  frontend/language/src/nb.json
  frontend/libs/studio-content-library/src/ContentLibrary/ContentLibrary.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/ContentLibrary.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/ContentLibrary.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/InfoBox/InfoBox.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/InfoBox/InfoBox.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/InfoBox/InfoBox.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/InfoBox/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/InfoBox/infoBoxConfigs.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/LibraryBody.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/LibraryBody.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/PagesRouter/PagesRouter.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/PagesRouter/PagesRouter.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/PagesRouter/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeList.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeList.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/Images/Images.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/Images/Images.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/Images/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/LandingPage/LandingPage.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/LandingPage/LandingPage.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/LandingPage/LandingPage.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/LandingPage/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryHeader/LibraryHeader.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryHeader/LibraryHeader.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryHeader/LibraryHeader.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/PagesRouter/PagesRouter.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/PagesRouter/PagesRouter.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/PagesRouter/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/PagesRouter/pagesRouterConfigs.tsx
  frontend/libs/studio-content-library/src/config/ContentResourceLibraryImpl.test.tsx
  frontend/libs/studio-content-library/src/hooks/useLibraryMenuContentTabs.tsx
  frontend/libs/studio-content-library/src/types/PagesProps.ts
  frontend/libs/studio-content-library/src/utils/router/QueryParamsRouter.ts
  frontend/libs/studio-content-library/src/utils/router/RouterRouteMapper.test.ts
  frontend/libs/studio-content-library/src/utils/router/RouterRouteMapper.ts
  frontend/libs/studio-content-library/test-utils/renderWithBrowserRouter.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1

#13947 feat: Create close subform button component
  frontend/language/src/nb.json
  frontend/packages/shared/src/types/ComponentSpecificConfig.ts
  frontend/packages/shared/src/types/ComponentType.ts
  frontend/packages/ux-editor/src/components/Elements/ConfPageToolbar.test.tsx
  frontend/packages/ux-editor/src/components/Elements/ConfPageToolbar.tsx
  frontend/packages/ux-editor/src/components/Elements/DefaultToolbar.tsx
  frontend/packages/ux-editor/src/components/Elements/ToolbarItem.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2OverrideEntry.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Target/Summary2Target.tsx
  frontend/packages/ux-editor/src/components/toolbar/InformationPanelComponent.tsx
  frontend/packages/ux-editor/src/components/toolbar/ToolbarItemComponent.tsx
  frontend/packages/ux-editor/src/containers/DesignView/AddItemModal/AddItemModal.tsx
  frontend/packages/ux-editor/src/containers/DesignView/AddItemModal/ItemCategory/ItemCategory.tsx
  frontend/packages/ux-editor/src/containers/DesignView/AddItemModal/ItemInfo/ItemInfo.tsx
  frontend/packages/ux-editor/src/containers/DesignView/AddItemModal/types.ts
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormItem/FormItem.tsx
  frontend/packages/ux-editor/src/data/containerComponentTypes.ts
  frontend/packages/ux-editor/src/data/formItemConfig.ts
  frontend/packages/ux-editor/src/hooks/index.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddItemToLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/useComponentTitle.test.ts
  frontend/packages/ux-editor/src/hooks/useComponentTitle.ts
  frontend/packages/ux-editor/src/hooks/useComponentTypeName.test.ts
  frontend/packages/ux-editor/src/hooks/useComponentTypeName.ts
  frontend/packages/ux-editor/src/hooks/useItemTitle/index.ts
  frontend/packages/ux-editor/src/hooks/useItemTitle/useItemTitle.test.ts
  frontend/packages/ux-editor/src/hooks/useItemTitle/useItemTitle.ts
  frontend/packages/ux-editor/src/testing/componentMocks.ts
  frontend/packages/ux-editor/src/types/FormItem.ts
  frontend/packages/ux-editor/src/types/global.ts
  frontend/packages/ux-editor/src/utils/component.test.ts
  frontend/packages/ux-editor/src/utils/component.ts
  frontend/packages/ux-editor/src/utils/formLayoutUtils.ts
  frontend/packages/ux-editor/src/utils/language.test.ts
  frontend/packages/ux-editor/src/utils/language.ts
Labels: area/ui-editor, area/dashboard, solution/studio/designer, frontend

#13969 fix: Add typeName check for AnyURI mapped to string in csharp
  backend/src/DataModeling/Converter/Csharp/JsonMetadataToCsharpConverter.cs
  backend/tests/DataModeling.Tests/CsharpEnd2EndGenerationTests.cs
  testdata/Model/JsonSchema/General/StringUriFormat.json
Labels: area/data-modeling, solution/studio/designer, quality/testing, skip-releasenotes, backend, skip-manual-testing

#13968 fix: Use object type for option value and custom converter to restrict invalid types
  backend/src/Designer/Helpers/JsonConverterHelpers/OptionConverterHelper.cs
  backend/src/Designer/Models/Option.cs
  backend/src/Designer/Services/Implementation/OptionsService.cs
  backend/tests/Designer.Tests/Controllers/OptionsController/UpdateOptionsTests.cs
Labels: solution/studio/designer, quality/testing, backend

#13906 chore: Delete PageContainer
  frontend/app-development/features/overview/components/Overview.tsx
  frontend/libs/studio-components/src/components/StudioPageImageBackgroundContainer/StudioPageImageBackgroundContainer.module.css
  frontend/libs/studio-components/src/components/StudioPageImageBackgroundContainer/StudioPageImageBackgroundContainer.stories.tsx
  frontend/libs/studio-components/src/components/StudioPageImageBackgroundContainer/StudioPageImageBackgroundContainer.tsx
  frontend/libs/studio-components/src/components/StudioPageImageBackgroundContainer/index.ts
  frontend/libs/studio-components/src/components/index.ts
  frontend/packages/shared/src/components/PageContainer/PageContainer.module.css
  frontend/packages/shared/src/components/PageContainer/PageContainer.tsx
  frontend/studio-root/pages/Contact/ContactPage.tsx
Labels: solution/studio/designer, area/studio-root, area/overview, frontend, skip-manual-testing

#13994 fix: typo in text key
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditCodeList/EditCodeList.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditCodeList/EditCodeList.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain1, skip-manual-testing

#13963 chore: Delete primitives containers
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/LandingPagePanel.module.css
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/LandingPagePanel.tsx
  frontend/dashboard/components/Resources/Resources.module.css
  frontend/dashboard/components/Resources/Resources.tsx
  frontend/packages/shared/src/primitives/Primitives.module.css
  frontend/packages/shared/src/primitives/index.ts
  frontend/packages/shared/src/primitives/index.tsx
  frontend/packages/text-editor/src/TextRow.module.css
  frontend/packages/text-editor/src/TextRow.tsx
Labels: area/data-modeling, area/text-editor, area/dashboard, solution/studio/designer, frontend

#13997 fix: Remove AT21 from resource registry settings
  backend/src/Designer/appsettings.json
Labels: solution/studio/designer, backend, area/resource-adm, skip-manual-testing

#13976 feat: Create StudioBreadcrumbs component
  frontend/libs/studio-components/src/components/StudioBreadcrumbs/StudioBreadcrumbs.mdx
  frontend/libs/studio-components/src/components/StudioBreadcrumbs/StudioBreadcrumbs.module.css
  frontend/libs/studio-components/src/components/StudioBreadcrumbs/StudioBreadcrumbs.stories.tsx
  frontend/libs/studio-components/src/components/StudioBreadcrumbs/StudioBreadcrumbs.test.tsx
  frontend/libs/studio-components/src/components/StudioBreadcrumbs/StudioBreadcrumbs.tsx
  frontend/libs/studio-components/src/components/StudioBreadcrumbs/StudioBreadcrumbsItem.tsx
  frontend/libs/studio-components/src/components/StudioBreadcrumbs/StudioBreadcrumbsLink.tsx
  frontend/libs/studio-components/src/components/StudioBreadcrumbs/StudioBreadcrumbsList.tsx
  frontend/libs/studio-components/src/components/StudioBreadcrumbs/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#13998 fix: add renderHookWithProviders method in shared and move options queries
  frontend/packages/shared/src/hooks/mutations/index.ts
  frontend/packages/shared/src/hooks/mutations/useAddOptionListMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useAddOptionListMutation.ts
  frontend/packages/shared/src/hooks/mutations/useLogoutMutation.test.tsx
  frontend/packages/shared/src/hooks/mutations/useRepoCommitAndPushMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useResetRepositoryMutation.test.tsx
  frontend/packages/shared/src/hooks/mutations/useUpsertTextResourceMutation.test.tsx
  frontend/packages/shared/src/hooks/mutations/useUpsertTextResourcesMutation.test.tsx
  frontend/packages/shared/src/hooks/queries/index.ts
  frontend/packages/shared/src/hooks/queries/useDataModelsJsonQuery.test.tsx
  frontend/packages/shared/src/hooks/queries/useDataModelsXsdQuery.test.tsx
  frontend/packages/shared/src/hooks/queries/useOptionListsQuery.test.ts
  frontend/packages/shared/src/hooks/queries/useOptionListsQuery.ts
  frontend/packages/shared/src/hooks/queries/useTextResourcesQuery.test.tsx
  frontend/packages/shared/src/mocks/renderHookWithProviders.tsx
  frontend/packages/ux-editor/src/components/Elements/ExportForm.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditCodeList/EditCodeList.tsx
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-core, skip-manual-testing

#13936 chore: Create StudioDragAndDrop
  frontend/libs/studio-components/package.json
  frontend/libs/studio-components/src/components/StudioDragAndDrop/StudioDragAndDrop.stories.tsx
  frontend/libs/studio-components/src/components/StudioDragAndDrop/StudioDragAndDropList/StudioDragAndDropList.module.css
  frontend/libs/studio-components/src/components/StudioDragAndDrop/StudioDragAndDropList/StudioDragAndDropList.test.tsx
  frontend/libs/studio-components/src/components/StudioDragAndDrop/StudioDragAndDropList/StudioDragAndDropList.tsx
  frontend/libs/studio-components/src/components/StudioDragAndDrop/StudioDragAndDropList/index.ts
  frontend/libs/studio-components/src/components/StudioDragAndDrop/StudioDragAndDropListItem/StudioDragAndDropListItem.module.css
  frontend/libs/studio-components/src/components/StudioDragAndDrop/StudioDragAndDropListItem/StudioDragAndDropListItem.test.tsx
  frontend/libs/studio-components/src/components/StudioDragAndDrop/StudioDragAndDropListItem/StudioDragAndDropListItem.tsx
  frontend/libs/studio-components/src/components/StudioDragAndDrop/StudioDragAndDropListItem/StudioDragAndDropListItemContext.ts
  frontend/libs/studio-components/src/components/StudioDragAndDrop/StudioDragAndDropListItem/index.ts
  frontend/libs/studio-components/src/components/StudioDragAndDrop/StudioDragAndDropNewItem/StudioDragAndDropNewItem.tsx
  frontend/libs/studio-components/src/components/StudioDragAndDrop/StudioDragAndDropNewItem/index.ts
  frontend/libs/studio-components/src/components/StudioDragAndDrop/StudioDragAndDropProvider/StudioDragAndDropProvider.tsx
  frontend/libs/studio-components/src/components/StudioDragAndDrop/StudioDragAndDropProvider/StudioDragAndDropRootContext.ts
  frontend/libs/studio-components/src/components/StudioDragAndDrop/StudioDragAndDropProvider/index.ts
  frontend/libs/studio-components/src/components/StudioDragAndDrop/hooks/useDomSelectors.test.tsx
  frontend/libs/studio-components/src/components/StudioDragAndDrop/hooks/useDomSelectors.ts
  frontend/libs/studio-components/src/components/StudioDragAndDrop/hooks/useGapValue.test.tsx
  frontend/libs/studio-components/src/components/StudioDragAndDrop/hooks/useGapValue.ts
  frontend/libs/studio-components/src/components/StudioDragAndDrop/hooks/useIsParentDisabled.test.tsx
  frontend/libs/studio-components/src/components/StudioDragAndDrop/hooks/useIsParentDisabled.ts
  frontend/libs/studio-components/src/components/StudioDragAndDrop/hooks/useOnDrop.test.tsx
  frontend/libs/studio-components/src/components/StudioDragAndDrop/hooks/useOnDrop.ts
  frontend/libs/studio-components/src/components/StudioDragAndDrop/hooks/useParentId.test.tsx
  frontend/libs/studio-components/src/components/StudioDragAndDrop/hooks/useParentId.ts
  frontend/libs/studio-components/src/components/StudioDragAndDrop/index.ts
  frontend/libs/studio-components/src/components/StudioDragAndDrop/testUtils/dataTestIds.ts
  frontend/libs/studio-components/src/components/StudioDragAndDrop/types/index.ts
  frontend/libs/studio-components/src/components/StudioDragAndDrop/utils/dndUtils.test.ts
  frontend/libs/studio-components/src/components/StudioDragAndDrop/utils/dndUtils.ts
  frontend/libs/studio-components/src/components/StudioDragAndDrop/utils/domUtils.test.tsx
  frontend/libs/studio-components/src/components/StudioDragAndDrop/utils/domUtils.ts
  frontend/libs/studio-components/src/components/index.ts
  frontend/testing/playwright/pages/DataModelPage.ts
  frontend/testing/playwright/pages/UiEditorPage.ts
  yarn.lock
Labels: solution/studio/designer, quality/testing, kind/dependencies, frontend, skip-manual-testing

#14008 refactor: Split ui-editor playwright tests into smaller tests
  frontend/testing/playwright/tests/ui-editor/ui-editor-data-model-binding-and-gitea.spec.ts
Labels: solution/studio/designer, quality/testing, added-to-sprint, frontend, team/studio-domain2, skip-manual-testing

#14003 feat: improve observability for load balancer
  .github/workflows/deploy-designer.yaml
  .github/workflows/deploy-loadbalancer.yaml
  .github/workflows/template-flux-config-push.yaml
  charts/altinn-loadbalancer/templates/configmap.yaml
  charts/altinn-loadbalancer/templates/deployment.yaml
  charts/altinn-loadbalancer/templates/exporter.yaml
  charts/altinn-loadbalancer/templates/networkpolicy.yaml
  charts/altinn-loadbalancer/templates/podmonitor.yaml
  charts/altinn-loadbalancer/values.yaml
Labels: skip-releasenotes, skip-manual-testing

#14013 fix: pipeline parameters
  .github/workflows/deploy-designer.yaml
  .github/workflows/template-flux-config-push.yaml
Labels: skip-releasenotes, skip-manual-testing

#14010 fix: removed unused unddefinedLayoutSet folder
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/UndefinedLayoutSet/UndefinedLayoutSet.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/UndefinedLayoutSet/UndefinedLayoutSet.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, skip-manual-testing

#13993 feat: distributed requests synchronization
  backend/packagegroups/NuGet.props
  backend/src/Designer/Configuration/Extensions/ServiceCollectionExtensions.cs
  backend/src/Designer/Configuration/UserRequestSynchronizationSettings.cs
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/Controllers/ApplicationMetadataController.cs
  backend/src/Designer/Controllers/RepositoryController.cs
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Designer.csproj
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Middleware/UserRequestSynchronization/DistributedLockProviderExtensions.cs
  backend/src/Designer/Middleware/UserRequestSynchronization/RequestSyncExtensions.cs
  backend/src/Designer/Middleware/UserRequestSynchronization/RequestSynchronizationMiddleware.cs
  backend/src/Designer/Middleware/UserRequestSynchronization/Services/EditingContextResolver.cs
  backend/src/Designer/Middleware/UserRequestSynchronization/Services/IEditingContextResolver.cs
  backend/src/Designer/Middleware/UserRequestSynchronization/Services/IRequestSyncEvaluator.cs
  backend/src/Designer/Middleware/UserRequestSynchronization/Services/IRequestSyncResolver.cs
  backend/src/Designer/Middleware/UserRequestSynchronization/Services/RequestSyncEvaluators/EndpointNameSyncEvaluator.cs
  backend/src/Designer/Middleware/UserRequestSynchronization/Services/RequestSyncResolver.cs
  backend/src/Designer/Program.cs
  backend/src/Designer/Services/Implementation/ProcessModeling/ProcessModelingService.cs
  backend/src/Designer/Services/Implementation/UserRequestsSynchronizationService.cs
  backend/src/Designer/Services/Interfaces/IUserRequestsSynchronizationService.cs
  backend/tests/Designer.Tests/Controllers/ApiTests/DesignerEndpointsTestsBase.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/AddLayoutSetTests.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/PostTests.cs
  backend/tests/Designer.Tests/Controllers/RepositoryController/ResetLocalRepositoryTests.cs
  backend/tests/Designer.Tests/Controllers/ResourceAdminController/ResourceAdminControllerTestsBaseClass.cs
  backend/tests/Designer.Tests/Designer.Tests.csproj
  backend/tests/Designer.Tests/Fixtures/GiteaFixture.cs
  backend/tests/Designer.Tests/GiteaIntegrationTests/GiteaIntegrationTestsBase.cs
  backend/tests/Designer.Tests/Services/ProcessModelingServiceTests.cs
  backend/tests/Designer.Tests/Services/UserRequestsSynchronizationServiceTests.cs
  backend/tests/Designer.Tests/Utils/TestLockPathProvider.cs
Labels: solution/studio/designer, quality/testing, backend, kind/dependencies

#13961 feat: 13928 add data model binding for subfrom
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/CreateNewSubformLayoutSet/CreateNewSubformLayoutSet.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/CreateNewSubformLayoutSet/CreateNewSubformLayoutSet.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/CreateNewSubformLayoutSet/SubformDataModelSelect.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/CreateNewSubformLayoutSet/SubformDataModelSelect.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/CreateNewSubformLayoutSet/index.ts
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSetForSubform.test.tsx
  frontend/packages/ux-editor/src/hooks/useCreateSubform.ts
Labels: area/ui-editor, solution/studio/designer, frontend

#14011 chore: autogenerate github release each friday
  .github/scripts/release.sh
  .github/workflows/release.yaml
Labels: skip-releasenotes, team/studio-core, skip-manual-testing

#13922 feat: Implement StudioCodeListEditor in component edit view
  frontend/dashboard/components/RepoList/RepoList.tsx
  frontend/language/src/nb.json
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/components/Properties/Properties.module.css
  frontend/packages/ux-editor/src/components/Properties/Text.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditCodeList/EditCodeList.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditManualOptions/EditManualOptions.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditManualOptions/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditOptions.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditOptions.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditOptions.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditCodeList/EditCodeList.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditCodeList/EditCodeList.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditCodeList/EditCodeList.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditCodeList/EditCodeListReference.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditCodeList/EditCodelistReference.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditCodeList/findFileNameError.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditCodeList/findFileNameError.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditCodeList/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditManualOptions/EditManualOptions.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditManualOptions/EditManualOptions.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditManualOptions/EditOption/EditOption.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditManualOptions/EditOption/EditOption.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditManualOptions/EditOption/EditOption.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditManualOptions/EditOption/OptionValue/OptionValue.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditManualOptions/EditOption/OptionValue/OptionValue.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditManualOptions/EditOption/OptionValue/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditManualOptions/EditOption/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditManualOptions/EditOption/utils.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditManualOptions/EditOption/utils.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditManualOptions/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditManualOptionsWithEditor/EditManualOptionsWithEditor.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditManualOptionsWithEditor/EditManualOptionsWithEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditManualOptionsWithEditor/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/OptionTabs.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/hooks/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/hooks/useCodeListButtonValue.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/hooks/useCodeListEditorTexts.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBindings/EditTextResourceBindings.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBindings/EditTextResourceBindings.tsx
Labels: area/ui-editor, area/dashboard, solution/studio/designer, text/content, frontend

#13958 fix: replace AltinnContentLoader with StudioSpinner and delete react-content-loader dependency
  frontend/app-development/features/appPublish/components/AltinnContentLoader/AltinnContentLoader.test.tsx
  frontend/app-development/features/appPublish/components/AltinnContentLoader/AltinnContentLoader.tsx
  frontend/app-development/features/appPublish/components/AltinnContentLoader/index.ts
  frontend/app-development/features/appPublish/containers/DeploymentContainer.tsx
  frontend/app-development/features/appPublish/pages/DeployPage.tsx
  frontend/packages/shared/package.json
  yarn.lock
Labels: area/app-deploy, solution/studio/designer, skip-releasenotes, kind/dependencies, frontend, skip-documentation

#14022 chore: use github api to fetch current tag
  .github/scripts/release.sh
  .github/workflows/release.yaml
Labels: skip-releasenotes, skip-manual-testing

#14027 chore: Update azure identity dependency
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes

#13995 style: Rename subform component and add help text
  frontend/language/src/nb.json
Labels: area/ui-editor, area/text-editor, solution/studio/designer, added-to-sprint, frontend, team/studio-domain2

#14018 chore(resource-adm): copy LeftNavigationBar component to resourceadm
  frontend/resourceadm/components/LeftNavigationBar/GoBackButton/GoBackButton.module.css
  frontend/resourceadm/components/LeftNavigationBar/GoBackButton/GoBackButton.test.tsx
  frontend/resourceadm/components/LeftNavigationBar/GoBackButton/GoBackButton.tsx
  frontend/resourceadm/components/LeftNavigationBar/GoBackButton/index.ts
  frontend/resourceadm/components/LeftNavigationBar/LeftNavigationBar.module.css
  frontend/resourceadm/components/LeftNavigationBar/LeftNavigationBar.test.tsx
  frontend/resourceadm/components/LeftNavigationBar/LeftNavigationBar.tsx
  frontend/resourceadm/components/LeftNavigationBar/Tab/LeftNavigationTab.ts
  frontend/resourceadm/components/LeftNavigationBar/Tab/Tab.module.css
  frontend/resourceadm/components/LeftNavigationBar/Tab/Tab.test.tsx
  frontend/resourceadm/components/LeftNavigationBar/Tab/Tab.tsx
  frontend/resourceadm/components/LeftNavigationBar/Tab/TabContent/TabContent.test.tsx
  frontend/resourceadm/components/LeftNavigationBar/Tab/TabContent/TabContent.tsx
  frontend/resourceadm/components/LeftNavigationBar/Tab/TabContent/index.ts
  frontend/resourceadm/components/LeftNavigationBar/Tab/index.ts
  frontend/resourceadm/components/LeftNavigationBar/index.ts
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/resourceadm/utils/resourceUtils/resourceUtils.test.tsx
  frontend/resourceadm/utils/resourceUtils/resourceUtils.ts
Labels: solution/studio/designer, skip-releasenotes, area/resource-adm, frontend, skip-manual-testing

#14026 fix: adjust some texts in the content library
  frontend/language/src/nb.json
Labels: solution/studio/designer, skip-releasenotes, frontend, skip-manual-testing, skip-documentation

#14007 refactor: Implement HeaderLink component
  frontend/app-development/layout/PageHeader/LargeNavigationMenu/LargeNavigationMenu.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderButton/StudioPageHeaderButton.test.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderButton/StudioPageHeaderButton.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderButton/index.ts
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderHeaderButton/StudioPageHeaderHeaderButton.test.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderHeaderButton/StudioPageHeaderHeaderButton.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderHeaderButton/index.ts
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderHeaderLink/StudioPageHeaderHeaderLink.module.css
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderHeaderLink/StudioPageHeaderHeaderLink.test.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderHeaderLink/StudioPageHeaderHeaderLink.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderHeaderLink/index.ts
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderLeft/DigdirLogoLink/DigdirLogoLink.test.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderLeft/DigdirLogoLink/DigdirLogoLink.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderProfileMenu/StudioPageHeaderProfileMenu.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/common.module.css
  frontend/libs/studio-components/src/components/StudioPageHeader/index.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-documentation

#13923 feat(ui-component): Add event listeners on table level
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.test.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellButton.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellCheckbox.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellTextarea.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellTextfield.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/useEventProps.ts
  frontend/libs/studio-components/src/components/StudioInputTable/StudioInputTable.test.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/StudioInputTable.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/StudioInputTableContext.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/types/EventName.ts
  frontend/libs/studio-components/src/components/StudioInputTable/types/EventPropName.ts
  frontend/libs/studio-components/src/components/StudioInputTable/types/EventProps.ts
  frontend/libs/studio-pure-functions/src/StringUtils/StringUtils.test.ts
  frontend/libs/studio-pure-functions/src/StringUtils/StringUtils.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14039 chore: scale designer in dev and staging
  .github/workflows/deploy-designer.yaml
  charts/altinn-designer-config/templates/helm-release.yaml
  charts/altinn-designer-config/values.yaml
Labels: skip-releasenotes, skip-manual-testing

#14023 fix: Fixed broken documentation links
  README.md
  backend/src/Designer/Views/Home/StartPage.cshtml
  frontend/app-development/features/appPublish/pages/DeployPage.tsx
  frontend/app-development/features/overview/components/Deployments/NoEnvironmentsAlert/NoEnvironmentsAlert.tsx
  frontend/app-development/features/overview/components/Documentation/Documentation.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/AccessControlTab/AccessControlTab.tsx
  frontend/dashboard/components/Resources/Resources.tsx
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor-v3/src/components/Properties/OldDynamicsInfo.tsx
  frontend/packages/ux-editor-v3/src/components/config/componentSpecificContent/Image/ImageComponent.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditCodeList.tsx
  frontend/packages/ux-editor/src/components/Properties/DeprecatedCalculationsInfo.tsx
  frontend/packages/ux-editor/src/components/Properties/OldDynamicsInfo.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Image/ImageComponent.tsx
  frontend/resourceadm/pages/MigrationPage/MigrationPage.tsx
  src/test/K6/README.md
  testdata/AppTemplates/AspNet/deployment/values.yaml
Labels: area/ui-editor, area/dashboard, area/app-deploy, solution/studio/designer, quality/testing, skip-releasenotes, backend, area/overview, frontend, team/studio-domain1, team/studio-domain2, team/studio-core

#13992 fix: 404 error when creating subform
  frontend/packages/ux-editor/src/components/Elements/Subform/CreateSubformWrapper.test.tsx
  frontend/packages/ux-editor/src/components/Elements/Subform/CreateSubformWrapper.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/CreateNewSubformLayoutSet/CreateNewSubformLayoutSet.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/CreateNewSubformLayoutSet/CreateNewSubformLayoutSet.tsx
  frontend/packages/ux-editor/src/hooks/useCreateSubform.test.ts
  frontend/packages/ux-editor/src/hooks/useCreateSubform.ts
Labels: area/ui-editor, solution/studio/designer, frontend

#13953 feat: add codeListEditor in config options
  backend/src/Designer/Controllers/OptionsController.cs
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditorRow/StudioCodeListEditorRow.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/index.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/types/CodeListItem.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/types/CodeListItemValue.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/validation/validation.ts
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOptionListMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOptionListMutation.ts
  frontend/packages/shared/src/hooks/queries/useOptionListsQuery.ts
  frontend/packages/shared/src/mocks/mocks.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/Option.ts
  frontend/packages/shared/src/types/api/OptionsLists.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/components/Properties/Text.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditOptions.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditOptions.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditOptions.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditCodeList/EditCodeList.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditCodeList/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditManualOptionsWithEditor/EditManualOptionsWithEditor.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditManualOptionsWithEditor/EditManualOptionsWithEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditOptionList/EditOptionList.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditOptionList/EditOptionList.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditOptionList/EditOptionList.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditOptionList/EditOptionListReference.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditOptionList/EditOptionListReference.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditOptionList/OptionListEditor.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditOptionList/OptionListEditor.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditOptionList/OptionListEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditOptionList/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditOptionList/utils/findFileNameError.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditOptionList/utils/findFileNameError.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/OptionTabs.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/OptionTabs.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/hooks/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/hooks/useOptionListButtonValue.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/hooks/useOptionListEditorTexts.ts
  frontend/packages/ux-editor/src/testing/mocks.tsx
Labels: area/ui-editor, area/dashboard, solution/studio/designer, backend, text/content, frontend

#13988 feat: Add base for CodeList page in library
  frontend/app-development/features/appContentLibrary/AppContentLibrary.test.tsx
  frontend/app-development/features/appContentLibrary/AppContentLibrary.tsx
  frontend/app-development/features/appContentLibrary/utils/convertOptionListsToCodeLists.test.ts
  frontend/app-development/features/appContentLibrary/utils/convertOptionListsToCodeLists.ts
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.module.css
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.tsx
  frontend/libs/studio-content-library/mocks/mockPagesConfig.ts
  frontend/libs/studio-content-library/src/ContentLibrary/ContentLibrary.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/InfoBox/InfoBox.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/LibraryBody.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeList.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeList.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeList.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeLists/CodeLists.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeLists/CodeLists.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeLists/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeListsActionsBar/CodeListsActionsBar.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeListsActionsBar/CodeListsActionsBar.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeListsActionsBar/CodeListsActionsBar.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeListsActionsBar/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeListsCounterMessage/CodeListsCounterMessage.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeListsCounterMessage/CodeListsCounterMessage.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeListsCounterMessage/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/index.ts
  frontend/libs/studio-content-library/src/config/ContentResourceLibraryImpl.test.tsx
  frontend/libs/studio-content-library/src/index.ts
  frontend/libs/studio-content-library/src/utils/router/RouterRouteMapper.test.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, skip-documentation

#13987 feat: 13956 inform user when a linked component in subform table is invalid
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/ColumnElement.test.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/EditColumnElement.test.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/EditColumnElement.tsx
Labels: area/ui-editor, solution/studio/designer, frontend

#13991 feat: Text resource input component
  frontend/libs/studio-components/src/components/StudioTextResourceInput/StudioTextResourceInput.module.css
  frontend/libs/studio-components/src/components/StudioTextResourceInput/StudioTextResourceInput.stories.tsx
  frontend/libs/studio-components/src/components/StudioTextResourceInput/StudioTextResourceInput.test.tsx
  frontend/libs/studio-components/src/components/StudioTextResourceInput/StudioTextResourceInput.tsx
  frontend/libs/studio-components/src/components/StudioTextResourceInput/types/TextResourceInputTexts.ts
  frontend/libs/studio-components/src/components/StudioTextResourceInput/utils.test.ts
  frontend/libs/studio-components/src/components/StudioTextResourceInput/utils.ts
  frontend/libs/studio-components/src/components/StudioTextResourcePicker/StudioTextResourcePicker.stories.tsx
  frontend/libs/studio-components/src/components/StudioTextResourcePicker/StudioTextResourcePicker.test.tsx
  frontend/libs/studio-components/src/components/StudioTextResourcePicker/StudioTextResourcePicker.tsx
  frontend/libs/studio-components/src/storybook-utils/decorators/FixedWidthDecorator/FixedWidthDecorator.module.css
  frontend/libs/studio-components/src/storybook-utils/decorators/FixedWidthDecorator/FixedWidthDecorator.test.tsx
  frontend/libs/studio-components/src/storybook-utils/decorators/FixedWidthDecorator/FixedWidthDecorator.tsx
  frontend/libs/studio-components/src/storybook-utils/decorators/FixedWidthDecorator/index.ts
  frontend/libs/studio-components/src/test-data/textResourcesMock.ts
  frontend/libs/studio-components/src/types/TextResource.ts
  frontend/libs/studio-hooks/src/hooks/index.ts
  frontend/libs/studio-hooks/src/hooks/usePropState.test.ts
  frontend/libs/studio-hooks/src/hooks/usePropState.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#14046 chore: more sync endpoints
  backend/src/Designer/Middleware/UserRequestSynchronization/Services/RequestSyncEvaluators/EndpointNameSyncEvaluator.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/SaveRuleHandlerTests.cs
Labels: solution/studio/designer, quality/testing, backend

#14047 feat: 2 replicas in prod/staging, 1 in dev
  .github/workflows/deploy-designer.yaml
Labels: skip-releasenotes, added-to-sprint, team/studio-core, skip-manual-testing

#14002 chore: Replace DragAndDrop with StudioDragAndDrop
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeItem/DragAndDropTreeItem.tsx
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeProvider/DragAndDropTreeProvider.tsx
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeRoot/DragAndDropTreeRoot.test.tsx
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeRoot/DragAndDropTreeRoot.tsx
  frontend/packages/shared/src/components/DragAndDropTree/index.ts
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropList/DragAndDropList.module.css
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropList/DragAndDropList.test.tsx
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropList/DragAndDropList.tsx
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropList/index.ts
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropListItem/DragAndDropListItem.module.css
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropListItem/DragAndDropListItem.test.tsx
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropListItem/DragAndDropListItem.tsx
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropListItem/DragAndDropListItemContext.ts
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropListItem/index.ts
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropNewItem/DragAndDropNewItem.tsx
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropNewItem/index.ts
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropProvider/DragAndDropProvider.tsx
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropProvider/DragAndDropRootContext.ts
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropProvider/index.ts
  frontend/packages/shared/src/components/dragAndDrop/hooks/useDomSelectors.test.tsx
  frontend/packages/shared/src/components/dragAndDrop/hooks/useDomSelectors.ts
  frontend/packages/shared/src/components/dragAndDrop/hooks/useGapValue.test.tsx
  frontend/packages/shared/src/components/dragAndDrop/hooks/useGapValue.ts
  frontend/packages/shared/src/components/dragAndDrop/hooks/useIsParentDisabled.test.tsx
  frontend/packages/shared/src/components/dragAndDrop/hooks/useIsParentDisabled.ts
  frontend/packages/shared/src/components/dragAndDrop/hooks/useOnDrop.test.tsx
  frontend/packages/shared/src/components/dragAndDrop/hooks/useOnDrop.ts
  frontend/packages/shared/src/components/dragAndDrop/hooks/useParentId.test.tsx
  frontend/packages/shared/src/components/dragAndDrop/hooks/useParentId.ts
  frontend/packages/shared/src/components/dragAndDrop/index.ts
  frontend/packages/shared/src/components/dragAndDrop/utils/domUtils.test.tsx
  frontend/packages/shared/src/components/dragAndDrop/utils/domUtils.ts
  frontend/packages/ux-editor-v3/src/containers/DesignView/DesignView.test.tsx
  frontend/packages/ux-editor-v3/src/containers/DesignView/ReceiptContent/ReceiptContent.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.test.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core

#14043 chore: .net8 -> .net9
  .github/workflows/codeql.yml
  .github/workflows/designer-dotnet-test.yaml
  .github/workflows/dotnet-format.yaml
  .github/workflows/gitea-designer-integration-tests.yaml
  Dockerfile
  backend/Directory.Build.props
  backend/Migrations.Dockerfile
  backend/packagegroups/NuGet.props
  backend/src/Designer/Designer.csproj
  backend/src/Designer/Program.cs
  backend/src/Designer/wwwroot/designer/openapi.html
  backend/tests/DataModeling.Tests/Utils/RandomObjectModelGenerator.cs
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, kind/dependencies, team/studio-core

#14058 chore: Create StudioDragAndDropTree
  frontend/libs/studio-components/src/components/StudioDragAndDropTree/StudioDragAndDropTree.test.tsx
  frontend/libs/studio-components/src/components/StudioDragAndDropTree/StudioDragAndDropTreeItem/StudioDragAndDropTreeItem.module.css
  frontend/libs/studio-components/src/components/StudioDragAndDropTree/StudioDragAndDropTreeItem/StudioDragAndDropTreeItem.test.tsx
  frontend/libs/studio-components/src/components/StudioDragAndDropTree/StudioDragAndDropTreeItem/StudioDragAndDropTreeItem.tsx
  frontend/libs/studio-components/src/components/StudioDragAndDropTree/StudioDragAndDropTreeItem/StudioDragAndDropTreeItemContext.ts
  frontend/libs/studio-components/src/components/StudioDragAndDropTree/StudioDragAndDropTreeItem/index.ts
  frontend/libs/studio-components/src/components/StudioDragAndDropTree/StudioDragAndDropTreeProvider/StudioDragAndDropTreeProvider.tsx
  frontend/libs/studio-components/src/components/StudioDragAndDropTree/StudioDragAndDropTreeProvider/index.ts
  frontend/libs/studio-components/src/components/StudioDragAndDropTree/StudioDragAndDropTreeRoot/StudioDragAndDropTreeRoot.test.tsx
  frontend/libs/studio-components/src/components/StudioDragAndDropTree/StudioDragAndDropTreeRoot/StudioDragAndDropTreeRoot.tsx
  frontend/libs/studio-components/src/components/StudioDragAndDropTree/StudioDragAndDropTreeRoot/StudioDragAndDropTreeRootContext.ts
  frontend/libs/studio-components/src/components/StudioDragAndDropTree/StudioDragAndDropTreeRoot/index.ts
  frontend/libs/studio-components/src/components/StudioDragAndDropTree/StudioEmptyList/StudioEmptyList.module.css
  frontend/libs/studio-components/src/components/StudioDragAndDropTree/StudioEmptyList/StudioEmptyList.tsx
  frontend/libs/studio-components/src/components/StudioDragAndDropTree/StudioEmptyList/index.ts
  frontend/libs/studio-components/src/components/StudioDragAndDropTree/index.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-core, skip-manual-testing

#14061 docs: readme update with correct .net version
  README.md
Labels: solution/studio/designer, backend, skip-manual-testing

#14021 fix: Fix error when editing component IDs
  backend/src/Designer/EventHandlers/ComponentIdChanged/ComponentIdChangedLayoutsHandler.cs
Labels: solution/studio/designer, backend

#13985 feat(data-modeling): only valid models are bindable
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditDataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/EditBinding.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/SelectDataModelBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditDataModelBinding.test.tsx
  frontend/packages/ux-editor/src/hooks/useGetBindableDataTypes.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend

#14060 chore: rollback renovate-config
  renovate.json
Labels: skip-releasenotes, skip-manual-testing

#14091 fix: make in-editor linting work in both JetBrains and VSCode
  frontend/.eslintrc.json
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#14095 fix: appscopes OpenApi docs
  backend/src/Designer/Controllers/AppScopesController.cs
Labels: solution/studio/designer, skip-releasenotes, backend, skip-manual-testing

#14062 chore: replace DragAndDropTree with StudioDragAndDropTree
  frontend/libs/studio-components/src/components/StudioDragAndDropTree/StudioDragAndDropTree.stories.tsx
  frontend/libs/studio-components/src/components/StudioDragAndDropTree/StudioDragAndDropTreeItem/StudioDragAndDropTreeItem.tsx
  frontend/libs/studio-components/src/components/StudioDragAndDropTree/index.ts
  frontend/libs/studio-components/src/components/index.ts
  frontend/packages/schema-editor/src/components/NodePanel/NodePanel.test.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor/SchemaEditor.tsx
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/SchemaNode.test.tsx
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/SchemaNode.tsx
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaTree.test.tsx
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaTree.tsx
  frontend/packages/schema-editor/src/components/TypesInspector/TypeItem.test.tsx
  frontend/packages/schema-editor/src/components/TypesInspector/TypeItem.tsx
  frontend/packages/shared/package.json
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTree.test.tsx
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeItem/DragAndDropTreeItem.module.css
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeItem/DragAndDropTreeItem.test.tsx
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeItem/DragAndDropTreeItem.tsx
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeItem/DragAndDropTreeItemContext.ts
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeItem/index.ts
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeProvider/DragAndDropTreeProvider.tsx
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeProvider/index.ts
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeRoot/DragAndDropTreeRoot.test.tsx
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeRoot/DragAndDropTreeRoot.tsx
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeRoot/DragAndDropTreeRootContext.ts
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeRoot/index.ts
  frontend/packages/shared/src/components/DragAndDropTree/EmptyList/EmptyList.module.css
  frontend/packages/shared/src/components/DragAndDropTree/EmptyList/EmptyList.tsx
  frontend/packages/shared/src/components/DragAndDropTree/EmptyList/index.ts
  frontend/packages/shared/src/components/DragAndDropTree/index.ts
  frontend/packages/ux-editor-v3/package.json
  frontend/packages/ux-editor-v3/src/components/Elements/ToolbarItem.tsx
  frontend/packages/ux-editor-v3/src/containers/DesignView/FormLayout.test.tsx
  frontend/packages/ux-editor-v3/src/containers/DesignView/FormTree/FormItem/FormItem.tsx
  frontend/packages/ux-editor-v3/src/containers/DesignView/FormTree/FormTree.test.tsx
  frontend/packages/ux-editor-v3/src/containers/DesignView/FormTree/FormTree.tsx
  frontend/packages/ux-editor-v3/src/containers/FormDesigner.tsx
  frontend/packages/ux-editor/package.json
  frontend/packages/ux-editor/src/components/Elements/ConfPageToolbar.test.tsx
  frontend/packages/ux-editor/src/components/Elements/Elements.test.tsx
  frontend/packages/ux-editor/src/components/Elements/ToolbarItem.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormLayout.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormItem/FormItem.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormTree.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormTree.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  yarn.lock
Labels: area/data-modeling, area/ui-editor, solution/studio/designer, kind/dependencies, frontend, team/studio-domain2, team/studio-core, skip-manual-testing

#14038 refactor: Remove asChild from the StudioButton component
  frontend/app-development/layout/PageHeader/SubHeader/PreviewButton/PreviewButton.tsx
  frontend/app-preview/src/components/AppPreviewSubMenu/AppPreviewSubMenu.tsx
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.test.tsx
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.tsx
  frontend/libs/studio-components/src/components/StudioContentMenu/StudioContentMenuLinkTab/StudioContentMenuLinkTab.tsx
  frontend/libs/studio-components/src/components/StudioDeleteButton/StudioDeleteButton.test.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderHeaderButton/StudioPageHeaderHeaderButton.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderLeft/DigdirLogoLink/DigdirLogoLink.tsx
  frontend/libs/studio-components/src/components/StudioTreeView/StudioTreeViewItem/StudioTreeViewItem.tsx
  frontend/libs/studio-components/src/types/OverridableComponent.ts
  frontend/libs/studio-components/src/types/OverridableComponentProps.ts
  frontend/libs/studio-components/src/types/OverridableComponentRef.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/RedirectToCreatePageButton/RedirectToCreatePageButton.tsx
  frontend/packages/shared/src/components/ButtonRouterLink/ButtonRouterLink.test.tsx
  frontend/packages/shared/src/components/ButtonRouterLink/ButtonRouterLink.tsx
  frontend/packages/shared/src/components/ButtonRouterLink/index.ts
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/ThreeDotsMenu.tsx
  frontend/resourceadm/components/AccessListEnvLinks/AccessListEnvLinks.tsx
  frontend/resourceadm/components/ResourceAccessLists/ResourceAccessLists.tsx
  frontend/resourceadm/pages/ListAdminPage/ListAdminPage.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.tsx
Labels: kind/bug, area/process, area/app-preview, solution/studio/designer, quality/code, area/version-control, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#14083 feat: generic feedback form implementation for Studio
  Dockerfile
  frontend/app-development/package.json
  frontend/libs/studio-feedback-form/.eslintrc.js
  frontend/libs/studio-feedback-form/README.md
  frontend/libs/studio-feedback-form/jest.config.js
  frontend/libs/studio-feedback-form/mocks/mockQuestionsConfig.ts
  frontend/libs/studio-feedback-form/package.json
  frontend/libs/studio-feedback-form/src/FeedbackForm/FeedbackForm.module.css
  frontend/libs/studio-feedback-form/src/FeedbackForm/FeedbackForm.test.tsx
  frontend/libs/studio-feedback-form/src/FeedbackForm/FeedbackForm.tsx
  frontend/libs/studio-feedback-form/src/FeedbackForm/Question/TextQuestion.test.tsx
  frontend/libs/studio-feedback-form/src/FeedbackForm/Question/TextQuestion.tsx
  frontend/libs/studio-feedback-form/src/FeedbackForm/Question/YesNoQuestion.module.css
  frontend/libs/studio-feedback-form/src/FeedbackForm/Question/YesNoQuestion.test.tsx
  frontend/libs/studio-feedback-form/src/FeedbackForm/Question/YesNoQuestion.tsx
  frontend/libs/studio-feedback-form/src/config/FeedbackFormImpl.test.tsx
  frontend/libs/studio-feedback-form/src/config/FeedbackFormImpl.tsx
  frontend/libs/studio-feedback-form/src/contexts/FeedbackFormContext.test.tsx
  frontend/libs/studio-feedback-form/src/contexts/FeedbackFormContext.tsx
  frontend/libs/studio-feedback-form/src/index.ts
  frontend/libs/studio-feedback-form/src/types/AnswerType.ts
  frontend/libs/studio-feedback-form/src/types/QuestionsProps.ts
  frontend/libs/studio-feedback-form/src/utils/questionUtils.test.ts
  frontend/libs/studio-feedback-form/src/utils/questionUtils.ts
  yarn.lock
Labels: solution/studio/designer, kind/dependencies, frontend, team/studio-core, skip-manual-testing

#14098 fix: Support tabbing inside input table
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/BaseInputCell.ts
  frontend/libs/studio-components/src/components/StudioInputTable/HeaderCell/HeaderCellCheckbox.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/StudioInputTable.test.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/StudioInputTable.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/dom-utils/activateTabbingOnFirstInputElement.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14110 chore(resource-adm): Allow ttd to migrate delegations of acn org
  backend/src/Designer/Controllers/ResourceAdminController.cs
Labels: solution/studio/designer, skip-releasenotes, backend, area/resource-adm, skip-manual-testing

#14100 feat: 14092 create studio checkbox table
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTable.stories.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTable.test.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTable.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTableBody/StudioCheckboxTableBody.test.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTableBody/StudioCheckboxTableBody.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTableBody/index.ts
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTableHeader/StudioCheckboxTableHeader.module.css
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTableHeader/StudioCheckboxTableHeader.test.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTableHeader/StudioCheckboxTableHeader.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTableHeader/index.ts
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTableRow/StudioCheckboxTableRow.module.css
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTableRow/StudioCheckboxTableRow.test.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTableRow/StudioCheckboxTableRow.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTableRow/index.ts
  frontend/libs/studio-components/src/components/StudioCheckboxTable/index.ts
  frontend/libs/studio-components/src/components/StudioCheckboxTable/mocks/index.ts
  frontend/libs/studio-components/src/components/StudioCheckboxTable/types/StudioCheckboxTableRowElement.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#13962 refactor: Refactor Dashboard resources to use studio/components and icons
  frontend/dashboard/components/ResourceItem/ResourceItem.test.tsx
  frontend/dashboard/components/ResourceItem/ResourceItem.tsx
  frontend/dashboard/components/Resources/Resources.tsx
  frontend/dashboard/types/Resource.ts
  frontend/libs/studio-icons/src/react/icons/ContactResourceIcon.tsx
  frontend/libs/studio-icons/src/react/icons/DesignResourceIcon.tsx
  frontend/libs/studio-icons/src/react/icons/DocsResourceIcon.tsx
  frontend/libs/studio-icons/src/react/icons/OperationStatusResourceIcon.tsx
  frontend/libs/studio-icons/src/react/icons/OrgResourceIcon.tsx
  frontend/libs/studio-icons/src/react/icons/RoadmapResourceIcon.tsx
  frontend/libs/studio-icons/src/react/icons/SlackIcon.tsx
  frontend/libs/studio-icons/src/react/icons/index.ts
Labels: area/dashboard, solution/studio/designer, added-to-sprint, frontend, team/studio-core, skip-manual-testing

#14109 fix: add onInvalid callback in StudioCodeListEditor
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.test.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, skip-manual-testing

#14106 chore(resource-adm): remove asChild prop from links
  frontend/resourceadm/components/AccessListDetails/AccessListDetail.test.tsx
  frontend/resourceadm/components/AccessListDetails/AccessListDetail.tsx
  frontend/resourceadm/components/LeftNavigationBar/GoBackButton/GoBackButton.tsx
  frontend/resourceadm/components/LeftNavigationBar/Tab/Tab.tsx
  frontend/resourceadm/components/LinkButton/LinkButton.module.css
  frontend/resourceadm/components/LinkButton/LinkButton.test.tsx
  frontend/resourceadm/components/LinkButton/LinkButton.tsx
  frontend/resourceadm/components/ResourceAccessLists/ResourceAccessLists.test.tsx
  frontend/resourceadm/components/ResourceAccessLists/ResourceAccessLists.tsx
  frontend/resourceadm/components/ResourceDeployStatus/ResourceDeployStatus.test.tsx
  frontend/resourceadm/components/ResourceDeployStatus/ResourceDeployStatus.tsx
  frontend/resourceadm/pages/ListAdminPage/ListAdminPage.test.tsx
  frontend/resourceadm/pages/ListAdminPage/ListAdminPage.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, skip-manual-testing

#14113 fix: use gitRepoMethods to move files/dirs in appGitRepo
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Infrastructure/GitRepository/GitRepository.cs
Labels: solution/studio/designer, skip-releasenotes, backend, skip-manual-testing, skip-documentation

#14101 fix: Fixed empty data model bindings
  frontend/packages/ux-editor/src/hooks/useValidDataModels.ts
Labels: area/ui-editor, solution/studio/designer, frontend

#14108 chore(ui-editor): Remove LikertItem component
  frontend/language/src/nb.json
  frontend/packages/shared/src/types/ComponentSpecificConfig.ts
  frontend/packages/shared/src/types/ComponentType.ts
  frontend/packages/ux-editor/src/components/config/Expressions/utils/utils.ts
  frontend/packages/ux-editor/src/data/formItemConfig.ts
  frontend/packages/ux-editor/src/testing/componentSchemaMocks.ts
  frontend/packages/ux-editor/src/testing/schemas/json/component/LikertItem.schema.v1.json
Labels: area/ui-editor, solution/studio/designer, frontend, skip-manual-testing

#14035 fix: Add custom attribute for OptionValue and OptionLabel and allow empty string
  backend/src/Designer/Exceptions/Options/InvalidOptionsFormatException.cs
  backend/src/Designer/Filters/Options/OptionsErrorCodes.cs
  backend/src/Designer/Filters/Options/OptionsExceptionFilterAttribute.cs
  backend/src/Designer/Filters/ProblemDetailsExtensionsCodes.cs
  backend/src/Designer/Helpers/JsonConverterHelpers/NotNullableAttribute.cs
  backend/src/Designer/Helpers/JsonConverterHelpers/OptionConverterHelper.cs
  backend/src/Designer/Infrastructure/MvcConfiguration.cs
  backend/src/Designer/Models/Option.cs
  backend/src/Designer/Services/Implementation/OptionsService.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/GetOptionListIdsTests.cs
  backend/tests/Designer.Tests/Controllers/OptionsController/GetOptionsTests.cs
  backend/tests/Designer.Tests/Controllers/OptionsController/UpdateOptionsTests.cs
  backend/tests/Designer.Tests/Controllers/OptionsController/UploadOptionsTests.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnAppGitRepositoryTests.cs
  backend/tests/Designer.Tests/Services/OptionsServiceTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-options/App/options/options-with-null-fields.json
  frontend/language/src/nb.json
Labels: kind/bug, solution/studio/designer, quality/testing, skip-releasenotes, backend, frontend, team/studio-domain1, skip-documentation

#14053 feat: remove creat subfom buttom and show delete button just when it is a s…
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.test.tsx
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.tsx
  frontend/packages/ux-editor/src/components/Elements/Subform/CreateSubformWrapper.module.css
  frontend/packages/ux-editor/src/components/Elements/Subform/CreateSubformWrapper.test.tsx
  frontend/packages/ux-editor/src/components/Elements/Subform/CreateSubformWrapper.tsx
  frontend/packages/ux-editor/src/components/Elements/Subform/DeleteSubformWrapper.module.css
  frontend/packages/ux-editor/src/components/Elements/Subform/DeleteSubformWrapper.test.tsx
  frontend/packages/ux-editor/src/components/Elements/Subform/DeleteSubformWrapper.tsx
  frontend/packages/ux-editor/src/components/Elements/Subform/SubformWrapper.tsx
Labels: area/ui-editor, solution/studio/designer, frontend

#14014 feat: context based login with ansattporten
  frontend/app-development/hooks/queries/useIsLoggedInWithAnsattportenQuery.ts
  frontend/app-development/hooks/useOpenSettingsModalBasedQueryParam.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/SettingsModal.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/SettingsModal.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/Maskinporten.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/Maskinporten.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/index.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/hooks/useSettingsModalMenuTabConfigs.tsx
  frontend/app-development/types/SettingsModalTabId.ts
  frontend/language/src/nb.json
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/QueryKey.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
Labels: area/data-modeling, area/process, area/ui-editor, area/dashboard, area/app-preview, solution/studio/designer, area/version-control, quality/testing, backend, kind/dependencies, frontend, skip-manual-testing

#14115 feat: display layoutset type in FormDesignerToolbar combobox description
  frontend/language/src/nb.json
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/hooks/queries/useLayoutSetsExtendedQuery.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/QueryKey.ts
  frontend/packages/shared/src/types/api/dto/LayoutSetModel.ts
  frontend/packages/shared/src/types/api/dto/LayoutSetsModel.ts
  frontend/packages/shared/src/types/api/dto/TaskModel.ts
  frontend/packages/shared/src/utils/layoutSetsUtils.ts
  frontend/packages/ux-editor/src/App.test.tsx
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.test.tsx
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.tsx
  frontend/packages/ux-editor/src/testing/layoutSetsMock.ts
Labels: area/ui-editor, solution/studio/designer, frontend

#14127 fix: keep nil values during (de)serialization
  backend/src/DataModeling/Converter/Csharp/JsonMetadataToCsharpConverter.cs
  backend/tests/DataModeling.Tests/CsharpEnd2EndGenerationTests.cs
  backend/tests/DataModeling.Tests/Utils/SerializationHelper.cs
  backend/tests/DataModeling.Tests/XmlDeserializeSerializeTests.cs
  testdata/Model/CSharp/Gitea/Kursdomene_APINøkkel_M_2020-05-26_5702_34556_SERES.cs
  testdata/Model/CSharp/Gitea/Kursdomene_BliTjenesteeier_M_2020-05-25_5703_34553_SERES.cs
  testdata/Model/CSharp/Gitea/dat-skjema.cs
  testdata/Model/CSharp/Gitea/nbib-melding.cs
  testdata/Model/CSharp/Gitea/skjema.cs
  testdata/Model/CSharp/Gitea/srf-fufinn-behovsendring.cs
  testdata/Model/CSharp/Gitea/srf-fufinn-behovskartleggin.cs
  testdata/Model/CSharp/Gitea/srf-melding-til-statsforvalteren.cs
  testdata/Model/CSharp/XsAll/ferdigattest/v4/ferdigattest.cs
  testdata/Model/CSharp/XsAll/igangsettingstillatelse/v4/igangsettingstillatelse.cs
  testdata/Model/CSharp/XsAll/midlertidigbrukstillatelse/v4/midlertidigbrukstillatelse.cs
  testdata/Model/CSharp/XsAll/planvarsel/v2/planvarsel.cs
  testdata/Model/Xml/XsAll/xsall-example-nillable-sample.xml
  testdata/Model/XmlSchema/XsAll/xsall-example.xsd
Labels: area/data-modeling, solution/studio/designer, quality/testing, backend, team/studio-core, skip-manual-testing

#14059 feat: show alert when no scope is available
  frontend/app-development/hooks/queries/useGetScopesQuery.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/Maskinporten.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/Maskinporten.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeList/ScopeList.module.css
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeList/ScopeList.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeList/ScopeList.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeList/index.ts
  frontend/language/src/nb.json
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/MaskinportenScope.ts
  frontend/packages/shared/src/types/QueryKey.ts
Labels: area/data-modeling, area/process, area/ui-editor, area/text-editor, area/dashboard, area/app-preview, area/app-deploy, solution/studio/designer, area/version-control, solution/platform, quality/testing, skip-releasenotes, backend, kind/dependencies, area/overview, frontend, skip-manual-testing

#14130 chore(deps): ef-core
  .github/workflows/dotnet-migrations-ensure-compatibility.yaml
  backend/Migrations.Dockerfile
  backend/packagegroups/NuGet.props
  backend/src/Designer/Designer.csproj
  backend/tests/Designer.Tests/Designer.Tests.csproj
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, kind/dependencies, skip-manual-testing

#14131 chore: PDF - weekly patching of dependencies in pom.xml
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes

#14134 fix: move `filenameUtils` from `shared` to `studio-pure-functions`
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SchemaEditorWithToolbar.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SelectedSchemaEditor.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload/XSDUpload.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload/validationUtils.ts
  frontend/app-development/hooks/mutations/useDeleteDataModelMutation.test.ts
  frontend/app-development/hooks/mutations/useDeleteDataModelMutation.ts
  frontend/app-development/utils/metadataUtils.ts
  frontend/libs/studio-pure-functions/src/FileNameUtils/FilenameUtils.test.ts
  frontend/libs/studio-pure-functions/src/FileNameUtils/FilenameUtils.ts
  frontend/libs/studio-pure-functions/src/FileNameUtils/index.ts
  frontend/libs/studio-pure-functions/src/index.ts
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/FileChangesInfoModal/FilePath/FilePath.tsx
  frontend/packages/shared/src/utils/filenameUtils.test.ts
  frontend/packages/shared/src/utils/filenameUtils.ts
  frontend/packages/text-editor/src/hooks/useLayoutNamesQuery.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/LocalImage/ImportImage/AddImageFromLibrary/ChooseFromLibrary/ImageLibraryPreview.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/LocalImage/PreviewImageSummary/PreviewFileInfo.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditOptionList/EditOptionList.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditOptionList/utils/findFileNameError.ts
Labels: area/data-modeling, area/ui-editor, area/text-editor, solution/studio/designer, area/version-control, skip-releasenotes, frontend, team/studio-core, skip-manual-testing, skip-documentation

#14117 fix: add test that cache is updated in useUpdateOptionListMutation
  frontend/packages/shared/src/hooks/mutations/useUpdateOptionListMutation.test.ts
  frontend/packages/shared/src/mocks/mocks.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditOptionList/OptionListEditor.test.tsx
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14019 feat: Implement modal to create new code list
  frontend/app-development/features/appContentLibrary/AppContentLibrary.test.tsx
  frontend/app-development/features/appContentLibrary/AppContentLibrary.tsx
  frontend/app-development/features/appContentLibrary/utils/convertOptionListsToCodeLists.test.ts
  frontend/language/src/nb.json
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeList.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeListsActionsBar/CodeListsActionsBar.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeListsActionsBar/CodeListsActionsBar.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeListsActionsBar/CreateNewCodeListModal/CreateNewCodeListModal.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeListsActionsBar/CreateNewCodeListModal/CreateNewCodeListModal.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeListsActionsBar/CreateNewCodeListModal/CreateNewCodeListModal.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/hooks/useCodeListEditorTexts.ts
  frontend/packages/shared/src/hooks/mutations/index.ts
Labels: solution/studio/designer, frontend

#14055 fix: replace convert-type-suggestion with cannot-convert-type-message in schemaInspector
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/components/NoItemSelectedMessage/NoItemSelectedMessage.module.css
  frontend/packages/schema-editor/src/components/SchemaEditor/SchemaEditor.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTab.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/SchemaInspector.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/SchemaInspector.tsx
Labels: area/data-modeling, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#14139 fix: Remove outdated comment
  frontend/app-development/features/processEditor/ProcessEditor.tsx
Labels: area/process, solution/studio/designer, frontend, team/studio-domain1, skip-manual-testing

#14079 fix: Fix maxLength constraint of page names
  frontend/packages/ux-editor-v3/src/utils/designViewUtils/designViewUtils.ts
  frontend/packages/ux-editor/src/utils/designViewUtils/designViewUtils.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain2

#14090 feat: add base component for StudioContentMenu
  frontend/libs/studio-components/src/components/StudioContentMenu/StudioContentMenu.tsx
  frontend/libs/studio-components/src/components/StudioContentMenu/StudioContentMenuBase.tsx
  frontend/libs/studio-components/src/components/StudioContentMenu/StudioContentMenuDynamic.tsx
  frontend/libs/studio-components/src/components/StudioContentMenu/index.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-core, skip-manual-testing

#14120 fix: Removed Browserslist warnings by updating caniuse-lite database
  package.json
  yarn.lock
Labels: team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#14153 fix: reset ref for file uploader after submission
  frontend/libs/studio-components/src/components/StudioFileUploader/StudioFileUploader.test.tsx
  frontend/libs/studio-components/src/components/StudioFileUploader/StudioFileUploader.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-core, skip-documentation

#14150 feat: add file name validation function in `studio-pure-functions`
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SelectedSchemaEditor.tsx
  frontend/libs/studio-pure-functions/src/FileNameUtils/FileNameUtils.test.ts
  frontend/libs/studio-pure-functions/src/FileNameUtils/FileNameUtils.ts
  frontend/libs/studio-pure-functions/src/FileNameUtils/index.ts
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/FileChangesInfoModal/FilePath/FilePath.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/LocalImage/ImportImage/AddImageFromLibrary/ChooseFromLibrary/ImageLibraryPreview.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/LocalImage/PreviewImageSummary/PreviewFileInfo.tsx
Labels: area/data-modeling, area/ui-editor, solution/studio/designer, area/version-control, skip-releasenotes, frontend, team/studio-core, skip-documentation

#14076 perf: remove predefined validation for closesubformbutton component
  frontend/packages/ux-editor/src/data/formItemConfig.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain2

#14075 feat: split app-scopes endpoint into, status, login and app-scopes
  backend/src/Designer/Controllers/AnsattPortenController.cs
  backend/src/Designer/Controllers/AppScopesController.cs
  backend/src/Designer/Infrastructure/AnsattPorten/AnsattPortenExtensions.cs
  backend/src/Designer/Infrastructure/AuthenticationConfiguration.cs
  backend/src/Designer/Models/Dto/AuthStatus.cs
  backend/tests/Designer.Tests/Controllers/AnsattPortenController/AuthStatusTests.cs
  backend/tests/Designer.Tests/Controllers/AnsattPortenController/Base/AnsattPortenControllerTestsBase.cs
  backend/tests/Designer.Tests/Controllers/AnsattPortenController/LoginTests.cs
  backend/tests/Designer.Tests/Controllers/ApiTests/ApiTestsBase.cs
  backend/tests/Designer.Tests/Controllers/AppScopesController/Base/AppScopesControllerTestsBase.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/GetImageTests.cs
  charts/altinn-designer/values.yaml
  frontend/app-development/hooks/queries/useIsLoggedInWithAnsattportenQuery.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/Maskinporten.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/Maskinporten.tsx
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, frontend, team/studio-core, skip-manual-testing

#14159 fix: add ToastContainer to render helper function in library
  frontend/libs/studio-content-library/src/ContentLibrary/ContentLibrary.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/PagesRouter/PagesRouter.test.tsx
  frontend/libs/studio-content-library/src/config/ContentResourceLibraryImpl.test.tsx
  frontend/libs/studio-content-library/test-utils/renderWithBrowserRouter.tsx
  frontend/libs/studio-content-library/test-utils/renderWithProviders.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14168 feat: Backend slack integration
  backend/src/Designer/Configuration/FeedbackFormSettings.cs
  backend/src/Designer/Controllers/FeedbackFormController.cs
  backend/src/Designer/Models/Dto/FeedbackForm.cs
  backend/src/Designer/TypedHttpClients/Slack/ISlackClient.cs
  backend/src/Designer/TypedHttpClients/Slack/SlackClient.cs
  backend/src/Designer/TypedHttpClients/Slack/SlackRequest.cs
  backend/src/Designer/TypedHttpClients/TypedHttpClientRegistration.cs
  backend/src/Designer/appsettings.json
  backend/tests/Designer.Tests/Controllers/FeedbackFormController/Base/FeedbackFormControllerTestBase.cs
  backend/tests/Designer.Tests/Controllers/FeedbackFormController/SendMessageToSlackTests.cs
  backend/tests/Designer.Tests/Controllers/FeedbackFormController/Utils/SlackMockServerExtensions.cs
Labels: solution/studio/designer, quality/testing, backend, skip-manual-testing

#14148 chore: 14125 implement full design of maskinporten
  frontend/app-development/hooks/queries/useGetSelectedScopesQuery.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/AnsattportenLogin/AnsattportenLogin.module.css
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/AnsattportenLogin/AnsattportenLogin.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/AnsattportenLogin/AnsattportenLogin.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/AnsattportenLogin/index.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/Maskinporten.module.css
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/Maskinporten.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/Maskinporten.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeList/ScopeList.module.css
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeList/ScopeList.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeList/ScopeList.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/LoggedInTitle/LoggedInTitle.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/LoggedInTitle/LoggedInTitle.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/LoggedInTitle/index.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/NoScopesAlert/NoScopesAlert.module.css
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/NoScopesAlert/NoScopesAlert.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/NoScopesAlert/NoScopesAlert.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/NoScopesAlert/index.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/ScopeList/ScopeList.module.css
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/ScopeList/ScopeList.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/ScopeList/ScopeList.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/ScopeList/index.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/ScopeList/utils.test.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/ScopeList/utils.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/ScopeListContainer.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/ScopeListContainer.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/index.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/hooks/useSettingsModalMenuTabConfigs.tsx
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTableHeader/StudioCheckboxTableHeader.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTableRow/StudioCheckboxTableRow.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxTable/index.ts
  frontend/libs/studio-components/src/components/StudioCheckboxTable/types/StudioCheckboxTableRowElement.ts
  frontend/libs/studio-icons/src/react/icons/MaskinportenIcon.tsx
  frontend/libs/studio-icons/src/react/icons/index.ts
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/QueryKey.ts
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#14158 feat: redis cache
  README.md
  backend/packagegroups/NuGet.props
  backend/src/Designer/Configuration/RedisCacheSettings.cs
  backend/src/Designer/Designer.csproj
  backend/src/Designer/Migrations/20241111093515_DistributedCacheTable.cs
  backend/src/Designer/Migrations/SqlScripts/DistributedCache/Create/01-setup-distributedcache-table.sql
  backend/src/Designer/Migrations/SqlScripts/DistributedCache/Create/02-setup-grants.sql
  backend/src/Designer/Migrations/SqlScripts/DistributedCache/Drop/01-drop-distributedcache-table.sql
  backend/src/Designer/Program.cs
  backend/src/Designer/appsettings.json
  charts/altinn-designer/values.yaml
  compose.yaml
  frontend/packages/shared/src/providers/PreviewConnectionContext.tsx
  frontend/packages/shared/src/websockets/WSConnector.test.ts
  frontend/packages/shared/src/websockets/WSConnector.ts
  frontend/testing/setupTests.ts
Labels: solution/studio/designer, quality/testing, backend, kind/dependencies, frontend, skip-manual-testing

#14169 refactor(studio-root): seperated repeated html on ContactPage to React Component
  .github/workflows/lint-pr.yaml
  frontend/studio-root/components/ContactSection/ContactSection.module.css
  frontend/studio-root/components/ContactSection/ContactSection.test.tsx
  frontend/studio-root/components/ContactSection/ContactSection.tsx
  frontend/studio-root/components/ContactSection/index.ts
  frontend/studio-root/pages/Contact/ContactPage.module.css
  frontend/studio-root/pages/Contact/ContactPage.tsx
Labels: solution/studio/designer, skip-releasenotes, area/studio-root, frontend, team/studio-core, skip-manual-testing

#14176 chore: connect get all scopes
  frontend/app-development/hooks/mutations/useUpdateSelectedMaskinportenScopesMutation.test.ts
  frontend/app-development/hooks/mutations/useUpdateSelectedMaskinportenScopesMutation.ts
  frontend/app-development/hooks/queries/useGetScopesQuery.ts
  frontend/app-development/hooks/queries/useGetSelectedScopesQuery.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/ScopeList/ScopeList.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/ScopeList/ScopeList.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/ScopeListContainer.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/ScopeListContainer.tsx
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/MaskinportenScope.ts
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#14160 test: Extend getNextInputElement tests for several elements per cell
  frontend/libs/studio-components/src/components/StudioInputTable/dom-utils/getNextInputElement.test.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14149 fix: add endpoint sync to upsert process definition endpoint
  backend/src/Designer/Controllers/ProcessModelingController.cs
  backend/src/Designer/Middleware/UserRequestSynchronization/Services/RequestSyncEvaluators/EndpointNameSyncEvaluator.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/FileSync/TaskIdChangeTests/ApplicationMetadataFileSyncTaskIdTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/FileSync/TaskIdChangeTests/LayoutFileSyncTaskIdTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/FileSync/TaskIdChangeTests/LayoutSetsFileSyncTaskIdTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/FileSync/TaskIdChangeTests/PolicyFileSyncTaskIdTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/SaveProcessDefinitionTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/UpsertProcessDefinitionAndNotifyTests.cs
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
Labels: area/process, solution/studio/designer, quality/testing, skip-releasenotes, backend, frontend, team/studio-domain1, team/studio-core

#14174 fix: adapt fileNameValidation function to find file name error and return 'null' if no error exist
  frontend/libs/studio-pure-functions/src/FileNameUtils/FileNameUtils.test.ts
  frontend/libs/studio-pure-functions/src/FileNameUtils/FileNameUtils.ts
  frontend/libs/studio-pure-functions/src/FileNameUtils/index.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-core, skip-manual-testing, skip-documentation

#14070 fix: Error when adding a component where the `dataModelBindings` property is missing
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/EditColumnElement.tsx
Labels: area/ui-editor, solution/studio/designer, frontend

#14146 fix: Added some missing null checks
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/AttachmentList/AttachmentListComponent.tsx
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend

#14072 fix: adjust css data model root button
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/components/NodePanel/HeadingRow/HeadingRow.module.css
  frontend/packages/schema-editor/src/components/NodePanel/HeadingRow/HeadingRow.tsx
  frontend/packages/schema-editor/src/components/NodePanel/NodePanel.module.css
  frontend/packages/schema-editor/src/components/SchemaEditor/SchemaEditor.test.tsx
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/ActionButtons/AddPropertyMenu.tsx
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/SchemaNode.test.tsx
  frontend/testing/playwright/pages/DataModelPage.ts
Labels: area/data-modeling, solution/studio/designer, ux, quality/testing, skip-releasenotes, added-to-sprint, frontend, team/studio-domain1, skip-documentation

#14181 feat: create useUpdateOptionListIdMutation hook
  frontend/libs/studio-pure-functions/src/ObjectUtils/ObjectUtils.test.ts
  frontend/libs/studio-pure-functions/src/ObjectUtils/ObjectUtils.ts
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/hooks/mutations/index.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOptionListIdMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOptionListIdMutation.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14173 fix: changed text in Andre stillinger seksjon
  frontend/language/src/nb.json
Labels: solution/studio/designer, frontend

#14212 feat(settings): open settings modal on redirect from ansattporten
  frontend/app-development/hooks/useOpenSettingsModalBasedQueryParam.test.ts
  frontend/app-development/hooks/useOpenSettingsModalBasedQueryParam.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/AnsattportenLogin/AnsattportenLogin.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/AnsattportenLogin/AnsattportenLogin.tsx
Labels: solution/studio/designer, frontend, skip-manual-testing

#14207 fix: add summary2 property to custom config exclusion list
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#14017 chore(resource-adm): Remove AT21 choice from resourceadm frontend
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/appsettings.json
  frontend/resourceadm/components/AccessListEnvLinks/AccessListEnvLinks.test.tsx
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.test.tsx
  frontend/resourceadm/pages/MigrationPage/MigrationPage.test.tsx
  frontend/resourceadm/types/EnvironmentType.d.ts
  frontend/resourceadm/utils/mapperUtils/mapperUtils.ts
  frontend/resourceadm/utils/resourceUtils/resourceUtils.ts
Labels: solution/studio/designer, skip-releasenotes, backend, area/resource-adm, frontend, skip-manual-testing

#14214 fix: typesInspector width
  frontend/packages/schema-editor/src/components/SchemaEditor/SchemaEditor.tsx
Labels: area/data-modeling, solution/studio/designer, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14151 refactor: Adjust text resource input component for input table
  frontend/libs/studio-components/src/components/StudioTextResourceInput/StudioTextResourceInput.test.tsx
  frontend/libs/studio-components/src/components/StudioTextResourceInput/StudioTextResourceInput.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation
