Repository Altinn/altinn-studio, pull requests merged in 2024-09, with the labels that each got.

#13420 added validation for CreateCustomReceiptForm and test.
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CreateCustomReceiptForm/CreateCustomReceiptForm.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CreateCustomReceiptForm/CreateCustomReceiptForm.tsx
Labels: area/process, solution/studio/designer

#13451 fix: Small text changes
  frontend/language/src/nb.json
Labels: solution/studio/designer

#13412 feat: 13391 create a studioerror component and use it instead of alerts with severity
  frontend/app-development/features/appPublish/components/Deploy.tsx
  frontend/app-development/features/appPublish/components/DeployDropdown.tsx
  frontend/app-development/features/appPublish/containers/DeploymentContainer.tsx
  frontend/app-development/features/appPublish/containers/ReleaseContainer.tsx
  frontend/app-development/features/appPublish/pages/DeployPage.tsx
  frontend/app-development/features/dataModelling/DataModelling.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SchemaGenerationErrorsPanel.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SelectedSchemaEditor.tsx
  frontend/app-development/features/overview/components/Deployments/DeploymentContainer/DeploymentContainer.tsx
  frontend/app-development/features/overview/components/Deployments/Deployments.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/TabDataError/TabDataError.tsx
  frontend/dashboard/components/SafeErrorView/SafeErrorView.tsx
  frontend/libs/studio-components/src/components/StudioError/StudioError.test.tsx
  frontend/libs/studio-components/src/components/StudioError/StudioError.tsx
  frontend/libs/studio-components/src/components/StudioError/index.ts
  frontend/libs/studio-components/src/components/StudioExpression/StudioExpression.tsx
  frontend/libs/studio-components/src/components/StudioPageError/StudioPageError.module.css
  frontend/libs/studio-components/src/components/StudioPageError/StudioPageError.tsx
  frontend/libs/studio-components/src/components/index.ts
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/FileChangesInfoModal/FileChangesInfoModal.tsx
  frontend/packages/ux-editor/src/components/Elements/Elements.tsx
Labels: area/data-modeling, area/ui-editor, area/dashboard, area/app-deploy, solution/studio/designer

#13390 feat(ui-editor): export form definition
  backend/src/Designer/Controllers/OptionsController.cs
  frontend/.gitignore
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioBlobDownloader/StudioBlobDownloader.mdx
  frontend/libs/studio-components/src/components/StudioBlobDownloader/StudioBlobDownloader.stories.tsx
  frontend/libs/studio-components/src/components/StudioBlobDownloader/StudioBlobDownloader.test.tsx
  frontend/libs/studio-components/src/components/StudioBlobDownloader/StudioBlobDownloader.tsx
  frontend/libs/studio-components/src/components/StudioBlobDownloader/index.ts
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubExpressionValueContentInput/GatewayActionSelector.tsx
  frontend/libs/studio-components/src/components/index.ts
  frontend/libs/studio-pure-functions/src/BlobDownloader/BlobDownloader.test.ts
  frontend/libs/studio-pure-functions/src/BlobDownloader/BlobDownloader.ts
  frontend/libs/studio-pure-functions/src/BlobDownloader/index.ts
  frontend/libs/studio-pure-functions/src/index.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/QueryKey.ts
  frontend/packages/shared/src/types/api/FormLayoutsResponse.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/components/Elements/ExportForm.tsx
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.module.css
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.tsx
  frontend/packages/ux-editor/src/hooks/queries/useOptionListsQuery.test.ts
  frontend/packages/ux-editor/src/hooks/queries/useOptionListsQuery.ts
  frontend/packages/ux-editor/src/types/ExportForm.ts
  frontend/packages/ux-editor/src/utils/exportUtils.test.ts
  frontend/packages/ux-editor/src/utils/exportUtils.ts
Labels: area/ui-editor, solution/studio/designer

#13463 feat: 12234 remove mui typography
  frontend/packages/ux-editor-v3/src/components/toolbar/ConditionalRenderingModal.tsx
  frontend/packages/ux-editor-v3/src/components/toolbar/RuleModal.tsx
  frontend/packages/ux-editor/src/components/Properties/Calculations.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Calculations.tsx
  frontend/packages/ux-editor/src/components/Properties/ConditionalRendering.module.css
  frontend/packages/ux-editor/src/components/Properties/ConditionalRendering.tsx
  frontend/packages/ux-editor/src/components/Properties/Dynamics.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.test.tsx
  frontend/packages/ux-editor/src/components/toolbar/ConditionalRenderingModal.tsx
  frontend/packages/ux-editor/src/components/toolbar/RuleModal.tsx
Labels: area/ui-editor, solution/studio/designer

#13345 feat(ui-editor): use tabs to visually separate the 3 codelist/option modes
  frontend/language/src/nb.json
  frontend/packages/shared/src/ext-urls.ts
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditOptions.test.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditOptions.tsx
  frontend/packages/ux-editor/src/components/Properties/Text.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList/EditCodeList.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList/EditCodeList.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList/EditCodeList.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditCodeList/EditCodeList.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditCodeList/EditCodeList.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditCodeList/EditCodeListReference.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditCodeList/EditCodelistReference.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditCodeList/ManualCodelistUploadSteps.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditCodeList/ManualCodelistUploadSteps.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditCodeList/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditManualOptions/EditManualOptions.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditManualOptions/EditManualOptions.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditManualOptions/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditOptions.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditOptions.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditOptions.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/index.ts
  frontend/packages/ux-editor/src/types/FormComponent.ts
  frontend/packages/ux-editor/src/utils/component.ts
  frontend/packages/ux-editor/src/utils/optionsUtils.test.ts
  frontend/packages/ux-editor/src/utils/optionsUtils.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes

#13492 refactor: Update nb.json
  frontend/language/src/nb.json
Labels: solution/studio/designer, added-to-sprint

#13439 fix: root header doesn't display when there are no elements
  frontend/app-development/features/dataModelling/DataModelling.test.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor/SchemaEditor.test.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor/SchemaEditor.tsx
  frontend/packages/schema-model/src/lib/SchemaModel.test.ts
  frontend/packages/schema-model/src/lib/SchemaModel.ts
Labels: area/data-modeling, solution/studio/designer

#13437 fix: update config panel when deleting a connection
  frontend/packages/process-editor/src/hooks/useBpmnEditor.test.tsx
  frontend/packages/process-editor/src/hooks/useBpmnEditor.ts
  frontend/packages/process-editor/src/types/SelectionChangeEvent.ts
  frontend/testing/playwright/tests/process-editor/add-new-bpmn-task.spec.ts
Labels: area/process, solution/studio/designer, quality/testing

#13488 feat(overview): news about updated terms
  frontend/app-development/features/overview/components/News/NewsContent/news.nb.json
Labels: solution/studio/designer, added-to-sprint, text/content

#13452 fix: Add target='_blank' to app version link
  frontend/app-development/features/appPublish/components/DeploymentEnvironmentStatus.tsx
  frontend/app-development/features/overview/components/Deployments/DeploymentContainer/DeploymentStatus.tsx
  frontend/language/src/nb.json
Labels: area/app-deploy, solution/studio/designer

#13466 feat: designer cd
  .github/workflows/deploy-designer.yaml
  .github/workflows/template-flux-config-push.yaml
Labels: skip-releasenotes

#13119 fix: removed duplicated logout call
  frontend/packages/shared/src/contexts/ServicesContext.test.tsx
  frontend/packages/shared/src/contexts/ServicesContext.tsx
Labels: solution/studio/designer, skip-releasenotes

#13462 refactor(workspace): changed 3 agreed terms
  frontend/language/src/nb.json
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/RedirectToCreatePageButton/RedirectToCreatePageButton.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/RedirectToCreatePageButton/RedirectToCreatePageButton.tsx
Labels: area/process, solution/studio/designer

#13530 chore: Add class for formlayoutsettings and useSavable hook
  frontend/packages/shared/src/types/global.ts
  frontend/packages/ux-editor/src/classes/FormLayoutSettings.test.ts
  frontend/packages/ux-editor/src/classes/FormLayoutSettings.ts
  frontend/packages/ux-editor/src/classes/SavableFormLayoutSettings.test.ts
  frontend/packages/ux-editor/src/classes/SavableFormLayoutSettings.ts
  frontend/packages/ux-editor/src/hooks/useSavableFormLayoutSettings.ts
Labels: area/ui-editor, solution/studio/designer

#13495 chore: Change recommendedNextAction in process to update layoutsetname and add section to change in panel
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioIconTextfield/StudioIconTextfield.module.css
  frontend/libs/studio-components/src/components/StudioRecommendedNextAction/index.ts
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioTextfieldToggleView/StudioTextfieldToggleView.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypes/EditDataTypes.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypes/EditDataTypes.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypes/EditDataTypes.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypes/SelectDataTypes/SelectDataTypes.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypes/SelectDataTypes/SelectDataTypes.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypes/SelectDataTypes/SelectDataTypes.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypes/SelectDataTypes/index.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypes/index.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypesToSign/EditDataTypesToSign.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypesToSign/EditDataTypesToSign.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypesToSign/EditDataTypesToSign.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypesToSign/SelectDataTypesToSign/SelectDataTypesToSign.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypesToSign/SelectDataTypesToSign/SelectDataTypesToSign.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypesToSign/SelectDataTypesToSign/SelectDataTypesToSign.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypesToSign/SelectDataTypesToSign/index.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypesToSign/index.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditLayoutSetName/EditLayoutSetName.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditLayoutSetName/EditLayoutSetName.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditLayoutSetName/index.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditLayoutSetNameRecommendedAction/RecommendedActionChangeName.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditLayoutSetNameRecommendedAction/RecommendedActionChangeName.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditTaskId/EditTaskId.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditTaskId/EditTaskId.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditTaskId/EditTaskId.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditTaskRecommendedActions/RecommendedActionChangeName.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditUniqueFromSignaturesInDataTypes/EditUniqueFromSignaturesInDataTypes.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditUniqueFromSignaturesInDataTypes/EditUniqueFromSignaturesInDataTypes.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditUniqueFromSignaturesInDataTypes/EditUniqueFromSignaturesInDataTypes.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditUniqueFromSignaturesInDataTypes/SelectUniqueFromSignaturesInDataTypes/SelectUniqueFromSignaturesInDataTypes.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditUniqueFromSignaturesInDataTypes/SelectUniqueFromSignaturesInDataTypes/SelectUniqueFromSignaturesInDataTypes.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditUniqueFromSignaturesInDataTypes/SelectUniqueFromSignaturesInDataTypes/SelectUniqueFromSignaturesInDataTypes.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditUniqueFromSignaturesInDataTypes/SelectUniqueFromSignaturesInDataTypes/index.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditUniqueFromSignaturesInDataTypes/UniqueFromSignaturesInDataTypesUtils.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditUniqueFromSignaturesInDataTypes/index.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CreateCustomReceiptForm/CreateCustomReceiptForm.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CustomReceipt/CustomReceipt.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CustomReceipt/CustomReceipt.tsx
  frontend/packages/process-editor/src/components/ConfigSurface/ConfigSurface.module.css
  frontend/packages/process-editor/src/hooks/useBpmnEditor.ts
  frontend/packages/process-editor/test/mocks/bpmnContextMock.ts
  frontend/packages/process-editor/test/mocks/bpmnDetailsMock.ts
  frontend/packages/shared/src/hooks/useValidateLayoutSetName.test.ts
  frontend/packages/shared/src/hooks/useValidateLayoutSetName.ts
  frontend/packages/shared/src/utils/layoutSetsUtils.test.ts
  frontend/packages/shared/src/utils/layoutSetsUtils.ts
  frontend/testing/playwright/pages/ProcessEditorPage/DataModelConfig.ts
  frontend/testing/playwright/tests/process-editor/add-new-bpmn-task.spec.ts
  frontend/testing/playwright/tests/process-editor/process-editor.spec.ts
Labels: area/process, solution/studio/designer, quality/testing

#13533 fix: ResizableLayoutContainer no longer overflows
  frontend/libs/studio-components/src/components/StudioResizableLayout/StudioResizableLayoutContainer/StudioResizableLayoutContainer.module.css
  frontend/libs/studio-components/src/components/StudioResizableLayout/StudioResizableLayoutContainer/StudioResizableLayoutContainer.tsx
  frontend/packages/ux-editor/src/components/Elements/Elements.tsx
  frontend/packages/ux-editor/src/components/Preview/Preview.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
Labels: area/ui-editor, solution/studio/designer

#13516 fix: combobox receipt in process and create `StudioCombobox`
  frontend/libs/studio-components/src/components/StudioCombobox/StudioCombobox.stories.tsx
  frontend/libs/studio-components/src/components/StudioCombobox/StudioCombobox.test.tsx
  frontend/libs/studio-components/src/components/StudioCombobox/StudioCombobox.tsx
  frontend/libs/studio-components/src/components/StudioCombobox/index.ts
  frontend/libs/studio-components/src/components/index.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CreateCustomReceiptForm/CreateCustomReceiptForm.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CreateCustomReceiptForm/SelectCustomReceiptDataModelId/SelectCustomReceiptDataModelId.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CreateCustomReceiptForm/SelectCustomReceiptDataModelId/SelectCustomReceiptDataModelId.tsx
  frontend/testing/playwright/tests/process-editor/process-editor.spec.ts
Labels: area/process, solution/studio/designer, quality/testing

#13537 feat: ansattporten integration
  backend/src/Designer/Configuration/AnsattPortenLoginSettings.cs
  backend/src/Designer/Constants/StudioFeatureFlags.cs
  backend/src/Designer/Controllers/MaskinPortenController.cs
  backend/src/Designer/Infrastructure/AnsattPorten/AnsattPortenConstants.cs
  backend/src/Designer/Infrastructure/AnsattPorten/AnsattPortenExtensions.cs
  backend/src/Designer/Program.cs
  backend/src/Designer/TypedHttpClients/DelegatingHandlers/AnsattPortenTokenDelegatingHandler.cs
  backend/src/Designer/TypedHttpClients/MaskinPorten/IMaskinPortenHttpClient.cs
  backend/src/Designer/TypedHttpClients/MaskinPorten/MakinPortenHttpClient.cs
  backend/src/Designer/TypedHttpClients/MaskinPorten/MakinPortenScope.cs
  backend/src/Designer/TypedHttpClients/MaskinPorten/MaskinPortenHttpClientSettings.cs
  backend/src/Designer/TypedHttpClients/TypedHttpClientRegistration.cs
  backend/src/Designer/appsettings.json
  charts/altinn-designer/values.yaml
  compose.yaml
Labels: solution/studio/designer

#13554 fix: fix folder structure backend and add clean up css in studio components etc.
  backend/src/Designer/Controllers/DatamodelsController.cs
  backend/src/Designer/Models/AltinnCoreFile.cs
  backend/tests/Designer.Tests/Controllers/PolicyController/GetActionOptionsTests.cs
  backend/tests/Designer.Tests/Controllers/PolicyController/GetAppPolicyTests.cs
  backend/tests/Designer.Tests/Controllers/PolicyController/GetResourcePolicyTests.cs
  backend/tests/Designer.Tests/Controllers/PolicyController/GetSubjectOptionsTests.cs
  backend/tests/Designer.Tests/Controllers/PolicyController/TestPolicyHelper.cs
  backend/tests/Designer.Tests/Controllers/PolicyController/UpdateApplicationPolicyTests.cs
  backend/tests/Designer.Tests/Controllers/PolicyController/UpdateResourcePolicyTests.cs
  backend/tests/Designer.Tests/Controllers/PolicyController/ValidateAppPolicyTests.cs
  backend/tests/Designer.Tests/Controllers/PolicyController/ValidateResourcePolicyTests.cs
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload.tsx
  frontend/libs/studio-components/src/components/StudioIconTextfield/StudioIconTextfield.module.css
  frontend/libs/studio-components/src/components/StudioSpinner/StudioSpinner.test.tsx
  frontend/libs/studio-components/src/components/StudioSpinner/StudioSpinner.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioTextfieldToggleView/StudioTextfieldToggleView.module.css
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioTextfieldToggleView/StudioTextfieldToggleView.test.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioTextfieldToggleView/StudioTextfieldToggleView.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioToggleableTextfield.mdx
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioToggleableTextfield.stories.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChanges/LocalChanges.tsx
  frontend/packages/shared/src/contexts/ServicesContext.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditComponentIdRow/EditComponentIdRow.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditComponentIdRow/EditComponentIdRow.tsx
  frontend/packages/ux-editor/src/components/TextResource/TextResourceEditor/TextResourceEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditOptions.tsx
Labels: area/data-modeling, area/ui-editor, solution/studio/designer, quality/testing

#13535 test: Add test utils in studio-components
  frontend/libs/studio-components/src/components/StudioBooleanToggleGroup/StudioBooleanToggleGroup.test.tsx
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.test.tsx
  frontend/libs/studio-components/src/components/StudioCenter/StudioCenter.test.tsx
  frontend/libs/studio-components/src/components/StudioCodeFragment/StudioCodeFragment.test.tsx
  frontend/libs/studio-components/src/components/StudioDecimalInput/StudioDecimalInput.test.tsx
  frontend/libs/studio-components/src/components/StudioDeleteButton/StudioDeleteButton.test.tsx
  frontend/libs/studio-components/src/components/StudioIconTextfield/StudioIconTextfield.test.tsx
  frontend/libs/studio-components/src/components/StudioLabelWrapper/StudioLabelWrapper.test.tsx
  frontend/libs/studio-components/src/components/StudioProperty/StudioPropertyButton/StudioPropertyButton.test.tsx
  frontend/libs/studio-components/src/components/StudioProperty/StudioPropertyFieldset/StudioPropertyFieldset.test.tsx
  frontend/libs/studio-components/src/components/StudioProperty/StudioPropertyGroup/StudioPropertyGroup.test.tsx
  frontend/libs/studio-components/src/components/StudioSectionHeader/StudioSectionHeader.test.tsx
  frontend/libs/studio-components/src/components/StudioTextarea/StudioTextarea.test.tsx
  frontend/libs/studio-components/src/components/StudioTextfield/StudioTextfield.test.tsx
  frontend/libs/studio-components/src/test-utils/selectors.ts
  frontend/libs/studio-components/src/test-utils/testCustomAttributes.ts
  frontend/libs/studio-components/src/test-utils/testRefForwarding.ts
  frontend/libs/studio-components/src/test-utils/testRootClassNameAppending.ts
Labels: solution/studio/designer

#13445 fix: add validation to fileupload and fileuploadwithtag when editing component id
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/CreateNewWrapper.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/CreateNewWrapper.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload.tsx
  frontend/app-development/features/processEditor/ProcessEditor.tsx
  frontend/app-development/hooks/queries/index.ts
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/AboutTab.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AccessControlTab/AccessControlTab.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/SetupTab/SetupTab.tsx
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioFileUploader/StudioFileUploader.stories.tsx
  frontend/libs/studio-components/src/components/StudioFileUploader/StudioFileUploader.test.tsx
  frontend/libs/studio-components/src/components/StudioFileUploader/StudioFileUploader.tsx
  frontend/libs/studio-components/src/components/StudioFileUploader/StudioFileUploaderWrapper.tsx
  frontend/packages/shared/src/components/FileSelector.test.tsx
  frontend/packages/shared/src/components/FileSelector.tsx
  frontend/packages/shared/src/hooks/queries/index.ts
  frontend/packages/shared/src/hooks/queries/useAppMetadataQuery.ts
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditComponentIdRow/EditComponentIdRow.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditComponentIdRow/EditComponentIdRow.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/AttachmentList/AttachmentListComponent.tsx
Labels: area/data-modeling, area/process, area/ui-editor, solution/studio/designer

#13565 fix: Fix typo for added payment component
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
Labels: solution/studio/designer

#13559 feat: Implementing StudioPageHeader component
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeader.mdx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeader.module.css
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeader.stories.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeader.test.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeader.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderButton/StudioPageHeaderButton.module.css
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderButton/StudioPageHeaderButton.test.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderButton/StudioPageHeaderButton.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderButton/index.ts
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderCenter/StudioPageHeaderCenter.test.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderCenter/StudioPageHeaderCenter.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderCenter/index.ts
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderLeft/DigdirLogoLink/DigdirLogo.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderLeft/DigdirLogoLink/DigdirLogoLink.module.css
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderLeft/DigdirLogoLink/DigdirLogoLink.test.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderLeft/DigdirLogoLink/DigdirLogoLink.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderLeft/DigdirLogoLink/index.ts
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderLeft/StudioPageHeaderLeft.test.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderLeft/StudioPageHeaderLeft.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderLeft/index.ts
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderMain/StudioPageHeaderMain.module.css
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderMain/StudioPageHeaderMain.test.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderMain/StudioPageHeaderMain.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderMain/index.ts
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderRight/StudioPageHeaderRight.test.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderRight/StudioPageHeaderRight.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderRight/index.ts
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderSub/StudioPageHeaderSub.module.css
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderSub/StudioPageHeaderSub.test.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderSub/StudioPageHeaderSub.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderSub/index.ts
  frontend/libs/studio-components/src/components/StudioPageHeader/context/StudioPageHeaderContext.test.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/context/StudioPageHeaderContext.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/context/index.ts
  frontend/libs/studio-components/src/components/StudioPageHeader/index.ts
  frontend/libs/studio-components/src/components/StudioPageHeader/types/StudioPageHeaderColor.ts
  frontend/libs/studio-components/src/components/StudioPageHeader/types/StudioPageHeaderVariant.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer

#13572 feat: Implementing StudioAvatar
  frontend/libs/studio-components/src/components/StudioAvatar/StudioAvatar.module.css
  frontend/libs/studio-components/src/components/StudioAvatar/StudioAvatar.stories.tsx
  frontend/libs/studio-components/src/components/StudioAvatar/StudioAvatar.test.tsx
  frontend/libs/studio-components/src/components/StudioAvatar/StudioAvatar.tsx
  frontend/libs/studio-components/src/components/StudioAvatar/index.ts
  frontend/libs/studio-components/src/test-utils/testRootClassNameAppending.ts
Labels: solution/studio/designer

#13583 chore: Bump Maven dependencies for PDF generator
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes, area/pdf

#13564 feat: add SubForm component
  frontend/language/src/nb.json
  frontend/packages/shared/src/types/ComponentSpecificConfig.ts
  frontend/packages/shared/src/types/ComponentType.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/data/formItemConfig.test.ts
  frontend/packages/ux-editor/src/data/formItemConfig.ts
  frontend/packages/ux-editor/src/testing/componentSchemaMocks.ts
  frontend/packages/ux-editor/src/testing/schemas/json/component/Subform.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/component-list.json
  frontend/scripts/README.md
Labels: area/ui-editor, solution/studio/designer

#13571 feat: Enable drag and drop support for the Summary2 component
  frontend/language/src/nb.json
  frontend/packages/shared/src/types/ComponentSpecificConfig.ts
  frontend/packages/shared/src/types/ComponentType.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/data/formItemConfig.test.ts
  frontend/packages/ux-editor/src/data/formItemConfig.ts
  frontend/packages/ux-editor/src/testing/componentSchemaMocks.ts
Labels: area/ui-editor, solution/studio/designer

#13557 feat: Add table component
  frontend/libs/studio-components/src/components/StudioTable/StudioTable.stories.tsx
  frontend/libs/studio-components/src/components/StudioTable/StudioTable.test.tsx
  frontend/libs/studio-components/src/components/StudioTable/StudioTable.tsx
  frontend/libs/studio-components/src/components/StudioTable/index.ts
Labels: solution/studio/designer

#13506 refactor(resource-adm): rename limitedByRRR property to accessListMode
  backend/src/Designer/Enums/ResourceAccessListMode.cs
  backend/src/Designer/Models/ServiceResource.cs
  frontend/packages/shared/src/types/ResourceAdm.ts
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.test.tsx
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
Labels: solution/studio/designer, skip-releasenotes, area/resource-adm

#13567 fix(resource-adm): Sikkerhetsnivå dropdown value in resource admin should not be hardcoded to 3
  frontend/resourceadm/hooks/mutations/useEditResourcePolicyMutation.ts
  frontend/resourceadm/hooks/queries/useResourcePolicyQuery.ts
  frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.module.css
Labels: solution/studio/designer, area/resource-adm

#13582 fix: Storybook titles
  frontend/libs/studio-components/src/components/StudioAnimateHeight/StudioAnimateHeight.stories.tsx
  frontend/libs/studio-components/src/components/StudioAvatar/StudioAvatar.stories.tsx
  frontend/libs/studio-components/src/components/StudioBlobDownloader/StudioBlobDownloader.stories.tsx
  frontend/libs/studio-components/src/components/StudioBooleanToggleGroup/StudioBooleanToggleGroup.stories.tsx
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.stories.tsx
  frontend/libs/studio-components/src/components/StudioCenter/StudioCenter.stories.tsx
  frontend/libs/studio-components/src/components/StudioCodeFragment/StudioCodeFragment.stories.tsx
  frontend/libs/studio-components/src/components/StudioCombobox/StudioCombobox.stories.tsx
  frontend/libs/studio-components/src/components/StudioDecimalInput/StudioDecimalInput.stories.tsx
  frontend/libs/studio-components/src/components/StudioDeleteButton/StudioDeleteButton.stories.tsx
  frontend/libs/studio-components/src/components/StudioDisplayTile/StudioDisplayTile.stories.tsx
  frontend/libs/studio-components/src/components/StudioDropdownMenu/StudioDropdownMenu.stories.tsx
  frontend/libs/studio-components/src/components/StudioExpression/StudioExpression.stories.tsx
  frontend/libs/studio-components/src/components/StudioFileUploader/StudioFileUploader.stories.tsx
  frontend/libs/studio-components/src/components/StudioGridSelector/StudioGridSelector.stories.tsx
  frontend/libs/studio-components/src/components/StudioIconTextfield/StudioIconTextfield.stories.tsx
  frontend/libs/studio-components/src/components/StudioLabelAsParagraph/StudioLabelAsParagraph.stories.tsx
  frontend/libs/studio-components/src/components/StudioLabelWrapper/StudioLabelWrapper.stories.tsx
  frontend/libs/studio-components/src/components/StudioModal/StudioModal.stories.tsx
  frontend/libs/studio-components/src/components/StudioNativeSelect/StudioNativeSelect.stories.tsx
  frontend/libs/studio-components/src/components/StudioNotFoundPage/StudioNotFoundPage.stories.tsx
  frontend/libs/studio-components/src/components/StudioPageError/StudioPageError.stories.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeader.stories.tsx
  frontend/libs/studio-components/src/components/StudioPageSpinner/StudioPageSpinner.stories.tsx
  frontend/libs/studio-components/src/components/StudioPopover/StudioPopover.stories.tsx
  frontend/libs/studio-components/src/components/StudioProperty/StudioProperty.stories.tsx
  frontend/libs/studio-components/src/components/StudioRecommendedNextAction/StudioRecommendedNextAction.stories.tsx
  frontend/libs/studio-components/src/components/StudioResizableLayout/StudioResizableLayout.stories.tsx
  frontend/libs/studio-components/src/components/StudioSectionHeader/StudioSectionHeader.stories.tsx
  frontend/libs/studio-components/src/components/StudioSpinner/StudioSpinner.stories.tsx
  frontend/libs/studio-components/src/components/StudioTable/StudioTable.stories.tsx
  frontend/libs/studio-components/src/components/StudioTableLocalPagination/StudioTableLocalPagination.stories.tsx
  frontend/libs/studio-components/src/components/StudioTableRemotePagination/StudioTableRemotePagination.stories.tsx
  frontend/libs/studio-components/src/components/StudioTextarea/StudioTextarea.stories.tsx
  frontend/libs/studio-components/src/components/StudioTextfield/StudioTextfield.stories.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioToggleableTextfield.stories.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfieldSchema/StudioToggleableTextfieldSchema.stories.tsx
  frontend/libs/studio-components/src/components/StudioTreeView/StudioTreeView.stories.tsx
Labels: solution/studio/designer

#13595 feat: Refactoring logout logic
  frontend/packages/shared/src/hooks/mutations/useLogoutMutation.test.tsx
  frontend/packages/shared/src/hooks/mutations/useLogoutMutation.tsx
Labels: solution/studio/designer

#13576 fix: Invalidates the appmetadata when deleting a datamodel
  frontend/app-development/hooks/mutations/useDeleteDataModelMutation.test.ts
  frontend/app-development/hooks/mutations/useDeleteDataModelMutation.ts
  frontend/app-development/hooks/mutations/useUploadDataModelMutation.test.ts
  frontend/app-development/hooks/mutations/useUploadDataModelMutation.ts
Labels: solution/studio/designer

#13610 fix: don't fetch `applicationmetadata.json` for datamodelling apps
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/CreateNewWrapper.tsx
  frontend/packages/shared/src/hooks/queries/useAppMetadataQuery.ts
Labels: area/data-modeling, solution/studio/designer

#13547 fix: test feedback: use sync event for text key changes
  backend/src/Designer/Controllers/TextController.cs
  backend/src/Designer/EventHandlers/LanguageTextsKeyChanged/LanguageTextsIdChanged.cs
  backend/src/Designer/Events/LanguageTextsKeyChangedEvent.cs
  backend/src/Designer/Services/Implementation/TextsService.cs
  backend/src/Designer/Services/Interfaces/ITextsService.cs
Labels: area/data-modeling, area/process, area/ui-editor, area/dashboard, solution/studio/designer, solution/platform, quality/testing, skip-releasenotes, kind/dependencies, area/pdf

#13584 fix: Add defaultValue from schema to EditBooleanValue component
  frontend/language/src/nb.json
  frontend/packages/ux-editor-v3/src/components/config/EditFormComponent.test.tsx
  frontend/packages/ux-editor-v3/src/components/config/EditFormComponent.tsx
  frontend/packages/ux-editor-v3/src/components/config/FormComponentConfig.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditBooleanValue.tsx
  frontend/packages/ux-editor-v3/src/data/formItemConfig.ts
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.test.tsx
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditBooleanValue.tsx
  frontend/packages/ux-editor/src/data/formItemConfig.ts
Labels: kind/bug, area/ui-editor, solution/studio/designer

#13587 feat: Clean up imports by moving layoutset hooks from ux-editor to shared
  frontend/app-development/layout/PageHeader.tsx
  frontend/app-preview/src/views/LandingPage.tsx
  frontend/packages/shared/src/hooks/useSelectedFormLayoutName.test.tsx
  frontend/packages/shared/src/hooks/useSelectedFormLayoutName.ts
  frontend/packages/shared/src/hooks/useSelectedFormLayoutSetName.test.tsx
  frontend/packages/shared/src/hooks/useSelectedFormLayoutSetName.ts
  frontend/packages/shared/src/hooks/useSelectedTaskId.test.tsx
  frontend/packages/shared/src/hooks/useSelectedTaskId.ts
  frontend/packages/ux-editor/src/AppContext.tsx
  frontend/packages/ux-editor/src/components/Preview/Preview.tsx
  frontend/packages/ux-editor/src/hooks/index.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddItemToLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentMutation.ts
Labels: area/ui-editor, solution/studio/designer, frontend

#13405 fix: text-key not updated for options when edited from text-editor
  backend/src/Designer/Controllers/TextController.cs
  backend/src/Designer/EventHandlers/LanguageTextsKeyChanged/LanguageTextsIdChanged.cs
  backend/src/Designer/Events/LanguageTextsKeyChangedEvent.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Models/Option.cs
  backend/src/Designer/Services/Implementation/OptionsService.cs
  backend/src/Designer/Services/Implementation/TextsService.cs
  backend/src/Designer/Services/Interfaces/ITextsService.cs
  backend/tests/Designer.Tests/Services/RepositorySITests.cs
  backend/tests/Designer.Tests/Services/TextsServiceTest.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/config/texts/resource.nb.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layoutSet1/layouts/layoutFile1InSet1.json
Labels: solution/studio/designer, quality/testing

#13606 build: Update Husky
  frontend/scripts/package.json
  frontend/scripts/yarn.lock
  package.json
  yarn.lock
Labels: solution/studio/designer, kind/dependencies

#13581 feat: Implement StudioProfileMenu
  frontend/libs/studio-components/src/components/StudioProfileMenu/StudioProfileMenu.module.css
  frontend/libs/studio-components/src/components/StudioProfileMenu/StudioProfileMenu.stories.tsx
  frontend/libs/studio-components/src/components/StudioProfileMenu/StudioProfileMenu.test.tsx
  frontend/libs/studio-components/src/components/StudioProfileMenu/StudioProfileMenu.tsx
  frontend/libs/studio-components/src/components/StudioProfileMenu/index.ts
Labels: solution/studio/designer, frontend

#13599 build: Update non-major NPM dependencies
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/libs/studio-components/package.json
  frontend/packages/shared/package.json
  frontend/packages/ux-editor-v3/package.json
  frontend/packages/ux-editor/package.json
  frontend/resourceadm/package.json
  package.json
  yarn.lock
Labels: area/ui-editor, area/dashboard, solution/studio/designer, kind/dependencies

#13598 fix: NaN in new policy rule ID
  frontend/packages/policy-editor/src/utils/index.ts
Labels: kind/bug, solution/studio/designer, frontend

#13573 feat: support summary 2 configuration for components, pages and selected layout set
  frontend/language/src/nb.json
  frontend/packages/shared/src/types/ComponentSpecificConfig.ts
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Component.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Component.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2ComponentTargetSelector.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/index.ts
  frontend/packages/ux-editor/src/data/formItemConfig.ts
  frontend/packages/ux-editor/src/hooks/index.ts
  frontend/packages/ux-editor/src/testing/componentMocks.ts
  frontend/packages/ux-editor/src/utils/formLayoutUtils.test.tsx
  frontend/packages/ux-editor/src/utils/formLayoutUtils.ts
Labels: area/ui-editor, solution/studio/designer

#13620 fix: Error when deleting the last sub-resource from a resource in policy editor
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/SubResources/ResourceNarrowingList/PolicyResourceFields/PolicyResourceFields.test.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/SubResources/ResourceNarrowingList/PolicyResourceFields/PolicyResourceFields.tsx
  frontend/packages/policy-editor/test/mocks/policyEditorContextMock.ts
  frontend/packages/policy-editor/test/mocks/policyRuleContextMock.ts
  frontend/packages/policy-editor/test/mocks/policyRuleMocks.ts
  frontend/packages/policy-editor/test/mocks/policySubResourceMocks.ts
Labels: solution/studio/designer, frontend

#13603 build: Update I18Next
  frontend/app-development/package.json
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.test.tsx
  package.json
  yarn.lock
Labels: solution/studio/designer, kind/dependencies

#13635 fix: Generate unique pointer correctly
  frontend/packages/schema-model/src/lib/SchemaModel.test.ts
  frontend/packages/schema-model/src/lib/SchemaModel.ts
  frontend/packages/schema-model/src/lib/pointerUtils.test.ts
  frontend/packages/schema-model/src/lib/pointerUtils.ts
  frontend/packages/schema-model/test/uiSchemaMock.ts
Labels: kind/bug, area/data-modeling, solution/studio/designer, added-to-sprint, frontend

#13600 fix: flaky playwright tests
  frontend/testing/playwright/tests/ui-editor/ui-editor-data-model-binding-and-gitea.spec.ts
Labels: solution/studio/designer, quality/testing

#13602 build: Update Typescript
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/components/OrgRepoList/OrgReposList.tsx
  frontend/dashboard/package.json
  frontend/libs/studio-components/package.json
  frontend/libs/studio-hooks/package.json
  frontend/libs/studio-icons/package.json
  frontend/libs/studio-pure-functions/package.json
  frontend/packages/policy-editor/package.json
  frontend/packages/process-editor/package.json
  frontend/packages/shared/package.json
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/FetchChangesPopover/FetchChangesPopover.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/ShareChangesPopover.tsx
  frontend/packages/text-editor/package.json
  frontend/packages/ux-editor-v3/package.json
  frontend/packages/ux-editor/package.json
  frontend/resourceadm/package.json
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  frontend/scripts/package.json
  frontend/scripts/yarn.lock
  package.json
  yarn.lock
Labels: area/process, area/ui-editor, area/text-editor, area/dashboard, solution/studio/designer, kind/dependencies

#13630 fix: correct css for studioTextfieldToggleView
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioTextfieldToggleView/StudioTextfieldToggleView.module.css
Labels: solution/studio/designer

#13631 fix: useTableSorting tests fails randomly, causing PR check to fail
  frontend/libs/studio-components/src/hooks/useTableSorting.test.tsx
Labels: kind/bug, solution/studio/designer, quality/testing, skip-releasenotes, frontend

#13544 fix: push autoresolved merge conflict on backend automatically
  backend/src/Designer/Controllers/RepositoryController.cs
  backend/src/Designer/Services/Implementation/SourceControlSI.cs
  backend/tests/Designer.Tests/GiteaIntegrationTests/RepositoryController/RepositoryControllerGiteaIntegrationTests.cs
Labels: solution/studio/designer, quality/testing

#13604 feat: Adding unique header to studio-root
  frontend/studio-root/pages/PageLayout/PageLayout.tsx
Labels: solution/studio/designer, area/studio-root, frontend

#13515 fix: update Gitea texts and templates to v1.22.2
  frontend/resourceadm/testing/playwright/pages/LoginPage.ts
  frontend/testing/playwright/pages/LoginPage.ts
  gitea/Dockerfile
  gitea/README.md
  gitea/files/custom/public/assets/img/favicon.png
  gitea/files/custom/public/assets/img/logo.svg
  gitea/files/custom/templates/base/head_navbar.tmpl
  gitea/files/custom/templates/custom/extra_links.tmpl
  gitea/files/custom/templates/custom/extra_links_footer.tmpl
  gitea/files/custom/templates/home.tmpl
  gitea/files/locale/base/locale_en-US.ini
  gitea/files/locale/base/locale_nb-NO.ini
  gitea/files/locale/custom/locale_en-US.ini
  gitea/files/locale/custom/locale_nb-NO.ini
  gitea/files/locale/merge.js
  gitea/files/locale/package.json
  gitea/files/options/locale/locale_nb-NO.ini
  gitea/files/public/img/altinn_logo_header.png
  gitea/files/public/img/favicon.svg
  gitea/files/public/img/flower1.svg
  gitea/files/public/img/flower2.svg
  gitea/files/public/img/gitea-lg.png
  gitea/files/public/img/gitea-sm.png
  gitea/files/public/img/logo.svg
Labels: solution/studio/designer, solution/studio/repos, quality/testing

#13643 build: Update React I18Next
  frontend/app-development/package.json
  package.json
  yarn.lock
Labels: solution/studio/designer, kind/dependencies, frontend

#13651 fix: remove debugger
  frontend/packages/shared/src/hooks/mutations/useAddImageMutation.ts
Labels: solution/studio/designer

#13574 chore: code cleanup
  frontend/README.md
  frontend/app-development/hooks/queries/useNewsListQuery.ts
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/cdn-paths.js
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/QueryKey.ts
  frontend/packages/ux-editor-v3/src/components/Elements/DefaultToolbar.css
  frontend/packages/ux-editor-v3/src/components/Elements/DefaultToolbar.tsx
  frontend/packages/ux-editor-v3/src/components/FormComponent/DragHandle.module.css
  frontend/packages/ux-editor-v3/src/components/FormComponent/DragHandle.tsx
  frontend/packages/ux-editor-v3/src/components/FormComponent/FormComponent.module.css
  frontend/packages/ux-editor-v3/src/components/FormComponent/FormComponent.test.tsx
  frontend/packages/ux-editor-v3/src/components/FormComponent/FormComponent.tsx
  frontend/packages/ux-editor-v3/src/components/FormComponent/index.ts
  frontend/packages/ux-editor-v3/src/types/FormComponent.ts
  frontend/packages/ux-editor/src/components/Elements/DefaultToolbar.css
  frontend/packages/ux-editor/src/components/Elements/DefaultToolbar.tsx
  frontend/packages/ux-editor/src/components/FormComponent/DragHandle.module.css
  frontend/packages/ux-editor/src/components/FormComponent/DragHandle.tsx
  frontend/packages/ux-editor/src/components/FormComponent/FormComponent.module.css
  frontend/packages/ux-editor/src/components/FormComponent/FormComponent.test.tsx
  frontend/packages/ux-editor/src/components/FormComponent/FormComponent.tsx
  frontend/packages/ux-editor/src/components/FormComponent/index.ts
  frontend/packages/ux-editor/src/types/FormComponent.ts
  frontend/webpack.common.js
Labels: area/ui-editor, solution/studio/designer

#13538 chore: Separate schemaPointer and uniquePointer better
  frontend/packages/schema-editor/src/components/NodePanel/HeadingRow/HeadingRow.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor/hooks/useAddReference.ts
  frontend/packages/schema-editor/src/components/SchemaEditor/hooks/useMoveProperty.test.ts
  frontend/packages/schema-editor/src/components/SchemaEditor/hooks/useMoveProperty.ts
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/ActionButtons/AddPropertyMenu.tsx
  frontend/packages/schema-editor/src/components/TypesInspector/TypesInspector.tsx
  frontend/packages/schema-editor/test/mocks/uiSchemaMock.ts
  frontend/packages/schema-model/src/index.ts
  frontend/packages/schema-model/src/lib/SchemaModel.test.ts
  frontend/packages/schema-model/src/lib/SchemaModel.ts
  frontend/packages/schema-model/src/lib/constants.ts
Labels: area/data-modeling, area/process, area/ui-editor, solution/studio/designer, quality/engineering

#13652 feat: Add checkbox component
  frontend/libs/studio-components/src/components/StudioCheckbox/StudioCheckbox.stories.tsx
  frontend/libs/studio-components/src/components/StudioCheckbox/StudioCheckbox.test.tsx
  frontend/libs/studio-components/src/components/StudioCheckbox/StudioCheckbox.tsx
  frontend/libs/studio-components/src/components/StudioCheckbox/StudioCheckboxGroup.stories.tsx
  frontend/libs/studio-components/src/components/StudioCheckbox/StudioCheckboxGroup.test.tsx
  frontend/libs/studio-components/src/components/StudioCheckbox/StudioCheckboxGroup.tsx
  frontend/libs/studio-components/src/components/StudioCheckbox/StudioCheckboxGroupContext.ts
  frontend/libs/studio-components/src/components/StudioCheckbox/constants.ts
  frontend/libs/studio-components/src/components/StudioCheckbox/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer

#13633 chore(resource-adm): replace react-modal modals with StudioModal
  frontend/resourceadm/components/AccessListDetails/AccessListDetail.tsx
  frontend/resourceadm/components/FieldsetWrapper/FieldsetWrapper.tsx
  frontend/resourceadm/components/ImportAltinn3ResourceModal/ImportAltinn3ResourceModal.tsx
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.module.css
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.test.tsx
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.tsx
  frontend/resourceadm/components/ImportResourceModal/ServiceContent/ServiceContent.tsx
  frontend/resourceadm/components/MergeConflictModal/MergeConflictModal.module.css
  frontend/resourceadm/components/MergeConflictModal/MergeConflictModal.test.tsx
  frontend/resourceadm/components/MergeConflictModal/MergeConflictModal.tsx
  frontend/resourceadm/components/MergeConflictModal/RemoveChangesModal/RemoveChangesModal.module.css
  frontend/resourceadm/components/MergeConflictModal/RemoveChangesModal/RemoveChangesModal.tsx
  frontend/resourceadm/components/MergeConflictModal/RemoveChangesModal/index.ts
  frontend/resourceadm/components/Modal/Modal.module.css
  frontend/resourceadm/components/Modal/Modal.tsx
  frontend/resourceadm/components/Modal/ResourceadmModal/ResourceadmModal.module.css
  frontend/resourceadm/components/Modal/ResourceadmModal/ResourceadmModal.test.tsx
  frontend/resourceadm/components/Modal/ResourceadmModal/ResourceadmModal.tsx
  frontend/resourceadm/components/Modal/ResourceadmModal/index.ts
  frontend/resourceadm/components/Modal/index.ts
  frontend/resourceadm/components/NavigationModal/NavigationModal.module.css
  frontend/resourceadm/components/NavigationModal/NavigationModal.test.tsx
  frontend/resourceadm/components/NavigationModal/NavigationModal.tsx
  frontend/resourceadm/components/NewAccessListModal/NewAccessListModal.tsx
  frontend/resourceadm/components/NewResourceModal/NewResourceModal.test.tsx
  frontend/resourceadm/components/NewResourceModal/NewResourceModal.tsx
  frontend/resourceadm/language/src/nb.json
  frontend/resourceadm/package.json
  frontend/resourceadm/pages/PageLayout/PageLayout.test.tsx
  frontend/resourceadm/pages/PageLayout/PageLayout.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.test.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.test.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  yarn.lock
Labels: solution/studio/designer, skip-releasenotes, kind/dependencies, area/resource-adm

#13601 fix: implement override datamodel option
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/useValidateFileName.ts
  frontend/language/src/nb.json
Labels: area/data-modeling, solution/studio/designer

#13217 feat: support for migrating delegations from Altinn 2 to Altinn 3 in Resourceadm
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Models/ExportDelegationsRequestBE.cs
  backend/src/Designer/Services/Implementation/ResourceRegistryService.cs
  backend/src/Designer/TypedHttpClients/Altinn2DelegationMigration/Altinn2DelegationMigrationClient.cs
  backend/src/Designer/TypedHttpClients/Altinn2DelegationMigration/IAltinn2DelegationMigrationClient.cs
  backend/src/Designer/TypedHttpClients/TypedHttpClientRegistration.cs
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/enums/ServerCodes.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/ResourceAdm.ts
  frontend/resourceadm/components/MigrationPanel/MigrationPanel.module.css
  frontend/resourceadm/components/MigrationPanel/MigrationPanel.test.tsx
  frontend/resourceadm/components/MigrationPanel/MigrationPanel.tsx
  frontend/resourceadm/components/MigrationPanel/index.ts
  frontend/resourceadm/components/MigrationStep/MigrationStep.tsx
  frontend/resourceadm/components/MigrationStep/index.ts
  frontend/resourceadm/hooks/mutations/useMigrateDelegationsMutation.ts
  frontend/resourceadm/hooks/queries/useGetAltinn2DelegationCount.ts
  frontend/resourceadm/language/src/en.json
  frontend/resourceadm/language/src/nb.json
  frontend/resourceadm/pages/MigrationPage/MigrationPage.module.css
  frontend/resourceadm/pages/MigrationPage/MigrationPage.test.tsx
  frontend/resourceadm/pages/MigrationPage/MigrationPage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
Labels: solution/studio/designer, skip-releasenotes, area/resource-adm

#13634 feat: support configuration of common overrides for components in summary2
  frontend/language/src/nb.json
  frontend/packages/shared/src/types/ComponentSpecificConfig.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2Override.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2Override.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2OverrideEntry.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Component.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Component.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2ComponentReferenceSelector.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Target/Summary2Target.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Target/useTargetTypes.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend

#13629 fix: add missing text
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/useValidateFileName.ts
  frontend/language/src/nb.json
Labels: area/data-modeling, solution/studio/designer, skip-releasenotes, added-to-sprint

#13455 feat: added reference and combination
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/components/AddPropertiesMenu/AddPropertiesMenu.tsx
  frontend/packages/schema-editor/src/components/AddPropertiesMenu/index.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTab.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTab.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldType/ItemFieldType.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldType/ItemFieldType.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldType/ItemFieldType.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldType/hooks/useKindName.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldType/hooks/useTypeName.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldType/index.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldsTableRow.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/hooks/useTypeOptions.ts
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/ActionButtons/AddPropertyMenu.tsx
Labels: area/data-modeling, solution/studio/designer
