Repository Altinn/altinn-studio, pull requests merged in 2024-03, with the labels that each got.

#12214 feat(StudioToggleableTextfield): Create components to handle toggleable textfields and validation
  frontend/app-development/router/routes.tsx
  frontend/language/src/nb.json
  frontend/libs/studio-components/package.json
  frontend/libs/studio-components/src/components/StudioDecimalInput/StudioDecimalInput.tsx
  frontend/libs/studio-components/src/components/StudioIconTextfield/StudioIconTextfield.module.css
  frontend/libs/studio-components/src/components/StudioIconTextfield/StudioIconTextfield.test.tsx
  frontend/libs/studio-components/src/components/StudioIconTextfield/StudioIconTextfield.tsx
  frontend/libs/studio-components/src/components/StudioIconTextfield/index.ts
  frontend/libs/studio-components/src/components/StudioTextfield/StudioTextfield.tsx
  frontend/libs/studio-components/src/components/StudioTextfield/index.ts
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioTextfieldToggleView/StudioTextfieldToggleView.module.css
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioTextfieldToggleView/StudioTextfieldToggleView.test.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioTextfieldToggleView/StudioTextfieldToggleView.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioTextfieldToggleView/index.ts
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioToggleableTextfield.test.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioToggleableTextfield.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/index.ts
  frontend/libs/studio-components/src/components/StudioToggleableTextfieldSchema/JsonSchemaValidator.test.ts
  frontend/libs/studio-components/src/components/StudioToggleableTextfieldSchema/JsonSchemaValidator.ts
  frontend/libs/studio-components/src/components/StudioToggleableTextfieldSchema/StudioToggleableTextfieldSchema.test.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfieldSchema/StudioToggleableTextfieldSchema.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfieldSchema/index.ts
  frontend/libs/studio-components/src/components/index.ts
  frontend/libs/studio-components/src/types/JSONSchema.ts
  frontend/libs/studio-components/src/types/KeyValuePairs.ts
  frontend/packages/shared/src/utils/formValidationUtils/formValidationUtils.ts
  frontend/packages/ux-editor/src/components/Properties/Properties.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditComponentIdRow/EditComponentIdRow.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditComponentIdRow/EditComponentIdRow.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditComponentIdRow/EditComponentIdRow.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.test.tsx
  yarn.lock
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, kind/dependencies

#12426 feat(Receipt): Removed the possibility to add a receipt for v4 apps
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.tsx
  frontend/packages/ux-editor/src/containers/DesignView/ReceiptContent/ReceiptContent.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/ReceiptContent/ReceiptContent.tsx
Labels: area/ui-editor, solution/studio/designer

#12433 fix(EditComponentId): Fixed PR feedback on spacing and paddings
  frontend/libs/studio-components/src/components/StudioIconTextfield/StudioIconTextfield.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditComponentIdRow/EditComponentIdRow.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditComponentIdRow/EditComponentIdRow.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.module.css
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes

#12428 Add property button component
  frontend/libs/studio-components/src/components/StudioPropertyButton/StudioPropertyButton.module.css
  frontend/libs/studio-components/src/components/StudioPropertyButton/StudioPropertyButton.test.tsx
  frontend/libs/studio-components/src/components/StudioPropertyButton/StudioPropertyButton.tsx
  frontend/libs/studio-components/src/components/StudioPropertyButton/index.ts
  frontend/libs/studio-components/src/components/index.ts
  frontend/libs/studio-components/src/style/studio-variables.css
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.module.css
  frontend/packages/ux-editor/src/components/Properties/Properties.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/DefinedBinding/DefinedBinding.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/DefinedBinding/DefinedBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/EditBinding/EditBinding.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/UndefinedBinding/UndefinedBinding.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/UndefinedBinding/UndefinedBinding.tsx
Labels: area/ui-editor, solution/studio/designer

#12434 feat(EditComponentId): improved error message
  frontend/language/src/en.json
  frontend/language/src/nb.json
Labels: solution/studio/designer

#12414 removed unsupported version message
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/App.test.tsx
  frontend/packages/ux-editor/src/App.tsx
Labels: area/ui-editor, solution/studio/designer

#12416 Bug/description prop on fileupload components
  frontend/packages/shared/src/types/ComponentSpecificConfig.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/EditDataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/EditDataModelBindings.tsx
  frontend/packages/ux-editor/src/data/formItemConfig.ts
Labels: area/ui-editor, solution/studio/designer

#12435 Add check for formItem[key] before fetching formItem[key][subKey]
  frontend/packages/ux-editor/src/components/config/Expressions/utils/utils.test.ts
  frontend/packages/ux-editor/src/components/config/Expressions/utils/utils.ts
Labels: area/ui-editor, solution/studio/designer

#12436 Update the design system
  frontend/packages/shared/src/navigation/main-header/ProfileMenu/__snapshots__/ProfileMenu.test.tsx.snap
  package.json
  yarn.lock
Labels: solution/studio/designer

#12439 feat(StudioSectionHeader): reusable section header component
  frontend/libs/studio-components/src/components/StudioSectionHeader/StudioSectionHeader.module.css
  frontend/libs/studio-components/src/components/StudioSectionHeader/StudioSectionHeader.test.tsx
  frontend/libs/studio-components/src/components/StudioSectionHeader/StudioSectionHeader.tsx
  frontend/libs/studio-components/src/components/StudioSectionHeader/index.ts
  frontend/libs/studio-components/src/components/index.ts
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.tsx
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes

#12410 Resourceadm: connect to access list services in registry to bff
  backend/src/Designer/Configuration/PlatformSettings.cs
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Designer.csproj
  backend/src/Designer/Models/AccessList.cs
  backend/src/Designer/Models/AccessListMember.cs
  backend/src/Designer/Models/BrregPartyResultSet.cs
  backend/src/Designer/Models/CreateAccessListModel.cs
  backend/src/Designer/Models/Dto/AccessListInfoDtoPaginated.cs
  backend/src/Designer/Models/Dto/AccessListMember.cs
  backend/src/Designer/Models/Dto/AccessListResourceConnection.cs
  backend/src/Designer/Models/PagedAccessListResponse.cs
  backend/src/Designer/Models/ResourceAccessList.cs
  backend/src/Designer/Models/UpsertAccessListResourceConnectionDto.cs
  backend/src/Designer/Services/Implementation/ResourceRegistryService.cs
  backend/src/Designer/Services/Interfaces/IResourceRegistry.cs
  backend/src/Designer/appsettings.json
  backend/tests/Designer.Tests/Controllers/ResourceAdminController/AccessListTests.cs
Labels: solution/studio/designer, quality/testing, area/resource-adm

#12411 Fetch model metadata based on selected layoutset
  backend/src/DataModeling/Metamodel/ElementMetadata.cs
  backend/src/DataModeling/Metamodel/ModelMetadata.cs
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/Controllers/ModelController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Interfaces/IAppDevelopmentService.cs
  backend/src/Designer/Services/Interfaces/IRepository.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/GetModelMetadataTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/ProcessTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/config/applicationmetadata.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layout-sets.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-without-layoutsets/App/config/applicationmetadata.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-without-layoutsets/App/models/datamodel.schema.json
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/ux-editor-v3/src/App.tsx
  frontend/packages/ux-editor-v3/src/components/config/EditFormComponent.test.tsx
  frontend/packages/ux-editor-v3/src/components/config/EditFormContainer.tsx
  frontend/packages/ux-editor-v3/src/components/config/Expressions/ExpressionContent/ExpressionEditMode/SimpleExpression/DataSourceValue.tsx
  frontend/packages/ux-editor-v3/src/components/config/SelectDataModelComponent.test.tsx
  frontend/packages/ux-editor-v3/src/components/config/SelectDataModelComponent.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditDataModelBindings.tsx
  frontend/packages/ux-editor-v3/src/hooks/queries/useDatamodelMetadataQuery.ts
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/components/config/EditFormComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/ExpressionContent/ExpressionContent.test.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/ExpressionContent/ExpressionContent.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/Expressions.test.tsx
  frontend/packages/ux-editor/src/components/config/SelectDataModelComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/SelectDataModelComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/EditDataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/EditDataModelBindings.tsx
  frontend/packages/ux-editor/src/hooks/queries/useDatamodelMetadataQuery.ts
  testdata/Model/Metadata/HvemErHvem.json
Labels: area/data-modeling, area/ui-editor, solution/studio/designer, quality/testing, skip-releasenotes

#12450 altinnrowid field
  backend/src/DataModeling/Converter/Csharp/JsonMetadataToCsharpConverter.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/PutDatamodel_CsharpNamespaceTests.cs
  testdata/Model/CSharp/Gitea/Brønnøysundregistrene_ReelleRettighetshavere_M.cs
  testdata/Model/CSharp/Gitea/bokskjema.cs
  testdata/Model/CSharp/Gitea/dat-bilpleie-soknad.cs
  testdata/Model/CSharp/Gitea/dat-skjema.cs
  testdata/Model/CSharp/Gitea/dihe-redusert-foreldrebetaling-bhg.cs
  testdata/Model/CSharp/Gitea/hi-algeskjema.cs
  testdata/Model/CSharp/Gitea/nsm-klareringsportalen.cs
  testdata/Model/CSharp/Gitea/skjema.cs
Labels: area/data-modeling, solution/studio/designer, quality/testing, skip-releasenotes

#12449 feat(SupportV4): Support using v4 app template in Studio
  backend/src/Designer/Controllers/PreviewController.cs
  backend/src/Designer/Services/Implementation/ApplicationMetadataService.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/ApplicationMetadataTests.cs
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/cdn-paths.js
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/ux-editor-v3/src/converters/formLayoutConverters/externalLayoutToInternal.test.ts
  frontend/packages/ux-editor-v3/src/converters/formLayoutConverters/internalLayoutToExternal.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddLayoutMutation.test.ts
Labels: area/ui-editor, solution/studio/designer, quality/testing

#12458 allow both uppercase and lowercase in model metadata response
  frontend/packages/ux-editor/src/hooks/queries/useDatamodelMetadataQuery.ts
Labels: area/ui-editor, solution/studio/designer

#12460 Patching PDF application
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes, area/pdf

#12464 fix(Playwright): Fixed e2e-tests after v4 support
  frontend/packages/ux-editor/src/components/Elements/DefaultToolbar.tsx
  frontend/testing/playwright/helpers/BasePage.ts
  frontend/testing/playwright/pages/DataModelPage.ts
  frontend/testing/playwright/pages/GiteaPage.ts
  frontend/testing/playwright/pages/UiEditorPage.ts
  frontend/testing/playwright/tests/git-sync/git-sync.spec.ts
  frontend/testing/playwright/tests/text-editor/text-editor.spec.ts
  frontend/testing/playwright/tests/ui-editor/ui-editor-data-model-binding-and-gitea.spec.ts
Labels: area/ui-editor, solution/studio/designer, quality/testing, skip-releasenotes

#12472 Remove configure layoutsets panel and adapt css on layoutsets dropdown
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor-v3/src/components/Elements/ConfigureLayoutSetPanel.module.css
  frontend/packages/ux-editor-v3/src/components/Elements/ConfigureLayoutSetPanel.tsx
  frontend/packages/ux-editor-v3/src/components/Elements/Elements.tsx
  frontend/packages/ux-editor-v3/src/hooks/mutations/useConfigureLayoutSetMutation.test.ts
  frontend/packages/ux-editor-v3/src/hooks/mutations/useConfigureLayoutSetMutation.ts
  frontend/packages/ux-editor/src/components/Elements/ConfigureLayoutSetPanel.module.css
  frontend/packages/ux-editor/src/components/Elements/ConfigureLayoutSetPanel.tsx
  frontend/packages/ux-editor/src/components/Elements/Elements.tsx
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.module.css
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.module.css
Labels: area/ui-editor, solution/studio/designer

#12448 Not show required radiobuttons when using code list
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
Labels: area/ui-editor, solution/studio/designer

#12484 fix(Webpack): Ensure to load CSS in correct order.
  frontend/webpack.common.js
Labels: solution/studio/designer, skip-releasenotes, added-to-sprint

#12466 resourceadm bugfix: fix import resource identifier validation and return errors
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Interfaces/IRepository.cs
  backend/tests/Designer.Tests/Controllers/ResourceAdminController/ImportResourceTests.cs
Labels: solution/studio/designer, quality/testing

#12493 Fix wrong text key in expressions
  frontend/packages/shared/src/components/Expression/useExpressionTexts.ts
Labels: kind/bug, solution/studio/designer

#12487 Validate Unique ID for All Layouts in a Layout-Set
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditComponentIdRow/EditComponentIdRow.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditComponentIdRow/EditComponentIdRow.tsx
  frontend/packages/ux-editor/src/utils/formLayoutUtils.ts
  frontend/packages/ux-editor/src/utils/formLayoutsUtils.test.ts
  frontend/packages/ux-editor/src/utils/formLayoutsUtils.ts
Labels: area/ui-editor, solution/studio/designer

#12495 centralized .net version in props file
  backend/Directory.Build.props
  backend/PolicyAdmin/PolicyAdmin.csproj
  backend/src/DataModeling/DataModeling.csproj
  backend/src/Designer/Designer.csproj
  backend/tests/DataModeling.Tests/DataModeling.Tests.csproj
  backend/tests/Designer.Tests/Controllers/DataModelsController/PutDatamodel_CsharpNamespaceTests.cs
  backend/tests/Designer.Tests/Designer.Tests.csproj
  backend/tests/SharedResources.Tests/SharedResources.Tests.csproj
Labels: area/data-modeling, solution/studio/designer, quality/testing, added-to-sprint

#12456 Fix webpack warnings
  frontend/.eslintrc.json
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/LogicalOperatorToggle/index.ts
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionErrors/index.ts
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionToolbar/index.ts
  frontend/libs/studio-components/src/components/StudioToggleableTextfieldSchema/index.ts
  frontend/testing/cypress/.eslintrc.json
Labels: solution/studio/designer, quality/testing, skip-releasenotes

#12499 resourceadm: add semaphore to updateresource service + use save resource json to state when editing resource data
  backend/src/Designer/Controllers/ResourceAdminController.cs
  frontend/resourceadm/hooks/mutations/useEditResourceMutation.ts
  frontend/resourceadm/hooks/mutations/useEditResourcePolicyMutation.ts
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
Labels: solution/studio/designer

#12504 modelname validation
  backend/src/Designer/Controllers/DatamodelsController.cs
  backend/src/Designer/Exceptions/DataModeling/ModelWithTheSameBaseTypeAlreadyExists.cs
  backend/src/Designer/Filters/DataModeling/DataModelingErrorCodes.cs
  backend/src/Designer/Filters/DataModeling/DataModelingExceptionFilterAttribute.cs
  backend/src/Designer/Filters/ProblemDetailsExtensionsCodes.cs
  backend/src/Designer/Filters/ProblemDetailsUtils.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Program.cs
  backend/src/Designer/Services/Implementation/ModelNameValidator.cs
  backend/src/Designer/Services/Interfaces/IModelNameValidator.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/AddXsd_CsharpNamespaceTests.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/CsharpNamespaceTests.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/PutDatamodel_CsharpNamespaceTests.cs
  backend/tests/Designer.Tests/Designer.Tests.csproj
  frontend/language/src/nb.json
  testdata/Model/XmlSchema/Gitea/krt-3221-42265.xsd
  testdata/Model/XmlSchema/Gitea/krt-3221-45167.xsd
Labels: solution/studio/designer, quality/testing, skip-releasenotes

#12521 Bump dependencies
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes, area/pdf

#12512 Simplify isItemChildOfContainer
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.tsx
  frontend/packages/ux-editor/src/utils/formLayoutUtils.test.tsx
  frontend/packages/ux-editor/src/utils/formLayoutUtils.ts
Labels: area/ui-editor, solution/studio/designer, quality/code

#12506 added typings for data model bindings for all relevant components
  frontend/packages/shared/src/types/ComponentSpecificConfig.ts
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.tsx
  frontend/packages/ux-editor/src/components/Properties/Text.test.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/Expressions.test.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/NewExpressionButton/NewExpressionButton.test.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/utils/utils.test.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Address/AddressComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/FileUpload/FileUploadComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList/EditCodeList.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditNumberValue.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditStringValue.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBindings/EditTextResourceBinding/EditTextResourceBinding.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBindings/EditTextResourceBindings.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormTree.test.tsx
  frontend/packages/ux-editor/src/containers/FormItemContext.test.tsx
  frontend/packages/ux-editor/src/converters/containerComponentConverters/externalContainerComponentToInternal.ts
  frontend/packages/ux-editor/src/converters/containerComponentConverters/internalContainerComponentToExternal.ts
  frontend/packages/ux-editor/src/converters/simpleComponentConverters/externalSimpleComponentToInternal.test.ts
  frontend/packages/ux-editor/src/converters/simpleComponentConverters/internalSimpleComponentToExternal.test.ts
  frontend/packages/ux-editor/src/data/formItemConfig.ts
  frontend/packages/ux-editor/src/hooks/mutations/useFormLayoutMutation.test.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentMutation.test.ts
  frontend/packages/ux-editor/src/hooks/useComponentErrorMessage.test.ts
  frontend/packages/ux-editor/src/hooks/useValidateComponent.test.ts
  frontend/packages/ux-editor/src/selectors/formLayoutSelectors.test.ts
  frontend/packages/ux-editor/src/testing/componentMocks.ts
  frontend/packages/ux-editor/src/testing/layoutMock.ts
  frontend/packages/ux-editor/src/testing/layoutWithMultiPageGroupMocks.ts
  frontend/packages/ux-editor/src/utils/component.test.ts
  frontend/packages/ux-editor/src/utils/generateId.test.tsx
Labels: area/ui-editor, solution/studio/designer

#12540 Update text for process editor for apps with app-backend version < 8
  frontend/language/src/nb.json
Labels: solution/studio/designer

#12522 Use sensible email adress for git in altinn studio
  backend/src/Designer/Services/Implementation/SourceControlSI.cs
Labels: solution/studio/designer

#12523 Move utils functions to the libs/studio-pure-functions library
  frontend/libs/studio-pure-functions/src/ObjectUtils/ObjectUtils.test.ts
  frontend/libs/studio-pure-functions/src/ObjectUtils/ObjectUtils.ts
  frontend/libs/studio-pure-functions/src/ObjectUtils/index.ts
  frontend/libs/studio-pure-functions/src/index.ts
  frontend/packages/policy-editor/src/PolicyEditor.tsx
  frontend/packages/policy-editor/src/utils/index.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/EnumList/EnumList.tsx
  frontend/packages/schema-model/src/lib/SchemaModel.ts
  frontend/packages/schema-model/src/lib/mutations/convert-node.ts
  frontend/packages/schema-model/src/lib/mutations/copy-node.ts
  frontend/packages/schema-model/src/lib/mutations/create-node.ts
  frontend/packages/schema-model/src/lib/mutations/rename-node.ts
  frontend/packages/shared/src/pure/index.ts
  frontend/packages/shared/src/pure/utils.ts
  frontend/packages/text-editor/src/mutations.ts
  frontend/packages/ux-editor-v3/src/components/config/Expressions/ExpressionContent/ExpressionEditMode/ExpressionEditMode.test.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditGrid/EditGrid.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditGrid/EditGridForGivenViewSize.tsx
  frontend/packages/ux-editor-v3/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.tsx
  frontend/packages/ux-editor-v3/src/hooks/mutations/useAddLayoutMutation.ts
  frontend/packages/ux-editor-v3/src/hooks/mutations/useAddWidgetMutation.ts
  frontend/packages/ux-editor-v3/src/hooks/mutations/useDeleteFormContainerMutation.ts
  frontend/packages/ux-editor-v3/src/hooks/mutations/useDeleteLayoutMutation.ts
  frontend/packages/ux-editor-v3/src/hooks/mutations/useUpdateFormComponentMutation.ts
  frontend/packages/ux-editor-v3/src/hooks/mutations/useUpdateFormComponentOrderMutation.ts
  frontend/packages/ux-editor-v3/src/hooks/mutations/useUpdateLayoutNameMutation.ts
  frontend/packages/ux-editor-v3/src/hooks/mutations/useUpdateLayoutOrderMutation.ts
  frontend/packages/ux-editor-v3/src/utils/arrayHelpers/arrayLogic.ts
  frontend/packages/ux-editor-v3/src/utils/expressionsUtils.test.ts
  frontend/packages/ux-editor-v3/src/utils/expressionsUtils.ts
  frontend/packages/ux-editor-v3/src/utils/formLayoutUtils.test.tsx
  frontend/packages/ux-editor-v3/src/utils/formLayoutUtils.ts
  frontend/packages/ux-editor-v3/src/utils/formLayoutsUtils.ts
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/EditPageId.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/HiddenExpressionOnLayout.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/Expressions.test.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/utils/utils.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditGrid/EditGrid.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditGrid/EditGridForGivenViewSize.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useAddLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddWidgetMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormContainerMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentOrderMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateLayoutNameMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateLayoutOrderMutation.ts
  frontend/packages/ux-editor/src/utils/arrayHelpers/arrayLogic.ts
  frontend/packages/ux-editor/src/utils/formLayoutUtils.test.tsx
  frontend/packages/ux-editor/src/utils/formLayoutUtils.ts
  frontend/packages/ux-editor/src/utils/formLayoutsUtils.ts
Labels: area/data-modeling, area/ui-editor, solution/studio/designer, area/text-editor

#12544 return false if parentId is undefined
  frontend/packages/ux-editor/src/utils/formLayoutUtils.ts
Labels: area/ui-editor, solution/studio/designer

#12494 12399 add new endpoint for adding receipt as a layoutset
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/Exceptions/EmptyLayoutSetIdException.cs
  backend/src/Designer/Exceptions/NonUniqueLayoutSetIdException.cs
  backend/src/Designer/Filters/AppDevelopment/AppDevelopmentErrorCodes.cs
  backend/src/Designer/Filters/AppDevelopment/AppDevelopmentExceptionFilterAttribute.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Infrastructure/MvcConfiguration.cs
  backend/src/Designer/Models/LayoutSets.cs
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Interfaces/IAppDevelopmentService.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/AddLayoutSetTests.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/UpdateLayoutSetTests.cs
  backend/tests/Designer.Tests/Services/AppDevelopmentServiceTest.cs
  frontend/app-development/features/overview/components/Navigation.module.css
  frontend/app-development/features/processEditor/ProcessEditor.test.tsx
  frontend/app-development/features/processEditor/ProcessEditor.tsx
  frontend/app-development/hooks/mutations/useAddLayoutSetMutation.test.ts
  frontend/app-development/hooks/mutations/useAddLayoutSetMutation.ts
  frontend/app-development/hooks/mutations/useUpdateLayoutSetMutation.test.ts
  frontend/app-development/hooks/mutations/useUpdateLayoutSetMutation.ts
  frontend/language/src/nb.json
  frontend/packages/policy-editor/src/components/CardButton/CardButton.module.css
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ExpandablePolicyElement/ExpandablePolicyElement.module.css
  frontend/packages/process-editor/src/ProcessEditor.test.tsx
  frontend/packages/process-editor/src/ProcessEditor.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigIcon/ConfigIcon.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigSectionWrapper/ConfigSectionWrapper.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigSectionWrapper/ConfigSectionWrapper.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigSectionWrapper/index.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/ConfigEndEvent.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/ConfigEndEvent.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/ConfigEndEvent.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/index.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigPanel.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigPanel.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigPanel.tsx
  frontend/packages/process-editor/src/types/BpmnTaskType.ts
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/DeleteModal/DeleteModal.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/VersionControlButtons.tsx
  frontend/packages/shared/src/components/LeftNavigationBar/LeftNavigationBar.module.css
  frontend/packages/shared/src/constants.js
  frontend/packages/shared/src/hooks/useCustomReceiptLayoutSetName.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/api/LayoutSetsResponse.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/shared/src/utils/layoutSetsUtils.test.ts
  frontend/packages/shared/src/utils/layoutSetsUtils.ts
  frontend/packages/ux-editor/src/components/Elements/Elements.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useConfigureLayoutSetMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useConfigureLayoutSetMutation.ts
  frontend/resourceadm/utils/utility.module.css
Labels: area/process, area/ui-editor, solution/studio/designer, quality/testing

#12537 Resourceadm: GET resourcelist call is very slow and does not calculate created by and last modified fields correctly
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Services/Implementation/GiteaAPIWrapper/GiteaAPIWrapper.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Implementation/ResourceRegistryService.cs
  backend/src/Designer/Services/Interfaces/IRepository.cs
Labels: solution/studio/designer, skip-releasenotes

#12563 Update deps
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes, area/pdf

#12562 feat(PaymentTask): Integrate Altinn Payment Task into ProcessEditor
  frontend/packages/process-editor/src/bpmnProviders/SupportedPaletteProvider.js
  frontend/packages/process-editor/src/components/Canvas/Canvas.module.css
  frontend/packages/process-editor/src/extensions/altinnCustomTasks.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
Labels: area/process, solution/studio/designer

#12575 update classRef if changed
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/CsharpNamespaceTests.cs
Labels: solution/studio/designer, quality/testing

#12557 storage upsert endpoints
  backend/runTests.sh
  backend/src/Designer/Controllers/DeploymentsController.cs
  backend/src/Designer/Services/Implementation/ApplicationInformationService.cs
  backend/src/Designer/Services/Implementation/ApplicationMetadataService.cs
  backend/src/Designer/Services/Implementation/AuthorizationPolicyService.cs
  backend/src/Designer/Services/Implementation/DeploymentService.cs
  backend/src/Designer/Services/Implementation/TextResourceService.cs
  backend/src/Designer/Services/Interfaces/IApplicationInformationService.cs
  backend/src/Designer/Services/Interfaces/IApplicationMetadataService.cs
  backend/src/Designer/Services/Interfaces/IAuthorizationPolicyService.cs
  backend/src/Designer/Services/Interfaces/IDeploymentService.cs
  backend/src/Designer/Services/Interfaces/ITextResourceService.cs
  backend/src/Designer/TypedHttpClients/AltinnStorage/AltinnStorageAppMetadataClient.cs
  backend/src/Designer/TypedHttpClients/AltinnStorage/AltinnStorageTextResourceClient.cs
  backend/src/Designer/TypedHttpClients/AltinnStorage/IAltinnStorageAppMetadataClient.cs
  backend/src/Designer/TypedHttpClients/AltinnStorage/IAltinnStorageTextResourceClient.cs
  backend/tests/Designer.Tests/Controllers/DeploymentsController/GetDeploymentsTests.cs
  backend/tests/Designer.Tests/Services/DeploymentServiceTest.cs
  backend/tests/Designer.Tests/Services/TextResourceServiceTest.cs
Labels: area/app-deploy, solution/studio/designer, quality/testing

#12507 Feat(process)/12445 record added deleted data tasks preparation
  frontend/app-development/features/processEditor/ProcessEditor.tsx
  frontend/libs/studio-pure-functions/src/ArrayUtils/ArrayUtils.test.ts
  frontend/libs/studio-pure-functions/src/ArrayUtils/ArrayUtils.ts
  frontend/packages/process-editor/src/components/Canvas/Canvas.tsx
  frontend/packages/process-editor/src/components/Canvas/CanvasActionMenu/CanvasActionMenu.test.tsx
  frontend/packages/process-editor/src/components/Canvas/CanvasActionMenu/CanvasActionMenu.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigPanel.test.tsx
  frontend/packages/process-editor/src/contexts/BpmnContext.tsx
  frontend/packages/process-editor/src/hooks/useBpmnEditor.ts
Labels: area/process, solution/studio/designer

#12580 feat(StorybookStudioComponents): first draft/poc of storybook
  .github/workflows/storybook-to-github-pages.yaml
  frontend/.gitignore
  frontend/libs/studio-components/.eslintrc.js
  frontend/libs/studio-components/.storybook/main.ts
  frontend/libs/studio-components/.storybook/preview-head.html
  frontend/libs/studio-components/.storybook/preview.tsx
  frontend/libs/studio-components/package.json
  frontend/libs/studio-components/src/components/StudioBooleanToggleGroup/StudioBooleanToggleGroup.stories.tsx
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.stories.tsx
  frontend/libs/studio-components/src/components/StudioCodeFragment/StudioCodeFragment.stories.tsx
  frontend/libs/studio-components/src/components/StudioDecimalInput/StudioDecimalInput.mdx
  frontend/libs/studio-components/src/components/StudioDecimalInput/StudioDecimalInput.stories.tsx
  frontend/libs/studio-components/src/components/StudioTextfield/StudioTextfield.stories.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioToggleableTextfield.stories.tsx
  yarn.lock
Labels: solution/studio/designer, skip-releasenotes, kind/dependencies

#12591 Fixed path
  backend/src/Designer/appsettings.json
Labels: solution/studio/designer

#12594 Chore/update upload action
  .github/workflows/storybook-to-github-pages.yaml
Labels: skip-releasenotes

#12595 chore/use actions upload-pages-artifact@v3 instead
  .github/workflows/storybook-to-github-pages.yaml
Labels: skip-releasenotes

#12579 Add $schema and uiSettings to LayoutSets model in backend
  backend/src/Designer/Models/LayoutSets.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/AddLayoutSetTests.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/UpdateLayoutSetTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layout-sets.json
Labels: solution/studio/designer, quality/testing

#12552 resourceadm: prevent saving resource too often
  frontend/resourceadm/pages/ResourcePage/ResourcePage.test.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/resourceadm/utils/resourceUtils/index.ts
  frontend/resourceadm/utils/resourceUtils/resourceUtils.test.tsx
  frontend/resourceadm/utils/resourceUtils/resourceUtils.ts
Labels: solution/studio/designer, skip-releasenotes
