Repository Altinn/altinn-studio, pull requests merged in 2024-10, with the labels that each got.

#13667 refactor: StudioProfileMenu
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeader.stories.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderButton/StudioPageHeaderButton.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderProfileMenu/StudioPageHeaderProfileMenu.module.css
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderProfileMenu/StudioPageHeaderProfileMenu.test.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderProfileMenu/StudioPageHeaderProfileMenu.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderProfileMenu/index.ts
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderProfileMenu/types/StudioProfileMenuGroup.ts
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderProfileMenu/types/StudioProfileMenuItem.ts
  frontend/libs/studio-components/src/components/StudioPageHeader/index.ts
  frontend/libs/studio-components/src/components/StudioProfileMenu/StudioProfileMenu.module.css
  frontend/libs/studio-components/src/components/StudioProfileMenu/StudioProfileMenu.stories.tsx
  frontend/libs/studio-components/src/components/StudioProfileMenu/StudioProfileMenu.tsx
  frontend/libs/studio-components/src/components/StudioProfileMenu/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, frontend

#13687 chore: Bump azure-security-keyvault-secrets
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes, area/pdf

#13693 Refactor: Changed help texts for components
  .vscode/settings.json
  frontend/language/src/nb.json
  studio.code-workspace
Labels: solution/studio/designer, skip-releasenotes

#13696 chore(workspace): approve PR when label "skip-manual-testing" is added
  .github/workflows/auto-approve-pr.yaml
Labels: skip-releasenotes, skip-manual-testing

#13636 feat(content-library): Basic setup for content library
  Dockerfile
  frontend/libs/studio-content-library/.eslintrc.js
  frontend/libs/studio-content-library/README.md
  frontend/libs/studio-content-library/jest.config.js
  frontend/libs/studio-content-library/package.json
  frontend/libs/studio-content-library/src/config/ContentResourceLibraryImpl.tsx
  frontend/libs/studio-content-library/src/contexts/RouterContext.test.tsx
  frontend/libs/studio-content-library/src/contexts/RouterContext.tsx
  frontend/libs/studio-content-library/src/hooks/useNavigation.test.ts
  frontend/libs/studio-content-library/src/hooks/useNavigation.ts
  frontend/libs/studio-content-library/src/index.ts
  frontend/libs/studio-content-library/src/pages/CodeList/CodeList.test.tsx
  frontend/libs/studio-content-library/src/pages/CodeList/CodeList.tsx
  frontend/libs/studio-content-library/src/pages/CodeList/index.ts
  frontend/libs/studio-content-library/src/pages/Root/Root.test.tsx
  frontend/libs/studio-content-library/src/pages/Root/Root.tsx
  frontend/libs/studio-content-library/src/pages/Root/index.ts
  frontend/libs/studio-content-library/src/pages/RouterPage.tsx
  frontend/libs/studio-content-library/src/types/PageName.ts
  frontend/libs/studio-content-library/src/types/PagesProps.ts
  frontend/libs/studio-content-library/src/utils/router/QueryParamsRouter.test.ts
  frontend/libs/studio-content-library/src/utils/router/QueryParamsRouter.ts
  frontend/libs/studio-content-library/src/utils/router/RouterRouteMapper.test.ts
  frontend/libs/studio-content-library/src/utils/router/RouterRouteMapper.ts
  yarn.lock
Labels: solution/studio/designer, kind/dependencies, skip-manual-testing

#13625 chore: Update labeler.yml
  .github/labeler.yml
Labels: skip-releasenotes, skip-manual-testing

#13627 feat: add unique header to dashboard
  frontend/dashboard/components/NewApplicationForm/NewApplicationForm.tsx
  frontend/dashboard/context/HeaderContext/HeaderContext.tsx
  frontend/dashboard/context/HeaderContext/index.ts
  frontend/dashboard/hooks/guards/useContextRedirectionGuard.ts
  frontend/dashboard/hooks/usePageHeaderTitle/index.ts
  frontend/dashboard/hooks/usePageHeaderTitle/usePageHeaderTitle.test.tsx
  frontend/dashboard/hooks/usePageHeaderTitle/usePageHeaderTitle.tsx
  frontend/dashboard/hooks/useProfileMenuTriggerButtonText/index.ts
  frontend/dashboard/hooks/useProfileMenuTriggerButtonText/useProfileMenuTriggerButtonText.test.tsx
  frontend/dashboard/hooks/useProfileMenuTriggerButtonText/useProfileMenuTriggerButtonText.tsx
  frontend/dashboard/hooks/useRepoPath/index.ts
  frontend/dashboard/hooks/useRepoPath/useRepoPath.test.tsx
  frontend/dashboard/hooks/useRepoPath/useRepoPath.tsx
  frontend/dashboard/hooks/useSelectedContext/useSelectedContext.ts
  frontend/dashboard/pages/CreateService/CreateService.test.tsx
  frontend/dashboard/pages/CreateService/CreateService.tsx
  frontend/dashboard/pages/Dashboard/Dashboard.test.tsx
  frontend/dashboard/pages/Dashboard/Dashboard.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/DashboardHeader.test.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/DashboardHeader.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/index.ts
  frontend/dashboard/pages/PageLayout/PageLayout.test.tsx
  frontend/dashboard/pages/PageLayout/PageLayout.tsx
  frontend/dashboard/testing/headerContextMock.ts
  frontend/dashboard/testing/mocks.tsx
  frontend/dashboard/testing/organizationMock.ts
  frontend/dashboard/testing/userMock.ts
  frontend/dashboard/utils/filterUtils/filterUtils.test.ts
  frontend/dashboard/utils/filterUtils/filterUtils.ts
  frontend/dashboard/utils/repoUtils/repoUtils.test.ts
  frontend/dashboard/utils/repoUtils/repoUtils.ts
  frontend/dashboard/utils/userUtils/index.ts
  frontend/dashboard/utils/userUtils/userUtils.test.ts
  frontend/dashboard/utils/userUtils/userUtils.ts
  frontend/libs/studio-components/src/components/StudioPageHeader/index.ts
  frontend/packages/shared/src/components/AltinnHeaderProfile/AltinnHeaderProfile.test.tsx
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.test.tsx
  frontend/packages/shared/src/constants.js
  frontend/packages/shared/src/navigation/main-header/ProfileMenu/ProfileMenu.test.tsx
  frontend/packages/shared/src/navigation/main-header/ProfileMenu/ProfileMenu.tsx
  frontend/packages/shared/src/navigation/main-header/ProfileMenu/__snapshots__/ProfileMenu.test.tsx.snap
  frontend/testing/playwright/pages/DashboardPage.ts
Labels: area/dashboard, solution/studio/designer, quality/testing, frontend, team/studio-core

#13699 refactor(resource-adm): use new StudioPageHeader component in resourceadm
  frontend/resourceadm/components/ResourceAdmHeader/ResourceAdmHeader.test.tsx
  frontend/resourceadm/components/ResourceAdmHeader/ResourceAdmHeader.tsx
  frontend/resourceadm/components/ResourceAdmHeader/index.ts
  frontend/resourceadm/hooks/useUrlParams/useUrlParams.ts
  frontend/resourceadm/pages/PageLayout/PageLayout.tsx
  frontend/resourceadm/pages/RedirectPage/RedirectPage.tsx
  frontend/resourceadm/utils/stringUtils/index.ts
  frontend/resourceadm/utils/stringUtils/stringUtils.ts
  frontend/resourceadm/utils/userUtils/index.ts
  frontend/resourceadm/utils/userUtils/userUtils.ts
Labels: solution/studio/designer, skip-releasenotes, area/resource-adm, frontend, skip-manual-testing

#13626 feat: add unique header to app preview
  frontend/app-preview/App.css
  frontend/app-preview/index.tsx
  frontend/app-preview/src/PreviewApp.module.css
  frontend/app-preview/src/components/AppBarConfig/AppPreviewBarConfig.test.tsx
  frontend/app-preview/src/components/AppBarConfig/AppPreviewBarConfig.tsx
  frontend/app-preview/src/components/AppPreviewSubMenu.test.tsx
  frontend/app-preview/src/components/AppPreviewSubMenu.tsx
  frontend/app-preview/src/components/AppPreviewSubMenu/AppPreviewSubMenu.module.css
  frontend/app-preview/src/components/AppPreviewSubMenu/AppPreviewSubMenu.test.tsx
  frontend/app-preview/src/components/AppPreviewSubMenu/AppPreviewSubMenu.tsx
  frontend/app-preview/src/components/AppPreviewSubMenu/index.ts
  frontend/app-preview/src/components/PreviewControlHeader/PreviewControlHeader.module.css
  frontend/app-preview/src/components/PreviewControlHeader/PreviewControlHeader.test.tsx
  frontend/app-preview/src/components/PreviewControlHeader/PreviewControlHeader.tsx
  frontend/app-preview/src/components/PreviewControlHeader/index.ts
  frontend/app-preview/src/components/UserProfileMenu/UserProfileMenu.test.tsx
  frontend/app-preview/src/components/UserProfileMenu/UserProfileMenu.tsx
  frontend/app-preview/src/components/UserProfileMenu/index.ts
  frontend/app-preview/src/hooks/useBackToEditingHref/index.ts
  frontend/app-preview/src/hooks/useBackToEditingHref/useBackToEditingHref.test.tsx
  frontend/app-preview/src/hooks/useBackToEditingHref/useBackToEditingHref.tsx
  frontend/app-preview/src/views/LandingPage.module.css
  frontend/app-preview/src/views/LandingPage.test.tsx
  frontend/app-preview/src/views/LandingPage.tsx
  frontend/app-preview/test/mocks.tsx
  frontend/app-preview/test/user.ts
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/hooks/useLocalStorage.test.ts
  frontend/libs/studio-components/src/hooks/webStorage.test.ts
  frontend/libs/studio-components/src/hooks/webStorage.ts
  frontend/packages/shared/src/utils/featureToggleUtils.test.ts
  frontend/packages/ux-editor/src/utils/localStorage.test.ts
Labels: area/ui-editor, area/app-preview, solution/studio/designer, frontend, team/studio-domain2

#13702 refactor: resourceadm - Moving headercontext and gitea header
  frontend/resourceadm/components/ResourceAdmHeader/ResourceAdmHeader.module.css
  frontend/resourceadm/components/ResourceAdmHeader/ResourceAdmHeader.tsx
  frontend/resourceadm/pages/PageLayout/PageLayout.tsx
  frontend/resourceadm/utils/userUtils/userUtils.test.ts
  frontend/resourceadm/utils/userUtils/userUtils.ts
Labels: solution/studio/designer, frontend, skip-manual-testing

#13703 refactor: Fixing header text studio root
  frontend/studio-root/pages/PageLayout/PageLayout.tsx
Labels: solution/studio/designer, area/studio-root, frontend, team/studio-core, skip-manual-testing

#13719 feat: Create basic input table component
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/BaseInputCell.ts
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/Cell.module.css
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/Cell.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellButton.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellCheckbox.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellTextarea.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellTextfield.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/index.ts
  frontend/libs/studio-components/src/components/StudioInputTable/HeaderCell/HeaderCell.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/HeaderCell/HeaderCellCheckbox.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/HeaderCell/index.ts
  frontend/libs/studio-components/src/components/StudioInputTable/Row/Row.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Row/index.ts
  frontend/libs/studio-components/src/components/StudioInputTable/StudioInputTable.module.css
  frontend/libs/studio-components/src/components/StudioInputTable/StudioInputTable.stories.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/StudioInputTable.test.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/StudioInputTable.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/index.ts
  frontend/libs/studio-components/src/components/StudioInputTable/test-data/TestTable.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/test-data/testTableData.ts
  frontend/libs/studio-components/src/components/StudioInputTable/types/HTMLCellInputElement.ts
  frontend/libs/studio-components/src/components/StudioInputTable/types/InputCellComponent.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, frontend, team/studio-domain1, skip-manual-testing

#13588 chore: enable eid logger feature flag
  backend/src/Designer/Services/Implementation/DeploymentService.cs
  backend/src/Designer/TypedHttpClients/EidLogger/EidLoggerClient.cs
  backend/src/Designer/TypedHttpClients/EidLogger/IEidLoggerClient.cs
  charts/altinn-designer/values.yaml
Labels: area/app-deploy, solution/studio/designer, backend, skip-manual-testing

#13675 feat(ui-editor): configuration of subform layoutset with allowed components only
  frontend/packages/ux-editor/src/components/Elements/ConfPageToolbar.test.tsx
  frontend/packages/ux-editor/src/components/Elements/ConfPageToolbar.tsx
  frontend/packages/ux-editor/src/components/Elements/Elements.test.tsx
  frontend/packages/ux-editor/src/components/Elements/Elements.tsx
  frontend/packages/ux-editor/src/components/Elements/ElementsUtils.test.ts
  frontend/packages/ux-editor/src/components/Elements/ElementsUtils.ts
  frontend/packages/ux-editor/src/components/Elements/types/ConfigPageType.ts
  frontend/packages/ux-editor/src/data/FilterUtils.test.ts
  frontend/packages/ux-editor/src/data/FilterUtils.ts
  frontend/packages/ux-editor/src/data/formItemConfig.ts
  frontend/packages/ux-editor/src/hooks/index.ts
  frontend/packages/ux-editor/src/hooks/useGetLayoutSetByName.test.ts
  frontend/packages/ux-editor/src/hooks/useGetLayoutSetByName.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes

#13749 feat: implementing StudioSwitch
  frontend/libs/studio-components/src/components/StudioSwitch/index.tsx
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#13710 refactor: fixing flaky unit test on dashboard
  frontend/dashboard/pages/Dashboard/Dashboard.test.tsx
Labels: area/dashboard, solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#13692 fix: Error when changing Group heading level
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditNumberValue.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditNumberValue.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditStringValue.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditStringValue.tsx
  frontend/packages/ux-editor/src/testing/schemas/json/component/Group.schema.v1.json
  frontend/packages/ux-editor/src/utils/component.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#13680 feat: deleting subform layoutset
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/EventHandlers/LayoutSetDeleted/LayoutSetDeletedComponentRefHandler.cs
  backend/src/Designer/Events/LayoutSetDeletedEvent.cs
  backend/src/Designer/Hubs/SyncHub/SyncErrorCodes.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/DeleteLayoutSetTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layoutSet2/layouts/layoutFile1InSet2.json
  frontend/packages/shared/src/queryInvalidator/SyncSuccessQueriesInvalidator.test.ts
  frontend/packages/shared/src/queryInvalidator/SyncSuccessQueriesInvalidator.ts
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, frontend

#13746 refactor: adding new header component to three dots menu
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/ThreeDotsMenu.tsx
Labels: solution/studio/designer, area/version-control, frontend, team/studio-core

#13744 refactor: move use user name and org hook
  frontend/app-development/layout/PageHeader/PageHeader.tsx
  frontend/app-development/layout/PageHeader/SmallHeaderMenu/SmallHeaderMenu.tsx
  frontend/app-preview/src/components/UserProfileMenu/UserProfileMenu.tsx
  frontend/packages/shared/src/components/AltinnHeaderProfile/AltinnHeaderProfile.tsx
  frontend/packages/shared/src/hooks/useUserNameAndOrg.test.ts
  frontend/packages/shared/src/hooks/useUserNameAndOrg.ts
Labels: area/app-preview, solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#13747 refactor: adding new header component to fetch changes popover
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/VersionControlButtons.module.css
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/FetchChangesPopover/FetchChangesPopover.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/FetchChangesPopover/FetchChangesPopover.tsx
Labels: solution/studio/designer, area/version-control, frontend, team/studio-core

#13748 refactor: add new header to shared changes popover
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/CommitAndPushContent.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/FileChangesInfoModal/index.ts
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/ShareChangesPopover.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/ShareChangesPopover.tsx
Labels: solution/studio/designer, area/version-control, frontend, team/studio-core

#13745 refactor: delete old unused Altinn header
  frontend/packages/shared/src/components/AltinnHeaderProfile/AltinnHeaderProfile.module.css
  frontend/packages/shared/src/components/AltinnHeaderProfile/AltinnHeaderProfile.test.tsx
  frontend/packages/shared/src/components/AltinnHeaderProfile/AltinnHeaderProfile.tsx
  frontend/packages/shared/src/components/AltinnHeaderProfile/index.ts
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.module.css
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.test.tsx
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.tsx
  frontend/packages/shared/src/components/altinnHeader/index.ts
  frontend/packages/shared/src/components/altinnHeader/types.ts
  frontend/packages/shared/src/components/altinnHeaderButtons/AltinnHeaderButton.module.css
  frontend/packages/shared/src/components/altinnHeaderButtons/AltinnHeaderButton.test.tsx
  frontend/packages/shared/src/components/altinnHeaderButtons/AltinnHeaderButton.tsx
  frontend/packages/shared/src/components/altinnHeaderButtons/index.ts
  frontend/packages/shared/src/components/altinnHeaderMenu/AltinnHeaderMenu.module.css
  frontend/packages/shared/src/components/altinnHeaderMenu/AltinnHeaderMenu.test.tsx
  frontend/packages/shared/src/components/altinnHeaderMenu/AltinnHeaderMenu.tsx
  frontend/packages/shared/src/components/altinnHeaderMenu/index.ts
  frontend/packages/shared/src/components/altinnSubHeader/AltinnSubMenu.module.css
  frontend/packages/shared/src/components/altinnSubHeader/AltinnSubMenu.test.tsx
  frontend/packages/shared/src/components/altinnSubHeader/AltinnSubMenu.tsx
  frontend/packages/shared/src/components/altinnSubHeader/index.ts
  frontend/packages/shared/src/components/index.ts
  frontend/packages/shared/src/components/molecules/AltinnMenu.module.css
  frontend/packages/shared/src/components/molecules/AltinnMenu.tsx
  frontend/packages/shared/src/enums/TopBarMenu.ts
  frontend/packages/shared/src/navigation/main-header/AltinnStudioLogo.tsx
  frontend/packages/shared/src/navigation/main-header/Header.module.css
  frontend/packages/shared/src/navigation/main-header/Header.test.tsx
  frontend/packages/shared/src/navigation/main-header/Header.tsx
  frontend/packages/shared/src/navigation/main-header/HeaderMenu.module.css
  frontend/packages/shared/src/navigation/main-header/HeaderMenu.test.tsx
  frontend/packages/shared/src/navigation/main-header/HeaderMenu.tsx
  frontend/packages/shared/src/navigation/main-header/ProfileMenu/ProfileMenu.module.css
  frontend/packages/shared/src/navigation/main-header/ProfileMenu/ProfileMenu.test.tsx
  frontend/packages/shared/src/navigation/main-header/ProfileMenu/ProfileMenu.tsx
  frontend/packages/shared/src/navigation/main-header/ProfileMenu/index.ts
  frontend/packages/shared/src/types/TopBarMenuItem.ts
  frontend/packages/ux-editor-v3/src/components/config/FormComponentConfig.tsx
Labels: area/app-preview, solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#13755 fix: fixing margin bug in app-preview
  frontend/app-preview/App.css
Labels: frontend, skip-manual-testing

#13756 refactor: remove unused text key
  frontend/language/src/en.json
  frontend/language/src/nb.json
Labels: frontend, team/studio-core, skip-manual-testing

#13653 feat: add layout set config for sub form
  frontend/language/src/nb.json
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditPolicy/EditPolicy.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/RedirectToCreatePageButton/RedirectToCreatePageButton.tsx
  frontend/packages/shared/src/components/RedirectBox/RedirectBox.module.css
  frontend/packages/shared/src/components/RedirectBox/RedirectBox.tsx
  frontend/packages/shared/src/components/RedirectBox/index.ts
  frontend/packages/shared/src/types/api/LayoutSetsResponse.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/AppContext.test.tsx
  frontend/packages/ux-editor/src/classes/SubFormUtils.ts
  frontend/packages/ux-editor/src/classes/Subformutils.test.ts
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.test.tsx
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.tsx
  frontend/packages/ux-editor/src/components/Elements/SubForm/SubFormUtils.test.ts
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/DefinedLayoutSet/DefinedLayoutSet.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/DefinedLayoutSet/DefinedLayoutSet.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/EditLayoutSet.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/SelectLayoutSet/EditLayoutSetButtons/EditLayoutSetButton.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/SelectLayoutSet/EditLayoutSetButtons/EditLayoutSetButtons.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/SelectLayoutSet/EditLayoutSetButtons/EditLayoutSetButtons.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/SelectLayoutSet/SelectLayoutSet.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/SelectLayoutSet/SelectLayoutSet.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/UndefinedLayoutSet/UndefinedLayoutSet.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/UndefinedLayoutSet/UndefinedLayoutSet.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/index.ts
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSetForSubform.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSetForSubform.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/NoSubformLayoutsExist/NoSubformLayoutsExist.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/NoSubformLayoutsExist/NoSubformLayoutsExist.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/NoSubformLayoutsExist/index.ts
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/index.ts
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.tsx
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.test.tsx
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
  frontend/packages/ux-editor/src/components/config/editModal/RedirectToLayoutSet/RedirectToLayoutSet.module.css
  frontend/packages/ux-editor/src/components/config/editModal/RedirectToLayoutSet/RedirectToLayoutSet.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/RedirectToLayoutSet/RedirectToLayoutSet.tsx
  frontend/packages/ux-editor/src/components/config/editModal/RedirectToLayoutSet/index.ts
  frontend/packages/ux-editor/src/data/formItemConfig.ts
  frontend/packages/ux-editor/src/hooks/useAppContext.test.tsx
  frontend/packages/ux-editor/src/hooks/useAppContext.ts
  frontend/packages/ux-editor/src/testing/componentMocks.ts
Labels: area/process, area/ui-editor, solution/studio/designer, skip-releasenotes, frontend

#13757 fix: fixing the z-index bug on data model page
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/CreateNewWrapper.module.css
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/CreateNewWrapper.tsx
Labels: area/data-modeling, solution/studio/designer, frontend

#13758 chore: Update azure identity dep
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes

#13760 feat(workspace): added StudioActionCloseButton to @studio/components
  frontend/libs/studio-components/src/components/StudioActionCloseButton/StudioActionCloseButton.stories.tsx
  frontend/libs/studio-components/src/components/StudioActionCloseButton/StudioActionCloseButton.test.tsx
  frontend/libs/studio-components/src/components/StudioActionCloseButton/StudioActionCloseButton.tsx
  frontend/libs/studio-components/src/components/StudioActionCloseButton/index.ts
  frontend/libs/studio-components/src/components/index.ts
  frontend/libs/studio-components/src/test-utils/testOnClickCallbackReceivesNativeEvent.ts
Labels: solution/studio/designer, added-to-sprint, frontend, team/studio-core, skip-manual-testing

#13736 fix: Error occuring when adding a data task after creating a subform
  backend/src/Designer/Models/LayoutSets.cs
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
  frontend/app-development/features/processEditor/bpmnHandlerUtils/bpmnHandlerUtils.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.tsx
Labels: area/process, solution/studio/designer, backend, frontend, skip-manual-testing

#13752 feat: Support configuration for rendering summaries of current and previous tasks
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/EditFormComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Component.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Target/Summary2Target.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#13741 feat: Add keyboard navigation to input table
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/BaseInputCell.ts
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellButton.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellCheckbox.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellTextarea.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellTextfield.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/HeaderCell/HeaderCellCheckbox.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/StudioInputTable.test.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/StudioInputTable.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/dom-utils/activateTabbingOnFirstInputElement.ts
  frontend/libs/studio-components/src/components/StudioInputTable/dom-utils/caretUtils.test.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/dom-utils/caretUtils.ts
  frontend/libs/studio-components/src/components/StudioInputTable/dom-utils/getNextInputElement.test.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/dom-utils/getNextInputElement.ts
  frontend/libs/studio-components/src/components/StudioInputTable/types/CellCoords.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#13767 feat(workspace): added siteimprove script
  backend/src/Designer/Views/Shared/_Layout.cshtml
Labels: solution/studio/designer, backend, skip-manual-testing

#13762 fix: Fix error that occurs when dragging a type into an object
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/components/NodePanel/HeadingRow/HeadingRow.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor/hooks/useAddReference.test.ts
  frontend/packages/schema-editor/src/components/SchemaEditor/hooks/useAddReference.ts
  frontend/packages/schema-editor/src/components/SchemaEditor/hooks/useMoveProperty.ts
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/ActionButtons/AddPropertyMenu.tsx
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/SchemaNode.tsx
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaTree.tsx
  frontend/packages/schema-editor/src/components/TypesInspector/TypesInspector.tsx
  frontend/packages/schema-model/src/lib/SchemaModel.test.ts
  frontend/packages/schema-model/src/lib/SchemaModel.ts
  frontend/testing/playwright/pages/DataModelPage.ts
  frontend/testing/playwright/tests/data-model/data-model.spec.ts
Labels: kind/bug, area/data-modeling, solution/studio/designer, quality/testing, added-to-sprint, frontend, team/studio-domain1, skip-documentation

#13774 refactor: Code improvements in file uploader
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/LandingPagePanel.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload.tsx
  frontend/libs/studio-components/src/components/StudioFileUploader/StudioFileUploader.test.tsx
  frontend/libs/studio-components/src/components/StudioFileUploader/StudioFileUploader.tsx
  frontend/libs/studio-components/src/components/StudioFileUploader/StudioFileUploaderWrapper.tsx
  frontend/libs/studio-components/src/test-utils/testRootClassNameAppending.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/EditImage.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/LocalImage/ImportImage/ImportImage.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/LocalImage/ImportImage/UploadImage/UploadImage.tsx
  frontend/testing/playwright/enum/DataTestId.ts
  frontend/testing/playwright/pages/DataModelPage.ts
Labels: area/data-modeling, area/ui-editor, solution/studio/designer, quality/code, quality/testing, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#13781 fix: Updated default component help text
  frontend/language/src/nb.json
Labels: kind/bug, solution/studio/designer, added-to-sprint, frontend, skip-manual-testing

#13759 refactor: Remove MUI completely
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/TopToolbar.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/SchemaInspector.module.css
  frontend/packages/schema-editor/src/components/TypesInspector/TypesInspector.module.css
  frontend/packages/shared/package.json
  frontend/packages/ux-editor-v3/package.json
  frontend/packages/ux-editor/package.json
  yarn.lock
Labels: area/data-modeling, area/ui-editor, solution/studio/designer, kind/dependencies, frontend, team/studio-core, skip-manual-testing

#13787 feat(workspace): Renovate to update ResourceAdm dependencies in separate PR
  renovate.json
Labels: quality/engineering, skip-manual-testing

#13648 feat: Auto-update taskId in layout files when taskId is updated from process editor
  backend/src/Designer/EventHandlers/ProcessTaskIdChanged/ProcessTaskIdChangedLayoutSetsHandler.cs
  backend/src/Designer/EventHandlers/ProcessTaskIdChanged/ProcessTaskIdChangedLayoutsHandler.cs
  backend/src/Designer/Hubs/SyncHub/SyncErrorCodes.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/FileSync/TaskIdChangeTests/LayoutFileSyncTaskIdTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/FileSync/TaskIdChangeTests/LayoutSetsFileSyncTaskIdTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layoutSet2/layouts/layoutFile2InSet2.json
Labels: area/ui-editor, solution/studio/designer, quality/testing, backend, frontend, team/studio-domain2

#13792 fix(workspace): update the logging guard to handle ConnectionString for Application Insights
  frontend/packages/shared/src/contexts/LoggerContext.test.tsx
  frontend/packages/shared/src/contexts/LoggerContext.tsx
Labels: solution/studio/designer, frontend

#13695 refactor: Changed component help texts
  .vscode/settings.json
  frontend/language/src/nb.json
  studio.code-workspace
Labels: solution/studio/designer, skip-releasenotes, frontend, skip-manual-testing

#13790 style: adding more space to app-preview content
  frontend/app-preview/src/views/LandingPage.module.css
Labels: area/app-preview, solution/studio/designer, added-to-sprint, frontend, team/studio-domain2, skip-manual-testing

#13798 chore: Remove eFormidlings tests
  src/test/K6/src/api/platform/eFormidling/eFormidling.js
  src/test/K6/src/config.js
  src/test/K6/src/tests/app/performance/efm.js
  src/test/K6/src/tests/platform/eFormidling/eFormidling.js
  src/test/K6/use-cases.yaml
Labels: skip-releasenotes

#13791 refactor: Removed single quotation marks on -knapp strings
  frontend/language/src/nb.json
Labels: solution/studio/designer, frontend

#13737 feat: Create code list editor component
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.module.css
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.stories.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.test.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditorContext.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditorRow/StudioCodeListEditorRow.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditorRow/utils.test.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditorRow/utils.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/index.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/types/CodeList.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/types/CodeListEditorTexts.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/types/CodeListItem.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/utils.test.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/utils.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#13804 refactor: Simplify file uploader component
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload/FileNameError.ts
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload/XSDUpload.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload/XSDUpload.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload/index.ts
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload/useValidationAlert.ts
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload/validationUtils.ts
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/useValidateFileName.ts
  frontend/app-development/hooks/mutations/useUploadDataModelMutation.test.ts
  frontend/app-development/hooks/mutations/useUploadDataModelMutation.ts
  frontend/libs/studio-components/src/components/StudioFileUploader/StudioFileUploader.stories.tsx
  frontend/libs/studio-components/src/components/StudioFileUploader/StudioFileUploader.test.tsx
  frontend/libs/studio-components/src/components/StudioFileUploader/StudioFileUploader.tsx
  frontend/libs/studio-components/src/components/StudioFileUploader/StudioFileUploaderWrapper.tsx
  frontend/libs/studio-components/src/components/StudioFileUploader/index.ts
  frontend/libs/studio-components/src/test-utils/testCustomAttributes.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/LocalImage/ImportImage/UploadImage/FileUploaderWithValidation/FileUploaderWithValidation.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/LocalImage/ImportImage/UploadImage/FileUploaderWithValidation/FileUploaderWithValidation.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/LocalImage/ImportImage/UploadImage/FileUploaderWithValidation/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/LocalImage/ImportImage/UploadImage/UploadImage.tsx
Labels: area/data-modeling, area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#13729 chore: Remove react-modal usage
  frontend/app-development/layout/App.css
  frontend/libs/studio-components/src/components/StudioAlert/index.tsx
  frontend/libs/studio-components/src/components/StudioLink/index.tsx
  frontend/libs/studio-components/src/components/index.ts
  frontend/packages/ux-editor-v3/src/components/Properties/Calculations.tsx
  frontend/packages/ux-editor-v3/src/components/Properties/ConditionalRendering.test.tsx
  frontend/packages/ux-editor-v3/src/components/Properties/ConditionalRendering.tsx
  frontend/packages/ux-editor-v3/src/components/config/ConditionalRenderingComponent.module.css
  frontend/packages/ux-editor-v3/src/components/config/ConditionalRenderingComponent.tsx
  frontend/packages/ux-editor-v3/src/components/config/RuleComponent.module.css
  frontend/packages/ux-editor-v3/src/components/config/RuleComponent.tsx
  frontend/packages/ux-editor-v3/src/components/toolbar/ConditionalRenderingModal.module.css
  frontend/packages/ux-editor-v3/src/components/toolbar/ConditionalRenderingModal.tsx
  frontend/packages/ux-editor-v3/src/components/toolbar/RuleModal.test.tsx
  frontend/packages/ux-editor-v3/src/components/toolbar/RuleModal.tsx
  frontend/packages/ux-editor-v3/src/styles/index.css
  frontend/packages/ux-editor/src/App.test.tsx
  frontend/packages/ux-editor/src/components/Properties/DeprecatedCalculationsInfo.tsx
  frontend/packages/ux-editor/src/components/Properties/Dynamics.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Dynamics.tsx
  frontend/packages/ux-editor/src/components/config/ConditionalRenderingComponent.module.css
  frontend/packages/ux-editor/src/components/config/ConditionalRenderingComponent.tsx
  frontend/packages/ux-editor/src/components/config/RuleComponent.module.css
  frontend/packages/ux-editor/src/components/config/RuleComponent.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.test.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormContainerMutation.ts
  frontend/packages/ux-editor/src/hooks/queries/useRuleModelQuery.test.ts
  frontend/packages/ux-editor/src/hooks/queries/useRuleModelQuery.ts
  frontend/packages/ux-editor/src/styles/index.css
  frontend/packages/ux-editor/src/testing/ruleHandlerMock.ts
  frontend/packages/ux-editor/src/utils/ruleConfigUtils.test.ts
  frontend/packages/ux-editor/src/utils/ruleConfigUtils.ts
  frontend/testing/setupTests.ts
  frontend/testing/testids.js
Labels: area/ui-editor, solution/studio/designer, quality/testing, skip-releasenotes, frontend, skip-manual-testing

#13809 chore: updating azure-security-keyvault-secrets
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes

#13694 fix: Refactor component script and check if enum contents are numbers
  frontend/packages/ux-editor/src/testing/schemas/json/component/Accordion.schema.v1.json
  frontend/scripts/componentSchemas/api.ts
  frontend/scripts/componentSchemas/fileUtils.ts
  frontend/scripts/componentSchemas/languageUtils.ts
  frontend/scripts/componentSchemas/run.ts
  frontend/scripts/componentSchemas/schemaUtils.test.ts
  frontend/scripts/componentSchemas/schemaUtils.ts
  frontend/scripts/componentSchemas/types.ts
  frontend/scripts/componentSchemas/version.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain2

#13810 feat: gitea dev deploy
  .github/workflows/deploy-repositories.yaml
  gitea/Dockerfile
Labels: solution/studio/repos, skip-releasenotes, skip-manual-testing

#13734 feat: 13526 support component specific overrides in summary2
  frontend/language/src/nb.json
  frontend/packages/shared/src/types/ComponentSpecificConfig.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2Override.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2OverrideDisplayType.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2OverrideEntry.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/hook/useCustomConfigType.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/index.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/utils.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/utils.ts
  frontend/packages/ux-editor/src/utils/formLayoutUtils.test.tsx
  frontend/packages/ux-editor/src/utils/formLayoutUtils.ts
Labels: area/ui-editor, solution/studio/designer, frontend

#13807 feat: add no value option to edit string value ux-editor
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/editModal/EditStringValue.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditStringValue.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#13742 refactor: refactor altinnDocsUrl to take object as param
  frontend/app-development/contexts/PageHeaderContext/PageHeaderContext.tsx
  frontend/app-preview/src/components/UserProfileMenu/UserProfileMenu.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/ConfigEndEvent.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/ClonePopoverContent/ClonePopoverContent.tsx
  frontend/packages/shared/src/ext-urls.test.ts
  frontend/packages/shared/src/ext-urls.ts
  frontend/packages/ux-editor-v3/src/components/Properties/ConditionalRendering.tsx
  frontend/packages/ux-editor-v3/src/components/Properties/OldDynamicsInfo.tsx
  frontend/packages/ux-editor-v3/src/components/config/Expressions/Expressions.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditCodeList.tsx
  frontend/packages/ux-editor/src/components/Properties/DeprecatedCalculationsInfo.tsx
  frontend/packages/ux-editor/src/components/Properties/DeprecatedConditionalRenderingInfo.tsx
  frontend/packages/ux-editor/src/components/Properties/OldDynamicsInfo.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/Expressions.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditCodeList/EditCodeList.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditCodeList/EditCodeListReference.tsx
  src/test/K6/src/config.js
Labels: area/process, area/ui-editor, area/app-preview, solution/studio/designer, area/version-control, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, team/studio-core

#13782 feat: Implementing support for full config of subform component
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Properties/EditSubFormTableColumns/ColumnElement/ColumnElement.module.css
  frontend/packages/ux-editor/src/components/Properties/EditSubFormTableColumns/ColumnElement/ColumnElement.test.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubFormTableColumns/ColumnElement/ColumnElement.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubFormTableColumns/ColumnElement/index.ts
  frontend/packages/ux-editor/src/components/Properties/EditSubFormTableColumns/EditSubFormTableColumns.module.css
  frontend/packages/ux-editor/src/components/Properties/EditSubFormTableColumns/EditSubFormTableColumns.test.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubFormTableColumns/EditSubFormTableColumns.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubFormTableColumns/index.ts
  frontend/packages/ux-editor/src/components/Properties/EditSubFormTableColumns/types/TableColumn.ts
  frontend/packages/ux-editor/src/components/Properties/EditSubFormTableColumns/utils/editSubFormTableColumnsUtils.test.ts
  frontend/packages/ux-editor/src/components/Properties/EditSubFormTableColumns/utils/editSubFormTableColumnsUtils.ts
  frontend/packages/ux-editor/src/components/Properties/EditSubFormTableColumns/utils/index.ts
  frontend/packages/ux-editor/src/components/Properties/Text.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Text.tsx
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
  frontend/packages/ux-editor/src/testing/componentMocks.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#13672 fix: 13555 fix latest commit link
  frontend/app-development/enums/GiteaRoutePaths.ts
  frontend/app-development/features/appPublish/containers/ReleaseContainer.test.tsx
  frontend/app-development/features/appPublish/containers/ReleaseContainer.tsx
  frontend/app-development/features/navigateToLatestCommitInGitea/NavigateToLatestCommitInGitea.test.tsx
  frontend/app-development/features/navigateToLatestCommitInGitea/NavigateToLatestCommitInGitea.tsx
  frontend/app-development/features/navigateToLatestCommitInGitea/index.ts
  frontend/app-development/router/PageRoutes.tsx
  frontend/app-development/test/mocks.tsx
  frontend/packages/shared/src/navigation/PackagesRouter/PackagesRouter.ts
Labels: area/app-deploy, solution/studio/designer, frontend

#13819 feat: Add StudioList component
  frontend/libs/studio-components/src/components/StudioList/StudioList.test.tsx
  frontend/libs/studio-components/src/components/StudioList/StudioList.tsx
  frontend/libs/studio-components/src/components/StudioList/StudioListOrdered.stories.tsx
  frontend/libs/studio-components/src/components/StudioList/StudioListRoot.tsx
  frontend/libs/studio-components/src/components/StudioList/StudioListUnordered.stories.tsx
  frontend/libs/studio-components/src/components/StudioList/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#13820 fix(resource-adm): change checkbox labels of "available for"
  frontend/resourceadm/language/src/en.json
  frontend/resourceadm/language/src/nb.json
Labels: solution/studio/designer, area/resource-adm, frontend, skip-manual-testing

#13808 feat: Add help text to code list editor
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.stories.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.test.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditorRow/StudioCodeListEditorRow.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditorRow/utils.test.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditorRow/utils.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/types/CodeListEditorTexts.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/types/CodeListItem.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#13806 feat: Add support for moving focus with the Enter key in the input table
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/BaseInputCell.ts
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellButton.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellCheckbox.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellTextarea.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellTextfield.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/StudioInputTable.test.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/dom-utils/getNextInputElement.test.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/dom-utils/getNextInputElement.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#13812 refactor: Refactor the SchemaModel class with a base class
  frontend/packages/schema-model/src/lib/SchemaModel/SchemaModel.test.ts
  frontend/packages/schema-model/src/lib/SchemaModel/SchemaModel.ts
  frontend/packages/schema-model/src/lib/SchemaModel/SchemaModelBase.test.ts
  frontend/packages/schema-model/src/lib/SchemaModel/SchemaModelBase.ts
  frontend/packages/schema-model/src/lib/SchemaModel/index.ts
Labels: area/data-modeling, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#13814 feat: Add StudioFieldset component
  frontend/libs/studio-components/src/components/StudioFieldset/StudioFieldset.stories.tsx
  frontend/libs/studio-components/src/components/StudioFieldset/StudioFieldset.test.tsx
  frontend/libs/studio-components/src/components/StudioFieldset/StudioFieldset.tsx
  frontend/libs/studio-components/src/components/StudioFieldset/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#13826 fix: Added option to disable cursor/hover in css
  frontend/libs/studio-components/src/components/StudioResizableLayout/StudioResizableLayoutContainer/StudioResizableLayoutContainer.test.tsx
  frontend/libs/studio-components/src/components/StudioResizableLayout/StudioResizableLayoutElement/StudioResizableLayoutElement.tsx
  frontend/libs/studio-components/src/components/StudioResizableLayout/StudioResizableLayoutHandle/StudioResizableLayoutHandle.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain2, skip-documentation

#13824 fix: assign correct terms for org and sub unit in access control
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/AccessControlTab/AccessControlTab.module.css
  frontend/language/src/nb.json
Labels: solution/studio/designer, frontend, team/studio-domain2

#13841 fix: Exclude null props in layout sets response
  backend/src/Designer/Controllers/PreviewController.cs
Labels: kind/bug, area/app-preview, solution/studio/designer, skip-releasenotes, backend, added-to-sprint, team/studio-domain2

#13763 feat: "Upload codelist" functionality in component config
  backend/src/Designer/Controllers/OptionsController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Services/Implementation/OptionsService.cs
  backend/src/Designer/Services/Interfaces/IOptionsService.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnAppGitRepositoryTests.cs
  frontend/language/src/nb.json
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditCodeList/EditCodeList.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditCodeList/EditCodeList.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditCodeList/EditCodeList.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditCodeList/ManualCodelistUploadSteps.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditCodeList/ManualCodelistUploadSteps.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditCodeList/findFileNameError.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditCodeList/findFileNameError.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditOptions.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditOptions.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useAddOptionListMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddOptionListMutation.ts
Labels: area/data-modeling, area/ui-editor, solution/studio/designer, quality/testing, backend, frontend, team/studio-domain1

#13837 feat: Enable description search in Dashboard
  backend/src/Designer/Services/Implementation/GiteaAPIWrapper/GiteaAPIWrapper.cs
Labels: solution/studio/designer, backend, team/studio-core, skip-manual-testing

#13834 feat(subform): texts to inform user invalid subform layout
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Properties/EditSubFormTableColumns/EditSubFormTableColumns.module.css
  frontend/packages/ux-editor/src/components/Properties/EditSubFormTableColumns/EditSubFormTableColumns.test.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubFormTableColumns/EditSubFormTableColumns.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubFormTableColumns/hooks/useSubFormLayoutValidation.test.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubFormTableColumns/hooks/useSubFormLayoutValidation.ts
  frontend/packages/ux-editor/src/components/Properties/Text.test.tsx
  frontend/packages/ux-editor/src/hooks/queries/useFormLayoutsQuery.ts
Labels: area/ui-editor, solution/studio/designer, frontend

#13827 feat: 13614 nextrecommendedaction in config column when adding a subform to select a subform from list
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioRecommendedNextAction/StudioRecommendedNextAction.tsx
  frontend/packages/ux-editor/src/classes/SubFormUtils.ts
  frontend/packages/ux-editor/src/components/Properties/Properties.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/EditLayoutSet.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/SelectLayoutSet/SelectLayoutSet.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/SelectLayoutSet/SelectLayoutSet.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSetForSubform.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.test.tsx
Labels: area/ui-editor, solution/studio/designer, frontend

#13919 chore: Move arrayUtils to @studio/pure-functions
  frontend/libs/studio-pure-functions/src/ArrayUtils/ArrayUtils.test.ts
  frontend/libs/studio-pure-functions/src/ArrayUtils/ArrayUtils.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/EnumList/EnumList.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/EnumList/utils.ts
  frontend/packages/schema-model/src/lib/SchemaModel/SchemaModel.ts
  frontend/packages/schema-model/src/lib/mappers/getPointers.ts
  frontend/packages/schema-model/src/lib/mutations/ui-schema-reducers.ts
  frontend/packages/schema-model/test/validateTestUiSchema.ts
  frontend/packages/shared/src/utils/arrayUtils.test.ts
  frontend/packages/shared/src/utils/arrayUtils.ts
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditAutoComplete.tsx
  frontend/packages/ux-editor-v3/src/hooks/useValidateComponent.ts
  frontend/packages/ux-editor-v3/src/utils/formLayoutUtils.ts
  frontend/packages/ux-editor/src/hooks/useValidateComponent.ts
  frontend/packages/ux-editor/src/utils/formLayoutUtils.ts
Labels: area/data-modeling, area/ui-editor, solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#13918 chore: Move stringUtils to @studio/pure-functions
  frontend/app-development/utils/metadataUtils.ts
  frontend/libs/studio-pure-functions/src/StringUtils/StringUtils.test.ts
  frontend/libs/studio-pure-functions/src/StringUtils/StringUtils.ts
  frontend/packages/schema-model/src/lib/SchemaModel/SchemaModel.ts
  frontend/packages/schema-model/src/lib/mutations/ui-schema-reducers.test.ts
  frontend/packages/shared/src/utils/stringUtils.test.ts
  frontend/packages/shared/src/utils/stringUtils.ts
Labels: area/data-modeling, solution/studio/designer, frontend, team/studio-core

#13913 chore: Delete createApiErrorMocks
  frontend/packages/shared/src/mocks/apiErrorMocks.ts
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#13910 chore: delete useConfirmationDialogOnPageLeave hook
  frontend/packages/shared/src/hooks/useConfirmationDialogOnPageLeave.test.tsx
  frontend/packages/shared/src/hooks/useConfirmationDialogOnPageLeave.ts
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#13909 chore: Delete FileSelector
  frontend/language/src/nb.json
  frontend/packages/shared/src/components/FileSelector.test.tsx
  frontend/packages/shared/src/components/FileSelector.tsx
  frontend/testing/testids.js
Labels: solution/studio/designer, quality/testing, skip-releasenotes, frontend, team/studio-core, skip-manual-testing

#13894 chore: Move Expression.tsx to ux-editor
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigSequenceFlow/ConfigSequenceFlow.tsx
  frontend/packages/shared/src/hooks/useExpressionTexts.ts
  frontend/packages/ux-editor/src/components/config/ExpressionContent/Expression/Expression.tsx
  frontend/packages/ux-editor/src/components/config/ExpressionContent/Expression/index.ts
  frontend/packages/ux-editor/src/components/config/ExpressionContent/ExpressionContent.tsx
Labels: area/process, area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, team/studio-core

#13907 chore: Bump Maven dependency 'spring-boot-starter-parent' 3.3.4 -> 3.3.5
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes

#13840 chore: Remove beta tag from Process and make an entry in news.nb.json
  frontend/app-development/features/overview/components/News/NewsContent/news.nb.json
  frontend/app-development/utils/headerMenu/headerMenuUtils.ts
Labels: solution/studio/designer, kind/chore, area/overview, frontend, skip-manual-testing, skip-documentation

#13568 feat(ui-editor): poc a modal for adding components to form
  frontend/language/src/nb.json
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/containers/DesignView/AddItemModal/AddItemContent.module.css
  frontend/packages/ux-editor/src/containers/DesignView/AddItemModal/AddItemContent.tsx
  frontend/packages/ux-editor/src/containers/DesignView/AddItemModal/AddItemModal.tsx
  frontend/packages/ux-editor/src/containers/DesignView/AddItemModal/ItemCategory/ItemCategory.module.css
  frontend/packages/ux-editor/src/containers/DesignView/AddItemModal/ItemCategory/ItemCategory.tsx
  frontend/packages/ux-editor/src/containers/DesignView/AddItemModal/ItemCategory/index.ts
  frontend/packages/ux-editor/src/containers/DesignView/AddItemModal/ItemInfo/ItemInfo.module.css
  frontend/packages/ux-editor/src/containers/DesignView/AddItemModal/ItemInfo/ItemInfo.tsx
  frontend/packages/ux-editor/src/containers/DesignView/AddItemModal/ItemInfo/index.ts
  frontend/packages/ux-editor/src/containers/DesignView/AddItemModal/README.md
  frontend/packages/ux-editor/src/containers/DesignView/AddItemModal/index.ts
  frontend/packages/ux-editor/src/containers/DesignView/AddItemModal/types.ts
  frontend/packages/ux-editor/src/containers/DesignView/FormLayout.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  frontend/packages/ux-editor/src/data/formItemConfig.ts
  frontend/packages/ux-editor/src/utils/formLayoutUtils.ts
Labels: area/ui-editor, solution/studio/designer, frontend

#13920 feat(workspace): Created reusable ScopedStorage
  frontend/libs/studio-pure-functions/src/ScopedStorage/ScopedStorage.test.ts
  frontend/libs/studio-pure-functions/src/ScopedStorage/ScopedStorage.ts
  frontend/libs/studio-pure-functions/src/ScopedStorage/index.ts
  frontend/libs/studio-pure-functions/src/index.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-core, skip-manual-testing

#13905 chore: Move InputActionWrapper to ux-editor-v3
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditDataModelBindings.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/InputActionWrapper/InputActionWrapper.module.css
  frontend/packages/ux-editor-v3/src/components/config/editModal/InputActionWrapper/InputActionWrapper.test.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/InputActionWrapper/InputActionWrapper.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/InputActionWrapper/index.ts
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#13893 chore: delete AltinnContentIcon
  frontend/packages/shared/src/components/atoms/AltinnContentIcon.tsx
  frontend/packages/shared/src/components/molecules/AltinnContentLoader.tsx
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#13934 fix(process): ensure layoutset is added when adding signing task
  frontend/app-development/features/processEditor/handlers/OnProcessTaskAddHandler.test.ts
  frontend/app-development/features/processEditor/handlers/OnProcessTaskAddHandler.ts
  frontend/packages/process-editor/src/hooks/useBpmnEditor.ts
  frontend/testing/playwright/tests/process-editor/process-editor.spec.ts
Labels: area/process, solution/studio/designer, quality/testing, frontend, skip-manual-testing

#13937 feat(workspace): add hook to scope local and session storage by org and app
  frontend/libs/studio-hooks/package.json
  frontend/libs/studio-hooks/src/hooks/useOrgAppScopedStorage.test.tsx
  frontend/libs/studio-hooks/src/hooks/useOrgAppScopedStorage.ts
  frontend/libs/studio-pure-functions/src/ScopedStorage/ScopedStorage.ts
  frontend/libs/studio-pure-functions/src/ScopedStorage/index.ts
  yarn.lock
Labels: solution/studio/designer, kind/dependencies, frontend, skip-manual-testing

#13811 chore: Add StudioAlert component
  frontend/libs/studio-components/src/components/StudioAlert/StudioAlert.test.tsx
  frontend/libs/studio-components/src/components/StudioAlert/StudioAlert.tsx
  frontend/libs/studio-components/src/components/StudioAlert/index.ts
  frontend/libs/studio-components/src/components/StudioAlert/index.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-core, skip-manual-testing

#13846 chore: updated dashboard links after feedback from servicedesk
  frontend/dashboard/components/Resources/Resources.tsx
  frontend/language/src/en.json
  frontend/language/src/nb.json
Labels: area/dashboard, solution/studio/designer, frontend, team/studio-core

#13898 feat: Add new StudioContentMenu component in studio-components
  frontend/libs/studio-components/src/components/StudioContentMenu/StudioContentMenu.module.css
  frontend/libs/studio-components/src/components/StudioContentMenu/StudioContentMenu.stories.tsx
  frontend/libs/studio-components/src/components/StudioContentMenu/StudioContentMenu.test.tsx
  frontend/libs/studio-components/src/components/StudioContentMenu/StudioContentMenu.tsx
  frontend/libs/studio-components/src/components/StudioContentMenu/StudioContentMenuButtonTab/StudioContentMenuButtonTab.tsx
  frontend/libs/studio-components/src/components/StudioContentMenu/StudioContentMenuButtonTab/index.ts
  frontend/libs/studio-components/src/components/StudioContentMenu/StudioContentMenuLinkTab/StudioContentMenuLinkTab.tsx
  frontend/libs/studio-components/src/components/StudioContentMenu/StudioContentMenuLinkTab/index.ts
  frontend/libs/studio-components/src/components/StudioContentMenu/StudioContentMenuStoryExample.module.css
  frontend/libs/studio-components/src/components/StudioContentMenu/StudioContentMenuStoryExample.tsx
  frontend/libs/studio-components/src/components/StudioContentMenu/StudioMenuTab/StudioMenuTab.module.css
  frontend/libs/studio-components/src/components/StudioContentMenu/StudioMenuTab/StudioMenuTab.tsx
  frontend/libs/studio-components/src/components/StudioContentMenu/StudioMenuTab/index.ts
  frontend/libs/studio-components/src/components/StudioContentMenu/context/StudioContentMenuContext.test.tsx
  frontend/libs/studio-components/src/components/StudioContentMenu/context/StudioContentMenuContext.tsx
  frontend/libs/studio-components/src/components/StudioContentMenu/hooks/useTabProps.module.css
  frontend/libs/studio-components/src/components/StudioContentMenu/hooks/useTabProps.tsx
  frontend/libs/studio-components/src/components/StudioContentMenu/index.ts
  frontend/libs/studio-components/src/components/StudioContentMenu/utils/dom-utils.test.tsx
  frontend/libs/studio-components/src/components/StudioContentMenu/utils/dom-utils.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-core, skip-manual-testing

#13813 feat(subform): Add SubFormMissingContentWarning Component
  .github/workflows/deploy-designer.yaml
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/EditSubformTableColumns.module.css
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/EditSubformTableColumns.test.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/EditSubformTableColumns.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/SubformMissingContentWarning/SubformMissingContentWarning.module.css
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/SubformMissingContentWarning/SubformMissingContentWarning.test.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/SubformMissingContentWarning/SubformMissingContentWarning.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/hooks/useSubformLayoutValidation.test.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/hooks/useSubformLayoutValidation.ts
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/CreateNewSubformLayoutSet/CreateNewSubformLayoutSet.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/CreateNewSubformLayoutSet/CreateNewSubformLayoutSet.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/EditLayoutSet.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSetForSubform.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSetForSubform.tsx
  frontend/packages/ux-editor/src/components/Properties/Text.test.tsx
  frontend/packages/ux-editor/src/hooks/queries/useFormLayoutsQuery.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain2

#13783 fix: Check for circular references
  frontend/language/src/nb.json
  frontend/libs/studio-pure-functions/src/ArrayUtils/ArrayUtils.test.ts
  frontend/libs/studio-pure-functions/src/ArrayUtils/ArrayUtils.ts
  frontend/packages/schema-editor/src/components/SchemaEditor/hooks/useAddReference.test.ts
  frontend/packages/schema-editor/src/components/SchemaEditor/hooks/useAddReference.ts
  frontend/packages/schema-editor/src/components/SchemaEditor/hooks/useMoveProperty.test.ts
  frontend/packages/schema-editor/src/components/SchemaEditor/hooks/useMoveProperty.ts
  frontend/packages/schema-model/src/lib/SchemaModel/CircularReferenceDetector.test.ts
  frontend/packages/schema-model/src/lib/SchemaModel/CircularReferenceDetector.ts
  frontend/packages/schema-model/src/lib/SchemaModel/SchemaModel.ts
Labels: area/data-modeling, solution/studio/designer, frontend

#13912 chore: Move useWebSocket to app-development
  frontend/app-development/components/WebSocketSyncWrapper/WebSocketSyncWrapper.test.tsx
  frontend/app-development/components/WebSocketSyncWrapper/WebSocketSyncWrapper.tsx
  frontend/app-development/hooks/useWebSocket/index.ts
  frontend/app-development/hooks/useWebSocket/useWebSocket.test.ts
  frontend/app-development/hooks/useWebSocket/useWebSocket.ts
  frontend/app-development/layout/PageLayout.test.tsx
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#13915 chore: Move queryOptionMock to process-editor
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CreateCustomReceiptForm/CreateCustomReceiptForm.test.tsx
  frontend/packages/process-editor/test/mocks/queryOptionMock.ts
Labels: area/process, solution/studio/designer, frontend, skip-manual-testing

#13943 feat: Add StudioErrorMessage component
  frontend/libs/studio-components/src/components/StudioErrorMessage/StudioErrorMessage.stories.tsx
  frontend/libs/studio-components/src/components/StudioErrorMessage/StudioErrorMessage.test.tsx
  frontend/libs/studio-components/src/components/StudioErrorMessage/StudioErrorMessage.tsx
  frontend/libs/studio-components/src/components/StudioErrorMessage/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#13954 feat: Add StudioTextResourcePicker component
  frontend/libs/studio-components/src/components/StudioTextResourcePicker/StudioTextResourcePicker.stories.tsx
  frontend/libs/studio-components/src/components/StudioTextResourcePicker/StudioTextResourcePicker.test.tsx
  frontend/libs/studio-components/src/components/StudioTextResourcePicker/StudioTextResourcePicker.tsx
  frontend/libs/studio-components/src/components/StudioTextResourcePicker/index.ts
  frontend/libs/studio-components/src/components/StudioTextResourcePicker/test-data/textResourcesMock.ts
  frontend/libs/studio-components/src/components/StudioTextResourcePicker/types/TextResource.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#13908 chore: Refactor RedirectBox to StudioRedirectBox
  frontend/libs/studio-components/src/components/StudioRedirectBox/StudioRedirectBox.module.css
  frontend/libs/studio-components/src/components/StudioRedirectBox/StudioRedirectBox.stories.tsx
  frontend/libs/studio-components/src/components/StudioRedirectBox/StudioRedirectBox.test.tsx
  frontend/libs/studio-components/src/components/StudioRedirectBox/StudioRedirectBox.tsx
  frontend/libs/studio-components/src/components/StudioRedirectBox/index.ts
  frontend/libs/studio-components/src/components/index.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditPolicy/EditPolicy.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/RedirectToCreatePageButton/RedirectToCreatePageButton.tsx
  frontend/packages/shared/src/components/RedirectBox/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/RedirectToLayoutSet/RedirectToLayoutSet.tsx
Labels: area/process, area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-core

#13952 fix: Adjust css so focus container for helpText in accessControl in SettingsModal fits content
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/AccessControlTab/AccessControlTab.module.css
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/AccessControlTab/AccessControlTab.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain2
