Repository Altinn/altinn-studio, pull requests merged in 2024-01, with the labels that each got.

#11911 11842 adapt info panels for apps statuses if repo belongs to a person and not org
  frontend/app-development/features/overview/components/Overview.test.tsx
  frontend/app-development/features/overview/components/Overview.tsx
  frontend/app-development/features/overview/components/RepoOwnedByPersonInfo.module.css
  frontend/app-development/features/overview/components/RepoOwnedByPersonInfo.test.tsx
  frontend/app-development/features/overview/components/RepoOwnedByPersonInfo.tsx
  frontend/app-development/layout/PageHeader.tsx
  frontend/app-development/layout/PageLayout.test.tsx
  frontend/app-development/layout/PageLayout.tsx
  frontend/app-development/test/repositoryMock.ts
  frontend/app-development/test/userMock.ts
  frontend/language/src/nb.json
  frontend/packages/shared/src/components/AltinnHeaderProfile/hooks/useUserNameAndOrg.ts
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.test.tsx
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.tsx
  frontend/testing/cypress/src/integration/studio/overview.js
  frontend/testing/cypress/src/integration/studio/wcag.js
  frontend/testing/cypress/src/support/index.d.ts
Labels: solution/studio/designer, quality/testing

#11921 Add initial page to app from create service in backend
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/tests/Designer.Tests/Services/RepositorySITests.cs
  frontend/testing/cypress/src/integration/studio/designer.js
  frontend/testing/cypress/src/selectors/designer.js
Labels: solution/studio/designer, quality/testing

#11932 Update the design system
  frontend/app-development/features/appPublish/components/deploy/DeployDropdown.tsx
  frontend/app-preview/src/components/AppBarConfig/AppPreviewBarConfig.tsx
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ExpandablePolicyCard.tsx
  frontend/packages/policy-editor/src/components/SecurityLevelSelect/SecurityLevelSelect.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTab.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/StringRestrictions/StringRestrictions.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ReferenceSelectionComponent.tsx
  frontend/packages/text-editor/src/LangSelector.tsx
  frontend/packages/ux-editor/src/components/TextResource.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/ExpressionContent/ExpressionEditMode/SimpleExpression/DataSourceValue.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/ExpressionContent/ExpressionEditMode/SimpleExpression/SubExpressionContent.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/NewExpressionButton.tsx
  frontend/packages/ux-editor/src/components/config/SelectDataModelComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Image/ImageComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Panel/PanelComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditHeaderSize.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditStringValue.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBindings.tsx
  frontend/packages/ux-editor/src/utils/expressionsUtils.ts
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.tsx
  frontend/resourceadm/components/ImportResourceModal/ServiceContent/ServiceContent.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceDropdown.tsx
  frontend/resourceadm/pages/MigrationPage/MigrationPage.tsx
  frontend/testing/setupTests.ts
  package.json
  yarn.lock
Labels: area/data-modeling, area/ui-editor, area/app-deploy, solution/studio/designer, quality/testing, area/text-editor, added-to-sprint

#11934 Add random single digit to end of generated password for .env file used for setup
  development/utils/ensure-dot-env.js
Labels: skip-releasenotes

#11914 Only show switch to edit old dynamics if app has rulehandler
  frontend/language/src/nb.json
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/components/Properties/Dynamics.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Dynamics.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.tsx
  frontend/packages/ux-editor/src/hooks/queries/useRuleModelQuery.test.ts
  frontend/packages/ux-editor/src/hooks/queries/useRuleModelQuery.ts
Labels: area/ui-editor, solution/studio/designer

#11922 11476 new added component should be marked as selected
  frontend/packages/shared/src/components/TreeView/utils/treeViewItemUtils.ts
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormTree.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  frontend/testing/cypress/src/integration/studio/designer.js
  frontend/testing/cypress/src/support/studio.js
Labels: area/ui-editor, solution/studio/designer, quality/testing

#11940 Cypress improvements
  frontend/app-development/features/overview/components/Overview.tsx
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.tsx
  frontend/packages/text-editor/src/RightMenu.tsx
  frontend/testing/cypress/src/integration/studio/datamodel.js
  frontend/testing/cypress/src/integration/studio/designer.js
  frontend/testing/cypress/src/integration/studio/overview.js
  frontend/testing/cypress/src/integration/studio/wcag.js
  frontend/testing/cypress/src/selectors/header.js
  frontend/testing/cypress/src/support/index.d.ts
  frontend/testing/cypress/src/support/studio.js
Labels: solution/studio/designer, quality/testing, area/text-editor

#11936 Only save to backend when edited app name is valid
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/InputFields/InputField/InputField.module.css
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/InputFields/InputField/InputField.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/InputFields/InputField/InputField.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/InputFields/InputField/index.ts
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/InputFields/InputFields.module.css
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/InputFields/InputFields.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/InputFields/InputFields.tsx
Labels: solution/studio/designer

#11927 refactor url params to move repo string into helper hook
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.tsx
  frontend/resourceadm/components/NewResourceModal/NewResourceModal.tsx
  frontend/resourceadm/hooks/useSelectedContext/index.ts
  frontend/resourceadm/hooks/useSelectedContext/useSelectedContext.ts
  frontend/resourceadm/hooks/useSelectedContext/useUrlParams.ts
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.tsx
  frontend/resourceadm/pages/MigrationPage/MigrationPage.tsx
  frontend/resourceadm/pages/PageLayout/PageLayout.tsx
  frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.tsx
  frontend/resourceadm/pages/RedirectPage/RedirectPage.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
Labels: solution/studio/designer

#11928 refactor resourceadm css
  frontend/resourceadm/components/ErrorMessage/errorMessage.module.css
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.module.css
  frontend/resourceadm/components/ImportResourceModal/ServiceContent/ResourceContent/ResourceContent.module.css
  frontend/resourceadm/components/ImportResourceModal/ServiceContent/ServiceContent.module.css
  frontend/resourceadm/components/MergeConflictModal/MergeConflictModal.module.css
  frontend/resourceadm/components/MergeConflictModal/RemoveChangesModal/RemoveChangesModal.module.css
  frontend/resourceadm/components/MigrationStep/MigrationStep.module.css
  frontend/resourceadm/components/Modal/Modal.module.css
  frontend/resourceadm/components/NavigationModal/NavigationModal.module.css
  frontend/resourceadm/components/NavigationModal/NavigationModal.tsx
  frontend/resourceadm/components/NewResourceModal/NewResourceModal.module.css
  frontend/resourceadm/components/NewResourceModal/NewResourceModal.tsx
  frontend/resourceadm/components/ResourceContactPointFields/ResourceContactPointFields.module.css
  frontend/resourceadm/components/ResourceDeployEnvCard/ResourceDeployEnvCard.module.css
  frontend/resourceadm/components/ResourceDeployEnvCard/ResourceDeployEnvCard.tsx
  frontend/resourceadm/components/ResourceDeployStatus/ResourceDeployStatus.module.css
  frontend/resourceadm/components/ResourcePageInputs/ResourcePageInputs.module.css
  frontend/resourceadm/components/ResourceSeachBox/ResourceSeachBox.module.css
  frontend/resourceadm/components/RightTranslationBar/RightTranslationBar.module.css
  frontend/resourceadm/components/RightTranslationBar/RightTranslationBar.tsx
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.module.css
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.module.css
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.tsx
  frontend/resourceadm/pages/ErrorPage/ErrorPage.module.css
  frontend/resourceadm/pages/MigrationPage/MigrationPage.module.css
  frontend/resourceadm/pages/PageLayout/PageLayout.module.css
  frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.module.css
  frontend/resourceadm/pages/RedirectPage/RedirectPage.module.css
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.module.css
Labels: solution/studio/designer

#11942 resourceadm: replace <LegacySelect> with new Combobox component from design system
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.test.tsx
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.tsx
  frontend/resourceadm/components/ImportResourceModal/ServiceContent/ServiceContent.test.tsx
  frontend/resourceadm/components/ImportResourceModal/ServiceContent/ServiceContent.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceCheckboxGroup.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceRadioGroup.tsx
  frontend/resourceadm/components/ResourcePageInputs/index.ts
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.test.tsx
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  frontend/resourceadm/pages/MigrationPage/MigrationPage.tsx
Labels: solution/studio/designer

#11947 Fix invisible dropdown in the app designer
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.tsx
Labels: area/ui-editor, solution/studio/designer, added-to-sprint

#11946 Update spring-boot-starter-parent
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform, skip-releasenotes

#11851 11736 implement component for grid property setting
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioGridSelector/StudioGridSelector.module.css
  frontend/libs/studio-components/src/components/StudioGridSelector/StudioGridSelector.test.tsx
  frontend/libs/studio-components/src/components/StudioGridSelector/StudioGridSelector.tsx
  frontend/libs/studio-components/src/components/StudioGridSelector/index.ts
  frontend/libs/studio-components/src/components/StudioGridSelector/types/GridSize.ts
  frontend/libs/studio-components/src/components/index.ts
  frontend/packages/ux-editor/src/components/config/EditFormComponent.tsx
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.test.tsx
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditGrid/EditGrid.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditGrid/EditGrid.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditGrid/EditGrid.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditGrid/EditGridForGivenViewSize.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditGrid/EditGridForGivenViewSize.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditGrid/EditGridForGivenViewSize.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditGrid/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditGrid/types/GridSizes.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditGrid/types/ViewSize.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditGrid/utils.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditGrid/utils.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditHeaderSize.test.tsx
  frontend/packages/ux-editor/src/utils/language.test.ts
  frontend/packages/ux-editor/src/utils/language.ts
Labels: area/ui-editor, solution/studio/designer

#11950 Add $ as prefix for settings and initial layout
  backend/src/Designer/Services/Implementation/RepositorySI.cs
Labels: solution/studio/designer

#11951 Bugfix/display selected codelist in dropdown on refresh
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList.tsx
Labels: kind/bug, area/ui-editor, solution/studio/designer

#11953 added datalists endpoint
  backend/src/Designer/Controllers/PreviewController.cs
Labels: solution/studio/designer

#11949 Fix(DesignView): Ensure Display of Pages with Unknown Components
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/EditFormComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/EditFormComponent.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormItem/FormItem.tsx
  frontend/packages/ux-editor/src/converters/simpleComponentConverters/externalSimpleComponentToInternal.test.ts
  frontend/packages/ux-editor/src/converters/simpleComponentConverters/externalSimpleComponentToInternal.ts
Labels: kind/bug, area/ui-editor, solution/studio/designer, added-to-sprint

#11959 Add key to editGrid component
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
Labels: area/ui-editor, solution/studio/designer

#11929 11533 fix subject and actions list issue for policy editor in resourceadm
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/PolicyTab/PolicyTab.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/utils/tabUtils/policyTabUtils/index.ts
  frontend/app-development/layout/SettingsModalButton/SettingsModal/utils/tabUtils/policyTabUtils/policyTabUtils.test.ts
  frontend/app-development/layout/SettingsModalButton/SettingsModal/utils/tabUtils/policyTabUtils/policyTabUtils.ts
  frontend/packages/policy-editor/src/index.ts
  frontend/packages/policy-editor/src/utils/PolicyEditorUtils.test.ts
  frontend/packages/policy-editor/src/utils/index.ts
  frontend/packages/ux-editor/src/utils/language.test.ts
  frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.test.tsx
  frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.tsx
Labels: area/ui-editor, solution/studio/designer

#11957 small text updates
  frontend/language/src/nb.json
  frontend/packages/process-editor/src/components/Canvas/VersionHelpText/VersionHelpText.tsx
Labels: area/process, solution/studio/designer

#11972 Use string inbuilt methods instead of regex to see if substring matches start of string before replacement
  frontend/packages/schema-model/src/lib/SchemaModel.test.ts
  frontend/packages/shared/src/utils/stringUtils.ts
Labels: area/data-modeling, solution/studio/designer

#11933 resourceadm: change available fields for resource type "MaskinportenSchema"
  frontend/language/src/nb.json
  frontend/packages/shared/src/types/ResourceAdm.ts
  frontend/resourceadm/components/FieldsetWrapper/FieldsetWrapper.module.css
  frontend/resourceadm/components/FieldsetWrapper/FieldsetWrapper.tsx
  frontend/resourceadm/components/FieldsetWrapper/index.ts
  frontend/resourceadm/components/ResourceContactPointFields/ResourceContactPointFields.test.tsx
  frontend/resourceadm/components/ResourceContactPointFields/ResourceContactPointFields.tsx
  frontend/resourceadm/components/ResourceContactPointFields/ResourceContactPointFieldset.tsx
  frontend/resourceadm/components/ResourceContactPointFields/ResourceContactPointTextField.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceCheckboxGroup.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceLanguageTextArea.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceLanguageTextField.tsx
  frontend/resourceadm/components/ResourcePageInputs/index.ts
  frontend/resourceadm/components/ResourceReferenceFields/ResourceReferenceFields.test.tsx
  frontend/resourceadm/components/ResourceReferenceFields/ResourceReferenceFields.tsx
  frontend/resourceadm/components/ResourceReferenceFields/ResourceReferenceFieldset.tsx
  frontend/resourceadm/components/ResourceReferenceFields/index.ts
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.test.tsx
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.test.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
Labels: solution/studio/designer

#11546 Changed to use resource registry endpoint instead of bridge
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Designer.csproj
  backend/src/Designer/Enums/ReferenceType.cs
  backend/src/Designer/Exceptions/HttpStatusException.cs
  backend/src/Designer/Services/Implementation/ResourceRegistryService.cs
  backend/src/Designer/Services/Interfaces/IResourceRegistry.cs
Labels: solution/studio/designer

#11948 Fix command chain errors in Cypress
  frontend/testing/cypress/src/integration/studio/datamodel.js
Labels: solution/studio/designer, quality/testing

#11971 update process version help text
  frontend/language/src/nb.json
Labels: solution/studio/designer

#11974 Fix/Studio spinner makes surroundings overflow
  frontend/app-development/features/overview/components/Overview.tsx
  frontend/libs/studio-components/src/components/StudioSpinner/StudioSpinner.module.css
  frontend/libs/studio-components/src/components/StudioSpinner/StudioSpinner.tsx
Labels: kind/bug, solution/studio/designer

#11984 chore: gitea update
  backend/src/Designer/Services/Implementation/GiteaAPIWrapper/GiteaAPIWrapper.cs
  frontend/testing/cypress/src/selectors/gitea.js
  gitea/Dockerfile
  gitea/files/templates/base/head_navbar.tmpl
  gitea/files/templates/home.tmpl
Labels: solution/studio/designer, solution/studio/repos, quality/testing

#11977 Fix node deletion error
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SchemaEditorWithToolbar.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SelectedSchemaEditor.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SelectedSchemaEditor.tsx
  frontend/packages/schema-editor/package.json
  frontend/packages/schema-editor/src/SchemaEditorApp.test.tsx
  frontend/packages/schema-editor/src/SchemaEditorApp.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor/SchemaEditor.test.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor/SchemaEditor.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/CustomProperties.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/CustomProperties.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldsTableRow.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/SchemaInspector.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/SchemaInspector.tsx
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/ActionButtons/ActionButtons.tsx
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/ReferenceButton.tsx
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/SchemaNode.test.tsx
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaTree.tsx
  frontend/packages/schema-editor/src/components/TypesInspector/TypeItem.tsx
  frontend/packages/schema-editor/src/components/TypesInspector/TypesInspector.tsx
  frontend/packages/schema-editor/src/components/layout/ModelsPanel.tsx
  frontend/packages/schema-editor/src/components/layout/TypesPanel.test.tsx
  frontend/packages/schema-editor/src/components/layout/TypesPanel.tsx
  frontend/packages/schema-editor/src/contexts/SchemaEditorAppContext.ts
  frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.test.ts
  frontend/packages/schema-editor/src/features/editor/schemaEditorSlice.ts
  frontend/packages/schema-editor/src/hooks/useSchemaAndReduxSelector.test.ts
  frontend/packages/schema-editor/src/hooks/useSchemaAndReduxSelector.ts
  frontend/packages/schema-editor/src/hooks/useSchemaEditorAppContext.test.tsx
  frontend/packages/schema-editor/src/selectors/reduxSelectors.ts
  frontend/packages/schema-editor/src/selectors/schemaAndReduxSelectors.ts
  frontend/packages/schema-editor/src/store.ts
  frontend/packages/schema-editor/src/types/SchemaState.ts
  frontend/packages/schema-editor/src/types/index.ts
  frontend/packages/schema-editor/test/mocks/jsonSchemaMock.ts
  frontend/packages/schema-editor/test/renderHookWithProviders.tsx
  frontend/packages/schema-editor/test/renderWithProviders.tsx
  frontend/packages/shared/src/constants.js
  frontend/packages/shared/src/hooks/useOnUnmount.test.tsx
  frontend/packages/shared/src/hooks/useOnUnmount.ts
  frontend/packages/ux-editor/src/containers/FormContext.test.tsx
  frontend/packages/ux-editor/src/containers/FormContext.tsx
  yarn.lock
Labels: area/data-modeling, area/ui-editor, solution/studio/designer, kind/dependencies

#11941 Setup caching for k8s wrapper
  backend/src/Designer/AssemblyInfo.cs
  backend/src/Designer/TypedHttpClients/DelegatingHandlers/CachingDelegatingHandler.cs
  backend/src/Designer/TypedHttpClients/KubernetesWrapper/KubernetesWrapperClient.cs
  backend/src/Designer/TypedHttpClients/TypedHttpClientRegistration.cs
  backend/tests/Designer.Tests/TypedHttpClients/DelegatingHandlers/CachingDelegatingHandlerTests.cs
Labels: solution/studio/designer, quality/testing

#11985 Add selected layoutset to dynamics link if it exists
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Properties/OldDynamicsInfo.test.tsx
  frontend/packages/ux-editor/src/components/Properties/OldDynamicsInfo.tsx
Labels: area/ui-editor, solution/studio/designer

#11986 Removing unnecessary cast to lowercase for subjects
  frontend/app-development/hooks/queries/useAppPolicyQuery.ts
  frontend/packages/policy-editor/src/utils/index.ts
Labels: solution/studio/designer

#11990 Fix/Enable Saving to Backend When EditNumberValue is Empty + adjust gap styling
  frontend/packages/ux-editor/src/components/TextResource.module.css
  frontend/packages/ux-editor/src/components/config/EditFormComponent.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditNumberValue.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditNumberValue.tsx
  frontend/packages/ux-editor/src/testing/schemas/json/component/RadioButtons.schema.v1.json
Labels: kind/bug, area/ui-editor, solution/studio/designer

#11998 Fix fields tab for combinations
  frontend/packages/schema-editor/src/components/SchemaInspector/SchemaInspector.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/SchemaInspector.tsx
Labels: area/data-modeling, solution/studio/designer

#11996 Scroll selected language to center
  frontend/app-development/features/textEditor/TextEditor.test.tsx
  frontend/packages/text-editor/src/TextEditor.test.tsx
  frontend/packages/text-editor/src/TextEditor.tsx
  frontend/packages/text-editor/src/TextList.tsx
Labels: solution/studio/designer, area/text-editor

#12004 Fix bug where it is possible to add two pages when double clicking add new
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.tsx
Labels: area/ui-editor, solution/studio/designer

#12005 Update error message on create new app page
  frontend/language/src/nb.json
Labels: solution/studio/designer

#12006 Fixing the EditDataModelBindings tests
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.test.tsx
Labels: area/ui-editor, solution/studio/designer

#12003 Bug fix/11419 reload on change id in text resource
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SelectedSchemaEditor.test.tsx
  frontend/app-development/features/textEditor/TextEditor.test.tsx
  frontend/app-development/features/textEditor/TextEditor.tsx
Labels: area/data-modeling, solution/studio/designer, area/text-editor

#12008 set loading to true while fetching push status
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/VersionControlButtons.tsx
Labels: kind/bug, solution/studio/designer, area/header

#12012 Added rquiered message to appName field
  frontend/packages/text-editor/src/TextEntry.test.tsx
  frontend/packages/text-editor/src/TextEntry.tsx
  frontend/packages/text-editor/src/TextRow.module.css
  frontend/packages/text-editor/src/TextRow.test.tsx
Labels: solution/studio/designer, area/text-editor

#11836 feat(playwright): setup and config
  .gitignore
  frontend/jest.config.js
  frontend/testing/.eslintignore
  frontend/testing/playwright/README.md
  frontend/testing/playwright/extenders/testExtend.ts
  frontend/testing/playwright/helpers/BasePage.ts
  frontend/testing/playwright/helpers/Gitea.ts
  frontend/testing/playwright/helpers/RouterRoute.ts
  frontend/testing/playwright/helpers/StudioEnvironment.ts
  frontend/testing/playwright/package.json
  frontend/testing/playwright/pages/CreateServicePage.ts
  frontend/testing/playwright/pages/DashboardPage.ts
  frontend/testing/playwright/pages/LoginPage.ts
  frontend/testing/playwright/playwright.config.ts
  frontend/testing/playwright/scripts/setup.ts
  frontend/testing/playwright/tests/auth.setup.ts
  frontend/testing/playwright/tests/create-app-only/create-app-only.spec.ts
  frontend/testing/playwright/tests/create-app-only/create-app-only.teardown.ts
  frontend/testing/playwright/tsconfig.json
  package.json
  yarn.lock
Labels: solution/studio/designer, quality/testing, skip-releasenotes, kind/dependencies

#11981 Remove feature flag for process editor
  frontend/app-development/layout/AppBar/appBarConfig.test.ts
  frontend/app-development/layout/AppBar/appBarConfig.ts
  frontend/packages/shared/src/utils/featureToggleUtils.test.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/testing/cypress/src/integration/studio/overview.js
Labels: solution/studio/designer, quality/testing

#11973 Bug/11939 legg til button for a type does not work for a new type
  frontend/packages/schema-editor/src/components/TypesInspector/TypeItem.tsx
  frontend/packages/schema-model/src/lib/SchemaModel.ts
Labels: area/data-modeling, solution/studio/designer

#12036 Temp exclude k8s wrapper caching
  backend/src/Designer/TypedHttpClients/TypedHttpClientRegistration.cs
Labels: solution/studio/designer

#11912 11817 fix overview and settings of datamodels repos
  frontend/app-development/layout/AppBar/appBarConfig.test.ts
  frontend/app-development/layout/AppBar/appBarConfig.ts
  frontend/app-development/layout/PageHeader.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/SettingsModal.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/SettingsModal.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/TabContent/TabContent.module.css
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/LocalChangesTab/LocalChangesTab.module.css
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/LocalChangesTab/LocalChangesTab.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/LocalChangesTab/index.ts
  frontend/app-development/types/SettingsModalTab.ts
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioModal/StudioModal.module.css
  frontend/libs/studio-components/src/components/StudioModal/StudioModal.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/DeleteModal/DeleteModal.module.css
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/DeleteModal/DeleteModal.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/DeleteModal/DeleteModal.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/DeleteModal/index.ts
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChanges/LocalChanges.module.css
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChanges/LocalChanges.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChanges/LocalChanges.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChanges/index.ts
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChangesActionButton/LocalChangesActionButton.module.css
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChangesActionButton/LocalChangesActionButton.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChangesActionButton/LocalChangesActionButton.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChangesActionButton/index.ts
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChangesModal.module.css
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChangesModal.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChangesModal.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/ThreeDotsMenu.module.css
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/ThreeDotsMenu.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/ThreeDotsMenu.tsx
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.test.tsx
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.tsx
  frontend/packages/shared/src/icons/GiteaIcon.tsx
  frontend/resourceadm/components/MergeConflictModal/RemoveChangesModal/RemoveChangesModal.tsx
  frontend/testing/cypress/src/integration/studio/header.js
  frontend/testing/cypress/src/integration/studio/settingsModal.js
  frontend/testing/cypress/src/selectors/localChanges.js
  frontend/testing/cypress/src/selectors/localChangesTab.js
Labels: area/data-modeling, solution/studio/designer, quality/testing

#12011 Removing error when name is valid
  frontend/dashboard/components/RepoNameInput/RepoNameInput.tsx
  frontend/dashboard/pages/CreateService/CreateService.test.tsx
  frontend/dashboard/pages/CreateService/CreateService.tsx
Labels: area/dashboard, solution/studio/designer

#12013 Place newly added texts at the beginning of list of text resources
  backend/src/Designer/Services/Implementation/TextsService.cs
  backend/tests/Designer.Tests/Controllers/TextController/UpdateTextsForKeysTests.cs
  frontend/language/src/nb.json
  frontend/packages/shared/src/utils/textResourceUtils.test.ts
  frontend/packages/shared/src/utils/textResourceUtils.ts
  frontend/packages/text-editor/src/TextEditor.module.css
  frontend/packages/text-editor/src/TextEditor.test.tsx
  frontend/packages/text-editor/src/TextEditor.tsx
  frontend/packages/text-editor/src/utils.test.ts
  frontend/packages/text-editor/src/utils.ts
Labels: solution/studio/designer, quality/testing, area/text-editor

#12049 Fix link to CONTRIBUTING.md
  backend/src/Designer/Views/Home/StartPage.cshtml
Labels: kind/bug, solution/studio/designer, added-to-sprint

#12053 Add check for JsonArray when iterating textResourceBindings
  backend/src/Designer/Services/Implementation/TextsService.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layoutSet1/layouts/layoutFile1InSet1.json
Labels: solution/studio/designer, quality/testing

#12058 Remove unnecessary cy.wait
  frontend/testing/cypress/src/integration/studio/dashboard.js
  frontend/testing/cypress/src/integration/studio/wcag.js
Labels: solution/studio/designer, quality/testing, added-to-sprint

#12057 Remove unnecessary dependencies
  frontend/libs/studio-components/package.json
  frontend/packages/shared/src/navigation/main-header/ProfileMenu/__snapshots__/ProfileMenu.test.tsx.snap
  yarn.lock
Labels: solution/studio/designer, quality/debt, kind/dependencies, added-to-sprint

#11980 Fix repo pagination
  frontend/app-development/features/simpleMerge/ResetRepoModal.tsx
  frontend/app-development/features/textEditor/TextEditor.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModalButton.tsx
  frontend/dashboard/components/DataModelsRepoList/DatamodelsRepoList.tsx
  frontend/dashboard/components/FavoriteReposList/FavoriteReposList.tsx
  frontend/dashboard/components/RepoList/RepoList.test.tsx
  frontend/dashboard/components/RepoList/RepoList.tsx
  frontend/dashboard/data-mocks/searchRepositoryResponseMock.ts
  frontend/dashboard/hooks/useReposSearch/useRepoSearch.ts
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.test.tsx
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ResourceNarrowingList/PolicyResourceFields/PolicyResourceFields.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor/SchemaEditor.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldsTableRow.tsx
  frontend/packages/schema-editor/src/components/TypesInspector/TypeItem.tsx
  frontend/packages/schema-editor/src/components/TypesInspector/TypesInspector.tsx
  frontend/packages/shared/src/components/molecules/AltinnPopoverSimple.tsx
  frontend/packages/text-editor/src/LangSelector.test.tsx
  frontend/packages/text-editor/src/LangSelector.tsx
  frontend/packages/text-editor/src/RightMenu.tsx
  frontend/packages/text-editor/src/TextEditor.tsx
  frontend/packages/text-editor/src/TextList.tsx
  frontend/packages/text-editor/src/TextRow.tsx
  frontend/packages/text-editor/src/utils.ts
  frontend/packages/ux-editor/src/components/TextResource.tsx
  frontend/packages/ux-editor/src/components/TextResourceEdit.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/InputPopover/InputPopover.tsx
  frontend/resourceadm/components/ResourceNameAndId/ResourceNameAndId.tsx
  frontend/testing/playwright/README.md
  frontend/testing/playwright/pages/CreateServicePage.ts
  frontend/testing/playwright/playwright.config.ts
Labels: area/data-modeling, area/ui-editor, area/dashboard, solution/studio/designer, quality/testing, area/text-editor

#12062 Return custom error message when reading xml fails and show it in frontend
  backend/src/DataModeling/Converter/Xml/InvalidXmlException.cs
  backend/src/Designer/Filters/DataModeling/DataModelingErrorCodes.cs
  backend/src/Designer/Filters/DataModeling/DataModelingExceptionFilterAttribute.cs
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SelectedSchemaEditor.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SelectedSchemaEditor.tsx
  frontend/app-development/hooks/queries/useSchemaQuery.ts
  frontend/language/src/nb.json
  frontend/packages/shared/src/contexts/ServicesContext.test.tsx
Labels: area/data-modeling, solution/studio/designer, added-to-sprint

#12068 rename docker-compose.yml
  .github/workflows/run-cypress-on-pr.yaml
  README.md
  compose.yml
  development/README.md
  development/azure-devops-mock/README.md
  gitea/README.md
  testdata/AppTemplates/AspNet/.dockerignore
Labels: solution/studio/repos, quality/testing, skip-releasenotes

#12060 Fix(UIDesigner): Enable Deletion of Unrecognized Component References
  frontend/language/src/nb.json
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormItem/FormItem.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormTree.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/UnknownReferencedItem/UnknownReferencedItem.module.css
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/UnknownReferencedItem/UnknownReferencedItem.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/UnknownReferencedItem/UnknownReferencedItem.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/UnknownReferencedItem/index.ts
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/UnknownReferencedItem/useDeleteUnknownComponentReference.ts
  frontend/packages/ux-editor/src/converters/formLayoutConverters/internalLayoutToExternal.test.ts
  frontend/packages/ux-editor/src/converters/formLayoutConverters/internalLayoutToExternal.ts
  frontend/packages/ux-editor/src/converters/groupComponentConverters/externalGroupComponentToInternal.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormContainerMutation.ts
Labels: area/ui-editor, solution/studio/designer

#12039 fix(Dynamics, Calculations): should not be possible to configure on unknown components
  frontend/packages/ux-editor/src/components/Properties/Calculations.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Calculations.tsx
  frontend/packages/ux-editor/src/components/Properties/Dynamics.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Dynamics.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.tsx
  frontend/packages/ux-editor/src/components/UnknownComponentAlert/UnknownComponentAlert.test.tsx
  frontend/packages/ux-editor/src/components/UnknownComponentAlert/UnknownComponentAlert.tsx
  frontend/packages/ux-editor/src/components/UnknownComponentAlert/index.ts
  frontend/packages/ux-editor/src/components/config/EditFormComponent.tsx
Labels: area/ui-editor, solution/studio/designer

#12072 removed storage related k6 tests and pipelines
  src/test/K6/src/tests/platform/appowner/completeconfirmation.js
  src/test/K6/src/tests/platform/storage/applications.js
  src/test/K6/src/tests/platform/storage/data.js
  src/test/K6/src/tests/platform/storage/events.js
  src/test/K6/src/tests/platform/storage/instances.js
  src/test/K6/src/tests/platform/storage/messageboxinstances.js
  src/test/K6/src/tests/platform/storage/process.js
  src/test/K6/src/tests/platform/storage/rf0002.js
  src/test/K6/src/tests/platform/storage/sblloadinstances.js
  src/test/K6/src/tests/platform/storage/sblloadinstances_v1.js
  src/test/K6/src/tests/platform/storage/texts.js
  src/test/K6/use-cases-prod.yaml
  src/test/K6/use-cases.yaml
Labels: area/test, skip-releasenotes

#12073 resourceadm: allow users to specify identifier when importing a resource
  frontend/language/src/nb.json
  frontend/packages/shared/src/api/mutations.ts
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.module.css
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.test.tsx
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.tsx
  frontend/resourceadm/components/ImportResourceModal/ServiceContent/ResourceContent/ResourceContent.module.css
  frontend/resourceadm/components/ImportResourceModal/ServiceContent/ResourceContent/ResourceContent.test.tsx
  frontend/resourceadm/components/ImportResourceModal/ServiceContent/ResourceContent/ResourceContent.tsx
  frontend/resourceadm/components/ImportResourceModal/ServiceContent/ResourceContent/index.ts
  frontend/resourceadm/components/ImportResourceModal/ServiceContent/ServiceContent.test.tsx
  frontend/resourceadm/components/ImportResourceModal/ServiceContent/ServiceContent.tsx
  frontend/resourceadm/components/ResourceNameAndId/ResourceNameAndId.tsx
  frontend/resourceadm/hooks/mutations/useImportResourceFromAltinn2Mutation.ts
  frontend/resourceadm/utils/stringUtils/index.ts
  frontend/resourceadm/utils/stringUtils/stringUtils.test.ts
  frontend/resourceadm/utils/stringUtils/stringUtils.ts
Labels: solution/studio/designer

#12059 Moving datamodel e-2-e tests from Cypress to Playwright
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SelectedSchemaEditor.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SelectedSchemaEditor.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/CreateNewWrapper.tsx
  frontend/app-development/hooks/queries/useSchemaQuery.ts
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/contexts/ServicesContext.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Dynamics.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Dynamics.tsx
  frontend/packages/ux-editor/src/components/UnknownComponentAlert/UnknownComponentAlert.test.tsx
  frontend/packages/ux-editor/src/components/config/EditFormComponent.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormTree.test.tsx
  frontend/packages/ux-editor/src/converters/formLayoutConverters/internalLayoutToExternal.test.ts
  frontend/packages/ux-editor/src/converters/formLayoutConverters/internalLayoutToExternal.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormContainerMutation.ts
  frontend/testing/cypress/src/integration/studio/datamodel.js
  frontend/testing/cypress/src/selectors/datamodel.js
  frontend/testing/playwright/enum/AppNames.ts
  frontend/testing/playwright/helpers/BasePage.ts
  frontend/testing/playwright/helpers/DesignerApi.ts
  frontend/testing/playwright/helpers/RouterRoute.ts
  frontend/testing/playwright/pages/DataModelPage.ts
  frontend/testing/playwright/pages/testdatamodel.xsd
  frontend/testing/playwright/playwright.config.ts
  frontend/testing/playwright/tests/data-model/data-model.spec.ts
  frontend/testing/playwright/tests/data-model/data-model.teardown.ts
  frontend/testing/playwright/types/StorageState.ts
Labels: area/data-modeling, area/ui-editor, solution/studio/designer, quality/testing

#12069 Adding playwright tests to pipeline
  .github/workflows/playwright.yml
  .github/workflows/run-playwright-on-pr.yaml
  frontend/app-development/layout/SettingsModalButton/SettingsModal/SettingsModal.tsx
Labels: solution/studio/designer, skip-releasenotes

#12079 Fixing sticky nav bar in Settings modal not working
  frontend/app-development/layout/SettingsModalButton/SettingsModal/SettingsModal.module.css
  frontend/app-development/layout/SettingsModalButton/SettingsModal/SettingsModal.tsx
  frontend/libs/studio-components/src/components/StudioModal/StudioModal.module.css
Labels: solution/studio/designer

#12081 trying to fix playwright pipeline
  .github/workflows/playwright.yml
  .github/workflows/run-playwright-on-pr.yaml
  frontend/packages/ux-editor/src/components/config/Expressions/NewExpressionButton.tsx
  frontend/testing/playwright/pages/LoginPage.ts
Labels: area/ui-editor, solution/studio/designer, quality/testing, skip-releasenotes

#12085 Add create directory call
  backend/src/Designer/Controllers/RepositoryController.cs
Labels: solution/studio/designer

#12048 Adding spinner to local changes modal
  frontend/language/src/nb.json
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/DeleteModal/DeleteModal.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/DeleteModal/DeleteModal.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChanges/LocalChanges.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChanges/LocalChanges.tsx
Labels: area/data-modeling, area/ui-editor, solution/studio/designer, quality/testing, area/text-editor

#12071 Set selected node pointer if moving node was selected
  frontend/packages/schema-editor/src/classes/SavableSchemaModel.test.ts
  frontend/packages/schema-editor/src/classes/SavableSchemaModel.ts
  frontend/packages/schema-editor/src/components/SchemaEditor/hooks/useMoveProperty.test.ts
  frontend/packages/schema-editor/src/components/SchemaEditor/hooks/useMoveProperty.ts
  frontend/packages/schema-model/src/lib/SchemaModel.test.ts
  frontend/packages/schema-model/src/lib/SchemaModel.ts
Labels: area/data-modeling, solution/studio/designer

#12086 move contributing.md to root
  CONTRIBUTING.md
  backend/src/Designer/Views/Home/StartPage.cshtml
Labels: solution/studio/designer

#12077 Fixing close dropdown menu when clicking duplicate policy rule
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ExpandablePolicyElement/ExpandablePolicyElement.tsx
Labels: solution/studio/designer

#12098 Fixing appname id when adding name text language
  frontend/app-development/hooks/mutations/useAddLanguageMutation.ts
Labels: solution/studio/designer

#12102 chore(README): updated readme to reference main instead of master
  README.md
  frontend/testing/cypress/use-cases.yaml
Labels: solution/studio/designer, quality/testing

#12107 fixing the playwright tests
  frontend/testing/playwright/package.json
  yarn.lock
Labels: solution/studio/designer, quality/testing, kind/dependencies

#12103 resourceadm: fixes for access lists after review of design
  frontend/language/src/nb.json
  frontend/resourceadm/components/AccessListMembers/AccessListMembers.module.css
  frontend/resourceadm/components/NewAccessListModal/NewAccessListModal.tsx
  frontend/resourceadm/components/ResourceAccessLists/ResourceAccessLists.module.css
  frontend/resourceadm/components/ResourceAccessLists/ResourceAccessLists.test.tsx
  frontend/resourceadm/components/ResourceAccessLists/ResourceAccessLists.tsx
  frontend/resourceadm/pages/AccessListPage/AccessListPage.test.tsx
  frontend/resourceadm/pages/AccessListPage/AccessListPage.tsx
  frontend/resourceadm/pages/ListAdminPage/ListAdminPage.module.css
  frontend/resourceadm/pages/ListAdminPage/ListAdminPage.test.tsx
  frontend/resourceadm/pages/ListAdminPage/ListAdminPage.tsx
Labels: solution/studio/designer

#12111 Trying to fix playwright
  .github/workflows/playwright.yml
Labels: solution/studio/designer, quality/testing, skip-releasenotes

#12116 Fix settings modal on Safari
  frontend/app-development/layout/SettingsModalButton/SettingsModal/SettingsModal.module.css
  frontend/libs/studio-components/src/components/StudioModal/StudioModal.module.css
  frontend/packages/policy-editor/src/components/VerificationModal/VerificationModal.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/DeleteModal/DeleteModal.module.css
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChanges/LocalChanges.module.css
  frontend/resourceadm/components/Modal/Modal.tsx
Labels: solution/studio/designer

#12121 Fix links to contributing.md after move to root
  README.md
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/README.md
Labels: kind/bug, skip-releasenotes, added-to-sprint

#12117 Return empty list from options in preview if not found
  backend/src/Designer/Controllers/PreviewController.cs
Labels: solution/studio/designer

#12106 Improve datamodel view with heading
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SelectedSchemaEditor.tsx
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.test.tsx
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.tsx
  frontend/libs/studio-components/src/components/StudioDeleteButton/StudioDeleteButton.test.tsx
  frontend/libs/studio-components/src/components/StudioDeleteButton/StudioDeleteButton.tsx
  frontend/libs/studio-components/src/components/StudioDeleteButton/index.ts
  frontend/libs/studio-components/src/components/StudioDropdownMenu/StudioDropdownMenu.test.tsx
  frontend/libs/studio-components/src/components/StudioDropdownMenu/StudioDropdownMenu.tsx
  frontend/libs/studio-components/src/components/StudioDropdownMenu/StudioDropdownMenuContext.ts
  frontend/libs/studio-components/src/components/StudioDropdownMenu/StudioDropdownMenuItem.module.css
  frontend/libs/studio-components/src/components/StudioDropdownMenu/StudioDropdownMenuItem.tsx
  frontend/libs/studio-components/src/components/StudioDropdownMenu/index.ts
  frontend/libs/studio-components/src/components/index.ts
  frontend/libs/studio-components/src/types/IconPlacement.ts
  frontend/packages/schema-editor/src/SchemaEditorApp.test.tsx
  frontend/packages/schema-editor/src/SchemaEditorApp.tsx
  frontend/packages/schema-editor/src/components/NodeIcon/NodeIcon.module.css
  frontend/packages/schema-editor/src/components/NodeIcon/NodeIcon.test.tsx
  frontend/packages/schema-editor/src/components/NodeIcon/NodeIcon.tsx
  frontend/packages/schema-editor/src/components/NodeIcon/index.ts
  frontend/packages/schema-editor/src/components/NodePanel/HeadingRow/HeadingRow.module.css
  frontend/packages/schema-editor/src/components/NodePanel/HeadingRow/HeadingRow.test.tsx
  frontend/packages/schema-editor/src/components/NodePanel/HeadingRow/HeadingRow.tsx
  frontend/packages/schema-editor/src/components/NodePanel/HeadingRow/index.ts
  frontend/packages/schema-editor/src/components/NodePanel/HeadingRow/test-data.test.ts
  frontend/packages/schema-editor/src/components/NodePanel/HeadingRow/test-data.ts
  frontend/packages/schema-editor/src/components/NodePanel/NodePanel.module.css
  frontend/packages/schema-editor/src/components/NodePanel/NodePanel.test.tsx
  frontend/packages/schema-editor/src/components/NodePanel/NodePanel.tsx
  frontend/packages/schema-editor/src/components/NodePanel/index.ts
  frontend/packages/schema-editor/src/components/SchemaEditor/SchemaEditor.module.css
  frontend/packages/schema-editor/src/components/SchemaEditor/SchemaEditor.test.tsx
  frontend/packages/schema-editor/src/components/SchemaEditor/SchemaEditor.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemPropertiesTab.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemPropertiesTab.tsx
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/SchemaNode.module.css
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/renderIcon.tsx
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaTree.test.tsx
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaTree.tsx
  frontend/packages/schema-editor/src/components/TypesInspector/TypesInspector.module.css
  frontend/packages/schema-editor/src/components/layout/ModelsPanel.module.css
  frontend/packages/schema-editor/src/components/layout/ModelsPanel.tsx
  frontend/packages/schema-editor/src/components/layout/TypesPanel.test.tsx
  frontend/packages/schema-editor/src/components/layout/TypesPanel.tsx
  frontend/packages/schema-editor/src/components/layout/index.ts
  frontend/packages/schema-editor/src/contexts/SchemaEditorAppContext.ts
  frontend/packages/schema-editor/src/hooks/useAddProperty.ts
  frontend/packages/schema-editor/src/hooks/useSchemaEditorAppContext.test.tsx
  frontend/packages/schema-editor/test/mocks/uiSchemaMock.ts
  frontend/packages/schema-editor/test/renderHookWithProviders.tsx
  frontend/packages/schema-editor/test/renderWithProviders.tsx
  frontend/packages/shared/src/utils/filenameUtils.test.ts
  frontend/packages/shared/src/utils/filenameUtils.ts
  frontend/testing/playwright/pages/DataModelPage.ts
  frontend/testing/playwright/tests/data-model/data-model.spec.ts
Labels: area/data-modeling, solution/studio/designer, quality/testing

#12132 Support combination root nodes
  frontend/packages/schema-model/src/lib/SchemaModel.test.ts
  frontend/packages/schema-model/src/lib/SchemaModel.ts
Labels: area/data-modeling, solution/studio/designer

#12041 11872 deleting pages too rapidly leads to an error
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/useDeleteLayout.ts
Labels: area/ui-editor, solution/studio/designer

#12134 Return empty list from options in preview if not found
  backend/src/Designer/Controllers/PreviewController.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/GetOptionsTests.cs
Labels: solution/studio/designer, quality/testing

#12130 Add frontend version to version endpoint
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/Helpers/AppFrontendVersionHelper.cs
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
  backend/src/Designer/Services/Interfaces/IAppDevelopmentService.cs
  backend/src/Designer/ViewModels/Response/VersionResponse.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/GetAppVersionTests.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/GetVersionOfTheAppLibTests.cs
  backend/tests/Designer.Tests/_TestData/Templates/Index.cshtml.txt
  backend/tests/Designer.Tests/_TestData/Templates/IndexWithoutFrontendVersion.cshtml.txt
  frontend/app-development/features/processEditor/ProcessEditor.tsx
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/mocks/mocks.ts
  frontend/packages/shared/src/types/AppLibVersion.ts
Labels: area/process, solution/studio/designer, quality/testing

#12029 Text editor/replace legacy text field with form field
  frontend/app-development/features/textEditor/TextEditor.test.tsx
  frontend/language/src/nb.json
  frontend/packages/text-editor/src/TextEditor.test.tsx
  frontend/packages/text-editor/src/TextList.test.tsx
  frontend/packages/text-editor/src/TextRow.module.css
  frontend/packages/text-editor/src/TextRow.test.tsx
  frontend/packages/text-editor/src/TextRow.tsx
  frontend/packages/text-editor/src/Variables.module.css
  frontend/packages/text-editor/src/Variables.test.tsx
  frontend/packages/text-editor/src/Variables.tsx
  frontend/packages/text-editor/src/utils.ts
Labels: solution/studio/designer, area/text-editor

#12148 Bump - org.springframework.boot
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform, skip-releasenotes

#12097 Adding translation to action list in policy editor
  frontend/language/src/nb.json
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ExpandablePolicyCard.test.tsx
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ExpandablePolicyCard.tsx
  frontend/packages/policy-editor/src/data-mocks/policyActionMocks.ts
  frontend/packages/policy-editor/src/data-mocks/policyRuleMocks.ts
  frontend/packages/policy-editor/src/utils/ExpandablePolicyCardUtils/ExpandablePolicyCardUtils.test.ts
  frontend/packages/policy-editor/src/utils/ExpandablePolicyCardUtils/index.ts
  frontend/packages/policy-editor/src/utils/PolicyEditorUtils.test.ts
  frontend/packages/policy-editor/src/utils/index.ts
Labels: solution/studio/designer

#12155 feat(Preview): should be able to toggle preview window
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Preview/Preview.module.css
  frontend/packages/ux-editor/src/components/Preview/Preview.test.tsx
  frontend/packages/ux-editor/src/components/Preview/Preview.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.module.css
Labels: area/ui-editor, solution/studio/designer, added-to-sprint

#12133 Moving all Dashboard e2e tests from Cypress to Playwright
  frontend/dashboard/components/RepoList/RepoList.test.tsx
  frontend/dashboard/components/RepoList/RepoList.tsx
  frontend/dashboard/pages/Dashboard/Dashboard.test.tsx
  frontend/dashboard/pages/Dashboard/Dashboard.tsx
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/testing/cypress/src/integration/studio/dashboard.js
  frontend/testing/cypress/src/selectors/common.js
  frontend/testing/cypress/src/selectors/dashboard.js
  frontend/testing/cypress/src/support/studio.js
  frontend/testing/playwright/enum/AppNames.ts
  frontend/testing/playwright/helpers/BasePage.ts
  frontend/testing/playwright/helpers/RouterRoute.ts
  frontend/testing/playwright/pages/DashboardPage.ts
  frontend/testing/playwright/pages/DataModelPage.ts
  frontend/testing/playwright/pages/OverviewPage.ts
  frontend/testing/playwright/playwright.config.ts
  frontend/testing/playwright/tests/dashboard/dashboard.spec.ts
  frontend/testing/playwright/tests/dashboard/dashboard.teardown.ts
  frontend/testing/testids.js
Labels: area/dashboard, solution/studio/designer, quality/testing

#12076 ~Fix/datamodel crash when deleting type~ Add tests to deleting type and its properties
  frontend/packages/schema-editor/src/components/SchemaEditor/SchemaEditor.test.tsx
Labels: area/data-modeling, solution/studio/designer

#12120 Fix setup script
  development/utils/run-command.js
Labels: skip-releasenotes

#12074 Receive resource identifier in import resource POST request body
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/tests/Designer.Tests/Controllers/ResourceAdminController/ImportResourceTests.cs
Labels: solution/studio/designer, quality/testing, area/resource-adm

#11931 resourceadm: remove backend validation for field availableForType when resourceType is MaskinportenSchema
  backend/src/Designer/Controllers/ResourceAdminController.cs
Labels: solution/studio/designer, area/resource-adm

#12052 Use cancelation token instead of absolut expiry
  backend/src/Designer/TypedHttpClients/DelegatingHandlers/CachingDelegatingHandler.cs
Labels: solution/studio/designer

#12170 Revert "Fix setup script (#12120)"
  development/utils/run-command.js
Labels: skip-releasenotes

#12105 Removing the nested accordions on Lage page
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
Labels: area/ui-editor, solution/studio/designer

#12173 Bug/11975 lage page gets an extra scrollbar for whole window
  frontend/packages/shared/src/components/FormField/FormField.module.css
Labels: solution/studio/designer

#12159 12158 playwright UI
  frontend/.gitignore
  frontend/testing/playwright/package.json
  package.json
Labels: solution/studio/designer, quality/testing, kind/dependencies

#12167 Fix border on datamodel heading
  frontend/app-development/features/appPublish/containers/releaseContainer.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/TopToolbar.tsx
  frontend/app-development/hooks/queries/useSchemaQuery.ts
  frontend/libs/studio-components/src/components/StudioAnimateHeight/StudioAnimateHeight.module.css
  frontend/libs/studio-components/src/components/StudioAnimateHeight/StudioAnimateHeight.test.tsx
  frontend/libs/studio-components/src/components/StudioAnimateHeight/StudioAnimateHeight.tsx
  frontend/libs/studio-components/src/components/StudioAnimateHeight/index.ts
  frontend/libs/studio-components/src/components/StudioTreeView/StudioTreeView.test.tsx
  frontend/libs/studio-components/src/components/StudioTreeView/StudioTreeViewItem/StudioTreeViewItem.module.css
  frontend/libs/studio-components/src/components/StudioTreeView/StudioTreeViewItem/StudioTreeViewItem.test.tsx
  frontend/libs/studio-components/src/components/StudioTreeView/StudioTreeViewItem/StudioTreeViewItem.tsx
  frontend/libs/studio-components/src/components/StudioTreeView/StudioTreeViewItem/StudioTreeViewItemContext.ts
  frontend/libs/studio-components/src/components/StudioTreeView/StudioTreeViewItem/index.ts
  frontend/libs/studio-components/src/components/StudioTreeView/StudioTreeViewRoot/StudioTreeViewRoot.module.css
  frontend/libs/studio-components/src/components/StudioTreeView/StudioTreeViewRoot/StudioTreeViewRoot.tsx
  frontend/libs/studio-components/src/components/StudioTreeView/StudioTreeViewRoot/StudioTreeViewRootContext.ts
  frontend/libs/studio-components/src/components/StudioTreeView/StudioTreeViewRoot/index.ts
  frontend/libs/studio-components/src/components/StudioTreeView/hooks/useTreeViewItemContext.test.tsx
  frontend/libs/studio-components/src/components/StudioTreeView/hooks/useTreeViewItemContext.ts
  frontend/libs/studio-components/src/components/StudioTreeView/hooks/useTreeViewRootContext.test.tsx
  frontend/libs/studio-components/src/components/StudioTreeView/hooks/useTreeViewRootContext.ts
  frontend/libs/studio-components/src/components/StudioTreeView/index.ts
  frontend/libs/studio-components/src/components/StudioTreeView/utils/domUtils.test.tsx
  frontend/libs/studio-components/src/components/StudioTreeView/utils/domUtils.ts
  frontend/libs/studio-components/src/components/StudioTreeView/utils/treeViewItemUtils.test.ts
  frontend/libs/studio-components/src/components/StudioTreeView/utils/treeViewItemUtils.ts
  frontend/libs/studio-components/src/components/index.ts
  frontend/libs/studio-components/src/hooks/index.ts
  frontend/libs/studio-components/src/hooks/useMediaQuery.test.ts
  frontend/libs/studio-components/src/hooks/useMediaQuery.ts
  frontend/libs/studio-components/src/hooks/usePrevious.test.ts
  frontend/libs/studio-components/src/hooks/usePrevious.ts
  frontend/libs/studio-components/src/index.ts
  frontend/libs/studio-components/src/style/studio-variables.css
  frontend/libs/studio-pure-functions/src/StringUtils/StringUtils.test.ts
  frontend/libs/studio-pure-functions/src/StringUtils/StringUtils.ts
  frontend/libs/studio-pure-functions/src/StringUtils/index.ts
  frontend/libs/studio-pure-functions/src/index.ts
  frontend/packages/schema-editor/src/components/NodePanel/HeadingRow/HeadingRow.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTab.tsx
  frontend/packages/shared/src/components/AnimateHeight/index.ts
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeItem/DragAndDropTreeItem.test.tsx
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeItem/DragAndDropTreeItem.tsx
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTreeRoot/DragAndDropTreeRoot.tsx
  frontend/packages/shared/src/components/TreeView/TreeViewItem/TreeViewItem.module.css
  frontend/packages/shared/src/components/TreeView/TreeViewItem/index.ts
  frontend/packages/shared/src/components/TreeView/TreeViewRoot/index.ts
  frontend/packages/shared/src/components/TreeView/hooks/useTreeViewItemContext.ts
  frontend/packages/shared/src/components/TreeView/index.ts
  frontend/packages/shared/src/components/dragAndDrop/utils/domUtils.ts
  frontend/packages/shared/src/utils/filenameUtils.ts
  frontend/packages/shared/src/utils/stringUtils.test.ts
  frontend/packages/shared/src/utils/stringUtils.ts
Labels: area/data-modeling, area/app-deploy, solution/studio/designer

#12108 unnsupported version message for v4 apps
  .github/workflows/run-cypress-on-pr.yaml
  frontend/app-development/features/processEditor/ProcessEditor.tsx
  frontend/app-development/hooks/queries/index.ts
  frontend/app-development/hooks/queries/useAppLibVersionQuery.ts
  frontend/jest.config.js
  frontend/language/src/nb.json
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/hooks/queries/index.ts
  frontend/packages/shared/src/hooks/queries/useAppVersionQuery.ts
  frontend/packages/shared/src/mocks/mocks.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/AppVersion.ts
  frontend/packages/shared/src/types/QueryKey.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/App.test.tsx
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/SubApp.tsx
  frontend/packages/ux-editor/src/components/UnsupportedVersionMessage/UnsupportedVersionMessage.module.css
  frontend/packages/ux-editor/src/components/UnsupportedVersionMessage/UnsupportedVersionMessage.test.tsx
  frontend/packages/ux-editor/src/components/UnsupportedVersionMessage/UnsupportedVersionMessage.tsx
  frontend/packages/ux-editor/src/components/UnsupportedVersionMessage/index.ts
  frontend/packages/ux-editor/src/index.tsx
  frontend/packages/ux-editor/src/reducers.ts
  frontend/packages/ux-editor/src/store.ts
  frontend/packages/ux-editor/src/testing/mocks.tsx
Labels: area/process, area/ui-editor, solution/studio/designer, quality/testing, skip-releasenotes

#12164 Fix/drag preview bug on group with hidden children
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropListItem/DragAndDropListItem.module.css
Labels: kind/bug, solution/studio/designer

#12174 Fix setup scripts
  development/setup.js
  development/utils/run-command.js
Labels: skip-releasenotes

#12166 resourceadm: convert resource identifier to lower case in resourceadm frontend
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.test.tsx
  frontend/resourceadm/components/ResourceAccessLists/ResourceAccessLists.tsx
  frontend/resourceadm/utils/stringUtils/stringUtils.test.ts
  frontend/resourceadm/utils/stringUtils/stringUtils.ts
Labels: solution/studio/designer, area/resource-adm

#11997 Remove unused files
  frontend/packages/shared/src/components/AltinnPopper.module.css
  frontend/packages/shared/src/components/AltinnPopper.tsx
  frontend/packages/shared/src/components/index.ts
  frontend/packages/shared/src/components/molecules/AltinnMenuItem.module.css
  frontend/packages/shared/src/components/molecules/AltinnMenuItem.tsx
Labels: solution/studio/designer, skip-releasenotes

#12192 Add import rules in Eslint
  frontend/.eslintrc.json
  frontend/libs/studio-components/.eslintrc.js
  frontend/libs/studio-icons/.eslintrc.js
  frontend/libs/studio-pure-functions/.eslintrc.js
  frontend/packages/schema-editor/.eslintrc.json
  frontend/packages/schema-editor/src/classes/SavableSchemaModel.test.ts
  frontend/packages/schema-editor/src/components/SchemaEditor/hooks/useMoveProperty.test.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/CustomProperties.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTab.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldsTable.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/EnumList/EnumList.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/ItemRestrictions.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/NameField.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ReferenceSelectionComponent.test.tsx
  frontend/packages/schema-editor/test/renderHookWithProviders.tsx
  frontend/packages/schema-editor/test/renderWithProviders.tsx
Labels: area/data-modeling, solution/studio/designer, added-to-sprint

#12193 resourceadm: improvements for conditional fields + bugfix import modal
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.test.tsx
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceRadioGroup.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceSwitchInput.tsx
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
Labels: solution/studio/designer

#12157 12142 create playwrigh test for main navigation between subapps in studio
  .github/workflows/playwright.yml
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.tsx
  frontend/testing/cypress/src/integration/studio/overview.js
  frontend/testing/playwright/components/Header.ts
  frontend/testing/playwright/enum/AppNames.ts
  frontend/testing/playwright/helpers/DesignerApi.ts
  frontend/testing/playwright/helpers/RouterRoute.ts
  frontend/testing/playwright/helpers/StudioEnvironment.ts
  frontend/testing/playwright/pages/DashboardPage.ts
  frontend/testing/playwright/pages/DeployPage.ts
  frontend/testing/playwright/pages/PreviewPage.ts
  frontend/testing/playwright/pages/ProcessEditorPage.ts
  frontend/testing/playwright/pages/TextEditorPage.ts
  frontend/testing/playwright/pages/UiEditorPage.ts
  frontend/testing/playwright/playwright.config.ts
  frontend/testing/playwright/tests/dashboard/dashboard.spec.ts
  frontend/testing/playwright/tests/main-navigation-between-sub-apps/main-navigation-between-sub-apps.spec.ts
  frontend/testing/playwright/tests/main-navigation-between-sub-apps/main-navigation-between-sub-apps.teardown.ts
Labels: area/dashboard, solution/studio/designer, quality/testing, skip-releasenotes

#12197 Removing wcag Cypress tests
  frontend/testing/cypress/src/integration/studio/wcag.js
  frontend/testing/cypress/src/support/index.js
  frontend/testing/cypress/src/support/wcag.js
Labels: solution/studio/designer, quality/testing

#12161 Replacing Login Cypress tests with Playwright
  frontend/packages/ux-editor/package.json
  frontend/testing/cypress/src/integration/studio/login.js
  frontend/testing/cypress/src/selectors/login.js
  frontend/testing/playwright/enum/TestNames.ts
  frontend/testing/playwright/pages/DashboardPage.ts
  frontend/testing/playwright/pages/LoginPage.ts
  frontend/testing/playwright/playwright.config.ts
  frontend/testing/playwright/tests/logout-and-invalid-login-only/logout-and-invalid-login-only.spec.ts
Labels: area/ui-editor, solution/studio/designer, quality/testing, kind/dependencies

#12208 fix(Playwright): Logout test was missing dependencies to the other tests.
  frontend/testing/playwright/playwright.config.ts
Labels: solution/studio/designer, quality/testing

#12211 Fix concurrency issue in Playwright actions
  .github/workflows/playwright.yml
Labels: skip-releasenotes

#12212 12210 fix concurrency in playwright actions
  .github/workflows/playwright.yml
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.tsx
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes

#12213 12210 fix concurrency in playwright actions
  .github/workflows/playwright.yml
Labels: skip-releasenotes

#12216 Change playwright tests to not run in parallell
  .github/workflows/playwright.yml
  frontend/testing/playwright/playwright.config.ts
Labels: solution/studio/designer, quality/testing, skip-releasenotes

#12224 Replace teardown wiht afterAll()
  frontend/testing/playwright/playwright.config.ts
  frontend/testing/playwright/tests/create-app-only/create-app-only.spec.ts
  frontend/testing/playwright/tests/create-app-only/create-app-only.teardown.ts
  frontend/testing/playwright/tests/dashboard/dashboard.spec.ts
  frontend/testing/playwright/tests/dashboard/dashboard.teardown.ts
  frontend/testing/playwright/tests/data-model/data-model.spec.ts
  frontend/testing/playwright/tests/data-model/data-model.teardown.ts
  frontend/testing/playwright/tests/main-navigation-between-sub-apps/main-navigation-between-sub-apps.spec.ts
  frontend/testing/playwright/tests/main-navigation-between-sub-apps/main-navigation-between-sub-apps.teardown.ts
Labels: solution/studio/designer, quality/testing

#12215 Remove Cypress test for resourceadm
  frontend/testing/cypress/src/integration/studio/resourceadm.js
Labels: solution/studio/designer, quality/testing
