Repository Altinn/altinn-studio, pull requests merged in 2024-02, with the labels that each got.

#12163 Removing new-app Cypress test as it is already covered
  frontend/testing/cypress/src/integration/studio/new-app.js
  frontend/testing/cypress/src/selectors/dashboard.js
  frontend/testing/cypress/src/selectors/gitea.js
Labels: solution/studio/designer, quality/testing

#12226 Remove ux-editor dependencies in shared
  frontend/jest.config.js
  frontend/packages/shared/src/components/FormField/FormField.tsx
  frontend/packages/shared/src/components/InputActionWrapper/InputActionWrapper.tsx
  frontend/packages/shared/src/hooks/mutations/useUpsertTextResourcesMutation.test.tsx
  frontend/packages/shared/src/hooks/queries/useTextResourcesQuery.test.ts
  frontend/packages/shared/src/hooks/queries/useTextResourcesQuery.test.tsx
  frontend/packages/shared/src/utils/formValidationUtils/formValidationUtils.test.tsx
  frontend/packages/shared/src/utils/formValidationUtils/formValidationUtils.ts
  frontend/packages/shared/src/utils/formValidationUtils/index.ts
  frontend/packages/shared/src/utils/formValidationUtils/test-data/Input.schema.v1.json
  frontend/packages/shared/src/utils/formValidationUtils/test-data/common-defs.schema.v1.json
  frontend/packages/shared/src/utils/formValidationUtils/test-data/expression.schema.v1.json
  frontend/packages/shared/src/utils/formValidationUtils/test-data/layout.schema.v1.json
  frontend/packages/shared/src/utils/formValidationUtils/test-data/number-format.schema.v1.json
  frontend/packages/text-editor/src/TextEntry.test.tsx
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/hooks/queries/useComponentSchemaQuery.ts
  frontend/packages/ux-editor/src/hooks/queries/useLayoutSchemaQuery.ts
Labels: area/ui-editor, solution/studio/designer, area/text-editor

#12188 11823 generalize our container concept for form components
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/libs/studio-components/README.md
  frontend/packages/shared/src/components/DragAndDropTree/DragAndDropTree.test.tsx
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropList/DragAndDropList.test.tsx
  frontend/packages/shared/src/components/dragAndDrop/DragAndDropListItem/DragAndDropListItem.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Content.tsx
  frontend/packages/ux-editor/src/components/config/ConditionalRenderingComponent.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/Expressions.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormItem/useItemTitle.test.ts
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormItem/useItemTitle.ts
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormTree.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/UnknownReferencedItem/index.ts
  frontend/packages/ux-editor/src/containers/DesignView/ReceiptContent/ReceiptContent.test.tsx
  frontend/packages/ux-editor/src/containers/FormContext.test.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  frontend/packages/ux-editor/src/converters/containerComponentConverters/externalContainerComponentToInternal.ts
  frontend/packages/ux-editor/src/converters/containerComponentConverters/externalGroupComponentToInternal.test.ts
  frontend/packages/ux-editor/src/converters/containerComponentConverters/index.ts
  frontend/packages/ux-editor/src/converters/containerComponentConverters/internalContainerComponentToExternal.ts
  frontend/packages/ux-editor/src/converters/containerComponentConverters/internalGroupComponentToExternal.test.ts
  frontend/packages/ux-editor/src/converters/formLayoutConverters/externalLayoutToInternal.ts
  frontend/packages/ux-editor/src/converters/formLayoutConverters/internalLayoutToExternal.ts
  frontend/packages/ux-editor/src/converters/groupComponentConverters/externalGroupComponentToInternal.ts
  frontend/packages/ux-editor/src/converters/groupComponentConverters/index.ts
  frontend/packages/ux-editor/src/converters/groupComponentConverters/internalGroupComponentToExternal.ts
  frontend/packages/ux-editor/src/data/containerComponentTypes.ts
  frontend/packages/ux-editor/src/data/formItemConfig.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddFormContainerMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddFormContainerMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useFormLayoutMutation.test.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormContainerMutation.test.ts
  frontend/packages/ux-editor/src/selectors/formLayoutSelectors.test.ts
  frontend/packages/ux-editor/src/testing/layoutMock.ts
  frontend/packages/ux-editor/src/testing/layoutWithMultiPageGroupMocks.ts
  frontend/packages/ux-editor/src/types/ContainerComponent.ts
  frontend/packages/ux-editor/src/types/ExternalContainerComponent.ts
  frontend/packages/ux-editor/src/types/ExternalGroupComponent.ts
  frontend/packages/ux-editor/src/types/FormContainer.ts
  frontend/packages/ux-editor/src/types/FormItem.ts
  frontend/packages/ux-editor/src/types/SimpleComponentType.ts
  frontend/packages/ux-editor/src/utils/component.test.ts
  frontend/packages/ux-editor/src/utils/expressionsUtils.test.ts
  frontend/packages/ux-editor/src/utils/expressionsUtils.ts
  frontend/packages/ux-editor/src/utils/formItemUtils.ts
  frontend/packages/ux-editor/src/utils/formLayoutUtils.test.tsx
  frontend/packages/ux-editor/src/utils/formLayoutUtils.ts
  frontend/packages/ux-editor/src/utils/formLayoutsUtils.test.ts
  frontend/packages/ux-editor/src/utils/generateId.test.tsx
  frontend/packages/ux-editor/src/utils/generateId.ts
Labels: area/ui-editor, solution/studio/designer

#12227 Trying to fix Playwright in dev
  frontend/testing/playwright/pages/LoginPage.ts
  frontend/testing/playwright/playwright.config.ts
Labels: solution/studio/designer, quality/testing

#12230 Changing success message when uploading to gitea to prevent flaky test in Playwright
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/VersionControlButtons.tsx
  frontend/testing/playwright/components/Header.ts
  frontend/testing/playwright/tests/git-sync/git-sync.spec.ts
Labels: solution/studio/designer, quality/testing, added-to-sprint

#12204 12135 replace designer cypress
  frontend/testing/cypress/src/integration/studio/designer.js
  frontend/testing/cypress/src/selectors/designer.js
  frontend/testing/playwright/enum/AppNames.ts
  frontend/testing/playwright/enum/TestNames.ts
  frontend/testing/playwright/helpers/RouterRoute.ts
  frontend/testing/playwright/pages/OverviewPage.ts
  frontend/testing/playwright/pages/UiEditorPage.ts
  frontend/testing/playwright/playwright.config.ts
  frontend/testing/playwright/tests/ui-editor/ui-editor.spec.ts
Labels: area/ui-editor, solution/studio/designer, quality/testing, kind/dependencies

#12231 Fix wrong uri in task extension
  frontend/packages/process-editor/src/extensions/altinnCustomTasks.ts
Labels: kind/bug, area/process, solution/studio/designer

#12235 fix(DataModel): Enables the deletion of a child node from a definition that is currently in use
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/ActionButtons/ActionButtons.tsx
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/SchemaNode.test.tsx
  frontend/packages/schema-model/src/lib/SchemaModel.test.ts
  frontend/packages/schema-model/src/lib/SchemaModel.ts
Labels: area/data-modeling, solution/studio/designer

#12236 Show info message instead of config for containers that are not group
  frontend/language/src/nb.json
  frontend/packages/ux-editor-v3/src/components/Properties/Content.tsx
  frontend/packages/ux-editor-v3/src/components/config/EditFormContainer.test.tsx
  frontend/packages/ux-editor-v3/src/components/config/EditFormContainer.tsx
  frontend/packages/ux-editor/src/components/Properties/Content.tsx
  frontend/packages/ux-editor/src/components/config/EditFormContainer.test.tsx
  frontend/packages/ux-editor/src/components/config/EditFormContainer.tsx
Labels: area/ui-editor, solution/studio/designer

#12245 fix(DataModel): Improve user feedback to be more understandable
  frontend/language/src/nb.json
Labels: solution/studio/designer

#12248 Fix(Playwrigth): Attempt longer timeout before closing the browser and context
  frontend/testing/playwright/playwright.config.ts
Labels: solution/studio/designer, quality/testing, skip-releasenotes

#12196 12138 playwright for settings modal
  frontend/app-development/layout/SettingsModalButton/SettingsModalButton.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModalButton.tsx
  frontend/testing/cypress/src/integration/studio/settingsModal.js
  frontend/testing/cypress/src/selectors/accessControlTab.js
  frontend/testing/cypress/src/selectors/administrationTab.js
  frontend/testing/cypress/src/selectors/policyEditorTab.js
  frontend/testing/cypress/src/selectors/settingsTab.js
  frontend/testing/playwright/components/Header.ts
  frontend/testing/playwright/components/PolicyEditor.ts
  frontend/testing/playwright/components/SettingsModal.ts
  frontend/testing/playwright/enum/AppNames.ts
  frontend/testing/playwright/enum/TestNames.ts
  frontend/testing/playwright/playwright.config.ts
  frontend/testing/playwright/tests/settings-modal/settings-modal.spec.ts
Labels: area/ui-editor, solution/studio/designer, quality/testing, skip-releasenotes, kind/dependencies

#12246 Proccess file sync
  backend/packagegroups/NuGet.props
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/Controllers/ProcessModelingController.cs
  backend/src/Designer/Designer.csproj
  backend/src/Designer/EventHandlers/ProcessTaskIdChanged/ProcessTaskIdChangedApplicationMetadataHandler.cs
  backend/src/Designer/Events/ProcessTaskIdChangedEvent.cs
  backend/src/Designer/Models/Dto/ProcessDefinitionMetadata.cs
  backend/src/Designer/Models/Dto/TaskIdChange.cs
  backend/src/Designer/Models/Dto/VersionResponse.cs
  backend/src/Designer/Program.cs
  backend/src/Designer/Services/Implementation/ProcessModeling/ProcessModelingService.cs
  backend/src/Designer/Services/Interfaces/IProcessModelingService.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/GetAppVersionTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/UpdateProcessTaskNameTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/UpsertProcessDefinitionAndNotifyTests.cs
  backend/tests/Designer.Tests/Services/ProcessModelingServiceTests.cs
  testdata/App/config/process/process.bpmn
Labels: solution/studio/designer, quality/testing, kind/dependencies

#12249 Trying to fix Playwright tests by bringing parallelism back
  .github/workflows/playwright.yml
  frontend/testing/playwright/playwright.config.ts
  frontend/testing/playwright/tests/create-app-only/create-app-only.spec.ts
  frontend/testing/playwright/tests/dashboard/dashboard.spec.ts
  frontend/testing/playwright/tests/data-model/data-model.spec.ts
  frontend/testing/playwright/tests/git-sync/git-sync.spec.ts
  frontend/testing/playwright/tests/main-navigation-between-sub-apps/main-navigation-between-sub-apps.spec.ts
  frontend/testing/playwright/tests/settings-modal/settings-modal.spec.ts
  frontend/testing/playwright/tests/ui-editor/ui-editor.spec.ts
Labels: solution/studio/designer, quality/testing, skip-releasenotes

#12251 adding skip to the 2 Playwright test that fails constantly
  frontend/testing/playwright/tests/main-navigation-between-sub-apps/main-navigation-between-sub-apps.spec.ts
  frontend/testing/playwright/tests/settings-modal/settings-modal.spec.ts
Labels: solution/studio/designer, quality/testing

#12253 Implementing changes to fix 2 broken Playwright tests
  frontend/testing/playwright/pages/DashboardPage.ts
  frontend/testing/playwright/tests/dashboard/dashboard.spec.ts
  frontend/testing/playwright/tests/main-navigation-between-sub-apps/main-navigation-between-sub-apps.spec.ts
  frontend/testing/playwright/tests/settings-modal/settings-modal.spec.ts
Labels: solution/studio/designer, quality/testing, added-to-sprint

#12254 Fix index name
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
Labels: solution/studio/designer

#12255 Trying to fix the two broken playwright tests
  frontend/testing/playwright/helpers/BasePage.ts
  frontend/testing/playwright/playwright.config.ts
  frontend/testing/playwright/tests/main-navigation-between-sub-apps/main-navigation-between-sub-apps.spec.ts
  frontend/testing/playwright/tests/settings-modal/settings-modal.spec.ts
Labels: solution/studio/designer, quality/testing

#12256 Fix index path
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/GetAppVersionTests.cs
Labels: solution/studio/designer, quality/testing

#12257 Removing parallell for Playwright tests
  frontend/testing/playwright/playwright.config.ts
Labels: solution/studio/designer, quality/testing

#12261 Implementing temporary solution for solving logout tests in Playwright
  frontend/testing/playwright/enum/Language.ts
  frontend/testing/playwright/pages/LoginPage.ts
  frontend/testing/playwright/tests/dashboard/dashboard.spec.ts
  frontend/testing/playwright/tests/logout-and-invalid-login-only/logout-and-invalid-login-only.spec.ts
Labels: solution/studio/designer, quality/testing

#12262 Adding wait for changing language
  frontend/testing/playwright/tests/logout-and-invalid-login-only/logout-and-invalid-login-only.spec.ts
Labels: solution/studio/designer, quality/testing

#12263 fix(Cypress): remove pipeline and scripts for integration tests
  .github/workflows/cypress.yml
  .github/workflows/run-cypress-on-pr.yaml
  frontend/testing/cypress/package.json
Labels: solution/studio/designer, quality/testing, skip-releasenotes, kind/dependencies, added-to-sprint

#12270 fix bug to support actions in process
  frontend/packages/process-editor/src/extensions/altinnCustomTasks.ts
Labels: area/process, solution/studio/designer

#12239 Feature/designer importfromregister
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Services/Implementation/ResourceRegistryService.cs
  backend/src/Designer/Services/Interfaces/IResourceRegistry.cs
  backend/tests/Designer.Tests/Controllers/ResourceAdminController/GetAltinn2LinkServicesTests.cs
  backend/tests/Designer.Tests/Controllers/ResourceAdminController/ImportResourceTests.cs
  backend/tests/Designer.Tests/Controllers/ResourceAdminController/ResourceAdminControllerTestsBaseClass.cs
Labels: solution/studio/designer, quality/testing

#12115 Bug/12035 not possible to delete a data model in studio
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SelectedSchemaEditor.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SelectedSchemaEditor.tsx
  frontend/app-development/hooks/mutations/useDeleteDatamodelMutation.test.ts
  frontend/app-development/hooks/mutations/useDeleteDatamodelMutation.ts
  frontend/packages/shared/src/mocks/datamodelMetadataMocks.ts
  frontend/packages/shared/src/mocks/modelPathMocks.ts
  frontend/testing/testUtils.ts
Labels: area/data-modeling, solution/studio/designer, quality/testing

#12232 12180 default section for component config
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Properties/Content.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/DataModelBindingRow/DataModelBindingRow.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/DataModelBindingRow/DataModelBindingRow.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/DataModelBindingRow/index.ts
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditComponentIdRow/EditComponentIdRow.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditComponentIdRow/index.ts
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/index.ts
  frontend/packages/ux-editor/src/components/config/EditFormComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/EditFormComponent.tsx
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.test.tsx
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
  frontend/packages/ux-editor/src/components/config/componentConfig.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormItem/FormItem.tsx
  frontend/packages/ux-editor/src/hooks/useItemTitle/index.ts
  frontend/packages/ux-editor/src/hooks/useItemTitle/useItemTitle.test.ts
  frontend/packages/ux-editor/src/hooks/useItemTitle/useItemTitle.ts
Labels: area/ui-editor, solution/studio/designer

#12279 Fix ECONNREFUSED error during setup
  development/utils/wait-for.js
Labels: skip-releasenotes

#12278 Fix child of combination check
  frontend/packages/schema-model/src/lib/SchemaModel.test.ts
  frontend/packages/schema-model/src/lib/SchemaModel.ts
  frontend/packages/schema-model/src/lib/utils.ts
Labels: area/data-modeling, solution/studio/designer

#12238 12175 move texts configs into separate section
  frontend/language/src/nb.json
  frontend/packages/ux-editor-v3/src/components/config/componentConfig.tsx
  frontend/packages/ux-editor/src/components/Properties/Content.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Content.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.tsx
  frontend/packages/ux-editor/src/components/Properties/Text.module.css
  frontend/packages/ux-editor/src/components/Properties/Text.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Text.tsx
  frontend/packages/ux-editor/src/components/TextResource.module.css
  frontend/packages/ux-editor/src/components/TextResource.tsx
  frontend/packages/ux-editor/src/components/config/EditFormComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/EditFormComponent.tsx
  frontend/packages/ux-editor/src/components/config/EditFormContainer.tsx
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.test.tsx
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
  frontend/packages/ux-editor/src/components/config/componentConfig.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Button/ButtonComponent.module.css
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Button/ButtonComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Button/ButtonComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Button/index.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Image/ImageComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Panel/PanelComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList/EditCodeList.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList/EditCodeList.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList/EditCodeList.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBindings.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBindings.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentOrderMutation.test.ts
  frontend/packages/ux-editor/src/hooks/queries/useComponentSchemaQuery.ts
  frontend/packages/ux-editor/src/testing/componentSchemaMocks.ts
  frontend/packages/ux-editor/src/testing/layoutMock.ts
Labels: area/ui-editor, solution/studio/designer

#12290 Remove unsupported version message from ux-editor-v3
  frontend/packages/ux-editor-v3/src/App.test.tsx
  frontend/packages/ux-editor-v3/src/App.tsx
  frontend/packages/ux-editor-v3/src/components/UnsupportedVersionMessage/UnsupportedVersionMessage.module.css
  frontend/packages/ux-editor-v3/src/components/UnsupportedVersionMessage/UnsupportedVersionMessage.test.tsx
  frontend/packages/ux-editor-v3/src/components/UnsupportedVersionMessage/UnsupportedVersionMessage.tsx
  frontend/packages/ux-editor-v3/src/components/UnsupportedVersionMessage/index.ts
  frontend/packages/ux-editor/src/App.test.tsx
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/testing/mocks.tsx
Labels: area/ui-editor, solution/studio/designer

#12289 Fix final index calculations for adding and moving nodes
  frontend/libs/studio-pure-functions/src/ArrayUtils/ArrayUtils.test.ts
  frontend/libs/studio-pure-functions/src/ArrayUtils/ArrayUtils.ts
  frontend/libs/studio-pure-functions/src/NumberUtils/NumberUtils.test.ts
  frontend/libs/studio-pure-functions/src/NumberUtils/NumberUtils.ts
  frontend/libs/studio-pure-functions/src/NumberUtils/index.ts
  frontend/libs/studio-pure-functions/src/index.ts
  frontend/libs/studio-pure-functions/src/types/Interval.ts
  frontend/libs/studio-pure-functions/src/types/index.ts
  frontend/packages/schema-editor/src/components/SchemaEditor/hooks/useAddReference.test.ts
  frontend/packages/schema-editor/src/components/SchemaEditor/hooks/useMoveProperty.test.ts
  frontend/packages/schema-editor/src/components/SchemaEditor/utils.ts
  frontend/packages/schema-model/src/lib/SchemaModel.test.ts
  frontend/packages/schema-model/src/lib/SchemaModel.ts
  frontend/packages/shared/src/utils/arrayUtils.test.ts
  frontend/packages/shared/src/utils/arrayUtils.ts
  frontend/packages/shared/src/utils/stringUtils.ts
Labels: area/data-modeling, solution/studio/designer

#12285 appmetadata sync
  backend/packagegroups/NuGet.props
  backend/src/Designer/Controllers/ProcessModelingController.cs
  backend/src/Designer/EventHandlers/ProcessTaskIdChanged/ProcessTaskIdChangedApplicationMetadataHandler.cs
  backend/src/Designer/EventHandlers/ProcessTaskIdChanged/ProcessTaskIdChangedLayoutSetsHandler.cs
  backend/src/Designer/EventHandlers/ProcessTaskIdChanged/ProcessTaskIdChangedPolicyFileHandler.cs
  backend/src/Designer/Events/ProcessTaskIdChangedEvent.cs
  backend/src/Designer/Hubs/SyncHub/ErrorSource.cs
  backend/src/Designer/Hubs/SyncHub/ISyncClient.cs
  backend/src/Designer/Hubs/SyncHub/SyncError.cs
  backend/src/Designer/Hubs/SyncHub/SyncErrorCodes.cs
  backend/src/Designer/Hubs/SyncHub/SyncHub.cs
  backend/src/Designer/Program.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/FileSync/TaskIdChangeTests/ApplicationMetadataFileSyncTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/UpsertProcessDefinitionAndNotifyTests.cs
  backend/tests/Designer.Tests/Designer.Tests.csproj
  backend/tests/Designer.Tests/Fixtures/GiteaAuthDelegatingHandler.cs
  backend/tests/Designer.Tests/GiteaIntegrationTests/GiteaIntegrationTestsBase.cs
  backend/tests/Designer.Tests/GiteaIntegrationTests/RepositoryController/GitNotesGiteaIntegrationTests.cs
  backend/tests/Designer.Tests/GiteaIntegrationTests/RepositoryController/RepositoryControllerGiteaIntegrationTests.cs
  backend/tests/Designer.Tests/GiteaIntegrationTests/UserControllerGiteaIntegrationTests.cs
  backend/tests/Designer.Tests/Hubs/Auth/HubAuthDelegatingHandler.cs
  backend/tests/Designer.Tests/Hubs/SyncHub/SyncHubConnectionTests.cs
  development/load-balancer/nginx.conf.conf
Labels: solution/studio/designer, quality/testing, skip-releasenotes, kind/dependencies

#12295 fixing test feedback
  frontend/packages/ux-editor/src/components/Properties/Properties.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.tsx
Labels: area/ui-editor, solution/studio/designer

#12298 layoutsets and policy sync
  backend/src/Designer/EventHandlers/FileSyncHandlerExecutor.cs
  backend/src/Designer/EventHandlers/IFileSyncHandlerExecutor.cs
  backend/src/Designer/EventHandlers/ProcessTaskIdChanged/ProcessTaskIdChangedApplicationMetadataHandler.cs
  backend/src/Designer/EventHandlers/ProcessTaskIdChanged/ProcessTaskIdChangedLayoutSetsHandler.cs
  backend/src/Designer/EventHandlers/ProcessTaskIdChanged/ProcessTaskIdChangedPolicyFileHandler.cs
  backend/src/Designer/Hubs/SyncHub/SyncErrorCodes.cs
  backend/src/Designer/Program.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/FileSync/TaskIdChangeTests/LayoutSetsFileSyncTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/FileSync/TaskIdChangeTests/PolicyFileSyncTests.cs
  testdata/App/config/authorization/policy.xml
  testdata/App/ui/layout-sets.json
Labels: solution/studio/designer, quality/testing, skip-releasenotes

#12247 Fix dagl and regna bug in policy editor
  frontend/packages/policy-editor/src/PolicyEditor.tsx
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ExpandablePolicyCard.tsx
  frontend/packages/policy-editor/src/data-mocks/policySubjectMocks.ts
  frontend/packages/policy-editor/src/utils/PolicyEditorUtils.test.ts
  frontend/packages/policy-editor/src/utils/index.ts
Labels: solution/studio/designer

#12310 Bump azure-identity
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: area/pdf, solution/platform, skip-releasenotes

#12299 12292 e2e tests for lage page regression test for deploy
  frontend/language/src/nb.json
  frontend/packages/ux-editor-v3/src/components/TextResource.test.tsx
  frontend/packages/ux-editor-v3/src/components/TextResource.tsx
  frontend/packages/ux-editor/src/components/TextResource.test.tsx
  frontend/packages/ux-editor/src/components/TextResource.tsx
  frontend/testing/playwright/enum/ComponentType.ts
  frontend/testing/playwright/pages/GiteaPage.ts
  frontend/testing/playwright/pages/UiEditorPage.ts
  frontend/testing/playwright/tests/ui-editor/ui-editor-data-model-binding-and-gitea.spec.ts
  frontend/testing/playwright/tests/ui-editor/ui-editor.spec.ts
  frontend/testing/playwright/types/DragAndDropComponents.ts
Labels: area/ui-editor, solution/studio/designer, quality/testing

#12318 Trying to fix broken Playwright tests
  frontend/testing/playwright/tests/ui-editor/ui-editor-data-model-binding-and-gitea.spec.ts
  frontend/testing/playwright/tests/ui-editor/ui-editor.spec.ts
Labels: solution/studio/designer, quality/testing, skip-releasenotes

#12326 Fix/dropdown menu bug in datamodel
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/ActionButtons/AddPropertyMenu.tsx
Labels: kind/bug, area/data-modeling, solution/studio/designer, added-to-sprint

#12330 fix(Codestyle): Fixed broken codestyle
  frontend/libs/studio-icons/.eslintrc.js
  frontend/libs/studio-icons/src/react/icons/ConfirmationTaskIcon.tsx
  frontend/libs/studio-icons/src/react/icons/DataTaskIcon.tsx
Labels: solution/studio/designer, added-to-sprint

#12342 Adding wait to try to fix playwright tests
  frontend/testing/playwright/tests/ui-editor/ui-editor-data-model-binding-and-gitea.spec.ts
Labels: solution/studio/designer, quality/testing, skip-releasenotes

#12343 Removing waits from Playwright tests
  frontend/testing/playwright/components/Header.ts
  frontend/testing/playwright/enum/DataTestId.ts
  frontend/testing/playwright/pages/DataModelPage.ts
  frontend/testing/playwright/pages/UiEditorPage.ts
  frontend/testing/playwright/tests/main-navigation-between-sub-apps/main-navigation-between-sub-apps.spec.ts
  frontend/testing/playwright/tests/ui-editor/ui-editor-data-model-binding-and-gitea.spec.ts
  frontend/testing/playwright/tests/ui-editor/ui-editor.spec.ts
Labels: solution/studio/designer, quality/testing

#12344 Adding timeout for Gitea push
  frontend/testing/playwright/components/Header.ts
Labels: solution/studio/designer, quality/testing

#12346 Casing environment
  backend/src/Designer/Controllers/ResourceAdminController.cs
Labels: solution/studio/designer

#12333 Remove '.' as a valid character in the data model field name
  frontend/packages/schema-editor/src/utils/ui-schema-utils.test.ts
  frontend/packages/schema-editor/src/utils/ui-schema-utils.ts
Labels: area/data-modeling, solution/studio/designer

#12334 Minify CSS in production
  frontend/webpack.config.prod.js
  package.json
  yarn.lock
Labels: solution/studio/designer

#12335 Adapt expression ref
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
  frontend/packages/ux-editor/src/utils/component.test.ts
  frontend/packages/ux-editor/src/utils/component.ts
Labels: area/ui-editor, solution/studio/designer

#12348 fix(PolicyCard): Ensure accurate label display within role options select
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ExpandablePolicyCard.test.tsx
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ExpandablePolicyCard.tsx
Labels: solution/studio/designer

#12317 Update designsystem to 0.49.0 + tokens 0.13.0
  frontend/app-development/features/appPublish/containers/releaseContainer.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/CreatedFor/CreatedFor.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AccessControlTab/AccessControlTab.tsx
  frontend/libs/studio-components/README.md
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.tsx
  frontend/libs/studio-components/src/components/StudioDropdownMenu/StudioDropdownMenu.tsx
  frontend/libs/studio-components/src/components/StudioDropdownMenu/StudioDropdownMenuItem.tsx
  frontend/libs/studio-components/src/components/StudioSpinner/StudioSpinner.tsx
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ExpandablePolicyCard.tsx
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ExpandablePolicyElement/ExpandablePolicyElement.tsx
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ExpandablePolicyElement/PolicyEditorDropdownMenu/PolicyEditorDropdownMenu.tsx
  frontend/packages/policy-editor/src/components/ExpandablePolicyCard/ResourceNarrowingList/PolicyResourceFields/PolicyResourceFields.tsx
  frontend/packages/schema-editor/src/components/NodePanel/NodePanel.tsx
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/ActionButtons/AddPropertyMenu.tsx
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/ReferenceButton.module.css
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChangesActionButton/LocalChangesActionButton.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/Notification/Notification.tsx
  frontend/packages/shared/src/components/LeftNavigationBar/GoBackButton/GoBackButton.tsx
  frontend/packages/shared/src/components/LeftNavigationBar/Tab/Tab.tsx
  frontend/packages/shared/src/navigation/main-header/ProfileMenu/__snapshots__/ProfileMenu.test.tsx.snap
  frontend/packages/ux-editor-v3/src/components/Elements/ConfigureLayoutSetPanel.tsx
  frontend/packages/ux-editor-v3/src/components/config/Expressions/ExpressionContent/ExpressionEditMode/SimpleExpression/SubExpressionContent.tsx
  frontend/packages/ux-editor-v3/src/components/config/Expressions/NewExpressionButton.module.css
  frontend/packages/ux-editor-v3/src/components/config/Expressions/NewExpressionButton.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditGrid/EditGrid.tsx
  frontend/packages/ux-editor-v3/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.module.css
  frontend/packages/ux-editor-v3/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.test.tsx
  frontend/packages/ux-editor-v3/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.tsx
  frontend/packages/ux-editor/src/components/Elements/ConfigureLayoutSetPanel.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/ExpressionContent/ExpressionEditMode/SimpleExpression/SubExpressionContent.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/NewExpressionButton.module.css
  frontend/packages/ux-editor/src/components/config/Expressions/NewExpressionButton.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditGrid/EditGrid.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.module.css
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.tsx
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.test.tsx
  frontend/resourceadm/components/LinkButton/LinkButton.tsx
  frontend/resourceadm/components/MigrationStep/MigrationStep.tsx
  frontend/resourceadm/components/ResourceDeployStatus/ResourceDeployStatus.tsx
  frontend/resourceadm/pages/MigrationPage/MigrationPage.tsx
  frontend/studio-root/pages/Contact/Contact.tsx
  package.json
  yarn.lock
Labels: area/data-modeling, area/ui-editor, area/app-deploy, solution/studio/designer, skip-releasenotes, kind/dependencies, added-to-sprint, area/studio-root

#12360 Fixing the broken and flaky playwright tests
  frontend/testing/playwright/pages/DataModelPage.ts
  frontend/testing/playwright/tests/data-model/data-model.spec.ts
  frontend/testing/playwright/tests/ui-editor/ui-editor-data-model-binding-and-gitea.spec.ts
Labels: solution/studio/designer, quality/testing

#12357 fix(UseDeleteFormContainerMutation): Ensure to delete all children of container components when the container is deleted.
  frontend/packages/ux-editor-v3/src/hooks/mutations/useDeleteFormContainerMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormContainerMutation.ts
Labels: area/ui-editor, solution/studio/designer

#12313 fix(UseFormLayoutsQuery): set staleTime to be Infinity
  frontend/packages/ux-editor-v3/src/hooks/queries/useFormLayoutsQuery.ts
  frontend/packages/ux-editor/src/hooks/queries/useFormLayoutsQuery.ts
Labels: area/ui-editor, solution/studio/designer

#12345 Resourceadm: support paging in resource access list queries
  frontend/language/src/nb.json
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/ResourceAdm.ts
  frontend/resourceadm/components/AccessListDetails/AccessListDetail.tsx
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.test.tsx
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.tsx
  frontend/resourceadm/components/ImportResourceModal/ServiceContent/ServiceContent.tsx
  frontend/resourceadm/components/ResourceAccessLists/ResourceAccessLists.test.tsx
  frontend/resourceadm/components/ResourceAccessLists/ResourceAccessLists.tsx
  frontend/resourceadm/hooks/mutations/useImportResourceFromAltinn2Mutation.ts
  frontend/resourceadm/hooks/queries/useGetAccessListsQuery.ts
  frontend/resourceadm/hooks/queries/useGetResourceAccessListsQuery.ts
  frontend/resourceadm/pages/ListAdminPage/ListAdminPage.test.tsx
  frontend/resourceadm/pages/ListAdminPage/ListAdminPage.tsx
Labels: solution/studio/designer, area/resource-adm

#12364 fix(ImportResourceModal): Fixed the broken unit-test in main
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.test.tsx
Labels: solution/studio/designer, added-to-sprint

#12350 12293 e2e tests for text page regression test for deploy
  frontend/app-development/features/textEditor/TextEditor.test.tsx
  frontend/language/src/nb.json
  frontend/packages/text-editor/src/LangSelector.module.css
  frontend/packages/text-editor/src/LangSelector.test.tsx
  frontend/packages/text-editor/src/LangSelector.tsx
  frontend/packages/text-editor/src/RightMenu.tsx
  frontend/packages/text-editor/src/TextEditor.test.tsx
  frontend/packages/text-editor/src/TextEntry.test.tsx
  frontend/packages/text-editor/src/TextEntry.tsx
  frontend/packages/text-editor/src/TextList.test.tsx
  frontend/packages/text-editor/src/TextList.tsx
  frontend/packages/text-editor/src/TextRow.test.tsx
  frontend/packages/text-editor/src/TextRow.tsx
  frontend/testing/playwright/enum/AppNames.ts
  frontend/testing/playwright/enum/LanguageCode.ts
  frontend/testing/playwright/enum/TestNames.ts
  frontend/testing/playwright/pages/GiteaPage.ts
  frontend/testing/playwright/pages/TextEditorPage.ts
  frontend/testing/playwright/pages/UiEditorPage.ts
  frontend/testing/playwright/playwright.config.ts
  frontend/testing/playwright/tests/text-editor/text-editor.spec.ts
  frontend/testing/playwright/tests/ui-editor/ui-editor.spec.ts
Labels: solution/studio/designer, quality/testing, area/text-editor

#12351 Chore/12153 component schema v4 update
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.test.tsx
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
  frontend/packages/ux-editor/src/hooks/index.ts
  frontend/packages/ux-editor/src/testing/schemas/json/component/Address.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/Checkboxes.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/Custom.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/Datepicker.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/Dropdown.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/FileUpload.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/FileUploadWithTag.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/Input.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/Likert.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/LikertItem.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/List.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/Map.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/MultipleSelect.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/RadioButtons.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/RepeatingGroup.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/TextArea.schema.v1.json
  frontend/packages/ux-editor/src/utils/component.test.ts
  frontend/packages/ux-editor/src/utils/component.ts
  frontend/scripts/componentSchemas/schemaUtils.ts
Labels: area/ui-editor, solution/studio/designer

#12355 Renaming formContext to formItemContext
  frontend/packages/ux-editor-v3/src/App.tsx
  frontend/packages/ux-editor-v3/src/components/Properties/Calculations.test.tsx
  frontend/packages/ux-editor-v3/src/components/Properties/Calculations.tsx
  frontend/packages/ux-editor-v3/src/components/Properties/Content.test.tsx
  frontend/packages/ux-editor-v3/src/components/Properties/Content.tsx
  frontend/packages/ux-editor-v3/src/components/Properties/Dynamics.test.tsx
  frontend/packages/ux-editor-v3/src/components/Properties/Dynamics.tsx
  frontend/packages/ux-editor-v3/src/components/Properties/Properties.test.tsx
  frontend/packages/ux-editor-v3/src/components/Properties/Properties.tsx
  frontend/packages/ux-editor-v3/src/components/config/Expressions/ExpressionContent/ExpressionContent.test.tsx
  frontend/packages/ux-editor-v3/src/components/config/Expressions/ExpressionContent/ExpressionContent.tsx
  frontend/packages/ux-editor-v3/src/components/config/Expressions/Expressions.test.tsx
  frontend/packages/ux-editor-v3/src/components/config/Expressions/Expressions.tsx
  frontend/packages/ux-editor-v3/src/containers/DesignView/DesignView.test.tsx
  frontend/packages/ux-editor-v3/src/containers/DesignView/FormLayout.test.tsx
  frontend/packages/ux-editor-v3/src/containers/DesignView/FormTree/FormTree.test.tsx
  frontend/packages/ux-editor-v3/src/containers/DesignView/FormTree/FormTree.tsx
  frontend/packages/ux-editor-v3/src/containers/DesignView/ReceiptContent/ReceiptContent.test.tsx
  frontend/packages/ux-editor-v3/src/containers/FormDesigner.tsx
  frontend/packages/ux-editor-v3/src/containers/FormItemContext.test.tsx
  frontend/packages/ux-editor-v3/src/containers/FormItemContext.tsx
  frontend/packages/ux-editor-v3/src/testing/formItemContextMocks.ts
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/components/Properties/Calculations.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Calculations.tsx
  frontend/packages/ux-editor/src/components/Properties/Dynamics.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Dynamics.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/DataModelBindingRow/DataModelBindingRow.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Text.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Text.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/ExpressionContent/ExpressionContent.test.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/ExpressionContent/ExpressionContent.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/Expressions.test.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/Expressions.tsx
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormLayout.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormTree.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormTree.tsx
  frontend/packages/ux-editor/src/containers/DesignView/ReceiptContent/ReceiptContent.test.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  frontend/packages/ux-editor/src/containers/FormItemContext.test.tsx
  frontend/packages/ux-editor/src/containers/FormItemContext.tsx
  frontend/packages/ux-editor/src/testing/formItemContextMocks.ts
Labels: area/ui-editor, solution/studio/designer

#12323 Add StudioTextarea and StudioTextfield components
  frontend/libs/studio-components/.eslintrc.js
  frontend/libs/studio-components/src/components/StudioDecimalInput/StudioDecimalInput.test.tsx
  frontend/libs/studio-components/src/components/StudioDecimalInput/StudioDecimalInput.tsx
  frontend/libs/studio-components/src/components/StudioDecimalInput/index.ts
  frontend/libs/studio-components/src/components/StudioDecimalInput/utils.test.ts
  frontend/libs/studio-components/src/components/StudioDecimalInput/utils.ts
  frontend/libs/studio-components/src/components/StudioLabelWrapper/StudioLabelWrapper.module.css
  frontend/libs/studio-components/src/components/StudioLabelWrapper/StudioLabelWrapper.test.tsx
  frontend/libs/studio-components/src/components/StudioLabelWrapper/StudioLabelWrapper.tsx
  frontend/libs/studio-components/src/components/StudioLabelWrapper/index.ts
  frontend/libs/studio-components/src/components/StudioTextarea/StudioTextarea.test.tsx
  frontend/libs/studio-components/src/components/StudioTextarea/StudioTextarea.tsx
  frontend/libs/studio-components/src/components/StudioTextarea/index.ts
  frontend/libs/studio-components/src/components/StudioTextfield/StudioTextfield.test.tsx
  frontend/libs/studio-components/src/components/StudioTextfield/StudioTextfield.tsx
  frontend/libs/studio-components/src/components/StudioTextfield/index.ts
  frontend/libs/studio-components/src/components/index.ts
  frontend/libs/studio-components/src/hooks/useTextInputProps.tsx
  frontend/libs/studio-components/src/types/SharedTextInputProps.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/NameField.tsx
  frontend/packages/shared/src/components/AltinnTextField/AltinnTextField.module.css
  frontend/packages/shared/src/components/AltinnTextField/AltinnTextField.test.tsx
  frontend/packages/shared/src/components/AltinnTextField/AltinnTextField.tsx
  frontend/packages/shared/src/components/AltinnTextField/index.ts
Labels: area/data-modeling, solution/studio/designer

#12369 Chore/component schema updates
  frontend/packages/ux-editor/src/testing/componentSchemaMocks.ts
  frontend/packages/ux-editor/src/testing/schemas/json/component/FileUpload.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/FileUploadWithTag.schema.v1.json
  frontend/scripts/componentSchemas/schemaUtils.ts
Labels: area/ui-editor, solution/studio/designer

#12392 Fix build warnings
  frontend/dashboard/components/MakeCopyModal/index.ts
  frontend/dashboard/components/ResourceItem/index.ts
  yarn.lock
Labels: area/dashboard, solution/studio/designer, skip-releasenotes

#12311 9423 chore upgrade altinn studio backend to net 8
  .github/workflows/designer-dotnet-test.yaml
  .github/workflows/dotnet-format.yaml
  .github/workflows/gitea-designer-integration-tests.yaml
  Dockerfile
  backend/packagegroups/NuGet.props
  backend/src/DataModeling/Converter/Csharp/Compiler.cs
  backend/src/DataModeling/Converter/Csharp/CsharpCompilationException.cs
  backend/src/DataModeling/Converter/Csharp/JsonMetadataToCsharpConverter.cs
  backend/src/DataModeling/DataModeling.csproj
  backend/src/Designer/Controllers/DatamodelsController.cs
  backend/src/Designer/Controllers/PreviewController.cs
  backend/src/Designer/Designer.csproj
  backend/src/Designer/Filters/UseSystemTextJsonAttribute.cs
  backend/tests/DataModeling.Tests/DataModeling.Tests.csproj
  backend/tests/Designer.Tests/Controllers/DataModelsController/AddXsdTests.cs
  backend/tests/Designer.Tests/Controllers/RepositorySettingsController/PutTests.cs
  backend/tests/Designer.Tests/Designer.Tests.csproj
  backend/tests/SharedResources.Tests/SharedResources.Tests.csproj
Labels: area/data-modeling, solution/studio/designer, quality/testing, skip-releasenotes, kind/dependencies

#12388 Removed unused sagas
  frontend/app-development/reducers/index.ts
  frontend/app-development/sagas/index.ts
  frontend/app-development/sharedResources/appRelease/appReleaseSagas.ts
  frontend/app-development/sharedResources/appRelease/appReleaseSlice.ts
  frontend/app-development/sharedResources/appRelease/create/createAppReleaseSagas.ts
  frontend/app-development/sharedResources/appRelease/get/getAppReleasesSagas.ts
  frontend/app-development/sharedResources/appRelease/types.ts
  frontend/app-development/sharedResources/configuration/configurationSagas.ts
  frontend/app-development/sharedResources/configuration/configurationSlice.ts
  frontend/app-development/sharedResources/configuration/getEnvironments/getEnvironmentsSagas.ts
  frontend/app-development/sharedResources/configuration/getOrgs/getOrgsSagas.ts
  frontend/app-development/sharedResources/repoStatus/get/getMasterRepoStatusSagas.ts
  frontend/app-development/sharedResources/repoStatus/repoStatusSagas.ts
  frontend/app-development/sharedResources/repoStatus/repoStatusSlice.ts
  frontend/app-development/test/rootStateMock.ts
Labels: solution/studio/designer, skip-releasenotes

#12404 Set hideLabel on object fields in table
  frontend/libs/studio-components/src/hooks/useTextInputProps.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldsTableRow.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/NameField.tsx
Labels: kind/bug, area/data-modeling, solution/studio/designer, added-to-sprint

#12402 separate namespace for new models
  backend/src/DataModeling/Converter/Csharp/JsonMetadataToCsharpConverter.cs
  backend/src/DataModeling/Converter/Interfaces/IModelMetadataToCsharpConverter.cs
  backend/src/DataModeling/Metamodel/ModelMetadataExtensions.cs
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/AddXsd_CsharpNamespaceTests.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/PutDatamodel_CsharpNamespaceTests.cs
Labels: area/data-modeling, solution/studio/designer, quality/testing

#12405 Chore/12320 update address component v4
  frontend/language/src/nb.json
  frontend/packages/shared/src/types/ComponentSpecificConfig.ts
  frontend/packages/shared/src/types/ComponentType.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Address/AddressComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  frontend/packages/ux-editor/src/data/formItemConfig.ts
  frontend/packages/ux-editor/src/testing/componentMocks.ts
  frontend/packages/ux-editor/src/testing/componentSchemaMocks.ts
  frontend/packages/ux-editor/src/testing/schemas/json/component/AddressComponent.schema.v1.json
  frontend/packages/ux-editor/src/types/FormComponent.ts
Labels: area/ui-editor, solution/studio/designer

#12409 success notifications
  backend/src/Designer/EventHandlers/FileSyncHandlerExecutor.cs
  backend/src/Designer/Hubs/SyncHub/ErrorSource.cs
  backend/src/Designer/Hubs/SyncHub/ISyncClient.cs
  backend/src/Designer/Hubs/SyncHub/Source.cs
  backend/src/Designer/Hubs/SyncHub/SyncError.cs
  backend/src/Designer/Hubs/SyncHub/SyncSuccess.cs
Labels: solution/studio/designer

#12371 12306 when there are more than two possible datamodel bindings for a component the section overflows
  frontend/language/src/nb.json
  frontend/packages/shared/src/components/InputActionWrapper/InputActionWrapper.module.css
  frontend/packages/shared/src/components/InputActionWrapper/InputActionWrapper.test.tsx
  frontend/packages/shared/src/components/InputActionWrapper/InputActionWrapper.tsx
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.module.css
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/DataModelBindingRow/DataModelBindingRow.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/DataModelBindingRow/DataModelBindingRow.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/DataModelBindingRow/index.ts
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.tsx
  frontend/packages/ux-editor/src/components/Properties/Text.tsx
  frontend/packages/ux-editor/src/components/config/SelectDataModelComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/SelectDataModelComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentOrderMutation.test.ts
  frontend/packages/ux-editor/src/testing/layoutMock.ts
  frontend/packages/ux-editor/src/utils/datamodel.ts
  frontend/packages/ux-editor/src/utils/formLayoutUtils.test.tsx
  frontend/packages/ux-editor/src/utils/formLayoutUtils.ts
Labels: area/ui-editor, solution/studio/designer

#12412 Use correct componentType for AddressComponent
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.test.tsx
Labels: area/ui-editor, solution/studio/designer

#12408 fix typo
  frontend/language/src/nb.json
Labels: skip-releasenotes

#12415 Add missing test in SchemaModel and fix code
  frontend/packages/schema-model/src/lib/SchemaModel.test.ts
  frontend/packages/schema-model/src/lib/SchemaModel.ts
Labels: area/data-modeling, solution/studio/designer

#12407 Bug/12385 version message and errors in preview
  backend/packagegroups/NuGet.props
  backend/src/Designer/Controllers/ApplicationMetadataController.cs
  backend/src/Designer/Controllers/PreviewController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Models/App/ApplicationMetadata.cs
  backend/src/Designer/Models/App/LayoutSets.cs
  backend/src/Designer/Services/Implementation/ApplicationMetadataService.cs
  backend/src/Designer/Services/Implementation/PreviewService.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/src/Designer/Services/Interfaces/IApplicationMetadataService.cs
  backend/src/Designer/Services/Interfaces/IPreviewService.cs
  backend/src/Designer/TypedHttpClients/AltinnStorage/AltinnStorageAppMetadataClient.cs
  backend/src/Designer/TypedHttpClients/AltinnStorage/IAltinnStorageAppMetadataClient.cs
  backend/tests/Designer.Tests/Controllers/ApplicationMetadataController/AddMetadataForAttachmentTests.cs
  backend/tests/Designer.Tests/Controllers/ApplicationMetadataController/DeleteMetadataForAttachmentTests.cs
  backend/tests/Designer.Tests/Controllers/ApplicationMetadataController/GetApplicationMetadataTests.cs
  backend/tests/Designer.Tests/Controllers/ApplicationMetadataController/UpdateApplicationMetadataTests.cs
  backend/tests/Designer.Tests/Controllers/ApplicationMetadataController/UpdateMetadataForAttachmentTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/ApplicationMetadataTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/ProcessTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/FileSync/TaskIdChangeTests/ApplicationMetadataFileSyncTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/FileSync/TaskIdChangeTests/LayoutSetsFileSyncTests.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnAppGitRepositoryTests.cs
Labels: solution/studio/designer, quality/testing, kind/dependencies

#12422 Apply import/no-duplicates Eslint rule
  frontend/.eslintrc.json
  frontend/app-development/features/appPublish/containers/releaseContainer.tsx
  frontend/app-development/features/dataModelling/DataModelling.tsx
  frontend/app-development/features/simpleMerge/ResetRepoModal.tsx
  frontend/app-development/hooks/queries/useAppPolicyQuery.ts
  frontend/app-development/index.tsx
  frontend/app-preview/src/components/AppBarConfig/AppPreviewBarConfig.test.tsx
  frontend/app-preview/src/views/LandingPage.tsx
  frontend/dashboard/components/RepoList/RepoList.tsx
  frontend/dashboard/index.tsx
  frontend/dashboard/pages/PageLayout/PageLayout.tsx
  frontend/libs/studio-components/src/components/StudioDeleteButton/StudioDeleteButton.tsx
  frontend/libs/studio-components/src/hooks/useTextInputProps.tsx
  frontend/packages/process-editor/src/hooks/useBpmnEditor.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/CustomProperties.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldsTable.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldsTableRow.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/ItemRestrictions.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/NumberRestrictions/NumberRestrictionsReducer.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ReferenceSelectionComponent.test.tsx
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/components/AltinnHeaderProfile/AltinnHeaderProfile.tsx
  frontend/packages/shared/src/components/AltinnHeaderProfile/hooks/useUserNameAndOrg.test.ts
  frontend/packages/shared/src/components/AltinnHeaderProfile/hooks/useUserNameAndOrg.ts
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/ThreeDotsMenu.tsx
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.tsx
  frontend/packages/shared/src/mocks/mocks.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/text-editor/src/TextList.tsx
  frontend/packages/text-editor/src/TextRow.tsx
  frontend/packages/ux-editor-v3/src/components/Elements/DefaultToolbar.tsx
  frontend/packages/ux-editor-v3/src/components/Elements/Elements.tsx
  frontend/packages/ux-editor-v3/src/components/TextResource.tsx
  frontend/packages/ux-editor-v3/src/components/config/EditFormComponent.tsx
  frontend/packages/ux-editor-v3/src/components/config/EditFormContainer.tsx
  frontend/packages/ux-editor-v3/src/components/config/Expressions/ExpressionContent/ExpressionPreview/ExpressionPreview.test.tsx
  frontend/packages/ux-editor-v3/src/components/config/componentSpecificContent/Image/ImageComponent.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditCodeList.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditOptions.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditTextResourceBinding.test.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditTextResourceBindings.test.tsx
  frontend/packages/ux-editor/src/components/Elements/DefaultToolbar.tsx
  frontend/packages/ux-editor/src/components/Elements/Elements.tsx
  frontend/packages/ux-editor/src/components/TextResource.tsx
  frontend/packages/ux-editor/src/components/config/EditFormComponent.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/ExpressionContent/ExpressionPreview/ExpressionPreview.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Image/ImageComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditCodeList/EditCodeList.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBinding.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBindings.test.tsx
  frontend/resourceadm/index.tsx
  frontend/resourceadm/pages/PageLayout/PageLayout.tsx
  frontend/scripts/configurationStats/Layout.ts
  frontend/studio-root/index.tsx
  frontend/studio-root/pages/PageLayout/PageLayout.tsx
Labels: area/data-modeling, area/process, area/ui-editor, area/dashboard, area/app-deploy, solution/studio/designer, area/text-editor, area/studio-root

#12423 Fix datamodelbindings feedback
  frontend/language/src/nb.json
  frontend/packages/shared/src/components/FormField/FormField.module.css
  frontend/packages/shared/src/components/FormField/FormField.tsx
  frontend/packages/shared/src/components/InputActionWrapper/InputActionWrapper.module.css
  frontend/packages/ux-editor-v3/src/components/config/componentSpecificContent/Address/AddressComponent.module.css
  frontend/packages/ux-editor-v3/src/components/config/componentSpecificContent/Address/AddressComponent.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditDataModelBindings.module.css
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.module.css
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.module.css
  frontend/packages/ux-editor/src/components/Properties/Properties.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Address/AddressComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/DefinedBinding/DefinedBinding.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/DefinedBinding/DefinedBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/DefinedBinding/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/EditBinding/EditBinding.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/EditBinding/EditBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/EditBinding/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/EditDataModelBindings.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/EditDataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/EditDataModelBindings.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/UndefinedBinding/UndefinedBinding.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/UndefinedBinding/UndefinedBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/UndefinedBinding/index.ts
Labels: area/ui-editor, solution/studio/designer

#12370 resourceadm: check if resource is deployed before enabling access list connection
  backend/src/Designer/Views/ResourceAdm/Index.cshtml
  frontend/language/src/nb.json
  frontend/resourceadm/components/AccessListDetails/AccessListDetail.tsx
  frontend/resourceadm/components/AccessListEnvLinks/AccessListEnvLinks.module.css
  frontend/resourceadm/components/AccessListEnvLinks/AccessListEnvLinks.test.tsx
  frontend/resourceadm/components/AccessListEnvLinks/AccessListEnvLinks.tsx
  frontend/resourceadm/components/AccessListEnvLinks/index.ts
  frontend/resourceadm/components/ResourceAccessLists/ResourceAccessLists.tsx
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.test.tsx
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  frontend/resourceadm/pages/ListAdminPage/ListAdminPage.tsx
Labels: solution/studio/designer

#12390 resourceadm: change query keys + change verb for edit access list request
  frontend/packages/shared/src/api/mutations.ts
  frontend/resourceadm/components/AccessListDetails/AccessListDetail.test.tsx
  frontend/resourceadm/components/AccessListDetails/AccessListDetail.tsx
  frontend/resourceadm/hooks/mutations/useAddAccessListMemberMutation.ts
  frontend/resourceadm/hooks/mutations/useAddResourceAccessListMutation.ts
  frontend/resourceadm/hooks/mutations/useEditAccessListMutation.ts
  frontend/resourceadm/hooks/mutations/useRemoveAccessListMemberMutation.ts
  frontend/resourceadm/hooks/mutations/useRemoveResourceAccessListMutation.ts
  frontend/resourceadm/hooks/queries/useGetAccessListQuery.ts
  frontend/resourceadm/hooks/queries/useGetResourceAccessListsQuery.ts
Labels: solution/studio/designer
