Repository Altinn/altinn-studio, pull requests merged in 2024-12, with the labels that each got.

#14215 chore: Implementing text when saving scopes
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/SaveStatus/SaveStatus.module.css
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/SaveStatus/SaveStatus.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/SaveStatus/SaveStatus.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/SaveStatus/index.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/ScopeList/ScopeList.tsx
  frontend/language/src/nb.json
Labels: solution/studio/designer, frontend

#14049 fix: Validation when creating a new data model
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/LandingPagePanel.module.css
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SchemaEditorWithToolbar.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/CreateNewWrapper.module.css
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/CreateNewWrapper.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/CreateNewWrapper.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/CreateNewWrapper/CreateNewWrapper.module.css
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/CreateNewWrapper/CreateNewWrapper.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/CreateNewWrapper/CreateNewWrapper.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/CreateNewWrapper/index.ts
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/DeleteWrapper/DeleteWrapper.module.css
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/DeleteWrapper/DeleteWrapper.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/DeleteWrapper/DeleteWrapper.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/DeleteWrapper/index.ts
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/GenerateModelsButton/GenerateModelsButton.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/GenerateModelsButton/index.ts
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/SchemaSelect/SchemaSelect.module.css
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/SchemaSelect/SchemaSelect.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/SchemaSelect/SchemaSelect.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/SchemaSelect/index.ts
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/TopToolbar.module.css
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/TopToolbar.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/TopToolbar.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload/XSDUpload.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload/index.ts
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload/useValidationAlert.ts
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/types/FileNameError.ts
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/utils/validationUtils.test.ts
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/utils/validationUtils.ts
  frontend/app-development/hooks/mutations/useGenerateModelsMutation.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/AccessControlTab/AccessControlTab.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/AccessControlTab/SelectAllowedPartyTypes/SelectAllowedPartyTypes.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/SetupTab/SetupTab.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/SetupTab/SetupTabContent/SetupTabContent.test.tsx
  frontend/app-development/test/applicationMetadataMock.ts
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/constants.js
  frontend/packages/shared/src/hooks/useValidateSchemaName.test.ts
  frontend/packages/shared/src/hooks/useValidateSchemaName.ts
  frontend/packages/ux-editor-v3/src/containers/FormDesigner.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
Labels: area/data-modeling, area/ui-editor, solution/studio/designer, text/content, frontend, team/studio-domain1

#14201 fix: only call onInvalid if onInvalid is defined
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.test.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#14054 feat: render StudioCodeListEditor inside each code list accordion
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/StudioInputTable.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeLists/CodeLists.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeLists/CodeLists.tsx
Labels: solution/studio/designer, frontend, team/studio-domain1

#14157 feat: add code list name validation
  frontend/app-development/features/appContentLibrary/AppContentLibrary.test.tsx
  frontend/app-development/features/appContentLibrary/AppContentLibrary.tsx
  frontend/language/src/nb.json
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeList.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeListsActionsBar/CodeListsActionsBar.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeListsActionsBar/CodeListsActionsBar.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeListsActionsBar/CreateNewCodeListModal/CreateNewCodeListModal.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/CodeListsActionsBar/CreateNewCodeListModal/CreateNewCodeListModal.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/hooks/useInputCodeListNameErrorMessage.test.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/hooks/useInputCodeListNameErrorMessage.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/hooks/useUploadCodeListNameErrorMessage.test.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/hooks/useUploadCodeListNameErrorMessage.ts
  frontend/libs/studio-pure-functions/src/FileNameUtils/FileNameUtils.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditOptionList/EditOptionList.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditOptionList/EditOptionList.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditOptionList/utils/findFileNameError.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditOptionList/utils/findFileNameError.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#14210 feat(ui-editor): enable component poc and feedback form
  frontend/app-development/features/overview/components/News/NewsContent/news.nb.json
  frontend/libs/studio-feedback-form/src/FeedbackForm/FeedbackForm.module.css
  frontend/libs/studio-feedback-form/src/FeedbackForm/FeedbackForm.test.tsx
  frontend/libs/studio-feedback-form/src/FeedbackForm/FeedbackForm.tsx
  frontend/libs/studio-feedback-form/src/FeedbackForm/Question/TextQuestion.tsx
  frontend/libs/studio-feedback-form/src/FeedbackForm/Question/YesNoQuestion.tsx
  frontend/libs/studio-feedback-form/src/config/FeedbackFormImpl.test.tsx
  frontend/libs/studio-feedback-form/src/config/FeedbackFormImpl.tsx
  frontend/packages/shared/src/api/paths.js
  frontend/packages/ux-editor/src/containers/DesignView/AddItem/AddItemModal.module.css
  frontend/packages/ux-editor/src/containers/DesignView/AddItem/ComponentButton.module.css
  frontend/packages/ux-editor/src/containers/DesignView/AddItem/ComponentButton.tsx
  frontend/packages/ux-editor/src/containers/DesignView/AddItem/FeedbackForm.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/AddItem/FeedbackForm.tsx
  frontend/packages/ux-editor/src/containers/DesignView/AddItem/ToggleAddComponentPoc.module.css
  frontend/packages/ux-editor/src/containers/DesignView/AddItem/ToggleAddComponentPoc.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/AddItem/ToggleAddComponentPoc.tsx
  frontend/packages/ux-editor/src/containers/FormDesignerToolbar.tsx
  frontend/packages/ux-editor/src/data/formItemConfig.ts
Labels: area/ui-editor, solution/studio/designer, area/overview, frontend

#14232 chore: Patch azure security keyvault
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes

#14147 chore(resource-adm): Use new StudioContentMenu in resource admin
  frontend/resourceadm/components/LeftNavigationBar/GoBackButton/GoBackButton.module.css
  frontend/resourceadm/components/LeftNavigationBar/GoBackButton/GoBackButton.test.tsx
  frontend/resourceadm/components/LeftNavigationBar/GoBackButton/GoBackButton.tsx
  frontend/resourceadm/components/LeftNavigationBar/GoBackButton/index.ts
  frontend/resourceadm/components/LeftNavigationBar/LeftNavigationBar.module.css
  frontend/resourceadm/components/LeftNavigationBar/LeftNavigationBar.test.tsx
  frontend/resourceadm/components/LeftNavigationBar/LeftNavigationBar.tsx
  frontend/resourceadm/components/LeftNavigationBar/Tab/LeftNavigationTab.ts
  frontend/resourceadm/components/LeftNavigationBar/Tab/Tab.module.css
  frontend/resourceadm/components/LeftNavigationBar/Tab/Tab.test.tsx
  frontend/resourceadm/components/LeftNavigationBar/Tab/Tab.tsx
  frontend/resourceadm/components/LeftNavigationBar/Tab/TabContent/TabContent.test.tsx
  frontend/resourceadm/components/LeftNavigationBar/Tab/TabContent/TabContent.tsx
  frontend/resourceadm/components/LeftNavigationBar/Tab/TabContent/index.ts
  frontend/resourceadm/components/LeftNavigationBar/Tab/index.ts
  frontend/resourceadm/components/LeftNavigationBar/index.ts
  frontend/resourceadm/pages/ResourcePage/ResourcePage.module.css
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/resourceadm/types/NavigationBarPage.d.ts
  frontend/resourceadm/utils/resourceUtils/index.ts
  frontend/resourceadm/utils/resourceUtils/resourceUtils.test.tsx
  frontend/resourceadm/utils/resourceUtils/resourceUtils.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, skip-manual-testing

#14236 fix: allow appmetadata to be undefined when validating name when data model is uploaded
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/utils/validationUtils.test.ts
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/utils/validationUtils.ts
Labels: area/data-modeling, solution/studio/designer, frontend, skip-manual-testing

#14156 chore(resource-adm): performance improvements / minor changes
  .github/workflows/run-playwright-resourceadm-on-pr.yml
  frontend/packages/shared/src/enums/ServerCodes.ts
  frontend/resourceadm/hooks/mutations/useAddAccessListMemberMutation.ts
  frontend/resourceadm/hooks/mutations/useRemoveAccessListMemberMutation.ts
  frontend/resourceadm/package.json
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.test.tsx
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.test.tsx
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.test.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/resourceadm/utils/resourceUtils/resourceUtils.ts
  yarn.lock
Labels: solution/studio/designer, skip-releasenotes, kind/dependencies, area/resource-adm, frontend, skip-manual-testing

#14196 style: remove help texts in other settings
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditBooleanValue.tsx
  frontend/packages/ux-editor/src/hooks/index.ts
  frontend/packages/ux-editor/src/hooks/useComponentPropertyHelpText.test.ts
  frontend/packages/ux-editor/src/hooks/useComponentPropertyHelpText.ts
Labels: area/ui-editor, solution/studio/designer, frontend

#14167 feat(resource-adm): add better error messages for migrate delegations
  backend/src/Designer/Controllers/ResourceAdminController.cs
  frontend/packages/shared/src/enums/ServerCodes.ts
  frontend/resourceadm/components/MigrationPanel/MigrationPanel.test.tsx
  frontend/resourceadm/components/MigrationPanel/MigrationPanel.tsx
  frontend/resourceadm/language/src/nb.json
  frontend/resourceadm/utils/resourceUtils/index.ts
  frontend/resourceadm/utils/resourceUtils/resourceUtils.test.tsx
  frontend/resourceadm/utils/resourceUtils/resourceUtils.ts
Labels: solution/studio/designer, skip-releasenotes, backend, frontend, skip-manual-testing

#14239 feat: also resolve app version from experimental package
  backend/src/Designer/Helpers/PackageVersionHelper.cs
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
  backend/tests/Designer.Tests/Helpers/PackageVersionHelperTests.cs
Labels: solution/studio/designer, quality/testing, backend, skip-manual-testing

#14237 refactor: rename sub-components of StudioCodeListEditor
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14250 chore: update storybook versions
  frontend/libs/studio-components/package.json
  yarn.lock
Labels: solution/studio/designer, skip-releasenotes, kind/dependencies, frontend, skip-manual-testing

#14240 chore: delete EFormidlingClient code, in preparation of migration
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/Altinn.EFormidlingClient.Tests.csproj
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/TestData/arkivmelding.xml
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/TestData/arkivmelding2.xml
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/TestData/arkivmeldingInvalid.xml
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/TestData/sbd.json
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/TestData/sbdInvalid.json
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/TestData/test.pdf
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/UnitTest/EFormidlingClientUnitTest.cs
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.Tests/appsettings.json
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient.sln
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/Altinn.EFormidlingClient.csproj
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/Configuration/EFormidlingClientSettings.cs
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/EFormidlingClient.cs
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/Extensions/HttpClientExtension.cs
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/IEFormidlingClient.cs
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/Models/Arkivmelding.cs
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/Models/Capabilities.cs
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/Models/Conversation.cs
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/Models/CreateSubscription.cs
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/Models/StandardBusinessDocument.cs
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/Models/Statuses.cs
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn.EFormidlingClient/README.md
  src/Altinn.Common/Altinn.EFormidlingClient/Altinn3.ruleset
  src/Altinn.Common/Altinn.EFormidlingClient/Settings.StyleCop
  src/Altinn.Common/Altinn.EFormidlingClient/stylecop.json
Labels: skip-releasenotes, added-to-sprint, team/studio-core, skip-manual-testing

#14247 chore: Add new user story template
  .github/ISSUE_TEMPLATE/user_story.yaml
Labels: skip-releasenotes, skip-manual-testing

#14252 fix(resource-adm): show correct environments for org
  backend/src/Designer/Controllers/ResourceAdminController.cs
Labels: solution/studio/designer, skip-releasenotes, backend, area/resource-adm, skip-manual-testing

#14197 refactor: replace altinn confirm dialog with studio components
  frontend/app-development/features/appPublish/components/Deploy/Deploy.test.tsx
  frontend/app-development/features/appPublish/components/Deploy/Deploy.tsx
  frontend/app-development/features/appPublish/components/Deploy/DeployDropdown/DeployDropdown.module.css
  frontend/app-development/features/appPublish/components/Deploy/DeployDropdown/DeployDropdown.test.tsx
  frontend/app-development/features/appPublish/components/Deploy/DeployDropdown/DeployDropdown.tsx
  frontend/app-development/features/appPublish/components/Deploy/DeployDropdown/DeployPopover/DeployPopover.module.css
  frontend/app-development/features/appPublish/components/Deploy/DeployDropdown/DeployPopover/DeployPopover.test.tsx
  frontend/app-development/features/appPublish/components/Deploy/DeployDropdown/DeployPopover/DeployPopover.tsx
  frontend/app-development/features/appPublish/components/Deploy/DeployDropdown/DeployPopover/index.ts
  frontend/app-development/features/appPublish/components/Deploy/DeployDropdown/index.ts
  frontend/app-development/features/appPublish/components/Deploy/DeployDropdown/utils.test.ts
  frontend/app-development/features/appPublish/components/Deploy/DeployDropdown/utils.ts
  frontend/app-development/features/appPublish/components/Deploy/index.ts
  frontend/app-development/features/appPublish/components/DeployDropdown.test.tsx
  frontend/app-development/features/appPublish/components/DeployDropdown.tsx
  frontend/language/src/nb.json
Labels: area/app-deploy, solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#14255 chore: rename and minor updates to user story template
  .github/ISSUE_TEMPLATE/user_story.yml
Labels: skip-releasenotes, skip-manual-testing

#14198 feat: adding featureFlag for un-deploy
  frontend/app-development/features/appPublish/components/DeploymentEnvironment.tsx
  frontend/app-development/features/appPublish/components/UnDeploy/UnDeploy.test.tsx
  frontend/app-development/features/appPublish/components/UnDeploy/UnDeploy.tsx
  frontend/app-development/features/appPublish/components/UnDeploy/index.ts
  frontend/language/src/nb.json
  frontend/packages/shared/src/utils/featureToggleUtils.ts
Labels: area/app-deploy, solution/studio/designer, frontend, skip-manual-testing

#14180 feat: add endpoint for updating option list id
  backend/src/Designer/Controllers/OptionsController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Infrastructure/GitRepository/GitRepository.cs
  backend/src/Designer/Services/Implementation/OptionsService.cs
  backend/src/Designer/Services/Interfaces/IOptionsService.cs
  backend/tests/Designer.Tests/Controllers/OptionsController/UpdateOptionListIdTests.cs
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, team/studio-domain1, team/studio-core, skip-documentation

#14225 perf: Implement ux feedback for summary2 config
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Component.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Target/Summary2Target.tsx
  frontend/packages/ux-editor/src/data/formItemConfig.ts
  frontend/packages/ux-editor/src/testing/componentMocks.ts
Labels: area/ui-editor, solution/studio/designer, frontend

#14233 feat: added validation when creating new datamodel in subform
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/CreateNewSubformSection/CreateNewSubformSection.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/CreateNewSubformSection/CreateNewSubformSection.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/CreateNewSubformSection/SubformDataModel.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/CreateNewSubformSection/SubformDataModel.tsx
Labels: area/ui-editor, solution/studio/designer, frontend

#14216 fix: fixed overflow of texts for components in utforming page
  frontend/libs/studio-components/src/components/StudioTreeView/StudioTreeViewItem/StudioTreeViewItem.module.css
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormItem/FormItemTitle/FormItemTitle.module.css
Labels: area/ui-editor, solution/studio/designer, frontend

#14205 feat: addded show/hide button for switches in config
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.module.css
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.test.tsx
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
Labels: area/ui-editor, solution/studio/designer, frontend

#14254 fix: Update layout set list when adding a new subform
  frontend/app-development/components/WebSocketSyncWrapper/WebSocketSyncWrapper.test.tsx
  frontend/app-development/components/WebSocketSyncWrapper/WebSocketSyncWrapper.tsx
  frontend/app-development/hooks/mutations/useAddLayoutSetMutation.ts
  frontend/app-development/hooks/mutations/useDeleteLayoutSetMutation.ts
  frontend/app-development/hooks/mutations/useUpdateLayoutSetIdMutation.ts
  frontend/app-development/hooks/mutations/useUpdateProcessDataTypesMutation.test.ts
  frontend/app-development/hooks/mutations/useUpdateProcessDataTypesMutation.ts
  frontend/packages/shared/src/queryInvalidator/SyncSuccessQueriesInvalidator.test.ts
  frontend/packages/shared/src/queryInvalidator/SyncSuccessQueriesInvalidator.ts
Labels: solution/studio/designer, frontend

#14262 fix: Simplify autocomplete input for V3
  frontend/libs/studio-components/src/components/StudioNativeSelect/StudioNativeSelect.tsx
  frontend/libs/studio-components/src/components/StudioNativeSelect/index.ts
  frontend/packages/ux-editor-v3/src/components/config/EditFormComponent.test.tsx
  frontend/packages/ux-editor-v3/src/components/config/componentConfig.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditAutoComplete.test.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditAutoComplete.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditAutocomplete/EditAutocomplete.test.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditAutocomplete/EditAutocomplete.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditAutocomplete/autocompleteOptions.ts
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditAutocomplete/index.ts
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditAutocomplete/updateAutocomplete.test.ts
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditAutocomplete/updateAutocomplete.ts
Labels: solution/studio/designer, quality/code, quality/debt, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, skip-manual-testing, skip-documentation

#14279 refactor: add 'page' suffix to the library page components
  frontend/app-development/features/appContentLibrary/AppContentLibrary.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeList/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CodeListsActionsBar.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CodeListsActionsBar.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CodeListsActionsBar.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CreateNewCodeListModal/CreateNewCodeListModal.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CreateNewCodeListModal/CreateNewCodeListModal.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CreateNewCodeListModal/CreateNewCodeListModal.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsCounterMessage/CodeListsCounterMessage.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsCounterMessage/CodeListsCounterMessage.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsCounterMessage/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/hooks/useCodeListEditorTexts.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/hooks/useInputCodeListNameErrorMessage.test.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/hooks/useInputCodeListNameErrorMessage.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/hooks/useUploadCodeListNameErrorMessage.test.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/hooks/useUploadCodeListNameErrorMessage.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/Images/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/ImagesPage/ImagesPage.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/ImagesPage/ImagesPage.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/ImagesPage/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/index.ts
  frontend/libs/studio-content-library/src/types/PagesProps.ts
  frontend/libs/studio-content-library/src/utils/router/RouterRouteMapper.test.ts
  frontend/libs/studio-content-library/src/utils/router/RouterRouteMapper.ts
Labels: solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing

#14281 fix: update description to mention that data model binding and label are required
  frontend/language/src/nb.json
Labels: solution/studio/designer, frontend

#14194 refactor: Remove aschild from StudioPopover
  frontend/app-development/features/appPublish/components/DeployDropdown.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/DeleteWrapper/DeleteWrapper.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderPopoverTrigger/StudioPageHeaderPopoverTrigger.test.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderPopoverTrigger/StudioPageHeaderPopoverTrigger.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderPopoverTrigger/index.ts
  frontend/libs/studio-components/src/components/StudioPageHeader/index.ts
  frontend/libs/studio-components/src/components/StudioPopover/StudioPopover.tsx
  frontend/libs/studio-components/src/components/StudioPopover/index.ts
  frontend/libs/studio-components/src/types/WithoutAsChild.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldsTableRow.tsx
  frontend/packages/shared/src/components/AltinnConfirmDialog.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/ThreeDotsMenu.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/FetchChangesPopover/FetchChangesPopover.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/ShareChangesPopover.tsx
  frontend/packages/shared/src/components/PreviewLimitationsInfo/PreviewLimitationsInfo.tsx
  frontend/packages/shared/src/types/WithDataAttributes.ts
  frontend/packages/text-editor/src/RightMenu.tsx
  frontend/packages/text-editor/src/TextRow.tsx
  frontend/packages/ux-editor-v3/src/components/TextResource.tsx
  frontend/packages/ux-editor-v3/src/containers/DesignView/PageAccordion/NavigationMenu/InputPopover/InputPopover.tsx
Labels: area/data-modeling, area/text-editor, area/app-deploy, solution/studio/designer, quality/code, area/version-control, quality/debt, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14294 fix: select default data model when data model binding is not provided for a component
  frontend/packages/ux-editor/src/hooks/useValidDataModels.test.ts
  frontend/packages/ux-editor/src/hooks/useValidDataModels.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, added-to-sprint, frontend, team/studio-domain2, skip-manual-testing

#14128 feat: editing code list ids in the content library
  frontend/app-development/features/appContentLibrary/AppContentLibrary.test.tsx
  frontend/app-development/features/appContentLibrary/AppContentLibrary.tsx
  frontend/language/src/nb.json
  frontend/libs/studio-content-library/mocks/mockPagesConfig.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/EditCodeList.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/EditCodeList.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CodeListsActionsBar.tsx
  frontend/libs/studio-content-library/src/config/ContentResourceLibraryImpl.test.tsx
  frontend/libs/studio-content-library/src/utils/router/RouterRouteMapper.test.ts
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, frontend, team/studio-domain1

#14302 refactor: Correct ordered list props type
  frontend/libs/studio-components/src/components/StudioList/StudioList.tsx
Labels: solution/studio/designer, quality/code, skip-releasenotes, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation

#14257 fix: generalize file name regex
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload/XSDUpload.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload/XSDUpload.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload/useValidationAlert.ts
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/utils/validationUtils.test.ts
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/utils/validationUtils.ts
  frontend/language/src/nb.json
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CodeListsActionsBar.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CreateNewCodeListModal/CreateNewCodeListModal.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/hooks/useCommonCodeListNameErrorMessages.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/hooks/useInputCodeListNameErrorMessage.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/hooks/useUploadCodeListNameErrorMessage.ts
  frontend/libs/studio-pure-functions/src/FileNameUtils/FileNameUtils.test.ts
  frontend/libs/studio-pure-functions/src/FileNameUtils/FileNameUtils.ts
  frontend/libs/studio-pure-functions/src/FileNameUtils/index.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CreateCustomReceiptForm/CreateCustomReceiptForm.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CustomReceipt/CustomReceipt.test.tsx
  frontend/packages/shared/src/utils/LayoutAndLayoutSetNameValidationUtils/validateLayoutNameAndLayoutSetName.ts
  frontend/packages/shared/src/utils/layoutSetsUtils.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListUploader/OptionListUploader.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListUploader/OptionListUploader.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListUploader/utils/findFileNameError.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListUploader/utils/findFileNameError.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/SelectTab/SelectTab.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/SelectTab/SelectTab.tsx
  frontend/packages/ux-editor/src/utils/designViewUtils/designViewUtils.test.ts
  frontend/packages/ux-editor/src/utils/designViewUtils/designViewUtils.ts
Labels: area/data-modeling, area/process, area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1

#14295 refactor: Remove remaining asChild props from types
  frontend/libs/studio-components/src/components/StudioAlert/StudioAlert.tsx
  frontend/libs/studio-components/src/components/StudioBooleanToggleGroup/StudioBooleanToggleGroup.tsx
  frontend/libs/studio-components/src/components/StudioCheckbox/StudioCheckbox.tsx
  frontend/libs/studio-components/src/components/StudioCheckbox/StudioCheckboxGroup.tsx
  frontend/libs/studio-components/src/components/StudioCombobox/StudioCombobox.tsx
  frontend/libs/studio-components/src/components/StudioDropdownMenu/StudioDropdownMenu.tsx
  frontend/libs/studio-components/src/components/StudioError/StudioError.tsx
  frontend/libs/studio-components/src/components/StudioErrorMessage/StudioErrorMessage.tsx
  frontend/libs/studio-components/src/components/StudioFieldset/StudioFieldset.tsx
  frontend/libs/studio-components/src/components/StudioLabelAsParagraph/StudioLabelAsParagraph.tsx
  frontend/libs/studio-components/src/components/StudioList/StudioList.tsx
  frontend/libs/studio-components/src/components/StudioModal/StudioModalDialog/StudioModalDialog.tsx
  frontend/libs/studio-components/src/components/StudioModal/StudioModalRoot.tsx
  frontend/libs/studio-components/src/components/StudioNativeSelect/StudioNativeSelect.tsx
  frontend/libs/studio-components/src/components/StudioTable/StudioTable.tsx
  frontend/libs/studio-components/src/types/SharedTextInputProps.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14217 feat: Add text resource picker to input table
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/Cell.module.css
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellTextResource.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/index.ts
  frontend/libs/studio-components/src/components/StudioInputTable/StudioInputTable.test.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/dom-utils/isCombobox.test.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/dom-utils/isCombobox.ts
  frontend/libs/studio-components/src/components/StudioInputTable/test-data/TestTable.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/test-data/testTableData.ts
  frontend/libs/studio-hooks/src/hooks/usePropState.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14298 fix(resource-adm): remove feature toggle for resource migration
  frontend/packages/shared/src/utils/featureToggleUtils.test.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/resourceadm/pages/ResourcePage/ResourcePage.test.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, skip-manual-testing

#14297 fix: if a data model field binding is removed, delete the prop
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/EditBinding.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/EditBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/EditBindingButtons.tsx
  frontend/packages/ux-editor/src/testing/componentMocks.ts
Labels: area/ui-editor, solution/studio/designer, frontend

#14306 test: Centralize test data for code list editor
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.stories.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.test.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/test-data/codeListWithoutTextResources.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/test-data/texts.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/types/CodeListEditorTexts.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14303 fix: remove depth validation logic from ux-editor
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  frontend/packages/ux-editor/src/utils/formLayoutUtils.test.tsx
  frontend/packages/ux-editor/src/utils/formLayoutUtils.ts
Labels: kind/bug, area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#14311 refactor: Fix StudioTextResourceInput exports
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellTextResource.tsx
  frontend/libs/studio-components/src/components/StudioTextResourceInput/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, quality/code, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14312 test: Add test data for a code list with text resource references
  frontend/libs/studio-components/src/components/StudioCodelistEditor/test-data/codeListWithTextResources.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/test-data/textResources.ts
Labels: solution/studio/designer, quality/testing, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14313 fix: lock release and deployment creation
  backend/src/Designer/Middleware/UserRequestSynchronization/Services/RequestSyncEvaluators/EndpointNameSyncEvaluator.cs
Labels: solution/studio/designer, backend, skip-manual-testing

#14320 feat: serialize nillable copmlex types as nil
  backend/src/DataModeling/Converter/Csharp/JsonMetadataToCsharpConverter.cs
  testdata/Model/CSharp/Gitea/krt-1188a-1.cs
  testdata/Model/CSharp/Gitea/srf-fufinn-behovsendring.cs
  testdata/Model/CSharp/Gitea/srf-fufinn-behovskartleggin.cs
  testdata/Model/CSharp/Gitea/srf-melding-til-statsforvalteren.cs
  testdata/Model/CSharp/XsAll/ferdigattest/v4/ferdigattest.cs
  testdata/Model/CSharp/XsAll/igangsettingstillatelse/v4/igangsettingstillatelse.cs
  testdata/Model/CSharp/XsAll/midlertidigbrukstillatelse/v4/midlertidigbrukstillatelse.cs
  testdata/Model/CSharp/XsAll/planvarsel/v2/planvarsel.cs
  testdata/Model/Xml/XsAll/xsall-example-nillable-sample.xml
  testdata/Model/XmlSchema/XsAll/xsall-example.xsd
Labels: area/data-modeling, solution/studio/designer, quality/testing, backend, skip-manual-testing

#14266 refactor: fetch only single needed option list in option list editor
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/hooks/mutations/useAddOptionListMutation.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOptionListIdMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOptionListIdMutation.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOptionListMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOptionListMutation.ts
  frontend/packages/shared/src/hooks/queries/index.ts
  frontend/packages/shared/src/hooks/queries/useOptionListQuery.test.ts
  frontend/packages/shared/src/hooks/queries/useOptionListQuery.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/QueryKey.ts
  frontend/packages/shared/src/types/api/OptionsLists.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/EditTab.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/LibraryOptionsEditor/LibraryOptionsEditor.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/LibraryOptionsEditor/LibraryOptionsEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/LibraryOptionsEditor/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/ManualOptionsEditor/ManualOptionsEditor.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/ManualOptionsEditor/ManualOptionsEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/ManualOptionsEditor/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListEditor.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListEditor.tsx
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1

#14310 fix: remove current code list name from list before passing to findFileNameError
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/EditCodeList.tsx
Labels: solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1

#14265 chore: 14264 studio radio
  frontend/libs/studio-components/src/components/StudioRadio/index.tsx
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#14275 feat(subform): Add GET and PUT endpoints for datamodel metadata
  backend/src/Designer/Controllers/DatamodelsController.cs
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/src/Designer/Services/Interfaces/ISchemaModelService.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/GetTests.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/PutDatamodelTests.cs
  backend/tests/Designer.Tests/Services/SchemaModelServiceTests.cs
Labels: area/data-modeling, solution/studio/designer, quality/testing, backend, team/studio-domain1, team/studio-domain2, skip-manual-testing

#14305 fix: make slider 100% height and hide thumb in firefox
  frontend/libs/studio-components/src/components/StudioGridSelector/StudioGridSelector.module.css
Labels: solution/studio/designer, frontend

#14321 fix: 13738 fix dotnet build warnings
  backend/packagegroups/NuGet.props
  backend/src/DataModeling/Converter/Csharp/CsharpGenerationException.cs
  backend/src/DataModeling/Converter/Json/JsonSchemaConvertException.cs
  backend/src/DataModeling/Converter/Metadata/ModelMetadataConvertException.cs
  backend/src/DataModeling/Converter/Xml/XmlSchemaConvertException.cs
  backend/src/DataModeling/DataModeling.csproj
  backend/src/Designer/Controllers/ApplicationMetadataController.cs
  backend/src/Designer/Controllers/DatamodelsController.cs
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Infrastructure/GitRepository/LocalGitCloneIoException.cs
  backend/src/Designer/Models/AccessList.cs
  backend/src/Designer/Models/AccessListMember.cs
  backend/src/Designer/Models/BrregPartyResultSet.cs
  backend/src/Designer/Models/CreateAccessListModel.cs
  backend/src/Designer/Models/Dto/AccessListInfoDtoPaginated.cs
  backend/src/Designer/Models/Dto/AccessListMember.cs
  backend/src/Designer/Models/LayoutSets.cs
  backend/src/Designer/Models/ListviewServiceResource.cs
  backend/src/Designer/Models/PagedAccessListResponse.cs
  backend/src/Designer/Models/Preview/DataPatchRequest.cs
  backend/src/Designer/Models/ServiceResource.cs
  backend/src/Designer/Program.cs
  backend/src/Designer/RepositoryClient/Model/ContentsResponse.cs
  backend/src/Designer/Services/Implementation/MaskinPortenClientDefinition.cs
  backend/src/Designer/Services/Implementation/ProcessModeling/ProcessModelingService.cs
  backend/src/Designer/TypedHttpClients/Altinn2Metadata/Altinn2MetadataClient.cs
  backend/src/Designer/TypedHttpClients/AzureDevOps/AzureDevOpsBuildClient.cs
  backend/tests/DataModeling.Tests/DataModeling.Tests.csproj
  backend/tests/Designer.Tests/Controllers/AnsattPortenController/AuthStatusTests.cs
  backend/tests/Designer.Tests/Controllers/ApiTests/ApiTestsBase.cs
  backend/tests/Designer.Tests/Controllers/ApiTests/TestAuthHandler.cs
  backend/tests/Designer.Tests/Controllers/ResourceAdminController/AccessListTests.cs
  backend/tests/Designer.Tests/Controllers/ResourceAdminController/AddResourceTests.cs
  backend/tests/Designer.Tests/Helpers/WebScrapingUtils.cs
  backend/tests/Designer.Tests/Services/AppDevelopmentServiceTest.cs
  testdata/Model/CSharp/melding.cs
Labels: area/data-modeling, solution/studio/designer, quality/testing, skip-releasenotes, backend, kind/dependencies, team/studio-domain1, team/studio-core, skip-manual-testing, skip-documentation

#14291 feat: add endpoint for checking for option lists usages
  backend/src/Designer/Controllers/OptionsController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Models/Dto/OptionListReferences.cs
  backend/src/Designer/Services/Implementation/OptionsService.cs
  backend/src/Designer/Services/Interfaces/IOptionsService.cs
  backend/tests/Designer.Tests/Controllers/OptionsController/GetOptionListsReferencesTests.cs
  backend/tests/Designer.Tests/Services/OptionsServiceTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-options/App/ui/layoutSet1/layouts/layoutWithFourCheckboxComponentsAndThreeOptionListIdRefs.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-options/App/ui/layoutSet1/layouts/layoutWithOneOptionListIdRef.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-options/App/ui/layoutSet2/layouts/layoutWithTwoOptionListIdRefs.json
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, area/content-library, team/studio-domain1, skip-documentation

#14344 refactor: Added help text lines for RepeatingGroup and PaymentDetails
  frontend/language/src/nb.json
Labels: solution/studio/designer, frontend

#14322 fix: move tooltip title from accordion to accordion title
  frontend/language/src/nb.json
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.tsx
Labels: solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14330 fix: specify Studio as source in error message when backend serves a 404
  frontend/language/src/nb.json
Labels: solution/studio/designer, skip-releasenotes, text/content, frontend, team/studio-domain1, skip-manual-testing, skip-documentation
