Repository Altinn/altinn-studio, pull requests merged in 2024-06, with the labels that each got.

#12866 update processEditorDataTypePath- endpoint to also include taskid
  backend/src/Designer/Controllers/ProcessModelingController.cs
  backend/src/Designer/Services/Implementation/ProcessModeling/ProcessModelingService.cs
  backend/src/Designer/Services/Interfaces/IProcessModelingService.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/AddDataTypeToApplicationMetadataTests.cs
  frontend/app-development/hooks/mutations/useAddDataTypeToAppMetadata.test.ts
  frontend/app-development/hooks/mutations/useAddDataTypeToAppMetadata.ts
  frontend/packages/process-editor/src/contexts/BpmnApiContext.tsx
  frontend/packages/process-editor/src/utils/ProcessTaskManager/AddProcessTaskManager.test.ts
  frontend/packages/process-editor/src/utils/ProcessTaskManager/AddProcessTaskManager.ts
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
Labels: area/process, solution/studio/designer, quality/testing

#12886 Bug/12043 uploading a data model with invalid name shows wrong error messages
  frontend/language/src/nb.json
  frontend/packages/shared/src/components/FileSelector.test.tsx
  frontend/packages/shared/src/components/FileSelector.tsx
Labels: solution/studio/designer

#12900 Delete dataType connection in LayoutSets based on dataTypeId directly when deleting a data model
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/DeleteDatamodelTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/PreviewControllerTestsBase.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layout-sets.json
Labels: solution/studio/designer, quality/testing

#12901 refactor(jsonEditor): removed unused file
  backend/src/Designer/wwwroot/designer/js/jsoneditor.js
Labels: solution/studio/designer, skip-releasenotes, added-to-sprint

#12903 Security issues fix
  backend/src/Designer/Services/Implementation/GiteaAPIWrapper/GiteaAPIWrapper.cs
  backend/src/Designer/Services/Implementation/ResourceRegistryService.cs
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/src/Designer/TypedHttpClients/AltinnAuthentication/AltinnAuthenticationClient.cs
  backend/src/Designer/TypedHttpClients/AltinnAuthorization/AltinnAuthorizationPolicyClient.cs
  backend/src/Designer/TypedHttpClients/AltinnStorage/AltinnStorageAppMetadataClient.cs
  backend/src/Designer/TypedHttpClients/AltinnStorage/AltinnStorageTextResourceClient.cs
Labels: solution/studio/designer

#12888 Implementing StudioPopover
  frontend/libs/studio-components/src/components/StudioPopover/StudioPopover.mdx
  frontend/libs/studio-components/src/components/StudioPopover/StudioPopover.stories.tsx
  frontend/libs/studio-components/src/components/StudioPopover/StudioPopover.test.tsx
  frontend/libs/studio-components/src/components/StudioPopover/StudioPopover.tsx
  frontend/libs/studio-components/src/components/StudioPopover/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, added-to-sprint

#12884 12600 process receipt fixes
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  frontend/app-development/features/processEditor/ProcessEditor.tsx
  frontend/language/src/nb.json
  frontend/packages/process-editor/src/ProcessEditor.test.tsx
  frontend/packages/process-editor/src/ProcessEditor.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CreateCustomReceiptForm/CreateCustomReceiptForm.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CreateCustomReceiptForm/CreateCustomReceiptForm.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CreateCustomReceiptForm/SelectCustomReceiptDataModelId/SelectCustomReceiptDataModelId.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CreateCustomReceiptForm/SelectCustomReceiptDataModelId/SelectCustomReceiptDataModelId.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CustomReceipt/CustomReceipt.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CustomReceipt/CustomReceipt.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CustomReceipt/CustomReceipt.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataType/SelectDataType/SelectDataType.tsx
  frontend/packages/process-editor/src/contexts/BpmnApiContext.tsx
  frontend/packages/process-editor/src/utils/configPanelUtils/configPanelUtils.test.ts
  frontend/packages/process-editor/src/utils/configPanelUtils/configPanelUtils.ts
  frontend/packages/process-editor/src/utils/configPanelUtils/index.ts
  frontend/packages/process-editor/test/mocks/bpmnContextMock.ts
  frontend/packages/shared/src/hooks/queries/useAppMetadataModelIdsQuery.ts
Labels: area/process, solution/studio/designer

#12907 Replace m UI popover with studio popover in mergeconflict warning
  frontend/app-development/features/simpleMerge/DownloadRepoModal.tsx
  frontend/app-development/features/simpleMerge/DownloadRepoPopoverContent/DownloadRepoPopoverContent.module.css
  frontend/app-development/features/simpleMerge/DownloadRepoPopoverContent/DownloadRepoPopoverContent.test.tsx
  frontend/app-development/features/simpleMerge/DownloadRepoPopoverContent/DownloadRepoPopoverContent.tsx
  frontend/app-development/features/simpleMerge/DownloadRepoPopoverContent/index.ts
  frontend/app-development/features/simpleMerge/MergeConflictWarning.module.css
  frontend/app-development/features/simpleMerge/MergeConflictWarning.test.tsx
  frontend/app-development/features/simpleMerge/MergeConflictWarning.tsx
  frontend/app-development/features/simpleMerge/RemoveChangesPopoverContent/RemoveChangesPopoverContent.module.css
  frontend/app-development/features/simpleMerge/RemoveChangesPopoverContent/RemoveChangesPopoverContent.test.tsx
  frontend/app-development/features/simpleMerge/RemoveChangesPopoverContent/RemoveChangesPopoverContent.tsx
  frontend/app-development/features/simpleMerge/RemoveChangesPopoverContent/index.ts
  frontend/app-development/features/simpleMerge/RepoModal.module.css
  frontend/app-development/features/simpleMerge/ResetRepoModal.test.tsx
  frontend/app-development/features/simpleMerge/ResetRepoModal.tsx
  frontend/app-development/layout/PageLayout.tsx
Labels: solution/studio/designer, added-to-sprint

#12847 Implementing a way to show newly changed app name in preview of the app
  frontend/app-development/contexts/AppDevelopmentContext.tsx
  frontend/app-development/contexts/PreviewContext/PreviewContext.test.tsx
  frontend/app-development/contexts/PreviewContext/PreviewContext.tsx
  frontend/app-development/contexts/PreviewContext/index.ts
  frontend/app-development/contexts/SettingsModalContext/SettingsModalContext.test.tsx
  frontend/app-development/contexts/SettingsModalContext/SettingsModalContext.tsx
  frontend/app-development/contexts/SettingsModalContext/index.ts
  frontend/app-development/layout/SettingsModalButton/SettingsModal/SettingsModal.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/AboutTab.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/AboutTab.tsx
  frontend/app-development/router/routes.test.tsx
  frontend/app-development/router/routes.tsx
  frontend/packages/ux-editor/src/AppContext.test.tsx
  frontend/packages/ux-editor/src/AppContext.tsx
  frontend/packages/ux-editor/src/SubApp.test.tsx
  frontend/packages/ux-editor/src/SubApp.tsx
  frontend/packages/ux-editor/src/components/Preview/Preview.tsx
  frontend/packages/ux-editor/src/hooks/useChecksum.ts/index.ts
  frontend/packages/ux-editor/src/hooks/useChecksum.ts/useChecksum.test.ts
  frontend/packages/ux-editor/src/hooks/useChecksum.ts/useChecksum.ts
  frontend/packages/ux-editor/src/testing/appContextMock.ts
Labels: area/ui-editor, solution/studio/designer

#12899 fix error message for taskid that persists when changing task
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigPanel.tsx
Labels: area/process, solution/studio/designer

#12911 fix(ProcessEditor): should re-render the diagram when local changes are deleted
  frontend/packages/process-editor/src/components/Canvas/Canvas.tsx
Labels: area/process, solution/studio/designer

#12910 resized the "get started" box
  frontend/app-development/features/overview/components/Documentation.module.css
  frontend/app-development/features/overview/components/Documentation.tsx
Labels: solution/studio/designer

#12909 Fix the link to the datamodel page for datamodel repos
  frontend/dashboard/utils/urlUtils/urlUtils.test.ts
  frontend/dashboard/utils/urlUtils/urlUtils.ts
Labels: kind/bug, area/data-modeling, area/dashboard, solution/studio/designer

#12843 10469 should fetch actual footer layout if it exists
  backend/src/Designer/Controllers/PreviewController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Models/FooterFile.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/ApplicationMetadataTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/ApplicationSettingsTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/DatamodelTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/GetApplicationLanguagesTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/GetFooterTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/GetFormDataTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/GetFormLayoutsTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/GetImageTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/GetOptionsTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/GetRuleConfigurationTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/LanguageTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/PreviewControllerTestsBase.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/TextResourcesTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/footer.json
Labels: solution/studio/designer, quality/testing

#12894 refactor(ProcessEditor): Decouple integration with BFF when adding tasks in the process editor.
  frontend/app-development/features/processEditor/ProcessEditor.tsx
  frontend/app-development/features/processEditor/handlers/OnProcessTaskAddHandler.test.ts
  frontend/app-development/features/processEditor/handlers/OnProcessTaskAddHandler.ts
  frontend/app-development/features/processEditor/handlers/OnProcessTaskRemoveHandler.test.ts
  frontend/app-development/features/processEditor/handlers/OnProcessTaskRemoveHandler.ts
  frontend/app-development/hooks/mutations/useAddLayoutSetMutation.ts
  frontend/packages/process-editor/src/ProcessEditor.test.tsx
  frontend/packages/process-editor/src/ProcessEditor.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/RedirectToCreatePageButton/RedirectToCreatePageButton.test.tsx
  frontend/packages/process-editor/src/contexts/BpmnApiContext.tsx
  frontend/packages/process-editor/src/hooks/useBpmnEditor.test.tsx
  frontend/packages/process-editor/src/hooks/useBpmnEditor.ts
  frontend/packages/process-editor/src/types/OnProcessTask.ts
  frontend/packages/process-editor/src/types/TaskEvent.ts
  frontend/packages/process-editor/src/utils/ProcessTaskManager/AddProcessTaskManager.test.ts
  frontend/packages/process-editor/src/utils/ProcessTaskManager/AddProcessTaskManager.ts
  frontend/packages/process-editor/src/utils/ProcessTaskManager/RemoveProcessTaskManager.test.ts
  frontend/packages/process-editor/src/utils/ProcessTaskManager/RemoveProcessTaskManager.ts
  frontend/packages/process-editor/src/utils/ProcessTaskManager/index.ts
  frontend/packages/process-editor/src/utils/hookUtils/hookUtils.test.ts
  frontend/packages/process-editor/src/utils/hookUtils/hookUtils.ts
  frontend/packages/process-editor/test/mocks/bpmnContextMock.ts
  frontend/testing/testids.js
Labels: area/process, solution/studio/designer, quality/testing, skip-releasenotes, added-to-sprint

#12928 added serialization value to icon enum properties
  backend/src/Designer/Models/FooterFile.cs
Labels: solution/studio/designer

#12699 Removed unused npm packages
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/shared/package.json
  frontend/packages/ux-editor-v3/package.json
  frontend/packages/ux-editor/package.json
  frontend/scripts/package.json
  frontend/scripts/yarn.lock
  frontend/testing/cypress/package.json
  package.json
  yarn.lock
Labels: area/data-modeling, area/ui-editor, solution/studio/designer, quality/testing, skip-releasenotes, kind/dependencies

#12933 fix(ProcessEditor): SelectDataType should append current selected value to the option list
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataType/SelectDataType/SelectDataType.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataType/SelectDataType/SelectDataType.tsx
Labels: kind/bug, area/process, solution/studio/designer, skip-releasenotes, added-to-sprint

#12942 Remove reselect package and unused files
  frontend/packages/ux-editor-v3/package.json
  frontend/packages/ux-editor-v3/src/utils/arrayHelpers/arrayLogic.test.ts
  frontend/packages/ux-editor-v3/src/utils/arrayHelpers/arrayLogic.ts
  frontend/packages/ux-editor/package.json
  frontend/packages/ux-editor/src/utils/arrayHelpers/arrayLogic.test.ts
  frontend/packages/ux-editor/src/utils/arrayHelpers/arrayLogic.ts
  yarn.lock
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, kind/dependencies

#12946 Update readme pdf
  src/Altinn.Platform/Altinn.Platform.PDF/README.md
  src/Altinn.Platform/README.md
Labels: solution/platform, skip-releasenotes, area/pdf

#12945 Remove feature toggle for resource access lists
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.test.tsx
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.test.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.tsx
Labels: solution/studio/designer, skip-releasenotes, area/resource-adm

#12943 10699 organization should remain selected on dashboard
  frontend/dashboard/app/App.test.tsx
  frontend/dashboard/hooks/guards/useContextRedirectionGuard.ts
  frontend/dashboard/hooks/useSelectedContext/useSelectedContext.ts
  frontend/dashboard/pages/PageLayout/PageLayout.test.tsx
  frontend/dashboard/pages/PageLayout/PageLayout.tsx
  frontend/dashboard/utils/repoUtils/repoUtils.ts
  frontend/dashboard/utils/userUtils/userUtils.ts
  frontend/packages/shared/src/navigation/main-header/Header.tsx
  frontend/packages/shared/src/navigation/main-header/HeaderMenu.test.tsx
  frontend/packages/shared/src/navigation/main-header/HeaderMenu.tsx
Labels: area/dashboard, solution/studio/designer

#12927 Remove duplicate react-i18next mocks
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/DeleteWrapper.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/TopToolbar.test.tsx
  frontend/app-preview/src/components/AppPreviewSubMenu.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTab.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/StringRestrictions/StringRestrictions.test.tsx
  frontend/packages/shared/src/components/InputActionWrapper/InputActionWrapper.test.tsx
  frontend/packages/ux-editor-v3/src/components/Properties/Properties.test.tsx
  frontend/packages/ux-editor-v3/src/components/TextResourceEdit.test.tsx
  frontend/packages/ux-editor-v3/src/components/TextResourceOption.test.tsx
  frontend/packages/ux-editor-v3/src/components/config/EditFormComponent.test.tsx
  frontend/packages/ux-editor-v3/src/components/config/componentSpecificContent/Image/ImageComponent.test.tsx
  frontend/packages/ux-editor-v3/src/components/config/componentSpecificContent/Map/MapComponent.test.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditStringValue.test.tsx
  frontend/packages/ux-editor-v3/src/hooks/useComponentTypeName.test.ts
  frontend/packages/ux-editor-v3/src/hooks/useText.test.ts
  frontend/packages/ux-editor/src/components/TextResource/TextResourceEditor/TextResourcePicker/TextResourceOption.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Image/ImageComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.test.tsx
  frontend/packages/ux-editor/src/hooks/useComponentTypeName.test.ts
  frontend/packages/ux-editor/src/hooks/useText.test.ts
Labels: area/data-modeling, area/ui-editor, solution/studio/designer, skip-releasenotes, added-to-sprint

#12908 Resourceadm: use etag from resource registry in update accesslist request
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Models/AccessList.cs
  backend/src/Designer/Models/AccessListOrganizationNumbers.cs
  backend/src/Designer/Models/HeaderEtag.cs
  backend/src/Designer/Models/PagedAccessListMembersResponse.cs
  backend/src/Designer/Services/Implementation/ResourceRegistryService.cs
  backend/src/Designer/Services/Interfaces/IResourceRegistry.cs
  backend/tests/Designer.Tests/Controllers/ResourceAdminController/AccessListTests.cs
  frontend/language/src/nb.json
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/enums/ServerCodes.ts
  frontend/packages/shared/src/types/ResourceAdm.ts
  frontend/resourceadm/components/AccessListDetails/AccessListDetail.test.tsx
  frontend/resourceadm/components/AccessListDetails/AccessListDetail.tsx
  frontend/resourceadm/components/AccessListMembers/AccessListMembers.test.tsx
  frontend/resourceadm/components/AccessListMembers/AccessListMembers.tsx
  frontend/resourceadm/components/AccessListPreconditionFailedToast/AccessListPreconditionFailedToast.test.tsx
  frontend/resourceadm/components/AccessListPreconditionFailedToast/AccessListPreconditionFailedToast.tsx
  frontend/resourceadm/components/AccessListPreconditionFailedToast/index.ts
  frontend/resourceadm/components/NewAccessListModal/NewAccessListModal.test.tsx
  frontend/resourceadm/components/NewAccessListModal/NewAccessListModal.tsx
  frontend/resourceadm/hooks/mutations/useAddAccessListMemberMutation.ts
  frontend/resourceadm/hooks/mutations/useDeleteAccessListMutation.ts
  frontend/resourceadm/hooks/mutations/useEditAccessListMutation.ts
  frontend/resourceadm/hooks/mutations/useRemoveAccessListMemberMutation.ts
Labels: solution/studio/designer, quality/testing, skip-releasenotes, area/resource-adm

#12941 feature eid logger
  .github/workflows/build-eid-logger-image.yaml
  backend/packagegroups/NuGet.props
  backend/src/Designer/Configuration/EidLoggerClientSettings.cs
  backend/src/Designer/Constants/StudioFeatureFlags.cs
  backend/src/Designer/Designer.csproj
  backend/src/Designer/EventHandlers/AppDeployed/AppDeployedEidLoggerHandler.cs
  backend/src/Designer/Events/AppDeployedEvent.cs
  backend/src/Designer/Program.cs
  backend/src/Designer/Services/Implementation/DeploymentService.cs
  backend/src/Designer/TypedHttpClients/EidLogger/EidLogRequest.cs
  backend/src/Designer/TypedHttpClients/EidLogger/EidLoggerClient.cs
  backend/src/Designer/TypedHttpClients/EidLogger/IEidLoggerClient.cs
  backend/src/Designer/TypedHttpClients/TypedHttpClientRegistration.cs
  backend/src/Designer/appsettings.json
  backend/tests/Designer.Tests/Services/DeploymentServiceTest.cs
  eidlogger/.dockerignore
  eidlogger/.gitignore
  eidlogger/.mvn/wrapper/maven-wrapper.properties
  eidlogger/Dockerfile
  eidlogger/README.md
  eidlogger/compose.yaml
  eidlogger/mvnw
  eidlogger/mvnw.cmd
  eidlogger/pom.xml
  eidlogger/settings.xml.template
  eidlogger/src/main/java/no/altinn/eidlogger/EidloggerApplication.java
  eidlogger/src/main/java/no/altinn/eidlogger/controller/EidController.java
  eidlogger/src/main/java/no/altinn/eidlogger/dto/EidLogRequest.java
  eidlogger/src/main/resources/application-dev.yml
  eidlogger/src/main/resources/application.yml
  eidlogger/src/main/resources/banner.txt
  eidlogger/src/test/java/no/altinn/eidlogger/EidloggerApplicationTests.java
Labels: solution/studio/designer, quality/testing, skip-releasenotes, kind/dependencies

#12944 Remove feature flag for endEvent in process and update url to docs
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/ConfigEndEvent.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/RedirectToCreatePageButton/RedirectToCreatePageButton.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigPanel.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigPanel.tsx
  frontend/packages/shared/src/utils/featureToggleUtils.test.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
Labels: area/process, solution/studio/designer

#12955 Remove endEvent as a taskType and generalize iconSelection to also include sequenceFlow as a bpmnTypeEnum
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigIcon/ConfigIcon.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/ConfigEndEvent.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigSequenceFlow/ConfigSequenceFlow.tsx
  frontend/packages/process-editor/src/types/BpmnTaskType.ts
Labels: area/process, solution/studio/designer

#12958 Add background color to ConfPageToolBar component
  frontend/packages/ux-editor/src/components/Elements/ConfPageToolbar.module.css
  frontend/packages/ux-editor/src/components/Elements/ConfPageToolbar.tsx
Labels: area/ui-editor, solution/studio/designer

#12865 12735 update endpoint that sets datatype for process task to accept array of data types
  backend/src/Designer/Controllers/ProcessModelingController.cs
  backend/src/Designer/EventHandlers/ProcessDataTypesChanged/ProcessDataTypesChangedApplicationMetadataHandler.cs
  backend/src/Designer/EventHandlers/ProcessDataTypesChanged/ProcessDataTypesChangedLayoutSetsHandler.cs
  backend/src/Designer/Events/ProcessDataTypesChangedEvent.cs
  backend/src/Designer/Models/Dto/DataTypeChange.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/FileSync/DataTypeChangeTests/LayoutSetsFileSyncDataTypeTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/FileSync/DataTypesChangeTests/ApplicationMetadataFileSyncDataTypesTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/FileSync/DataTypesChangeTests/LayoutSetsFileSyncDataTypesTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/ProcessDataTypesChangedNotifyTests.cs
  frontend/app-development/features/processEditor/ProcessEditor.tsx
  frontend/app-development/hooks/mutations/useUpdateProcessDataTypesMutation.test.ts
  frontend/app-development/hooks/mutations/useUpdateProcessDataTypesMutation.ts
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/AboutTab.test.tsx
  frontend/language/src/nb.json
  frontend/packages/process-editor/src/ProcessEditor.test.tsx
  frontend/packages/process-editor/src/ProcessEditor.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditTaskId/EditTaskId.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditTaskId/EditTaskId.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CreateCustomReceiptForm/CreateCustomReceiptForm.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CustomReceipt/CustomReceipt.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CustomReceipt/CustomReceipt.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataType/SelectDataType/index.ts
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataType/index.ts
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypes/EditDataTypes.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypes/EditDataTypes.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypes/EditDataTypes.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypes/SelectDataTypes/SelectDataTypes.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypes/SelectDataTypes/SelectDataTypes.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypes/SelectDataTypes/SelectDataTypes.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypes/SelectDataTypes/index.ts
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypes/index.ts
  frontend/packages/process-editor/src/contexts/BpmnApiContext.tsx
  frontend/packages/process-editor/src/contexts/BpmnConfigPanelContext.test.tsx
  frontend/packages/process-editor/src/contexts/BpmnConfigPanelContext.tsx
  frontend/packages/process-editor/src/hooks/useBpmnEditor.test.tsx
  frontend/packages/process-editor/src/hooks/useBpmnEditor.ts
  frontend/packages/process-editor/test/mocks/bpmnContextMock.ts
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/VersionControlButtons.test.tsx
  frontend/packages/shared/src/hooks/queries/useRepoMetadataQuery.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/BpmnMetadataForm.ts
  frontend/packages/shared/src/types/QueryKey.ts
  frontend/packages/shared/src/types/api/DataTypeChange.ts
  frontend/packages/shared/src/types/api/DataTypesChange.ts
  frontend/packages/ux-editor-v3/src/hooks/mutations/useAddItemToLayoutMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddItemToLayoutMutation.test.ts
Labels: area/process, area/ui-editor, solution/studio/designer, quality/testing

#12962 12716 auto open parent components on drop
  frontend/libs/studio-components/src/components/StudioTreeView/StudioTreeViewItem/StudioTreeViewItem.test.tsx
  frontend/libs/studio-components/src/components/StudioTreeView/StudioTreeViewItem/StudioTreeViewItem.tsx
  frontend/libs/studio-components/src/components/StudioTreeView/hooks/useTreeViewItemOpenOnHierarchySelect.ts
  frontend/libs/studio-components/src/components/StudioTreeView/utils/domUtils.ts
  frontend/packages/schema-editor/src/components/SchemaEditor/hooks/useAddReference.ts
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/ActionButtons/AddPropertyMenu.tsx
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/SchemaNode.test.tsx
Labels: area/data-modeling, area/ui-editor, solution/studio/designer

#12991 removed events tests
  src/test/K6/src/tests/platform/events/events.js
  src/test/K6/src/tests/platform/events/subscriptions.js
  src/test/K6/src/tests/platform/negativetests/events.js
  src/test/K6/use-cases-prod.yaml
  src/test/K6/use-cases.yaml
Labels: area/test, skip-releasenotes

#12994 trigger use case from main branch
  src/test/K6/use-cases-prod.yaml
  src/test/K6/use-cases.yaml
Labels: area/test, skip-releasenotes

#12983 Remove key from Canvas component
  frontend/packages/process-editor/src/components/Canvas/Canvas.tsx
Labels: area/process, solution/studio/designer

#12979 12972 fetching changes should reload preview
  frontend/app-development/layout/PageHeader.tsx
  frontend/packages/shared/src/components/GiteaHeader/GiteaHeader.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/FetchChangesButton/FetchChangesButton.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/VersionControlButtons.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/VersionControlButtons.tsx
Labels: solution/studio/designer

#13004 Mock partyTypesAllowed to be all false to bypass the validation check in app-frontend
  backend/src/Designer/Controllers/PreviewController.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/ApplicationMetadataTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/config/applicationmetadata.json
Labels: solution/studio/designer, quality/testing

#12915 Implement StudioTable in Dashboard
  .husky/pre-commit
  frontend/dashboard/app/App.module.css
  frontend/dashboard/components/DataModelsRepoList/DataModelsRepoList.tsx
  frontend/dashboard/components/FavoriteReposList/FavoriteReposList.tsx
  frontend/dashboard/components/OrgRepoList/OrgReposList.tsx
  frontend/dashboard/components/RepoList/ActionLinks.module.css
  frontend/dashboard/components/RepoList/ActionLinks.test.tsx
  frontend/dashboard/components/RepoList/ActionLinks.tsx
  frontend/dashboard/components/RepoList/FavoriteButton.test.tsx
  frontend/dashboard/components/RepoList/FavoriteButton.tsx
  frontend/dashboard/components/RepoList/RepoList.module.css
  frontend/dashboard/components/RepoList/RepoList.test.tsx
  frontend/dashboard/components/RepoList/RepoList.tsx
  frontend/dashboard/components/RepoList/RepoNameWithLink.module.css
  frontend/dashboard/components/RepoList/RepoNameWithLink.tsx
  frontend/dashboard/components/ResourcesRepoList/ResourcesRepoList.tsx
  frontend/dashboard/components/SearchResultReposList/SearchResultReposList.tsx
  frontend/dashboard/constants/index.ts
  frontend/dashboard/hooks/queries/useSearchReposQuery.ts
  frontend/dashboard/hooks/queries/useStarredReposQuery.ts
  frontend/dashboard/hooks/useAugmentReposWithStarred/useAugmentReposWithStarred.ts
  frontend/dashboard/hooks/useReposSearch/useRepoSearch.test.tsx
  frontend/dashboard/hooks/useReposSearch/useRepoSearch.ts
  frontend/dashboard/pages/Dashboard/Dashboard.module.css
  frontend/dashboard/pages/Dashboard/Dashboard.test.tsx
  frontend/dashboard/testing/mocks.tsx
  frontend/dashboard/utils/repoUtils/repoUtils.ts
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioTableLocalPagination/StudioTableLocalPagination.mdx
  frontend/libs/studio-components/src/components/StudioTableLocalPagination/StudioTableLocalPagination.stories.tsx
  frontend/libs/studio-components/src/components/StudioTableLocalPagination/StudioTableLocalPagination.test.tsx
  frontend/libs/studio-components/src/components/StudioTableLocalPagination/StudioTableLocalPagination.tsx
  frontend/libs/studio-components/src/components/StudioTableRemotePagination/StudioTableRemotePagination.mdx
  frontend/libs/studio-components/src/components/StudioTableRemotePagination/StudioTableRemotePagination.module.css
  frontend/libs/studio-components/src/components/StudioTableRemotePagination/StudioTableRemotePagination.stories.tsx
  frontend/libs/studio-components/src/components/StudioTableRemotePagination/StudioTableRemotePagination.test.tsx
  frontend/libs/studio-components/src/components/StudioTableRemotePagination/StudioTableRemotePagination.tsx
  frontend/libs/studio-components/src/components/StudioTableRemotePagination/index.ts
  frontend/libs/studio-components/src/components/StudioTableRemotePagination/mockData.module.css
  frontend/libs/studio-components/src/components/StudioTableRemotePagination/mockData.tsx
  frontend/libs/studio-components/src/hooks/useTableSorting.tsx
  frontend/testing/playwright/pages/DashboardPage.ts
  gitea/files/conf/app.ini
Labels: area/dashboard, solution/studio/designer, solution/studio/repos, quality/testing, skip-releasenotes

#13005 Resourceadm: replace tables in resource admin with new studio table component
  frontend/dashboard/components/ResourcesRepoList/ResourcesRepoList.test.tsx
  frontend/language/src/nb.json
  frontend/resourceadm/components/AccessListMembers/AccessListMembers.module.css
  frontend/resourceadm/components/AccessListMembers/AccessListMembers.test.tsx
  frontend/resourceadm/components/AccessListMembers/AccessListMembersTable.tsx
  frontend/resourceadm/components/ResourceTable/ResourceTable.test.tsx
  frontend/resourceadm/components/ResourceTable/ResourceTable.tsx
  frontend/resourceadm/package.json
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.test.tsx
  yarn.lock
Labels: area/dashboard, solution/studio/designer, solution/studio/repos, quality/testing, skip-releasenotes, kind/dependencies

#12980 Removing the padlock icon from process editor by making it optional in StudioDisplayTile
  frontend/libs/studio-components/src/components/StudioDisplayTile/StudioDisplayTile.test.tsx
  frontend/libs/studio-components/src/components/StudioDisplayTile/StudioDisplayTile.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.tsx
Labels: area/process, solution/studio/designer

#12990 Resourceadm: improve service selection in import link service modal
  backend/src/Designer/Controllers/ResourceAdminController.cs
  frontend/language/src/nb.json
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.test.tsx
  frontend/resourceadm/components/ImportResourceModal/ServiceContent/ServiceContent.test.tsx
  frontend/resourceadm/components/ImportResourceModal/ServiceContent/ServiceContent.tsx
  frontend/resourceadm/hooks/queries/useGetAltinn2LinkServicesQuery.ts
  frontend/resourceadm/utils/mapperUtils/mapperUtils.test.ts
  frontend/resourceadm/utils/mapperUtils/mapperUtils.ts
Labels: solution/studio/designer

#13001 Fix critical security issues
  package.json
  src/test/K6/package.json
  src/test/K6/yarn.lock
  yarn.lock
Labels: area/test, skip-releasenotes

#12997 Resourceadm: refactor about resource form validation + add error summary
  backend/src/Designer/Controllers/ResourceAdminController.cs
  frontend/language/src/nb.json
  frontend/packages/shared/src/types/ResourceAdm.ts
  frontend/resourceadm/components/ResourceContactPointFields/ResourceContactPointFields.test.tsx
  frontend/resourceadm/components/ResourceContactPointFields/ResourceContactPointFields.tsx
  frontend/resourceadm/components/ResourceContactPointFields/ResourceContactPointFieldset.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceCheckboxGroup.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceLanguageTextField.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceRadioGroup.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceSwitchInput.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceTextField.tsx
  frontend/resourceadm/components/ResourceReferenceFields/ResourceReferenceFields.test.tsx
  frontend/resourceadm/components/ResourceReferenceFields/ResourceReferenceFields.tsx
  frontend/resourceadm/components/ResourceReferenceFields/ResourceReferenceFieldset.tsx
  frontend/resourceadm/components/RightTranslationBar/RightTranslationBar.test.tsx
  frontend/resourceadm/components/RightTranslationBar/RightTranslationBar.tsx
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.test.tsx
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/resourceadm/utils/resourceUtils/index.ts
  frontend/resourceadm/utils/resourceUtils/resourceUtils.test.tsx
  frontend/resourceadm/utils/resourceUtils/resourceUtils.ts
Labels: solution/studio/designer

#13016 Remove @mui/x-data-grid package
  frontend/dashboard/package.json
  renovate.json
  yarn.lock
Labels: area/dashboard, solution/studio/designer, skip-releasenotes, kind/dependencies

#12977 Move env query parameter to route for access lists and publish resource requests
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Infrastructure/Authorization/GiteaPublishResourcePermissionHandler.cs
  backend/src/Designer/Infrastructure/Authorization/GiteaResourceAccessListPermissionHandler.cs
  backend/tests/Designer.Tests/Controllers/ResourceAdminController/AccessListTests.cs
  backend/tests/Designer.Tests/Controllers/ResourceAdminController/GetResourceByIdTests.cs
  backend/tests/Designer.Tests/Controllers/ResourceAdminController/GetValidateResourceTests.cs
  backend/tests/Designer.Tests/Controllers/ResourceAdminController/ImportResourceTests.cs
  frontend/packages/shared/src/api/paths.js
Labels: solution/studio/designer, quality/testing

#13019 Fix styling of app tables
  frontend/dashboard/components/RepoList/RepoList.module.css
  frontend/dashboard/components/RepoList/RepoList.tsx
  frontend/resourceadm/components/ResourceTable/ResourceTable.module.css
  frontend/resourceadm/components/ResourceTable/ResourceTable.tsx
Labels: area/dashboard, solution/studio/designer

#13018 Fix `EditDataTypesToSign` tests
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypesToSign/EditDataTypesToSign.test.tsx
Labels: area/process, solution/studio/designer, skip-releasenotes

#13008 Remove unused files
  docs/ABOUT.md
  frontend/packages/schema-editor/src/components/common/ActionMenu.module.css
  frontend/packages/schema-editor/src/components/common/ActionMenu.test.tsx
  frontend/packages/schema-editor/src/components/common/ActionMenu.tsx
  frontend/packages/schema-editor/src/components/common/Icon.module.css
  frontend/packages/schema-editor/src/components/common/Icon.test.tsx
  frontend/packages/schema-editor/src/components/common/Icon.tsx
  frontend/packages/schema-editor/src/react-app-env.d.ts
  frontend/packages/schema-model/src/index.ts
  frontend/packages/schema-model/src/lib/capabilities.test.ts
  frontend/packages/schema-model/src/lib/capabilities.ts
  frontend/packages/schema-model/src/lib/mutations/copy-node.test.ts
  frontend/packages/schema-model/src/lib/mutations/copy-node.ts
  frontend/packages/schema-model/src/lib/mutations/updateNode.ts
  frontend/packages/shared/src/fallbackLanguage.ts
  frontend/packages/text-editor/src/index.ts
  frontend/packages/text-editor/src/mutations.test.ts
  frontend/packages/text-editor/src/mutations.ts
  frontend/packages/text-editor/src/types.d.ts
  frontend/packages/ux-editor-v3/src/hooks/mutations/useAddFormContainerMutation.test.ts
  frontend/packages/ux-editor-v3/src/hooks/mutations/useAddFormContainerMutation.ts
  frontend/packages/ux-editor-v3/src/hooks/mutations/useUpdateFormComponentOrderMutation.test.ts
  frontend/packages/ux-editor-v3/src/hooks/mutations/useUpdateFormComponentOrderMutation.ts
  frontend/packages/ux-editor-v3/src/hooks/queries/useLayoutSetsQuery.ts
  frontend/packages/ux-editor-v3/src/utils/validationUtils/validateLayoutNameAndLayoutSetName.test.ts
  frontend/packages/ux-editor-v3/src/utils/validationUtils/validateLayoutNameAndLayoutSetName.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddFormContainerMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddFormContainerMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentOrderMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentOrderMutation.ts
Labels: area/data-modeling, area/ui-editor, solution/studio/designer, skip-releasenotes, area/text-editor

#12914 12582 wrong expired session message
  frontend/language/src/nb.json
  frontend/packages/shared/src/contexts/ServicesContext.test.tsx
  frontend/packages/shared/src/contexts/ServicesContext.tsx
Labels: solution/studio/designer

#13021 Resolved E2E test failures and refactored ProcessEditorPage Class to follow "Single Responsibility Principle"
  frontend/language/src/nb.json
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CustomReceipt/CustomReceipt.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypes/EditDataTypes.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypes/EditDataTypes.tsx
  frontend/testing/playwright/pages/ProcessEditorPage/DataModelConfig.ts
  frontend/testing/playwright/pages/ProcessEditorPage/ProcessEditorPage.ts
  frontend/testing/playwright/pages/ProcessEditorPage/index.ts
  frontend/testing/playwright/tests/process-editor/process-editor.spec.ts
Labels: kind/bug, area/process, solution/studio/designer, quality/testing, skip-releasenotes

#13023 Follow up failing tests on main
  .github/workflows/playwright.yml
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypes/EditDataTypes.tsx
  frontend/testing/playwright/tests/process-editor/process-editor.spec.ts
Labels: area/process, solution/studio/designer, quality/testing, skip-releasenotes

#13024 Increase timeout for e2e-tests for process-editor
  frontend/testing/playwright/playwright.config.ts
Labels: solution/studio/designer, quality/testing, skip-releasenotes

#13025 refactored e2e-tests, splitted up in multiple tests and simplified them
  frontend/testing/playwright/pages/GiteaPage.ts
  frontend/testing/playwright/pages/ProcessEditorPage/DataModelConfig.ts
  frontend/testing/playwright/pages/ProcessEditorPage/ProcessEditorPage.ts
  frontend/testing/playwright/tests/process-editor/process-editor.spec.ts
Labels: solution/studio/designer, quality/testing, skip-releasenotes

#13030 Increase timeout for ui-editor e2e-tests
  frontend/testing/playwright/playwright.config.ts
Labels: solution/studio/designer, quality/testing

#12988 12634 implement validation across layouts when loading layout set with modal warning user of the issue
  frontend/language/src/nb.json
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypesToSign/DataTypesToSignUtils.ts
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypesToSign/EditDataTypesToSign.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/PageConfigPanel.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/PageConfigPanel.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/PageConfigWarningModal/PageConfigWarningModal.module.css
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/PageConfigWarningModal/PageConfigWarningModal.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/PageConfigWarningModal/index.ts
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormLayout.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormItem/FormItem.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormItem/FormItemTitle/FormItemTitle.module.css
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormItem/FormItemTitle/FormItemTitle.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormTree.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/renderItemList.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.tsx
  frontend/packages/ux-editor/src/utils/formLayoutUtils.test.tsx
  frontend/packages/ux-editor/src/utils/formLayoutUtils.ts
Labels: area/process, area/ui-editor, solution/studio/designer

#13037 image push to acr
  .github/workflows/eid-logger-push.yaml
Labels: skip-releasenotes

#13038 fix PAT usage
  .github/workflows/eid-logger-push.yaml
Labels: skip-releasenotes

#13039 Fixed prettier issue
  frontend/packages/process-editor/src/utils/processActions/processActions.test.ts
Labels: area/process, solution/studio/designer, skip-releasenotes
