Repository Altinn/altinn-studio, pull requests merged in 2024-05, with the labels that each got.

#12671 Resourceadm: Add first playwright tests for resourceadm: create resource and validate resource
  .gitignore
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/resourceadm/testing/playwright/enum/TestNames.ts
  frontend/resourceadm/testing/playwright/helpers/DesignerApi.ts
  frontend/resourceadm/testing/playwright/helpers/GiteaApi.ts
  frontend/resourceadm/testing/playwright/helpers/ResourceEnvironment.ts
  frontend/resourceadm/testing/playwright/helpers/routes.ts
  frontend/resourceadm/testing/playwright/helpers/textMock.ts
  frontend/resourceadm/testing/playwright/package.json
  frontend/resourceadm/testing/playwright/pages/LoginPage.ts
  frontend/resourceadm/testing/playwright/pages/ResourceDashboardPage.ts
  frontend/resourceadm/testing/playwright/pages/ResourcePage.ts
  frontend/resourceadm/testing/playwright/playwright.config.ts
  frontend/resourceadm/testing/playwright/scripts/setup.ts
  frontend/resourceadm/testing/playwright/tests/auth.setup.ts
  frontend/resourceadm/testing/playwright/tests/create-resource/create-resource.spec.ts
  frontend/resourceadm/testing/playwright/tests/validate-resource/validate-resource.spec.ts
  frontend/resourceadm/testing/playwright/tsconfig.json
  frontend/resourceadm/testing/playwright/types/StorageState.ts
  package.json
  yarn.lock
Labels: solution/studio/designer, skip-releasenotes, kind/dependencies, area/resource-adm

#12777 Explicity convert to utc time
  backend/src/Designer/Repository/ORMImplementation/Mappers/DeploymentMapper.cs
Labels: solution/studio/designer, skip-releasenotes

#12779 Resourceadm: text changes on about resource according to design
  frontend/language/src/nb.json
  frontend/resourceadm/components/ResourcePageInputs/ResourceRadioGroup.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceSwitchInput.tsx
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
Labels: solution/studio/designer, skip-releasenotes, area/resource-adm

#12778 Studio native select
  frontend/libs/studio-components/src/components/StudioNativeSelect/StudioNativeSelect.mdx
  frontend/libs/studio-components/src/components/StudioNativeSelect/StudioNativeSelect.module.css
  frontend/libs/studio-components/src/components/StudioNativeSelect/StudioNativeSelect.stories.tsx
  frontend/libs/studio-components/src/components/StudioNativeSelect/StudioNativeSelect.test.tsx
  frontend/libs/studio-components/src/components/StudioNativeSelect/StudioNativeSelect.tsx
  frontend/libs/studio-components/src/components/StudioNativeSelect/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, added-to-sprint

#12734 Improve data model generation
  backend/src/DataModeling/Converter/Csharp/CSharpGenerationSettings.cs
  backend/src/DataModeling/Converter/Csharp/Compiler.cs
  backend/src/DataModeling/Converter/Csharp/CsharpCompilationException.cs
  backend/src/DataModeling/Converter/Csharp/JsonMetadataToCsharpConverter.cs
  backend/src/DataModeling/Converter/Interfaces/IModelMetadataToCsharpConverter.cs
  backend/src/Designer/Services/Implementation/ModelNameValidator.cs
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/tests/DataModeling.Tests/Assertions/TypeAssertions.cs
  backend/tests/DataModeling.Tests/BaseClasses/CsharpModelConversionTestsBase.cs
  backend/tests/DataModeling.Tests/CsharpEnd2EndGenerationTests.cs
  backend/tests/DataModeling.Tests/TestDataClasses/CSharpEnd2EndTestData.cs
  backend/tests/DataModeling.Tests/TestDataClasses/ValidationTestData.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/PutDatamodelTests.cs
  backend/tests/Designer.Tests/Services/SchemaModelServiceTests.cs
  backend/tests/SharedResources.Tests/SharedResourcesHelper.cs
  testdata/Model/CSharp/Gitea/3422-39646.cs
  testdata/Model/CSharp/Gitea/3430-39615.cs
  testdata/Model/CSharp/Gitea/Brønnøysundregistrene_ReelleRettighetshavere_M.cs
  testdata/Model/CSharp/Gitea/Kursdomene_APINøkkel_M_2020-05-26_5702_34556_SERES.cs
  testdata/Model/CSharp/Gitea/Kursdomene_BekrefteBruksvilkår_M_2020-05-25_5704_34554_SERES.cs
  testdata/Model/CSharp/Gitea/Kursdomene_BliTjenesteeier_M_2020-05-25_5703_34553_SERES.cs
  testdata/Model/CSharp/Gitea/aal-vedlegg.cs
  testdata/Model/CSharp/Gitea/bokskjema.cs
  testdata/Model/CSharp/Gitea/dat-aarligmelding-bemanning.cs
  testdata/Model/CSharp/Gitea/dat-bilpleie-soknad.cs
  testdata/Model/CSharp/Gitea/dat-skjema.cs
  testdata/Model/CSharp/Gitea/dev-nill-test.cs
  testdata/Model/CSharp/Gitea/dihe-redusert-foreldrebetaling-bhg.cs
  testdata/Model/CSharp/Gitea/hi-algeskjema.cs
  testdata/Model/CSharp/Gitea/krt-1188a-1.cs
  testdata/Model/CSharp/Gitea/nbib-melding.cs
  testdata/Model/CSharp/Gitea/nsm-klareringsportalen.cs
  testdata/Model/CSharp/Gitea/skd-formueinntekt-skattemelding-v2.cs
  testdata/Model/CSharp/Gitea/skjema.cs
  testdata/Model/CSharp/Gitea/srf-fufinn-behovsendring.cs
  testdata/Model/CSharp/Gitea/srf-fufinn-behovskartleggin.cs
  testdata/Model/CSharp/Gitea/srf-melding-til-statsforvalteren.cs
  testdata/Model/CSharp/Gitea/stami-atid-databehandler-2022.cs
  testdata/Model/CSharp/Gitea/stami-mu-bestilling-2021.cs
  testdata/Model/CSharp/Gitea/stami-mu-databehandler-2021.cs
  testdata/Model/CSharp/Gitea/udi-unntak-karantenehotell-velferd.cs
  testdata/Model/CSharp/Gitea/udir-invitasjon-vfkl.cs
  testdata/Model/CSharp/Gitea/udir-vfkl.cs
  testdata/Model/XmlSchema/Gitea/3422-39646.xsd
  testdata/Model/XmlSchema/Gitea/3430-39615.xsd
Labels: area/data-modeling, solution/studio/designer, quality/testing, skip-releasenotes

#12672 Make it possible to edit actions on tasks
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioProperty/StudioPropertyButton/StudioPropertyButton.module.css
  frontend/libs/studio-components/src/components/StudioProperty/StudioPropertyButton/StudioPropertyButton.tsx
  frontend/packages/process-editor/src/bpmnProviders/SupportedPaletteProvider.js
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/ActionsUtils.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/EditAction.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/EditAction.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/EditAction.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/EditActions.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/EditActions.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/SelectAction.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/SelectAction.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/SelectAction.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/index.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataType/EditDataType.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataType/EditDataType.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditTaskId/EditTaskId.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditTaskId/EditTaskId.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigPanel.test.tsx
  frontend/packages/process-editor/src/components/ConfigSurface/ConfigSurface.module.css
  frontend/packages/process-editor/src/extensions/altinnCustomTasks.ts
  frontend/packages/process-editor/src/hooks/useBpmnEditor.test.tsx
  frontend/packages/process-editor/src/hooks/useBpmnEditor.ts
  frontend/packages/process-editor/src/types/BpmnTaskType.ts
  frontend/packages/process-editor/src/utils/hookUtils/hookUtils.test.ts
  frontend/packages/process-editor/src/utils/hookUtils/hookUtils.ts
  frontend/packages/process-editor/test/mocks/bpmnContextMock.ts
  frontend/packages/process-editor/test/mocks/bpmnDetailsMock.ts
  frontend/packages/process-editor/test/mocks/bpmnModelerMock.ts
Labels: area/process, solution/studio/designer

#12776 12696 automatically add payment data type to applicationmetadata when adding payment task
  backend/src/Designer/Controllers/ProcessModelingController.cs
  backend/src/Designer/Services/Implementation/ProcessModeling/ProcessModelingService.cs
  backend/src/Designer/Services/Interfaces/IProcessModelingService.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/AddDataTypeToApplicationMetadataTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/DeleteDataTypeFromApplicationMetadataTests.cs
  frontend/app-development/features/processEditor/ProcessEditor.tsx
  frontend/app-development/hooks/mutations/useAddDataTypeToAppMetadata.test.ts
  frontend/app-development/hooks/mutations/useAddDataTypeToAppMetadata.ts
  frontend/app-development/hooks/mutations/useDeleteDataTypeFromAppMetadata.test.ts
  frontend/app-development/hooks/mutations/useDeleteDataTypeFromAppMetadata.ts
  frontend/language/src/nb.json
  frontend/packages/process-editor/src/ProcessEditor.test.tsx
  frontend/packages/process-editor/src/ProcessEditor.tsx
  frontend/packages/process-editor/src/bpmnProviders/SupportedPaletteProvider.js
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigIcon/ConfigIcon.tsx
  frontend/packages/process-editor/src/contexts/BpmnApiContext.tsx
  frontend/packages/process-editor/src/extensions/altinnCustomTasks.ts
  frontend/packages/process-editor/src/hooks/useBpmnEditor.test.tsx
  frontend/packages/process-editor/src/hooks/useBpmnEditor.ts
  frontend/packages/process-editor/src/utils/hookUtils/hookUtils.ts
  frontend/packages/process-editor/test/mocks/bpmnContextMock.ts
  frontend/packages/process-editor/test/mocks/bpmnDetailsMock.ts
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/mocks/queriesMock.ts
Labels: area/process, solution/studio/designer, quality/testing

#12800 Make the icon in StudioTextfieldToggleView only visible when hovering
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioTextfieldToggleView/StudioTextfieldToggleView.module.css
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioTextfieldToggleView/StudioTextfieldToggleView.tsx
Labels: solution/studio/designer

#12701 12083 make it possible to select another owner when cloning an app from dashboard
  backend/src/Designer/Controllers/RepositoryController.cs
  backend/src/Designer/Helpers/AltinnRegexes.cs
  backend/src/Designer/Helpers/Guard.cs
  backend/src/Designer/Models/AltinnRepoContext.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Interfaces/IRepository.cs
  backend/tests/Designer.Tests/Controllers/RepositoryController/CopyAppTests.cs
  backend/tests/Designer.Tests/Fixtures/GiteaConstants.cs
  backend/tests/Designer.Tests/Fixtures/GiteaFixture.cs
  backend/tests/Designer.Tests/GiteaIntegrationTests/RepositoryController/CopyAppGiteaIntegrationTests.cs
  frontend/dashboard/components/MakeCopyModal/MakeCopyModal.module.css
  frontend/dashboard/components/MakeCopyModal/MakeCopyModal.test.tsx
  frontend/dashboard/components/MakeCopyModal/MakeCopyModal.tsx
  frontend/dashboard/components/MakeCopyModal/index.ts
  frontend/dashboard/components/NewApplicationForm/NewApplicationForm.module.css
  frontend/dashboard/components/NewApplicationForm/NewApplicationForm.test.tsx
  frontend/dashboard/components/NewApplicationForm/NewApplicationForm.tsx
  frontend/dashboard/components/NewApplicationForm/hooks/useCreateAppFormValidation.test.ts
  frontend/dashboard/components/NewApplicationForm/hooks/useCreateAppFormValidation.ts
  frontend/dashboard/components/NewApplicationForm/index.ts
  frontend/dashboard/components/RepoList/RepoList.tsx
  frontend/dashboard/components/RepoNameInput/RepoNameInput.module.css
  frontend/dashboard/components/RepoNameInput/RepoNameInput.tsx
  frontend/dashboard/components/ServiceOwnerSelector/ServiceOwnerSelector.test.tsx
  frontend/dashboard/components/ServiceOwnerSelector/ServiceOwnerSelector.tsx
  frontend/dashboard/hooks/mutations/useCopyAppMutation.ts
  frontend/dashboard/pages/CreateService/CreateService.module.css
  frontend/dashboard/pages/CreateService/CreateService.test.tsx
  frontend/dashboard/pages/CreateService/CreateService.tsx
  frontend/dashboard/pages/CreateService/utils/navigationUtils.test.ts
  frontend/dashboard/pages/CreateService/utils/navigationUtils.ts
  frontend/dashboard/types/NewAppForm.ts
  frontend/libs/studio-components/src/components/StudioModal/StudioModal.tsx
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
Labels: area/dashboard, solution/studio/designer, quality/testing

#12802 Remove datatype bpmn elements from payment- and signatureconfig in task definitions
  frontend/packages/process-editor/src/bpmnProviders/SupportedPaletteProvider.js
  frontend/packages/process-editor/src/extensions/altinnCustomTasks.ts
  frontend/packages/process-editor/src/utils/hookUtils/hookUtils.ts
  frontend/packages/process-editor/test/mocks/bpmnDetailsMock.ts
Labels: area/process, solution/studio/designer

#12751 Mock dataType in preview if missing from current layoutset
  backend/src/Designer/Controllers/PreviewController.cs
  backend/src/Designer/Services/Implementation/PreviewService.cs
  backend/tests/Designer.Tests/Controllers/ApiTests/DisagnerEndpointsTestsBase.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/GetAppMetadataModelIdsTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/AnonymousTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/ApplicationMetadataTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/ApplicationSettingsTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/CurrentPartyTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/CurrentUserTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/DatamodelTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/DeleteAttachmentTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/GetApplicationLanguagesTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/GetFormDataTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/GetFormLayoutsTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/GetFormLayoutsV4Tests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/GetImageTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/GetOptionsTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/GetRuleConfigurationTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/GetRuleConfigurationV4Tests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/GetRuleHandlerTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/GetRuleHandlerV4Tests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/InstanceForNextTaskTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/InstancesTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/KeepAliveTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/LanguageTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/LayoutSetsTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/LayoutSettingsTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/LayoutSettingsV4Tests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/PostAttachmentTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/PreviewControllerTestsBase.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/ProcessNextTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/ProcessTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/TextResourcesTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/UpdateFormDataTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/UpdateProcessNextTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/ValidateInstantiationTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/config/applicationmetadata.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layout-sets.json
Labels: solution/studio/designer, quality/testing

#12782 use correct property for app created by in about page
  frontend/app-development/features/overview/handleServiceInformationSagas.ts
  frontend/app-development/features/overview/handleServiceInformationSlice.ts
  frontend/app-development/features/overview/types.ts
  frontend/app-development/layout/App.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/AboutTab.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/AboutTab.tsx
  frontend/app-development/sagas/index.ts
  frontend/app-development/test/rootStateMock.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/hooks/queries/index.ts
  frontend/packages/shared/src/hooks/queries/useRepoInitialCommitQuery.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/ApplicationMetadata.ts
  frontend/packages/shared/src/types/QueryKey.ts
  frontend/testing/mockend/src/index.js
Labels: kind/bug, solution/studio/designer

#12793 delete layoutset datatype ref and exclude appmetadata taskType ref when deleting and uploading datamodels respectively
  backend/src/Designer/EventHandlers/ProcessDataTypeChanged/ProcessDataTypeChangedLayoutSetsHandler.cs
  backend/src/Designer/EventHandlers/ProcessTaskIdChanged/ProcessTaskIdChangedLayoutSetsHandler.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/tests/Designer.Tests/Services/SchemaModelServiceTests.cs
  frontend/app-development/hooks/mutations/useDeleteDatamodelMutation.ts
Labels: solution/studio/designer, quality/testing

#12796 Only add feature flag to session storage if present in url
  frontend/packages/shared/src/utils/featureToggleUtils.test.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
Labels: solution/studio/designer

#12746 Fix expression crash when linked ID doesn't exist anymore
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubExpressionValueContentInput/ComponentIdSelector.tsx
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubexpressionValueSelector.test.tsx
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/Subexpression.tsx
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/utils/findSubexpressionErrors.test.ts
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/utils/findSubexpressionErrors.ts
  frontend/libs/studio-components/src/components/StudioExpression/enums/ExpressionErrorKey.ts
  frontend/libs/studio-components/src/components/StudioExpression/test-data/texts.ts
Labels: solution/studio/designer

#12781 Resourceadm: allow publishing resources and editing access lists in AT21 and AT24
  development/data/gitea-teams.json
  development/setup.js
  frontend/language/src/nb.json
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.test.tsx
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.tsx
  frontend/resourceadm/utils/resourceUtils/resourceUtils.ts
Labels: solution/studio/designer, skip-releasenotes, area/resource-adm

#12731 Create StudioTable components
  frontend/libs/studio-components/.eslintrc.js
  frontend/libs/studio-components/src/components/StudioTableLocalPagination/StudioTableLocalPagination.mdx
  frontend/libs/studio-components/src/components/StudioTableLocalPagination/StudioTableLocalPagination.stories.tsx
  frontend/libs/studio-components/src/components/StudioTableLocalPagination/StudioTableLocalPagination.test.tsx
  frontend/libs/studio-components/src/components/StudioTableLocalPagination/StudioTableLocalPagination.tsx
  frontend/libs/studio-components/src/components/StudioTableLocalPagination/index.ts
  frontend/libs/studio-components/src/components/StudioTableRemotePagination/StudioTableRemotePagination.mdx
  frontend/libs/studio-components/src/components/StudioTableRemotePagination/StudioTableRemotePagination.module.css
  frontend/libs/studio-components/src/components/StudioTableRemotePagination/StudioTableRemotePagination.stories.tsx
  frontend/libs/studio-components/src/components/StudioTableRemotePagination/StudioTableRemotePagination.test.tsx
  frontend/libs/studio-components/src/components/StudioTableRemotePagination/StudioTableRemotePagination.tsx
  frontend/libs/studio-components/src/components/StudioTableRemotePagination/index.ts
  frontend/libs/studio-components/src/components/StudioTableRemotePagination/mockData.tsx
  frontend/libs/studio-components/src/components/StudioTableRemotePagination/utils.test.tsx
  frontend/libs/studio-components/src/components/StudioTableRemotePagination/utils.tsx
  frontend/libs/studio-components/src/components/index.ts
  frontend/libs/studio-components/src/hooks/useTableSorting.test.tsx
  frontend/libs/studio-components/src/hooks/useTableSorting.tsx
Labels: area/dashboard, solution/studio/designer, area/ui-component

#12664 feat(Gateway): Implement flow control support in process editor
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/InternalFormatEditor.tsx
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/LogicalExpressionEditor.tsx
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubExpressionValueContentInput/GatewayActionSelector.tsx
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubExpressionValueContentInput/SubexpressionValueContentInput.tsx
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubExpressionValueReadonly/SubexpressionValueReadonly.tsx
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubExpressionValueTypeSelector/SubexpressionValueTypeSelector.tsx
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubexpressionValueSelector.test.tsx
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/getDefaultValueOfType/getDefaultValueOfType.ts
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/utils/findSubexpressionErrors.test.ts
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/utils/findSubexpressionErrors.ts
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/SimplifiedEditor.tsx
  frontend/libs/studio-components/src/components/StudioExpression/StudioExpression.tsx
  frontend/libs/studio-components/src/components/StudioExpression/StudioExpressionContext.ts
  frontend/libs/studio-components/src/components/StudioExpression/converters/complexToSimpleExpression.ts
  frontend/libs/studio-components/src/components/StudioExpression/converters/simpleToComplexExpression.test.ts
  frontend/libs/studio-components/src/components/StudioExpression/converters/simpleToComplexExpression.ts
  frontend/libs/studio-components/src/components/StudioExpression/enums/DataLookupFuncName.ts
  frontend/libs/studio-components/src/components/StudioExpression/enums/GatewayActionContext.ts
  frontend/libs/studio-components/src/components/StudioExpression/enums/KeyLookupFuncName.ts
  frontend/libs/studio-components/src/components/StudioExpression/enums/SimpleSubexpressionValueType.ts
  frontend/libs/studio-components/src/components/StudioExpression/index.ts
  frontend/libs/studio-components/src/components/StudioExpression/test-data/dataLookupOptions.ts
  frontend/libs/studio-components/src/components/StudioExpression/test-data/texts.ts
  frontend/libs/studio-components/src/components/StudioExpression/types/Expression.ts
  frontend/libs/studio-components/src/components/StudioExpression/types/ExpressionTexts.ts
  frontend/libs/studio-components/src/components/StudioExpression/types/SimpleSubexpressionValue.ts
  frontend/libs/studio-components/src/components/StudioExpression/validators/expression.schema.v1.json
  frontend/libs/studio-components/src/components/StudioExpression/validators/isExpressionSimple.test.ts
  frontend/libs/studio-components/src/components/StudioExpression/validators/isExpressionSimple.ts
  frontend/packages/process-editor/src/components/Canvas/BPMNEditor/BPMNEditor.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigPanel.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigPanel.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigSequenceFlow/ConfigSequenceFlow.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigSequenceFlow/ConfigSequenceFlow.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigSequenceFlow/ConfigSequenceFlow.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigSequenceFlow/index.ts
  frontend/packages/process-editor/src/hooks/useBpmnEditor.test.tsx
  frontend/packages/process-editor/src/hooks/useBpmnEditor.ts
  frontend/packages/process-editor/src/hooks/useBpmnModeler/useBpmnModeler.ts
  frontend/packages/process-editor/src/utils/StudioBpmnModeler.ts
  frontend/packages/process-editor/src/utils/bpmn/BpmnExpressionModeler.ts
  frontend/packages/process-editor/src/utils/bpmn/BpmnModelerInstance.ts
  frontend/packages/process-editor/src/utils/bpmn/StudioModeler.ts
  frontend/packages/shared/src/components/Expression/Expression.tsx
  frontend/packages/shared/src/components/Expression/useExpressionTexts.ts
  frontend/packages/ux-editor/src/components/config/ExpressionContent/ExpressionContent.tsx
Labels: area/process, area/ui-editor, solution/studio/designer

#12817 Bump dependencies for PDF
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes, area/pdf

#12816 Test Feedback for Gateway Actions
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigPanel.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigSequenceFlow/ConfigSequenceFlow.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigSequenceFlow/ConfigSequenceFlow.tsx
Labels: area/process, solution/studio/designer, skip-releasenotes

#12775 Resourceadm: return resources from all environments in resource list
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Models/ListviewServiceResource.cs
  backend/src/Designer/Services/Implementation/GiteaAPIWrapper/GiteaAPIWrapper.cs
  backend/src/Designer/Services/Implementation/RepositorySI.cs
  backend/src/Designer/Services/Implementation/ResourceRegistryService.cs
  backend/src/Designer/Services/Interfaces/IRepository.cs
  backend/src/Designer/Services/Interfaces/IResourceRegistry.cs
  backend/tests/Designer.Tests/Controllers/ResourceAdminController/GetAltinn2LinkServicesTests.cs
Labels: solution/studio/designer, quality/testing, area/resource-adm

#12798 Shortcut to open policy editor from process config panel
  frontend/app-development/contexts/AppDevelopmentContext.test.tsx
  frontend/app-development/contexts/AppDevelopmentContext.tsx
  frontend/app-development/contexts/SettingsModalContext.test.tsx
  frontend/app-development/contexts/SettingsModalContext.tsx
  frontend/app-development/features/processEditor/ProcessEditor.tsx
  frontend/app-development/index.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/SettingsModal.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModalButton.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModalButton.tsx
  frontend/app-development/test/testUtils.tsx
  frontend/app-development/utils/context/combineComponents.tsx
  frontend/language/src/nb.json
  frontend/packages/process-editor/src/ProcessEditor.test.tsx
  frontend/packages/process-editor/src/ProcessEditor.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditPolicy/EditPolicy.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditPolicy/EditPolicy.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditPolicy/EditPolicy.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditPolicy/index.ts
  frontend/packages/process-editor/src/contexts/BpmnApiContext.tsx
  frontend/packages/process-editor/test/mocks/bpmnContextMock.ts
Labels: area/process, solution/studio/designer

#12733 Fix reloads of preview
  frontend/packages/ux-editor/src/AppContext.test.tsx
  frontend/packages/ux-editor/src/AppContext.tsx
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/EditPageId.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/EditPageId.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/HiddenExpressionOnLayout.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.tsx
  frontend/packages/ux-editor/src/components/TextResource/TextResource.tsx
  frontend/packages/ux-editor/src/components/config/EditFormComponent.tsx
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
  frontend/packages/ux-editor/src/components/config/componentConfig.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditNumberValue.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditNumberValue.tsx
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormItem/FormItemTitle/FormItemTitle.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/UnknownReferencedItem/useDeleteUnknownComponentReference.ts
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.test.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  frontend/packages/ux-editor/src/containers/FormItemContext.test.tsx
  frontend/packages/ux-editor/src/containers/FormItemContext.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useAddLayoutMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormComponentMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteLayoutMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useFormLayoutMutation.test.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useFormLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useFormLayoutSettingsMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateLayoutNameMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateLayoutNameMutation.ts
Labels: area/ui-editor, solution/studio/designer

#12805 Refactor XSDUpload using react-query
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload.tsx
  frontend/app-development/hooks/mutations/useUploadDatamodelMutation.test.ts
  frontend/app-development/hooks/mutations/useUploadDatamodelMutation.ts
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/components/ErrorPopover.module.css
  frontend/packages/shared/src/components/ErrorPopover.tsx
  frontend/packages/shared/src/contexts/ServicesContext.tsx
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/testing/setupTests.ts
Labels: area/data-modeling, solution/studio/designer, quality/testing

#12837 Specify text in description for adding an action
  frontend/language/src/nb.json
Labels: solution/studio/designer

#12836 Added Payment component to Studio
  frontend/packages/shared/src/types/ComponentSpecificConfig.ts
  frontend/packages/shared/src/types/ComponentType.ts
  frontend/packages/ux-editor/src/data/formItemConfig.test.ts
  frontend/packages/ux-editor/src/data/formItemConfig.ts
  frontend/packages/ux-editor/src/testing/componentSchemaMocks.ts
  frontend/packages/ux-editor/src/testing/schemas/json/component/Payment.schema.v1.json
Labels: area/ui-editor, solution/studio/designer

#12839 Add component title to language file
  frontend/language/src/nb.json
Labels: solution/studio/designer

#12827 Invalidate cache on updated files in process
  frontend/app-development/features/processEditor/ProcessEditor.test.tsx
  frontend/app-development/features/processEditor/ProcessEditor.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditTaskId/EditTaskId.test.tsx
  frontend/packages/process-editor/src/hooks/useTaskIds.tsx
  frontend/packages/process-editor/src/utils/bpmn/StudioModeler.ts
  frontend/packages/shared/src/queryInvalidator/SyncSuccessQueriesInvalidator.test.ts
  frontend/packages/shared/src/queryInvalidator/SyncSuccessQueriesInvalidator.ts
  frontend/packages/shared/src/queue/Queue.test.ts
  frontend/packages/shared/src/queue/Queue.ts
Labels: area/process, solution/studio/designer

#12842 feat(Dashboard): Implement error boundary to prevent dashboard crashes due to component failures
  frontend/dashboard/components/SafeErrorView/SafeErrorView.test.tsx
  frontend/dashboard/components/SafeErrorView/SafeErrorView.tsx
  frontend/dashboard/components/SafeErrorView/index.ts
  frontend/dashboard/pages/Dashboard/Dashboard.tsx
  frontend/language/src/nb.json
Labels: area/dashboard, solution/studio/designer, added-to-sprint

#12845 Bump dependencies for PDF
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes, area/pdf

#12785 Resourceadm: show published resources from other environments in resource list
  frontend/dashboard/components/ResourcesRepoList/ResourcesRepoList.test.tsx
  frontend/dashboard/components/ResourcesRepoList/ResourcesRepoList.tsx
  frontend/language/src/nb.json
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/ResourceAdm.ts
  frontend/resourceadm/components/ImportAltinn3ResourceModal/ImportAltinn3ResourceModal.tsx
  frontend/resourceadm/components/ImportAltinn3ResourceModal/index.ts
  frontend/resourceadm/components/ResourceTable/ResourceTable.module.css
  frontend/resourceadm/components/ResourceTable/ResourceTable.test.tsx
  frontend/resourceadm/components/ResourceTable/ResourceTable.tsx
  frontend/resourceadm/hooks/mutations/useImportResourceFromAltinn3Mutation.ts
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.test.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.tsx
  frontend/resourceadm/utils/mapperUtils/mapperUtils.ts
  frontend/resourceadm/utils/resourceListUtils/resourceListUtils.test.ts
Labels: area/dashboard, solution/studio/designer, area/resource-adm

#12844 Update minor deps + fixing testing/library issue
  frontend/app-development/package.json
  frontend/libs/studio-components/package.json
  frontend/libs/studio-icons/package.json
  frontend/packages/schema-editor/package.json
  frontend/packages/shared/package.json
  frontend/packages/ux-editor-v3/package.json
  frontend/packages/ux-editor/package.json
  frontend/scripts/package.json
  package.json
  yarn.lock
Labels: area/data-modeling, area/ui-editor, solution/studio/designer, quality/testing, kind/dependencies, added-to-sprint

#12855 update yarn.lock in frontend/script
  frontend/scripts/yarn.lock
Labels: kind/bug, solution/studio/designer, skip-releasenotes, kind/dependencies

#12860 updated information text about access rules
  frontend/language/src/nb.json
Labels: area/process, solution/studio/designer

#12857 Feat/12496 make it possible to open two different layout sets in two different windows
  frontend/packages/ux-editor/src/hooks/useSelectedFormLayoutSetName.test.tsx
  frontend/packages/ux-editor/src/hooks/useSelectedFormLayoutSetName.ts
Labels: area/ui-editor, solution/studio/designer

#12850 feat(ProcessEditor): add/delete default payment policy
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/DeleteDataTypeFromApplicationMetadataTests.cs
  frontend/app-development/features/processEditor/ProcessEditor.tsx
  frontend/app-development/features/processEditor/handlers/OnProcessTaskAddHandler.test.ts
  frontend/app-development/features/processEditor/handlers/OnProcessTaskAddHandler.ts
  frontend/app-development/features/processEditor/handlers/OnProcessTaskRemoveHandler.test.ts
  frontend/app-development/features/processEditor/handlers/OnProcessTaskRemoveHandler.ts
  frontend/app-development/hooks/mutations/useAddDataTypeToAppMetadata.ts
  frontend/app-development/hooks/queries/useAppPolicyQuery.ts
  frontend/app-development/utils/policy/index.ts
  frontend/app-development/utils/policy/payment/PaymentPolicyBuilder.test.tsx
  frontend/app-development/utils/policy/payment/PaymentPolicyBuilder.ts
  frontend/app-development/utils/policy/types.ts
  frontend/packages/process-editor/src/ProcessEditor.test.tsx
  frontend/packages/process-editor/src/ProcessEditor.tsx
  frontend/packages/process-editor/src/contexts/BpmnApiContext.tsx
  frontend/packages/process-editor/src/hooks/useBpmnEditor.test.tsx
  frontend/packages/process-editor/src/hooks/useBpmnEditor.ts
  frontend/packages/process-editor/src/types/BpmnBusinessObjectEditor.ts
  frontend/packages/process-editor/src/types/OnProcessTask.ts
  frontend/packages/process-editor/src/utils/ProcessTaskManager/AddProcessTaskManager.test.ts
  frontend/packages/process-editor/src/utils/ProcessTaskManager/AddProcessTaskManager.ts
  frontend/packages/process-editor/src/utils/ProcessTaskManager/RemoveProcessTaskManager.test.ts
  frontend/packages/process-editor/src/utils/ProcessTaskManager/RemoveProcessTaskManager.ts
  frontend/packages/process-editor/src/utils/ProcessTaskManager/index.ts
  frontend/packages/process-editor/src/utils/ProcessTaskManager/types.ts
  frontend/packages/process-editor/src/utils/policy/index.ts
  frontend/packages/process-editor/src/utils/policy/payment/PaymentPolicyBuilder.test.tsx
  frontend/packages/process-editor/src/utils/policy/payment/PaymentPolicyBuilder.ts
  frontend/packages/process-editor/src/utils/policy/types.ts
  frontend/packages/process-editor/test/mocks/bpmnContextMock.ts
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/types/Policy.ts
Labels: area/process, solution/studio/designer, quality/testing

#12877 Bug/12252 cant add rename delete pages after naming a pagewith(.)
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/utils/designViewUtils/designViewUtils.test.ts
  frontend/packages/ux-editor/src/utils/designViewUtils/designViewUtils.ts
Labels: area/ui-editor, solution/studio/designer

#12881 Fix textKey
  frontend/packages/schema-editor/src/components/SchemaInspector/InlineObject.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemPropertiesTab.test.tsx
Labels: area/data-modeling, solution/studio/designer, added-to-sprint

#12863 Force update of preview when updating the datamodel bindings
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/EditDataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/EditDataModelBindings.tsx
Labels: area/ui-editor, solution/studio/designer

#12885 Remove prop drilling of app and org in SettingsModal
  frontend/app-development/layout/PageHeader.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/SettingsModal.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/SettingsModal.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/TabHeader/TabHeader.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/AboutTab.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/AboutTab.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/InputFields/InputFields.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AccessControlTab/AccessControlTab.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AccessControlTab/AccessControlTab.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AccessControlTab/SelectAllowedPartyTypes/SelectAllowedPartyTypes.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/AccessControlTab/SelectAllowedPartyTypes/SelectAllowedPartyTypes.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/PolicyTab/PolicyTab.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/PolicyTab/PolicyTab.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/SetupTab/SetupTab.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/SetupTab/SetupTab.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/SetupTab/SetupTabContent/SetupTabContent.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModal/components/Tabs/SetupTab/SetupTabContent/SetupTabContent.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModalButton.test.tsx
  frontend/app-development/layout/SettingsModalButton/SettingsModalButton.tsx
Labels: solution/studio/designer, added-to-sprint

#12890 Only tryChange appMetadata if connected task from dataTypeChange is NOT customReceipt
  backend/src/Designer/Constants/General.cs
  backend/src/Designer/Controllers/PreviewController.cs
  backend/src/Designer/EventHandlers/ProcessDataTypeChanged/ProcessDataTypeChangedApplicationMetadataHandler.cs
  backend/src/Designer/Services/Implementation/PreviewService.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/GetAppMetadataModelIdsTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/InstancesTests.cs
  backend/tests/Designer.Tests/Controllers/PreviewController/PreviewControllerTestsBase.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/FileSync/DataTypeChangeTests/ApplicationMetadataFileSyncDataTypeTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/FileSync/DataTypeChangeTests/LayoutSetsFileSyncDataTypeTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/config/applicationmetadata.json
  testdata/App/ui/layout-sets.json
Labels: solution/studio/designer, quality/testing, skip-releasenotes, added-to-sprint
