Repository Altinn/altinn-studio, pull requests merged in 2024-08, with the labels that each got.

#13278 Remove Microsoft.VisualStudio.Web.CodeGeneration.Design package
  backend/packagegroups/NuGet.props
  backend/src/Designer/Designer.csproj
Labels: solution/studio/designer, kind/dependencies

#13281 added comment to pom.xml
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes, area/pdf

#13237 11360 cleanup error message components
  frontend/app-development/features/overview/components/News.tsx
  frontend/dashboard/app/App.tsx
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioPageError/StudioPageError.mdx
  frontend/libs/studio-components/src/components/StudioPageError/StudioPageError.module.css
  frontend/libs/studio-components/src/components/StudioPageError/StudioPageError.stories.tsx
  frontend/libs/studio-components/src/components/StudioPageError/StudioPageError.test.tsx
  frontend/libs/studio-components/src/components/StudioPageError/StudioPageError.tsx
  frontend/libs/studio-components/src/components/StudioPageError/index.ts
  frontend/libs/studio-components/src/components/index.ts
  frontend/packages/process-editor/src/ProcessEditor.test.tsx
  frontend/packages/process-editor/src/ProcessEditor.tsx
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/components/ErrorPage/ErrorPage.module.css
  frontend/packages/ux-editor/src/components/ErrorPage/ErrorPage.tsx
  frontend/packages/ux-editor/src/components/ErrorPage/index.ts
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
Labels: area/process, area/ui-editor, area/dashboard, solution/studio/designer

#13283 Designer deploy workflow
  .github/workflows/designer-deploy.yaml
  .github/workflows/template-docker-push.yaml
  .github/workflows/template-flux-config-push.yaml
  .github/workflows/template-helm-push.yaml
  .github/workflows/template-short-sha.yaml
  charts/altinn-designer-config/Chart.yaml
  charts/altinn-designer-config/templates/helm-release.yaml
  charts/altinn-designer-config/values.yaml
  charts/altinn-designer/.helmignore
  charts/altinn-designer/Chart.yaml
  charts/altinn-designer/templates/NOTES.txt
  charts/altinn-designer/templates/_helpers.tpl
  charts/altinn-designer/templates/deployment.yaml
  charts/altinn-designer/templates/ingress.yaml
  charts/altinn-designer/templates/keys-pvc.yaml
  charts/altinn-designer/templates/keys-storageclass.yaml
  charts/altinn-designer/templates/service.yaml
  charts/altinn-designer/templates/tests/test-connection.yaml
  charts/altinn-designer/templates/wwwRedirectIngress.yaml
  charts/altinn-designer/values.yaml
Labels: skip-releasenotes

#13289 add permissions to pipeline
  .github/workflows/designer-deploy.yaml
Labels: skip-releasenotes

#13293 set environmentName instead of environment
  .github/workflows/designer-deploy.yaml
Labels: skip-releasenotes

#13267 Added optional chaining operator in handleClose function
  frontend/packages/ux-editor/src/components/TextResource/TextResource.tsx
Labels: area/ui-editor, solution/studio/designer

#13295 deploy designer to dev and prod as well
  .github/workflows/designer-deploy.yaml
Labels: skip-releasenotes

#13100 feat(Payment): enable Payment feature in Studio
  frontend/packages/process-editor/src/bpmnProviders/SupportedPaletteProvider.js
  frontend/packages/process-editor/src/components/Canvas/Canvas.module.css
  frontend/packages/shared/src/utils/featureToggleUtils.test.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
Labels: area/process, solution/studio/designer, added-to-sprint

#13284 Fixed classNames of text editor
  frontend/packages/text-editor/src/RightMenu.module.css
  frontend/packages/text-editor/src/RightMenu.tsx
  frontend/packages/text-editor/src/TextEditor.module.css
  frontend/packages/text-editor/src/TextEditor.tsx
Labels: solution/studio/designer, area/text-editor

#13299 Temporary fix for Playwright
  development/setup.js
  frontend/testing/playwright/scripts/setup.ts
Labels: solution/studio/designer, quality/testing, skip-releasenotes

#13297 Loadbalancer deploy
  .github/workflows/loadbalancer-deploy.yaml
  charts/altinn-loadbalancer-config/Chart.yaml
  charts/altinn-loadbalancer-config/templates/helm-release.yaml
  charts/altinn-loadbalancer-config/values.yaml
  charts/altinn-loadbalancer/.helmignore
  charts/altinn-loadbalancer/Chart.yaml
  charts/altinn-loadbalancer/templates/NOTES.txt
  charts/altinn-loadbalancer/templates/_helpers.tpl
  charts/altinn-loadbalancer/templates/configmap.yaml
  charts/altinn-loadbalancer/templates/deployment.yaml
  charts/altinn-loadbalancer/templates/service.yaml
  charts/altinn-loadbalancer/values.yaml
Labels: skip-releasenotes

#13302 deploy loadbalancer to dev and prod
  .github/workflows/loadbalancer-deploy.yaml
Labels: skip-releasenotes

#13312 add version.json in designer image
  .github/workflows/designer-deploy.yaml
  Dockerfile
  development/setup.js
Labels: skip-releasenotes, added-to-sprint

#13291 Make sure parent path accounts for references when adding nodes
  frontend/packages/schema-editor/src/components/SchemaEditor/hooks/useAddReference.ts
Labels: area/data-modeling, solution/studio/designer

#13311 Healthchecks for containers
  .github/workflows/run-playwright-on-pr.yaml
  compose.yaml
Labels: solution/studio/designer, skip-releasenotes

#13313 initial chart and deploy pipeline for gitea
  .github/workflows/repositories-deploy.yaml
  charts/altinn-repositories-config/Chart.yaml
  charts/altinn-repositories-config/templates/helm-release.yaml
  charts/altinn-repositories-config/values.yaml
  charts/altinn-repositories/.helmignore
  charts/altinn-repositories/Chart.yaml
  charts/altinn-repositories/templates/NOTES.txt
  charts/altinn-repositories/templates/_helpers.tpl
  charts/altinn-repositories/templates/deployment.yaml
  charts/altinn-repositories/templates/ingress.yaml
  charts/altinn-repositories/templates/service.yaml
  charts/altinn-repositories/templates/tests/test-connection.yaml
  charts/altinn-repositories/values.yaml
Labels: skip-releasenotes

#13314 set context for gitea image
  .github/workflows/repositories-deploy.yaml
Labels: skip-releasenotes

#13315 fix dockerfile path
  .github/workflows/repositories-deploy.yaml
Labels: skip-releasenotes

#13288 13191 remove type selector for existing fields in felter tab for an object
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTab.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTab.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldsTable.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldsTable.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldsTableRow.tsx
Labels: area/data-modeling, solution/studio/designer

#13320 add dev and prod deploy
  .github/workflows/repositories-deploy.yaml
Labels: skip-releasenotes

#13321 refactor/eid logger deploy
  .github/workflows/deploy-designer.yaml
  .github/workflows/deploy-eid-logger.yaml
  .github/workflows/deploy-loadbalancer.yaml
  .github/workflows/deploy-repositories.yaml
  .github/workflows/eid-logger-deploy.yaml
  charts/eid-logger-config/templates/helm-release.yaml
  charts/eid-logger-config/values.yaml
Labels: skip-releasenotes

#13319 Updated Gitea templates
  gitea/files/templates/base/head_navbar.tmpl
  gitea/files/templates/home.tmpl
Labels: solution/studio/repos

#13163 Show git diff when clicking on a file that has been added or changed
  backend/src/Designer/Controllers/RepositoryController.cs
  backend/src/Designer/Services/Implementation/SourceControlLoggingDecorator.cs
  backend/src/Designer/Services/Implementation/SourceControlSI.cs
  backend/src/Designer/Services/Interfaces/ISourceControl.cs
  backend/tests/Designer.Tests/Fixtures/GiteaConstants.cs
  backend/tests/Designer.Tests/GiteaIntegrationTests/RepositoryController/GitDiffIntegrationTests.cs
  backend/tests/Designer.Tests/GiteaIntegrationTests/RepositoryController/GitNotesGiteaIntegrationTests.cs
  backend/tests/Designer.Tests/Helpers/PackageVersionHelperTests.cs
  backend/tests/Designer.Tests/Mocks/ISourceControlMock.cs
  backend/tests/Designer.Tests/Services/SourceControlLoggingDecoratorTests.cs
  backend/tests/Designer.Tests/_TestData/AppChangesForIntegrationTests/GitDiffResponse.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/CommitAndPushContent.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/FileChangesInfoModal/FileChangesInfoModal.module.css
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/FileChangesInfoModal/FileChangesInfoModal.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/FileChangesInfoModal/FileChangesInfoModal.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/FileChangesInfoModal/FilePath/FilePath.module.css
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/FileChangesInfoModal/FilePath/FilePath.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/FileChangesInfoModal/FilePath/FilePath.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/FileChangesInfoModal/FilePath/FilePathUtils.test.ts
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/FileChangesInfoModal/FilePath/FilePathUtils.ts
  frontend/packages/shared/src/hooks/queries/useRepoDiffQuery.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/QueryKey.ts
  frontend/packages/shared/src/types/api/RepoDiffResponse.ts
  frontend/packages/shared/src/utils/filenameUtils.test.ts
  frontend/packages/shared/src/utils/filenameUtils.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditNumberValue.tsx
  frontend/testing/playwright/pages/DataModelPage.ts
  frontend/testing/playwright/pages/LoginPage.ts
  testdata/AppTemplates/AspNet/.dockerignore
  testdata/AppTemplates/AspNet/App/App.csproj
  testdata/AppTemplates/AspNet/App/JWTValidationCert.cer
  testdata/AppTemplates/AspNet/App/Program.cs
  testdata/AppTemplates/AspNet/App/Properties/launchSettings.json
  testdata/AppTemplates/AspNet/App/appsettings.Development.json
  testdata/AppTemplates/AspNet/App/appsettings.Production.json
  testdata/AppTemplates/AspNet/App/appsettings.Staging.json
  testdata/AppTemplates/AspNet/App/appsettings.json
  testdata/AppTemplates/AspNet/App/config/applicationmetadata.json
  testdata/AppTemplates/AspNet/App/config/process/process.bpmn
  testdata/AppTemplates/AspNet/App/config/texts/resource.nb.json
  testdata/AppTemplates/AspNet/App/models/model.cs
  testdata/AppTemplates/AspNet/App/models/model.metadata.json
  testdata/AppTemplates/AspNet/App/models/model.schema.json
  testdata/AppTemplates/AspNet/App/models/model.xsd
  testdata/AppTemplates/AspNet/App/ui/footer.json
  testdata/AppTemplates/AspNet/App/ui/form/RuleHandler.js
  testdata/AppTemplates/AspNet/App/ui/form/Settings.json
  testdata/AppTemplates/AspNet/App/ui/form/layouts/Side1.json
  testdata/AppTemplates/AspNet/App/ui/layout-sets.json
  testdata/AppTemplates/AspNet/App/ui/layouts/receipt.json
  testdata/AppTemplates/AspNet/App/ui/settings.json
  testdata/AppTemplates/AspNet/App/views/Home/Index.cshtml
  testdata/AppTemplates/AspNet/Dockerfile
  testdata/AppTemplates/AspNet/deployment/Chart.yaml
Labels: area/ui-editor, solution/studio/designer, quality/testing, skip-releasenotes

#13277 12893 multiple debounce mechanisms
  frontend/dashboard/pages/Dashboard/Dashboard.tsx
  frontend/jest.config.js
  frontend/libs/studio-components/src/hooks/index.ts
  frontend/libs/studio-components/src/hooks/useDebounce.test.ts
  frontend/libs/studio-components/src/hooks/useDebounce.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/ActionsEditor/CustomActions/CustomActions.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditUniqueFromSignaturesInDataTypes/SelectUniqueFromSignaturesInDataTypes/SelectUniqueFromSignaturesInDataTypes.tsx
  frontend/packages/process-editor/src/hooks/dataTypesToSign/useUpdateDataTypesToSign.ts
  frontend/packages/shared/src/hooks/useDebounce.test.ts
  frontend/packages/shared/src/hooks/useDebounce.ts
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/HiddenExpressionOnLayout.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/HiddenExpressionOnLayout.tsx
Labels: area/process, area/ui-editor, area/dashboard, solution/studio/designer

#13323 refactor setup script
  .github/workflows/run-playwright-on-pr.yaml
  Dockerfile
  compose.yaml
  development/setup.js
  development/utils/create-cypress-env-file.js
  development/utils/gitea-api.js
  development/utils/wait-for-healthy.js
  development/utils/wait-for.js
  development/utils/write-env-file.js
  frontend/testing/playwright/scripts/setup.ts
Labels: solution/studio/designer, quality/testing, skip-releasenotes

#13326 remove stoping of services
  development/setup.js
Labels: skip-releasenotes

#13328 Nginx version
  charts/altinn-loadbalancer/values.yaml
Labels: added-to-sprint

#13250 Allow changing layoutset even though designview have error with conne…
  frontend/app-development/layout/App.module.css
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/App.test.tsx
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.module.css
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  frontend/packages/ux-editor/src/hooks/queries/useDataModelMetadataQuery.ts
Labels: area/ui-editor, solution/studio/designer

#13325 Removed `react-use`
  frontend/dashboard/package.json
  frontend/resourceadm/components/AccessListMembers/AccessListMembers.tsx
  frontend/resourceadm/package.json
  yarn.lock
Labels: area/dashboard, solution/studio/designer, skip-releasenotes, kind/dependencies

#13309 11599 replace all existing contact methods phones mails etc with a link pointing to the new contact page
  frontend/app-development/features/appPublish/containers/ReleaseContainer.tsx
  frontend/app-development/features/appPublish/pages/DeployPage.tsx
  frontend/app-development/layout/NotFoundPage/NotFoundPage.tsx
  frontend/language/src/nb.json
Labels: area/app-deploy, solution/studio/designer

#13330 Fix test feedback
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/FileChangesInfoModal/FilePath/FilePath.tsx
  frontend/packages/shared/src/hooks/queries/useRepoDiffQuery.ts
Labels: solution/studio/designer

#13304 feat(ErrorBoundry): Implemented Route Based Error Boundry
  frontend/app-development/router/PageRouterErrorBoundry.tsx
  frontend/app-development/router/PageRoutes.tsx
  frontend/app-development/router/RouterErrorBoundary.test.tsx
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioPageError/StudioPageError.test.tsx
  frontend/libs/studio-components/src/components/StudioPageError/StudioPageError.tsx
  frontend/packages/shared/src/components/ErrorBoundaryFallback.module.css
  frontend/packages/shared/src/components/ErrorBoundaryFallback.tsx
  frontend/packages/shared/src/contexts/ServicesContext.test.tsx
  frontend/packages/shared/src/contexts/ServicesContext.tsx
Labels: solution/studio/designer

#13336 Fixed typo
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/resourceadm/utils/resourceUtils/resourceUtils.test.tsx
  frontend/resourceadm/utils/resourceUtils/resourceUtils.ts
Labels: solution/studio/designer, skip-releasenotes

#13332 Fixed icons
  frontend/app-development/features/appPublish/components/DeploymentEnvironmentLogList.module.css
  frontend/app-development/features/appPublish/components/DeploymentEnvironmentLogList.tsx
  frontend/studio-root/pages/Contact/Contact.module.css
  frontend/studio-root/pages/Contact/Contact.tsx
Labels: area/app-deploy, solution/studio/designer, area/studio-root

#13076 Text improvements in Studio
  .vscode/settings.json
  frontend/language/src/nb.json
Labels: solution/studio/designer, skip-releasenotes

#13347 Deploy to environments from dispatch
  .github/workflows/deploy-designer.yaml
  .github/workflows/template-docker-push.yaml
  .github/workflows/template-helm-push.yaml
Labels: skip-releasenotes

#13351 exclude dev as default environment to deploy after merge
  .github/workflows/deploy-designer.yaml
Labels: skip-releasenotes

#13352 Fix/run playwright against staging
  .github/workflows/playwright.yml
Labels: skip-releasenotes

#13353 Playwright Tests in Staging
  .github/workflows/playwright.yml
Labels: skip-releasenotes

#13298 Språklige endringer i nb.json (sommeroppgaven)
  frontend/language/src/nb.json
Labels: solution/studio/designer

#13139 chore(GetInTouch): Modularize contact URL management using GetInTouchWith class
  frontend/app-development/features/appPublish/pages/DeployPage.tsx
  frontend/app-development/features/overview/components/NoEnvironmentsAlert/NoEnvironmentsAlert.tsx
  frontend/language/src/nb.json
  frontend/packages/shared/src/getInTouch/GetInTouchWith.test.ts
  frontend/packages/shared/src/getInTouch/GetInTouchWith.ts
  frontend/packages/shared/src/getInTouch/index.ts
  frontend/packages/shared/src/getInTouch/interfaces/GetInTouchProvider.ts
  frontend/packages/shared/src/getInTouch/providers/EmailContactProvider.test.ts
  frontend/packages/shared/src/getInTouch/providers/EmailContactProvider.ts
  frontend/packages/shared/src/getInTouch/providers/GitHubIssueContactProvider.ts
  frontend/packages/shared/src/getInTouch/providers/GitHubIssuesContactProvider.test.ts
  frontend/packages/shared/src/getInTouch/providers/SlackContactProvider.test.ts
  frontend/packages/shared/src/getInTouch/providers/SlackContactProvider.ts
  frontend/packages/shared/src/getInTouch/providers/index.ts
  frontend/studio-root/app/App.tsx
  frontend/studio-root/pages/Contact/Contact.test.tsx
  frontend/studio-root/pages/Contact/ContactPage.module.css
  frontend/studio-root/pages/Contact/ContactPage.test.tsx
  frontend/studio-root/pages/Contact/ContactPage.tsx
Labels: area/app-deploy, solution/studio/designer, skip-releasenotes, area/studio-root

#13333 fix(ProcessEditor): Correct rendering of action list on item addition and deletion
  frontend/libs/studio-components/package.json
  frontend/libs/studio-components/src/hooks/index.ts
  frontend/libs/studio-components/src/hooks/useUniqueKey.test.ts
  frontend/libs/studio-components/src/hooks/useUniqueKeys.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/ActionsEditor/ActionsEditor.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/ActionsEditor/ActionsEditor.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/EditActions.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/EditActions.tsx
  yarn.lock
Labels: area/process, solution/studio/designer, kind/dependencies

#13238 Add news to repo and change folder structure
  frontend/app-development/features/overview/components/Deployments/DeploymentContainer/DeploymentContainer.test.tsx
  frontend/app-development/features/overview/components/Deployments/DeploymentContainer/DeploymentContainer.tsx
  frontend/app-development/features/overview/components/Deployments/DeploymentContainer/DeploymentLogList.module.css
  frontend/app-development/features/overview/components/Deployments/DeploymentContainer/DeploymentLogList.test.tsx
  frontend/app-development/features/overview/components/Deployments/DeploymentContainer/DeploymentLogList.tsx
  frontend/app-development/features/overview/components/Deployments/DeploymentContainer/DeploymentStatus.module.css
  frontend/app-development/features/overview/components/Deployments/DeploymentContainer/DeploymentStatus.test.tsx
  frontend/app-development/features/overview/components/Deployments/DeploymentContainer/DeploymentStatus.tsx
  frontend/app-development/features/overview/components/Deployments/DeploymentContainer/DeploymentStatusList.module.css
  frontend/app-development/features/overview/components/Deployments/DeploymentContainer/DeploymentStatusList.tsx
  frontend/app-development/features/overview/components/Deployments/DeploymentContainer/index.ts
  frontend/app-development/features/overview/components/Deployments/Deployments.test.tsx
  frontend/app-development/features/overview/components/Deployments/Deployments.tsx
  frontend/app-development/features/overview/components/Deployments/NoEnvironmentsAlert/NoEnviormentsAlert.test.tsx
  frontend/app-development/features/overview/components/Deployments/NoEnvironmentsAlert/NoEnvironmentsAlert.tsx
  frontend/app-development/features/overview/components/Deployments/NoEnvironmentsAlert/index.ts
  frontend/app-development/features/overview/components/Deployments/RepoOwnedByPersonInfo/RepoOwnedByPersonInfo.module.css
  frontend/app-development/features/overview/components/Deployments/RepoOwnedByPersonInfo/RepoOwnedByPersonInfo.test.tsx
  frontend/app-development/features/overview/components/Deployments/RepoOwnedByPersonInfo/RepoOwnedByPersonInfo.tsx
  frontend/app-development/features/overview/components/Deployments/RepoOwnedByPersonInfo/index.ts
  frontend/app-development/features/overview/components/Deployments/index.ts
  frontend/app-development/features/overview/components/Documentation/Documentation.module.css
  frontend/app-development/features/overview/components/Documentation/Documentation.test.tsx
  frontend/app-development/features/overview/components/Documentation/Documentation.tsx
  frontend/app-development/features/overview/components/Documentation/index.ts
  frontend/app-development/features/overview/components/Navigation/Navigation.module.css
  frontend/app-development/features/overview/components/Navigation/Navigation.test.tsx
  frontend/app-development/features/overview/components/Navigation/Navigation.tsx
  frontend/app-development/features/overview/components/Navigation/index.ts
  frontend/app-development/features/overview/components/News/News.module.css
  frontend/app-development/features/overview/components/News/News.test.tsx
  frontend/app-development/features/overview/components/News/News.tsx
  frontend/app-development/features/overview/components/News/NewsContent/news.nb.json
  frontend/app-development/features/overview/components/News/NewsContent/news.schema.json
  frontend/app-development/features/overview/components/News/index.ts
  frontend/language/src/nb.json
Labels: solution/studio/designer, skip-releasenotes

#13361 chore(LogicalExpressionEditor): refactor to use UseUniqueKeys
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/LogicalExpressionEditor.tsx
  frontend/libs/studio-components/src/hooks/useUniqueKeys.ts
Labels: solution/studio/designer

#13348 Use enumLabelMapper for values in new select and add more missing texts
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/editModal/EditStringValue.tsx
Labels: area/ui-editor, solution/studio/designer

#13350 Removed unused files
  frontend/dashboard/components/ErrorMessage/ErrorMessage.tsx
  frontend/dashboard/components/ErrorMessage/errorMessage.module.css
  frontend/dashboard/components/ErrorMessage/index.ts
Labels: area/dashboard, solution/studio/designer, skip-releasenotes

#13357 Fixed dataTypesToSign
  frontend/app-development/features/processEditor/ProcessEditor.test.tsx
  frontend/app-development/features/processEditor/ProcessEditor.tsx
Labels: area/process, solution/studio/designer

#13249 12993 change default name on nav button from nextback to nesteforrige
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/EventHandlers/LayoutPageAdded/LayoutPageAddedHandler.cs
  backend/src/Designer/Events/LayoutPageAddedEvent.cs
  backend/src/Designer/Hubs/SyncHub/SyncErrorCodes.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/SaveFormLayoutTests.cs
  frontend/packages/ux-editor/src/App.test.tsx
  frontend/packages/ux-editor/src/App.tsx
Labels: area/ui-editor, solution/studio/designer, quality/testing

#13368 fix(setup.js): ensure that waitForHealthy command runs on windows as well.
  development/utils/wait-for-healthy.js
Labels: skip-releasenotes, added-to-sprint

#13371 Patching PDF-generator, bump pdfbox, azure-identity and azure-security-keyvault-secrets
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes, area/pdf

#13363 use grid display for app container
  frontend/app-development/features/overview/components/Overview.module.css
  frontend/app-development/layout/App.module.css
  frontend/app-development/layout/App.tsx
  frontend/packages/shared/src/components/PageContainer/PageContainer.module.css
Labels: solution/studio/designer

#13372 Test feedback: Change labels to start with capital letters
  backend/src/Designer/EventHandlers/LayoutPageAdded/LayoutPageAddedHandler.cs
Labels: solution/studio/designer

#13374 Update text keys in nb.json
  frontend/language/src/nb.json
Labels: solution/studio/designer

#13375 fix(mutations): update v3 to use v4 interface for updating/deleting mutation layouts
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/ux-editor-v3/src/hooks/mutations/useAddLayoutMutation.test.ts
  frontend/packages/ux-editor-v3/src/hooks/mutations/useAddLayoutMutation.ts
  frontend/packages/ux-editor-v3/src/hooks/mutations/useDeleteFormComponentMutation.test.ts
  frontend/packages/ux-editor-v3/src/hooks/mutations/useDeleteFormContainerMutation.test.ts
  frontend/packages/ux-editor-v3/src/hooks/mutations/useDeleteLayoutMutation.ts
  frontend/packages/ux-editor-v3/src/hooks/mutations/useFormLayoutMutation.test.tsx
  frontend/packages/ux-editor-v3/src/hooks/mutations/useFormLayoutMutation.ts
  frontend/packages/ux-editor-v3/src/hooks/mutations/useUpdateFormComponentMutation.test.ts
  frontend/packages/ux-editor-v3/src/hooks/mutations/useUpdateFormContainerMutation.test.ts
Labels: kind/bug, solution/studio/designer, added-to-sprint

#13356 refactor(@Studio/hooks): Created a new library for hooks, @studio/hooks
  Dockerfile
  frontend/app-development/package.json
  frontend/dashboard/pages/Dashboard/Dashboard.tsx
  frontend/jest.config.js
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/LogicalExpressionEditor.tsx
  frontend/libs/studio-components/src/hooks/index.ts
  frontend/libs/studio-hooks/.eslintrc.js
  frontend/libs/studio-hooks/README.md
  frontend/libs/studio-hooks/jest.config.js
  frontend/libs/studio-hooks/package.json
  frontend/libs/studio-hooks/src/hooks/index.ts
  frontend/libs/studio-hooks/src/hooks/useDebounce.test.ts
  frontend/libs/studio-hooks/src/hooks/useDebounce.ts
  frontend/libs/studio-hooks/src/hooks/useUniqueKey.test.ts
  frontend/libs/studio-hooks/src/hooks/useUniqueKeys.ts
  frontend/libs/studio-hooks/src/index.ts
  frontend/libs/studio-hooks/tsconfig.json
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/ActionsEditor/CustomActions/CustomActions.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/EditActions.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/EditActions.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditUniqueFromSignaturesInDataTypes/SelectUniqueFromSignaturesInDataTypes/SelectUniqueFromSignaturesInDataTypes.tsx
  frontend/packages/process-editor/src/hooks/dataTypesToSign/useUpdateDataTypesToSign.ts
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/HiddenExpressionOnLayout.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/HiddenExpressionOnLayout.tsx
  frontend/resourceadm/components/AccessListMembers/AccessListMembers.tsx
  yarn.lock
Labels: area/process, area/ui-editor, area/dashboard, solution/studio/designer, skip-releasenotes, kind/dependencies

#13294 Added validation for the number of characters in the name of the receipt
  frontend/language/src/nb.json
  frontend/packages/shared/src/utils/layoutSetsUtils.test.ts
  frontend/packages/shared/src/utils/layoutSetsUtils.ts
Labels: solution/studio/designer

#13367 Fixed issues with texts
  frontend/app-development/features/appPublish/containers/ReleaseContainer.module.css
  frontend/app-development/features/appPublish/containers/ReleaseContainer.tsx
  frontend/app-development/features/appPublish/pages/DeployPage.tsx
  frontend/dashboard/app/App.tsx
  frontend/language/src/nb.json
  frontend/studio-root/app/App.tsx
Labels: area/dashboard, area/app-deploy, solution/studio/designer, area/studio-root

#13377 Add news about git diff
  frontend/app-development/features/overview/components/News/NewsContent/news.nb.json
Labels: solution/studio/designer

#13392 feature/k8s wrapper deploy
  .github/workflows/deploy-designer.yaml
  .github/workflows/deploy-kubernetes-wrapper.yaml
  .github/workflows/template-construct-environments.yaml
  .github/workflows/template-docker-push.yaml
  .github/workflows/template-short-sha.yaml
  charts/kuberneteswrapper-config/Chart.yaml
  charts/kuberneteswrapper-config/templates/helm-release.yaml
  charts/kuberneteswrapper-config/values.yaml
  charts/kuberneteswrapper/.helmignore
  charts/kuberneteswrapper/Chart.yaml
  charts/kuberneteswrapper/templates/_helpers.tpl
  charts/kuberneteswrapper/templates/deployment.yaml
  charts/kuberneteswrapper/templates/ingress.yaml
  charts/kuberneteswrapper/templates/role.yaml
  charts/kuberneteswrapper/templates/rolebinding.yaml
  charts/kuberneteswrapper/templates/service.yaml
  charts/kuberneteswrapper/templates/serviceaccount.yaml
  charts/kuberneteswrapper/values.yaml
Labels: skip-releasenotes

#13362 13121 deleting a group should be recursive
  backend/src/Designer/Controllers/ApplicationMetadataController.cs
  frontend/libs/studio-pure-functions/src/ArrayUtils/ArrayUtils.test.ts
  frontend/libs/studio-pure-functions/src/ArrayUtils/ArrayUtils.ts
  frontend/packages/shared/src/utils/arrayUtils.test.ts
  frontend/packages/shared/src/utils/arrayUtils.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormContainerMutation.ts
  frontend/packages/ux-editor/src/utils/formLayoutUtils.test.tsx
  frontend/packages/ux-editor/src/utils/formLayoutUtils.ts
Labels: area/ui-editor, solution/studio/designer

#13378 Fixed deployments
  compose.yaml
  development/db/data.sql
  development/setup.js
Labels: skip-releasenotes

#13360 Fix missing "Publisert av" developer name in deploy page
  backend/src/Designer/Repository/Models/EntityExtensions.cs
  backend/tests/Designer.Tests/Hubs/PreviewHubTests.cs
  backend/tests/Designer.Tests/Services/DeploymentServiceTest.cs
  backend/tests/Designer.Tests/Services/GiteaAPIWrapperTest.cs
  backend/tests/Designer.Tests/Services/ReleaseServiceTest.cs
  backend/tests/Designer.Tests/Services/RepositorySITests.cs
  backend/tests/Designer.Tests/Services/SourceControlLoggingDecoratorTests.cs
  backend/tests/Designer.Tests/Services/SourceControlSITest.cs
  backend/tests/Designer.Tests/Utils/PrincipalUtil.cs
Labels: solution/studio/designer, quality/testing

#13416 Run db migrations on deploy
  .github/workflows/deploy-designer.yaml
  charts/altinn-designer-config/templates/helm-release.yaml
  charts/altinn-designer-config/values.yaml
  charts/altinn-designer/templates/db-migrations-job.yaml
  charts/altinn-designer/values.yaml
Labels: skip-releasenotes

#13396 Remove deprecated lines in Husky pre-commit script
  .husky/pre-commit
  package.json
Labels: skip-releasenotes

#13403 Resourceadm: fix agressive re-render using studio debounce
  frontend/resourceadm/components/AccessListMembers/AccessListMembers.tsx
Labels: solution/studio/designer, skip-releasenotes, area/resource-adm

#13407 Resourceadm: move texts for resourceadm to new language file(s)
  frontend/dashboard/components/ResourcesRepoList/ResourcesRepoList.test.tsx
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/resourceadm/components/ResourcePageInputs/ResourceSwitchInput.tsx
  frontend/resourceadm/components/ResourceTable/ResourceTable.test.tsx
  frontend/resourceadm/components/ResourceTable/ResourceTable.tsx
  frontend/resourceadm/index.tsx
  frontend/resourceadm/language/src/en.json
  frontend/resourceadm/language/src/nb.json
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.test.tsx
  frontend/resourceadm/testing/playwright/helpers/textMock.ts
Labels: area/dashboard, solution/studio/designer, skip-releasenotes, area/resource-adm

#13423 Reduced the number of supported languages in Gitea
  gitea/files/conf/app.ini
Labels: solution/studio/repos

#13389 replaced contact method i dashboard
  frontend/dashboard/components/SafeErrorView/SafeErrorView.test.tsx
  frontend/dashboard/components/SafeErrorView/SafeErrorView.tsx
  frontend/dashboard/pages/Dashboard/Dashboard.tsx
  frontend/language/src/nb.json
Labels: area/dashboard, solution/studio/designer

#13415 Fix jumpy behavior on Info Popover in lage page
  frontend/packages/ux-editor/src/components/toolbar/InformationPanelComponent.tsx
Labels: area/ui-editor, solution/studio/designer

#13394 Add div to ensure grid-display works correctly
  frontend/app-development/features/dataModelling/DataModelling.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SelectedSchemaEditor.tsx
  frontend/app-development/features/processEditor/ProcessEditor.tsx
  frontend/app-development/features/textEditor/TextEditor.tsx
  frontend/app-development/layout/PageLayout.tsx
  frontend/app-development/router/routes.test.tsx
  frontend/app-development/router/routes.tsx
  frontend/dashboard/app/App.tsx
  frontend/libs/studio-components/src/components/StudioPageSpinner/StudioPageSpinner.test.tsx
  frontend/packages/ux-editor-v3/src/App.tsx
  frontend/packages/ux-editor-v3/src/containers/FormDesigner.tsx
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
  frontend/packages/ux-editor/src/hooks/queries/useDataModelMetadataQuery.ts
Labels: area/data-modeling, area/process, area/ui-editor, area/dashboard, solution/studio/designer, area/text-editor

#13429 Resourceadm: use module classname instead of global classname for sr-only class
  frontend/resourceadm/components/AccessListMembers/AccessListMembers.module.css
  frontend/resourceadm/components/AccessListMembers/AccessListMembersTable.tsx
Labels: solution/studio/designer, skip-releasenotes, area/resource-adm

#13296 Create a new Studio Component named RecommendedNextAction
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioHeading/index.tsx
  frontend/libs/studio-components/src/components/StudioRecommendedNextAction/StudioRecommendedNextAction.mdx
  frontend/libs/studio-components/src/components/StudioRecommendedNextAction/StudioRecommendedNextAction.module.css
  frontend/libs/studio-components/src/components/StudioRecommendedNextAction/StudioRecommendedNextAction.stories.tsx
  frontend/libs/studio-components/src/components/StudioRecommendedNextAction/StudioRecommendedNextAction.test.tsx
  frontend/libs/studio-components/src/components/StudioRecommendedNextAction/StudioRecommendedNextAction.tsx
  frontend/libs/studio-components/src/components/StudioRecommendedNextAction/context/StudioRecommendedNextActionContext.test.tsx
  frontend/libs/studio-components/src/components/StudioRecommendedNextAction/context/StudioRecommendedNextActionContext.tsx
  frontend/libs/studio-components/src/components/StudioRecommendedNextAction/context/useStudioRecommendedNextActionContext.ts
  frontend/libs/studio-components/src/components/StudioRecommendedNextAction/index.ts
  frontend/libs/studio-components/src/components/index.ts
  frontend/packages/process-editor/src/ProcessEditor.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContentContainer.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditTaskId/EditTaskId.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditTaskRecommendedActions/RecommendedActionChangeName.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditTaskRecommendedActions/RecommendedActionChangeName.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigPanel.test.tsx
  frontend/packages/process-editor/src/hooks/useBpmnEditor.test.tsx
  frontend/packages/process-editor/src/hooks/useBpmnEditor.ts
  frontend/packages/process-editor/src/hooks/useValidateBpmnId.tsx
  frontend/testing/playwright/pages/ProcessEditorPage/ProcessEditorPage.ts
  frontend/testing/playwright/tests/process-editor/add-new-bpmn-task.spec.ts
  frontend/testing/playwright/tests/process-editor/process-editor.spec.ts
Labels: area/process, solution/studio/designer, quality/testing, kind/dependencies

#13430 Fix slack link on contact page
  frontend/language/src/nb.json
Labels: solution/studio/designer

#13438 Bump PDF-generator dependencies
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes, area/pdf

#13436 chore: enforce semantic title on PR's
  .github/workflows/lint-pr.yaml
Labels: skip-releasenotes, added-to-sprint

#13446 Add help text to payment task
  frontend/language/src/nb.json
Labels: solution/studio/designer

#13449 fix: pdf container jar name in start command (PDF)
  src/Altinn.Platform/Altinn.Platform.PDF/Dockerfile
  src/Altinn.Platform/Altinn.Platform.PDF/README.md
Labels: solution/platform, skip-releasenotes, area/pdf
