Repository Altinn/altinn-studio, pull requests merged in 2024-07, with the labels that each got.

#13048 Remove signing data types from data types to sign
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypesToSign/SelectDataTypesToSign/SelectDataTypesToSign.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypesToSign/SelectDataTypesToSign/SelectDataTypesToSign.tsx
Labels: area/process, solution/studio/designer, quality/testing

#13057 Ensure to use correct actionType based on on/off switch
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/ActionsEditor/CustomActions/CustomAction.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/ActionsEditor/CustomActions/CustomActions.tsx
Labels: area/process, solution/studio/designer, skip-releasenotes

#13061 Added missing nullcheck for bpmn element
  frontend/packages/process-editor/src/utils/bpmn/BpmnExpressionModeler.ts
Labels: area/process, solution/studio/designer

#13064 Resourceadm: fixes after update of designsystem package
  frontend/resourceadm/components/AccessListEnvLinks/AccessListEnvLinks.tsx
  frontend/resourceadm/components/AccessListMembers/AccessListMembers.module.css
  frontend/resourceadm/components/AccessListMembers/AccessListMembers.tsx
  frontend/resourceadm/components/ResourceAccessLists/ResourceAccessLists.tsx
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.module.css
  frontend/resourceadm/pages/ListAdminPage/ListAdminPage.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.tsx
Labels: solution/studio/designer, skip-releasenotes, area/resource-adm

#13071 deleting comments
  frontend/packages/shared/src/components/AltinnHeaderProfile/AltinnHeaderProfile.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/ThreeDotsMenu.tsx
  frontend/packages/shared/src/components/altinnHeaderMenu/AltinnHeaderMenu.tsx
  frontend/studio-root/pages/Contact/Contact.tsx
Labels: solution/studio/designer, area/studio-root

#13070 Restore icon size on Dashboard to previous size - as before DS update
  frontend/dashboard/components/RepoList/ActionLinks.module.css
  frontend/dashboard/components/RepoList/ActionLinks.tsx
  frontend/dashboard/components/RepoList/FavoriteButton.module.css
  frontend/dashboard/components/RepoList/FavoriteButton.tsx
  frontend/resourceadm/components/ResourceTable/ResourceTable.module.css
Labels: area/dashboard, solution/studio/designer

#13069 Fixed styling on the deployment-page after designsystem update
  frontend/app-development/features/appPublish/components/DeploymentEnvironmentLogList.tsx
  frontend/app-development/features/appPublish/components/DeploymentEnvironmentStatus.module.css
Labels: area/app-deploy, solution/studio/designer

#13072 Ensure preview button and beta tag looks the same after designsystemet update
  frontend/packages/shared/src/components/altinnHeaderButtons/AltinnHeaderButton.module.css
  frontend/packages/shared/src/components/altinnHeaderMenu/AltinnHeaderMenu.module.css
  frontend/packages/shared/src/components/altinnHeaderMenu/AltinnHeaderMenu.tsx
Labels: solution/studio/designer

#13065 Fixed button sizing and "go to lage" link.
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.module.css
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/RedirectToCreatePageButton/RedirectToCreatePageButton.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/RedirectToCreatePageButton/RedirectToCreatePageButton.tsx
  frontend/packages/shared/src/navigation/main-header/ProfileMenu/__snapshots__/ProfileMenu.test.tsx.snap
Labels: area/process, solution/studio/designer, skip-releasenotes

#13051 12913 replace m UI popover with studio popover
  frontend/app-development/layout/App.tsx
  frontend/app-development/layout/SessionExpiredModal/SessionExpiredModal.module.css
  frontend/app-development/layout/SessionExpiredModal/SessionExpiredModal.test.tsx
  frontend/app-development/layout/SessionExpiredModal/SessionExpiredModal.tsx
  frontend/app-development/layout/SessionExpiredModal/index.ts
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChanges/LocalChanges.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChanges/LocalChanges.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChangesModal.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChangesModal.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/ThreeDotsMenu.tsx
  frontend/packages/shared/src/components/molecules/AltinnPopoverSimple.tsx
  frontend/packages/ux-editor-v3/src/components/Elements/ConfPageToolbar.tsx
  frontend/packages/ux-editor-v3/src/components/Elements/DefaultToolbar.tsx
  frontend/packages/ux-editor-v3/src/components/Elements/ToolbarItem.tsx
  frontend/packages/ux-editor-v3/src/components/toolbar/InformationPanelComponent.module.css
  frontend/packages/ux-editor-v3/src/components/toolbar/InformationPanelComponent.tsx
  frontend/packages/ux-editor-v3/src/components/toolbar/ToolbarItemComponent.module.css
  frontend/packages/ux-editor-v3/src/components/toolbar/ToolbarItemComponent.tsx
  frontend/packages/ux-editor/src/components/Elements/ConfPageToolbar.tsx
  frontend/packages/ux-editor/src/components/Elements/DefaultToolbar.tsx
  frontend/packages/ux-editor/src/components/Elements/ToolbarItem.tsx
  frontend/packages/ux-editor/src/components/toolbar/InformationPanelComponent.module.css
  frontend/packages/ux-editor/src/components/toolbar/InformationPanelComponent.tsx
  frontend/packages/ux-editor/src/components/toolbar/ToolbarItemComponent.module.css
  frontend/packages/ux-editor/src/components/toolbar/ToolbarItemComponent.tsx
Labels: area/ui-editor, solution/studio/designer, quality/testing, area/studio-root

#13066 Resourceadm: refactor route parameters in resource admin
  frontend/resourceadm/app/App.tsx
  frontend/resourceadm/components/AccessListEnvLinks/AccessListEnvLinks.test.tsx
  frontend/resourceadm/components/AccessListEnvLinks/AccessListEnvLinks.tsx
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.test.tsx
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.tsx
  frontend/resourceadm/components/ImportResourceModal/ServiceContent/ServiceContent.test.tsx
  frontend/resourceadm/components/ImportResourceModal/ServiceContent/ServiceContent.tsx
  frontend/resourceadm/components/NewResourceModal/NewResourceModal.test.tsx
  frontend/resourceadm/components/NewResourceModal/NewResourceModal.tsx
  frontend/resourceadm/components/ResourceAccessLists/ResourceAccessLists.test.tsx
  frontend/resourceadm/components/ResourceAccessLists/ResourceAccessLists.tsx
  frontend/resourceadm/components/ResourceDeployEnvCard/ResourceDeployEnvCard.tsx
  frontend/resourceadm/hooks/useSelectedContext/useUrlParams.ts
  frontend/resourceadm/hooks/useUrlParams/index.ts
  frontend/resourceadm/hooks/useUrlParams/useUrlParams.ts
  frontend/resourceadm/pages/AccessListPage/AccessListPage.test.tsx
  frontend/resourceadm/pages/AccessListPage/AccessListPage.tsx
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.test.tsx
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.tsx
  frontend/resourceadm/pages/ListAdminPage/ListAdminPage.test.tsx
  frontend/resourceadm/pages/ListAdminPage/ListAdminPage.tsx
  frontend/resourceadm/pages/MigrationPage/MigrationPage.tsx
  frontend/resourceadm/pages/PageLayout/PageLayout.tsx
  frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.test.tsx
  frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.tsx
  frontend/resourceadm/pages/RedirectPage/RedirectPage.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.test.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.test.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/resourceadm/utils/userUtils/index.ts
  frontend/resourceadm/utils/userUtils/userUtils.test.ts
  frontend/resourceadm/utils/userUtils/userUtils.ts
Labels: solution/studio/designer

#13075 Add new text key for data model select label
  frontend/language/src/nb.json
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CustomReceipt/CustomReceipt.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypes/EditDataTypes.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypes/EditDataTypes.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypes/SelectDataTypes/SelectDataTypes.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypes/SelectDataTypes/SelectDataTypes.tsx
  frontend/testing/playwright/pages/ProcessEditorPage/DataModelConfig.ts
Labels: area/process, solution/studio/designer, quality/testing

#13036 13020 support paymentreceiptpdfdatatype when adding payment task
  backend/src/Designer/Services/Implementation/ProcessModeling/ProcessModelingService.cs
  backend/tests/Designer.Tests/Services/ProcessModelingServiceTests.cs
  frontend/app-development/features/processEditor/bpmnHandlerUtils/bpmnHandlerUtils.test.ts
  frontend/app-development/features/processEditor/bpmnHandlerUtils/bpmnHandlerUtils.ts
  frontend/app-development/features/processEditor/handlers/OnProcessTaskAddHandler.test.ts
  frontend/app-development/features/processEditor/handlers/OnProcessTaskAddHandler.ts
  frontend/app-development/features/processEditor/handlers/OnProcessTaskRemoveHandler.test.ts
  frontend/app-development/features/processEditor/handlers/OnProcessTaskRemoveHandler.ts
  frontend/packages/process-editor/src/bpmnProviders/SupportedPaletteProvider.js
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/ActionsEditor/ActionsEditor.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/ActionsEditor/ActionsEditor.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/ActionsEditor/CustomActions/CustomAction.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/ActionsEditor/CustomActions/CustomActions.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/ActionsEditor/PredefinedActions/PredefinedActions.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/ActionsEditor/PredefinedActions/PredefinedActions.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/ActionsEditor/hooks/useOnActionChange.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/ActionsEditor/hooks/useOnActionChange.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/EditActions.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/EditActions.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditTaskId/EditTaskId.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigSequenceFlow/ConfigSequenceFlow.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigSequenceFlow/ConfigSequenceFlow.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypesToSign/SelectDataTypesToSign/SelectDataTypesToSign.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypesToSign/SelectDataTypesToSign/SelectDataTypesToSign.tsx
  frontend/packages/process-editor/src/extensions/altinnCustomTasks.ts
  frontend/packages/process-editor/src/hooks/useBpmnEditor.test.tsx
  frontend/packages/process-editor/src/hooks/useBpmnEditor.ts
  frontend/packages/process-editor/src/hooks/useBpmnModeler/useBpmnModeler.ts
  frontend/packages/process-editor/src/hooks/useBpmnViewer.ts
  frontend/packages/process-editor/src/hooks/useTaskIds.tsx
  frontend/packages/process-editor/src/types/BpmnBusinessObjectEditor.ts
  frontend/packages/process-editor/src/utils/bpmnModeler/BpmnActionModeler.ts
  frontend/packages/process-editor/src/utils/bpmnModeler/BpmnExpressionModeler.ts
  frontend/packages/process-editor/src/utils/bpmnModeler/BpmnModelerInstance.ts
  frontend/packages/process-editor/src/utils/bpmnModeler/StudioModeler.ts
  frontend/packages/process-editor/src/utils/bpmnObjectBuilders/bpmnObjectBuilders.test.ts
  frontend/packages/process-editor/src/utils/bpmnObjectBuilders/bpmnObjectBuilders.ts
  frontend/packages/process-editor/src/utils/bpmnObjectBuilders/index.ts
  frontend/packages/process-editor/test/mocks/bpmnDetailsMock.ts
Labels: area/process, solution/studio/designer, quality/testing

#13088 Update pom pdf
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes, area/pdf

#13091 fix for buisnessObject issues when adding tasks
  frontend/app-development/features/processEditor/handlers/OnProcessTaskAddHandler.ts
  frontend/app-development/features/processEditor/handlers/OnProcessTaskRemoveHandler.ts
  frontend/packages/process-editor/src/utils/bpmnModeler/StudioModeler.ts
Labels: area/process, solution/studio/designer

#13089 Fix broken Playwright test in Process Editor
  frontend/packages/process-editor/src/utils/bpmnModeler/StudioModeler.ts
  frontend/testing/playwright/components/Header.ts
  frontend/testing/playwright/pages/ProcessEditorPage/ProcessEditorPage.ts
  frontend/testing/playwright/tests/process-editor/add-new-bpmn-task.spec.ts
  frontend/testing/playwright/tests/process-editor/process-editor.spec.ts
Labels: area/process, solution/studio/designer, quality/testing

#13092 Use ai connection string instead of instrumentation key
  backend/src/Designer/Configuration/ApplicationInsightsSettings.cs
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/Controllers/HomeController.cs
  backend/src/Designer/Program.cs
  backend/src/Designer/Views/AppDevelopment/index.cshtml
  backend/src/Designer/Views/Home/Dashboard.cshtml
  backend/src/Designer/Views/Home/Index.cshtml
  frontend/app-development/index.tsx
  frontend/packages/shared/src/utils/altinnStudioEnv.ts
Labels: solution/studio/designer

#13093 Edit .net verison in README
  README.md
Labels: added-to-sprint

#13084 ensure all buttoncomponents are valid in ButtonGroup
  frontend/packages/ux-editor/src/data/formItemConfig.ts
Labels: area/ui-editor, solution/studio/designer

#13096 Ignore playwright-report
  frontend/tsconfig.json
Labels: solution/studio/designer

#13067 Added warning background to id-component in Properties.
  frontend/packages/ux-editor/src/components/Properties/Properties.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditComponentIdRow/EditComponentIdRow.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditComponentIdRow/EditComponentIdRow.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.test.tsx
Labels: area/ui-editor, solution/studio/designer

#13087 added onClose functio to toast
  frontend/packages/shared/src/contexts/ServicesContext.tsx
Labels: solution/studio/designer

#13014 prevented overflow in expression
  frontend/libs/studio-components/src/components/StudioCodeFragment/StudioCodeFragment.module.css
  frontend/libs/studio-components/src/components/StudioCodeFragment/StudioCodeFragment.tsx
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/LogicalExpressionEditor.module.css
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubExpressionValueReadonly/SubexpressionValueReadonly.module.css
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubExpressionValueReadonly/SubexpressionValueReadonly.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioTextfieldToggleView/StudioTextfieldToggleView.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditComponentIdRow/EditComponentIdRow.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditComponentIdRow/EditComponentIdRow.tsx
  frontend/packages/ux-editor/src/components/config/ExpressionContent/ExpressionContent.module.css
Labels: area/ui-editor, solution/studio/designer

#13103 Make data model name bold using Trans
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/DeleteWrapper.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/DeleteWrapper.tsx
  frontend/language/src/nb.json
Labels: area/data-modeling, solution/studio/designer

#13117 Disable structural sharing for `JsonSchema` query
  frontend/app-development/hooks/queries/useSchemaQuery.ts
Labels: solution/studio/designer

#13104 Use grid-template for schema editor and keys to reset scroll
  frontend/packages/schema-editor/src/components/SchemaEditor/SchemaEditor.module.css
  frontend/packages/schema-editor/src/components/SchemaEditor/SchemaEditor.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.tsx
Labels: area/data-modeling, area/ui-editor, solution/studio/designer

#13078 Assign max/min height for textArea and avoid save if new text is empty
  frontend/packages/shared/src/hooks/useAutoSizeTextArea.test.tsx
  frontend/packages/shared/src/hooks/useAutoSizeTextArea.ts
  frontend/packages/shared/src/hooks/useOnWindowSizeChange.ts
  frontend/packages/text-editor/src/TextEntry.tsx
  frontend/packages/text-editor/src/hooks/useAutoSizeTextArea.ts
  frontend/packages/ux-editor/src/components/TextResource/TextResource.test.tsx
  frontend/packages/ux-editor/src/components/TextResource/TextResource.tsx
  frontend/packages/ux-editor/src/components/TextResource/TextResourceEditor/TextResourceEditor.tsx
  frontend/packages/ux-editor/src/components/TextResource/TextResourceEditor/TextResourceValueEditor/TextResourceValueEditor.test.tsx
  frontend/packages/ux-editor/src/components/TextResource/TextResourceEditor/TextResourceValueEditor/TextResourceValueEditor.tsx
Labels: area/ui-editor, solution/studio/designer, area/text-editor

#13095 10837 Review changed files in Altinn Studio
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChanges/LocalChanges.module.css
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/Notification/Notification.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/CommitAndPushContent.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/CommitAndPushContent.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/FileChangesInfoModal/FileChangesInfoModal.module.css
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/FileChangesInfoModal/FileChangesInfoModal.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/FileChangesInfoModal/FileChangesInfoModal.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/ShareChangesPopover.module.css
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/ShareChangesPopover.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/ShareChangesPopover.tsx
  frontend/packages/shared/src/types/RepoStatus.ts
Labels: area/process, solution/studio/designer

#13128 Make StudioButton small for adding expression on sequence flow in process editor
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigSequenceFlow/ConfigSequenceFlow.tsx
Labels: area/process, solution/studio/designer

#13046 Create controller and service for options/code lists
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/Controllers/OptionsController.cs
  backend/src/Designer/Controllers/PreviewController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Models/Option.cs
  backend/src/Designer/Services/Implementation/OptionsService.cs
  backend/src/Designer/Services/Implementation/TextsService.cs
  backend/src/Designer/Services/Interfaces/IOptionsService.cs
  backend/tests/Designer.Tests/Controllers/OptionsController/DeleteOptionsTests.cs
  backend/tests/Designer.Tests/Controllers/OptionsController/GetOptionsTests.cs
  backend/tests/Designer.Tests/Controllers/OptionsController/UpdateOptionsTests.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnAppGitRepositoryTests.cs
  backend/tests/Designer.Tests/Services/OptionsServiceTests.cs
Labels: solution/studio/designer, quality/testing

#13106 Add prefix and suffix text for Input and add alertOnChange for multiselect and dropdown
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/Dropdown.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/Input.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/MultipleSelect.schema.v1.json
Labels: area/ui-editor, solution/studio/designer

#13125 Bug/12565 dropdown in lag en ny logikkregel does not close after option selection
  frontend/packages/ux-editor/src/components/config/Expressions/NewExpressionButton/NewExpressionButton.tsx
Labels: area/ui-editor, solution/studio/designer

#13102 Add payment component by default in addLayoutSet endpoint when adding a payment layoutset
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/Models/Dto/LayoutSetPayload.cs
  backend/src/Designer/Models/TaskType.cs
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
  backend/src/Designer/Services/Interfaces/IAppDevelopmentService.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/AddLayoutSetTests.cs
  frontend/app-development/features/processEditor/handlers/OnProcessTaskAddHandler.test.ts
  frontend/app-development/features/processEditor/handlers/OnProcessTaskAddHandler.ts
  frontend/app-development/hooks/mutations/useAddLayoutSetMutation.test.ts
  frontend/app-development/hooks/mutations/useAddLayoutSetMutation.ts
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/types/api/LayoutSetsResponse.ts
Labels: area/process, solution/studio/designer, quality/testing

#13032 Optimize PR checks
  .github/workflows/build-image-on-pr.yaml
  .github/workflows/frontend-unit-tests.yml
  .github/workflows/run-playwright-on-pr.yaml
  Dockerfile
  development/azure-devops-mock/Dockerfile
  package.json
Labels: skip-releasenotes

#13138 Fix/ Stateless layout makes studio crash
  frontend/packages/shared/src/utils/layoutSetsUtils.test.ts
  frontend/packages/shared/src/utils/layoutSetsUtils.ts
Labels: kind/bug, area/ui-editor, solution/studio/designer, added-to-sprint

#13090 Resourceadm: refactor resourceadm Playwright test
  frontend/resourceadm/testing/playwright/pages/ResourcePage.ts
  frontend/resourceadm/testing/playwright/tests/validate-resource/validate-resource.spec.ts
Labels: solution/studio/designer, skip-releasenotes, area/resource-adm

#13080 Resourceadm: run playwright tests on PR and push to main
  .github/workflows/playwright-resourceadm.yml
  .github/workflows/run-playwright-resourceadm-on-pr.yml
Labels: skip-releasenotes, area/resource-adm

#13116 Refetch masterBranchStatus on getLatestCommit and Build
  frontend/app-development/features/appPublish/components/CreateRelease.module.css
  frontend/app-development/features/appPublish/components/CreateRelease.test.tsx
  frontend/app-development/features/appPublish/components/CreateRelease.tsx
  frontend/app-development/features/appPublish/containers/ReleaseContainer.module.css
  frontend/app-development/features/appPublish/containers/ReleaseContainer.test.tsx
  frontend/app-development/features/appPublish/containers/ReleaseContainer.tsx
  frontend/language/src/en.json
  frontend/language/src/nb.json
Labels: area/app-deploy, solution/studio/designer

#13042 Add support for UniqueFromSignaturesInDataTypes element for signature tasks
  frontend/app-development/features/processEditor/handlers/OnProcessTaskRemoveHandler.test.ts
  frontend/app-development/features/processEditor/handlers/OnProcessTaskRemoveHandler.ts
  frontend/language/src/nb.json
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditUniqueFromSignaturesInDataTypes/EditUniqueFromSignaturesInDataTypes.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/EditUniqueFromSignaturesInDataTypes/EditUniqueFromSignaturesInDataTypes.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditUniqueFromSignaturesInDataTypes/EditUniqueFromSignaturesInDataTypes.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditUniqueFromSignaturesInDataTypes/SelectUniqueFromSignaturesInDataTypes/SelectUniqueFromSignaturesInDataTypes.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/EditUniqueFromSignaturesInDataTypes/SelectUniqueFromSignaturesInDataTypes/SelectUniqueFromSignaturesInDataTypes.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditUniqueFromSignaturesInDataTypes/SelectUniqueFromSignaturesInDataTypes/SelectUniqueFromSignaturesInDataTypes.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditUniqueFromSignaturesInDataTypes/SelectUniqueFromSignaturesInDataTypes/index.ts
  frontend/packages/process-editor/src/components/ConfigPanel/EditUniqueFromSignaturesInDataTypes/UniqueFromSignaturesInDataTypesUtils.ts
  frontend/packages/process-editor/src/components/ConfigPanel/EditUniqueFromSignaturesInDataTypes/index.ts
  frontend/packages/process-editor/src/extensions/altinnCustomTasks.ts
Labels: area/process, solution/studio/designer

#13148 feature/flux pipelines
  .github/workflows/helm-chart-push.yaml
  charts/eid-logger/.helmignore
  charts/eid-logger/Chart.yaml
  charts/eid-logger/templates/NOTES.txt
  charts/eid-logger/templates/_helpers.tpl
  charts/eid-logger/templates/deployment.yaml
  charts/eid-logger/templates/hpa.yaml
  charts/eid-logger/templates/ingress.yaml
  charts/eid-logger/templates/service.yaml
  charts/eid-logger/templates/serviceaccount.yaml
  charts/eid-logger/values.yaml
Labels: skip-releasenotes

#13149 fix flux pipieline
  .github/workflows/helm-chart-push.yaml
Labels: skip-releasenotes

#13150 fix typo
  .github/workflows/helm-chart-push.yaml
Labels: skip-releasenotes

#13151 fix
  .github/workflows/helm-chart-push.yaml
Labels: skip-releasenotes

#13152 fix
  .github/workflows/helm-chart-push.yaml
Labels: skip-releasenotes

#13153 sem version
  .github/workflows/helm-chart-push.yaml
Labels: skip-releasenotes

#13146 Resourceadm: await promises in Playwright tests
  frontend/resourceadm/testing/playwright/pages/ResourcePage.ts
Labels: solution/studio/designer

#13158 Eid logger healthcheck
  eidlogger/pom.xml
Labels: added-to-sprint

#13155 Adapt prop type validation method to first check for enum field
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.tsx
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.module.css
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditStringValue.tsx
  frontend/packages/ux-editor/src/hooks/useComponentPropertyEnumValue.test.ts
  frontend/packages/ux-editor/src/hooks/useComponentPropertyEnumValue.ts
  frontend/packages/ux-editor/src/utils/component.test.ts
  frontend/packages/ux-editor/src/utils/component.ts
Labels: area/ui-editor, solution/studio/designer

#13159 Resourceadm: fix race condition in Playwright test
  frontend/resourceadm/testing/playwright/pages/ResourcePage.ts
Labels: solution/studio/designer, skip-releasenotes, area/resource-adm

#12949 Update data model selection in component config
  frontend/language/src/nb.json
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.tsx
  frontend/packages/ux-editor/src/components/config/ConditionalRenderingComponent.tsx
  frontend/packages/ux-editor/src/components/config/EditFormComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/ExpressionContent/ExpressionContent.tsx
  frontend/packages/ux-editor/src/components/config/RuleComponent.tsx
  frontend/packages/ux-editor/src/components/config/SelectDataFieldComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/SelectDataFieldComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/DefinedBinding/DefinedBinding.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/DefinedBinding/DefinedBinding.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/DefinedBinding/DefinedBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/DefinedBinding/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/EditBinding.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/EditBinding.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/EditBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/EditBindingButtons.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/EditBindingButtons.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/SelectDataFieldBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/SelectDataModelBinding.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/SelectDataModelBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditDataModelBinding.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditDataModelBinding.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditDataModelBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/UndefinedBinding/UndefinedBinding.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/UndefinedBinding/UndefinedBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/UndefinedBinding/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/DefinedBinding/DefinedBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/EditBinding/EditBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/EditDataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBindings/EditDataModelBindings.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditGrid/EditGridForGivenViewSize.tsx
  frontend/packages/ux-editor/src/hooks/queries/useDataModelMetadataQuery.ts
  frontend/packages/ux-editor/src/hooks/useValidDataModels.test.ts
  frontend/packages/ux-editor/src/hooks/useValidDataModels.ts
  frontend/packages/ux-editor/src/testing/dataModelMock.ts
  frontend/packages/ux-editor/src/utils/dataModel.ts
  frontend/packages/ux-editor/src/utils/dataModelUtils.test.ts
  frontend/packages/ux-editor/src/utils/dataModelUtils.ts
  frontend/testing/playwright/pages/GiteaPage.ts
  frontend/testing/playwright/pages/UiEditorPage.ts
  frontend/testing/playwright/tests/ui-editor/ui-editor-data-model-binding-and-gitea.spec.ts
Labels: area/data-modeling, area/ui-editor, solution/studio/designer, quality/testing

#13122 Remove field type selector
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/components/SchemaEditor/SchemaEditor.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.tsx
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/ActionButtons/AddPropertyMenu.tsx
  frontend/packages/schema-editor/src/components/SchemaTree/SchemaNode/SchemaNode.test.tsx
  frontend/testing/playwright/pages/DataModelPage.ts
  frontend/testing/playwright/tests/data-model/data-model.spec.ts
Labels: area/data-modeling, solution/studio/designer, quality/testing

#13161 Resourceadm: increase timeout in Playwright tests
  frontend/resourceadm/testing/playwright/pages/ResourcePage.ts
Labels: solution/studio/designer, skip-releasenotes, area/resource-adm

#13132 13126 long text for component id in expression cause overfloww
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioCodeFragment/StudioCodeFragment.module.css
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubExpressionValueReadonly/SubexpressionValueReadonly.module.css
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubExpressionValueReadonly/SubexpressionValueReadonly.tsx
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubexpressionValueSelector.module.css
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubexpressionValueSelector.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/HiddenExpressionOnLayout.module.css
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/HiddenExpressionOnLayout.tsx
  frontend/packages/ux-editor/src/components/config/ExpressionContent/ExpressionContent.module.css
  frontend/packages/ux-editor/src/components/config/Expressions/ExpressionHeading.module.css
  frontend/packages/ux-editor/src/components/config/Expressions/ExpressionHeading.tsx
  frontend/packages/ux-editor/src/components/config/Expressions/Expressions.module.css
  frontend/packages/ux-editor/src/components/config/Expressions/Expressions.tsx
Labels: area/ui-editor, solution/studio/designer

#13147 Replace RuleModal in Calculations with Alert
  frontend/app-development/features/overview/components/News.test.tsx
  frontend/app-development/features/overview/components/News.tsx
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Properties/Calculations.tsx
  frontend/packages/ux-editor/src/components/Properties/ConditionalRendering.module.css
  frontend/packages/ux-editor/src/components/Properties/ConditionalRendering.tsx
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.module.css
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.tsx
  frontend/packages/ux-editor/src/components/Properties/DeprecatedCalculationsInfo.test.tsx
  frontend/packages/ux-editor/src/components/Properties/DeprecatedCalculationsInfo.tsx
  frontend/packages/ux-editor/src/components/Properties/DeprecatedConditionalRenderingInfo.test.tsx
  frontend/packages/ux-editor/src/components/Properties/DeprecatedConditionalRenderingInfo.tsx
  frontend/packages/ux-editor/src/components/Properties/Dynamics.module.css
  frontend/packages/ux-editor/src/components/Properties/Dynamics.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Dynamics.tsx
  frontend/packages/ux-editor/src/components/Properties/OldDynamicsInfo.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.tsx
  frontend/packages/ux-editor/src/components/config/RuleComponent.tsx
  frontend/packages/ux-editor/src/components/toolbar/RuleModal.tsx
Labels: area/ui-editor, solution/studio/designer

#13154 12787 resizable testing feedback changes
  frontend/libs/studio-components/src/components/StudioResizableLayout/StudioResizableLayoutHandle/StudioResizableLayoutHandle.module.css
  frontend/libs/studio-components/src/components/StudioResizableLayout/StudioResizableLayoutHandle/StudioResizableLayoutHandle.tsx
  frontend/libs/studio-components/src/components/StudioResizableLayout/hooks/useStudioResizableFunctions.test.ts
  frontend/libs/studio-components/src/components/StudioResizableLayout/hooks/useStudioResizableFunctions.ts
  frontend/libs/studio-components/src/components/StudioResizableLayout/hooks/useStudioResizableLayoutMouseMovement.ts
  frontend/packages/ux-editor/src/App.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.module.css
  frontend/packages/ux-editor/src/containers/FormDesigner.test.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
Labels: area/ui-editor, solution/studio/designer

#13137 Improve loading of apps and data models on Dashboard
  frontend/dashboard/components/DataModelsRepoList/DataModelsRepoList.tsx
  frontend/dashboard/components/OrgRepoList/OrgReposList.tsx
  frontend/dashboard/components/RepoList/ActionLinks.module.css
  frontend/dashboard/components/RepoList/ActionLinks.test.tsx
  frontend/dashboard/components/RepoList/ActionLinks.tsx
  frontend/dashboard/components/RepoList/FavoriteButton.module.css
  frontend/dashboard/components/RepoList/FavoriteButton.tsx
  frontend/dashboard/components/RepoList/RepoList.tsx
  frontend/dashboard/components/RepoList/RepoNameWithLink.tsx
  frontend/dashboard/hooks/useReposSearch/useRepoSearch.ts
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioTableLocalPagination/StudioTableLocalPagination.tsx
  frontend/libs/studio-components/src/components/StudioTableRemotePagination/StudioTableRemotePagination.tsx
  frontend/libs/studio-components/src/hooks/index.ts
  frontend/libs/studio-components/src/hooks/useRetainWhileLoading.ts
  frontend/resourceadm/components/ResourceTable/ResourceTable.module.css
  frontend/testing/playwright/pages/DashboardPage.ts
Labels: area/dashboard, solution/studio/designer, quality/testing

#13168 Remove add-to-project workflow
  .github/workflows/add-to-project.yml
Labels: skip-releasenotes

#13157 Pipeline for pushing the flux config artifact
  .github/workflows/eid-logger-push.yaml
  .github/workflows/flux-artifact-push.yaml
  charts/eid-logger-config/Chart.yaml
  charts/eid-logger-config/templates/helm-release.yaml
  charts/eid-logger-config/values.yaml
  charts/eid-logger/values.yaml
Labels: skip-releasenotes

#13173 remove flux install
  .github/workflows/flux-artifact-push.yaml
Labels: skip-releasenotes

#13174 fix helm template command
  .github/workflows/flux-artifact-push.yaml
Labels: skip-releasenotes

#13175 fix oci url
  .github/workflows/flux-artifact-push.yaml
Labels: skip-releasenotes

#13178 use short sha
  .github/workflows/eid-logger-push.yaml
  .github/workflows/flux-artifact-push.yaml
  .github/workflows/helm-chart-push.yaml
Labels: skip-releasenotes

#13179 short sha fix
  .github/workflows/eid-logger-push.yaml
Labels: skip-releasenotes

#13183 fix subscrition in eid logger pipeline
  .github/workflows/eid-logger-deploy.yaml
Labels: skip-releasenotes

#13184 run per environment
  .github/workflows/eid-logger-deploy.yaml
Labels: skip-releasenotes

#13185 fix display of default data model binding
  frontend/packages/ux-editor/src/utils/dataModelUtils.test.ts
  frontend/packages/ux-editor/src/utils/dataModelUtils.ts
Labels: kind/bug, area/ui-editor, solution/studio/designer

#13181 #12930 Moved hardcoded text from App.tsx to language files
  frontend/dashboard/app/App.test.tsx
  frontend/dashboard/app/App.tsx
  frontend/language/src/en.json
  frontend/language/src/nb.json
Labels: area/dashboard, solution/studio/designer, external-contribution-❤️

#13190 Bump PDF dependency azure-identity
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes, area/pdf

#13194 Fix click-and-hold scrolling in Designer
  frontend/app-development/layout/App.css
  frontend/libs/studio-components/src/components/StudioResizableLayout/StudioResizableLayoutHandle/StudioResizableLayoutHandle.module.css
Labels: solution/studio/designer

#13203 Fix dashboard URL in Playwright
  frontend/testing/playwright/helpers/RouterRoute.ts
Labels: solution/studio/designer, quality/testing

#13205 eid logger deploy env setup
  .github/workflows/eid-logger-deploy.yaml
  .github/workflows/eid-logger-pr-build.yaml
  charts/eid-logger-config/templates/helm-release.yaml
  charts/eid-logger-config/values.yaml
  charts/eid-logger/templates/deployment.yaml
  charts/eid-logger/templates/hpa.yaml
  charts/eid-logger/templates/ingress.yaml
  charts/eid-logger/templates/serviceaccount.yaml
  charts/eid-logger/values.yaml
  eidlogger/pom.xml
  eidlogger/src/main/resources/application-dev.yml
  eidlogger/src/main/resources/application.yml
Labels: skip-releasenotes

#13195 fixed overflow in datamodellknytninger accordion
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.module.css
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/DefinedBinding/DefinedBinding.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/DefinedBinding/DefinedBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/SelectDataFieldBinding.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/SelectDataFieldBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/SelectDataModelBinding.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/SelectDataModelBinding.tsx
Labels: area/ui-editor, solution/studio/designer

#13214 add deploy of eid logger to prod
  .github/workflows/eid-logger-deploy.yaml
  eidlogger/compose.yaml
Labels: skip-releasenotes

#13210 Fix drag and drop error in Playwright
  frontend/testing/playwright/helpers/BasePage.ts
  frontend/testing/playwright/pages/GiteaPage.ts
  frontend/testing/playwright/pages/UiEditorPage.ts
  frontend/testing/playwright/tests/text-editor/text-editor.spec.ts
  frontend/testing/playwright/tests/ui-editor/ui-editor-data-model-binding-and-gitea.spec.ts
  frontend/testing/playwright/tests/ui-editor/ui-editor.spec.ts
Labels: solution/studio/designer, quality/testing, added-to-sprint

#13202 Removed unused files
  frontend/packages/ux-editor/src/components/UnsupportedVersionMessage/UnsupportedVersionMessage.module.css
  frontend/packages/ux-editor/src/components/UnsupportedVersionMessage/UnsupportedVersionMessage.test.tsx
  frontend/packages/ux-editor/src/components/UnsupportedVersionMessage/UnsupportedVersionMessage.tsx
  frontend/packages/ux-editor/src/components/UnsupportedVersionMessage/index.ts
  frontend/packages/ux-editor/src/components/config/componentConfig.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/FileUpload/FileUploadComponent.module.css
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/FileUpload/FileUploadComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/FileUpload/FileUploadComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/FileUpload/index.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Panel/PanelComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Panel/PanelComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Panel/index.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/RepeatingGroup/RepeatingGroupComponent.module.css
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/RepeatingGroup/RepeatingGroupComponent.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/RepeatingGroup/RepeatingGroupComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/RepeatingGroup/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditAutoComplete.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditHeaderSize.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditHeaderSize.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditPreselectedIndex.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditReadOnly.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditRequired.tsx
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes

#13221 Fix CodeCov
  .github/workflows/frontend-unit-tests.yml
Labels: skip-releasenotes

#13206 One storage key layoutset
  frontend/packages/ux-editor/src/App.tsx
  frontend/packages/ux-editor/src/hooks/useSelectedFormLayoutSetName.test.tsx
  frontend/packages/ux-editor/src/hooks/useSelectedFormLayoutSetName.ts
  frontend/packages/ux-editor/src/utils/localStorage.test.ts
  frontend/packages/ux-editor/src/utils/localStorageUtils.ts
Labels: area/ui-editor, solution/studio/designer

#13223 shoed ellipsis in datamodelbinding accordion
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/SelectDataModelBinding.module.css
Labels: area/ui-editor, solution/studio/designer

#13192 Make Preview heading a Heading component instead of Link
  frontend/app-preview/src/components/AppBarConfig/AppPreviewBarConfig.test.tsx
  frontend/app-preview/src/components/AppBarConfig/AppPreviewBarConfig.tsx
  frontend/app-preview/src/views/LandingPage.tsx
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.module.css
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.test.tsx
  frontend/packages/shared/src/components/altinnHeader/AltinnHeader.tsx
Labels: area/app-preview, solution/studio/designer

#13189 Fix visual/styling issues
  frontend/app-development/features/appPublish/components/DeploymentEnvironmentStatus.module.css
  frontend/app-development/features/overview/components/DeploymentStatus.module.css
  frontend/app-development/layout/App.css
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemFieldsTab/ItemFieldsTable/ItemFieldsTable.module.css
  frontend/packages/shared/src/components/altinnHeaderButtons/AltinnHeaderButton.module.css
Labels: area/data-modeling, area/app-deploy, solution/studio/designer

#13162 Resourceadm: show number of delegations in altinn 2 for imported link services
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Models/DelegationCountOverview.cs
  backend/src/Designer/Models/ExportDelegationsRequestBE.cs
  backend/src/Designer/Services/Implementation/ResourceRegistryService.cs
  backend/src/Designer/Services/Interfaces/IResourceRegistry.cs
  backend/src/Designer/TypedHttpClients/Altinn2DelegationMigration/Altinn2DelegationMigrationClient.cs
  backend/src/Designer/TypedHttpClients/Altinn2DelegationMigration/IAltinn2DelegationMigrationClient.cs
  backend/src/Designer/TypedHttpClients/TypedHttpClientRegistration.cs
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/QueryKey.ts
  frontend/packages/shared/src/types/ResourceAdm.ts
  frontend/resourceadm/hooks/queries/useGetAltinn2DelegationCount.ts
  frontend/resourceadm/pages/MigrationPage/MigrationPage.test.tsx
  frontend/resourceadm/pages/MigrationPage/MigrationPage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.test.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/resourceadm/utils/resourceUtils/index.ts
  frontend/resourceadm/utils/resourceUtils/resourceUtils.ts
Labels: solution/studio/designer, skip-releasenotes, area/resource-adm

#13231 Update deps
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes, area/pdf

#13225 Remove old custom receipt logic
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.module.css
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.tsx
  frontend/packages/ux-editor/src/containers/DesignView/ReceiptContent/ReceiptContent.module.css
  frontend/packages/ux-editor/src/containers/DesignView/ReceiptContent/ReceiptContent.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/ReceiptContent/ReceiptContent.tsx
  frontend/packages/ux-editor/src/containers/DesignView/ReceiptContent/index.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddLayoutMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteLayoutMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateLayoutNameMutation.ts
  frontend/packages/ux-editor/src/hooks/useSelectedFormLayoutName.ts
  frontend/packages/ux-editor/src/testing/mocks.tsx
  frontend/packages/ux-editor/src/utils/formLayoutsUtils.test.ts
  frontend/packages/ux-editor/src/utils/formLayoutsUtils.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes

#13233 Resourceadm: add subscription keys before sending delegation count request
  backend/src/Designer/TypedHttpClients/Altinn2DelegationMigration/Altinn2DelegationMigrationClient.cs
Labels: solution/studio/designer, skip-releasenotes, area/resource-adm

#13232 Updating texts on MergeConflict modal
  frontend/app-development/features/simpleMerge/DownloadRepoPopoverContent/DownloadRepoPopoverContent.module.css
  frontend/app-development/features/simpleMerge/DownloadRepoPopoverContent/DownloadRepoPopoverContent.test.tsx
  frontend/app-development/features/simpleMerge/DownloadRepoPopoverContent/DownloadRepoPopoverContent.tsx
  frontend/app-development/features/simpleMerge/DownloadRepoPopoverContent/index.ts
  frontend/app-development/features/simpleMerge/MergeConflictWarning.module.css
  frontend/app-development/features/simpleMerge/MergeConflictWarning.tsx
  frontend/language/src/en.json
  frontend/language/src/nb.json
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/CommitAndPushContent.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/CommitAndPushContent.tsx
Labels: solution/studio/designer, quality/testing

#13234 Remove the auto creation of a layout upon deletion of the last layout
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteLayoutMutation.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes

#13211 Invalidate jsonSchema by modelName when uploading new model and update state with useEffect
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SelectedSchemaEditor.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/SchemaSelect.module.css
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/SchemaSelect.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/TopToolbar.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload.tsx
  frontend/app-development/hooks/mutations/useUploadDataModelMutation.test.ts
  frontend/app-development/hooks/mutations/useUploadDataModelMutation.ts
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.module.css
Labels: area/data-modeling, area/ui-editor, solution/studio/designer

#13236 Fix links
  frontend/app-development/layout/App.css
Labels: area/data-modeling, area/ui-editor, area/dashboard, area/app-deploy, solution/studio/designer, skip-releasenotes, area/studio-root

#13215 Add check to show news based on date and limit
  frontend/app-development/features/overview/components/News.module.css
  frontend/app-development/features/overview/components/News.test.tsx
  frontend/app-development/features/overview/components/News.tsx
  frontend/app-development/features/overview/components/Overview.module.css
  frontend/language/src/nb.json
  frontend/packages/shared/src/constants.js
  frontend/packages/shared/src/ext-urls.ts
Labels: solution/studio/designer

#13156 Removed deleted data types from signing tasks
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/DeleteWrapper.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/DeleteWrapper.tsx
  frontend/app-development/features/processEditor/ProcessEditor.tsx
  frontend/app-development/hooks/mutations/index.ts
  frontend/app-development/hooks/queries/useBpmnQuery.ts
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypesToSign/EditDataTypesToSign.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/EditDataTypesToSign/SelectDataTypesToSign/SelectDataTypesToSign.tsx
  frontend/packages/process-editor/src/hooks/dataTypesToSign/useGetDataTypesToSign.ts
  frontend/packages/process-editor/src/hooks/dataTypesToSign/useUpdateDataTypesToSign.ts
  frontend/packages/shared/src/hooks/mutations/useBpmnMutation.ts
  frontend/packages/shared/src/hooks/queries/useBpmnQuery.ts
  frontend/packages/shared/src/hooks/useUpdateBpmn.test.tsx
  frontend/packages/shared/src/hooks/useUpdateBpmn.ts
  frontend/packages/shared/src/mocks/bpmnDefinitionsMock.ts
  frontend/packages/shared/src/utils/bpmnUtils.ts
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditComponentIdRow/EditComponentIdRow.test.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormComponentMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormComponentMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormContainerMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormContainerMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentMutation.ts
  frontend/packages/ux-editor/src/testing/componentMocks.ts
  frontend/packages/ux-editor/src/testing/layoutMock.ts
Labels: area/data-modeling, area/process, area/ui-editor, solution/studio/designer

#13251 Fix failing test for text files
  frontend/language/src/nb.json
Labels: solution/studio/designer, added-to-sprint

#13253 roll back azure identity dependency
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes, area/pdf

#13252 Update CSS loader to version 7
  frontend/webpack.common.js
  package.json
  yarn.lock
Labels: solution/studio/designer, quality/debt, added-to-sprint

#13270 Add missing issue URL
  frontend/libs/studio-components/src/components/StudioModal/StudioModal.tsx
Labels: solution/studio/designer
