Repository Altinn/altinn-studio, pull requests merged in 2025-06, with the labels that each got.

#15520 test: Set proper mock response for upsertTextResources (2)
  frontend/packages/shared/src/mocks/emptyTextResourceListMock.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/ux-editor/src/components/TextResource/TextResource.test.tsx
  frontend/packages/ux-editor/src/components/TextResource/TextResourceEditor/TextResourceValueEditor/TextResourceValueEditor.test.tsx
Labels: area/ui-editor, solution/studio/designer, quality/testing, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15545 refactor: Clean up modifyTextResources (4)
  frontend/libs/studio-pure-functions/src/TextResourceUtils/TextResourceUtils.test.ts
  frontend/libs/studio-pure-functions/src/TextResourceUtils/TextResourceUtils.ts
  frontend/packages/shared/src/hooks/mutations/useUpsertTextResourcesMutation.ts
  frontend/packages/shared/src/utils/textResourceUtils.test.ts
  frontend/packages/shared/src/utils/textResourceUtils.ts
Labels: solution/studio/designer, quality/code, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15517 chore: Create CODEOWNERS
  .github/CODEOWNERS
Labels: skip-releasenotes

#15585 fix: add null handling for data type
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardEditing.test.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardEditing.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, skip-manual-testing

#15581 chore: Add beta tag to Library header element and reorder header elements
  frontend/dashboard/pages/PageLayout/DashboardHeader/DashboardHeader.tsx
  frontend/dashboard/types/HeaderMenuItem.ts
  frontend/dashboard/utils/headerUtils/headerUtils.ts
Labels: area/dashboard, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1

#15582 feat: Remove navigation feature flag
  frontend/app-development/features/overview/components/News/NewsContent/news.nb.json
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/components/Settings/SettingsTabs.test.tsx
  frontend/packages/ux-editor/src/components/Settings/SettingsTabs.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTableBody.module.css
  frontend/packages/ux-editor/src/components/TasksTable/TasksTableBody.tsx
Labels: area/ui-editor, solution/studio/designer, area/overview, frontend, team/studio-domain2, skip-manual-testing

#15598 chore: Update code list folder name for organisation repository
  backend/src/Designer/Infrastructure/GitRepository/AltinnOrgGitRepository.cs
  backend/tests/Designer.Tests/Controllers/OrgCodeListController/GetCodeListsTests.cs
  backend/tests/Designer.Tests/Controllers/OrgCodeListController/UpdateCodeListIdTests.cs
  backend/tests/Designer.Tests/Controllers/OrgCodeListController/UpdateCodeListTests.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnOrgGitRepositoryTests.cs
  backend/tests/Designer.Tests/Services/OptionsServiceTests.cs
  backend/tests/Designer.Tests/Services/OrgCodeListServiceTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content-empty/CodeLists/.gitignore
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/CodeLists/codeListBoolean.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/CodeLists/codeListMissingLabel.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/CodeLists/codeListMissingValue.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/CodeLists/codeListNumber.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/CodeLists/codeListString.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/CodeLists/codeListTrailingComma.json
  development/setup.js
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, team/studio-domain1, skip-documentation

#15640 chore: removed Team Studio from Codeowners
  .github/CODEOWNERS
Labels: skip-releasenotes, team/studio-core

#15592 chore: Update nb.json - "applikasjon" to "app"
  frontend/language/src/nb.json
Labels: area/ui-editor, added-to-sprint, text/content, frontend, team/studio-core, skip-manual-testing

#15560 feat: add name to groups when page count exceeds 1
  backend/src/Designer/Services/Implementation/LayoutService.cs
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useAddGroupMutation.test.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useAddGroupMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddPageToGroup.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddPageToGroup.ts
  frontend/packages/ux-editor/src/testing/layoutMock.ts
Labels: area/ui-editor, solution/studio/designer, backend, frontend, team/studio-domain2, skip-manual-testing

#15414 feat: gitea 1.24 and hybrid ephermal runners
  .github/workflows/deploy-gitea-runner-ttd.yaml
  charts/gitea-runner-ttd-config/templates/helm-release.yaml
  charts/gitea-runner-ttd-config/values.yaml
  charts/gitea-runner-ttd/values.yaml
  compose.yaml
  gitea-runner/Dockerfile
  gitea-runner/run.sh
  gitea/Dockerfile
  gitea/files/custom/templates/base/head_navbar.tmpl
  gitea/files/locale/base/locale_nb-NO.ini
Labels: solution/studio/repos, skip-releasenotes, skip-manual-testing

#15642 fix: Remove overriding import of css variables
  frontend/packages/schema-editor/src/SchemaEditorApp.tsx
Labels: area/data-modeling, solution/studio/designer, frontend, team/studio-domain1, team/studio-core

#15594 fix: fake duplication error
  frontend/packages/ux-editor/src/hooks/mutations/useAddItemToLayoutMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormComponentMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeleteFormContainerMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useFormLayoutMutation.ts
Labels: kind/bug, area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15644 refactor: Move edit tab hooks to appropriate level in the file structure (1)
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/LibraryOptionsEditor/LibraryOptionsEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/ManualOptionsEditor/ManualOptionsEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/hooks/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/hooks/useHandleUpdateTextResource.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/hooks/useHandleUpdateTextResource.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/hooks/useTextResourcesForLanguage.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/hooks/useTextResourcesForLanguage.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/utils/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/utils/utils.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/utils/utils.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15650 refactor: Move conditional statement in edit tab into separate component (2)
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/EditTab.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/ReferenceTab/ReferenceTab.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/utils/optionsUtils.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/utils/optionsUtils.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15586 fix(resource-adm): Rename resource type ConsentResource to Consent
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Enums/ResourceType.cs
  frontend/packages/shared/src/types/ResourceAdm.ts
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.test.tsx
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.test.tsx
  frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.test.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/resourceadm/utils/resourceUtils/resourceUtils.test.tsx
  frontend/resourceadm/utils/resourceUtils/resourceUtils.ts
Labels: solution/studio/designer, skip-releasenotes, backend, frontend, skip-manual-testing

#15660 feat: add StudioDetails component
  frontend/libs/studio-components/src/components/StudioDetails/StudioDetails.test.tsx
  frontend/libs/studio-components/src/components/StudioDetails/StudioDetails.tsx
  frontend/libs/studio-components/src/components/StudioDetails/StudioDetailsContent.tsx
  frontend/libs/studio-components/src/components/StudioDetails/StudioDetailsSummary.tsx
  frontend/libs/studio-components/src/components/StudioDetails/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15652 fix: deleting last group irrevocable state
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15672 feat: remove feature flag for page groups
  frontend/packages/shared/src/utils/featureToggleUtils.test.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15653 feat: dynamic org runner workflow
  .github/workflows/deploy-gitea-runner-brg.yaml
  .github/workflows/deploy-gitea-runners.yaml
  charts/gitea-org-runner-config/Chart.yaml
  charts/gitea-org-runner-config/templates/helm-release.yaml
  charts/gitea-org-runner-config/values.yaml
  charts/gitea-org-runner/.helmignore
  charts/gitea-org-runner/Chart.yaml
  charts/gitea-org-runner/templates/_helpers.tpl
  charts/gitea-org-runner/templates/deployment.yaml
  charts/gitea-org-runner/values.yaml
  charts/gitea-runner-brg-config/Chart.yaml
  charts/gitea-runner-brg-config/templates/helm-release.yaml
  charts/gitea-runner-brg-config/values.yaml
  charts/gitea-runner-brg/Chart.yaml
  charts/gitea-runner-brg/templates/_helpers.tpl
  charts/gitea-runner-brg/templates/deployment.yaml
  charts/gitea-runner-brg/values.yaml
  charts/gitea-runner-ttd-config/templates/helm-release.yaml
  charts/gitea-runner-ttd-config/values.yaml
  charts/gitea-runner-ttd/.helmignore
Labels: skip-releasenotes, team/studio-core, skip-manual-testing

#15676 fix: size of preview button
  frontend/packages/ux-editor/src/components/TasksTable/TasksTable.module.css
Labels: area/ui-editor, solution/studio/designer, added-to-sprint, frontend, team/studio-domain2, skip-manual-testing

#15684 feat: Update unknown component alert
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/UnknownComponentAlert/UnknownComponentAlert.test.tsx
  frontend/packages/ux-editor/src/components/UnknownComponentAlert/UnknownComponentAlert.tsx
Labels: area/ui-editor, solution/studio/designer, added-to-sprint, frontend, team/studio-domain2, skip-manual-testing

#15663 test: Simplify EditTab tests in option list editor (1)
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/EditTab.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/EditTab.tsx
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15694 chore: use Vite instead of webpack 5 for storybook
  frontend/libs/studio-components-legacy/.storybook/main.ts
  frontend/libs/studio-components-legacy/package.json
  frontend/libs/studio-components/.storybook/main.ts
  frontend/libs/studio-components/package.json
  yarn.lock
Labels: solution/studio/designer, kind/dependencies, frontend, team/studio-core, skip-manual-testing

#15714 fix(resource-adm): use relative imports
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.test.tsx
  frontend/resourceadm/components/ImportResourceModal/ServiceContent/ServiceContent.test.tsx
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.tsx
  frontend/resourceadm/pages/ErrorPage/ErrorPage.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, skip-manual-testing

#15698 fix: Check if parent directory exists before retrieving files.
  backend/src/Designer/Infrastructure/GitRepository/AltinnOrgGitRepository.cs
  backend/tests/Designer.Tests/Controllers/OrgCodeListController/UpdateCodeListTests.cs
  backend/tests/Designer.Tests/Controllers/OrgContentController/GetOrgContentReferencesTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content-empty/.gitignore
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content-empty/Texts/.gitignore
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, added-to-sprint, area/content-library, team/studio-domain1, skip-documentation

#15659 fix: Make the dialog element always present in the DOM in the option list editor (2)
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/EditTab.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/EditTab.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/ManualOptionsDialog/ManualOptionsDialog.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/ManualOptionsDialog/ManualOptionsDialog.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/ManualOptionsDialog/ManualOptionsDialog.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/ManualOptionsDialog/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/ManualOptionsEditor/ManualOptionsEditor.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/ManualOptionsEditor/ManualOptionsEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/ManualOptionsEditor/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/ManualOptionsPanel/ManualOptionsPanel.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/ManualOptionsPanel/ManualOptionsPanel.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/ManualOptionsPanel/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListEditor.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListEditor.tsx
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15713 ci: Remove related issues from PR template
  .github/pull_request_template.md
Labels: ops/ci-cd, skip-releasenotes, added-to-sprint, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation

#15689 feat: Update import endpoint to create text resources
  backend/src/Designer/Controllers/OptionsController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Services/Implementation/OptionsService.cs
  backend/src/Designer/Services/Interfaces/IOptionsService.cs
  backend/tests/Designer.Tests/Controllers/OptionsController/ImportOptionsListFromOrgTests.cs
  backend/tests/Designer.Tests/Controllers/OrgCodeListController/DeleteCodeListTests.cs
  backend/tests/Designer.Tests/Controllers/OrgCodeListController/GetCodeListsTests.cs
  backend/tests/Designer.Tests/Controllers/OrgContentController/GetOrgContentReferencesTests.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnOrgGitRepositoryTests.cs
  backend/tests/Designer.Tests/Services/OptionsServiceTests.cs
  backend/tests/Designer.Tests/Services/OrgCodeListServiceTests.cs
  backend/tests/Designer.Tests/Services/OrgTextsServiceTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/CodeLists/codeListWithTextResources.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/Texts/resource.nb.json
  frontend/app-development/hooks/mutations/useImportCodeListFromOrgToAppMutation.ts
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, frontend, team/studio-domain1, skip-documentation

#15702 refactor: use new studio components in NavigationMenu
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.test.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15675 fix: Remove unnecessary side-effect in the option list editor (3)
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/EditTab.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/EditTab.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/utils/optionsUtils.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/utils/optionsUtils.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#15721 fix: incorrect naming when deleting page in group
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageGroupAccordion.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useAddPageToGroup.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddPageToGroup.ts
  frontend/packages/ux-editor/src/utils/designViewUtils/designViewUtils.test.ts
  frontend/packages/ux-editor/src/utils/designViewUtils/designViewUtils.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15718 style: removed letter-spacing form h1, h2 and h3 to increase readability
  frontend/app-development/layout/App.css
  frontend/dashboard/app/App.css
  frontend/studio-root/app/App.css
Labels: area/dashboard, solution/studio/designer, area/studio-root, frontend, team/studio-core, skip-manual-testing

#15701 feat: moving pages to new groups
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageGroupAccordion.test.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15776 fix: popover bug
  frontend/packages/shared/src/components/RemindChoiceDialog/RemindChoiceDialog.module.css
  frontend/packages/shared/src/components/RemindChoiceDialog/RemindChoiceDialog.tsx
Labels: kind/bug, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15719 feat: Add feedback button to the organisation library
  frontend/dashboard/pages/OrgContentLibraryPage/FeedbackForm/FeedbackForm.tsx
  frontend/dashboard/pages/OrgContentLibraryPage/FeedbackForm/index.ts
  frontend/dashboard/pages/OrgContentLibraryPage/OrgContentLibraryPage.test.tsx
  frontend/dashboard/pages/OrgContentLibraryPage/OrgContentLibraryPage.tsx
  frontend/libs/studio-components-legacy/src/components/StudioModal/StudioModalDialog/StudioModalDialog.tsx
Labels: area/dashboard, solution/studio/designer, frontend, team/studio-domain1, skip-documentation

#15723 ci: Remove documentation section from PR template
  .github/pull_request_template.md
Labels: skip-releasenotes, added-to-sprint, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation

#15786 feat: runner release version
  gitea-runner/Dockerfile
Labels: team/studio-core, skip-manual-testing

#15777 feat: new texts for group conversion actions
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/containers/DesignViewNavigation/DesignViewNavigation.test.tsx
  frontend/packages/ux-editor/src/containers/DesignViewNavigation/DesignViewNavigation.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing
