Repository Altinn/altinn-studio, pull requests merged in 2025-05, with the labels that each got.

#15321 fix: broken user story issue template
  .github/ISSUE_TEMPLATE/user_story.yml
Labels: skip-releasenotes, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15327 feat: same site lax
  backend/src/Designer/Infrastructure/AuthenticationConfiguration.cs
Labels: solution/studio/designer, backend, skip-manual-testing

#15319 fix: Fix navigation bug when navigating to Gitea from Dashboard using small menu
  frontend/dashboard/pages/PageLayout/DashboardHeader/SmallHeaderMenu/SmallHeaderMenuItem/SmallHeaderMenuItem.test.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/SmallHeaderMenu/SmallHeaderMenuItem/SmallHeaderMenuItem.tsx
Labels: area/dashboard, solution/studio/designer, skip-releasenotes, added-to-sprint, frontend, team/studio-core, skip-manual-testing

#15326 chore: Add missing issue templates from org
  .github/ISSUE_TEMPLATE/analysis.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/chore.yml
  .github/ISSUE_TEMPLATE/epic-security-requirements-verification.yml
  .github/ISSUE_TEMPLATE/epic.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/ISSUE_TEMPLATE/test_plan.md
Labels: skip-releasenotes, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15325 chore: update dependencies for PDF
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes

#15331 docs: remove depricated links
  README.md
Labels: skip-manual-testing

#15332 test: add using statement to dispose of test cancellation token
  backend/tests/Designer.Tests/Services/OrgContentServiceTests.cs
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, skip-manual-testing, skip-documentation

#15324 feat: Policy subjects
  backend/src/Designer/TypedHttpClients/AltinnAuthorization/AltinnAuthorizationPolicyClient.cs
Labels: solution/studio/designer, backend, skip-manual-testing

#15323 test: Establish proper route mocking in OptionListEditor tests
  frontend/packages/shared/src/hooks/useStudioEnvironmentParams.ts
  frontend/packages/shared/src/types/AppRouteParams.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListEditor.test.tsx
  frontend/packages/ux-editor/src/testing/mocks.tsx
Labels: area/ui-editor, solution/studio/designer, quality/testing, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15315 feat: Extend the GET endpoint for task navigation to include the total number of pages
  backend/src/Designer/Controllers/TaskNavigationController.cs
  backend/src/Designer/Models/Dto/TaskNavigationGroupDto.cs
  backend/tests/Designer.Tests/Controllers/TaskNavigationController/GetTaskNavigationTests.cs
Labels: solution/studio/designer, quality/testing, backend, team/studio-domain2, skip-manual-testing

#15343 feat(page-groups): create layout files when new pages are added to pagegroup
  backend/src/Designer/Services/Implementation/LayoutService.cs
  backend/tests/Designer.Tests/Services/LayoutServiceTests.cs
Labels: solution/studio/designer, quality/testing, backend, team/studio-domain2, skip-manual-testing

#15313 feat: Task table
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioTable/StudioTable.test.tsx
  frontend/libs/studio-components/src/components/StudioTable/StudioTable.tsx
  frontend/libs/studio-components/src/components/StudioTable/index.tsx
  frontend/libs/studio-components/src/components/index.ts
  frontend/packages/ux-editor/src/components/Settings/SettingsNavigation/SettingsNavigation.module.css
  frontend/packages/ux-editor/src/components/Settings/SettingsNavigation/SettingsNavigation.test.tsx
  frontend/packages/ux-editor/src/components/Settings/SettingsNavigation/SettingsNavigation.tsx
  frontend/packages/ux-editor/src/components/Settings/SettingsTabs.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTable.module.css
  frontend/packages/ux-editor/src/components/TasksTable/TasksTable.test.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTable.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTableBody.module.css
  frontend/packages/ux-editor/src/components/TasksTable/TasksTableBody.test.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTableBody.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15338 chore: Remove `@altinn/figma-design-tokens`
  frontend/libs/studio-components-legacy/.storybook/preview.tsx
  frontend/libs/studio-components-legacy/src/components/StudioContentMenu/hooks/useTabProps.module.css
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/AllAccessPackages.module.css
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/PolicyAccessPackageAccordion/PolicyAccessPackageAccordion.module.css
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/PolicyAccessPackageAccordion/PolicyAccessPackageAccordionContent/PolicyAccessPackageAccordionContent.module.css
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/PolicyAccordion/PolicyAccordion.module.css
  frontend/packages/shared/src/design-tokens.js
  frontend/packages/ux-editor-v3/src/components/Elements/Elements.module.css
  frontend/packages/ux-editor-v3/src/components/config/editModal/InputActionWrapper/InputActionWrapper.module.css
  frontend/packages/ux-editor-v3/src/containers/FormDesigner.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/EditBinding.module.css
  frontend/packages/ux-editor/src/containers/FormDesigner.module.css
  frontend/studio-root/components/ContactSection/ContactSection.module.css
  frontend/studio-root/pages/Contact/ContactPage.module.css
  package.json
  yarn.lock
Labels: area/ui-editor, solution/studio/designer, area/authorization, area/studio-root, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15228 chore: added close button to PDF and Format cards
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.module.css
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.test.tsx
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15247 feat: Update format for external resources used in content-library
  backend/src/Designer/Controllers/Organisation/OrgContentController.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Models/Dto/LibraryContentReference.cs
  backend/src/Designer/Services/Implementation/OrgContentService.cs
  backend/src/Designer/Services/Interfaces/IOrgContentService.cs
  backend/tests/Designer.Tests/Controllers/OrgContentController/GetOrgContentReferencesTests.cs
  backend/tests/Designer.Tests/Services/OrgContentServiceTests.cs
  frontend/app-development/features/appContentLibrary/AppContentLibrary.test.tsx
  frontend/app-development/features/appContentLibrary/AppContentLibrary.tsx
  frontend/app-development/hooks/mutations/useImportCodeListFromOrgToAppMutation.ts
  frontend/app-development/hooks/queries/useGetAvailableCodeListsFromOrgQuery.test.ts
  frontend/app-development/hooks/queries/useGetAvailableOrgResourcesQuery.ts
  frontend/app-development/hooks/queries/useGetAvailableResourcesFromOrgQuery.test.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/AddCodeListDropdown.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/AddCodeListDropdown.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/utils.test.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/utils.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CodeListsActionsBar.tsx
  frontend/libs/studio-content-library/src/test-data/externalResources.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/ExternalResource.ts
  frontend/packages/shared/src/types/QueryKey.ts
Labels: solution/studio/designer, quality/testing, backend, frontend, team/studio-domain1

#15339 fix: make library content utilise full screen width
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/LibraryBody.module.css
Labels: solution/studio/designer, area/content-library, frontend, team/studio-domain1, skip-documentation

#15333 refactor: Use new props in Designer for StudioCodeListEditor to be able to create text resources
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/LibraryOptionsEditor/LibraryOptionsEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/ManualOptionsEditor/ManualOptionsEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/hooks/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/hooks/useHandleBlurTextResource.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/hooks/useHandleUpdateTextResource.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/hooks/useHandleUpdateTextResource.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#15354 feat: useOrgTextLanguagesQuery
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/hooks/queries/useOrgTextLanguagesQuery.test.ts
  frontend/packages/shared/src/hooks/queries/useOrgTextLanguagesQuery.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/QueryKey.ts
Labels: solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15340 feat: deploy pipelines for studio-components & studio-components-legacy
  .github/workflows/studio-components-deploy.yaml
  .github/workflows/studio-components-legacy-deploy.yaml
Labels: skip-releasenotes, skip-manual-testing

#15355 fix: simple type array edge case
  backend/src/DataModeling/Converter/Metadata/JsonSchemaToMetamodelConverter.cs
  backend/tests/DataModeling.Tests/TestDataClasses/CSharpEnd2EndTestData.cs
  backend/tests/SharedResources.Tests/SharedResources.Tests.csproj
  testdata/Model/Issue/gh14544/CSharp/simple-type-array.cs
  testdata/Model/Issue/gh14544/XmlSchema/simple-type-array.xsd
Labels: area/data-modeling, solution/studio/designer, quality/testing, skip-releasenotes, backend, team/studio-domain1, skip-manual-testing

#15344 feat: add elipsis to long task ids in card
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCard.module.css
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15322 fix: Make text resources required on code list editor
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/StudioCodeListEditor.stories.tsx
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/StudioCodeListEditor.test.tsx
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/StudioCodeListEditor.tsx
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/StudioCodeListEditorReducer.test.tsx
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/StudioCodeListEditorRow/StudioCodeListEditorRow.tsx
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/test-data/codeListWithBooleans.ts
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/test-data/codeListWithMultipleTypes.ts
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/test-data/codeListWithNumbers.ts
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/test-data/codeListWithStrings.ts
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/test-data/codeListWithoutTextResources.ts
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/utils.test.ts
  frontend/libs/studio-content-library/mocks/mockPagesConfig.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/CreateNewCodeListDialog/CreateNewCodeListDialog.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/CreateNewCodeListDialog/CreateNewCodeListDialog.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListEditor.test.tsx
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#15366 fix: 404 error in app library caused by non-exisisting org-content repo
  backend/src/Designer/Controllers/Organisation/OrgContentController.cs
  backend/src/Designer/Services/Implementation/OrgContentService.cs
  backend/src/Designer/Services/Interfaces/IAltinnGitRepositoryFactory.cs
  backend/src/Designer/Services/Interfaces/IOrgContentService.cs
  backend/tests/Designer.Tests/Controllers/OrgContentController/GetOrgContentReferencesTests.cs
  backend/tests/Designer.Tests/Services/OrgContentServiceTests.cs
Labels: solution/studio/designer, quality/testing, backend, team/studio-domain1, skip-documentation

#15376 feat: frontend pagegroup conversion buttons
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/ux-editor/src/containers/DesignViewNavigation/DesignViewNavigation.test.tsx
  frontend/packages/ux-editor/src/containers/DesignViewNavigation/DesignViewNavigation.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useConvertToPageGroups.ts
  frontend/packages/ux-editor/src/hooks/mutations/useConvertToPageOrder.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15279 feat: create page groups
  frontend/language/src/nb.json
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/api/dto/PagesModel.ts
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.module.css
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageGroupAccordion.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useAddGroupMutation.test.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useAddGroupMutation.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15342 feat: 14955 fe delete page groups
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageGroupAccordion.module.css
  frontend/packages/ux-editor/src/containers/DesignView/PageGroupAccordion.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useDeletePageGroupMutation.test.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useDeletePageGroupMutation.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15347 feat: page group reordering context buttons
  backend/src/Designer/Services/Implementation/LayoutService.cs
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageGroupAccordion.module.css
  frontend/packages/ux-editor/src/containers/DesignView/PageGroupAccordion.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageGroupAccordion.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useChangePageGroupOrder.ts
  frontend/testing/testids.js
Labels: area/ui-editor, area/text-editor, area/dashboard, solution/studio/designer, area/authorization, solution/platform, quality/testing, skip-releasenotes, backend, area/studio-root, frontend, team/studio-domain2

#15387 feat: storybook composition between legacy and v1
  frontend/libs/studio-components/.storybook/main.ts
Labels: solution/studio/designer, frontend, skip-manual-testing

#15375 chore: add featureFlag for settings page
  frontend/packages/shared/src/utils/featureToggleUtils.ts
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#15384 feat: adapt task card labels to subform
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/TaskNavigation/AddSubformCard/CreateSubformMode.test.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/AddSubformCard/CreateSubformMode.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCard.test.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardEditing.test.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardEditing.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15380 chore: Adding route and navigation for Settings Page
  frontend/app-development/enums/RoutePaths.ts
  frontend/app-development/features/appSettings/AppSettings.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModalButton.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModalButton.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/useNavigateFrom.test.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/useNavigateFrom.ts
  frontend/app-development/router/routes.tsx
  frontend/language/src/nb.json
  frontend/libs/studio-pure-functions/src/UrlUtils/UrlUtils.test.ts
  frontend/libs/studio-pure-functions/src/UrlUtils/UrlUtils.ts
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#15399 chore: Move StudioCenter to new @studio/components
  frontend/libs/studio-components-legacy/src/components/StudioCenter/StudioCenter.tsx
  frontend/libs/studio-components/src/components/StudioCenter/StudioCenter.module.css
  frontend/libs/studio-components/src/components/StudioCenter/StudioCenter.stories.tsx
  frontend/libs/studio-components/src/components/StudioCenter/StudioCenter.test.tsx
  frontend/libs/studio-components/src/components/StudioCenter/StudioCenter.tsx
  frontend/libs/studio-components/src/components/StudioCenter/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15406 chore: storybook composition config
  frontend/libs/studio-components-legacy/.storybook/main.ts
  frontend/libs/studio-components/.storybook/main.ts
Labels: solution/studio/designer, frontend, skip-manual-testing

#15396 chore: Adding StudioContentMenu to App Settings page
  frontend/app-development/features/appSettings/AppSettings.module.css
  frontend/app-development/features/appSettings/AppSettings.tsx
  frontend/app-development/features/appSettings/components/ContentMenu/ContentMenu.test.tsx
  frontend/app-development/features/appSettings/components/ContentMenu/ContentMenu.tsx
  frontend/app-development/features/appSettings/components/ContentMenu/index.ts
  frontend/app-development/features/appSettings/components/TabsContent/TabsContent.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/TabsContent.tsx
  frontend/app-development/features/appSettings/components/TabsContent/index.ts
  frontend/app-development/features/appSettings/hooks/useAppSettingsMenuTabConfig.test.tsx
  frontend/app-development/features/appSettings/hooks/useAppSettingsMenuTabConfigs.tsx
  frontend/app-development/features/appSettings/types/SettingsTabId.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#15402 chore: create new StudioTextfield
  frontend/libs/studio-components-legacy/src/components/StudioTextarea/StudioTextarea.tsx
  frontend/libs/studio-components-legacy/src/components/StudioTextfield/StudioTextfield.tsx
  frontend/libs/studio-components/src/components/StudioTextfield/StudioTextfield.module.css
  frontend/libs/studio-components/src/components/StudioTextfield/StudioTextfield.stories.tsx
  frontend/libs/studio-components/src/components/StudioTextfield/StudioTextfield.test.tsx
  frontend/libs/studio-components/src/components/StudioTextfield/StudioTextfield.tsx
  frontend/libs/studio-components/src/components/StudioTextfield/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15408 fix: orgTextLanguagesPath
  frontend/packages/shared/src/api/paths.js
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15404 feat: Add new StudioSpinner
  frontend/libs/studio-components-legacy/src/components/StudioSpinner/StudioSpinner.tsx
  frontend/libs/studio-components/src/components/StudioSpinner/StudioSpinner.module.css
  frontend/libs/studio-components/src/components/StudioSpinner/StudioSpinner.stories.tsx
  frontend/libs/studio-components/src/components/StudioSpinner/StudioSpinner.test.tsx
  frontend/libs/studio-components/src/components/StudioSpinner/StudioSpinner.tsx
  frontend/libs/studio-components/src/components/StudioSpinner/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15407 chore: add loading tab data to app settings
  frontend/app-development/features/appSettings/components/TabsContent/LoadingTabData/LoadingTabData.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/LoadingTabData/LoadingTabData.tsx
  frontend/app-development/features/appSettings/components/TabsContent/LoadingTabData/index.ts
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#15378 feat: Implement navigation table
  frontend/language/src/nb.json
  frontend/packages/shared/src/types/api/dto/TaskNavigationGroup.ts
  frontend/packages/ux-editor/src/components/Settings/SettingsNavigation/SettingsNavigation.module.css
  frontend/packages/ux-editor/src/components/Settings/SettingsNavigation/SettingsNavigation.test.tsx
  frontend/packages/ux-editor/src/components/Settings/SettingsNavigation/SettingsNavigation.tsx
  frontend/packages/ux-editor/src/components/Settings/SettingsUtils.test.tsx
  frontend/packages/ux-editor/src/components/Settings/SettingsUtils.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTable.test.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTable.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTableBody.module.css
  frontend/packages/ux-editor/src/components/TasksTable/TasksTableBody.test.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTableBody.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15410 chore: add new StudioAlert
  frontend/libs/studio-components-legacy/src/components/StudioAlert/StudioAlert.tsx
  frontend/libs/studio-components/src/components/StudioAlert/StudioAlert.test.tsx
  frontend/libs/studio-components/src/components/StudioAlert/StudioAlert.tsx
  frontend/libs/studio-components/src/components/StudioAlert/index.ts
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#15412 chore: add TabPageWrapper component
  frontend/app-development/features/appSettings/components/TabsContent/TabPageWrapper/TabPageWrapper.module.css
  frontend/app-development/features/appSettings/components/TabsContent/TabPageWrapper/TabPageWrapper.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/TabPageWrapper/TabPageWrapper.tsx
  frontend/app-development/features/appSettings/components/TabsContent/TabPageWrapper/index.ts
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#15413 chore: adding TabPageHeader component
  frontend/app-development/features/appSettings/components/TabsContent/TabPageHeader/TabPageHeader.module.css
  frontend/app-development/features/appSettings/components/TabsContent/TabPageHeader/TabPageHeader.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/TabPageHeader/TabPageHeader.tsx
  frontend/app-development/features/appSettings/components/TabsContent/TabPageHeader/index.ts
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#15417 chore: PDF weekly patching
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes

#15383 fix: make defaut message disabled
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/TaskNavigation/AddSubformCard/AddSubformCardUtils.test.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/AddSubformCard/AddSubformCardUtils.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardEditing.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15401 feat: translate option labels into text resource values
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/LibraryOptionsEditor/LibraryOptionsEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/ManualOptionsEditor/ManualOptionsEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListLabels/OptionListLabels.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/hooks/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/hooks/useConcatOptionListLabels.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/hooks/useConcatOptionListLabels.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/hooks/useConcatOptionsLabels.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain1, skip-documentation

#15419 chore: Add StudioSwitch
  frontend/libs/studio-components/src/components/StudioSwitch/StudioSwitch.test.tsx
  frontend/libs/studio-components/src/components/StudioSwitch/StudioSwitch.tsx
  frontend/libs/studio-components/src/components/StudioSwitch/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15416 refactor: Rename all 'ForOrg' instances to 'Org'
  frontend/dashboard/pages/OrgContentLibraryPage/OrgContentLibraryPage.test.tsx
  frontend/dashboard/pages/OrgContentLibraryPage/OrgContentLibraryPage.tsx
  frontend/dashboard/pages/OrgContentLibraryPage/utils.test.ts
  frontend/dashboard/pages/OrgContentLibraryPage/utils.ts
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/hooks/mutations/useCreateOrgCodeListMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useCreateOrgCodeListMutation.ts
  frontend/packages/shared/src/hooks/mutations/useCreateOrgTextResourcesMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useCreateOrgTextResourcesMutation.ts
  frontend/packages/shared/src/hooks/mutations/useDeleteOrgCodeListMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useDeleteOrgCodeListMutation.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOrgCodeListMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOrgCodeListMutation.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOrgTextResourcesMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOrgTextResourcesMutation.ts
  frontend/packages/shared/src/hooks/mutations/useUploadOrgCodeListMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useUploadOrgCodeListMutation.ts
  frontend/packages/shared/src/hooks/queries/useOrgCodeListsQuery.test.ts
  frontend/packages/shared/src/hooks/queries/useOrgCodeListsQuery.ts
  frontend/packages/shared/src/hooks/queries/useOrgTextResourcesQuery.test.ts
  frontend/packages/shared/src/hooks/queries/useOrgTextResourcesQuery.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/QueryKey.ts
Labels: area/dashboard, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15422 feat: add three dot menu
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/TasksTable/TaskAction.module.css
  frontend/packages/ux-editor/src/components/TasksTable/TaskAction.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTableBody.test.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTableBody.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15434 feat: create a mutation hook for `taskNavigationGroup`
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/ux-editor/src/hooks/mutations/useTaskNavigationGroupMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useTaskNavigationGroupMutation.ts
Labels: area/ui-editor, solution/studio/designer, added-to-sprint, frontend, team/studio-domain2, skip-manual-testing

#15436 refactor: change design of settings page
  frontend/app-development/features/appSettings/AppSettings.module.css
  frontend/app-development/features/appSettings/AppSettings.tsx
  frontend/language/src/nb.json
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#15431 chore: Add new StudioFieldset
  frontend/libs/studio-components-legacy/src/components/StudioFieldset/StudioFieldset.tsx
  frontend/libs/studio-components/src/components/StudioFieldset/StudioFieldset.stories.tsx
  frontend/libs/studio-components/src/components/StudioFieldset/StudioFieldset.test.tsx
  frontend/libs/studio-components/src/components/StudioFieldset/StudioFieldset.tsx
  frontend/libs/studio-components/src/components/StudioFieldset/StudioFieldsetDescription.tsx
  frontend/libs/studio-components/src/components/StudioFieldset/StudioFieldsetLegend.tsx
  frontend/libs/studio-components/src/components/StudioFieldset/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15437 fix: Make TextResourceUtils methods return TextResourceUtils instead of TextResourceMap
  frontend/libs/studio-pure-functions/src/TextResourceUtils/TextResourceUtils.test.ts
  frontend/libs/studio-pure-functions/src/TextResourceUtils/TextResourceUtils.ts
Labels: solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation, area/studio-pure-functions

#15397 feat: Remove feature flag OptionListEditor
  frontend/app-development/features/overview/components/News/NewsContent/news.nb.json
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/ManualTab/EditOption/EditOption.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/ManualTab/EditOption/EditOption.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/ManualTab/EditOption/EditOption.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/ManualTab/EditOption/OptionValue/OptionValue.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/ManualTab/EditOption/OptionValue/OptionValue.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/ManualTab/EditOption/OptionValue/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/ManualTab/EditOption/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/ManualTab/EditOption/utils.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/ManualTab/EditOption/utils.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/ManualTab/ManualTab.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/ManualTab/ManualTab.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/ManualTab/ManualTab.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/ManualTab/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/OptionTabs.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/OptionTabs.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/SelectTab/SelectTab.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/SelectTab/SelectTab.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/SelectTab/SelectTab.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/SelectTab/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/utils/optionsUtils.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/utils/optionsUtils.ts
Labels: area/ui-editor, solution/studio/designer, area/overview, frontend, team/studio-domain1

#15433 chore: update header and ellipsis menu in groups
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/containers/DesignViewNavigation/DesignViewNavigation.module.css
  frontend/packages/ux-editor/src/containers/DesignViewNavigation/DesignViewNavigation.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15418 chore: move about app tab to settings page
  frontend/app-development/features/appSettings/components/TabsContent/TabPageHeader/TabPageHeader.module.css
  frontend/app-development/features/appSettings/components/TabsContent/TabPageHeader/TabPageHeader.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/AboutTab.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/AboutTab.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/CreatedFor/CreatedFor.module.css
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/CreatedFor/CreatedFor.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/CreatedFor/CreatedFor.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/CreatedFor/index.ts
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/InputFields/InputFields.module.css
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/InputFields/InputFields.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/InputFields/InputFields.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/InputFields/index.ts
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/index.ts
  frontend/app-development/features/appSettings/components/TabsContent/TabsContent.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/TabsContent.tsx
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#15398 fix: create org text resource automatically
  backend/src/Designer/Infrastructure/GitRepository/AltinnOrgGitRepository.cs
  backend/src/Designer/Services/Implementation/Organisation/OrgTextsService.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnOrgGitRepositoryTests.cs
  backend/tests/Designer.Tests/Services/OrgTextsServiceTests.cs
Labels: area/text-editor, solution/studio/designer, quality/testing, backend, team/studio-domain1

#15439 fix: add layout queries invalidation to `useAddGroupMutation`
  frontend/packages/ux-editor/src/hooks/mutations/useAddGroupMutation.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15345 feat: add form export button in main page
  frontend/libs/studio-components-legacy/src/components/StudioBlobDownloader/StudioBlobDownloader.tsx
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/components/Elements/ExportForm.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCard.test.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCard.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15386 feat: implement hidden tasks table and combine task type and layoutset name
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Settings/SettingsNavigation/SettingsNavigation.module.css
  frontend/packages/ux-editor/src/components/Settings/SettingsNavigation/SettingsNavigation.test.tsx
  frontend/packages/ux-editor/src/components/Settings/SettingsNavigation/SettingsNavigation.tsx
  frontend/packages/ux-editor/src/components/Settings/SettingsUtils.test.tsx
  frontend/packages/ux-editor/src/components/Settings/SettingsUtils.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTable.module.css
  frontend/packages/ux-editor/src/components/TasksTable/TasksTable.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTableBody.module.css
  frontend/packages/ux-editor/src/components/TasksTable/TasksTableBody.test.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTableBody.tsx
  frontend/packages/ux-editor/src/hooks/useTaskNavigationGroupName.test.tsx
  frontend/packages/ux-editor/src/hooks/useTaskNavigationGroupName.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15440 feat: page selection inside page groups
  frontend/packages/shared/src/hooks/useSelectedFormLayoutName.test.tsx
  frontend/packages/shared/src/hooks/useSelectedFormLayoutName.ts
  frontend/packages/ux-editor/src/AppContext.test.tsx
  frontend/packages/ux-editor/src/hooks/queries/usePagesQuery.ts
  frontend/packages/ux-editor/src/hooks/useGetPageByName.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15441 feat: 15395 change page group default based on how many pages inside the group
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageGroupAccordion.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageGroupAccordion.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useAddGroupMutation.test.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useAddGroupMutation.ts
  frontend/packages/ux-editor/src/testing/layoutMock.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15455 chore: Bump the azure-identity package for pdf generator
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes

#15458 refactor: remove unused method AssertValidXmlContent
  backend/src/Designer/Helpers/Guard.cs
Labels: solution/studio/designer, skip-releasenotes, backend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation

#15438 chore: add new StudioFormGroup
  frontend/libs/studio-components/src/components/StudioFormGroup/StudioFormGroup.stories.tsx
  frontend/libs/studio-components/src/components/StudioFormGroup/StudioFormGroup.test.tsx
  frontend/libs/studio-components/src/components/StudioFormGroup/StudioFormGroup.tsx
  frontend/libs/studio-components/src/components/StudioFormGroup/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation

#15445 feat: Remove navigation task from table
  frontend/packages/ux-editor/src/components/Settings/SettingsNavigation/SettingsNavigation.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TaskAction.test.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TaskAction.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTable.test.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTable.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTableBody.test.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTableBody.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useTaskNavigationGroupMutation.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15449 feat: Reorder tasks in navigation
  frontend/packages/ux-editor/src/components/TasksTable/TaskAction.test.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TaskAction.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15463 chore: Add new StudioLink
  frontend/libs/studio-components/src/components/StudioLink/StudioLink.stories.tsx
  frontend/libs/studio-components/src/components/StudioLink/StudioLink.test.tsx
  frontend/libs/studio-components/src/components/StudioLink/StudioLink.tsx
  frontend/libs/studio-components/src/components/StudioLink/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15466 chore: Update the info text on the Utforming page in nb.json
  frontend/language/src/nb.json
Labels: area/ui-editor, solution/studio/designer, added-to-sprint, text/content, frontend, team/studio-domain2, skip-manual-testing

#15472 chore: add function to check if arrays have same values ignoring order
  frontend/libs/studio-pure-functions/src/ArrayUtils/ArrayUtils.test.ts
  frontend/libs/studio-pure-functions/src/ArrayUtils/ArrayUtils.ts
Labels: solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15451 fix: Add onUpdateTextResource to TextResourceInput (1)
  frontend/libs/studio-components-legacy/src/components/StudioCodeListEditor/StudioCodeListEditorRow/StudioCodeListEditorRow.tsx
  frontend/libs/studio-components-legacy/src/components/StudioTextResourceInput/StudioTextResourceInput.test.tsx
  frontend/libs/studio-components-legacy/src/components/StudioTextResourceInput/StudioTextResourceInput.tsx
  frontend/libs/studio-components-legacy/src/components/StudioTextResourceInput/utils.test.ts
  frontend/libs/studio-components-legacy/src/components/StudioTextResourceInput/utils.ts
  frontend/libs/studio-components-legacy/src/types/RequiredSelection.ts
  frontend/libs/studio-pure-functions/src/TextResourceUtils/TextResourceUtils.test.ts
  frontend/libs/studio-pure-functions/src/TextResourceUtils/TextResourceUtils.ts
Labels: solution/studio/designer, quality/code, skip-releasenotes, frontend, team/studio-domain1, skip-documentation, area/studio-components

#15453 feat: Navigate to form editor from task table
  frontend/packages/ux-editor/src/components/Settings/SettingsUtils.test.tsx
  frontend/packages/ux-editor/src/components/Settings/SettingsUtils.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TaskAction.test.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TaskAction.tsx
  frontend/packages/ux-editor/src/hooks/useTaskNavigationGroupName.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15454 refactor: Use new text resource utils in code list editor (2)
  frontend/libs/studio-components-legacy/src/components/StudioCodeListEditor/StudioCodeListEditorReducer.tsx
Labels: solution/studio/designer, quality/code, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation, area/studio-components

#15424 chore: Move policy tab to settings page
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/PolicyTab/PolicyTab.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/PolicyTab/PolicyTab.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/PolicyTab/index.ts
  frontend/app-development/features/appSettings/components/TabsContent/TabsContent.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/TabsContent.tsx
  frontend/language/src/nb.json
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#15272 feat(resource-adm): add support for consent resource
  backend/src/Designer/Controllers/ResourceAdminController.cs
  backend/src/Designer/Enums/ResourceType.cs
  backend/src/Designer/Models/ConsentMetadata.cs
  backend/src/Designer/Models/ConsentTemplate.cs
  backend/src/Designer/Models/ConsentTemplateTexts.cs
  backend/src/Designer/Models/ConsentTemplateTypeText.cs
  backend/src/Designer/Models/ServiceResource.cs
  backend/src/Designer/Services/Implementation/ResourceRegistryService.cs
  backend/src/Designer/Services/Interfaces/IResourceRegistry.cs
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/QueryKey.ts
  frontend/packages/shared/src/types/ResourceAdm.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/resourceadm/components/ResourcePageInputs/ResourcePageInputs.module.css
  frontend/resourceadm/hooks/queries/useGetConsentTemplates.ts
  frontend/resourceadm/language/src/nb.json
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.test.tsx
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.test.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/resourceadm/types/Translation.d.ts
  frontend/resourceadm/utils/resourceUtils/index.ts
  frontend/resourceadm/utils/resourceUtils/resourceUtils.test.tsx
  frontend/resourceadm/utils/resourceUtils/resourceUtils.ts
Labels: area/text-editor, solution/studio/designer, skip-releasenotes, backend, frontend, skip-manual-testing

#15456 refactor: Replace blur with create and update on text resources in library (3)
  frontend/app-development/features/appContentLibrary/AppContentLibrary.tsx
  frontend/dashboard/pages/OrgContentLibraryPage/OrgContentLibraryPage.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/EditCodeList.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/AddCodeListDropdown.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/CreateNewCodeListDialog/CreateNewCodeListDialog.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CodeListsActionsBar.tsx
Labels: area/dashboard, solution/studio/designer, quality/code, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15447 feat: moving pages inside page groups
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.tsx
  frontend/packages/ux-editor/src/testing/layoutMock.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15459 refactor: Remove onBlurTextResource on StudioTextResourceInput (4)
  frontend/libs/studio-components-legacy/src/components/StudioInputTable/test-data/TestTable.tsx
  frontend/libs/studio-components-legacy/src/components/StudioInputTable/test-data/testTableData.ts
  frontend/libs/studio-components-legacy/src/components/StudioTextResourceInput/StudioTextResourceInput.test.tsx
  frontend/libs/studio-components-legacy/src/components/StudioTextResourceInput/StudioTextResourceInput.tsx
Labels: solution/studio/designer, quality/code, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation, area/studio-components

#15482 feat: add description to studio checkbox table
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTable.mdx
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTable.stories.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTable.test.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTableHead/StudioCheckboxTableHead.test.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTableHead/StudioCheckboxTableHead.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTableHead/index.ts
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTableRow/StudioCheckboxTableRow.test.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxTable/StudioCheckboxTableRow/StudioCheckboxTableRow.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxTable/hook/useStudioCheckboxTable.ts
Labels: solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15474 chore: move access control tab to settings page
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AccessControlTab/AccessControlTab.module.css
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AccessControlTab/AccessControlTab.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AccessControlTab/AccessControlTab.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AccessControlTab/SelectAllowedPartyTypes/SelectAllowedPartyTypes.module.css
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AccessControlTab/SelectAllowedPartyTypes/SelectAllowedPartyTypes.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AccessControlTab/SelectAllowedPartyTypes/SelectAllowedPartyTypes.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AccessControlTab/SelectAllowedPartyTypes/index.ts
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AccessControlTab/SelectAllowedPartyTypes/utils.test.ts
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AccessControlTab/SelectAllowedPartyTypes/utils.ts
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AccessControlTab/index.ts
  frontend/app-development/features/appSettings/components/TabsContent/TabsContent.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/TabsContent.tsx
  frontend/language/src/nb.json
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#15461 feat: Move page count from task navigation to extended layout sets
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/Controllers/TaskNavigationController.cs
  backend/src/Designer/Mappers/LayoutSetMapper.cs
  backend/src/Designer/Models/Dto/LayoutSetDto.cs
  backend/src/Designer/Models/Dto/TaskNavigationGroupDto.cs
  backend/src/Designer/Models/LayoutSetModel.cs
  backend/src/Designer/Models/LayoutSetsModel.cs
  backend/src/Designer/Models/TaskModel.cs
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
  backend/src/Designer/Services/Interfaces/IAppDevelopmentService.cs
  backend/tests/Designer.Tests/Controllers/TaskNavigationController/GetTaskNavigationTests.cs
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/hooks/queries/useLayoutSetsExtendedQuery.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/api/dto/LayoutSetModel.ts
  frontend/packages/shared/src/types/api/dto/LayoutSetsModel.ts
  frontend/packages/shared/src/types/api/dto/TaskNavigationGroup.ts
  frontend/packages/ux-editor/src/components/Settings/SettingsNavigation/SettingsNavigation.tsx
  frontend/packages/ux-editor/src/components/Settings/SettingsUtils.test.tsx
  frontend/packages/ux-editor/src/components/Settings/SettingsUtils.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardBar.test.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardBar.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TaskAction.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTable.test.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTableBody.test.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTableBody.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Target/targetUtils.ts
  frontend/packages/ux-editor/src/hooks/mutations/useTaskNavigationGroupMutation.test.ts
  frontend/packages/ux-editor/src/hooks/useTaskNavigationGroupName.tsx
  frontend/packages/ux-editor/src/testing/layoutSetsMock.ts
Labels: area/ui-editor, solution/studio/designer, quality/testing, backend, frontend, team/studio-domain2

#15462 feat: Move tasks to navigation table (single or multiple) and remove all navigation tasks
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Settings/SettingsNavigation/SettingsNavigation.tsx
  frontend/packages/ux-editor/src/components/Settings/SettingsUtils.test.tsx
  frontend/packages/ux-editor/src/components/Settings/SettingsUtils.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TaskAction.test.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TaskAction.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTable.test.tsx
  frontend/packages/ux-editor/src/components/TasksTable/TasksTable.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15480 feat: markAsCompleted and type backend support for page groups
  backend/src/Designer/Models/Dto/GroupDto.cs
  backend/src/Designer/Models/Dto/PagesDto.cs
Labels: solution/studio/designer, backend, team/studio-domain2, skip-manual-testing

#15489 chore: change "Datamodeller" for the accordion title and "Datamodellfelt" fo…
  frontend/language/src/nb.json
Labels: frontend, team/studio-domain2, skip-manual-testing

#15485 fix(resource-adm): hide migrate resource tab if resourceType is not GenericAccessResource
  frontend/resourceadm/pages/ResourcePage/ResourcePage.test.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, skip-manual-testing

#15486 fix(resource-adm): add IsOneTimeConsent field to consent resource
  backend/src/Designer/Models/ServiceResource.cs
  frontend/packages/shared/src/types/ResourceAdm.ts
  frontend/resourceadm/language/src/nb.json
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.test.tsx
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
Labels: solution/studio/designer, skip-releasenotes, backend, frontend, skip-manual-testing

#15479 chore: implement navigation on settings page
  frontend/app-development/features/appSettings/AppSettings.test.tsx
  frontend/app-development/features/appSettings/AppSettings.tsx
  frontend/app-development/features/appSettings/components/ContentMenu/ContentMenu.test.tsx
  frontend/app-development/features/appSettings/components/ContentMenu/ContentMenu.tsx
  frontend/app-development/features/appSettings/hooks/useAppSettingsMenuTabConfig.test.tsx
  frontend/app-development/features/appSettings/hooks/useAppSettingsMenuTabConfigs.tsx
  frontend/app-development/features/appSettings/utils.test.tsx
  frontend/app-development/features/appSettings/utils.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/utils/settingsModalUtils.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/utils/settingsModalUtils.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/useNavigateFrom.test.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/useNavigateFrom.ts
  frontend/app-development/types/SettingsModalTab.ts
  frontend/app-development/types/SettingsPageTabId.ts
  frontend/language/src/nb.json
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditPolicy/EditPolicy.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditPolicy/EditPolicy.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditPolicy/EditPolicy.tsx
  frontend/packages/shared/src/enums/LocalStorageKey.ts
  frontend/packages/shared/src/navigation/PackagesRouter/PackagesRouter.test.ts
  frontend/packages/shared/src/navigation/PackagesRouter/PackagesRouter.ts
Labels: area/process, solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#15484 chore: move maskinporten tab to settings page
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/AnsattportenLogin/AnsattportenLogin.module.css
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/AnsattportenLogin/AnsattportenLogin.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/AnsattportenLogin/AnsattportenLogin.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/AnsattportenLogin/index.ts
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/MaskinportenTab.module.css
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/MaskinportenTab.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/MaskinportenTab.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/ScopeListContainer/LoggedInTitle/LoggedInTitle.module.css
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/ScopeListContainer/LoggedInTitle/LoggedInTitle.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/ScopeListContainer/LoggedInTitle/LoggedInTitle.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/ScopeListContainer/LoggedInTitle/index.ts
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/ScopeListContainer/NoScopesAlert/NoScopesAlert.module.css
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/ScopeListContainer/NoScopesAlert/NoScopesAlert.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/ScopeListContainer/NoScopesAlert/NoScopesAlert.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/ScopeListContainer/NoScopesAlert/index.ts
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/ScopeListContainer/ScopeList/ScopeList.module.css
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/ScopeListContainer/ScopeList/ScopeList.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/ScopeListContainer/ScopeList/ScopeList.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/ScopeListContainer/ScopeList/index.ts
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/ScopeListContainer/ScopeList/utils.test.ts
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/ScopeListContainer/ScopeList/utils.ts
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/ScopeListContainer/ScopeListContainer.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/ScopeListContainer/ScopeListContainer.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/ScopeListContainer/index.ts
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/MaskinportenTab/index.ts
  frontend/app-development/features/appSettings/components/TabsContent/TabsContent.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/TabsContent.tsx
  frontend/app-development/hooks/useOpenSettingsModalBasedQueryParam.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/Maskinporten/ScopeListContainer/ScopeList/ScopeList.module.css
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioCheckboxTable/hook/useStudioCheckboxTable.ts
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#15490 test: Extract functions in UpdateTextsForKeys tests (1)
  backend/tests/Designer.Tests/Controllers/TextController/UpdateTextsForKeysTests.cs
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, team/studio-domain1, skip-manual-testing, skip-documentation

#15491 fix: Make the UpdateTextsForKeys endpoint respond with updated data (2)
  backend/src/Designer/Controllers/TextController.cs
  backend/src/Designer/Services/Implementation/TextsService.cs
  backend/src/Designer/Services/Interfaces/ITextsService.cs
  backend/tests/Designer.Tests/Controllers/TextController/UpdateTextsForKeysTests.cs
Labels: area/text-editor, solution/studio/designer, quality/testing, skip-releasenotes, backend, area/content-library, team/studio-domain1, skip-manual-testing, skip-documentation

#15492 fix: Apply correct types to the upsertTextResources mutation (3)
  frontend/packages/shared/src/api/mutations.ts
Labels: solution/studio/designer, quality/code, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15493 chore: Update sping-boot starter parent
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes

#15504 feat(deploy): add endpoint to get all branches for a repo
  backend/src/Designer/Controllers/RepositoryController.cs
  backend/src/Designer/Helpers/AltinnRegexes.cs
  backend/src/Designer/Helpers/Guard.cs
  backend/src/Designer/Services/Implementation/GiteaAPIWrapper/GiteaAPIWrapper.cs
  backend/src/Designer/Services/Interfaces/IGitea.cs
  backend/tests/Designer.Tests/Controllers/RepositoryController/BranchesTests.cs
  backend/tests/Designer.Tests/GiteaIntegrationTests/RepositoryController/RepositoryControllerGiteaIntegrationTests.cs
  backend/tests/Designer.Tests/Mocks/IGiteaMock.cs
Labels: solution/studio/designer, quality/testing, backend, skip-manual-testing

#15460 feat: 15390 adding a new page inside page groups
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageGroupAccordion.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageGroupAccordion.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useAddPageToGroup.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddPageToGroup.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateGroupsMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateGroupsMutation.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15516 test: Isolate text editor tests (1)
  frontend/app-development/features/textEditor/TextEditor.test.tsx
  frontend/packages/shared/src/mocks/queryClientMock.ts
Labels: area/text-editor, solution/studio/designer, quality/testing, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15483 fix: Optimistic updates for organisation text resources
  frontend/libs/studio-pure-functions/src/TextResourceUtils/TextResourceUtils.test.ts
  frontend/libs/studio-pure-functions/src/TextResourceUtils/TextResourceUtils.ts
  frontend/libs/studio-pure-functions/src/types/TextResourcesWithLanguage.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOrgTextResourcesMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOrgTextResourcesMutation.ts
Labels: solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-documentation

#15502 refactor: move playwright tests for app settings and remove feature flag for settings page
  frontend/app-development/hooks/useOpenSettingsModalBasedQueryParam.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModalButton.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModalButton.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/useNavigateFrom.test.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/useNavigateFrom.ts
  frontend/app-development/layout/PageLayout.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditPolicy/EditPolicy.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditPolicy/EditPolicy.tsx
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/testing/playwright/components/AppDevelopmentHeader.ts
  frontend/testing/playwright/components/PolicyEditor.ts
  frontend/testing/playwright/components/SettingsModal.ts
  frontend/testing/playwright/enum/AppNames.ts
  frontend/testing/playwright/enum/TestNames.ts
  frontend/testing/playwright/helpers/RouterRoute.ts
  frontend/testing/playwright/pages/ProcessEditorPage/PolicyConfig.ts
  frontend/testing/playwright/pages/SettingsPage.ts
  frontend/testing/playwright/playwright.config.ts
  frontend/testing/playwright/tests/app-settings/app-settings.spec.ts
  frontend/testing/playwright/tests/process-editor/process-editor.spec.ts
  frontend/testing/playwright/tests/settings-modal/settings-modal.spec.ts
  frontend/testing/playwright/types/SettingsPageTab.ts
Labels: area/process, solution/studio/designer, quality/testing, frontend, team/studio-core, skip-manual-testing

#15538 feat: group pages into a single page group
  backend/src/Designer/Services/Implementation/LayoutService.cs
  backend/src/Designer/Services/Interfaces/ILayoutService.cs
  backend/tests/Designer.Tests/Services/LayoutServiceTests.cs
Labels: solution/studio/designer, quality/testing, backend, team/studio-domain2, skip-manual-testing

#15519 feat: enable "main config" for components
  frontend/language/src/nb.json
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/DataModelMainConfig.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/TextMainConfig.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/TextMainConfig.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/DefinedBinding/DefinedBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditDataModelBinding.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/UndefinedBinding/UndefinedBinding.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/UndefinedBinding/UndefinedBinding.tsx
  frontend/testing/playwright/pages/UiEditorPage.ts
  frontend/testing/playwright/tests/text-editor/text-editor.spec.ts
  frontend/testing/playwright/tests/ui-editor/ui-editor-data-model-binding-and-gitea.spec.ts
  frontend/testing/playwright/tests/ui-editor/ui-editor.spec.ts
Labels: area/ui-editor, solution/studio/designer, quality/testing, frontend, team/studio-domain2

#15543 fix: Fixed doc link
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/PolicyAccessPackagesWarning.tsx
Labels: solution/studio/designer, area/authorization, team/authorisation, frontend, skip-manual-testing
