Repository Altinn/altinn-studio, pull requests merged in 2025-08, with the labels that each got.

#15872 fix: Remove cross-component-library dependencies
  frontend/libs/studio-components-legacy/src/components/StudioPageHeader/StudioPageHeaderLeft/DigdirLogoLink/DigdirLogoLink.tsx
  frontend/libs/studio-components-legacy/src/components/StudioSectionHeader/StudioSectionHeader.tsx
Labels: kind/bug, solution/studio/designer, skip-releasenotes, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-documentation, area/studio-components

#15938 fix: Full refresh of page when deleting local changes in a conflict
  frontend/packages/shared/src/components/MergeConflictWarning/RemoveChangesPopoverContent/RemoveChangesPopoverContent.test.tsx
  frontend/packages/shared/src/components/MergeConflictWarning/RemoveChangesPopoverContent/RemoveChangesPopoverContent.tsx
Labels: solution/studio/designer, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2, team/studio-core

#15973 fix: BPMN palette titles
  frontend/packages/process-editor/src/bpmnProviders/SupportedPaletteProvider.js
  frontend/testing/playwright/pages/ProcessEditorPage/ProcessEditorPage.ts
Labels: area/process, solution/studio/designer, quality/testing, skip-releasenotes, text/content, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15883 feat: create new ux-editor component for name changes
  frontend/packages/ux-editor/src/components/Properties/GroupConfigPanel/EditGroupName.module.css
  frontend/packages/ux-editor/src/components/Properties/GroupConfigPanel/GroupConfigPanel.module.css
  frontend/packages/ux-editor/src/components/Properties/GroupConfigPanel/GroupConfigPanel.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/EditPageId.module.css
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/EditPageId.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/EditPageId.tsx
  frontend/packages/ux-editor/src/components/config/EditName.module.css
  frontend/packages/ux-editor/src/components/config/EditName.test.tsx
  frontend/packages/ux-editor/src/components/config/EditName.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15976 refactor: usePrevious hook
  frontend/libs/studio-components-legacy/src/hooks/usePrevious.test.ts
  frontend/libs/studio-components-legacy/src/hooks/usePrevious.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation

#15971 fix: Add span element to legend in StudioFieldset (1)
  frontend/libs/studio-components/src/components/StudioFieldset/StudioFieldset.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#16001 fix: add limit for max width of grid selector
  frontend/libs/studio-components-legacy/src/components/StudioGridSelector/StudioGridSelector.module.css
Labels: solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#16003 fix: set sortable to false for createdBy property
  frontend/dashboard/components/RepoList/RepoList.tsx
Labels: area/dashboard, solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#16013 refactor: Add return types to boolean toggle group code (2)
  frontend/libs/studio-components-legacy/src/components/StudioBooleanToggleGroup/StudioBooleanToggleGroup.test.tsx
  frontend/libs/studio-components-legacy/src/components/StudioBooleanToggleGroup/StudioBooleanToggleGroup.tsx
Labels: solution/studio/designer, quality/code, quality/debt, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation, area/studio-components

#15934 fix: Fix spacing for specific components config
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/AttachmentList/AttachmentListComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/AttachmentList/AttachmentListInternalFormat.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.module.css
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Image/ImageComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2Override.module.css
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2Override.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Component.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Target/Summary2Target.module.css
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Target/Summary2Target.tsx
Labels: area/ui-editor, solution/studio/designer, added-to-sprint, frontend, team/studio-domain2, skip-manual-testing

#16014 fix: Copy Override type to the new component library (3)
  frontend/libs/studio-components/src/types/Override.ts
Labels: solution/studio/designer, quality/debt, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation, area/studio-components

#16017 feat: StudioDetails Storybook stories
  frontend/libs/studio-components/src/components/StudioDetails/StudioDetails.stories.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation, area/studio-components

#16039 chore: Add deprecated to StudioNativeSelect
  frontend/libs/studio-components-legacy/src/components/StudioNativeSelect/StudioNativeSelect.tsx
Labels: solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#16037 chore: move StudioPageSpinner
  frontend/libs/studio-components-legacy/src/components/StudioPageSpinner/StudioPageSpinner.tsx
  frontend/libs/studio-components/src/components/StudioPageSpinner/StudioPageSpinner.module.css
  frontend/libs/studio-components/src/components/StudioPageSpinner/StudioPageSpinner.stories.tsx
  frontend/libs/studio-components/src/components/StudioPageSpinner/StudioPageSpinner.test.tsx
  frontend/libs/studio-components/src/components/StudioPageSpinner/StudioPageSpinner.tsx
  frontend/libs/studio-components/src/components/StudioPageSpinner/index.ts
Labels: solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#16028 chore: Move StudioNotFoundPage
  frontend/libs/studio-components-legacy/src/components/StudioNotFoundPage/StudioNotFoundPage.tsx
  frontend/libs/studio-components/src/components/StudioNotFoundPage/StudioNotFound.mdx
  frontend/libs/studio-components/src/components/StudioNotFoundPage/StudioNotFoundPage.module.css
  frontend/libs/studio-components/src/components/StudioNotFoundPage/StudioNotFoundPage.stories.tsx
  frontend/libs/studio-components/src/components/StudioNotFoundPage/StudioNotFoundPage.test.tsx
  frontend/libs/studio-components/src/components/StudioNotFoundPage/StudioNotFoundPage.tsx
  frontend/libs/studio-components/src/components/StudioNotFoundPage/images/Background404.png
  frontend/libs/studio-components/src/components/StudioNotFoundPage/images/PCImage404.png
  frontend/libs/studio-components/src/components/StudioNotFoundPage/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15998 fix: Style property fieldset as card (3)
  frontend/libs/studio-components-legacy/src/components/StudioProperty/index.ts
  frontend/libs/studio-components/src/components/StudioProperty/StudioPropertyFieldset/StudioPropertyFieldset.module.css
  frontend/libs/studio-components/src/components/StudioProperty/StudioPropertyFieldset/StudioPropertyFieldset.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation, area/studio-components

#16052 chore: add Claude local settings file to .gitignore
  .gitignore
Labels: skip-releasenotes, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation, ai-exploration

#16046 chore: move StudioPageError
  frontend/libs/studio-components-legacy/src/components/StudioPageError/StudioPageError.tsx
  frontend/libs/studio-components/src/components/StudioPageError/StudioPageError.mdx
  frontend/libs/studio-components/src/components/StudioPageError/StudioPageError.module.css
  frontend/libs/studio-components/src/components/StudioPageError/StudioPageError.stories.tsx
  frontend/libs/studio-components/src/components/StudioPageError/StudioPageError.test.tsx
  frontend/libs/studio-components/src/components/StudioPageError/StudioPageError.tsx
  frontend/libs/studio-components/src/components/StudioPageError/index.ts
Labels: solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#16020 feat: Create GiteaContentLibraryService (1)
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Services/Implementation/GiteaContentLibraryService.cs
  backend/src/Designer/Services/Interfaces/IGiteaContentLibraryService.cs
  backend/tests/Designer.Tests/Controllers/OrgCodeListController/GetCodeListsTests.cs
  backend/tests/Designer.Tests/Services/GiteaContentLibraryServiceTests.cs
  backend/tests/Designer.Tests/Utils/TestDataHelper.cs
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, area/content-library, team/studio-domain1, skip-manual-testing, skip-documentation

#16064 fix: Update The Design System in the new component library
  frontend/libs/studio-components/package.json
  frontend/libs/studio-components/src/components/StudioCheckboxGroup/StudioGetCheckboxProps.ts
  frontend/libs/studio-components/src/components/StudioCheckboxTable/types/StudioGetCheckboxProps.ts
  frontend/libs/studio-components/src/components/StudioRadioGroup/StudioGetRadioProps.ts
  yarn.lock
Labels: solution/studio/designer, quality/debt, kind/dependencies, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-documentation

#16079 fix: Export StudioProperty from the new component library
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation, area/studio-components

#16078 fix: Type errors when using `it.each` and Node v22
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/utils/appConfigLanguageUtils.test.ts
  frontend/libs/studio-hooks/src/hooks/useOrgAppScopedStorage.test.tsx
  frontend/libs/studio-hooks/src/hooks/useOrgAppScopedStorage.ts
Labels: solution/studio/designer, skip-releasenotes, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation

#15956 fix: handle case-only rename for layout
  backend/src/Designer/Infrastructure/GitRepository/GitRepository.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/UpdateFormLayoutNameTests.cs
Labels: kind/bug, solution/studio/designer, quality/testing, backend, team/studio-domain2, skip-manual-testing

#16081 fix: make text size normal in OptionListSelector
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListSelector/OptionListSelector.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListSelector/OptionListSelector.tsx
Labels: area/ui-editor, solution/studio/designer, added-to-sprint, frontend, team/studio-domain1, skip-documentation

#16063 feat: import code list endpoint uses gitea as source (2)
  backend/src/Designer/Controllers/OptionsController.cs
  backend/src/Designer/Services/Implementation/GiteaContentLibraryService.cs
  backend/src/Designer/Services/Implementation/OptionsService.cs
  backend/src/Designer/Services/Interfaces/IGiteaContentLibraryService.cs
  backend/tests/Designer.Tests/Controllers/OptionsController/ImportOptionsListFromOrgTests.cs
  backend/tests/Designer.Tests/Services/OptionsServiceTests.cs
  backend/tests/Designer.Tests/Services/RepositorySITests.cs
  backend/tests/Designer.Tests/Services/TextsServiceTest.cs
Labels: solution/studio/designer, quality/testing, backend, area/content-library, team/studio-domain1

#16016 fix: disable search for text resources for page name
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/PageConfigPanel.tsx
  frontend/packages/ux-editor/src/components/TextResource/TextResource.test.tsx
  frontend/packages/ux-editor/src/components/TextResource/TextResource.tsx
  frontend/packages/ux-editor/src/components/TextResource/TextResourceEditor/TextResourceEditor.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#16105 refactor: Apply strict null checks to the hooks library
  frontend/libs/studio-hooks/src/hooks/useDebounce.ts
  frontend/libs/studio-hooks/src/hooks/useForwardedRef.ts
  frontend/libs/studio-hooks/src/hooks/useUniqueKeys.ts
  frontend/libs/studio-pure-functions/src/ScopedStorage/ScopedStorage.ts
  frontend/tsconfig-strict.json
Labels: solution/studio/designer, quality/code, quality/debt, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation, area/studio-components, area/studio-hooks

#16095 feat: move app-template
  .dockerignore
  .github/workflows/app-template-dotnet-test.yml
  .github/workflows/run-playwright-on-pr.yaml
  Dockerfile
  README.md
  backend/src/Designer/appsettings.Development.json
  backend/tests/Designer.Tests/GiteaIntegrationTests/GiteaIntegrationTestsBase.cs
  backend/tests/Designer.Tests/Helpers/PackageVersionHelperTests.cs
  backend/tests/Designer.Tests/Services/RepositorySITests.cs
  backend/tests/Designer.Tests/_TestData/AppChangesForIntegrationTests/GitDiffResponse.json
  src/App/app-template-dotnet/.config/dotnet-tools.json
  src/App/app-template-dotnet/.csharpierignore
  src/App/app-template-dotnet/.csharpierrc.yaml
  src/App/app-template-dotnet/.gitattributes
  src/App/app-template-dotnet/.gitignore
  src/App/app-template-dotnet/.vscode/extensions.json
  src/App/app-template-dotnet/.vscode/settings.json
  src/App/app-template-dotnet/Directory.Build.props
  src/App/app-template-dotnet/README.md
  src/App/app-template-dotnet/src/.dockerignore
  src/App/app-template-dotnet/src/.editorconfig
  src/App/app-template-dotnet/src/.gitignore
  src/App/app-template-dotnet/src/.releaseignore
  src/App/app-template-dotnet/src/App.sln
  src/App/app-template-dotnet/src/App/App.csproj
  src/App/app-template-dotnet/src/App/Program.cs
  src/App/app-template-dotnet/src/App/Properties/launchSettings.json
  src/App/app-template-dotnet/src/App/TestDummy.cs
  src/App/app-template-dotnet/src/App/appsettings.Development.json
  src/App/app-template-dotnet/src/App/appsettings.Production.json
  src/App/app-template-dotnet/src/App/appsettings.Staging.json
  src/App/app-template-dotnet/src/App/appsettings.json
  src/App/app-template-dotnet/src/App/config/applicationmetadata.json
  src/App/app-template-dotnet/src/App/config/authorization/policy.xml
  src/App/app-template-dotnet/src/App/config/process/process.bpmn
  src/App/app-template-dotnet/src/App/config/texts/resource.nb.json
  src/App/app-template-dotnet/src/App/models/model.cs
  src/App/app-template-dotnet/src/App/models/model.schema.json
  src/App/app-template-dotnet/src/App/models/model.xsd
  src/App/app-template-dotnet/src/App/ui/footer.json
  src/App/app-template-dotnet/src/App/ui/form/Settings.json
  src/App/app-template-dotnet/src/App/ui/form/layouts/Side1.json
  src/App/app-template-dotnet/src/App/ui/layout-sets.json
  src/App/app-template-dotnet/src/App/views/Home/Index.cshtml
  src/App/app-template-dotnet/src/Dockerfile
  src/App/app-template-dotnet/src/deployment/.helmignore
  src/App/app-template-dotnet/src/deployment/Chart.yaml
  src/App/app-template-dotnet/src/deployment/values.yaml
  testdata/AppTemplates/AspNet/App/config/authorization/policy.xml
  testdata/AppTemplates/AspNet/App/models/model.cs
  testdata/AppTemplates/AspNet/App/models/model.metadata.json
  testdata/AppTemplates/AspNet/App/ui/form/RuleHandler.js
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, skip-manual-testing

#16153 docs: Update documentation for FileSystemObject
  backend/src/Designer/Models/FileSystemObject.cs
Labels: solution/studio/designer, skip-releasenotes, backend, team/studio-domain1, skip-manual-testing, skip-documentation

#16160 refactor: add styling for secondary and tertiaryg
  frontend/libs/studio-components/src/components/StudioLinkButton/StudioLinkButton.module.css
  frontend/libs/studio-components/src/components/StudioLinkButton/StudioLinkButton.stories.tsx
  frontend/libs/studio-components/src/components/StudioLinkButton/StudioLinkButton.tsx
Labels: solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#16141 refactor: Code corrections in the expression editor (1)
  frontend/language/src/nb.json
  frontend/libs/studio-components-legacy/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubExpressionValueContentInput/GatewayActionSelector.tsx
  frontend/libs/studio-components-legacy/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubExpressionValueContentInput/SubexpressionValueContentInput.tsx
  frontend/libs/studio-components-legacy/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubExpressionValueReadonly/SubexpressionValueReadonly.tsx
  frontend/libs/studio-components-legacy/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubexpressionValueSelector.test.tsx
  frontend/libs/studio-components-legacy/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/getDefaultValueOfType/getDefaultValueOfType.ts
  frontend/libs/studio-components-legacy/src/components/StudioExpression/converters/complexToSimpleExpression.test.ts
  frontend/libs/studio-components-legacy/src/components/StudioExpression/converters/complexToSimpleExpression.ts
  frontend/libs/studio-components-legacy/src/components/StudioExpression/converters/simpleToComplexExpression.test.ts
  frontend/libs/studio-components-legacy/src/components/StudioExpression/converters/simpleToComplexExpression.ts
  frontend/libs/studio-components-legacy/src/components/StudioExpression/enums/DataLookupFuncName.ts
  frontend/libs/studio-components-legacy/src/components/StudioExpression/enums/KeyLookupFuncName.ts
  frontend/libs/studio-components-legacy/src/components/StudioExpression/enums/PredefinedGatewayAction.ts
  frontend/libs/studio-components-legacy/src/components/StudioExpression/enums/SimpleSubexpressionValueType.ts
  frontend/libs/studio-components-legacy/src/components/StudioExpression/index.ts
  frontend/libs/studio-components-legacy/src/components/StudioExpression/test-data/dataLookupOptions.ts
  frontend/libs/studio-components-legacy/src/components/StudioExpression/test-data/texts.ts
  frontend/libs/studio-components-legacy/src/components/StudioExpression/types/Expression.ts
  frontend/libs/studio-components-legacy/src/components/StudioExpression/types/ExpressionTexts.ts
  frontend/libs/studio-components-legacy/src/components/StudioExpression/types/SimpleSubexpressionValue.ts
  frontend/libs/studio-components-legacy/src/components/StudioExpression/validators/expression.schema.v1.json
  frontend/libs/studio-components-legacy/src/components/StudioExpression/validators/isExpressionSimple.test.ts
  frontend/libs/studio-components-legacy/src/components/StudioExpression/validators/isExpressionSimple.ts
  frontend/libs/studio-components-legacy/src/components/StudioExpression/validators/isPredefinedGatewayAction.test.ts
  frontend/libs/studio-components-legacy/src/components/StudioExpression/validators/isPredefinedGatewayAction.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigSequenceFlow/ConfigSequenceFlow.tsx
  frontend/packages/shared/src/hooks/useExpressionTexts.ts
Labels: area/process, solution/studio/designer, quality/code, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation, area/studio-components

#15781 feat: Remove OrgLibrary feature flag
  frontend/app-development/features/overview/components/News/NewsContent/news.nb.json
  frontend/dashboard/app/App.test.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/DashboardHeader.test.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/DashboardHeader.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/SmallHeaderMenu/SmallHeaderMenu.test.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/SmallHeaderMenu/SmallHeaderMenu.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/SubHeader/SubHeader.test.tsx
  frontend/packages/shared/src/utils/featureToggleUtils.ts
Labels: area/dashboard, solution/studio/designer, area/overview, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#16158 refactor: Rename and fix typing of expression options (2)
  frontend/libs/studio-components-legacy/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionErrors/SubexpressionErrors.test.tsx
  frontend/libs/studio-components-legacy/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubExpressionValueTypeSelector/SubexpressionValueTypeSelector.tsx
  frontend/libs/studio-components-legacy/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubexpressionValueSelector.test.tsx
  frontend/libs/studio-components-legacy/src/components/StudioExpression/StudioExpression.test.tsx
  frontend/libs/studio-components-legacy/src/components/StudioExpression/StudioExpression.tsx
  frontend/libs/studio-components-legacy/src/components/StudioExpression/StudioExpressionContext.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigSequenceFlow/ConfigSequenceFlow.tsx
Labels: area/process, solution/studio/designer, quality/code, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation, area/studio-components

#16161 fix: Update texts and text keys to conform to code terms in the expression editor (3)
  frontend/language/src/nb.json
  frontend/libs/studio-components-legacy/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubExpressionValueContentInput/GatewayActionSelector.tsx
  frontend/libs/studio-components-legacy/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubExpressionValueReadonly/SubexpressionValueReadonly.tsx
  frontend/libs/studio-components-legacy/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubexpressionValueSelector.test.tsx
  frontend/libs/studio-components-legacy/src/components/StudioExpression/test-data/texts.ts
  frontend/libs/studio-components-legacy/src/components/StudioExpression/types/ExpressionTexts.ts
  frontend/packages/shared/src/hooks/useExpressionTexts.ts
Labels: area/process, area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation, area/studio-components

#16166 refactor: Remove explicit any type in expression editor (5)
  frontend/libs/studio-components-legacy/src/components/StudioExpression/validators/isExpressionValid.test.ts
  frontend/libs/studio-components-legacy/src/components/StudioExpression/validators/isExpressionValid.ts
Labels: solution/studio/designer, quality/code, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation, area/studio-components

#16189 feat: gitea in monorepo
  .github/workflows/deploy-gitea-runners.yaml
  .github/workflows/deploy-repositories.yaml
  .github/workflows/designer-gitea-and-db-integration-tests.yaml
  .github/workflows/gitea-check-texts-file.yml
  backend/tests/Designer.Tests/Fixtures/GiteaFixture.cs
  compose.yaml
  src/gitea-runner/Dockerfile
  src/gitea-runner/run.sh
  src/gitea/Dockerfile
  src/gitea/README.md
  src/gitea/files/conf/app.ini
  src/gitea/files/custom/public/assets/img/favicon.png
  src/gitea/files/custom/public/assets/img/logo.svg
  src/gitea/files/custom/templates/base/head_navbar.tmpl
  src/gitea/files/custom/templates/custom/extra_links.tmpl
  src/gitea/files/custom/templates/custom/extra_links_footer.tmpl
  src/gitea/files/custom/templates/home.tmpl
  src/gitea/files/locale/base/locale_nb-NO.ini
  src/gitea/files/locale/custom/locale_en-US.ini
  src/gitea/files/locale/custom/locale_nb-NO.ini
  src/gitea/files/locale/merge.js
  src/gitea/files/locale/package.json
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, skip-manual-testing

#16122 chore: adding ref to StudioPopover
  frontend/libs/studio-components/src/components/StudioPopover/StudioPopover.stories.tsx
  frontend/libs/studio-components/src/components/StudioPopover/StudioPopover.tsx
  frontend/libs/studio-components/src/components/StudioPopover/index.ts
Labels: solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#16193 feat: prefix added in designer workflows
  .github/workflows/app-template-dotnet-test.yml
  .github/workflows/designer-check-quartz-update.yml
  .github/workflows/designer-dotnet-format.yaml
  .github/workflows/designer-dotnet-migrations-ensure-compatibility.yaml
  .github/workflows/designer-dotnet-test.yaml
  .github/workflows/designer-frontend-config-coverage.yml
  .github/workflows/designer-frontend-unit-tests.yml
  .github/workflows/designer-playwright-staging.yml
  .github/workflows/designer-run-playwright-on-pr.yaml
Labels: skip-releasenotes, team/studio-core, skip-manual-testing

#16194 refactor: remove unused files from root
  NuGet.Config
  studio.code-workspace
Labels: skip-releasenotes, team/studio-core, skip-manual-testing

#16192 fix: Correct update of onEntry property in application metadata
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/SetupTab/SetupTabInputFields/SetupTabInputFields.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/SetupTab/SetupTabInputFields/SetupTabInputFields.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/SetupTab/SetupTabInputFields/utils.test.ts
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/SetupTab/SetupTabInputFields/utils.ts
  frontend/packages/shared/src/types/ApplicationMetadata.ts
Labels: kind/bug, solution/studio/designer, team/studio, added-to-sprint, user-need, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation

#16204 fix: comment windows-latest runners
  .github/workflows/app-template-dotnet-test.yml
  .github/workflows/designer-dotnet-test.yaml
Labels: skip-releasenotes, skip-manual-testing

#16205 feat: enable windows runenrs
  .github/workflows/app-template-dotnet-test.yml
  .github/workflows/designer-dotnet-test.yaml
Labels: skip-releasenotes, skip-manual-testing

#16202 chore: Weekly patching routine - Week 35
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes

#16165 feat(admin): add version to list of running apps
  src/Designer/backend/src/Designer/README.md
  src/Designer/backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-layoutsets/App/ui/layoutSet2/RuleHandler.js
  src/Designer/backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/markdown-files/App/config/texts/md/markdown-text.uk.texts.md
  src/Designer/backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/markdown-files/App/config/texts/md/more-markdown.nb.texts.md
  src/Designer/backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/markdown-files/App/config/texts/md/text-with-markdown.nb.texts.md
  src/Designer/backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/new-texts-format/App/config/texts/md/should-not-be-included-in-languages.uk.texts.md
  src/Designer/frontend/admin/features/apps/components/AppsTable.module.css
  src/Designer/frontend/admin/features/apps/components/AppsTable.tsx
  src/Designer/frontend/admin/hooks/queries/useRunningAppsQuery.ts
  src/Designer/frontend/admin/types/RunningApplication.ts
  src/Designer/testdata/App/ui/changename/RuleHandler.js
  src/Designer/testdata/App/ui/group/RuleHandler.js
  src/Designer/testdata/App/ui/message/RuleHandler.js
  src/StudioAdmin/Controllers/ApplicationsController.cs
  src/StudioAdmin/Helpers/TaskUtilities.cs
  src/StudioAdmin/Models/RunningApplication.cs
  src/StudioAdmin/Services/AppResourcesService.cs
  src/StudioAdmin/Services/ApplicationsService.cs
  src/StudioAdmin/Services/CdnConfigService.cs
  src/StudioAdmin/Services/Interfaces/IApplicationsService.cs
  src/StudioAdmin/Services/Interfaces/ICdnConfigService.cs
  src/StudioAdmin/Services/TestStorageService.cs
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, frontend, skip-manual-testing, area/admin

#16175 chore: replace add-task components with StudioActionCard
  src/Designer/frontend/packages/ux-editor/src/components/TaskNavigation/AddNewTask/AddNewTask.module.css
  src/Designer/frontend/packages/ux-editor/src/components/TaskNavigation/AddNewTask/AddNewTask.test.tsx
  src/Designer/frontend/packages/ux-editor/src/components/TaskNavigation/AddNewTask/AddNewTask.tsx
  src/Designer/frontend/packages/ux-editor/src/components/TaskNavigation/AddSubformCard/AddSubformCard.module.css
  src/Designer/frontend/packages/ux-editor/src/components/TaskNavigation/AddSubformCard/AddSubformCard.test.tsx
  src/Designer/frontend/packages/ux-editor/src/components/TaskNavigation/AddSubformCard/AddSubformCard.tsx
  src/Designer/frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardBar.module.css
Labels: area/ui-editor, solution/studio/designer, quality/testing, skip-releasenotes, backend, frontend, team/studio-domain2, skip-manual-testing

#16225 fix: outdated link in readme
  README.md
Labels: kind/chore, skip-manual-testing

#16208 refactor: moved package.json
  .github/workflows/designer-frontend-unit-tests.yml
  .github/workflows/studio-components-deploy.yaml
  Dockerfile
  package.json
  src/Designer/frontend/.eslintcache
  src/Designer/frontend/.eslintrc.json
  src/Designer/frontend/package.json
  src/Designer/frontend/testing/cypress/use-cases-prod.yaml
  src/Designer/frontend/testing/cypress/use-cases.yaml
  yarn.lock
Labels: skip-releasenotes, skip-manual-testing

#16226 feat: move docker, compose and development
  .dockerignore
  .github/workflows/deploy-designer.yaml
  .github/workflows/designer-run-playwright-on-pr.yaml
  .github/workflows/run-playwright-resourceadm-on-pr.yml
  package.json
  src/Designer/Dockerfile
  src/Designer/backend/src/Designer/Helpers/AltinnStudioRepositoryScanner.cs
  src/Designer/backend/src/Designer/Infrastructure/AuthenticationConfiguration.cs
  src/Designer/backend/tests/Designer.Tests/Fixtures/GiteaFixture.cs
  src/Designer/backend/tests/Designer.Tests/Helpers/AltinnStudioRepositoryScannerTests.cs
  src/Designer/backend/tests/Designer.Tests/Services/DeploymentServiceTest.cs
  src/Designer/backend/tests/Designer.Tests/Services/KubernetesDeploymentsServiceTest.cs
  src/Designer/compose.yaml
  src/Designer/development/README.md
  src/Designer/development/azure-devops-mock/.dockerignore
  src/Designer/development/azure-devops-mock/.gitignore
  src/Designer/development/azure-devops-mock/Dockerfile
  src/Designer/development/azure-devops-mock/README.md
  src/Designer/development/azure-devops-mock/environments.json
  src/Designer/development/azure-devops-mock/examples/build-request.json
  src/Designer/development/azure-devops-mock/package.json
  src/Designer/development/azure-devops-mock/src/index.js
  src/Designer/development/azure-devops-mock/src/routes/authentication.js
  src/Designer/development/azure-devops-mock/src/routes/builds.js
  src/Designer/development/azure-devops-mock/src/routes/environments.js
  src/Designer/development/azure-devops-mock/src/routes/storage.js
  src/Designer/development/azure-devops-mock/src/utils.js
  src/Designer/development/data/gitea-teams.json
  src/Designer/development/db/init.sql
  src/Designer/development/kafka/compose.yaml
  src/Designer/development/load-balancer/templates/nginx.conf.conf
  src/Designer/development/load-balancer/www/502Designer.html
  src/Designer/development/load-balancer/www/502Repo.html
  src/Designer/development/setup.js
  src/Designer/development/utils/check-if-dns-is-correct.js
  src/Designer/development/utils/create-cypress-env-file.js
  src/Designer/development/utils/ensure-dot-env.js
  src/Designer/development/utils/git-commit-hash.js
  src/Designer/development/utils/gitea-api.js
  src/Designer/development/utils/run-command.js
  src/Designer/development/utils/wait-for-healthy.js
  src/Designer/development/utils/wait-for.js
  src/Designer/development/utils/write-env-file.js
  src/Designer/frontend/resourceadm/testing/playwright/scripts/setup.ts
  src/Designer/frontend/testing/playwright/scripts/setup.ts
  yarn.lock
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, skip-manual-testing
