Repository Altinn/altinn-studio, pull requests merged in 2025-02, with the labels that each got.

#14555 fix: Update gitea texts to v1.23.1
  gitea/files/locale/base/locale_en-US.ini
  gitea/files/locale/base/locale_nb-NO.ini
Labels: solution/studio/repos, added-to-sprint, team/studio-core, skip-manual-testing

#14458 docs: openapi documentation
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/Controllers/ConfigController.cs
  backend/src/Designer/Controllers/DatamodelsController.cs
  backend/src/Designer/Controllers/EnvironmentsController.cs
  backend/src/Designer/Controllers/FeedbackFormController.cs
  backend/src/Designer/Controllers/ImageController.cs
  backend/src/Designer/Controllers/OptionsController.cs
  backend/src/Designer/Controllers/OrganizationController.cs
  backend/src/Designer/Controllers/PolicyController.cs
  backend/src/Designer/Controllers/Preview/DataController.cs
  backend/src/Designer/Controllers/Preview/InstancesController.cs
  backend/src/Designer/Controllers/PreviewController.cs
  backend/src/Designer/Controllers/ProcessModelingController.cs
  backend/src/Designer/Controllers/RepositoryController.cs
  backend/src/Designer/Controllers/TextController.cs
  backend/src/Designer/Controllers/UserController.cs
  backend/tests/Designer.Tests/Controllers/Preview/DataControllerTests.cs
Labels: area/text-editor, area/app-preview, solution/studio/designer, quality/testing, skip-releasenotes, backend, team/studio-domain1, team/studio-core, skip-documentation

#14541 feat: query for get text resources for org
  frontend/packages/shared/src/hooks/queries/useTextResourcesForOrgQuery.test.ts
  frontend/packages/shared/src/hooks/queries/useTextResourcesForOrgQuery.ts
  frontend/packages/shared/src/types/QueryKey.ts
Labels: solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14531 feat: hideEmptyFields is not a component-override prop
  frontend/language/src/nb.json
  frontend/packages/shared/src/types/ComponentSpecificConfig.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/OverrideFields/EmptyTextField.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/OverrideFields/EmptyTextField.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/OverrideFields/ForceShowSwitch.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/OverrideFields/OverrideShowComponentSwitch.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/OverrideFields/ShowEmptyFieldsSwitch.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2Override.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2OverrideEntry.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#14495 fix: Support undefined text resource in text resource selector
  frontend/libs/studio-components/src/components/StudioTextResourceInput/StudioTextResourceInput.stories.tsx
  frontend/libs/studio-components/src/components/StudioTextResourceInput/StudioTextResourceInput.test.tsx
  frontend/libs/studio-components/src/components/StudioTextResourceInput/StudioTextResourceInput.tsx
  frontend/libs/studio-components/src/components/StudioTextResourceInput/utils.test.ts
  frontend/libs/studio-components/src/components/StudioTextResourceInput/utils.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#14475 fix: remove input- and viewProps from `StudioToggleableTextfield`
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioToggleableTextfield.stories.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioToggleableTextfield.test.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioToggleableTextfield.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfieldSchema/StudioToggleableTextfieldSchema.stories.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfieldSchema/StudioToggleableTextfieldSchema.test.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfieldSchema/StudioToggleableTextfieldSchema.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/EditCodeList.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditLayoutSetName/EditLayoutSetName.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditTaskId/EditTaskId.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CustomReceipt/CustomReceipt.tsx
  frontend/packages/process-editor/src/components/ConfigViewerPanel/ConfigViewerPanel.module.css
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/EditPageId.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditComponentIdRow/EditComponentIdRow.tsx
  frontend/packages/ux-editor/src/components/Properties/Text.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/EditImage.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/ExternalImage/ExternalImage.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/ExternalImage/ExternalImage.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/ExternalImage/ExternalImage.tsx
Labels: area/process, area/ui-editor, solution/studio/designer, skip-releasenotes, ux/accessebility, frontend, team/studio-domain1, skip-documentation

#14566 fix: Update supported component types
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Target/targetUtils.ts
Labels: area/ui-editor, solution/studio/designer, frontend, skip-manual-testing

#14465 chore: remove unused backend endpoints
  backend/src/Designer/Controllers/KubernetesDeploymentsController.cs
  backend/src/Designer/Controllers/LanguagesController.cs
  backend/src/Designer/Controllers/ProcessModelingController.cs
  backend/src/Designer/Controllers/RepositoryController.cs
  backend/src/Designer/Controllers/TextKeysController.cs
  backend/src/Designer/Controllers/TextsController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnGitRepository.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Middleware/UserRequestSynchronization/Services/RequestSyncEvaluators/EndpointNameSyncEvaluator.cs
  backend/src/Designer/Services/Implementation/GiteaAPIWrapper/GiteaAPIWrapper.cs
  backend/src/Designer/Services/Implementation/LanguagesService.cs
  backend/src/Designer/Services/Implementation/ProcessModeling/ProcessModelingService.cs
  backend/src/Designer/Services/Implementation/SourceControlLoggingDecorator.cs
  backend/src/Designer/Services/Implementation/SourceControlSI.cs
  backend/src/Designer/Services/Implementation/TextsService.cs
  backend/src/Designer/Services/Interfaces/IGitea.cs
  backend/src/Designer/Services/Interfaces/ILanguagesService.cs
  backend/src/Designer/Services/Interfaces/IProcessModelingService.cs
  backend/src/Designer/Services/Interfaces/ISourceControl.cs
  backend/src/Designer/Services/Interfaces/ITextsService.cs
  backend/tests/Designer.Tests/Controllers/KubernetesDeploymentsController/GetKubernetesDeploymentsTests.cs
  backend/tests/Designer.Tests/Controllers/LanguagesController/GetLanguagesTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/GetTemplatesTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/SaveProcessDefinitionFromTemplateTests.cs
  backend/tests/Designer.Tests/Controllers/TextKeysController/GetTests.cs
  backend/tests/Designer.Tests/Controllers/TextKeysController/PutTests.cs
  backend/tests/Designer.Tests/Controllers/TextsController/ConvertTests.cs
  backend/tests/Designer.Tests/Controllers/TextsController/DeleteTests.cs
  backend/tests/Designer.Tests/Controllers/TextsController/GetTests.cs
  backend/tests/Designer.Tests/Controllers/TextsController/PutTests.cs
  backend/tests/Designer.Tests/GiteaIntegrationTests/RepositoryController/RepositoryControllerGiteaIntegrationTests.cs
  backend/tests/Designer.Tests/Mocks/IGiteaMock.cs
  backend/tests/Designer.Tests/Mocks/ISourceControlMock.cs
  backend/tests/Designer.Tests/Services/ProcessModelingServiceTests.cs
  backend/tests/Designer.Tests/Services/SourceControlLoggingDecoratorTests.cs
  frontend/packages/shared/src/api/paths.js
Labels: area/text-editor, area/app-deploy, solution/studio/designer, quality/testing, skip-releasenotes, backend, frontend, team/studio-domain1, team/studio-core, skip-documentation

#14569 chore: verify local Gitea locale files
  .github/workflows/gitea-check-texts-file.yml
  .github/workflows/gitea-designer-integration-tests.yaml
  backend/tests/Designer.Tests/Fixtures/GiteaFixture.cs
  backend/tests/Designer.Tests/Utils/CommandExecutor.cs
  gitea/Dockerfile
  gitea/files/locale/base/locale_en-US.ini
  gitea/files/locale/base/locale_nb-NO.ini
Labels: solution/studio/designer, solution/studio/repos, quality/testing, skip-releasenotes, backend, team/studio-core, skip-manual-testing

#14542 feat: mutation for create text resource for org
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/hooks/mutations/useCreateTextResourcesForOrgMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useCreateTextResourcesForOrgMutation.ts
Labels: solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14564 docs: Remove custom sidebar CSS
  frontend/libs/studio-components/.storybook/manager-head.html
  frontend/libs/studio-components/.storybook/studioTheme.ts
Labels: solution/studio/designer, kind/documentation, skip-releasenotes, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, docs/internal, skip-documentation

#14558 feat(app-deploy): display correct message during and after app undeployment
  frontend/app-development/features/appPublish/components/DeploymentEnvironmentLogList.test.tsx
  frontend/app-development/features/appPublish/components/DeploymentEnvironmentLogList.tsx
  frontend/app-development/features/overview/components/Deployments/DeploymentContainer/DeploymentStatus.test.tsx
  frontend/app-development/features/overview/components/Deployments/DeploymentContainer/DeploymentStatus.tsx
  frontend/app-development/features/overview/components/Deployments/DeploymentContainer/DeploymentStatusList.tsx
  frontend/language/src/nb.json
  frontend/packages/shared/src/mocks/mocks.ts
  frontend/packages/shared/src/types/api/PipelineDeployment.ts
Labels: area/app-deploy, solution/studio/designer, added-to-sprint, area/overview, frontend, team/studio-core

#14573 feat(app-deploy): ensure to disable undeploy button when undeploy is in pending
  frontend/app-development/features/appPublish/components/ConfirmUndeployDialog/ConfirmUndeployDialog.test.tsx
  frontend/app-development/features/appPublish/components/ConfirmUndeployDialog/ConfirmUndeployDialog.tsx
Labels: area/app-deploy, solution/studio/designer, frontend, skip-manual-testing

#14333 fix: 14103 components with multiple data model bindings eg address are missing
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/ColumnElement.test.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/DataModelBindingsCombobox.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/EditColumnElement.test.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/EditColumnElement.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/index.ts
  frontend/packages/ux-editor/src/testing/subformLayoutMock.ts
Labels: area/ui-editor, solution/studio/designer, frontend

#14585 test: Clean up content library tests for code lists
  frontend/libs/studio-components/src/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.test.tsx
  frontend/libs/studio-content-library/src/test-data/codeListDataList.ts
  frontend/libs/studio-content-library/src/test-data/textResources.ts
  frontend/libs/studio-content-library/src/types/CodeList.ts
  frontend/libs/studio-content-library/src/types/CodeListData.ts
  frontend/libs/studio-content-library/src/types/TextResource.ts
  frontend/libs/studio-content-library/src/types/TextResources.ts
Labels: solution/studio/designer, quality/testing, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14592 chore: PDF weekly patching of deps
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes

#14567 fix: Remove useEffect in OptionTabs
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/EditTab.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/OptionTabs.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/OptionTabs.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/ReferenceTab/ReferenceTab.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/ReferenceTab/ReferenceTab.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/utils/optionsUtils.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/utils/optionsUtils.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#14556 feat: add context check when entering org library
  frontend/dashboard/pages/OrgContentLibrary/OrgContentLibrary.module.css
  frontend/dashboard/pages/OrgContentLibrary/OrgContentLibrary.test.tsx
  frontend/dashboard/pages/OrgContentLibrary/OrgContentLibrary.tsx
  frontend/language/src/nb.json
Labels: area/dashboard, solution/studio/designer, area/content-library, frontend, team/studio-domain1

#14561 fix: tablecolumns saving/deleting a column affects other columns
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/ColumnElement.test.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/ColumnElement.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/EditColumnElement.test.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/EditColumnElement.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/EditColumnElementContent.module.css
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/EditColumnElementContent.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/EditSubformTableColumns.test.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/EditSubformTableColumns.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/utils/editSubformTableColumnsUtils.test.ts
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/utils/editSubformTableColumnsUtils.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#14539 feat: add org-library and apps menu items and additional routing path
  frontend/dashboard/app/App.test.tsx
  frontend/dashboard/app/App.tsx
  frontend/dashboard/context/HeaderContext/HeaderContext.tsx
  frontend/dashboard/context/HeaderContext/index.ts
  frontend/dashboard/dashboardTestUtils.tsx
  frontend/dashboard/hooks/guards/useContextRedirectionGuard.ts
  frontend/dashboard/hooks/useSubRoute/index.ts
  frontend/dashboard/hooks/useSubRoute/useSubroute.ts
  frontend/dashboard/pages/CreateService/CreateService.test.tsx
  frontend/dashboard/pages/CreateService/CreateService.tsx
  frontend/dashboard/pages/Dashboard/Dashboard.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/DashboardHeader.test.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/DashboardHeader.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/dashboardHeaderMenuItems.ts
  frontend/dashboard/pages/PageLayout/PageLayout.test.tsx
  frontend/language/src/nb.json
  frontend/libs/studio-pure-functions/src/StringUtils/StringUtils.test.ts
  frontend/libs/studio-pure-functions/src/StringUtils/StringUtils.ts
  frontend/packages/shared/src/constants.js
Labels: area/dashboard, solution/studio/designer, area/content-library, frontend, team/studio-domain1, skip-manual-testing

#14568 fix: Text resource unsetting issues
  frontend/libs/studio-components/src/components/StudioTextResourcePicker/StudioTextResourcePicker.test.tsx
  frontend/libs/studio-components/src/components/StudioTextResourcePicker/StudioTextResourcePicker.tsx
Labels: solution/studio/designer, area/content-library, frontend, team/studio-domain1

#14606 fix: remove forceshow in summary2 - not supported in app
  frontend/language/src/nb.json
  frontend/packages/shared/src/types/ComponentSpecificConfig.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/OverrideFields/EmptyTextField.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/OverrideFields/EmptyTextField.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/OverrideFields/ForceShowSwitch.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2Override.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2OverrideEntry.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#14580 feat: Add text references to library code lists
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/EditCodeList.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/utils.test.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/utils.ts
  frontend/libs/studio-content-library/src/types/TextResourceWithLanguage.ts
Labels: solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14398 feat: StudioCodeListEditor - display Numberfield or Checkbox based on value type
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.test.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditorRow/StudioCodeListEditorRow.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditorRow/utils.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/test-data/codeListWithBooleanValues.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/test-data/codeListWithMultipleTypes.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/test-data/codeListWithNumberValues.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/test-data/codeListWithUndefinedValues.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/test-data/texts.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/types/TypeofResult.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/types/ValueError.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/utils.test.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/utils.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/validation/validation.test.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/validation/validation.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/hooks/useCodeListEditorTexts.ts
  frontend/libs/studio-pure-functions/src/ArrayUtils/ArrayUtils.test.ts
  frontend/libs/studio-pure-functions/src/ArrayUtils/ArrayUtils.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListEditor.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/hooks/useOptionListEditorTexts.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain1

#14575 fix: summary2 - displayType selector in override
  frontend/language/src/nb.json
  frontend/packages/shared/src/types/ComponentSpecificConfig.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/OverrideFields/Summary2OverrideDisplayType.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2Override.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/hook/useCustomConfigType.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/utils.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/utils.ts
Labels: area/ui-editor, solution/studio/designer, frontend

#14605 feat: Display info message on library when the context is not an org
  frontend/dashboard/app/App.test.tsx
  frontend/dashboard/dashboardTestUtils.tsx
  frontend/dashboard/pages/OrgContentLibrary/OrgContentLibrary.test.tsx
  frontend/dashboard/pages/OrgContentLibrary/OrgContentLibrary.tsx
  frontend/dashboard/pages/OrgContentLibrary/utils.test.ts
  frontend/dashboard/pages/OrgContentLibrary/utils.ts
  frontend/dashboard/testing/mocks.tsx
  frontend/language/src/nb.json
Labels: area/dashboard, solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-documentation

#14634 fix: updated text
  frontend/language/src/nb.json
Labels: solution/studio/designer, frontend, skip-manual-testing

#14627 chore: update applicationmetadata on undeploy
  backend/src/Designer/EventHandlers/DeploymentPipelineQueued/DeploymentPipelineQueuedHandler.cs
  backend/src/Designer/Events/DeploymentPipelineQueued.cs
  backend/src/Designer/Helpers/HttpClientHelper.cs
  backend/src/Designer/Scheduling/DeploymentPipelinePollingJob.cs
  backend/src/Designer/Scheduling/DeploymentPipelinePollingJobConstants.cs
  backend/src/Designer/Services/Implementation/DeploymentService.cs
  backend/src/Designer/TypedHttpClients/AltinnAuthorization/AltinnAuthorizationPolicyClient.cs
  backend/src/Designer/TypedHttpClients/AltinnStorage/AltinnStorageAppMetadataClient.cs
  backend/src/Designer/TypedHttpClients/AltinnStorage/AltinnStorageTextResourceClient.cs
  backend/src/Designer/TypedHttpClients/AltinnStorage/IAltinnStorageAppMetadataClient.cs
  backend/src/Designer/TypedHttpClients/DelegatingHandlers/PlatformSubscriptionAuthDelegatingHandler.cs
  backend/src/Designer/TypedHttpClients/TypedHttpClientRegistration.cs
Labels: area/text-editor, area/app-deploy, solution/studio/designer, backend, team/studio-core, skip-manual-testing

#14637 feat: remove subform feature flag
  frontend/app-development/features/overview/components/News/NewsContent/news.nb.json
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.test.tsx
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.tsx
  frontend/packages/ux-editor/src/data/formItemConfig.test.ts
  frontend/packages/ux-editor/src/data/formItemConfig.ts
Labels: area/ui-editor, solution/studio/designer, area/overview, frontend

#14639 refactor: trigger identity
  backend/src/Designer/EventHandlers/DeploymentPipelineQueued/DeploymentPipelineQueuedHandler.cs
Labels: area/app-deploy, solution/studio/designer, backend, skip-manual-testing

#14628 feat: Remove feature flag for summary2
  frontend/app-development/features/overview/components/News/NewsContent/news.nb.json
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/data/formItemConfig.test.ts
  frontend/packages/ux-editor/src/data/formItemConfig.ts
Labels: area/ui-editor, solution/studio/designer, area/overview, frontend

#14641 fix: support jobs with old args
  backend/src/Designer/Scheduling/DeploymentPipelinePollingJob.cs
Labels: area/app-deploy, solution/studio/designer, backend, skip-manual-testing

#14557 feat: remove summary from componentlist and rename summary2
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/data/formItemConfig.test.ts
  frontend/packages/ux-editor/src/data/formItemConfig.ts
Labels: area/ui-editor, solution/studio/designer, frontend

#14552 fix: make empty StudioDecimalField return null
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.test.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditorRow/StudioCodeListEditorRow.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/test-data/texts.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/types/ValueError.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/validation/validation.test.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/validation/validation.ts
  frontend/libs/studio-components/src/components/StudioDecimalInput/StudioDecimalInput.tsx
  frontend/libs/studio-components/src/components/StudioDecimalInput/utils.test.ts
  frontend/libs/studio-components/src/components/StudioDecimalInput/utils.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/hooks/useCodeListEditorTexts.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/hooks/useOptionListEditorTexts.ts
Labels: area/ui-editor, solution/studio/designer, backend, frontend, team/studio-domain1

#14598 fix: Strange behavior in Subform when multiple data model bindings point to the same field
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/DataModelBindingsCombobox.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/EditColumnElement.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/utils/editSubformTableColumnsUtils.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditDataModelBinding.tsx
  frontend/packages/ux-editor/src/utils/dataModelUtils.test.ts
  frontend/packages/ux-editor/src/utils/dataModelUtils.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#14648 refactor: Code list page utils
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/utils/codeListPageUtils.test.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/utils/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/utils/utils.test.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/utils/utils.ts
Labels: solution/studio/designer, quality/code, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14640 feat: enabled undeploy for users by removing feature flag
  frontend/app-development/features/appPublish/components/DeploymentEnvironmentLogList.test.tsx
  frontend/app-development/features/appPublish/components/DeploymentEnvironmentLogList.tsx
  frontend/app-development/features/appPublish/components/DeploymentEnvironmentStatus.tsx
  frontend/language/src/nb.json
  frontend/packages/shared/src/utils/featureToggleUtils.ts
Labels: area/app-deploy, solution/studio/designer, frontend, skip-manual-testing

#14645 ci(lint-pr): remove scope validation for pr titles
  .github/workflows/lint-pr.yaml
Labels: ops/ci-cd, skip-releasenotes, team/studio-core, skip-manual-testing

#14649 docs: remove placeholder in summary news
  frontend/app-development/features/overview/components/News/NewsContent/news.nb.json
Labels: solution/studio/designer, skip-releasenotes, added-to-sprint, area/overview, frontend, team/studio-domain2, skip-manual-testing

#14643 feat: remove eid-logger service
  .github/workflows/deploy-eid-logger.yaml
  .github/workflows/eid-logger-pr-build.yaml
  backend/src/Designer/EventHandlers/AppDeployed/AppDeployedEidLoggerHandler.cs
  backend/src/Designer/Events/AppDeployedEvent.cs
  backend/src/Designer/Services/Implementation/DeploymentService.cs
  backend/src/Designer/TypedHttpClients/EidLogger/EidLogRequest.cs
  backend/src/Designer/TypedHttpClients/EidLogger/EidLoggerClient.cs
  backend/src/Designer/TypedHttpClients/EidLogger/IEidLoggerClient.cs
  backend/src/Designer/TypedHttpClients/TypedHttpClientRegistration.cs
  backend/tests/Designer.Tests/Services/DeploymentServiceTest.cs
  charts/eid-logger-config/Chart.yaml
  charts/eid-logger-config/templates/helm-release.yaml
  charts/eid-logger-config/values.yaml
  charts/eid-logger/.helmignore
  charts/eid-logger/Chart.yaml
  charts/eid-logger/templates/NOTES.txt
  charts/eid-logger/templates/_helpers.tpl
  charts/eid-logger/templates/deployment.yaml
  charts/eid-logger/templates/service.yaml
  charts/eid-logger/values.yaml
  eidlogger/.dockerignore
  eidlogger/.gitignore
  eidlogger/.mvn/wrapper/maven-wrapper.properties
  eidlogger/Dockerfile
  eidlogger/README.md
  eidlogger/compose.yaml
  eidlogger/mvnw
  eidlogger/mvnw.cmd
  eidlogger/pom.xml
  eidlogger/settings.xml.template
  eidlogger/src/main/java/no/altinn/eidlogger/EidloggerApplication.java
  eidlogger/src/main/java/no/altinn/eidlogger/controller/EidController.java
  eidlogger/src/main/java/no/altinn/eidlogger/dto/EidLogRequest.java
  eidlogger/src/main/resources/application.yml
  eidlogger/src/main/resources/banner.txt
  eidlogger/src/test/java/no/altinn/eidlogger/EidloggerApplicationTests.java
Labels: area/app-deploy, solution/studio/designer, quality/testing, skip-releasenotes, backend, skip-manual-testing

#14618 fix: adding missing white line under active tab on dashboard
  frontend/dashboard/pages/PageLayout/DashboardHeader/DashboardHeader.module.css
  frontend/dashboard/pages/PageLayout/DashboardHeader/DashboardHeader.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/dashboardHeaderMenuItems.ts
Labels: area/dashboard, solution/studio/designer, frontend, team/studio-domain1

#14630 feat: 14508/delete code list for org
  frontend/dashboard/pages/OrgContentLibrary/OrgContentLibrary.test.tsx
  frontend/dashboard/pages/OrgContentLibrary/OrgContentLibrary.tsx
  frontend/packages/shared/src/hooks/mutations/useDeleteOrgCodeListMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useDeleteOrgCodeListMutation.ts
Labels: area/dashboard, solution/studio/designer, frontend, team/studio-domain1, skip-manual-testing

#14629 feat: 14508/upload code list for org
  frontend/dashboard/pages/OrgContentLibrary/OrgContentLibrary.test.tsx
  frontend/dashboard/pages/OrgContentLibrary/OrgContentLibrary.tsx
  frontend/language/src/nb.json
  frontend/packages/shared/src/hooks/mutations/useUploadOrgCodeListMutation.ts
Labels: area/dashboard, solution/studio/designer, frontend, team/studio-domain1, skip-manual-testing

#14646 fix: Add text resources to create code list dialog
  frontend/libs/studio-components/src/components/StudioTextResourceInput/StudioTextResourceInput.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/EditCodeList.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/utils.test.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/utils.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CodeListsActionsBar.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CreateNewCodeListModal/CreateNewCodeListModal.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/utils/utils.test.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/utils/utils.ts
  frontend/libs/studio-content-library/src/index.ts
Labels: solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14632 feat: update code list for org
  frontend/dashboard/pages/OrgContentLibrary/OrgContentLibrary.test.tsx
  frontend/dashboard/pages/OrgContentLibrary/OrgContentLibrary.tsx
Labels: area/dashboard, solution/studio/designer, frontend, team/studio-domain1, skip-manual-testing

#14392 feat: 14164 implement the legg til ny component for the last four standard choices
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/CollapsiblePropertyEditor/CollapsiblePropertyEditor.module.css
  frontend/packages/ux-editor/src/components/config/CollapsiblePropertyEditor/CollapsiblePropertyEditor.test.tsx
  frontend/packages/ux-editor/src/components/config/CollapsiblePropertyEditor/CollapsiblePropertyEditor.tsx
  frontend/packages/ux-editor/src/components/config/CollapsiblePropertyEditor/index.ts
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.module.css
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.test.tsx
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditGrid/EditGrid.module.css
Labels: area/ui-editor, solution/studio/designer, frontend

#14638 fix: make key icon horizontal and remove unwanted colons in process page
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioToggleableTextfield.tsx
  frontend/testing/playwright/pages/ProcessEditorPage/ProcessEditorPage.ts
Labels: solution/studio/designer, ux, quality/testing, frontend, team/studio-domain1

#14625 fix: limit data model fetching to models folder
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnGitRepository.cs
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnAppGitRepositoryTests.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnGitRepositoryTests.cs
  backend/tests/Designer.Tests/Services/SchemaModelServiceTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-misplaced-datamodels/.altinnstudio/settings.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-misplaced-datamodels/App/model.schema.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-misplaced-datamodels/App/model.xsd
Labels: solution/studio/designer, quality/testing, backend, team/studio-domain1, skip-documentation

#14621 fix(resource-adm): Fix misleading "Sist endret" field in resources table
  backend/src/Designer/Services/Implementation/GiteaAPIWrapper/GiteaAPIWrapper.cs
  frontend/language/src/nb.json
  frontend/resourceadm/components/ResourceTable/ResourceTable.test.tsx
  frontend/resourceadm/components/ResourceTable/ResourceTable.tsx
  frontend/resourceadm/hooks/queries/useGetResourceListQuery.ts
  frontend/resourceadm/utils/mapperUtils/index.ts
  frontend/resourceadm/utils/mapperUtils/mapperUtils.test.ts
  frontend/resourceadm/utils/mapperUtils/mapperUtils.ts
  frontend/resourceadm/utils/resourceListUtils/index.ts
  frontend/resourceadm/utils/resourceListUtils/resourceListUtils.ts
Labels: solution/studio/designer, skip-releasenotes, backend, frontend, skip-manual-testing

#14626 feat(resource-adm): move access package list into accordion to shrink policy rule height
  frontend/language/src/nb.json
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/PolicyAccessPackages.tsx
Labels: solution/studio/designer, area/authorization, skip-releasenotes, frontend, skip-manual-testing

#14650 feat: code list endpoints on org level
  backend/src/Designer/Controllers/Organisation/CodeListController.cs
  backend/src/Designer/Controllers/Organisation/OrgCodeListController.cs
  backend/src/Designer/Factories/AltinnGitRepositoryFactory.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnOrgGitRepository.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Services/Implementation/Organisation/OrgCodeListService.cs
  backend/src/Designer/Services/Interfaces/IAltinnGitRepositoryFactory.cs
  backend/src/Designer/Services/Interfaces/Organisation/IOrgCodeListService.cs
Labels: solution/studio/designer, skip-releasenotes, backend, area/content-library, team/studio-domain1, skip-documentation

#14663 feat: added news about un-deploy
  frontend/app-development/features/overview/components/News/NewsContent/news.nb.json
Labels: solution/studio/designer, area/overview, frontend, skip-manual-testing

#14381 chore(resource-adm): Remove imports of designsystemet react components
  frontend/resourceadm/components/AccessListDetails/AccessListDetail.tsx
  frontend/resourceadm/components/AccessListEnvLinks/AccessListEnvLinks.tsx
  frontend/resourceadm/components/AccessListErrorMessage/AccessListErrorMessage.tsx
  frontend/resourceadm/components/AccessListMembers/AccessListMembers.tsx
  frontend/resourceadm/components/AccessListMembers/AccessListMembersTable.tsx
  frontend/resourceadm/components/ErrorMessage/ErrorMessage.tsx
  frontend/resourceadm/components/FieldWrapper/FieldWrapper.tsx
  frontend/resourceadm/components/FieldWrapper/index.ts
  frontend/resourceadm/components/ImportAltinn3ResourceModal/ImportAltinn3ResourceModal.tsx
  frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.tsx
  frontend/resourceadm/components/ImportResourceModal/ServiceContent/ServiceContent.tsx
  frontend/resourceadm/components/MergeConflict/MergeConflict.module.css
  frontend/resourceadm/components/MergeConflict/MergeConflict.test.tsx
  frontend/resourceadm/components/MergeConflict/MergeConflict.tsx
  frontend/resourceadm/components/MergeConflict/index.ts
  frontend/resourceadm/components/MergeConflictModal/MergeConflictModal.module.css
  frontend/resourceadm/components/MergeConflictModal/MergeConflictModal.tsx
  frontend/resourceadm/components/MergeConflictModal/index.ts
  frontend/resourceadm/components/MigrationPanel/MigrationPanel.tsx
  frontend/resourceadm/components/NavigationModal/NavigationModal.tsx
  frontend/resourceadm/components/NewAccessListModal/NewAccessListModal.tsx
  frontend/resourceadm/components/NewResourceModal/NewResourceModal.tsx
  frontend/resourceadm/components/ResourceAccessLists/ResourceAccessLists.tsx
  frontend/resourceadm/components/ResourceContactPointFields/ResourceContactPointFieldset.tsx
  frontend/resourceadm/components/ResourceDeployEnvCard/ResourceDeployEnvCard.tsx
  frontend/resourceadm/components/ResourceDeployStatus/ResourceDeployStatus.tsx
  frontend/resourceadm/components/ResourceNameAndId/ResourceNameAndId.module.css
  frontend/resourceadm/components/ResourceNameAndId/ResourceNameAndId.tsx
  frontend/resourceadm/components/ResourcePageInputs/InputFieldErrorMessage.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceCheckboxGroup.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceFieldHeader.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceLanguageTextField.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceRadioGroup.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceSwitchInput.tsx
  frontend/resourceadm/components/ResourcePageInputs/ResourceTextField.tsx
  frontend/resourceadm/components/ResourceReferenceFields/ResourceReferenceFieldset.tsx
  frontend/resourceadm/components/ResourceSeachBox/index.ts
  frontend/resourceadm/components/ResourceSearchBox/ResourceSearchBox.module.css
  frontend/resourceadm/components/ResourceSearchBox/ResourceSearchBox.test.tsx
  frontend/resourceadm/components/ResourceSearchBox/ResourceSearchBox.tsx
  frontend/resourceadm/components/ResourceSearchBox/index.ts
  frontend/resourceadm/components/ResourceTable/ResourceTable.tsx
  frontend/resourceadm/components/RightTranslationBar/RightTranslationBar.test.tsx
  frontend/resourceadm/components/RightTranslationBar/RightTranslationBar.tsx
  frontend/resourceadm/language/src/nb.json
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.test.tsx
  frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  frontend/resourceadm/pages/AccessListPage/AccessListPage.tsx
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.tsx
  frontend/resourceadm/pages/ErrorPage/ErrorPage.tsx
  frontend/resourceadm/pages/ListAdminPage/ListAdminPage.tsx
  frontend/resourceadm/pages/MigrationPage/MigrationPage.tsx
  frontend/resourceadm/pages/PageLayout/PageLayout.tsx
  frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.tsx
  frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
  frontend/resourceadm/utils/urlUtils/index.ts
  frontend/resourceadm/utils/urlUtils/urlConstants.ts
  frontend/resourceadm/utils/urlUtils/urlUtils.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, skip-manual-testing

#14644 feat(summary2): add new props to overrides
  frontend/language/src/nb.json
  frontend/packages/shared/src/types/ComponentSpecificConfig.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/OverrideFields/CompactViewSwitch.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/OverrideFields/Summary2OverrideDisplaySelect.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/OverrideFields/Summary2OverrideDisplayType.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2Override.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2OverrideEntry.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/utils.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/utils.ts
  frontend/packages/ux-editor/src/testing/layoutMock.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#14653 feat: 14508/get code lists for org
  frontend/dashboard/pages/OrgContentLibrary/OrgContentLibrary.test.tsx
  frontend/dashboard/pages/OrgContentLibrary/OrgContentLibrary.tsx
  frontend/packages/shared/src/api/queries.ts
Labels: area/dashboard, solution/studio/designer, frontend, team/studio-domain1, skip-manual-testing

#14654 refactor(summary2): move displayType default to shared default logic
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/OverrideFields/Summary2OverrideDisplayType.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2Override.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2OverrideEntry.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#14655 feat: text resource endpoints org level
  backend/src/Designer/Controllers/Organisation/OrgTextController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnOrgGitRepository.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Services/Implementation/Organisation/OrgTextsService.cs
  backend/src/Designer/Services/Interfaces/IAltinnGitRepositoryFactory.cs
  backend/src/Designer/Services/Interfaces/Organisation/IOrgTextsService.cs
Labels: area/text-editor, solution/studio/designer, skip-releasenotes, backend, area/content-library, team/studio-domain1, skip-manual-testing, skip-documentation

#14687 fix: Revert "fix(deps): update npm non-major dependencies"
  frontend/app-development/package.json
  frontend/app-preview/package.json
  frontend/dashboard/package.json
  frontend/libs/studio-components/package.json
  frontend/packages/text-editor/package.json
  frontend/packages/ux-editor-v3/package.json
  frontend/packages/ux-editor/package.json
  frontend/resourceadm/package.json
  frontend/scripts/yarn.lock
  package.json
  yarn.lock
Labels: area/ui-editor, area/text-editor, area/dashboard, area/app-preview, solution/studio/designer, skip-releasenotes, kind/dependencies, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation

#14659 chore(IDataModelBindings): Fix typing of data model bindings
  frontend/packages/shared/src/types/ComponentSpecificConfig.ts
  frontend/packages/shared/src/types/api/FormLayoutsResponse.ts
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/ColumnElement.test.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/DataModelBindingsCombobox.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/EditColumnElement.test.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/EditColumnElement.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/utils/editSubformTableColumnsUtils.test.ts
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/utils/editSubformTableColumnsUtils.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/DefinedBinding/DefinedBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/EditBinding.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/EditBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/EditBindingButtons.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/SelectDataFieldBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/SelectDataModelBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditDataModelBinding.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateFormComponentMutation.test.ts
  frontend/packages/ux-editor/src/types/FormComponent.ts
  frontend/packages/ux-editor/src/types/FormContainer.ts
  frontend/packages/ux-editor/src/types/global.ts
  frontend/packages/ux-editor/src/utils/dataModelUtils.test.ts
  frontend/packages/ux-editor/src/utils/dataModelUtils.ts
Labels: area/ui-editor, solution/studio/designer, frontend, skip-manual-testing

#14690 Feat/14609/initial setup for org library playwright tests
  frontend/testing/playwright/components/DashboardHeader.ts
  frontend/testing/playwright/enum/AppNames.ts
  frontend/testing/playwright/enum/TestNames.ts
  frontend/testing/playwright/helpers/RouterRoute.ts
  frontend/testing/playwright/pages/OrgLibraryPage/OrgLibraryPage.ts
  frontend/testing/playwright/pages/OrgLibraryPage/index.ts
  frontend/testing/playwright/playwright.config.ts
  frontend/testing/playwright/tests/org-library/org-library.spec.ts
Labels: solution/studio/designer, quality/testing, frontend, team/studio-domain1, skip-manual-testing

#14688 style: Update Prettier
  frontend/packages/process-editor/src/components/Canvas/Canvas.module.css
  package.json
  yarn.lock
Labels: area/process, solution/studio/designer, skip-releasenotes, kind/dependencies, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation

#14672 fix: validation errors persist when switching pages
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/PageConfigPanel.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.tsx
Labels: area/ui-editor, solution/studio/designer, frontend

#14668 feat: Add endpoint and service for all data models
  backend/src/Designer/Controllers/DatamodelsController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/src/Designer/Services/Interfaces/ISchemaModelService.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnAppGitRepositoryTests.cs
  backend/tests/Designer.Tests/Services/SchemaModelServiceTests.cs
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
Labels: solution/studio/designer, quality/testing, backend, frontend, team/studio-domain1

#14665 fix: case error page id
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/EditPageId.tsx
  frontend/packages/ux-editor/src/utils/designViewUtils/designViewUtils.test.ts
  frontend/packages/ux-editor/src/utils/designViewUtils/designViewUtils.ts
Labels: area/ui-editor, solution/studio/designer, frontend

#14679 feat: Adding feature flag for org library
  frontend/dashboard/app/App.test.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/DashboardHeader.test.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/DashboardHeader.tsx
  frontend/packages/shared/src/utils/featureToggleUtils.ts
Labels: area/dashboard, solution/studio/designer, frontend, team/studio-domain1

#14700 fix: remove warning on dashboard console
  frontend/dashboard/pages/PageLayout/DashboardHeader/DashboardHeader.tsx
Labels: area/dashboard, solution/studio/designer, frontend, team/studio-domain1, skip-manual-testing

#14702 feat: add main config section with header behind feature flag
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/ComponentMainConfig.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/ComponentMainConfig.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/HeaderMainConfig.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/HeaderMainConfig.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/SpecificMainConfig/SummaryMainConfig.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/SpecificMainConfig/SummaryMainConfig.tsx
Labels: area/ui-editor, solution/studio/designer, frontend

#14713 test: 14609 - Playwright test for dashboard navigation
  frontend/testing/playwright/components/DashboardHeader.ts
  frontend/testing/playwright/helpers/RouterRoute.ts
  frontend/testing/playwright/pages/DashboardPage.ts
  frontend/testing/playwright/tests/dashboard/dashboard-navigation.spec.ts
Labels: solution/studio/designer, quality/testing, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14677 feat: Warn user about deprecated components
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.tsx
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormItem/FormItemTitle/FormItemTitle.module.css
  frontend/packages/ux-editor/src/containers/DesignView/FormTree/FormItem/FormItemTitle/FormItemTitle.tsx
  frontend/packages/ux-editor/src/testing/componentMocks.ts
  frontend/packages/ux-editor/src/utils/component.test.ts
  frontend/packages/ux-editor/src/utils/component.ts
Labels: area/ui-editor, solution/studio/designer, frontend

#14686 fix: 14472 should show the value of selector in properties config
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/CollapsiblePropertyEditor/CollapsiblePropertyEditor.module.css
  frontend/packages/ux-editor/src/components/config/CollapsiblePropertyEditor/CollapsiblePropertyEditor.test.tsx
  frontend/packages/ux-editor/src/components/config/CollapsiblePropertyEditor/CollapsiblePropertyEditor.tsx
  frontend/packages/ux-editor/src/components/config/CollapsiblePropertyEditor/index.ts
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.module.css
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.test.tsx
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
  frontend/packages/ux-editor/src/components/config/SelectPropertyEditor/SelectPropertyEditor.module.css
  frontend/packages/ux-editor/src/components/config/SelectPropertyEditor/SelectPropertyEditor.test.tsx
  frontend/packages/ux-editor/src/components/config/SelectPropertyEditor/SelectPropertyEditor.tsx
  frontend/packages/ux-editor/src/components/config/SelectPropertyEditor/index.ts
Labels: area/ui-editor, solution/studio/designer, frontend, skip-manual-testing

#14725 feat: gitea runners
  .github/workflows/deploy-gitea-runner-ttd.yaml
  charts/gitea-runner-ttd-config/Chart.yaml
  charts/gitea-runner-ttd-config/templates/helm-release.yaml
  charts/gitea-runner-ttd-config/values.yaml
  charts/gitea-runner-ttd/.helmignore
  charts/gitea-runner-ttd/Chart.yaml
  charts/gitea-runner-ttd/templates/_helpers.tpl
  charts/gitea-runner-ttd/templates/deployment.yaml
  charts/gitea-runner-ttd/values.yaml
  compose.yaml
  development/setup.js
Labels: skip-releasenotes, skip-manual-testing

#14774 fix(resource-adm): access package icons after change in accesspackage json file
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/index.ts
Labels: solution/studio/designer, area/authorization, skip-releasenotes, frontend, skip-manual-testing

#14758 fix: add information alert when no data model bindings
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.tsx
Labels: area/ui-editor, solution/studio/designer, added-to-sprint, frontend, team/studio-domain2

#14768 test: helper functions and test data for org level tests
  backend/tests/Designer.Tests/Controllers/ApiTests/DesignerEndpointsTestsBase.cs
  backend/tests/Designer.Tests/Utils/TestDataHelper.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content-empty/Codelists/.gitignore
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content-empty/Texts/.gitignore
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/Codelists/codeListBoolean.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/Codelists/codeListMissingLabel.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/Codelists/codeListMissingValue.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/Codelists/codeListNumber.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/Codelists/codeListString.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/Codelists/codeListTrailingComma.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/Texts/resource.nb.json
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, area/content-library, team/studio-domain1, team/studio-core, skip-manual-testing, skip-documentation

#14755 feat: 14710 adding codelist to setup script
  development/setup.js
Labels: skip-releasenotes, team/studio-domain1, skip-manual-testing

#14671 feat: add correspondenceservice as resource type in regestry
  frontend/packages/shared/src/types/ResourceAdm.ts
  frontend/resourceadm/language/src/nb.json
  frontend/resourceadm/utils/resourceUtils/resourceUtils.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, skip-manual-testing

#14791 fix: remove trailing coma in setup
  development/setup.js
Labels: skip-releasenotes, team/studio-domain1, skip-manual-testing

#14790 style: Add missing line break
  frontend/resourceadm/language/src/nb.json
Labels: solution/studio/designer, quality/code, skip-releasenotes, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation

#14780 fix: Consistent terms in code list editor
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioCodelistEditor/test-data/texts.ts
Labels: solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14789 test: Increase waitFor timeout for React Testing Library
  frontend/testing/setupTests.ts
Labels: solution/studio/designer, quality/testing, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation

#14727 fix: 14718 add confirm when deleting codelist
  frontend/language/src/nb.json
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/EditCodeList.tsx
Labels: solution/studio/designer, frontend, team/studio-domain1, skip-documentation

#14722 feat: Add text resources to app content library
  frontend/app-development/features/appContentLibrary/AppContentLibrary.test.tsx
  frontend/app-development/features/appContentLibrary/AppContentLibrary.tsx
  frontend/app-development/features/appContentLibrary/test-data/optionListDataList.ts
  frontend/app-development/features/appContentLibrary/test-data/textResources.ts
  frontend/app-development/features/appContentLibrary/utils/convertTextResourceToMutationArgs.test.ts
  frontend/app-development/features/appContentLibrary/utils/convertTextResourceToMutationArgs.ts
Labels: solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-documentation

#14767 docs: fix documentation OrgCodeListController
  backend/src/Designer/Controllers/Organisation/OrgCodeListController.cs
Labels: solution/studio/designer, skip-releasenotes, backend, area/content-library, team/studio-domain1, team/studio-core, skip-manual-testing, skip-documentation

#14708 chore: updated text for deletion page and component
  frontend/language/src/nb.json
Labels: area/ui-editor, solution/studio/designer, frontend, skip-manual-testing

#14793 fix: Add verification for local clone
  backend/src/Designer/Controllers/Organisation/OrgCodeListController.cs
Labels: solution/studio/designer, skip-releasenotes, backend, area/content-library, team/studio-domain1, team/studio-core, skip-documentation

#14798 fix: Fix css variable name
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/Cell.module.css
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14701 feat: studio statistics
  .github/workflows/designer-gitea-and-db-integration-tests copy.yaml
  backend/packagegroups/NuGet.props
  backend/src/Designer/Configuration/EidLoggerClientSettings.cs
  backend/src/Designer/Configuration/Extensions/ServiceCollectionExtensions.cs
  backend/src/Designer/Configuration/KafkaSettings.cs
  backend/src/Designer/Designer.csproj
  backend/src/Designer/EventHandlers/DeploymentPipelineCompleted/DeploymentPipelineCompletedStatisticsHandler.cs
  backend/src/Designer/EventHandlers/DeploymentPipelineCompleted/StudioStatisticsEvent.cs
  backend/src/Designer/Events/DeploymentPipelineCompleted.cs
  backend/src/Designer/Events/DeploymentPipelineQueued.cs
  backend/src/Designer/Helpers/AltinnStudioRepositoryScanner.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Models/StudioStatisticsModel.cs
  backend/src/Designer/Repository/IDeploymentRepository.cs
  backend/src/Designer/Repository/ORMImplementation/DeploymentRepository.cs
  backend/src/Designer/Scheduling/DeploymentPipelinePollingJob.cs
  backend/src/Designer/Services/Implementation/KafkaProducer.cs
  backend/src/Designer/Services/Interfaces/IKafkaProducer.cs
  backend/tests/Designer.Tests/DbIntegrationTests/DeploymentEntityRepository/GetSucceededTests.cs
  backend/tests/Designer.Tests/DbIntegrationTests/DeploymentEntityRepository/Utils/EntityGenerationUtils.cs
  backend/tests/Designer.Tests/Kafka/KafkaProducerTests.cs
  backend/tests/Designer.Tests/Kafka/LocalKafkaConstants.cs
  development/kafka/compose.yaml
Labels: area/app-deploy, solution/studio/designer, quality/testing, skip-releasenotes, backend, kind/dependencies, skip-manual-testing

#14803 feat: Add required prop to text resource picker
  frontend/libs/studio-components/src/components/StudioTextResourcePicker/StudioTextResourcePicker.stories.tsx
  frontend/libs/studio-components/src/components/StudioTextResourcePicker/StudioTextResourcePicker.test.tsx
  frontend/libs/studio-components/src/components/StudioTextResourcePicker/StudioTextResourcePicker.tsx
Labels: solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14792 fix: disabled delete button
  frontend/packages/ux-editor/src/components/config/ExpressionContent/ExpressionContent.test.tsx
  frontend/packages/ux-editor/src/components/config/ExpressionContent/ExpressionContent.tsx
Labels: area/ui-editor, solution/studio/designer, frontend

#14658 feat: Add type selector for new codelists
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.stories.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.test.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/TypeSelector/TypeSelector.module.css
  frontend/libs/studio-components/src/components/StudioCodelistEditor/TypeSelector/TypeSelector.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/TypeSelector/index.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/test-data/codeListWithBooleans.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/test-data/codeListWithNumbers.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/test-data/texts.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/types/CodeListEditorTexts.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/types/CodeListItemType.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/types/TypeofResult.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/utils.test.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/utils.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CreateNewCodeListModal/CreateNewCodeListModal.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CreateNewCodeListModal/CreateNewCodeListModal.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/hooks/useCodeListEditorTexts.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/hooks/useOptionListEditorTexts.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#14799 fix: Explicit width on create code list dialog
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CreateNewCodeListModal/CreateNewCodeListModal.module.css
Labels: solution/studio/designer, area/content-library, frontend, team/studio-domain1

#14800 refactor: main config
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/ComponentMainConfig.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/ComponentMainConfig.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSetForSubform.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSetForSubform.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/HeaderMainConfig.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/SpecificMainConfig/SummaryMainConfig.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Target/Summary2Target.module.css
Labels: area/ui-editor, solution/studio/designer, added-to-sprint, frontend, team/studio-domain2, skip-manual-testing

#14801 test: 14609 - playwright test for upload codelist
  frontend/testing/playwright/pages/OrgLibraryPage/CodeLists.ts
  frontend/testing/playwright/pages/OrgLibraryPage/testCodelist.json
  frontend/testing/playwright/tests/org-library/create-codelists.spec.ts
Labels: solution/studio/designer, quality/testing, frontend, team/studio-domain1, skip-manual-testing

#14812 fix: add helper method to check if version is below or equal to a specific version
  backend/src/Designer/Controllers/PreviewController.cs
  backend/src/Designer/Helpers/Preview/NugetVersionHelper.cs
  backend/tests/Designer.Tests/Helpers/Preview/NugetVersionHelperTests.cs
Labels: kind/bug, area/app-preview, solution/studio/designer, quality/testing, backend, team/studio-core, skip-manual-testing

#14802 test: 14609 - playwright test for delete codelist org
  frontend/testing/playwright/pages/OrgLibraryPage/CodeLists.ts
  frontend/testing/playwright/tests/org-library/create-codelists.spec.ts
Labels: area/text-editor, area/dashboard, area/app-preview, solution/studio/designer, quality/testing, skip-releasenotes, backend, frontend, team/studio-domain1, skip-manual-testing

#14797 fix: Account for invalid text resource ids in code list editor
  frontend/libs/studio-components/src/components/StudioTextResourcePicker/StudioTextResourcePicker.test.tsx
  frontend/libs/studio-components/src/components/StudioTextResourcePicker/StudioTextResourcePicker.tsx
  frontend/libs/studio-components/src/components/StudioTextResourcePicker/utils.test.ts
  frontend/libs/studio-components/src/components/StudioTextResourcePicker/utils.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#14711 refactor: Replace `Textfield` and `Textarea` with `StudioTextfield` and `StudioTextarea`
  frontend/app-development/features/appPublish/components/CreateRelease.test.tsx
  frontend/app-development/features/appPublish/components/CreateRelease.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/InputFields/InputFields.tsx
  frontend/dashboard/components/RepoNameInput/RepoNameInput.tsx
  frontend/libs/studio-components/src/components/StudioDecimalInput/StudioDecimalInput.tsx
  frontend/libs/studio-components/src/components/StudioExpression/ManualEditor/ManualEditor.tsx
  frontend/libs/studio-components/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubExpressionValueContentInput/StringInput.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioToggleableTextfield.tsx
  frontend/libs/studio-components/src/hooks/useTextInputProps.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/EnumList/EnumField/EnumField.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/RestrictionField/RestrictionField.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/StringRestrictions/StringRestrictions.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/NameField.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/DeleteModal/DeleteModal.tsx
  frontend/packages/text-editor/src/TextEntry.tsx
  frontend/packages/text-editor/src/TextRow.tsx
  frontend/packages/ux-editor-v3/src/components/config/componentSpecificContent/FileUpload/FileUploadComponent.tsx
  frontend/packages/ux-editor-v3/src/components/config/componentSpecificContent/Image/ImageComponent.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditCodeList.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditComponentId.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditOptions.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditPreselectedIndex.tsx
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditStringValue.tsx
  frontend/packages/ux-editor-v3/src/containers/DesignView/PageAccordion/NavigationMenu/InputPopover/InputPopover.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Image/ImageComponent.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditStringValue.tsx
Labels: area/data-modeling, area/ui-editor, area/text-editor, area/dashboard, area/app-deploy, solution/studio/designer, area/version-control, frontend, team/studio-domain1, team/studio-domain2, team/studio-core

#14771 test: tests for AltinnOrgGitRepository
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnOrgGitRepositoryTests.cs
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, area/content-library, team/studio-domain1, team/studio-core, skip-manual-testing, skip-documentation

#14809 test: tests for OrgTextController
  backend/src/Designer/Controllers/Organisation/OrgTextController.cs
  backend/tests/Designer.Tests/Controllers/OrgTextController/CreateResourceTests.cs
  backend/tests/Designer.Tests/Controllers/OrgTextController/GetResourcesTests.cs
  backend/tests/Designer.Tests/Controllers/OrgTextController/UpdateResourceTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/Texts/resource.nb.json
Labels: area/text-editor, solution/studio/designer, quality/testing, skip-releasenotes, backend, area/content-library, team/studio-domain1, team/studio-core, skip-manual-testing, skip-documentation

#14807 test: 14609 - playwright test for adding adding a row and editing a codelist for org
  frontend/testing/playwright/pages/OrgLibraryPage/CodeLists.ts
  frontend/testing/playwright/tests/org-library/codelists.spec.ts
Labels: solution/studio/designer, quality/testing, frontend, team/studio-domain1, skip-manual-testing

#14836 chore: Bump PDF-generator dependencies
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes

#14838 refactor: Changed 'Tilbake' to 'Forrige'
  backend/src/Designer/EventHandlers/LayoutPageAdded/LayoutPageAddedHandler.cs
Labels: solution/studio/designer, backend, skip-manual-testing

#14804 feat: 14732 set up a new navigation page
  frontend/app-development/router/routes.test.tsx
  frontend/app-development/router/routes.tsx
  frontend/packages/shared/src/utils/featureToggleUtils.test.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/containers/FormDesignNavigation/FormDesignerNavigation.module.css
  frontend/packages/ux-editor/src/containers/FormDesignNavigation/FormDesignerNavigation.test.tsx
  frontend/packages/ux-editor/src/containers/FormDesignNavigation/FormDesignerNavigation.tsx
  frontend/packages/ux-editor/src/containers/FormDesignNavigation/index.ts
Labels: area/ui-editor, solution/studio/designer, frontend
