Repository Altinn/altinn-studio, pull requests merged in 2025-01, with the labels that each got.

#14328 fix: use codeList in name for code list editor texts hook in library
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/EditCodeList.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CreateNewCodeListModal/CreateNewCodeListModal.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/hooks/useCodeListEditorTexts.ts
Labels: solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14314 fix: Add texts for text resource selector in code list editor
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioCodelistEditor/index.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/test-data/texts.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/types/CodeListEditorTexts.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/types/CodeListItemTextProperty.ts
  frontend/libs/studio-components/src/components/StudioTextResourceInput/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/hooks/useCodeListEditorTexts.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/hooks/useOptionListEditorTexts.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14346 refactor: generalize useEventProps and create useFormEventProps hook
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellButton.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellCheckbox.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellTextResource.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellTextarea.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellTextfield.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/useEventProps.ts
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/useFormEventProps.ts
  frontend/libs/studio-components/src/components/StudioInputTable/StudioInputTable.test.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/StudioInputTableContext.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/types/EventProps.ts
  frontend/libs/studio-components/src/components/StudioInputTable/types/FormEventProps.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14269 refactor: adapt contract when fetching all option lists to visualize error per option list
  backend/src/Designer/Controllers/OptionsController.cs
  backend/src/Designer/Models/Dto/OptionListData.cs
  backend/tests/Designer.Tests/Controllers/OptionsController/GetOptionsTests.cs
  frontend/app-development/features/appContentLibrary/AppContentLibrary.test.tsx
  frontend/app-development/features/appContentLibrary/AppContentLibrary.tsx
  frontend/app-development/features/appContentLibrary/utils/convertOptionListsToCodeLists.test.ts
  frontend/app-development/features/appContentLibrary/utils/convertOptionListsToCodeLists.ts
  frontend/app-development/features/appContentLibrary/utils/convertOptionsListsDataToCodeListsData.test.ts
  frontend/app-development/features/appContentLibrary/utils/convertOptionsListsDataToCodeListsData.ts
  frontend/language/src/nb.json
  frontend/libs/studio-content-library/mocks/mockPagesConfig.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/EditCodeList.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/index.ts
  frontend/libs/studio-content-library/src/index.ts
  frontend/libs/studio-pure-functions/src/ObjectUtils/ObjectUtils.test.ts
  frontend/libs/studio-pure-functions/src/ObjectUtils/ObjectUtils.ts
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOptionListIdMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOptionListIdMutation.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOptionListMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOptionListMutation.ts
  frontend/packages/shared/src/hooks/queries/useOptionListsQuery.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/api/OptionsLists.ts
  frontend/packages/ux-editor/src/components/Elements/ExportForm.tsx
  frontend/packages/ux-editor/src/utils/exportUtils.test.ts
  frontend/packages/ux-editor/src/utils/exportUtils.ts
Labels: area/ui-editor, solution/studio/designer, quality/testing, skip-releasenotes, backend, frontend, team/studio-domain1, skip-documentation

#14307 fix: add alert to `ReferenceTab.tsx`
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Properties/Text.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/OptionTabs.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/OptionTabs.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/ReferenceTab/ReferenceTab.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/ReferenceTab/ReferenceTab.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/ReferenceTab/ReferenceTab.tsx
Labels: area/ui-editor, solution/studio/designer, kind/chore, frontend, team/studio-domain1

#14352 chore: update error handling in useValidateComponent
  frontend/packages/ux-editor/src/hooks/useValidateComponent.test.ts
  frontend/packages/ux-editor/src/hooks/useValidateComponent.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain1

#14308 feat: enable visualization of code list usage in library
  frontend/app-development/features/appContentLibrary/AppContentLibrary.test.tsx
  frontend/app-development/features/appContentLibrary/AppContentLibrary.tsx
  frontend/app-development/features/appContentLibrary/utils/mapToCodeListsUsage.test.ts
  frontend/app-development/features/appContentLibrary/utils/mapToCodeListsUsage.ts
  frontend/libs/studio-content-library/mocks/mockPagesConfig.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/types/CodeListReference.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/index.ts
  frontend/libs/studio-content-library/src/index.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/hooks/queries/index.ts
  frontend/packages/shared/src/hooks/queries/useOptionListsReferencesQuery.test.ts
  frontend/packages/shared/src/hooks/queries/useOptionListsReferencesQuery.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/QueryKey.ts
  frontend/packages/shared/src/types/api/OptionsLists.ts
Labels: solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14332 fix: add case-insensitive comparison in stringUtils and use for all Id's
  frontend/libs/studio-pure-functions/src/FileNameUtils/FileNameUtils.test.ts
  frontend/libs/studio-pure-functions/src/FileNameUtils/FileNameUtils.ts
  frontend/libs/studio-pure-functions/src/StringUtils/StringUtils.test.ts
  frontend/libs/studio-pure-functions/src/StringUtils/StringUtils.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditTaskId/EditTaskId.test.tsx
  frontend/packages/process-editor/src/hooks/useValidateBpmnId.tsx
  frontend/packages/shared/src/hooks/useValidateSchemaName.test.ts
  frontend/packages/shared/src/hooks/useValidateSchemaName.ts
  frontend/packages/shared/src/utils/layoutSetsUtils.test.ts
  frontend/packages/shared/src/utils/layoutSetsUtils.ts
  frontend/packages/text-editor/src/TextList.test.tsx
  frontend/packages/text-editor/src/TextList.tsx
Labels: area/process, area/text-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#14292 feat: addded helptext for hidden property
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.test.tsx
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditBooleanValue.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditBooleanValue.tsx
Labels: area/ui-editor, solution/studio/designer, frontend

#14272 chore: 14263 create studio status radio group
  frontend/libs/studio-components/src/components/StudioStatusRadioGroup/StudioStatusRadioGroup.module.css
  frontend/libs/studio-components/src/components/StudioStatusRadioGroup/StudioStatusRadioGroup.stories.tsx
  frontend/libs/studio-components/src/components/StudioStatusRadioGroup/StudioStatusRadioGroup.test.tsx
  frontend/libs/studio-components/src/components/StudioStatusRadioGroup/StudioStatusRadioGroup.tsx
  frontend/libs/studio-components/src/components/StudioStatusRadioGroup/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#14327 fix: use same regex for layoutsets in FE and BE
  backend/src/Designer/Filters/AppDevelopment/AppDevelopmentErrorCodes.cs
  backend/src/Designer/Filters/AppDevelopment/AppDevelopmentExceptionFilterAttribute.cs
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/UpdateLayoutSetNameTests.cs
  frontend/language/src/nb.json
  frontend/libs/studio-pure-functions/src/FileNameUtils/FileNameUtils.test.ts
  frontend/libs/studio-pure-functions/src/FileNameUtils/FileNameUtils.ts
  frontend/packages/shared/src/utils/layoutSetsUtils.ts
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, frontend, team/studio-domain1, skip-documentation

#14362 chore(ui-editor): remove custom component from toolbar list
  frontend/packages/ux-editor/src/data/formItemConfig.test.ts
  frontend/packages/ux-editor/src/data/formItemConfig.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#14345 feat: add CellNumberfield to StudioInputTable
  frontend/libs/studio-components/src/components/StudioDecimalInput/StudioDecimalInput.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/Cell.module.css
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/CellNumberfield.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/Cell/index.ts
  frontend/libs/studio-components/src/components/StudioInputTable/StudioInputTable.test.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/test-data/TestTable.tsx
  frontend/libs/studio-components/src/components/StudioInputTable/test-data/testTableData.ts
Labels: solution/studio/designer, frontend, team/studio-domain1, skip-manual-testing

#14276 feat: update codelist config design
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/AddManualOptionsModal/AddManualOptionsModal.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/AddManualOptionsModal/AddManualOptionsModal.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/AddManualOptionsModal/AddManualOptionsModal.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/AddManualOptionsModal/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/EditTab.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/EditTab.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/EditTab.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/LibraryOptionsEditor/LibraryOptionsEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/ManualOptionsEditor/ManualOptionsEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListButtons/OptionListButtons.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListButtons/OptionListButtons.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListButtons/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListEditor.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListLabels/OptionListLabels.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListLabels/OptionListLabels.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListLabels/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/hooks/useConcatOptionsLabels.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListSelector/OptionListSelector.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListSelector/OptionListSelector.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListSelector/OptionListSelector.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListUploader/OptionListUploader.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListUploader/OptionListUploader.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/OptionTabs.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/utils/optionsUtils.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/utils/optionsUtils.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#14373 fix: make try-scope larger when fetching optionList and catch additional exception
  backend/src/Designer/Services/Implementation/OptionsService.cs
  backend/tests/Designer.Tests/Controllers/OptionsController/GetOptionsTests.cs
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, team/studio-domain1, skip-manual-testing, skip-documentation

#14385 fix: Optional schema
  backend/src/Designer/Models/LayoutSets.cs
Labels: solution/studio/designer, backend, added-to-sprint, team/studio-domain1, team/studio-domain2, team/studio-core

#14374 fix: remove dotnet build warnings
  backend/src/Designer/Models/Preview/DataPatchRequestMultiple.cs
  backend/src/Designer/Models/Preview/ValidationIssueWithSource.cs
  backend/src/Designer/Services/Implementation/PreviewService.cs
Labels: solution/studio/designer, skip-releasenotes, backend, team/studio-core, skip-manual-testing, skip-documentation

#14354 feat: Add text resource selector to code list editor
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.stories.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.test.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditorRow/StudioCodeListEditorRow.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14387 chore: Bump PDF-generator dependencies
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes

#14368 fix: tablecolumn query parameter should be string and relative
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/EditColumnElement.tsx
Labels: area/ui-editor, solution/studio/designer, frontend

#14293 feat(subform): Frontend fetch model dataType and implement editing
  frontend/language/src/nb.json
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemMetadataTab.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemMetadataTab.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/SchemaInspector.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/SchemaInspector.tsx
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateDataTypeMutation.ts
  frontend/packages/shared/src/hooks/queries/useDataTypeQuery.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/DataType.ts
  frontend/packages/shared/src/types/QueryKey.ts
Labels: area/data-modeling, solution/studio/designer, backend, frontend, team/studio-domain2

#14343 feat: use modal to view code list usage in library
  frontend/language/src/nb.json
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/CodeListUsages/CodeListUsages.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/CodeListUsages/CodeListUsages.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/CodeListUsages/CodeListUsages.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/EditCodeList.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/EditCodeList.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/utils/codeListPageUtils.test.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/utils/codeListPageUtils.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/utils/index.ts
Labels: solution/studio/designer, skip-releasenotes, added-to-sprint, frontend, team/studio-domain1, skip-documentation

#14394 fix: add new callback in `StudioCodeListEditor` for add and remove item
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.test.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/EditCodeList.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/LibraryOptionsEditor/LibraryOptionsEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/ManualOptionsEditor/ManualOptionsEditor.tsx
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#14396 fix: run validation of codeList before calling onBlurAny in StudioCodeListEditor
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.test.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#14365 fix: ensure new code lists are added on the cache from onUpdateOptionListMutation
  frontend/packages/shared/src/hooks/mutations/useUpdateOptionListMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOptionListMutation.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#14389 feat(designer): endpoint to get UserOrgPermissions
  backend/src/Designer/Controllers/UserController.cs
  backend/src/Designer/Helpers/Guard.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Models/AltinnOrgContext.cs
  backend/src/Designer/Models/AltinnRepoContext.cs
  backend/src/Designer/Models/Dto/UserOrgPermission.cs
  backend/src/Designer/RepositoryClient/Model/Team.cs
  backend/src/Designer/Services/Implementation/GiteaAPIWrapper/GiteaAPIWrapper.cs
  backend/src/Designer/Services/Implementation/UserService.cs
  backend/src/Designer/Services/Interfaces/IUserService.cs
  backend/tests/Designer.Tests/GiteaIntegrationTests/UserControllerGiteaIntegrationTests.cs
  backend/tests/Designer.Tests/Helpers/GuardTests.cs
  backend/tests/Designer.Tests/Services/UserServiceTests.cs
Labels: solution/studio/designer, quality/testing, backend, team/studio-core, skip-manual-testing

#14378 fix(designer): Prevent propagation of 401 Unauthorized status from Azure DevOps
  backend/src/Designer/TypedHttpClients/DelegatingHandlers/AzureDevOpsTokenDelegatingHandler.cs
  backend/src/Designer/TypedHttpClients/TypedHttpClientRegistration.cs
  backend/tests/Designer.Tests/TypedHttpClients/DelegatingHandlers/AzureDevOpsTokenDelegatingHandlerTests.cs
Labels: solution/studio/designer, quality/testing, backend, skip-manual-testing

#14401 fix: adjust design in `StudioDisplayTile` to align with `StudioToggleableTextfield` design
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioDisplayTile/StudioDisplayTile.module.css
  frontend/libs/studio-components/src/components/StudioDisplayTile/StudioDisplayTile.test.tsx
  frontend/libs/studio-components/src/components/StudioDisplayTile/StudioDisplayTile.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.module.css
  frontend/packages/process-editor/src/components/ConfigViewerPanel/ConfigViewerPanel.module.css
  frontend/packages/process-editor/src/components/ConfigViewerPanel/ConfigViewerPanel.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/SelectDataModelBinding.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/SelectDataModelBinding.tsx
Labels: area/process, area/ui-editor, solution/studio/designer, skip-releasenotes, ux/accessebility, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14423 refactor: Make useBpmnEditor return callback ref
  frontend/packages/process-editor/src/components/Canvas/BPMNEditor/BPMNEditor.test.tsx
  frontend/packages/process-editor/src/components/Canvas/BPMNEditor/BPMNEditor.tsx
  frontend/packages/process-editor/src/hooks/useBpmnEditor.test.tsx
  frontend/packages/process-editor/src/hooks/useBpmnEditor.ts
Labels: area/process, solution/studio/designer, quality/code, skip-releasenotes, frontend, team/studio-domain1, team/studio-core, skip-manual-testing, skip-documentation

#14414 fix: remove error div from studio search
  frontend/libs/studio-components/src/components/StudioSearch/StudioSearch.module.css
  frontend/libs/studio-components/src/components/StudioSearch/StudioSearch.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CodeListsActionsBar.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CodeListsActionsBar.tsx
  frontend/packages/text-editor/src/TextEditor.module.css
Labels: area/text-editor, solution/studio/designer, quality/testing, skip-releasenotes, backend, frontend, team/studio-domain1, skip-documentation

#14371 feat(contact): display Altinn Servicedesk contact if user belongs to org
  backend/src/Designer/Controllers/ContactController.cs
  backend/src/Designer/Helpers/AuthenticationHelper.cs
  backend/src/Designer/Models/Dto/BelongsToOrg.cs
  backend/tests/Designer.Tests/Controllers/ContactController/FetchBelongsToOrgTests.cs
  backend/tests/Designer.Tests/Mocks/IGiteaMock.cs
  frontend/language/src/nb.json
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/getInTouch/providers/PhoneContactProvider.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/QueryKey.ts
  frontend/studio-root/components/ContactSection/ContactSection.tsx
  frontend/studio-root/components/ContactServiceDesk/ContactServiceDesk.tsx
  frontend/studio-root/components/ContactServiceDesk/index.ts
  frontend/studio-root/pages/Contact/ContactPage.test.tsx
  frontend/studio-root/pages/Contact/ContactPage.tsx
  frontend/studio-root/pages/hooks/queries/useFetchBelongsToOrgQuery.ts
Labels: solution/studio/designer, quality/testing, backend, area/studio-root, frontend, skip-manual-testing

#14347 feat(resource-adm): add temp icons for access packages
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/AllAccessPackages.test.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/AllAccessPackages.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/administrere_tilganger.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/andre_tjenesteytende_naeringer.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/bygg_anlegg_og_eiendom.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/energi_vann_avlop_og_avfall.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/forhold_ved_virksomheten.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/fullmakter_for_konkursbo.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/fullmakter_for_regnskapsforer.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/fullmakter_for_revisor.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/handel_overnatting_og_servering.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/helse_pleie_omsorg_og_vern.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/index.ts
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/industrier.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/integrasjoner.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/jordbruk_skogbruk_jakt_fiske_og_akvakultur.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/kultur_og_frivillighet.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/miljo_ulykke_og_sikkerhet.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/oppvekst_og_utdaning.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/personale.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/post_og_arkiv.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/skatt_avgift_regnskap_og_toll.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/transport_og_lagring.svg
Labels: solution/studio/designer, area/authorization, skip-releasenotes, frontend, skip-manual-testing

#14409 fix: accept no options-folder when fetching usage
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/tests/Designer.Tests/Controllers/OptionsController/GetOptionListsReferencesTests.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnAppGitRepositoryTests.cs
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, area/content-library, team/studio-domain1, skip-documentation

#14432 fix: remove wrongly placed margin in action editor
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/ActionsEditor/ActionsEditor.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/ActionsEditor/ActionsEditor.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/EditActions.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/EditActions.tsx
Labels: area/process, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14415 test: Create tool for mocking event listeners
  frontend/packages/process-editor/test/EventListeners.test.ts
  frontend/packages/process-editor/test/EventListeners.ts
Labels: area/process, solution/studio/designer, quality/testing, skip-releasenotes, frontend, team/studio-domain1, team/studio-core, skip-manual-testing, skip-documentation

#14435 chore: Update azure identity deps
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes

#14419 feat: support deletion of code list from library
  frontend/app-development/features/appContentLibrary/AppContentLibrary.tsx
  frontend/language/src/nb.json
  frontend/libs/studio-content-library/mocks/mockPagesConfig.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/EditCodeList.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/EditCodeList.tsx
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/hooks/mutations/index.ts
  frontend/packages/shared/src/hooks/mutations/useDeleteOptionListMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useDeleteOptionListMutation.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
Labels: solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-documentation

#14319 feat: support code lists search in library
  frontend/language/src/nb.json
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CodeListsActionsBar.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CodeListsActionsBar.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/utils/codeListPageUtils.test.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/utils/codeListPageUtils.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/utils/index.ts
Labels: solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-documentation

#14171 feat: Remove featureflag multiple data models per task
  frontend/packages/shared/src/types/ComponentSpecificConfig.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/EditBinding.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/EditBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/SelectDataModelBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditDataModelBinding.test.tsx
  frontend/packages/ux-editor/src/utils/component.ts
  frontend/testing/playwright/tests/ui-editor/ui-editor-data-model-binding-and-gitea.spec.ts
Labels: area/ui-editor, solution/studio/designer, quality/testing, frontend

#14433 docs: Add to news - multiple data models
  frontend/app-development/features/overview/components/News/NewsContent/news.nb.json
Labels: solution/studio/designer, added-to-sprint, area/overview, text/content, frontend, team/studio-domain2, skip-manual-testing

#14406 chore: reorganize summary2 translation keys
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2Override.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2Override.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2OverrideDisplayType.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2OverrideEntry.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/hook/useCustomConfigType.ts
Labels: area/ui-editor, solution/studio/designer, text/content, frontend, team/studio-domain2, skip-manual-testing

#14425 fix: exportUtils pageOrder can be nullish, add optional chaining
  frontend/packages/ux-editor/src/utils/exportUtils.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#14388 chore: Remove feature flag accesspackages
  frontend/language/src/nb.json
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/PolicyAccessPackages.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/PolicyAccessPackagesWarning.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyRule.tsx
  frontend/packages/policy-editor/src/utils/index.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
Labels: solution/studio/designer, area/authorization, frontend, team/studio-domain2, team/studio-core, skip-manual-testing

#14443 chore: treat warnings as errors
  backend/Directory.Build.props
  backend/src/Designer/Controllers/UserController.cs
Labels: solution/studio/designer, backend, team/studio-core, skip-manual-testing

#14429 refactor: Clean up option list typing
  frontend/app-development/features/appContentLibrary/AppContentLibrary.test.tsx
  frontend/app-development/features/appContentLibrary/AppContentLibrary.tsx
  frontend/app-development/features/appContentLibrary/utils/convertOptionsListsDataToCodeListsData.ts
  frontend/app-development/features/appContentLibrary/utils/mapToCodeListDataList.test.ts
  frontend/app-development/features/appContentLibrary/utils/mapToCodeListDataList.ts
  frontend/app-development/features/appContentLibrary/utils/mapToCodeListUsages.test.ts
  frontend/app-development/features/appContentLibrary/utils/mapToCodeListUsages.ts
  frontend/app-development/features/appContentLibrary/utils/mapToCodeListsUsage.test.ts
  frontend/app-development/features/appContentLibrary/utils/mapToCodeListsUsage.ts
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOptionListIdMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOptionListIdMutation.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOptionListMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateOptionListMutation.ts
  frontend/packages/shared/src/hooks/queries/useOptionListQuery.test.ts
  frontend/packages/shared/src/hooks/queries/useOptionListQuery.ts
  frontend/packages/shared/src/hooks/queries/useOptionListsQuery.ts
  frontend/packages/shared/src/hooks/queries/useOptionListsReferencesQuery.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/OptionList.ts
  frontend/packages/shared/src/types/OptionListReferences.ts
  frontend/packages/shared/src/types/api/OptionListsResponse.ts
  frontend/packages/shared/src/types/api/OptionsLists.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/LibraryOptionsEditor/LibraryOptionsEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/ManualOptionsEditor/ManualOptionsEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListEditor.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListLabels/OptionListLabels.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/utils/optionsUtils.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/utils/optionsUtils.ts
  frontend/packages/ux-editor/src/utils/exportUtils.test.ts
  frontend/packages/ux-editor/src/utils/exportUtils.ts
Labels: area/ui-editor, solution/studio/designer, quality/code, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14278 chore: 14277 studio pagination content
  frontend/libs/studio-components/src/components/StudioPaginatedContent/StudioPaginatedContent.module.css
  frontend/libs/studio-components/src/components/StudioPaginatedContent/StudioPaginatedContent.stories.tsx
  frontend/libs/studio-components/src/components/StudioPaginatedContent/StudioPaginatedContent.test.tsx
  frontend/libs/studio-components/src/components/StudioPaginatedContent/StudioPaginatedContent.tsx
  frontend/libs/studio-components/src/components/StudioPaginatedContent/hooks/usePagination.test.tsx
  frontend/libs/studio-components/src/components/StudioPaginatedContent/hooks/usePagination.ts
  frontend/libs/studio-components/src/components/StudioPaginatedContent/index.ts
  frontend/libs/studio-components/src/components/StudioPaginatedContent/types/StudioPaginatedItem.ts
  frontend/libs/studio-components/src/components/StudioPaginatedContent/types/StudioPaginatedNavigation.ts
Labels: solution/studio/designer, frontend, skip-manual-testing

#14447 fix: broken codelist links in Studio to Altinn docs
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditCodeList.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/ReferenceTab/ReferenceTab.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/SelectTab/SelectTab.tsx
Labels: kind/bug, area/ui-editor, solution/studio/designer, added-to-sprint, frontend, team/studio-domain2, skip-manual-testing

#14400 feat: show code list title as readOnly displayTile if in use
  frontend/language/src/nb.json
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/EditCodeList.tsx
Labels: solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-documentation

#14437 fix: update path used to get option list ids
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/GetOptionListIdsTests.cs
  frontend/packages/shared/src/api/paths.js
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, frontend, team/studio-domain1, skip-documentation

#14421 test: Improve BPMN editor tests
  frontend/packages/process-editor/src/hooks/useBpmnEditor.test.tsx
  frontend/packages/process-editor/src/hooks/useBpmnEditor.ts
  frontend/packages/process-editor/src/types/SelectionChangeEvent.ts
Labels: area/process, solution/studio/designer, quality/testing, skip-releasenotes, frontend, team/studio-domain1, team/studio-core, skip-manual-testing, skip-documentation

#14463 fix: Revert "chore: cleanup backend endpoints (#14418)"
  backend/src/Designer/Controllers/KubernetesDeploymentsController.cs
  backend/src/Designer/Controllers/LanguagesController.cs
  backend/src/Designer/Controllers/ProcessModelingController.cs
  backend/src/Designer/Controllers/RepositoryController.cs
  backend/src/Designer/Controllers/TextKeysController.cs
  backend/src/Designer/Controllers/TextsController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnGitRepository.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Middleware/UserRequestSynchronization/Services/RequestSyncEvaluators/EndpointNameSyncEvaluator.cs
  backend/src/Designer/Services/Implementation/GiteaAPIWrapper/GiteaAPIWrapper.cs
  backend/src/Designer/Services/Implementation/LanguagesService.cs
  backend/src/Designer/Services/Implementation/ProcessModeling/ProcessModelingService.cs
  backend/src/Designer/Services/Implementation/SourceControlLoggingDecorator.cs
  backend/src/Designer/Services/Implementation/SourceControlSI.cs
  backend/src/Designer/Services/Implementation/TextsService.cs
  backend/src/Designer/Services/Interfaces/IGitea.cs
  backend/src/Designer/Services/Interfaces/ILanguagesService.cs
  backend/src/Designer/Services/Interfaces/IProcessModelingService.cs
  backend/src/Designer/Services/Interfaces/ISourceControl.cs
  backend/src/Designer/Services/Interfaces/ITextsService.cs
  backend/tests/Designer.Tests/Controllers/KubernetesDeploymentsController/GetKubernetesDeploymentsTests.cs
  backend/tests/Designer.Tests/Controllers/LanguagesController/GetLanguagesTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/GetTemplatesTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/SaveProcessDefinitionFromTemplateTests.cs
  backend/tests/Designer.Tests/Controllers/TextKeysController/GetTests.cs
  backend/tests/Designer.Tests/Controllers/TextKeysController/PutTests.cs
  backend/tests/Designer.Tests/Controllers/TextsController/ConvertTests.cs
  backend/tests/Designer.Tests/Controllers/TextsController/DeleteTests.cs
  backend/tests/Designer.Tests/Controllers/TextsController/GetTests.cs
  backend/tests/Designer.Tests/Controllers/TextsController/PutTests.cs
  backend/tests/Designer.Tests/GiteaIntegrationTests/RepositoryController/RepositoryControllerGiteaIntegrationTests.cs
  backend/tests/Designer.Tests/Mocks/IGiteaMock.cs
  backend/tests/Designer.Tests/Mocks/ISourceControlMock.cs
  backend/tests/Designer.Tests/Services/ProcessModelingServiceTests.cs
  backend/tests/Designer.Tests/Services/SourceControlLoggingDecoratorTests.cs
  frontend/packages/shared/src/api/paths.js
Labels: area/text-editor, area/app-deploy, solution/studio/designer, quality/testing, backend, frontend, skip-manual-testing

#14430 fix: Handle errors in app content library
  frontend/app-development/features/appContentLibrary/AppContentLibrary.test.tsx
  frontend/app-development/features/appContentLibrary/AppContentLibrary.tsx
  frontend/language/src/nb.json
Labels: kind/bug, area/ui-editor, solution/studio/designer, quality/code, quality/debt, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14464 refactor: Remove useBpmnModeler
  frontend/packages/process-editor/src/hooks/useBpmnEditor.ts
  frontend/packages/process-editor/src/hooks/useBpmnModeler/index.ts
  frontend/packages/process-editor/src/hooks/useBpmnModeler/useBpmnModeler.test.ts
  frontend/packages/process-editor/src/hooks/useBpmnModeler/useBpmnModeler.ts
Labels: area/process, solution/studio/designer, quality/code, skip-releasenotes, frontend, team/studio-domain1, team/studio-core, skip-manual-testing, skip-documentation

#14431 fix: place icon for `StudioProperty.Button` next to label
  frontend/libs/studio-components/src/components/StudioProperty/StudioPropertyButton/StudioPropertyButton.module.css
  frontend/libs/studio-components/src/components/StudioProperty/StudioPropertyButton/StudioPropertyButton.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/EditActions.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypes/EditDataTypes.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypes/EditDataTypes.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypesToSign/EditDataTypesToSign.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditDataTypesToSign/EditDataTypesToSign.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditUniqueFromSignaturesInDataTypes/EditUniqueFromSignaturesInDataTypes.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditUniqueFromSignaturesInDataTypes/EditUniqueFromSignaturesInDataTypes.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CustomReceiptContent.tsx
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.module.css
  frontend/packages/ux-editor/src/components/Properties/DataModelBindings.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/DefinedLayoutSet/DefinedLayoutSet.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/DefinedLayoutSet/DefinedLayoutSet.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSetForSubform.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.module.css
  frontend/packages/ux-editor/src/components/config/FormComponentConfig.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/DefinedBinding/DefinedBinding.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/DefinedBinding/DefinedBinding.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/DefinedBinding/DefinedBinding.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBindings/EditTextResourceBindings.module.css
Labels: area/process, area/ui-editor, solution/studio/designer, quality/code, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-documentation

#14451 fix: move icon to be next to label if present in `StudioDisplayTile`
  frontend/libs/studio-components/src/components/StudioDisplayTile/StudioDisplayTile.module.css
  frontend/libs/studio-components/src/components/StudioDisplayTile/StudioDisplayTile.test.tsx
  frontend/libs/studio-components/src/components/StudioDisplayTile/StudioDisplayTile.tsx
Labels: solution/studio/designer, ux, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#14461 fix: Move `CompetentAuthority.cs` to models
  backend/src/Designer/Designer.csproj
  backend/src/Designer/Models/CompetentAuthority.cs
Labels: solution/studio/designer, skip-releasenotes, backend, team/studio-domain1, skip-manual-testing, skip-documentation

#14434 fix: replace filename validation messages
  frontend/language/src/nb.json
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CreateNewCodeListModal/CreateNewCodeListModal.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/hooks/useCommonCodeListNameErrorMessages.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/hooks/useInputCodeListNameErrorMessage.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/hooks/useUploadCodeListNameErrorMessage.ts
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CreateCustomReceiptForm/CreateCustomReceiptForm.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CustomReceipt/CustomReceipt.test.tsx
  frontend/packages/shared/src/utils/layoutSetsUtils.ts
  frontend/packages/ux-editor-v3/src/containers/DesignView/PageAccordion/NavigationMenu/InputPopover/InputPopover.test.tsx
  frontend/packages/ux-editor-v3/src/utils/designViewUtils/designViewUtils.test.ts
  frontend/packages/ux-editor-v3/src/utils/designViewUtils/designViewUtils.ts
  frontend/packages/ux-editor/src/utils/designViewUtils/designViewUtils.test.ts
  frontend/packages/ux-editor/src/utils/designViewUtils/designViewUtils.ts
Labels: area/process, area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#14424 fix: check if selectedLayoutSet is present in layoutSets
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.test.tsx
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.tsx
Labels: area/ui-editor, solution/studio/designer, frontend

#14484 fix: build warning
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
Labels: solution/studio/designer, backend

#14427 fix: add endpoints accessing datamodel schema to sync endpoints
  backend/src/Designer/Middleware/UserRequestSynchronization/Services/RequestSyncEvaluators/EndpointNameSyncEvaluator.cs
Labels: solution/studio/designer, backend

#14442 fix: prevent adding components from a different data model to the subform table
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/EditColumnElement.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/utils/editSubformTableColumnsUtils.test.ts
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/utils/editSubformTableColumnsUtils.ts
Labels: area/ui-editor, solution/studio/designer, frontend

#14487 fix: application insights requests
  backend/src/Designer/Program.cs
Labels: solution/studio/designer, backend, added-to-sprint, skip-manual-testing

#14450 fix: styling in subform table to be more similar the design
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/EditColumnElementContent.module.css
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/EditColumnElementContent.tsx
Labels: area/ui-editor, solution/studio/designer, added-to-sprint, frontend, team/studio-domain2

#14436 fix: error message when code list has invalid format
  frontend/language/src/nb.json
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.tsx
Labels: solution/studio/designer, skip-releasenotes, text/content, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14379 feat: update summary2 override configuration design
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/ComponentMainConfig.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/ComponentMainConfig.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/OverrideFields/CompactViewSwitch.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/OverrideFields/EmptyTextField.module.css
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/OverrideFields/EmptyTextField.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/OverrideFields/EmptyTextField.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/OverrideFields/ForceShowSwitch.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/OverrideFields/ShowEmptyFieldsSwitch.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/OverrideFields/Summary2OverrideDisplayType.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2Override.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2Override.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2OverrideEntry.module.css
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2OverrideEntry.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/index.ts
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2ComponentReferenceSelector.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Target/Summary2Target.tsx
Labels: area/ui-editor, solution/studio/designer, frontend

#14497 chore: PDF dependency patching
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes

#14500 refactor: add previewContextProviderProps to renderWithHooks function for testing
  frontend/app-development/test/mocks.tsx
Labels: solution/studio/designer, quality/testing, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation

#14469 fix: move icon next to label in `StudioIconTextfield`
  frontend/libs/studio-components/src/components/StudioIconTextfield/StudioIconTextfield.mdx
  frontend/libs/studio-components/src/components/StudioIconTextfield/StudioIconTextfield.module.css
  frontend/libs/studio-components/src/components/StudioIconTextfield/StudioIconTextfield.stories.tsx
  frontend/libs/studio-components/src/components/StudioIconTextfield/StudioIconTextfield.test.tsx
  frontend/libs/studio-components/src/components/StudioIconTextfield/StudioIconTextfield.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioToggleableTextfield.test.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfieldSchema/StudioToggleableTextfieldSchema.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CustomReceipt/CustomReceipt.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CustomReceipt/CustomReceipt.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/EditPageId.module.css
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/EditPageId.tsx
Labels: area/process, area/ui-editor, solution/studio/designer, skip-releasenotes, ux/accessebility, frontend, team/studio-domain1, skip-documentation

#14494 feat(app-deploy): Frontend support for undeploying an application in a selected environment
  frontend/app-development/features/appPublish/components/ConfirmUndeployDialog/ConfirmUndeployDialog.module.css
  frontend/app-development/features/appPublish/components/ConfirmUndeployDialog/ConfirmUndeployDialog.test.tsx
  frontend/app-development/features/appPublish/components/ConfirmUndeployDialog/ConfirmUndeployDialog.tsx
  frontend/app-development/features/appPublish/components/ConfirmUndeployDialog/index.ts
  frontend/app-development/features/appPublish/components/DeployMoreOptionsMenu/DeployMoreOptionsMenu.module.css
  frontend/app-development/features/appPublish/components/DeployMoreOptionsMenu/DeployMoreOptionsMenu.test.tsx
  frontend/app-development/features/appPublish/components/DeployMoreOptionsMenu/DeployMoreOptionsMenu.tsx
  frontend/app-development/features/appPublish/components/DeploymentEnvironment.tsx
  frontend/app-development/features/appPublish/components/DeploymentEnvironmentStatus.module.css
  frontend/app-development/features/appPublish/components/DeploymentEnvironmentStatus.tsx
  frontend/app-development/features/appPublish/components/UnDeploy/UnDeploy.test.tsx
  frontend/app-development/features/appPublish/components/UnDeploy/UnDeploy.tsx
  frontend/app-development/features/appPublish/components/UnDeploy/index.ts
  frontend/app-development/features/appPublish/components/UndeployConsequenceDialog/UndeployConsequenceDialog.test.tsx
  frontend/app-development/features/appPublish/components/UndeployConsequenceDialog/UndeployConsequenceDialog.tsx
  frontend/app-development/features/appPublish/components/UndeployConsequenceDialog/components/DialogContent.module.css
  frontend/app-development/features/appPublish/components/UndeployConsequenceDialog/components/DialogContent.test.tsx
  frontend/app-development/features/appPublish/components/UndeployConsequenceDialog/components/DialogContent.tsx
  frontend/app-development/features/appPublish/components/UndeployConsequenceDialog/components/ListItemWithLink.tsx
  frontend/app-development/features/appPublish/components/UndeployConsequenceDialog/components/Section/Section.module.css
  frontend/app-development/features/appPublish/components/UndeployConsequenceDialog/components/Section/Section.test.tsx
  frontend/app-development/features/appPublish/components/UndeployConsequenceDialog/components/Section/Section.tsx
  frontend/app-development/features/appPublish/components/UndeployConsequenceDialog/components/Section/index.ts
  frontend/app-development/features/appPublish/components/UndeployConsequenceDialog/consequences.data.ts
  frontend/app-development/features/appPublish/components/UndeployConsequenceDialog/utils/isItemWithLink.test.ts
  frontend/app-development/features/appPublish/components/UndeployConsequenceDialog/utils/isItemWithLink.ts
  frontend/app-development/hooks/mutations/useUndeployMutation.test.ts
  frontend/app-development/hooks/mutations/useUndeployMutation.ts
  frontend/language/src/nb.json
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/mocks/queriesMock.ts
Labels: area/app-deploy, solution/studio/designer, frontend, skip-manual-testing

#14502 refactor: add previewContextProviderProps to renderWithHooks function for testing
  frontend/app-development/test/mocks.tsx
Labels: solution/studio/designer, quality/testing, skip-releasenotes, frontend, skip-manual-testing, skip-documentation

#14489 feat: Update all Summary 2.0 components that has a reference to an updated component id
  backend/src/Designer/Controllers/AppDevelopmentController.cs
  backend/src/Designer/Enums/ReferenceType.cs
  backend/src/Designer/EventHandlers/ComponentIdChanged/ComponentIdChangedLayoutsHandler.cs
  backend/src/Designer/EventHandlers/LayoutPageIdChanged/LayoutPageIdChangedLayoutsHandler.cs
  backend/src/Designer/EventHandlers/LayoutSetIdChanged/LayoutSetIdChangedLayoutsHandler.cs
  backend/src/Designer/EventHandlers/ProcessTaskIdChanged/ProcessTaskIdChangedLayoutsHandler.cs
  backend/src/Designer/Events/LayoutPageIdChangedEvent.cs
  backend/src/Designer/Events/LayoutSetIdChangedEvent.cs
  backend/src/Designer/Hubs/SyncHub/SyncErrorCodes.cs
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/SaveFormLayoutTests.cs
  backend/tests/Designer.Tests/Controllers/AppDevelopmentController/UpdateFormLayoutNameTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-summary2-components-after-updating-references/App/ui/component/Settings.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-summary2-components-after-updating-references/App/ui/component/layouts/Side1.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-summary2-components-after-updating-references/App/ui/component/layouts/Side2.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-summary2-components-after-updating-references/App/ui/component2/Settings.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-summary2-components-after-updating-references/App/ui/component2/layouts/Side1.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-summary2-components-after-updating-references/App/ui/component2/layouts/Side2.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-summary2-components-after-updating-references/App/ui/layout-sets.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-summary2-components-after-updating-references/App/ui/layout/Settings.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-summary2-components-after-updating-references/App/ui/layout/layouts/Side1.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-summary2-components-after-updating-references/App/ui/layout/layouts/Side2-new.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-summary2-components-after-updating-references/App/ui/layout2/Settings.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-summary2-components-after-updating-references/App/ui/layout2/layouts/Side1.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-summary2-components-after-updating-references/App/ui/layout2/layouts/Side2.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-summary2-components-after-updating-references/App/ui/layoutSet-new/Settings.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-summary2-components-after-updating-references/App/ui/layoutSet-new/layouts/Side1.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-summary2-components-after-updating-references/App/ui/layoutSet-new/layouts/Side2.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-summary2-components-after-updating-references/App/ui/layoutSet2/Settings.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-summary2-components-after-updating-references/App/ui/layoutSet2/layouts/Side1.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-summary2-components-after-updating-references/App/ui/layoutSet2/layouts/Side2.json
Labels: solution/studio/designer, quality/testing, backend

#14395 feat(dashboard): Improve validation for missing permissions when creating new app
  frontend/dashboard/components/MakeCopyModal/MakeCopyModal.test.tsx
  frontend/dashboard/components/NewApplicationForm/NewApplicationForm.test.tsx
  frontend/dashboard/components/NewApplicationForm/NewApplicationForm.tsx
  frontend/dashboard/components/ServiceOwnerSelector/ServiceOwnerSelector.test.tsx
  frontend/dashboard/components/ServiceOwnerSelector/ServiceOwnerSelector.tsx
  frontend/dashboard/hooks/queries/useUserOrgPermissionsQuery.ts
  frontend/language/src/nb.json
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/QueryKey.ts
Labels: area/dashboard, solution/studio/designer, quality/testing, frontend, skip-manual-testing

#14478 fix: display beta tag with css
  frontend/app-development/features/overview/components/Navigation/Navigation.test.tsx
  frontend/app-development/features/overview/components/Navigation/Navigation.tsx
  frontend/app-development/layout/PageHeader/LargeNavigationMenu/LargeNavigationMenu.module.css
  frontend/app-development/layout/PageHeader/LargeNavigationMenu/LargeNavigationMenu.test.tsx
  frontend/app-development/layout/PageHeader/LargeNavigationMenu/LargeNavigationMenu.tsx
  frontend/app-development/layout/PageHeader/SmallHeaderMenu/SmallHeaderMenuItem/SmallHeaderMenuItem.test.tsx
  frontend/app-development/layout/PageHeader/SmallHeaderMenu/SmallHeaderMenuItem/SmallHeaderMenuItem.tsx
  frontend/libs/studio-components/src/components/StudioBetaTag/StudioBetaTag.stories.tsx
  frontend/libs/studio-components/src/components/StudioBetaTag/StudioBetaTag.test.tsx
  frontend/libs/studio-components/src/components/StudioBetaTag/StudioBetaTag.tsx
  frontend/libs/studio-components/src/components/StudioBetaTag/index.ts
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderHeaderLink/StudioPageHeaderHeaderLink.test.tsx
  frontend/libs/studio-components/src/components/StudioPageHeader/StudioPageHeaderHeaderLink/StudioPageHeaderHeaderLink.tsx
  frontend/libs/studio-components/src/components/index.ts
  frontend/libs/studio-components/src/index.ts
  frontend/libs/studio-components/src/style/studioBetaTag.module.css
Labels: kind/bug, solution/studio/designer, skip-releasenotes, area/overview, frontend, team/studio-domain1, skip-documentation

#14496 fix: Support unsetting the text resource in the text resource picker
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioCodelistEditor/test-data/texts.ts
  frontend/libs/studio-components/src/components/StudioInputTable/test-data/testTableData.ts
  frontend/libs/studio-components/src/components/StudioTextResourceInput/StudioTextResourceInput.stories.tsx
  frontend/libs/studio-components/src/components/StudioTextResourceInput/StudioTextResourceInput.test.tsx
  frontend/libs/studio-components/src/components/StudioTextResourceInput/StudioTextResourceInput.tsx
  frontend/libs/studio-components/src/components/StudioTextResourceInput/types/Mode.ts
  frontend/libs/studio-components/src/components/StudioTextResourceInput/types/TextResourceInputTexts.ts
  frontend/libs/studio-components/src/components/StudioTextResourcePicker/StudioTextResourcePicker.module.css
  frontend/libs/studio-components/src/components/StudioTextResourcePicker/StudioTextResourcePicker.stories.tsx
  frontend/libs/studio-components/src/components/StudioTextResourcePicker/StudioTextResourcePicker.test.tsx
  frontend/libs/studio-components/src/components/StudioTextResourcePicker/StudioTextResourcePicker.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/hooks/useCodeListEditorTexts.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/hooks/useOptionListEditorTexts.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14517 fix: missing texts
  frontend/language/src/nb.json
Labels: solution/studio/designer, frontend, skip-manual-testing

#14486 feat: Show warning when previewing a subform
  frontend/app-preview/src/views/LandingPage.test.tsx
  frontend/app-preview/src/views/LandingPage.tsx
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Preview/Preview.module.css
  frontend/packages/ux-editor/src/components/Preview/Preview.test.tsx
  frontend/packages/ux-editor/src/components/Preview/Preview.tsx
  frontend/packages/ux-editor/src/hooks/useGetLayoutSetByName.ts
Labels: area/ui-editor, area/app-preview, solution/studio/designer, text/content, frontend, team/studio-domain2

#14460 feat: reorganize summary2 config
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/ComponentMainConfig.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/ComponentMainConfig.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/ComponentMainConfig.tsx
  frontend/packages/ux-editor/src/components/RequiredIndicator.module.css
  frontend/packages/ux-editor/src/components/RequiredIndicator.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Target/Summary2Target.module.css
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Target/Summary2Target.tsx
Labels: area/ui-editor, solution/studio/designer, text/content, frontend, team/studio-domain2

#14470 feat: summary2 filter override components
  frontend/language/src/nb.json
  frontend/packages/shared/src/types/api/dto/LayoutSetModel.ts
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/ComponentMainConfig.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2Override.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2Override.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2OverrideEntry.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Component.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Component.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2ComponentReferenceSelector.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Target/targetUtils.ts
Labels: area/ui-editor, solution/studio/designer, text/content, frontend, team/studio-domain2

#14473 fix: summary2 set correct layoutset as default
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/ComponentMainConfig.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Component.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Target/Summary2Target.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Target/targetUtils.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#14530 feat: add paths for org-level code lists
  frontend/packages/shared/src/api/paths.js
Labels: solution/studio/designer, frontend

#14534 Org text resource mocks
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/mocks/codeListsResponse.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/mocks/textResourcesMock.ts
Labels: solution/studio/designer, team/studio, area/content-library, frontend, team/studio-domain1

#14512 fix: summary2 override combobox crash
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/OverrideFields/Summary2OverrideDisplayType.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2ComponentReferenceSelector.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, skip-manual-testing

#14525 fix: use built in provider declaration for previewContext in render function for mocks
  frontend/app-development/test/mocks.tsx
Labels: solution/studio/designer, quality/testing, skip-releasenotes, frontend, skip-manual-testing, skip-documentation

#14535 feat: add org content library
  frontend/dashboard/app/App.tsx
  frontend/dashboard/pages/OrgContentLibrary/OrgContentLibrary.test.tsx
  frontend/dashboard/pages/OrgContentLibrary/OrgContentLibrary.tsx
  frontend/dashboard/pages/OrgContentLibrary/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.tsx
  frontend/packages/shared/src/constants.js
Labels: area/dashboard, solution/studio/designer, frontend

#14520 feat: add hook to update appTitle
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/hooks/useUpdateAppTitle.test.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/hooks/useUpdateAppTitle.ts
Labels: kind/bug, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain2, skip-manual-testing, skip-documentation

#14521 feat: add function to get relevant app titles to display as input field
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/types/ServiceNames.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/utils/getAppTitlesToDisplay.test.ts
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/AboutTab/utils/getAppTitlesToDisplay.ts
Labels: kind/bug, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain2, skip-manual-testing, skip-documentation

#14549 chore: lock undeploy endpoint
  backend/src/Designer/Middleware/UserRequestSynchronization/Services/RequestSyncEvaluators/EndpointNameSyncEvaluator.cs
Labels: team/studio-core, skip-manual-testing

#14462 fix: use `StudioProperty.Group` and remove not added actions from gui
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/ActionsEditor/ActionsEditor.module.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/ActionsEditor/ActionsEditor.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/ActionsEditor/ActionsEditor.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditActions/EditActions.tsx
Labels: area/process, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#14529 feat: Update JSON schema for Summary2
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/Summary2.schema.v1.json
Labels: kind/feature-request, area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#14550 feat: gitea upgrade 1.22.5 -> 1.23.1
  gitea/Dockerfile
  gitea/files/custom/templates/base/head_navbar.tmpl
  gitea/files/locale/base/locale_en-US.ini
  gitea/files/locale/base/locale_nb-NO.ini
Labels: solution/studio/repos, team/studio-core, skip-manual-testing

#14449 fix: Use `StudioProperty.Button` as view-component for Toggle
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioProperty/StudioPropertyButton/StudioPropertyButton.module.css
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioTextfieldToggleView/StudioTextfieldToggleView.module.css
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioTextfieldToggleView/StudioTextfieldToggleView.test.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioTextfieldToggleView/StudioTextfieldToggleView.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioTextfieldToggleView/index.ts
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioToggleableTextfield.module.css
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioToggleableTextfield.stories.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioToggleableTextfield.test.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/StudioToggleableTextfield.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfield/index.ts
  frontend/libs/studio-components/src/components/StudioToggleableTextfieldSchema/StudioToggleableTextfieldSchema.stories.tsx
  frontend/libs/studio-components/src/components/StudioToggleableTextfieldSchema/StudioToggleableTextfieldSchema.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/EditCodeList.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/EditCodeList.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditLayoutSetName/EditLayoutSetName.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditLayoutSetName/EditLayoutSetName.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditTaskId/EditTaskId.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/CustomReceiptContent/CustomReceipt/CustomReceipt.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/EditPageId.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/EditPageId.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/PageConfigPanel.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditComponentIdRow/EditComponentIdRow.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditComponentIdRow/EditComponentIdRow.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/EditImage.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/ExternalImage/ExternalImage.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/ExternalImage/ExternalImage.tsx
  frontend/testing/playwright/pages/ProcessEditorPage/ProcessEditorPage.ts
  frontend/testing/playwright/pages/UiEditorPage.ts
  frontend/testing/playwright/tests/process-editor/process-editor.spec.ts
Labels: area/process, area/ui-editor, solution/studio/designer, quality/testing, skip-releasenotes, frontend, team/studio-domain1, skip-documentation

#14551 chore: PDF weekly patching - minor upgrades in pom.xml
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes
