Repository Altinn/altinn-studio, pull requests merged in 2025-09, with the labels that each got.

#16080 chore: Move StudioSectionHeader
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioSectionHeader/StudioSectionHeader.tsx
  src/Designer/frontend/libs/studio-components/src/components/StudioHeading/index.ts
  src/Designer/frontend/libs/studio-components/src/components/StudioSectionHeader/StudioSectionHeader.mdx
  src/Designer/frontend/libs/studio-components/src/components/StudioSectionHeader/StudioSectionHeader.module.css
  src/Designer/frontend/libs/studio-components/src/components/StudioSectionHeader/StudioSectionHeader.stories.tsx
  src/Designer/frontend/libs/studio-components/src/components/StudioSectionHeader/StudioSectionHeader.test.tsx
  src/Designer/frontend/libs/studio-components/src/components/StudioSectionHeader/StudioSectionHeader.tsx
  src/Designer/frontend/libs/studio-components/src/components/StudioSectionHeader/index.ts
  src/Designer/frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#16230 fix: typo in process editor alert
  src/Designer/frontend/language/src/nb.json
Labels: area/process, skip-releasenotes, frontend, skip-manual-testing, skip-documentation, squad/flyt

#16231 fix: return app text resources after import if org has no text resources (2)
  src/Designer/backend/src/Designer/Services/Implementation/OptionsService.cs
Labels: solution/studio/designer, skip-releasenotes, backend, area/content-library, skip-documentation, squad/data

#16186 fix: Add hideLegend prop to new fieldset component
  src/Designer/frontend/libs/studio-components/src/components/StudioFieldset/StudioFieldset.module.css
  src/Designer/frontend/libs/studio-components/src/components/StudioFieldset/StudioFieldset.stories.tsx
  src/Designer/frontend/libs/studio-components/src/components/StudioFieldset/StudioFieldset.test.tsx
  src/Designer/frontend/libs/studio-components/src/components/StudioFieldset/StudioFieldset.tsx
Labels: solution/studio/designer, quality/debt, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation

#16187 chore(resource-adm): replace legacy components
  src/Designer/frontend/resourceadm/app/App.tsx
  src/Designer/frontend/resourceadm/components/AccessListDetails/AccessListDetail.test.tsx
  src/Designer/frontend/resourceadm/components/AccessListDetails/AccessListDetail.tsx
  src/Designer/frontend/resourceadm/components/AccessListEnvLinks/AccessListEnvLinks.tsx
  src/Designer/frontend/resourceadm/components/AccessListErrorMessage/AccessListErrorMessage.tsx
  src/Designer/frontend/resourceadm/components/AccessListMembers/AccessListMembers.tsx
  src/Designer/frontend/resourceadm/components/AccessListMembers/AccessListMembersPaging.tsx
  src/Designer/frontend/resourceadm/components/AccessListMembers/AccessListMembersTable.tsx
  src/Designer/frontend/resourceadm/components/AccessListPreconditionFailedToast/AccessListPreconditionFailedToast.tsx
  src/Designer/frontend/resourceadm/components/ConsentPreview/ConsentPreview.tsx
  src/Designer/frontend/resourceadm/components/ErrorMessage/ErrorMessage.tsx
  src/Designer/frontend/resourceadm/components/FieldsetWrapper/FieldsetWrapper.tsx
  src/Designer/frontend/resourceadm/components/ImportAltinn3ResourceModal/ImportAltinn3ResourceModal.tsx
  src/Designer/frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.module.css
  src/Designer/frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.test.tsx
  src/Designer/frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.tsx
  src/Designer/frontend/resourceadm/components/ImportResourceModal/ServiceContent/ServiceContent.test.tsx
  src/Designer/frontend/resourceadm/components/ImportResourceModal/ServiceContent/ServiceContent.tsx
  src/Designer/frontend/resourceadm/components/LinkButton/LinkButton.tsx
  src/Designer/frontend/resourceadm/components/MergeConflict/MergeConflict.tsx
  src/Designer/frontend/resourceadm/components/MigrationPanel/MigrationPanel.module.css
  src/Designer/frontend/resourceadm/components/MigrationPanel/MigrationPanel.tsx
  src/Designer/frontend/resourceadm/components/NavigationModal/NavigationModal.tsx
  src/Designer/frontend/resourceadm/components/NewAccessListModal/NewAccessListModal.tsx
  src/Designer/frontend/resourceadm/components/NewResourceModal/NewResourceModal.tsx
  src/Designer/frontend/resourceadm/components/ResourceAccessLists/ResourceAccessLists.test.tsx
  src/Designer/frontend/resourceadm/components/ResourceAccessLists/ResourceAccessLists.tsx
  src/Designer/frontend/resourceadm/components/ResourceAdmDialogContent/ResourceAdmDialogContent.module.css
  src/Designer/frontend/resourceadm/components/ResourceAdmDialogContent/ResourceAdmDialogContent.tsx
  src/Designer/frontend/resourceadm/components/ResourceAdmHeader/ResourceAdmHeader.tsx
  src/Designer/frontend/resourceadm/components/ResourceContactPointFields/ResourceContactPointFields.test.tsx
  src/Designer/frontend/resourceadm/components/ResourceContactPointFields/ResourceContactPointFieldset.tsx
  src/Designer/frontend/resourceadm/components/ResourceDeployEnvCard/ResourceDeployEnvCard.tsx
  src/Designer/frontend/resourceadm/components/ResourceDeployStatus/ResourceDeployStatus.tsx
  src/Designer/frontend/resourceadm/components/ResourceNameAndId/ResourceNameAndId.tsx
  src/Designer/frontend/resourceadm/components/ResourcePageInputs/InputFieldErrorMessage.tsx
  src/Designer/frontend/resourceadm/components/ResourcePageInputs/ResourceCheckboxGroup.tsx
  src/Designer/frontend/resourceadm/components/ResourcePageInputs/ResourceFieldHeader.tsx
  src/Designer/frontend/resourceadm/components/ResourcePageInputs/ResourceLanguageTextField.tsx
  src/Designer/frontend/resourceadm/components/ResourcePageInputs/ResourceRadioGroup.tsx
  src/Designer/frontend/resourceadm/components/ResourcePageInputs/ResourceSwitchInput.tsx
  src/Designer/frontend/resourceadm/components/ResourceReferenceFields/ResourceReferenceFieldset.tsx
  src/Designer/frontend/resourceadm/components/ResourceSearchBox/ResourceSearchBox.tsx
  src/Designer/frontend/resourceadm/components/ResourceTable/ResourceTable.test.tsx
  src/Designer/frontend/resourceadm/components/ResourceTable/ResourceTable.tsx
  src/Designer/frontend/resourceadm/language/src/nb.json
  src/Designer/frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.test.tsx
  src/Designer/frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
  src/Designer/frontend/resourceadm/pages/AccessListPage/AccessListPage.test.tsx
  src/Designer/frontend/resourceadm/pages/AccessListPage/AccessListPage.tsx
  src/Designer/frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.tsx
  src/Designer/frontend/resourceadm/pages/ErrorPage/ErrorPage.tsx
  src/Designer/frontend/resourceadm/pages/ListAdminPage/ListAdminPage.tsx
  src/Designer/frontend/resourceadm/pages/MigrationPage/MigrationPage.tsx
  src/Designer/frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.test.tsx
  src/Designer/frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.tsx
  src/Designer/frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.test.tsx
  src/Designer/frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.tsx
  src/Designer/frontend/resourceadm/pages/ResourcePage/ResourcePage.test.tsx
  src/Designer/frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, skip-manual-testing

#16242 fix: deprecated components in EditPolicy
  src/Designer/frontend/language/src/nb.json
  src/Designer/frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.test.tsx
  src/Designer/frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditPolicy/EditPolicy.module.css
  src/Designer/frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditPolicy/EditPolicy.test.tsx
  src/Designer/frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditPolicy/EditPolicy.tsx
  src/Designer/frontend/testing/playwright/pages/ProcessEditorPage/PolicyConfig.ts
Labels: area/process, skip-releasenotes, frontend, skip-manual-testing, skip-documentation, squad/flyt

#16246 feat: added unit-tests back and use .skip instead
  src/Designer/frontend/testing/playwright/playwright.config.ts
  src/Designer/frontend/testing/playwright/tests/app-settings/app-settings.spec.ts
  src/Designer/frontend/testing/playwright/tests/dashboard/dashboard-navigation.spec.ts
  src/Designer/frontend/testing/playwright/tests/dashboard/dashboard.spec.ts
  src/Designer/frontend/testing/playwright/tests/data-model/data-model.spec.ts
  src/Designer/frontend/testing/playwright/tests/main-navigation-between-sub-apps/main-navigation-between-sub-apps.spec.ts
  src/Designer/frontend/testing/playwright/tests/process-editor/process-editor.spec.ts
  src/Designer/frontend/testing/playwright/tests/process-editor/task-actions.spec.ts
  src/Designer/frontend/testing/playwright/tests/text-editor/text-editor.spec.ts
  src/Designer/frontend/testing/playwright/tests/ui-editor/ui-editor-data-model-binding-and-gitea.spec.ts
  src/Designer/frontend/testing/playwright/tests/ui-editor/ui-editor.spec.ts
Labels: skip-releasenotes, skip-manual-testing

#16253 chore: update issue template with issue types
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/chore.yml
  .github/ISSUE_TEMPLATE/epic.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: skip-releasenotes, skip-manual-testing

#16279 test: Remove skip keyword from app settings tests
  src/Designer/frontend/testing/playwright/tests/app-settings/app-settings.spec.ts
Labels: quality/testing, skip-releasenotes, skip-manual-testing, skip-documentation, squad/utforming, squad/data, squad/kjøring, squad/flyt

#16288 feat: test template release and build
  .github/workflows/app-template-build-on-pr.yaml
Labels: skip-releasenotes, skip-manual-testing, squad/kjøring

#16295 chore(deps): gitea 1.24.2 -> 1.24.5
  src/gitea/Dockerfile
  src/gitea/files/locale/base/locale_nb-NO.ini
Labels: skip-releasenotes, skip-manual-testing

#16234 feat: add AI instructions for Designer backend
  src/Designer/backend/.CLAUDE.md
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, skip-manual-testing, skip-documentation, ai-exploration

#16302 fix: missing access message to deploy page
  src/Designer/frontend/app-development/features/appPublish/components/InfoCard.tsx
Labels: skip-releasenotes, skip-manual-testing, squad/kjøring

#16211 fix: Check response status code before deserializing (1)
  src/Designer/backend/src/Designer/Services/Implementation/GiteaAPIWrapper/GiteaAPIWrapper.cs
  src/Designer/backend/src/Designer/Services/Implementation/GiteaContentLibraryService.cs
Labels: solution/studio/designer, skip-releasenotes, backend, area/content-library, skip-documentation, squad/data

#16248 chore(resource-adm): replace legacy css in resource-adm
  src/Designer/frontend/resourceadm/app/App.css
  src/Designer/frontend/resourceadm/components/AccessListDetails/AccessListDetail.module.css
  src/Designer/frontend/resourceadm/components/AccessListDetails/AccessListDetail.tsx
  src/Designer/frontend/resourceadm/components/AccessListEnvLinks/AccessListEnvLinks.module.css
  src/Designer/frontend/resourceadm/components/AccessListMembers/AccessListMembers.module.css
  src/Designer/frontend/resourceadm/components/ConsentPreview/ConsentPreview.module.css
  src/Designer/frontend/resourceadm/components/ErrorMessage/errorMessage.module.css
  src/Designer/frontend/resourceadm/components/FieldsetWrapper/FieldsetWrapper.module.css
  src/Designer/frontend/resourceadm/components/FieldsetWrapper/FieldsetWrapper.tsx
  src/Designer/frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.module.css
  src/Designer/frontend/resourceadm/components/ImportResourceModal/ImportResourceModal.tsx
  src/Designer/frontend/resourceadm/components/ImportResourceModal/ServiceContent/ServiceContent.module.css
  src/Designer/frontend/resourceadm/components/MergeConflict/MergeConflict.module.css
  src/Designer/frontend/resourceadm/components/MigrationPanel/MigrationPanel.module.css
  src/Designer/frontend/resourceadm/components/NavigationModal/NavigationModal.tsx
  src/Designer/frontend/resourceadm/components/NewResourceModal/NewResourceModal.tsx
  src/Designer/frontend/resourceadm/components/ResourceAccessLists/ResourceAccessLists.module.css
  src/Designer/frontend/resourceadm/components/ResourceAdmHeader/ResourceAdmHeader.module.css
  src/Designer/frontend/resourceadm/components/ResourceContactPointFields/ResourceContactPointFieldset.module.css
  src/Designer/frontend/resourceadm/components/ResourceDeployEnvCard/ResourceDeployEnvCard.module.css
  src/Designer/frontend/resourceadm/components/ResourceDeployStatus/ResourceDeployStatus.module.css
  src/Designer/frontend/resourceadm/components/ResourceNameAndId/ResourceNameAndId.module.css
  src/Designer/frontend/resourceadm/components/ResourceNameAndId/ResourceNameAndId.tsx
  src/Designer/frontend/resourceadm/components/ResourcePageInputs/ResourceFieldHeader.tsx
  src/Designer/frontend/resourceadm/components/ResourcePageInputs/ResourcePageInputs.module.css
  src/Designer/frontend/resourceadm/components/ResourcePageInputs/ResourceSwitchInput.tsx
  src/Designer/frontend/resourceadm/components/ResourceSearchBox/ResourceSearchBox.module.css
  src/Designer/frontend/resourceadm/components/ResourceTable/ResourceTable.module.css
  src/Designer/frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.module.css
  src/Designer/frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.module.css
  src/Designer/frontend/resourceadm/pages/ErrorPage/ErrorPage.module.css
  src/Designer/frontend/resourceadm/pages/ListAdminPage/ListAdminPage.module.css
  src/Designer/frontend/resourceadm/pages/MigrationPage/MigrationPage.module.css
  src/Designer/frontend/resourceadm/pages/PolicyEditorPage/PolicyEditorPage.module.css
  src/Designer/frontend/resourceadm/pages/RedirectPage/RedirectPage.module.css
  src/Designer/frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.module.css
  src/Designer/frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.tsx
  src/Designer/frontend/resourceadm/utils/utility.module.css
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, skip-manual-testing

#16055 chore: added new TextResourceAction Componenent
  src/Designer/frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/EditColumnElement.test.tsx
  src/Designer/frontend/packages/ux-editor/src/components/Properties/Properties.tsx
  src/Designer/frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/TextMainConfig.test.tsx
  src/Designer/frontend/packages/ux-editor/src/components/Properties/Text.test.tsx
  src/Designer/frontend/packages/ux-editor/src/components/TasksTable/EditNameAction.tsx
  src/Designer/frontend/packages/ux-editor/src/components/TextResource/TextResource.test.tsx
  src/Designer/frontend/packages/ux-editor/src/components/TextResource/TextResource.tsx
  src/Designer/frontend/packages/ux-editor/src/components/TextResource/TextResourceEditor/TextResourceEditor.tsx
  src/Designer/frontend/packages/ux-editor/src/components/TextResource/TextResourceEditor/TextResourceValueEditor/TextResourceAction/TextResourceAction.module.css
  src/Designer/frontend/packages/ux-editor/src/components/TextResource/TextResourceEditor/TextResourceValueEditor/TextResourceAction/TextResourceAction.test.tsx
  src/Designer/frontend/packages/ux-editor/src/components/TextResource/TextResourceEditor/TextResourceValueEditor/TextResourceAction/TextResourceAction.tsx
  src/Designer/frontend/packages/ux-editor/src/components/TextResource/TextResourceEditor/TextResourceValueEditor/TextResourceAction/index.ts
  src/Designer/frontend/packages/ux-editor/src/components/TextResource/TextResourceEditor/TextResourceValueEditor/TextResourceValueEditor.test.tsx
  src/Designer/frontend/packages/ux-editor/src/components/TextResource/TextResourceEditor/TextResourceValueEditor/TextResourceValueEditor.tsx
  src/Designer/frontend/packages/ux-editor/src/components/config/editModal/EditTextResourceBindings/EditTextResourceBinding/EditTextResourceBinding.test.tsx
  src/Designer/frontend/testing/playwright/pages/UiEditorPage.ts
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain2, squad/utforming

#16352 chore(resource-adm): update consent preview styling after design changes
  src/Designer/frontend/resourceadm/components/ConsentPreview/ConsentPreview.module.css
  src/Designer/frontend/resourceadm/components/ConsentPreview/ConsentPreview.tsx
Labels: skip-releasenotes, skip-manual-testing

#16304 fix: Fix data model bindings of file upload components
  src/Designer/frontend/packages/ux-editor/src/components/Properties/DataModelBindings.test.tsx
  src/Designer/frontend/packages/ux-editor/src/components/Properties/DataModelBindings.tsx
Labels: kind/bug, area/ui-editor, skip-releasenotes, squad/utforming

#16330 refactor: Improve typing in `StudioInputTable`
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioInputTable/Cell/BaseInputCell.ts
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioInputTable/Cell/CellButton.tsx
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioInputTable/Cell/CellCheckbox.tsx
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioInputTable/Cell/CellNumberfield.tsx
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioInputTable/Cell/CellTextResource.tsx
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioInputTable/Cell/CellTextarea.tsx
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioInputTable/Cell/CellTextfield.tsx
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioInputTable/Cell/useEventProps.ts
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioInputTable/HeaderCell/HeaderCellCheckbox.tsx
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioInputTable/StudioInputTable.test.tsx
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioInputTable/StudioInputTable.tsx
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioInputTable/StudioInputTableContext.tsx
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioInputTable/dom-utils/caretUtils.test.tsx
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioInputTable/dom-utils/getNextInputElement.ts
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioInputTable/test-data/testTableData.ts
Labels: quality/code, skip-releasenotes, skip-manual-testing, skip-documentation, area/studio-components, squad/data

#16362 feat: new image upload component behind feature flag
  src/Designer/frontend/language/src/nb.json
  src/Designer/frontend/packages/shared/src/types/ApplicationAttachmentMetadata.ts
  src/Designer/frontend/packages/shared/src/types/ComponentSpecificConfig.ts
  src/Designer/frontend/packages/shared/src/types/ComponentType.ts
  src/Designer/frontend/packages/shared/src/utils/featureToggleUtils.ts
  src/Designer/frontend/packages/ux-editor/src/data/formItemConfig.test.ts
  src/Designer/frontend/packages/ux-editor/src/data/formItemConfig.ts
  src/Designer/frontend/packages/ux-editor/src/hooks/mutations/useAddItemToLayoutMutation.test.ts
  src/Designer/frontend/packages/ux-editor/src/hooks/mutations/useAddItemToLayoutMutation.ts
  src/Designer/frontend/packages/ux-editor/src/testing/componentSchemaMocks.ts
  src/Designer/frontend/packages/ux-editor/src/testing/schemas/json/component/ImageUpload.schema.v1.json
Labels: area/ui-editor, skip-releasenotes, skip-manual-testing, squad/utforming

#16333 chore(resource-adm): remove feature toggle for consent resource
  src/Designer/frontend/packages/shared/src/utils/featureToggleUtils.ts
  src/Designer/frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.tsx
Labels: skip-releasenotes, skip-manual-testing

#16329 chore: Moved StudioPageImageBackgroundContainer to @studio/component
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioPageImageBackgroundContainer/StudioPageImageBackgroundContainer.tsx
  src/Designer/frontend/libs/studio-components/src/components/StudioPageImageBackgroundContainer/StudioPageImageBackgroundContainer.module.css
  src/Designer/frontend/libs/studio-components/src/components/StudioPageImageBackgroundContainer/StudioPageImageBackgroundContainer.stories.tsx
  src/Designer/frontend/libs/studio-components/src/components/StudioPageImageBackgroundContainer/StudioPageImageBackgroundContainer.test.tsx
  src/Designer/frontend/libs/studio-components/src/components/StudioPageImageBackgroundContainer/StudioPageImageBackgroundContainer.tsx
  src/Designer/frontend/libs/studio-components/src/components/StudioPageImageBackgroundContainer/index.ts
  src/Designer/frontend/libs/studio-components/src/components/index.ts
Labels: skip-releasenotes, squad/utforming

#16284 chore: replaced StudioCodeFragment from legacy
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubExpressionValueReadonly/SubexpressionValueReadonly.tsx
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioTextResourceInput/StudioTextResourceInput.tsx
  src/Designer/frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/EditColumnElementContent.tsx
  src/Designer/frontend/packages/ux-editor/src/components/TextResource/TextResourceEditor/TextResourceValueEditor/TextResourceValueEditor.tsx
  src/Designer/frontend/packages/ux-editor/src/components/config/Expressions/Expressions.module.css
  src/Designer/frontend/packages/ux-editor/src/components/config/Expressions/Expressions.tsx
  src/Designer/frontend/studio-root/pages/FlagsPage/FlagsPage.tsx
  src/cli/README.md
Labels: skip-releasenotes, skip-manual-testing, squad/utforming

#16280 chore: replaced StudioAvatar from legacy
  src/Designer/frontend/admin/layout/PageHeader.tsx
  src/Designer/frontend/app-development/layout/PageHeader/PageHeader.tsx
  src/Designer/frontend/app-development/layout/PageHeader/SmallHeaderMenu/SmallHeaderMenu.tsx
  src/Designer/frontend/dashboard/pages/PageLayout/DashboardHeader/DashboardHeader.tsx
  src/Designer/frontend/dashboard/pages/PageLayout/DashboardHeader/SmallHeaderMenu/SmallHeaderMenu.tsx
Labels: skip-releasenotes, skip-manual-testing, squad/utforming

#16163 chore: replace studioHeading from legacy
  src/Designer/frontend/app-development/features/appPublish/components/UndeployConsequenceDialog/components/Section/Section.tsx
  src/Designer/frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/LandingPagePanel.tsx
  src/Designer/frontend/dashboard/components/Resources/Resources.tsx
  src/Designer/frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.tsx
  src/Designer/frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/ImagesPage/ImagesPage.tsx
  src/Designer/frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/LandingPage/LandingPage.tsx
  src/Designer/frontend/libs/studio-content-library/src/ContentLibrary/LibraryHeader/LibraryHeader.tsx
  src/Designer/frontend/packages/policy-editor/src/components/PolicySummary/PolicySummary.tsx
  src/Designer/frontend/packages/shared/src/components/MergeConflictWarning/MergeConflictWarning.tsx
  src/Designer/frontend/packages/shared/src/components/MergeConflictWarning/RemoveChangesPopoverContent/RemoveChangesPopoverContent.tsx
  src/Designer/frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/EditSubformTableColumns.tsx
  src/Designer/frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/SubformMissingContentWarning/SubformMissingContentWarning.tsx
  src/Designer/frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/PdfConfig/PdfConfigCard/PdfConfigCard.tsx
  src/Designer/frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/HeaderMainConfig.tsx
  src/Designer/frontend/packages/ux-editor/src/components/Settings/SettingsTabs.tsx
  src/Designer/frontend/packages/ux-editor/src/components/TaskNavigation/TaskCard.tsx
  src/Designer/frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Target/Summary2Target.tsx
  src/Designer/frontend/packages/ux-editor/src/components/config/editModal/EditImage/LocalImage/ImportImage/AddImageFromLibrary/ChooseFromLibrary/ImageLibraryPreview.tsx
  src/Designer/frontend/packages/ux-editor/src/containers/DesignView/AddItem/DefaultItems.tsx
  src/Designer/frontend/packages/ux-editor/src/containers/DesignView/AddItem/ItemCategory/ItemCategory.tsx
  src/Designer/frontend/packages/ux-editor/src/containers/DesignView/AddItem/ItemInfo/ItemInfo.tsx
  src/Designer/frontend/packages/ux-editor/src/containers/DesignView/PageGroupAccordion.tsx
  src/Designer/frontend/studio-root/components/ContactSection/ContactSection.tsx
  src/Designer/frontend/studio-root/pages/Contact/ContactPage.tsx
  src/Designer/frontend/studio-root/pages/FlagsPage/FlagsPage.tsx
Labels: area/data-modeling, area/ui-editor, area/dashboard, area/app-deploy, area/authorization, skip-releasenotes, area/studio-root, frontend, team/studio-domain1, team/studio-domain2, skip-manual-testing, squad/utforming

#16351 feat: new deploy pipeline
  src/App/azure-pipelines/deploy-app.yaml
Labels: skip-releasenotes, skip-manual-testing, squad/kjøring

#16250 chore: replaced StudioDecimalInput from legacy
  src/Designer/frontend/libs/studio-components-legacy/src/components/StudioInputTable/Cell/CellNumberfield.tsx
  src/Designer/frontend/packages/ux-editor/src/components/config/editModal/EditNumberValue.tsx
Labels: skip-releasenotes, skip-manual-testing, squad/utforming

#16383 chore: replace StudioSearch from legacy
  src/Designer/frontend/admin/features/apps/components/AppsTable.tsx
Labels: skip-releasenotes, skip-manual-testing, squad/utforming

#16381 ci: Add .eslintcache to .gitignore
  .gitignore
Labels: skip-releasenotes, skip-manual-testing, skip-documentation, squad/utforming, squad/data, squad/kjøring, squad/flyt

#16421 fix(resource-adm): fix field going from controlled to uncontrolled if language key is missing
  src/Designer/frontend/resourceadm/components/ResourcePageInputs/ResourceLanguageTextField.tsx
  src/Designer/frontend/resourceadm/pages/AboutResourcePage/AboutResourcePage.test.tsx
Labels: skip-releasenotes, skip-manual-testing

#16428 chore: cleanup ADRs
  docs/adr/001-signing-interface.md
  docs/adr/002-signing-transaction-handling.md
  docs/adr/003-signing-configuration.md
  docs/adr/004-app-component-library.md
  docs/adr/005-signing-notify-delegatee.md
  docs/adr/006-environment-specific-config.md
  docs/adr/template.md
  src/App/frontend/renovate.json
Labels: skip-releasenotes, skip-manual-testing

#16386 chore: migrated StudioSectionHeader to DS
  docs/adr/001-signing-interface.md
  docs/adr/002-signing-transaction-handling.md
  docs/adr/003-signing-configuration.md
  docs/adr/005-signing-notify-delegatee.md
  docs/adr/006-environment-specific-config.md
  docs/adr/template.md
  src/Designer/frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContentContainer.tsx
  src/Designer/frontend/packages/process-editor/src/components/ConfigPanel/ConfigEndEvent/ConfigEndEvent.tsx
  src/Designer/frontend/packages/process-editor/src/components/ConfigPanel/ConfigSequenceFlow/ConfigSequenceFlow.tsx
  src/Designer/frontend/packages/process-editor/src/components/ConfigViewerPanel/ConfigViewerPanel.tsx
  src/Designer/frontend/packages/ux-editor/src/components/Properties/GroupConfigPanel/GroupConfigPanel.tsx
  src/Designer/frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/PageConfigPanel.tsx
  src/Designer/frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/PageConfigWarning.tsx
  src/Designer/frontend/packages/ux-editor/src/components/Properties/Properties.tsx
  src/Designer/frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.tsx
  src/Designer/frontend/packages/ux-editor/src/containers/DesignViewNavigation/DesignViewNavigation.tsx
Labels: skip-releasenotes, skip-manual-testing, squad/utforming

#16394 feat: codelist api changes
  src/Designer/backend/src/Designer/Controllers/Organisation/OrgCodeListController.cs
  src/Designer/backend/src/Designer/Exceptions/CodeList/IllegalCommitMessageException.cs
  src/Designer/backend/src/Designer/Exceptions/CodeList/IllegalFileNameException.cs
  src/Designer/backend/src/Designer/Helpers/CodeListUtils.cs
  src/Designer/backend/src/Designer/Helpers/Extensions/DictionaryExtensions.cs
  src/Designer/backend/src/Designer/Helpers/InputValidator.cs
  src/Designer/backend/src/Designer/Infrastructure/GitRepository/AltinnOrgGitRepository.cs
  src/Designer/backend/src/Designer/Models/Code.cs
  src/Designer/backend/src/Designer/Models/CodeList.cs
  src/Designer/backend/src/Designer/Models/CodeListSource.cs
  src/Designer/backend/src/Designer/Models/Dto/CodeListWrapper.cs
  src/Designer/backend/src/Designer/Models/Dto/FileOperation.cs
  src/Designer/backend/src/Designer/Models/Dto/FileOperationContext.cs
  src/Designer/backend/src/Designer/Models/Dto/GiteaBadRequestDto.cs
  src/Designer/backend/src/Designer/Models/Dto/GiteaIdentity.cs
  src/Designer/backend/src/Designer/Models/Dto/GiteaMultipleFilesDto.cs
  src/Designer/backend/src/Designer/Models/Dto/UpdateCodeListRequest.cs
  src/Designer/backend/src/Designer/Services/Implementation/GiteaAPIWrapper/GiteaAPIWrapper.cs
  src/Designer/backend/src/Designer/Services/Implementation/GiteaContentLibraryService.cs
  src/Designer/backend/src/Designer/Services/Implementation/Organisation/OrgCodeListService.cs
  src/Designer/backend/src/Designer/Services/Interfaces/IGitea.cs
  src/Designer/backend/src/Designer/Services/Interfaces/Organisation/IOrgCodeListService.cs
  src/Designer/backend/tests/Designer.Tests/Controllers/OptionsController/ImportOptionsListFromOrgTests.cs
  src/Designer/backend/tests/Designer.Tests/Controllers/OrgCodeListController/GetCodeListsNewTests.cs
  src/Designer/backend/tests/Designer.Tests/Controllers/OrgCodeListController/GetCodeListsTests.cs
  src/Designer/backend/tests/Designer.Tests/Controllers/OrgCodeListController/UpdateCodeListIdTests.cs
  src/Designer/backend/tests/Designer.Tests/Controllers/OrgCodeListController/UpdateCodeListsNewTests.cs
  src/Designer/backend/tests/Designer.Tests/Controllers/OrgContentController/GetOrgContentReferencesTests.cs
  src/Designer/backend/tests/Designer.Tests/Helpers/DictionaryExtensionsTests.cs
  src/Designer/backend/tests/Designer.Tests/Helpers/InputValidatorTests.cs
  src/Designer/backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnOrgGitRepositoryTests.cs
  src/Designer/backend/tests/Designer.Tests/Mocks/IGiteaMock.cs
  src/Designer/backend/tests/Designer.Tests/Models/CodeTests.cs
  src/Designer/backend/tests/Designer.Tests/Services/GiteaAPIWrapperTest.cs
  src/Designer/backend/tests/Designer.Tests/Services/GiteaContentLibraryServiceTests.cs
  src/Designer/backend/tests/Designer.Tests/Services/OptionsServiceTests.cs
  src/Designer/backend/tests/Designer.Tests/Services/OrgCodeListServiceTests.cs
  src/Designer/backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/CodeListsWithTextResources/codeListBoolean.json
  src/Designer/backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/CodeListsWithTextResources/codeListMissingLabel.json
  src/Designer/backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/CodeListsWithTextResources/codeListMissingValue.json
  src/Designer/backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/CodeListsWithTextResources/codeListNumber.json
  src/Designer/backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/CodeListsWithTextResources/codeListString.json
  src/Designer/backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/CodeListsWithTextResources/codeListTrailingComma.json
  src/Designer/backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/CodeListsWithTextResources/codeListWithTextResources.json
Labels: quality/testing, skip-releasenotes, backend, squad/data, solution/studio/designer

#16438 chore: cleanup and standardize GH actions workflows
  .github/workflows/app-backend-codeql.yml
  .github/workflows/app-backend-formatting.yml
  .github/workflows/app-backend-tests.yml
  .github/workflows/app-frontend-codeql.yml
  .github/workflows/app-frontend-cypress.yml
  .github/workflows/app-frontend-unit-tests.yml
  .github/workflows/app-template-build-on-pr.yaml
  .github/workflows/app-template-test.yml
  .github/workflows/cli-build-test.yaml
  .github/workflows/designer-backend-check-quartz-update.yml
  .github/workflows/designer-backend-codeql.yml
  .github/workflows/designer-backend-dotnet-format.yaml
  .github/workflows/designer-backend-dotnet-migrations-ensure-compatibility.yaml
  .github/workflows/designer-backend-dotnet-test.yaml
  .github/workflows/designer-backend-gitea-and-db-integration-tests.yaml
  .github/workflows/designer-frontend-config-coverage.yml
  .github/workflows/designer-frontend-playwright-staging.yml
  .github/workflows/designer-frontend-run-playwright-on-pr.yaml
  .github/workflows/designer-frontend-unit-tests.yml
  .github/workflows/gitea-check-texts-file.yml
  .github/workflows/lint-pr.yaml
  .github/workflows/runtime-kubernetes-wrapper-dotnet-format.yaml
  .github/workflows/runtime-kubernetes-wrapper-integrationtests-kind.yaml
  .github/workflows/runtime-localtest-build.yml
  .github/workflows/studio-admin-dotnet-format.yml
Labels: skip-releasenotes, skip-manual-testing
