Repository Altinn/altinn-studio, pull requests merged in 2025-04, with the labels that each got.

#15057 feat: add layoutSettings json parser
  backend/src/Designer/Controllers/LayoutController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Models/AutoSaveBehaviourType.cs
  backend/src/Designer/Models/Dto/GroupDto.cs
  backend/src/Designer/Models/Dto/PageDto.cs
  backend/src/Designer/Models/Dto/Pages.cs
  backend/src/Designer/Models/Dto/PagesDto.cs
  backend/src/Designer/Models/Group.cs
  backend/src/Designer/Models/GroupType.cs
  backend/src/Designer/Models/LayoutSettings.cs
  backend/src/Designer/Models/Pages.cs
  backend/src/Designer/Services/Implementation/LayoutService.cs
  backend/src/Designer/Services/Interfaces/ILayoutService.cs
Labels: solution/studio/designer, quality/testing, backend, team/studio-domain2

#15101 fix: Correct typing for text resource endpoints
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/hooks/mutations/useCreateTextResourcesForOrgMutation.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateTextResourcesForOrgMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateTextResourcesForOrgMutation.ts
Labels: solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15100 chore: Remove unused error codes
  backend/src/Designer/Filters/AppDevelopment/AppDevelopmentErrorCodes.cs
  backend/src/Designer/Filters/AppDevelopment/AppDevelopmentInfoCodes.cs
  frontend/language/src/nb.json
Labels: solution/studio/designer, backend, added-to-sprint, frontend, team/studio-domain2, skip-manual-testing

#14814 feat: Main section text and binding
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Properties/Properties.test.tsx
  frontend/packages/ux-editor/src/components/Properties/Properties.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/ComponentMainConfig.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/DataModelMainConfig.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/DataModelMainConfig.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/HeaderMainConfig.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/PropertiesHeader.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/SpecificMainConfig/SummaryMainConfig.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/SpecificMainConfig/SummaryMainConfig.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/TextMainConfig.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/TextMainConfig.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2Override.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2Override.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Component.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/UndefinedBinding/UndefinedBinding.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15118 test: add universal datetime conversion - AltinnAppGitRepositoryTests
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnAppGitRepositoryTests.cs
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, team/studio-domain1, skip-manual-testing, skip-documentation

#15058 feat: create `isLayoutUsingPageGroups` service layer helper
  backend/src/Designer/Services/Implementation/LayoutService.cs
  backend/src/Designer/Services/Interfaces/ILayoutService.cs
  backend/tests/Designer.Tests/Services/LayoutServiceTests.cs
Labels: solution/studio/designer, quality/testing, backend, team/studio-domain2, skip-manual-testing

#15059 feat: create pagegroup <-> pageorder conversion endpoints
  backend/src/Designer/Controllers/LayoutController.cs
  backend/src/Designer/Services/Implementation/LayoutService.cs
  backend/src/Designer/Services/Interfaces/ILayoutService.cs
  backend/tests/Designer.Tests/Services/LayoutServiceTests.cs
Labels: solution/studio/designer, quality/testing, backend, team/studio-domain2, skip-manual-testing

#15105 refactor: move layout dto out of service layer
  backend/src/Designer/Controllers/LayoutController.cs
  backend/src/Designer/Models/Dto/PagesDto.cs
  backend/src/Designer/Services/Implementation/LayoutService.cs
  backend/src/Designer/Services/Interfaces/ILayoutService.cs
  backend/tests/Designer.Tests/Services/LayoutServiceTests.cs
Labels: solution/studio/designer, quality/testing, backend, team/studio-domain2, skip-manual-testing

#15083 refactor: task navigation
  backend/src/Designer/Controllers/TaskNavigationController.cs
  backend/src/Designer/Converters/TaskNavigationGroupJsonConverter.cs
  backend/src/Designer/Helpers/Extensions/EnumExtensions.cs
  backend/src/Designer/Mappers/TaskNavigationGroupMapper.cs
  backend/src/Designer/Models/LayoutSets.cs
  backend/src/Designer/Services/Implementation/TaskNavigationService.cs
  backend/src/Designer/Services/Interfaces/ITaskNavigationService.cs
Labels: solution/studio/designer, backend, team/studio-domain2, skip-manual-testing

#15081 feat: Add functions to get IDs on org level
  backend/src/Designer/Infrastructure/GitRepository/AltinnOrgGitRepository.cs
  backend/src/Designer/Services/Implementation/Organisation/OrgCodeListService.cs
  backend/src/Designer/Services/Implementation/Organisation/OrgTextsService.cs
  backend/src/Designer/Services/Interfaces/Organisation/IOrgCodeListService.cs
  backend/src/Designer/Services/Interfaces/Organisation/IOrgTextsService.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnOrgGitRepositoryTests.cs
  backend/tests/Designer.Tests/Services/OrgCodeListServiceTests.cs
  backend/tests/Designer.Tests/Services/OrgTextsServiceTests.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/org-content/Texts/resource.en.json
Labels: area/text-editor, solution/studio/designer, quality/testing, skip-releasenotes, backend, area/content-library, team/studio-domain1, skip-documentation

#15125 fix: tests eformidling client load error fix
  backend/src/Designer/Helpers/AltinnAssembliesScanner.cs
Labels: solution/studio/designer, backend, skip-manual-testing

#15114 refactor: remove default size from StudioHeading
  frontend/libs/studio-components/src/components/StudioHeading/StudioHeading.test.tsx
  frontend/libs/studio-components/src/components/StudioHeading/StudioHeading.tsx
Labels: solution/studio/designer, added-to-sprint, frontend, team/studio-domain1, team/studio-core, skip-manual-testing

#15115 refactor: remove default size from StudioParagraph
  frontend/libs/studio-components/src/components/StudioParagraph/StudioParagraph.test.tsx
  frontend/libs/studio-components/src/components/StudioParagraph/StudioParagraph.tsx
Labels: solution/studio/designer, added-to-sprint, frontend, team/studio-domain1, team/studio-core, skip-manual-testing

#15110 fix: Change text resource update endpoint method from put to patch
  backend/src/Designer/Controllers/Organisation/OrgTextController.cs
  backend/tests/Designer.Tests/Controllers/OrgTextController/UpdateResourceTests.cs
Labels: area/text-editor, solution/studio/designer, quality/code, quality/testing, skip-releasenotes, backend, team/studio-domain1, skip-manual-testing, skip-documentation

#15122 fix: UTC for deployments
  .github/workflows/designer-gitea-and-db-integration-tests.yaml
  backend/src/Designer/Repository/ORMImplementation/Mappers/BuildMapper.cs
  backend/src/Designer/Repository/ORMImplementation/Mappers/DeploymentMapper.cs
  backend/tests/Designer.Tests/Controllers/ApiTests/ApiTestsAuthAndCookieDelegatingHandler.cs
  backend/tests/Designer.Tests/Controllers/DeploymentsController/GetDeploymentsTests.cs
  backend/tests/Designer.Tests/DbIntegrationTests/DeploymentEntityRepository/Utils/DeploymentEntityDesignerDbFixtureExtensions.cs
Labels: area/app-deploy, solution/studio/designer, quality/testing, skip-releasenotes, backend, skip-manual-testing

#15102 feat: add StudioDropdown.FileUploaderButton
  frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdown.stories.tsx
  frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdown.test.tsx
  frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdownFileUploaderButton/StudioDropdownFileUploaderButton.module.css
  frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdownFileUploaderButton/StudioDropdownFileUploaderButton.tsx
  frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdownFileUploaderButton/index.ts
  frontend/libs/studio-components/src/components/StudioDropdown/index.ts
Labels: solution/studio/designer, frontend, team/studio-domain1, team/studio-core, skip-manual-testing

#15108 feat: add new StudioField component
  frontend/libs/studio-components/src/components/StudioField/StudioField.test.tsx
  frontend/libs/studio-components/src/components/StudioField/StudioField.tsx
  frontend/libs/studio-components/src/components/StudioField/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, added-to-sprint, frontend, team/studio-domain1, team/studio-core, skip-manual-testing

#15127 fix: fixing so that studio-components can be used
  frontend/libs/studio-components/package.json
  frontend/libs/studio-components/src/components/StudioDropdown/context/StudioDropdownContext.test.tsx
  frontend/libs/studio-components/src/components/index.ts
  yarn.lock
Labels: solution/studio/designer, kind/dependencies, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15126 chore: change process to arbeidsflyt
  frontend/language/src/nb.json
Labels: area/process, solution/studio/designer, added-to-sprint, text/content, frontend, team/studio-domain2

#15111 feat: Endpoint for getting organisation content IDs
  backend/src/Designer/Controllers/Organisation/OrgContentController.cs
  backend/src/Designer/Enums/LibraryContentType.cs
  backend/tests/Designer.Tests/Controllers/OrgLibraryController/GetOrgContentIdsTests.cs
Labels: area/text-editor, solution/studio/designer, quality/testing, skip-releasenotes, backend, area/content-library, team/studio-domain1, skip-manual-testing, skip-documentation

#15133 fix: Correct query keys for organisation text resources
  frontend/packages/shared/src/hooks/mutations/useUpdateTextResourcesForOrgMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useUpdateTextResourcesForOrgMutation.ts
Labels: kind/bug, solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15142 refactor: Capitalise properties in LayoutSetModel
  backend/src/Designer/Models/Dto/LayoutSetModel.cs
  backend/src/Designer/Models/Dto/LayoutSetsModel.cs
  backend/src/Designer/Models/Dto/TaskModel.cs
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
Labels: solution/studio/designer, skip-releasenotes, backend, team/studio-domain2, skip-manual-testing, skip-documentation

#15141 fix: Rewrite useCreateTextResourcesForOrgMutation
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/hooks/mutations/useCreateTextResourcesForOrgMutation.test.ts
  frontend/packages/shared/src/hooks/mutations/useCreateTextResourcesForOrgMutation.ts
Labels: kind/bug, solution/studio/designer, quality/code, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15143 chore: Update lombok
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes

#15145 feat: add new StudioValidationMessage
  frontend/libs/studio-components/src/components/StudioValidationMessage/StudioValidationMessage.test.tsx
  frontend/libs/studio-components/src/components/StudioValidationMessage/StudioValidationMessage.tsx
  frontend/libs/studio-components/src/components/StudioValidationMessage/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15112 feat: add new StudioSelect
  frontend/libs/studio-components/src/components/StudioSelect/StudioSelect.mdx
  frontend/libs/studio-components/src/components/StudioSelect/StudioSelect.module.css
  frontend/libs/studio-components/src/components/StudioSelect/StudioSelect.stories.tsx
  frontend/libs/studio-components/src/components/StudioSelect/StudioSelect.test.tsx
  frontend/libs/studio-components/src/components/StudioSelect/StudioSelect.tsx
  frontend/libs/studio-components/src/components/StudioSelect/StudioSelectOption.tsx
  frontend/libs/studio-components/src/components/StudioSelect/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, added-to-sprint, frontend, team/studio-domain1, team/studio-core, skip-manual-testing

#15138 feat(policy-editor): Show unknown access packages if selected (to allow user to remove it)
  frontend/language/src/nb.json
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/ChosenAccessPackages/ChosenAccessPackages.test.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/ChosenAccessPackages/ChosenAccessPackages.tsx
Labels: solution/studio/designer, area/authorization, skip-releasenotes, frontend, skip-manual-testing

#15128 feat(policy-editor): show resources connected to access packages in both TT02 and prod
  frontend/language/src/nb.json
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/PolicyAccessPackageAccordion/PolicyAccessPackageAccordion.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/PolicyAccessPackageAccordion/PolicyAccessPackageAccordionContent/PolicyAccessPackageAccordionContent.module.css
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/PolicyAccessPackageAccordion/PolicyAccessPackageAccordionContent/PolicyAccessPackageAccordionContent.test.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/PolicyAccessPackageAccordion/PolicyAccessPackageAccordionContent/PolicyAccessPackageAccordionContent.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/PolicyAccessPackageAccordion/PolicyAccessPackageServices/PolicyAccessPackageServices.module.css
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/PolicyAccessPackageAccordion/PolicyAccessPackageServices/PolicyAccessPackageServices.tsx
Labels: solution/studio/designer, area/authorization, skip-releasenotes, frontend, skip-manual-testing

#15116 feat: add data-size at body element to affect entire app
  backend/src/Designer/Views/Shared/_Layout.cshtml
Labels: area/dashboard, solution/studio/designer, backend, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15136 fix: Replace mock requests with real requests for text resources
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
Labels: solution/studio/designer, quality/debt, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14965 chore: Send Gitea logs to Azure
  gitea/files/conf/app.ini
Labels: solution/studio/repos, team/studio-core, skip-manual-testing

#15137 feat: add new StudioDialog
  frontend/libs/studio-components/src/components/StudioButton/index.ts
  frontend/libs/studio-components/src/components/StudioDialog/StudioDialog.stories.tsx
  frontend/libs/studio-components/src/components/StudioDialog/StudioDialog.test.tsx
  frontend/libs/studio-components/src/components/StudioDialog/StudioDialog.tsx
  frontend/libs/studio-components/src/components/StudioDialog/StudioDialogBlock/StudioDialogBlock.tsx
  frontend/libs/studio-components/src/components/StudioDialog/StudioDialogBlock/index.ts
  frontend/libs/studio-components/src/components/StudioDialog/StudioDialogTrigger/StudioDialogTrigger.test.tsx
  frontend/libs/studio-components/src/components/StudioDialog/StudioDialogTrigger/StudioDialogTrigger.tsx
  frontend/libs/studio-components/src/components/StudioDialog/StudioDialogTrigger/index.ts
  frontend/libs/studio-components/src/components/StudioDialog/StudioDialogTriggerContext/StudioDialogTriggerContext.tsx
  frontend/libs/studio-components/src/components/StudioDialog/StudioDialogTriggerContext/index.ts
  frontend/libs/studio-components/src/components/StudioDialog/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15164 fix: ensure org is updated during copying of app
  backend/src/Designer/Services/Implementation/RepositorySI.cs
Labels: solution/studio/designer, backend, team/studio-core, skip-manual-testing

#15146 fix(resource-adm): allow digdir org to publish resources to AT and YT environments
  backend/src/Designer/Controllers/ResourceAdminController.cs
  frontend/resourceadm/language/src/nb.json
  frontend/resourceadm/utils/resourceUtils/resourceUtils.ts
Labels: solution/studio/designer, skip-releasenotes, backend, frontend, skip-manual-testing

#15173 feat: StudioTag component
  frontend/libs/studio-components/src/components/StudioTag/StudioTag.test.tsx
  frontend/libs/studio-components/src/components/StudioTag/StudioTag.tsx
  frontend/libs/studio-components/src/components/StudioTag/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15144 fix(policy-editor): add isDelegable field to access packages
  backend/PolicyAdmin/Models/AccessPackageOption.cs
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/AllAccessPackages.test.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/ChosenAccessPackages/ChosenAccessPackages.test.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/ChosenAccessPackages/ChosenAccessPackages.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/PolicyAccessPackageAccordion/PolicyAccessPackageAccordion.test.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/PolicyAccessPackageAccordion/PolicyAccessPackageAccordionCheckbox/PolicyAccessPackageAccordionCheckbox.test.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/PolicyAccessPackages.test.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/PolicyAccessPackages.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/policyAccessPackageUtils.test.ts
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/policyAccessPackageUtils.ts
  frontend/packages/policy-editor/src/components/PolicySummary/PolicyRuleSummary/PolicyRuleAccessPackageSummary.test.tsx
  frontend/packages/policy-editor/src/components/PolicySummary/PolicySummary.test.tsx
  frontend/packages/shared/src/types/PolicyAccessPackages.ts
Labels: solution/studio/designer, area/authorization, skip-releasenotes, backend, frontend, skip-manual-testing

#15140 fix(policy-editor): remove access package area icons
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/AllAccessPackages.test.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/AllAccessPackages.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/administrere_tilganger.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/andre_tjenesteytende_naeringer.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/bygg_anlegg_og_eiendom.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/energi_vann_avlop_og_avfall.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/forhold_ved_virksomheten.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/fullmakter_for_konkursbo.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/fullmakter_for_regnskapsforer.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/fullmakter_for_revisor.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/handel_overnatting_og_servering.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/helse_pleie_omsorg_og_vern.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/index.ts
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/industrier.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/integrasjoner.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/jordbruk_skogbruk_jakt_fiske_og_akvakultur.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/kultur_og_frivillighet.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/miljo_ulykke_og_sikkerhet.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/oppvekst_og_utdaning.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/personale.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/post_og_arkiv.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/skatt_avgift_regnskap_og_toll.svg
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/Icons/transport_og_lagring.svg
Labels: solution/studio/designer, area/authorization, skip-releasenotes, frontend, skip-manual-testing

#15162 chore: Return empty array when task navigation is missing
  backend/src/Designer/Controllers/TaskNavigationController.cs
  backend/src/Designer/Models/LayoutSets.cs
  backend/src/Designer/Services/Implementation/TaskNavigationService.cs
  backend/src/Designer/Services/Interfaces/ITaskNavigationService.cs
  backend/tests/Designer.Tests/Controllers/TaskNavigationController/GetTaskNavigationTests.cs
Labels: solution/studio/designer, quality/testing, backend, team/studio-domain2, skip-manual-testing

#15161 refactor(policy-editor): remove unused fields from access package model
  backend/PolicyAdmin/Models/AccessPackageArea.cs
  backend/PolicyAdmin/Models/AccessPackageAreaGroup.cs
  backend/tests/Designer.Tests/Controllers/PolicyController/GetAccessPackageOptionsTests.cs
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/AllAccessPackages/AllAccessPackages.test.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/ChosenAccessPackages/ChosenAccessPackages.test.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/PolicyAccessPackages.test.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/policyAccessPackageUtils.test.ts
  frontend/packages/policy-editor/src/components/PolicySummary/PolicyRuleSummary/PolicyRuleAccessPackageSummary.test.tsx
  frontend/packages/policy-editor/src/components/PolicySummary/PolicySummary.test.tsx
  frontend/packages/shared/src/types/PolicyAccessPackages.ts
Labels: solution/studio/designer, area/authorization, quality/testing, skip-releasenotes, backend, frontend, skip-manual-testing

#15177 fix: add variant to dropdowntrigger
  frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdown.tsx
Labels: solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15180 fix: add css name to tokens import
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15068 fix: task card styling update
  frontend/libs/studio-components-legacy/src/components/StudioIconCard/StudioIconCard.module.css
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCard.module.css
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCard.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#14813 feat: persist dashboard app list sorting preferences
  frontend/dashboard/components/DataModelsRepoList/DataModelsRepoList.tsx
  frontend/dashboard/components/FavoriteReposList/FavoriteReposList.tsx
  frontend/dashboard/components/OrgRepoList/OrgReposList.tsx
  frontend/dashboard/components/RepoList/RepoList.tsx
  frontend/dashboard/hooks/useReposSearch/useRepoSearch.ts
  frontend/dashboard/types/TableSortStorageKey.ts
  frontend/libs/studio-components-legacy/src/components/StudioTableLocalPagination/StudioTableLocalPagination.test.tsx
  frontend/libs/studio-components-legacy/src/components/StudioTableLocalPagination/StudioTableLocalPagination.tsx
  frontend/libs/studio-components-legacy/src/hooks/index.ts
  frontend/libs/studio-components-legacy/src/hooks/useTableSorting.test.tsx
  frontend/libs/studio-components-legacy/src/hooks/useTableSorting.tsx
  frontend/libs/studio-components-legacy/src/types/TableSortStorageKey.ts
Labels: area/dashboard, solution/studio/designer, frontend, team/studio-core, skip-documentation

#15181 fix: diffrent icons for IntegerIcon and DivideIcon
  frontend/libs/studio-icons/src/react/icons/IntegerIcon.tsx
  frontend/libs/studio-icons/src/react/icons/index.ts
  frontend/packages/schema-editor/src/components/AddPropertiesMenu/AddPropertiesMenu.tsx
  frontend/packages/schema-editor/src/components/NodeIcon/NodeIcon.tsx
  frontend/packages/schema-editor/src/components/NodePanel/HeadingRow/HeadingRow.tsx
Labels: area/data-modeling, solution/studio/designer, frontend, team/studio-domain1

#15184 refactor: move CodeListWithMetadata to types folder
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/EditCodeList.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CodeListsActionsBar.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CreateNewCodeListModal/CreateNewCodeListModal.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/types/CodeListWithMetadata.ts
Labels: solution/studio/designer, skip-releasenotes, added-to-sprint, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15062 feat: Add new endpoint to update task navigation
  backend/src/Designer/Controllers/TaskNavigationController.cs
  backend/src/Designer/Helpers/Extensions/EnumExtensions.cs
  backend/src/Designer/Mappers/TaskNavigationGroupMapper.cs
  backend/src/Designer/Services/Implementation/TaskNavigationService.cs
  backend/src/Designer/Services/Interfaces/ITaskNavigationService.cs
  backend/tests/Designer.Tests/Controllers/TaskNavigationController/GetTaskNavigationTests.cs
  backend/tests/Designer.Tests/Controllers/TaskNavigationController/UpdateTaskNavigationGroupTests.cs
Labels: solution/studio/designer, quality/testing, backend, team/studio-domain2, skip-manual-testing

#15154 refactor: StudioCodeListEditor, replace usePropState with useReducer
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/StudioCodeListEditor.tsx
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/StudioCodeListEditorReducer.test.tsx
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/StudioCodeListEditorReducer.tsx
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/StudioCodeListEditorRow/StudioCodeListEditorRow.tsx
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15190 feat: pageorder and group types for deserialization of layoutsettings
  backend/src/Designer/Controllers/LayoutController.cs
  backend/src/Designer/Converters/PagesJsonConverter.cs
  backend/src/Designer/Models/Dto/PagesDto.cs
  backend/src/Designer/Models/GroupType.cs
  backend/src/Designer/Models/Pages.cs
  backend/src/Designer/Services/Implementation/LayoutService.cs
  backend/tests/Designer.Tests/Services/LayoutServiceTests.cs
Labels: solution/studio/designer, quality/testing, backend, team/studio-domain2, skip-manual-testing

#15200 feat: gitea log level and version bump
  gitea/Dockerfile
  gitea/files/conf/app.ini
Labels: solution/studio/repos, skip-manual-testing

#15185 chore: updated "sidegruppe" to "oppgave" where code says layoutset
  frontend/language/src/nb.json
Labels: area/ui-editor, solution/studio/designer, added-to-sprint, text/content, frontend, team/studio-domain2, skip-manual-testing

#15204 refactor: remove unnecessary should display feature
  frontend/packages/process-editor/src/bpmnProviders/SupportedPaletteProvider.js
Labels: area/process, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15198 refactor: useImportCodeListFromOrgToAppMutation
  frontend/app-development/hooks/mutations/useImportCodeListFromOrgToAppMutation.test.ts
  frontend/app-development/hooks/mutations/useImportCodeListFromOrgToAppMutation.ts
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/mocks/optionListsResponseMocks.ts
Labels: solution/studio/designer, frontend, team/studio-domain1, skip-manual-testing

#15192 feat: endpoint for updating page groups
  backend/src/Designer/Controllers/LayoutController.cs
  backend/src/Designer/Services/Implementation/LayoutService.cs
  backend/src/Designer/Services/Interfaces/ILayoutService.cs
  backend/tests/Designer.Tests/Services/LayoutServiceTests.cs
Labels: solution/studio/designer, quality/testing, backend, team/studio-domain2, skip-manual-testing

#15182 refactor: add codelist buttons to dropdown
  frontend/language/src/nb.json
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/AddCodeListDropdown.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/AddCodeListDropdown.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/CreateNewCodeListDialog/CreateNewCodeListDialog.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/CreateNewCodeListDialog/CreateNewCodeListDialog.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/CreateNewCodeListDialog/CreateNewCodeListDialog.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/CreateNewCodeListDialog/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CodeListsActionsBar.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CodeListsActionsBar.tsx
  frontend/testing/playwright/pages/OrgLibraryPage/CodeLists.ts
  frontend/testing/playwright/tests/org-library/codelists.spec.ts
Labels: solution/studio/designer, quality/testing, frontend, team/studio-domain1

#15197 refactor: useGetAvailableCodeListsFromOrgQuery
  frontend/app-development/hooks/queries/useGetAvailableCodeListsFromOrgQuery.test.ts
  frontend/app-development/hooks/queries/useGetAvailableCodeListsFromOrgQuery.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/enums/LibraryContentType.ts
  frontend/packages/shared/src/mocks/codeListTitlesMock.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15216 chore: set correct auth cookie name for altinnii in tt02
  src/test/K6/src/config.js
Labels: skip-releasenotes

#15203 feat: make GetOrgContentIds endpoint return NoContent when given invalid org
  backend/src/Designer/Controllers/Organisation/OrgContentController.cs
  backend/src/Designer/Services/Implementation/OrgService.cs
  backend/src/Designer/Services/Interfaces/IOrgService.cs
  backend/tests/Designer.Tests/Controllers/OrgContentController/GetOrgContentIdsTests.cs
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, team/studio-domain1, skip-manual-testing, skip-documentation

#15183 feat: create subform in task card
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/TaskNavigation/AddSubformCard/AddSubformCard.module.css
  frontend/packages/ux-editor/src/components/TaskNavigation/AddSubformCard/AddSubformCard.test.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/AddSubformCard/AddSubformCard.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/AddSubformCard/AddSubformCardUtils.test.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/AddSubformCard/AddSubformCardUtils.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/AddSubformCard/CreateSubformMode.module.css
  frontend/packages/ux-editor/src/components/TaskNavigation/AddSubformCard/CreateSubformMode.test.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/AddSubformCard/CreateSubformMode.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardBar.module.css
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardBar.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15211 feat: remove subform feature flag
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardBar.test.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardBar.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15188 fix: update breadcrumbs
  frontend/language/src/nb.json
  frontend/libs/studio-components-legacy/src/components/StudioBreadcrumbs/StudioBreadcrumbs.mdx
  frontend/libs/studio-components-legacy/src/components/StudioBreadcrumbs/StudioBreadcrumbs.module.css
  frontend/libs/studio-components-legacy/src/components/StudioBreadcrumbs/StudioBreadcrumbs.stories.tsx
  frontend/libs/studio-components-legacy/src/components/StudioBreadcrumbs/StudioBreadcrumbs.test.tsx
  frontend/libs/studio-components-legacy/src/components/StudioBreadcrumbs/StudioBreadcrumbs.tsx
  frontend/libs/studio-components-legacy/src/components/StudioBreadcrumbs/StudioBreadcrumbsItem.tsx
  frontend/libs/studio-components-legacy/src/components/StudioBreadcrumbs/StudioBreadcrumbsLink.tsx
  frontend/libs/studio-components-legacy/src/components/StudioBreadcrumbs/StudioBreadcrumbsList.tsx
  frontend/libs/studio-components-legacy/src/components/StudioBreadcrumbs/index.ts
  frontend/libs/studio-components-legacy/src/components/index.ts
  frontend/libs/studio-components/src/components/StudioBreadcrumbs/index.ts
  frontend/libs/studio-components/src/components/index.ts
  frontend/packages/ux-editor/src/containers/BreadcrumbsTaskNavigation/BreadcrumbsTaskNavigation.module.css
  frontend/packages/ux-editor/src/containers/BreadcrumbsTaskNavigation/BreadcrumbsTaskNavigation.test.tsx
  frontend/packages/ux-editor/src/containers/BreadcrumbsTaskNavigation/BreadcrumbsTaskNavigation.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15210 fix: navigation when adding new task
  frontend/app-development/hooks/mutations/useAddLayoutSetMutation.ts
Labels: area/process, solution/studio/designer, frontend, team/studio-domain2

#15096 feat: global task navigation
  frontend/language/src/nb.json
  frontend/packages/shared/src/types/api/LayoutSetsResponse.ts
  frontend/packages/ux-editor/src/components/Settings/SettingsNavigation.module.css
  frontend/packages/ux-editor/src/components/Settings/SettingsNavigation.test.tsx
  frontend/packages/ux-editor/src/components/Settings/SettingsNavigation.tsx
  frontend/packages/ux-editor/src/components/Settings/SettingsTabs.tsx
  frontend/packages/ux-editor/src/components/Settings/SettingsUtils.test.tsx
  frontend/packages/ux-editor/src/components/Settings/SettingsUtils.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15212 feat: added divider componennet
  frontend/language/src/nb.json
  frontend/packages/shared/src/types/ComponentSpecificConfig.ts
  frontend/packages/shared/src/types/ComponentType.ts
  frontend/packages/ux-editor/src/data/formItemConfig.ts
  frontend/packages/ux-editor/src/testing/componentMocks.ts
  frontend/packages/ux-editor/src/testing/componentSchemaMocks.ts
  frontend/packages/ux-editor/src/testing/schemas/json/component/Divider.schema.v1.json
  frontend/packages/ux-editor/src/testing/schemas/json/layout/layout.schema.v1.json
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15227 fix: Update content library resource info box title
  frontend/language/src/nb.json
Labels: solution/studio/designer, added-to-sprint, text/content, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15157 feat: Return taskid and tasktype from code list usages endpoint
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Models/Dto/OptionListReferences.cs
  backend/src/Designer/Services/Implementation/OptionsService.cs
  backend/tests/Designer.Tests/Controllers/OptionsController/GetOptionListsReferencesTests.cs
  backend/tests/Designer.Tests/Controllers/ProcessModelingController/GetProcessDefinitionTests.cs
  backend/tests/Designer.Tests/Services/OptionsServiceTests.cs
  backend/tests/Designer.Tests/Services/RepositorySITests.cs
  backend/tests/Designer.Tests/Services/TextsServiceTest.cs
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-options/App/config/process/process.bpmn
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-options/App/ui/layout-sets.json
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, team/studio-domain1, skip-manual-testing, skip-documentation

#15248 chore: Update cookie name for ASPX AUTH cookie in at23
  src/test/K6/src/config.js
Labels: skip-releasenotes

#15194 test: add test cases for invalid pageorder and pagegroup conversions
  backend/tests/Designer.Tests/Services/LayoutServiceTests.cs
Labels: solution/studio/designer, quality/testing, backend, team/studio-domain2, skip-manual-testing

#15209 chore: Reduce build time by removing old versions of designsystemet
  frontend/language/src/nb.json
  frontend/libs/studio-components-legacy/src/components/StudioPageHeader/StudioPageHeaderLeft/DigdirLogoLink/DigdirLogoLink.tsx
  frontend/packages/text-editor/src/Variables.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/PdfConfig/ConvertPageToPdfWhenExistingModal/OverrideCurrentPdfByConversionChoices.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PdfLayout/PdfLayoutAccordion.tsx
  package.json
  yarn.lock
Labels: area/ui-editor, area/text-editor, solution/studio/designer, frontend, team/studio-domain2, team/studio-core, skip-manual-testing

#15233 feat: make the 'three-dot' menu always visible
  frontend/libs/studio-components-legacy/src/components/StudioIconCard/StudioIconCard.module.css
Labels: area/ui-editor, solution/studio/designer, kind/user-story, frontend, team/studio-domain2

#15196 feat: add import code list from org to app
  frontend/app-development/features/appContentLibrary/AppContentLibrary.test.tsx
  frontend/app-development/features/appContentLibrary/AppContentLibrary.tsx
  frontend/app-development/features/appContentLibrary/test-data/codeListTitles.ts
  frontend/language/src/nb.json
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/AddCodeListDropdown.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/AddCodeListDropdown.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/AddCodeListDropdown.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/ImportFromOrgLibraryDialog/ImportFromOrgLibraryDialog.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/ImportFromOrgLibraryDialog/ImportFromOrgLibraryDialog.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/ImportFromOrgLibraryDialog/ImportFromOrgLibraryDialog.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/ImportFromOrgLibraryDialog/index.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/CodeListsActionsBar.tsx
Labels: solution/studio/designer, frontend, team/studio-domain1

#15226 fix: Fixing the bug with Dropdown.FileUploader
  frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdown.stories.tsx
  frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdown.test.tsx
  frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdownFileUploaderButton/StudioDropdownFileUploaderButton.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/AddCodeListDropdown.tsx
Labels: solution/studio/designer, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2

#15229 refactor: Move infobox from right side to center
  frontend/libs/studio-content-library/src/ContentLibrary/ContentLibrary.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/InfoBox/InfoBox.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/InfoBox/InfoBox.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/LibraryBody.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListPage.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/ImagesPage/ImagesPage.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/ImagesPage/ImagesPage.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/ImagesPage/ImagesPage.tsx
Labels: solution/studio/designer, added-to-sprint, frontend, team/studio-domain1

#15271 fix: Return 204 NoContent if the resource file does not exist.
  backend/src/Designer/Controllers/Organisation/OrgTextController.cs
  backend/tests/Designer.Tests/Controllers/OrgTextController/GetResourcesTests.cs
Labels: area/text-editor, solution/studio/designer, quality/testing, skip-releasenotes, backend, area/content-library, team/studio-domain1, skip-manual-testing, skip-documentation

#15274 fix: move LayoutController UseSystemTextJson attribute to method level
  backend/src/Designer/Controllers/LayoutController.cs
  backend/src/Designer/Models/Dto/GroupDto.cs
  backend/src/Designer/Models/Dto/PagesDto.cs
Labels: solution/studio/designer, backend, team/studio-domain2, skip-manual-testing

#15085 fix: make preview work with AutoCreate = false
  backend/src/Designer/Services/Implementation/Preview/InstanceService.cs
Labels: solution/studio/designer, backend, added-to-sprint, team/studio-domain2, team/studio-core, skip-manual-testing

#15225 chore: Fix JsonSerializerOptions in feedback to allow special characters
  backend/src/Designer/Controllers/FeedbackFormController.cs
Labels: solution/studio/designer, backend, team/studio-domain2, team/studio-core, skip-manual-testing

#15263 style: Remove title and rename breadcrumb label
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/containers/FormDesignNavigation/FormDesignerNavigation.module.css
  frontend/packages/ux-editor/src/containers/FormDesignNavigation/FormDesignerNavigation.test.tsx
  frontend/packages/ux-editor/src/containers/FormDesignNavigation/FormDesignerNavigation.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15246 fix: Replace layoutSetId with taskId and taskType in the code list usage table
  frontend/app-development/features/appContentLibrary/utils/mapToCodeListUsages.test.ts
  frontend/language/src/nb.json
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/CodeListUsages/CodeListUsages.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/CodeListUsages/CodeListUsages.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/EditCodeList.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/EditCodeList.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/types/CodeListReference.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/utils/utils.test.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/utils/utils.ts
  frontend/libs/studio-content-library/src/index.ts
  frontend/libs/studio-content-library/src/types/CodeListUsageTaskType.ts
Labels: solution/studio/designer, text/content, area/content-library, frontend, team/studio-domain1

#15276 refactor: StudioCodeListEditor implement new props
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/StudioCodeListEditor.test.tsx
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/StudioCodeListEditor.tsx
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/StudioCodeListEditorReducer.tsx
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/StudioCodeListEditorRow/StudioCodeListEditorRow.tsx
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/utils.test.ts
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/utils.ts
  frontend/libs/studio-components-legacy/src/components/StudioDecimalInput/StudioDecimalInput.test.tsx
  frontend/libs/studio-components-legacy/src/components/StudioDecimalInput/StudioDecimalInput.tsx
  frontend/libs/studio-components-legacy/src/components/StudioTextResourceInput/StudioTextResourceInput.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation, area/studio-components

#15285 test: Improve type safety for renderHookWithProviders
  frontend/packages/shared/src/hooks/mutations/useDeleteOrgCodeListMutation.test.ts
  frontend/packages/shared/src/mocks/renderHookWithProviders.tsx
Labels: solution/studio/designer, quality/testing, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15235 fix: Display warning message when subform empty
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/hooks/useSubformLayoutValidation.test.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/hooks/useSubformLayoutValidation.ts
Labels: kind/bug, area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15280 feat: add header and description
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Settings/SettingsNavigation.module.css
  frontend/packages/ux-editor/src/components/Settings/SettingsNavigation.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15215 feat: Add new `StudioHelpText` component
  frontend/libs/studio-components/src/components/StudioHelpText/StudioHelpText.module.css
  frontend/libs/studio-components/src/components/StudioHelpText/StudioHelpText.test.tsx
  frontend/libs/studio-components/src/components/StudioHelpText/StudioHelpText.tsx
  frontend/libs/studio-components/src/components/StudioHelpText/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, frontend, team/studio-domain2, team/studio-core

#15278 style: Update card styling in main page
  frontend/libs/studio-components-legacy/src/components/StudioIconCard/StudioIconCard.module.css
  frontend/packages/ux-editor/src/components/TaskNavigation/AddNewTask/AddNewTask.module.css
  frontend/packages/ux-editor/src/components/TaskNavigation/AddSubformCard/AddSubformCard.module.css
  frontend/packages/ux-editor/src/components/TaskNavigation/AddSubformCard/CreateSubformMode.module.css
  frontend/packages/ux-editor/src/components/TaskNavigation/AddSubformCard/CreateSubformMode.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCard.module.css
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCard.test.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCard.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardBar.module.css
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardEditing.module.css
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardEditing.test.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardEditing.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15304 feat: Remove feature flag edit cards
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.tsx
  frontend/packages/shared/src/utils/featureToggleUtils.test.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCard.test.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCard.tsx
Labels: area/process, area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15308 fix: Front page text
  backend/src/Designer/Views/Home/StartPage.cshtml
Labels: solution/studio/designer, text/content, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation

#15306 chore: update a sentence in nb.json
  frontend/language/src/nb.json
Labels: area/ui-editor, solution/studio/designer, text/content, frontend, team/studio-core, skip-manual-testing

#15232 fix: Full refresh when resetting local repo
  frontend/language/src/nb.json
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/DeleteModal/DeleteModal.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/DeleteModal/DeleteModal.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChanges/LocalChanges.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChanges/LocalChanges.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChangesModal.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChangesModal.tsx
  frontend/packages/shared/src/hooks/mutations/useResetRepositoryMutation.ts
  frontend/testing/playwright/components/LocalChangesModal.ts
  frontend/testing/playwright/tests/git-sync/git-sync.spec.ts
Labels: kind/bug, solution/studio/designer, area/version-control, quality/testing, frontend, team/studio-domain2

#15309 feat: Add GetLanguages endpoint in OrgTextController
  backend/src/Designer/Controllers/Organisation/OrgTextController.cs
  backend/src/Designer/Services/Implementation/Organisation/OrgTextsService.cs
  backend/src/Designer/Services/Interfaces/Organisation/IOrgTextsService.cs
  backend/tests/Designer.Tests/Controllers/OrgTextController/GetLanguagesTests.cs
Labels: area/text-editor, solution/studio/designer, quality/testing, skip-releasenotes, backend, area/content-library, team/studio-domain1, skip-manual-testing, skip-documentation

#15277 feat: Improve backend external library content format
  backend/src/Designer/Controllers/Organisation/OrgContentController.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Models/Dto/LibraryContentReference.cs
  backend/src/Designer/Services/Implementation/OrgContentService.cs
  backend/src/Designer/Services/Interfaces/IOrgContentService.cs
  backend/tests/Designer.Tests/Controllers/OrgContentController/GetOrgContentReferencesTests.cs
  backend/tests/Designer.Tests/Services/OrgContentServiceTests.cs
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, area/content-library, team/studio-domain1, skip-manual-testing, skip-documentation

#15219 feat: Create text resources in code list editor (1)
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/StudioCodeListEditor.test.tsx
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/StudioCodeListEditor.tsx
  frontend/libs/studio-components-legacy/src/components/StudioCodelistEditor/StudioCodeListEditorRow/StudioCodeListEditorRow.tsx
  frontend/libs/studio-components-legacy/src/components/StudioInputTable/test-data/TestTable.tsx
  frontend/libs/studio-components-legacy/src/components/StudioInputTable/test-data/testTableData.ts
  frontend/libs/studio-components-legacy/src/components/StudioTextResourceInput/StudioTextResourceInput.test.tsx
  frontend/libs/studio-components-legacy/src/components/StudioTextResourceInput/StudioTextResourceInput.tsx
  frontend/libs/studio-components-legacy/src/components/StudioTextResourceInput/utils.test.ts
  frontend/libs/studio-components-legacy/src/components/StudioTextResourceInput/utils.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/CodeLists.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeLists/EditCodeList/EditCodeList.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsActionsBar/AddCodeListDropdown/CreateNewCodeListDialog/CreateNewCodeListDialog.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-documentation, area/studio-components
