Repository Altinn/altinn-studio, pull requests merged in 2025-07, with the labels that each got.

#15734 chore: update subform schema json
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/testing/schemas/json/component/Subform.schema.v1.json
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15811 chore: upgrade gitea version to 1.24.2
  gitea/Dockerfile
Labels: solution/studio/repos, skip-manual-testing

#15736 feat: endpoint to verify if user can use feature
  backend/src/Designer/Controllers/CanUseFeatureController.cs
  backend/src/Designer/Enums/CanUseFeatureEnum.cs
  backend/src/Designer/Evaluators/CanUseFeatureEvaluatorRegistry.cs
  backend/src/Designer/Evaluators/CanUseUploadDataModelEvaluator.cs
  backend/src/Designer/Evaluators/ICanUseFeatureEvaluator.cs
  backend/src/Designer/Evaluators/ICanUseUploadDataModelEvaluator.cs
  backend/src/Designer/Infrastructure/Authorization/BelongsToOrgHandler.cs
  backend/src/Designer/Infrastructure/Authorization/BelongsToOrgRequirement.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Models/Dto/CanUseFeatureDto.cs
  backend/tests/Designer.Tests/Controllers/CanUseFeatureController/GetCanUseFeatureTests.cs
  backend/tests/Designer.Tests/Evaluators/CanUseFeatureEvaluatorRegistryTests.cs
  backend/tests/Designer.Tests/Evaluators/CanUseUploadDataModelEvaluatorTests.cs
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/LandingPagePanel.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/LandingPagePanel.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/SchemaEditorWithToolbar.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/TopToolbar.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/TopToolbar.tsx
  frontend/app-development/hooks/queries/useCanUseFeatureQuery.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/enums/CanUseFeature.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/QueryKey.ts
  frontend/packages/shared/src/types/api/CanUseFeatureResponse.ts
Labels: area/data-modeling, solution/studio/designer, quality/testing, backend, frontend, team/studio-core, skip-manual-testing

#15815 refactor: fixed eslint issue, missing type on import
  frontend/packages/shared/src/mocks/queriesMock.ts
Labels: solution/studio/designer, frontend, skip-manual-testing

#15782 chore: Admin API project setup
  .github/workflows/codeql.yml
  .github/workflows/studio-admin-dotnet-format.yml
  src/KubernetesWrapper/README.md
  src/StudioAdmin/.dockerignore
  src/StudioAdmin/Configuration/GeneralSettings.cs
  src/StudioAdmin/Configuration/TestToolsTokenGeneratorSettings.cs
  src/StudioAdmin/Controllers/ApplicationsController.cs
  src/StudioAdmin/Controllers/InstancesController.cs
  src/StudioAdmin/Dockerfile
  src/StudioAdmin/Models/QueryResponse.cs
  src/StudioAdmin/Models/RunningApplication.cs
  src/StudioAdmin/Models/SimpleInstance.cs
  src/StudioAdmin/Program.cs
  src/StudioAdmin/Properties/launchSettings.json
  src/StudioAdmin/README.md
  src/StudioAdmin/Services/ApplicationsService.cs
  src/StudioAdmin/Services/CdnConfigService.cs
  src/StudioAdmin/Services/Interfaces/IApplicationsService.cs
  src/StudioAdmin/Services/Interfaces/ICdnConfigService.cs
  src/StudioAdmin/Services/Interfaces/IStorageService.cs
  src/StudioAdmin/Services/TestStorageService.cs
  src/StudioAdmin/Services/TestToolsTokenGeneratorService.cs
  src/StudioAdmin/StudioAdmin.csproj
  src/StudioAdmin/appsettings.Development.json
  src/StudioAdmin/appsettings.json
Labels: skip-releasenotes, backend, skip-manual-testing, area/admin

#15783 chore: Admin frontend project setup
  .github/workflows/deploy-designer.yaml
  .github/workflows/run-playwright-on-pr.yaml
  Dockerfile
  compose.yaml
  development/README.md
  development/load-balancer/templates/nginx.conf.conf
  development/utils/ensure-dot-env.js
  frontend/admin/README.md
  frontend/admin/enums/RoutePaths.ts
  frontend/admin/features/apps/Apps.tsx
  frontend/admin/features/instances/Instances.tsx
  frontend/admin/features/overview/Overview.tsx
  frontend/admin/hooks/queries/useAppInstancesQuery.ts
  frontend/admin/hooks/queries/useRunningAppsQuery.ts
  frontend/admin/index.html
  frontend/admin/index.tsx
  frontend/admin/jest.config.js
  frontend/admin/layout/App.css
  frontend/admin/layout/App.module.css
  frontend/admin/layout/App.tsx
  frontend/admin/layout/NotFoundPage.tsx
  frontend/admin/layout/PageHeader.tsx
  frontend/admin/layout/PageLayout.tsx
  frontend/admin/package.json
  frontend/admin/router/PageRouterErrorBoundary.tsx
  frontend/admin/router/PageRoutes.tsx
  frontend/admin/router/routes.tsx
  frontend/admin/tsconfig.json
  frontend/admin/types/RunningApplication.ts
  frontend/admin/types/SimpleInstance.ts
  frontend/admin/utils/apiPaths.ts
  frontend/admin/vite.config.ts
  frontend/packages/shared/src/constants.js
  frontend/packages/shared/src/hooks/queries/useOrgListQuery.ts
  frontend/packages/shared/src/types/QueryKey.ts
  package.json
  yarn.lock
Labels: solution/studio/designer, skip-releasenotes, kind/dependencies, frontend, skip-manual-testing, area/admin

#15820 test: try to fix flaky dashboard test
  frontend/dashboard/pages/Dashboard/Dashboard.test.tsx
Labels: area/dashboard, solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15819 refactor: improved icon origin clarity by introducing explicit mappings per layout type, task ID and task type
  frontend/libs/studio-components-legacy/src/components/StudioIconCard/index.ts
  frontend/libs/studio-components-legacy/src/components/index.ts
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCard.tsx
  frontend/packages/ux-editor/src/hooks/useLayoutSetIcon.test.tsx
  frontend/packages/ux-editor/src/hooks/useLayoutSetIcon.tsx
  frontend/packages/ux-editor/src/utils/getLayoutSetIcon.test.tsx
  frontend/packages/ux-editor/src/utils/getLayoutSetIcon.tsx
Labels: area/ui-editor, solution/studio/designer, frontend

#15828 fix: Export props type from StudioCard
  frontend/libs/studio-components/src/components/StudioCard/index.ts
Labels: solution/studio/designer, quality/code, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, skip-manual-testing, skip-documentation

#15740 feat: update return type from import code list endpoint
  backend/src/Designer/Controllers/OptionsController.cs
  backend/src/Designer/Models/Dto/ImportOptionListResponse.cs
  backend/src/Designer/Services/Implementation/OptionsService.cs
  backend/src/Designer/Services/Interfaces/IOptionsService.cs
  backend/tests/Designer.Tests/Controllers/OptionsController/ImportOptionsListFromOrgTests.cs
  backend/tests/Designer.Tests/Services/OptionsServiceTests.cs
  frontend/app-development/hooks/mutations/useImportCodeListFromOrgToAppMutation.test.ts
  frontend/app-development/hooks/mutations/useImportCodeListFromOrgToAppMutation.ts
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/types/api/ImportCodeListResponse.ts
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, area/content-library, frontend, team/studio-domain1, skip-documentation

#15824 feat: Create StudioRadioGroup component
  frontend/libs/studio-components/src/components/StudioRadio/index.ts
  frontend/libs/studio-components/src/components/StudioRadioGroup/StudioGetRadioProps.ts
  frontend/libs/studio-components/src/components/StudioRadioGroup/StudioRadioGroup.stories.tsx
  frontend/libs/studio-components/src/components/StudioRadioGroup/StudioRadioGroup.test.tsx
  frontend/libs/studio-components/src/components/StudioRadioGroup/StudioRadioGroup.tsx
  frontend/libs/studio-components/src/components/StudioRadioGroup/StudioRadioGroupError.tsx
  frontend/libs/studio-components/src/components/StudioRadioGroup/StudioRadioGroupHeading.tsx
  frontend/libs/studio-components/src/components/StudioRadioGroup/StudioRadioGroupItem.tsx
  frontend/libs/studio-components/src/components/StudioRadioGroup/index.ts
  frontend/libs/studio-components/src/components/StudioRadioGroup/useStudioRadioGroup.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15813 fix: added Norwegian text
  frontend/language/src/nb.json
Labels: solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15798 feat: basic page group renaming
  frontend/language/src/nb.json
  frontend/libs/studio-icons/src/index.ts
  frontend/packages/ux-editor/src/components/Properties/GroupConfigPanel/EditGroupName.module.css
  frontend/packages/ux-editor/src/components/Properties/GroupConfigPanel/EditGroupName.test.tsx
  frontend/packages/ux-editor/src/components/Properties/GroupConfigPanel/EditGroupName.tsx
  frontend/packages/ux-editor/src/components/Properties/GroupConfigPanel/GroupConfigPanel.module.css
  frontend/packages/ux-editor/src/components/Properties/GroupConfigPanel/GroupConfigPanel.test.tsx
  frontend/packages/ux-editor/src/components/Properties/GroupConfigPanel/GroupConfigPanel.tsx
  frontend/packages/ux-editor/src/utils/pageGroupUtils.test.ts
  frontend/packages/ux-editor/src/utils/pageGroupUtils.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15839 feat: Create StudioCheckboxGroup
  frontend/libs/studio-components-legacy/src/components/StudioCheckbox/StudioCheckboxGroup.tsx
  frontend/libs/studio-components/src/components/StudioCheckbox/index.ts
  frontend/libs/studio-components/src/components/StudioCheckboxGroup/StudioCheckboxGroup.stories.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxGroup/StudioCheckboxGroup.test.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxGroup/StudioCheckboxGroup.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxGroup/StudioCheckboxGroupError.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxGroup/StudioCheckboxGroupHeading.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxGroup/StudioCheckboxGroupItem.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxGroup/StudioGetCheckboxProps.ts
  frontend/libs/studio-components/src/components/StudioCheckboxGroup/index.ts
  frontend/libs/studio-components/src/components/StudioCheckboxGroup/useStudioCheckboxGroup.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15843 fix: error message placement for input field in image component
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Image/ImageComponent.module.css
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15435 fix: Tweak texts on registration page
  gitea/files/locale/custom/locale_en-US.ini
  gitea/files/locale/custom/locale_nb-NO.ini
Labels: solution/studio/repos, added-to-sprint, team/studio-core, skip-manual-testing

#15846 refactor: Make StudioFieldset use the same API in both versions
  frontend/libs/studio-components/src/components/StudioCheckboxGroup/StudioCheckboxGroup.stories.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxGroup/StudioCheckboxGroup.test.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxGroup/StudioCheckboxGroup.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxGroup/StudioCheckboxGroupHeading.tsx
  frontend/libs/studio-components/src/components/StudioCheckboxGroup/index.ts
  frontend/libs/studio-components/src/components/StudioFieldset/StudioFieldset.stories.tsx
  frontend/libs/studio-components/src/components/StudioFieldset/StudioFieldset.test.tsx
  frontend/libs/studio-components/src/components/StudioFieldset/StudioFieldset.tsx
  frontend/libs/studio-components/src/components/StudioFieldset/StudioFieldsetDescription.tsx
  frontend/libs/studio-components/src/components/StudioFieldset/StudioFieldsetLegend.tsx
  frontend/libs/studio-components/src/components/StudioFieldset/index.ts
  frontend/libs/studio-components/src/components/StudioFormGroup/StudioFormGroup.tsx
  frontend/libs/studio-components/src/components/StudioRadioGroup/StudioRadioGroup.stories.tsx
  frontend/libs/studio-components/src/components/StudioRadioGroup/StudioRadioGroup.test.tsx
  frontend/libs/studio-components/src/components/StudioRadioGroup/StudioRadioGroup.tsx
  frontend/libs/studio-components/src/components/StudioRadioGroup/StudioRadioGroupHeading.tsx
  frontend/libs/studio-components/src/components/StudioRadioGroup/index.ts
  frontend/packages/policy-editor/src/components/ConsentResourcePolicyRulesEditor/ConsentResourcePolicyRulesEditor.tsx
  frontend/packages/ux-editor/src/components/Properties/GroupConfigPanel/GroupConfigPanel.tsx
  frontend/packages/ux-editor/src/components/TasksTable/EditNameAction.tsx
Labels: area/ui-editor, solution/studio/designer, area/authorization, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, skip-manual-testing, skip-documentation

#15853 fix: Make new StudioButton support ref forwarding
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.test.tsx
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, skip-manual-testing, skip-documentation, area/studio-components

#15849 test: Delete temporary files after tests have run
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnAppGitRepositoryTests.cs
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, team/studio-domain1, skip-manual-testing, skip-documentation

#15792 fix(resource-adm): Improve validation in deploy resource page
  frontend/resourceadm/hooks/mutations/useEditResourceMutation.ts
  frontend/resourceadm/language/src/nb.json
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.test.tsx
  frontend/resourceadm/pages/DeployResourcePage/DeployResourcePage.tsx
  frontend/resourceadm/pages/ResourcePage/ResourcePage.tsx
Labels: solution/studio/designer, skip-releasenotes, area/resource-adm, frontend, skip-manual-testing

#15851 fix(resource-adm): Show last changed date for resources if they exist in Gitea in resource list
  frontend/resourceadm/components/ResourceTable/ResourceTable.test.tsx
  frontend/resourceadm/components/ResourceTable/ResourceTable.tsx
  frontend/resourceadm/utils/mapperUtils/mapperUtils.ts
Labels: solution/studio/designer, skip-releasenotes, area/resource-adm, frontend, skip-manual-testing

#15854 fix: make all nullish states undefined for number value component
  frontend/packages/ux-editor/src/components/config/editModal/EditNumberValue.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15838 feat: Add endpoints for application logs, operational logs and failed requests
  src/KubernetesWrapper/KubernetesWrapper.sln
  src/KubernetesWrapper/src/Configuration/GeneralSettings.cs
  src/KubernetesWrapper/src/Configuration/LogQueryLimits.cs
  src/KubernetesWrapper/src/Controllers/AppExceptionsController.cs
  src/KubernetesWrapper/src/Controllers/AppFailedRequestsController.cs
  src/KubernetesWrapper/src/Controllers/ContainerLogsController.cs
  src/KubernetesWrapper/src/Controllers/DaemonSetsController.cs
  src/KubernetesWrapper/src/Controllers/DeploymentsController.cs
  src/KubernetesWrapper/src/KubernetesWrapper.csproj
  src/KubernetesWrapper/src/Models/AppException.cs
  src/KubernetesWrapper/src/Models/AppFailedRequest.cs
  src/KubernetesWrapper/src/Models/ContainerLog.cs
  src/KubernetesWrapper/src/Models/DaemonSet.cs
  src/KubernetesWrapper/src/Models/DeployedResource.cs
  src/KubernetesWrapper/src/Models/Deployment.cs
  src/KubernetesWrapper/src/Models/Dto/LogFiltersDto.cs
  src/KubernetesWrapper/src/Models/ResourceType.cs
  src/KubernetesWrapper/src/Program.cs
  src/KubernetesWrapper/src/Properties/launchSettings.json
  src/KubernetesWrapper/src/Services/Implementation/AppExceptionsService.cs
  src/KubernetesWrapper/src/Services/Implementation/AppFailedRequestsService.cs
  src/KubernetesWrapper/src/Services/Implementation/ContainerLogsService.cs
  src/KubernetesWrapper/src/Services/Implementation/KubernetesApiWrapper.cs
  src/KubernetesWrapper/src/Services/Interfaces/IAppExceptionsService.cs
  src/KubernetesWrapper/src/Services/Interfaces/IAppFailedRequestsService.cs
  src/KubernetesWrapper/src/Services/Interfaces/IContainerLogsService.cs
  src/KubernetesWrapper/src/Services/Interfaces/IKubernetesAPIWrapper.cs
  src/KubernetesWrapper/src/appsettings.json
Labels: skip-releasenotes, skip-manual-testing

#15865 fix: Add missing parameter to mutation call - ProcessEditor
  frontend/app-development/features/processEditor/handlers/OnProcessTaskAddHandler.test.ts
  frontend/app-development/features/processEditor/handlers/OnProcessTaskAddHandler.ts
Labels: area/process, solution/studio/designer, frontend, team/studio-domain1

#15860 fix: Adjust display setting on new fieldset legend
  frontend/libs/studio-components/src/components/StudioFieldset/StudioFieldset.module.css
  frontend/libs/studio-components/src/components/StudioFieldset/StudioFieldset.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, skip-manual-testing, skip-documentation, area/studio-components

#15847 feat: Save metadata during importing of code list
  backend/src/Designer/Models/AltinnStudioSettings.cs
  backend/src/Designer/Services/Implementation/OptionsService.cs
  backend/tests/Designer.Tests/Services/OptionsServiceTests.cs
Labels: solution/studio/designer, quality/testing, backend, area/content-library, team/studio-domain1, skip-documentation

#15855 refactor: Rename exposed CSS variables in legacy component library
  frontend/dashboard/components/Resources/Resources.module.css
  frontend/libs/studio-components-legacy/src/components/StudioExpression/SimplifiedEditor/BooleanEditor/BooleanEditor.module.css
  frontend/libs/studio-components-legacy/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/LogicalExpressionEditor.module.css
  frontend/libs/studio-components-legacy/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/LogicalOperatorToggle/LogicalOperatorToggle.module.css
  frontend/libs/studio-components-legacy/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionErrors/SubexpressionErrors.module.css
  frontend/libs/studio-components-legacy/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionToolbar/SubexpressionToolbar.module.css
  frontend/libs/studio-components-legacy/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/SubExpressionValueSelector/SubexpressionValueSelector.module.css
  frontend/libs/studio-components-legacy/src/components/StudioExpression/SimplifiedEditor/LogicalExpressionEditor/SubExpression/Subexpression.module.css
  frontend/libs/studio-components-legacy/src/components/StudioExpression/StudioExpression.module.css
  frontend/libs/studio-components-legacy/src/components/StudioIconTextfield/StudioIconTextfield.module.css
  frontend/libs/studio-components-legacy/src/components/StudioModal/StudioModalDialog/StudioModalDialog.module.css
  frontend/libs/studio-components-legacy/src/components/StudioProperty/StudioPropertyButton/StudioPropertyButton.module.css
  frontend/libs/studio-components-legacy/src/components/StudioProperty/StudioPropertyFieldset/StudioPropertyFieldset.module.css
  frontend/libs/studio-components-legacy/src/components/StudioProperty/StudioPropertyFieldset/test-data/FieldsetContent/FieldsetContent.module.css
  frontend/libs/studio-components-legacy/src/components/StudioProperty/StudioPropertyGroup/StudioPropertyGroup.module.css
  frontend/libs/studio-components-legacy/src/components/StudioProperty/test-data/ComposedComponent/ComposedComponent.module.css
  frontend/libs/studio-components-legacy/src/components/StudioTreeView/StudioTreeViewItem/StudioTreeViewItem.module.css
  frontend/libs/studio-components-legacy/src/style/studio-variables.css
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/EditPolicy/EditPolicy.module.css
  frontend/packages/schema-editor/src/components/NoItemSelectedMessage/NoItemSelectedMessage.module.css
  frontend/packages/schema-editor/src/components/NodePanel/HeadingRow/HeadingRow.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/CustomProperties.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemDataComponent.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/EnumList/EnumList.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/ItemWrapper/ItemWrapper.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/StringRestrictions/StringRestrictions.module.css
  frontend/packages/schema-editor/src/components/SchemaInspector/SchemaInspector.module.css
  frontend/packages/ux-editor-v3/src/components/Properties/Calculations.module.css
  frontend/packages/ux-editor-v3/src/components/Properties/ConditionalRendering.module.css
  frontend/packages/ux-editor-v3/src/components/config/Expressions/ExpressionContent/ExpressionEditMode/SimpleExpression/SubExpressionContent.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/SpecificMainConfig/ImageMainConfig.module.css
  frontend/packages/ux-editor/src/components/TextResource/TextResourceEditor/TextResourceEditor.module.css
  frontend/packages/ux-editor/src/components/TextResource/TextResourceEditor/TextResourceValueEditor/TextResourceValueEditor.module.css
  frontend/packages/ux-editor/src/components/config/ExpressionContent/ExpressionContent.module.css
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Map/MapComponent.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/EditBinding.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/EditBindingButtons.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/EditOptions.module.css
Labels: area/data-modeling, area/process, area/ui-editor, area/dashboard, solution/studio/designer, quality/debt, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, skip-manual-testing, skip-documentation, area/studio-components

#15867 docs: Remove redundant MDX file for StudioButton (1)
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.mdx
Labels: solution/studio/designer, quality/code, kind/documentation, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, skip-manual-testing, skip-documentation, area/studio-components

#15868 fix: Add fullWidth property to StudioButton (2)
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.module.css
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.stories.tsx
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.test.tsx
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.tsx
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, skip-manual-testing, skip-documentation, area/studio-components

#15871 refactor: Add return types to StudioProperty functions
  frontend/libs/studio-components-legacy/src/components/StudioProperty/StudioProperty.stories.tsx
  frontend/libs/studio-components-legacy/src/components/StudioProperty/StudioPropertyButton/StudioPropertyButton.stories.tsx
  frontend/libs/studio-components-legacy/src/components/StudioProperty/StudioPropertyButton/StudioPropertyButton.test.tsx
  frontend/libs/studio-components-legacy/src/components/StudioProperty/StudioPropertyFieldset/test-data/FieldsetContent/FieldsetContent.tsx
  frontend/libs/studio-components-legacy/src/components/StudioProperty/storybook-utils/Decorator/Decorator.tsx
  frontend/libs/studio-components-legacy/src/components/StudioProperty/test-data/ComposedComponent/ComposedComponent.tsx
Labels: solution/studio/designer, quality/code, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, skip-manual-testing, skip-documentation, area/studio-components

#15848 feat: add new StudioDeleteButton
  frontend/libs/studio-components-legacy/src/components/StudioDeleteButton/StudioDeleteButton.tsx
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.test.tsx
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.tsx
  frontend/libs/studio-components/src/components/StudioDeleteButton/StudioDeleteButton.mdx
  frontend/libs/studio-components/src/components/StudioDeleteButton/StudioDeleteButton.stories.tsx
  frontend/libs/studio-components/src/components/StudioDeleteButton/StudioDeleteButton.test.tsx
  frontend/libs/studio-components/src/components/StudioDeleteButton/StudioDeleteButton.tsx
  frontend/libs/studio-components/src/components/StudioDeleteButton/index.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation

#15869 fix: fixed alignment
  frontend/packages/ux-editor/src/components/config/SelectPropertyEditor/SelectPropertyEditor.module.css
  frontend/packages/ux-editor/src/components/config/SelectPropertyEditor/SelectPropertyEditor.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15817 feat: add support for repeating objects in data model structures
  frontend/libs/studio-pure-functions/src/ArrayUtils/ArrayUtils.test.ts
  frontend/libs/studio-pure-functions/src/ArrayUtils/ArrayUtils.ts
  frontend/packages/schema-model/src/lib/SchemaModel/SchemaModel.test.ts
  frontend/packages/schema-model/src/lib/SchemaModel/SchemaModel.ts
  frontend/packages/schema-model/src/lib/pointerUtils.ts
  frontend/packages/schema-model/src/types/ItemCategory.ts
  frontend/packages/schema-model/src/types/PointerCategory.ts
  frontend/packages/schema-model/test/uiSchemaMock.ts
Labels: area/data-modeling, solution/studio/designer, frontend

#15887 feat: display style config for Link component in main config
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/ComponentMainConfig.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/ComponentMainConfig.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/SpecificMainConfig/LinkMainConfig.tsx
  frontend/packages/ux-editor/src/testing/componentMocks.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15888 feat: display text content and severity in main config for Alert component
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/ComponentMainConfig.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/ComponentMainConfig.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/SpecificMainConfig/AlertMainConfig.tsx
  frontend/packages/ux-editor/src/testing/componentMocks.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15890 feat: display action button configs in main config
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/ComponentMainConfig.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/ComponentMainConfig.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/SpecificMainConfig/ActionButtonMainConfig.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15893 fix: add styling for title component in main config
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/ComponentMainConfig.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15900 fix: 15797 missing icon and text for user controlled signing
  frontend/language/src/nb.json
  frontend/libs/studio-icons/src/react/icons/UserControlledSigningIcon.tsx
  frontend/libs/studio-icons/src/react/icons/index.ts
  frontend/packages/ux-editor/src/utils/getLayoutSetIcon.test.tsx
  frontend/packages/ux-editor/src/utils/getLayoutSetIcon.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2

#15850 feat: add some more fields to app config form
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/AboutTab.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/AppConfigForm/AppConfigForm.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/AppConfigForm/AppConfigForm.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/AppConfigForm/AvailableForTypeRadioGroup/AvailableForTypeCheckboxGroup.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/AppConfigForm/AvailableForTypeRadioGroup/AvailableForTypeCheckboxGroup.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/AppConfigForm/AvailableForTypeRadioGroup/index.ts
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/AppConfigForm/StatusRadioGroup/StatusRadioGroup.test.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/AppConfigForm/StatusRadioGroup/StatusRadioGroup.tsx
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/AppConfigForm/StatusRadioGroup/index.ts
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/utils/appConfigAvailableForTypeUtils.ts
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/utils/appConfigKeywordUtils.test.ts
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/utils/appConfigKeywordUtils.ts
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/utils/appConfigStatusUtils.test.ts
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/utils/appConfigStatusUtils.ts
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/utils/appConfigValidationUtils.test.ts
  frontend/app-development/features/appSettings/components/TabsContent/Tabs/AboutTab/utils/appConfigValidationUtils.ts
  frontend/app-development/features/appSettings/constants/appConfigResourceType.ts
  frontend/app-development/features/appSettings/types/LabelAndValue.ts
  frontend/language/src/nb.json
  frontend/packages/shared/src/types/AppConfig.ts
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#15909 chore: Updated-menu-term-Oversikt-to-Hjem in nb.json
  frontend/language/src/nb.json
Labels: area/ui-editor, solution/studio/designer, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2, team/studio-core

#15908 chore: changed-breadcumb-Forside-to-Oversikt in-nb.json
  frontend/language/src/nb.json
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, team/studio-core

#15852 feat: 15748 add a search field for components in new component selector design
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/containers/DesignView/AddItem/AddItemContent.module.css
  frontend/packages/ux-editor/src/containers/DesignView/AddItem/AddItemContent.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/AddItem/AddItemContent.tsx
  frontend/packages/ux-editor/src/containers/DesignView/AddItem/ItemCategory/ItemCategory.module.css
  frontend/packages/ux-editor/src/containers/DesignView/AddItem/ItemCategory/ItemCategory.tsx
  frontend/packages/ux-editor/src/containers/DesignView/AddItem/useSearchComponent/index.ts
  frontend/packages/ux-editor/src/containers/DesignView/AddItem/useSearchComponent/types.ts
  frontend/packages/ux-editor/src/containers/DesignView/AddItem/useSearchComponent/useSearchComponent.test.ts
  frontend/packages/ux-editor/src/containers/DesignView/AddItem/useSearchComponent/useSearchComponent.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2

#15918 refactor: change pageconfigwarning to not use useEffect and ref
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/PageConfigPanel.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/PageConfigPanel.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/PageConfigWarningModal/PageConfigWarningModal.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#15919 feat: add new StudioFileUploader
  frontend/libs/studio-components-legacy/src/components/StudioFileUploader/StudioFileUploader.tsx
  frontend/libs/studio-components/src/components/StudioFileUploader/StudioFileUploader.module.css
  frontend/libs/studio-components/src/components/StudioFileUploader/StudioFileUploader.stories.tsx
  frontend/libs/studio-components/src/components/StudioFileUploader/StudioFileUploader.test.tsx
  frontend/libs/studio-components/src/components/StudioFileUploader/StudioFileUploader.tsx
  frontend/libs/studio-components/src/components/StudioFileUploader/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation, area/studio-components

#15904 chore: 15756 add text labels to icon only save and cancel buttons
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/EditColumnElement.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/DataModelMainConfig.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/CreateNewSubformSection/CreateNewSubformButtons.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/CreateNewSubformSection/CreateNewSubformSection.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/CreateNewSubformSection/CreateNewSubformSection.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/EditLayoutSet.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/SelectSubformSection/SelectSubformSection.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/SelectSubformSection/SelectSubformSection.tsx
  frontend/packages/ux-editor/src/components/TextResource/TextResource.test.tsx
  frontend/packages/ux-editor/src/components/TextResource/TextResource.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2Override.test.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Override/Summary2OverrideEntry.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/EditBinding.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditBinding/EditBindingButtons.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditDataModelBinding/EditDataModelBinding.test.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain1, team/studio-domain2, skip-documentation

#15929 fix: remove border radius properties from EditGrid container and OptionListSelector modal
  frontend/packages/ux-editor/src/components/config/editModal/EditGrid/EditGrid.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListSelector/OptionListSelector.module.css
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation

#15925 chore: replace legacy paragraphs with v1
  frontend/admin/router/PageRouterErrorBoundary.tsx
  frontend/app-development/features/appPublish/components/ConfirmUndeployDialog/ConfirmUndeployDialog.tsx
  frontend/app-development/features/appPublish/components/Deploy/DeployDropdown/DeployPopover/DeployPopover.tsx
  frontend/app-development/features/appPublish/containers/ReleaseContainer.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/LandingPagePanel.tsx
  frontend/app-development/layout/PageHeader/SmallHeaderMenu/SmallHeaderMenu.tsx
  frontend/app-development/router/PageRouterErrorBoundry.tsx
  frontend/dashboard/pages/OrgContentLibraryPage/OrgContentLibraryPage.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/SmallHeaderMenu/SmallHeaderMenu.tsx
  frontend/libs/studio-components-legacy/src/components/StudioPageHeader/StudioPageHeaderMain/StudioPageHeaderMain.module.css
  frontend/libs/studio-components/src/components/StudioParagraph/StudioParagraph.module.css
  frontend/libs/studio-components/src/components/StudioParagraph/StudioParagraph.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/InfoBox/InfoBox.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/CodeListsCounterMessage/CodeListsCounterMessage.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/LandingPage/LandingPage.tsx
  frontend/libs/studio-feedback-form/src/FeedbackForm/FeedbackForm.module.css
  frontend/libs/studio-feedback-form/src/FeedbackForm/FeedbackForm.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/ExpandablePolicyElement/ExpandablePolicyElement.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/PolicyAccessPackageAccordion/PolicyAccessPackageAccordionContent/PolicyAccessPackageAccordionContent.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/PolicyAccessPackagesWarning.tsx
  frontend/packages/policy-editor/src/components/PolicySummary/PolicySummary.tsx
  frontend/packages/shared/src/components/MergeConflictWarning/MergeConflictWarning.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/ColumnElement/EditColumnElement/EditColumnElement.tsx
  frontend/packages/ux-editor/src/components/Properties/EditSubformTableColumns/SubformMissingContentWarning/SubformMissingContentWarning.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/PdfConfig/PdfConfigCard/PdfConfigCard.tsx
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/CreateNewSubformSection/CreateNewSubformSection.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCard.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardEditing.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Summary2/Summary2Target/Summary2Target.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/ExternalImage/ExternalImageValidationStatus.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/LocalImage/ImportImage/AddImageFromLibrary/ChooseFromLibrary/ChooseFromLibrary.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/LocalImage/ImportImage/UploadImage/UploadImage.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/LocalImage/PreviewImageSummary/DeleteOptionsModal/DeleteOptions.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditImage/LocalImage/PreviewImageSummary/PreviewFileInfo.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListLabels/OptionListLabels.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListSelector/OptionListSelector.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/ReferenceTab/ReferenceTab.tsx
  frontend/packages/ux-editor/src/components/toolbar/InformationPanelComponent.tsx
  frontend/packages/ux-editor/src/containers/DesignView/AddItem/ItemInfo/ItemInfo.module.css
  frontend/packages/ux-editor/src/containers/DesignView/AddItem/ItemInfo/ItemInfo.tsx
  frontend/packages/ux-editor/src/containers/DesignView/AddItem/ToggleAddComponentPoc.tsx
  frontend/studio-root/components/ContactSection/ContactSection.tsx
  frontend/studio-root/pages/Contact/ContactPage.tsx
Labels: area/data-modeling, area/ui-editor, area/dashboard, area/app-deploy, solution/studio/designer, area/authorization, area/studio-root, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15931 fix: use border radius CSS variables across solution
  frontend/app-development/features/overview/components/Navigation/Navigation.module.css
  frontend/app-development/features/overview/components/Overview.module.css
  frontend/packages/process-editor/src/components/Canvas/BPMNEditor/BPMNEditor.module.css
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/ThreeDotsMenu.module.css
  frontend/packages/shared/src/components/MergeConflictWarning/MergeConflictWarning.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/CreateNewSubformSection/SubformDataModel.module.css
  frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/SelectSubformSection/SelectSubformSection.module.css
Labels: area/process, area/ui-editor, solution/studio/designer, area/version-control, skip-releasenotes, area/overview, frontend, team/studio-domain1, team/studio-domain2, skip-manual-testing, skip-documentation

#15935 chore: PDF weekly patching
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes
