Repository Altinn/altinn-studio, pull requests merged in 2025-10, with the labels that each got.

#16476 fix: update text - image uploader
  src/Designer/frontend/language/src/nb.json
Labels: skip-releasenotes, skip-manual-testing

#16463 fix(policy-editor): allow access package eksplisitt tjenestedelegering to be selected
  src/Designer/frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/policyAccessPackageUtils.test.ts
  src/Designer/frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/policyAccessPackageUtils.ts
Labels: skip-releasenotes, skip-manual-testing

#16486 feat: AI Assistant library
  src/Designer/Dockerfile
  src/Designer/frontend/app-development/enums/RoutePaths.ts
  src/Designer/frontend/app-development/features/aiAssistant/AiAssistant.tsx
  src/Designer/frontend/app-development/features/aiAssistant/index.ts
  src/Designer/frontend/app-development/package.json
  src/Designer/frontend/app-development/router/routes.tsx
  src/Designer/frontend/language/src/nb.json
  src/Designer/frontend/libs/studio-assistant/.eslintrc.js
  src/Designer/frontend/libs/studio-assistant/README.md
  src/Designer/frontend/libs/studio-assistant/jest.config.js
  src/Designer/frontend/libs/studio-assistant/package.json
  src/Designer/frontend/libs/studio-assistant/src/Assistant/Assistant.module.css
  src/Designer/frontend/libs/studio-assistant/src/Assistant/Assistant.test.tsx
  src/Designer/frontend/libs/studio-assistant/src/Assistant/Assistant.tsx
  src/Designer/frontend/libs/studio-assistant/src/config/AssistantImpl.tsx
  src/Designer/frontend/libs/studio-assistant/src/index.ts
  src/Designer/frontend/libs/studio-assistant/src/types/AssistantConfig.ts
  src/Designer/frontend/libs/studio-assistant/src/types/MessageAuthor.ts
  src/Designer/frontend/libs/studio-assistant/src/utils/utils.ts
  src/Designer/frontend/libs/studio-components/src/components/index.ts
  yarn.lock
Labels: skip-releasenotes, frontend, skip-manual-testing, skip-documentation, AI

#16399 chore: 16387 migrate usage of studiospinner legacy to ds
  src/Designer/frontend/app-development/features/appPublish/components/Deploy/Deploy.test.tsx
  src/Designer/frontend/app-development/features/appPublish/components/Deploy/Deploy.tsx
  src/Designer/frontend/app-development/features/appPublish/components/Deploy/DeployDropdown/DeployDropdown.test.tsx
  src/Designer/frontend/app-development/features/appPublish/components/Deploy/DeployDropdown/DeployDropdown.tsx
  src/Designer/frontend/app-development/features/appPublish/components/Deploy/DeployDropdown/DeployPopover/DeployPopover.test.tsx
  src/Designer/frontend/app-development/features/appPublish/components/Deploy/DeployDropdown/DeployPopover/DeployPopover.tsx
  src/Designer/frontend/app-development/features/appPublish/components/DeploymentEnvironmentLogList.tsx
  src/Designer/frontend/app-development/features/appPublish/components/Release.tsx
  src/Designer/frontend/app-development/features/appPublish/containers/DeploymentContainer.test.tsx
  src/Designer/frontend/app-development/features/appPublish/containers/ReleaseContainer.tsx
  src/Designer/frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/XSDUpload/XSDUpload.tsx
  src/Designer/frontend/app-development/features/overview/components/Deployments/DeploymentContainer/DeploymentContainer.test.tsx
  src/Designer/frontend/app-development/features/overview/components/Deployments/DeploymentContainer/DeploymentContainer.tsx
  src/Designer/frontend/app-development/features/overview/components/Deployments/Deployments.test.tsx
  src/Designer/frontend/app-development/features/overview/components/Deployments/Deployments.tsx
  src/Designer/frontend/app-development/features/overview/components/Header.tsx
  src/Designer/frontend/app-preview/src/components/PreviewControlHeader/PreviewControlHeader.test.tsx
  src/Designer/frontend/app-preview/src/components/PreviewControlHeader/PreviewControlHeader.tsx
  src/Designer/frontend/dashboard/components/NewApplicationForm/NewApplicationForm.tsx
  src/Designer/frontend/dashboard/components/ResourcesRepoList/ResourcesRepoList.tsx
  src/Designer/frontend/dashboard/pages/OrgContentLibraryPage/OrgContentLibraryPage.test.tsx
  src/Designer/frontend/dashboard/pages/OrgContentLibraryPage/OrgContentLibraryPage.tsx
  src/Designer/frontend/dashboard/pages/PageLayout/DashboardHeader/SubHeader/SubHeader.test.tsx
  src/Designer/frontend/dashboard/pages/PageLayout/DashboardHeader/SubHeader/SubHeader.tsx
  src/Designer/frontend/packages/schema-editor/src/components/SchemaInspector/ItemMetadataTab.tsx
  src/Designer/frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/SyncLoadingIndicator/SyncLoadingIndicator.tsx
  src/Designer/frontend/packages/shared/src/components/MergeConflictWarning/RemoveChangesPopoverContent/RemoveChangesPopoverContent.tsx
  src/Designer/frontend/packages/ux-editor/src/components/Preview/Preview.test.tsx
  src/Designer/frontend/packages/ux-editor/src/components/Preview/Preview.tsx
  src/Designer/frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/CreateNewSubformSection/CreateNewSubformButtons.tsx
  src/Designer/frontend/packages/ux-editor/src/components/Properties/PropertiesHeader/EditLayoutSetForSubform/EditLayoutSet/CreateNewSubformSection/CreateNewSubformSection.test.tsx
  src/Designer/frontend/packages/ux-editor/src/components/Settings/SettingsNavigation/SettingsNavigation.tsx
  src/Designer/frontend/packages/ux-editor/src/components/TaskNavigation/AddSubformCard/CreateSubformMode.tsx
  src/Designer/frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardEditing.tsx
  src/Designer/frontend/packages/ux-editor/src/components/config/editModal/EditImage/LocalImage/ImportImage/UploadImage/UploadImage.tsx
  src/Designer/frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/EditTab.tsx
  src/Designer/frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListEditor.tsx
Labels: area/ui-editor, skip-releasenotes, skip-manual-testing, squad/utforming

#16412 chore: replace `StudioTableRemotePagination` from legacy
  src/Designer/frontend/libs/studio-components-legacy/src/hooks/useRetainWhileLoading.ts
  src/Designer/frontend/libs/studio-components/src/components/StudioTableRemotePagination/StudioPagination/StudioPagination.tsx
  src/Designer/frontend/libs/studio-components/src/components/StudioTableRemotePagination/StudioPagination/index.ts
  src/Designer/frontend/libs/studio-components/src/components/StudioTableRemotePagination/StudioTableRemotePagination.mdx
  src/Designer/frontend/libs/studio-components/src/components/StudioTableRemotePagination/StudioTableRemotePagination.module.css
  src/Designer/frontend/libs/studio-components/src/components/StudioTableRemotePagination/StudioTableRemotePagination.stories.tsx
  src/Designer/frontend/libs/studio-components/src/components/StudioTableRemotePagination/StudioTableRemotePagination.test.tsx
  src/Designer/frontend/libs/studio-components/src/components/StudioTableRemotePagination/StudioTableRemotePagination.tsx
  src/Designer/frontend/libs/studio-components/src/components/StudioTableRemotePagination/index.ts
  src/Designer/frontend/libs/studio-components/src/components/StudioTableRemotePagination/mockData.module.css
  src/Designer/frontend/libs/studio-components/src/components/StudioTableRemotePagination/mockData.tsx
  src/Designer/frontend/libs/studio-components/src/components/StudioTableRemotePagination/utils.test.tsx
  src/Designer/frontend/libs/studio-components/src/components/StudioTableRemotePagination/utils.tsx
  src/Designer/frontend/libs/studio-components/src/components/index.ts
  src/Designer/frontend/libs/studio-components/src/hooks/index.ts
  src/Designer/frontend/libs/studio-components/src/hooks/useRetainWhileLoading.test.tsx
  src/Designer/frontend/libs/studio-components/src/hooks/useRetainWhileLoading.ts
  src/Designer/frontend/libs/studio-components/src/hooks/useTableSorting.test.tsx
  src/Designer/frontend/libs/studio-components/src/hooks/useTableSorting.tsx
  src/Designer/frontend/libs/studio-components/src/types/TableSortStorageKey.ts
Labels: area/ui-editor, skip-releasenotes, squad/utforming

#16483 feat: add app url to designer profile with 0.0.0.0:5000
  src/Designer/backend/src/Designer/Properties/launchSettings.json
Labels: skip-releasenotes, backend, skip-manual-testing, skip-documentation, squad/data, solution/studio/designer

#16497 fix(resource-adm): fix for button font-sizes in resources dashboard
  src/Designer/frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyAccessPackages/PolicyAccordion/PolicyAccordion.module.css
  src/Designer/frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.test.tsx
  src/Designer/frontend/resourceadm/pages/ResourceDashboardPage/ResourceDashboardPage.tsx
Labels: skip-releasenotes, skip-manual-testing

#16493 fix(resource-adm): look up resource last modified and changed by in parallel to speed up resource list
  src/Designer/backend/src/Designer/Controllers/ResourceAdminController.cs
  src/Designer/backend/src/Designer/Services/Implementation/GiteaAPIWrapper/GiteaAPIWrapper.cs
  src/Designer/backend/src/Designer/Services/Interfaces/IGitea.cs
  src/Designer/backend/tests/Designer.Tests/Mocks/IGiteaMock.cs
Labels: quality/testing, skip-releasenotes, backend, skip-manual-testing, solution/studio/designer

#16540 fix(resource-adm): add new feature flag to skip populating Gitea fields in resource list
  src/Designer/backend/src/Designer/Controllers/ResourceAdminController.cs
  src/Designer/frontend/packages/shared/src/api/paths.js
  src/Designer/frontend/packages/shared/src/api/queries.ts
  src/Designer/frontend/packages/shared/src/utils/featureToggleUtils.ts
  src/Designer/frontend/resourceadm/hooks/queries/useGetResourceListQuery.ts
Labels: skip-releasenotes, backend, area/resource-adm, skip-manual-testing, solution/studio/designer
