Repository Altinn/altinn-studio, pull requests merged in 2025-03, with the labels that each got.

#14839 fix: Add missing translation
  frontend/language/src/nb.json
Labels: kind/bug, solution/studio/designer, added-to-sprint, area/overview, frontend, team/studio-domain1, skip-manual-testing

#14848 chore: set up push of gitea act runner image for brg
  .github/workflows/deploy-gitea-runner-brg.yaml
  charts/gitea-runner-brg-config/Chart.yaml
  charts/gitea-runner-brg-config/templates/helm-release.yaml
  charts/gitea-runner-brg-config/values.yaml
  charts/gitea-runner-brg/.helmignore
  charts/gitea-runner-brg/Chart.yaml
  charts/gitea-runner-brg/templates/_helpers.tpl
  charts/gitea-runner-brg/templates/deployment.yaml
  charts/gitea-runner-brg/values.yaml
Labels: skip-releasenotes, skip-manual-testing

#14826 fix: Make label required
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.test.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditorRow/StudioCodeListEditorRow.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/test-data/texts.ts
  frontend/libs/studio-components/src/components/StudioInputTable/test-data/testTableData.ts
  frontend/libs/studio-components/src/components/StudioTextResourceInput/StudioTextResourceInput.stories.tsx
  frontend/libs/studio-components/src/components/StudioTextResourceInput/StudioTextResourceInput.test.tsx
  frontend/libs/studio-components/src/components/StudioTextResourceInput/StudioTextResourceInput.tsx
  frontend/libs/studio-components/src/components/StudioTextResourceInput/types/TextResourceInputTexts.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/hooks/useCodeListEditorTexts.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/hooks/useOptionListEditorTexts.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain1

#14704 fix: v3 issues
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditDataModelBindings.module.css
  frontend/packages/ux-editor-v3/src/components/config/editModal/EditTextResourceBindings.tsx
Labels: solution/studio/designer, backend, frontend

#14834 test: tests for OrgTextsService
  backend/src/Designer/Services/Implementation/Organisation/OrgTextsService.cs
  backend/tests/Designer.Tests/Services/OrgTextsServiceTests.cs
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, area/content-library, team/studio-domain1, team/studio-core, skip-manual-testing, skip-documentation

#14847 test: tests for AltinnOrgGitRepository, text resources and code lists
  backend/src/Designer/Infrastructure/GitRepository/AltinnOrgGitRepository.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnOrgGitRepositoryTests.cs
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, area/content-library, team/studio-domain1, team/studio-core, skip-manual-testing, skip-documentation

#14829 Test/14609/playwright test for delete row in codelist
  frontend/testing/playwright/pages/OrgLibraryPage/CodeLists.ts
  frontend/testing/playwright/tests/org-library/codelists.spec.ts
Labels: solution/studio/designer, quality/testing, frontend, team/studio-domain1

#14854 build: Update Microsoft.CodeAnalysis
  backend/packagegroups/NuGet.props
Labels: solution/studio/designer, skip-releasenotes, backend, kind/dependencies, added-to-sprint, team/studio-core, skip-manual-testing, skip-documentation

#14683 refactor(pages-api): change parameter for layout operations to just use layout name
  backend/src/Designer/EventHandlers/ComponentIdChanged/ComponentIdChangedLayoutsHandler.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Services/Implementation/AppDevelopmentService.cs
  backend/src/Designer/Services/Implementation/TextsService.cs
  backend/tests/Designer.Tests/Controllers/OptionsController/GetOptionListsReferencesTests.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnAppGitRepositoryTests.cs
  backend/tests/Designer.Tests/Services/OptionsServiceTests.cs
  backend/tests/Designer.Tests/Services/TextsServiceTest.cs
Labels: area/ui-editor, area/text-editor, solution/studio/designer, quality/testing, backend, frontend, team/studio-domain2

#14860 refactor: move HeaderMenuItemKey to enum folder
  frontend/dashboard/enums/HeaderMenuItemKey.ts
  frontend/dashboard/pages/PageLayout/DashboardHeader/dashboardHeaderMenuItems.ts
Labels: area/dashboard, solution/studio/designer, frontend, team/studio-domain1, skip-manual-testing

#14861 refactor: move SelectedContextType enum to enums folder
  frontend/dashboard/components/NewApplicationForm/NewApplicationForm.tsx
  frontend/dashboard/context/HeaderContext/HeaderContext.tsx
  frontend/dashboard/context/HeaderContext/index.ts
  frontend/dashboard/enums/SelectedContextType.ts
  frontend/dashboard/hooks/guards/useContextRedirectionGuard.ts
  frontend/dashboard/hooks/usePageHeaderTitle/usePageHeaderTitle.test.tsx
  frontend/dashboard/hooks/usePageHeaderTitle/usePageHeaderTitle.tsx
  frontend/dashboard/hooks/useProfileMenuTriggerButtonText/useProfileMenuTriggerButtonText.test.tsx
  frontend/dashboard/hooks/useProfileMenuTriggerButtonText/useProfileMenuTriggerButtonText.tsx
  frontend/dashboard/hooks/useSelectedContext/useSelectedContext.ts
  frontend/dashboard/pages/CreateService/CreateService.test.tsx
  frontend/dashboard/pages/Dashboard/Dashboard.test.tsx
  frontend/dashboard/pages/Dashboard/Dashboard.tsx
  frontend/dashboard/pages/OrgContentLibrary/OrgContentLibrary.test.tsx
  frontend/dashboard/pages/OrgContentLibrary/utils.test.ts
  frontend/dashboard/pages/OrgContentLibrary/utils.ts
  frontend/dashboard/pages/PageLayout/DashboardHeader/DashboardHeader.test.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/DashboardHeader.tsx
  frontend/dashboard/pages/PageLayout/PageLayout.test.tsx
  frontend/dashboard/utils/filterUtils/filterUtils.test.ts
  frontend/dashboard/utils/filterUtils/filterUtils.ts
  frontend/dashboard/utils/repoUtils/repoUtils.test.ts
  frontend/dashboard/utils/repoUtils/repoUtils.ts
  frontend/dashboard/utils/userUtils/userUtils.test.ts
  frontend/dashboard/utils/userUtils/userUtils.ts
Labels: area/dashboard, solution/studio/designer, frontend, team/studio-domain1, skip-manual-testing

#14863 fix: revert "refactor(pages-api): implement page api on frontend (#14694)"
  frontend/app-development/features/processEditor/ProcessEditor.test.tsx
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/QueryKey.ts
  frontend/packages/shared/src/types/api/dto/PageModel.ts
  frontend/packages/shared/src/types/api/dto/PagesModel.ts
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/EditPageId.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/EditPageId.tsx
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.test.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useAddLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddPageMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeletePageMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useModifyPageMutation.ts
  frontend/packages/ux-editor/src/hooks/queries/usePagesQuery.ts
  frontend/packages/ux-editor/src/testing/layoutMock.ts
Labels: area/process, area/ui-editor, solution/studio/designer, skip-releasenotes, frontend, skip-manual-testing, skip-documentation

#14859 test: fix failing tests for C# namespace
  backend/tests/Designer.Tests/Controllers/DataModelsController/CsharpNamespaceTests.cs
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, team/studio-domain1, team/studio-core, skip-manual-testing, skip-documentation

#14846 fix(resource-adm): validate org set in resource json when publishing resource
  backend/src/Designer/Services/Implementation/RepositorySI.cs
Labels: solution/studio/designer, skip-releasenotes, backend, skip-manual-testing

#14865 refactor: move dashboardHeaderMenuItems
  frontend/dashboard/pages/PageLayout/DashboardHeader/DashboardHeader.tsx
  frontend/dashboard/types/HeaderMenuItem.ts
  frontend/dashboard/utils/headerUtils/headerUtils.ts
  frontend/dashboard/utils/headerUtils/index.ts
Labels: team/studio-domain1, skip-manual-testing

#14867 refactor(pages-api): implement new page re-ordering
  backend/src/Designer/Controllers/LayoutController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Models/AltinnPageLayout.cs
  backend/src/Designer/Services/Implementation/LayoutService.cs
  backend/src/Designer/Services/Interfaces/ILayoutService.cs
  frontend/app-development/features/processEditor/ProcessEditor.test.tsx
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/queryInvalidator/SyncSuccessQueriesInvalidator.test.ts
  frontend/packages/shared/src/queryInvalidator/SyncSuccessQueriesInvalidator.ts
  frontend/packages/shared/src/types/QueryKey.ts
  frontend/packages/shared/src/types/api/dto/PageModel.ts
  frontend/packages/shared/src/types/api/dto/PagesModel.ts
  frontend/packages/ux-editor/src/classes/FormLayoutSettings.ts
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/EditPageId.test.tsx
  frontend/packages/ux-editor/src/components/Properties/PageConfigPanel/EditPageId.tsx
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/DesignView.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/NavigationMenu/NavigationMenu.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.test.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PageAccordion/PageAccordion.tsx
  frontend/packages/ux-editor/src/containers/DesignView/PdfLayout/PdfLayoutAccordion.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.test.tsx
  frontend/packages/ux-editor/src/hooks/mutations/useAddLayoutMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useAddPageMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useChangePageOrderMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useDeletePageMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useModifyPageMutation.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateLayoutOrderMutation.test.ts
  frontend/packages/ux-editor/src/hooks/mutations/useUpdateLayoutOrderMutation.ts
  frontend/packages/ux-editor/src/hooks/queries/usePagesQuery.ts
  frontend/packages/ux-editor/src/testing/layoutMock.ts
Labels: area/process, area/ui-editor, solution/studio/designer, backend, frontend, skip-manual-testing

#14849 feat: Add a tab menu for settings on new navigation page
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/Settings/SettingsTabs.module.css
  frontend/packages/ux-editor/src/components/Settings/SettingsTabs.test.tsx
  frontend/packages/ux-editor/src/components/Settings/SettingsTabs.tsx
  frontend/packages/ux-editor/src/containers/FormDesignNavigation/FormDesignerNavigation.tsx
Labels: area/ui-editor, solution/studio/designer, frontend

#14808 ci: Remove branch filter for pull request checks
  .github/workflows/designer-dotnet-test.yaml
  .github/workflows/dotnet-format.yaml
  .github/workflows/run-playwright-on-pr.yaml
Labels: ops/ci-cd, skip-releasenotes, added-to-sprint, team/studio-core, skip-manual-testing, skip-documentation

#14827 chore: Log errors from queries/mutations
  frontend/app-development/features/appPublish/components/ConfirmUndeployDialog/ConfirmUndeployDialog.test.tsx
  frontend/app-development/features/appPublish/components/Deploy/Deploy.test.tsx
  frontend/app-development/features/appPublish/components/Deploy/DeployDropdown/DeployDropdown.test.tsx
  frontend/app-development/features/appPublish/containers/DeploymentContainer.test.tsx
  frontend/app-development/features/appPublish/pages/DeployPage.test.tsx
  frontend/app-development/features/dataModelling/SchemaEditorWithToolbar/TopToolbar/TopToolbar.test.tsx
  frontend/app-development/features/overview/components/Deployments/DeploymentContainer/DeploymentContainer.test.tsx
  frontend/app-development/features/overview/components/Deployments/Deployments.test.tsx
  frontend/app-development/features/overview/components/Overview.test.tsx
  frontend/app-development/layout/PageLayout.test.tsx
  frontend/dashboard/pages/CreateService/CreateService.test.tsx
  frontend/packages/shared/src/contexts/ServicesContext.test.tsx
  frontend/packages/shared/src/contexts/ServicesContext.tsx
  frontend/packages/shared/src/hooks/mutations/useAddImageMutation.test.ts
Labels: area/data-modeling, area/process, area/ui-editor, area/dashboard, area/app-deploy, solution/studio/designer, area/authorization, area/version-control, area/overview, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#14844 feat: new studio component StudioIconCard
  frontend/libs/studio-components/src/components/StudioIconCard/StudioIconCard.module.css
  frontend/libs/studio-components/src/components/StudioIconCard/StudioIconCard.test.tsx
  frontend/libs/studio-components/src/components/StudioIconCard/StudioIconCard.tsx
  frontend/testing/testids.js
Labels: area/ui-editor, solution/studio/designer, quality/testing, frontend, team/studio-domain2, skip-manual-testing

#14858 fix: allow linking a data model to a layout set that was created after a subform
  backend/src/Designer/EventHandlers/ProcessDataTypesChanged/ProcessDataTypesChangedLayoutSetsHandler.cs
Labels: kind/bug, solution/studio/designer, backend, added-to-sprint, team/studio-domain2

#14893 chore: weekly patching of PDF
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes

#14845 feat: implement StudioIconCard for tasks on new navigation page
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioIconCard/StudioIconCard.module.css
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCard.test.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCard.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardBar.module.css
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardBar.tsx
  frontend/packages/ux-editor/src/containers/FormDesignNavigation/FormDesignerNavigation.module.css
  frontend/packages/ux-editor/src/containers/FormDesignNavigation/FormDesignerNavigation.tsx
  frontend/packages/ux-editor/src/hooks/useLayoutSetIcon.test.tsx
  frontend/packages/ux-editor/src/hooks/useLayoutSetIcon.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#14899 fix: re-add row-gap to StudioIconCard .content
  frontend/libs/studio-components/src/components/StudioIconCard/StudioIconCard.module.css
Labels: solution/studio/designer, frontend, skip-manual-testing

#14856 fix: Add button to remove binding between options list and component.
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListEditor.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListEditor.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListEditor.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain1

#14868 fix: Add onBlurTextResource prop to StudioCodeListEditor (1)
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.test.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditorRow/StudioCodeListEditorRow.tsx
Labels: solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation, area/studio-components

#14901 test: Improve tests for organisation content library
  frontend/dashboard/pages/OrgContentLibrary/OrgContentLibrary.test.tsx
  frontend/dashboard/pages/OrgContentLibrary/test-data/codeListDataList.ts
  frontend/dashboard/testing/mocks.tsx
Labels: area/dashboard, solution/studio/designer, quality/testing, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14902 feat: StudioCodeListEditor - disable add button when a boolean code list has two items
  frontend/language/src/nb.json
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.test.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/StudioCodeListEditor.tsx
  frontend/libs/studio-components/src/components/StudioCodelistEditor/test-data/texts.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/types/CodeListEditorTexts.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/utils.test.ts
  frontend/libs/studio-components/src/components/StudioCodelistEditor/utils.ts
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/CodeListPage/hooks/useCodeListEditorTexts.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/hooks/useOptionListEditorTexts.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain1

#14935 fix: Playwright issue in staging when codelists are not deleted
  frontend/testing/playwright/pages/OrgLibraryPage/CodeLists.ts
  frontend/testing/playwright/tests/org-library/codelists.spec.ts
Labels: solution/studio/designer, quality/testing, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#14900 refactor: use generic submit function in feedback form
  frontend/language/src/nb.json
  frontend/libs/studio-feedback-form/src/FeedbackForm/FeedbackForm.test.tsx
  frontend/libs/studio-feedback-form/src/FeedbackForm/FeedbackForm.tsx
  frontend/libs/studio-feedback-form/src/config/FeedbackFormImpl.test.tsx
  frontend/libs/studio-feedback-form/src/config/FeedbackFormImpl.tsx
  frontend/libs/studio-feedback-form/src/contexts/FeedbackFormContext.test.tsx
  frontend/libs/studio-feedback-form/src/contexts/FeedbackFormContext.tsx
  frontend/libs/studio-feedback-form/src/index.ts
  frontend/libs/studio-feedback-form/src/types/FeedbackFormConfig.ts
  frontend/libs/studio-feedback-form/src/utils/submitUtils.test.ts
  frontend/libs/studio-feedback-form/src/utils/submitUtils.ts
  frontend/packages/ux-editor/src/containers/DesignView/AddItem/FeedbackForm.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, skip-manual-testing

#14938 feat: adding header menu group enum
  frontend/dashboard/enums/HeaderMenuGroupKey.ts
  frontend/dashboard/testing/headerContextMock.ts
  frontend/dashboard/types/HeaderMenuItem.ts
  frontend/dashboard/utils/headerUtils/headerUtils.ts
Labels: area/dashboard, solution/studio/designer, frontend, team/studio-domain1, skip-manual-testing

#14940 feat: add header utils for dashboardheader
  frontend/dashboard/types/HeaderMenuGroup.ts
  frontend/dashboard/utils/headerUtils/headerUtils.test.ts
  frontend/dashboard/utils/headerUtils/headerUtils.ts
  frontend/dashboard/utils/headerUtils/index.ts
Labels: area/dashboard, solution/studio/designer, frontend, team/studio-domain1, skip-manual-testing

#14491 feat: add library as beta to studio page header with news
  frontend/app-development/enums/HeaderMenuItemKey.ts
  frontend/app-development/features/overview/components/News/NewsContent/news.nb.json
  frontend/app-development/utils/headerMenu/headerMenuUtils.test.ts
  frontend/app-development/utils/headerMenu/headerMenuUtils.ts
  frontend/language/src/nb.json
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/ImagesPage/ImagesPage.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryBody/pages/ImagesPage/ImagesPage.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryHeader/LibraryHeader.module.css
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryHeader/LibraryHeader.test.tsx
  frontend/libs/studio-content-library/src/ContentLibrary/LibraryHeader/LibraryHeader.tsx
  frontend/testing/playwright/pages/OrgLibraryPage/OrgLibraryPage.ts
Labels: solution/studio/designer, quality/testing, area/overview, frontend, team/studio-domain1, skip-documentation

#14872 chore: Update NGINX `worker_processes` to match CPU cores
  charts/altinn-loadbalancer/templates/configmap.yaml
Labels: skip-releasenotes, kind/chore, added-to-sprint, team/studio-core, skip-manual-testing

#14964 chore: weekly patching of pdf
  src/Altinn.Platform/Altinn.Platform.PDF/pom.xml
Labels: solution/platform, skip-releasenotes

#14959 fix: Add ArrayUtils.extractKeyValuePairs
  frontend/libs/studio-pure-functions/src/ArrayUtils/ArrayUtils.test.ts
  frontend/libs/studio-pure-functions/src/ArrayUtils/ArrayUtils.ts
Labels: solution/studio/designer, skip-releasenotes, area/content-library, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14939 feat: urlUtils for dashboardHeader
  frontend/app-development/layout/PageHeader/LargeNavigationMenu/LargeNavigationMenu.tsx
  frontend/app-development/layout/PageHeader/SmallHeaderMenu/SmallHeaderMenuItem/SmallHeaderMenuItem.tsx
  frontend/app-development/utils/headerMenu/headerMenuUtils.test.ts
  frontend/app-development/utils/headerMenu/headerMenuUtils.ts
  frontend/dashboard/utils/urlUtils/index.ts
  frontend/dashboard/utils/urlUtils/urlUtils.test.ts
  frontend/libs/studio-pure-functions/src/UrlUtils/UrlUtils.test.ts
  frontend/libs/studio-pure-functions/src/UrlUtils/UrlUtils.ts
  frontend/libs/studio-pure-functions/src/UrlUtils/index.ts
  frontend/libs/studio-pure-functions/src/index.ts
Labels: area/dashboard, solution/studio/designer, frontend, team/studio-domain1, skip-manual-testing

#14888 feat: implement policy summary for app policy
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/SettingsModal.module.css
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/PolicyTab/PolicyTab.test.tsx
  frontend/language/src/nb.json
  frontend/packages/policy-editor/src/PolicyEditor.module.css
  frontend/packages/policy-editor/src/PolicyEditor.test.tsx
  frontend/packages/policy-editor/src/PolicyEditor.tsx
  frontend/packages/policy-editor/src/components/PolicyEditorTabs/PolicyEditorTabs.test.tsx
  frontend/packages/policy-editor/src/components/PolicyEditorTabs/PolicyEditorTabs.tsx
  frontend/packages/policy-editor/src/components/PolicyEditorTabs/index.ts
  frontend/packages/policy-editor/src/components/PolicyRulesEditor/PolicyRulesEditor.module.css
  frontend/packages/policy-editor/src/components/PolicyRulesEditor/PolicyRulesEditor.test.tsx
  frontend/packages/policy-editor/src/components/PolicyRulesEditor/PolicyRulesEditor.tsx
  frontend/packages/policy-editor/src/components/PolicyRulesEditor/index.ts
  frontend/packages/policy-editor/src/components/PolicySummary/PolicyRuleSummary/PolicyRuleSubjectSummary.tsx
  frontend/packages/policy-editor/src/components/PolicySummary/PolicySummary.tsx
  frontend/packages/policy-editor/src/components/PolicySummary/index.ts
  frontend/packages/policy-editor/src/utils/AppPolicyUtils/AppPolicyUtils.test.ts
  frontend/packages/policy-editor/src/utils/AppPolicyUtils/AppPolicyUtils.ts
  frontend/testing/playwright/components/PolicyEditor.ts
  frontend/testing/playwright/tests/settings-modal/settings-modal.spec.ts
Labels: solution/studio/designer, area/authorization, quality/testing, frontend, team/studio-core, skip-manual-testing

#14960 feat(policy-editor): rule header shows description and is closed by default
  frontend/app-development/layout/PageHeader/SubHeader/SettingsModalButton/SettingsModal/components/Tabs/PolicyTab/PolicyTab.test.tsx
  frontend/packages/policy-editor/src/PolicyEditor.test.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyCardRules.test.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/ExpandablePolicyElement/ExpandablePolicyElement.module.css
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/ExpandablePolicyElement/ExpandablePolicyElement.test.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/ExpandablePolicyElement/ExpandablePolicyElement.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyRule.test.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/PolicyRule.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/SubResources/ResourceNarrowingList/ResourceNarrowingList.test.tsx
  frontend/packages/policy-editor/src/components/PolicyCardRules/PolicyRule/SubResources/SubResources.test.tsx
  frontend/packages/policy-editor/src/components/PolicyEditorAlert/PolicyEditorAlert.test.tsx
  frontend/packages/policy-editor/src/components/PolicyEditorAlert/PolicyEditorAlert.tsx
  frontend/packages/policy-editor/src/components/PolicyRulesEditor/PolicyRulesEditor.test.tsx
Labels: solution/studio/designer, area/authorization, frontend, team/studio-core, skip-manual-testing

#14969 feat(policy-editor): Implement feedback form
  frontend/language/src/nb.json
  frontend/packages/policy-editor/src/components/PolicySummary/FeedbackForm/FeedbackForm.tsx
  frontend/packages/policy-editor/src/components/PolicySummary/PolicySummary.module.css
  frontend/packages/policy-editor/src/components/PolicySummary/PolicySummary.tsx
Labels: solution/studio/designer, area/authorization, frontend, skip-manual-testing

#14952 refactor: Split tests for OptionListEditor and move into child components (1)
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/LibraryOptionsEditor/LibraryOptionsEditor.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/LibraryOptionsEditor/LibraryOptionsEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/ManualOptionsEditor/ManualOptionsEditor.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/ManualOptionsEditor/ManualOptionsEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListEditor.test.tsx
Labels: area/ui-editor, solution/studio/designer, quality/testing, frontend, team/studio-domain1, skip-manual-testing

#14945 refactor: Move org and app out of GiteaHeader
  frontend/app-development/layout/PageHeader/SubHeader/SubHeader.tsx
  frontend/packages/shared/src/components/GiteaHeader/GiteaHeader.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/ClonePopoverContent/ClonePopoverContent.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/ClonePopoverContent/ClonePopoverContent.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/DeleteModal/DeleteModal.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChanges/LocalChanges.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChanges/LocalChanges.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/LocalChangesModal/LocalChangesModal.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/ThreeDotsMenu.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/ThreeDotsMenu/ThreeDotsMenu.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/VersionControlButtons.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/VersionControlButtons.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/FetchChangesPopover/FetchChangesPopover.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/FetchChangesPopover/FetchChangesPopover.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/CommitAndPushContent.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/FileChangesInfoModal/FileChangesInfoModal.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/FileChangesInfoModal/FileChangesInfoModal.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/CommitAndPushContent/FileChangesInfoModal/FilePath/FilePath.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/ShareChangesPopover.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/components/ShareChangesPopover/ShareChangesPopover.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/context/VersionControlButtonsContext/VersionControlButtonsContext.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/context/VersionControlButtonsContext/VersionControlButtonsContext.tsx
  frontend/packages/shared/src/components/GiteaHeader/VersionControlButtons/context/VersionControlButtonsContext/index.ts
  frontend/packages/shared/src/components/GiteaHeader/context/GiteaHeaderContext/GiteaHeaderContext.test.tsx
  frontend/packages/shared/src/components/GiteaHeader/context/GiteaHeaderContext/GiteaHeaderContext.tsx
  frontend/packages/shared/src/components/GiteaHeader/context/GiteaHeaderContext/index.ts
  frontend/packages/shared/src/components/GiteaHeader/mocks/renderWithProviders.tsx
  frontend/resourceadm/components/ResourceAdmHeader/ResourceAdmHeader.tsx
  frontend/resourceadm/testing/playwright/helpers/routes.ts
Labels: solution/studio/designer, area/version-control, frontend, team/studio-domain1

#14970 fix: Remove dashes from class names to make them work with css-loader
  frontend/libs/studio-components/src/components/StudioBreadcrumbs/StudioBreadcrumbs.module.css
  frontend/libs/studio-components/src/components/StudioBreadcrumbs/StudioBreadcrumbs.tsx
Labels: solution/studio/designer, added-to-sprint, frontend, team/studio-domain2, skip-manual-testing

#14982 fix(policy-editor): save role subject and accesspackage subject in same anyOf in xacml-policy
  backend/PolicyAdmin/PolicyConverter.cs
Labels: solution/studio/designer, backend, skip-manual-testing

#14958 feat: use text resource editor for codelists in ux editor (2)
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/EditTab.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/EditTab.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/LibraryOptionsEditor/LibraryOptionsEditor.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/LibraryOptionsEditor/LibraryOptionsEditor.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/LibraryOptionsEditor/LibraryOptionsEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/ManualOptionsEditor/ManualOptionsEditor.module.css
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/ManualOptionsEditor/ManualOptionsEditor.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/ManualOptionsEditor/ManualOptionsEditor.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListEditor.test.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/OptionListLabels/OptionListLabels.tsx
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/hooks/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/hooks/useHandleBlurTextResource.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/hooks/useHandleBlurTextResource.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/hooks/useTextResourcesForLanguage.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/hooks/useTextResourcesForLanguage.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/utils/index.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/utils/utils.test.ts
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListEditor/utils/utils.ts
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain1

#14983 refactor: move the MergeConflictWarning component to shared
  frontend/app-development/features/simpleMerge/MergeConflictWarning.test.tsx
  frontend/app-development/layout/PageLayout.tsx
  frontend/packages/shared/src/components/MergeConflictWarning/MergeConflictWarning.module.css
  frontend/packages/shared/src/components/MergeConflictWarning/MergeConflictWarning.test.tsx
  frontend/packages/shared/src/components/MergeConflictWarning/MergeConflictWarning.tsx
  frontend/packages/shared/src/components/MergeConflictWarning/RemoveChangesPopoverContent/RemoveChangesPopoverContent.module.css
  frontend/packages/shared/src/components/MergeConflictWarning/RemoveChangesPopoverContent/RemoveChangesPopoverContent.test.tsx
  frontend/packages/shared/src/components/MergeConflictWarning/RemoveChangesPopoverContent/RemoveChangesPopoverContent.tsx
  frontend/packages/shared/src/components/MergeConflictWarning/RemoveChangesPopoverContent/index.ts
  frontend/packages/shared/src/components/MergeConflictWarning/index.ts
Labels: solution/studio/designer, added-to-sprint, frontend, team/studio-domain1, team/studio-core, skip-manual-testing

#14894 feat: 14736 implement a create new task button that redirects to the process page
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardBar.test.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardBar.tsx
  frontend/packages/ux-editor/src/containers/AddNewTask/AddNewTask.module.css
  frontend/packages/ux-editor/src/containers/AddNewTask/AddNewTask.test.tsx
  frontend/packages/ux-editor/src/containers/AddNewTask/AddNewTask.tsx
  frontend/packages/ux-editor/src/containers/AddNewTask/index.ts
  frontend/packages/ux-editor/src/containers/FormDesignNavigation/FormDesignerNavigation.tsx
Labels: area/ui-editor, solution/studio/designer, frontend

#14903 feat: 14739 add breadcrumbs on designer page
  frontend/libs/studio-components/src/components/StudioBreadcrumbs/StudioBreadcrumbs.module.css
  frontend/packages/ux-editor/src/containers/BreadcrumbsTaskNavigation/BreadcrumbsTaskNavigation.module.css
  frontend/packages/ux-editor/src/containers/BreadcrumbsTaskNavigation/BreadcrumbsTaskNavigation.test.tsx
  frontend/packages/ux-editor/src/containers/BreadcrumbsTaskNavigation/BreadcrumbsTaskNavigation.tsx
  frontend/packages/ux-editor/src/containers/BreadcrumbsTaskNavigation/index.ts
  frontend/packages/ux-editor/src/containers/FormDesignerToolbar.test.tsx
  frontend/packages/ux-editor/src/containers/FormDesignerToolbar.tsx
Labels: area/ui-editor, solution/studio/designer, frontend

#14936 feat: added feature flags for edit cards
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.tsx
  frontend/packages/shared/src/utils/featureToggleUtils.test.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
Labels: area/process, solution/studio/designer, frontend

#14986 refactor: create useListenToMergeConflictInRepo
  frontend/app-development/layout/App.tsx
  frontend/packages/shared/src/hooks/useListenToMergeConflictInRepo.test.tsx
  frontend/packages/shared/src/hooks/useListenToMergeConflictInRepo.ts
Labels: solution/studio/designer, frontend, team/studio-domain1, team/studio-core, skip-manual-testing

#14984 docs: Update backend documentation for IOrgCodeListService
  backend/src/Designer/Services/Interfaces/Organisation/IOrgCodeListService.cs
Labels: solution/studio/designer, skip-releasenotes, backend, area/content-library, team/studio-domain1, skip-manual-testing, skip-documentation

#14908 feat: enable deletion of layout sets for subforms
  frontend/libs/studio-components/src/components/StudioIconCard/StudioIconCard.module.css
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCard.test.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCard.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#14933 feat(taskNavigation): Cards link to utforming
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCard.test.tsx
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCard.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#14805 fix: ensure `hasValue` in `StudioPropertyButton` returns `true` when value is `0`
  frontend/libs/studio-components/src/components/StudioProperty/StudioPropertyButton/StudioPropertyButton.test.tsx
  frontend/libs/studio-components/src/components/StudioProperty/StudioPropertyButton/StudioPropertyButton.tsx
  frontend/libs/studio-pure-functions/src/ValidationUtils/ValidationUtils.test.ts
  frontend/libs/studio-pure-functions/src/ValidationUtils/ValidationUtils.ts
  frontend/libs/studio-pure-functions/src/ValidationUtils/index.ts
  frontend/libs/studio-pure-functions/src/index.ts
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/NumberRestrictions/NumberRestrictions.test.tsx
  frontend/packages/schema-editor/src/components/SchemaInspector/ItemRestrictions/NumberRestrictions/NumberRestrictions.tsx
  frontend/packages/schema-editor/src/utils/value.ts
  frontend/packages/schema-model/src/lib/restrictions.ts
Labels: area/data-modeling, solution/studio/designer, added-to-sprint, frontend, team/studio-domain2

#14994 fix: scroll in option list editor modal
  frontend/packages/ux-editor/src/components/config/editModal/EditOptions/OptionTabs/EditTab/OptionListSelector/OptionListSelector.module.css
Labels: area/ui-editor, solution/studio/designer, skip-releasenotes, added-to-sprint, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14985 feat: set returnTo in header context
  frontend/app-development/contexts/PageHeaderContext/PageHeaderContext.tsx
  frontend/app-development/contexts/PageHeaderContext/index.ts
  frontend/app-development/layout/PageHeader/SubHeader/SubHeader.test.tsx
  frontend/app-development/layout/PageHeader/SubHeader/SubHeader.tsx
  frontend/app-development/test/headerMocks.ts
  frontend/language/src/nb.json
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#14988 feat: create feature flag for navigation tab
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/components/Settings/SettingsTabs.test.tsx
  frontend/packages/ux-editor/src/components/Settings/SettingsTabs.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, skip-manual-testing

#14989 fix: dotnet test workflow functioning correctly in all enviorments
  .github/workflows/designer-dotnet-test.yaml
Labels: ops/ci-cd, skip-releasenotes, team/studio-domain1, team/studio-core, skip-manual-testing, skip-documentation

#14990 chore: Clean up props
  frontend/packages/ux-editor/src/components/config/EditFormComponent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/ComponentSpecificContent.tsx
  frontend/packages/ux-editor/src/components/config/componentSpecificContent/Image/ImageComponent.tsx
Labels: area/ui-editor, solution/studio/designer, added-to-sprint, frontend, team/studio-domain2, skip-manual-testing

#14968 feat: added featureFlags taskNavigationPageGroup
  frontend/packages/shared/src/utils/featureToggleUtils.test.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
Labels: solution/studio/designer, frontend, skip-manual-testing

#14999 feat: return to ui-editor from add new task
  frontend/packages/ux-editor/src/containers/AddNewTask/AddNewTask.test.tsx
  frontend/packages/ux-editor/src/containers/AddNewTask/AddNewTask.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2

#14950 feat: Implement GiteaHeader for org library
  frontend/dashboard/app/App.test.tsx
  frontend/dashboard/constants/index.ts
  frontend/dashboard/hooks/useOrgRepoName/index.ts
  frontend/dashboard/hooks/useOrgRepoName/useOrgRepoName.test.ts
  frontend/dashboard/hooks/useOrgRepoName/useOrgRepoName.ts
  frontend/dashboard/pages/OrgContentLibrary/OrgContentLibrary.test.tsx
  frontend/dashboard/pages/OrgContentLibrary/OrgContentLibrary.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/DashboardHeader.test.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/DashboardHeader.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/SubHeader/SubHeader.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/SubHeader/index.ts
  frontend/dashboard/pages/PageLayout/PageLayout.test.tsx
  frontend/dashboard/pages/PageLayout/PageLayout.tsx
  frontend/dashboard/testing/headerContextMock.ts
  frontend/packages/shared/src/hooks/queries/useRepoStatusQuery.ts
Labels: area/dashboard, solution/studio/designer, area/version-control, frontend, team/studio-domain1

#15003 test: add repo with groups and taskNavigation
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/config/applicationmetadata.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/config/process/process.bpmn
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/config/texts/resource.en.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/config/texts/resource.nb.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/models/model.schema.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/models/subform.schema.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/ui/footer.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/ui/form/Settings.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/ui/form/layouts/age.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/ui/form/layouts/birthday.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/ui/form/layouts/cars.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/ui/form/layouts/emails.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/ui/form/layouts/extra.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/ui/form/layouts/feedback.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/ui/form/layouts/firstname.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/ui/form/layouts/important.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/ui/form/layouts/info1.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/ui/form/layouts/info2.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/ui/form/layouts/lastname.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/ui/form/layouts/summary.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/ui/layout-sets.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/ui/subform/Settings.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/ui/subform/layouts/brand.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/ui/subform/layouts/reg.json
  backend/tests/Designer.Tests/_TestData/Repositories/testUser/ttd/app-with-groups-and-taskNavigation/App/ui/subform/layouts/year.json
Labels: solution/studio/designer, quality/testing, backend, team/studio-domain2, skip-manual-testing

#14995 feat: Add mutation hook for importing from org to app
  frontend/app-development/hooks/mutations/useImportCodeListFromOrgToAppMutation.test.ts
  frontend/app-development/hooks/mutations/useImportCodeListFromOrgToAppMutation.ts
  frontend/packages/shared/src/api/mutations.ts
  frontend/packages/shared/src/mocks/optionListsResponseMocks.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#14991 feat: add info alert to new utforming page
  frontend/language/src/nb.json
  frontend/packages/ux-editor/src/containers/FormDesignNavigation/FormDesignerNavigation.module.css
  frontend/packages/ux-editor/src/containers/FormDesignNavigation/FormDesignerNavigation.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, skip-manual-testing

#14992 feat: Import code list from org to app (1)
  backend/src/Designer/Services/Implementation/OptionsService.cs
  backend/src/Designer/Services/Interfaces/IOptionsService.cs
  backend/tests/Designer.Tests/Services/OptionsServiceTests.cs
  backend/tests/Designer.Tests/Utils/TestDataHelper.cs
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, area/content-library, team/studio-domain1, team/studio-core, skip-manual-testing, skip-documentation

#15012 refactor: move isOrg function
  frontend/dashboard/pages/OrgContentLibrary/OrgContentLibrary.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/DashboardHeader.tsx
  frontend/dashboard/pages/PageLayout/PageLayout.tsx
  frontend/dashboard/utils/orgUtils/index.ts
  frontend/dashboard/utils/orgUtils/orgUtils.test.ts
  frontend/dashboard/utils/orgUtils/orgUtils.ts
Labels: area/dashboard, solution/studio/designer, added-to-sprint, frontend, team/studio-domain1, skip-manual-testing

#15004 refactor: remove 'all-json' and 'all-xsd' data model endpoints
  backend/src/Designer/Controllers/DatamodelsController.cs
  backend/src/Designer/Infrastructure/GitRepository/AltinnAppGitRepository.cs
  backend/src/Designer/Services/Implementation/SchemaModelService.cs
  backend/src/Designer/Services/Interfaces/ISchemaModelService.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/GetDatamodelsTests.cs
  backend/tests/Designer.Tests/Controllers/DataModelsController/GetXsdDatamodelsTests.cs
  backend/tests/Designer.Tests/Infrastructure/GitRepository/AltinnAppGitRepositoryTests.cs
  backend/tests/Designer.Tests/Services/SchemaModelServiceTests.cs
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15006 fix: move repo status check to subheader
  frontend/dashboard/app/App.test.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/DashboardHeader.test.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/DashboardHeader.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/SubHeader/SubHeader.test.tsx
  frontend/dashboard/pages/PageLayout/DashboardHeader/SubHeader/SubHeader.tsx
  frontend/dashboard/pages/PageLayout/PageLayout.test.tsx
  frontend/dashboard/pages/PageLayout/PageLayout.tsx
Labels: area/dashboard, solution/studio/designer, frontend, team/studio-domain1, team/studio-core

#15018 test: Remove test-repo folders after running tests
  backend/tests/Designer.Tests/Services/OptionsServiceTests.cs
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, team/studio-domain1, skip-manual-testing, skip-documentation

#14993 feat: Add endpoint for importing code lists from org to app (2)
  backend/src/Designer/Controllers/OptionsController.cs
  backend/tests/Designer.Tests/Controllers/ApiTests/DesignerEndpointsTestsBase.cs
  backend/tests/Designer.Tests/Controllers/OptionsController/ImportOptionsListFromOrgTests.cs
Labels: solution/studio/designer, quality/testing, skip-releasenotes, backend, area/content-library, team/studio-domain1, team/studio-core, skip-manual-testing, skip-documentation

#15019 fix: Fix useTextResourcesForOrgQuery
  frontend/packages/shared/src/hooks/queries/useTextResourcesForOrgQuery.test.ts
  frontend/packages/shared/src/hooks/queries/useTextResourcesForOrgQuery.ts
  frontend/packages/shared/src/mocks/renderHookWithProviders.tsx
Labels: kind/bug, solution/studio/designer, quality/code, quality/testing, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15025 feat: make css of new task button match other cards on the new landing page
  frontend/packages/ux-editor/src/containers/AddNewTask/AddNewTask.module.css
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#14981 refactor: deleting unused component
  frontend/packages/shared/src/components/LeftNavigationBar/GoBackButton/GoBackButton.module.css
  frontend/packages/shared/src/components/LeftNavigationBar/GoBackButton/GoBackButton.test.tsx
  frontend/packages/shared/src/components/LeftNavigationBar/GoBackButton/GoBackButton.tsx
  frontend/packages/shared/src/components/LeftNavigationBar/GoBackButton/index.ts
  frontend/packages/shared/src/components/LeftNavigationBar/LeftNavigationBar.module.css
  frontend/packages/shared/src/components/LeftNavigationBar/LeftNavigationBar.test.tsx
  frontend/packages/shared/src/components/LeftNavigationBar/LeftNavigationBar.tsx
  frontend/packages/shared/src/components/LeftNavigationBar/Tab/Tab.module.css
  frontend/packages/shared/src/components/LeftNavigationBar/Tab/Tab.test.tsx
  frontend/packages/shared/src/components/LeftNavigationBar/Tab/Tab.tsx
  frontend/packages/shared/src/components/LeftNavigationBar/Tab/TabContent/TabContent.test.tsx
  frontend/packages/shared/src/components/LeftNavigationBar/Tab/TabContent/TabContent.tsx
  frontend/packages/shared/src/components/LeftNavigationBar/Tab/TabContent/index.ts
  frontend/packages/shared/src/components/LeftNavigationBar/Tab/index.ts
  frontend/packages/shared/src/components/LeftNavigationBar/index.ts
Labels: solution/studio/designer, frontend, team/studio-core, skip-manual-testing

#15000 feat: Add new endpoint to retrieve the task navigation
  backend/src/Designer/Controllers/TaskNavigationController.cs
  backend/src/Designer/Infrastructure/ServiceRegistration.cs
  backend/src/Designer/Models/Dto/TaskNavigationGroupDto.cs
  backend/src/Designer/Models/LayoutSets.cs
  backend/src/Designer/Services/Implementation/TaskNavigationService.cs
  backend/src/Designer/Services/Interfaces/ITaskNavigationService.cs
  backend/tests/Designer.Tests/Controllers/TaskNavigationController/GetTaskNavigationTests.cs
Labels: solution/studio/designer, quality/testing, backend

#15053 feat: Task navigation group hook
  frontend/packages/shared/src/api/paths.js
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/hooks/queries/useTaskNavigationGroupQuery.test.ts
  frontend/packages/shared/src/hooks/queries/useTaskNavigationGroupQuery.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/QueryKey.ts
  frontend/packages/shared/src/types/api/dto/TaskNavigationGroup.ts
Labels: solution/studio/designer, frontend, skip-manual-testing

#14996 feat: add query hook for getting all available optionLists
  frontend/app-development/hooks/queries/useGetAvailableCodeListsFromOrgQuery.test.ts
  frontend/app-development/hooks/queries/useGetAvailableCodeListsFromOrgQuery.ts
  frontend/packages/shared/src/api/queries.ts
  frontend/packages/shared/src/mocks/codeListTitlesMock.ts
  frontend/packages/shared/src/mocks/queriesMock.ts
  frontend/packages/shared/src/types/QueryKey.ts
Labels: solution/studio/designer, skip-releasenotes, frontend, team/studio-domain1, skip-manual-testing, skip-documentation

#15020 feat: added a new library for studio components built with designsystem v1
  Dockerfile
  frontend/jest.config.js
  frontend/libs/studio-components-legacy/README.md
  frontend/libs/studio-components/.eslintrc.js
  frontend/libs/studio-components/.storybook/main.ts
  frontend/libs/studio-components/.storybook/manager.ts
  frontend/libs/studio-components/.storybook/preview-head.html
  frontend/libs/studio-components/.storybook/preview.tsx
  frontend/libs/studio-components/.storybook/studioTheme.ts
  frontend/libs/studio-components/README.md
  frontend/libs/studio-components/jest.config.js
  frontend/libs/studio-components/package.json
  frontend/libs/studio-components/src/Overview.mdx
  frontend/libs/studio-components/src/components/index.ts
  frontend/libs/studio-components/src/index.ts
  frontend/libs/studio-components/src/storybook-utils/decorators/FixedWidthDecorator/FixedWidthDecorator.module.css
  frontend/libs/studio-components/src/storybook-utils/decorators/FixedWidthDecorator/FixedWidthDecorator.test.tsx
  frontend/libs/studio-components/src/storybook-utils/decorators/FixedWidthDecorator/FixedWidthDecorator.tsx
  frontend/libs/studio-components/src/storybook-utils/decorators/FixedWidthDecorator/index.ts
  frontend/libs/studio-components/src/test-utils/selectors.ts
  frontend/libs/studio-components/src/test-utils/testCustomAttributes.ts
  frontend/libs/studio-components/src/test-utils/testOnClickCallbackReceivesNativeEvent.ts
  frontend/libs/studio-components/src/test-utils/testRefForwarding.ts
  frontend/libs/studio-components/src/test-utils/testRootClassNameAppending.ts
  frontend/libs/studio-components/tsconfig.json
  yarn.lock
Labels: area/data-modeling, area/process, area/ui-editor, area/text-editor, area/dashboard, area/app-preview, area/app-deploy, solution/studio/designer, area/authorization, area/version-control, kind/dependencies, area/studio-root, area/overview, frontend, team/studio-domain1, team/studio-domain2, team/studio-core

#15005 feat: remove feature flag - `taskNavigation`
  frontend/app-preview/src/views/LandingPage.test.tsx
  frontend/packages/process-editor/src/components/ConfigPanel/ConfigContent/ConfigContent.tsx
  frontend/packages/shared/src/hooks/useSelectedFormLayoutSetName.test.tsx
  frontend/packages/shared/src/hooks/useSelectedFormLayoutSetName.ts
  frontend/packages/shared/src/utils/featureToggleUtils.test.ts
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/App.test.tsx
  frontend/packages/ux-editor/src/SubApp.test.tsx
  frontend/packages/ux-editor/src/SubApp.tsx
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.module.css
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.test.tsx
  frontend/packages/ux-editor/src/components/Elements/LayoutSetsContainer.tsx
  frontend/packages/ux-editor/src/containers/FormDesignerToolbar.test.tsx
  frontend/packages/ux-editor/src/containers/FormDesignerToolbar.tsx
  frontend/testing/playwright/pages/UiEditorPage.ts
  frontend/testing/playwright/tests/git-sync/git-sync.spec.ts
  frontend/testing/playwright/tests/text-editor/text-editor.spec.ts
  frontend/testing/playwright/tests/ui-editor/ui-editor-data-model-binding-and-gitea.spec.ts
  frontend/testing/playwright/tests/ui-editor/ui-editor.spec.ts
Labels: area/process, area/ui-editor, area/app-preview, solution/studio/designer, quality/testing, frontend

#15060 chore: studio-components to React 19
  frontend/libs/studio-components/package.json
  yarn.lock
Labels: solution/studio/designer, skip-releasenotes, kind/dependencies, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15066 fix: deploy the old legacy components lib for now
  .github/workflows/storybook-to-github-pages.yaml
Labels: skip-releasenotes, team/studio-core, skip-manual-testing

#15078 chore: change auth cookie name for at22
  src/test/K6/src/config.js
Labels: skip-releasenotes

#14987 feat: 14949 create new sideoppsett header to use in utforming page
  frontend/language/src/nb.json
  frontend/libs/studio-components-legacy/src/components/StudioSectionHeader/StudioSectionHeader.tsx
  frontend/packages/ux-editor/src/containers/DesignViewNavigation/DesignViewNavigation.module.css
  frontend/packages/ux-editor/src/containers/DesignViewNavigation/DesignViewNavigation.test.tsx
  frontend/packages/ux-editor/src/containers/DesignViewNavigation/DesignViewNavigation.tsx
  frontend/packages/ux-editor/src/containers/DesignViewNavigation/index.ts
  frontend/packages/ux-editor/src/containers/FormDesigner.test.tsx
  frontend/packages/ux-editor/src/containers/FormDesigner.tsx
Labels: area/ui-editor, solution/studio/designer, frontend

#15082 build: Add Typescript Eslint rules to the new component package
  frontend/libs/studio-components/.eslintrc.js
  frontend/libs/studio-components/src/storybook-utils/decorators/FixedWidthDecorator/FixedWidthDecorator.tsx
Labels: solution/studio/designer, quality/code, skip-releasenotes, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation

#14499 build: Apply strict null checks
  .github/workflows/frontend-unit-tests.yml
  frontend/tsconfig-strict.json
  package.json
Labels: solution/studio/designer, ops/ci-cd, quality/code, quality/debt, skip-releasenotes, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation

#15084 build: Add studio-components to strict null checks config (2)
  frontend/libs/studio-components/src/test-utils/testRefForwarding.ts
  frontend/tsconfig-strict.json
Labels: solution/studio/designer, quality/code, skip-releasenotes, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing, skip-documentation

#15076 feat: 15034 create feature flag for subform card
  frontend/packages/shared/src/utils/featureToggleUtils.ts
  frontend/packages/ux-editor/src/components/TaskNavigation/TaskCardBar.tsx
Labels: area/ui-editor, solution/studio/designer, frontend, team/studio-domain2, skip-manual-testing

#15067 feat: add new StudioButton
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.mdx
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.module.css
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.stories.tsx
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.test.tsx
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.tsx
  frontend/libs/studio-components/src/components/StudioButton/index.ts
  frontend/libs/studio-components/src/components/TextWithIcon/TextWithIcon.module.css
  frontend/libs/studio-components/src/components/TextWithIcon/TextWithIcon.test.tsx
  frontend/libs/studio-components/src/components/TextWithIcon/TextWithIcon.tsx
  frontend/libs/studio-components/src/components/TextWithIcon/index.ts
  frontend/libs/studio-components/src/components/index.ts
  frontend/libs/studio-components/src/types/IconPlacement.ts
Labels: solution/studio/designer, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing

#15080 feat: support keyboard a11y on create task card
  frontend/packages/ux-editor/src/containers/AddNewTask/AddNewTask.test.tsx
  frontend/packages/ux-editor/src/containers/AddNewTask/AddNewTask.tsx
Labels: area/ui-editor, solution/studio/designer, ux/accessebility, added-to-sprint, frontend, team/studio-domain2

#15086 chore: Update to nb.json - changing reference to "sidegruppe" to "oppgave" in message on the Utforming page
  frontend/language/src/nb.json
Labels: solution/studio/designer, text/content, frontend, team/studio-domain2, skip-manual-testing

#15107 feat: adding new StudioLabel
  frontend/libs/studio-components/src/components/StudioLabel/StudioLabel.test.tsx
  frontend/libs/studio-components/src/components/StudioLabel/StudioLabel.tsx
  frontend/libs/studio-components/src/components/StudioLabel/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, added-to-sprint, frontend, team/studio-domain1, team/studio-core, skip-manual-testing

#15113 refactor: remove default data-size from StudioButton
  frontend/libs/studio-components/src/components/StudioButton/StudioButton.tsx
Labels: added-to-sprint, team/studio-domain1, team/studio-core, skip-manual-testing

#15077 feat: add new StudioDropdown
  frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdown.stories.tsx
  frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdown.test.tsx
  frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdown.tsx
  frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdownButton/StudioDropdownButton.module.css
  frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdownButton/StudioDropdownButton.tsx
  frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdownButton/index.ts
  frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdownHeading/StudioDropdownHeading.tsx
  frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdownHeading/index.ts
  frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdownItem/StudioDropdownItem.tsx
  frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdownItem/index.ts
  frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdownList/StudioDropdownList.tsx
  frontend/libs/studio-components/src/components/StudioDropdown/StudioDropdownList/index.ts
  frontend/libs/studio-components/src/components/StudioDropdown/context/StudioDropdownContext.test.tsx
  frontend/libs/studio-components/src/components/StudioDropdown/context/StudioDropdownContext.tsx
  frontend/libs/studio-components/src/components/StudioDropdown/index.ts
  frontend/libs/studio-components/src/components/index.ts
Labels: solution/studio/designer, added-to-sprint, frontend, team/studio-domain1, team/studio-domain2, team/studio-core, skip-manual-testing
